<template>
  <div>
    <div class="row mt-2">
      <div class="col-12">
        <grid-u2
          ref="grid_"
          :columns="columns_products"
          @changeRow="changeRow"
          :items="params.documents_products"
          class="text"
          :options="options"
        >
          <template slot="description" slot-scope="row">
            <p v-if="row.item.description != null">
              {{ row.item.description }}
            </p>
            <p v-else>{{ row.item.product.description }}</p>
          </template>

          <!-- footer -->
          <template slot="foot_product.code">
            <div class="text-center background-blue-light text-nowrap">
              {{ totals.total_items }}
            </div>
          </template>

          <template slot="foot_quantity">
            <div class="text-center background-blue-light text-nowrap">
              {{ totals.total_quantity }}
            </div>
          </template>

          <template slot="foot_inventory_cost_value">
            <div class="text-center background-blue-light text-nowrap">
              {{ totals.total_inventory_cost_value | currency }}
            </div>
          </template>

          <template slot="foot_discount_value">
            <div class="text-center background-blue-light text-nowrap">
              {{ totals.total_discount | currency }}
            </div>
          </template>

          <template slot="foot_total_value_brut">
            <div class="text-center background-blue-light text-nowrap">
              {{ totals.total_vr_brut | currency }}
            </div>
          </template>

          <template slot="foot_vr_iva">
            <div class="text-center background-blue-light text-nowrap">
              {{ totals.total_vr_iva | currency }}
            </div>
          </template>

          <template slot="foot_total_value">
            <div class="text-center background-blue-light text-nowrap">
              {{ totals.total_ | currency }}
            </div>
          </template>
        </grid-u2>
      </div>
    </div>

    <!--   TABLA DE TOTALES   -->
    <div class="section-table-totals">
      <table
        class="table-totals table table-sm table-bordered font-weight-bold"
      >
        <tbody>
          <tr>
            <td class="text-right pr-2 td-no-border-right">
              <p class="pin-table">TOTAL BRUTO</p>
            </td>
            <!-- VALOR BRUTO -->
            <td
              class="p-0 td-no-border-left td-background-blue-totals"
              width="50%"
            >
              <span class="input-total-ret"
                >${{
                  totals.total_value_brut | currency("", ",", 2, ".", "", true)
                }}</span
              >
            </td>
          </tr>
          <tr>
            <td class="text-right pr-2 td-no-border-right">
              <p class="pin-table">TOTAL RETE FUENTE</p>
            </td>
            <!-- VALOR BRUTO -->
            <td
              class="p-0 td-no-border-left td-background-blue-totals"
              width="50%"
            >
              <span class="input-total-ret"
                >${{
                  totals.ret_fue_total | currency("", ",", 2, ".", "", true)
                }}</span
              >
            </td>
          </tr>
          <tr>
            <td class="text-right pr-2 td-no-border-right">
              <p class="pin-table">TOTAL RETE IVA</p>
            </td>
            <!-- VALOR BRUTO -->
            <td
              class="p-0 td-no-border-left td-background-blue-totals"
              width="50%"
            >
              <span class="input-total-ret"
                >${{
                  totals.ret_iva_total | currency("", ",", 2, ".", "", true)
                }}</span
              >
            </td>
          </tr>
          <tr>
            <td class="text-right pr-2 td-no-border-right">
              <p class="pin-table">TOTAL RETE ICA</p>
            </td>
            <!-- VALOR BRUTO -->
            <td
              class="p-0 td-no-border-left td-background-blue-totals"
              width="50%"
            >
              <span class="input-total-ret"
                >${{
                  totals.ret_ica_total | currency("", ",", 2, ".", "", true)
                }}</span
              >
            </td>
          </tr>
          <tr>
            <td class="text-right pr-2 td-no-border-right">
              <p class="pin-table">TOTAL</p>
            </td>
            <!-- VALOR BRUTO -->
            <td
              class="p-0 td-no-border-left td-background-blue-totals"
              width="50%"
            >
              <span class="input-total-ret"
                >${{
                  totals.total_value | currency("", ",", 2, ".", "", true)
                }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    Card,
    GridU2,
  },
  data() {
    return {
      columns_products: [],
      options: {
        selectable: false,
        multiselect: false,
        showFooter: true,
        type_currency: "COP",
      },
    };
  },

  created() {},
  methods: {
    ...mapActions("various_vouchers", []),
    ...mapMutations("various_vouchers", []),
    changeRow() {},
    buildColumns() {
      this.columns_products = [
        {
          name: "Codigo",
          field: "product.code",
        },
        {
          name: "Descripcion",
          field: "description",
        },
        {
          name: "Linea",
          field: "line.line_description",
        },
        {
          name: "Vr-Unit",
          field: "unit_value_before_taxes",
          format: "currency",
        },
        {
          name: "Cantidad",
          field: "quantity",
        },
        {
          name: "Costo",
          field: "inventory_cost_value",
          format: "currency",
        },
        {
          name: "Vr-Descuento",
          field: "discount_value",
          format: "currency",
        },
        {
          name: "Vr-Bruto",
          field: "total_value_brut",
          format: "currency",
        },
        {
          name: "Vr-Iva",
          field: "vr_iva",
          format: "currency",
        },
        {
          name: "Total",
          field: "total_value",
          format: "currency",
        },
      ];
    },
  },
  beforeMount() {
    this.buildColumns();
  },
  computed: {
    ...mapState("various_vouchers", ["params", "totals"]),
  },
};
</script>
<style>
.background-blue-light {
  background: rgb(238, 246, 255) !important;
  padding: 1px 4px;
  border: 1px solid #dcdcdc;
}
.section-table-totals {
  display: flex;
  justify-content: flex-end;
}
.table-totals {
  width: auto;
}
.td-no-border-right {
  border-right: none !important;
}
.td-no-border-left {
  border-left: none !important;
}
.td-background-blue-totals {
  background: rgb(238, 246, 255) !important;
}
.input-total-ret {
  border: none !important;
  width: 100%;
  float: right;
  text-align: right;
  font-weight: bold;
  height: 100%;
  outline: none;
  background: none;
}
.pin-table {
  line-height: 0px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
</style>
