<template>
    <div>
        <div class="row">
            <div class="col-4" v-if="origin_document">
                <label for="description">Prefijo Factura</label>
                <input type="text" class="el-input__inner upper" placeholder="Prefijo Factura" :disabled="Watch_documument" v-model="params.affects_prefix_document"/>
            </div>
            <div class="col-4" v-if="origin_document">
                <label for="description">No Factura<span class="text-danger">*</span></label>
                <el-input placeholder="No Factura" :disabled="Watch_documument" v-model="params.affects_number_document"></el-input>
            </div>
            <div class="col-4" v-if="origin_document">
                <label for="description">Dias Plazo</label>
                <el-input type="number" :disabled="Watch_documument" @blur="calculatedueAffectsDueDate()" v-model="params.term_days"></el-input>
            </div>
            <div class="col-4" v-if="origin_document">
                <label for="description">Fecha Vencimiento Factura</label><br>
                <el-date-picker
                    :disabled="Watch_documument"
                    v-if="!loading_due_date"
                    v-model="params.due_date"
                    type="date"
                    placeholder="Fecha Vencimiento Factura">
                </el-date-picker>
            </div>

            <div class="col-4" v-if="showInputs.center_cost">

                <label for="cost_center_1">Centro de Costo</label>
                <el-select
                    :disabled="Watch_documument"
                    id="cost_center_1"
                    name="cost_center_1"
                    placeholder=" "
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-model="params.center_cost"
                    clearable
                >
                    <el-option
                    v-for="cc1 in cost_center_1"
                    :key="cc1.id"
                    :label="cc1.code_parameter+ ' - ' +cc1.name_parameter"
                    :value="cc1.id"
                    >
                    </el-option>
                </el-select>
            </div>

            <div class="col-4" v-if="showInputs.observation1">
                <label for="description">Descipción</label>
                <textarea
                    :disabled="Watch_documument"
                    class="upper el-textarea__inner"
                    type="textarea"
                    autosize
                    placeholder="Ingrese la descripcion..."
                    @blur="setObsInTransaccions()"
                    v-model="params.observation">
                </textarea>
            </div>

            <div class="col-4" v-if="showInputs.observation2">
                <label for="description">Descripcion 2</label>
                <textarea
                    :disabled="Watch_documument"
                    class="upper el-textarea__inner"
                    type="textarea"
                    autosize
                    placeholder="Ingrese la descripcion..."
                    v-model="params.observation2">
                </textarea>
            </div>
            
            <div class="col-4">
                <label for="contact_city">Ciudad</label>

                <el-select
                    id="contact_city"
                    :disabled="Watch_documument"
                    filterable
                    placeholder="Seleccione Ciudad"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-model="params.city_id"
                    remote
                    :remote-method="_cities"
                >
                    <el-option
                    v-for="city in cities"
                    :key="city.id"
                    :label="city.city_code+ ' - ' +city.city"
                    :value="city.id"
                    >
                    </el-option>
                </el-select>
            </div>
            
            <div class="col-4" v-if="showInputs.seller">
                <label for="seller">Vendedor</label>

                <el-select
                    :disabled="Watch_documument"
                    id="seller"
                    filterable
                    placeholder="Seleccione vendedor"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-model="params.seller_id"
                    remote
                    :remote-method="_seller"
                >
                    <el-option
                    v-for="seller in sellers"
                    :key="seller.id"
                    :label="seller.identification+ ' - ' +seller.name+' ' +seller.surname"
                    :value="seller.id"
                    >
                    </el-option>
                </el-select>
            </div>

            <div class="col-4" v-if="showInputs.cross_doc">
                <label for="prefix_cross">Prefijo {{cross_title}}</label>
                <div class="upper">
                    <input
                        :disabled="Watch_documument"
                        class="el-input__inner upper"
                        v-if="showInputs.cross_doc"
                        type="text"
                        autosize
                        placeholder="Ingrese la descripcion..."
                        @blur="setPrefixDataInTransaccions()"
                        v-model="params.affects_prefix_document">
                </div>
                <!-- </input> -->
            </div>
            <div class="col-4" v-if="showInputs.cross_doc">
                <label for="num_cross">Num {{cross_title}}</label>
                <el-input
                    :disabled="Watch_documument"
                    v-if="showInputs.cross_doc"
                    type="text"
                    autosize
                    placeholder="Ingrese la descripcion..."
                    @blur="setPrefixDataInTransaccions()"
                    v-model="params.affects_number_document">
                </el-input>
            </div>
            <div class="col-4">
                <label v-if="showInputs.cross_doc_date" for="date_cross">Fecha Emision {{cross_title}}</label><br>
                <el-date-picker
                    :disabled="Watch_documument"
                    v-if="showInputs.cross_doc_date"
                    type="date"
                    size="small"
                    placeholder="Seleccione fecha"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                    v-model="params.affects_date_document"
                    @blur="calculatedue_date()"
                ></el-date-picker>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4">
                <label v-if="showInputs.cross_doc_date" for="due_date_cross" >Fecha Vencimiento {{cross_title}}</label><br>
                <el-date-picker
                    :disabled="Watch_documument"
                    v-if="showInputs.cross_doc_date && !loading_due_date"
                    type="date"
                    size="small"
                    placeholder="Seleccione fecha"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                    v-model="params.crossing_due_date_document"
                    @blur="setPrefixDataInTransaccions()"
                ></el-date-picker>
            </div>
            <div class="col-3">
                <label for="term_days_crossing" v-if="showInputs.cross_doc">Días Plazo {{cross_title}}</label>
                <el-input
                    :disabled="Watch_documument"
                    v-if="showInputs.cross_doc"
                    type="number"
                    autosize
                    placeholder="Ingrese la descripcion..."
                    @blur="calculatedue_date()"
                    v-model="params.term_days_crossing">
                </el-input>
            </div>

            <div class="col-5">
                <b-button
                    :disabled="Watch_documument"
                    class="mt-4"
                    variant="primary"
                    @click="accountingDoc_(params.document_id)"
                    v-if="edit_document && model_accounting_generate"
                >
                    Recontabilizar
                    <i v-if="loading_accounting_document" class="fa fa-spinner fa-spin"></i>
                </b-button>

                <b-button
                    :disabled="Watch_documument"
                    class="mt-4 float-right"
                    variant="primary"
                    @click="addMatch"
                >
                    <div class="fa fa-plus" />Agregar Partida
                </b-button>
            </div>
        </div>

        <!-- <div class="row mt-3">
            <div class="col-6">
            </div> -->



            <!-- <div class="col-6">
                <el-button size="mini" icon="fa fa-plus" circle v-b-modal.modal-search-document-2></el-button>
                <label for="bill">Factura</label><br>
                <h4><b-badge variant="secondary">{{invoice.branchOffice}}</b-badge>

                <b-badge variant="secondary">{{invoice.vouchertype}}</b-badge>

                <b-badge variant="secondary">{{invoice.consecutive}}</b-badge></h4>


            </div> -->
        <!-- </div> -->

        <Match ref="match"/>


        <b-modal
            id="modal-search-document-2"
            title="Buscar Documento"
            size="xl"
            modal-class="u2-modal-size"
            class="modal-backdrop"
        >
            <ListDocumentGlobal :sselectable="true" @selectedDocument='select_document'/>
            <!-- BOTONES MODAL-->
            <template v-slot:modal-footer="{ ok, cancel, hide }">
                <b-button size="sm" @click="cancel()">cerrar</b-button>
            </template>
        </b-modal>

    </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
import Match from './match';
import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";

export default {
  components: {
    Card,
    GridU2,
    Match,
    ListDocumentGlobal,
  },
  data() {
    return {
        loading_due_date:false//variable para cargar la hecha de vencimiento
    };
  },

  watch: {
    // "params.affects_date_document"(newval, oldval){
	// 	this.change_crossing_date(oldval, newval)
    // }
  },

  created() {


      this.fetchsellers()
      this.fetchCities()
      this.fetchProjects()
  },
  methods: {
    // change_crossing_date(oldval, newval){
	// 	let date = new Date()
	// 	this.year = date.toLocaleDateString('COT', {year:'numeric'}).replace(/\//g, '-')
	// 	this.day = date.toLocaleDateString('COT', {day:'2-digit'}).replace(/\//g, '-')
	// 	this.month = date.toLocaleDateString('COT', {month:'2-digit'}).replace(/\//g, '-')
	// 	let today = `${this.year}-${this.month}-${this.day}`
    //     console.log(oldval);
    //     console.log(newval);
	// 	this.params.affects_date_document = this.params.affects_date_document > today ? oldval : this.params.affects_date_document
	// },
    ...mapActions('various_vouchers', [
        'accountingDoc',
        'fetchcost_center_1',
        'fetchCities',
        'fetchsellers',
        'fetchProjects',
        'fetchBranchoffice',
        'fetchContactdt'
    ]),
    ...mapMutations('various_vouchers', [
        'setloading_totals',
        'setloading_transactions',
        'setloading_accounting_document'
    ]),
    /**
     * calcular fecha de vencimiento de documeto que afecta
     */
    calculatedueAffectsDueDate(){
        this.loading_due_date = true

        if (this.params.term_days != null) {
            var d = new Date(this.params.date);
            d.setDate(d.getDate() + parseInt(this.params.term_days)+2)
            this.params.due_date = this.formatDate(d)
        }
        this.loading_due_date = false
    },
    /**
     * setea observaciones en partidas donde la observacion este nula
     */
    setObsInTransaccions(){
        this.params.document_transactions.map(async (element)=>{
            element.observation = element.observation == null || element.observation == "" ? this.params.observation : element.observation
        })
    },
    /**
     * calcula fecha vencimiento cruce a partir de dias de plazo cruce y fecha emicion cruce
     */
    async calculatedue_date(){
        this.loading_due_date = true
        if (this.params.affects_date_document != null && this.params.term_days_crossing != null) {
            var d = new Date(this.params.affects_date_document);
            d.setDate(d.getDate() + parseInt(this.params.term_days_crossing)+1)
            this.params.crossing_due_date_document = this.formatDate(d)
            this.setPrefixDataInTransaccions()
        }
        this.loading_due_date = false
    },
    /**
     * retorna la fecha formateada en YYYY-MM-DD
     */
    formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    },
    /**
     * setea datos de cruce en partidas donde el tipo captura doc es '2' => Digita
     */
    setPrefixDataInTransaccions(){
        // this.params.document_transactions.map(async (element)=>{
        //     element.affects_prefix_document = await element.validation_no_doc == '2' && element.affects_prefix_document == null ? this.params.affects_prefix_document : element.affects_prefix_document
        //     element.crossing_number = await element.validation_no_doc == '2' && element.crossing_number == null ? this.params.affects_number_document : element.crossing_number
        //     element.crossing_date = await element.validation_no_doc == '2' && element.crossing_date == null ? this.params.crossing_due_date_document : element.crossing_date
        // })
    },
    /**
     * consulta ciudades
     */
    _cities(filter){
        this.fetchCities(filter)
    },
    /**
     * consulta vendedores
     */
    _seller(filter){
        this.fetchsellers(filter)
    },
    /**
     * referencia a el componente de partidas Match
     */
    chargeselects(){
      	this.$refs.match.chargeselects()
    },
    changeRow_(el){
      	this.$refs.match.changeRow_(el)
    },
    /**
     * seleccion de documento
     * desuso
     */
    async select_document(document){
        await this.fetchBranchoffice(document.branchoffice_id)

        this.invoice.branchOffice = this.branchOffice.code + ' - ' +this.branchOffice.name
        this.invoice.vouchertype = document.vouchertype.code_voucher_type + ' ' +document.vouchertype.name_voucher_type
        this.invoice.consecutive = document.prefix +' - ' +document.consecutive
        this.params.invoice = document.id
    },
    /**
     * añade partida
     */
    async addMatch(){
        if (this.params.contact_id != null) {
            await this.fetchContactdt(this.params.contact_id)
        }

        let last_dt

        if (this.params.document_transactions.length > 0) {
            last_dt = this.params.document_transactions[this.params.document_transactions.length - 1]
        }else{
            last_dt = {
                order:1,
                id:1,
            }
        }


        this.params.document_transactions.push({
            account_id : null,
            observation :this.params.observation ,
            contact_id : this.params.contact_id,
            no_doc :  null,
            documet_id : this.params.document_id,
            value : 0,
            base_value : 0,
            order : last_dt.order+1,
            id:last_dt.id+1,
            projects_column_visible : null,
            contact_column_visible : null,
            cost_center_column_visible : null,
            cross_date_visible : false,
            account_select : [],
            contact_select : [
                this.contactdt
            ],
            payment_method : null,
            affects_prefix_document : null,
            // crossing_number : null,
            // crossing_date: null,
        })
    },

    //recontabilizar documento
    async accountingDoc_(document_id){
        this.setloading_accounting_document(true)
        this.setloading_transactions(true)
        await this.accountingDoc(document_id)

        setTimeout(async ()=>{ await this.chargeselects(); }, 7000);
        this.setloading_accounting_document(false)

    }
  },
  async beforeMount () {
  },

  computed: {
      ...mapState('various_vouchers', [
          'origin_document',
          'edit_document',
          'params',
          'cost_center_1',
          'cities',
          'sellers',
          'projects',
          'invoice',
          'branchOffice',
          'contactdt',
          'showInputs',
          'model_accounting_generate',
          'cross_title',
          'Watch_documument',
          'loading_accounting_document'
      ])
  },
};
</script>
<style scoped>
.upper{
    text-transform: uppercase !important;
    margin: 0;
}
</style>
