<template>
  <card title="<i class='ti-agenda'></i> Comprobantes Contables">
    <preloader v-if="loading" mensaje="Cargando Formulario Comprobantes Contables"></preloader>
		<!-- <b-form v-else
			data-vv-scope="form"
			@submit.prevent="validateForm()"
		> -->
			<b-card no-body class="mb-1">
				<b-btn block href="#" v-b-toggle.general_data id="acordeon">DATOS GENERALES</b-btn>
				<b-collapse
					v-bind:visible="true"
					id="general_data"
					role="tabpanel"
				>
					<b-card-body>
						<div class="row">
							<div class="col-3">
								<label for="name">Sede<span class="text-danger">*</span></label>
								<el-select
									:disabled="Watch_documument"
									v-validate="'required'"
                                    name="branchoffice_id "
                                    size="small"
                                    value=""
                                    v-model="params.branchoffice_id "
                                    no-data-text="Cargando datos..."
                                    no-match-text="No hay datos"
                                >
                                    <el-option
                                    v-for="(item, index) in branchOffices.data"
                                    :key="index"
                                    :value="item.id"
                                    :label="item.name"
                                    ></el-option>
                                </el-select>
							</div>

							<div class="col-3">
                                <label for="template">Modelo</label>
								<!-- <pre>{{templates}}</pre> -->
                                <el-select
									:disabled="Watch_documument"
                                    id="template"
                                    name="template"
                                    placeholder=" "
                                    no-data-text="Cargando datos..."
                                    no-match-text="No hay datos que coincidan"
                                    v-model="params.template_id"

                                    filterable
                                    remote
                                    :remote-method="searchTemplates"
                                >
                                    <el-option
                                    v-for="template in templates"
                                    :key="template.id"
                                    :label="template.code+ ' - ' +template.description"
                                    :value="template.id"
                                    >
                                    </el-option>
                                </el-select>
                            </div>

							<div class="col-3">
								<label for="name">Tipo Comprobante<span class="text-danger">*</span></label>
								<el-select
									:disabled="edit_document || Watch_documument"
									v-validate="'required'"
                                    name="voucherType_id "
                                    id="voucherType_id "
                                    size="small"
                                    value=""
                                    v-model="params.voucherType_id "
                                    no-data-text="Cargando datos..."
                                    no-match-text="No hay datos"
									filterable
                                >
                                    <el-option
                                    v-for="(voucherType, index) in voucherTypes"
                                    :key="index"
                                    :value="voucherType.id"
                                    :label=" voucherType.code_voucher_type + ' - ' +  voucherType.name_voucher_type"
                                    ></el-option>
                                </el-select>
								<i class="text-danger icon-error"> </i>
              					<span class="text-danger span-error">
									{{ errors.first("form.voucherType_id") }}
								</span>
							</div>


						</div>


						<div class="row">

							<div class="col-2">
                                <label for="name">Prefijo<span class="text-danger"/></label>
								<b-form-input
								:disabled="true"
                                type="text"
                                id="days_up"
                                name="days_up"
                                class="form-control"
                                data-vv-as=" "
                                v-model="params.prefix"
                                ></b-form-input>
                            </div>

                            <div class="col-2">
                                <el-button size="mini" :disabled="Watch_documument" icon="fa fa-plus" circle v-b-modal.modal-search-document></el-button>
                                <label for="name">Numero Comp<span class="text-danger"/></label>
								<b-form-input
								:disabled="edit_document || Watch_documument"
                                type="text"
                                id="days_up"
                                name="days_up"
                                class="form-control"
                                data-vv-as=" "
                                v-model="params.num_doc"
								@blur="searchDocument_()"
                                ></b-form-input>
								<b-badge
									class="float-right mt-1"
									href="#"
									variant="success"
									v-if="!edit_document"
								>Creando Documento</b-badge>
								<b-badge
									class="float-right mt-1"
									href="#"
									variant="warning"
									v-if="edit_document"
								>Editando Documento</b-badge>
                            </div>

                            <div class="col-2">
                                <label for="filter_date">Fecha <span class="text-danger">*</span></label><br>
                                <el-date-picker
									:disabled="Watch_documument"
                                    type="date"
                                    size="small"
                                    placeholder="Seleccione fecha"
                                    format="yyyy/MM/dd"
                                    value-format="yyyy-MM-dd"
                                    v-model="params.date"
                                ></el-date-picker>
                            </div>

                            <div class="col-3">
									<label for="contact_id">Tercero<span class="text-danger">*</span></label>
									<el-select
										:disabled="Watch_documument"
										id="contact_id"
										placeholder="Seleccione Tercero"
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="params.contact_id"
										filterable
										remote
										:remote-method="filterText"
										clearable
										@change="setcontactDocumentTransactions"
									>
										<el-option
											v-for="contact in contacts"
											:key="contact.id"
											:label="contact.identification+ ' - ' +contact.name + ' ' + contact.surname || ''"
											:value="contact.id"
										>
										</el-option>
									</el-select>
								</div>

                        </div>


					</b-card-body>
				</b-collapse>
			</b-card>
            <el-tabs type="border-card">
                <el-tab-pane label="Generales">
                    <general ref="general_"/>
                </el-tab-pane>
				<el-tab-pane v-if="params.documents_products.length > 0" label="Productos">
                    <documentsProducts ref="documentsProducts"/>
                </el-tab-pane>
            </el-tabs>

			<!-- Botones -->
			<div class="row">
				<div class="col-12">
					<div class="form-actions">
						<b-button
						v-if="!edit_document"
						type="submit"
						class="boton-guardar"
						@click="validateForm()"
						:disabled="loading_form"
						>
						<span class="btn-label">
							<i class="ti-save-alt"></i>
						</span> Finalizar
							<i v-if="loading_form" class="fa fa-spinner fa-spin"></i>
						</b-button>
						<b-button
						v-else-if="!Watch_documument"
						type="submit"
						class="boton-guardar"
						@click="questionFrom()"
						:disabled="loading_form"
						>
						<span class="btn-label">
							<i class="ti-save-alt"></i>
						</span> Actualizar Documento
							<i v-if="loading_form" class="fa fa-spinner fa-spin"></i>
						</b-button>

						<!-- to="/cuentas" -->
						<b-button
						@click="goback()"
						type="button"
						variant="secondary"
						class="float-left"
						>
						<span class="btn-label">
							<i class="ti-arrow-left"></i>
						</span> Volver
						</b-button>
						<b-button
							type="reset"
							value="Limpiar"
							class="otro-boton float-left"
          					@click="clearParams_()"
						>
							<span class="btn-label">
								<i class="ti-eraser"></i>
								Limpiar
							</span>
						</b-button>


						<b-button
							class="float-right"
							style=" background-color :#007DB3"
          					@click="dowloadAccountingPdf()"
							v-if="edit_document"
						>
							<span class="btn-label">
								<i class="ti-eraser"></i>
								Imprimir
							</span>
						</b-button>
					</div>
				</div>
			</div>
		<!-- </b-form> -->
    <b-modal
      id="modal-search-document"
      title="Buscar Documento"
      size="xl"
      modal-class="u2-modal-size"
      class="modal-backdrop"
    >
      <ListDocumentGlobal :from_accounting_module="true" :sselectable="true" @selectedDocument='selectdocument'
	  :pmodel_code="model_code"  :pvouchers_types_id="params.voucherType_id" :select_contacts="contacts" :pcontact_id="params.contact_id"/>
      <!-- BOTONES MODAL-->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" @click="cancel()">cerrar</b-button>
      </template>
    </b-modal>






	<b-modal
      no-close-on-esc
      hide-footer
      no-close-on-backdrop
      hide-header-close
      id="pdf"
      centered
      size="xl"
      ref="pdf"
      v-model="show_pdf"
    >
		<template v-slot:modal-header="{ close }">
			<!-- Emulate built in modal header close button action -->
			<h4 class="mt-1 mb-0 font-weight-bold align-middle">
				Pdf
			</h4>
			<b-button
			size="sm"
			variant="secondary"
			@click="clearParams()"
			class="pull-right"
			>
			Cerrar
			<i class="fa fa-close"></i>
			</b-button>
		</template>

      <div class="container-u2">
        <!-- PDF -->
        <div class="row">
          <div class="col-12">
            <iframe
              v-if="show_pdf"
              style="min-height: 700px; width: 100%"
              :src="pathPdf + '#zoom=130'"
            ></iframe>
          </div>
        </div>
      </div>
    </b-modal>
    </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
import Preloader from "../../components/layout/preloader";
import General from './general.vue';
import documentsProducts from './documentsProducts.vue';
import Match from './match';
import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";
import {getApiDomain} from "../../util/domains";

export default {
  components: {
    Card,
    GridU2,
    Preloader,
    General,
	documentsProducts,
    Match,
    ListDocumentGlobal,
  },
  data() {
    return {
        // loading:true,
    };
  },

  watch: {
	"params.voucherType_id"(newval){
		if (newval != null) {
			if (!this.selected_document) {
				this.fetchconsecutive(newval)


            	let voucherType = this.voucherTypes.find(el => el.id == this.params.voucherType_id)
				if (voucherType != undefined) {
					this.setorigin_document(voucherType.origin_document == 1)
				}
				
			}
		}else{
			this.params.num_doc = null
		}
	},
	"params.branchoffice_id"(newval){
		this.fecthConsecutive(newval)
	},
	// "params.contact_id"(newval){
	// 	this.setcontactDocumentTransactions()
	// },
	"params.num_doc"(newval){
		this.change_num_doc()
		// this.setDocumentinTransaccions()
	},
	"params.date"(newval, oldval){
		this.change_date(oldval, newval)
	}
  },

  created() {

  },
  methods: {
	goback(){
    	this.$router.go(-1)
	},
	dowloadAccountingPdf(){
	  let row = {
		vouchertype:{
			name_voucher_type: this.params.prefix.trim(),
		},
		consecutive:this.params.num_doc,
		id:this.params.document_id
	  }
      this.downloadAccountingDocument(row);
	},
	async clearParams_(){
		await this.clearParams()
		let date = new Date()
		this.year = date.toLocaleDateString('COT', {year:'numeric'}).replace(/\//g, '-')
		this.day = date.toLocaleDateString('COT', {day:'2-digit'}).replace(/\//g, '-')
		this.month = date.toLocaleDateString('COT', {month:'2-digit'}).replace(/\//g, '-')
		this.params.date = `${this.year}-${this.month}-${this.day}`
	},
	FinalizeUpdate_(){

	},
	...mapActions("various_vouchers", [
      "downloadAccountingDocument"
    ]),
	...mapMutations('various_vouchers', [
		'setorigin_document',
		'setselected_document',
		'setloading_totals',
        'clearParams',
		'setshowInputs',
		'setloading',
		'setWatchDocumument',
		'setloading_form'
	]),
    ...mapActions('various_vouchers', [
        'fetchAccount',
		'fetchDocumentransactions',
		'editDocument',
        'fetchBranchOffices',
        'fetchVouchertype',
        'fetchContacts',
		'fetchTemplates',
		'fetchconsecutive',
		'fetchContact',
		'fetchsellers',
		'createVariousVouchers',
		'finalizeAccountingDocument',
		'FinalizeUpdate',
		'searchDocument'
	]),
	async change_num_doc(){
		this.setDocumentinTransaccions()
	},
	/**
	 * Busca el documento que se digita en No Doc
	 */
	async searchDocument_(){
		//array del campo No Doc del encabezado prefijo - consecutivo

		//consultamos el documento si estan los parametros prefijo y consecutivo
		if (this.params.num_doc != null && ((this.params.voucherType_id != null && this.params.voucherType_id != '') || (this.params.prefix != null && this.params.prefix != ''))) {
			let document = await this.searchDocument({
				prefix : this.params.prefix,
				voucherType_id : this.params.voucherType_id,
				consecutive : this.params.num_doc,
				branchoffice_id : Number(localStorage.selected_branchoffice)
			});

			// validamos si no se encontro el documento
			if (document ==  null) {
				this.$notify({
					title: 'Atención',
					message: 'El documeto no existe',
					type: 'warning'
				});

				// validamos si hay seleccionado voucherType_id y seteamos el consecutivo
				if (this.params.voucherType_id != null) {
					this.fetchconsecutive(this.params.voucherType_id)
				}
			}else{
				// si hay documentos seteamos la informacion
				this.selectdocument(document)
			}

		}



	},
	/**
	 * setea informacion de cruce en partidas de acuerdo a lo digitado en No Doc si el modelo no maneja doc cruce
	 */
	setDocumentinTransaccions(){
		return false
        let model = this.templates.find(el => el.id == this.params.template_id)

		// sino ecuntra el modelo no hace nada
		if (model == undefined) {
			return false
		}
		// 2 es no maneja
		if (model.doc_cruce_management != '2' ) {
			return false
		}
		this.params.document_transactions.map(async (element)=>{
			if (element.validation_no_doc == 2 && element.no_doc == null) {
				// let doc = this.params.num_doc.split('-')
				if (doc.length == 2) {
					element.affects_prefix_document = element.affects_prefix_document == null ? params.prefix : element.affects_prefix_document
					// element.crossing_number = element.crossing_number == null ? doc[1] : element.crossing_number
				}
			}
        })
	},
	/**
	 * setea contact y select de contact en partidas donde el contact es nulo
	 */
	setcontactDocumentTransactions(){
		this.params.document_transactions.map(async (element)=>{
			element.contact_select = this.contacts
			element.contact_id = this.params.contact_id
		})
	},
	/**
	 * obtiene el consecutivo del tipo de comprobante
	 */
	async fecthConsecutive(new_branchoffice_id){
		this.paramsVoucherType.branchoffice = new_branchoffice_id
		await this.fetchVouchertype()

		if (!this.edit_document) {

			var new_voucherType =  null
			await this.voucherTypes.map( (el)=>{
				if (el.code_voucher_type == this.code_voucherType) {
					new_voucherType = el.id
				}
			})
			this.params.voucherType_id = new_voucherType
		}
	},
	/**
	 * consulta terceros
	 */
    async filterText(filter) {
        this.paramsquery.query = filter
        await this.fetchContacts()
	},
	/**
	 * consulta modelos
	 */
    searchTemplates(text){
        this.paramstemplates.filter = text
        this.fetchTemplates()
	},
	/**
	 * seleccion documento carga partidas se el docuemento seleccionado tiene
	 */
    async selectdocument(doc){
		this.setloading(true)
		if (doc.watch_document) {
			this.setWatchDocumument(doc.watch_document)
		}
		// console.log(doc.watch_document);

        await this.setloading_totals(true)

		this.setselected_document(true)
		await this.editDocument(doc.id)

		this.fetchContact(doc.contact_id)
		if (doc.seller != null) {
			this.fetchsellers(doc.seller.identification)
		}
		this.setshowInputs(this.params.template_id)
		await this.setAccountNameCode()

      	await this.$refs.general_.chargeselects()

        this.$root.$emit('bv::hide::modal', 'modal-search-document', '#btnShow')
        await this.setloading_totals(false)
		// await this.fetchVouchertype()
		this.setloading(false)
	},
	setAccountNameCode(){
		// validamos si el modelo es null para setear el nombre y codigo
		// de la cuenta que aparecera al lado del boton
		if (this.params.template_id == null) {
			this.params.document_transactions.map(async el =>  {
            	let account = el.account_select.find(elas => elas.id == el.account_id)
				if (account == undefined) {
					account = await this.fetchAccount(el.account_id)
				}
				el.account_code = account.code;
				el.account_name = account.name;
			});
		}
	},
	questionFrom(){
		this.$confirm('Se Actualizará el Documento. ¿Desea continuar?', 'Actualizar Documento', {
			confirmButtonText: 'Aceptar',
			cancelButtonText: 'Cancelar',
			type: 'warning',
			customClass: 'notification-warning'
		}).then(
			async (result) => {

			if (result) {

				this.validateForm()
			}
			}
		).catch(function (result) {
		})
	},
	/**
	 * validaciones del formulario
	 */
	async validateForm(){
		await this.setloading_form(true)

		if (this.total_difference != 0) {
			this.$notify({
				title: 'Atención',
				message: 'Comprobante Descuadrado',
				type: 'warning'
			});
			this.setloading_form(false)
			return false
		}

		if (this.origin_document) {
			if (this.params.affects_number_document == null || this.params.affects_number_document == '') {
				this.$notify({
					title: 'Atención',
					message: 'Debe digitar el No Factura',
					type: 'warning'
				});
				this.setloading_form(false)
				return false
			}
		}

		// if(this.validations_model.cross_doc == 9){
		// 	if (
		// 		this.params.affects_prefix_document == null ||
		// 		this.params.affects_number_document == null ||
		// 		this.params.term_days_crossing == null
		// 	) {
		// 		this.$notify({
		// 			title: 'Atención',
		// 			message: 'Debe llenar los campos de documento cruce',
		// 			type: 'warning'
		// 		});
		// 		this.setloading_form(false)
		// 		return false
		// 	}
		// }

		// if(this.validations_model.cross_doc_date == 9){
		// 	if (
		// 		this.params.affects_date_document == null ||
		// 		this.params.crossing_due_date_document == null
		// 	) {
		// 		this.$notify({
		// 			title: 'Atención',
		// 			message: 'Debe llenar los campos de fecha cruce',
		// 			type: 'warning'
		// 		});
		// 		this.setloading_form(false)
		// 		return false
		// 	}
		// }

		if (this.params.voucherType_id != null && this.params.num_doc != null && this.params.date != null && this.params.contact_id != null) {
			this.params.user_id = JSON.parse(localStorage.user).id
			let validate_matchs = await this.validateMatchs()
			if (validate_matchs) {
				this.params.total_debit = this.total_debit
				this.params.total_credit = this.total_credit
				if (this.params.document_id == null) {
                	this.params.document_transaction = this.params.document_transactions[0]
					await this.createVariousVouchers()
					if (this.edit_document) {
						await this.FinalizeUpdate()
					}else{
						await this.finalizeAccountingDocument()
					}
				}else{
					if (this.edit_document) {
						await this.FinalizeUpdate()
					}else{
						await this.finalizeAccountingDocument()
					}
				}
			}
		}else{
			this.$notify({
				title: 'Atención',
				message: 'Debe llenar los campos requeridos',
				type: 'warning'
			});
		}
		this.setloading_form(false)
	},
	/**
	 * validacion de partidas
	 */
	validateMatchs(){
		if (this.params.document_transactions.length == 0) {
			this.$notify({
				title: 'Atención',
				message: 'Debe Seleccionar una cuenta',
				type: 'warning'
			});
			return false
		}
		let errors = 0
		this.params.document_transactions.map(async (element, index)=>{
			if (element.value != 0) {

				element.documet_id = element.documet_id == null ? this.params.document_id : element.documet_id
				let i = Number(index)
				i++
				if (element.account_id == null && element.value != 0){
					errors++
					await this.$notify({
						title: 'Atención',
						message: 'Debe Seleccionar una cuenta en la partida '+i,
						type: 'warning'
					});
				}
				if (element.contact_id == null) {
					errors++
					await this.$notify({
						title: 'Atención',
						message: 'Debe Seleccionar un tercero en la partida '+i,
						type: 'warning'
					});
				}
				if (element.debit_credit == null) {
					errors++
					await this.$notify({
						title: 'Atención',
						message: 'Debe Seleccionar debito credito en la partida '+i,
						type: 'warning'
					});
				}
				if (element.base_value_column_visible) {
					if (element.base_value == 0 || element.base_value == null || element.base_value == '') {
						errors++
						await this.$notify({
							title: 'Atención',
							message: 'Debe Agregar Valor base en la partida '+i,
							type: 'warning'
						});
					}
				}
			}

		})
		return errors == 0 ? true : false
	},
	// async validateFormMail(){
	// 	await this.$validator.validateAll("form-mail").then(async result => {
    //     this.sendingMail = true;
    //     if (result) {
    //       this.param = {
    //         to: this.to,
    //         subject: this.subject,
    //         filename: this.file_name.slice(8),
    //         body: this.body
    //       };
    //       if (this.updateEmailContact && this.to.length == 1) {
    //         await this._updatemail();
    //       }
    //       await this.sendmail(this.param).then(response => {
    //         this.to = [];
    //         this.subject = "";
    //         this.body = "";
    //         this.activeCollapse = "other";
    //         this.updateEmailContact = false;
    //       });
    //     }
    //     this.sendingMail = false;
    //   });
	// }
	change_date(oldval, newval){
		let date = new Date()
		this.year = date.toLocaleDateString('COT', {year:'numeric'}).replace(/\//g, '-')
		this.day = date.toLocaleDateString('COT', {day:'2-digit'}).replace(/\//g, '-')
		this.month = date.toLocaleDateString('COT', {month:'2-digit'}).replace(/\//g, '-')
		let today = `${this.year}-${this.month}-${this.day}`
		this.params.date = this.params.date > today ? oldval : this.params.date
	},
	setCity(){
		// let branchoffices  = JSON.parse(localStorage.branchoffices)
		let branchoffice = this.branchOffices.data.find(el => el.id == Number(localStorage.selected_branchoffice))
		this.params.city_id = branchoffice.city != null ? branchoffice.city.id : null
	},
	async init(){
		await this.fetchBranchOffices()
		await this.fetchContacts()
		await this.fetchTemplates()
		await this.fetchVouchertype()
		await this.setCity()
		this.setloading(false)
	}
  },

  async beforeMount () {
	let date = new Date()
	this.year = date.toLocaleDateString('COT', {year:'numeric'}).replace(/\//g, '-')
	this.day = date.toLocaleDateString('COT', {day:'2-digit'}).replace(/\//g, '-')
	this.month = date.toLocaleDateString('COT', {month:'2-digit'}).replace(/\//g, '-')
	this.params.date = `${this.year}-${this.month}-${this.day}`
	this.params.branchoffice_id = this.params.branchoffice_id != null ? this.params.branchoffice_id : Number(localStorage.selected_branchoffice)
	this.paramsVoucherType.branchoffice = this.params.branchoffice_id

	this.init()

  },

  computed: {
	...mapState('various_vouchers', [
		'total_debit',
		'origin_document',
		'Watch_documument',
		'total_credit',
		'edit_document',
		'selected_document_title',
		'paramsquery',
		'branchOffices',
		'params',
		'voucherTypes',
		'loading_form',
		'loading',
		'contacts',
		'contactdt',
		'templates',
		'paramsVoucherType',
		'code_voucherType',
		'selected_document',
		'account_select',
		'paramstemplates',
		'model_code',
		'file_name',
		'total_difference',
		'show_pdf',
		'validations_model'
	]),
	...mapState('account', [
		'accounts'
	]),
	pathPdf() {
      return getApiDomain() + this.file_name;
    }
  },
};
</script>
<style scoped>
.upper{
    text-transform: uppercase;
    margin: 0;
}

</style>
