<template>
    <div>
        <!-- <preloader v-if="loading_transactions" mensaje="Cargando Transacciones"></preloader> -->
        <div class="row mt-2">
            <div class="col-12">
              <grid-u2
                ref="grid_"
                :columns="columns"
                @changeRow="changeRow"
                :items="params.document_transactions"
                class="text"
                :options="options"
              >

                <template slot="tercero" slot-scope="row">
                    <div class="container-select-warehouse row">
                        <div class="col-1 mr-1">
                            <el-button :disabled="Watch_documument" v-if="row.item.create_contact" size="mini" type="primary" icon="fa fa-plus" @click="createContact(row.item)"></el-button>
                        </div>
                        <div class="col-10 ml-3">
                            <el-select
                                v-if="row.item.contact_column_visible"
                                v-model="row.item.contact_id"
                                remote
                                :remote-method="filterText"
                                filterable
                                :disabled="(!row.item.contact_column_visible) || Watch_documument"
                                @change="changeRow_(row.item)"
                                @focus="setOrderSelectToChange_(row.item)"
                            >
                                <el-option
                                    v-for="item in row.item.contact_select"
                                    :key="item.id"
                                    :label="`${item.identification} - ${item.name} ${item.surname  || ''}`"
                                    :value="item.id"
                                ></el-option>
                            </el-select>
                        </div>
                    </div>
                </template>

                <template slot="pay" slot-scope="row">
                    <div class="container-select-warehouse">
                        <!-- <pre> {{ row.item.contact_select }}</pre> -->
                        <el-select
                            :disabled="Watch_documument"
                            v-if="row.item.payment_column_visible"
                            v-model="row.item.payment_method"
                            filterable
                            @change="changepayment_method(row.item)"
                            @focus="setOrderSelectToChange_(row.item)"
                        >
                            <el-option
                                v-for="item in payment_methods"
                                :key="item.id"
                                :label="`${item.code_parameter} - ${item.name_parameter}`"
                                :value="item.id"
                            ></el-option>
                        </el-select>
                    </div>
                </template>


                <template slot="debit_credit" slot-scope="row">
                    <div class="container-select-warehouse">
                        <el-select
                            filterable
                            :disabled="Watch_documument"
                            v-model="row.item.debit_credit"
                            @change="changeRow_(row.item)"
                        >
                            <el-option
                                v-for="item in debit__credict_select"
                                :key="item.id"
                                :label="`${item.label_}`"
                                :value="item.id"
                            ></el-option>
                        </el-select>
                    </div>
                </template>

                <template slot="projects" slot-scope="row">
                    <el-select
                        id="projects"
                        filterable
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="row.item.projects_id"
                        remote
                        :disabled="(!row.item.projects_column_visible) || Watch_documument"
                        v-if="row.item.projects_column_visible"
                        @change="changeRow_(row.item)"
                    >
                        <el-option
                        v-for="item in projectsdt"
                        :key="item.id"
                        :label="item.code+' '+item.description"
                        :value="item.id"
                        >
                        </el-option>
                    </el-select>
                </template>

                <template slot="center_cost" slot-scope="row">
                    <el-select
                        id="cost_center_1"
                        name="cost_center_1"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="row.item.center_cost"
                        clearable
                        :disabled="(!row.item.cost_center_column_visible) || Watch_documument"
                        v-if="row.item.cost_center_column_visible"
                        @change="changeRow_(row.item)"
                    >
                        <el-option
                        v-for="cc1 in cost_center_1"
                        :key="cc1.id"
                        :label="cc1.code_parameter+ ' - ' +cc1.name_parameter"
                        :value="cc1.id"
                        >
                        </el-option>
                    </el-select>
                </template>

                <template slot="concept" slot-scope="row">
                    <el-select
                        :disabled="Watch_documument"
                        id="Concept"
                        name="Concept"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="row.item.concept"
                        clearable
                        @change="changeRow_(row.item)"
                    >
                        <el-option
                        v-for="cc1 in Concenpts"
                        :key="cc1.id"
                        :label="cc1.code_parameter+ ' - ' +cc1.name_parameter"
                        :value="cc1.id"
                        >
                        </el-option>
                    </el-select>
                </template>

                <template slot="account" slot-scope="row">
                    <div v-if="params.template_id == null">
                        <div class="row">
                            <div class="col-2">
                                <el-button size="mini" :disabled="Watch_documument" icon="fa fa-plus" circle @click="openAccountModal(row.item)"></el-button>
                            </div>
                            <div class="col-10">
                                <div v-if="row.item.account_code != null">{{row.item.account_code + ' - ' + row.item.account_name}} </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="row">
                            <div class="col-1">
                                <b-button :disabled="Watch_documument" v-if="row.item.account_id != null" size="mini"  circle :to="`/cuentas/${row.item.account_id}/editar`"></b-button>
                            </div>
                            <div class="col-10">
                                <el-select
                                    size="small"
                                    id="account"
                                    name="account"
                                    no-data-text="Cargando datos..."
                                    no-match-text="No hay datos que coincidan"
                                    v-model="row.item.account_id"
                                    filterable
                                    remote
                                    :remote-method="filterAccountSelect"
                                    :disabled="(row.item.disabled_account_select) || Watch_documument"
                                    @change="changeRow_(row.item)"
                                    @focus="setOrderSelectToChange_(row.item)"
                                >
                                    <el-option
                                    v-for="account in row.item.account_select"
                                    :key="account.id"
                                    :label="account.code+ ' - ' +account.name"
                                    :value="account.id"
                                    >
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>
                </template>


                <template slot="no_doc" slot-scope="row">
                    <div v-if="row.item.manage_document">
                            <p><el-button :disabled="Watch_documument" size="mini" icon="fa fa-plus" circle @click="openreceivableModal(row.item)"></el-button> {{ row.item.no_doc}} </p>
                            <!-- <p><el-button size="mini" icon="fa fa-plus" circle @click="openModal(row.item)"></el-button>  {{ row.item.no_doc }}</p> -->

                        <!-- <div v-if="row.item.validation_no_doc == '3'">
                            <p><el-button size="mini" icon="fa fa-plus" circle @click="openModal(row.item)"></el-button>  {{ row.item.no_doc }}</p>
                        </div>
                        <div v-else-if="row.item.validation_no_doc == '2'">
                            <div class="row">
                                <div class="col-6 p-1">
                                    <div class="el-input el-input--mini">
                                        <input class="el-input__inner upper" placeholder="Prefijo" v-model="row.item.affects_prefix_document" size="mini" @change="changeRow_(row.item)">
                                    </div>
                                </div>
                                <div class="col-6 p-1">
                                    <el-input placeholder="Numero" v-model="row.item.crossing_number" size="mini" @change="changeRow_(row.item)"></el-input>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </template>
                
                <template slot="days" slot-scope="row">
                    <p v-if="row.item.manage_document">
                        {{calculateDaysFromDoucument(row.item)}}
                    </p>
                </template>

                <template slot="commissionable_concept" slot-scope="row">
                    <el-select
                        :disabled="Watch_documument"
                        id="projects"
                        filterable
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="row.item.commissionable_concept_id"
                        remote
                        v-if="row.item.commissionable_concept"
                        @change="changeRow_(row.item)"
                    >
                        <el-option
                        v-for="item in commissionable_concepts"
                        :key="item.id"
                        :label="item.code_parameter+' '+item.name_parameter"
                        :value="item.id"
                        >
                        </el-option>
                    </el-select>
                </template>
                <!-- <template slot="cross_date" slot-scope="row">
                    <div v-if="row.item.manage_document">
                        <div v-if="row.item.cross_date_visible">
                            <el-date-picker
                            type="date"
                            size="small"
                            placeholder="Seleccione fecha"
                            format="yyyy/MM/dd"
                            value-format="yyyy-MM-dd"
                            v-model="row.item.crossing_date"
                            ></el-date-picker>
                        </div>
                    </div>
                </template> -->

                <template slot="options" slot-scope="row">
                    <el-button :disabled="Watch_documument" size="mini" type="danger" icon="el-icon-delete" @click="deleteAccountFromDocumentTransaction_(row.item)"></el-button>
                    <el-button :disabled="Watch_documument" class="ml-0" size="mini" title="Clonar partida" type="primary" icon="el-icon-document-copy" @click="cloneAccountFromDocumentTransaction(row.item)"></el-button>

                </template>

                <template slot="Referencia" slot-scope="row">
                    <el-input :disabled="Watch_documument" v-model="row.item.reference" size="mini" @change="changeRow_(row.item)"></el-input>
                </template>

                <template slot="order" slot-scope="row">
                    <el-input :disabled="Watch_documument" v-model="row.item.order" size="mini" @blur="changeOrder(row.item)"></el-input>
                </template>

                <template slot="value" slot-scope="row">
                    <!-- <pre>{{row.item.value}}</pre> -->
                    <currency-input :disabled_input="Watch_documument" @changeCurrencyInput="changeinput(row.item)" v-model="row.item.value"></currency-input>
                    <!-- <el-input class="value" v-if="!loading_totals" :id="'value'+row.item.id_document_transactions" v-model.lazy="row.item.value" v-money="money" size="mini" @blur="changeRow_(row.item)"></el-input> -->
                </template>

                <template slot="base_value" slot-scope="row">
                    <currency-input :disabled_input="Watch_documument" v-if="row.item.base_value_column_visible" @changeCurrencyInput="changeinput(row.item)" v-model="row.item.base_value"></currency-input>
                    <!-- <el-input v-if="row.item.base_value_column_visible" id="basevalue" v-model.lazy="row.item.base_value" v-money="money" size="mini" @blur="changeRow_(row.item)"></el-input> -->
                    <!-- <el-input id="basevalue" v-model="row.item.base_value" placeholder="valor base" size="mini" @change="changeRow_('basevalue')"></el-input> -->
                </template>

                <template slot="observation" slot-scope="row">
                    <!-- <el-input v-model="row.item.observation" size="mini" @change="changeRow_(row.item)"></el-input> -->
                    <b-form-textarea
                        :disabled="Watch_documument"
                        id="textarea"
                        v-model="row.item.observation"
                        @blur="changeRow_(row.item)"
                        size="sm"
                    ></b-form-textarea>
                </template>

                <template slot="bank_document_number" slot-scope="row">
                    <el-input :disabled="Watch_documument" v-if="row.item.manage_bank_document" v-model="row.item.bank_document_number" size="mini" @change="changeRow_(row.item)"></el-input>
                </template>



                <!-- FOOTER -->
                <template slot="foot_observation" slot-scope="row">
                    <div class="text-center background-blue-light text-nowrap">
                        test
                    </div>
                </template>

              </grid-u2>
            </div>
          </div>
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5">
                <div class="section-table-totals">
                <table
                  id="table-totals"
                  class="table table-totals table-sm table-bordered font-weight-bold"
                >
                  <tbody>
                  <tr>
                    <td class="text-right pr-2 td-no-border-right">
                      <p class="pin-table p-0 m-0">TOTAL DEBITO</p>
                    </td>
                    <td
                      width="50%"
                      class="p-0 td-no-border-left td-background-blue-totals"
                    > <p class="pl-1"> {{ total_debit | currency}} </p>
                    </td>

                  </tr>
                  <tr>
                    <td class="text-right pr-2 td-no-border-right">
                      <p class="pin-table p-0 m-0">TOTAL CREDITO</p>
                    </td>
                    <td
                      width="50%"
                      class="p-0 td-no-border-left td-background-blue-totals"
                    > <p class="pl-1"> {{total_credit | currency}}</p>
                    </td>

                  </tr>
                  <tr>
                    <td class="text-right pr-2 td-no-border-right">
                      <p class="pin-table p-0 m-0">DIFERENCIA</p>
                    </td>
                    <td
                      width="50%"
                      class="p-0 td-no-border-left td-background-blue-totals"
                    > <p class="pl-1"> {{total_difference | currency}}</p>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <modal-receivable
            @selectedDocument="selectedDocument"
            :contact_id="contact_id_wallet"
            :contact_title="contact_title_wallet"
        />
            <!-- :wallet_type="wallet_type_" -->

        <ModalAccount @selectedAccount ="_selectedAccountModal"/>
        <!-- <b-modal
            id="modal-search-document-dt"
            title="Buscar Documento"
            size="xl"
            modal-class="u2-modal-size"
            class="modal-backdrop"
        >
            <ListDocumentGlobal :sselectable="true" @selectedDocument='setDocument'/>
            <template v-slot:modal-footer="{ ok, cancel, hide }">
            <b-button size="sm" @click="cancel()">cerrar</b-button>
        </template>
        </b-modal> -->
    </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";
import CurrencyInput from "../../components/u2/CurrencyInput.vue";
import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";
import modalReceivable from "../../components/receivable/modal-receivable.vue"
import moment from "moment";
// import { Money } from "v-money";
//   import {VMoney} from 'v-money'

export default {
  components: {
    Card,
    GridU2,
    ModalAccount,
    CurrencyInput,
    ListDocumentGlobal,
    Preloader,
    modalReceivable
    // VMoney,
  },
  data() {
    return {
        wallet_type_ : null,
        contact_id_wallet : null,
        contact_title_wallet : null,
        interval: null,
        money: {
            decimal: ",",
            thousands: ".",
            prefix: "$ ",
            suffix: "",
            precision: 0,
            masked: false
        },
        document_transaction: null,
        filter_acount: {
            paginate: true,
            page: 1,
            perPage: 100,
            filter: "",
            sortBy: "code",
            sort: "ASC",
            onlyAux: false,
            notAux : false
        },
        columns:[],
        debit__credict_select:[
			{id:'D', label_:'D'},
			{id:'C', label_:'C'}
        ],
        options: {
          selectable: false,
          multiselect: false,
          showFooter: false,
          type_currency:"COP"
        },
        columns_totals:[{
            name: "total",
            field: "total",
            format: 'text',
            // style:{width: 300},
        },
        {
            name: "valor",
            field: "value",
            format: 'currency',
            // style:{width: 300},
        }],
        // totals:[
        //     {
        //         total:'Debito',
        //         value:0
        //     },
        //     {
        //         total:'Credito',
        //         value:0
        //     },
        // ]
        // total_debit: 0,
        // total_credit: 0,
        // total_difference:0,

    };
  },
//   directives: {money: VMoney},
  watch: {
    //   "params.d"(newval){
    //       this.params.document_transactions.map((element)=>{
    //           if (element.no_doc == null) {
    //               element.no_doc = newval
    //           }
    //       })
    //   },
      "params.template_id"(newval){
          if (newval != null) {
              if (!this.edit_document) {
                  this.change_template(newval)
              }
              
              this.setmodel_code(this.templates.find(el => el.id == newval).code)
              this.setmodel_accounting_generate(this.templates.find(el => el.id == newval).accounting_generate)
          }
      },

  },

  created() {
      this.validateContactCreation()
      this.fetchContactsdt()
      this.fetchProjectsdt()
      this.fetchcost_center_1()
      this.calculateValues()
      this.fetchpayment_methods()
      this.getcommissionable_concepts()
  },
  methods: {
    ...mapActions('various_vouchers', [,
        'deleteAccountFromDocumentTransaction',
        'getcommissionable_concepts',
        'fetchContactsdt',
        'fetchContacts_filterdt',
        'fetchProjectsdt',
        'fetchcost_center_1',
        'fetchContactdt',
        'createVariousVouchers',
        'fetchAccount',
        'fetchAccountFromRoot',
        'fetchContactselect',
        'listTransactions',
        'fetchpayment_methods'
    ]),
    ...mapMutations("various_vouchers", [
        'setmanage_document',
        'setorigin_document',
        'setcommissionable_concept',
        'settotal_difference',
        'setloading_transactions',
        'settotal_debit',
        'settotal_credit',
        'setprojects_column_visible',
        'clearParams',
        'setcontact_column_visible',
        'setpayment_column_visible',
        'setmanage_bank_document',
        'setcost_center_column_visible',
        'setbase_value_column_visible',
        'setaccount_selects',
        'setOrderForAccountSelectToChange',
        'setshowInputs',
        'setmodel_code',
        'setmodel_accounting_generate',
        'setloading_totals',
        'setcross_date_visible'
    ]),
    ...mapMutations('contacts', [
        "setContactFromVariousVouchers_setcontact"
    ]),
    ...mapActions("account", [
        'fetchAccounts'
    ]),
    ...mapMutations("account", [
        'setParamsAccounts'
    ]),
    ...mapMutations("ReceivableReport", [
        'setParamsWalletType'
    ]),
    selectedDocument(doc){
        this.document_transaction.no_doc = doc.prefix != null ? (doc.prefix.trim() != '' && doc.prefix.trim() != null ? doc.prefix.trim() + ' - ' + doc.consecutive : doc.consecutive) : doc.consecutive
        this.document_transaction.affects_document_id = doc.affects_document_id
        this.document_transaction.due_date = doc.due_date
        this.document_transaction.value = doc.final_balance

        this.document_transaction.value = this.document_transaction.value < 0 ? this.document_transaction.value * -1 : this.document_transaction.value

        this.$root.$emit('bv::hide::modal', 'modal-receivable', '#btnShow')
        this.calculateValues()
    },
    calculateDaysFromDoucument(document_transaction){
	    let date = moment(this.formatDate(new Date()))
	    let due_date = moment(document_transaction.due_date)
        let days = date.diff(due_date, 'days')
        return days
    },
    formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    },
    openreceivableModal(document_transaction){
        
        this.contact_id_wallet = document_transaction.contact_id
        let contact_ = document_transaction.contact_select.find(el => el.id == document_transaction.contact_id)
        this.contact_title_wallet = contact_ != undefined ? ` ${contact_.identification} - ${contact_.name} ${contact_.surname}` : ''

        let account = document_transaction.account_select.find(el => el.id == document_transaction.account_id);
        this.setParamsWalletType(account.wallet_type)
        this.wallet_type_ = 

        this.document_transaction = document_transaction
        this.$root.$emit('bv::show::modal', 'modal-receivable', '#btnShow')
    },
    changeinput(row){
        clearInterval(this.interval)
        this.interval = setInterval(() => {
            this.changeRow_(row)
            clearInterval(this.interval);
        }, 500)
    },
    //funcion para reordenar el id y el orden segun el cambio de la columna orden
    async changeOrder(row){
        this.setloading_totals(true)
        let new_document_transactions = [], last_order = row.order


        await this.params.document_transactions.map((el, key)=>{
            if (parseInt(el.order) < row.order){
                new_document_transactions.push(el)
            }
        })

        await this.params.document_transactions.map((el, key)=>{
            if (row.order == el.order && row.id == el.id){
                new_document_transactions.push(el)
            }
        })

        await this.params.document_transactions.map((el, key)=>{
            if (parseInt(el.order) >= row.order && row.id != el.id){
                new_document_transactions.push(el)
                el.order = parseInt(last_order) + 1
                last_order = el.order
            }
        })


        this.params.document_transactions = await new_document_transactions;

        await this.params.document_transactions.map(async (el, key)=>{
            await this.changeRow_(el)
        })


        await this.$refs.grid_.buildData();
        this.buildColumns();
        this.setloading_totals(false)
    },
    async changepayment_method(row){
        //validamos si desde la configuracion del modelo maneja metodo de pago
        if (row.templa_manage_payment_method) {
            //buscamos la cuenta del metodo de pago
            let payment = this.payment_methods.find(el => el.id == row.payment_method)
            if (payment != undefined) {
                if (payment.accounting_account_id != null) {
                    row.account_id = payment.accounting_account_id
                    row.account_select = [await this.fetchAccount(row.account_id)]
                    //desabilitamos el select account
                    row.disabled_account_select = true
                }else{
                    row.account_id = null
                }
            }
        }
        this.changeRow_(row)
    },
    //setea la cuenta que se seleccione en el modal en la partida que seleccionamos en la funcion openAccountModal
    _selectedAccountModal(account){
        this.document_transaction.account_id = account.id
        this.document_transaction.account_code = account.code
        this.document_transaction.account_name = account.name
        this.setOrderSelectToChange_(this.document_transaction)
        this.changeRow_(this.document_transaction)
    },
    // al cambiar el modelo se traen las partidas o document transactions del modelo y se ocultan los inputs que indique el modelo
    async change_template(newval){
        this.setshowInputs(newval)
        this.setVoucherType(newval)
        await this.fetchTransactionsOfModel(newval)
        this.chargeselects();
    },
    /**
     * setea el voucher type de acuerdo al modelo seleccionado
     * se realiza la busqueda por codigo y no por id
     */
    setVoucherType(newval){
        let tamplate = this.templates.find(el => el.id == newval)
        let code_voucher_type = tamplate != undefined ? tamplate.voucher_type.code_voucher_type : null
        this.params.voucherType_id = code_voucher_type != null ? this.voucherTypes.find(el => el.code_voucher_type == code_voucher_type).id : this.params.voucherType_id
    },
    /**
     * carga los selects de las partidas o document transactions como el de cuentas y terceros (son dinamicos por registro)
     */
    async chargeselects(){
		await this.params.document_transactions.map(async (el, index) => {
            if (el.account_id != null && el.account_select.length == 0) {
                el.account_select = [await this.fetchAccount(el.account_id)]
            }

            if (el.account_id != null) {
                await this.setvisibleColumns(el)
            }
            if (el.cap_contact) {
                el.contact_column_visible = el.cap_contact
            }
            if (el.account_root_id) {
                el.account_select = await this.fetchAccountFromRoot(el.account_root_id)
            }
            if (el.contact_id != null && el.contact_select.length == 0) {
                console.log('asd');
                el.contact_select = await this.fetchContactselect(el.contact_id)
            }

        })
        this.buildColumns()
        this.calculateValues()
        this.setloading_transactions(false)
    },
    /**
     * carga las transacciones del modelo en la grilla
     */
    async fetchTransactionsOfModel(model_id){
        let t =[];
        let model = this.templates.find(el => el.id == model_id)
		if (model.transactions != undefined && model.transactions.length > 0) {
			this.params.document_transactions = []
			await model.transactions.map( (el, index)=>{
			    t.push({
                    templa_manage_payment_method:   el.manage_payment_method,
					account_id 					:	el.account_aux_id,
					observation 				:	el.default_detail,
					contact_id 					: 	this.setContactMatchFromModeltransactions(el),
                    // no_doc 						:   this.params.num_doc,
                    no_doc                      :   null,
					documet_id 					: 	this.params.document_id,
					value 						:	0,
					base_value 					: 	0,
                    order 						: 	el.order,
                    debit_credit                :   el.db_cr == 'C' ? 'C' : (el.db_cr == 'D' ? 'D' : null ),
					projects_column_visible 	: 	null,
					payment_column_visible 		: 	el.manage_payment_method,
					contact_column_visible 		: 	null,
                    cost_center_column_visible 	: 	null,
                    bank_document_number        :   null,
                    base_value_column_visible   :   null,
					disabled_account_select		:	el.account_aux_id != null ? true : false,
					account_select 				:	this.setAccountselectFromModeltransactions(el),
                    contact_select 				: 	[],
                    cap_contact                 :   el.cap_contact,
                    create_contact              :   el.create_contact,
                    account_root_id             :   el.account_root_id,
                    payment_method              :   null,
                    id:index,

                    validation_no_doc           :   el.list_document,
                    // cross_date_visible          :   el.list_document == '2' ? true : false,

                    affects_prefix_document:null,
                    // crossing_number:null,
                    // crossing_date:null,
                })
            })
            this.params.document_transactions = t
        }
    },
    //retorna el contact sino es nulo
	setContactMatchFromModeltransactions(model){
        if (this.params.contact_id != null) {
            return this.params.contact_id
        }
		if (model.default_contact_id != null) {
			return model.default_contact_id
		}else{
			return null
		}
    },
    // retorna en un array la cuenta
	setAccountselectFromModeltransactions(model){
		if (model.account_aux_id != null) {
			return model.account_aux != null ? [model.account_aux] : []
		}else{
			return null
		}
    },
    // valida si se creo un contact desde el modulo de comprobantes contables y lo setea en la cuenta seleccionada
    async validateContactCreation(){
        if (this.contactFromVariousVouchers.setcontact) {
            await this.fetchContactdt(this.contactFromVariousVouchers.contact.id)
            let document_tra = await this.params.document_transactions.find(el=>el.order == this.order_account_select)
            document_tra.contact_id = this.contactFromVariousVouchers.contact.id
            document_tra.contact_select = [this.contactdt]
            await this.setContactFromVariousVouchers_setcontact(false)
        }
    },
    //desuso
    changeRow(doc_transaction){
        // console.log(doc_transaction);
    },
    //desuso
    changeRow_totals(val){

    },
    //realiza las validaciones para crear la partida
    changeRow_(doc_transaction){
        this.setvisibleColumns(doc_transaction)
        if (this.params.voucherType_id != null && this.params.num_doc != null && this.params.date != null && this.params.contact_id != null ) {
            if (doc_transaction.account_id != null && doc_transaction.contact_id != null && doc_transaction.debit_credit != null) {
                this.params.user_id = this.params.user_id == null ? JSON.parse(localStorage.user).id : this.params.user_id
                this.params.document_transaction = doc_transaction
                this.params.document_transaction.affects_prefix_document = this.params.document_transaction.affects_prefix_document != null ? this.params.document_transaction.affects_prefix_document.toUpperCase() : this.params.document_transaction.affects_prefix_document
                this.params.affects_prefix_document = this.params.affects_prefix_document != null ? this.params.affects_prefix_document.toUpperCase() : this.params.affects_prefix_document
                this.createVariousVouchers()
            }
		}
        this.calculateValues()
    },
    //calcula valores totales y diferencia
    async calculateValues(){
        // this.loading_totals = true
        this.setloading_totals(true)
        // totales debitos y redotos con y sin la cuneta de cuadre
        let _total_debit = 0 , _total_credit = 0
        await this.params.document_transactions.map((dt, index)=>{
            if (dt.debit_credit == 'D') {
                _total_debit += this.valueNmber(dt.value)
            }
            if (dt.debit_credit == 'C') {
                _total_credit += this.valueNmber(dt.value)
            }
        })




        // totales de las tablas
        // this.total_debit = _total_debit
        // this.total_credit = _total_credit

        this.settotal_debit (_total_debit)
        this.settotal_credit (_total_credit)
        this.settotal_difference( _total_credit >= _total_debit ? _total_credit - _total_debit : _total_debit - _total_credit)
        // this.loading_totals = false
        this.setloading_totals(false)

    },
    // retorna el valor en float
    valueNmber(value){
        if (typeof(value) ==  'number') {
            return value
        }
        value = value.replace('$', '').replace('.', '').replace('.', '').replace('.', '').replace('.', '')
        return parseFloat(value)
    },
    /**
     * consulta terceros
     */
    async filterText(filter) {
        if(filter.length >= 3){
            this.paramsquerydt.query = filter

            await this.fetchContacts_filterdt()
            // let dt = this.params.document_transactions.find(el => el.order == this.order_account_select)
            // dt.contact_select = this.
        }
    },
    /**
     * funcion para crear tercero
     */
    async createContact(row){
        await this.setOrderSelectToChange_(row)
        await this.setContactFromVariousVouchers_setcontact(true)
        this.$router.push('/terceros/crear')
    },
    /**
     * setea la visibilidad de la columna por registo(partida o document_transaction)
     */
    async _selectedAccount(account){
        if (account.level != 24575) {
            this.$notify({
            title: 'Atención',
            message: 'Debe seleccionar una cuenta de nivel auxiliar',
            type: 'warning'
          });
        }else{
            let manage_projectses = false, manage_contact_balances = false, manage_center_cost = false, payment_column_visible= false, cross_date_visible=false, manage_base_value= false,  manage_bank_document = false, manage_document=false, commissionable_concept = false;
            this.params.document_transactions.map((element)=>{

                manage_projectses = !manage_projectses  ? (element.projects_column_visible != null ? element.projects_column_visible : manage_projectses) : manage_projectses
                manage_contact_balances = !manage_contact_balances  ? element.contact_column_visible : manage_contact_balances
                manage_center_cost = !manage_center_cost  ? element.cost_center_column_visible : manage_center_cost

                manage_base_value = !manage_base_value ? element.base_value_column_visible : manage_base_value

                payment_column_visible = !payment_column_visible  ? element.payment_column_visible : payment_column_visible
                manage_bank_document = !manage_bank_document  ? element.manage_bank_document : manage_bank_document
            
                commissionable_concept = !commissionable_concept  ? element.commissionable_concept : commissionable_concept
                manage_document = !manage_document ? element.manage_document : manage_document
                // cross_date_visible = !cross_date_visible ? element.cross_date_visible : cross_date_visible

            })

            // si el tipo de comprobante es documento de origen
            let voucherType = this.voucherTypes.find(el => el.id == this.params.voucherType_id)
            if (voucherType != undefined) {
                manage_document = voucherType.origin_document == 1 ? false : manage_document
                this.setorigin_document(voucherType.origin_document == 1)
            }

            await this.setprojects_column_visible(manage_projectses)
            await this.setcontact_column_visible(manage_contact_balances)
            await this.setcost_center_column_visible(manage_center_cost)
            await this.setbase_value_column_visible(manage_base_value)
            await this.setpayment_column_visible(payment_column_visible)
            await this.setmanage_bank_document(manage_bank_document)
            await this.setmanage_document(manage_document)
            await this.setcommissionable_concept(commissionable_concept)
            // await this.setcross_date_visible(cross_date_visible)

            this.buildColumns()
            this.$root.$emit('bv::hide::modal', 'modal-account', '#btnShow')
        }
    },
    /**
     * setea las columnas visibles según la cuenta seleccionada
     */
    async setvisibleColumns(doc_transaction){
        if (doc_transaction.account_id != null) {
            
            // si el tipo de comprobante es documento de origen
            let voucherType = this.voucherTypes.find(el => el.id == this.params.voucherType_id)

            // let doc_transaction = this.params.document_transactions.find(el => el.order == order)
            
            let account = doc_transaction.account_select.find(el => el.id == doc_transaction.account_id)
            if (account == undefined) {
                account =  await this.fetchAccount(doc_transaction.account_id)    
            }

            doc_transaction.projects_column_visible     = account.manage_projects
            doc_transaction.contact_column_visible      = account.manage_contact_balances
            doc_transaction.payment_column_visible      = doc_transaction.payment_column_visible == null ? account.manage_way_to_pay : doc_transaction.payment_column_visible
            doc_transaction.base_value_column_visible   = account.manage_base_value
            doc_transaction.manage_document             = account.manage_document_balances
            doc_transaction.manage_bank_document        = account.manage_bank_document
            doc_transaction.commissionable_concept        = account.commissionable_concept

            // doc_transaction.cross_date_visible = doc_transaction.validation_no_doc == null && account.manage_document_balances ? true : doc_transaction.cross_date_visible
            doc_transaction.validation_no_doc = doc_transaction.validation_no_doc == null && account.manage_document_balances ? '2' : doc_transaction.validation_no_doc

            let doc_pref_consec = []
            if (this.params.num_doc != null) {
                doc_pref_consec = this.params.num_doc.split('-')
            }

            let model = this.templates.find(el => el.id == this.params.template_id)

            if (model != undefined) {
                if (model.doc_cruce_management == '2') {
                    // doc_transaction.affects_prefix_document = doc_transaction.validation_no_doc == '2' && doc_pref_consec.length == 2 ? doc_pref_consec[0] : null
                    // doc_transaction.crossing_number = doc_transaction.validation_no_doc == '2' && doc_pref_consec.length == 2 ? doc_pref_consec[1] : null
                }else{
                    // doc_transaction.affects_prefix_document = doc_transaction.affects_prefix_document == null ? this.params.affects_prefix_document : doc_transaction.affects_prefix_document
                    // doc_transaction.crossing_number = doc_transaction.crossing_number == null ? this.params.affects_number_document : doc_transaction.crossing_number
                    // doc_transaction.crossing_date = doc_transaction.crossing_date == null ? this.params.crossing_due_date_document : doc_transaction.crossing_date
                }
            }


            doc_transaction.cost_center_column_visible = false

            if (account.cost_center_1 == 1 || account.cost_center_2 == 1 || account.cost_center_3 == 1) {
                doc_transaction.cost_center_column_visible = true
            }


            if (voucherType != undefined) {
                doc_transaction.manage_document = voucherType.origin_document == 1 ? false : doc_transaction.manage_document
            }

            doc_transaction.observation = doc_transaction.observation == null || doc_transaction.observation == '' && account.document_description != null  ? account.document_description : doc_transaction.observation
            this._selectedAccount(account)
        }
    },
    /**
     * establece info del select
     * desuso
     */
    setAccountSelect(account_id){
        let account;
        account = [this.accounts.data.find(el => el.id == account_id)]
        return account
    },
    /**
     * establece array del select de cuentas por registro
     */
    async filterAccountSelect(filter){
        if (filter.length>=3) {
            this.filter_acount.filter = filter
            await this.setParamsAccounts(this.filter_acount)
            await this.fetchAccounts()
            this.setaccount_selects(this.accounts.data)
        }
    },
    //setea el document_transaction de donde se abre el modal
    openAccountModal(document_transaction){
        this.document_transaction = document_transaction
        this.$root.$emit('bv::show::modal', 'modal-account', '#btnShow')
    },
    /**
     * filtro de cuenta desde input
     * desuso
     */
    async onFilterTextBoxChanged(){
        await this.setParamsAccounts(this.filter_acount)
        await this.fetchAccounts()
        this.setaccount_selects(this.accounts.data)
        // console.log(this.accounts.data.length);
        if (this.accounts.data.length == 1) {
            this._selectedAccount(this.accounts.data[0])
        }else{
            this.$root.$emit('bv::show::modal', 'modal-account', '#btnShow')
        }
        this.filter_acount= {
            paginate: true,
            page: 1,
            perPage: 100,
            filter: "",
            sortBy: "code",
            sort: "ASC"
        }
    },
    /**
     * abre y establece la partida (document transaction) a la que se le agregara el document
     */
    openModal(document_transaction){
        this.document_transaction = document_transaction
        this.$root.$emit('bv::show::modal', 'modal-search-document-dt', '#btnShow')
    },
    /**
     * cerramos erl modal y seteamos el docuento seleccionado a la partida
     */
    setDocument(document){
        this.document_transaction.no_doc = document.prefix + ' - ' + document.consecutive
        this.document_transaction.documet_id = document.id
        this.$root.$emit('bv::hide::modal', 'modal-search-document-dt', '#btnShow')
    },
    /**
     * borrar partida
     */
    async deleteAccountFromDocumentTransaction_(document_transaction_delete){
        if (document_transaction_delete.id_document_transactions) {
            await this.deleteAccountFromDocumentTransaction(document_transaction_delete.id_document_transactions);
        }
        
        let index = this.params.document_transactions.findIndex( element => element.id == document_transaction_delete.id )
        this.params.document_transactions.splice(index, 1)
        this.calculateValues()
    },
    /**
     * setea array general de cuentas
     * desuso
     */
    async setAccounts(){
        await this.fetchAccounts()
        this.setaccount_selects(this.accounts.data)
    },
    /**
     * clonar partida
     */
    async cloneAccountFromDocumentTransaction(account_clone){
        this.setloading_totals(true)
        // para que no quede la referencia a la partda seleccionada
        account_clone = JSON.parse(JSON.stringify(account_clone))

        // let last_dt = this.params.document_transactions[this.params.document_transactions.length - 1]
        let mayor_id = 0, mayor_order = 0
        //buscamor el mayor id y el mayor orden
        this.params.document_transactions.map(el => {
            mayor_id = el.id > mayor_id ? el.id : mayor_id
            mayor_order = el.order > mayor_order ? el.order : mayor_order
        })

        //buscamos el indice de la cuenta a clonar
        let index = this.params.document_transactions.findIndex( element => element.order == account_clone.order )

        account_clone.id = mayor_id+1
        account_clone.id_document_transactions = null
        account_clone.order = mayor_order+1
        // account_clone.debit_credit = null

        account_clone.affects_document_id = null
        account_clone.no_doc = null
        account_clone.due_date = undefined
        account_clone.value = 0

        console.log(account_clone);
        await this.params.document_transactions.splice(index+1, 0, account_clone)

        // reordenar id y order
        this.params.document_transactions.map((el, key)=>{
            el.id = key
            el.order = key+1
        })

        this.$refs.grid_.buildData();
        this.buildColumns();
        this.setloading_totals(false)
    },
    /**
     * setamos una variable en el state para saber que
     * partida es la que se esta filtrando la cuenta  o tercero
     */
    setOrderSelectToChange_(row){
        this.setOrderForAccountSelectToChange(row.order)
    },
    buildColumns() {
        this.columns = [
        // {
        //     name: "Orden",
        //     field: "order",
        //     style:{width: 20},
        //     format: 'text'
        // },
        {
            name: "Forma Pago ",
            field: "pay",
            visible: this.payment_column_visible,
            style:{width: 250},
            format: 'text'
        },
        {
            name: "Cuenta-Contable",
            field: "account",
            format: 'text',
            style:{width: 300},
        },
        {
            name: "Descripción",
            field: "observation",
            format: 'text',
            style:{width: 350},
        },
        {
            name: "Tercero ",
            field: "tercero",
            visible: this.contact_column_visible,
            style:{width: 350},
            format: 'text'
        },
        {
            name: "No-Doc",
            field: "no_doc",
            format: 'text',
            visible: this.manage_document,
            style:{width: 252},
        },
        {
            name: "Dias",
            field: "days",
            format: 'text',
            visible: this.manage_document,
            style:{width: 20},
        },
        {
            name: "Concepto Comisionable",
            field: "commissionable_concept",
            format: 'text',
            visible: this.commissionable_concept,
            style:{width: 20},
        },
        // {
        //     name: "Fecha-Vencimiento",
        //     field: "cross_date",
        //     format: 'text',
        //     visible: this.cross_date_visible,
        //     style:{width: 252},
        // },
        {
            name: "Documento Bancario",
            field: "bank_document_number",
            visible: this.manage_bank_document,
        },
        {
            name: "Proyecto",
            field: "projects",
            visible: this.projects_column_visible,
            style:{width: 100},
            format: 'text'
        },
        {
            name: "Centro de Costo",
            field: "center_cost",
            visible: this.cost_center_column_visible
        },
        {
            name: "Valor ",
            field: "value",
            format: 'currency',
            style:{width: 150},
        },
        {
            name: "D/C",
            field: "debit_credit",
            format: 'text',
            style:{width: 30},
        },
        {
            name: "Valor Base",
            field: "base_value",
            format: 'currency',
            visible: this.base_value_column_visible
        },
        {
            name: "Opciones",
            field: "options",
            format: 'text',
            style:{width: 100},
        },
        ];
    },
  },
  mounted(){
  },
  beforeMount () {
    this.setAccounts()
    this.buildColumns();
  },

  computed: {
      ...mapState('various_vouchers', [
		  'voucherTypes',
          'origin_document',
          'Watch_documument',
          'loading_accounting_document',
          'edit_document',
          'loading_transactions',
          'params',
          'contactsdt',
          'projectsdt',
          'cost_center_1',
          'Concenpts',
          'document_transactions',
          'paramsquerydt',
          'projects_column_visible',
          'contact_column_visible',
        //   'cross_date_visible',
          'cost_center_column_visible',
          'base_value_column_visible',
          'payment_column_visible',
          'manage_bank_document',
          'total_difference',
          'total_debit',
          'total_credit',
          'account_selects',
          'order_account_select',
          'contactdt',
          'templates',
          'payment_methods',
          'model_code',
          'loading_totals',
          'commissionable_concept',
          'commissionable_concepts',
          'manage_document'

      ]),
      ...mapState('contacts', [
          "contactFromVariousVouchers"
      ]),
      ...mapState('account', [
		  'accounts'
      ])
  },
};
</script>
<style>
.upper{
    text-transform: uppercase;
    margin: 0;
}
.section-table-totals {
    display: flex;
    justify-content: flex-end;
}
.table-totals {
    width: auto;
}
.td-no-border-right {
    border-right: none !important;
    width: auto;
    padding: 5px !important;
  }
  .td-no-border-left {
    border-left: none !important;
    width: auto;
    padding: 5px !important;
  }
.upper{
    text-transform: uppercase;
}
</style>
