<template>
  <div>
    <b-button
        variant="success"
        size="sm"
        :title="`Descargar Pdf ${this.params.data.document.vouchertype.name_voucher_type + ' No. ' + this.params.data.document.consecutive + '.pdf'}`"
        @click="btnClickedHandler()"
        >
        <i class="fa fa-download"></i>
    </b-button>
  </div>
</template>

<script>
  import Vue from 'vue';

  export default Vue.extend({
    name: "totalRowComponent",
    data: () => {
      return {};
    },
    beforeMount() {
    },
    mounted() {
    },
    methods: {
        btnClickedHandler() {
            this.params.clicked(this.params);
        }
    },
  })
</script>

<style scoped>

</style>
