<template>
  <div style="text-align: center">
    <span :style="params.style">{{params.value}}</span>
  </div>
</template>

<script>
  import Vue from 'vue';

  export default Vue.extend({
    name: "totalRowComponent",
    data: () => {
      return {};
    },
    beforeMount() {
    },
    mounted() {
    },
    methods: {},
  })
</script>

<style scoped>

</style>
