<template>
  <div>
    <el-button size="mini" icon="fa fa-plus" circle @click="openreceivableModal()"></el-button>
    <modal-receivable/>
  </div>
</template>

<script>
import modalReceivable from "../../components/receivable/modal-receivable.vue"
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  components: {
    modalReceivable
  },
  methods: {
    openreceivableModal(){
        this.$root.$emit('bv::show::modal', 'modal-receivable', '#btnShow')
    },
  },
  data () {
    return {

    }
  }
}
</script>

<style>
</style>