<template>
  <div>
    <ag-grid-vue
      style="width: 100%; height: 700px; margin-top:15px;font-size:12px"
      class="ag-theme-alpine"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="kardex"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :ExcelExportParams="ExcelExportParams_"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :pinnedTopRowData="pinnedTopRowData"
      :frameworkComponents="frameworkComponents"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
    ></ag-grid-vue>
  </div>
</template>

<script>
import { AgGridVue } from "@ag-grid-community/vue";
// import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
// import totalRowComponent from "../../components/totalRowComponent.vue";
import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
import buttonKardex from "../../../src/reports-aggrid/components/buttonKardex.vue";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  data() {
    return {
      font_stylyle_grig : {'font-size':' 11px', 'font-weight':' 700'},
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
      iconAcordion: "ti-angle-down",
      columnDefs: [],
      gridOptions: null,
      gridApi: null,
      statusBar: null,
      defaultColDef: null,
      rowGroupPanelShow: null,
      groupDefaultExpanded: null,
      autoGroupColumnDef: null,
      selectedTheme: "ag-theme-balham",
      ExcelExportParams_: [{ fileName: "test.xlsx" }],
      frameworkComponents: null,
      pinnedBottomRowData: null,
      pinnedTopRowData: null,
      getRowStyle: null,
      optionsThemes: [
        { value: "ag-theme-alpine", label: "Alpine" },
        { value: "ag-theme-dark", label: "Dark" },
        { value: "ag-theme-balham", label: "Balham" },
        { value: "ag-theme-balham-dark", label: "Balham dark" },
        // { value: "ag-theme-material", label: "Material" },
      ],
      themes: [
        { theme: "ag-theme-alpine", label: "Alpine" },
        { theme: "ag-theme-dark", label: "Dark" },
        { theme: "ag-theme-balham", label: "Balham" },
        { theme: "ag-theme-balham-dark", label: "Balham dark" },
        { theme: "ag-theme-material", label: "Material" },
      ],
      sideBar: {
        toolPanels: [
          {
            id: "columns",
            labelDefault: "Columnas",
            labelKey: "columns",
            iconKey: "columns",
            toolPanel: "agColumnsToolPanel",
          },
          {
            id: "filters",
            labelDefault: "Filtros",
            labelKey: "filters",
            iconKey: "filter",
            toolPanel: "agFiltersToolPanel",
          },
        ],
        // defaultToolPanel: "filters",
        hiddenByDefault: false,
      },
      gridColumnApi: null,
      columnTypes: null,
      modules: AllModules,
    };
  },
  components: {
    AgGridVue,
    Card,
    Preloader,
    ModalAccount,
    buttonKardex, 
  },
  created(){
    // this.init();
  },
  async beforeMount() {
    this.gridOptions = {};

    this.autoGroupColumnDef = { minWidth: 450 };

    this.columnDefs = [
      {
        headerName: "Fecha",
        field: "fecha",
        cellStyle: this.font_stylyle_grig,
        width: 200,
      },
      {
        headerName: "docum",
        field: "document_number",
        cellStyle: this.font_stylyle_grig,
        width: 65,
      },
      {
        headerName: "Operación",
        field: "operation",
        cellStyle: this.font_stylyle_grig,
        width: 150,
      },
      {
        headerName: "Vr-Unitario",
        field: "unit_value_before_taxes",
        valueFormatter: this.currencyFormatter,
        cellStyle: this.font_stylyle_grig,
        width: 100,
      },
      {
        headerName: "Vr-Bruto",
        field: "total_value_brut",
        valueFormatter: this.currencyFormatter,
        cellStyle: this.font_stylyle_grig,
        width: 110,
      },
      {
        headerName: "Vr-Un-Costo",
        field: "Vr_Un_Costo",
        valueFormatter: this.currencyFormatter,
        cellStyle: this.font_stylyle_grig,
        width: 110,
      },
      {
        headerName: "Total-Costo",
        field: "inventory_cost_value",
        valueFormatter: this.currencyFormatter,
        cellStyle: this.font_stylyle_grig,
        width: 110,
      },
      {
        headerName: "Entradas",
        field: "entrace",
        cellStyle: this.font_stylyle_grig,
        width: 45,
      },
      {
        headerName: "Salidas",
        field: "exits",
        cellStyle: this.font_stylyle_grig,
        width: 45,
      },
      {
        headerName: "Saldo-Un",
        field: "stock_after_operation",
        cellStyle: this.font_stylyle_grig,
        width: 45,
      },
      {
        headerName: "Saldo-Vr",
        field: "stock_value_after_operation",
        cellStyle: this.font_stylyle_grig,
        valueFormatter: this.currencyFormatter,
        width: 110,
      },
      {
        headerName: "Cto-Prom",
        field: "Cto_Prom",
        cellStyle: this.font_stylyle_grig,
        valueFormatter: this.currencyFormatter,
        width: 100,
      },
      {
        headerName: "Doc-Base",
        field: "base_document",
        cellStyle: this.font_stylyle_grig,
        width: 70,
      },
      {
        headerName: "Doc-Cruce",
        field: "cruce",
        cellStyle: this.font_stylyle_grig,
        width: 70,
        hide :true ,
      },
      {
        width: 60,
        headerName: "Acciones",
        field: 'document',
        cellRenderer: 'btnCellRenderer',
        cellRendererParams: {
          clicked: (field)=> {
            this.downloadDocument(field.data.document)
          }
        },
      },
    
    ];

    this.getRowStyle = (params) => {
      if (params.node.rowPinned) {
        return {
          color: "#3d3d3d",
          "font-size": "15px",
          "font-weight": "bold",
          background: "#c1c1c1",
          "border-top": "1px solid #fff",
        };
      }
    };

    this.defaultColDef = {
      minWidth: 120,
      enableValue: true,
      enableRowGroup: true,
      sortable: true,
      filter: true,
      floatingFilter: true,
      resizable: true,
    };

    this.statusBar = {
      statusPanels: [
        {
          statusPanel: "agTotalAndFilteredRowCountComponent",
          align: "left",
        },
        {
          statusPanel: "agTotalRowCountComponent",
          align: "center",
        },
        { statusPanel: "agFilteredRowCountComponent" },
        { statusPanel: "agSelectedRowCountComponent" },
        { statusPanel: "agAggregationComponent" },
      ],
    };

    this.groupDefaultExpanded = 0;
    this.rowGroupPanelShow = "always";

    // this.gridApi.openToolPanel("columns");

    this.pinnedBottomRowData = this.createData();

    this.frameworkComponents = {
      customPinnedRowRenderer: totalRowComponent,
      btnCellRenderer: buttonKardex
    };
  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridColumnApi = this.gridOptions.columnApi;
  },
  computed: {
    ...mapState("kardex", [
        'kardex',
    ]),
  },
  methods: {
    ...mapMutations('kardex', ['setParams']),
    ...mapActions('kardex', ['fetchMovementsAccountContact', 'downloadDocument']),
    createData() {
      let result = [
        {
          balance: 0,
          debits: 0,
          credits: 0,
        },
      ];

      for (let element in result[0]) {
        result[0][element] = this.kardex.reduce(
          (total, currentValue) => total + (currentValue[element] || 0),
          0
        );
      }

      return result;
    },
    currencyFormatter(params) {
      if (params.value !== "undefined" && params.value !== undefined) {
        return "$" +this.formatNumber(params.value);
      }

      return "";
    },
    formatNumber(number) {
      
      return this.$options.filters.currency(number, {
                                                symbol: '',
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
    },
  },
};
</script>
