 <template>
  <card title="<i class='fa fa-fw fa-hospital-o'></i> Kardex">

    <div class="row">
      <div class="col-12">
        <b-form
          data-vv-scope="form"
          @submit.prevent="validateForm()"
        >
        <div class="row">
            <div class="col-sm-12 col-lg-4">
              <b-form-group
                label="Sede"
                class="mb-0"
              >
                <el-select
                  name="sede_salida"
                  size="small"
                  value=""
                  v-model="params.sede_salida"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos"
                >
                  <el-option
                    v-for="(item, index) in branchOffices.data"
                    :key="index"
                    :value="item.id"
                    :label="item.name"
                  ></el-option>
                </el-select>
              </b-form-group>
            </div>

            <div class="col-sm-12 col-lg-4">
              <b-form-group
                label="Bodega"
                class="mb-0"
              >
                <el-select
                  name="bodega_salida"
                  size="small"
                  value=""
                  v-model="params.bodega_salida"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos"
                >
                  <el-option
                    v-for="(item, index) in branchoffice_warehouses"
                    :key="index"
                    :value="item.id"
                    :label="item.warehouse_code +' - '+item.warehouse_description"
                  ></el-option>
                </el-select>
              </b-form-group>
            </div>

            <!-- <div class="col-sm-12 col-lg-4">
                <label for="contact_id"> Fecha
          </label>
                <el-date-picker
                    class=" picker"
                    v-model="params.date"
                    type="daterange"
                    range-separator="-"
                    start-placeholder="Desde"
                    size="small"
                    end-placeholder="Hasta"
                    format="yyyy/MM/dd "
                    value-format="yyyy-MM-dd">
                </el-date-picker>
            </div> -->

            <div class="col-2">
              <label for="filter_date">Fecha desde:</label>
              <el-date-picker
                type="date"
                size="small"
                placeholder="Seleccione fecha"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                v-model="params.date[0]"
              ></el-date-picker>
            </div>

            <div class="col-2">
              <label for="filter_date">Fecha hasta:</label>
              <el-date-picker
                type="date"
                size="small"
                placeholder="Seleccione fecha"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                v-model="params.date[1]"
              ></el-date-picker>
            </div>
          </div>

          <div class="row mt-1">
              <div class="col-sm-12 col-lg-4">
                    <label for="contact_id"> Tercero
                    </label>

                    <el-select
                        clearable
                        id="contact_id"
                        name="contact_id"
                        filterable
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        data-vv-as=" "
                        v-model="params.contact_id"
                        remote
                        :remote-method="filterText"
                    >
                        <el-option
                        v-for="contact in contacts"
                        :key="contact.id"
                        :label="contact.identification+ ' - ' +contact.name + ' ' + contact.surname"
                        :value="contact.id"
                        >
                        </el-option>
                    </el-select>
              </div>

              <div class="col-sm-12 col-lg-4">
                    <el-button size="mini" icon="fa fa-plus" circle v-b-modal.list-products></el-button>
                    <label for="contact_id"> Producto
                    </label>

                    <el-input v-model="params.product_code" size="medium" disabled></el-input>
                    <!-- <el-select
                        id="product_id"
                        name="product_id"
                        filterable
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        data-vv-as=" "
                        v-model="params.product"
                        remote
                        :remote-method="getProducts"
                    >
                        <el-option
                        v-for="product in products"
                        :key="product.id"
                        :label="product.code + ' - ' + product.description"
                        :value="product.id"
                        >
                        </el-option>
                    </el-select> -->
              </div>

              <div class="col-sm-12 col-lg-4">
                <b-button
                  type="submit"
                  class="mt-4"
                  variant="primary"
                >
                  <span class="btn-label">
                    <i class="ti-search"></i>
                    <i v-if="loading.kardex" class="fa fa-spinner fa-spin"></i>
                  </span> Listar
                </b-button>

                <b-button
                  value="Limpiar"
                  class="mt-4"
                  variant="primary"
                  @click="cleanForm()"
                >
                  <span class="btn-label">
                    <i class="ti-eraser"></i>
                    Limpiar
                  </span>
                </b-button>

            </div>
          </div>
          
          <ag-grid-table/>

          <!-- TABLA -->
          <!-- <div class="row">
            <div class="col-12 letter">
              <grid-u2
                ref="grid_"
                :columns="columnsPU"
                @changeRow="changeRow"
                :items="kardex"
                class="text"
                :options="options"
              >
                <template
                  slot="options"
                  slot-scope="row"
                >
                  <b-button
                    variant="success"
                    @click="downloadPdf(row.item)"
                  >
                    <i v-if="loading.download_pdf" class="fa fa-spinner fa-spin"></i>
                    <i class="fa fa-download"></i>
                    Descargar
                  </b-button>

                 <b-button
                  variant="secondary"
                  @click="fix(row.item)"
                >
                  Reconst
                  <span class="btn-label">
                    <i class="ti-arrow-down"></i>
                  </span>
                </b-button> 

                </template>

                <template
                    slot="Doc"
                    slot-scope="row"
                    class="doc"
                >
                <div class="center ">
                  <div v-if="row.item.document.document">
                    <div v-if="row.item.document.document.prefix != null && row.item.document.document.prefix > 0">
                      {{ row.item.document.document.prefix + '-' +row.item.document.document.consecutive }}
                    </div>
                    <div v-else>
                      {{ row.item.document.document.consecutive }}
                    </div>
                  </div>
                </div>
                </template>

                <template
                    slot="cruce"
                    slot-scope="row"
                >
                  <div v-if="row.item.document.affects_prefix_document != null && row.item.document.affects_number_document != null">
                    {{ row.item.document.affects_prefix_document+' - '+row.item.document.affects_number_document }}
                  </div>
                </template>

                <template
                    slot="entrada"
                    slot-scope="row"

                >
                  <div class="center" v-if="row.item.operation_type.affectation == '1'">
                      {{ row.item.quantity }}
                  </div>
                </template>

                <template
                    slot="salida"
                    slot-scope="row"
                >
                  <div class="center" v-if="row.item.operation_type.affectation == '2'">
                      {{ row.item.quantity }}
                  </div>
                </template>

                <template
                    slot="docum"
                    slot-scope="row"
                >
                  <div class="center">
                    <div v-if="row.item.document.prefix != null && row.item.document.prefix.length > 0">
                      {{ row.item.document.prefix+ '-' +row.item.document.consecutive }}
                    </div>
                    <div v-else>
                      {{ row.item.document.consecutive }}
                    </div>
                  </div>
                </template>

                <template
                    slot="saldo"
                    slot-scope="row"
                >
                  <div class="center">
                      {{ row.item.stock_after_operation }}
                  </div>
                </template>

                <template
                  slot="op"
                  slot-scope="row"
                >
                  <div v-if="row.item.document.vouchertype_id == 13">
                    <div v-if="row.item.operation_type.affectation == '2'">
                      Sal Tras
                    </div>
                    <div v-else-if="row.item.operation_type.affectation == '1'">
                      Ent Tras
                    </div>
                  </div>
                  <div v-else>
                    {{row.item.document.vouchertype.short_name}}
                  </div>
                </template>

              </grid-u2>
            </div>
          </div> -->



        </b-form>
      </div>
    </div>
    <listproducts @selectedProduct="setProduct"></listproducts>

  </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card';
import { MessageBox } from 'element-ui';
import GridU2 from "../../components/u2/grid";
import listproducts from "../../components/availability-inquiry/list-products";
import agGridTable from "./AggrigTable.vue"

export default {
  components: {
    Card,
    GridU2,
    agGridTable,
    listproducts
  },
  data () {
    return {
    contactsC: [],
      options: {
        selectable: false,
        multiselect: false,
        showFooter: false,
        type_currency:"COP"
      },

      columnsPU: [],
      productAdd: {
        product: {
          id: null,
          description: '',
          code: '',
          quantity: '',
          year: '',
          day: '',
          month: '',
        }
      },

    }
  },


  watch: {
    "params.sede_salida" (newval) {
      this.params.bodega_salida = '',
      this.fetchBranchOfficeWarehouses(newval);
    },
    "params.bodega_salida" (newval){
      this._setbranchoffice_warehouse_id(newval);
      this.product.products_kardex=[]
    }

  },

  created () {
      let date = new Date()
      this.year = date.toLocaleDateString('COT', {year:'numeric'}).replace(/\//g, '-')
      this.day = date.toLocaleDateString('COT', {day:'2-digit'}).replace(/\//g, '-')
      this.month = date.toLocaleDateString('COT', {month:'2-digit'}).replace(/\//g, '-')
      if (this.month == '01') {
        this.params.date = [
            `${this.year-1}-12-${this.day}`,
            `${this.year}-${this.month}-${this.day}`
        ]
      }
      else{
        this.params.date = [
          `${this.year}-${this.month-1}-${this.day}`,
          `${this.year}-${this.month}-${this.day}`
        ]
        if (this.day == 31) {
          this.params.date = [
            `${this.year}-${this.month-1}-30`,
            `${this.year}-${this.month}-${this.day}`
          ]
        }

      }
    var d = new Date();
    this.params.date = [
          this.formatDate(this.sumarDias(d, -30)),
          `${this.year}-${this.month}-${this.day}`
        ]
    this.initComponent()
    this.filterText("")
  },
  methods: {
    cleanForm(){
      this.setKardex([]);
      this.params.sede_salida=null,
      this.params.bodega_salida= null,
      this.params.contact_id=null,
      this.params.product_code=null,
      this.params.product=null
    },
    setProduct(product){
      this.params.product = product.id;
      this.params.product_code = product.code + ' - ' +product.description;
      this.$root.$emit('bv::hide::modal', 'list-products', '#btnShow')
    },
    sumarDias(fecha, dias){
      fecha.setDate(fecha.getDate() + dias);
      return fecha;
    },
    formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    },
    fix(item){
      this.$confirm('Se reconstruirá la informacón. ¿Desea continuar?', 'Reconstruir', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        async (result) => {

          if (result) {

            this.params_reconstructor.product = item.product_id
            this.params_reconstructor.date = item.created_at
            this.params_reconstructor.document_product = item.id
            await this.fixvalues(this.params_reconstructor)
            await this.getKardex()
          }
        }
      ).catch(function (result) {
      })

    },

    cto(stock_value_after_operation , stock_after_operation){
      resul = stock_value_after_operation/stock_after_operation
      result = resul.toFixed(2)
      return result

    },
    validateForm(){
        this.getKardex()
    },
    async filterText(filter) {
        this.paramsquery.query = filter
        await this.fetchContacts()
    },
    ...mapActions('kardex', [
      'fetchBranchOfficeWarehouses',
      'fetchBranchOffices',
      'fetchContacts',
      'getKardex',
      'searchProducts',
      'fixvalues',
      'downloadDocument'
    ]),
    ...mapMutations("kardex", [
        "setSedeSalida",
        "setBodegaSalida",
        'setKardex',
        "resetContacts"]),

    async getProducts (filter) {

        this.paramsProducts.filter = filter
      this.searchProducts();
    },
    _setbranchoffice_warehouse_id(warehouse_id){
      this.paramsProducts.branchoffice_warehouse_id = warehouse_id
    },

    _deleteProductPromotion (row) {
      let i = 0;

      for (let index = 0; index < this.product.products_kardex.length; index++) {
        if (this.product.products_kardex[index].product_id == row) {
          i = index;
        }
      }
      this.product.products_kardex.splice(i, 1);
      this.params.button = true

    },
    downloadPdf(row){
      this.downloadDocument(row.document)
    },
    changeRow (row) {
      if (Number(row.minimum_amount) >= Number(row.product.quantity)) {
          this.$alert(
              `la cantidad del producto ${row.product.description} es mayor a la existencia`,
              "Error", {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          )

      }


    },

    async initComponent () {

      await this.fetchBranchOffices()

      await this.setSedeSalida(Number(localStorage.selected_branchoffice))
      await this.setBodegaSalida(Number(localStorage.selected_branchoffice_warehouse))

      await this.fetchBranchOfficeWarehouses(this.params.sede_salida);

    }

  },


  async mounted () {


    this.columnsPU = [
    {
      name: "Fecha",
      field: "fecha",
    },
    {
      name: "Hora",
      field: "hora",
    },
    {
      name: "Docum",
      field: "docum",
      style:{width: 50}
    },
    {
      name: "Operación",
      field: "op",
      format: "number",
    },
    {
      name: "Vr-Unitario",
      field: "unit_value_before_taxes",
      format: "currency",
    },
    {
      name: "Vr-Bruto",
      field: "total_value_brut",
      format: "currency",
      width: 140,
    },
    {
      name: "Vr-Un-Costo",
      field: "Vr_Un_Costo",
      format: "currency",
      width: 140,
    },
    {
      name: "Total-Costo",
      format: "currency",
      field: "inventory_cost_value",
      width: 140,
    },
    {
      name: "Entradas",
      field: "entrada",
    },
    {
      name: "Salidas",
      field: "salida",
    },
    {
      name: "Saldo-Un",
      field: "saldo",
    },
    {
      name: "Saldo-Vr",
      field: "stock_value_after_operation",
      width: 140,
      format: "currency",
    },
    {
      name: "Cto-Prom",
      field: "Cto_Prom",
      width: 140,
      format: "currency",
    },
    {
      name: "Doc-Base",
      field: "Doc",
      width: 140,
      //format: "number",
    },
    {
      name: "Doc-Cruce",
      field: "cruce",
      width: 140,
      format: "number",
    },
    {
      name: "Acciones",
      field: "options",
      format: "text",
      style:{width: 160}
    },
    ];
  },


  computed: {
    ...mapState('kardex', [
        'loading',
        'kardex',
        'params',
        'branchOffices',
        'branchoffice_warehouses',
        'branchoffice_warehouses_entry',
        'product',
        'document',
        'contacts',
        'paramsquery',
        'paramsProducts',
        'products',
        'params_reconstructor']),

    ...mapGetters('kardex', ['getParams'])
  },
}
</script>
<style scoped>
.picker{
     width: 100%;
}
.text{
    font-size: 11px;
}
.center{
  text-align: center !important;
}
.rigth{
  text-align: right;
}
.letter{
  font-family: -apple-system,BlinkMacSystemFont,"Open Sans",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.doc{
  width: 5000px !important;
}
</style>
