<template>
    <router-view></router-view>
</template>

<script>
  export default {
    name: "index"
  }
</script>

<style>

  @font-face {
    font-family: 'ErasBoldITC';
    src: url('../assets/fonts/ErasITC-Bold.eot');
    src: url('../assets/fonts/ErasITC-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ErasITC-Bold.woff2') format('woff2'),
    url('../assets/fonts/ErasITC-Bold.woff') format('woff'),
    url('../assets/fonts/ErasITC-Bold.ttf') format('truetype'),
    url('../assets/fonts/ErasITC-Bold.svg#ErasITC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  .report-content{
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .report-header{
    background-color: #202020;
    font-family: 'ErasBoldITC';
  }
  .report-header-gray{
    background-color: #e2e9eb;
    font-family: 'ErasBoldITC';
    color: '#3b5998';
  }

  .report-header h5{
    margin-bottom: 0px !important;
  }

  .report-logo{
    max-width: 350px;
  }

  .ag-header-cell-label {
    font-weight: bold;
  }

  .ag-header-group-cell-label {
    justify-content: center;
    font-weight: bold;
  }

  .ag-header-background {
    background: #262c2e;
    color: #eaeaea;
  }

</style>

<style>
  @import "../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
  @import "../../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
  @import "../../node_modules/ag-grid-community/dist/styles/ag-theme-dark.css";
  @import "../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";
  @import "../../node_modules/ag-grid-community/dist/styles/ag-theme-balham-dark.css";
  @import "../../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";
</style>

