<template>
  <b-modal
    id="modal-video-tutorial-menu"
    centered
    title="Video Tutorial"
    size="xl"
    header-class="header-modal-u2"
    hide-footer
  >
    <template #modal-header="{  }">
      <div class="d-flex justify-content-between w-100 align-items-center">
        <img
          id="logoErp"
          src="../../../assets/img/Logo-erp.svg"
          alt="logo erp"
        />

        <h2>Video tutorial</h2>
      </div>
    </template>

    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-sm-6 col-md-3">
          <label for="title">
            Titulo
          </label>
          <el-input
            id="title"
            type="text"
            autosize
            v-model="videoTutorial.title"
          />
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <label for="url">
            Url Video
          </label>
          <el-input id="url" type="text" autosize v-model="videoTutorial.url" />
        </div>

        <div class="col-12">
          <label for="note">
            Notes
          </label>
          <client-only>
            <VueEditor
              class="editor-notes"
              v-model="videoTutorial.note"
              :editorToolbar="customToolbar"
            />
          </client-only>
        </div>

        <div class="col-12">
          <div class="d-flex justify-content-end mt-3">
            <b-button variant="primary" @click="validateFormVideoTutorial">
              {{ videoTutorial.id ? "Actualizar" : "Crear" }}
            </b-button>
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-12 table-responsive">
          <grid-u2 :columns="columns" :items="menuVideoTutorial">
            <!-- ACCIONES -->
            <template slot="url" slot-scope="row">
              <a
                :href="row.item.url"
                target="_blank"
                rel="noopener noreferrer"
                >{{ row.item.url }}</a
              >
            </template>
            <template slot="actions" slot-scope="row">
              <div class="text-center">
                <b-button
                  size="sm"
                  id="botones"
                  class="mt-1"
                  @click="setVideoTutorial(row.item)"
                  >Seleccionar</b-button
                >
                <b-button
                  size="sm"
                  variant="danger"
                  class="mt-1 button-table"
                  @click="questionDelete(row.item, row)"
                  >Eliminar</b-button
                >
              </div>
            </template>
          </grid-u2>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { mapActions, mapState } from "vuex";
import GridU2 from "../../../components/u2/grid.vue";
import { VueEditor } from "vue2-editor";

export default {
  components: {
    GridU2,
    VueEditor
  },
  props: ["selected_menu"],
  data() {
    return {
      videoTutorial: {
        menu_id: "",
        title: "",
        note: "",
        url: ""
      },
      customToolbar: [
        ["bold", "italic", "underline"],
        [{ list: "ordered" }, { list: "bullet" }],
        [
          { align: "" },
          { align: "center" },
          { align: "right" },
          { align: "justify" }
        ],
        [{ color: [] }]
      ],
      columns: [
        {
          field: "title",
          name: "Titulo"
        },
        {
          field: "url",
          name: "Url video"
        },
        {
          field: "actions",
          name: "Opciones"
        }
      ]
    };
  },
  methods: {
    init() {
      if (this.selected_menu.id) {
        this.findAllMenuVideoTutorial(this.selected_menu.id);
      }
    },
    validateFormVideoTutorial() {
      if (this.videoTutorial.id) {
        this.updateVideoTutorial();
      } else {
        this.createVideoTutorial();
      }
    },
    async createVideoTutorial() {
      if (this.videoTutorial.url) {
        await this.createMenuVideoTutorial({
          ...this.videoTutorial,
          menu_id: this.selected_menu.id
        });
        this.videoTutorial = this.defaultObjVideoTutorial();
        this.findAllMenuVideoTutorial(this.selected_menu.id);
      }
    },
    async updateVideoTutorial() {
      let data = {
        id: this.videoTutorial.id,
        data: {
          ...this.videoTutorial,
          menu: undefined,
          user: undefined
        }
      };

      await this.updateMenuVideoTutorial(data);
      this.videoTutorial = this.defaultObjVideoTutorial();
      await this.findAllMenuVideoTutorial(this.selected_menu.id);
    },
    async questionDelete(item) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(async result => {
          if (result) {
            await this.deleteMenuVideoTutorial(item.id);
            await this.findAllMenuVideoTutorial(this.selected_menu.id);
            this.videoTutorial = this.defaultObjVideoTutorial();
          }
        })
        .catch(function(result) {});
    },
    setVideoTutorial(item) {
      this.videoTutorial = item;
    },
    defaultObjVideoTutorial() {
      return {
        menu_id: "",
        title: "",
        note: "",
        url: ""
      };
    },
    ...mapActions("menu", [
      "findAllMenuVideoTutorial",
      "createMenuVideoTutorial",
      "updateMenuVideoTutorial",
      "deleteMenuVideoTutorial"
    ])
  },
  computed: {
    ...mapState("menu", ["menu", "menuVideoTutorial"])
  },
  watch: {
    selected_menu(newval) {
      this.init();
    }
  }
};
</script>
