<template>
  <card :title="`<i class='ti-file'></i> ${model.description}`">
    <template v-slot:header-right>
      <span class="col-lg-2 col-md-4 col-12">
        <b-button variant="success"
                  v-b-modal.modal-search-document
                  class="mt-md-0 mt-3 pull-right d-md-block d-none"
        >
          <i class="fa fa-search"></i> Buscar Documento
        </b-button>

        <b-button variant="success"
                  v-b-modal.modal-search-document
                  block
                  class="mt-md-0 mt-3 d-md-none d-block"
        >
          <i class="fa fa-search"></i> Buscar Documento
        </b-button>
      </span>
    </template>
    <div class="row">
      <div class="col-12">
        <b-button v-if="model.doc_base_management !== '9'"
                  :to="'/movimientos/' + model.id + '/crear'"
                  id="boton-nuevo"
                  class="button button-rounded button-primary-flat hvr-shrink float-right"
        >
          Nuevo
        </b-button>
      </div>
    </div>

    <!-- FILTROS -->
    <div class="row">
      <div class="form-group col-md-4">

        <!-- FILTRO POR FECHA -->
        <label for="filter_date">Fecha</label>
        <el-date-picker type="daterange"
                        v-model="params.filterDate"
                        range-separator="-"
                        start-placeholder="Desde"
                        end-placeholder="Hasta"
                        value-format="yyyy-MM-dd"
                        size="small"
                        class="w-100"
        />
      </div>

      <!-- FILTRO POR TEXTO -->
      <div class="form-group col-md-4">
        <label for="search">Buscar</label>
        <input type="text"
               name="search"
               id="search"
               class="form-control"
               v-model="params.filter"
               placeholder="Búsqueda..."
        />
      </div>

      <!-- FILTRO POR VENDEDOR -->
      <div class="col-md-4">
        <label for="seller_id">Vendedor</label>
        <el-select id="seller_id"
                   name="seller_id"
                   filterable
                   placeholder=" "
                   no-data-text="Cargando datos..."
                   no-match-text="No hay datos que coincidan"
                   v-validate="'required'"
                   data-vv-as=" "
                   v-model="params.seller_id"
                   remote
                   :remote-method="fetchsellers"
                   @change="fetchDocuments"
                   clearable
                   size="small"
        >
          <el-option v-for="(c, index) in sellers"
                     :key="index"
                     :value="c.id"
                     :label="
              `${c.identification} - ${c.name} ${c.surname ? c.surname : ''}`
            "
          />
        </el-select>
      </div>

      <!-- FILTRO POR ESTADO DE AUTORIZACIÓN -->
      <div class="col-md-4" v-if="model.operation_type.code == '205'">
        <label for="state_auth">Estado Autorizacion</label>
        <el-select id="state_auth"
                   name="state_auth"
                   filterable
                   clearable
                   multiple
                   no-data-text="Cargando datos..."
                   no-match-text="No hay datos que coincidan"
                   placeholder
                   v-model="params.state_auth"
                   size="small"
        >
          <el-option v-for="item in stateAuthOption"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value"
          />
        </el-select>
      </div>

      <!-- FILTRO POR ESTADO DE ENTREGA -->
      <div class="col-md-4" v-if="model.operation_type.code == '205'">
        <label for="state_backorder">Estado Entrega</label>
        <el-select id="state_backorder"
                   name="state_backorder"
                   filterable
                   clearable
                   multiple
                   no-data-text="Cargando datos..."
                   no-match-text="No hay datos que coincidan"
                   placeholder
                   v-model="params.state_backorder"
                   size="small"
        >
          <el-option v-for="item in stateBackOrder"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value"
          />
        </el-select>
      </div>

    </div>

    <div class="row">
      <!-- BUSCAR -->
      <div class="col-md-12">
        <label class="w-100"/>
        <button class="btn btn-primary btn-lg mt-2 pull-right mb-1"
                @click="fetchDocuments"
        >
          Buscar
        </button>
      </div>
    </div>

    <div class="row mt-2">

      <!-- DESCARGAS -->
      <div class="col-md-6">
        <button class="btn btn-success mb-1 sm-block"
                v-b-modal.modal-download-document
                v-if="model.operation_type.code == '205'"
        >
          <i class="fa fa-download"></i> Descargar Pedidos
        </button>
        <button class="btn btn-success mb-1"
                @click="_downloadDocumentsMissingBackOrder()"
                v-if="model.operation_type.code == '205'"
                :disabled="loadingDownloadDocumentsMissingBackOrder"
        >
          <i v-if="loadingDownloadDocumentsMissingBackOrder"
             class="fa fa-spinner fa-spin"
          />
          <i v-else class="fa fa-download"/>
          Descargar Back Order Faltante
        </button>
      </div>

      <!-- TABLA CANTIDAD DOCUMENTOS -->
      <div class="col-md-6">
        <div class="section-table-totals">
          <table id="table-totals"
                 class="table table-totals table-sm table-bordered font-weight-bold"
          >
            <tbody>
            <tr>
              <td class="text-right pr-2 td-no-border-right text-nowrap">
                <p class="pin-table">CANTIDAD ORDENES:</p>
              </td>
              <td width="50%"
                  class="p-0 td-no-border-left td-background-blue-totals"
              >
                <input class="input-total-ret"
                       type="text"
                       :value="baseDocuments.length"
                       disabled
                />
              </td>
            </tr>
            <tr>
              <td class="text-right pr-2 td-no-border-right">
                <p class="pin-table">VALOR TOTAL:</p>
              </td>
              <td width="50%"
                  class="p-0 td-no-border-left td-background-blue-totals"
              >
                <input class="input-total-ret"
                       type="text"
                       :value="totalValueBaseDocuments | currency"
                       disabled
                />
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- BOTÓN PARA MULTIPLES DOCUMENTOS -->
    <div class="row" v-if="model.multiple_documents">
      <div class="col-12">
        <b-button size="sm"
                  variant="primary"
                  @click="validateSelectedDocuments()"
                  class="pull-right"
                  :disabled="!selected_rows.length || validateDeactivationButton()"
        >
          <i class="fa fa-check"/> {{ selected_rows.length }} Documento(s) seleccionado(s)
        </b-button>
      </div>
      <div class="col-12 text-danger text-right mt-3" v-if="validateDeactivationButton()">
        <i class="fa fa-warning"/> El tercero asociado a los documentos debe ser el mismo.
      </div>
    </div>

    <!-- TABLA -->
    <div class="row">
      <div v-if="loadingBaseDocuments" class="w-100 my-3 text-center">
        <b-spinner label="Spinning"></b-spinner>
        <br/>
        Cargando Documentos...
      </div>
      <grid-u2 v-else
               :columns.sync="columns"
               :items.sync="baseDocuments"
               :options="options"
               @selectedRows="setSelectedRows"
      >

        <!-- FECHA -->
        <template slot="document_date" slot-scope="row">
          <div class="text-nowrap">{{ row.item.document_date }}</div>
        </template>

        <!-- CONSECUTIVO -->
        <template slot="consecutive" slot-scope="row">
          <div class="text-center">{{ row.item.consecutive }}</div>
        </template>

        <!-- TERCERO -->
        <template slot="warehouse.description" slot-scope="row">
          <div v-if="row.item.contact">
            {{ row.item.contact.name }} {{ row.item.contact.surname }}
          </div>
        </template>

        <!-- VENDEDOR -->
        <template slot="seller.name" slot-scope="row">
          <div v-if="row.item.seller">
            {{ row.item.seller.name }} {{ row.item.seller.surname }}
          </div>
        </template>

        <!-- VALOR -->
        <template slot="total_value" slot-scope="row">
          <div class="text-nowrap text-right">{{ row.item.total_value | currency }}</div>
        </template>

        <!-- ESTADO BACKORDER -->
        <template slot="document_status" slot-scope="row">
          <span v-if="row.item.closed">CERRADO</span>
          <span v-else-if="row.item.state_backorder.id === 831">FACTURADO</span>
          <span v-else>{{ row.item.state_backorder.name_parameter }}</span>
        </template>

        <!-- ESTADO DE AUTORIZACIÓN -->
        <template slot="status_authorized" slot-scope="row">
          <div v-if="model.select_validate_wms" class="text-center">
            <b-badge v-if="row.item.documents_products.some(dp => +dp.quantity_wms > 0)" href="#" variant="success">
              Ingresado WMS
            </b-badge>
            <b-badge v-else href="#" variant="danger">
              Pendiente ingreso WMS
            </b-badge>
          </div>
          <div v-else-if="!row.item.closed" class="text-center">
            <b-badge v-if="row.item.state_authorization_wallet_param"
                     href="#"
                     :variant="getVariantBadgeStateAutorization(row.item)"
            >
              {{ row.item.state_authorization_wallet_param.name_parameter }}
            </b-badge>
            <b-badge v-else-if="row.item.detained" href="#" variant="danger">RETENIDO</b-badge>
            <b-badge v-else href="#" variant="success">AUTORIZADO SISTEMA</b-badge>
          </div>
        </template>

        <!-- ESTADO DE CIERRE -->
        <template slot="state_ending" slot-scope="row">
          <div class="text-center" v-if="row.item.state_ending">
            <b-badge href="#"
                     :variant="getVariantBadgeStateEnding(row.item)"
            >
              {{ row.item.state_ending.name_parameter }}
            </b-badge>
          </div>
        </template>

        <!-- ACCIONES -->
        <template slot="actions" slot-scope="row">
          <!-- BOTÓN VER -->
          <div class="text-center d-flex justify-content-center text-nowrap">
            <b-button class="btn btn-sm btn-info m-1"
                      :to="'/movimientos/' + model.id + '/' + row.item.id + '/ver'"
            >
              Ver
            </b-button>

            <!-- BOTÓN SELECCIONAR -->
            <b-button v-if="showBtnSelect(row.item) && !model.multiple_documents"
                      size="sm"
                      variant="primary"
                      :to="routeToSelect(row.item)"
                      class="m-1"
            >
              Seleccionar
            </b-button>

            <!-- BOTÓN REABRIR -->
            <button v-if="row.item.closed"
                    @click="_closeDocument(row.item.id, false)"
                    class="btn btn-sm btn-success"
            >
              Reabrir
            </button>

            <!-- BOTÓN CERRAR -->
            <button v-else
                    @click="_closeDocument(row.item.id, true)"
                    class="btn btn-sm btn-danger m-1"
            >
              Cerrar
            </button>
          </div>
        </template>
      </grid-u2>

    </div>

    <!-- MODAL PRODUCTOS -->
    <b-modal id="modal-search-document"
             title="Buscar Documento"
             class="modal-backdrop"
             size="xl"
    >
      <div class="container-scroll-y">
      <ListDocumentGlobal :pmodel_id="model.id"
                          :pvouchers_types_id="model.voucherType_id"
                          :pmodel_code="model.voucher_type.code_voucher_type"
      />
      </div>
      <!-- BOTONES MODAL-->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" @click="cancel()">Cerrar</b-button>
      </template>
    </b-modal>

    <!-- DOWNLOAD DOCUMENT -->
    <b-modal id="modal-download-document"
             title="Dercargar Documento"
             class="modal-backdrop"
             size="lg"
    >
      <DownloadDocument/>

      <!-- BOTONES MODAL-->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" @click="cancel()">Cerrar</b-button>
      </template>
    </b-modal>
  </card>
</template>

<script>
  import {mapState, mapActions, mapMutations, mapGetters} from "vuex";
  import Card from "../../components/pages/card/card";
  import GridU2 from "../../components/u2/grid";
  import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";
  import DownloadDocument from "../../components/pages/inventory-movements/DownloadDocument";
  import loader from "./../../components/layout/loader";
  import Preloader from "../../components/layout/preloader";

  export default {
    name: "index",
    components: {
      Card,
      GridU2,
      ListDocumentGlobal,
      DownloadDocument,
      loader,
      Preloader
    },
    data() {
      return {
        loadingInit: true,
        columns: [],
        options: {
          selectable: false,
          multiselect: false
        },
        selected_items: [],
        loadingDownloadDocumentsMissingBackOrder: false,
        filter_date: [],
        loading: false,
        stateAuthOption: [
          {
            label: "AUTORIZADO SISTEMA",
            value: "03"
          },
          {
            label: "AUTORIZADO CARTERA",
            value: "05"
          },
          {
            label: "RECHAZADO",
            value: "09"
          },
          {
            label: "RETENIDO",
            value: "07"
          }
        ],
        stateBackOrder: [
          {
            label: "PENDIENTE",
            value: "1"
          },
          {
            label: "PARCIAL",
            value: "2"
          },
          {
            label: "FACTURADO",
            value: "3"
          },
          {
            label: "CERRADO",
            value: "4"
          }
        ]
      };
    },
    methods: {
      ...mapActions("requestService", ["fetchsellers"]),
      ...mapActions("baseDocuments", [
        "downloadDocumentsMissingBackOrder",
        "fetchModel",
        "fetchBaseDocuments",
        "fetchBranchoffices",
        "fetchBranchofficeWarehouses",
        "fetchStatus",
        "filterSearch",
        "filterDate",
        "closeDocument"
      ]),
      ...mapMutations("baseDocuments", [
        "setDateRangeParam",
        "setLoadingBaseDocuments",
        "resetBaseDocuments",
        "setSelectedRows"
      ]),
      ...mapMutations("inventoryMovements", ["setFetchData"]),
      showBtnSelect(document) {
        if (this.model.operation_type.code === "205") {
          if (
            document.state_authorization_wallet_param &&
            (document.state_authorization_wallet_param.code_parameter === "07" ||
              document.state_authorization_wallet_param.code_parameter === "09")
          ) {
            return false;
          }
        }

        if (document.closed || document.state_backorder.code_parameter == "3") {
          return false;
        }

        return true;
      },
      getVariantBadgeStateAutorization(item) {
        if (item.state_authorization_wallet_param.code_parameter !== '07' && item.state_authorization_wallet_param.code_parameter !== '09') {
          return 'success'
        }

        return 'danger'
      },
      getVariantBadgeStateEnding(item) {
        if (item.state_ending.code_parameter === '01') {
          return 'secondary'
        }

        return 'success'
      },
      async _downloadDocumentsMissingBackOrder() {
        this.loadingDownloadDocumentsMissingBackOrder = true;
        await this.downloadDocumentsMissingBackOrder();
        this.loadingDownloadDocumentsMissingBackOrder = false;
      },
      async initComponent() {
        //this.loading = true
        await this.resetBaseDocuments();

        this.setLoadingBaseDocuments(true);

        // Obtener modelo
        let model = this.$route.params.model_id;
        await this.fetchModel(model);

        if (this.model.multiple_documents) {
          this.options = {
            selectable: true,
            multiselect: true,
            checkbox: true,
            checkbox_title: 'Doc Base'
          }
        }

        if (
          this.model.doc_base_management === 2 &&
          !this.model.document_save_finish
        ) {
          this.$router.push(`/movimientos/${model}/crear`);
        }

        if (this.model) {
          await this.setDateRangeParam();

          if (this.model.operation_type.code != "155") {
            // Obtener los documentos base
            await this.fetchDocuments();
          }

          // Filtro por fecha
          await this.$store.watch(
            async () => {
              return this.getParams.filterDate;
            },
            async p => {
              await this.fetchDocuments();
            }
          );

        }

        this.renderColumnsTable()

        //this.loading = false
        this.loadingInit = false;
        this.setLoadingBaseDocuments(false);
      },
      async fetchDocuments() {
        if (
          this.getParams.filter.length >= 3 ||
          this.getParams.filter.length == 0
        ) {
          if (this.model.voucher_type_id) {
            await this.fetchBaseDocuments(this.model.voucher_type_id);
          } else {
            await this.fetchBaseDocuments(this.model.voucherType_id);
          }
        }
      },
      routeToSelect(item) {
        if (this.model.document_save_finish) {
          return `/movimientos/${this.model.id}/${item.id}/actualizar/documento`;
        }

        return `/movimientos/${this.model.id}/${item.id}/`;
      },
      validateDeactivationButton() {
        let contacts = []

        this.selected_rows.map(row => {
          let contact = contacts.find(contact_id => contact_id === row.contact_id)

          if (!contact) {
            contacts.push(row.contact_id)
          }
        })

        if (contacts.length > 1) {
          return true
        }

        return false
      },
      validateSelectedDocuments() {
        if (this.selected_rows.length > 0) {

          let item = this.selected_rows[0]
          let url = this.routeToSelect(item)

          if (this.selected_rows.length > 1) {
            if (this.validateDeactivationButton()) {
              this.showAlert('El tercero asociado a los documentos debe ser el mismo.')
            } else {
              let additional_documents = []
              this.selected_rows.map((row, index) => {
                if (index !== 0){
                  additional_documents.push(row.id)
                }
              })

              url += '?additional_documents=' + additional_documents.join(',')
            }
          }

          this.$router.push(url)

          this.setSelectedRows([])
        }else{
          this.showAlert('Debe seleccionar por lo menos un documento')
        }
      },
      showAlert(message) {
        this.$alert(
          message,
          "Error",
          {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "order-box",
            dangerouslyUseHTMLString: true
          }
        );
      },
      _closeDocument(id, state) {
        const data = {
          id: id,
          state: state
        };

        const message = state ? "Cerrar" : "Reabrir";

        this.$confirm(
          `Esta seguro que desea ${message} el documento?`,
          "Cambiar estado",
          {
            confirmButtonText: "SI",
            cancelButtonText: "NO",
            type: "warning",
            customClass: "notification-warning"
          }
        ).then(result => {
          if (result) {
            this.closeDocument(data);
          }
        });
      },
      async searchDocuments() {
        const voucher_type_id = this.model.voucher_type_id
          ? this.model.voucher_type_id
          : this.model.voucherType_id;

        await this.fetchBaseDocuments(voucher_type_id);
      },
      _changeRetainedType(type) {
        if (type == "RECHAZADOS") {
          this.params.retained = false;
        }
        if (type == "RETENIDOS") {
          this.params.rejected = false;
        }

        this.searchDocuments();
      },
      renderColumnsTable() {
        // Agrega los datos a la tabla
        this.columns = [
          {
            name: "Fecha",
            field: "document_date"
          },
          {
            name: "Tipo Documento",
            field: "vouchertype.name_voucher_type"
          },
          {
            name: "Número",
            field: "consecutive",
            sortable: true
          },
          {
            name: "Cliente",
            field: "warehouse.description"
          },
          {
            name: "Vendedor",
            field: "seller.name"
          },
          {
            name: "Valor total",
            field: "total_value"
          },
          {
            name: "Estado Entrega",
            field: "document_status"
          },
          {
            name: "Estado Autorizacion",
            field: "status_authorized"
          },
          {
            name: "Acciones",
            field: "actions"
          }
        ];

        if (this.model.document_save_finish) {
          this.columns.push({
            name: "Estado Finalizacion",
            field: "state_ending"
          });
        }
      }
    },
    computed: {
      ...mapState("requestService", ["sellers"]),
      ...mapState("baseDocuments", [
        "baseDocuments",
        "model",
        "branchoffices",
        "warehouses",
        "status",
        "params",
        "loadingBaseDocuments",
        "selected_rows"
      ]),
      ...mapGetters("baseDocuments", ["getParams", "getSelectedRows"]),
      totalValueBaseDocuments() {
        let total_value = 0;
        this.baseDocuments.map(d => {
          total_value += d.total_value;
        });
        return total_value;
      }
    },
    async created() {
      await this.initComponent();
    },
    mounted() {
      this.setFetchData(true);
    },
    beforeRouteUpdate(to, from, next) {
      let toPath = to.fullPath.split("/");
      let fromPath = from.fullPath.split("/");

      next();

      // Se la ruta es la misma a la enterior actualizamos el compoenente
      if (toPath[1] === fromPath[1]) {
        this.initComponent();
      }
    }
  };
</script>

<style>
  .u2-modal-size .modal-dialog,
  .u2-modal-size .modal-xl {
    /* width: 1300px !important;
    max-width: 1300px !important; */
    width: 100% !important;
  }

  .section-table-totals {
    display: flex;
    justify-content: flex-end;
  }

  .table-totals {
    width: auto;
  }

  .td-no-border-right {
    border-right: none !important;
  }

  .td-no-border-left {
    border-left: none !important;
  }

  .input-total-ret {
    border: none !important;
    width: 100%;
    float: right;
    text-align: right;
    font-weight: bold;
    height: 100%;
    outline: none;
    background: none;
  }

  .td-background-blue-totals {
    background: rgb(238, 246, 255) !important;
  }

  .pin-table {
    line-height: 0px !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
</style>
<style lang="scss" scoped>
  $color: #f4c805;

  label {
    font-weight: 600;
  }

  .input {
    height: 40px;
  }

  .modal-backdrop {
    opacity: 0.3 !important;
  }
  .container-scroll-y {
    overflow-y: scroll;
    width: 100%;
    height: 700px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
</style>
