<template>
  <div class="report-content">
    <div class="row m-0 py-2 report-header">
      <div class="col-md-3"><img src="../../../assets/img/Logo-erp-blanco.svg" alt="" class="report-logo"></div>
      <div class="col-md-7 text-white text-center align-self-center"><h5>VENTAS ÚLTIMO SEMESTRE</h5></div>
    </div>
    <preloader v-if="loading" mensaje="Cargando información de ventas"></preloader>
    <ag-grid-vue
      style="width: 100%; height: 92%;"
      :class="selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="sales"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :rowGroupPanelShow="rowGroupPanelShow"
      :pinnedTopRowData="pinnedTopRowData"
      :pinnedBottomRowData="pinnedBottomRowData"
      :frameworkComponents="frameworkComponents"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"></ag-grid-vue>
  </div>
</template>

<script>
  import {AgGridVue} from '@ag-grid-community/vue';
  import 'ag-grid-enterprise';
  import moment from 'moment'
  import {AllModules} from '@ag-grid-enterprise/all-modules';
  import {mapActions, mapState} from "vuex";
  import Preloader from "../../../components/layout/preloader";
  import totalRowComponent from '../../components/totalRowComponent.vue';

  export default {
    name: 'App',
    data() {
      return {
        columnDefs: [],
        gridOptions: null,
        gridApi: null,
        statusBar: null,
        defaultColDef: null,
        rowGroupPanelShow: null,
        groupDefaultExpanded: null,
        autoGroupColumnDef: null,
        selectedTheme: 'ag-theme-balham-dark',
        pinnedTopRowData: null,
        pinnedBottomRowData: null,
        frameworkComponents: null,
        getRowStyle: null,
        themes: [
          {theme: 'ag-theme-alpine', label: 'Alpine'},
          {theme: 'ag-theme-dark', label: 'Dark'},
          {theme: 'ag-theme-balham', label: 'Balham'},
          {theme: 'ag-theme-balham-dark', label: 'Balham dark'},
          {theme: 'ag-theme-material', label: 'Material'}
        ],
        sideBar: {
          toolPanels: [
            {
              id: 'columns',
              labelDefault: 'Columnas',
              labelKey: 'columns',
              iconKey: 'columns',
              toolPanel: 'agColumnsToolPanel',
            },
            {
              id: 'filters',
              labelDefault: 'Filtros',
              labelKey: 'filters',
              iconKey: 'filter',
              toolPanel: 'agFiltersToolPanel',
            },
          ],
          defaultToolPanel: 'filters',
          hiddenByDefault: false,
        },
        fields_sales: [
          'total_value_brut_first_month',
          'total_value_brut_second_month',
          'total_value_brut_third_month',
          'total_value_brut_fourth_month',
          'total_value_brut_fifth_month',
          'total_value_brut_sixth_month'
        ],
        fields_cost: [
          'total_cost_value_first_month',
          'total_cost_value_second_month',
          'total_cost_value_third_month',
          'total_cost_value_fourth_month',
          'total_cost_value_fifth_month',
          'total_cost_value_sixth_month'
        ],
        fields_utility: [
          'total_utility_first_month',
          'total_utility_second_month',
          'total_utility_third_month',
          'total_utility_fourth_month',
          'total_utility_fifth_month',
          'total_utility_sixth_month'
        ],
        gridColumnApi: null,
        columnTypes: null,
        modules: AllModules
      }
    },
    components: {
      AgGridVue,
      Preloader
    },
    async beforeMount() {
      this.gridOptions = {};

      this.autoGroupColumnDef = {minWidth: 450};

      this.columnDefs = [
        {
          headerName: '',
          children: [
            {headerName: 'SEDE', field: 'branchoffice', width: 200, resizable: true, sortable: true, filter: true},
            {
              headerName: 'CLIENTE',
              field: 'customer',
              width: 400,
              resizable: true,
              sortable: true,
              filter: true,
              cellRenderer: function (params) {
                let contact = encodeURIComponent(params.value)

                if (contact && params.value) {
                  return `<a href= /#/reportes/detalle-matriz-dinamica?contact_id=${contact} target="_blank">${params.value}</a>`
                }

              }
            },
            {headerName: 'LÍNEA', field: 'line', width: 200, resizable: true, sortable: true, filter: true},
            {headerName: 'MARCA', field: 'brand', width: 200, resizable: true, sortable: true, filter: true},
            {headerName: 'VENDEDOR', field: 'seller', width: 300, resizable: true, sortable: true, filter: true}
          ]
        },
        {
          headerName: 'VENTAS',
          enableRowGroup: false,
          children: [
            {
              headerName: this.getMonthText(-6),
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO-' + this.getMonthText(-6, true),
                  pinnedRowCellRenderer: 'customPinnedRowRenderer',
                  pinnedRowCellRendererParams: {style: {color: 'blue'}},
                  field: 'total_cost_value_first_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'cost')
                  }
                },
                {
                  headerName: 'VENTA-' + this.getMonthText(-6, true),
                  field: 'total_value_brut_first_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'brut')
                  }
                },
                {
                  headerName: 'UTIL-' + this.getMonthText(-6, true),
                  field: 'total_utility_first_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'utility')
                  }
                },
                {
                  headerName: '% UTIL-' + this.getMonthText(-6, true),
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'percentage')
                  },
                  valueGetter: (params) => {
                    return this.calculatePercentageUtility(params, 'first')
                  }
                }
              ]
            },
            {
              headerName: this.getMonthText(-5),
              headerClass: 'ag-header-background',
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO-' + this.getMonthText(-5, true),
                  headerClass: 'ag-header-background',
                  field: 'total_cost_value_second_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'cost')
                  }
                },
                {
                  headerName: 'VENTA-' + this.getMonthText(-5, true),
                  headerClass: 'ag-header-background',
                  field: 'total_value_brut_second_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'brut')
                  }
                },
                {
                  headerName: 'UTIL-' + this.getMonthText(-5, true),
                  headerClass: 'ag-header-background',
                  field: 'total_utility_second_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'utility')
                  }
                },
                {
                  headerName: '% UTIL-' + this.getMonthText(-5, true),
                  headerClass: 'ag-header-background',
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'percentage')
                  },
                  valueGetter: (params) => {
                    return this.calculatePercentageUtility(params, 'second')
                  }
                }
              ]
            },
            {
              headerName: this.getMonthText(-4),
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO-' + this.getMonthText(-4, true),
                  field: 'total_cost_value_third_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'cost')
                  }
                },
                {
                  headerName: 'VENTA-' + this.getMonthText(-4, true),
                  field: 'total_value_brut_third_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'brut')
                  }
                },
                {
                  headerName: 'UTIL-' + this.getMonthText(-4, true),
                  field: 'total_utility_third_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'utility')
                  }
                },
                {
                  headerName: '% UTIL-' + this.getMonthText(-4, true),
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'percentage')
                  },
                  valueGetter: (params) => {
                    return this.calculatePercentageUtility(params, 'third')
                  }
                }
              ]
            },
            {
              headerName: this.getMonthText(-3),
              headerClass: 'ag-header-background',
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO-' + this.getMonthText(-3, true),
                  headerClass: 'ag-header-background',
                  field: 'total_cost_value_fourth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'cost')
                  }
                },
                {
                  headerName: 'VENTA-' + this.getMonthText(-3, true),
                  headerClass: 'ag-header-background',
                  field: 'total_value_brut_fourth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'brut')
                  }
                },
                {
                  headerName: 'UTIL-' + this.getMonthText(-3, true),
                  headerClass: 'ag-header-background',
                  field: 'total_utility_fourth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'utility')
                  }
                },
                {
                  headerName: '% UTIL-' + this.getMonthText(-3, true),
                  headerClass: 'ag-header-background',
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'percentage')
                  },
                  valueGetter: (params) => {
                    return this.calculatePercentageUtility(params, 'fourth')
                  }
                }
              ]
            },
            {
              headerName: this.getMonthText(-2),
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO-' + this.getMonthText(-2, true),
                  field: 'total_cost_value_fifth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'cost')
                  }
                },
                {
                  headerName: 'VENTA-' + this.getMonthText(-2, true),
                  field: 'total_value_brut_fifth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'brut')
                  }
                },
                {
                  headerName: 'UTIL-' + this.getMonthText(-2, true),
                  field: 'total_utility_fifth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'utility')
                  }
                },
                {
                  headerName: '% UTIL-' + this.getMonthText(-2, true),
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'percentage')
                  },
                  valueGetter: (params) => {
                    return this.calculatePercentageUtility(params, 'fifth')
                  }
                }
              ]
            },
            {
              headerName: this.getMonthText(-1),
              headerClass: 'ag-header-background',
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO-' + this.getMonthText(-1, true),
                  headerClass: 'ag-header-background',
                  field: 'total_cost_value_sixth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'cost')
                  }
                },
                {
                  headerName: 'VENTA-' + this.getMonthText(-1, true),
                  headerClass: 'ag-header-background',
                  field: 'total_value_brut_sixth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'brut')
                  }
                },
                {
                  headerName: 'UTIL-' + this.getMonthText(-1, true),
                  headerClass: 'ag-header-background',
                  field: 'total_utility_sixth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'utility')
                  }
                },
                {
                  headerName: '% UTIL-' + this.getMonthText(-1, true),
                  headerClass: 'ag-header-background',
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  cellStyle: (params) => {
                    return this.getStyle(params, 'percentage')
                  },
                  valueGetter: (params) => {
                    return this.calculatePercentageUtility(params, 'sixth')
                  }
                }
              ]
            },
            {
              headerName: 'TOTAL',
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {
                    return this.sumOrAverage(this.fields_cost, params.data, false)
                  }
                },
                {
                  headerName: 'VENTA',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {
                    return this.sumOrAverage(this.fields_sales, params.data, false)
                  }
                },
                {
                  headerName: 'UTILIDAD',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {
                    return this.sumOrAverage(this.fields_utility, params.data, false)
                  }
                },
                {
                  headerName: '% UTILIDAD',
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {

                    let sales = this.sumOrAverage(this.fields_sales, params.data, false)
                    let cost = this.sumOrAverage(this.fields_cost, params.data, false)

                    if (+cost > 0) {
                      return (sales - cost) / sales * 100
                    }

                    return 0
                  }
                }
              ]
            },
            {
              headerName: 'PROMEDIO',
              headerClass: 'ag-header-background',
              enableRowGroup: false,
              children: [
                {
                  headerName: 'COSTO',
                  headerClass: 'ag-header-background',
                  field: 'total_cost_value_sixth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {
                    return this.sumOrAverage(this.fields_cost, params.data)
                  }
                },
                {
                  headerName: 'VENTA',
                  headerClass: 'ag-header-background',
                  field: 'total_value_brut_sixth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {
                    return this.sumOrAverage(this.fields_sales, params.data)
                  }
                },
                {
                  headerName: 'UTILIDAD',
                  headerClass: 'ag-header-background',
                  field: 'total_utility_sixth_month',
                  valueFormatter: this.currencyFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  aggFunc: 'sum',
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {
                    return this.sumOrAverage(this.fields_utility, params.data)
                  }
                },
                {
                  headerName: '% UTILIDAD',
                  headerClass: 'ag-header-background',
                  valueFormatter: this.percentageFormatter,
                  filter: 'agNumberColumnFilter',
                  width: 170,
                  enableRowGroup: false,
                  enableValue: true,
                  type: 'rightAligned',
                  sortable: true,
                  valueGetter: (params) => {

                    let sales = this.sumOrAverage(this.fields_sales, params.data, false)
                    let cost = this.sumOrAverage(this.fields_cost, params.data, false)

                    if (+cost > 0) {
                      return (sales - cost) / sales * 100 / 6
                    }

                    return 0
                  }
                }
              ]
            }
          ]
        }
      ];

      this.getRowStyle = (params) => {
        if (params.node.rowPinned) {
          return {
            'color': '#3d3d3d',
            'font-size': '15px',
            'font-weight': 'bold',
            'background': '#c1c1c1',
            'border-top': '1px solid #fff'
          };
        }
      };

      this.defaultColDef = {
        minWidth: 120,
        enableValue: true,
        enableRowGroup: true,
        sortable: true,
        filter: true,
        floatingFilter: true,
        resizable: true
      }

      this.statusBar = {
        statusPanels: [
          {
            statusPanel: 'agTotalAndFilteredRowCountComponent',
            align: 'left',
          },
          {
            statusPanel: 'agTotalRowCountComponent',
            align: 'center',
          },
          {statusPanel: 'agFilteredRowCountComponent'},
          {statusPanel: 'agSelectedRowCountComponent'},
          {statusPanel: 'agAggregationComponent'},
        ],
      }

      this.groupDefaultExpanded = 0
      this.rowGroupPanelShow = 'always'

      await this.getSales()

      this.pinnedBottomRowData = this.createData();

      this.frameworkComponents = {
        customPinnedRowRenderer: totalRowComponent,
      };

      this.gridApi.openToolPanel('columns');
    },
    mounted() {
      this.gridApi = this.gridOptions.api;
      this.gridColumnApi = this.gridOptions.columnApi;
    },
    computed: {
      ...mapState('reportDynamicMatrix', ['sales', 'loading'])
    },
    methods: {
      ...mapActions('reportDynamicMatrix', ['getSales']),
      createData() {
        let result = [{
          total_value_brut_first_month: 0,
          total_value_brut_second_month: 0,
          total_value_brut_third_month: 0,
          total_value_brut_fourth_month: 0,
          total_value_brut_fifth_month: 0,
          total_value_brut_sixth_month: 0,
          total_cost_value_first_month: 0,
          total_cost_value_second_month: 0,
          total_cost_value_third_month: 0,
          total_cost_value_fourth_month: 0,
          total_cost_value_fifth_month: 0,
          total_cost_value_sixth_month: 0,
          total_utility_first_month: 0,
          total_utility_second_month: 0,
          total_utility_third_month: 0,
          total_utility_fourth_month: 0,
          total_utility_fifth_month: 0,
          total_utility_sixth_month: 0
        }];

        for (let element in result[0]) {
          result[0][element] = this.sales.reduce((total, currentValue) => total + (currentValue[element] || 0), 0);
        }

        return result
      },
      getMonthText(subtract, short = false) {
        moment.locale('es-es')
        if (!short) {
          return moment().add(subtract, 'M').format('MMMM').toUpperCase()
        }

        return moment().add(subtract, 'M').format('MMM').toUpperCase()
      },
      reDrawItems() {
        this.gridApi.redrawRows();
      },
      getStyle(params, field) {

        let average = null
        let data = params.data

        if (!data) {
          data = params.node.aggData
        }

        if (data) {
          switch (field) {
            case 'utility':
              average = this.sumOrAverage(this.fields_utility, data)
              break;
            case 'cost':
              average = this.sumOrAverage(this.fields_cost, data)
              break;
            case 'brut':
              average = this.sumOrAverage(this.fields_sales, data)
              break;
            case 'percentage':

              let sales = this.sumOrAverage(this.fields_sales, data, false)
              let cost = this.sumOrAverage(this.fields_cost, data, false)

              if (+cost > 0) {
                average = (sales - cost) / sales * 100 / 6
              }

              break;
          }

          if ((field !== 'cost' && average && params.value < average) || (field === 'cost' && average && params.value >= average)) {
            if (this.selectedTheme.includes('dark')) {
              return {'color': '#e81079'};
            } else {
              return {'background-color': 'rgba(255,128,171,.4)'};
            }
          } else if ((field !== 'cost' && average && params.value >= average) || (field === 'cost' && average && params.value < average)) {
            if (params.node.rowPinned) {
              if (this.selectedTheme.includes('dark')) {
                return {'color': '#238d23'};
              } else {
                return {'background-color': 'rgba(185,246,202,.4)'};
              }
            } else {
              if (this.selectedTheme.includes('dark')) {
                return {'color': '#90ee90'};
              } else {
                return {'background-color': 'rgba(185,246,202,.4)'};
              }
            }
          }
        }

        return null;
      },
      currencyFormatter(params) {
        if (params.value !== 'undefined' && params.value !== undefined) {
          return '$' + this.formatNumber(params.value)
        }

        return ''
      },
      percentageFormatter(params) {
        if (params.value !== 'undefined' && params.value !== undefined) {
          return this.formatNumber(params.value) + '%'
        }

        return ''
      },
      sumOrAverage(fields, data, average = true) {
        let sum = 0
        let counter = 0

        fields.map(fs => {
          if (data[fs]) {
            counter++
            sum += (+data[fs])
          }
        })

        if (average) {
          return sum / (counter ? counter : 1)
        }

        return sum
      },
      calculatePercentageUtility(params, month) {
        let index_cost = 'total_cost_value_' + month + '_month'
        let index_sales = 'total_value_brut_' + month + '_month'

        if (params.data && params.data[index_cost] && (+params.data[index_cost]) > 0) {
          return Math.round(((+params.data[index_sales]) - (+params.data[index_cost])) / (+params.data[index_sales]) * 100)
        }

        return 0;
      },
      formatNumber(number) {
        
        return Math.floor(number)
          .toString()
          .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      }
    }
  }
</script>
