<template>
  <form
    @submit.prevent="validateForm('form')"
    data-vv-scope="form"
    autocomplete="off"
  >
    <div class="row">
      <div class=" col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.identification_type')
              ? 'form-group-error text-danger mb-0'
              : ''
          "
        >
          <label>Tipo Identificación</label>
          <span id="span">*</span>
          <el-select
            name="identification_type"
            v-validate="'required'"
            data-vv-as=" "
            placeholder="Seleccione tipo de identificación"
            v-model="prospective.identification_type"
          >


            <el-option
              v-for="typeIdentification in typeIdentifications"
              :key="typeIdentification.id"
              :value="typeIdentification.id"
              :label=" typeIdentification.name_parameter | toLower "
            >
            </el-option>
          </el-select>
          <span class="text-danger span-error">{{
            errors.first("form.identification_type")
          }}</span>
        </b-form-group>
      </div>

      <div class="form-group col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.identification')
              ? 'form-group-error text-danger'
              : ''
          "
        >
          <label>Identificación</label>
          <span id="span">*</span>
          <input
            type="number"
            class="form-control"
            name="identification"
            v-validate="'required'"
            data-vv-as=" "
            v-model="prospective.identification"
          />
          <span class="text-danger span-error">{{
          errors.first("form.identification")
        }}</span>
        </b-form-group>

      </div>

      <div class="form-group col-12 col-sm-4">
        <b-form-group
          :class="errors.has('form.name') ? 'form-group-error text-danger' : ''"
        >
          <label>Nombre / Razón Social</label>
          <span id="span">*</span>
          <input
            type="text"
            class="form-control"
            name="name"
            v-validate="'required'"
            data-vv-as=" "
            v-model="prospective.name"
          />
        <span class="text-danger span-error">{{
          errors.first("form.name")
        }}</span>
        </b-form-group>
      </div>
    </div>

    <div class="row">
       <div class="form-group col-12 col-sm-4">
        <b-form-group  >
          <label>Nombre Comercial</label>
          <input
            type="text"
            class="form-control"
            name="name"
            v-model="prospective.tradename"
          />
        </b-form-group>
      </div>


      <div class="form-group col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.address') ? 'form-group-error text-danger' : ''
          "
        >
          <label>Dirección</label>
          <span id="span">*</span>
          <input
            type="text"
            class="form-control"
            name="address"
            v-validate="'required'"
            data-vv-as=" "
            v-model="prospective.address"
          />
        <span class="text-danger span-error">{{
          errors.first("form.address")
        }}</span>
        </b-form-group>
      </div>

      <div class="form-groupcol-12 col-sm-4">
        <b-form-group label="Teléfono" class="mb-0">
          <input
            type="number"
            class="form-control"
            name="main_telephone"
            v-model="prospective.main_telephone"
          />
        </b-form-group>
      </div>


    </div>

    <div class="row">

       <div class="form-group col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.secondary_telephone')
              ? 'form-group-error text-danger'
              : ''
          "
        >
          <label>Celular</label>
          <span id="span">*</span>
          <input
            type="number"
            class="form-control"
            name="secondary_telephone"
            v-model="prospective.cell_phone"
            v-validate="'required'"
            data-vv-as=" "
          />
        <span class="text-danger span-error">{{
          errors.first("form.secondary_telephone")
        }}</span>
        </b-form-group>
      </div>
      <!-- CLERKS? -->

      <div class="form-group col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.contactname') ? 'form-group-error text-danger' : ''
          "
        >
          <label>Nombre Contacto</label>
          <span id="span">*</span>
          <input
            type="text"
            class="form-control"
            name="contactname"
            v-validate="'required'"
            data-vv-as=" "
            v-model="prospective.contact_name"
          />
        <span class="text-danger span-error">{{
          errors.first("form.contactname")
        }}</span>
        </b-form-group>
      </div>

      <div class="form-group col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.surname') ? 'form-group-error text-danger' : ''
          "
        >
          <label>Apellido Contacto</label>
          <span id="span">*</span>
          <input
            type="text"
            class="form-control"
            name="surname"
            v-validate="'required'"
            data-vv-as=" "
            v-model="prospective.surname"
          />
        <span class="text-danger span-error">{{
          errors.first("form.surname")
        }}</span>
        </b-form-group>
      </div>

    </div>

    <div class="row">

       <div class="form-group col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.email') ? 'form-group-error text-danger' : ''
          "
        >
          <label>Email Contacto</label>
          <span id="span">*</span>
          <input
            type="email"
            class="form-control"
            name="email"
            v-validate="'required|email'"
            data-vv-as=" "
            v-model="prospective.email"
          />
        <span class="text-danger span-error">{{
          errors.first("form.email")
        }}</span>
        </b-form-group>
      </div>

      <div class="form-group col-12 col-sm-4">
        <label for="department">
          Departamento
        </label>
        <el-select
          id="department_id"
          name="department_id"
          filterable
            placeholder="Seleccione Departamento"
          no-data-text="Cargando datos..."
          v-model="prospective.depart_id"
          @click.native="getDepart()"
        >
          <el-option
            v-for="d in departments"
            :key="d.value"
            :value="d.value"
            :label="d.label"
          ></el-option>
        </el-select>
      </div>
      <div class=" col-12 col-sm-4">
        <b-form-group
          :class="
            errors.has('form.city_id') ? 'form-group-error text-danger' : ''
          "
        >
          <label>
            Ciudad
          </label>
          <span id="span">*</span>
          <el-select
            id="city_id"
            name="city_id"
            filterable
            :disabled="!prospective.depart_id"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-validate="'required'"
             placeholder="Seleccione una Ciudad"
            data-vv-as=" "
            v-model="prospective.city_id"
            @focus="getCities()"
          >
            <el-option
              v-for="c in cities"
              :key="c.value"
              :value="c.value"
              :label="c.label"
            ></el-option>
          </el-select>
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.city_id") }}
          </span>
        </b-form-group>
      </div>

      <div class=" col-12 col-sm-4">
        <b-form-group   :class="
            errors.has('form.gender') ? 'form-group-error text-danger' : ''
          ">
          <label >Genero Contacto</label>
          <span id="span">*</span>
          <el-select  v-model="prospective.gender" name="gender"   placeholder="Seleccione un Genero"
          v-validate="'required'"  data-vv-as=" ">
            <el-option v-for="item in genders" :key="item.value"
            :value="item.value" :label="item.label">

            </el-option>
          </el-select>
           <span class="text-danger span-error">
            {{ errors.first("form.gender") }}
          </span>
        </b-form-group>
      </div>
        <div class="form-group col-12 col-sm-8">
        <b-form-group label="Observaciones" class="mb-0">
          <textarea
            type="text"
            class="form-control"
            name="observations"
            v-model="prospective.observations"
          />
        </b-form-group>
      </div>
    </div>

    <div class="row">


      <div class="form-group col-12 col-sm-6">
        <b-form-group label="Foto del establecimiento" class="mb-0">
          <input
            type="file"
            id="file"
            class="form-control addpic"
            name="files[]"
            @input="displayImage"
          />
        </b-form-group>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12 ">
        <b-form-group v-show="image.showRotate">
          <img :src="image.url" width="80%" id="image" />
          <div>
            <span @click="rotateImg(180)" class="buttonRotate right"> </span>
          </div>
        </b-form-group>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4 col-md-6">
        <b-form-group label="" class="mb-0">
          <button class="btn btn-success btn-lg " type="submit">
            <i class="ti-save-alt"></i> Guardar Cliente
          </button>
        </b-form-group>
      </div>
    </div>
  </form>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";

export default {
  props: ["typePerson"],
  data() {
    return {
      valRotate: 0,
      genders:[
        {value:1,label:'FEMENINO'},
        {value:2,label:'MASCULINO'}
      ]
    };
  },
  computed: {
    ...mapState("ecommerce", ["typeIdentifications"]),
    ...mapState("prospective_client", [
      "departments",
      "cities",
      "prospective",
      "image"
    ])
  },
  methods: {
    ...mapActions("prospective_client", [
      "fetchCities",
      "addNewClient",
      "fetchDepartments"
    ]),
    ...mapMutations("prospective_client", [
      "setTargetImg",
      "cleanInputCity",
      "resetProspectiveForm",
      'seStatImage'
    ]),
    async validateForm(scope) {
      this.$validator.validateAll(scope).then(async result => {
        if (result) {
          this.prospective.check_digit=0;
          await this.addNewClient()
          this.seStatImage();

        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
        }
      });

      this.image.showRotate = false;
    },

    getDepart() {
      this.fetchDepartments();
      //limpia el campo ciudad cuando se selecciona un nuevo departamento
      this.cleanInputCity();
    },
    async getCities() {
      await this.fetchCities();
    },
    displayImage(e) {
      let fileReader = new FileReader();
      let imageB64 = "";
      if (e.target.files["length"] == 1) {
        const file = e.target.files[0];
        this.image.url = URL.createObjectURL(file);
        this.image.showRotate = true;

        fileReader.readAsDataURL(e.target.files[0]);

        fileReader.onload = e => {
          this.setTargetImg(e.target.result);
        };
      } else {
        this.image.url = null;
        this.image.showRotate = false;
        this.setTargetImg(null);
        this.valRotate = 0;
      }
    },
    rotateImg(num) {
      this.valRotate += num;
      const image = document.getElementById("image");
      image.style.transform = `rotate(${this.valRotate}deg)`;
    }
  },
   filters: {
	toLower(string) {
	  return string.toLowerCase()
  }
   }
};
</script>

<style scoped>
.btn-success {
  background-color: #007db3 !important;
  color: #fff !important;
  margin-left: 0px !important;
  border-color: #868e96 !important;
}

.rotateBtn {
  margin-top: 4%;
  width: 90%;
  height: 20px;
}

.buttonRotate {
  background-color: white;
  border-radius: 50%;
  padding: 5px 5px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  width: 25px;
  height: 27px;
}

.right {
  background-image: url("../../../assets/img/images/rotateRight.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#span {
  color: red;
}
</style>
