/****** 3.LEFT SIDEBAR ******/
.left-aside {
    width: 320px;
    background:#222c2f;
    border-right: 5px solid #EEE;
}
.submenu-header:hover{
  /*   color:#006ecd !important; */
    color:#fff !important;
}
#menu {
    .navigation {
        padding-left: 0;

        .menu-item,
        .submenu {
            list-style-type: none;

            a {
                text-align: left;
                /* color: #666; */
                color: #fff;
                position: relative;
                transition: all 0.2s;
                display: block;
                font-size: 13px;
                line-height: 20px;
                padding: 11px 15px;
                text-decoration: none;

                &.active {
                    border-right: 3px solid #007db3;
                    background: #384951;
                    color: #fff;
                   /*  border-right: 3px solid #006ecd;
                    background: #EEEEEE;
                    color: #006ecd; */
                }
            }
            a:hover{
                color:#fff !important;
            }

        }


        .submenu {
            .submenu-header {
                cursor: pointer;
                user-select: none;

                .submenu_icon {
                    transition: all 0.3s;

                    i {
                        font-size: 10px;
                    }
                }
            }

            &.active {
                >  .submenu-header {
                    border-right: 3px solid #007db3;
                    background: #384951;
                    color: #fff;
                   /*  border-right: 3px solid #006ecd;
                    background: #EEEEEE;
                    color: #006ecd; */

                    > .submenu_icon {
                        transform: rotate(90deg);
                    }
                }
            }

            .submenu-content {
                padding-left: 0;

                li a {
                    padding-left: 30px;
                }
            }
        }
    }
}
.profile-left a{
    text-decoration: none;
}

/******* END LEFT SIDEBAR *****/
