/*
Created by: Jyostna Designs


[TABLE OF CONTENTS]

1.  RESET STYLES
2.  HEADER STYLES
    2.1 HEADER LEFT
    2.2 HEADER RIGHT SIDE DROPDOWNS
3. LEFT SIDE BAR
4. MAIN WRAPPER STYLES
5. LEFT MENU COLLAPSE STYLES
6. CUSTOM STYLES
7. MEDIA QUERIES

*/

/*****  1.RESET STYLES  *****/
html {
    background: none repeat scroll 0 0 #EEE;
    overflow-x: hidden;
    transition: all 0.25s ease-out;
    font-size: small;
}

body {
    background: none repeat scroll 0 0 #FFF;
    transition: all 0.25s ease-out;
    font-size: small;
    letter-spacing: 0.5px;
    // overflow-x: hidden !important;
    padding-right: 0px !important;
}
.modal-open,.swal2-in{
    padding-right: 0 !important;
}
ul {
    list-style: none;
}

p {
    line-height: 20px;
}

label {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
}
/******  2.HEADER STYLES   ******/
@import 'header';
@import 'right_side_bar';
/* Define 2 column template */
.left-aside,
.right-aside {
    padding: 0;
    display: table-cell;
    vertical-align: top;
}

.wrapper.hide_menu > .left-aside {
    display: block ;
}
@media (max-width: 992px) {
    .wrapper > .right-aside {
        width: 100vw;
        min-width: 100vw;
    }
}
@media(min-width: 320px) and(max-width:425px) {
    .wrapper > .right-aside {
        padding-top: 0;
    }
}

/******* 2.1 HEADER LEFT ******/
/*side bar nav */
.sidebar {
    display: block;
    width: 300px;
}

.content {
    display: block;
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 15px;
}
/* left side profile css */
.nav_profile{
    margin-bottom: 4px;
}
.nav_profile .profile-left {
    padding: 7px 15px 9px;
    min-height: 85px;
    border-bottom: 1px solid #EEE;
}

.nav_profile .profile-left .profile-thumb {
    border-radius: 50px;
    display: inline-block;
    padding-top: 15px !important;
}

.nav_profile .profile-left .media-heading {
    line-height: 20px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 15px;
    color: #2E576B;
}

.nav_profile .profile-left .profile-thumb img {
    width: 54px;
}
body > #app .header .navbar-nav .dropdown-toggle img{
    margin-top: 5px;
}
body > #app .header .navbar-nav .user-dropdown .dropdown-toggle{
    padding-top: 5px;
}
.user-dropdown .dropdown-menu.show{
    top:-2px !important;
}
/******* 2.2 HEADER RIGHT SIDE DROPDOWNS  *****/
/*
   Dropdown menus
----------------------------
*/
.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2300;
}
/*=== Left menu ===*/
@import 'left_menu';
/********* 4. MAIN WRAPPER STYLES *********/
.wrapper:after,
.wrapper:before {
    display: table;
    content: " ";


}

.wrapper:after {
    clear: both;
}

.wrapper {
    display: table;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    min-height: 100vh !important;
}
/****** wrapper RIGHT SIDE  *******/
.right-aside {
    padding: 0 10px 10px 10px;
    width: 100%;
    max-width: 100%;
}

.right-aside > .content-header {
    margin: -2px -10px 25px;
    height: 65px;
    background: #f9fcff ;
    box-shadow: 0 0 18px #E5E5E5;

    > h1 {
        margin: 2px;
        padding-left: 13px;
        padding-top: 8px;
    }

    .breadcrumb {
        background-color: #f9fcff ;
        padding: 2px 15px 9px;

        .breadcrumb-item a {
            color: #333;
        }
    }
}
@media(max-width:320px){
    .right-aside > .content-header{
        padding: 0px 10px 2px 0;
    }
}

.content-header h1 {
    font-size: 22px;
    line-height: 1.5;
}

.view-port-height {
    height: 100vh;
}

.sidebar-right-opened .background-overlay {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.12);
    z-index: 998;
    transition: background-color 0.3s;
}

/********* END MAIN WRAPPER STYLES *********/
/*********7. CUSTOM STYLES *********/
.progress_task {
    margin-top: 8px;
    margin-bottom: 12px;
}

.progress {
    margin-bottom: 20px;
}

.progress-bar {
    font-size: 10px;
    line-height: 15px;
}

.progress-xs {
    height: 5px;
}

.panel-heading small {
    line-height: 23px;
    font-size: 12px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    background-color: #FFF;
    border-top: 3px solid #6699CC;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: 500;
    margin-top: -2px;
}
// text color white

.text-white {
    color: #FFFFFF;
}

.input-group-addon {
    padding: 5px 12px;
}

.checkbox label,

.radio label,
.radio-inline {
    padding-left: 0;
}

.form-horizontal .checkbox-inline,
.form-horizontal .radio-inline {
    margin-left: 10px;
}
a{
    text-decoration: none !important;
}
.form-control.focus,
.form-control:focus {
    --box-shadow-color: #409EFF;
    border-color: #409EFF;
    box-shadow: 1px 1px 10px var(--box-shadow-color) !important;
}
// ui_elements page buttons code

.rounded {
    border-radius: 20px;
    padding: 7px 20px;
}

.btn-white {
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
}
//form section ends here
// alerts page css

.btn-block {
    display: block;
    width: 100%;
}

.alert-success {
    background-color: #e0f4e9;
    border-color: #75D1A3;
    color: #75D1A3;
}

.alert-warning {
    background-color: #fffdcc;
    border-color: #FFCE56;
    color: #FFBF23;
}

.swal2-modal.swal2-show {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
}
// end of alerts page css
/*
Customized Bootstrap toastr
*/
.checkbox,
.radio {
    display: inline;
    min-height: 0;
}

div.checker,
div.radio {
    margin-right: 0;
    margin-left: 3px;
}

div.button,
div.checker,
div.selector,
div.uploader {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.resize_vertical {
    resize: vertical;
}

.input-group-addon {
    border: 1px solid #CCC;
}
.nav-tabs .nav-link.active{
    border-top:3px solid #6699cc;
}
/* layout css ends*/
/**** 7.MEDIA QUERIES ****/
//end of form_elements page code
@media screen and (min-width: 993px) {
    .left-aside {
        top: 60px;
    }
}
/*Give content full width on xs screens*/
@media screen and (max-width: 992px) {
    .right-aside {
        margin-left: 0;
    }
}
@media screen and (max-width: 560px) {
    .right-aside {
        padding:10px;
    }
}
@media screen and (max-width: 560px) {
    .navbar .navbar-nav > li {
        float: left;
    }

    .navbar-nav {
        margin: 30px;
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
}



/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
    .navbar-nav > .notifications-menu > .dropdown-menu,
    .navbar-nav > .user-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: -60px;
        left: auto;
        background: #FFFFFF;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu {
        width: 295px;
    }

    .navbar-nav > .user-menu > .dropdown-menu {
        right: 7px;
        margin-top: 8px;
    }

    .navbar-nav .user-menu .dropdown-menu > li > a {
        padding: 4px 20px;
    }

    .navbar-right .nav > li > a {
        padding: 13px 15px 14px;
    }

    .navbar-right .nav > li > a .black {
        padding-top: 9px;
    }

    .navbar-right .nav > li.notifications-menu > a {
        padding-top: 12px;
        padding-bottom: 14px;
    }

    body > #app .header .navbar .nav > li > a > .label {
        top: 17px;
        right: 13px;
    }
    //form features repeater
    .repeater-btn {
        margin-top: 10px;
    }
}
/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
    .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after {
        border-width: 0;
    }
}
@media screen and (max-width: 560px) {
    body > #app .header .logo,
    body > #app .header .navbar {
        width: 100%;
        float: none;
        position: relative;
        height: initial;
    }

    body > #app .header .navbar {
        margin: 0;
    }

    body > #app .header .navbar .sidebar-toggle {
        padding: 10px 0 0 25px;
    }
}
@media screen and (max-width: 350px) {
    .navbar-nav > .notifications-menu > .dropdown-menu {
        right: -76px;
        margin-top: 7px;
    }
}
@media (min-width: 1440px) and (max-width: 2560px) {
    #menu .menu-dropdown > ul,
    #menu .menu-dropdown-open-ul {
        margin-top: -1px;
    }
}
@media (min-width: 768px) {
    .label_padding {
        padding-right: 32px;
    }
    //form features page
    .repeater-form {
        text-align: center;
    }
}
/****** END MEDIA QUERIES ****/

/*
 *
 * Layouts
 *
 */
/**** Fixed header ****/
body.fixed-header #app {
    .header {
        margin-bottom: 53px;
        @media screen and (max-width: 560px) {
            margin-bottom: 90px;
        }
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        @media screen and (max-width: 560px) {
            position: fixed;
        }
    }
}
/**** Boxed ****/
body.boxed {
    @media (max-width: 992px) {
        .wrapper > .right-aside {
            width: 100vw;
            min-width: 100vw;
        }
    }
    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.fade{
    opacity:1;
}

//****** left menu *****
#menu .navigation .submenu .submenu-content .submenu-content-box a{
    padding: 11px 20px 11px 45px;
}
.submenu.active >.submenu-header{
   /*  background-color: #EEEEEE;
    color:#006ecd !important; */
    background-color: #384951;
    color:#fff !important;
}
.collapse-item.active .vuemenu .submenu-header{
    padding-left: 30px !important;
}

/*vue multi dropdown*/
.mini_height{
    min-height: 800px !important;
}
.user-dropdown .dropdown-menu a:active{
    background-color: #fff;
}

// new inputs
.form-control:active, .input-group .form-control:hover{
    z-index: 0;
}
