.wrapper {
  display: table;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  min-height: 100vh !important;
}

/* right side bar css start */

#right-cart {
  width: 768px;
  z-index: 999;
  position: fixed;
  top: 15%;
  bottom: 15%;
  overflow-y: auto;
  right: -1220px;
  border-bottom: solid 2px #1c2175;
  border-top: solid 2px #1c2175;
  border-left: solid 2px #1c2175;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #fff;
  height: 80%;

  &.open {
    right: 0;
  }

  .nav-tabs > li > a:hover {
    border: 1px solid transparent;
  }

  .card-body {
    padding: 0;
  }
}

.rightsidebar-right {
  padding-top: 0px;
  @media (min-width: 320px) and (max-width: 560px) {
    padding-top: 25px !important;
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .text-muted {
    color: #555;
  }

  .rightsidebar-right-heading {
    background: #fff;
    color: #555;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 0px -20px 0;
    font-size: 15px;
    padding: 15px 20px 15px 15px;
  }
}

.rightslider-p-t {
  padding-top: 0 !important;
}

.margin-none {
  margin: 0;
}

.rightsidebar-contact-wrapper {
  margin: 1px -20px;
  transition: all 0.5s ease;
}

.rightsidebar-contact-wrapper .rightsidebar-contact {
  padding: 15px 20px;
  display: block;
  color: #2e576b;
}

.rightsidebar-contact-wrapper .rightsidebar-contact:hover {
  text-decoration: none;
}

.rightsidebar-notification {
  margin: 1px 0;
  transition: all 0.5s ease;
}

.rightsidebar-notification a {
  padding: 15px 0;
  display: block;
  color: #2e576b;
}

.sidebar-right-opened {
  right: 250px;
}

.sidebar-right-opened #right-cart {
  right: 0;
}

.sidebar-right-opened .background-overlay {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 998;
  transition: background-color 0.3s;
}

.scrollable-content {
  height: 100%;
}

/*rightside bar tabs*/

#right-cart .nav-tabs > li {
  margin-bottom: -3px;
}

#right-cart .nav-tabs > li > a {
  padding: 10px 19px 4px 19px;
  font-size: 23px;
}

#right-cart .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid #ddd;
  color: #555;
  background-color: #fff;
  border-bottom-color: transparent;
  margin-top: -2px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-top: 3px solid #6699cc !important;
}

#slim_t1,
#slim_t2,
#slim_t3 {
  padding-right: 20px;
}

#right-cart #slim_t1 img {
  height: 45px;
}

/*tab 3 settings*/

/*to hide default skin picker*/

#slim_t3 ul {
  padding: 0;
}

//skins css
.setting-color {
  padding: 0 2px;
  margin-bottom: 5px;
}

.setting-color > label {
  display: block;
  position: relative;
  margin: 10px;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
  border: 0;
  box-shadow: 2px 4px 5px #ccc;
  cursor: pointer;
  width: 53px;
  float: left;
}

//active color indication
.setting-color > label.active-color .split .bg-default-clear:after,
.setting-color > label.active-color .split .bg-mint:after,
.setting-color > label.active-color .split .bg-grape:after,
.setting-color > label.active-color .split .bg-lavender:after,
.setting-color > label.active-color .split .bg-pink:after,
.setting-color > label.active-color .split .bg-sunflower:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  height: 22px;
  width: 26px;
  border-radius: 16px;
  border-top: 13px solid #fafafa;
}

.setting-color > label.active-color .split .bg-default-clear:after {
  border-bottom: 13px solid #2e576b;
}

.setting-color > label.active-color .split .bg-mint:after {
  border-bottom: 13px solid #37bc9b;
}

.setting-color > label.active-color .split .bg-grape:after {
  border-bottom: 13px solid #e76f7c;
}

.setting-color > label.active-color .split .bg-lavender:after {
  border-bottom: 13px solid #ac92ec;
}

.setting-color > label.active-color .split .bg-pink:after {
  border-bottom: 13px solid #ec87c0;
}

.setting-color > label.active-color .split .bg-sunflower:after {
  border-bottom: 13px solid #ffce54;
}

.setting-color > label:first-child {
  margin-left: 10px;
}

.setting-color > label:last-child {
  margin-right: 0;
}

.setting-color > label > .color {
  display: block;
  height: 18px;
}

.setting-color > label > .split {
  display: block;
}

.setting-color > label > .split:after,
.setting-color > label > .split:before {
  content: " ";
  display: table;
}

.setting-color > label > .split:after {
  clear: both;
}

.setting-color > label > .split > .color {
  display: block;
  height: 25.5px;
}

.setting-color > label > .split > .color:first-child {
  float: left;
  width: 70%;
}

.setting-color > label > .split > .color:last-child {
  float: right;
  width: 30%;
}

.setting-color > label > input[type="radio"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.bg-default-light {
  background-color: #2e576b;
  color: #fff;
}

.bg-default-clear {
  background-color: #2e576b;
  color: #ebf4e4;
}

.bg-mint-light {
  background-color: #56ccae;
  color: #fff;
}

.bg-mint {
  background-color: #37bc9b;
  color: #ebf4e4;
}

.bg-grape-light {
  background-color: #f4929d;
  color: #fff;
}

.bg-grape {
  background-color: #e76f7c;
  color: #ebf4e4;
}

.bg-lavender-light {
  background-color: #b6a0ec;
  color: #fff;
}

.bg-lavender {
  background-color: #ac92ec;
  color: #ebf4e4;
}

.bg-pink-light {
  background-color: #ee98c8;
  color: #fff;
}

.bg-pink {
  background-color: #ec87c0;
  color: #ebf4e4;
}

.bg-gray {
  background-color: #2e576b;
}

.bg-gray-light {
  background-color: #efefef;
}

.bg-sunflower {
  background-color: #ffce54;
}

.bg-sunflower-light {
  background-color: #ffdd87;
}

/*rightside bar tabs ends*/
#slim_t1 a {
  text-decoration: none;
}

.sidebar-right-opened .background-overlay {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 998;
  transition: background-color 0.3s;
}

@media screen and (max-width: 768px), screen and (max-height: 425px) {
  #right-cart {
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    right: -769px;
    border-bottom: solid 2px #1c2175;
    border-top: solid 2px #1c2175;
    border-left: solid 2px #1c2175;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    height: 100%;

    &.open {
      right: 0;
    }

    .nav-tabs > li > a:hover {
      border: 1px solid transparent;
    }

    .card-body {
      padding: 0;
    }
  }
}
