<template>
  <card title="<i class='ti-notepad'></i> Recibos de caja">
    <div>
      <b-row>
        <div class="col-12 col-sm-6 col-md-3 mt-3">
          <el-date-picker
            v-model="params.filter_date"
            type="daterange"
            id="range_date"
            name="range_date"
            :clearable="false"
            range-separator="a"
            start-placeholder
            end-placeholder
            data-vv-as=" "
            value-format="yyyy-MM-dd"
            style="height: 31.25px !important;"
          ></el-date-picker>
        </div>

        <div class="col-12 col-sm-6 col-md-3 mt-3">
          <b-form-input
            v-model="params.filter_document"
            type="number"
            class="form-control"
            placeholder="CODIGO FACTURA"
            style="height: 31.25px !important;"
          />
        </div>
     
        
        <div class="col-12 col-sm-6 col-md-3 mt-3" v-if="isSeller">
          <b-form-group class="mb-0">
            <el-select
              v-model="params.seller"
              clearable
              filterable
              size="small"
              placeholder="NOMBRE DEL VENDEDOR"
            >
              <el-option
                v-for="item in sellers"
                :key="item.id"
                :label="item.name+ ' ' + item.surname"
                :value="item.id"
              ></el-option>
            </el-select>
          </b-form-group>
        </div>


        <div class="col-12 col-sm-6 col-md-3 mt-3">
          <b-form-group class="mb-0">
            <b-input-group>
              <b-form-input
                id="filter-cash"
                v-model="params.customer"
                placeholder="NOMBRE DEL TERCERO"
              ></b-form-input>
              <b-btn @click="fetchCashReceipts()" id="botones">
                <span class="ti-search"></span>
              </b-btn>
            </b-input-group>
          </b-form-group>
        </div>

      </b-row>
      <div>
        <div class="table-striped table-responsive mt-5">
          <b-table
            responsive
            show-empty
            :items="cashReceipts.data"
            :fields="fields"
            :no-local-sorting="true"
          >
            <template v-slot:cell(detail)="row">
              <i v-b-tooltip.bottom class="fa fa-fw fa-chevron-down" @click="row.toggleDetails"></i>
            </template>

            <template v-slot:cell(consecutive)="row">
              <div class="text-center">RC-{{row.item.consecutive}}</div>
            </template>

            <template v-slot:cell(customer)="row">
              <div>{{row.item.warehouse.contact.name}} {{row.item.warehouse.contact.surname}}</div>
            </template>

            <template v-slot:cell(pay_method_1)="row">
              <div
                v-if="row.item.payment_methods_app[0]"
              >{{row.item.payment_methods_app[0].parameter?row.item.payment_methods_app[0].parameter.name_parameter:''}}</div>
            </template>

            <template v-slot:cell(total_pay_method_1)="row">
              <div
                class="text-right text-nowrap"
              >{{row.item.payment_methods_app[0].total_paid | currency}}</div>
            </template>

            <template v-slot:cell(pay_method_2)="row">
              <div
                v-if="row.item.payment_methods_app[1]"
              >{{row.item.payment_methods_app[1].parameter?row.item.payment_methods_app[1].parameter.name_parameter:''}}</div>
            </template>

            <template v-slot:cell(total_pay_method_2)="row">
              <div
                v-if="row.item.payment_methods_app[1]"
                class="text-right text-nowrap"
              >{{row.item.payment_methods_app[1].total_paid | currency}}</div>
            </template>

            <template v-slot:cell(pay_method_3)="row">
              <div
                v-if="row.item.payment_methods_app[2]"
              >{{row.item.payment_methods_app[2].parameter?row.item.payment_methods_app[2].parameter.name_parameter:''}}</div>
            </template>

            <template v-slot:cell(total_pay_method_3)="row">
              <div
                v-if="row.item.payment_methods_app[2]"
                class="text-right text-nowrap"
              >{{row.item.payment_methods_app[2].total_paid | currency}}</div>
            </template>

            <template v-slot:cell(consignment_id)="row">
              <div class="text-center">{{row.item.consignment_id ? 'SI' : 'NO'}}</div>
            </template>

              <template v-slot:cell(pdf)="row">
              <div class="btn btn-primary" @click="getPdf(row.item)">Descargar PDF
              </div>
            </template>

            <template slot="row-details" slot-scope="row">
              <div class="row">
                <div class="col-md-8 offset-md-2 col-12">
                  <h4 class="text-center">Facturas</h4>
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr style="background-color:#e5f5ff">
                        <th class="text-center">Num-Fact</th>
                        <th class="text-center">Saldo</th>
                        <th class="text-center">Vr Abono</th>
                        <th class="text-center">Dcto PP</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="invoice in row.item.contribution_invoices_app" :key="invoice.id">
                        <td class="text-center">
                          {{ invoice.document.prefix.trim() != '' ? invoice.document.prefix + '-' +
                          invoice.document.consecutive : invoice.document.consecutive }}
                        </td>
                        <td
                          class="text-right text-nowrap"
                        >{{ invoice.document.receivable[0].invoice_balance | currency }}</td>
                        <td class="text-right text-nowrap">{{ invoice.total_paid | currency }}</td>
                        <td
                          class="text-right text-nowrap"
                        >{{ invoice.value_discount_prompt_payment | currency }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div v-if="row.item.observations != null && row.item.observations != ''">
                    <span class="font-weight-bold">Observaciones:</span>
                    {{ row.item.observations }}
                  </div>
                </div>
              </div>
            </template>
          </b-table>
        </div>
        <p>Mostrando {{ cashReceipts.from }} a {{ cashReceipts.to }} de {{ cashReceipts.total }} resultados</p>
        <b-row>
          <b-col md="6" class="my-1">
            <b-pagination
              :total-rows="cashReceipts.total"
              :per-page="30"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="fetchCashReceipts()"
            />
          </b-col>
        </b-row>
      </div>
    </div>

    <preloader v-show="preloader" :mensaje="message_loader"></preloader>
  </card>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
import Card from "../../components/pages/card/card";
import preloader from "./../../components/layout/preloader";

export default {
  data() {
    return {
      fields: [
        { key: "detail", label: "" },
        { key: "creation_date", label: "Fecha" },
        { key: "consecutive", label: "Num-RC" },
        { key: "customer", label: "Cliente" },
        { key: "pay_method_1", label: "Forma pago 1" },
        { key: "total_pay_method_1", label: "Valor" },
        { key: "pay_method_2", label: "Forma pago 2" },
        { key: "total_pay_method_2", label: "Valor" },
        { key: "pay_method_3", label: "Forma pago 3" },
        { key: "total_pay_method_3", label: "Valor" },
        { key: "consignment_id", label: "Consignado" },
         { key: "pdf", label:"Acciones" },
      ],
      message_loader: "Cargando recibos de caja..."
    };
  },
  components: {
    Card,
    preloader
  },
  async mounted() {
    let filter = document.getElementById("filter-cash");
    let interval;
    await this.getSellers();
    await this.fetchCashReceipts();

    filter.addEventListener(
      "keyup",
      () => {
        clearInterval(interval);
        interval = setInterval(() => {
          this.fetchCashReceipts();
          clearInterval(interval);
        }, 500);
      },
      false
    );

    await this.$store.watch(
      () => {
        return this.getParams.filter_date;
      },
      async p => {
        await this.fetchCashReceipts();
      }
    );

    await this.$store.watch(
      () => {
        return this.getParams.filter_document;
      },
      async p => {
        if(p.length>=3){
        await this.fetchCashReceipts();
        }
      }
    ),

     await this.$store.watch(
      () => {
        return this.getParams.seller;
      },
      async p => {
        await this.fetchCashReceipts();
      }
    );
  },
  methods: {
    ...mapActions("cashReceipts", ["fetchCashReceipts",'getPdf']),
    ...mapActions("ordersManagement", ["getSellers"])
  },
  computed: {
    ...mapState("cashReceipts", ["cashReceipts", "params", "preloader"]),
    ...mapState("ordersManagement", ["sellers"]),
    ...mapGetters("cashReceipts", ["getParams"]),

    isSeller(){
      let auth=JSON.parse((localStorage.getItem('user')));
      return auth.get_roles[0].role!='Vendedor';
    }
  }
};
</script>

<style>
.el-date-editor .el-range-separator {
  line-height: 22px !important;
  width: 64px !important;
}

/* responsive selector de fecha*/
@media (min-width: 522px) and (max-width: 665px) {
  .el-date-range-picker {
    width: 509px;
  }

  .el-picker-panel .el-date-range-picker .el-popper {
    left: 4px;
  }
}

@media (min-width: 501px) and (max-width: 521px) {
  .el-picker-panel__content.is-left {
    width: 64% !important;
    padding: 10px 0px 10px 160px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 10px 0px 0px 0px !important;
    width: 36% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

@media (min-width: 361px) and (max-width: 500px) {
  .el-picker-panel__content.is-left {
    width: 100% !important;
    padding: 10px 10px 10px 300px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 10px 10px 10px 300px !important;
    width: 100% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

@media (max-width: 360px) {
  .el-picker-panel__content.is-left {
    width: 100% !important;
    padding: 45px 9px 29px 341px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 0px 9px 29px 341px !important;
    width: 100% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
  width: 100% !important;
}

.el-date-editor .el-range-separator {
  width: 14px !important;
}

.el-range-editor.el-input__inner {
  padding: 3px;
}

.btn-primary{
  background: #007db3 !important;

}


</style>
