<template>
  <card title="<i class='ti-money'></i> Estado Cuenta">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="to" class="mb-0">Cliente</label>
          <span class="text-danger">*</span>
          <el-select
            size="small"
            filterable
            placeholder="busqueda de cliente"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-validate="'required'"
            data-vv-as=" "
            v-model="params.client"
            remote
            :remote-method="_getAllClients"
            :disabled="sendingMail"
          >
            <el-option
              v-for="client in clients"
              :key="client.id"
              :label="
                client.identification +
                  ' - ' +
                  client.name +
                  ' ' +
                  client.surname
              "
              :value="client.id"
            ></el-option>
          </el-select>
        </div>
      </div>

        <div class="col-12 col-sm-4" v-if="this.authenticatedRole!='Vendedor'">
        <div class="form-group">
          <label for="legalrepresentative" class="mb-0">Dirigido a:</label>
          <el-input
            id="legalrepresentative"
            name="legalrepresentative"
            size="small"
            filterable
            placeholder="Representante legal"
            v-model="params.legalrepresentative"

          >

          </el-input>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-group">
          <label for="observation" class="mb-0">Observaciones:</label>
          <textarea
            name="observation"
            id="observation"
            cols="30"
            rows="10"
            class="form-control"
            v-model="params.observation"
          >
          </textarea>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12 row d-flex justify-content-center">
        <button
          class="btn btn-success m-1 col-12 col-sm-3"
          @click="generateFileReceivable"
        >
          Estado de Cuenta
        </button>
        <button
          class="btn btn-warning m-1  col-12   col-sm-3"
          @click="generateNegativeFile"
          v-if="this.authenticatedRole!='Vendedor'"
        >
          Aviso Reporte Negativo
        </button>
        <button
        v-if="this.authenticatedRole!='Vendedor'"
          class="btn btn-danger m-1  col-12  col-sm-3"
          @click="generateFilePrelegal"
        >
          Aviso Cobro Prejuridico
        </button>
      </div>
    </div>

    <!-- MODAL DE  CORREO -->
    <b-modal
      hide-footer
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      id="pdf"
      centered
      size="xl"
      ref="pdf"
      v-model="show_pdf"
    >
      <template v-slot:modal-header="{ close }">
        <!-- Emulate built in modal header close button action -->
        <h4 class="mt-1 mb-0 font-weight-bold align-middle">
          ESTADO CUENTA
        </h4>
        <b-button
          size="sm"
          variant="secondary"
          @click="accessModal(!show_pdf)"
          class="pull-right"
        >
          Cerrar
          <i class="fa fa-close"></i>
        </b-button>
      </template>

      <div class="container-u2">
        <el-collapse v-model="activeCollapse">
          <el-collapse-item name="mail">
            <template slot="title">
              <div class="pl-3">
                <h5 class="font-weight-bold mb-0">
                  <i class="fa fa-envelope"></i> &nbsp; ENVIAR POR CORREO
                </h5>
              </div>
            </template>
            <!-- ENVIO DE CORREO -->
            <b-form data-vv-scope="form-mail" @submit.prevent="validateForm()">
              <div class="row">
                <!-- DESTINO -->
                <div class="col-md-6 col-12">
                  <label for="to" class="mb-0">Destino</label>
                  <el-select
                    id="to"
                    name="to"
                    size="small"
                    filterable
                    multiple
                    data-vv-as=" "
                    placeholder="Seleccione destino"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-validate="'required'"
                    v-model="to"
                    allow-create
                    remote
                    :remote-method="_to"
                    :disabled="sendingMail"
                    @change="validateEmails"
                  >
                    <el-option
                      v-for="mail in mails"
                      :key="mail.email"
                      :label="mail.email"
                      :value="mail.email"
                    ></el-option>
                  </el-select>
                  <span class="text-danger span-error">{{
                    errors.first("form-mail.to")
                  }}</span>
                </div>
                <!-- ASUNTO -->
                <div class="col-md-6 col-12">
                  <label for="asunto" class="mb-0">Asunto</label>
                  <b-form-input
                    type="text"
                    id="subject"
                    name="subject"
                    class="form-control"
                    v-validate="'required'"
                    data-vv-as=" "
                    v-model="paramsEmail.subject"
                    :disabled="sendingMail"
                  ></b-form-input>
                  <span class="text-danger span-error">
                    {{ errors.first("form-mail.subject") }}
                  </span>
                </div>

                <div class="col-12">
                  <label class="mb-0">Mensaje</label>
                  <textarea
                    rows="4"
                    v-model="paramsEmail.body"
                    class="form-control"
                  ></textarea>
                </div>
              </div>

              <!-- BOTONES -->

              <div class="row">
                <div class="col-12 mt-2">
                  <b-button
                    v-if="!sendingMail"
                    type="submit"
                    size="sm"
                    variant="primary"
                    class="pull-right ml-2"
                  >
                    <i class="fa fa-paper-plane"></i> &nbsp; ENVIAR CORREO
                  </b-button>
                  <b-button
                    v-else
                    type="submit"
                    size="sm"
                    variant="primary"
                    class="pull-right ml-2"
                    disabled
                  >
                    <i class="fa fa fa-spinner fa-spin"></i>
                    ENVIANDO CORREO
                  </b-button>
                  <!-- <el-checkbox
                    class="pull-right check-update-email"
                    v-model="updateEmailContact"
                    :disabled="to.length > 1 || sendingMail"
                    >Actualizar correo Cliente / Proveedor</el-checkbox -->
                </div>
              </div>
            </b-form>
          </el-collapse-item>
        </el-collapse>
        <!-- PDF -->
        <div class="row">
          <div class="col-12">
            <iframe
              v-if="show_pdf"
              style="min-height: 700px; width: 100%;"
              :src="pathPdf + '#zoom=130'"
            ></iframe>
          </div>
        </div>
      </div>
    </b-modal>

    <preloader v-show="preloader" mensaje="Cargando..."></preloader>
  </card>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import Card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";
import preloader from "./../../components/layout/preloader";

export default {
  watch:{
    "params.client"(newval){
      this.setContactEmail(newval)
    }
  },
  components: { Card, GridU2, preloader },
  data() {
    return {
      activeCollapse: "other",
      sendingMail: false,
      textFilterSeller: null,
      to: [],
      subject: null,
      body: null,
      loading: true,
      loadFile: false,
      fileImportProduct: [],
      updateEmailContact: false
    };
  },

  beforeMount() {
    let authenticatedRole = JSON.parse((localStorage.getItem('user')));
    this.setAuthenticatedRole(authenticatedRole?authenticatedRole.get_roles[0].role:'');
 },
  methods: {
    ...mapActions("customerAccountStatement", [
        "getPdf",
        "getAllClients",
        'getPdfNegativeValue',
        'pdfPrejuridico',
        'searchMails'
      ]),
    ...mapActions("inventoryMovements", ["sendmail"]),
    ...mapMutations("customerAccountStatement", [
      "setShowPdf",
      "setParamMailTo",
      "setParamDefault",
      "setPreloader",
      'setAuthenticatedRole'
    ]),
    setContactEmail(contact_id){
      let client = this.clients.find(el => el.id == contact_id);
      if (client != undefined) {
        if (client.email != null) {
          this.to = [client.email]
        }
      }
    },
    validateEmails(emails) {
      this.to = this.to.filter(e => {
        return this.validateEmail(e);
      });
    },
    validateEmail(email) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
      }
      return false;
    },
    async validateForm() {
      this.paramsEmail.to = this.to
      await this.$validator.validateAll("form-mail").then(async result => {
        this.sendingMail = true;
        if (result) {
          await this.sendmail(this.paramsEmail).then(response => {
            this.paramsEmail.to = [];
            this.paramsEmail.subject = "";
            this.paramsEmail.body = "";
            this.activeCollapse = "other";
            this.updateEmailContact = false;
          });
        }
        this.sendingMail = false;
      });
    },
    async _to(filter) {
      if (filter.length >= 6) {
        await this.searchMails(filter);
      }
    },
    async _getAllClients(filter) {
      if (filter.length >= 3) {
        await this.getAllClients(filter);
      }
    },
   // pdf cartera
    async generateFileReceivable() {
      if (this.params.client != null && this.params.client != "") {
        this.setPreloader(true);

        //  solucion de fecha
        let date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        let datePrint = "";

        if (month < 10) {
          datePrint = `${year}-0${month}`;
        } else {
          datePrint = `${year}-${month}`;
        }
        if (day < 10) {
          datePrint += `-0${day}`;
        } else {
          datePrint += `-${day}`;
        }

        // seteo el correo del cliente al contenido del email y seteo el asunto por defecto
        let to = this.clients.find(
          response => response.id == this.params.client
        );
        this.paramsEmail.to = [];
        this.paramsEmail.to.push(to ? to.email : null);
        this.paramsEmail.subject =
          "Estado de cuenta " + to.name + " " + to.surname + " - " + datePrint;
        this.paramsEmail.body =
          "Estimado Cliente:" +
          "\n" +
          "A continuación encontrará su estado de cuenta actualizado a la fecha." +
          "\n" +
          "Cualquier inquietud favor comunicarse con nuestro departamento de cartera.";
        await this.getPdf();
        this.setPreloader(false);
        this.setShowPdf(true);
      } else {
        this.$alert("Por favor seleccione un cliente", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        }).then(verifica => {});
      }
    },
// pdf prejuridico
    async generateFilePrelegal() {
      if (this.params.client != null && this.params.client != "") {
        this.setPreloader(true);

        //  solucion de fecha
        let date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        let datePrint = "";

        if (month < 10) {
          datePrint = `${year}-0${month}`;
        } else {
          datePrint = `${year}-${month}`;
        }
        if (day < 10) {
          datePrint += `-0${day}`;
        } else {
          datePrint += `-${day}`;
        }

        // seteo el correo del cliente al contenido del email y seteo el asunto por defecto
        let to = this.clients.find(
          response => response.id == this.params.client
        );
        this.paramsEmail.to = [];
        this.paramsEmail.to.push(to ? to.email : null);
        this.paramsEmail.subject =
          "Aviso Pre jurídico " + to.name + " " + to.surname + " - " + datePrint;
        this.paramsEmail.body =
          "Estimado Cliente:" +
          "\n" +
          "Usted ha sido reportado a Centrales de Riesgo (Data-Crédito)." +
          "\n" +
          "Cualquier inquietud favor comunicarse con nuestro departamento de cartera.";
        await this.pdfPrejuridico();
        this.setPreloader(false);
        this.setShowPdf(true);
      } else {
        this.$alert("Por favor seleccione un cliente", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        }).then(verifica => {});
      }
    },
    //  pdf negativo
     async generateNegativeFile() {
      if (this.params.client != null && this.params.client != "") {
        this.setPreloader(true);

        //  solucion de fecha
        let date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        let datePrint = "";

        if (month < 10) {
          datePrint = `${year}-0${month}`;
        } else {
          datePrint = `${year}-${month}`;
        }
        if (day < 10) {
          datePrint += `-0${day}`;
        } else {
          datePrint += `-${day}`;
        }

        // seteo el correo del cliente al contenido del email y seteo el asunto por defecto
        let to = this.clients.find(
          response => response.id == this.params.client
        );
        this.paramsEmail.to = [];
        this.paramsEmail.to.push(to ? to.email : null);
        this.paramsEmail.subject =
          "Aviso Reporte Negativo " + to.name + " " + to.surname + " - " + datePrint;
        this.paramsEmail.body =
          "Estimado Cliente:" +
          "\n" +
          "Usted será reportado próximamente a Centrales de Riesgo (Data-Crédito)," +
          "\n" +
          "Cualquier inquietud favor comunicarse con nuestro departamento de cartera.";
        await this.getPdfNegativeValue();
        this.setPreloader(false);
        this.setShowPdf(true);
      } else {
        this.$alert("Por favor seleccione un cliente", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        }).then(verifica => {});
      }
    },

    accessModal(value) {
      this.setShowPdf(value);
    }
  },

  computed: {
    ...mapState("customerAccountStatement", [
      "show_pdf",
      "clients",
      "params",
      "file",
      "paramsEmail",
      "pathPdf",
      "preloader",
      'authenticatedRole',
      'mails'
    ])
  }
};
</script>

<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>

<style>
.container-select-warehouse {
  width: 100%;
}

.container-select-warehouse select {
  width: 100%;
}

.u2-modal-size .modal-dialog,
.u2-modal-size .modal-xl {
  /* width: 1300px !important;
  max-width: 1300px !important; */
  width: 100% !important;
}
.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Subir desde Excel";
  color: #fff;
  background-color: #6c9;
  border-color: #6c9;
}

.el-input__inner {
  height: 31.25px; /*Ajusta el alto de los select de element*/
  text-transform: uppercase !important;
}

.pin-table {
  line-height: 0px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

#section_other_parameters {
  width: 200px;
}

.pad {
  padding: 20px !important;
}

#spanInfoDocBase {
  color: #007db3 !important;
  font-size: 16px;
  border: 1px solid #007db3;
  padding: 5px;
}
.check-update-email .el-checkbox__input {
  float: right;
  margin: 5px;
}
</style>
