<template>
    <card title="<i class='ti-layout-list-thumb'></i> Categorias">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-8 col-12">
                        <b-form-group label="Buscar:" class="mb-0">
                            <b-input-group>
                                <b-form-input v-model="params.filter" placeholder="" @keyup.native.enter="setFilterPagination"  style="text-transform: uppercase;" />
                                <b-input-group-append>
                                    <b-btn @click.prevent="filterPagination(params.filter)" id="botones"><span class="ti-search"></span></b-btn>

                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </div>
                    <div class="col-md-8 col-sm-4 col-12">
                        <b-button to="/categorias/crear" id="boton-nuevo" class="button button-rounded button-primary-flat hvr-shrink float-right">
                            Nuevo
                        </b-button>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="table-responsive">
                    <b-table striped hover show-empty
                             :items="categories.data"
                             :fields="fields"
                             :no-local-sorting="true"
                             :sort-by.sync="sortBy"
                             :sort-desc.sync="sort"
                    >
                        <!--Template para cargar las acciones-->
                        <template slot="actions" slot-scope="row" class="text-center">
                            <b-button size="sm" variant="secondary" class="mt-1 button-table" :to="`/categorias/${row.item.id}/ver`">
                                Ver
                            </b-button>
                            <b-button size="sm" id="botones" class="mt-1 button-table" :to="`/categorias/${row.item.id}/editar`">
                                Editar
                            </b-button>
                            <b-button size="sm" variant="danger" class="mt-1 button-table" @click="questionDelete(row.item)">
                                Eliminar
                            </b-button>
                        </template>
                    </b-table>
                </div>
                <p>
                    Mostrando {{categories.from}} a {{categories.to}} de {{categories.total}} resultados
                </p>
                <b-row>
                    <b-col md="6" class="my-1 form-inline">
                        <label>Registros por página: &nbsp;</label>
                        <b-form-select :options="[15, 30, 50,100]" v-model="params.perPage" @change.native="setPerPagePagination"/>
                    </b-col>
                    <b-col md="6" class="my-1">
                        <b-pagination :total-rows="totalRows"
                                      :per-page="params.perPage"
                                      :current-page="params.page"
                                      v-model="params.page"
                                      class="my-0 float-right"
                                      @change="setPagePagination"
                        />
                    </b-col>
                </b-row>
            </div>
        </div>
    </card>

</template>

<script>
    import {mapActions, mapState, mapMutations, mapGetters} from 'vuex'
    import Card from '../../components/pages/card/card'
    import {MessageBox} from 'element-ui';

    export default {
        components: {
            Card
        },
        data() {
            return {
                fields: [
                    {key: 'categorie_code', label: 'Código', sortable: true, thStyle: {width: '100px !important'}},
                    {key: 'description', label: 'Descripción', sortable: true, thStyle: {'min-width': '300px !important'}},
                    {key: 'actions', label: 'Opciones', thStyle: {'min-width': '280px !important', width: '280px !important'}}
                ],
                sortBy: 'name',
                sort: true
            }
        },
        created() {
            this.sortBy = this.params.sortBy
            this.sort = this.params.sort == 'ASC' ? true : false
            this.fetchCategories()

            this.$store.watch(() => {
                return this.getParams.sort
            }, p => {
                this.fetchCategories()
            })

            this.$store.watch(() => {
                return this.getParams.sortBy
            }, p => {
                this.fetchCategories()
            })

            this.setGetCategoryEdit(true)
            this.resetSelectedCategory()
        },
        methods: {
            ...mapActions('categories', [
                'fetchCategories',
                'removeCategory',
                'setFilterPagination',
                'setPerPagePagination',
                'setPagePagination',
                'setSortByPagination',
                'setSortPagination',
                'getCategoryEdit'
            ]),
            ...mapMutations('categories', [
                'setAction',
                'setCategory',
                'resetSelectedCategory',
                'setPerPage',
                'setFilter',
                'setGetCategoryEdit'
            ]),
            questionDelete(category) {
                this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    type: 'warning',
                    customClass:'notification-warning'
                }).then(
                    (result) => {
                        if (result) {
                            this.deleteCategory(category)
                        }
                    }
                ).catch(function (result) {
                })
            },
            deleteCategory(category) {
                this.removeCategory(category)
            },
            filterPagination(filter) {
                this.setFilter(filter)
                this.fetchCategories()
            }
        },
        computed: {
            ...mapGetters('categories', ['getParams']),
            ...mapState('categories', ['categories', 'selectedCategory', 'action', 'params', 'getCategory']),
            totalRows() {
                return this.categories.total
            }
        },
        watch: {
            'sortBy'(newValue, oldValue) {
                this.setSortByPagination(newValue)
            },
            'sort'(newValue, oldValue) {
                this.setSortPagination(newValue ? 'ASC' : 'DESC')
            }
        }
    }
</script>


<!-- boton crear  -->
<style lang="sass">
    @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
