<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <card :title="'<i class=\'fa fa-fw ti-pencil\'> </i> ' + actionSpanish  + ' Categoria'">
          <div style="margin-top:20px" v-if="loader">
            <loader></loader>
          </div>
          <div v-else>
            <div class="row" v-if="tagCategory != ''">
              <div class="col-12">
                <h3 class="text-center" style="font-family: sans-serif; font-weight: bold">
                  <el-tag type="info" class="tag-contact">
                    {{ tagCategory }}
                  </el-tag>
                </h3>
              </div>
            </div>
            <b-tabs pills v-model="tabIndex">
              <!--PESTAÑA INFORMACIÓN GENERAL-->
              <b-tab active title="Categoria" class="mt-3" :title-link-class="errorsCategorya">
                <form @submit.prevent="validateForm()" data-vv-scope="form">
                  <div class="row">
                    <div class="form-group col-sm-6 col-md-3"
                      v-bind:class="errors.has('form.categorie_code') ? 'form-group-error': ''">
                      <label for="categorie_code">Código<span class="text-danger">*</span></label>
                      <input type="text" id="categorie_code" name="categorie_code" class="form-control"
                        v-validate="'required|max:15'" data-vv-as=" " :disabled="disabledInputs"
                        v-model="selectedCategory.categorie_code">
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.categorie_code') }}
                      </span>
                    </div>
                    <div class="form-group col-sm-6 col-md-5"
                      v-bind:class="errors.has('form.description') ? 'form-group-error': ''">
                      <label for="description">Descripción<span class="text-danger">*</span></label>
                      <input type="text" id="description" name="description" style="text-transform: uppercase;"
                        class="form-control" v-validate="'required|max:255'" data-vv-as=" " :disabled="disabledInputs"
                        v-model="selectedCategory.description">
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.description') }}
                      </span>
                    </div>
                  </div>
                </form>
              </b-tab>
              <!--PESTAÑA SUBLINEAS-->
              <b-tab title="Subcategorias" :disabled="disabledTabs">
                <subcategories :disabled-inputs="disabledInputs"></subcategories>
              </b-tab>
            </b-tabs>
            <hr>
            <!--BOTONES DEL FORMULARIO-->
            <div class="form-actions">
              <b-button v-if="tabIndex <= 0 && !disabledInputs" type="button" class="boton-guardar"
                @click="validateForm()">
                <span class="btn-label">
                  <i class="ti-save-alt"></i>
                </span> Guardar
              </b-button>
              <b-button to="/categorias" type="button" variant="secondary" class="float-left"
                @click="clearSelectedCategory">
                <span class="btn-label">
                  <i class="ti-arrow-left"></i>
                </span> Volver
              </b-button>
              <b-button v-if="tabIndex <= 0 && !disabledInputs" type="reset" value="Limpiar"
                class="otro-boton float-left" @click="clearSelectedCategory">
                <span class="btn-label">
                  <i class="ti-eraser"></i>
                  Limpiar
                </span>
              </b-button>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
  // Imports para inputs de fecha del formulario con FlatPicker
  import { MessageBox } from 'element-ui';
  import loader from "./../../components/layout/loader.vue";

  import card from "../../components/pages/card/card.vue"

  //Vuex
  import { mapState, mapActions, mapMutations } from 'vuex';

  import subcategories from "../subcategories/maintenance"

  export default {
    name: "maintenance",
    components: {
      card,
      subcategories,
      loader
    },
    data() {
      return {
        loader: true,
        tabIndex: 0,
        path: '',
        changeTab: false,
      }
    },
    created() {

      if (this.$route.params.id) {
        this.initUpdate('update', this.$route.params.id)
      } else if (this.$route.params.idv) {
        this.initUpdate('view', this.$route.params.idv)
      } else {
        this.setGetCategoryEdit(true)
        this.changeTab = true
        this.setAction('create')
        this.loader = false
      }
    },
    methods: {
      // ----------- GENERAL ---------------//

      async initUpdate(action, id) {
        this.setAction(action)
        await this.getCategory(id)
        this.changeTab = true
        this.loader = false
      },

      clearSelectedCategory() {
        this.resetSelectedCategory()
        this.$validator.reset('form')
      },
      validateForm() {
        this.$validator.validateAll('form').then((result) => {
          if (result) {
            if (this.action == 'create') {
              this.create()
            } else if (this.action == 'update') {
              this.update()
            }
          } else {
            this.$alert("Algunos campos no se registraron correctamente", "Error", {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: 'notification-error'
            }).then(verifica => { });
          }
        });
      },
      async create() {
        await this.addCategory();
        if (!this.error) {
          this.$router.push(`/categorias/${this.selectedCategory.id}/editar`)
          setTimeout(() => {
            this.initUpdate('update', this.selectedCategory.id)
          }, 1000)
        }
      },
      async update() {
        await this.updateCategory()
      },

      ...mapActions('categories', [
        'fetchCategories',
        'addCategory',
        'updateCategory',
        'getCategory',
      ]),
      ...mapActions('subcategories', [
        'fetchSubcategories'
      ]),
      ...mapMutations('categories', [
        'resetSelectedCategory',
        'setAction',
        'setGetCategoryEdit'
      ]),
    },
    computed: {
      ...mapState('categories', [
        'action',
        'selectedCategory',
        'categoryEdit',
        'error',
        'getCategoryEdit'
      ]),
      errorsCategorya() {
        return this.errors.items.filter(i => i.scope == 'form').length > 0 ? 'nav-link-error' : ''
      },
      actionSpanish() {
        switch (this.action) {
          case 'create':
            return 'Crear'
            break
          case 'update':
            return 'Editar'
            break
          case 'view':
            return 'Ver'
            break
        }
      },
      disabledTabs() {
        return this.action == 'create'
      },
      disabledInputs() {
        return this.action == 'view'
      },
      tagCategory() {

        let textTag = this.selectedCategory.categorie_code + '  -  ' + this.selectedCategory.description

        return textTag.length < 7 ? '' : textTag.toUpperCase()
      }
    },
    watch: {
      'tabIndex'(newValue) {
        switch (newValue) {
          case 1:
            this.fetchSubcategories()
            break

        }
      }
    }
  }
</script>

<style>
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background-color: #007db3 !important;
  }

  .nav-link-error {
    border: 1px solid #ff6666 !important;
  }

  .nav-link.active {
    border-top: none !important;
  }

  .nav-link {
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #007db3;
    color: #007db3;
  }

  .nav-link.disabled {
    border: 1px solid #c8cbd6;
    color: #c8cbd6;
  }

  @media(max-width: 400px) {
    .nav-link {
      margin-right: 2px !important;
      padding: 4px 5px;
    }
  }

  .el-input__inner {
    height: 31.25px !important;
  }

  .linea {
    border-color: #007db3;
    border-width: 4px;
    margin-top: 0px !important
  }

  @media (max-width: 450px) {
    .tag-contact {
      font-size: 12px !important;
      font-family: sans-serif !important;
      max-width: 100%;
      text-align: center;
      overflow-x: hidden;
    }
  }
</style>
