<template>
  <card title="<i class='fa fa-doc'></i> Documentos pendientes por enviar">
    <preloader
      v-show="loading"
      :mensaje="messageLoading"
    ></preloader>
    <div class="row">
      <div class="col-12">
        <b-button
          id="boton-nuevo"
          class="button float-right"
          @click="fetchDocuments()"
        >
          <i class="fa fa-refresh"></i> Refrescar
        </b-button>
      </div>
    </div>
    <!-- TABLA -->
    <div class="row">
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <b-table
            striped
            hover
            show-empty
            :items="documents"
            :fields="fields"
          >

            <!--Template para cargar las acciones -->
            <template v-slot:cell(actions)="row">
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="secondary"
                @click="questionSend(row.item)"
              >
                <div class="text-nowrap">
                <i class="fa fa-check"></i> Enviar
                </div>
              </b-button>
            </template>
          </b-table>
        </div>
        <p>
          Mostrando {{documents.length}} documentos
        </p>
      </div>
    </div>

    <!--  Modal de visualizacion de PDF  -->
    <b-modal
      hide-footer
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      id="pdf"
      centered
      size="xl"
      ref="pdf"
      v-model="showPdf"
    >
      <template v-slot:modal-header="{ close }">
        <!-- Emulate built in modal header close button action -->
        <h4 class="mt-1 mb-0 font-weight-bold align-middle" v-if="document">
          {{ document && document.vouchertype ? document.vouchertype.name_voucher_type : ''}}
        </h4>
        <b-button
          size="sm"
          variant="secondary"
          class="pull-right"
          @click="setShowPdf(false)"
        >
          Cerrar
          <i class="fa fa-close"></i>
        </b-button>
      </template>

      <div class="container-u2">
        <!-- PDF -->
        <div class="row">
          <div class="col-12">
            <iframe
              v-if="showPdf && document"
              style="min-height: 700px; width: 100%"
              :src="pathPdf"
            ></iframe>
          </div>
        </div>
      </div>
    </b-modal>

  </card>

</template>

<script>
  import {mapActions, mapMutations, mapState} from 'vuex'
  import Card from '../../components/pages/card/card'
  import Preloader from "../../components/layout/preloader";
  import {getApiDomain} from "../../util/domains";

  export default {
    components: {
      Card,
      Preloader
    },
    data() {
      return {
        fields: [
          {key: 'document_date', label: 'Fecha', sortable: true, thStyle: {width: '150px !important'}},
          {key: 'vouchertype.name_voucher_type', label: 'Tipo de documento', sortable: true, thStyle: {width: '300px !important'}},
          {key: 'consecutive', label: 'Consecutivo', sortable: true, thStyle: {width: '80px !important'}},
          {key: 'contact.name', label: 'Tercero', sortable: true},
          {key: 'actions', label: 'Opciones', thStyle: {'min-width': '110px !important', width: '110px !important'}}
        ]
      }
    },
    created() {
      this.fetchDocuments()
    },
    methods: {
      ...mapActions('sendDocuments', [
        'fetchDocuments',
        'sendDocument'
      ]),
      ...mapMutations('sendDocuments', [
        'setShowPdf'
      ]),
      async questionSend(document) {
        await this.$confirm('¿Esta seguro de que quiere enviar el documento con consecutivo '+ document.consecutive +' y obtener el código CUFE y el QR?', 'Enviar', {
          confirmButtonText: 'Enviar',
          cancelButtonText: 'Cancelar',
          type: 'warning',
          customClass: 'notification-warning'
        }).then(async (result) => {
          if (result) {
            await this.sendDocument(document.id)
          }
        }).catch(function (result) {
        })
      }
    },
    computed: {
      ...mapState('sendDocuments', ['loading', 'documents', 'messageLoading', 'showPdf', 'document']),
      pathPdf() {
        return getApiDomain() + this.document.filename + '#zoom=130';
      }
    }
  }
</script>

<!-- boton crear  -->
<style lang="sass">
  @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>

