<template>
  <card :title="'<i class=\'fa fa-fw ti-pencil\'> </i> Inventario valorizado'">
    <preloader v-show="preloader" mensaje="Generando reporte"></preloader>
    <div class="row">
      <div class="col-md-4">
        <label>Fecha</label>
        <el-date-picker
          :clearable="false"
          size="small"
          value-format="yyyy-MM-dd"
          v-model="params.date"
          type="date"
          placeholder="Seleccione una fecha">
        </el-date-picker>
      </div>
      <div class="col-md-4">
        <label>Sede</label>
        <el-select
          size="small"
          filterable
          v-model="params.branchoffice_id"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos"
          @change="fetchBranchOfficesWarehouses()"
        >
          <el-option
            v-for="(item, index) in branchoffices"
            :key="index"
            :value="item.id"
            :label="item.name"
          ></el-option>
        </el-select>
      </div>
      <div class="col-md-4">
        <label>Bodega</label>
        <el-select
          size="small"
          filterable
          clearable
          :disabled="!params.branchoffice_id || params.branchoffice_id == -2"
          v-model="params.branchoffice_warehouse_id"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos"
        >
          <el-option
            v-for="(item, index) in branchoffices_warehouses"
            :key="index"
            :value="item.warehouse_code"
            :label="item.warehouse_code +' - '+item.warehouse_description"
          ></el-option>
        </el-select>
      </div>
      <div class="col-md-4">
        <label>Linea</label>
        <el-select
          filterable
          clearable
          size="small"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-validate="'required'"
          data-vv-as=" "
          v-model="params.line_id"
        >
          <el-option
            v-for="item in lines"
            :key="item.id"
            :label="item.line_description"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </div>
      <!-- MARCA -->
      <div class="col-md-4">
        <label>Marca</label>
        <el-select
          filterable
          clearable
          size="small"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="params.brand_id"
        >
          <el-option
            v-for="(item) in brands"
            :key="item.id"
            :label="item.description"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </div>
      <div class="col-md-4 ">
        <button class="btn btn-primary float-right mt-4" @click="reportGenerate()">Generar informe</button>
      </div>
    </div>
  </card>
</template>

<script>

  import {mapActions, mapState} from "vuex"
  import Card from '../../components/pages/card/card'
  import Preloader from '../../components/layout/preloader'

  export default {
    name: "index",
    components: {
      Card,
      Preloader
    },
    created() {
      this.fetchBranchOffices()
      this.fetchLines()
      this.fetchBrands()
      this.fetchBranchOfficesWarehouses()
    },
    computed: {
      ...mapState('inventoryReport', ['params', 'branchoffices', 'branchoffices_warehouses', 'lines', 'brands', 'preloader'])
    },
    methods: {
      ...mapActions('inventoryReport', ['reportGenerate', 'fetchBranchOffices', 'fetchBranchOfficesWarehouses', 'fetchLines', 'fetchBrands'])
    }
  }
</script>

<style>
  .el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 100%;
  }

  label{
    margin: 5px 0px 0px 0px
  }
</style>
