<template>
  <card title="<i class='ti-angle-down'></i> Crear Solicitud de servicios">
    <b-form
      data-vv-scope="form"
      @submit.prevent="validateForm()"
    >
      <!-- TIPO DE SOLICITUD / CLIENTE  -->
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="type_service">Tipo de solicitud </label>
          <el-select
            id="type_service"
            placeholder="Seleccione Tipo de solicitud"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.type"
          >
            <el-option
              v-for="type in types"
              :key="type.id"
              :label="type.name"
              :value="type.id"
            >
            </el-option>
          </el-select>
        </div>

        <div class="col-12 col-md-6">
          <label for="contact_id">Cliente</label>
          <el-select
            id="contact_id"
            filterable
            placeholder="Seleccione Cliente"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.contactsWarehouse"
            remote
            :remote-method="filterText"
            @change="selectedSellerContact"
          >
            <el-option
              v-for="(contactsWarehouse, index) in contactsWarehouses"
              :key="index"
              :label="
                contactsWarehouse.contact.identification 
                + '-' + 
                  contactsWarehouse.code 
                  + ' ' +
                  contactsWarehouse.description
              "
              :value="contactsWarehouse.id"
            >
            </el-option>
          </el-select>
        </div>
      </div>

      <!-- VENDEDOR -->
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <label for="seller">vendedor</label>

          <el-select
            id="seller"
            filterable
            placeholder="Seleccione vendedor"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.seller"
            remote
            :remote-method="_seller"
            :disabled="disabledSeller"
          >
            <el-option
              v-for="seller in sellers"
              :key="seller.id"
              :label="
                seller.identification +
                  ' - ' +
                  seller.name +
                  ' ' +
                  (seller.surname ? seller.surname : '')
              "
              :value="seller.id"
            >
            </el-option>
          </el-select>
        </div>
      </div>

      <!-- LOTE / FECHA VENCIMIENTO -->
      <div
        class="row"
        v-if="viewLot"
      >
        <div class="col-6">
          <label for="lot">Lote</label>

          <b-form-input
            type="text"
            id="lot"
            name="lot"
            class="form-control"
            data-vv-as=" "
            v-model="params.lot"
          ></b-form-input>
        </div>
        <div class="col-6">
          <label for="due_date">Fec-Vencimiento</label> <br />
          <el-date-picker
            id="due_date"
            class=" picker"
            v-model="params.due_date"
            type="date"
            size="small"
            format="yyyy/MM/dd "
            value-format="yyyy-MM-dd"
          >
          </el-date-picker>
        </div>
      </div>

      <!-- PRODUCTO / VR UNIT-->
      <div class="row my-4">
        <div
          v-if="params.type != 4"
          class="col-12 col-md-6"
        >
          <label for="product">Producto</label>
          <el-select
            v-model="params.product"
            filterable
            id="product"
            placeholder="Seleccione producto"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            remote
            :remote-method="searchProducts"
          >
            <el-option
              v-for="product in products"
              :key="product.id"
              :value="product.id"
              :label="product.code + ' - ' + product.description"
            ></el-option>
          </el-select>
        </div>

        <!-- <div
          class="col-12 col-md-6"
          v-if="params.type != 1"
        >
          <label for="unit_value">Vr Unitario</label>

          <b-form-input
            type="number"
            id="unit_value"
            name="unit_value"
            class="form-control"
            data-vv-as=" "
            v-model="params.unit_value"
            size="lg"
          ></b-form-input>
        </div> -->
      </div>

      <!-- NUMERO DE BATERIAS (CHATARRA) -->
      <div
        class="row my-4"
        v-if="params.type === 4"
      >
        <div class="col-12 col-md-6">
          <label for="number_batteries">Numero de Baterias</label>

          <b-form-input
            type="number"
            id="number_batteries"
            name="number_batteries"
            class="form-control"
            data-vv-as=" "
            v-model="params.number_batteries"
          ></b-form-input>
        </div>
      </div>

      <!-- OBSERVACION -->
      <div class="row">
        <div class="col-12">
          <label
            class="label-input"
            for="observation"
          >Observacion autorizado</label>

          <b-form-textarea
            id="observation"
            v-model="params.observation"
            placeholder="Ingrese una observacion..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </div>
      </div>

      <!-- Botones -->
      <div class="form-actions">
        <div class="row">
          <div class="col-12">
            <b-button
              to="/solicitud-encabezado"
              type="button"
              variant="secondary"
              class="float-left"
            >
              <span class="btn-label">
                <i class="ti-arrow-left"></i>
              </span>
              Volver
            </b-button>

            <b-button
              type="submit"
              class="boton-guardar"
            >
              <span class="btn-label">
                <i class="ti-save"></i>
              </span>
              Guardar
            </b-button>

            <b-button
              type="reset"
              value="Limpiar"
              class="otro-boton float-left"
            >
              <span class="btn-label">
                <i class="ti-eraser"></i>
                Limpiar
              </span>
            </b-button>
          </div>
        </div>
      </div>
    </b-form>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    Card,
    GridU2
  },
  data () {
    return {
      columnsPU: [],
      viewLot: false,
      disabledSeller: false
    };
  },
  watch: {
    "params.type" (newval) {
      if (newval == 1 || newval == 2) {
        this.viewLot = true;
      } else {
        this.viewLot = false;
      }
    }
  },
  methods: {
    ...mapActions("requestService", [
      "fetchContactsWarehouse",
      "fetchsellers",
      "fetchContacts",
      "searchProducts",
      "fetchTypes",
      "createRequest"
    ]),
    changeRow () { },

    _seller (filter) {
      this.fetchsellers(filter);
    },

    async filterText (filter) {
      this.fetchContactsWarehouse({
        paginate: false,
        filter: filter
      });
    },

    validateForm () {
      let validation = true;

      // Validamos el tipo
      if (!this.params.type) {
        validation = false;
      }

      // Validamos el conatct
      if (!this.params.contact) {
        validation = false;
      }

      // Validamos el seller
      if (!this.params.seller) {
        validation = false;
      }

      // Validamos el producto
      if (this.params.type !== 4) {
        if (!this.params.product) {
          validation = false;
        }
      }

      if (validation) {
        this.params.user = JSON.parse(localStorage.getItem("user")).id;
        this.createRequest();
      } else {
        this.$alert("Debe llenar todos los campos", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "order-box"
        }).then(verifica => { });
      }
    },

    selectedSellerContact (contact_Warehouse_id) {
      let contactsWarehouse = this.contactsWarehouses.find(
        c => c.id === contact_Warehouse_id
      );

      if (contactsWarehouse) {
        this.sellers.push(contactsWarehouse.seller);
        this.params.seller = contactsWarehouse.seller.id;
        this.params.contact = contactsWarehouse.contact.id;
        this.disabledSeller = true;
      } else {
        this.disabledSeller = false;
      }
    }
  },

  created () {
    this.fetchTypes();
  },
  computed: {
    ...mapState("requestService", [
      "contactsWarehouses",
      "columns",
      "item",
      "params",
      "sellers",
      "paramsquery",
      "contacts",
      "products",
      "types"
    ])
  }
};
</script>

<style>
.modal-backdrop {
  opacity: 0.3 !important;
}

.table-selected {
  background: #cbe7f8 !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
.table-component .b-table > thead th {
  background-color: #6699cc;
  color: white;
}
.table-component .b-table > tbody td {
  color: #000;
}
.table-component .b-table > tbody tr:hover {
  background: #fff;
  color: #000;
}
.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
.modal-header {
  background: #007db3 !important;
  color: #fff;
}
.table-order .b-table > thead th {
  background-color: #6699cc !important;
  color: white !important;
}

.content-detail table.table-products > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table.table-products > tbody td {
  background-color: #fff;
}
</style>

<style scoped>
.btn-icon-detail {
  cursor: pointer;
}
.btn-icon-detail:hover {
  opacity: 0.6;
}

.btn-link-client {
  /*color: rgb(148, 148, 148);*/
  color: #146f95ea !important;
}
.btn-link-client:hover {
  /*color: #000;*/
  color: #3b5998 !important;
}
.title-proces {
  text-align: center;
}
.border-left {
  width: 100%;
  border-left: solid;
  border-width: 1px;
}
.picker {
  width: 100% !important;
}
</style>
<style src="../../assets/css/timeline.css"></style>
