<template>
  <card title="<i class='ti-angle-down'></i> Solicitud de servicios">
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">
        <b-button
          to="/solicitud-encabezado/crear"
          id="boton-nuevo"
          class="button button-rounded button-primary-flat hvr-shrink float-right"
        >Nuevo</b-button>
      </div>
    </div>
    <!-- TABLA -->
    <div class="row">
      <div class="col-12 mt-3">
        <RequestServiceTable />
      </div>
    </div>
  </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import { MessageBox } from 'element-ui';

// components
import Card from '../../components/pages/card/card';
import GridU2 from "../../components/u2/grid";
import RequestServiceTable from "../../components/request-services/RequestServiceTable";

export default {
  components: {
    Card,
    GridU2,
    RequestServiceTable,
  },
  data () {
    return {
      columnsPU: [],
    }
  },

  methods: {
    ...mapActions('discount', ['fetchDiscounts', 'deleteDiscount']),
    changeRow () {

    },


    questionDelete (item, row) {
      this.$confirm('Esto eliminara de forma permanente el registro. ¿Desea continuar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        (result) => {
          if (result) {
            this.deleteDiscount(item.id)
            this.fetchDiscounts()
          }
        }
      ).catch(function (result) {
      })
    },

  },

  created () {
    this.fetchDiscounts()
  },
  computed: {
    ...mapState('requestService', ['columns', 'item', 'params'])
  },
}
</script>


<style>
.modal-backdrop {
  opacity: 0.3 !important;
}

.table-selected {
  background: #cbe7f8 !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
.table-component .b-table > thead th {
  background-color: #6699cc;
  color: white;
}
.table-component .b-table > tbody td {
  color: #000;
}
.table-component .b-table > tbody tr:hover {
  background: #fff;
  color: #000;
}
.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
.modal-header {
  background: #007db3 !important;
  color: #fff;
}
.table-order .b-table > thead th {
  background-color: #6699cc !important;
  color: white !important;
}

.content-detail table.table-products > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table.table-products > tbody td {
  background-color: #fff;
}
</style>

<style scoped>
.btn-icon-detail {
  cursor: pointer;
}
.btn-icon-detail:hover {
  opacity: 0.6;
}

.btn-link-client {
  /*color: rgb(148, 148, 148);*/
  color: #146f95ea !important;
}
.btn-link-client:hover {
  /*color: #000;*/
  color: #3b5998 !important;
}
.title-proces {
  text-align: center;
}
</style>
<style src="../../assets/css/timeline.css"></style>
