<template>
  <div>
    <div class="row row-without-margin">
      <!-- MENU LATERAL IZQUIERDO -->
      <div class="col-lg-3 offset-lg-1 col-md-4 d-none d-md-block">
        <!--   <span class="line"></span> -->
        <div class="tienda-title my-4">{{ user_b2b.branchoffice.name }}</div>
        <div>
          <div class="card" id="seller">
            <div class="card-body" v-if="user_b2b.seller != null">
              <h5 class="tarjeta-title">Información Vendedor</h5>
              <div class="row">
                <div class="col-sm-3">
                  <img
                    :src="domain  + '/storage/contacts/employees/default.jpg'"
                    alt="vendedor"
                    class="rounded-circle vendedor"
                  />
                </div>
                <div class="col-sm-9">
                  <ul class="vendedor-item">
                    <li>{{ user_b2b.seller.name }} {{ user_b2b.seller.surname }}</li>
                    <li>{{ user_b2b.seller.email }}</li>
                    <!-- <li v-if="user">{{ user.email }}</li> -->
                    <li>
                      <a :href="'tel:' + user_b2b.seller.main_telephone">
                        <img class="icon-sell" src="../../assets/img/b2b/contacto/llamar.png" alt/>
                      </a>

                      <a :href="'mailto:' + user_b2b.seller.email">
                        <img class="icon-sell" src="../../assets/img/b2b/contacto/email.png" alt/>
                      </a>

                      <a
                        :href="
                          'https://api.whatsapp.com/send?phone=+57' +
                            user_b2b.seller.cell_phone
                        "
                        target="_blank"
                      >
                        <img class="icon-sell" src="../../assets/img/b2b/contacto/whatsapp.png" alt/>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body" v-else>
              <h5 class="tarjeta-title">Sin vendedor asignado</h5>
            </div>
          </div>
          <b-card class="filter-card" style="width:auto">
            <span class="tarjeta-title">Lineas</span>
            <el-select v-model="params.filter_lines"
                       multiple
                       filterable
                       @remove-tag="deleteTags"
                       placeholder="Seleccione una Linea"
                       no-data-text="Cargando datos..."
                       no-match-text="No hay datos que coincidan"
                       @focus="fetchLines()"
            >
              <el-option v-for="line in lines"
                         :key="line.value"
                         :value="line.value"
                         :label="line.label"
              ></el-option>
            </el-select>
          </b-card>
          <b-card class="filter-card" style="width:auto">
            <span class="tarjeta-title">Sublineas</span>
            <el-select
              v-model="params.filter_sublines"
              multiple
              filterable
              @remove-tag="deleteTags"
              placeholder="Seleccione una linea"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              @focus="fetchSublines()"
            >
              <el-option
                v-for="subline in sublines"
                :key="subline.value"
                :value="subline.value"
                :label="subline.label"
              ></el-option>
            </el-select>
          </b-card>
          <b-card class="filter-card" style="width:auto">
            <span class="tarjeta-title">Marcas</span>
            <el-select
              v-model="params.filter_brands"
              multiple
              filterable
              id="brand"
              @remove-tag="deleteTags"
              placeholder="Seleccione una marca"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              @focus="fetchBrand()"
            >
              <el-option
                v-for="brand in brands"
                :key="brand.value"
                :value="brand.value"
                :label="brand.label"
              >
                <span style="float: left;">{{ brand.label }}</span>
                <span style="float: right;">
                  <img
                    :src="domain + '/storage/brands/default.png'"
                    alt="Logo Marca"
                    style="width: 48px; height: 30px;"
                  />
                </span>
              </el-option>
            </el-select>
          </b-card>
          <b-card class="filter-card" style="width:auto">
            <span class="tarjeta-title">Submarcas</span>
            <el-select
              v-model="params.filter_subbrands"
              multiple
              filterable
              placeholder="Seleccione un grupo"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              @focus="fetchSubbrands()"
            >
              <el-option
                v-for="subbrand in subbrands"
                :key="subbrand.value"
                :value="subbrand.value"
                :label="subbrand.label"
              ></el-option>
            </el-select>
          </b-card>
        </div>
      </div>

      <!-- MAIN -->
      <div class="col-lg-7 col-md-8 col-sm-12 mt-3">
        <!-- SECCION DE BUSQUEDA -->
        <div class="row">
          <div class="mb-2 col-12">
            <b-input-group>
              <b-form-input
                autofocus
                v-model="params.filter"
                placeholder="Busqueda del producto"
                style="text-transform: uppercase;"
                @keyup.enter="setFilterPagination"
              />
              <b-input-group-append>
                <b-btn @click.prevent="filterPagination(params.filter)" id="bot">
                  <span class="ti-search"></span>
                </b-btn>
              </b-input-group-append>
            </b-input-group>
          </div>

          <!-- BUSCADOR POR REFERENCIAS -->
          <div class="mb-2 col-lg-6" v-if="false">
            <b-input-group>
              <b-form-input
                v-model="params.reference"
                placeholder="Busqueda por Referencia"
                style="text-transform: uppercase;"
                @keyup.native="setFilterReference"
              />
              <b-input-group-append>
                <b-btn @click.prevent="filterReference(params.reference)" id="bot">
                  <span class="ti-search"></span>
                </b-btn>
              </b-input-group-append>
            </b-input-group>
          </div>

          <div class="col-md-7 col-sm-12">
            <!-- BOTON SOLO PROMOCIONES -->
            <el-checkbox class="input-only-promotions" v-model="params.only_promotions">
              <img src="../../assets/img/b2b/llama.png" class="llama"/>
              Solo Promociones
            </el-checkbox>
          </div>

          <div class="col-md-5 col-sm-12">
            <b-button
              to="/b2b/asistente-reposicion"
              class="asistente pull-right"
            >Asistente de Reposición
            </b-button>
          </div>
        </div>

        <!-- LOADER -->
        <div v-if="loaderPage" style="padding:63px 250px 13px">
          <vcl-facebook></vcl-facebook>
          <div style="padding: 20px 0"></div>
          <vcl-facebook></vcl-facebook>
          <div style="padding: 20px 0"></div>
          <vcl-facebook></vcl-facebook>
        </div>

        <!-- MENSAJE DE NO HAY PRODUCTOS -->
        <div v-else-if="!products.data.length">
          <div class="card">
            <div class="card-body no-products">NO SE ENCONTRARON PRODUCTOS</div>
          </div>
        </div>

        <!-- SECCION DE PRODUCTOS -->
        <div v-else>
          <div v-for="prod in products.data" :key="prod.id" class="product_box">
            <b-card no-body class="overflow-hidden">
              <div class="row">
                <!-- IMG -->
                <div class="col-12 col-md-3 col-lg-2 text-center align-middle product_image">
                  <router-link :to="`/b2b/${prod.id}/detalle`" class="a-image">
                    <img :src="getPathImage(prod)" alt="product image" class="img-prod ml-3"/>
                  </router-link>
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                  <div class="row">
                    <!-- DESCRIPCION -->
                    <div class="col-12">
                      <div class="row p-3 mb-3 mt-5">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-6">
                          <div class="section-description">
                            <div class="product-brand">
                              <span>{{descriptionProduct(prod)}}</span>
                            </div>
                            <div class="product-description text-justify">
                              <router-link v-if="prod.description"
                                           :to="`/b2b/${prod.id}/detalle`"
                              >
                                {{ prod.description }}
                              </router-link>
                            </div>
                          </div>
                        </div>

                        <div class="col-4 col-md-4 col-lg-4 col-xl-2">
                          <div class="product-item">Precio Und</div>
                          <strong>
                            <div
                              class="desc text-justify text-center text-nowrap"
                            >{{ prod.price.price | currency }}
                            </div>
                          </strong>
                        </div>

                        <div class="col-4 col-md-3 col-lg-4 col-xl-2">
                          <div class="product-item">Cant</div>
                          <div
                            class="input-group-prepend ml-2"
                            style="text-align: center;justify-content: center;"
                          >
                            <b-button class="btn-cant" @click.prevent="resta(prod)">-</b-button>
                            <input
                              type="number"
                              v-model="prod.quantity"
                              @input="newCant(prod)"
                              class="form-control cant-cat input-cant"
                            />
                            <b-button class="btn-cant" @click.prevent="suma(prod)">+</b-button>
                          </div>
                        </div>

                        <div class="col-4 col-md-4 col-lg-4 col-xl-2">
                          <div class="product-item">Total</div>
                          <strong>
                            <div class="desc text-justify text-center text-nowrap">
                              {{
                              ((prod.quantity == "" ? 1 : prod.quantity) *
                              prod.price.price)
                              | currency
                              }}
                            </div>
                          </strong>
                        </div>
                      </div>
                    </div>

                    <!-- COLLAPCE -->
                    <div class="col-lg-12">
                      <el-collapse accordion>
                        <el-collapse-item>
                          <!-- BOTONES -->
                          <template slot="title">
                            <div class="row w-100">
                              <!-- DISPONIBILIDAD -->
                              <div class="col-2 btn-disponibilidad">
                                <!--span class="ml-2">Información</span-->
                                <button
                                  @click.prevent="openModalAvailable(prod.id)"
                                  class="btn-cant-dis ml-2"
                                >
                                  <div v-if="prod.inventory[0]">
                                    <span v-if="prod.inventory[0].available < 49">
                                      Disponible
                                      {{
                                      prod.inventory[0].available > 0
                                      ? prod.inventory[0].available
                                      : 0
                                      }}
                                    </span>
                                    <span v-else>
                                      Disponible
                                      {{
                                      prod.inventory[0].available > 50
                                      ? "50 +"
                                      : "50 +"
                                      }}
                                    </span>
                                  </div>
                                  <div v-else>Disponible 0</div>
                                </button>
                              </div>

                              <div class="col-12 col-md-12 col-lg-10">
                                <div class="float-right">
                                  <!-- PROMOCIONES -->
                                  <button
                                    @click.stop="_getModalPromotions(prod)"
                                    class="promotions-button"
                                    v-if="prod.product_has_promotions.length"
                                    :disabled="lockPromotions"
                                    size="sm"
                                  >
                                    <i v-if="prod.gettingPromotions" class="fa fa-spinner fa-spin"></i>
                                    <i v-else class="fa fa-tag"></i>
                                    PROMOCIONES
                                  </button>

                                  <!-- AGREGAR AL CARRITO -->
                                  <button class="boton-carrito" @click.stop="agregarCarrito(prod)" :disabled="lockAdd">
                                    <i v-if="prod.adding" class="fa fa-spinner fa-spin"></i>
                                    <span v-else class="ti-shopping-cart"></span>
                                    AGREGAR
                                  </button>

                                  <!-- ELIMINAR -->
                                  <button
                                    v-if="agregadoCart(prod)"
                                    class="btn-delete-item-card"
                                    @click.stop="eliminarProdCar(prod)"
                                  >
                                    <span class="fa fa-trash"></span>
                                  </button>

                                  <!--span class="btn-disponibilidad">Información</span-->
                                </div>
                              </div>
                            </div>
                          </template>

                          <!-- BODY -->
                          <div class="row w-100">
                            <div class="col-12 p-4">
                              <div>{{ prod.long_description }}</div>

                              <div class="row">
                                <!-- REFERENCIA -->
                                <div class="col-6 col-sm-2">
                                  <h6 class="vendedor-item">Referencia</h6>
                                </div>

                                <div class="col-6 col-sm-4">{{ prod.code }}</div>

                                <!-- LINEA -->
                                <div class="col-6 col-sm-2">
                                  <h6 class="vendedor-item">Linea</h6>
                                </div>

                                <div class="col-6 col-sm-2">{{ prod.line.line_description }}</div>
                              </div>

                              <div class="row">
                                <!-- MARCA -->
                                <div class="col-6 col-sm-2">
                                  <h6 class="vendedor-item">Marca</h6>
                                </div>

                                <div
                                  class="col-6 col-sm-4"
                                  v-if="prod.brand"
                                >{{ prod.brand.description }}
                                </div>

                                <!-- SUBLINEA -->
                                <div class="col-6 col-sm-2">
                                  <h6 class="vendedor-item" v-if="prod.subline">Sublinea</h6>
                                </div>

                                <div
                                  class="col-6 col-sm-4"
                                  v-if="prod.subline"
                                >{{ prod.subline.subline_description }}
                                </div>
                              </div>

                              <div class="row">
                                <!-- MARCA -->
                                <div class="col-5 col-sm-6">
                                  <h6 class="vendedor-item">Link del Fabricante</h6>
                                </div>

                                <div class="col-5 col-sm-6">
                                  <a
                                    :href="
                                      `${prod.products_technnical_data.link_manufacturer_one}`
                                    "
                                  >
                                    {{
                                    prod.products_technnical_data
                                    .link_manufacturer_one
                                    }}
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </el-collapse-item>
                      </el-collapse>
                    </div>

                    <!-- DISPONIBILIDAD SM -->
                    <span
                      @click="openModalAvailable(prod.id)"
                      class="disponibilidad-sm my-2 mr-5 float-right"
                    >
                      <div v-if="prod.inventory[0]">
                        <span v-if="prod.inventory[0].available < 49">
                          Disponible
                          {{
                          prod.inventory[0].available > 0
                          ? prod.inventory[0].available
                          : 0
                          }}
                        </span>
                        <span
                          v-else
                        >Disponible {{ prod.inventory[0].available > 50 ? "50 +" : "50 +" }}</span>
                      </div>
                      <div v-else>Disponible 0</div>
                    </span>
                  </div>
                </div>
              </div>
            </b-card>
          </div>
        </div>

        <!-- PAGINACION -->
        <b-row class="paginador">
          <b-col md="12" class="my-1">
            <b-pagination
              :total-rows="totalRows"
              per-page="15"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="setPagePagination"
            />
          </b-col>
        </b-row>

        <!-- MODAL DE PROMOCIONES -->
        <div class="modal-xl-promotions">
          <b-modal
            id="modal-promotions"
            v-model="showPromotionsModal"
            size="xl"
            centered
            scrollable
            no-close-on-esc
            no-close-on-backdrop
            hide-header-close
          >
            <template v-slot:modal-header>
              <h5>
                <b>Promociones!</b>
              </h5>
            </template>

            <Promotions
              @finalizePromotion="_addPromotionToCart"
              :product_seleted="selectedProduct"
              :loadAddCart="loadAddCart"
              :labelButton="labelButtonPromotion"
            />

            <template v-slot:modal-footer="{ close }">
              <b-button class="btn-secondary" @click="setShowPromotionsModal(false)">Cancelar</b-button>
            </template>
          </b-modal>
        </div>

        <!-- MODAL DE DISPONIBILIDAD POR PRODUCTO -->
        <ModalDetailAvailableProductInBranchoffice
          v-if="modalAvailable.state"
          @closeModal="closeModalAvailable()"
          :isVisible="modalAvailable.state"
          :product_id="modalAvailable.product_id"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState, mapActions, mapMutations, mapGetters} from "vuex";
  import {VclFacebook} from "vue-content-loading";
  import {timeout} from "q";
  import GridU2 from "../../components/u2/grid";
  import Promotions from "../../components/promotions/Promotions";
  import ModalDetailAvailableProductInBranchoffice from "../layout/ModalDetailAvailableProductInBranchoffice";
  import {getApiDomain} from '../../util/domains';


  export default {
    name: "products",
    components: {
      VclFacebook,
      GridU2,
      Promotions,
      ModalDetailAvailableProductInBranchoffice,
    },
    data() {
      return {
        domain: getApiDomain(),
        modalAvailable: {
          state: false,
          product_id: null,
        },
        search: "",
        activeIndex: "1",
        tags: [],
        arr: [],
        columns_grid_promotions: [],
        columns_reward: [],
        tab_index: null,
        loadAddCart: false,
      };
    },
    beforeMount() {
      (this.columns_grid_promotions = [
        {name: "Código", field: "product.code"},
        {name: "Descripción", field: "product.description"},
        {name: "Precio", field: "product.price.price", format: "currency"},
        {
          name: "Cant.",
          field: "product.quantity",
          format: "number",
          editable: true,
        },
        {name: "Total", field: "total_promotion"},
        {
          name: "Porcentaje Desc",
          field: "discount",
          format: "number",
        },
        {
          name: "Valor Desc",
          field: "discount_value",
          format: "currency",
        },
      ]),
        (this.columns_reward = [
          {name: "Código", field: "code"},
          {name: "Descripción", field: "description"},
          {name: "Precio", field: "price.price", format: "currency"},
          {name: "Cant.", field: "quantity", format: "number"},
          {name: "Total", field: "total_reward"},
        ]);
    },
    mounted() {
      //this.params.price_list_id = this.user_b2b.price_list_id
      this.params.warehouse = this.user_b2b.id;

      this.cargarProductos();

      this.$store.watch(
        () => {
          return this.getParams.filter_lines;
        },
        (p) => {
          this.setFilterLine(p);
          this.cargarProductos();
          this.fetchSublines();
        }
      );
      this.$store.watch(
        () => {
          return this.getParams.filter_sublines;
        },
        (p) => {
          this.setFilterSublines(p);
          this.cargarProductos();
          //this.filter_tag(p, 'lineas')
        }
      );

      this.$store.watch(
        () => {
          return this.getParams.filter_brands;
        },
        (p) => {
          this.setFilterBrand(p);
          this.cargarProductos();
          this.fetchSubbrands();
          //this.filter_tag(p, 'marca')
        }
      );
      this.$store.watch(
        () => {
          return this.getParams.filter_subbrands;
        },
        (p) => {
          this.setFilterSubbrands(p);
          this.cargarProductos();
          // this.filter_tag(p, 'grupos')
        }
      );

      this.$store.watch(
        () => {
          return this.getParams.only_promotions;
        },
        (p) => {
          this.cargarProductos();
        }
      );

      if (this.selectedHome.search != "") {
        this.params.filter = this.selectedHome.search;
      }
      if (this.selectedHome.reference != "") {
        this.params.reference = this.selectedHome.reference;
      }

      // Creamos el carrito
      var user_b = JSON.parse(localStorage.user_b2b);
      var user = JSON.parse(localStorage.user);
    },
    methods: {
      descriptionProduct(product) {
        let description = "";

        if (product.brand) {
          description += product.brand.description;
        }

        if (product.subline) {
          if (description !== "") {
            description += " - ";
          }
          description += product.subline.subline_description;
        }

        if (description !== "") {
          description += " - ";
        }

        description += product.code;

        return description;
      },
      getPathImage(product) {
        if (product.product_attachment_main) {
          return this.domain + product.product_attachment_main.src;
        } else if (product.brand && product.brand.image !== "" && product.brand.image != null) {
          return this.domain + product.brand.image;
        }

        return this.domain;
      },
      openModalAvailable(product_id) {
        let user = JSON.parse(localStorage.user);

        if (user && user.type !== "c") {
          this.modalAvailable.product_id = product_id;
          this.modalAvailable.state = true;
        }
      },
      closeModalAvailable() {
        this.modalAvailable.product_id = null;
        this.modalAvailable.state = false;
      },
      async reference(query) {
        if (query.length >= 3) {
          await this.setFilterReference(query);
          this.fetchProducts();
        }
      },
      filter_tag(id, filtro) {
        switch (filtro) {
          case "marca":
            id.forEach((element) => {
              let exist = this.tags.find((item) => item.id == element);
              if (!exist) {
                this.tag = this.brands.find((item) => item.value == element);
                this.tags.push({
                  id: this.tag.value,
                  name: this.tag.label,
                  tipe: "marca",
                });
              }
            });
            break;
          case "lineas":
            id.forEach((element) => {
              let exist = this.tags.find((item) => item.id == element);
              if (!exist) {
                this.tag = this.groups.find((item) => item.value == element);
                this.tags.push({
                  id: this.tag.value,
                  name: this.tag.label,
                  tipe: "linea",
                });
              }
            });
            break;
          case "grupos":
            id.forEach((element) => {
              let exist = this.tags.find((item) => item.id == element);
              if (!exist) {
                this.tag = this.categories.find((item) => item.value == element);
                this.tags.push({
                  id: this.tag.value,
                  name: this.tag.label,
                  tipe: "grupo",
                });
              }
            });
            break;
          default:
            break;
        }
      },
      deleteTags(tag) {
        this.fetchSublines();
        this.params.filter_groups = [];
        this.fetchSubbrands();
        this.params.filter_categories = [];

        let elimina = this.tags.findIndex((item) => item.id == tag);

        this.tags.splice(elimina, 1);

        let tempo_tag = this.tags.filter((element) => {
          let marc = this.params.filter_brands.findIndex(
            (item) => item == element.id
          );
          let cat = this.params.filter_categories.findIndex(
            (item) => item == element.id
          );
          let grup = this.params.filter_groups.findIndex(
            (item) => item == element.id
          );

          if (marc >= 0) {
            return element;
          }
          if (cat >= 0) {
            return element;
          }
          if (grup >= 0) {
            return element;
          }
        });
        this.tags = tempo_tag;
      },
      async cargarProductos() {
        await this.fetchProducts();
      },
      agregadoCart(prod) {
        if (this.cart.documents_products) {
          let icono = this.cart.documents_products.find(
            (item) => item.product_id == prod.id
          );
          if (icono) {
            return true;
          } else {
            return false;
          }
        }
      },
      async agregarCarrito(prod) {

        // Validar la cantidad
        if (!prod.quantity || prod.quantity <= 0) {
          this.$alert("La cantidad no puede estar vacia", "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "order-box",
          });

          return;
        }


        // Agregar al carrito
        await this.addToCart(prod)

        this.quitAddingProduct()

      },
      eliminarProdCar(prod) {
        this.cart.documents_products.forEach((item) => {
          if (prod.id == item.product_id) {
            this.removeCartItems(item);
          }
        });
      },
      newCant(prod) {
        if (prod.quantity < 0) {
          prod.quantity = 0;
        } else {
          prod.total = prod.quantity * prod.price;
        }
      },
      suma: function (prod) {
        if (!prod.click) {
          prod.click = 0;
        }
        prod.click++;
        prod.quantity++;
        prod.total = prod.quantity * prod.price;
      },
      resta: function (prod) {
        if (!prod.click) {
          prod.click = 0;
        }
        if (prod.quantity <= 0) {
          prod.quantity = 0;
        } else {
          prod.click--;
          prod.quantity--;
        }
        prod.total = prod.price * prod.quantity;
      },
      ...mapActions("catalog", [
        "fetchBrand",
        "fetchSubbrands",
        "fetchProducts",
        "fetchSublines",
        "fetchLines",
        "setFilterPagination",
        "setPerPagePagination",
        "setPagePagination",
        "setSortByPagination",
        "setSortPagination",
        "setFilterReference",
        "getPromotions",
        "fetchProductsByClasification",
        "getModalPromotions",
        "validateAllPromotionRules",
        "changePromotionProduct",
        "validatePromotionRules",
        "setBenefitProduct",
        "getProduct",
      ]),
      ...mapActions("cart", [
        "addToCart",
        "removeCartItems",
        "addPromotionToCart",
        "newCart",
        "applyBenefit",
      ]),
      ...mapMutations("catalog", [
        "setlabelButtonPromotion",
        "setLines",
        "setProducts",
        "setPerPage",
        "setFilter",
        "setFilterLine",
        "setFilterSublines",
        "setFilterBrand",
        "setFilterSubbrands",
        "setReference",
        "setShowPromotionsModal",
        "setPromotions",
        "setSelectedProduct",
        "setLoader",
        "setSelectedPromotion",
        "setAddingProduct",
        "quitAddingProduct",
        "setGettingPromotions",
        "quitGettingPromotions"
      ]),
      filterPagination(filter) {
        this.setFilter(filter);
        this.fetchProducts();
      },
      filterReference(reference) {
        this.setReference(reference);
        this.fetchProducts();
      },
      imageRoute(image) {
        return getApiDomain() + image;
      },
      imageDefault(prod) {
        prod.products_attachments = "";
      },
      totalPromotion(selectedPromotion) {
        let total = 0;
        let specific_product = this.selectedPromotion.specific_product;

        this.selectedPromotion.products_promotions.map((p) => {
          p.product.quantity = p.product.quantity ? p.product.quantity : 0;

          if (!this.selectedPromotion.comply) {
            total += this.valueWithDiscount(p) * p.product.quantity;
          } else {
            total += p.product.price.price * p.product.quantity;
          }
        });

        if (specific_product != null) {
          total += specific_product.val_iva;
        }

        return total;
      },
      valueWithDiscount(item) {
        // Validar que los descuentos se apliquen a productos de promociones que no tienen producto de regalo (ni producto específico, ni producto de menor valor)
        let promotion = this.promotions.find((p) => p.id == item.promotion_id);
        if (
          promotion.discount &&
          !promotion.specific_product &&
          !promotion.gift_type
        ) {
          // Aplicar descuento de la promoción
          item.discount = promotion.discount;
        } else if (
          !promotion.discount &&
          !promotion.specific_product &&
          !promotion.gift_type
        ) {
          // Aplicar descuento del producto
          item.discount = item.discount;
        } else {
          // No aplicar descuento porque ya tiene un producto de regalo
          item.discount = 0;
        }

        return (
          item.product.price.price -
          (item.product.price.price * item.discount) / 100
        );
      },

      // Promociones
      async _getModalPromotions(product) {
        let prod = JSON.parse(JSON.stringify(product));

        if (prod.price.discount) {
          prod.price.price = prod.price.price_original;
        }

        this.setGettingPromotions(product)

        await this.getProduct(product.id);
        // await this.setSelectedProduct(prod);
        this.quitGettingPromotions(product)

        await this.setlabelButtonPromotion();
        await this.setShowPromotionsModal(true);
      },
      async _addPromotionToCart(data) {
        // Activamos el loader
        this.loadAddCart = true;

        const addCart = data.map(async (d, indexd) => {
          await this.addToCart(d);
        });

        Promise.all(addCart).then(async (res) => {
          this.loadAddCart = false;
          await this.setShowPromotionsModal(false);
        });
      },
    },
    computed: {
      ...mapState("login", ["user_b2b", "user_logued"]),
      ...mapState("home", ["selectedHome"]),
      ...mapState("catalog", [
        "labelButtonPromotion",
        "brands",
        "loader",
        "subbrands",
        "sublines",
        "products",
        "params",
        "category_params",
        "lines",
        "promotions",
        "productsFiltered",
        "selectedProduct",
        "showPromotionsModal",
        "minimumPriceProducts",
        "selectedPromotion",
      ]),
      ...mapState("cart", ["cart", 'lockAdd', 'lockPromotions']),
      ...mapGetters("catalog", ["getParams"]),
      totalRows() {
        return this.products.total;
      },
      loaderPage() {
        return this.loader;
      },
    },
  };
</script>

<style>
  .mx-2-lg {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media (min-width: 300px) and (max-width: 400px) {
    .mx-2-lg {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .promocinta {
    overflow: hidden;
  }

  .promocinta:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .el-select .el-tag {
    background-color: rgba(64, 158, 255, 0.1) !important;
    color: #409eff !important;
  }

  .el-select .el-tag__close.el-icon-close {
    background-color: rgba(64, 158, 255, 0.1) !important;
    color: #409eff !important;
  }

  .tag-catalogo {
    margin: 2px !important;
  }

  .el-submenu__title {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
  }

  .prod-list {
    /*margin-left: 20px;*/
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }

  .bot-car {
    margin-right: 20px;
  }

  .div-car {
    margin-right: 20px;
    width: 35px;
  }

  .no-products {
    text-align: center;
    color: #000ea8;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .minidescuento {
    display: block;
    position: absolute;
    top: 26px;
    left: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  .miniestrella {
    display: block;
    position: absolute;
    top: 20px;
    left: 5px;
    text-transform: uppercase;
    text-align: center;
  }

  .minillama {
    width: 25px;
    position: absolute;
    margin-top: 0px;
    margin-left: -25px;
  }

  .tarjeta {
    padding: 0 1.25rem !important;
  }

  .page-item.active .page-link {
    background-color: #000ea8 !important;
    border-color: #000ea8 !important;
    color: #ebeef5 !important;
  }

  .el-collapse {
    border-bottom: none;
  }

  .el-collapse-item__header {
    border-top: 1px solid #ebeef5;
    border-bottom: none;
    line-height: 38px;
  }

  .el-collapse-item:last-child {
    margin-bottom: 0px;
  }

  .el-checkbox__inner {
    border: #000ea8 solid 2px;
    width: 20px;
    height: 20px;
  }

  .el-checkbox__label {
    font-size: 20px;
    margin: 5px 10px 0 0;
    font-family: Montserrat, "Montserrat", sans-serif;
    font-style: initial;
    font-weight: 700;
    color: #283346;
    text-transform: none;
    float: left;
  }

  .paginador {
    margin: 55px 0;
  }

  .page-link {
    color: #000ea8 !important;
  }

  #busca .form-control:focus {
    --box-shadow-color: #409eff;
    border-color: #409eff;
    box-shadow: 1px 1px 5px var(--box-shadow-color) !important;
  }

  .product-description a {
    font-size: 17px;
    margin: 0;
    font-family: Montserrat, "Montserrat", sans-serif;
    font-style: initial;
    font-weight: 700;
    color: #283346;
    letter-spacing: 0px;
    text-transform: none;
  }

  .product-description a:hover {
    text-decoration: none !important;
    color: #ff3100;
  }

  .icono {
    /* --box-shadow-color: #2934D1;
    border-bottom: #2934D1;
    width: 5%;
    box-shadow:10px 10px 5px  var(--box-shadow-color) ; */
    border-bottom: #2934d1 solid 3px;
  }

  .pro {
    position: relative;
  }

  .boton {
    height: 40px;
    position: relative;
  }

  .prod-desc {
    padding: 0 !important;
  }

  .a-image {
    height: 171px;
    display: table-cell;
    vertical-align: middle;
  }

  .center {
    margin: 0 auto;
  }

  /* Estilos del listón */
  .ribbon-wrapper {
    position: relative;
    width: 130px;
    border-bottom: 0px solid transparent;
    border-top: 10px solid transparent;
    -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
    -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
    -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
    -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.2);
  }

  .ribbon-wrapper a:hover {
    text-decoration: none;
  }

  .ribbon-front {
    background-color: #ea4623;
    height: 35px;
    width: 120px;
    position: relative;
    left: -10px;
    z-index: 2;
    text-align: center;
    font-weight: 700;
    color: #fff;
    margin-top: -2px;
  }

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right {
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  }

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style: solid;
    height: 0px;
    width: 0px;
  }

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
  }

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    top: 40px;
  }

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
    left: -10px;
    border-color: transparent #9e2309 transparent transparent;
  }

  .ribbon-edge-topleft {
    top: -10px;
    border-width: 10px 10px 0 0;
  }

  .ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
  }

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
    left: 100px;
    border-color: transparent transparent transparent #9e2309;
  }

  .ribbon-edge-topright {
    top: -10px;
    border-width: 10px 0 0 10px;
  }

  .ribbon-edge-bottomright {
    border-width: 0 0 0px 10px;
  }

  .ribbon-back-left {
    position: absolute;
    top: -10px;
    left: -30px;
    width: 30px;
    height: 35px;
    background-color: #ea4623;
    z-index: 0;
  }

  .ribbon-back-right {
    position: absolute;
    top: -10px;
    right: -0px;
    width: 30px;
    height: 35px;
    background-color: #ea4623;
    z-index: 0;
  }

  /* Modal de promociones */
  .modal-content {
    /*width: 150%;*/
  }

  #modal-promotions .modal-dialog {
    max-width: 95% !important;
    margin: auto;
  }

  .modal-image {
    width: 450px;
    height: 580px;
  }

  .card-footer {
    text-align: center;
  }

  /* Tabla de beneficio obtenido */
  .table-reward {
    margin-top: 30px;
  }

  .table-reward thead {
    background: #6699cc;
    color: #fff;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .table-reward thead > tr {
    height: 37px;
  }

  .table-reward thead > tr th {
    vertical-align: middle;
  }

  .reward-title {
    font-size: 15pt;
    margin-bottom: -28px;
  }

  .total-promotion {
    text-align: right !important;
    float: right !important;
    display: block;
    margin-bottom: 30px;
    margin-right: 20px;
  }

  .text-u2-blue {
    /* color: #000ea8 !important; */
    color: #6699cc !important;
  }

  /*estilos kevin*/
  #modal-promotions header {
    background: #000ea8 !important;
    color: #fff;
  }

  .row-without-margin {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .llama {
    height: 30px !important;
    margin-bottom: 5px;
  }

  .input-only-promotions .el-checkbox__input {
    float: right;
    margin-top: 8px;
  }

  .input-only-promotions .el-checkbox__inner {
    border: 2px solid #000ea8 !important;
    width: 19px !important;
    height: 19px !important;
  }

  .input-only-promotions .el-checkbox__label {
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .input-only-promotions .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #000ea8;
    border-color: #000ea8;
  }

  .input-only-promotions .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #000ea8;
  }

  .input-only-promotions .el-checkbox__inner::after {
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 10px;
    left: 4px;
    position: absolute;
    top: 0px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 5px;
    -webkit-transition: -webkit-transform 0.15s ease-in 0.05s;
    transition: -webkit-transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s,
    -webkit-transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s,
    -webkit-transform 0.15s ease-in 0.05s;
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  @media screen and (max-width: 1024px) {
    .filter-card .card-body {
      padding: 12px;
    }
  }
</style>

<style scoped>
  .card {
    width: auto !important;
  }
</style>
