<template>
  <div :should-render="showBottomBar">
    <div class="inicio">
      <div class="cliente">
        <h3 class="name" v-if="user_logued">
          Bienvenido {{ user_logued.name }} {{ user_logued.surname }}
        </h3>
        <h3>{{ user_b2b.contact.name }} / {{ user_b2b.description }}</h3>
        <h6 class="subtitulo">
          Con el mayor gusto gestionaremos su pedido a la mayor brevedad
        </h6>
      </div>
      <div>
        <b-form-group>
          <b-input-group id="buscador">
            <b-form-input
              autofocus
              v-model="selectedHome.search"
              placeholder="Busqueda del producto"
              style="text-transform: uppercase;"
              @keyup.native.enter="searchproduct()"
            />
            <b-input-group-append>
              <b-btn @click.prevent="searchproduct()" id="bot"
                ><span class="ti-search"></span
              ></b-btn>
            </b-input-group-append>
          </b-input-group>
          <b-input-group v-if="false" id="reference">
            <b-form-input
              v-model="selectedHome.reference"
              placeholder="Busqueda por Referencia"
              style="text-transform: uppercase;"
              @keyup.native.enter="searchproduct()"
            />
            <b-input-group-append>
              <b-btn @click.prevent="searchproduct()" id="bot"
                ><span class="ti-search"></span
              ></b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>
    </div>

    <div>
      <el-carousel arrow="never" indicator-position="none" height="580px">
        <el-carousel-item v-for="item in banners" :key="item.id">
          <picture>
            <source
              media="(min-width: 800px)"
              :srcset="item.big"
              class="banner-size"
            />
            <source
              media="(max-width: 799px)"
              :srcset="item.small + ' ' + '2x'"
              class="banner-size"
            />
            <img style="width:100%" src="" alt="Banner" />
          </picture>
        </el-carousel-item>
      </el-carousel>
    </div>
    <div class="marcas">
      <ul class="lista-marcas">
        <span
          v-for="(brand, index) in brands"
          v-if="index <= 5"
          :key="brand.key"
        >
          <li class="item">
            <img class="imagen" :src="imageRoute(brand.img)" alt="" /><span>{{
              brand.brand
            }}</span>
          </li>
        </span>
      </ul>
    </div>
    <div class="productos">
      <h2 class="producto-title"><span>Productos recomendados</span></h2>
      <p class="subtitle">Precios Especales</p>
      <div class="producto">
        <div
          class="prod-item"
          v-for="(prod, index) in prods.data"
          v-if="index <= 3"
          :key="prod.id"
        >
          <router-link :to="`/b2b/${prod.id}/detalle`">
            <span class="prod-i-link">
              <img
                class="prod-i-img"
                :src="
                  prod.products_attachments == ''
                    ? imageRoute(prod.brand.image)
                    : imageRoute(prod.products_attachments[0].url)
                "
              />
              <div class="prod-title">{{ prod.description }}</div>
            </span>
            <p class="prod-i-info">
              <span class="brand" href="#"> {{ prod.brand.description }} </span>
              <!-- <span class="prod-i-price">
						{{prod.promotion_price.price - prod.promotion_price.price * prod.promotion_price.percentage / 100 | currency}}
						</span> -->
              <span class="prod-i-price">
                {{ 220000 | currency }}
              </span>
            </p>
            <p class="estrella">
              <img
                src="../../assets/img/b2b/descuento.png"
                style="width: 100%"
              />
            </p>
            <p class="descuento">
              <!-- <span style="color: white; font-size: 13px"> {{prod.promotion_price.percentage}}% </span> -->
              <span style="color: white; font-size: 13px"> {{ 10 }}% </span>
            </p>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "home",
  data() {
    return {
      search: "",
      reference: "",
      showBottomBar: false
    };
  },
  async created() {
    await this.fetchBanner();
    await this.fetchBrand();
    // await this.fetchProducts()
    //await this.fetchPromotions()
    if (this.user_b2b && this.user_b2b.contact) {
      await this.fetchReceivablesByContactId(this.user_b2b.contact.id);
    }
  },
  methods: {
    ...mapActions("home", [
      "fetchBanner",
      "fetchBrand",
      "fetchProducts",
      "fetchPromotions"
    ]),
    ...mapActions("receivable", ["fetchReceivablesByContactId"]),
    searchproduct: function() {
      this.$router.push(`/b2b/catalogo`);
    },
    imageRoute(image) {
      image;
    }
  },
  computed: {
    ...mapState("login", ["user_b2b", "user_logued"]),
    ...mapState("home", [
      "banners",
      "brands",
      "selectedHome",
      "prods",
      "params"
    ])
  }
};
</script>

<style>
.prod-i-price {
  transition: all 0.2s;
  font-size: 14px;
  float: right;
  color: #ff3100;
  font-weight: 700;
  max-width: 49%;
  text-align: right;
  margin: 0 0 0 2%;
}

.prod-item {
  border-radius: 4px;
  box-shadow: inset 0 -4px 0px 0px #dfe2f0,
    0 10px 20px 0px rgba(192, 196, 215, 0.25);
  background: #fff;
  min-height: 365px;
  padding: 29px 29px 6px;
  position: relative;
  line-height: 140%;
  width: 270px;
  display: inline-block;
  margin-right: 25px;
}
a:-webkit-any-link {
  text-decoration: none !important;
}
.name {
  font-weight: bold;
}
.subtitulo {
  font-weight: 600 !important;
  margin-top: 20px;
}
.empresa {
  margin-left: 162px;
}

.form-control:focus {
  --box-shadow-color: #409eff;
  border-color: #409eff;
  box-shadow: 1px 1px 10px var(--box-shadow-color) !important;
}

.banner-size {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px !important;
}
</style>
