<template>
  <div>
    <div class="tienda-title order">RASTREO DE MIS PEDIDOS (TRACKING)</div>
    <div class="row mx-0 my-lg-4 my-2 filter-orders">
      <div class="col-lg-2 col-6 offset-lg-1 block form-group">
        <label for="fecha_desde">
          Fecha Desde
        </label>
        <br />
        <el-date-picker
          v-model="inicio"
          id="inicio"
          name="inicio"
          type="date"
          :clearable="false"
          placeholder="Desde"
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          :picker-options="datePickerOptions"
          @change="busca(inicio, fin)"
        >
        </el-date-picker>
      </div>
      <div class="col-lg-2 col-6 block form-group">
        <label for="range_hasta">
          Fecha Hasta
        </label>
        <br />
        <el-date-picker
          v-model="fin"
          id="fin"
          name="fin"
          :clearable="false"
          type="date"
          placeholder="Hasta"
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          :picker-options="datePickerOptions"
          @change="busca(inicio, fin)"
        >
        </el-date-picker>
        <!--  <el-date-picker
          v-model="params.filter_date"
          type="daterange"
          id="range_date"
          name="range_date"
          clearable
          range-separator="Hasta"
          start-placeholder=""
          end-placeholder=""
          data-vv-as=" "
          value-format="yyyy-MM-dd">
        </el-date-picker> -->
      </div>
      <div class="col-lg-2 col-5 form-group">
        <label>
          Pedido / Factura
        </label>
        <input
          type="number"
          class="form-control"
          v-model="params.consecutive"
          @change="fetchOrders()"
        />
      </div>
      <div class="col-lg-3 col-7 form-group">
        <label>Estado Pedido</label>
        <el-select
          id="order-sel"
          name="order-sel"
          @remove-tag="deleteTags"
          clearable
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          placeholder=""
          v-model="params.filter_status"
          @change="cargarPedidos"
        >
          <el-option
            v-for="state in states"
            :key="state.name_parameter"
            :value="state.name_parameter"
            :label="state.name_parameter"
          >
          </el-option>
        </el-select>
      </div>
      <div class="col-lg-1 col-12 text-right d-flex align-items-end form-group">
        <b-btn @click="filterPagination(params)" id="bot" class="float-right"
          ><span class="ti-search "></span>Buscar
        </b-btn>
      </div>
    </div>
    <div class="order">
      <div class="table-striped">
        <b-table responsive :items="orders" :fields="fields">
          <template v-slot:cell(products)="row">
            <i
              v-b-tooltip.bottom
              title=""
              class="fa fa-fw fa-chevron-down"
              @click="row.toggleDetails"
            ></i>
          </template>
          <template v-slot:cell(state_backorder.name_parameter)="row">
            {{ getState(row.item) }}
          </template>
          <template v-slot:cell(fact)="row">
            <b-button
              v-if="row.item.document_thread.length"
              v-b-modal.modal-scrollable
              v-b-modal.modal-xl
              v-b-modal.modal-center
              @click="info(row.item, row.index, $event.target)"
              class="mr-1"
            >
              Ver Facturas
            </b-button>
          </template>
          <template slot="row-details" slot-scope="row">
            <div style="text-align: center; font-weight:600;">Productos</div>
            <table class="table table-bordered table-striped">
              <thead>
                <tr style="background-color:#e5f5ff">
                  <th>Referencia</th>
                  <th class="resp text-nowrap">Descripción</th>
                  <th class="text-center text-nowrap">Cant-Pedido</th>
                  <!--                <th class="text-center">Cant-Pendiente</th>-->
                  <th class="text-center">Vr-Unit</th>
                  <th class="text-center text-nowrap">Vr-Bruto</th>
                  <th class="text-center text-nowrap">Vr-Iva</th>
                  <th class="text-center text-nowrap">Vr-Total</th>
                </tr>
              </thead>
              <tbody v-for="item in row.item.documents_products" :key="item.id">
                <tr>
                  <td colspan="6" class="responsive">
                    {{ item.product.description }}
                  </td>
                </tr>
                <tr>
                  <td>{{ item.product.code }}</td>
                  <td class="resp">{{ item.product.description }}</td>
                  <td class="text-center">{{ item.quantity }}</td>
                  <td class="text-right text-nowrap">
                    {{ item.unit_value_before_taxes | currency }}
                  </td>
                  <td class="text-right text-nowrap">
                    {{ item.total_value_brut | currency }}
                  </td>
                  <td style="text-align: center;">
                    {{ ivaDocumentProduct(item) | currency }}
                  </td>
                  <td class="text-right text-nowrap">
                    {{ item.total_value | currency }}
                  </td>
                </tr>
              </tbody>
            </table>
          </template>
        </b-table>
      </div>
    </div>
    <b-modal
      no-close-on-backdrop
      scrollable
      centered
      size="xl"
      :id="infoModal.id"
      title="Resumen Facturas"
      hide-footer
    >
      <div>
        <b-table
          responsive
          :items="infoModal.content.document_thread"
          :fields="fact"
        >
          <template v-slot:cell(prod)="row">
            <i
              v-b-tooltip.bottom
              title=""
              class="fa fa-fw fa-chevron-down"
              @click="row.toggleDetails"
            ></i>
            <!--  <i  class="fa fa-fw ti-angle-up clickable" @click="row.toggleDetails" ></i> -->
          </template>
          <template v-slot:cell(vbruto)="row">
            {{ row.item.total_value_brut | currency }}
          </template>
          <template v-slot:cell(vIva)="row">
            {{ totalIvaDocument(row.item) | currency }}
          </template>
          <template v-slot:cell(vTotal)="row">
            {{ row.item.total_value | currency }}
          </template>
          <template slot="row-details" slot-scope="row">
            <div>
              <div style="text-align: center; font-weight:600;">Productos</div>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr style="background-color:#e5f5ff">
                    <th>Referencia</th>
                    <th class="resp">Descripción</th>
                    <th class="text-center text-nowrap">Cant-Pedido</th>
                    <th class="text-center text-nowrap">Vr-Unit</th>
                    <th class="text-center text-nowrap">Vr-Bruto</th>
                    <th class="text-center text-nowrap">Vr-Iva</th>
                    <th class="text-center text-nowrap">Vr-Total</th>
                  </tr>
                </thead>
                <tbody
                  v-for="item in row.item.documents_products"
                  :key="item.id"
                >
                  <tr>
                    <td colspan="6" class="responsive">
                      {{ item.product.description }}
                    </td>
                  </tr>
                  <tr>
                    <td>{{ item.product.code }}</td>
                    <td class="resp">{{ item.product.description }}</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td class="text-right text-nowrap">
                      {{ item.unit_value_before_taxes | currency }}
                    </td>
                    <td class="text-right text-nowrap">
                      {{ item.total_value_brut | currency }}
                    </td>
                    <td class="text-right text-nowrap">
                      {{ ivaDocumentProduct(item) | currency }}
                    </td>
                    <td class="text-right text-nowrap">
                      {{ item.total_value | currency }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </template>
        </b-table>
      </div>
    </b-modal>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";

export default {
  data() {
    return {
      inicio: "",
      fin: "",
      fields: [
        { key: "products", label: "", sortable: true },
        {
          key: "document_date",
          label: "Fecha Pedido",
          sortable: true,
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "warehouse.description",
          label: "Sucursal",
          sortable: true,
          thStyle: { "min-width": "150px !important" }
        },
        {
          key: "consecutive",
          label: "Número Pedido",
          sortable: true,
          tdClass: "text-center",
          thClass: "text-center"
        },
        {
          key: "fact",
          label: "Facturación",
          sortable: true,
          thStyle: { "min-width": "150px !important" },
          tdClass: "text-center",
          thClass: "text-center"
        },
        {
          key: "state_backorder.name_parameter",
          label: "Estado Pedido",
          sortable: true
        }
      ],
      infoModal: {
        id: "info-modal",
        content: []
      },
      fact: [
        { key: "prod", label: "", sortable: true },
        {
          key: "document_date",
          label: "Fecha Factura",
          sortable: true,
          thStyle: { "min-width": "100px !important" },
          thClass: "text-nowrap",
          tdClass: "text-nowrap"
        },
        {
          key: "consecutive",
          label: "Número Factura",
          sortable: true,
          thStyle: { "min-width": "100px !important" },
          tdClass: "text-center",
          thClass: "text-nowrap"
        },
        {
          key: "vbruto",
          label: "Vr-Bruto",
          sortable: true,
          thStyle: { "min-width": "100px !important" },
          tdClass: "text-nowrap"
        },
        {
          key: "vIva",
          label: "Vr-Iva",
          sortable: true,
          thStyle: { "min-width": "100px !important" },
          tdClass: "text-nowrap"
        },
        {
          key: "vTotal",
          label: "Vr-Total",
          sortable: true,
          thStyle: { "min-width": "100px !important" },
          tdClass: "text-nowrap"
        }
        //{key: 'parameter.name_parameter', label: 'estado', sortable: true, thStyle: {'min-width': '100px !important'}},
      ],
      datePickerOptions: {
        disabledDate(inicio) {
          return inicio > new Date();
        }
      }
    };
  },
  created() {
    this.cargarPedidos();
    this.getStates();
    this.$store.watch(
      () => {
        return this.getParams.filter_date;
      },
      p => {
        if (p == null) {
          this.fetchOrders();
        }
      }
    );
  },
  methods: {
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = item;
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    busca(inicio, fin) {
      this.params.filter_date = [inicio, fin];
      if (inicio != null && fin != null) {
        this.fetchOrders();
      }
    },
    fecha() {
      this.fin = new Date();
      this.inicio = new Date();
      this.inicio.setTime(this.inicio.getTime() - 3600 * 1000 * 24 * 30);
      this.params.filter_date = [this.inicio, this.fin];
    },
    totalIvaDocument(document) {
      let total = 0;
      document.documents_products.map(dp => {
        dp.documents_products_taxes.map(dpt => {
          if (dpt.tax_id === 1) {
            total += dpt.value;
          }
        });
      });
      return total;
    },
    getState(document) {
      if (document.status_authorized) {
        if (document.status_authorized.id === 913) {
          return "RECHAZADO";
        }
      }

      if (document.detained) {
        return "RETENIDO";
      }

      if (document.closed) {
        return "CERRADO";
      }
      return document.state_backorder.name_parameter;
    },
    ivaDocumentProduct(documentProduct) {
      let total = 0;
      documentProduct.documents_products_taxes.map(dpt => {
        if (dpt.tax_id === 1) {
          total += dpt.value;
        }
      });
      return total;
    },
    async deleteTags(tag) {
      await this.fetchOrders();
    },
    async cargarPedidos() {
      this.fecha();
      this.params.warehouse = this.user_b2b.id;
      await this.fetchOrders();
    },
    filterPagination(filter) {
      this.fetchOrders();
    },
    ...mapActions("ordersHistory", [
      "fetchOrders",
      "fetchDocumentStatus",
      "getStates"
    ]),
    ...mapMutations("ordersHistory", ["setFilterDate", "setFilterStatus"])
  },
  computed: {
    ...mapState("login", ["user_b2b", "user_logued"]),
    ...mapState("ordersHistory", [
      "orders",
      "status",
      "params",
      "products",
      "states"
    ]),
    ...mapGetters("ordersHistory", ["getParams"])
  }
};
</script>

<style>
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 49%;
}
</style>

<style scoped>
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-date-editor .el-range-separator {
  line-height: 22px !important;
  width: 64px !important;
}

.order-status .el-select {
  width: 250px !important;
}

.filtro-fechas {
  margin: 50px auto;
  /* text-align: center; */
}

.order {
  margin-left: 130px;
  margin-right: 130px;
}

.responsive {
  display: none;
}

/* responsive selector de fecha*/
@media (min-width: 522px) and (max-width: 665px) {
  .el-date-range-picker {
    width: 509px;
  }

  .el-picker-panel .el-date-range-picker .el-popper {
    left: 4px;
  }
}

@media (min-width: 501px) and (max-width: 521px) {
  .el-picker-panel__content.is-left {
    width: 64% !important;
    padding: 10px 0px 10px 160px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 10px 0px 0px 0px !important;
    width: 36% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

@media (min-width: 361px) and (max-width: 500px) {
  .el-picker-panel__content.is-left {
    width: 100% !important;
    padding: 10px 10px 10px 300px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 10px 10px 10px 300px !important;
    width: 100% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

@media (max-width: 360px) {
  .el-picker-panel__content.is-left {
    width: 100% !important;
    padding: 45px 9px 29px 341px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 0px 9px 29px 341px !important;
    width: 100% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .order {
    margin-left: 30px;
    margin-right: 30px;
  }

  .order-status .el-select {
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 425px) {
  .order {
    margin-left: 10px;
    margin-right: 10px;
  }

  .responsive {
    display: table-cell;
  }

  .resp {
    display: none;
  }

  .order-status .el-select {
    width: 349px !important;
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 360px) {
  .order {
    margin-left: 10px;
    margin-right: 10px;
  }

  .responsive {
    display: table-cell;
  }

  .resp {
    display: none;
  }

  .order-status .el-select {
    width: 349px !important;
    margin-left: 0px;
    padding-left: 0px;
  }
}

.filter-orders label {
  margin-bottom: 0px;
}
</style>
