<template>
  <div>
    <div
      style="padding:63px 250px 13px"
      v-if="loader"
    >
      <vcl-facebook></vcl-facebook>
    </div>
    <div v-else>
      <div class="col-lg-12 tarjeta-detalle">
        <div class="detalle-title">{{selectedProduct.description}}</div>
        <b-card>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-12 col-sm-12 col-lg-4"
                   v-b-modal.modal-lg
                   @click="openPictureModal(imageRoute(imagen))"
              >

                <p v-if="selectedProduct.price.percentage > 0"
                   class="ministar"
                >
                  <img src="../../assets/img/b2b/descuento.png"
                       style="width: 85%"
                  />
                </p>
                <p v-if="selectedProduct.price.percentage > 0"
                   class="minioff"
                >
                  <span style="color: white; font-size: 12px"> {{selectedProduct.price.percentage}}% </span>
                </p>
                <p class="disponibilidad"
                   v-if="(selectedProduct.price.percentage > 0)"
                >
                  <span v-if="selectedProduct.quantity_available < 49 ">
                    Disponible {{selectedProduct.quantity_available > 0 ? selectedProduct.quantity_available : 0 }}
                  </span>
                  <span v-else>
                    Disponible {{selectedProduct.quantity_available > 50 ? '50 +' : '50 +'}}
                  </span>
                </p>
                <ProductZoomer :base-images="images"
                               :base-zoomer-options="zoomerOptions"
                />
              </div>

              <b-modal hide-footer
                       centered
                       size="lg"
                       :title="selectedProduct.description"
                       ref="pictureModal"
              >
                <img :src="imageRoute(imagen)"
                     alt="product"
                     style="max-width: 100%; max-height: 100%;"
                >
              </b-modal>



              <div class="col-sm-12 col-lg-8">
                <div class="product-brand">
                  Descripción&nbsp; &nbsp; &nbsp;
                </div>
                <hr>
                <div class="detail-descrip">{{selectedProduct.description}}</div>
                <hr>
                <!--  <b-row class="mt-3">
								<b-col sm="2" cols="6">
									<h6 class="vendedor-item">Present</h6>
								</b-col>
								<b-col sm="4" cols="6">
									und
								</b-col>
								<b-col sm="2" cols="6">
									<h6 class="vendedor-item">Cant Min</h6>
								</b-col>
								<b-col sm="4" cols="6">
									1
								</b-col>
							</b-row> -->
                <b-row>
                  <b-col
                    sm="2"
                    cols="6"
                  >
                    <h6 class="vendedor-item">Referencia</h6>
                  </b-col>
                  <b-col
                    sm="4"
                    cols="6"
                  >
                    {{selectedProduct.code}}
                  </b-col>
                  <b-col
                    sm="2"
                    cols="6"
                  >
                    <h6 class="vendedor-item">Linea</h6>
                  </b-col>
                  <b-col
                    sm="4"
                    cols="6"
                  >
                    {{selectedProduct.line.line_description}}
                  </b-col>
                </b-row>
                <b-row>
                  <b-col
                    sm="2"
                    cols="6"
                  >
                    <h6 class="vendedor-item">Marca</h6>
                  </b-col>
                  <b-col
                    sm="4"
                    cols="6"
                  >
                    {{selectedProduct.brand.description}}
                  </b-col>
                  <b-col
                    sm="2"
                    cols="6"
                  >
                    <h6
                      class="vendedor-item"
                      v-if="selectedProduct.subline"
                    >Sublinea</h6>
                  </b-col>
                  <b-col
                    sm="4"
                    cols="6"
                    v-if="selectedProduct.subline"
                  >
                    {{selectedProduct.subline.subline_description}}
                  </b-col>
                </b-row>
                <b-row>
                  <b-col
                    sm="6"
                    cols="5"
                  >
                    <h6 class="vendedor-item">Link del Fabricante</h6>
                  </b-col>
                  <b-col
                    sm="6"
                    cols="7"
                    v-if="selectedProduct.products_technnical_data"
                  >
                    <a :href="`${selectedProduct.products_technnical_data.link_manufacturer_one}`">{{selectedProduct.products_technnical_data.link_manufacturer_one}}</a>
                  </b-col>
                </b-row>
                <hr>
                <div>
                  <b-row style="margin-bottom:25px">
                    <!-- 	<div class="caracteristica"> -->
                    <b-col
                      sm="3"
                      cols="4"
                    >
                      <div class="product-item">Precio Und</div>
                      <strong>
                        <div class="desc">{{selectedProduct.price.price | currency}}</div>
                      </strong>
                      <!-- <strong><div v-if="selectedProduct.price.percentage == 0" class="desc">{{selectedProduct.price.price | currency}}</div></strong>
										<strong><div v-if="selectedProduct.price.percentage > 0" class="desc" style="text-decoration: line-through">{{selectedProduct.price.price | currency}}</div></strong>
										<strong><div v-if="selectedProduct.price.percentage > 0" class="desc"><img src="../../assets/img/b2b/llama.png" class="llamamini"/> {{selectedProduct.price.price - selectedProduct.price.price * selectedProduct.price.percentage / 100 | currency}}</div></strong> -->
                      <!-- </div> -->
                    </b-col>
                    <!-- <div class="caracteristica"> -->
                    <b-col
                      sm="3"
                      cols="4"
                    >
                      <div class="product-item">Cant</div>
                      <div class="input-group-prepend cant-det">
                        <b-button
                          class="btn-cant"
                          @click.prevent="resta()"
                        >-
                        </b-button>
                        <input
                          type="number"
                          v-model="selectedProduct.quantity"
                          @input="newCant()"
                          class="form-control cant-cat"
                        >
                        <b-button
                          class="btn-cant"
                          @click.prevent="suma()"
                        >+
                        </b-button>
                      </div>
                    </b-col>
                    <b-col
                      sm="3"
                      cols="4"
                    >
                      <!-- <div class="car-det"> -->
                      <div class="product-item">Total</div>
                      <!-- <strong><div class="desc">
											{{total - total * selectedProduct.price.percentage / 100| currency}}
										</div></strong> -->
                      <strong>
                        <div class="desc">
                          {{ selectedProduct.quantity * selectedProduct.price.price | currency}}
                        </div>
                      </strong>
                    </b-col>
                    <b-col
                      sm="3"
                      cols="3"
                    >
                      <button
                        class="boton-carrito-det"
                        @click.stop="agregarCarrito(selectedProduct)"
                      >
                        <span class="ti-shopping-cart"></span> AGREGAR
                      </button>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col
                      sm="6"
                      cols="12"
                    >
                      <div
                        class="cantidad_dispo"
                        v-if="(selectedProduct.price.percentage > 0)"
                      >
                        <span v-if="selectedProduct.quantity_available < 49">
                          Disponible {{selectedProduct.quantity_available > 0 ? selectedProduct.quantity_available : 0 }}
                        </span>
                        <span v-else>
                          Disponible {{selectedProduct.quantity_available > 50 ? '50 +' : '50 +'}}
                        </span>
                      </div>
                    </b-col>
                    <b-col
                      sm="6"
                      cols="12"
                    >
                      <button
                        class="boton-car-detalle"
                        @click.stop="agregarCarrito(selectedProduct)"
                      >
                        <span class="ti-shopping-cart"></span> AGREGAR
                      </button>
                    </b-col>
                  </b-row>
                </div>
                <DataSheet/>
              </div>
            </div>
          </div>
        </b-card>
      </div>
      <relative-products-detail></relative-products-detail>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import {mapActions, mapMutations, mapState} from 'vuex';
  import {VclFacebook} from 'vue-content-loading';
  import ProductZoomer from 'vue-product-zoomer'
  import DataSheet from '../../components/pages/products/DataSheet'

  Vue.use(ProductZoomer)

  import relativeProductsDetail from './relative-products-detail'
  import {getApiDomain} from "../../util/domains";

  export default {
    name: 'product-detail',
    components: {
      VclFacebook,
      relativeProductsDetail,
      DataSheet
    },
    data() {
      return {
        loader: true,
        cantidad: null,
        agregado: false,
        'images': {
          'normal_size': [{'id': 1, 'url': ''}],
        },
        'zoomerOptions': {
          'zoomFactor': 5,
          'pane': "container-round",
          'hoverDelay': 300,
          'move_by_click': false,
          "scroll_items": 10,
          'choosed_thumb_border_color': "#ff3d00",
          namespace: "inline-round-zoomer",
          scroller_position: "bottom",
          zoomer_pane_position: "right"
        }

      }

    },
    created() {
      if (this.$route.params.id) {
        this.detailCharge(this.$route.params.id)
      }
    },
    methods: {
      imageRoute(image) {
        return getApiDomain() + image
      },
      async detailCharge(id) {
        this.params.price_list_id = this.user_b2b.price_list_id
        await this.getProduct(id)
        await this.getrelated(id)

        let products_attachments = this.selectedProduct.products_attachments

        products_attachments.map((pa) => {
          pa.url = getApiDomain() + pa.src
        })

        this.images.normal_size = products_attachments

        this.loader = false
      },
      openPictureModal(ref) {
        this.$refs.pictureModal.show()
      },
      newCant() {
        let selectedProduct = this.selectedProduct

        if (selectedProduct.quantity < 0) {
          selectedProduct.quantity = 0
        } else {
          selectedProduct.total = selectedProduct.quantity * selectedProduct.price.price
        }

        this.setProductCant(selectedProduct)
      },
      agregarCarrito(prod) {
        if (!prod.quantity) {
          this.$alert("La cantidad no puede estar vacia", "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: 'order-box',
          }).then(verifica => {
          });
        } else {
          this.addToCart(prod)
        }
      },
      suma() {
        let selectedProduct = this.selectedProduct

        if (!selectedProduct.quantity) {
          selectedProduct.quantity = 0
        }

        selectedProduct.quantity++

        selectedProduct.total = selectedProduct.price.price * selectedProduct.quantity

        this.setProductCant(selectedProduct)
      },
      resta() {
        let selectedProduct = this.selectedProduct

        if (!selectedProduct.quantity) {
          selectedProduct.quantity = 0
        }

        if (selectedProduct.quantity < 1) {
          selectedProduct.quantity = 1
        } else {
          selectedProduct.quantity--
        }

        selectedProduct.total = selectedProduct.price.price * selectedProduct.quantity

        this.setProductCant(selectedProduct)
      },
      icono(line) {
        let url = '/storage/lines/';
        switch (line) {
          case 'BICICLETAS':
            url += 'miniBici.png'
            break;
          case 'AUTOMOTRIZ':
            url += 'miniAuto.png'
            break;
          case 'MOTOS':
            url += 'miniMoto.png'
            break;

          default:
            break;
        }
        return url;
      },
      ...mapActions('productDetail', [
        'getProduct',
        'getrelated',
      ]),
      ...mapMutations('productDetail', [
        'setProduct',
        'setProductCant'

      ]),
      ...mapActions('cart', [
        'addToCart'
      ])
    },
    computed: {
      ...mapState('productDetail', [
        'selectedProduct',
        'brands',
        'categories',
        'groups',
        'related',
        'imagen',
        'params'
      ]),
      ...mapState('login', [
        'user_b2b',
        'user_logued'
      ]),
    },
  };
</script>

<style>
  .minioff {
    display: block;
    position: absolute;
    top: 32px;
    left: 18px;
    text-transform: uppercase;
    text-align: center;
  }

  .ministar {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    text-transform: uppercase;
    text-align: center;
  }

  .llamamini {
    width: 25px;
    position: absolute;
    margin-top: 0px;
    margin-left: -25px;
  }

  /*  .drift-zoom-pane.drift-inline {
      width: 250px !important;
      height: 250px !important;
      border-radius: 50% !important;
    }*/

  .control {
    display: none !important;
  }

/*
  #preview {
    position: absolute;
    left: 85%;
    top: 5%;
  }
*/

  .detal-item {
    margin-left: 100px;
    margin-right: 115px;
  }

  .cantidad {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0 20px;
    margin-right: 55px;
    width: 50%;
  }

  .boton-carrito-det {
    border: #1c2175 solid 2px;
    background: #1c2175;
    color: #ebeef5;
    border-radius: 5px;
    margin-left: 0px;
    height: 60%;
    margin-top: 25px;
  }

  .boton-carrito-det:hover {
    color: #ff3100;
  }

  .boton-car-detalle {
    display: none;
  }

  .caracteristica {
    margin-right: 60px;
  }

  .detalle-item {
    width: auto;
    line-height: 140%;
    vertical-align: top;
    color: #a0a6c5;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  /*.img-zoom-container {*/
  /*  border-radius: 50%;*/
  /*}*/

  .detail-descrip {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: initial;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #283346;
    line-height: 1.1;
  }

  .tarjeta-detalle {
    padding: 50px 100px;
  }

  @media (max-width: 1580px) and (min-width: 1441px) {
    .caracteristica {
      margin-right: 40px;
    }

    .detal-item {
      margin-left: 65px;
      margin-right: 65px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    .detal-item {
      margin-left: 65px;
      margin-right: 20px;
    }
  }

  @media (min-width: 546px) and (max-width: 1024px) {
    .tarjeta-detalle {
      padding: 50px 62px;
    }

    .boton-carrito-det {
      display: none;
    }

    .boton-car-detalle {
      border: #1c2175 solid 2px;
      background: #1c2175;
      color: #ebeef5;
      border-radius: 5px;
      margin-left: 100px;
      height: 35px;
      display: block;
    }

    .boton-car-detalle:hover {
      color: #ff3100;
    }

    .cantidad {
      border: #283346 2px solid;
      border-radius: 5px;
      background-color: #f4f5fb;
      padding: 0 20px;
      margin-right: 55px;
      width: 145px;
    }
  }

  @media (max-width: 546px) {
    .tarjeta-detalle {
      padding: 50px 10px 0 10px;
    }

    .boton-carrito-det {
      display: none;
    }

    .boton-car-detalle {
      border: #1c2175 solid 2px;
      background: #1c2175;
      color: #ebeef5;
      border-radius: 5px;
      margin-left: 0px;
      margin-top: 5px;
      height: 35px;
      display: block;
    }

    .boton-car-detalle:hover {
      color: #ff3100;
    }

    .cantidad {
      border: #283346 2px solid;
      border-radius: 5px;
      background-color: #f4f5fb;
      padding: 0 20px;
      margin-right: 55px;
      width: 145px;
    }

    .caracteristica {
      margin-right: 35px;
      margin-top: 12px;
    }

    .car-det {
      margin-top: 12px;
    }
  }

  /* .table-grid thead {
    background: #000ea8 !important;
  } */
</style>
