<template>
  <div>
    <div class="tienda-title order">CARTERA</div>
    <div class="order mt-5">
      <div class="cartera">

        <!-- TABLA -->
        <TableReceivable :contactId="contact_id" />

        <!-- LOGO -->
        <b-row class="mt-2 form-group">
          <b-col
            sm="12"
            md="12"
            lg="12"
            xl="12"
            cols="12"
          >
            <a
              href="https://www.zonapagos.com/pagosn2/LoginCliente"
              target="_blank"
            >
              <img
                src="../../assets/img/b2b/btn-pse.png"
                width="150"
                alt=""
              >
            </a>
          </b-col>
        </b-row>
      </div>
    </div>
    <div class="cuadro">
      <strong>Estimado Cliente: </strong>
      Al consultar el estado de su cartera y pagos en la página
      <strong>www.colsaisa.com</strong>
      es posible que los datos no se encuentren actualizados, pues esta información expuesta para usted es tan solo de referencia.
      Lo anterior debido a que en un momento determinado la página <strong>www.colsaisa.com</strong>
      no se encuentre sincronizada en un 100% con el sistema de gestión corporativo de colsaisa.
      Si usted desea conocer el estado actualizado de su cartera solicite un informe al correo <strong>cartera@colsaisa.com </strong>
      <br>
      <strong>Descuento Pronto Pago</strong>
      El descuento por pago debe ser calculado sobre el subtotal de la factura (sin IVA)
      y aplica solo para clientes que no tienen facturas vencidas.
      Los descuentos están descritos en las facturas de venta; por tal motivo en el evento
      de una incorrecta aplicación el saldo quedara en cartera.
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import TableReceivable from "../../components/u2/TableReceivable.vue";


export default {
  components: {
    TableReceivable
  },
  data () {
    return {
      contact_id: 0,
    }
  },
  created () {
    this.initComponent()
  },
  methods: {
    async initComponent () {
      this.contact_id = this.user_b2b.contact.id;
    },
  },
  computed: {
    ...mapState('login', [
      'user_b2b',
      'user_logued'
    ]),
    ...mapState('receivable', [
      'receivables',
      'params',
    ]),
  }
}
</script>
<style>
.pago {
  width: 80%;
  float: right;
}
.cuadro {
  margin: 50px 130px;
  font-size: 12px;
  border-color: #337ab7;
  border: solid 1px;
  text-align: center;
  color: #353535;
}
.el-table th {
  color: black;
  background-color: transparent;
}
.el-table .warning-row {
  background: #c00000;
  color: whitesmoke;
}
.cartera {
  text-align: center;
}
.order {
  margin-left: 130px;
  margin-right: 130px;
}
@media (min-width: 426px) and (max-width: 1024px) {
  .order {
    margin-left: 30px;
    margin-right: 30px;
  }
  .cuadro {
    margin: 50px 10px;
  }
}
@media (max-width: 425px) {
  .order {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cuadro {
    margin: 50px 10px;
  }
}
</style>
