<template>
  <preloader
    mensaje="Cargando..."
  ></preloader>
</template>

<script>
	import { mapActions } from 'vuex'
  import preloader from "../../components/layout/preloader"
	import $http from '../../axios'

	export default {
    components: {
      preloader,
    },
		data() {
			return {
				warehouse: {
					params: {
						ide: this.$route.query.codbod
					},
          destiny: null
				}
			}
		},
		async created() {
      this.destiny = this.$route.query.destino

			await this.fetchUser(this.warehouse)
		},
		methods: {
			async fetchUser(warehouse) {
				await $http.get('/api/establecimientos-vendedor', warehouse).then(async (response) => {
					localStorage.setItem('user_b2b', JSON.stringify(response.data.data))
					await this.loginB2b(response.data.data)
          if (this.destiny){
            this.$router.push('/b2b/' + this.destiny)
          }else{
            this.$router.push('/b2b/catalogo')
          }
				})
			},
			...mapActions('login', [
				'loginB2b'
			])
		}
	};
</script>
