<template>
  <div>
    <div class="card-header">
      <div class="row">
        <img
          src="/storage/contacts/employees/default.jpg"
          alt="vendedor"
          class="rounded-circle vendedor-img-cart"
        >
        <div
          class="vendedor-cart"
          v-if="user_b2b.seller != null"
        >
          {{ user_b2b.seller.name }} {{user_b2b.seller.surname}}
        </div>
      </div>
      <div class="row">
        <div class="clien">
          Sr. {{user_b2b.contact.name}}<br>
        </div>
        <div class="parrafo">
          Los siguientes productos incluidos en su pedido no cuentan con existencia suficiente.
          En algunas referencias le podemos ofrecer opciones equivalentes para que usted pueda agregarlas.
          En caso de generar Back Order, me comunicaré con usted oportunamente cuando tengamos existencia, para coordinar su despacho.
        </div>
      </div>
    </div>
    <!-- <div class="card-body"> -->
    <div
      v-if="(screenWidth >= 769)"
      class="table-responsive-lg"
    >
      <table class="table table-borderless">
        <thead>
          <tr class="relative-form">
            <th class="img-relative"></th>
            <th class="product-relative">Producto</th>
            <th class="vr-unit">Vr-Unit</th>
            <th class="exist">Existencia</th>
            <th class="cant-ped">Cant-Pedido</th>
            <th class="back-order">Back-Order</th>
            <th class="boton-car"></th>
          </tr>
        </thead>
      </table>
    </div>
    <div
      v-for="item in productsForm"
      :key="item.id + ' rel'"
    >
      <div v-if="item.relate.length">
        <div class="borde table-responsive">
          <!-- inicio tabla en tamaño normal-->
          <table
            v-if="(screenWidth >= 769)"
            class="table table-borderless"
          >
            <tbody>
              <tr>
                <td class="img-relative"><img
                    :src="item.product.products_attachments.length > 0 ? item.product.products_attachments[0].url : item.product.brand.image"
                    alt="product"
                    style="width:100%"
                  ></td>
                <td class="product-relative">
                  <span class="font-weight-bold">{{item.product.brand.description}} <span class="ti-shopping-cart"></span></span><br>
                  <a
                    :href="'/#/b2b/'+ item.product.id  + '/detalle'"
                    target="_blank"
                  >{{item.product.description}} </a>
                </td>
                <td class="vr-unit">{{item.unit_value | currency}}</td>
                <td
                  v-if="item.product.quantity_available < 49 "
                  class="exist"
                >
                  {{item.product.quantity_available > 0 ? item.product.quantity_available : '0' }}
                </td>
                <td
                  v-else
                  class="exist"
                >
                  {{item.product.quantity_available > 50 ? '50 +' : '50 +'}}
                </td>
                <td class="cant-ped">
                  <span v-if="!item.showButtons">{{item.quantity}}</span>
                  <input
                    v-else
                    type="number"
                    class="ped"
                    v-model="item.quantity"
                  >
                </td>
                <td
                  v-if="item.product.quantity_available < 49 "
                  class="back-order"
                >
                  {{item.product.quantity_available < 0 ? item.quantity : item.quantity - item.product.quantity_available}}
                  <i
                    v-if="(item.quantity - item.product.quantity_available) > 0"
                    class="fa fa-exclamation-circle fa-2x text-danger align-middle"
                  ></i>
                </td>
                <td
                  v-else
                  class="back-order"
                >
                  {{item.quantity - item.product.quantity_available > 50 ? '50 +' : '50 +'}}
                  <i
                    v-if="(item.quantity - item.product.quantity_available) > 0"
                    class="fa fa-exclamation-circle fa-2x text-danger align-middle"
                  ></i>
                </td>
                <td>
                  <button
                    v-if="item.modified"
                    @click="deshacerItem(item)"
                    class="btn btn-secondary"
                    style="width:80%"
                  >
                    Deshacer
                  </button>
                  <i
                    v-if="item.modified"
                    class="fa fa-check-circle text-success fa-3x align-middle"
                    style="width:17%"
                  ></i>
                  <button
                    v-if="item.showButtons && !item.modified"
                    @click="modifica(item)"
                    class="btn agregar"
                    style="width:48%"
                  >
                    Modificar
                  </button>
                  <button
                    v-if="item.showButtons && !item.modified"
                    @click.stop="eliminar(item)"
                    class="btn cancel"
                    style="width:48%"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr
                v-show="related.quantity_available > 0"
                v-for="related in item.relate"
                :key="related.id"
              >
                <td class="img-relative">
                  <img
                    :src="related.products_attachments == '' ? related.brand.image : related.products_attachments[0].url"
                    alt="product"
                    style="width:100%"
                  >
                </td>
                <td class="product-relative">
                  <span class="font-weight-bold">{{related.brand.description}}</span><br>
                  <a
                    v-b-tooltip.bottom
                    title="Equivalente"
                    :href="'/#/b2b/'+ related.id  + '/detalle'"
                    target="_blank"
                  >{{related.description}}</a>
                </td>
                <td class="vr-unit">{{related.price.price | currency}}</td>
                <td class="exist">{{related.quantity_available < 50 ? related.quantity_available : '50 +'}}</td>
                <td class="cant-ped">
                  <input
                    type="number"
                    class="ped"
                    v-model="related.quantity"
                    @change="add(item, related)"
                  >
                </td>
                <td class="back-order"></td>
                <td class="boton-car">
                  <button
                    @click="add(item, related)"
                    v-if="!related.add"
                    class="btn agregar"
                    style="width:100%"
                  >
                    Agregar al Pedido
                  </button>
                  <button
                    v-else
                    @click="deshacerRelated(item, related)"
                    class="btn btn-secondary"
                    style="width:80%"
                  >
                    Deshacer
                  </button>
                  <i
                    v-if="related.add"
                    class="fa fa-check-circle text-success fa-3x align-middle"
                    style="width:17%"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- fin tabla en tamaño normal-->
          <!-- inicio tabla en responsive-->
          <table
            v-else-if="(screenWidth <= 768)"
            class="table table-borderless"
          >
            <thead>
              <tr class="relative-form">
                <th class="img-relative"></th>
                <th class="product-relative">Producto</th>
                <th class="vr-unit">Vr-Unit</th>
                <th class="exist">Existencia</th>
                <th class="cant-ped">Cant-Pedido</th>
                <th class="back-order">Back-Order</th>
                <th class="boton-car"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="5">
                  <span class="font-weight-bold">{{item.product.brand.description}} <span class="ti-shopping-cart"></span></span>
                  <br>
                  <a
                    :href="'/#/b2b/'+ item.product.id  + '/detalle'"
                    target="_blank"
                  >{{item.product.description}}</a>
                </td>
              </tr>
              <tr>
                <td class="vr-unit">{{item.unit_value | currency}}</td>
                <td
                  v-if="item.product.quantity_available < 49 "
                  class="exist"
                >
                  {{item.product.quantity_available > 0 ? item.product.quantity_available : '0' }}
                </td>
                <td
                  v-else
                  class="exist"
                >
                  {{item.product.quantity_available > 50 ? '50 +' : '50 +'}}
                </td>
                <td class="cant-ped">
                  <span v-if="!item.showButtons">{{item.quantity}}</span>
                  <input
                    v-else
                    type="number"
                    class="ped"
                    v-model="item.quantity"
                  >
                </td>
                <td
                  v-if="item.product.quantity_available < 49 "
                  class="back-order"
                >
                  {{item.product.quantity_available < 0 ? item.quantity : item.quantity - item.product.quantity_available}}
                  <i
                    v-if="(item.quantity - item.product.quantity_available) > 0"
                    class="fa fa-exclamation-circle fa-2x text-danger align-middle"
                  ></i>
                </td>
                <td
                  v-else
                  class="back-order"
                >
                  {{item.quantity - item.product.quantity_available > 50 ? '50 +' : '50 +'}}
                  <i
                    v-if="(item.quantity - item.product.quantity_available) > 0"
                    class="fa fa-exclamation-circle fa-2x text-danger align-middle"
                  ></i>
                </td>
                <td>
                  <button
                    v-if="item.modified"
                    @click="deshacerItem(item)"
                    class="btn btn-secondary"
                    style="width:80%"
                  >
                    Deshacer
                  </button>
                  <i
                    v-if="item.modified"
                    class="fa fa-check-circle text-success fa-3x align-middle"
                    style="width:17%"
                  ></i>
                  <button
                    v-if="item.showButtons && !item.modified"
                    @click="modifica(item)"
                    class="btn agregar"
                    style="width:48%"
                  >
                    Modificar
                  </button>
                  <button
                    v-if="item.showButtons && !item.modified"
                    @click.stop="eliminar(item)"
                    class="btn cancel"
                    style="width:48%"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
              <tr
                v-show="related.quantity_available > 0"
                v-for="related in item.relate"
                :key="related.id"
              >
                <td colspan="5">
                  <div class="font-weight-bold ">{{related.brand.description}} <span class="ti-shopping-cart"></span></div>
                  <div>
                    <a
                      v-b-tooltip.bottom
                      title="Equivalente"
                      :href="'/#/b2b/'+ related.id  + '/detalle'"
                      target="_blank"
                    >
                      {{related.description}}
                    </a>
                  </div>
                  <table>
                    <tbody>
                      <tr>
                        <td class="vr-unit">{{related.price.price | currency}}</td>
                        <td class="exist">{{related.quantity_available < 50 ? related.quantity_available : '50 +'}}</td>
                        <td class="cant-ped">
                          <input
                            type="number"
                            class="ped"
                            v-model="related.quantity"
                            @input="add(item, related)"
                          >
                        </td>
                        <td class="back-order"></td>
                        <td class="boton-car">
                          <button
                            @click="add(item, related)"
                            v-if="!related.add"
                            class="btn agregar"
                            style="width:100%"
                          >
                            Agregar al Pedido
                          </button>
                          <button
                            v-else
                            @click="deshacerRelated(item, related)"
                            class="btn btn-secondary"
                            style="width:80%"
                          >
                            Deshacer
                          </button>
                          <i
                            v-if="related.add"
                            class="fa fa-check-circle text-success fa-3x align-middle"
                            style="width:17%"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- fin tabla en responsive-->
        </div>
      </div>
    </div>
    <div
      v-for="item in productsForm"
      :key="item.id + 'car'"
    >
      <div v-show="!item.relate.length">
        <div
          class="borde table-responsive-lg"
          style="margin-top:20px"
        >
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="img-relative"><img
                    :src="item.product.products_attachments.length > 0 ? item.product.products_attachments[0].url : item.product.brand.image"
                    alt="product"
                    style="width:100%"
                  ></td>
                <td class="prod-rel">
                  <span class="font-weight-bold">{{item.product.brand.description}} <span class="ti-shopping-cart"></span></span><br>
                  <a
                    :href="'/#/b2b/'+ item.product.id  + '/detalle'"
                    target="_blank"
                  >{{item.product.description}}</a>
                </td>
                <td class="vr-unit">{{item.unit_value | currency}}</td>
                <td
                  v-if="item.product.quantity_available < 49 "
                  class="exist"
                >
                  {{item.product.quantity_available > 0 ? item.product.quantity_available : 'Agotado' }}
                </td>
                <td
                  v-else
                  class="exist"
                >
                  {{item.product.quantity_available > 50 ? '50 +' : '50 +'}}
                </td>
                <td class="cant-ped">{{item.quantity}}</td>
                <td
                  v-if="item.product.quantity_available < 49 "
                  class="back-order"
                >
                  {{item.product.quantity_available < 0 ? item.quantity : item.quantity - item.product.quantity_available}}
                  <i
                    v-if="(item.quantity - item.product.quantity_available) > 0"
                    class="fa fa-exclamation-circle fa-2x text-danger align-middle"
                  ></i>
                </td>
                <td
                  v-else
                  class="back-order"
                >
                  {{item.quantity - item.product.quantity_available > 50 ? '50 +' : '50 +'}}
                  <i
                    v-if="(item.quantity - item.product.quantity_available) > 0"
                    class="fa fa-exclamation-circle fa-2x text-danger align-middle"
                  ></i>
                </td>
                <td></td>
              </tr>
              <tr>
                <td
                  colspan="7"
                  class="text-center"
                >-----------------------------NO HAY SUGERENCIAS DISPONIBLES-----------------------------</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="observation"><b>Observaciones:</b></label>
      <textarea
        class="form-control"
        v-model="cart.observation"
        id="observation"
      ></textarea>
    </div>
    <preloader
      v-show="loader"
      mensaje="Guardando Pedido..."
    ></preloader>
    <!-- </div> -->
    <div class="boton-rel">

      <b-button
        v-if="!boton"
        class="continuar"
        @click="finalizeOrder"
      >
        <countdown
          v-if="counting"
          :time="60000"
          @end="handleCountdownEnd"
        >
          <template slot-scope="props"> Continuar. No deseo hacer cambios {{ props.totalSeconds }} </template>
        </countdown>
        <span v-else> Continuar. No deseo hacer cambios</span>
      </b-button>
      <b-button
        v-if="boton"
        class="cambios"
        @click="finalizeOrder"
      >
        <countdown
          ref="countdown"
          v-if="counting"
          :time="60000"
          @start="inicioCount"
          @end="handleCountdownEnd"
        >
          <template slot-scope="props"> Aplicar Cambios {{ props.totalSeconds }} </template>
        </countdown>
        <span v-else> Aplicar Cambios</span>
      </b-button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue';
import VueCountdown from '@chenfengyuan/vue-countdown';

Vue.component(VueCountdown.name, VueCountdown);

import { mapState, mapMutations, mapActions } from "vuex";
import preloader from "./../../components/layout/preloader";

export default {
  name: "relativeProductsForm",
  components: {
    preloader,
    VueCountdown
  },
  data () {
    return {
      counting: false,
      boton: false,
      id_cart: 0,
      loader: false,
      screenWidth: document.documentElement.offsetWidth,
    }
  },
  mounted () {
    this.$store.watch(() => {
      if (this.related != '') {
        this.counting = true;
      }
    })
  },
  methods: {/*
        startCountdown: function () {
            this.counting = true;
        }, */
    inicioCount: function () {
      this.counting = true;
    },
    handleCountdownEnd: function () {
      this.counting = false;
      this.finalizeOrder()
    },

    download (documentObject) {
      this.downloadDocument(documentObject)
    },
    eliminar (item) {
      item.quantity = 0
      item.lastShowButtons = item.showButtons
      item.showButtons = false
      this.changeItem(item)
    },
    modifica (item) {
      if (item.quantity > 0) {
        item.lastShowButtons = item.showButtons
        item.showButtons = false
        item.modified = true
        this.changeItem(item)
      }
    },
    add (item, related) {
      if (related.quantity > 0) {
        related.add = true
        item.lastShowButtons = item.showButtons
        item.showButtons = true
        this.changeItem(item, related)
      }
    },
    deshacerItem (item) {
      item.quantity = item.originalQuantity
      item.modified = false
      item.showButtons = item.lastShowButtons
      this.changeItem(item)
    },
    deshacerRelated (item, related = null) {

      if (related) {
        related.quantity = 0
        related.add = false
      }
      let rel = item.relate.find(r => r.add == true)

      if (!rel) {
        item.lastShowButtons = item.showButtons
        item.showButtons = false
        item.modified = false
        item.quantity = item.originalQuantity
      }
      this.changeItem(item)



    },
    changeItem (item, relate = null) {
      this.boton = true
      this.counting = false

      let productsForm = JSON.parse(JSON.stringify(this.productsForm))
      productsForm.map(p => {
        if (p.id == item.id) {
          p = item
          if (relate) {
            p.relate.map(r => {
              if (r.id == relate.id) {
                r = relate
              }
            })
          }
        }
      })

      this.setProductsForm(productsForm)
      this.inicioCount();
    },
    async finalizeOrder () {
      this.loader = true
      let productsForm = JSON.parse(JSON.stringify(this.productsForm))

      for (let i = 0; i < productsForm.length; i++) {
        if (productsForm[i].quantity > 0) {
          let product = JSON.parse(JSON.stringify(productsForm[i]))
          product.id = productsForm[i].product.id
          product.price = {}
          product.price.price = productsForm[i].unit_value
          product.quantity = productsForm[i].quantity
          await this.addToCartFinalize(product)
          if (productsForm[i].relate.length) {
            for (let j = 0; j < productsForm.length; j++) {
              if (productsForm[i].relate[j] && productsForm[i].relate[j].add) {
                let relate = JSON.parse(JSON.stringify(productsForm[i].relate[j]))
                await this.addToCartFinalize(relate)
              }
            }
          }
        } else {
          await this.removeCartItems(productsForm[i])
        }
      }
      await this.finalizeOrderAction(this.cart)
      this.counting = false
      this.loader = false
      this.$alert("Su pedido ha sido recibido de forma exitosa, en minutos recibira un correo electronico con el detalle del pedido", "Exito", {
        confirmButtonText: "Aceptar",
        type: "success",
      }).then(verifica => {
        this.$root.$emit('bv::hide::modal', 'relacionados', '#relacionados')
      }).catch(() => {
        this.$root.$emit('bv::hide::modal', 'relacionados', '#relacionados')
      });
    },
    async showModal (cart) {
      await this.getPdf(cart.id)
      this.$refs.pdf.show()
    },
    cerrarPrev () {
      this.$refs.pdf.hide()
    },
    ...mapActions('productDetail', [
      'getrelated',

    ]),
    ...mapMutations('productDetail', [
      'setRelatedCart'
    ]),
    ...mapActions('cart', [
      'removeCartItems',
      'addToCartFinalize',
      'finalizeOrderAction',
      'getPdf',
      'downloadDocument'
    ]),
    ...mapMutations('relativeProductsForm', [
      'setProductsForm'
    ]),
    ...mapMutations('cart', [
      'setPdf'
    ])

  },
  computed: {

    ...mapState('login', [
      'user_b2b',
      'user_logued'
    ]),
    ...mapState('cart', [
      'cart',
      'pdf'
    ]),
    ...mapState('relativeProductsForm', [
      'productsForm',
      'brands',
      'categories',
      'groups',
      'imagen',
      'params',
      'related'
    ]),

  },
}
</script>
<style>
.agregar {
  background-color: #00b050;
  border-color: #00b050;
  color: #ffffff;
}
.text-danger {
  color: #c00000 !important;
}
.text-success {
  color: #00b050 !important;
}
.cancel {
  background-color: #c00000;
  border-color: #c00000;
  color: #ffffff;
}

/*estilos tabla */
.borde {
  border: #1c2175 solid 1px;
  border-radius: 4px;
  padding: 5px;
}
.back-order {
  width: 116px;
  min-width: 116px;
  text-align: center;
}
.ped {
  width: 60px;
  text-align: center;
}
.cant-ped {
  width: 133px;
  min-width: 133px;
  text-align: center;
}
.exist {
  width: 115px;
  min-width: 115px;
  text-align: center;
}
.vr-unit {
  width: 90px;
  min-width: 90px;
  text-align: center;
}
.img-relative {
  width: 70px;
  min-width: 70px;
}
.product-relative {
  width: 300px;
  min-width: 300px;
}
.product-rel {
  width: 300px;
  min-width: 300px;
}
.relative-form th {
  color: #1c2175;
  font-size: 18px;
}
.card-header {
  background-color: #ffffff;
}
.vendedor-img-cart {
  width: 80px;
  height: 80px;
}
.vendedor-cart {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: initial;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #283346;
  line-height: 1.1;
  margin-top: 30px;
  margin-left: 10px;
}
.clien {
  width: 70%;
  margin-left: 90px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: initial;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #283346;
}
.parrafo {
  margin-left: 90px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: initial;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #283346;
  line-height: 1.1;
}
.boton-car {
  width: 200px;
  min-width: 200px;
}
.cant {
  width: 50%;
}

.boton-rel {
  margin: 0 20px 20px;
}
.continuar {
  background-color: #1c2175;
  border-color: #1c2175;
  margin-left: 400px;
}
.cambios {
  background-color: #1c2175;
  border-color: #1c2175;
  margin-left: 460px;
}
.vista {
  background-color: #1c2175;
  border-color: #1c2175;
  float: right;
}
.prod-rel {
  width: 300px;
  min-width: 328px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .modal-dialog {
    max-width: 735px;
  }
  .card-header {
    display: none;
  }
  .img-relative {
    display: none;
  }
  .product-relative {
    display: none;
  }
  .continuar {
    margin-left: 180px;
  }
  .cambios {
    margin-left: 160px;
  }
  .prod-rel {
    width: 300px;
    min-width: 300px;
  }
}
@media (max-width: 575px) {
  .card-header {
    display: none;
  }
  .img-relative {
    display: none;
  }
  .product-relative {
    display: none;
  }
  .continuar {
    margin-left: 40px;
  }
  .cambios {
    margin-left: 40px;
  }
  .prod-rel {
    width: 300px;
    min-width: 300px;
  }
}
</style>
