<template>
  <div
    class="tarjeta-detalle"
    v-if="related.length"
  >
    <div class="relacionados-title">Productos Equivalentes</div>
    <b-card-group deck>
      <b-card
        v-for="(prod, index) in related"
        :key="prod.id"
        v-if="index <= 2"
        style="min-width:20rem; max-width: 23rem;"
      >
        <router-link :to="`/b2b/${prod.id}/detalle`">
          <div class="">
            <!--  <p v-if="prod.price.percentage > 0" class="ministar">
                        <img src="../../assets/img/b2b/descuento.png" style="width: 85%" />
                    </p>
                    <p v-if="prod.price.percentage > 0"  class="minioff">
                        <span style="color: white; font-size: 12px"> {{prod.price.percentage}}% </span>
                    </p> -->
            <img
              class="prod-d-img"
              :src="prod.products_attachments.length == 0 ? prod.brand.image : prod.products_attachments.url"
            >
            <div
              class="brand-detail"
              href="#"
            > {{prod.brand.description}} </div>
            <div class="prod-title">{{prod.description}}</div>
          </div>
        </router-link>
        <b-row style="margin-top: 35px">
          <b-col
            sm="5"
            cols="5"
          >
            <div class="detalle-item">Precio Und</div>
            <!-- <strong><div class="detail">{{prod.price.price | currency}}</div></strong> -->
            <strong>
              <div class="detail">{{prod.price| currency}}</div>
            </strong>
          </b-col>
          <b-col
            sm="3"
            cols="3"
          >
            <div class="detalle-item">Cant</div>
            <div>
              <!--   <b-button class="btn-cant" @click.prevent="resta(prod)">-</b-button> -->
              <input
                type="text"
                v-model="prod.quantity"
                @input="newCant(prod)"
                class="form-control cant-cat det"
              >
              <!--  <b-button class="btn-cant"  @click.prevent="suma(prod)">+</b-button> -->
            </div>
          </b-col>
          <b-col
            sm="4"
            cols="4"
          >
            <div class="detalle-item">Total</div>
            <strong>
              <div class="detail">{{prod.total | currency}}</div>
            </strong>
          </b-col>
        </b-row>
        <div>
          <button
            class="boton-carrito-detalle"
            @click.stop="agregarCarrito(prod)"
          >
            <span class="ti-shopping-cart"></span> AGREGAR
          </button>
        </div>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>

import { mapActions, mapMutations, mapState } from 'vuex';
export default {
  data () {
    return {
      click: 0,
      relative: true
    }
  },
  methods: {
    newCant (prod) {
      if (prod.quantity < 0) {
        prod.quantity = 0
      } else {
        prod.total = prod.quantity * prod.price.price
      }
    },
    agregarCarrito (prod) {
      if (!prod.quantity) {
        this.$alert("La cantidad no puede estar vacia", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: 'order-box',
        }).then(verifica => { });
      } else {
        this.addToCart(prod)
      }
    },
    suma: function (prod) {
      if (!prod.click) {
        prod.click = 0
      }
      prod.click++
      prod.quantity++
      prod.total = prod.quantity * prod.price.price
    },
    resta: function (prod) {
      if (!prod.click) {
        prod.click = 0
      }
      if ((prod.quantity) <= 0) {
        prod.quantity = 0
      } else {
        prod.click--
        prod.quantity--
      }
      prod.total = prod.price.price * prod.quantity
    },
    ...mapActions('productDetail', [
      'getrelated',

    ]),
    ...mapMutations('productDetail', [
      'setRelated'
    ]),
    ...mapActions('cart', [
      'addToCart'
    ])
  },
  computed: {
    ...mapState('productDetail', [
      'brands',
      'categories',
      'groups',
      'related',
      'imagen',
      'params'
    ]),
    ...mapState('login', [
      'user_b2b',
      'user_logued'
    ]),
  },

}
</script>
<style>
.det {
  width: 100% !important;
}
.detail {
  font-size: 15px;
  text-align: center;
}
.brand-detail {
  width: auto;
  line-height: 140%;
  color: #a0a6c5;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s;
  text-transform: uppercase;
}
.relacionados-title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #283346;
  padding: 0;
  height: 22px;
  position: relative;
  line-height: 110%;
  transition: all 0.2s;
  display: block;
}
.boton-carrito-detalle {
  border: #1c2175 solid 2px;
  background: #1c2175;
  color: #ebeef5;
  border-radius: 5px;
  margin-left: 5px;
  height: 50%;
  margin-top: 25px;
  width: 100%;
}
.boton-carrito-detalle:hover {
  color: #ff3100;
}
.prod-d-img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: 260px;
  height: 270px;
  overflow: hidden;
  margin: 0 0 10px;
  border: none;
}
@media (max-width: 1580px) and (min-width: 1418px) {
  .detail {
    margin-left: 16px;
  }
}
</style>

