<template>
  <div>
    <div class="tienda-title order">Asistente de Reposición</div>
    <b-col class="replacement" sm="12" md="12" lg="12" xl="10" cols="12">

      <div>
        <b-row class="mb-3 ml-1">
          <div>
            <b style="font-size: 15pt;">Los precios NO incluyen IVA</b>
          </div>
        </b-row>
        <b-row>
          <div class="col-md-12 col-lg-6 mt-2 mb-4">
            <label for="range_date">
              Fecha Desde
            </label>
            <el-date-picker
              v-model="params.filter_date"
              type="date"
              id="range_date"
              name="range_date"
              data-vv-as=" "
              value-format="yyyy-MM-dd"
              @change="filterDate()"
            >
            </el-date-picker>
          </div>
          <div class="col-md-12 col-lg-4 mt-2 mb-4">
            <el-select
              v-model="params.filter_brands"
              multiple
              filterable
              @remove-tag="deleteTags"
              placeholder="Seleccione una marca"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              @focus="fetchBrands()"
              @change="filterBrands"
            >
              <el-option
                v-for="brand in brands"
                :key="brand.value"
                :value="brand.value"
                :label="brand.label">
              </el-option>
            </el-select>
          </div>
          <!--<div class="col-md-12 col-lg-5" style="margin-top: 2em;">
              <b-form-group label="" class="mb-0">
                  <b-input-group>
                      <b-btn @click="filterDate(params.filter_date)" id="botones"><span class="ti-search"></span> Filtrar</b-btn>
                  </b-input-group>
              </b-form-group>
          </div>-->
        </b-row>
      </div>

      <div v-if="loader" style="padding:63px 250px 13px">
        <vcl-facebook></vcl-facebook>
        <div style="padding: 20px 0"></div>
        <vcl-facebook></vcl-facebook>
        <div style="padding: 20px 0"></div>
        <vcl-facebook></vcl-facebook>
      </div>

      <div v-else-if="!products.data.length">
        <div class="card">
          <div class="card-body no-products">
            NO SE ENCONTRARON PRODUCTOS
          </div>
        </div>
      </div>

      <div v-else v-for="prod in products.data" :key="prod.id">
        <div class="product_box card card-replacement">
          <div class="card-body tarjeta row">
            <div class="col-12 col-md-3 col-lg-2 text-center align-middle div-image">
              <!-- <div class="text-center align-middle"> -->
              <router-link :to="`/b2b/${prod.id}/detalle`">
                <!-- <p class="disponibilidad" v-if="(prod.price.percentage > 0) || (user_logued.contact.employee.category_id == 224)">
                    <span v-if="prod.quantity_available < 10 " >
                        Disponible {{prod.quantity_available > 0 ? prod.quantity_available : 0 }}
                    </span>
                    <span v-else>
                        Disponible {{prod.quantity_available > 50 ? '10 +' : '10 +'}}
                    </span>
                </p> -->
                <img :src="getPathImage(prod)" alt="product image" class="product-image-replacement"/>
                <p v-if="prod.price.percentage > 0" class="miniestrella">
                  <img src="../../assets/img/b2b/chispaPromo.png" style="width: 40px"/>
                </p>
                <p v-if="prod.price.percentage > 0" class="minidescuento">
                  <span style="color: white; font-size: 15px; font-weight:bold"> {{prod.price.percentage}}% </span>
                </p>
              </router-link>
              <!-- </div>	 -->
            </div>
            <div class="col-12 col-md-9 col-lg-10">
              <b-row class="descri">
                <b-col sm="12" md="12" lg="12" xl="4" cols="12">
                  <div class="product-brand">{{prod.brand.description}} - {{prod.code}}</div>
                  <div class="product-description">
                    <router-link :to="`/b2b/${prod.id}/detalle`">
                      {{prod.description}}
                    </router-link>
                  </div>
                </b-col>
                <b-col sm="4" md="4" lg="4" xl="2" cols="4">
                  <div class="product-item">Precio Und</div>
                  <div>
                    <strong>
                      <div class="desc text-nowrap"
                           style="margin-right: 25px;">{{prod.price.price | currency}}
                      </div>
                    </strong>
                  </div>
                </b-col>
                <b-col sm="4" md="4" lg="4" xl="3" cols="3">
                  <div class="product-item">Cant</div>
                  <div class="input-group-prepend">
                    <b-button class="btn-cant" @click.prevent="resta(prod)">-</b-button>
                    <input type="number" v-model="prod.quantity" @input="newCant(prod)"
                           class="form-control cant-cat">
                    <b-button class="btn-cant" @click.prevent="suma(prod)">+</b-button>
                  </div>
                </b-col>
                <b-col sm="4" md="4" lg="4" xl="3" cols="5">
                  <div class="product-item">Total</div>
                  <strong>
                    <div class="desc text-nowrap">{{prod.price.price * prod.quantity | currency}}
                    </div>
                  </strong>
                </b-col>
                <b-col sm="12" md="12" cols="12"
                       class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                  <div class="canti_dispo pull-right">
                    <span class="disponibilidad-sm-replacement">
                      Disponible {{prod.inventory[0].available > 50 ? '50 +' : prod.inventory[0].available }}
                    </span>
                  </div>
                </b-col>
                <b-col sm="12" md="12" cols="12"
                       class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                  <button style="width: 100%; margin-top: 10px" class="boton-carrito"
                          @click.stop="agregarCarrito(prod)"> <!-- Crear función para agregar -->
                    <span class="ti-shopping-cart"></span> AGREGAR
                  </button>
                </b-col>
              </b-row>
              <div class="card-foot">
                <hr>
                <b-row>
                  <div class="col-12">
                    <div class="date-div">
                      <strong> Ult. Compra:</strong>
                      {{prod.documents_products[0].document.document_date}}
                      <button
                        class="boton-carrito d-none d-sm-none d-md-block d-lg-block d-xl-block pull-right"
                        @click.stop="agregarCarrito(prod)"> <!-- Crear función para agregar -->
                        <span class="ti-shopping-cart"></span> AGREGAR
                      </button>
                      <b-button v-if="agregadoCart(prod)" size="sm"
                                class="mt-1 mr-3 button-table eliminar pull-right"
                                @click.stop="eliminarProdCar(prod)">
                        <span class="fa fa-trash"></span>
                      </b-button>
                      <div
                        class="canti_dispo d-none d-sm-block d-md-block d-lg-block d-xl-block pull-right mr-3">
                          <span class="disponibilidad-sm-replacement">
                            Disponible {{prod.inventory[0].available > 50 ? '50 +' : prod.inventory[0].available }}
                          </span>
                      </div>
                    </div>
                  </div>
                </b-row>
              </div>
            </div>
          </div>
        </div>
      </div>
      <b-row class="paginador">
        <b-col md="12" class="my-1">
          <b-pagination :total-rows="totalRows"
                        per-page="15"
                        :current-page="params.page"
                        v-model="params.page"
                        class="my-0 float-right"
                        @change="setPagePagination"
          />
        </b-col>
      </b-row>
    </b-col>
  </div>
</template>

<script>
  import {mapState, mapActions, mapMutations, mapGetters} from "vuex"
  import {VclFacebook} from 'vue-content-loading'
  import {getApiDomain} from "../../util/domains";

  export default {
    components: {
      VclFacebook,
    },
    data() {
      return {
        loader: true,
        tags: []
      }
    },
    mounted() {
      /*this.$store.watch(() => {
          return this.getParams.filter_brands
      }, p => {
          this.setFilterBrand(p)
          this.cargarProductos()
          //this.filter_tag(p, 'marca')
      })*/

      this.params.warehouse = this.user_b2b.id
      this.sixMonthDate()
      this.cargarProductos()
    },
    methods: {
      async cargarProductos() {
        await this.fetchProducts()
        this.loader = false
      },
      sixMonthDate() {
        const start = new Date()
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 364)
        this.params.filter_date = start
      },
      filterBrands(brands) {
        this.params.filter_brands = brands
        this.cargarProductos()
      },
      getPathImage(product) {
        let apiDomain = getApiDomain();

        if (product.products_attachments && product.products_attachments[0]) {
          apiDomain += "storage" + product.products_attachments[0].url;
        } else if (
          product.brand &&
          product.brand.image !== "" &&
          product.brand.image != null
        ) {
          apiDomain += product.brand.image;
        }
        return apiDomain;
      },
      ...mapActions('replacementAssistant', [
        'fetchProducts',
        'setFilterPagination',
        'setPerPagePagination',
        'setPagePagination',
        'setSortByPagination',
        'setSortPagination',
        'fetchBrands'
      ]),
      ...mapActions('cart', [
        'addToCart',
        'removeCartItems'
      ]),
      ...mapMutations('replacementAssistant', [
        'setProducts',
        'setPerPage',
        'setFilterBrand'
      ]),
      ...mapMutations('catalog', [
        'quitAddingProduct'
      ]),
      agregadoCart(prod) {
        if (this.cart.documents_products) {
          let icono = this.cart.documents_products.find(item => item.product_id == prod.id)
          if (icono) {
            return true
          } else {
            return false
          }
        }
      },
      async agregarCarrito(prod) {
        // Validar la cantidad
        if (!prod.quantity || prod.quantity <= 0) {
          this.$alert("La cantidad no puede estar vacia", "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "order-box",
          });

          return;
        }

        // Agregar al carrito
        await this.addToCart(prod)

        this.quitAddingProduct()
      },
      eliminarProdCar(prod) {
        this.cart.documents_products.forEach(item => {
          if (prod.id == item.product_id) {
            this.removeCartItems(item)
          }
        });
      },
      newCant(prod) {
        if (prod.quantity < 0) {
          prod.quantity = 0
        } else {
          prod.total = prod.quantity * prod.price.price
        }
      },
      suma: function (prod) {
        if (!prod.click) {
          prod.click = 0
        }
        prod.click++
        prod.quantity++ /* prod.present */
        prod.total = prod.quantity * prod.price.price
      },
      resta: function (prod) {
        if (!prod.click) {
          prod.click = 0
        }
        if ((prod.quantity /* -  prod.present */) <= 0) {
          prod.quantity = 0
        } else {
          prod.click--
          prod.quantity--  /* prod.present */
        }
        prod.total = prod.price.price * prod.quantity
      },
      filterDate() {
        this.cargarProductos()
      },
      deleteTags(tag) {
        let elimina = this.tags.findIndex(item => item.id == tag)

        this.tags.splice(elimina, 1)

        let tempo_tag = this.tags.filter(element => {
          let marc = this.params.filter_brands.findIndex(item => item == element.id)

          if (marc >= 0) {
            return element
          }
        })
        this.tags = tempo_tag
      }
    },
    computed: {
      ...mapState('login', [
        'user_b2b',
        'user_logued'
      ]),
      ...mapState('replacementAssistant', [
        'brands',
        'categories',
        'groups',
        'products',
        'params',
        'category_params',
        'lines'
      ]),
      ...mapState('cart', [
        'cart'
      ]),
      ...mapGetters('replacementAssistant', [
        'getParams'
      ]),
      totalRows() {
        return this.products.total
      }
    }
  };
</script>

<style>
  body {
    overflow-x: hidden;
  }

  .div-image {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .product-image-replacement {
    vertical-align: middle;
    max-height: 200px;
    max-width: 100%;
  }

  .descri {
    margin-left: 0px !important;
  }

  .date-div {
    height: 40px;
  }

  .replacement {
    margin-left: 130px;
    margin-top: 60px
  }

  .minidescuento {
    display: block;
    position: absolute;
    top: 27px;
    left: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  .miniestrella {
    display: block;
    position: absolute;
    top: 20px;
    left: 5px;
    text-transform: uppercase;
    text-align: center;
  }

  .tarjeta {
    padding: 0 1.25rem !important;
  }

  .page-item.active .page-link {
    background-color: #1c2175 !important;
    border-color: #1c2175 !important;
    color: #EBEEF5 !important;
  }

  .eliminar {
    float: right;
    margin-top: 0px !important;
    margin-right: 10px !important;
  }

  .paginador {
    margin: 55px 0;
  }

  .product-description a {
    font-size: 17px;
    margin: 0;
    font-family: Montserrat, 'Montserrat', sans-serif;
    font-style: initial;
    font-weight: 700;
    color: #283346;
    letter-spacing: 0px;
    text-transform: none;
  }

  .product-description a:hover {
    text-decoration: none !important;
    color: #ff3100;
  }

  .no-products {
    text-align: center;
    color: #1c2175;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .boton-carrito {
    height: auto !important;
  }

  @media (max-width: 1741px) and (min-width: 1441px) {
    .replacement {
      margin-left: 130px;
    }
  }

  @media (max-width: 1440px) {
    .replacement {
      margin-left: 150px;
    }

  }

  @media (max-width: 1199px) {
    .replacement {
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 1076px) {
    .div-car {
      margin-right: 0;
      width: 0;
    }

    .boton-carrito {
      display: inline-block;
      margin-bottom: 5px !important;
    }

    .suggested-price {
      margin-left: 40px !important;
    }
  }

  @media (max-width: 540px) {
    .cant_disp {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    .suggested-price {
      margin-top: 10px;
      margin-left: -10px !important;
    }

    .desc {
      margin-top: 10px !important;
    }
  }

  .disponibilidad-sm-replacement {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 2px 5px;
    margin-top: 2px;
    width: 120px;
    text-align: center;
  }

  .card-replacement{
    width: 100% !important;
  }
</style>
