<template>
  <card title="Auditoria">
    <div class="row my-3 d-flex justify-content-center">
      <h4 class="pt-2">
        {{
          document[0].vouchertype.name_voucher_type +
            " " +
            document[0].prefix +
            " - " +
            document[0].consecutive
        }}
      </h4>
      <button class="ml-5 btn btn-primary" @click="viewPdf">Ver</button>
    </div>

    <div v-for="(item, index) in audits[0]" :key="index">
      <div class="accordion" role="tablist">
        <b-card no-body class="mb-1">
          <b-card-header
            header-bg-variant="white"
            header-text-variant="white"
            class="p-0"
            header-tag="header"
            role="tab"
          >
            <b-button
              class="m-0"
              block
              v-b-toggle="'accordion' + index"
              variant="blue"
            >
              <strong>Responsable:</strong>
              {{ item.user_full_name }}&nbsp;&nbsp;
              <strong>Fecha:</strong>
              {{ item.created_at }} &nbsp;&nbsp;
              <p v-if="item.evento == 'created'">
                <strong>Actividad:</strong>&nbsp;&nbsp;Creación
              </p>
              <p v-if="item.evento == 'updated'">
                <strong>Actividad:</strong>&nbsp;&nbsp;Actualización
              </p>
              <p v-if="item.evento == 'deleted'">
                <strong>Actividad:</strong>&nbsp;&nbsp;Eliminación
              </p>
            </b-button>
          </b-card-header>
          <b-collapse
            :id="'accordion' + index"
            visible
            accordion="my-accordion"
            role="tabpanel"
          >
            <b-card-body>
               <div v-if="item.evento == 'updated'">
                <ul>

                  <li class="row">
                    <div
                      class="col-12 col-md-3"
                      v-for="(audit) in dataAuditupdate(item)"

                    >
                      <div class="mb-1">
                        <strong class="text-danger">{{ audit[0][0] }}</strong>
                        {{ audit[0][1] }}
                      </div>
                      <strong>{{ audit[1][0] }}</strong>
                      {{ audit[1][1] }}
                    </div>
                  </li>
                </ul>

                 <h3 class="text-center my-5"
                v-if="dataAuditProducts(item).length>0">
                  <strong>productos</strong>
                </h3>

                <ul>
                  <li class="row">
                    <div
                      class="col-12 col-md-4 my-4"
                      v-for="(dap,i) in dataAuditProducts(item)"
                    >
                      <div v-for="(ele) in dap" :key="null">
                        <strong>{{ ele[0]}}</strong>
                        {{ele[1]}}
                      </div>
                      <div class="a" >
                        <b-card no-body class="mb-1">
                          <b-card-header  class="p-1">
                            <b-button
                              block
                              v-b-toggle="'a'+i"
                              variant="info "
                              class="font-weight-bold"
                            >Valor antiguo</b-button>
                          </b-card-header>
                          <b-collapse
                            :id="'a' + i"
                          >
                            <b-card-body>
                                <ul>
                  <li class="row">
                     <div
                      class="col-12 "
                      v-for="dap in dataAuditProductsOld(item,i)"

                    >
                    <div v-for="item in dap" >
                        <strong>{{ item[0]}}</strong>
                        {{ item[1]}}
                        </div>

                    </div>
                  </li>
                </ul>
                            </b-card-body>
                          </b-collapse>
                        </b-card>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div v-if="item.evento == 'created'">
                <ul>
                  <li class="row">
                    <div
                      class="col-12 col-md-3"
                      v-for="(audit, index) in dataAudit(item)"
                    >
                      <strong>{{ audit[0] }}:</strong>
                      {{ audit[1] }}
                    </div>
                  </li>
                </ul>

                <h3 class="text-center my-5">
                  <strong>productos</strong>
                </h3>
                <ul>
                  <li class="row">
                    <div
                      class="col-12 col-md-4 my-4"
                      v-for="dap in dataAuditProducts(item)"
                    >
                      <div v-for="ele in dap">
                        <strong>{{ ele[0] }}</strong>
                        {{ ele[1] }}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </div>

    <!-- PDF -->
    <b-modal
      hide-footer
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      id="pdf"
      centered
      size="xl"
      ref="pdf"
      v-model="show_pdf"
    >
      <template v-slot:modal-header="{ close }">
        <!-- Emulate built in modal header close button action -->
        <h4 class="mt-1 mb-0 font-weight-bold align-middle">
          Auditoria
          {{
            document[0].vouchertype.name_voucher_type +
              " " +
              document[0].prefix +
              " - " +
              document[0].consecutive
          }}
        </h4>
        <b-button
          size="sm"
          variant="secondary"
          @click="accessModal((show_pdf = !show_pdf))"
          class="pull-right"
        >
          Cerrar
          <i class="fa fa-close"></i>
        </b-button>
      </template>
      <div class="row">
        <div class="col-12">
          <iframe
            v-if="show_pdf"
            style="min-height: 700px; width: 100%;"
            :src="pathPdf + '#zoom=130'"
          ></iframe>
        </div>
      </div>
    </b-modal>

    <preloader v-show="preloader" mensaje="Cargando..."></preloader>
  </card>
</template>

<script>
import card from "../../components/pages/card/card";
import { mapState, mapMutations, mapActions } from "vuex";
import preloader from "./../../components/layout/preloader";
import {getApiDomain} from "../../util/domains";
export default {
  components: {
    card,
    preloader
  },

  data() {
    return {
      show_pdf: false,
      preloader: false
    };
  },

  async beforeMount() {
    await this.getDocument(this.$route.params.id);
    await this.getAudits(this.$route.params.id);
  },
  methods: {
    ...mapActions("audit", ["getDocument", "getAudits"]),
    ...mapMutations("audit", ["setDefaultView"]),
    ...mapActions("inventoryMovements", ["createPDf"]),
    /*   setView(e) {
      this.setDefaultView();
      switch (e) {
        case "selectedDocument":
          this.view.selectedDocument = true;
          break;
        case "selectedProducts":
          this.view.selectedProducts = true;
          break;
        case "selectedTaxes":
          this.view.selectedTaxes = true;
          break;
      }
    }, */
    dataAuditupdate: function(item) {
      let data = [];
      let old = JSON.parse(item.old_values);
      let newData = JSON.parse(item.new_values);
      for (const prop in old) {
        let line = [];
        old[prop] = old[prop] == null ? "''" : old[prop];
        if (old[prop] != " - " || old[prop] != "-") {
          line.push([prop, old[prop]]);
        }
        for (const prop2 in newData) {
          if (prop == prop2) {
            newData[prop2] = newData[prop2] == null ? "''" : newData[prop2];
            if (newData[prop2] != " - " && newData[prop2] != "-") {
              line.push([prop2, newData[prop2]]);
              data.push(line);
            }
          }
        }
      }
      return data;
    },

    dataAudit(item) {
      let data = [];
      let newData = JSON.parse(item.new_values);
      for (const key in newData) {
        if (newData[key] != " - " && newData[key] != null) {
          data.push([key, newData[key]]);
        }
      }
      return data;
    },
    dataAuditProducts(item) {
      let documentsProducts = [];
      item.documentsProducts.forEach(element => {
        let data = [];
        let newData = JSON.parse(element.new_values);
        for (const key in newData) {
          if (
            newData[key] != " - " &&
            newData[key] != "-"
          ) {
            data.push([key, newData[key]]);
          }
        }
        documentsProducts.push(data);
      });
      return documentsProducts;
    },
    dataAuditProductsOld(item, index) {
      let documentsProducts = [];
      let data = [];
      let newData = JSON.parse(item.documentsProducts[index].old_values);
      for (const key in newData) {
        if (
          newData[key] != " - " &&
          newData[key] != "-"
        ) {
          data.push([key, newData[key]]);
        }
      }
      documentsProducts.push(data);
      return documentsProducts;
    },

    async viewPdf() {
      this.preloader = true;
      await this.createPDf(this.document[0].id);
      this.file_name = this.name_pdf;
      this.preloader = false;
      this.show_pdf = true;
    }
  },
  computed: {
    ...mapState("audit", ["view", "document", "audits"]),
    ...mapState("inventoryMovements", ["name_pdf"]),
    pathPdf() {
      let path = getApiDomain() + this.file_name;
      return path;
    }
  }
};
</script>

<style scoped>
.fa {
  font-size: 30px;
}

.parent {
  color: rgb(3, 122, 190);
}

.blue {
  background: #007db3 !important;
}
</style>
