<template>
  <card title="<i class='ti-check-box'></i> Reporte de cartera" style="height: 750px">
    <!-- <table-receivable
      :lite="true"
      stylec="width: 100%; height: 90%"/> -->
  </card>

</template>

<script>
  import {mapMutations} from "vuex";
  import Card from '../../components/pages/card/card'
  export default {
    name: "index",
    components: {
      Card,
    },
    created(){
      window.open('/#/reportes/reporte-de-cartera','_blank');
      this.$router.go(-1)
    },
    mounted(){
      this.removeLastVisitedViews()
    },
    methods:{
      ...mapMutations('tabsViews', ['removeLastVisitedViews'])
    }
  }
</script>

<style scoped>

</style>
