<template>
  <card :title="title">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <div class="row">
        <div
          class="col-12 col-sm-6"
          :class="
            errors.has('form.incoming_seller')
              ? 'form-group-error text-danger'
              : ''
          "
        >
          <label for="incoming_seller"> Vendedor Origen</label>
          <span class="text-danger">*</span>
          <el-select
            id="incoming_seller"
            name="incoming_seller"
            fillable
            clearable
            data-vv-as=" "
            v-validate="'required'"
            v-model="sellerParam.incoming_seller"
            placeholder="Selecione un Vendedor"
            filterable
          >
            <el-option
              v-for="item in sellers"
              :key="item.identification"
              :label="
                item.identification + '-' + item.name + ' ' + item.surname
              "
              :value="item.id"
            ></el-option>
          </el-select>

          <span class="text-danger span-error">{{
            errors.first("form.incoming_seller")
          }}</span>
        </div>

        <div
          class="col-12 col-sm-6"
          :class="
            errors.has('form.outgoing_seller')
              ? 'form-group-error text-danger'
              : ''
          "
        >
          <label for="outgoing_seller"> Vendedor Destino</label>
          <span class="text-danger">*</span>
          <el-select
            id="outgoing_seller"
            fillable
            name="outgoing_seller"
            clearable
            data-vv-as=" "
            v-validate="'required'"
            v-model="sellerParam.outgoing_seller"
            placeholder="Selecione un Vendedor"
            filterable
          >
            <el-option
              v-for="item in sellers"
              :key="item.identification"
              :label="
                item.identification + '-' + item.name + ' ' + item.surname
              "
              :value="item.id"
            ></el-option>
          </el-select>
          <span class="text-danger span-error">{{
            errors.first("form.outgoing_seller")
          }}</span>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="btn btn-primary mt-5" @click="validateForm()">
          Reasignar Vendedor
        </div>
      </div>
    </form>
  </card>
</template>

<script>
import { mapMutations, mapActions, mapState } from "vuex";
import card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    card,
    GridU2
  },
  data() {
    return {
      title: "<i class='fa fa-pencil'></i>" + " " + "   Reasignación Vendedor"
    };
  },
  beforeMount() {
    this.getSellers();
  },

  methods: {
    ...mapActions("reassignSeller", ["getSellers", "massReassignSeller"]),

    validateForm() {
      this.$validator.validateAll("form").then(async result => {
        if (result) {
          if (
            this.sellerParam.incoming_seller == this.sellerParam.outgoing_seller
          ) {
            this.$alert(
              "Los campo de vendedo entrante y vendedor saliente no pueden ser iguales",
              "Error",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
              }
            ).then(verifica => {});
          } else {
            this.massReassignSeller();
          }
        }
      });
    }
  },
  computed: {
    ...mapState("reassignSeller", ["sellerParam", "sellers"])
  }
};
</script>

<style scoped></style>
