<template>
  <card title="<i class='ti-control-shuffle'></i> Modelos">
    <loader v-if="loading" />
    <div
      v-else
      class="row"
    >
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-md-4 col-sm-8 col-12">
                <b-form-input
                  id="filter-text-box"
                  name="filter"
                  type="text"
                  v-model="params.filter"
                  placeholder="Buscar..."
                  @keyup.enter="onFilterTextBoxChanged"
                ></b-form-input>
              </div>
              <div class="col-md-8 col-sm-4 col-12">
                <b-button
                  class="button button-rounded button-primary-flat hvr-shrink float-right"
                  id="boton-nuevo"
                  to="/modelos/crear"
                >
                  Nuevo
                </b-button>
              </div>
            </div>
          </div>
        </div>
        <b-row>
          <grid-u2
            :items="models.data"
            :columns="columns"
          >
            <template
              class=" d-flex justify-content-center"
              slot="options"
              slot-scope="row"
            >

              <b-button
                class="mt-1 button-table"
                size="sm"
                variant="secondary"
                :to="`/modelos/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                class="mt-1 button-table"
                id="botones"
                size="sm"
                :to="`/modelos/${row.item.id}/editar`"
              >
                Editar
              </b-button>
              <b-button
                class="mt-1 button-table"
                size="sm"
                variant="danger"
                @click="remove(row.item.id)"
              >
                Eliminar
              </b-button>
            </template>
          </grid-u2>
        </b-row>
        <b-row>
          <b-col
            class="my-1 form-inline"
            md="6"
          >
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[15, 30, 50,100]"
              v-model="params.perPage"
              @change.native="setPerPagePagination"
            >
            </b-form-select>
          </b-col>
          <b-col
            class="my-1"
            md="6"
          >
            <b-pagination
              class="my-0 float-right"
              :total-rows="totalRows"
              :per-page="params.perPage"
              :current-page="params.page"
              v-model="params.page"
              @change="setPagePagination"
            >
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </div>
  </card>

</template>

<script>
import {
  mapState,
  mapMutations,
  mapActions
} from 'vuex'

import GridU2 from "../../components/u2/grid"
import Card from '../../components/pages/card/card'
import {
  MessageBox
} from 'element-ui';
import loader from "./../../components/layout/loader";


export default {
  components: {
    Card,
    GridU2,
    loader
  },
  data () {
    return {
      loading: true,
      columns: null,
    }
  },
  async beforeMount () {
    await this.fetchModels(),
      this.columns = [
        {
        name: 'Codigó',
        field: 'code',
        width: '',
      },
      {
        name: 'Descripción',
        field: 'description',
        width: '',
      },
      {
        name: 'Opciones',
        field: 'options',
        width: '',
        format: 'number'
      },
      ]

    this.loading = false

    await this.fetchTypesOperation();
    await this.fetchPaymentMethods();
    await this.fetchVoucherTypes();
    await this.fetchUsers();
    await this.fetchLines();
    await this.fetchPriceLists();
    await this.fetchCurrencys();
    await this.fetchParamTables();
    await this.fetchAccountingConcept();
    await this.fetchAccountingAccording();
    await this.fetchAccountingAccount();
  },
  created () {
    this.initComponent()
  },
  methods: {
    async initComponent () {
      await this.setGetModelEdit(true)
    },
    ...mapActions('models', [
      'fetchModels',
      'removeModel',
      'setFilterPagination',
      'setPerPagePagination',
      'setPagePagination',
      'setSortByPagination',
      'setSortPagination',
      'getModelEdit',
      'fetchTypesOperation',
      'fetchPaymentMethods',
      'fetchVoucherTypes',
      'fetchUsers',
      'fetchLines',
      'fetchPriceLists',
      'fetchCurrencys',
      'fetchParamTables',
      'fetchAccountingConcept',
      'fetchAccountingAccording',
      'fetchAccountingAccount'
    ]),
    ...mapMutations('models', [
      'setAction',
      'setModel',
      'resetSelectedModel',
      'setPerPage',
      'setFilter',
      'setGetModelEdit'
    ]),

    remove (id) {
      this.removeModel(id);
    },
    onFilterTextBoxChanged () {
      this.fetchModels();
    }

  },
  computed: {
    totalRows () {
      return this.models.total
    },
    ...mapState('models', ['models', 'selectedModel', 'action', 'params', 'getModel']),

  },
  watch: {
    '_setPerPagePagination' (newValue, oldValue) {
      this.setPerPagePagination(newValue)
      this.gridApi.refreshCells()
    },
    '_setPerPage' (newValue, oldValue) {
      this.setPerPage(newValue)
      this.gridApi.redrawRows();
    }

  }
}

</script>


<!-- boton crear  -->
<style lang="sass">
  @import "../../assets/sass/buttons/buttons.scss"

</style>

<style src="hover.css/css/hover-min.css">
</style>
