<template>
  <div>
    <!-- SECTION MODAL -->
    <div class="row">
      <div class="col-12">
        <b-tabs pills>
          <!--PESTAÑA INFORMACIÓN GENERAL-->

          <!-- ACORDEON DE INFORMACIÓN GENERAL-->
          <b-card no-body class="mb-1">
            <b-btn b href="#" v-b-toggle.transaction_models id="acordeon"
              >TRANSACCIONES MODELOS</b-btn
            >
            <b-collapse id="transaction_models" visible role="tabpanel">
              <b-card-body>
                <div class="row">
                  <div class="col-12">
                    <b-button
                      type="button"
                      class="mr-4 float-right"
                      variant="primary"
                      @click="addNewRowTemplateTransaction"
                    >
                      Agregar nueva transaccion
                    </b-button>
                  </div>

                  <div class="col-12">
                    <grid-u2
                      ref="grid"
                      :options="{}"
                      :columns.sync="templateTransaction.columns"
                      :items.sync="templateTransaction.data"
                    >
                      <template slot="order" slot-scope="row">
                        <el-input
                          size="small"
                          placeholder=" "
                          v-model="row.item.order"
                        ></el-input>
                      </template>

                      <template slot="description" slot-scope="row">
                        <el-input
                          size="small"
                          placeholder=" "
                          v-model="row.item.description"
                        ></el-input>
                      </template>

                      <template slot="account_aux_id" slot-scope="row">
                        <el-input
                          size="small"
                          placeholder=" "
                          @focus="
                            openModalAccount($event, 'account_aux', row.item)
                          "
                          :value="
                            `${
                              row.item.account_aux
                                ? row.item.account_aux.code
                                : ''
                            } - ${
                              row.item.account_aux
                                ? row.item.account_aux.name
                                : ''
                            }`
                          "
                        >
                          <i
                            slot="suffix"
                            class="el-input__icon el-icon-circle-close el-input__clear"
                            @click="
                              deleteAccountTemplateTransaction({
                                id: row.item.id,
                                type: 'account_aux'
                              })
                            "
                            v-if="row.item.account_aux"
                          ></i>
                        </el-input>
                      </template>

                      <template slot="account_root_id" slot-scope="row">
                        <el-input
                          size="small"
                          placeholder=" "
                          @focus="
                            openModalAccount($event, 'account_root', row.item)
                          "
                          :value="
                            `${
                              row.item.account_root
                                ? row.item.account_root.code
                                : ''
                            } - ${
                              row.item.account_root
                                ? row.item.account_root.name
                                : ''
                            }`
                          "
                        >
                          <i
                            slot="suffix"
                            class="el-input__icon el-icon-circle-close el-input__clear"
                            @click="
                              deleteAccountTemplateTransaction({
                                id: row.item.id,
                                type: 'account_root'
                              })
                            "
                            v-if="row.item.account_root"
                          ></i>
                        </el-input>
                      </template>

                      <template slot="db_cr" slot-scope="row">
                        <el-select
                          size="small"
                          filterable
                          placeholder=" "
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos que coincidan."
                          v-model="row.item.db_cr"
                          remote
                          :remote-method="searchAccounts"
                          clearable
                        >
                          <el-option label="D" value="D"></el-option>
                          <el-option label="C" value="C"></el-option>
                        </el-select>
                      </template>

                      <template slot="cap_contact" slot-scope="row">
                        <el-select
                          size="small"
                          filterable
                          placeholder=" "
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos que coincidan."
                          v-model="row.item.cap_contact"
                          remote
                          :remote-method="searchAccounts"
                          clearable
                        >
                          <el-option label="SI" :value="true"></el-option>
                          <el-option label="NO" :value="false"></el-option>
                        </el-select>
                      </template>

                      <template slot="default_contact_id" slot-scope="row">
                        <el-select
                          size="small"
                          filterable
                          placeholder=" "
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos que coincidan."
                          v-model="row.item.default_contact_id"
                          clearable
                          remote
                          :remote-method="searchContacts"
                        >
                          <el-option
                            v-for="contact in contacts"
                            :key="contact.id"
                            :label="
                              `${contact.identification} - ${contact.name ||
                                ''} ${contact.surname || ''}`
                            "
                            :value="contact.id"
                          ></el-option>

                          <el-option
                            v-if="row.item.default_contact"
                            :label="
                              `${
                                row.item.default_contact.identification
                              } - ${row.item.default_contact.name || ''} ${row
                                .item.default_contact.surname || ''}`
                            "
                            :value="row.item.default_contact.id"
                          ></el-option>
                        </el-select>
                      </template>

                      <template slot="create_contact" slot-scope="row">
                        <el-select
                          size="small"
                          filterable
                          placeholder=" "
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos que coincidan."
                          v-model="row.item.create_contact"
                          clearable
                        >
                          <el-option label="SI" :value="true"></el-option>
                          <el-option label="NO" :value="false"></el-option>
                        </el-select>
                      </template>

                      <template slot="doc_bank" slot-scope="row">
                        <el-select
                          size="small"
                          filterable
                          placeholder=" "
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos que coincidan."
                          v-model="row.item.doc_bank"
                          clearable
                        >
                          <el-option label="SI" :value="true"></el-option>
                          <el-option label="NO" :value="false"></el-option>
                        </el-select>
                      </template>

                      <template slot="default_detail" slot-scope="row">
                        <el-input
                          size="small"
                          placeholder=" "
                          v-model="row.item.default_detail"
                        ></el-input>
                      </template>

                      <template slot="square_match" slot-scope="row">
                        <el-select
                          size="small"
                          filterable
                          placeholder=" "
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos que coincidan."
                          v-model="row.item.square_match"
                          clearable
                        >
                          <el-option label="SI" :value="true"></el-option>
                          <el-option label="NO" :value="false"></el-option>
                        </el-select>
                      </template>

                      <template slot="actions" slot-scope="row">
                        <div class="vcenter text-center">
                          <b-button
                            size="sm"
                            type="button"
                            variant="danger"
                            @click="deleteRowTemplateTransaction(row.item.id)"
                          >
                            Eliminar
                          </b-button>
                        </div>
                      </template>
                    </grid-u2>
                  </div>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>
        </b-tabs>
      </div>
    </div>
    <!-- SECTION MODALS -->
    <ModalAccount
      @selectedAccount="selectedAccount"
      :notAux="templateTransaction.params.notAux"
      :onlyAux="templateTransaction.params.onlyAux"
    />
  </div>
</template>

<script>
import GridU2 from "@/components/u2/grid";
import { mapActions, mapMutations, mapState } from "vuex";
import ModalAccount from "../../components/accounts/modal-account";
import { Notification, MessageBox } from "element-ui";

export default {
  components: {
    GridU2,
    ModalAccount
  },
  methods: {
    async init() {
      await this.resetTemplateTransaction();
      await this.setTemplateTransaction();
    },
    searchAccounts(filter) {
      this.fetchAccounts({
        params: {
          paginate: false,
          textFilter: filter
        }
      });
    },
    searchContacts(filter) {
      this.setParamsContacts(filter);
      this.fetchContacts();
    },
    changeAccounts(data, item, type) {
      let account = this.accounts.find(a => a.id === data);

      switch (type) {
        case "account_root_id":
          item.account_root_id = account.id;
          item.account_root = account;
          break;
        case "account_aux_id":
          item.account_aux_id = account.id;
          item.account_aux = account;
          break;
      }
    },
    async openModalAccount(event, type, item) {
      await this.resetTemplateTransactionRowSelected();
      await this.setTemplateTransactionRowSelected(item);
      await this.setTemplateTransactionRowSelectedType(type);

      switch (type) {
        case "account_aux":
          this.setTemplateTransactionOnlyAux(true);
          this.setTemplateTransactionNotAux(false);
          break;

        case "account_root":
          this.setTemplateTransactionOnlyAux(false);
          this.setTemplateTransactionNotAux(true);
          break;

        default:
          this.setTemplateTransactionOnlyAux(false);
          this.setTemplateTransactionNotAux(false);
          break;
      }

      event.target.blur();
      this.$bvModal.show("modal-account");
    },
    selectedAccount(data) {
      let account = data;

      switch (this.templateTransaction.row_selected_type) {
        case "account_root":
          this.templateTransaction.row_selected.account_root_id = account.id;
          this.templateTransaction.row_selected.account_root = account;
          break;
        case "account_aux":
          this.templateTransaction.row_selected.account_aux_id = account.id;
          this.templateTransaction.row_selected.account_aux = account;
          break;
      }

      Notification.success({
        title: "Exito!",
        message: `La cuenta (${
          this.templateTransaction.row_selected_type === "account_aux"
            ? "Aux"
            : "Raiz"
        }) a sido seleccionada.`,
        type: "success",
        duration: 1500,
        customClass: "notification-box"
      });

      this.$refs.grid.buildData();
    },
    ...mapMutations("models", [
      "setTemplateTransaction",
      "resetTemplateTransaction",
      "addNewRowTemplateTransaction",
      "deleteRowTemplateTransaction",
      "setTemplateTransactionOnlyAux",
      "setTemplateTransactionNotAux",
      "setTemplateTransactionRowSelected",
      "resetTemplateTransactionRowSelected",
      "setTemplateTransactionRowSelectedType",
      "deleteAccountTemplateTransaction"
    ]),
    ...mapMutations("inventoryMovements", ["setParamsContacts"]),
    ...mapActions("inventoryMovements", ["fetchContacts"]),
    ...mapActions("account", ["fetchAccounts"])
  },
  computed: {
    ...mapState("models", ["templateTransaction", "selectedModel"]),
    ...mapState("account", ["accounts"]),
    ...mapState("inventoryMovements", ["contacts"])
  },
  created() {
    this.init();
  },
  watch: {
    "selectedModel.transactions": async function() {
      await this.resetTemplateTransaction();
      await this.setTemplateTransaction();
    }
  }
};
</script>

<style scoped>
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
</style>
