<template>
  <card title="<i class='ti-control-shuffle'></i> Tipos de operacion">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-12">
            <b-form-group
              label="Buscar:"
              class="mb-0"
            >
              <b-input-group>
                <b-form-input
                  v-model="params.filter"
                  placeholder=""
                  @keyup.native.enter="setFilterPagination"
                  style="text-transform: uppercase;"
                />
                <b-input-group-append>
                  <b-btn
                    @click.prevent="filterPagination(params.filter)"
                    id="botones"
                  ><span class="ti-search"></span></b-btn>

                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-md-8 col-sm-4 col-12">
            <b-button
              to="/operaciones/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <grid-u2
          :columns="columns"
          :items="typesOperation.data"
          :gridOptions="gridOptions"
        >
          <template
            slot="acciones"
            slot-scope="row"
          >
            <div class="justify-content-center">
              <b-button
                size="sm"
                variant="secondary"
                class="mt-1 button-table"
                :to="`/operaciones/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                size="sm"
                id="botones"
                class="mt-1 button-table"
                :to="`/operaciones/${row.item.id}/editar`"
              >
                Editar
              </b-button>
              <b-button
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="deleteOperation(row.item)"
              >
                Eliminar
              </b-button>
            </div>
          </template>
          <template
            slot="parameter_id"
            slot-scope="row"
            v-if="row.item.parameter!=null"
          >
            {{row.item.parameter.name_parameter}}
          </template>

          <template
            slot="affectation"
            slot-scope="row"
          >

            <div v-if="row.item.affectation==1">Entrada</div>
            <div v-if="row.item.affectation==2">Salida</div>
            <div v-if="row.item.affectation==3">No afecta</div>

          </template>

          <template
            slot="inventory_cost"
            slot-scope="row"
          >

            <div v-if="row.item.inventory_cost==1">No aplica </div>
            <div v-if="row.item.inventory_cost==2">Bruto</div>
            <div v-if="row.item.inventory_cost==3">Costo prom</div>
            <div v-if="row.item.inventory_cost==4">Costo doc base</div>
            <div v-if="row.item.inventory_cost==5">Bruto doc base</div>

          </template>

          <template
            slot="inventory_movement"
            slot-scope="row"
          >

            <div v-if="row.item.inventory_movement==1">Exclusivo inventarios</div>
            <div v-if="row.item.inventory_movement==2">Inventarios y contabilidad</div>
            <div v-if="row.item.inventory_movement==3">Exclusivo contabilidad </div>

          </template>
        </grid-u2>
      </div>
    </div>
    <b-row>
      <b-col
        md="6"
        class="my-1 form-inline"
      >
        <label>Registros por página: &nbsp;</label>
        <b-form-select
          :options="[15, 30, 50,100]"
          v-model="params.perPage"
          @change.native="setPerPagePagination"
        />
      </b-col>
      <b-col
        md="6"
        class="my-1"
      >
        <b-pagination
          :total-rows="totalRows"
          :per-page="params.perPage"
          :current-page="params.page"
          v-model="params.page"
          class="my-0 float-right"
          @change="setPagePagination"
        />
      </b-col>
    </b-row>
  </card>
</template>
<script>


import Vue from 'vue'
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card'
import GridU2 from "../../components/u2/grid"
import { MessageBox } from 'element-ui';
export default {
  components: {
    Card,
    GridU2
  },
  data () {
    return {
      columnDefs: null,
      gridApi: null,
      columnApi: null,
      sortBy: 'name',
      sort: true,
      storage: [],
      columns: []
    }
  },
  created () {
    this.sortBy = this.params.sortBy;
    this.sort = this.params.sort == 'ASC' ? true : false;
    this.fetchTypesOperation();
    this.$store.watch(() => {
      return this.getParams.sort;
    }, p => {
      this.fetchTypesOperation();
    })

    this.$store.watch(() => {
      return this.getParams.sortBy;
    }, p => {
      this.fetchTypesOperation();
    })
  },
  methods: {


    onFilterTextBoxChanged () {
      this.gridApi.setQuickFilter(document.getElementById("filter-text-box").value);
      this.gridApi.forEachNode((node) => {
        if (node.rowIndex === 0) {
          node.setSelected(true);
        }
      })
      //  document.getElementById('grilla').focus();

      // scrolls to the first row
      this.gridApi.ensureIndexVisible(0);

      // scrolls to the first column
      var firstCol = this.columnApi.getAllDisplayedColumns()[0];
      this.gridApi.ensureColumnVisible(firstCol);

      // sets focus into the first grid cell
      this.gridApi.setFocusedCell(0, firstCol);
    },
    myNavigation: function (params) {
      var previousCell = params.previousCellPosition;
      var suggestedNextCell = params.nextCellPosition;

      var KEY_UP = 38;
      var KEY_DOWN = 40;
      var KEY_LEFT = 37;
      var KEY_RIGHT = 39;
      var KEY_ENTER = 13;
      switch (params.key) {
        case KEY_DOWN:
          previousCell = params.previousCellPosition;
          // set selected cell on current cell + 1
          this.gridApi.forEachNode((node) => {
            if (previousCell.rowIndex + 1 === node.rowIndex) {
              node.setSelected(true);
            }
          });
          return suggestedNextCell;
        case KEY_UP:
          previousCell = params.previousCellPosition;
          // set selected cell on current cell - 1
          this.gridApi.forEachNode((node) => {
            if (previousCell.rowIndex - 1 === node.rowIndex) {
              node.setSelected(true);
            }
          });
          return suggestedNextCell;
        case KEY_LEFT:
        case KEY_RIGHT:
          return suggestedNextCell;
        default:
          throw "this will never happen, navigation is always one of the 4 keys above";
      }
    },
    ...mapActions("typeoperations", [
      "fetchTypesOperation",
      "removeTypeOperation",
      "setFilterPagination",
      "setPerPagePagination",
      "setPagePagination",
      "setSortByPagination",
      "setSortPagination"
    ]),
    ...mapMutations("typeoperations", [
      "setTypesOperation",
      "setFilter",
      "setPerPage",
      "setPage",
      "setSortBy",
      "setSort"
    ]),
    questionDelete (operation) {
      this.$confirm('Esta seguro de eliminar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then((result) => {
        if (result) {
          this.deleteOperation(operation)
        }
      }
      ).catch(function (result) {
      })
    },
    deleteOperation (operation) {
      this.removeTypeOperation(operation)
    },
    filterPagination (filter) {
      this.setFilter(filter);
      this.fetchTypesOperation();
    },
    setData () {
      localStorage.setItem('operaciones', JSON.stringify(this.typesOperation.data));
    }
  },
  computed: {
    ...mapGetters("typeoperations", [
      "getParams"
    ]),
    ...mapState("typeoperations", [
      "typesOperation",
      "params"
    ]),
    totalRows () {
      return this.typesOperation.total
    }
  },

  beforeMount () {

    this.setFilter('');
    this.gridOptions = {},
      this.columns = [{
        name: "Codigo",
        field: "code",
        width: 150
      },
      {
        name: "Descripcion",
        field: "description",
        width: 400
      },

      {
        name: "Afectacion",
        field: "affectation",
        width: 140,
        format: "number"
      },
      {
        name: "Costo de inventario",
        field: "inventory_cost",
        width: 140,
        format: "number"
      },
      {
        name: "Movimiento de inventario",
        width: 140,
        field: "inventory_movement",
        format: "number"
      },
      {
        name: "Naturaleza de inventario",
        format: "number",
        field: "parameter_id",
        width: 140
      },
      {
        name: "Acciones",
        format: "currency",
        field: "acciones",
        width: 140
      }
      ];


  },


  watch: {
    '_setPerPagePagination' (newValue, oldValue) {
      this.setPerPagePagination(newValue)
      this.gridApi.refreshCells()
    },
    '_setPerPage' (newValue, oldValue) {
      this.setPerPage(newValue)
      this.gridApi.redrawRows();
    }

  }
}
</script>
