<template>
  <div
    style="margin-top:20px"
    v-if="loader"
  >
    <loader></loader>
  </div>
  <div v-else>
    <card :title="title">
      <b-form
        @submit.prevent="validateForm()"
        data-vv-scope="form"
      >
        <div class="row">
          <div
            class="form-group col-6"
            v-bind:class="errors.has('form.code') ? 'form-group-error': ''"
          >
            <label for="code">
              <strong>
                Codigo
                <span class="text-danger">*</span>
              </strong>
            </label>
            <input
              type="text"
              id="code"
              name="code"
              class="form-control"
              v-validate="'required'"
              data-vv-as=" "
              :disabled="isDisabled"
              v-model="selectedTypeOperation.code"
            />
            <i class="text-danger icon-error"></i>
            <span class="text-danger span-error">{{ errors.first('form.code') }}</span>
          </div>
          <div
            class="col-6"
            v-bind:class="errors.has('form.description') ? 'form-group-error': ''"
          >
            <label for="description">
              <strong>
                Descripcion
                <span class="text-danger">*</span>
              </strong>
            </label>
            <br />
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              v-validate="'required'"
              :disabled="isDisabled"
              data-vv-as=" "
              v-model="selectedTypeOperation.description"
            />

            <i class="text-danger icon-error"></i>
            <span class="text-danger span-error">{{ errors.first('form.description') }}</span>
          </div>

          <div
            class="form-group col-6"
            v-bind:class="errors.has('form.affectation') ? 'form-group-error': ''"
          >
            <label for="oper_inv">
              <strong>
                Afectación
                <span class="text-danger">*</span>
              </strong>
            </label>
            <el-select
              name="affectation"
              v-model="selectedTypeOperation.affectation"
              placeholder="Seleccione una opción"
              v-validate="'required'"
              data-vv-as=" "
              :disabled="isDisabled"
            >
              <el-option
                v-for="item in optionsAffectation"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
            <i class="text-danger icon-error"></i>
            <span class="text-danger span-error">{{ errors.first('form.affectation') }}</span>
          </div>
          <div
            class="form-group col-6"
            v-bind:class="errors.has('form.inventory_movement') ? 'form-group-error': ''"
          >
            <label for="affectation">
              <strong>
                Movimiento inventarios
                <span class="text-danger">*</span>
              </strong>
            </label>
            <el-select
              v-validate="'required'"
              data-vv-as=" "
              name="inventory_movement"
              v-model="selectedTypeOperation.inventory_movement"
              placeholder="Seleccione una opción"
              :disabled="isDisabled"
            >
              <el-option
                v-for="item in optionsOper"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
            <i class="text-danger icon-error"></i>
            <span class="text-danger span-error">{{ errors.first('form.inventory_movement') }}</span>
          </div>
          <div
            class="form-group col-6"
            v-bind:class="errors.has('form.inventory_cost') ? 'form-group-error': ''"
          >
            <label for="inventory_cost">
              <strong>
                Costo de inventario
                <span class="text-danger">*</span>
              </strong>
            </label>
            <el-select
              v-validate="'required'"
              data-vv-as=" "
              name="inventory_cost"
              v-model="selectedTypeOperation.inventory_cost"
              placeholder="Seleccione una opción"
              :disabled="isDisabled"
            >
              <el-option
                v-for="item in optionsInventoryCost"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
            <i class="text-danger icon-error"></i>
            <span class="text-danger span-error">{{ errors.first('form.inventory_cost') }}</span>
          </div>

          <div
            class="form-group col-6"
            v-bind:class="errors.has('form.control_existence_outputs') ? 'form-group-error': ''"
          >
            <label for>
              <strong>
                Naturaleza de operacion
                <span class="text-danger">*</span>
              </strong>
            </label>
            <el-select
              v-model="selectedTypeOperation.parameter_id"
              placeholder="Seleccione una opción"
              :disabled="isDisabled"
            >
              <el-option
                v-for="item in parameters"
                :key="item.id"
                :label="item.name_parameter"
                :value="item.id"
              >
              </el-option>
            </el-select>
            <i class="text-danger icon-error"></i>
            <span class="text-danger span-error">{{ errors.first('form.control_existence_outputs') }}</span>
          </div>
        </div>

        <div class="form-actions">
          <b-button
            v-if="action != 'view'"
            type="submit"
            class="boton-guardar"
          >
            <span class="btn-label">
              <i class="ti-save-alt"></i>
            </span>Guardar
          </b-button>
          <b-button
            to="/operaciones"
            type="button"
            variant="secondary"
            class="float-left"
            @click="clearSelectedTypeOperation"
          >
            <span class="btn-label">
              <i class="ti-arrow-left"></i>
            </span> Volver
          </b-button>
          <b-button
            v-if="action != 'view'"
            type="reset"
            value="Limpiar"
            class="otro-boton float-left"
            @click="clearSelectedTypeOperation"
          >
            <span class="btn-label">
              <i class="ti-eraser"></i>
            </span> Limpiar
          </b-button>
        </div>
      </b-form>
    </card>
  </div>
</template>

<script>
import {
  mapActions,
  mapState,
  mapMutations
} from "vuex";
import loader from "./../../components/layout/loader.vue";
import card from "../../components/pages/card/card.vue";

export default {
  name: "formTypesOperation",
  components: {
    loader,
    card
  },
  data () {
    return {
      loader: true,
      title: 'Tipos de operación',
      optionsOper: [{
        value: 1,
        label: "Exclusivo Inventarios"
      },
      {
        value: 2,
        label: "Inventarios y Contabilidad"
      },
      {
        value: 3,
        label: "Exclusivo contabilidad"
      }
      ],
      optionsAffectation: [{
        value: 1,
        label: "Entrada"
      },
      {
        value: 2,
        label: "Salida"
      },
      {
        value: 3,
        label: "No afecta"
      }
      ],
      optionsInventoryCost: [{
        value: 1,
        label: "No aplica"
      },
      {
        value: 2,
        label: "Bruto"
      },
      {
        value: 3,
        label: "Costo prom"
      },
      {
        value: 4,
        label: "Costo Doc Base"
      },
      {
        value: 5,
        label: "Bruto Doc Base"
      }
      ],
      optionsExistence: [{
        value: 1,
        label: "Sin restriccion. Genera Saldos negativos"
      },
      {
        value: 2,
        label: "Valida Existencia con Restriccion"
      },
      {
        value: 3,
        label: "Valida Existencia con Advetencia"
      }
      ],
      optionsPrice: [{
        value: 1,
        label: "No aplica"
      },
      {
        value: 2,
        label: "No menor al costo lista Con restriccion"
      },
      {
        value: 3,
        label: "No menor al costo lista con Advertencia"
      }
      ]
    };
  },
  created () {
    this.getParametersByCode();
    if (this.$route.params.id) {
      this.initUpdate("update", this.$route.params.id);
      this.title = 'Editar tipó de operación';
    } else if (this.$route.params.idv) {
      this.initUpdate("view", this.$route.params.idv);
    } else {
      this.setGetTypeOperation(true);
      this.setAction("create");
      this.title = 'Crear tipó de operación';
    }
    this.loader = false;
  },
  methods: {
    async initUpdate (action, id) {
      await this.getTypeOperation(id),
        this.setAction(action),
        (this.loader = false);
    },
    _removeTypeOperation ($id) {
      this.removeTypeOperation();
    },
    clearSelectedTypeOperation () {
      this.resetSelectedTypeOperation();
    },
    validateForm (scope) {
      this.$validator.validateAll("form").then(result => {
        if (result) {
          if (this.action == "create") {
            this.create();
          } else if (this.action == "update") {
            this.update();
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "notification-error"
          }
          ).then(verifica => { });
        }
      });
    },
    async create () {
      await this.addTypeOperation();

      this.clearSelectedTypeOperation();
    },
    update () {
      this.updateTypeOperation();
    },
    ...mapActions("typeoperations", [
      "addTypeOperation",
      "fetchTypesOperation",
      "updateTypeOperation",
      "getTypeOperation",
      "removeTypeOperation",
      "getParametersByCode"
    ]),

    ...mapMutations("typeoperations", [
      "setAction",
      "resetSelectedTypeOperation",
      "setGetTypeOperation"
    ]),
    ...mapMutations("prices", ["setListPrices"]),
    ...mapActions("prices", ["getListPrices"])
  },
  computed: {
    isDisabled () {
      return this.action == "view";
    },
    ...mapState("typeoperations", [
      "action",
      "selectedTypeOperation",
      "error",
      "errorMessage",
      "parameters"
    ]),
    ...mapState("prices", ["listPrices"])
  },
  mounted () {
    this.getListPrices();
  }
};
</script>
