<template>
  <card title="<i class='ti-layout-list-thumb'></i> Solicitudes de servicios">

    <div>
      <div class="col-12">
        <div class="row">
          <div class="col-md-3 col-sm-8 col-12">
            <el-date-picker
              type="daterange"
              v-model="params.date"
              range-separator="|"
              start-placeholder="Start date"
              end-placeholder="End date"
            >
            </el-date-picker>
          </div>
          <div class="col-md-3 col-sm-8 col-12">

            <el-select
              clearable
              placeholder="Escoja tipo de solicitud"
              v-model="params.requestType"
            >
              <el-option
                label="Mantenimiento baterias"
                :value="1"
              ></el-option>
              <el-option
                label="Garantia baterias"
                :value="2"
              ></el-option>
              <el-option
                label="Garantia autopartes"
                :value="3"
              ></el-option>
              <el-option
                label="Recoleción chatarra"
                :value="4"
              ></el-option>
            </el-select>
          </div>

          <div class="col-md-2 col-sm-8 col-12">
            <div class="form-group">
              <el-checkbox
                v-model="params.status_request"
                label="Cerradas"
                border
              ></el-checkbox>
            </div>
          </div>
          <div
            v-if="params.contactB2B!=null && this.contactsWarehouse!=null"
            class="col-md-4 col-sm-8 col-12"
          >

            <div class="form-group">
              <el-select
                :disabled="true"
                clearable
                v-model="params.contactB2B"
                placeholder="Escoja el cliente"
              >
                <el-option
                  v-for="item in contactsWarehouse "
                  :key="item.id"
                  :label="item.description"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </div>
          </div>

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">

          <div class="col-md-3 col-sm-4 col-3">
            <b-button
              class="button button-rounded button-primary-flat hvr-shrink"
              id="boton-nuevo"
              @click="deleteDataGrid()"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <grid-u2
        ref="grid"
        :columns="columns"
        :items="requestHeaders.data"
      >
        <template
          slot="base_quantity"
          slot-scope="row"
        >
          <div v-if="row.item.contacts_warehouse.seller!=null && row.item.contacts_warehouse.seller.name==contact_id">
            SI
          </div>
          <div v-else=""> NO</div>
        </template>

<template slot="request_type" slot-scope="row">
  <div v-if="row.item.request_type== 1">
    <p> Mantenimiento<br> Baterias</p>
  </div>
  <div v-if="row.item.request_type== 2">
    <p>Garantia<br>Baterias</p>
  </div>
  <div v-if="row.item.request_type== 3">
    <p>Garantia<br> Autopartes</p>
  </div>
  <div v-if="row.item.request_type== 4">
    <p> Recoleccion <br>Chatarra</p>
  </div>
</template>

<template slot="maintenance_type" slot-scope="row">
  <div v-if="row.item.request_type==1 ">
    <select
      class="form-control"
      v-model="row.item.maintenance_type"
      :disabled="(typeUser=='e' && (role=='Logística' || role=='Bodega' || role=='Vendedor' )) || typeUser=='c'"
    >
      <option value=""> </option>
      <option value="1">Rotación</option>
      <option value="2">Refrescamiento</option>
    </select>
  </div>

  <div v-if="row.item.request_type==2 ">
    <select
      class="form-control"
      v-model="row.item.maintenance_type"
      :disabled="(typeUser=='e' && (role=='Logística' || role=='Bodega' || role=='Vendedor' )) || typeUser=='c'"
    >

      <option value=""> </option>
      <option value="1">Aceptada</option>
      <option value="2">Rechazada</option>
    </select>
  </div>
</template>

<template slot="route_to_pickup" slot-scope="row">
  <div class="check">
    <el-checkbox
      :disabled="(typeUser=='e' && role!=null && role!='Administrador') || typeUser=='c'"
      v-model="row.item.route_to_pickup"
    ></el-checkbox>
  </div>
</template>

<template slot="status_request" slot-scope="row">
  <div
    class="select"
    v-if=" row.item.request_type== 1 && row.item.maintenance_type==1"
  >
    <select
      class="form-control"
      v-model="row.item.status_request"
      :disabled="(typeUser=='e' &&(role=='Inventarios' || role=='Servicio Técnico' || role=='Vendedor')) || typeUser=='c'"
    >
      <option value=""></option>
      <!-- <option value="1">Solicitada</option> -->
      <option value="1">Alistamiento rotacion</option>
      <!-- <option value="3">En ruta para recoger y entregar</option> -->
      <option value="10">Cerrada</option>
    </select>
  </div>

  <div v-if=" row.item.request_type== 1 && row.item.maintenance_type==2">
    <select
      class="form-control"
      v-model="row.item.status_request"
      :disabled="(typeUser=='e' &&(role=='Inventarios' || role=='Servicio Técnico' || role=='Vendedor')) || typeUser=='c'"
    >
      <option value=""></option>
      <!-- <option value="1">Solicitado</option> -->
      <!-- <option value="2">En ruta para recoger</option> -->
      <option value="1">Ingresado a bodega</option>
      <option value="2">Refrescada</option>
      <option value="3">En ruta para entregar</option>
      <option value="10">Cerrada</option>
    </select>
  </div>

  <div v-if=" row.item.request_type==2 || row.item.request_type== 3">
    <select
      class="form-control"
      v-model="row.item.status_request"
      :disabled="(typeUser=='e' &&(role=='Inventarios' || role=='Servicio Técnico' || role=='Vendedor')) || typeUser=='c'"
    >
      <option value=""></option>
      <!-- <option value="1">Solicitada</option> -->
      <!-- <option value="2">En ruta para recoger</option> -->
      <option value="1">Ingresado a bodega</option>
      <option value="2">Alistamiento garantia</option>
      <option value="3">En ruta para entregar</option>
      <option value="10">Cerrada</option>
    </select>
  </div>
  <div v-if=" row.item.request_type== 4">
    <select
      class="form-control"
      v-model="row.item.status_request"
      :disabled="(typeUser=='e' &&(role=='Inventarios' || role=='Servicio Técnico' || role=='Vendedor')) || typeUser=='c'"
    >
      <option value=""></option>
      <!-- <option value="1">Solicitada</option>
                                            <option value="2">En ruta para recoger</option> -->
      <option value="10">Cerrada</option>

    </select>
  </div>
</template>

<template slot="acciones" slot-scope="row">
  <div style="white-space: nowrap;">
    <b-button
      class="mt-1 button-table"
      size="sm"
      variant="secondary"
      @click="ver(row.item.id)"
    >Ver</b-button>

    <b-button
      v-if="(typeUser=='e' && role!='Vendedor') || !typeUser=='c' "
      class="'mt-1 button-table' "
      :class="params.contactB2B?'d-none':''"
      size="sm"
      variant="warning"
      v-on:click="invokeParentMethod(row.item)"
    >
      Actualizar</b-button>

  </div>
</template>

      </grid-u2>
    </div>
    <b-row>
      <b-col md="6" class="my-1 form-inline">
        <label>Registros por página: &nbsp;</label>
        <b-form-select :options="[15, 30, 50,100]" v-model="params.perPage" />
      </b-col>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="params.perPage" :current-page="params.page"
          v-model="params.page" class="my-0 float-right" />
      </b-col>
    </b-row>
  </card>
</template>

<script>
import Vue from 'vue'
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import { AgGridVue } from "ag-grid-vue";
import Card from '../../components/pages/card/card'
import ButtonRendered from './buttonRendered';
//Traigo el componente del modal para obtener los state
import listproducts from "../products/list-products.vue";
import GridU2 from '../../components/u2/grid'
import VeeValidate from 'vee-validate';
export default {
  components: {
    AgGridVue,
    Card,
    listproducts,
    GridU2
  },
  data () {
    return {
      columns: null,
    }
  },

  methods: {

    ver (id) {
      this.$router.push(`/solicitud-encabezado/${id}/ver`)
    },
    async initComponent () {
      this.setContactId(null);
      this.setContactB2B(null);
      this.setParamWarehouse(null);
      this.setContactWarehouses(null);
      let query = this.$route.query
      if (query.client) {
        this.setRenderB2B(true);
        this.setContactB2B(parseInt(query.client));
        await this.contactWarehousesBiId(this.params.contactB2B);

      } else {
        this.params.date = null;
        let user = localStorage.getItem("user");
        let l = JSON.parse(user);
        this.setRole(l.get_roles[0].role);
        this.setTypeUser(l.type);
        this.setParamRole(l.get_roles[0].role);
        this.setParamTypeUser(l.type);
        this.setContactId(l.contact_id);
        if ((l.get_roles[0].role == 'Vendedor' && l.type == 'e') || l.type == 'c') {
          await this.contactWarehousesBiContact();
        }

      }


      await this.fetchRequestHeaders();
      this.params.date = null;
      let user = localStorage.getItem("user");
      let l = JSON.parse(user);
      await this.setRole(l.get_roles[0].role);
      this.setTypeUser(l.type);
      if (l.type == 'c') {
        this.params.contact_id = l.contact_id;

      }

    },
    deleteDataGrid () {

      //this.setContactB2B();
      if (this.params.contactB2B != null) {
        this.setContactsWarehouseId(this.params.contactB2B);
        this.$router.push(`/solicitud-encabezado/crear?client=${this.params.contactB2B}`)

      } else {
        this.$router.push(`/solicitud-encabezado/crear`)

      }

    },

    buildColumnsGrid () {
      this.columns = [
        { name: 'Fecha Hora', field: 'request_date', width: 100, },
        { name: 'Identif', field: 'contact.identification', width: 400, visible: this.typeUser != 'c' },
        { name: 'Nombre</br> cliente', field: 'contact.name', width: 140, visible: this.typeUser != 'c' },
        {
          name: 'Vendedor',
          field: 'contacts_warehouse.seller.name',
          width: 35,
          visible: this.typeUser != 'c'
        },
        { name: 'Registro</br>Cliente', field: 'base_quantity', width: 40, format: 'text', visible: this.typeUser != 'c' },
        {
          name: 'Num</br>Items',
          field: 'units',
          width: 140,

        },
        {
          name: 'Tipo</br> Solicitud',
          field: 'request_type'
          //   editable: true
        },
        // {
        //     name: 'Tipo</br> mantenimiento',
        //     field: 'maintenance_type',
        //     editable: true,

        //     width: 160
        // },

        {
          name: 'En Ruta </br>Recoger',
          field: 'route_to_pickup',
          editable: this.typeUser=='e' &&(this.role=='Bodega' || this.role=='Logística' || this.role=='Administrador' ) || !this.typeUser=='c',

          width: 160
        },
        {
          name: 'Evaluación',
          field: 'maintenance_type',
          editable: this.typeUser=='e' &&(this.role=='Inventarios' || this.role=='Servicio Técnico' || this.role=='Administrador' ) || !this.typeUser=='c',
          width: 160
        },
        {
          name: 'Estado</br> Solicitud',
          field: 'status_request',
          editable: this.typeUser=='e' &&(this.role=='Bodega' || this.role=='Logística' || this.role=='Administrador' ) || !this.typeUser=='c',
          format: 'select',
          width: 200

        },
        {
          name: 'Fecha-Hora </br>Estado',
          field: 'updated_at',
          width: 140
        },
        {
          name: 'Observación</br> Proveedor',
          field: 'provider_observation',
          editable: (this.typeUser == 'e' && !this.role == 'Vendedor') || !this.typeUser == 'c',
          format: 'text',
        },
        {
          name: 'Acciones',
          field: 'acciones'
        }

      ];
    },
    async invokeParentMethod (row) {
      let isEdited = false;
      let $element = this.copyRequestHeaders.data.find((element) => {
        return element.id == row.id;
      });

      if (row.maintenance_type != $element.maintenance_type ||
        row.status_request != $element.status_request ||
        row.route_to_pickup != $element.route_to_pickup ||
        row.provider_observation != $element.provider_observation) {
        isEdited = true;
      }
      if (isEdited) {
        await this.updateRequestHeaders(row);
      }
      this.fetchRequestHeaders();

    },
    ...mapActions("requestheaders", [
      "updateRequestHeaders"
    ]),
    ...mapActions("requestheaders", [
      "fetchRequestHeaders", 'contactWarehousesBiId',
      'contactWarehousesBiContact'
    ]),
    ...mapMutations("requestheaders", [
      "setRequestHeaders",
      "setCopyRequestHeaders",
      'setContactWarehouses',
      "requestHeadersError",
      "setFilterDate", 'setContactB2B',
      'setRole',
      'setTypeUser',
      'setContactId',
      'setParamTypeUser',
      'setParamRole',
      'setParamWarehouse'
    ]),
    ...mapMutations("requestproducts", [
      "setContactsWarehouseId", 'setResetForm', 'setRenderB2B'

    ]),



  },


  async beforeMount () {
    this.initComponent();

    //Filtro de fecha
    this.$store.watch(() => {
      return this.getParams.date
    }, p => {
      this.fetchRequestHeaders();


    })

    //Filtro de tipo de solicitud
    this.$store.watch(() => {
      return this.getParams.requestType
    }, p => {
      this.fetchRequestHeaders();


    })

    //Filtro de estados 10 ó cerradas
    this.$store.watch(() => {
      return this.getParams.status_request
    }, p => {
      this.fetchRequestHeaders();
    }),

      this.$store.watch(() => {
        return this.getParams.page
      }, p => {
        this.fetchRequestHeaders();
      }),

      this.$store.watch(() => {
        return this.getParams.perPage
      }, p => {
        this.fetchRequestHeaders();
      })
  },

  mounted () {
    this.buildColumnsGrid();
  },

  beforeRouteUpdate (to, from, next) {

    next()
    this.initComponent()
  },


  destroyed () {
    this.setContactB2B(null);
  },
  computed: {

    ...mapGetters("requestheaders", [
      "getParams"
    ]),
    ...mapState("requestheaders", [
      "requestHeaders",
      'copyRequestHeaders',
      "params",
      "role",
      'typeUser',
      'contactsWarehouse',
    ]),
    ...mapState("products", ["codes"]),
    totalRows () {
      return this.requestHeaders.total
    },
  },


}
</script>

<style lang="sass">
  @import "../../assets/sass/buttons/buttons.scss"
</style>

<style src="hover.css/css/hover-min.css">
</style>

<style>
.select {
  width: 200px;
}

.table-grid td {
  white-space: normal !important;
}

.check {
  padding-top: 10%;
  padding-left: 40%;
}

.el-input__inner {
  height: 39.25px !important;
}

.el-checkbox__label {
  font-size: 15px !important;
  margin: 1px 9px 0 0 !important;
  font-family: Montserrat, sans-serif;
  font-style: normal !important;
  color: #606266 !important;
  text-transform: none !important;
  float: right !important;
}

.el-checkbox__label {
  display: inline-block !important;
  padding-left: 10px !important;
  font-weight: 100 !important;
  line-height: 19px !important;
  font-size: 14px !important;
}

.el-checkbox__inner {
  border: 1px solid #606266 !important;
  width: 15px !important;
  height: 15px !important;
}
</style>
