<template>
  <div class="table-container">
    <!-- TABLAS -->
    <div class="row">
      <div class="col-12 table-responsive">
        <grid-u2
          ref="grid"
          :columns="tableDateFirms.fields"
          :items="tableDateFirms.items"
        >
          <!-- ACCIONES -->
          <template slot="account_id" slot-scope="row">
            <span v-if="row.item.account"
              >{{ row.item.account.code }} - {{ row.item.account.name }}</span
            >
          </template>

          <template slot="actions" slot-scope="row">
            <div class="text-center d-flex justify-content-center text-nowrap">
              <!-- <b-button size="sm" class="button-table mt-1" variant="secondary">
                Ver
              </b-button> -->
              <b-button
                size="sm"
                id="botones"
                class="mt-1 button-table mx-2"
                @click="setDateFirm(row.item)"
                >Editar</b-button
              >
              <b-button
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="questionDelete(row.item, row)"
                >Eliminar</b-button
              >
            </div>
          </template>

          <!-- MENSAJE CUANDO NO HAY REGISTRO -->
        </grid-u2>
      </div>
    </div>

    <div class="row" v-if="tableDateFirms.pagination">
      <div class="col-md-12 px-5">
        <!-- PAGINACION E INFORMACION DE LA TABLA -->
        <div class="table-information">
          <div class="row">
            <div class="col-12">
              <p>
                Mostrando {{ tableDateFirms.pagination.from }} a
                {{ tableDateFirms.pagination.to }} de
                {{ tableDateFirms.pagination.total }} resultados
              </p>
            </div>

            <div class="col-6 my-1 form-inline">
              <label>Registros por página: &nbsp;</label>
              <b-form-select
                v-model="tableDateFirms.params.perPage"
                @change="findData()"
                :options="[5, 30, 100]"
              />
            </div>

            <div class="col-6">
              <b-pagination
                align="right"
                v-model="tableDateFirms.params.page"
                :total-rows="tableDateFirms.pagination.total"
                :per-page="tableDateFirms.pagination.per_page"
                aria-controls="my-table"
                @change="findData()"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import GridU2 from "../../../../components/u2/grid.vue";

export default {
  components: {
    GridU2
  },
  data() {
    return {
      loadingData: false
    };
  },
  methods: {
    ...mapActions("dateFirm", ["fetchDateFirms", "deleteDateFirm"]),
    ...mapMutations("dateFirm", ["setDateFirm"]),
    initComponent() {
      this.fetchDateFirms();
    },
    async findData() {
      this.loadingData = true;
      await this.fetchDateFirms();
      await this.$refs.grid_.buildData();
      this.loadingData = false;
    },
    questionDelete(item) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(result => {
          if (result) {
            this.deleteDateFirm(item.id);
          }
        })
        .catch(function(result) {});
    }
  },
  computed: {
    ...mapState("dateFirm", ["tableDateFirms"])
  },
  watch: {
    "tableDateFirms.params.perPage"() {
      this.fetchDateFirms();
    }
  },
  created() {
    this.initComponent();
  }
};
</script>

<style scoped>
.table-filters {
  height: 50px;
}
</style>
