<template>
    <card :title=tittlee>
        <b-form
            data-vv-scope="form"
            @submit.prevent="validateForm()"
        >
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <b-form-group
                    label="Cliente"
                    class="mb-0"
                    >
                        <el-select
                            id="contact"
                            name="contact"
                            placeholder=" "
                            no-data-text="Cargando datos..."
                            no-match-text="No hay datos que coincidan"
                            v-validate="'required'"
                            data-vv-as=" "
                            v-model="params.client"
                        >
                            <el-option
                            v-for="contact in contacts"
                            :key="contact.id"
                            :label="contact.code_parameter + '-' + contact.name_parameter"
                            :value="contact.id"
                            >
                            </el-option>
                        </el-select>
                    </b-form-group>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <b-form-group
                    label="Linea"
                    class="mb-0"
                    >
                        <el-select
                            id="line"
                            name="line"
                            placeholder=" "
                            no-data-text="Cargando datos..."
                            no-match-text="No hay datos que coincidan"
                            v-validate="'required'"
                            data-vv-as=" "
                            v-model="params.line"
                        >
                            <el-option
                            v-for="line in lines"
                            :key="line.id"
                            :label="line.line_code + '-' + line.line_description"
                            :value="line.id"
                            >
                            </el-option>
                        </el-select>
                    </b-form-group>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <b-form-group
                    label="Marca"
                    class="mb-0"
                    >
                        <el-select
                            id="brand"
                            name="brand"
                            placeholder=" "
                            no-data-text="Cargando datos..."
                            no-match-text="No hay datos que coincidan"
                            v-validate="'required'"
                            data-vv-as=" "
                            v-model="params.brand"
                        >
                            <el-option
                            v-for="brand in brands"
                            :key="brand.id"
                            :label="brand.brand_code + '-' + brand.description"
                            :value="brand.id"
                            >
                            </el-option>
                        </el-select>
                    </b-form-group>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <b-form-group
                    label="Porcentaje de Descuento"
                    class="mb-0"
                    >
                        <b-form-input
                            type="number"
                            id="percentage"
                            name="percentage"
                            class="form-control"
                            v-validate="'required|numeric|max:3'"
                            data-vv-as=" "
                            v-model="params.percentage"

                        ></b-form-input>
                        <span class="text-danger span-error">{{ errors.first('form.percentage') }}</span>
                    </b-form-group>
                </div>
            </div>

            <!-- Botones -->
            <div class="row">
                <div class="col-12">
                    <div class="form-actions">
                        <b-button
                            type="submit"
                            class="boton-guardar"
                        >
                            <span class="btn-label">
                                <i class="ti-save"></i>
                            </span> Guardar
                        </b-button>

                        <b-button
                            type="reset"
                            value="Limpiar"
                            class="otro-boton float-left"
                        >
                            <span class="btn-label">
                                <i class="ti-eraser"></i>
                                Limpiar
                            </span>
                        </b-button>
                    </div>
                </div>
            </div>    


        </b-form>
    </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card';
import { MessageBox } from 'element-ui';
import GridU2 from "../../components/u2/grid";

export default {
    components: {
        Card,
    },
    data(){
        return{
            tittlee:"<i class='ti-angle-down'></i> Crear Descuento",
        }
    },
    created() {
        if(this.$route.params.id){
            this.tittlee = "<i class='ti-angle-down'></i> Actualizar Descuento"
            this.initComponent(this.$route.params.id)  
        }
        this.fetchParameters();
        this.fetchLines();
        this.fetchBrands();
    },
    methods: {
        ...mapActions('discount', [
            'fetchContacts',
            'fetchLines',
            'fetchBrands',
            'createDiscount',
            'fetchDiscount',
            'updateDiscount',
            'fetchParameters'
            ]),
        ...mapMutations('discount', ['setParamsContacts']),


        async initComponent(id){
            await this.fetchDiscount(id)
            this.params.client = this.discount.parameter
            this.params.line = this.discount.line.id
            //if (this.params.brand != null) {
                this.params.brand = this.discount.brand_id
            //}
            this.params.percentage = this.discount.percentage+''
                
        },
        searchContacts (filter) {
            
            if (filter.length >= 3) {
                this.setParamsContacts(filter)
                this.fetchContacts()
            }
        },
        async validateForm(){
            
            if (this.params.client != null && this.params.line != null && this.params.percentage != null) {
                if (this.params.percentage.length < 4 && this.params.percentage < 101) {
                    if(this.$route.params.id){
                        this.params.id = this.discount.id
                        await this.updateDiscount(this.params)
                    }else{
                        await this.createDiscount(this.params)
                        this.params.client = null;
                        this.params.line = null;
                        this.params.brand = null;
                        this.params.percentage = null;
                    }


                }else{
                    this.$alert(
                        "el porcentage debe tener dos digitos",
                        "Error", {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass: "notification-error"
                    }
                    ).then(verifica => { });    
                }
            }else{
                this.$alert(
                    "Algunos campos no se registraron correctamente",
                    "Error", {
                    confirmButtonText: "Aceptar",
                    type: "error",
                    customClass: "notification-error"
                }
                ).then(verifica => { });
            }
        },
    },

  computed: {
    ...mapState('discount', ['params_contacts', 'contacts', 'lines', 'params', 'brands', 'discount'])
  },

}
</script>