<template>
    <card title="<i class='ti-angle-down'></i> Descuentos Por Cliente / Línea / Marca">
        <div class="row">
            <div class="col-8">

            </div>
            <div class="col-4">
            <b-button to="/Descuentos/crear" id="boton-nuevo"
                class="button button-rounded button-primary-flat hvr-shrink float-right">Nuevo</b-button>
            </div>
        </div>
        <!-- TABLA -->  
          <div class="row">
            <div class="col-12">
              <grid-u2
                :columns="columnsPU"
                @changeRow="changeRow"
                :items="discounts"
              >
                <template
                  slot="options"
                  slot-scope="row"
                >
                  <b-button
                    variant="info"
                    :to="`/Descuentos/${row.item.id}/editar`"
                  >Editar</b-button>
                  <b-button
                    variant="danger"
                    @click="questionDelete(row.item, row)"
                  >Eliminar</b-button>
                </template>

                <template
                  slot="linea"
                  slot-scope="row"
                >
                  <div>
                    {{ row.item.line.line_code }} - {{ row.item.line.line_description }}
                  </div>
                </template>

                <template
                  slot="marca"
                  slot-scope="row"
                >
                  <div v-if="row.item.brand != null">
                    {{ row.item.brand.brand_code }} - {{ row.item.brand.description }}
                  </div>
                </template>

                <template
                  slot="cliente"
                  slot-scope="row"
                >
                  <div>
                    {{ row.item.contact.identification }} - {{ row.item.contact.name }}
                  </div>
                </template>

                <template
                  slot="porcentaje"
                  slot-scope="row"
                >
                  <div>
                    {{ row.item.percentage }}%
                  </div>
                </template>

              </grid-u2>
            </div>
          </div>
    </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card';
import { MessageBox } from 'element-ui';
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    Card,
    GridU2
  },
  data(){
    return{
      columnsPU: [],
    }
  },

  methods: {
    ...mapActions('discount', ['fetchDiscounts', 'deleteDiscount']),
    changeRow(){

    },


    questionDelete (item, row) {
      this.$confirm('Esto eliminara de forma permanente el registro. ¿Desea continuar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        (result) => {
          if (result) {
            this.deleteDiscount(item.id)
            this.fetchDiscounts()
          }
        }
      ).catch(function (result) {
      })
    },

  },

  created() {
    this.fetchDiscounts()
  },
  async mounted () {


    this.columnsPU = [{
      name: "Categoria de Cliente",
      field: "parameter.name_parameter",
      width: 150
    },
    {
      name: "Linea",
      field: "linea",
      width: 400
    },
    {
      name: "Marca", 
      field: "marca",
      width: 140,
    },
    {
      name: "% Dscto",
      field: "porcentaje",
      width: 140,
    },
    
    {
      name: "Acciones",
      field: "options",
      width: 140,
      format: "number",
    },
    ];
  },
  computed: {
    ...mapState('discount', ['discounts'])
  },
}
</script>