<template>
  <card title="<i class='ti-control-shuffle'></i> Despachos">
    <template v-slot:header-right>
      <span class="float-right">
        <b-button variant="success" v-b-modal.modal-search-document>Buscar Documento</b-button>
      </span>
    </template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <TableDespatchs />
        </div>
      </div>
    </div>
    <b-modal id="modal-search-document" title="Buscar Documento" size="xl" class="modal-backdrop">
      <ListDocumentGlobal :pmodel_code="205" />

      <!-- BOTONES MODAL-->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" @click="cancel()">cerrar</b-button>
      </template>
    </b-modal>
  </card>
</template>

<script>
/*window.onbeforeunload = function () {
  return "¿Desea recargar la página web?";
};*/
/*var bPreguntar = true;

window.onbeforeunload = preguntarAntesDeSalir;

function preguntarAntesDeSalir () {
  if (bPreguntar)
    return "¿Seguro que quieres salir?";
}*/
</script>

<script>
// Componentes
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import TableDespatchs from "../../components/pages/despatch/TableDespatchs";
import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";

export default {
  components: {
    Card,
    TableDespatchs,
    ListDocumentGlobal,
  },
  mounted() {},
  methods: {},
};
</script>

<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>

<style src="hover.css/css/hover-min.css">
</style>
