<template>
  <div style="margin-top:20px" v-if="loader">
    <loader></loader>
  </div>
  <div v-else>
    <form @submit.prevent="validateForm('form')" data-vv-scope="form">
      <div class="form-body">
        <!--Linea 1-->
        <div class="row">
          <div
            class="form-group col-md-3"
            v-bind:class="errors.has('form.name') ? 'form-group-error' : ''"
          >
            <label for="name" class="control-label">
              Descripción <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              v-validate="'required|max:255'"
              data-vv-as="Descripción "
              :disabled="isDisabled"
              v-model="selectedBranchOffice.name"
            />
            <i class="text-danger icon-error"> </i>
            <span class="text-danger span-error">
              {{ errors.first("form.name") }}
            </span>
          </div>
          <div
            class="form-group col-md-4"
            v-bind:class="errors.has('form.address') ? 'form-group-error' : ''"
          >
            <label for="address">
              Direccion <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              :disabled="isDisabled"
              v-validate="'required|max:100'"
              data-vv-as="Dirección"
              v-model="selectedBranchOffice.address"
            />
            <i class="text-danger icon-error"> </i>
            <span class="text-danger span-error">
              {{ errors.first("form.address") }}
            </span>
          </div>
          <div
            class="form-group col-md-2 col-sm-3"
            v-bind:class="errors.has('form.city_id') ? 'form-group-error' : ''"
          >
            <label for="department">
              Departamento <span class="text-danger">*</span>
            </label>
            <el-select
              id="department_id"
              name="department_id"
              placeholder=" "
              :disabled="isDisabled"
              filterable
              clearable
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="selectedBranchOffice.city.department_id"
              @click.native="fetchDepartments"
            >
              <el-option
                v-for="d in departments"
                :key="d.value"
                :value="d.value"
                :label="d.label"
              ></el-option>
            </el-select>
          </div>
          <div
            class="form-group col-md-3 col-sm-3"
            v-bind:class="errors.has('form.city_id') ? 'form-group-error' : ''"
          >
            <label for="city_id">
              Ciudad <span class="text-danger">*</span>
            </label>
            <el-select
              id="city_id"
              name="city_id"
              placeholder=" "
              filterable
              :disabled="isDisabled"
              clearable
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-validate="'required'"
              data-vv-as=" "
              v-model="selectedBranchOffice.city_id"
              @click.native="fetchCities()"
            >
              <el-option
                v-for="c in cities"
                :key="c.value"
                :value="c.value"
                :label="c.label"
              ></el-option>
            </el-select>
            <i class="text-danger icon-error"> </i>
            <span class="text-danger span-error">
              {{ errors.first("form.city_id") }}
            </span>
          </div>
        </div>
        <!--Linea 1-->
        <!--Linea 2-->
        <div class="row">
          <div
            class="col-md-3 form-group"
            v-bind:class="
              errors.has('form.telephone') ? 'form-group-error' : ''
            "
          >
            <label for="telephone" class="control-label">Telefono</label>
            <input
              type="text"
              id="telephone"
              name="telephone"
              class="form-control"
              :disabled="isDisabled"
              v-validate="'max:50'"
              data-vv-as=" "
              v-model="selectedBranchOffice.telephone"
            />
            <i class="text-danger icon-error"> </i>
            <span class="text-danger span-error">
              {{ errors.first("form.telephone") }}
            </span>
          </div>
          <div
            class="col-md-3 form-group"
            v-bind:class="errors.has('form.fax') ? 'form-group-error' : ''"
          >
            <label for="fax" class="control-label">Fax</label>
            <input
              type="text"
              id="fax"
              name="fax"
              class="form-control"
              :disabled="isDisabled"
              v-validate="'max:50'"
              data-vv-as=" "
              v-model="selectedBranchOffice.fax"
            />
            <i class="text-danger icon-error"> </i>
            <span class="text-danger span-error">
              {{ errors.first("form.fax") }}
            </span>
          </div>
          <div
            class="col-md-3 form-group"
            v-bind:class="errors.has('form.fax') ? 'form-group-error' : ''"
          >
            <label for="latitude" class="control-label">Latitud</label>
            <input
              type="text"
              id="latitude"
              name="latitude"
              class="form-control"
              :disabled="isDisabled"
              v-validate="'max:100'"
              data-vv-as=" "
              @click.native="addMarker"
              v-model="selectedBranchOffice.latitude"
            />
            <i class="text-danger icon-error"> </i>
            <span class="text-danger span-error">
              {{ errors.first("form.latitude") }}
            </span>
          </div>
          <div
            class="col-md-3 form-group"
            v-bind:class="errors.has('form.fax') ? 'form-group-error' : ''"
          >
            <label for="length" class="control-label">Longitud</label>
            <input
              type="text"
              id="length"
              name="length"
              class="form-control"
              :disabled="isDisabled"
              v-validate="'max:20'"
              data-vv-as=" "
              v-model="selectedBranchOffice.length"
            />
            <i class="text-danger icon-error"> </i>
            <span class="text-danger span-error">
              {{ errors.first("form.length") }}
            </span>
          </div>
        </div>
        <!--Linea 2-->
        <!--Linea 3-->
        <div class="row form-group">
          <div class="col-md-3">
            <b-form-group>
              <label for="branchoffice_type" class="control-label"
                >Tipo de Sede
              </label>
              <b-form-radio-group
                id="branchoffice_type"
                buttons
                :disabled="isDisabled"
                :options="[
                  { text: 'Administrativo', value: 0 },
                  { text: 'Punto de Venta', value: 1 }
                ]"
                name="branchoffice_type"
                v-model="selectedBranchOffice.branchoffice_type"
                :button-variant="
                  selectedBranchOffice.branchoffice_type == 1
                    ? 'outline-primary'
                    : 'outline-secondary'
                "
              />
            </b-form-group>
          </div>
          <div class="col-md-3 d-flex justify-content-center">
            <b-form-group>
              <label for="main" class="control-label">Sede principal</label
              ><br />
              <b-form-radio-group
                id="main"
                buttons
                :disabled="isDisabled"
                :options="[
                  { text: 'NO', value: 0 },
                  { text: 'SI', value: 1 }
                ]"
                name="main"
                v-model="selectedBranchOffice.main"
                :button-variant="
                  selectedBranchOffice.main == 1
                    ? 'outline-primary'
                    : 'outline-secondary'
                "
              />
            </b-form-group>
          </div>

          <!-----  nuevo campo ,monto minimo pedido  ---->
          <div class="col-md-3">
            <b-form-group>
              <label for="minimum_order_amount" class="control-label"
                >Monto minimo Pedido</label
              >
              <input
                id="minimum_order_amount"
                type="number"
                class="form-control"
                :disabled="isDisabled"
                name="minimum_order_amount"
                v-model="selectedBranchOffice.minimum_order_amount"
              />
            </b-form-group>
          </div>

          <div class="col-md-3">
            <b-form-group
              v-bind:class="errors.has('form.email') ? 'form-group-error' : ''"
            >
              <label for="email" class="control-label">Email</label>
              <input
                id="email"
                type="email"
                class="form-control"
                :disabled="isDisabled"
                v-validate="'email'"
                data-vv-as=" "
                name="email"
                v-model="selectedBranchOffice.email"
              />
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.email") }}
              </span>
            </b-form-group>
          </div>
          <!--div class="col-md-6">
                    <gmap-map :center="center" :zoom="5" class="gmap" ref="gmap" >
                        <gmap-marker
                            v-for="(m,index) in markers"
                            :key="index"
                            :position="m.position"
                            :clickable="true"
                            :draggable="true"
                            @click="center=m.position">
                        </gmap-marker>
                    </gmap-map>
                </div-->
        </div>
        <!--Linea 3-->
        <b-card
          no-body
          class="mb-1"
          v-if="selectedBranchOffice.branchoffice_type == 1"
        >
          <b-btn
            block
            href="#"
            v-b-toggle.warehouses
            id="acordeon"
            aria-expanded="true"
          >
            BODEGAS
          </b-btn>
          <b-collapse id="warehouses" visible role="tabpanel">
            <b-card-body>
              <!--Inicio Fila-->
              <div class="row">
                <div
                  class="form-group col-sm-3 col-md-2"
                  v-bind:class="
                    errors.has('form.warehouse_code') ? 'form-group-error' : ''
                  "
                >
                  <label for="warehouse_code">
                    Código <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    id="warehouse_code"
                    name="warehouse_code"
                    v-validate="'max:5'"
                    :disabled="isDisabled"
                    class="form-control"
                    data-vv-as=" "
                    v-model="selectedWarehouse.warehouse_code"
                    @keyup="compareWareHouse()"
                  />
                  <i class="text-danger icon-error"></i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.warehouse_code") }}
                  </span>
                </div>
                <div
                  class="form-group col-sm-3 col-md-2"
                  :class="
                    errors.has('form.code_previous') ? 'form-group-error' : ''
                  "
                >
                  <label for="code_previous">
                    Código Anterior
                  </label>
                  <input
                    type="text"
                    id="code_previous"
                    name="code_previous"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:5'"
                    data-vv-as=" "
                    v-model="selectedWarehouse.code_previous"
                  />
                  <i class="text-danger icon-error"></i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.code_previous") }}
                  </span>
                </div>

                <div
                  class="form-group col-sm-6 col-md-4"
                  v-bind:class="
                    errors.has('form.warehouse_description')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="warehouse_description">
                    Descripción <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    id="warehouse_description"
                    name="warehouse_description"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:100'"
                    data-vv-as=" "
                    v-model="selectedWarehouse.warehouse_description"
                  />
                  <i class="text-danger icon-error"></i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.warehouse_description") }}
                  </span>
                </div>
                <div class="form-group col-sm-6 col-md-4">
                  <label for="state_warehouse">Estado</label>
                  <br />
                  <b-form-radio-group
                    id="state_warehouse"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Activo', value: 1 },
                      { text: 'Inactivo', value: 9 },
                      { text: 'Inventario', value: 3 }
                    ]"
                    name="state_warehouse"
                    v-model="selectedWarehouse.warehouse_status"
                    :button-variant="
                      selectedWarehouse.warehouse_status == 9
                        ? 'outline-secondary'
                        : 'outline-primary'
                    "
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-6 col-md-2">
                  <label for="update_inventory">Actualiza el Inventario</label>
                  <br />
                  <b-form-radio-group
                    id="update_inventory"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="update_inventory"
                    v-model="selectedWarehouse.update_inventory"
                    :button-variant="
                      selectedWarehouse.update_inventory == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div class="form-group col-sm-6 col-md-2">
                  <label for="exits_no_exist">Salidas Sin Existencias</label>
                  <br />
                  <b-form-radio-group
                    id="exits_no_exist"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="exits_no_exist"
                    v-model="selectedWarehouse.exits_no_exist"
                    :button-variant="
                      selectedWarehouse.exits_no_exist == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div class="form-group col-sm-6 col-md-2">
                  <label for="negative_balances">Saldos Negativos</label>
                  <br />
                  <b-form-radio-group
                    id="negative_balances"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="negative_balances"
                    v-model="selectedWarehouse.negative_balances"
                    :button-variant="
                      selectedWarehouse.negative_balances == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div class="form-group col-sm-6 col-md-3">
                  <label
                    for="last_date_physical_inventory"
                    class="control-label bg-white"
                    >Ultimo Cierre</label
                  >
                  <flat-pickr
                    v-model="selectedWarehouse.last_date_physical_inventory"
                    id="last_date_physical_inventory"
                    name="last_date_physical_inventory"
                    :disabled="isDisabled"
                    :configuration="calendario"
                    class="form-control"
                  >
                  </flat-pickr>
                </div>
                <div class="form-group col-sm-6 col-md-3">
                  <label
                    for="warehouse_description"
                    v-bind:class="
                      errors.has('form.warehouse_description')
                        ? 'text-danger'
                        : ''
                    "
                  >
                    Número Inventario Físico
                  </label>
                  <input
                    type="text"
                    id="number_physical_inventory"
                    :disabled="isDisabled"
                    name="number_physical_inventory"
                    class="form-control"
                    v-model="selectedWarehouse.number_physical_inventory"
                  />
                </div>
              </div>
              <!--Fin Fila-->

              <div class="row">
                <div class="form-group col-sm-6 col-md-3">
                  <label for="inventories_account">Cuenta Inventario</label>
                  <el-select
                    id="inventories_account"
                    name="inventories_account"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="selectedWarehouse.inventories_account"
                    remote
                    :remote-method="_filterAccountInventory"
                  >
                    <el-option
                      v-for="item in accountsInventory"
                      :key="item.id"
                      :label="`${item.code} - ${item.name}`"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </div>
              </div>

              <!--Inicio Fila-->
              <div class="row">
                <div class="form-group col-12">
                  <b-button
                    v-if="action != 'view'"
                    type="button"
                    class=" otro-boton float-right ml-1"
                    @click="validateActionWareHouse()"
                  >
                    <span class="btn-label">
                      <i class="ti-save-alt"> </i>
                    </span>
                    &nbsp;
                    {{
                      this.actionWarehouse == "create"
                        ? "Guardar"
                        : "Actualizar"
                    }}
                    Bodega
                  </b-button>
                  <b-button
                    v-if="action != 'view'"
                    type="button"
                    class="btn btn-labeled btn-secondary float-right"
                    @click="clearWareHouse()"
                  >
                    <span class="btn-label">
                      <i class="ti-close"> </i>
                    </span>
                    &nbsp; Cancelar
                  </b-button>
                </div>
              </div>
              <!--Fin Fila-->
            </b-card-body>
          </b-collapse>
        </b-card>

        <b-card
          no-body
          class="mb-1"
          v-if="selectedBranchOffice.branchoffice_type == 1"
        >
          <b-btn block href="#" v-b-toggle.warehouses-list id="acordeon"
            >BODEGAS REGISTRADAS</b-btn
          >
          <b-collapse id="warehouses-list" visible ole="tabpanel">
            <b-card-body>
              <div class="row">
                <div class="col-12 table-responsive">
                  <b-table
                    striped
                    hover
                    show-empty
                    :items="warehousesFiltered"
                    :fields="fieldsBodegas"
                    empty-text="No existen bodegas registradas"
                  >
                    <!--Template para cargar badge del estado de tipo de comprobante-->
                    <template v-slot:cell(warehouse_status)="row">
                      <h5 class="text-center">
                        <b-badge
                          href="#"
                          variant="success"
                          v-if="row.item.warehouse_status === 1"
                          ><i class="fa fa-check"> </i>
                          Activo
                        </b-badge>
                        <b-badge
                          href="#"
                          variant="primary"
                          v-else-if="row.item.warehouse_status === 3"
                        >
                          Inventario
                        </b-badge>
                        <b-badge href="#" variant="danger" v-else
                          ><i class="fa fa-check"> </i>
                          Inactivo
                        </b-badge>
                      </h5>
                    </template>
                    <!--Template para cargar las acciones-->
                    <template v-slot:cell(actions)="row">
                      <div class="form-group">
                        <b-button
                          v-if="action != 'view'"
                          size="sm"
                          variant="secondary"
                          @click="setWareHouseComp(row.item)"
                        >
                          Editar
                        </b-button>
                        <b-button
                          v-if="action != 'view'"
                          size="sm"
                          variant="danger"
                          class="button-table"
                          @click="questionDeleteWareHouse(row.item)"
                        >
                          Eliminar
                        </b-button>
                      </div>
                    </template>
                  </b-table>
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
      <div class="form-actions">
        <b-button v-if="action != 'view'" type="submit" class="boton-guardar">
          <span class="btn-label"> <i class="ti-save-alt"></i> </span>Guardar
        </b-button>
        <b-button
          to="/sedes"
          type="button"
          variant="secondary"
          class="float-left"
          @click="clearSelectedBranchOffice"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span>
          Volver
        </b-button>
        <b-button
          v-if="action != 'view'"
          type="reset"
          value="Limpiar"
          class="otro-boton float-left"
          @click="clearSelectedBranchOffice"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
          </span>
          Limpiar
        </b-button>
      </div>
    </form>
  </div>
</template>

<script>
import Vue from "vue";
import { mapActions, mapState, mapMutations } from "vuex";
import loader from "./../../components/layout/loader.vue";

// componente calendario
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es.js";
import "flatpickr/dist/flatpickr.css";
flatpickr.localize(Spanish);

import * as VueGoogleMaps from "vue2-google-maps";

Vue.use(VueGoogleMaps, {
  load: {
    key: "AIzaSyAsWrKeYU3-0op9yUNbcLCGJNYhO5CF3EA"
    // libraries: 'places', // If you need to use place input
  }
});

export default {
  name: "formBranchOffice",
  components: {
    flatPickr,
    loader
  },

  data() {
    return {
      loader: true,
      filterFields: "",
      tabIndex: 0,
      path: "",
      updateDepartments: false,
      /* center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null, */
      calendario: {
        dateFormat: "y-m-d"
      },
      fieldsBodegas: [
        {
          key: "warehouse_code",
          label: "Código",
          thStyle: { width: "100px !important" }
        },
        {
          key: "code_previous",
          label: "Código Anterior",
          thStyle: { width: "120px !important" }
        },
        { key: "warehouse_description", label: "Descripción" },
        {
          key: "warehouse_status",
          label: "Estado",
          thStyle: { width: "120px !important" }
        },
        {
          key: "actions",
          label: "Opciones",
          thStyle: { width: "146px !important" }
        }
      ]
    };
  },
  created() {
    this.fetchAccountsInventory();

    this.selectedBranchOffice.warehouses.map(wh => {
      wh.action = "n";
    });

    if (this.$route.params.id) {
      this.initUpdate("update", this.$route.params.id);
    } else if (this.$route.params.idv) {
      this.initUpdate("view", this.$route.params.idv);
    } else {
      this.setGetBranchOfficeEdit(true);
      this.updateDepartments = true;
      this.resetSelectedBranchOffice();
      this.setAction("create");
      this.loader = false;
    }

    this.$store.watch(
      () => {
        return this.selectedBranchOffice.city.department_id;
      },
      p => {
        if (this.updateDepartments) {
          this.selectedBranchOffice.city_id = "";
        }
      }
    );
  },
  methods: {
    _filterAccountInventory(text) {
      this.paramsAccountInventory.filter = text;
      this.fetchAccountsInventory();
    },
    async initUpdate(action, id) {
      await this.getBranchOffice(id);
      this.setAction(action);
      await this.fetchDepartments();
      await this.fetchCities();
      this.updateDepartments = true;
      this.loader = false;
    },
    /*  addMarker() {
         if (this.currentPlace) {
             const marker = {
             lat: this.currentPlace.geometry.location.lat(),
             lng: this.currentPlace.geometry.location.lng()
         };
             this.markers.push({ position: marker });
             this.places.push(this.currentPlace);
             this.center = marker;
             this.currentPlace = null;
         }
     },
     geolocate: function() {
         navigator.geolocation.getCurrentPosition(position => {
             this.center = {
             lat: position.coords.latitude,
             lng: position.coords.longitude
             };
         });
     }, */
    async validateActionWareHouse() {
      if (
        this.selectedWarehouse.warehouse_code == "" ||
        this.selectedWarehouse.warehouse_code == null
      ) {
        //Valida si el codigo de la bodega no esta vacio o null
        this.errors.add({
          scope: "form",
          field: "warehouse_code",
          msg: "El campo es obligatorio"
        });
        if (
          this.selectedWarehouse.warehouse_description == "" ||
          this.selectedWarehouse.warehouse_description == null
        ) {
          //Valida si la descripción de la bodega no esta vacia o null
          this.errors.add({
            scope: "form",
            field: "warehouse_description",
            msg: "El campo es obligatorio"
          });
        }
      } else {
        if (this.actionWarehouse == "create") {
          await this.addWareHouse();
        } else {
          await this.updateWareHouse();
        }
        this.clearWarehouse();
      }
    },
    clearWarehouse() {
      this.setWarehouse({ state: 1 });
      this.setActionWarehouses("create");
    },

    clearSelectedBranchOffice() {
      this.resetSelectedBranchOffice();
      this.$validator.reset();
    },
    setWareHouseComp(warehouse) {
      this.setWarehouse(warehouse);
      this.setActionWarehouses("update");
    },
    compareWareHouse() {
      let code = this.selectedWarehouse.warehouse_code;
      let wareHouseFiltered = this.selectedBranchOffice.warehouses.find(
        wh => wh.code == this.selectedWarehouse.warehouse_code
      );

      if (wareHouseFiltered) {
        this.setWarehouse(wareHouseFiltered);
        this.setActionWarehouses("update");
      } else {
        this.clearWarehouse();
        this.selectedWarehouse.warehouse_code = code;
      }
    },
    questionDeleteWareHouse(selectedWarehouse) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(result => {
          if (result) {
            this.deleteWareHouse(selectedWarehouse);
            this.clearWarehouse();
          }
        })
        .catch(function(result) {});
    },

    validateForm(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if (this.action == "create") {
            this.create();
          } else if (this.action == "update") {
            this.update();
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
        }
      });
    },
    async create() {
      await this.addBranchOffice();
      this.$validator.reset();
    },
    update() {
      this.updateBranchOffice();
    },

    ...mapActions("branchOffices", [
      "fetchBranchOffices",
      "addBranchOffice",
      "updateBranchOffice",
      "getBranchOffice",
      "fetchDepartments",
      "fetchCities",
      "addWareHouse",
      "updateWareHouse",
      "deleteWareHouse",
      "fetchAccountsInventory"
    ]),
    ...mapMutations("branchOffices", [
      "setWarehouse",
      "resetSelectedBranchOffice",
      "setActionWarehouses",
      "setAction",
      "setGetBranchOfficeEdit"
    ])
  },
  computed: {
    ...mapState("branchOffices", [
      "action",
      "actionWarehouse",
      "selectedBranchOffice",
      "error",
      "errorMessage",
      "departments",
      "cities",
      "selectedWarehouse",
      "accountsInventory",
      "paramsAccountInventory"
    ]),
    isDisabled() {
      return this.action == "view";
    },
    activo() {
      if (
        this.selectedBranchOffice.branchoffice_type == 1 ||
        this.setAction != "view"
      ) {
        return false;
      } else {
        return true;
      }
    },
    warehousesFiltered() {
      let wfs = this.selectedBranchOffice.warehouses.filter(
        wh => wh.action != "d"
      );
      return wfs;
    }
  }
};
</script>

<style src="../../assets/css/form_layouts.css"></style>
<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style src="awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"></style>
<style>
html {
  background-color: #fff;
}
@media (max-width: 320px) {
  #datepickers-container .datepicker.active {
    left: 60px !important;
  }
}
@media (max-width: 1024px) {
  .boxed .pad_left {
    padding-left: 0;
  }
  .boxed .pad_left .text-left .col-md-2,
  .boxed .pad_left .text-left .col-sm-4 {
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 10px;
  }
  .labled_buttons .col-md-6 {
    margin-right: 10px;
  }
}
.btn-labeled {
  margin-bottom: 10px;
}

.el-select {
  width: 100%;
}

.el-input__inner {
  height: 31.25px;
}

.el-select .el-input .el-select__caret {
  color: #a0a0a0;
}
#last_date_physical_inventory {
  background-color: #fff;
}
#last_date_physical_inventory:disabled {
  background-color: #e9ecef;
}

.el-input__icon {
  line-height: 0px;
}

.form-group .icon-error,
span-error {
  display: none;
}

.form-group-error > label {
  color: #ff6666 !important;
}

.form-group-error input {
  border: 1px solid #ff6666 !important;
}

.form-group-error input {
  border: 1px solid #ff6666 !important;
}

.form-group-error .icon-error,
span-error {
  display: inline;
}
</style>
<style scoped>
.gmap {
  width: 100%;
  height: 300px;
  margin: 5px auto;
}
</style>
