<template>
  <card title="<i class='fa fa-fw fa-hospital-o'></i> Sedes">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-12">
            <b-form-group
              label="Buscar"
              class="mb-0"
            >
              <b-input-group>
                <b-form-input
                  v-model="params.filter"
                  placeholder=""
                  @keyup.native.enter="setFilterPagination"
                  style="text-transform: uppercase;"
                />
                <b-input-group-append>
                  <b-btn
                    @click.prevent="filtro(params.filter)"
                    id="botones"
                  ><span class="ti-search"></span></b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-md-8 col-sm-4 col-12">
            <b-button
              to="/sedes/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <b-table
            striped
            hover
            show-empty
            :items="branchOffices.data"
            :fields="listBranchOffices"
            :no-local-sorting="true"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sort"
          >
            <template
              slot="name"
              slot-scope="row"
            >
              <span>{{row.item.name }}<b-badge
                  href="#"
                  variant="primary"
                  class="float-right"
                  v-if="row.item.main"
                >
                  Principal
                </b-badge></span>
            </template>
            <template
              slot="branchoffice_type"
              slot-scope="row"
            >
              <h5 class="text-center">
                <b-badge
                  href="#"
                  variant="primary"
                  v-if="row.item.branchoffice_type"
                >
                  Punto de Venta
                </b-badge>
                <b-badge
                  href="#"
                  variant="secondary"
                  v-else
                >Administrativo</b-badge>
              </h5>
            </template>
            <template v-slot:cell(actions)="row">
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="secondary"
                :to="`/sedes/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                size="sm"
                class="button-table mt-1"
                id="botones"
                :to="`/sedes/${row.item.id}/editar`"
              >
                Editar
              </b-button>
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="danger"
                @click="questionDelete(row.item)"
              >
                Eliminar
              </b-button>
            </template>
          </b-table>
        </div>
        <p>
          Mostrando {{branchOffices.from}} a {{branchOffices.to}} de {{branchOffices.total}} resultados
        </p>
        <b-row>
          <b-col
            md="6"
            class="my-1 form-inline"
          >
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[5, 10, 15]"
              v-model="params.perPage"
              @change.native="setPerPagePagination"
            />
          </b-col>
          <b-col
            md="6"
            class="my-1"
          >
            <b-pagination
              :total-rows="totalRows"
              :per-page="params.perPage"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="setPagePagination"
            />
          </b-col>
        </b-row>
      </div>
    </div>
  </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card';
import { MessageBox } from 'element-ui';

export default {
  components: {
    Card,
  },
  data () {
    return {
      listBranchOffices: [
        { key: 'code', label: 'Codigo', sortable: true, thStyle: { width: '100px !important' } },
        { key: 'name', label: 'Descripcion', sortable: true, thStyle: { 'min-width': '250px !important', width: '250px !important' } },
        { key: 'address', label: 'Dirección', sortable: true },
        { key: 'city.city', label: 'Ciudad', sortable: true },
        { key: 'branchoffice_type', label: 'Tipo de Sede', sortable: true },
        { key: 'actions', label: 'Opciones', thStyle: { 'min-width': '280px !important', width: '280px !important' } }
      ],
      sortBy: 'id',
      sort: true
    }
  },
  created () {
    this.sortBy = this.params.sortBy
    this.sort = this.params.sort == 'ASC' ? true : false
    this.fetchBranchOffices()

    this.$store.watch(() => {
      return this.getParams.sort
    }, p => {
      this.fetchBranchOffices()
    })

    this.$store.watch(() => {
      return this.getParams.sortBy
    }, p => {
      this.fetchBranchOffices()
    })

    this.setGetBranchOfficeEdit(true)
    this.resetSelectedBranchOffice()
  },
  methods: {
    ...mapActions('branchOffices', [
      'fetchBranchOffices',
      'removeBranchOffice',
      'getBranchOffice',
      'setFilterPagination',
      'setPerPagePagination',
      'setPagePagination',
      'setSortByPagination',
      'setSortPagination'
    ]),
    ...mapMutations('branchOffices', [
      'setAction',
      'setBranchOffice',
      'resetSelectedBranchOffice',
      'setPerPage',
      'setFilter',
      'setGetBranchOfficeEdit'
    ]),
    filtro (filtro) {
      this.setFilter(filtro)
      this.fetchBranchOffices()
    },
    questionDelete (branchOffices) {
      this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then((result) => {
        if (result) {
          this.deleteBranchOffice(branchOffices)
        }
      }).catch(function (result) {
      })
    },
    deleteBranchOffice (branchOffices) {
      this.removeBranchOffice(branchOffices)
    },
  },
  computed: {
    ...mapGetters('branchOffices', ['getParams']),
    ...mapState('branchOffices', ['branchOffices', 'selectedBranchOffice', 'action', 'params']),
    totalRows () {
      return this.branchOffices.total
    },
  },
  watch: {
    'sortBy' (newValue, oldValue) {
      this.setSortByPagination(newValue)
    },
    'sort' (newValue, oldValue) {
      this.setSortPagination(newValue ? 'ASC' : 'DESC')
    }
  }
}
</script>

<!-- boton crear  -->
<style lang="sass">
    @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
