<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <card
          :title="
            '<i class=\'fa fa-fw ti-pencil\'></i> ' + labelPrinci + ' Sedes'
          "
        >
          <form-branch-office></form-branch-office>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import formBranchOffice from "./formBranchOffice.vue";
import card from "../../components/pages/card/card.vue";
import { mapState } from "vuex";

export default {
  components: {
    formBranchOffice,
    card
  },
  computed: {
    labelPrinci() {
      switch (this.action) {
        case "create":
          return "Crear";
          break;
        case "update":
          return "Editar";
          break;
        case "view":
          return "Ver";
          break;
      }
    },
    ...mapState("branchOffices", ["action"])
  },
  methods: {}
};
</script>
