<template>
  <span>
    <span v-if="priorityList[priority.code_parameter]">
      <h5>
        <b-badge :variant="priorityList[priority.code_parameter].variant">{{
          priority.name_parameter
        }}</b-badge>
      </h5>
    </span>
    <span v-else>
      <b-badge variant="secondary">No hay estado</b-badge>
    </span>
  </span>
</template>

<script>
export default {
  props: ["priority"],
  data() {
    return {
      priorityList: {
        "01": { variant: "primary" },
        "02": { variant: "secondary" },
        "03": { variant: "warning" },
        "04": { variant: "danger" }
      }
    };
  }
};
</script>
