<template>
  <card title="<i class='ti-layout-list-thumb'></i> Productos">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-12 col-sm-4 col-12">
            <b-button variant="primary"
                      to="/productos/crear"
                      class="pull-right mx-1"
            >
              Nuevo
            </b-button>
            <b-button variant="success"
                      @click="reportGenerate()"
                      class="pull-right mx-1"
            >
              Generar reporte
            </b-button>
          </div>
        </div>
      </div>

      <!-- TABLA -->
      <div class="col-12 pt-3">
        <TableProducts/>
      </div>

    </div>
  </card>
</template>

<script>
  import Vue from 'vue'
  import {mapState, mapActions, mapMutations} from 'vuex'
  import {AgGridVue} from "ag-grid-vue";
  import Card from '../../components/pages/card/card'
  import TableProducts from '../../components/pages/products/TableProducts'
  // import Loader from "./../../components/layout/loader.vue";

  export default {
    components: {
      AgGridVue,
      Card,
      TableProducts
      // Loader
    },
    data() {
      return {
        columnDefs: null,
        rowData: [],
        gridApi: null,
        columnApi: null,
        autoGroupColumnDef: null,
        bodegas: [],
        bodegasWare: [],
        lineas: [],
        sublineas: [],
        marcas: [],
        subMarcas: [],
        quickFilterText: '',
        headerBgVariant: 'primary',
        textColor: 'light',
        titulo: 'Buqueda de productos',
        codigo: null,
        overlayLoadingTemplate: null,
        overlayNoRowsTemplate: null,
        modalShow: false,
        valuecode: null,
        acdelco: "ACDELCO",
        rowIndex: 0,
        getRowHeight: null,
        rowGroupPanelShow: null,
        pivotPanelShow: null,
      }
    },
    computed: {
      ...mapState("listproducts", [
        "branchsWare",
      ]),
      ...mapState("products", [
        "products",
      ]),
      rowsTable() {
        return this.products.length
      }
    },

    methods: {
      onGridReady(params) {
        this.gridApi = params.api;
        this.columnApi = params.columnApi;

      },
      getSelectedRows() {
        const selectedNodes = this.gridApi.getSelectedNodes();
        const selectedData = selectedNodes.map(node => node.data);
        const selectedDataStringPresentation = selectedData.map(node => node.make + ' ' + node.model).join(', ');
        alert(`Selected nodes: ${selectedDataStringPresentation}`);
      },
      onFilterTextBoxChanged() {
        this.gridApi.setQuickFilter(document.getElementById("filter-text-box").value);
        this.gridApi.forEachNode((node) => {
          if (node.rowIndex === 0) {
            node.setSelected(true);
          }
        })
        //  document.getElementById('grilla').focus();

        // scrolls to the first row
        this.gridApi.ensureIndexVisible(0);

        // scrolls to the first column
        var firstCol = this.columnApi.getAllDisplayedColumns()[0];
        this.gridApi.ensureColumnVisible(firstCol);

        // sets focus into the first grid cell
        this.gridApi.setFocusedCell(0, firstCol);
      },
      onRowDoubleClicked() {
        this.codigo = 0;
        if (this.modalShow) {
          this.modalShow = false;
        }
        this.codigo = this.gridApi.getSelectedRows();
        this.codigo.forEach(element => {
          this.getProduct(element.id);
        });
      },
      onCellKeyPress(e) {
        this.codigo = 0;
        let keyPressed = e.event.key;
        if (keyPressed === 'Enter') {
          if (this.modalShow) {
            this.modalShow = false;
          }
          this.codigo = this.gridApi.getSelectedRows();
          this.codigo.forEach(element => {
            this.getProduct(element.id);
          });
        }
      },
      chargeGrid() {
        this.modalShow = !this.modalShow
      },
      myNavigation: function (params) {
        var previousCell = params.previousCellPosition;
        var suggestedNextCell = params.nextCellPosition;

        var KEY_UP = 38;
        var KEY_DOWN = 40;
        var KEY_LEFT = 37;
        var KEY_RIGHT = 39;
        var KEY_ENTER = 13;
        switch (params.key) {
          case KEY_DOWN:
            previousCell = params.previousCellPosition;
            // set selected cell on current cell + 1
            this.gridApi.forEachNode((node) => {
              if (previousCell.rowIndex + 1 === node.rowIndex) {
                node.setSelected(true);
              }
            });
            return suggestedNextCell;
          case KEY_UP:
            previousCell = params.previousCellPosition;
            // set selected cell on current cell - 1
            this.gridApi.forEachNode((node) => {
              if (previousCell.rowIndex - 1 === node.rowIndex) {
                node.setSelected(true);
              }
            });
            return suggestedNextCell;
          case KEY_LEFT:
          case KEY_RIGHT:
            return suggestedNextCell;
          default:
            throw "this will never happen, navigation is always one of the 4 keys above";
        }
      },
      ...mapActions('products', [
        'fetchLines',
        'getProduct',
        'searchProducts',
        'addProduct',
        'reportGenerate'
      ]),
      ...mapMutations('products', [
        'resetSelectedProduct',
        'setAction',
        'setGetProductEdit'
      ]),
      ...mapActions('listproducts', [
        'getBranchsWare'
      ]),
      filterTable() {
        this.filter = this.searchTable;
      }
    },
    mounted() {
    },
    beforeMount() {
      this.columnDefs = [
        {
          headerName: 'Descripcion',
          field: 'description',
          sortable: true,
          filter: true,
          width: 350,
          cellStyle: {'font-size': '11px'}
        },
        // {headerName: 'Id', field: 'id',sortable:true,filter:true},
        {
          headerName: 'Codigo',
          field: 'code',
          sortable: true,
          filter: true,
          width: 100,
          cellStyle: {'font-size': '11px'}
        },
        {
          headerName: 'Exist',
          field: 'quantity',
          sortable: true,
          filter: true,
          width: 100,
          cellRenderer: function (params) {
            return `<a href='http://www.u2.com.co/' target='_blanc'>${params.value}</a>`;
          },
          cellStyle: {'font-size': '11px'}
        },
        {
          headerName: 'Dispon', field: 'quantity', sortable: true, filter: true, cellRenderer: function (params) {
            return `<a href='http://www.u2.com.co/' target='_blanc'>${params.value}</a>`;
          }, width: 100, cellStyle: {'font-size': '11px'}
        },
        {
          headerName: 'Marca',
          field: 'brand.description',
          sortable: true,
          filter: true,
          width: 130,
          cellStyle: {'font-size': '11px'}
        },
        {
          headerName: 'Linea',
          field: 'line.line_description',
          sortable: true,
          filter: true,
          width: 130,
          hide: false,
          cellStyle: {'font-size': '11px'}
        },
        {
          headerName: 'Sub linea',
          field: 'subline.subline_description',
          sortable: true,
          filter: true,
          width: 180,
          cellStyle: {'font-size': '11px'}
        },
        {
          headerName: 'Precio', field: 'id', sortable: true, filter: true, width: 100, cellRenderer: function (params) {
            return `$220.000`;
          }, cellStyle: {'font-size': '11px'}
        },
        {
          headerName: 'Acciones', field: 'id', cellRenderer: function (params) {
            return `<a style="padding: 3px 25px; font-size:11px; font-weight:bold" href="#/productos/${params.value}/ver" class='btn btn-secondary btn-sm'>Ver</a>
                            <a style="padding: 3px 20px;font-size:11px; font-weight:bold" href="#/productos/${params.value}/editar" class='btn btn-primary btn-sm'>Editar</a>
                            <div style="padding: 3px 10px;font-size:11px; font-weight:bold" class='btn btn-danger btn-sm'>Eliminar</div>`;
          }, width: 300, hide: false
        },
        // {headerName:'Cantidad',sortable:true,filter:true,editable:true,width:100,cellRenderer:function(){
        //                                                                             return 0;
        //                                                                         }
        // }

      ];

      this.autoGroupColumnDef = {
        headerName: 'Model',
        field: 'model',
        cellRenderer: 'agGroupCellRenderer',
        cellRendererParams: {
          checkbox: true
        }
      };
      this.rowGroupPanelShow = "always";
      this.pivotPanelShow = "always";
      this.overlayLoadingTemplate = `<div class="lds-dual-ring"></div>`;
      this.overlayNoRowsTemplate = "<span style=\"padding: 10px; border: 2px solid #444; background: #007db3; color:white;\">No se encontraron productos</span>";
      this.getRowHeight = params => {
        return 35;
      };
    }
  }
</script>

<style>
  .modal-backdrop {
    background-color: lightgrey !important;
    opacity: 0.5 !important;
  }

  .btn-primary {
    background-color: #007db3 !important;
    border-color: #007db3 !important;
  }

  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 65%;
    }
  }

  #filter-text-box {
    text-transform: uppercase;
  }

  .load_img {
    width: 170px;
    height: 70px;
    position: relative;
    top: 50%;
    left: 50%;
    background-position: center;
    /* margin: auto; */
  }

  @media (max-width: 1024px) and (min-width: 426px) {
    .load_img {
      left: 40%;
    }
  }

  @media (max-width: 425px) {
    .load_img {
      left: 0;
      margin: auto 130px;
    }
  }

  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #007db3;
    border-color: #007db3 transparent #007db3 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #modal-xl___BV_modal_footer_ {
    display: none !important;
  }
</style>
<style lang="sass">
  @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
