<template>
  <div class="container text-center">
    <b-modal
      id="modal-xl"
      size="xl"
      scrollable
      centered
      ref="modal-xl"
      v-model="modalShow"
    >
      <template slot="modal-title">
        <i class="ti-search"></i>
        Busqueda de productos
      </template>
      <b-row class="mt-4 mb-4">
        <b-col>
          <b-form-input
            ref="filter"
            v-model="params.filter"
            id="filter-text-box"
            name="filter"
            type="text"
            autofocus
            placeholder="Buscar..."
            @keyup.enter="filterProducts"
            @change="filterProducts"
          ></b-form-input>
        </b-col>
        <b-col></b-col>
      </b-row>
      <div class="row">
        <grid-u2
          ref="grid"
          @selectedSingleRow="getSelectedRow"
          :columns.sync="columns"
          :items.sync="products.data"
          :options="options"
        >
          <template
            slot="inventory"
            slot-scope="row"
          >
            <div v-if="row.item.inventory.length > 0">
              {{ row.item.inventory[0].available }}
            </div>
            <div v-else>
              0
            </div>
          </template>
        </grid-u2>
      </div>
      <p>
        Mostrando {{products.from}} a {{products.to}} de {{products.total}} resultados
      </p>
      <b-row>
        <b-col
          md="6"
          class="my-1 form-inline"
        >
          <label>Registros por página: &nbsp;</label>
          <b-form-select
            :options="[15, 30, 50,100]"
            v-model="params.perPage"
          />
        </b-col>
        <b-col
          md="6"
          class="my-1"
        >
          <b-pagination
            :total-rows="products.total"
            :per-page="params.perPage"
            :current-page="params.page"
            v-model="params.page"
            class="my-0 float-right"
          />
        </b-col>
      </b-row>
    </b-modal>
    <!-- <b-button v-b-modal.modal-xl @click="chargeGrid">Lista de productos</b-button> -->
    <!-- <b-form-input type="text" v-model="valuecode" placeholder="Codigo"></b-form-input> -->
  </div>
</template>

<script>

import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
import GridU2 from '../../components/u2/grid'

export default {
  components: {
    GridU2
  },
  props: {
    params_prop: { type: Object, required: false },
    price: { type: String, required: false, default: 'price.price' },
    contact_id: { type: Number, required: false, default: null },
    model_id: { required: false, default: null }
  },
  data () {
    return {
      modalShow: false,
      columns: [],
      options: {
        selectable: true,
        multiselect: true
      }
    };
  },
  computed: {
    ...mapGetters('products', ['getParams']),
    ...mapState("listproducts", ["branchsWare"]),
    ...mapState("products", ["products", "codes", "params"])
  },
  created () {

    this.setContactIdParams(this.contact_id)

    this.$store.watch(() => {
      return this.getParams.perPage
    }, p => {
      this.filterProducts()
    })

    this.$store.watch(() => {
      return this.getParams.page
    }, p => {
      this.filterProducts()
    })

  },
  beforeMount () {
    this.columns = [
      {
        name: "Descripcion",
        field: "description"
      },
      {
        name: "Codigo",
        field: "code"
      },
      {
        name: "Existencia",
        field: "inventory",
        format: 'number'
      },
      {
        name: "Marca",
        field: "brand.description"
      },
      {
        name: "Linea",
        field: "line.line_description"
      },
      {
        name: "Sub linea",
        field: "subline.subline_description"
      },
      {
        name: "Precio",
        field: 'price.price',
        format: 'currency'
      }
    ]
  },
  methods: {
    _setParams (params) {
      this.setParams(params)
    },
    getSelectedRow (product) {
      this.$emit('selectedProduct', product)
    },
    quitFocus () {
      this.$nextTick(() => {
        let filter = this.$refs['filter']
        filter.blur()
        this.filterProducts()
      })
    },
    async filterProducts () {
      if (this.params.filter.length >= 3 || this.params.filter.length == 0) {
        await this.setParams(this.params_prop)
        await this.searchProducts(this.model_id);
        this.$refs.grid.buildData();

      }
    },
    ...mapActions("products", ["getProduct", "searchProducts"]),
    ...mapMutations("products", ["setParams", 'setContactIdParams'])
  },

};
</script>

<style>
.modal-backdrop {
  background-color: lightgrey !important;
  opacity: 0.5 !important;
}

.btn-primary {
  background-color: #007db3 !important;
  border-color: #007db3 !important;
}

@media (min-width: 500px) {
  .modal-xl {
    max-width: 95%;
  }
}

#filter-text-box {
  text-transform: uppercase;
}

.load_img {
  width: 170px;
  height: 70px;
  position: relative;
  top: 50%;
  left: 50%;
  background-position: center;
  /* margin: auto; */
}

@media (max-width: 1024px) and (min-width: 426px) {
  .load_img {
    left: 40%;
  }
}

@media (max-width: 425px) {
  .load_img {
    left: 0;
    margin: auto 130px;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #007db3;
  border-color: #007db3 transparent #007db3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#modal-xl___BV_modal_footer_ {
  display: none !important;
}
</style>
