<template>
  <div>
    <div class="col-md-12">
      <card :title="'<i class=\'fa fa-fw ti-pencil\'> </i> ' + actionSpanish + ' Producto'">
        <form @submit.prevent="validateTotalForm()" data-vv-scope="form">
          <!-- OPCIONES -->
          <div v-if="action !== 'view'" class="my-2">
            <b-button @click="generateFileExportByLine()" class="btn-success">
              <i class="fa fa-fw ti-file"/> Plantilla Excel
            </b-button>

            <b-button @click.prevent="validateLineSelect" variant="secondary">
              <b-spinner v-if="loadFileImport"
                         class="mx-1"
                         small
                         label="Loading..."
              />
              <i v-else class="fa fa-fw ti-upload"/> Subir Plantilla
            </b-button>
          </div>

          <div class="mt-2">
            <div class="col-md-12">
              <b-alert v-if="errorFileImport !== ''"
                       show
                       variant="danger"
                       dismissible
              >
                <div v-for="(item, index) in errorFileImport.message"
                     :key="index"
                     v-text="item"
                />
              </b-alert>
            </div>
          </div>

          <!-- INFORMACION GENERAL-->
          <b-card no-body class="mb-1">
            <b-btn block href="#" v-b-toggle.linea_data id="acordeon">
              INFORMACIÓN GENERAL
            </b-btn>
            <b-collapse id="linea_data" visible role="tabpanel">
              <b-card-body>
                <div class="row">
                  <!-- CÓDIGO -->
                  <div :class="'form-group col-sm-12 col-md-3' + getClassForFormGroup('form.code')">
                    <label for="code">
                      Código <span class="text-danger" v-text="'*'"/>
                    </label>
                    <input type="text"
                           id="code"
                           name="code"
                           class="form-control"
                           v-validate="'required|max:50'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.code"
                           @blur="definirDescripcion(selectedProduct.code)"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.code')"/>
                  </div>

                  <!-- DESCRIPCIÓN  -->
                  <div :class="'form-group col-sm-12 col-md-5' + getClassForFormGroup('form.description')">
                    <label for="description">
                      Descripción <span class="text-danger" v-text="'*'"/>
                    </label>
                    <input type="text"
                           id="description"
                           name="description"
                           class="form-control"
                           v-validate="'required|max:200'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.description"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.description')"/>
                  </div>

                  <!-- LÍNEA -->
                  <div :class="'form-group col-sm-12 col-md-2' + getClassForFormGroup('form.line_id')">
                    <label for="line_id">
                      Línea <span class="text-danger" v-text="'*'"/>
                    </label>
                    <el-select id="line_id"
                               name="line_id"
                               filterable
                               clearable
                               @blur="definirDescripcion(selectedProduct.line_id)"
                               @clear="limpiarLinea()"
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos que coincidan"
                               v-validate="'required'"
                               data-vv-as=" "
                               v-model="selectedProduct.line_id"
                               @change="getSublineByLine"
                               :disabled="disabledInputs"
                    >
                      <el-option v-for="item in linesList"
                                 :key="item.id"
                                 :label="item.line_description"
                                 :value="item.id"
                      />
                    </el-select>
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.line_id')"/>
                  </div>

                  <!-- SUBLINEA -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="subline_id" v-text="'Sublinea'"/>
                    <el-select id="subline_id"
                               name="subline_id"
                               filterable
                               clearable
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos que coincidan"
                               v-model="selectedProduct.subline_id"
                               @change="getCategoriesBySubline"
                               :disabled="disabledInputs || !selectedProduct.line_id"
                    >
                      <el-option v-for="item in sublinesList"
                                 :key="item.id"
                                 :label="item.subline_description"
                                 :value="item.id"
                      />
                    </el-select>
                  </div>
                </div>

                <div class="row">
                  <!-- CATEGORÍA -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="category_id" v-text="'Categoría'"/>
                    <el-select id="category_id"
                               name="category_id"
                               filterable
                               clearable
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos que coincidan"
                               v-model="selectedProduct.category_id"
                               @change="getSubCategoriesByCategory"
                               :disabled="disabledInputs"
                    >
                      <el-option v-for="item in categoriesList"
                                 :key="item.id"
                                 :label="item.description"
                                 :value="item.id"
                      />
                    </el-select>
                  </div>

                  <!-- SUBCATEGORÍA -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="subcategory_id" v-text="'SubCategoría'"/>
                    <el-select id="subcategory_id"
                               name="subcategory_id"
                               filterable
                               clearable
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos que coincidan"
                               v-model="selectedProduct.subcategory_id"
                               :disabled="disabledInputs"
                    >
                      <el-option v-for="item in subCategoriesList"
                                 :key="item.id"
                                 :label="item.description"
                                 :value="item.id"
                      />
                    </el-select>
                  </div>

                  <!-- MARCA -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="brand_id" v-text="'Marca'"/>
                    <el-select id="brand_id"
                               name="brand_id"
                               filterable
                               clearable
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos que coincidan"
                               v-model="selectedProduct.brand_id"
                               @change="getSubBrandByBrand"
                               :disabled="disabledInputs"
                    >
                      <el-option v-for="item in brandsList"
                                 :key="item.id"
                                 :label="item.description"
                                 :value="item.id"
                      />
                    </el-select>
                  </div>

                  <!-- SUBMARCA -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="subbrand_id" v-text="'SubMarca'"/>
                    <el-select id="subbrand_id"
                               name="subbrand_id"
                               filterable
                               clearable
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos que coincidan"
                               v-model="selectedProduct.subbrand_id"
                               :disabled="disabledInputs"
                    >
                      <el-option v-for="item in subBrandsList"
                                 :key="item.id"
                                 :label="item.description"
                                 :value="item.id"
                      />
                    </el-select>
                  </div>

                  <!-- MANEJA INVENTARIO -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="manage_inventory" class="w-100" v-text="'Maneja Inventario'"/>
                    <b-form-radio-group id="manage_inventory"
                                        name="manage_inventory"
                                        buttons
                                        v-model="selectedProduct.manage_inventory"
                                        :disabled="disabledInputs"
                                        :options="options"
                                        :button-variant="getVariant('manage_inventory')"
                    />
                  </div>

                  <!-- PROVEEDOR -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="provider" v-text="'Proveedor'"/>
                    <el-select id="provider"
                               name="provider"
                               filterable
                               clearable
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos que coincidan"
                               v-model="selectedProduct.provider"
                               :disabled="disabledInputs"
                               :remote-method="fetchProviders"
                               remote
                    >
                      <el-option v-for="item in providers"
                                 :key="item.id"
                                 :label="item.description"
                                 :value="item.id"
                      />
                    </el-select>
                  </div>
                </div>

                <div class="row">
                  <!-- PESO -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="weight" v-text="'Peso'"/>
                    <input type="number"
                           id="weight"
                           name="weight"
                           class="form-control"
                           :disabled="disabledInputs"
                           v-model="selectedProduct.weight"
                    />
                  </div>

                  <!-- EXCLUIR INFORME DE VENTAS -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="exclude_sales_report" class="w-100" v-text="'Excluir Informe ventas'"/>
                    <b-form-radio-group id="exclude_sales_report"
                                        name="exclude_sales_report"
                                        buttons
                                        v-model="selectedProduct.exclude_sales_report"
                                        :disabled="disabledInputs"
                                        :options="options"
                                        :button-variant="getVariant('exclude_sales_report')"
                    />
                  </div>

                  <!-- MODIFICA DESCRIPCIÓN -->
                  <div class="form-group col-sm-12 col-md-2">
                    <label for="modify_description_sale" class="w-100" v-text="'Modifica Descripción'"/>
                    <b-form-radio-group id="modify_description_sale"
                                        name="modify_description_sale"
                                        buttons
                                        v-model="selectedProduct.modify_description_sale"
                                        :disabled="disabledInputs"
                                        :options="options"
                                        :button-variant="getVariant('modify_description_sale')"
                    />
                  </div>

                  <!-- ACTIVO -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="state" class="w-100" v-text="'Activo'"/>
                    <b-form-radio-group id="state"
                                        name="state"
                                        buttons
                                        v-model="selectedProduct.state"
                                        :disabled="disabledInputs"
                                        :options="options"
                                        :button-variant="getVariant('state')"
                    />

                    <!-- VER DISPONIBILIDAD -->
                    <b-button variant="primary"
                              v-if="action === 'update'"
                              class="ml-4"
                              @click="openModalAvailable(selectedProduct.id)"
                              v-text="'Ver Disponibilidad'"
                    />
                  </div>
                </div>

                <div class="row">
                  <!-- CÓDIGO ALTERNO -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="alternate_code" v-text="'Código Alterno'"/>
                    <input type="text"
                           id="alternate_code"
                           name="alternate_code"
                           class="form-control"
                           v-validate="'max:50'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.alternate_code"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.alternate_code')"/>
                  </div>

                  <!-- CÓDIGO ANTERIOR -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="old_product_code" v-text="'Código Anterior'"/>
                    <input type="text"
                           id="old_product_code"
                           name="old_product_code"
                           class="form-control"
                           v-validate="'max:50'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.old_product_code"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.old_product_code')"/>
                  </div>

                  <!-- CERTIFICADO DE CONFORMIDAD -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="certificate_of_conformity" v-text="'Certificado de conformidad'"/>
                    <input type="text"
                           id="certificate_of_conformity"
                           name="certificate_of_conformity"
                           class="form-control"
                           v-validate="'max:50'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.certificate_of_conformity"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.certificate_of_conformity')"/>
                  </div>

                  <!-- CLASIFICACIÓN DE ROTACIÓN -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="rotation_classification" v-text="'Clasificación de rotación'"/>
                    <input type="text"
                           id="rotation_classification"
                           name="rotation_classification"
                           class="form-control"
                           v-validate="'max:50'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.rotation_classification"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.rotation_classification')"/>
                  </div>
                </div>

                <div class="row">
                  <!-- CÓDIGO DE PROVEEDOR -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="supplyer_code" v-text="'Código de proveedor'"/>
                    <input type="text"
                           id="supplyer_code"
                           name="supplyer_code"
                           class="form-control"
                           v-validate="'max:50'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.supplyer_code"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.supplyer_code')"/>
                  </div>

                  <!-- CÓDIGO ANTERIOR SISTEMA -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="previous_code_system" v-text="'Código anterior sistema'"/>
                    <input type="text"
                           id="previous_code_system"
                           name="previous_code_system"
                           class="form-control"
                           v-validate="'max:50'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.previous_code_system"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.previous_code_system')"/>
                  </div>

                  <!-- DESCRIPCIÓN CORTA -->
                  <div class="form-group col-sm-12 col-md-3">
                    <label for="short_description" v-text="'Descripción corta'"/>
                    <input type="text"
                           id="short_description"
                           name="short_description"
                           class="form-control"
                           v-validate="'max:200'"
                           data-vv-as=" "
                           :disabled="disabledInputs"
                           v-model="selectedProduct.short_description"
                           @change="consultProduct()"
                    />
                    <i class="text-danger icon-error"/>
                    <span class="text-danger span-error" v-text="errors.first('form.short_description')"/>
                  </div>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>

          <!-- FICHA DEL PRODUCTO -->
          <b-card no-body class="mb-1">
            <b-btn block href="#" v-b-toggle.datos-manejo id="acordeon">
              Atributos Producto
            </b-btn>

            <b-collapse visible id="datos-manejo" ole="tabpanel">
              <b-card-body>
                <div class="row">
                  <div class="col-12">
                    <TableDataSheet ref="data_sheets"
                                    :product_id="product_id"
                                    :action="this.action"/>
                  </div>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1">
            <b-btn block href="#" v-b-toggle.datos-manejo id="acordeon">
              Imagenes Producto
            </b-btn>

            <b-collapse visible id="datos-manejo" ole="tabpanel">
              <b-card-body>

                <div class="row">
                  <div class="col-12">
                    <h4><i class="fa fa-image"/> Imágenes cargadas</h4>
                    <div v-if="!products_attachments.length"
                         class="text-center my-4"
                    >
                      No existen imagenes cargadas
                    </div>
                    <CoolLightBox v-else
                                  :items="products_attachments"
                                  :index="index"
                                  @close="index = null"
                    />
                    <div class="row">
                      <div class="grid-container">
                        <div class="grid-item main">
                          <div class="items">
                            <div class="item"
                                 v-for="(product_attachment, index_product_attachment) in products_attachments"
                            >
                              <img :src="product_attachment.src"
                                   class="image"
                                   @dblclick="index = index_product_attachment"
                                   :key="product_attachment.id"
                                   :alt="product_attachment.description"
                              />
                              <div class="text-center">
                                <b-button v-if="product_attachment.main"
                                          type="button"
                                          variant="primary"
                                          size="sm"
                                          disabled
                                >
                                  <i class="fa fa-check"/>
                                </b-button>
                                <b-button v-else
                                          type="button"
                                          variant="secondary"
                                          size="sm"
                                          @click="setMainToImage(product_attachment.id)"
                                >
                                  <i class="fa fa-close"/>
                                </b-button>
                                <b-button type="button"
                                          variant="danger"
                                          size="sm"
                                          :disabled="!!product_attachment.main"
                                          @click="questionDeleteImage(product_attachment.id)"
                                >
                                  <i class="fa fa-trash"/>
                                </b-button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="action === 'update'"
                    class="col-12 mt-5"
                  >
                    <h4><i class="fa fa-cloud-upload"/> Cargar imágenes</h4>
                    <vue-dropzone ref="drop_zone"
                                  id="products_attachments"
                                  :options="drop_options"
                                  v-on:vdropzone-sending="sendingEvent"
                                  v-on:vdropzone-queue-complete="_getImages"
                                  :destroy-dropzone="false"
                    />
                  </div>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>
        </form>

        <!--BOTONES DEL FORMULARIO-->
        <div class="form-actions">
          <b-button v-if="!disabledInputs"
                    type="button"
                    class="boton-guardar"
                    @click="validateTotalForm()"
          >
            <i class="ti-save-alt"/> Guardar
          </b-button>
          <b-button to="/productos"
                    type="button"
                    variant="secondary"
                    class="float-left"
          >
            <i class="ti-arrow-left"/> Volver
          </b-button>
          <b-button v-if="!disabledInputs"
                    type="reset"
                    value="Limpiar"
                    class="otro-boton float-left"
                    @click="clearSelectedProduct()"
          >
            <i class="ti-eraser"/> Limpiar
          </b-button>
        </div>
      </card>
    </div>

    <!-- MODALS -->
    <ModalDetailAvailableProductInBranchoffice v-if="modalAvailable.state"
                                               @closeModal="closeModalAvailable()"
                                               :isVisible="modalAvailable.state"
                                               :product_id="modalAvailable.product_id"
    />

    <b-modal id="modal-upload-file"
             centered
             title="Subir archivo"
             @ok="uploadFileProduct"
    >
      <div class="row">
        <div class="col-md-12 col-sm-12 form-group">
          <label for="data_sheet" v-text="'Archivo'"/>
          <b-form-file accept=".csv, .txt"
                       v-model="fileImportProduct"
                       placeholder="Seleccione el archivo..."
                       drop-placeholder="Drop file here..."
          />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import "vue2-dropzone/dist/vue2Dropzone.min.css";

  import {mapState, mapActions, mapMutations, mapGetters} from "vuex";
  import {MessageBox, Notification} from "element-ui";
  import vue2Dropzone from "vue2-dropzone";

  // COMPONENTES
  import vueDropzone from "vue2-dropzone";
  import CoolLightBox from 'vue-cool-lightbox'
  import GridU2 from "../../components/u2/grid";
  import Card from "../../components/pages/card/card";
  import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'
  import Loader from "./../../components/layout/loader.vue";
  import TableDataSheet from "../../components/pages/products/TableDataSheet";
  import ModalDetailAvailableProductInBranchoffice from "../../b2b/layout/ModalDetailAvailableProductInBranchoffice";
  import {getApiDomain} from "../../util/domains";

  export default {
    components: {
      Card,
      GridU2,
      Loader,
      vueDropzone,
      CoolLightBox,
      TableDataSheet,
      ModalDetailAvailableProductInBranchoffice
    },
    data() {
      return {
        product_id: "",
        descripcion: [],
        imagen_producto: null,
        crearProd: false,
        verProd: false,
        actLinea: false,
        linea: "",
        domain: getApiDomain(),
        path: "",
        index: null,
        drop_options: {
          url: getApiDomain() + '/api/imagenes-producto/',
          acceptedFiles: ".jpeg,.jpg,.png,.gif",
          dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> Arrastra las imágenes aquí para subirlas",
          headers: {
            Authorization: '',
            Accept: 'application/json',
            contentType: false
          }
        },
        options: [
          {text: 'SI', value: true},
          {text: 'NO', value: false}
        ],
        allowedExtensions: [
          "pdf",
          "doc",
          "docx",
          "xls",
          "xlsx",
          "ppt",
          "pptx",
          "png",
          "jpeg",
          "jpg",
          "gif"
        ],
        type_files: [
          {extension: "pdf", icon: "pdf", type: "doc"},
          {extension: "doc", icon: "word", type: "doc"},
          {extension: "docx", icon: "word", type: "doc"},
          {extension: "xls", icon: "excel", type: "doc"},
          {extension: "xlsx", icon: "excel", type: "doc"},
          {extension: "ppt", icon: "power-point", type: "doc"},
          {extension: "pptx", icon: "power-point", type: "doc"},
          {extension: "png", icon: "image", type: "img"},
          {extension: "jpg", icon: "image", type: "img"},
          {extension: "jpeg", icon: "image", type: "img"},
          {extension: "gif", icon: "image", type: "img"}
        ],
        modalAvailable: {
          state: false,
          product_id: null,
        },
        dropzoneOptions: {
          url: getApiDomain(),
          autoProcessQueue: false,
          acceptedFiles:
            "application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.ms-powerpoint, image/jpeg, image/png",
          thumbnailWidth: 150,
          addRemoveLinks: true,
          maxFilesize: 10,
          dictInvalidFileType: "Archivo no valido",
          dictRemoveFile: "Eliminar",
          dictMaxFilesExceeded: "No puede cargar mas de un documento",
          maxFiles: 1,
          accept: (file, done) => {
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = file => {
              this.documentChangePath(file.target.result);
            };
            done();
          }
        },

        //Archivo
        fileImportProduct: ""
      };
    },
    async created() {

      this.drop_options.headers.Authorization = 'Bearer ' + this.user_logued.token

      if (this.$route.params.id) {
        this.initUpdate("update", this.$route.params.id);
        this.setGetProductEdit(true);
        this.setAction("update");
        this.product_id = this.$route.params.id;
      } else if (this.$route.params.idv) {
        this.initUpdate("view", this.$route.params.idv);
        this.setGetProductEdit(true);
        this.setAction("view");
        this.product_id = this.$route.params.idv;
      } else {
        this.setGetProductEdit(true);
        this.resetSelectedProduct();
        this.setAction("create");
        this.loader = false;
      }

      this.fetchCategories();
      this.clearDataSheets();


    },
    async mounted() {
      this.initScrollImages()
      await this.getLinesList();
      await this.getBrandList();

      if (this.$route.params.id) {
        await this.getSublineByLineId(this.selectedProduct.line_id);
        await this.getCategoriesBySubline();
        await this.getSubCategoriesByCategory();
        await this.getSubBrandByBrand();
      }
    },
    methods: {
      ...mapActions("catalog", [
        "getBranchOfficesWarehousesAvailableByProduct"
      ]),
      ...mapActions("products", [
        "getProduct",
        "addProduct",
        "createProduct",
        "uploadFileProducts",
        "getProductForCode",
        "updateProduct",
        "fetchLines",
        "fetchSublines",
        "cargaImagenProducto",
        "documentChangePath",
        "fetchBrands",
        "fetchSubbrands",
        "fetchCategories",
        "fetchSubcategories",
        "fetchLicenses",
        "fetchSize",
        "fetchProductType",
        "fetchColor",
        "fetchRotationType",
        "fetchApplicationUnit",
        "generateFileExport",
        "fetchProviders",
        "getImages",
        "deleteImage",
        "setMainToImage"
      ]),
      ...mapMutations("products", [
        "resetSelectedProduct",
        "setAction",
        "setGetProductEdit",
        "setFilterLine",
        "clearDataSheets"
      ]),
      ...mapActions("lines", ["getLinesList"]),
      ...mapActions("sublines", ["getSublineByLineId"]),
      ...mapActions("categories", ["getCategoriesBySublineId"]),
      ...mapActions("subcategories", ["getSubCategoriesByCategorieId"]),
      ...mapActions("brands", ["getBrandList"]),
      ...mapActions("subbrands", ["getSubBrandByBrandId"]),
      initScrollImages() {
        const slider = document.querySelector('.items');
        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {
          isDown = true;
          slider.classList.add('active');
          startX = e.pageX - slider.offsetLeft;
          scrollLeft = slider.scrollLeft;
        });
        slider.addEventListener('mouseleave', () => {
          isDown = false;
          slider.classList.remove('active');
        });
        slider.addEventListener('mouseup', () => {
          isDown = false;
          slider.classList.remove('active');
        });
        slider.addEventListener('mousemove', (e) => {
          if (!isDown) return;
          e.preventDefault();
          const x = e.pageX - slider.offsetLeft;
          const walk = (x - startX) * 3; //scroll-fast
          slider.scrollLeft = scrollLeft - walk;
        });
      },
      sendingEvent(archivo, xhr, formData) {
        formData.append("descripción", 'sdaflkhj');
        formData.append("clientId", 'sadfkljh');
      },
      _getImages(response) {
        setTimeout(() => {
          this.$refs.drop_zone.removeAllFiles()
        }, 5000)

        this.getImages()
      },
      questionDeleteImage(product_attachment_id) {
        this.$confirm("¿Está seguro de que quiere eliminar la imagen?", "Eliminar",
          {
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
            type: "warning",
            customClass: "notification-warning"
          }
        ).then(result => {
          if (result) {
            this.deleteImage(product_attachment_id)
          }
        })
      },
      getClassForFormGroup(field) {
        return this.errors.has(field) ? ' form-group-error' : ''
      },
      getVariant(attribute) {
        return !this.selectedProduct[attribute] ? 'outline-secondary' : 'outline-primary'
      },
      getSublineByLine() {
        this.selectedProduct.subline_id = null
        this.selectedProduct.category_id = null
        this.selectedProduct.subcategory_id = null

        if (this.selectedProduct.line_id) {
          this.getSublineByLineId(this.selectedProduct.line_id)
        }
      },
      getCategoriesBySubline() {
        this.selectedProduct.category_id = "";
        this.selectedProduct.subcategory_id = "";

        this.getCategoriesBySublineId(this.selectedProduct.subline_id);
      },
      getSubCategoriesByCategory() {
        this.selectedProduct.subcategory_id = "";

        this.getSubCategoriesByCategorieId(this.selectedProduct.category_id);
      },
      getSubBrandByBrand() {
        this.getSubBrandByBrandId(this.selectedProduct.brand_id);
      },
      /** Consulta si el codigo ingresado existe */
      async consultProduct() {
        if (this.action == "create") {
          await this.getProductForCode(this.selectedProduct.code);
          if (this.productEdit != null) {
            this.$confirm(
              "Ya existe un producto identificado con el código ingresado. ¿Quiere editarlo?",
              "Editar",
              {
                confirmButtonText: "Si",
                cancelButtonText: "No",
                type: "warning",
                customClass: "notification-warning"
              }
            )
              .then(result => {
                if (result) {
                  this.$router.push(`/productos/${this.productEdit}/editar`);
                  setTimeout(() => {
                    this.initUpdate("update", this.productEdit);
                  }, 500);
                }
              })
              .catch(() => {
                this.$router.push();
              });
          }
        }
      },
      openModalAvailable(product_id) {
        this.modalAvailable.product_id = product_id;
        this.modalAvailable.state = true;
      },
      closeModalAvailable() {
        this.modalAvailable.product_id = null;
        this.modalAvailable.state = false;
      },
      // Definir descripción
      definirDescripcion(text, linea) {
        this.descripcion.push({
          label: text,
          linea: linea
        });
      },
      // Cargar una imagen
      loadLogo(e) {
        let fileReader = new FileReader();
        fileReader.readAsDataURL(e.target.files[0]);
        fileReader.onload = e => {
          this.imagen_producto = e.target.result;
          this.cargaImagenProducto(this.imagen_producto);
        };
      },
      // Cargar un pdf
      changeDocumentComp(e) {
        let fileReader = new FileReader();
        fileReader.readAsDataURL(e);
        fileReader.onload = e => {
          this.documentChangePath(e);
        };
      },
      clearSelectedProduct() {
        this.resetSelectedProduct();
        this.$validator.reset("form");
      },
      limpiarLinea() {
        this.linea = "";
        this.crearProd = false;
        this.verProd = false;
      },
      campos(line) {
        this.linea = this.lines.find(item => item.id == line);
        this.crearProd = true;
      },
      /**Valida el formulario */
      async validateTotalForm() {

        let data_sheets = this.$refs['data_sheets']

        let validation_data_sheets = data_sheets.validateBeforeSave()

        await this.$validator.validateAll("form").then(async result => {
          let validate = true;

          if (this.selectedProduct.state === 0) {
            await this.getBranchOfficesWarehousesAvailableByProduct(
              this.selectedProduct.id
            );
            if (this.branchOfficesWarehousesAvailableProduct) {
              let countAvaiable = 0;
              await Promise.all(
                this.branchOfficesWarehousesAvailableProduct.branchOfficesAvailable.map(
                  branchoffice => {
                    countAvaiable += branchoffice.available;
                  }
                )
              );

              if (countAvaiable > 0) {
                await this.$confirm(
                  "¿Este producto cuenta con disponibilidad en algunas sedes?",
                  "Desactivar Producto",
                  {
                    confirmButtonText: "Continuar",
                    cancelButtonText: "Cancelar",
                    type: "warning",
                    customClass: "notification-warning"
                  }
                )
                  .catch(() => {
                    validate = false;
                  });
              }
            }
          }

          if (validate) {
            if (result && validation_data_sheets) {
              if (this.action === "create") {
                this.create();
              } else if (this.action === "update") {
                this.update();
              }
            } else {
              this.$alert(
                "Algunos campos no se registraron correctamente",
                "Error",
                {
                  confirmButtonText: "Aceptar",
                  type: "error",
                  customClass: "notification-error"
                }
              ).then(verifica => {
              });
            }
          }
        });
      },
      async create() {
        await this.createProduct().then(product_id => {
          this.$router.push(`/productos/${product_id}/editar`);
          setTimeout(() => {
            this.initUpdate("update", this.selectedProduct.id);
          }, 1000);
        });
      },
      async update() {
        await this.updateProduct();
        if (!this.error) {
          setTimeout(() => {
            this.initUpdate("update", this.selectedProduct.id);
          }, 1000);
        }
      },
      async initUpdate(action, id) {
        this.drop_options.url = getApiDomain() + '/api/imagenes-producto/' + id
        await this.fetchLines();
        await this.fetchSublines();
        await this.getProduct(id);
        this.setAction(action);
        this.campos(this.selectedProduct.line_id);

      },
      generateFileExportByLine() {
        if (this.selectedProduct.line_id) {
          this.generateFileExport(this.selectedProduct.line_id);
        } else {
          Notification.warning({
            title: "¡Alerta!",
            message: "Debe seleccionar una linea",
            type: "error",
            duration: 1500,
            customClass: "notification-box"
          });
        }
      },
      //Metodo para subir el archivo
      uploadFileProduct() {
        if (this.selectedProduct.line_id) {
          let formData = new FormData();
          formData.append("archivo-importar", this.fileImportProduct);
          formData.append("user_id", this.user_logued.id);

          this.uploadFileProducts({
            line_id: this.selectedProduct.line_id,
            file: formData
          });
        } else {
          Notification.warning({
            title: "¡Alerta!",
            message: "Debe seleccionar una linea",
            type: "error",
            duration: 1500,
            customClass: "notification-box"
          });
        }
      },
      validateLineSelect() {
        if (this.selectedProduct.line_id == "") {
          Notification.warning({
            title: "¡Alerta!",
            message: "Debe seleccionar una linea",
            type: "error",
            duration: 1500,
            customClass: "notification-box"
          });
          return false;
        }

        this.$bvModal.show("modal-upload-file");
      }
    },
    computed: {
      ...mapState("catalog", ["branchOfficesWarehousesAvailableProduct"]),
      ...mapState("products", [
        "params",
        "products",
        "products_attachments",
        "lines",
        "selectedProduct",
        "action",
        "brands",
        "productEdit",
        "sublines",
        "subbrands",
        "categories",
        "subcategories",
        "productType",
        "size",
        "color",
        "data_sheets",
        "rotationType",
        "applicationUnit",
        "errorFileImport",
        "loadFileImport",
        "providers"
      ]),
      ...mapState("login", ["user_logued"]),
      ...mapGetters("catalog", ["getParams"]),
      ...mapGetters("lines", ["linesList"]),
      ...mapGetters("sublines", ["sublinesList"]),
      ...mapGetters("categories", ["categoriesList"]),
      ...mapGetters("subcategories", ["subCategoriesList"]),
      ...mapGetters("brands", ["brandsList"]),
      ...mapGetters("subbrands", ["subBrandsList"]),
      disabledInputs() {
        return this.action == "view";
      },
      actionSpanish() {
        switch (this.action) {
          case "create":
            return "Crear";
            break;
          case "update":
            return "Editar";
            break;
          case "view":
            return "Ver";
            break;
        }
      },
    },
    watch: {
      "selectedProduct.brand_id": function (newVal) {
        if (newVal !== "" && newVal != null) {
          this.getSubBrandByBrand();
        }
      },
      "selectedProduct.subline_id": function (newVal) {
        if (newVal !== "" && newVal != null) {
          this.getCategoriesBySublineId(this.selectedProduct.subline_id);
        }
      }
    }
  };
</script>

<!-- boton crear  -->
<style lang="sass">
  @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
<style>

  .el-select {
    width: 100%;
  }

  .el-input__inner {
    height: 31.25px;
  }

  .el-select .el-input .el-select__caret {
    color: #a0a0a0;
  }

  .el-input__icon {
    line-height: 0px;
  }

  .btn-success {
    background: rgb(4, 146, 4);
    border: 1px solid rgb(4, 146, 4);
  }

  .btn-success:hover {
    background: rgb(5, 163, 5);
    border: 1px solid rgb(4, 146, 4);
  }

  .modal-backdrop {
    background: #333;
    opacity: 0.2;
  }

  .image {
    margin: 10px;
    height: 200px;
    cursor: pointer;
    box-shadow: 0 0 5px #bcbcbc;
  }

</style>

<style lang="scss">
  //VARIABLES BECAUSE CSS PREPROCESSORS ARE COOL
  $gray: #555;
  $yellow: #f2e968;
  $white: #efefef;

  .grid-container {
    background: $white;
    font-family: 'Rubik', sans-serif;
    width: 100%;
  }

  //ENABLE CSS GRID FOR LIFT OFF  🚀
  @supports (display: grid) {

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr auto;

      //Let the craziness begin!!!
      grid-template-areas:
      "header header header"
      "title title footer"
      "main main main";
      @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr auto 1fr;
        grid-template-areas:
        "header"
        "title"
        "main"
        "footer";
      }
    }

    .grid-item {
      color: #fff;
      padding: 3.5em 1em;
      font-size: 1em;
      font-weight: 700;
    }

    .main {
      color: lighten($gray, 25%);
      background-color: lighten(skyblue, 60%);
      grid-area: main;
      padding: 0;
      overflow-y: hidden;
    }

    .items {
      position: relative;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      transition: all 0.2s;
      transform: scale(0.98);
      will-change: transform;
      user-select: none;
      cursor: pointer;
    }

    .items.active {
      background: rgba(255, 255, 255, 0.3);
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(0.985);
    }

    .item {
      display: inline-block;
      width: auto;
      margin: 10px 15px;
      @media screen and (max-width: 500px) {
        min-height: 200px;
        min-width: 200px;
      }
    }
  }
</style>
