<template>
  <card title="<i class='ti-layout-list-thumb'></i> Fecha Firme">
    <div class="row">
      <div class="col-12 px-5">
        <date-firm-form />
      </div>

      <hr />

      <!-- TABLA -->
      <div class="col-12 pt-3">
        <Table />
      </div>
    </div>
  </card>
</template>

<script>
import Card from "../../components/pages/card/card";
import DateFirmForm from "./components/forms/DateFirmForm.vue";
import Table from "./components/tables/DateFirmTable.vue";

export default {
  components: { Card, Table, DateFirmForm }
};
</script>
