<template>
  <card :title="iconCard + messageCard">
    <div class="row text-center my-2">
      <h2 class=" col-12 text-break"><strong>Informe de Terceros</strong></h2>
    </div>
    <div class="  d-flex justify-content-center mb-3">
      <div class="row">
        <div class=" col-12 col-md-4">
          <label for="cliente">
            Cliente
          </label>
          <br />
          <b-form-radio-group
            id="cliente"
            name="cliente"
            buttons
            :disabled="
              params.typeUser.provider == true ||
                params.typeUser.employee == true
            "
            :options="[
              { text: 'SI', value: true },
              { text: 'NO', value: false }
            ]"
            v-model="params.typeUser.client"
            :button-variant="
              params.typeUser.client == false
                ? 'outline-secondary'
                : 'outline-primary'
            "
          />
        </div>

        <div class=" col-12 col-md-4">
          <label for="cliente">
            Proveedor
          </label>
          <br />
          <b-form-radio-group
            id="cliente"
            name="cliente"
            :disabled="
              params.typeUser.client == true || params.typeUser.employee == true
            "
            buttons
            :options="[
              { text: 'SI', value: true },
              { text: 'NO', value: false }
            ]"
            v-model="params.typeUser.provider"
            :button-variant="
              params.typeUser.provider == false
                ? 'outline-secondary'
                : 'outline-primary'
            "
          />
        </div>

        <div class=" col-12 col-md-4">
          <label for="cliente">
            Empleado
          </label>
          <br />
          <b-form-radio-group
            id="cliente"
            name="cliente"
            :disabled="
              params.typeUser.client == true || params.typeUser.provider == true
            "
            buttons
            :options="[
              { text: 'SI', value: true },
              { text: 'NO', value: false }
            ]"
            v-model="params.typeUser.employee"
            :button-variant="
              params.typeUser.employee == false
                ? 'outline-secondary'
                : 'outline-primary'
            "
          />
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-12 col-sm-6">
        <div class="d-flex justify-content-end  mb-4" style="margin-right:25%">
          <h5 class="underline"><strong>Datos Tercero Principal</strong></h5>
        </div>

        <el-checkbox-group
          v-for="item in items"
          :key="item"
          
        >
          <div class="row ml-5">
            <div class=" col-10 d-flex justify-content-start padding-left">
              <label :for="item.value">{{ item.label }}</label>
            </div>

            <div class=" col-2 d-flex justify-content-center">
              <input
                :id="item.value"
                type="checkbox"
                class="mt-2 check-contacts"
                v-model="item.checked"
                :disabled="item.disabled"
              />
            </div>
          </div>
        </el-checkbox-group>
      </div>


      <div class=" col-12 col-sm-6 ">
        <div class="d-flex justify-content-start ml-5 mb-4">
          <h5 class="underline"><strong>Datos Tercero Sucursal</strong></h5>
          <hr />
        </div>

        <el-checkbox-group
          v-for="item in items2"
          :key="item"
        >
          <div class="row ml-5">
            <div class=" col-4 d-flex justify-content-start ">
              <label :for="item.value">{{ item.label }}</label>
            </div>

            <div class=" col-8 d-flex justify-content-start">
              <input
                :id="item.value"
                type="checkbox"
                class="mt-2"
                v-model="item.checked"
              />
            </div>
          </div>
        </el-checkbox-group>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
      <button class="btn btn-success text-dark" @click="generateReport">
        Bajar Informe
      </button>
    </div>

    <preloader v-show="preloader" mensaje="Cargando...">
      </preloader>
  </card>
</template>

<script>
import card from "../../components/pages/card/card";
import preloader from "./../../components/layout/preloader";
import { mapState, mapMutations, mapActions } from "vuex";
export default {
  components: {
    card,preloader
  },
  data() {
    return {
      iconCard: '<i class="fa fa-address-book-o"></i>',
      messageCard: " Informe Terceros",
      checkList: [],
      preloader:false,
      items: [
        { label: "Tipo de Identificación", value: "identification_type",checked:false },
        { label: "Identificación", value: "identification",checked:false },
        { label: "DV", value: "check_digit",checked:false },
        { label: "Nombre / Razón Social", value: "name",checked:true, disabled:true },
        { label: "Nombre Comercial", value: "tradename",checked:false },
        { label: "Correo", value: "email",checked:false },
        { label: "Cupo Disponible", value: "available_quota",checked:false },
        { label: "Cupo Crédito", value: "credit_quota",checked:false },
        { label: "Días de Plazo", value: "pay_days",checked:false },
        { label: "Clase Persona", value: "class_person",checked:false },
        { label: "Tipo Contribuyente", value: "taxpayer_type",checked:false },
        { label: "Régimen Tributario", value: "tax_regime",checked:false },
        { label: "Número Expediente Físico", value: "erp_id",checked:false },
        { label: "Autoriza Reporte Central de Riesgo", value: "aut_rep_cent_riesgo",checked:false },
        { label: "Fecha de Registro", value: "created_at",checked:false },
        { label: "Responsabilidad Fiscal", value: "fiscal_responsibility",checked:false },

      ],
      items2: [
        { label: "Identificación", value: "code" },
        { label: "Dirección", value: "address" },
        { label: "Teléfono", value: "telephone" },
        { label: "Email", value: "email_warehouse" },
        { label: "Sede", value: "branchoffice" },
        { label: "Vendedor", value: "seller" },
        { label: "Ciudad", value: "city" },
        { label: "Estado", value: "state" },
        { label: "Fecha de Creacion", value: "creation_date" },
        { label: "Otros telefonos", value: "other_telephones" },
        { label: "Forma de Pago", value: "payment_type" },
        { label: "Info Retenciones", value: "Info Retenciones" },
        { label: "Zona", value: "zone" },
        { label: "Fecha Ultima Visita", value: "visit_checkin_date" },
        { label: "Tipo Negociacion", value: "types_negotiation_portfolio",checked:false },
      ]
    };
  },

  methods: {
    ...mapActions("inventoryUsers", ["getReport"]),
    ...mapMutations("inventoryUsers", ["setDefaultParams"]),
    async generateReport() {

       this.params.mainThird= this.items.filter(function(item){
              return item.checked==true;
        });

         this.params.thirdBranch= this.items2.filter(function(item){
              return item.checked==true;
        });

      if(this.typeClient){
          if (this.params.mainThird.length == 0) {
        this.$alert(
          "Debe Seleccionar Algun Dato Del Cliente Principal",
          "Atencion",
          {
            confirmButtonText: "Aceptar",
            type: "warning",
            customClass: "notification-warning"
          }
        ).then(verifica => {});
       
        //this.setDefaultParams();
      }else{
        this.preloader=true;
        await this.getReport();
         this.preloader=false;

      }

      } else {
     this.$alert(
          "Debe Seleccionar Algun tipo de usuario",
          "Atencion",
          {
            confirmButtonText: "Aceptar",
            type: "warning",
            customClass: "notification-warning"
          }
        ).then(verifica => {});
    }
    }
  },
  computed: {
    ...mapState("inventoryUsers", ["params"]),
    typeClient() {
      let typeClient = false;
      if(this.params.typeUser.client==true || this.params.typeUser.employee==true || this.params.typeUser.provider==true ){
        typeClient=true;
      }
      
      return typeClient;
    }
  }
}
</script>

<style scoped>
.padding-left {
  padding-left: 40%;
}

.underline {
  text-decoration-line: underline;
}
</style>


