<template>
  <card title="<i class='fa fa-refresh'></i> Actualización masiva de saldos">
    <preloader v-show="preloader" :mensaje="message_preloader"></preloader>
    <div class="row">
      <div class="col-md-3 offset-md-4">
        <label>Año mes</label>
        <el-date-picker v-model="params.year_month"
                        :clearable="false"
                        size="small"
                        type="month"
                        format="yyyy-MM"
                        value-format="yyyy-MM-dd"
                        class="w-100"
        />
      </div>

      <div class="col-md-1">
        <label class="w-100">&nbsp;</label>
        <button class="btn btn-primary pull-right"
                :disabled="!params.year_month"
                @click="updateBalances()">
          <i class="fa fa-refresh"></i> Actualizar
        </button>
      </div>
    </div>
    <div class="row">
      <div v-if="subscriber.document_id && subscriber.document"
           class="col-md-3 offset-md-4 text-muted"
      >
        <span class="font-weight-bold">Documento mas antiguo modificado: </span>
        {{subscriber.document.prefix}}-{{subscriber.document.consecutive}}
      </div>
    </div>
    <div class="row">
      <div v-if="subscriber.document_id && subscriber.document"
           class="col-md-3 offset-md-4 text-muted"
      >
        <span class="font-weight-bold">Ultima actualización de saldos: </span> {{subscriber.last_date_update_balances}}
      </div>
    </div>
  </card>

</template>

<script>
  import {mapActions, mapMutations, mapState} from "vuex";
  import Card from '../../components/pages/card/card'
  import Preloader from '../../components/layout/preloader'
  import Pusher from 'pusher-js'
  import {getDomain} from "../../util/domains";

  export default {
    name: "index",
    components: {
      Card,
      Preloader
    },
    async mounted() {

      Pusher.logToConsole = true
      this.pusher = new Pusher('72b0feb74d58c50c584b', {
        cluster: 'us2'
      });

      this.addChannelForUpdateBalances()
      this.validatePermissionNotifications()
      await this.getSubscriber()
      this.setPreloader(false)
      this.setMessagePreloader('Actualizando saldos')
    },
    computed: {
      ...mapState('updateBalances', ['params', 'preloader', 'subscriber', 'message_preloader']),
      ...mapState('login', ['user_logued'])
    },
    methods: {
      ...mapActions('updateBalances', ['updateBalances', 'addNotification', 'getSubscriber']),
      ...mapMutations('updateBalances', ['setPreloader', 'setMessagePreloader']),
      validatePermissionNotifications() {
        document.addEventListener('DOMContentLoaded', () => {
          if (!Notification) {
            return
          }

          if (Notification.permission !== 'granted') {
            Notification.requestPermission()
          }
        })
      },
      addChannelForUpdateBalances() {
        let channel = 'update_balances_user_id_' + this.user_logued.id
        this.channel = this.pusher.subscribe(channel);

        this.channel.bind('updated_balances', (data) => {
          if (Notification.permission !== 'granted') {
            Notification.requestPermission()
          } else {
            let notification = new Notification('Actualización masiva de saldos',
              {
                icon: 'static/favicon.png',
                body: data.message
              }
            )
            notification.onclick = () => {
              if (data.success) {
                window.open(getDomain() + '/#/reportes/trial-balance')
              } else {
                window.open(getDomain() + '/#/actualizacion-masiva-saldos')
              }
            }

            this.addNotification(data)
          }
        });
      },
    }
  }
</script>

<style scoped>

</style>
