<template>
  <card title="<i class='fa fa-fw fa-hospital-o'></i> Traslados">
    <div class="row">
      <div class="col-6">Traslado - {{ consecutive }}</div>
      <div class="col-6 text-right">
        <b-button variant="success" v-b-modal.modal-search-document
          >Buscar Documento</b-button
        >
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <b-form data-vv-scope="form" @submit.prevent="validateForm()">
          <!-- OPCIONES -->
          <div class="row">
            <div class="col-sm-12 col-lg-4">
              <b-form-group label="Sede Salida" class="mb-0">
                <el-select
                  name="sede_salida"
                  size="small"
                  value
                  :disabled="validateRoles()"
                  v-model="params.sede_salida"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos"
                >
                  <el-option
                    v-for="(item, index) in branchOffices.data"
                    :key="index"
                    :value="item.id"
                    :label="item.name"
                  ></el-option>
                </el-select>
              </b-form-group>
            </div>

            <div class="col-sm-12 col-lg-4">
              <b-form-group label="Bodega" class="mb-0">
                <el-select
                  name="bodega_salida"
                  size="small"
                  value
                  v-model="params.bodega_salida"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos"
                  :disabled="validateSelectDisabled()"
                >
                  <el-option
                    v-for="(item, index) in branchoffice_warehouses"
                    :key="index"
                    :value="item.id"
                    :label="
                      item.warehouse_code + ' - ' + item.warehouse_description
                    "
                  ></el-option>
                </el-select>
              </b-form-group>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-lg-4 mt-2">
              <b-form-group label="Sede Entrada" class="mb-0">
                <el-select
                  name="sede_entrada"
                  size="small"
                  value
                  v-model="params.sede_entrada"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos"
                  :disabled="validateSelectDisabled()"
                >
                  <el-option
                    v-for="(item, index) in branchOffices_entry"
                    :key="index"
                    :value="item.id"
                    :label="item.name"
                  ></el-option>
                </el-select>
              </b-form-group>
            </div>

            <div class="col-sm-12 col-lg-4 mt-2">
              <b-form-group label="Bodega" class="mb-0">
                <el-select
                  name="bodega_entrada"
                  size="small"
                  value
                  v-model="params.bodega_entrada"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos"
                  :disabled="validateSelectDisabled()"
                >
                  <el-option
                    v-for="(item, index) in branchoffice_warehouses_entry"
                    :key="index"
                    :value="item.id"
                    :label="
                      item.warehouse_code + ' - ' + item.warehouse_description
                    "
                  ></el-option>
                </el-select>
              </b-form-group>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <label for="contact_id"> Tercero
                    </label>

                    <el-select
                        clearable
                        id="contact_id"
                        name="contact_id"
                        filterable
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        data-vv-as=" "
                        v-model="params.additional_contact_id"
                        remote
                        :remote-method="filterText"
                    >
                        <el-option
                        v-for="contact in contacts"
                        :key="contact.id"
                        :label="contact.identification+ ' - ' +contact.name + ' ' + contact.surname"
                        :value="contact.id"
                        >
                        </el-option>
                    </el-select>
            </div>
            <div class="col-4">
              <label for="additional_contact_warehouse_id"> Sucursal
                    </label>

                    <el-select
                        clearable
                        id="additional_contact_warehouse_id"
                        name="additional_contact_warehouse_id"
                        filterable
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        data-vv-as=" "
                        v-model="params.additional_contact_warehouse_id"
                        remote
                        :remote-method="filterText"
                    >
                        <el-option
                        v-for="contact_warehouse in contacts_warehouses"
                        :key="contact_warehouse.id"
                        :label="contact_warehouse.code+ ' - ' +contact_warehouse.description"
                        :value="contact_warehouse.id"
                        >
                        </el-option>
                    </el-select>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <label class="label-input" for="observation"
                >Observacion autorizado</label
              >

              <b-form-textarea
                id="observation"
                v-model="params.observation"
                placeholder="Ingrese una observacion..."
                rows="3"
                max-rows="6"
                :disabled="validateSelectDisabled()"
              ></b-form-textarea>
            </div>
          </div>

          <div class="row" v-if="transferDocument.length > 0">
            <div class="col-12">
              <grid-u2
                :columns="columnsT"
                :items="transferDocument"
                @selectedSingleRow="getSelectedRow"
                :options="options"
              >
                <template slot="origen" slot-scope="row"
                  >{{ row.item.document.branchoffice.name }}
                  {{
                    row.item.document.branchoffice_warehouse
                      .warehouse_description
                  }}</template
                >
              </grid-u2>
            </div>
          </div>

          <!-- BOTONES -->
          <div class="row" v-if="transferDocument.length == 0">
            <div class="col-2 mt-3">
              <b-button
                class="mt-2"
                v-if="this.creation_form != 'view'"
                v-b-modal.list-products
                variant="primary"
                @click="getProducts"
                :disabled="validateSelectDisabled()"
              >
                <div class="fa fa-plus" />
                Agregar producto
              </b-button>
            </div>
            <div class="col-2 mt-3">
              <b-button
                class="mt-2"
                block
                variant="success"
                @click="dowloadTemplateImportProduct"
              >
                <i class="fa fa-download" />
                Bajar plantilla
              </b-button>
            </div>
            <div class="col-12 mt-3">
              <b-form-file
                ref="fileinput"
                accept=".csv, .txt"
                lang="es"
                placeholder="Seleccione el archivo..."
                @change="readFile"
              ></b-form-file>
            </div>
          </div>

          <!-- TABLA -->
          <div class="row">
            <div class="col-12">
              <grid-u2
                ref="grid"
                :columns="columnsPU"
                @changeRow="changeRow"
                :items="product.products_transfer"
              >
                <template slot="options" slot-scope="row">
                  <b-button
                    v-if="!isDisabled"
                    variant="danger"
                    @click="_deleteProductPromotion(row.item.product.id)"
                    >Eliminar</b-button
                  >
                </template>
              </grid-u2>
            </div>
          </div>

          <!-- OPCIONES -->
          <div class="row">
            <div class="col-12">
              <div class="form-actions">
                <b-button
                  type="submit"
                  class="boton-guardar"
                  :disabled="loading_"
                >
                  <span class="btn-label">
                    <i class="ti-save-alt"></i>
                  </span>
                  {{ btnFinalizeText() }}
                  <i v-if="loading_" class="fa fa-spinner fa-spin"></i>
                </b-button>

                <b-button
                  v-if="document"
                  @click="generatePdf(document.id)"
                  class="boton-guardar float-right"
                >
                  <span class="btn-label">
                    <i class="ti-save-alt"></i>
                  </span>
                  Imprimir
                </b-button>

                <b-button
                  type="reset"
                  value="Limpiar"
                  class="otro-boton float-left"
                >
                  <span class="btn-label">
                    <i class="ti-eraser"></i>
                    Limpiar
                  </span>
                </b-button>
              </div>
            </div>
          </div>
        </b-form>
      </div>
    </div>

    <listproducts @selectedProduct="addProduct"></listproducts>
    <!-- /<listproducts @selectedProduct="addProduct"></listproducts> -->

    <!-- <ModalPdf
      @closeModal="setShowPdf(false)"
      :isVisible="showPdf"
      :fileName=""
    /> -->

    <ModalPdf
    :show="showPdf"
    :mail_="false"
    :type="'pdf'"
    :name="'Traslados'"
    @setShowFalse="setShowFalse_()"
    :url="pathPdf"/>

    <b-modal
      id="modal-search-document"
      title="Buscar Documento"
      size="xl"
      modal-class="u2-modal-size"
      class="modal-backdrop"
      v-if="selected_model"
    >
      <ListDocumentGlobal pmodel_code="100" />
      <!-- BOTONES MODAL-->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" @click="cancel()">cerrar</b-button>
      </template>
    </b-modal>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
import ModalPdf from "../../components/u2/ModalPdf";
import listproducts from "../../components/availability-inquiry/list-products";
import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";
import Vue from "vue";
import VuePapaParse from "vue-papa-parse";
import {getApiDomain} from "../../util/domains";
Vue.use(VuePapaParse);

export default {
  components: {
    Card,
    GridU2,
    listproducts,
    ListDocumentGlobal,
    ModalPdf
  },
  data() {
    return {
      error_csv: false,
      products_csv: [],
      availability: {},
      options: {
        selectable: true,
        multiselect: true
      },

      creation_form: "create",
      isDisabled: false,

      count: null,

      columnsPU: [],
      columnsT: [],
      productAdd: {
        product: {
          id: null,
          description: "",
          code: "",
          quantity: "",
          found: ""
        }
      }
    };
  },

  watch: {
    "params.additional_contact_id"(newval){
      this.params.additional_contact_warehouse_id = null
      if (newval != null) {
        this.fetchContactsWarehouses(newval)
      }
    },
    isDisabled(newval) {
      // if (!newval){
      //   if (!this.$route.params.id) {
      //     this.product.products_transfer = []
      //     this.params.sede_entrada = ''
      //     this.params.bodega_entrada = ''
      //     this.params.observation = ''
      //   }
      // }
    },
    "params.sede_salida"(newval) {
      if (!this.$route.params.id) {
        (this.params.bodega_salida = ""),
          this.fetchBranchOfficeWarehouses(newval);
      }
    },
    "params.sede_entrada"(newval) {
      if (!this.$route.params.id) {
        (this.params.bodega_entrada = ""),
          this.searchbranchoffice_warehouse(newval);
      }
    },
    "params.bodega_salida"(newval, oldval) {
      if (!this.$route.params.id) {
        this.fetchTransferDocument();

        var found_old = this.branchoffice_warehouses.find(
          element => element.id == oldval
        );
        if (found_old && found_old.warehouse_code == "TR") {
          this.params.documentEntry = null;
        }

        this.found = this.branchoffice_warehouses.find(
          element => element.id == newval
        );
        if (this.found && this.found.warehouse_code == "TR") {
          this.branchOffices_entry.forEach(branchOffice_entry => {
            if (branchOffice_entry.id == this.params.sede_salida) {
              this.setBranchOffices_entry([branchOffice_entry]);
            }
          });
          this.params.sede_entrada = this.params.sede_salida;
        } else {
          this.setBranchOffices_entry(this.branchOffices.data);
          this.isDisabled = false;
          this.buildColumns();
        }

        this._setbranchoffice_warehouse_id(newval);
        this.product.products_transfer = [];
      }
    }
  },

  created() {
    this.fetchVoucherType();
    this.fetchConsecutive();
    this.fetchContacts();
    this.initComponent();
  },
  methods: {
    setShowFalse_(param){
      this.setShowPdf(param)
    },
    dowloadTemplateImportProduct() {
      var data = ["codigo", "descripcion", "cantidad"];

      var csv = "";
      data.map((v, i) => {
        csv += `${v};`;
      });

      var hiddenElement = document.createElement("a");
      hiddenElement.href = "data:text/csv;charset=utf-8," + encodeURI(csv);
      hiddenElement.target = "_blank";
      hiddenElement.download = "plantilla-cargar-productos.csv";
      hiddenElement.click();
    },
    readFile() {
      /* return first object in FileList */
      var file = event.target.files[0];
      this.$papa.parse(file, {
        header: true,
        complete: results => {
          let count_error_cdv = 0;
          //reco reremos la info del documento
          results.data.map((data, index) => {
            this.error_csv = this.setProductsFromCsv(data, index);
            // el error inca si un producto esta repetido en el aarchvio
            if (this.error_csv) {
              count_error_cdv++;
            }
          });

          // si hay algun error sale la alerta y vaciamos el arreglo de productos csv
          if (count_error_cdv > 0) {
            this.products_csv = [];
            this.$alert("Hay productos repetidos en el archivo", "Error", {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            });
          } else {
            this._getProductsByCode();
          }
          //seteamos de nuevo la variable error en 0
        }
      });
    },
    setProductsFromCsv(data, index) {
      // si es la primer linea del archivo vaciamos el arreglo products csv
      if (index == 0) {
        this.setList_code_products([]);
        this.setProducts_csv_([]);
      }
      //validar si ya está el producto
      var exist_product = this.list_code_products.find(pt => pt == data.codigo);
      if (exist_product === undefined) {
        // validamos que no se vaya un producto vacio
        if (data.codigo != "") {
          this.list_code_products.push(data.codigo.trim());
          this.products_csv_.push({
            code: data.codigo.trim(),
            quantity: data.cantidad
          });
        }
        return false;
      } else {
        return true;
      }
    },
    async filterText(filter) {
        this.paramsquery.query = filter
        await this.fetchContacts()
    },
    async _getProductsByCode() {
      await this.seterror_from_setProductsGridFromCsv(false);
      await this.getProductByCode();
      if (this.error_from_setProductsGridFromCsv) {
        this.$alert("Hay productos que no manejan inventario", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        });
      }
    },
    validateSelectDisabled() {
      let id = this.$route.params.id;
      if (id) {
        this.isDisabled = true;
        return true;
      } else {
        let b = this.branchoffice_warehouses.find(
          element => element.id == this.params.bodega_salida
        );
        // console.log(b);
        if (b && b.warehouse_code == "TR") {
          this.isDisabled = true;
        } else {
          this.isDisabled = false;
        }
        return false;
      }
    },
    getSelectedRow(product) {
      if (this.count != 1) {
        +this.setLoading_(true);
        this.count = 1;
        (this.isDisabled = true), (this.params.documentEntry = product.id);
        product.documents_products.forEach(element => {
          let pp = JSON.parse(JSON.stringify(this.productAdd));
          pp.id = element.product.id;
          pp.minimum_amount = element.quantity;

          pp.product.id = element.product.id;
          pp.product.code = element.product.code;
          pp.product.line = element.product.line.id;
          pp.product.subline =
            element.product.subline === null
              ? null
              : element.product.subline.id;
          pp.product.price = element.product.price.price;
          pp.product.brand =
            element.product.brand === null ? null : element.product.brand.id;
          pp.product.description = element.product.description;
          pp.product.quantity =
            element.product.inventory.length > 0
              ? element.product.inventory[0].stock
              : 0;

          this.product.products_transfer.push(pp);
        });
        this.setLoading_(false);
        this.buildColumns();
        this.$refs.grid.buildData();
      }
    },

    async searchbranchoffice_warehouse(id) {
      await this.fetchBranchOfficeWarehousesEntry(id);
      if (this.params.sede_entrada != this.params.sede_salida) {
        let user = JSON.parse(localStorage.getItem("user"));
        if (user.get_roles[0].id != 8 && user.get_roles[0].id != 3) {
          this.setBranchofficeWarehousesEntry(
            this.branchoffice_warehouses_entry.filter(
              element => element.warehouse_code == "TR"
            )
          );
          this.params.bodega_entrada = this.branchoffice_warehouses_entry[0].id;
        }
      } else {
        this.setBranchofficeWarehousesEntry(
          this.branchoffice_warehouses_entry.filter(
            element => element.warehouse_code != "TR"
          )
        );
      }
    },
    btnFinalizeText() {
      const user = JSON.parse(localStorage.user);
      const authorizedUsers = this.selected_model != null ? this.selected_model.authorized_users : null;

      if (authorizedUsers && authorizedUsers.length > 0) {
        let userAuth = authorizedUsers.find(au => au.user_id == user.id);

        if (!userAuth) {
          return `Solicitar Autorizacion`;
        }
      }

      return `Finalizar Documento`;
    },
    ...mapActions("transfer", [
      "fetchContacts",
      'fetchContactsWarehouses',
      "getProductByCode",
      "fetchVoucherType",
      "fetchBranchOfficeWarehouses",
      "fetchBranchOffices",
      "fetchBranchOfficeWarehousesEntry",
      "createtransfer",
      "generatePdf",
      "fetchTransferDocument",
      "fetchConsecutive",
      "fetchTransfer",
      "fetchModel",
      "fetchTransferForUpdate"
    ]),
    // ...mapActions("products", ["searchProducts"]),
    ...mapMutations("transfer", [
      "seterror_from_setProductsGridFromCsv",
      "setLoading_",
      "setProducts_csv_",
      "setList_code_products",
      "setSedeSalida",
      "setBodegaSalida",
      "setBranchofficeWarehousesEntry",
      "setBranchOffices_entry",
      "setTransferDocument",
      "setShowPdf"
    ]),
    // ...mapMutations("products", ["setbranchoffice_warehouse_id"]),

    ...mapActions("availabilityInquiry", ["searchProducts"]),
    ...mapMutations("availabilityInquiry", ["setbranchoffice_warehouse_id"]),

    getProducts() {
      this.searchProducts();
    },
    _setbranchoffice_warehouse_id(warehouse_id) {
      this.setbranchoffice_warehouse_id(warehouse_id);
    },

    _deleteProductPromotion(row) {
      this.count = null;
      let i = 0;

      for (
        let index = 0;
        index < this.product.products_transfer.length;
        index++
      ) {
        if (this.product.products_transfer[index].product.id == row) {
          i = index;
        }
      }
      this.product.products_transfer.splice(i, 1);
    },

    _deleteProductTransfer(documentProduct_id) {},

    validateRoles() {
      let user = JSON.parse(localStorage.getItem("user"));
      if (
        user.get_roles[0].id == 2 ||
        user.get_roles[0].id == 3 /*||  user.get_roles[0].id == 8*/
      ) {
        return false;
      } else {
        return true;
      }
    },

    addProduct(product) {
      if (product.manage_inventory) {
        var exist_product = this.product.products_transfer.find(
          pt => pt.product.id == product.id
        );

        if (exist_product === undefined) {
          let pp = JSON.parse(JSON.stringify(this.productAdd));
          pp.id = product.id;
          pp.minimum_amount = null;

          pp.product.id = product.id;
          pp.product.code = product.code;
          pp.product.line = product.line.id;
          pp.product.subline =
            product.subline === null ? null : product.subline.id;
          pp.product.price = product.price.price;
          pp.product.brand = product.brand === null ? null : product.brand.id;
          pp.product.description = product.description;
          pp.product.quantity = product.inventory[0]
            ? product.inventory[0].stock
            : 0;

          this.product.products_transfer.push(pp);
        }
      }
    },

    changeRow(row) {
      if (Number(row.minimum_amount) > Number(row.product.quantity)) {
        this.$alert(
          `la cantidad del producto ${row.product.description} es mayor a la existencia`,
          "Error",
          {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "notification-error"
          }
        );
      }
    },

    async validateForm() {
      this.count = 0;

      if (this.params.additional_contact_id != null && this.params.additional_contact_id != '') {
        if (this.params.additional_contact_warehouse_id == null || this.params.additional_contact_warehouse_id == '') {
          this.$alert(
            `Debe seleccionar sucursal`,
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          );
          return false
        }
      }

      if (this.product.products_transfer.length > 0) {
        this.product.products_transfer.forEach(element => {
          if (element.product.quantity >= element.minimum_amount) {
            if (element.minimum_amount > 0) {
              this.count += 1;
            } else {
              this.$alert(
                `Debe agregar cantidad al producto ${element.product.description}`,
                "Error",
                {
                  confirmButtonText: "Aceptar",
                  type: "error",
                  customClass: "notification-error"
                }
              );
            }
          } else {
            this.$alert(
              `la cantidad del producto ${element.product.description} es mayor a la existencia`,
              "Error",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
              }
            );
          }
        });
      } else {
        this.$alert("Debe agregar productos", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        });
      }
      if (
        this.count == this.product.products_transfer.length &&
        this.product.products_transfer.length > 0
      ) {
        this.params.contact_id = JSON.parse(localStorage.getItem("user"));
        if (
          this.params.sede_entrada != null &&
          this.params.bodega_entrada != null &&
          this.params.bodega_salida != null &&
          this.params.sede_salida != null &&
          this.params.sede_entrada != "" &&
          this.params.bodega_entrada != "" &&
          this.params.bodega_salida != "" &&
          this.params.sede_salida != ""
        ) {
          if (this.params.bodega_entrada != this.params.bodega_salida) {
            this.setLoading_(true);

            await this.createtransfer()
              .then(async () => {
                this.initComponent();
                this.product.products_transfer = [];
                this.params.sede_entrada = "";
                this.params.bodega_entrada = "";
                this.params.observation = "";
                this.params.additional_contact_id = null;
                this.params.additional_contact_warehouse_id = null;
                this.count = null;
                await this.setSedeSalida(
                  Number(localStorage.selected_branchoffice)
                );
                await this.setBodegaSalida(
                  Number(localStorage.selected_branchoffice_warehouse)
                );
              })
              .catch(error => {
                this.$refs.grid.buildData();
              });
          } else {
            this.$alert(
              `Las Bodegas Salida y Entada no pueden ser iguales`,
              "Error",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
              }
            );
          }
        } else {
          this.$alert(`Debe llenar todos los campos`, "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "notification-error"
          });
        }
      }
    },

    async initComponent() {
      this.fetchModel();

      await this.fetchBranchOffices();

      await this.setSedeSalida(Number(localStorage.selected_branchoffice));

      await this.fetchBranchOfficeWarehouses(this.params.sede_salida);

      let id = this.$route.params.id;
      let ide = this.$route.params.ide;

      if (id) {
        await this.fetchTransfer(id);
      }
      if (ide) {
        await this.fetchTransferForUpdate(ide);
      }
      await this.setBodegaSalida(
        Number(localStorage.selected_branchoffice_warehouse)
      );
    },
    buildColumns() {
      this.columnsPU = [
        {
          name: "código",
          field: "product.code",
          width: 150
        },
        {
          name: "Descripción",
          field: "product.description",
          width: 400
        },
        {
          name: "Existencia",
          field: "product.quantity",
          width: 140,
          format: "number"
        },
        {
          name: "Cantidad",
          field: "minimum_amount",
          width: 140,
          editable: this.isDisabled == true ? false : true,
          format: "number"
        },
        {
          name: "Opciones",
          field: "options",
          width: 140,
          visible: this.creation_form != "view"
        }
      ];
    }
  },

  async mounted() {
    this.columnsT = [
      {
        name: "fecha",
        field: "created_at",
        style: { background: "#d5f3d3" }
      },
      {
        name: "Origen",
        field: "origen",
        style: { background: "#d5f3d3" }
      },
      {
        name: "Num Traslado",
        field: "consecutive",
        style: { background: "#d5f3d3" }
      }
    ];

    this.buildColumns();
  },

  computed: {
    pathPdf() {
      return getApiDomain() + this.document.file_name;
    },
    ...mapState("transfer", [
      'contacts',
      'contacts_warehouses',
      'paramsquery',
      "error_from_setProductsGridFromCsv",
      "loading_",
      "products_csv_",
      "list_code_products",
      "consecutive",
      "params",
      "branchOffices",
      "branchoffice_warehouses",
      "branchoffice_warehouses_entry",
      "product",
      "document",
      "branchOffices_entry",
      "transferDocument",
      "showPdf",
      "transfer",
      "selected_model"
    ])
  }
};
</script>
