<template>
  <div class="row">
    <div class="col-12"><label for="address">Dirección</label></div>
    <div class="col-4 pr-0">
      <el-select
        v-model="address_object.type_of_road"
        @input="handleInput()"
        @change="changeAddress()"
        autocomplete="nope"
        auto-complete="nope"
      >
        <el-option key="Calle" label="Calle" value="Calle"></el-option>
        <el-option key="Carrera" label="Carrera" value="Carrera"></el-option>
        <el-option
          key="Transversal"
          label="Transversal"
          value="Transversal"
        ></el-option>
        <el-option key="Diagonal" label="Diagonal" value="Diagonal"></el-option>
        <el-option key="Avenida" label="Avenida" value="Avenida"></el-option>
      </el-select>
    </div>
    <div class="col-2 px-0">
      <b-form-input
        v-model="address_object.way_number"
        @input="handleInput()"
        @change="changeAddress()"
        autocomplete="nope"
        auto-complete="nope"
      ></b-form-input>
    </div>
    <div class="col-3 px-0">
      <b-input-group prepend="#">
        <b-form-input
          v-model="address_object.generating_way_number"
          @input="handleInput()"
          @change="changeAddress()"
          autocomplete="nope"
          auto-complete="nope"
        ></b-form-input>
      </b-input-group>
    </div>
    <div class="col-3 pl-0">
      <b-input-group prepend="-">
        <b-form-input
          v-model="address_object.plate_number"
          @input="handleInput()"
          @change="changeAddress()"
          autocomplete="nope"
          auto-complete="nope"
        ></b-form-input>
      </b-input-group>
    </div>
    <div class="col-12">
      <b-form-input
        v-model="address_object.complement"
        @input="handleInput()"
        @change="changeAddress()"
        autocomplete="nope"
        auto-complete="nope"
        placeholder="Apartamento, interior, torre..."
      ></b-form-input>
    </div>
    <div class="col-12 text-primary">{{ address }}</div>
    <div class="col-12">
      <b-form-input
        :id="name"
        :value="address"
        :name="name"
        hidden
      ></b-form-input>
    </div>
  </div>
</template>

<script>
export default {
  name: "addressInput",
  props: {
    name: {
      type: String,
      required: true,
      default: "address"
    },
    label: {
      type: String,
      required: false,
      default: "Dirección"
    },
    value: {
      type: Object,
      required: true,
      default: {
        type_of_road: "",
        way_number: "",
        generating_way_number: "",
        plate_number: "",
        complement: ""
      }
    }
  },
  data() {
    return {
      address_object: this.value
    };
  },
  methods: {
    handleInput(e) {
      this.$emit("input", this.address_object);
    },
    hasErrors() {
      return this.address === "";
    },
    changeAddress() {
      this.$emit("change", this.address);
    }
  },
  computed: {
    address() {
      if (
        this.address_object.type_of_road &&
        this.address_object.way_number &&
        this.address_object.generating_way_number &&
        this.address_object.plate_number
      ) {
        return (
          this.address_object.type_of_road +
          " " +
          this.address_object.way_number +
          " # " +
          this.address_object.generating_way_number +
          " - " +
          this.address_object.plate_number +
          " " +
          (this.address_object.complement || "")
        );
      }
      return "";
    }
  }
};
</script>

<style scoped></style>
