<template>
  <div class="container-template">
    <b-modal
      :id="id"
      title="CARTERA"
      size="xl"
    >
      <!-- TABLA -->
      <div class="row">
        <div class="col-md-12">
          <b-table
            responsive
            :items="dataTable"
            :fields="fields"
            data-vv-name="table"
            class="table-order"
            striped
            small
            show-empty
          >
          </b-table>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";

export default {
  name: 'ReceivableModal',
  props: {
    contactId: [String, Number],
    id: String
  },
  data () {
    return {
      fields: [
        { key: 'identification', label: 'Identificacion', thStyle: { 'min-width': '100px !important' } },
        { key: 'name', label: 'Nombre', thStyle: { 'min-width': '100px !important' } },
        { key: 'address', label: 'Dirección', thStyle: { 'min-width': '100px !important' } },
        { key: 'main_telephone', label: 'Telefono Principal', thStyle: { 'min-width': '100px !important' } },
        { key: 'city.city', label: 'Ciudad', thStyle: { 'min-width': '100px !important' } },
      ]
    }
  },
  methods: {
    ...mapActions('contacts', ['getContact']),
  },
  computed: {
    ...mapState('contacts', ['selectedContact']),
    dataTable () {
      var array = [];
      array.push(this.selectedContact);
      return array;
    },
  },
  watch: {
    contactId (newVal) {
      this.getContact(newVal)
    },
  },
  created () {
    //this.getContact(37)
  },
}
</script>

<style>
.modal-content {
  width: 100% !important;
}
.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
.modal-header {
  background: #007db3 !important;
  color: #fff;
}
.table-order .b-table > thead {
  background-color: #6699cc;
  color: white;
}

.btn-icon-detail {
  cursor: pointer;
}
.btn-icon-detail:hover {
  opacity: 0.6;
}

.content-detail table > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table > tbody td {
  background-color: #fff;
}
</style>
