<template>
  <div class="col-12 noselect font-weight-bold" :style="options.selectable ? 'cursor:pointer' : ''">
    <div class="table-responsive mt-3 mb-3">
      <table class="table table-hover table-striped table-bordered table-sm table-grid" id="grid-u2">
        <thead>
        <tr>
          <th v-if="options.checkbox" width="15px">
            {{options.checkbox_title}}
          </th>
          <th v-for="(column, index) in columns"
              :key="index"
              v-if="showColumn(column)"
              v-html="column.name"
              :class="getClassTh(column)"
              :width="getWidth(column)"
          />
        </tr>
        </thead>
        <tbody>
        <tr v-if="!items.length">
          <td v-if="options.checkbox"
              :colspan="options.checkbox ? columns.length + 1: columns.length"
              class="text-center align-middle"
              v-text="message"
          />
        </tr>
        <tr v-else
            v-for="(object, index) in data"
            :key="index"
            @dblclick="selectedRow(object, index)"
            :class="setStyleRow(object)"
        >
          <td v-if="options.checkbox" class="text-center align-middle">
            <el-checkbox v-model="object.selected" :disabled="object.disable_select" @change="selectedRow(object, index, false)"/>
          </td>
          <td v-for="(cell, indexCell) in object"
              :key="indexCell"
              v-bind:style="cell.style"
              :class="getClassTd(cell, object)"
              @click="setFocus(cell, object)"
              v-if="typeof cell === 'object' && cell.visible"
          >
            <!--Valida si se envia un slot desde el componente padre y lo muestra-->
            <slot v-if="hasSlot(cell.key) && typeof cell === 'object' && cell.visible"
                  :name="cell.key"
                  v-bind:item="findItemById(index)"
            />
            <div v-else>
              <div v-if="cell.editable">
                <div v-if="cell.editing">
                  <div v-if="cell.type === 'date'">
                    <el-date-picker v-model="cell.value"
                                    value-format="yyyy-MM-dd"
                                    class="date-editable"
                                    type="date"
                                    :ref="cell.ref"
                                    @change="changeItem($event, cell, findItemById(index))"
                                    @blur="changeItem($event, cell, findItemById(index))"
                                    placeholder=" "
                    />
                  </div>
                  <div v-else-if="cell.type === 'select'">
                    <el-select filterable=""
                               v-model="cell.value"
                               class="select-editable"
                               :ref="cell.ref"
                               :automatic-dropdown="true"
                               :remote="cell.remote"
                               :remote-method="fetchDataForSelect"
                               @change="changeSelect($event, cell, findItemById(index))"
                    >
                      <el-option v-for="option in getDataSelect(cell)"
                                 :key="option.id"
                                 :label="option.value"
                                 :value="option.id"
                      />
                    </el-select>
                  </div>
                  <div v-else-if="cell.type == 'long_text'">
                      <textarea :value="cell.value"
                                :ref="cell.ref"
                                :id="cell.ref"
                                class="textarea-grid"
                                v-on:keydown.tab="nextCell($event, cell)"
                                v-on:keydown.enter="nextCell($event, cell)"
                                v-on:keydown.esc="quitFocus($event, cell)"
                                @keypress="validateKey($event, cell)"
                                @change="changeItem($event, cell, findItemById(index))"
                                @blur="changeItem($event, cell, findItemById(index))"
                      />
                  </div>
                  <div v-else>
                    <input :type="cell.type"
                           :class="cell.class"
                           :ref="cell.ref"
                           :id="cell.ref"
                           :value="cell.value"
                           v-on:keydown.tab="nextCell($event, cell)"
                           v-on:keydown.enter="nextCell($event, cell)"
                           v-on:keydown.esc="quitFocus($event, cell)"
                           @keypress="validateKey($event, cell)"
                           @change="changeItem($event, cell, findItemById(index))"
                           @blur="changeItem($event, cell, findItemById(index))"
                    />
                  </div>
                </div>
              </div>
              <div v-if="!cell.editable || (cell.editable && !cell.editing)">
                <p v-if="cell.format == 'number'"
                   class="p-table text-center"
                   v-text="cell.value"
                />
                <p v-if="cell.format == 'currency' && options.type_currency &&  options.type_currency == 'USD'"
                   class="p-table text-right">
                  {{cell.value | currency(/*'USD'*/'', ',', (cell.value % 1 !== 0 ? 2 : 0),'.', '', true)}}
                </p>
                <p v-if="cell.format == 'currency' && (!options.type_currency || options.type_currency == 'COP')"
                   class="p-table text-right">
                  {{cell.value | currency('', ',', (cell.value % 1 !== 0 ? 2 : 0),'.', 'front', false)}}
                </p>
                <p v-if="cell.format == 'date'"
                   class="p-table pl-4"
                   v-text="cell.value"
                />
                <p v-if="cell.format == 'select'"
                   class="p-table"
                   v-text="showDataForSelect(cell)"
                />
                <p v-if="!cell.format || cell.format == 'text' || cell.format == 'long_text'"
                   class="p-table"
                   v-text="cell.value"
                />
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot v-if="options.showFooter">
        <tr>
          <td :colspan="countColumns()" class="td-footer" height="10px"/>
        </tr>
        <tr>
          <td v-for="(column, index) in columns"
              :key="index"
              v-if="showColumn(column)"
              class="td-footer font-weight-bold"
          >
            <slot v-if="hasSlot('foot_' + column.field)"
                  :name="'foot_' + column.field"
                  v-bind:column="column"
            />
            <div v-else />
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</template>

<script>

  import $http from "../../axios"

  export default {
    name: "grid",
    props: {
      columns: {type: Array, required: true, default: []},
      items: {type: Array, required: true, default: []},
      options: {
        type: Object,
        required: false,
        default: () => {
          return {}
        }
      },
      emitWithoutChange: {type: Boolean, required: false, default: false}
    },
    data() {
      return {
        data: [],
        possible: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789",
        message: 'Cargando datos',
        emiting: false,
        changing: false,
        dataSelects: [],
        selectedRef: '',
        selected_rows: [],
        selected_row: null,
      }
    },
    created() {
      this.buildData()

      this.message = 'No se encontraron datos'
    },
    methods: {
      async fetchDataForSelect(query) {
        let cell = this.getSelectedCell()

        if (cell && cell.minQueryLengthRemote && query.length >= cell.minQueryLengthRemote) {
          let remoteUrl = cell.remoteUrl

          let requestParameters = {
            params: {
              paginate: false,
              query: query
            }
          }

          await $http
            .get(remoteUrl, requestParameters)
            .then(async response => {
              this.addDataToDataSelects(cell, response.data.data)
            })
        }
      },
      addDataToDataSelects(cell, data) {
        let added = false
        let dataTemp = []

        data.map(d => {
          let id = d[cell.selectKey]
          let value = null
          if (cell.valueSeparator) {
            let parts = cell.selectValue.split('.')
            let partsArray = []
            parts.map(p => {
              partsArray.push(d[p])
            })
            value = partsArray.join(cell.valueSeparator)
          } else {
            value = d[cell.selectValue]
          }
          dataTemp.push({id: id, value: value})
        })

        this.dataSelects.map(dataSelect => {
          if (dataSelect.key === cell.key) {
            added = true
            dataTemp.map(d => {
              if (!dataSelect.data.find(ds => ds.id === d.id)) {
                dataSelect.data.push(d)
              }
            })
          }
        })

        if (!added) {
          this.dataSelects.push({
            key: cell.key,
            data: dataTemp
          })
        }

      },
      getSelectedCell() {
        for (let i = 0; i < this.data.length; i++) {
          for (let j = 0; j < this.data[i].length; j++) {
            if (this.data[i][j].editing)
              return this.data[i][j]
          }
        }
      },
      getDataSelect(cell) {

        let data = this.dataSelects.find(dataSelect => dataSelect.key === cell.key)

        if (!data) {
          return []
        }

        return data.data
      },
      /**
       * Funcion para construir la informacion de la grilla
       */
      buildData() {
        let temp_data = {}

        this.columns.map((column) => {
            this.items.map((item, index) => {
              if (column.field) {
                if (column.field.indexOf('.') < 0) {
                  temp_data = this.createObject(temp_data, item, column.field, column, index)
                } else {
                  let split_field = column.field.split('.')

                  let sub_item = {}
                  let key = {}
                  let item_temp = item

                  for (let i = 0; i < (split_field.length - 1); i++) {

                    sub_item = item_temp[split_field[i]]
                    key = split_field[i + 1]
                    if (sub_item && !sub_item.hasOwnProperty(key)) {
                      i = split_field.length
                    } else {
                      item_temp = sub_item
                    }

                  }
                  temp_data = this.createObject(temp_data, sub_item, key, column, index, column.field)
                }
              }
            })
          }
        )

        this.data = temp_data
      },
      /**
       * Funcion que implementa la estructura necesaria de cada uno de los objetos que conformaran la grilla
       * @param temp_data
       * @param item
       * @param key
       * @param column
       * @param index
       * @param key_column
       * @returns {*}
       */
      createObject(temp_data, item, key, column, index, key_column = '') {
        let row = temp_data[index] || {}
        let cell = {}

        if (column.format !== 'number' && column.format !== 'currency') {
          cell.value = item && item[key] ? item[key] : ''
        } else {
          let options = [undefined, null, '', '0', 0]

          if (item && item[key] && options.indexOf(item[key]) >= 0) {
            cell.value = '0'
          } else {
            cell.value = item[key]
          }
        }

        cell.key = key_column !== '' ? key_column : key
        cell.style = this.setStyle(column)

        cell.editable = column.editable
        cell.editing = this.selectedRef === (cell.key + index)
        cell.ref = cell.key + index

        cell.visible = this.showColumn(column)
        cell.format = column.format
        cell.type = this.getTypeInput(cell)
        cell.class = this.getClassInput(cell)
        row.disable_select = item && item.disable_select

        if (cell.type === 'select') {
          if (column.hasOwnProperty('select')) {
            cell.selectKey = column.select.key
            cell.selectValue = column.select.value
            if (column.select.hasOwnProperty('data')) {
              cell.data = column.select.data
            }

            if (column.select.hasOwnProperty('valueSeparator')) {
              cell.valueSeparator = column.select.valueSeparator
            }

            if (column.select.hasOwnProperty('remote')) {
              cell.remote = column.select.remote
              cell.remoteUrl = column.select.remoteUrl
              cell.minQueryLengthRemote = column.select.minQueryLengthRemote
            }
          }
        }

        row.selected = this.validateSelection(item)

        if (key_column !== '') {
          row[key_column] = cell
        } else {
          row[key] = cell
        }

        temp_data[index] = row


        return temp_data
      }
      ,
      /**
       * Funcion para buscar y establecer el foco en la siguiente celda editable de la grilla
       */
      nextCell(event, cell) {
        let found_next = false
        let c_ant = null

        if (event.shiftKey) {
          for (const key in this.data) {
            for (let c in this.data[key]) {
              if (typeof this.data[key][c] === 'object') {
                if (c_ant && found_next && this.data[key][c_ant].editable && this.data[key][c_ant].visible) {
                  this.data[key][c_ant].editing = false
                  this.setFocus(this.data[key][c_ant], this.data[key])
                  found_next = false
                  return;
                } else if (this.data[key][c].editable) {
                  if (this.data[key][c].ref === cell.ref && this.data[key][c].visible) {
                    found_next = true
                    this.data[key][c].editing = false
                  } else {
                    c_ant = c
                  }
                }
              }
            }
          }
        } else {
          for (const key in this.data) {
            for (let c in this.data[key]) {
              if (typeof this.data[key][c] === 'object') {
                if (found_next && this.data[key][c].editable && this.data[key][c].visible) {
                  this.data[key][c].editing = false
                  this.setFocus(this.data[key][c], this.data[key])
                  found_next = false
                  return;
                } else if (this.data[key][c].editable && this.data[key][c].ref === cell.ref && this.data[key][c].visible) {
                  found_next = true
                  this.data[key][c].editing = false
                }
              }
            }
          }
        }
      }
      ,
      /**
       * Funcion que establece el foco a la celda recibida
       * @param cell
       */
      setFocus(cell, object) {

        for (const key in this.data) {
          this.data[key].editing = false
        }

        if (cell.editable) {
          cell.editing = true
          this.$nextTick(() => {
            if (this.$refs[cell.ref][0]) {
              this.$refs[cell.ref][0].focus()

              this.selectedRef = cell.ref

              if (cell.format !== 'select') {
                setTimeout(() => {
                  this.$refs[cell.ref][0].select()
                }, 1)
              } else {

                let object = this.$refs[cell.ref][0].$el.children[0].children[0]
                let raw = this.$refs[cell.ref][0].$el.children[0].children[1].children[0]
                raw.addEventListener('mouseover', (e) => {

                  let close = this.$refs[cell.ref][0].$el.children[0].children[1].children[0].children[1]

                  if (close) {
                    close.addEventListener('click', (e) => {
                    })
                  }

                })

                object.addEventListener('keydown', (e) => {
                  if (e.key == 'Tab' || e.key == 'Enter') {
                    setTimeout(() => {
                      this.nextCell(e, cell)
                    }, 100)
                  } else if (e.key == 'Escape') {
                    setTimeout(() => {
                      this.quitFocus(e, cell)
                    }, 100)
                  }
                })
                setTimeout(() => {
                  object.select()
                  object.addEventListener('change', (e) => {
                    this.changeItem(e, cell, object)
                  })
                }, 10)
              }
            }
          })
        }
      }
      ,
      /**
       *
       */
      quitFocus(event, cell) {
        cell.editing = false
      }
      ,
      selectedRowButon(item, index) {
        this.selectedRow(this.data[index], index)
      }
      ,
      /**
       * Funcion que establece una o varias filas como seleccionadas
       * @param object contiene el objeto que fue seleccionado
       */
      selectedRow(object, index, change = true) {

        if (!object.disable_select && this.options && this.options.hasOwnProperty('selectable') && this.options.selectable) {

          this.selected_row = this.items[index]

          let selected = object.selected

          if (change) {
            selected = !object.selected
          }

          if (this.options.hasOwnProperty('multiselect') && this.options.multiselect) {

            this.selected_rows = []

            object.selected = selected

            for (const key in this.data) {
              if (this.data[key].selected) {
                let item = this.items[key]
                if (item) {
                  this.selected_rows.push(item)
                }
              }
            }
            this.$emit('selectedRows', this.selected_rows)
          } else {
            for (const key in this.data) {
              this.data[key].selected = false
            }

            object.selected = selected
          }

          if (selected) {
            this.$emit('selectedSingleRow', this.selected_row)
          }
        }

      }
      ,
      validateSelection(item) {
        if (item && this.options && this.options.hasOwnProperty('selectable') && this.options.selectable) {
          if (this.options.hasOwnProperty('multiselect') && this.options.multiselect) {
            return !!this.selected_rows.find(sr => sr.id === item.id)
          } else {
            return this.selected_row.id === item.id
          }
        }
      }
      ,
      /**
       * Funcion que determina el estilo de las celdas dependiendo del formato
       * @param col
       * @returns {{}|*}
       */
      setStyle(col) {
        let column = col
        if (column.format) {
          let width = 0
          if (column.style) {
            width = column.style.width ? parseInt(column.style.width, 10) : 0
          } else {
            column.style = {}
            width = 0
          }

          switch (column.format) {
            case 'date':
              column.style.width = width < 222 ? 222 : width
              break
            case 'number':
              column.style.width = width < 100 ? 100 : width
              break
            case 'currency':
              column.style.width = width < 100 ? 100 : width
              break
            case 'text':
              column.style.width = width < 100 ? 100 : width
              break
            case 'percentage':
              column.style.width = width < 100 ? 100 : width
              break
            case 'select':
              column.style.width = width < 150 ? 150 : width
              break
            default:
              // column.style.width = width < 100 ? 100 : width
              break
          }

          column.style['min-width'] = column.style.width + 'px'
        }
        return column.style
      }
      ,
      /**
       * Funcion que establece la clase de la fila dependiendo de si esta seleccionada o no
       * @returns {string}
       * @param object
       */
      setStyleRow(object) {
        if (object && this.options && this.options.hasOwnProperty('selectable') && this.options.selectable && object.selected) {
          return 'selected_row'
        }

        return ''
      }
      ,
      /**
       * Funcion que establece el valor de una celda y emite el evento para recibir el objeto actualizado en el componente padre
       * @param event
       * @param cell
       * @param object
       */
      changeItem(event, cell, object) {

        if (!this.emiting) {
          this.emiting = true
          let changed = false

          switch (cell.format) {
            case 'date':
              if (event != null) {
                if (cell.value !== event.value) {
                  cell.value = event.value
                  changed = true
                }
              }
              break
            case 'long_text':
            case 'text':

              if (cell.value !== event.target.value) {
                cell.value = event.target.value
                changed = true
              }
              break
            case 'number':
            case 'currency':
              if (+cell.value !== +event.target.value) {
                if (event.target.value === '' || event.target.value === 0) {
                  cell.value = '0'
                } else {
                  cell.value = event.target.value
                }
                changed = true
              }
              break
            case 'select':
              cell.value = event.target.value
              changed = true
              break
          }

          let keyChange = ''

          if (changed || this.emitWithoutChange) {
            if (cell.key.indexOf('.') < 0) {
              for (let item in object) {
                if (cell.key === item) {
                  object[item] = cell.value
                  keyChange = item
                }
              }
            } else {

              let split_field = cell.key.split('.')

              let object_temp = object

              for (let i = 0; i < (split_field.length - 1); i++) {

                let key = split_field[i]

                if (!object_temp[key]) {
                  object_temp[key] = {}
                }

                if (i === (split_field.length - 2)) {
                  object_temp[key][split_field[i + 1]] = cell.value
                } else {
                  object_temp = object_temp[key]
                }
              }

            }

            this.$emit('changeRow', object, keyChange)
          }

          cell.editing = false

          setTimeout(() => {
            this.emiting = false
          }, 200)

        }
      }
      ,
      /**
       * Funcion que se ejecuta al hacer cambio de una celda que contenga un select
       * @param event
       * @param cell
       * @param object
       */
      changeSelect(new_value, cell, object) {
        let event = {
          target: {
            value: new_value
          }
        }
        this.changeItem(event, cell, object)
        this.quitFocus(event, cell)
      }
      ,
      /**
       * Funcion para validar los valores ingresados a los inputs de las celdas editables
       * @param event
       * @param cell
       * @returns {boolean}
       */
      validateKey(event, cell) {
        if (cell.format == 'number' || cell.format == 'currency') {
          var charCode = (event.which) ? event.which : event.keyCode;
          if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
            event.preventDefault();
          } else {
            return true;
          }
        }
      }
      ,
      /**
       * Funcion para generar las referencias de los inputs
       * @returns {string}
       */
      showDataForSelect(cell) {
        if (cell.data && cell.data.length) {
          let value = cell.data.find(c => c[cell.selectKey] == cell.value)
          if (value) {
            return value[cell.selectValue]
          }
        }

        return ''
      }
      ,
      generateRef() {
        let result = '';
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < 10; i++) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
      }
      ,
      /**
       * Funcion para asignar el id a la tabla
       */
      makeId() {
        if (this.tableId === '') {
          this.tableId = this.generateRef()
        }
      }
      ,
      /**
       * Funcion para validar si existe un slot para determinada columna
       * @param name
       * @returns {boolean}
       */
      hasSlot(name = 'default') {
        return !!this.$slots[name] || !!this.$scopedSlots[name];
      }
      ,
      findItemById(index) {
        return this.items[index]
      }
      ,
      /**
       * Funcion para generar los esticos de los td de la grilla
       * @param cell
       * @param item
       * @returns {string}
       */
      getClassTd(cell, item) {
        let classes = 'align-middle '

        if (this.options && this.options.hasOwnProperty('selectable') && this.options.selectable && item.selected) {
          classes += cell.editable ? 'cell-editable-selected ' : ''
        } else {
          classes += cell.editable ? 'cell-editable ' : ''
        }

        classes += cell.editing ? 'cell-editing ' : ''

        return classes
      }
      ,
      /**
       * Funcion para establecer el tipo de input que se debe mostrar en la grilla
       * @param cell
       * @returns {string}
       */
      getTypeInput(cell) {

        let type = 'text'

        switch (cell.format) {
          case 'date':
            type = 'date'
            break
          case 'select':
            type = 'select'
            break
          case 'long_text':
            type = 'long_text'
            break
          case 'number':
          case 'currency':
          case 'text':
          default:
            type = 'text'
            break
        }

        return type

      }
      ,
      /**
       * Funcion para establecer la clase de estilo que se asignara a cada uno de los input
       * @param cell
       * @returns {string}
       */
      getClassInput(cell) {
        let format = cell.format
        let classes = 'input-editable '

        switch (format) {
          case 'number':
            classes += 'text-center'
            break
          case 'currency':
          case 'date':
            classes += 'text-right'
            break
        }

        return classes
      }
      ,
      /**
       * Funcion para validar si se debe mostrar una columna o no
       * @param column
       * @returns {boolean|*}
       */
      showColumn(column) {
        if (column.hasOwnProperty('visible')) {
          return column.visible
        } else {
          return true
        }
      }
      ,
      countColumns() {
        let columns = 0
        this.columns.map(column => {
          if (column.hasOwnProperty('visible')) {
            if (column.visible) {
              columns++
            }
          } else {
            columns++
          }
        })

        return columns
      }
      ,
      getClassTh(column) {
        let classes = ''

        if (column.hasOwnProperty('orderable')) {
          if (column.orderable) {
            classes = 'th-orderable'
          }
        }

        return classes
      }
      ,
      getWidth(column) {
        let width = ''

        if (column.width) {
          width = column.width
        } else {
          width = "100px"
        }

        return width
      }
    },
    watch: {
      items: function (newVal, oldVal) {
        this.buildData()
      }
      ,
      columns: function (newVal, oldVal) {
        this.buildData()
      }
    }
  }
</script>

<style>
  .date-editable > input {
    width: 222px !important;
    border: none !important;
    border-radius: 0px !important;
    height: 26px !important;
  }

  .select-editable input {
    border: none !important;
    height: 26px;
    padding: 0 7px !important;
  }

  /*  .select-editable .el-input__suffix {
        display: none;
      }*/

  /*
      .select-editable .el-select-dropdown__item {
        font-size: 14px !important;
        height: 24px !important;
        line-height: 24px !important;
      }
    */
</style>

<style>
  .table-grid {
    margin-bottom: 10px !important;
  }

  .table-grid thead {
    background-color: #6699cc;
    color: white;
  }

  .table-grid th {
    padding: 6px 12px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /*  .table-grid a:focus {
        border: none !important;
        outline: none !important;
      }*/

  .table-grid td {
    padding: 3px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cell-editable {
    position: relative;
    overflow: visible !important;
    background-color: #d5f3d3;
    vertical-align: middle !important;
  }

  .cell-editable-selected {
    position: relative;
    overflow: visible !important;
    background-color: #c1e2bf;
  }

  .cell-editing {
    padding: 0px !important;
    background-color: #ffffff;
    vertical-align: middle !important;
  }

  .textarea-grid {
    width: 250px;
    height: 30px;
    position: absolute;
    z-index: 10;
  }

  .input-editable {
    -webkit-appearance: none;
    border: 0px !important;
    box-shadow: none !important;
    outline: none;
    width: 100%;
    margin: 0px;
    height: 27px;
    border-radius: 0px !important;
    padding: 0px 2px;
  }

  .input-editable:focus {
    box-shadow: none !important;
  }

  .p-table {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .selected_row {
    background-color: #b7c3ce !important;
  }

  .noselect {
    /*-webkit-touch-callout: none; /* iOS Safari */
    /*-webkit-user-select: none; /* Safari */
    /*-khtml-user-select: none; /* Konqueror HTML */
    /*-moz-user-select: none; /* Firefox */
    /*-ms-user-select: none; /* Internet Explorer/Edge */
    /*user-select: none;
    /* Versión sin prefijo, actualmente
                                           compatible con Chrome y Opera */
  }

  .select-editable .el-input.is-focus .el-input__inner {
    box-shadow: none !important;
  }

  .td-footer {
    background-color: #ffffff !important;
    border: 0px !important;
  }

  .th-orderable {
    cursor: pointer;
  }
</style>

