<template>
  <div>
    <b-button variant="primary" class="pull-right mx-1" @click="openModal">
      <i class="ti-video-camera"></i>
    </b-button>

    <b-modal
      id="modal-video-tutorial-module"
      centered
      title="Video Tutorial"
      size="xl"
      header-class="header-modal-u2"
      hide-footer
    >
      <template #modal-header="{  }">
        <div class="d-flex justify-content-between w-100 align-items-center">
          <img
            id="logoErp"
            src="../../assets/img/Logo-erp.svg"
            alt="logo erp"
            class="bg-white m-0 p-1"
          />

          <h2 v-if="itemMenuCurrent">
            {{ itemMenuCurrent.description }}
          </h2>
        </div>
      </template>

      <div class="row">
        <div class="col-7">
          <iframe
            class="video-tutorial"
            :src="urlVideoTutorial"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <hr />
          <div class="row" v-if="itemVideoTutorialCurrent">
            <div class="col-12">
              <h3 v-if="itemVideoTutorialCurrent.note">
                Consideraciones Adicionales
              </h3>
              <p
                class="my-1 ql-editor"
                v-html="itemVideoTutorialCurrent.note"
              ></p>
            </div>
          </div>
        </div>

        <div class="col-5 pl-0">
          <b-list-group>
            <b-list-group-item
              v-for="video in menuVideoTutorial"
              :key="video.id"
              button
              @click="setItemVideoTutorialCurrent(video)"
              :active="
                itemVideoTutorialCurrent &&
                  itemVideoTutorialCurrent.id === video.id
              "
              class="p-0"
            >
              <img
                width="140"
                :src="
                  `https://img.youtube.com/vi/${idVideoTutorial(
                    video
                  )}/hqdefault.jpg`
                "
                alt="logo video"
              />
              <h5 class="ml-3 d-inline-block">{{ video.title }}</h5>
            </b-list-group-item>
          </b-list-group>
        </div>
      </div>

      <!-- <div class="row" v-if="itemMenuCurrent">
        <div class="col-md-12 col-sm-12">
          <iframe
            class="video-tutorial"
            :src="urlVideoTutorial"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div> -->
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import moment from "moment";
import { VueEditor } from "vue2-editor";

export default {
  components: {
    VueEditor
  },
  data() {
    return {
      user: {},
      itemMenuCurrent: null,
      itemVideoTutorialCurrent: null,
      content: "",
      updated_at: ""
    };
  },
  computed: {
    ...mapState("menu", ["menu", "menuVideoTutorial"]),
    urlVideoTutorial() {
      if (this.itemVideoTutorialCurrent) {
        if (this.itemVideoTutorialCurrent.url.includes("youtu")) {
          const arrUrl = this.itemVideoTutorialCurrent.url.split("/");

          return `https://www.youtube.com/embed/${arrUrl[arrUrl.length - 1]}`;
        }

        return this.itemVideoTutorialCurrent.url;
      }
      return null;
    }
  },
  methods: {
    ...mapActions("menu", [
      "findAllMenuVideoTutorial",
      "createMenuVideoTutorial",
      "updateMenuVideoTutorial",
      "deleteMenuVideoTutorial"
    ]),
    filteredListMenu() {
      const fullPath = this.$router.currentRoute.fullPath;

      this.menu.map(m => {
        m.first_level.map(fl => {
          fl.second_level.map(async sl => {
            if (
              sl.url
                .normalize("NFD")
                .replace(/[\u0300-\u036f]/g, "")
                .toUpperCase()
                .includes(
                  fullPath
                    .normalize("NFD")
                    .replace(/[\u0300-\u036f]/g, "")
                    .toUpperCase()
                )
            ) {
              this.itemMenuCurrent = sl;
              await this.findAllMenuVideoTutorial(sl.id);
              this.setItemVideoTutorialCurrent(this.menuVideoTutorial[0]);
            }
          });
        });
      });
    },
    openModal() {
      this.$bvModal.show("modal-video-tutorial-module");
    },
    diffDaysAgo(dateTime) {
      const fecha1 = moment(dateTime);
      const fecha2 = moment();

      const yearsDiff = fecha2.diff(fecha1, "years");
      const monthsDiff = fecha2.diff(fecha1, "months");
      const weeksDiff = fecha2.diff(fecha1, "weeks");
      const daysDiff = fecha2.diff(fecha1, "days");
      const hoursDiff = fecha2.diff(fecha1, "hours");
      const minutesDiff = fecha2.diff(fecha1, "minutes");

      if (yearsDiff) {
        return `hace ${yearsDiff} año${yearsDiff > 1 ? "s" : ""}`;
      }

      if (monthsDiff) {
        return `hace ${monthsDiff} mes${monthsDiff > 1 ? "es" : ""}`;
      }

      if (weeksDiff) {
        return `hace ${weeksDiff} semana${weeksDiff > 1 ? "s" : ""}`;
      }

      if (daysDiff) {
        return `hace ${daysDiff} día${daysDiff > 1 ? "s" : ""}`;
      }

      if (hoursDiff) {
        return `hace ${hoursDiff} hora${hoursDiff > 1 ? "s" : ""}`;
      }

      if (minutesDiff) {
        return `hace ${minutesDiff} minuto${minutesDiff > 1 ? "s" : ""}`;
      }

      return "Ahora";
    },
    setItemVideoTutorialCurrent(item) {
      this.itemVideoTutorialCurrent = item;
    },
    idVideoTutorial(video) {
      if (video) {
        if (video.url.includes("youtu")) {
          const arrUrl = video.url.split("/");

          return arrUrl[arrUrl.length - 1];
        }
      }
      return null;
    }
  },
  watch: {
    menu() {
      this.filteredListMenu();
    }
  },
  async created() {
    await this.filteredListMenu();
  }
};
</script>

<style>
.video-tutorial {
  width: 100%;
  height: 500px;
}

/* .editor-notes .ql-container {
  height: 100px !important;
} */

.section-notes {
  max-height: 350px;
  overflow-y: scroll;
}

.list-group-item-action.active {
  background-color: rgb(182, 182, 182);
  border: 1px solid rgb(182, 182, 182);
}
</style>
