<template>
  <b-modal
    centered
    size="xl"
    hide-footer
    ref="modalView"
    :hide-header-close="true"
    no-close-on-esc
    no-close-on-backdrop
    v-model="show"
  >
    <template v-slot:modal-header>
      <div style="width: 100%">
        <div class="row">
          <div class="col-12">
            <span style="font-size: 24px">{{ name }}</span>
            <b-button
              variant="primary"
              size="sm"
              class="float-right ml-2"
              @click.prevent="setShow(false)"
            >
              Cerrar
            </b-button>
            <!-- <b-button
              variant="success"
              size="sm"
              class="float-right"
              @click.prevent="download()"
            >
              Descargar
            </b-button> -->
          </div>
        </div>
      </div>
    </template>

    <el-collapse  v-if="mail_">
      <el-collapse-item name="mail">
        <template slot="title">
          <div class="pl-3">
            <h5 class="font-weight-bold mb-0">
              <i class="fa fa-envelope"></i> &nbsp; ENVIAR POR CORREO
            </h5>
          </div>
        </template>
        <!-- ENVIO DE CORREO -->
        <b-form data-vv-scope="form-mail" @submit.prevent="validateForm()">
          <div class="row">
            <!-- DESTINO -->
            <div class="col-md-6 col-12">
              <label for="to" class="mb-0">Destino</label>
              <el-select
                id="to"
                name="to"
                size="small"
                filterable
                multiple
                data-vv-as=" "
                placeholder="Seleccione destino"
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-validate="'required'"
                v-model="paramsmail.to"
                allow-create
                remote
                :remote-method="_to"
                :disabled="sendingMail"
                @change="validateEmails"
              >
                <el-option
                  v-for="(mail, index) in mails"
                  :key="index"
                  :label="mail.email"
                  :value="mail.email"
                ></el-option>
              </el-select>
              <span class="text-danger span-error">{{
                errors.first("form-mail.to")
              }}</span>
            </div>
            <!-- ASUNTO -->
            <div class="col-md-6 col-12">
              <label for="asunto" class="mb-0">Asunto</label>
              <b-form-input
                type="text"
                id="subject"
                name="subject"
                class="form-control"
                v-validate="'required'"
                data-vv-as=" "
                v-model="paramsmail.subject"
                :disabled="sendingMail"
              ></b-form-input>
              <span class="text-danger span-error">{{
                errors.first("form-mail.subject")
              }}</span>
            </div>

            <div class="col-12">
              <label class="mb-0">Mensaje</label>
              <textarea
                rows="2"
                v-model="paramsmail.body"
                class="form-control"
                :disabled="sendingMail"
              ></textarea>
            </div>
          </div>
          <div class="row">
            <!-- BOTONES -->
            <div class="col-12 mt-2">
              <b-button
                v-if="!sendingMail"
                type="submit"
                size="sm"
                variant="primary"
                class="pull-right ml-2"
              >
                <i class="fa fa-paper-plane"></i> &nbsp; ENVIAR CORREO
              </b-button>
              <b-button
                v-else
                type="submit"
                size="sm"
                variant="primary"
                class="pull-right ml-2"
                disabled
              >
                <i class="fa fa fa-spinner fa-spin"></i>
                ENVIANDO CORREO
              </b-button>
              <el-checkbox
                class="pull-right check-update-email"
                v-model="paramsmail.updateEmailContact"
                :disabled="paramsmail.to.length > 1 || sendingMail"
                >Actualizar correo Cliente / Proveedor</el-checkbox
              >
            </div>
          </div>
        </b-form>
      </el-collapse-item>
    </el-collapse>

    <div v-if="type" style="width: 100%; height: 100%">
      <VueDocPreview
        v-if="type === 'office'"
        :value="url"
        type="office"
        style="width: 100%; height: 100%"
      />
      <iframe
        v-if="type === 'pdf'"
        style="width: 100%; height: 100%"
        :src="url"
      ></iframe>
      <div
        v-if="type === 'image'"
        class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12"
        style="width: 100%; height: 100%"
      >
        <img :src="url" style="width: 100%; height: 100%" />
      </div>
    </div>
  </b-modal>
</template>

<script>
import VueDocPreview from "vue-doc-preview";
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  name: "ModalPdf",
  components: {
    VueDocPreview,
  },
  data(){
    return {
      to:''
    }
  },
  props: {
    show:{
      required: false,
      type: Boolean,
      default: false,
    },
    mail_: {
      required: false,
      type: Boolean,
      default: false,
    },
    type: {
      required: true,
      type: String,
      default: null,
    },
    name: {
      required: true,
      type: String,
    },
    url: {
      required: true,
      type: String,
    },
    jobs_interactions_docs_id: {
      required: false,
      type: Number,
    },
    jobs_docs_id: {
      required: false,
      type: Number,
    },
    jobs_interactions_docs_name: {
      required: false,
      type: String,
    },
    jobs_docs_name: {
      required: false,
      type: String,
    },
    contact_id:{
      required: false,
      type: Number,
      default: null,
    }
  },
  created(){
    this.searchmails()
  },
  computed: {
    ...mapState("modaldocs", ["modalAttachment",
     "send_mail",
     "sendingMail",
     'paramsmail',
     'mails']),
  },
  methods: {
    ...mapActions("modaldocs", ["searchmails",'sendmail', 'updatemail' ]),
    ...mapMutations("modaldocs", ["setModalAttachment", "setsendingMail"]),
    setShow(){
      // this.show = false
      this.$emit("setShowFalse", false);
    },
    async validateForm() {
      await this.$validator.validateAll("form-mail").then(async result => {
        this.setsendingMail(true);
        if (result) {
          this.param = {
            to: this.paramsmail.to,
            subject: this.paramsmail.subject,
            filename: this.name.slice(8),
            body: this.paramsmail.body
          };
          if (this.updateEmailContact && this.to.length == 1) {
            await this._updatemail();
          }
          await this.sendmail(this.param).then(response => {
            this.paramsmail.to = [];
            this.paramsmail.subject = "";
            this.paramsmail.body = "";
            this.paramsmail.activeCollapse = "other";
            this.paramsmail.updateEmailContact = false;
          });
        }
        this.sendingMail = false;
      });
    },
    async _updatemail() {
      if (this.contact_id != null) {
        await this.updatemail(this.to[0], this.contact_id);
      }
    },
    validateEmails(emails) {
      this.paramsmail.to = this.paramsmail.to.filter(e => {
        return this.validateEmail(e);
      });
    },
    validateEmail(email) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
      }
      return false;
    },
    download() {
      if (this.jobs_docs_id != null && this.jobs_docs_id != "") {
        this.downloadDoc({ id: this.jobs_docs_id, name: this.jobs_docs_name });
      }
      if (
        this.jobs_interactions_docs_id != null &&
        this.jobs_interactions_docs_id != ""
      ) {
        this.downloadInteractionDoc({
          id: this.jobs_interactions_docs_id,
          name: this.jobs_interactions_docs_name,
        });
      }
    },
    _to(filter) {
      if (filter.length >= 3) {
        this.searchmails(filter);
      }
    },
  },
};
</script>

<style>

</style>
