<template>
  <el-dropdown>
  <span class="el-dropdown-link">
        <i class="fa fa-fw fa-bell-o mt-4 mr-3" style="color: #949494;font-size: 22px;"></i>
        <div class="count-notification text-center" v-if="notifications.length">{{notifications.length}}</div>
  </span>
    <el-dropdown-menu slot="dropdown" class="notifications">
      <el-dropdown-item>
        <div class="small" @click="toUrlNotification({url:'/job'})">
          <button class="btn btn-sm btn-primary btn-block mb-2" @click="toUrlNotification({url: '/job'})">
            <i class="fa fa-tasks"> </i> Nuevo job
          </button>
        </div>
      </el-dropdown-item>
      <el-dropdown-item v-for="(notification, index) in notifications" :key="index">
        <div class="small" @click="toUrlNotification(notification)">
          <p class="title-notification">
            <span class="font-weight-bold text-primary">
              <i class="fa fa-file-text"/> {{notification.title}}
              <i class="fa fa-close text-muted pull-right"
                 v-if="!!notification.close"
                 @click.stop="deleteNotificationForIndex(index)"
              />
            </span>
          </p>
          <p class="p-notification" v-for="item in notification.text">
            <span class="font-weight-bold" v-text="item.key"/> {{item.value}}
          </p>
        </div>
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>

  import Pusher from 'pusher-js'
  import {mapActions, mapMutations, mapState} from "vuex";

  export default {
    name: "index",
    data() {
      return {
        pusher: null,
        channel: null
      }
    },
    mounted() {
      //Pusher.logToConsole = true
      this.pusher = new Pusher('72b0feb74d58c50c584b', {
        cluster: 'us2'
      });
      this.addChannelForDocumentsToAuthorize()
      this.getDocumentsToAuthorize(false)
      this.validatePermissionNotifications()
      this.getJobs()
      this._getJobs()
    },
    methods: {
      ...mapActions('Notifications', ['getDocumentsToAuthorize', 'getJobs']),
      ...mapMutations('Notifications', ['deleteNotificationForIndex']),
      validatePermissionNotifications() {
        document.addEventListener('DOMContentLoaded', () => {
          if (!Notification) {
            return
          }

          if (Notification.permission !== 'granted') {
            Notification.requestPermission()
          }
        })
      },
      addChannelForDocumentsToAuthorize() {
        this.channel = this.pusher.subscribe('documents_to_authorize');

        this.channel.bind('new_document', (data) => {
          this.getDocumentsToAuthorize()
        });
      },
      toUrlNotification(notification) {
        if (this.$router.currentRoute.fullPath !== notification.url) {
          this.$router.push(notification.url)
          if (notification.type === 'job'){
            location.reload()
          }
        }
      },
      _getJobs() {
        setInterval(() => {
          this.getJobs()
        }, 120000);
      }
    },
    computed: {
      ...mapState('Notifications', ['notifications'])
    }
  }
</script>

<style>
  .count-notification {
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    font-size: 9px;
    position: absolute;
    top: 20px;
    right: 14px;
    color: #fff;
    line-height: 11px;
  }

  .p-notification {
    line-height: 0px;
  }

  .title-notification {
    margin-top: 4px;
    line-height: 2px;
  }

  .notifications .el-dropdown-menu__item {
    padding: 1px 8px !important;
    border-bottom: 1px solid #dedede !important;
  }
</style>
