<template>
  <div class="container-template">
    <b-modal
      :id="idModal"
      title="CARTERA"
      size="xl"
    >
      <!-- TABLA -->
      <div class="row">
        <div class="col-12">
          <b>El id del cliente es: </b>{{contactId}}
        </div>
        <div class="col-md-12">
          <b-table
            responsive
            :items="data"
            :fields="fields"
            data-vv-name="table"
            class="table-order"
            striped
            small
            @row-clicked="item=>$set(item, '_showDetails', !item._showDetails)"
          >
            <template v-slot:cell(detail)="row">
              <i
                title="Ver Pagos"
                class="btn-icon-detail"
                :class="!row.detailsShowing ? 'fa fa-fw fa-chevron-down' : 'fa fa-fw fa-chevron-up'"
                @click="row.toggleDetails"
              ></i>
            </template>

            <!-- Detalle de los productos -->
            <template v-slot:row-details="row">
              <div
                class="content-detail"
                style="width:85%; margin: auto"
              >
                <div style="text-align: center; font-weight:600 ">Productos</div>

                <table class="table table-hover bg-white table-striped table-bordered table-sm">
                  <thead class="bg-u2">
                    <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Cantidad</th>
                      <th>precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </template>

          </b-table>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'ReceivableModal',
  props: ['contactId', 'idModal'],
  data () {
    return {
      fields: [
        { key: 'detail', label: '' },
        { key: 'document.voucher_date', label: 'Fecha Factura', thStyle: { 'min-width': '100px !important' } },
        { key: 'document.consecutive', label: 'Numero Factura', thStyle: { 'min-width': '100px !important' } },
        { key: 'expiration', label: 'Dias de Vencimiento', thStyle: { 'min-width': '100px !important' } },
        { key: 'value', label: 'Valor Facturado', thStyle: { 'min-width': '100px !important' } },
        { key: 'day', label: 'Dias de Factura', thStyle: { 'min-width': '100px !important' } },
        { key: 'discount', label: 'Dcto PP', thStyle: { 'min-width': '100px !important' } },
        { key: 'total', label: 'Saldo Factura', thStyle: { 'min-width': '100px !important' } },
      ],
      data: [
        { detail: '', document: { voucher_date: '2019-07-12' }, document: { consecutive: '22893' }, expiration: '47', value: '$ 4,025,770', day: '77', discount: '$ 0', total: '$ 559,799', },
        { detail: '', document: { voucher_date: '2019-08-12' }, document: { consecutive: '22894' }, expiration: '84', value: '$ 4,025,770', day: '77', discount: '$ 0', total: '$ 559,799', },
        { detail: '', document: { voucher_date: '2019-09-12' }, document: { consecutive: '22895' }, expiration: '56', value: '$ 4,025,770', day: '77', discount: '$ 0', total: '$ 559,799', },
        { detail: '', document: { voucher_date: '2019-10-12' }, document: { consecutive: '22896' }, expiration: '52', value: '$ 4,025,770', day: '77', discount: '$ 0', total: '$ 559,799', },
      ],
    }
  },
  methods: {
    expandAdditionalInfo (row) {
      row._showDetails = !row._showDetails
    },
  },
}
</script>

<style>
.modal-content {
  width: 100% !important;
}
.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
.modal-header {
  background: #007db3 !important;
  color: #fff;
}
.table-order .b-table > thead {
  background-color: #6699cc;
  color: white;
}

.btn-icon-detail {
  cursor: pointer;
}
.btn-icon-detail:hover {
  opacity: 0.6;
}

.content-detail table > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table > tbody td {
  background-color: #fff;
}
</style>
