<template>
  <div class="container-template">
   

    <!-- boton para escargar en csv -->

    <div  class="row d-flez justify-content-end">
      <div class="btn btn-primary mb-3" @click="getReceivableCSV(contactId)"
      v-if="!receivables.length<=0"> Descargar excel</div>
    </div>
 <!-- TABLA -->
    <b-table
      class="table-receivable"
      responsive
      :items="receivables"
      :fields="fields"
      :tbody-tr-class="rowClass"
      foot-clone
      @row-clicked="item => $set(item, '_showDetails', !item._showDetails)"
    >
      <template v-slot:cell(detail)="row">
        <i
          v-if="row.item.pay_receivables != ''"
          v-b-tooltip.bottom
          title="Ver Pagos"
          class="fa fa-fw fa-chevron-down"
          @click="row.toggleDetails"
        ></i>
      </template>

       <template v-slot:cell(issue_date)="row">
        {{ row.item.document_date.substr(0,10) }}
      </template> 
      <template v-slot:cell(total_value)="row"
        >{{ row.item.total_value | currency }}
      </template>

      <template v-slot:cell(dctpp)="row">{{
        row.item.dctpp | currency
      }}</template>

      <template v-slot:cell(total_balance)="row"
        >{{ row.item.receivable[0].invoice_balance | currency }}
      </template>

      <!-- DETALLE -->
      <template slot="row-details" slot-scope="row">
        <div style="width:85%; margin: auto">
          <div
            style="text-align: center; font-weight:600 "
            v-if="row.item.transactions.length > 0"
          >
            Movimientos
          </div>
          <table
            class="table table-bordered children"
            v-if="row.item.transactions.length > 0"
          >
            <thead style="text-align: center;">
              <tr>
                <th>Fecha</th>
                <th>Comprobante</th>
                <th>Debito</th>
                <th>Credito</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody class>
              <tr v-for="inv in row.item.transactions" :key="inv.id">
                <td>{{ inv.document_date }}</td>
                <td style="text-align: center;">
                  <div
                    v-if="
                      inv.transaction_type == 'D' &&
                        inv.document.vouchertype.code_voucher_type == '205'
                    "
                  >
                    {{
                      inv.document.vouchertype.name_voucher_type +
                        " - " +
                        inv.document_number
                    }}
                  </div>
                  <div
                    v-else-if="
                      inv.transaction_type == 'D' &&
                        inv.document.vouchertype.code_voucher_type == '444'
                    "
                  >
                    {{ inv.voucher_type }}
                  </div>
                  <div v-else>
                    {{ inv.voucher_type + " - " + inv.document_number }}
                  </div>
                </td>
                <!-- debito -->
                <td style="text-align: center;">
                  <div v-if="inv.transaction_type == 'D'">
                    {{ inv.transaction_value | currency }}
                  </div>
                </td>
                <!-- credito -->
                <td style="text-align: center;">
                  <div v-if="inv.transaction_type == 'C'">
                    {{ inv.transaction_value | currency }}
                  </div>
                </td>

                <td>
                  <div
                    id="color"
                    style="text-align: center;"
                    v-if="
                      inv.transaction_type == 'C' &&
                        inv.payment_applied_erp == 0
                    "
                  >
                    <p>En Proceso</p>
                  </div>
                  <div v-else>
                    {{ inv.balance | currency }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </template>

      <template v-slot:foot(issue_date)="data">
        <p class="text-white"></p>
      </template>
      <template v-slot:foot(due_date)="data">
        <p class="text-white"></p>
      </template>
      <template v-slot:foot(consecutive)="data">
        <p class="text-white"></p>
      </template>
      <template v-slot:foot(expiration_days)="data">
        <p class="text-white"></p>
      </template>
      <template v-slot:foot(total_value)="data">
        <p class="text-white"></p>
      </template>
      <template v-slot:foot(document_days)="data">
        <p class="text-white"></p>
      </template>

      <template v-slot:foot(dctpp)="data" colspan="8">
        <span class="text-danger">Saldo Total</span>
      </template>
      <template v-slot:foot(total_balance)="data" colspan="8">
        <span class="text-danger">{{ invoiceBalance | currency }}</span>
      </template>
    </b-table>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";

export default {
  props: ["contactId"],
  data() {
    return {
      fields: [
        { key: "detail", label: "" },
        {
          key: "issue_date",
          label: "Fecha Factura",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "due_date",
          label: "Fecha Vencimiento",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "consecutive",
          label: "Numero Factura",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "expiration_days",
          label: "Dias de Vencimiento",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "total_value",
          label: "Valor Facturado",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "document_days",
          label: "Dias de Factura",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "dctpp",
          label: "Dcto PP",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "total_balance",
          label: "Saldo Factura",
          thStyle: { "min-width": "100px !important" }
        }
      ]
    };
  },
  created() {
    this.initComponent();
  },
  methods: {
    async initComponent() {
      await this.fetchReceivablesByContactId(this.contactId);
    },
    rowClass(item, type) {
      if (!item) return;
      if (item.expiration_days > 60) return "table-danger";
    },
    expandAdditionalInfo(row) {
      row._showDetails = !row._showDetails;
    },

    //
    ...mapActions("receivable", ["fetchReceivablesByContactId",'getReceivableCSV'])
  },
  computed: {
    ...mapState("receivable", ["receivables", "params"]),
    ...mapGetters("receivable", ["getParams"]),
    invoiceBalance: function() {
      let total = 0;
      if (this.receivables) {
        this.receivables.map(element => {
          total += element.receivable[0].invoice_balance;
        });
      }

      return total;
    }
  }
};
</script>

<style>
.modal-content {
  width: 100% !important;
}

.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}

.modal-header {
  background: #007db3 !important;
  color: #fff;
}

.table-order .b-table > thead {
  background-color: #6699cc;
  color: white;
}

.btn-icon-detail {
  cursor: pointer;
}

.btn-icon-detail:hover {
  opacity: 0.6;
}

.content-detail table > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table > tbody td {
  background-color: #fff;
}

.children,
.children td {
  background: white;
}

#color {
  background: #fe6806;
  color: #fff;
  width: 100%;
}

#color p {
  margin: auto;
}

.table-receivable td {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .table-receivable tr {
    height: 45px;
  }
}
</style>
