<template>
  <card title="<i class='fa fa-table'></i> Tablas de parametros">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
            <b-button
              to="/tablas-parametros/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <TableParameterTable />
      </div>
    </div>
  </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import { MessageBox } from 'element-ui';
import Card from '../../components/pages/card/card'
import TableParameterTable from '../../components/pages/param-tables/TableParameterTable'

export default {
  components: {
    Card,
    TableParameterTable
  },
  data () {
    return {

    }
  },
  created () {
    /*this.setGetParamTableEdit(true)
    this.resetSelectedParamTable()
    this.resetSelectedParameter()*/
  },
  methods: {
    ...mapActions('paramTables', [
      'fetchParamTables',
      'removeParamTable',
      'getParamTable',
      'setFilterPagination',
      'setPerPagePagination',
      'setPagePagination',
      'setSortByPagination',
      'setSortPagination'
    ]),
    ...mapMutations('paramTables', [
      'setAction',
      'setParamTable',
      'resetSelectedParamTable',
      'setPerPage',
      'setFilter',
      'setGetParamTableEdit',
      'resetSelectedParameter'
    ]),
  },
  computed: {
    ...mapGetters('paramTables', ['getParams']),
    ...mapState('paramTables', [
      'paramTables',
      'selectedParamTable',
      'action',
      'params'
    ])
  },
}
</script>

<!-- boton crear  -->
<style lang="sass">
  @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
<style>
.background-thead {
  background-color: #cbcbcb;
}
</style>



