<template>
<div>
    <div class="row" >
        <div class="col-md-12">
            <card :title="'<i class=\'fa fa-fw ti-pencil\'></i> ' +  labelPrinci + ' Parametros'">
                <div style="margin-top:20px" v-if="loader">
                    <loader></loader>
                </div>
                <div v-else >
                    <b-tabs pills v-model="tabIndex">
                         <!-- PARAMETROS -->
                        <b-tab title="Parametros" class="mt-3"  :title-link-class="errorsParameters" :disabled="disabledTabs">
                            <form @submit.prevent="validateParameter()" data-vv-scope="form-parameter">
                            <!-- <parameters :disabled-inputs="isDisabled"></parameters> -->
                                <b-card-body>
                            <div class="row">
                                <div  v-if="selectedParamTable.desc_code_parameter" class="form-group col-sm-6 col-md-3" v-bind:class="errors.has('form-parameter.code_parameter') ? 'form-group-error': ''">
                                    <label for="code_parameter">
                                        {{selectedParamTable.desc_code_parameter}} <span class="text-danger">*</span>
                                    </label>
                                    <input type="text"
                                        id="code_parameter"
                                        name="code_parameter"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'required|max:10'"
                                        data-vv-as=" "
                                        v-model="selectedParameter.code_parameter">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.code_parameter') }}
                                    </span>
                                </div>
                                <div v-if="selectedParamTable.desc_name_parameter" class="form-group col-sm-6 col-md-3" v-bind:class="errors.has('form-parameter.name_parameter') ? 'form-group-error': ''">
                                    <label for="name_parameter">
                                        {{selectedParamTable.desc_name_parameter}} <span class="text-danger">*</span>
                                    </label>
                                    <input type="text"
                                        id="name_parameter"
                                        name="name_parameter"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'required|max:45'"
                                        style="text-transform: uppercase;"
                                        data-vv-as=" "
                                        v-model="selectedParameter.name_parameter">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.name_parameter') }}
                                    </span>
                                </div>
                                <!--Alphanúmericos-->
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_alphanum_data_first != null && selectedParamTable.desc_alphanum_data_first != ''"
                                    v-bind:class="errors.has('form-parameter.alphanum_data_first') ? 'form-group-error': ''">
                                    <label for="alphanum_data_first">
                                        {{selectedParamTable.desc_alphanum_data_first}}
                                    </label>
                                    <input type="text"
                                        id="alphanum_data_first"
                                        name="alphanum_data_first"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'max:60'"
                                        data-vv-as=" "
                                        v-model="selectedParameter.alphanum_data_first">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.alphanum_data_first') }}
                                    </span>
                                </div>
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_alphanum_data_second != null && selectedParamTable.desc_alphanum_data_second != ''"
                                    v-bind:class="errors.has('form-parameter.alphanum_data_second') ? 'form-group-error': ''">
                                    <label for="alphanum_data_second">
                                        {{selectedParamTable.desc_alphanum_data_second}}
                                    </label>
                                    <input type="text"
                                        id="alphanum_data_second"
                                        name="alphanum_data_second"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'max:60'"
                                        data-vv-as=" "
                                        v-model="selectedParameter.alphanum_data_second">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.alphanum_data_second') }}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_alphanum_data_third != null && selectedParamTable.desc_alphanum_data_third != ''"
                                    v-bind:class="errors.has('form-parameter.alphanum_data_third') ? 'form-group-error': ''">
                                    <label for="alphanum_data_third">
                                        {{selectedParamTable.desc_alphanum_data_third}}
                                    </label>
                                    <input type="text"
                                        id="alphanum_data_third"
                                        name="alphanum_data_third"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'max:60'"
                                        data-vv-as=" "
                                        v-model="selectedParameter.alphanum_data_third">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.alphanum_data_third') }}
                                    </span>
                                </div>
                                <!--Númericos-->
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_numeric_data_first != null && selectedParamTable.desc_numeric_data_first != ''"
                                    v-bind:class="errors.has('form-parameter.numeric_data_first') ? 'form-group-error': ''">
                                    <label for="numeric_data_first">
                                        {{selectedParamTable.desc_numeric_data_first}}
                                    </label>
                                    <input type="number"
                                        step = "any"
                                        id="numeric_data_first"
                                        name="numeric_data_first"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'max:60'"
                                        data-vv-as=" "
                                        v-model="selectedParameter.numeric_data_first">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.numeric_data_first') }}
                                    </span>
                                </div>
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_numeric_data_second != null && selectedParamTable.desc_numeric_data_second != ''"
                                    v-bind:class="errors.has('form-parameter.numeric_data_second') ? 'form-group-error': ''">
                                    <label for="numeric_data_second">
                                        {{selectedParamTable.desc_numeric_data_second}}
                                    </label>
                                    <input type="number"
                                        step = "any"
                                        id="numeric_data_second"
                                        name="numeric_data_second"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'max:60'"
                                        data-vv-as=" "
                                        v-model="selectedParameter.numeric_data_second">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.numeric_data_second') }}
                                    </span>
                                </div>
                                <div class="form-group col-sm-6 col-md-3" v-if=" selectedParamTable.desc_numeric_data_third != null && selectedParamTable.desc_numeric_data_third != ''"
                                    v-bind:class="errors.has('form-parameter.numeric_data_third') ? 'form-group-error': ''">
                                    <label for="numeric_data_third">
                                        {{selectedParamTable.desc_numeric_data_third}}
                                    </label>
                                    <input type="number"
                                        step = "any"
                                        id="numeric_data_third"
                                        name="numeric_data_third"
                                        class="form-control"
                                        :disabled="isDisabled"
                                        v-validate="'max:60'"
                                        data-vv-as=" "
                                        v-model="selectedParameter.numeric_data_third">
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.numeric_data_third') }}
                                    </span>
                                </div>

                                <!--Fechas-->
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_date_data_first != null && selectedParamTable.desc_date_data_first != ''"
                                    v-bind:class="errors.has('form-parameter.date_data_first') ? 'form-group-error': ''">

                                    <label for="date_data_first" >
                                    {{selectedParamTable.desc_date_data_first}}
                                    </label>
                                    <br>
                                    <el-date-picker
                                        v-model="selectedParameter.date_data_first"
                                        type="date"
                                        id="date_data_first"
                                        name="date_data_first"
                                        :disabled="isDisabled"
                                        v-validate="'date_format:YYYY-MM-DD'"
                                        data-vv-as=" "
                                        placeholder=""
                                        label-position="top"
                                        value-format="yyyy-MM-dd">
                                    </el-date-picker>
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.date_data_first') }}
                                    </span>
                                </div>
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_date_data_second != null && selectedParamTable.desc_date_data_second != ''"
                                    v-bind:class="errors.has('form-parameter.date_data_second') ? 'form-group-error': ''">
                                    <label for="date_data_second">
                                        {{selectedParamTable.desc_date_data_second}}
                                    </label>
                                    <br>
                                    <el-date-picker
                                        v-model="selectedParameter.date_data_second"
                                        type="date"
                                        placeholder=""
                                        id="date_data_second"
                                        name="date_data_second"
                                        :disabled="isDisabled"
                                        v-validate="'date_format:YYYY-MM-DD'"
                                        data-vv-as=" "
                                        value-format="yyyy-MM-dd">
                                    </el-date-picker>

                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.date_data_second') }}
                                    </span>
                                </div>
                                <div class="form-group col-sm-6 col-md-3" v-if="selectedParamTable.desc_date_data_third != null && selectedParamTable.desc_date_data_third != ''"
                                    v-bind:class="errors.has('form-parameter.date_data_third') ? 'form-group-error': ''">
                                    <label for="date_data_third">
                                        {{selectedParamTable.desc_date_data_third}}
                                    </label>
                                    <br>
                                    <el-date-picker
                                        v-model="selectedParameter.date_data_third"
                                        type="date"
                                        placeholder=""
                                        id="date_data_third"
                                        :disabled="isDisabled"
                                        name="date_data_third"
                                        v-validate="'date_format:YYYY-MM-DD'"
                                        data-vv-as=" "
                                        value-format="yyyy-MM-dd">
                                    </el-date-picker>
                                    <i class="text-danger icon-error"> </i>
                                    <span class="text-danger span-error">
                                        {{ errors.first('form-parameter.date_data_third') }}
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3" v-if="selectedParamTable.line == 1">
                                    <label for="template">Líneas</label>
                                    <el-select
                                        v-model="selectedParameter.line_id"
                                        filterable
                                        @remove-tag="deleteTags"
                                        placeholder="Seleccione una Linea"
                                        no-data-text="Cargando datos..."
                                        no-match-text="No hay datos que coincidan"
                                        @focus="fetchLines()"
                                    >
                                    <el-option
                                        v-for="line in lines"
                                        :key="line.id"
                                        :value="line.id"
                                        :label="line.line_code+' - '+line.line_description"
                                    >
                                    </el-option>
                                    </el-select>
                                </div>
                                <div class="col-3" v-if="selectedParamTable.subline == 1">
                                    <label for="branchOffice">Sub Línea</label>
                                    <el-select
                                        v-model="selectedParameter.subline_id"
                                        filterable
                                        @remove-tag="deleteTags"
                                        placeholder="Seleccione sub linea"
                                        no-data-text="Cargando datos..."
                                        no-match-text="No hay datos que coincidan"
                                        @focus="fetchSublines()"
                                    >
                                        <el-option
                                            v-for="subline in sublines"
                                            :key="subline.id"
                                            :value="subline.id"
                                            :label="subline.subline_code+' - '+subline.subline_description"
                                        >
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col-3" v-if="selectedParamTable.city == 1">
                                    <label for="city">Ciudad</label>

                                    <el-select
                                        id="city"
                                        filterable
                                        placeholder="Seleccione Ciudad"
                                        no-data-text="Cargando datos..."
                                        no-match-text="No hay datos que coincidan"
                                        v-model="selectedParameter.city_id"
                                        remote
                                        :remote-method="_cities"
                                    >
                                        <el-option
                                        v-for="city in cities"
                                        :key="city.id"
                                        :label="city.city_code+ ' - ' +city.city"
                                        :value="city.id"
                                        >
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col-3" v-if="selectedParamTable.branchoffice_warehouses == 1">
                                    <label for="branchoffice_warehouses">Bodega</label>
									<el-select 
										id="branchoffice_warehouses"
										name="branchoffice_warehouses"
										filterable
										placeholder=" "
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="selectedParameter.branchoffice_warehouses_id"
										clearable
									>
										<!-- <el-option
											v-for="branchOffice in branchOffices"
											:key="branchOffice.id"
											:label="branchOffice.code+ ' - ' +branchOffice.name"
											:value="branchOffice.id"
										>
										</el-option> -->
                                        <el-option-group
                                        v-for="branchOffice in branchOffices"
                                        :key="branchOffice.id"
                                        :label="branchOffice.code + ' - ' +branchOffice.name">
                                        <el-option
                                            v-for="bw in branchOffice.warehouses"
                                            :key="bw.id"
                                            :label="bw.warehouse_code+ ' - ' + bw.warehouse_description"
                                            :value="bw.id">
                                        </el-option>
                                        </el-option-group>
									</el-select>
                                </div>
                            </div>


                            <div class="row pt-2">
                                <div class="form-group col-sm-6 col-md-6" v-if="selectedParamTable.desc_image != null && selectedParamTable.desc_image != ''">
                                    <label for="first_logo">Imagen</label>
                                    <div v-if="imagen != '' && imagen != null">
                                        <img :src="imagen" :alt="selectedParameter.name_parameter" width="200px">
                                        <b-button
                                            v-if="!isDisabled"
                                            type="submit"
                                            class="btn btn-labeled btn-danger btn-sm"
                                            @click.prevent="imagen = null">
                                        <span class="btn-label">
                                        <i class="fa fa-trash"></i>
                                        </span> Eliminar
                                        </b-button>
                                    </div>
                                    <div v-else>
                                        <b-form-file
                                            placeholder
                                            :disabled="isDisabled"
                                            class="form-control"
                                            accept="image/jpeg, image/png, image/gif"
                                            @change="cargarImagen"
                                        ></b-form-file>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- observaciones de la tabla de parametro -->
                            <div class="row">
                                <div class="form-group  col-sm-6 col-md-6">
                                    <label for="observation">
                                        Observación
                                    </label>
                                    <textarea name="observation"
                                            id="observation"
                                            class="form-control"
                                            v-validate="'min:5|max:255'"
                                            :disabled="true"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.observation">
                                    </textarea>
                                </div>
                            </div>

                            <div class="row" v-if="!isDisabled">
                                <div class="form-group col-12">
                                    <b-button type="submit" class="btn btn-labeled btn-primary float-right ml-1 otro-boton">
                                        <span class="btn-label">
                                            <i class="ti-save-alt"> </i>
                                        </span> &nbsp; {{ this.actionParameter == 'create' ? 'Guardar' : 'Actualizar' }}
                                    </b-button>
                                    <b-button type="button" id="limpiar" class="btn btn-labeled btn-secondary float-right" @click="clearParameter()">
                                        <span class="btn-label">
                                            <i class="ti-close"> </i>
                                        </span> &nbsp; {{ this.actionParameter == 'create' ? 'Limpiar' : 'Nuevo' }}
                                    </b-button>
                                </div>
                            </div>
                            </b-card-body>
                            </form>
                                <!--ACORDEON PARAMETROS-->
                            <b-card no-body class="mb-1">
                                <b-btn block href="#" v-b-toggle.parameters-list id="acordeon">{{selectedParamTable.name_table}}</b-btn>
                                <b-collapse id="parameters-list" visible ole="tabpanel">
                                    <b-card-body>
                                        <div class="row">
                                            <div class="col-12 table-responsive">
                                                <b-table striped hover show-empty
                                                        :items="parameters"
                                                        :fields="parametersTable"
                                                        empty-text="No existen parametros registrados"
                                                >
                                                    <!--Template para cargar las acciones-->
                                                    <template v-slot:cell(actions)="row">
                                                          <b-button size="sm" id="botones" class="button-table"
                                                                @click="setParameterComp(row.item)">
                                                            {{ isDisabled ? 'Ver' : 'Editar'}}
                                                        </b-button>
                                                        <b-button size="sm" variant="danger" v-if="!isDisabled" class="button-table"
                                                                @click="questionDeleteParameter(row.item)">
                                                            Eliminar
                                                        </b-button>
                                                    </template>
                                                    <template v-slot:cell(line)="row">
                                                        <p v-if="row.item.line != null">{{row.item.line.line_code}} - {{row.item.line.line_description}}</p>
                                                    </template>
                                                    <template v-slot:cell(subline)="row">
                                                        <p v-if="row.item.sub_line != null">{{row.item.sub_line.subline_code}} - {{row.item.sub_line.subline_description}}</p>
                                                    </template>
                                                    <template v-slot:cell(city)="row">
                                                        <p v-if="row.item.city != null">{{row.item.city.city_code}} - {{row.item.city.city}}</p>
                                                    </template>
                                                    <template v-slot:cell(branchoffice_warehouses)="row">
                                                        <p class="p-0 m-0" v-if="row.item.branchoffice_warehouse != null">{{row.item.branchoffice_warehouse.branchoffice.name}}</p>
                                                        <p class="p-0 m-0" v-if="row.item.branchoffice_warehouse != null">{{row.item.branchoffice_warehouse.warehouse_code}} - {{row.item.branchoffice_warehouse.warehouse_description}}</p>
                                                    </template>
                                                </b-table>
                                            </div>
                                        </div>
                                    </b-card-body>
                                </b-collapse>
                            </b-card>
                        </b-tab>
                        <!--PESTAÑA INFORMACIÓN GENERAL-->
                        <b-tab title="Config. Tabla"  class="mt-3" :title-link-class="errorsParamTable" >
                            <form @submit.prevent="validateForm()" data-vv-scope="form">
                                <!--Información obligatoria-->
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.code_table') ? 'form-group-error': ''">
                                        <label for="code_table" >
                                            Código de la tabla <span class="text-danger">*</span>
                                        </label>
                                        <input type="text"
                                            id="code_table"
                                            name="code_table"
                                            class="form-control"
                                            :disabled="isDisabled"
                                            v-validate="'required|max:10'"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.code_table">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.code_table') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.name_table') ? 'form-group-error': ''">
                                        <label for="name_table" >
                                            Nombre de la tabla <span class="text-danger">*</span>
                                        </label>
                                        <input type="text"
                                            id="name_table"
                                            name="name_table"
                                            class="form-control"
                                            :disabled="isDisabled"
                                            style="text-transform: uppercase;"
                                            v-validate="'required|max:45'"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.name_table">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.name_table') }}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_code_parameter') ? 'form-group-error': ''">
                                        <label for="desc_code_parameter">
                                            Descripción código de parámetro 
                                        </label>
                                        <input type="text"
                                            id="desc_code_parameter"
                                            name="desc_code_parameter"
                                            class="form-control"
                                            v-validate="'max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_code_parameter">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_code_parameter') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_name_parameter') ? 'form-group-error': ''">
                                        <label for="desc_name_parameter">
                                            Descripción nombre de parámetro 
                                        </label>
                                        <input type="text"
                                            id="desc_name_parameter"
                                            name="desc_name_parameter"
                                            class="form-control"
                                            v-validate="'max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_name_parameter">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_name_parameter') }}
                                        </span>
                                    </div>
                                </div>
                                <!--Datos alfanuméricos opcionales-->
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_alphanum_data_first') ? 'form-group-error': ''">
                                        <label for="desc_alphanum_data_first">
                                            Descripción dato alfanumérico 1
                                        </label>
                                        <input type="text"
                                            v-model="selectedParamTable.desc_alphanum_data_first"
                                            id="desc_alphanum_data_first"
                                            name="desc_alphanum_data_first"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" ">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_alphanum_data_first') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_alphanum_data_second') ? 'form-group-error': ''">
                                        <label for="desc_alphanum_data_second">
                                            Descripción dato alfanumérico 2
                                        </label>
                                        <input type="text"
                                            id="desc_alphanum_data_second"
                                            name="desc_alphanum_data_second"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_alphanum_data_second">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_alphanum_data_second') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_alphanum_data_third') ? 'form-group-error': ''">
                                        <label for="desc_alphanum_data_third">
                                            Descripción dato alfanumérico 3
                                        </label>
                                        <input type="text"
                                            id="desc_alphanum_data_third"
                                            name="desc_alphanum_data_third"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_alphanum_data_third">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_alphanum_data_third') }}
                                        </span>
                                    </div>
                                </div>
                                <!--Datos numéricos opcionales-->
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_numeric_data_first') ? 'form-group-error': ''">
                                        <label for="desc_numeric_data_first">
                                            Descripción dato numérico 1
                                        </label>
                                        <input type="text"
                                            id="desc_numeric_data_first"
                                            name="desc_numeric_data_first"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_numeric_data_first">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_numeric_data_first') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_numeric_data_second') ? 'form-group-error': ''">
                                        <label for="desc_numeric_data_second">
                                            Descripción dato numérico 2
                                        </label>
                                        <input type="text"
                                            id="desc_numeric_data_second"
                                            name="desc_numeric_data_second"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_numeric_data_second">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_numeric_data_second') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_numeric_data_third') ? 'form-group-error': ''">
                                        <label for="desc_numeric_data_third">
                                            Descripción dato numérico 3
                                        </label>
                                        <input type="text"
                                            id="desc_numeric_data_third"
                                            name="desc_numeric_data_third"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_numeric_data_third">
                                        <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_numeric_data_third') }}
                                        </span>
                                    </div>
                                </div>
                                <!--Datos de fecha opcionales-->
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_date_data_first') ? 'form-group-error': ''">
                                        <label for="desc_date_data_first">
                                            Descripción dato de fecha 1
                                        </label>
                                        <input type="text"
                                            id="desc_date_data_first"
                                            name="desc_date_data_first"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_date_data_first">
                                    <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_date_data_first') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_date_data_second') ? 'form-group-error': ''">
                                        <label for="desc_date_data_second">
                                            Descripción dato de fecha 2
                                        </label>
                                        <input type="text"
                                            id="desc_date_data_second"
                                            name="desc_date_data_second"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_date_data_second">
                                    <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_date_data_second') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_date_data_third') ? 'form-group-error': ''">
                                        <label for="desc_date_data_third">
                                            Descripción dato de fecha 3
                                        </label>
                                        <input type="text"
                                            id="desc_date_data_third"
                                            name="desc_date_data_third"
                                            class="form-control"
                                            v-validate="'min:5|max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_date_data_third">
                                    <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_date_data_third') }}
                                        </span>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.desc_image') ? 'form-group-error': ''">
                                        <label for="desc_image">
                                            Descripción de Imagen
                                        </label>
                                        <input type="text"
                                            id="desc_image"
                                            name="desc_image"
                                            class="form-control"
                                            v-validate="'max:45'"
                                            :disabled="isDisabled"
                                            data-vv-as=" "
                                            v-model="selectedParamTable.desc_image">
                                    <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.desc_image') }}
                                        </span>
                                    </div>
                                    <div class="form-group  col-sm-6 col-md-4" v-bind:class="errors.has('form.observation') ? 'form-group-error': ''">
                                        <label for="observation">
                                            Observación
                                        </label>
                                        <textarea name="observation"
                                                id="observation"
                                                class="form-control"
                                                v-validate="'min:5|max:255'"
                                                :disabled="isDisabled"
                                                data-vv-as=" "
                                                v-model="selectedParamTable.observation">
                                        </textarea>
                                    <i class="text-danger icon-error"> </i>
                                        <span class="text-danger span-error">
                                            {{ errors.first('form.observation') }}
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-2">
                                        <label for="protected"
                                            v-bind:class="errors.has('form.protected') ? 'form-group-error': ''">
                                            Protegido
                                        </label>
                                        <br>
                                        <b-form-radio-group
                                            id="protected"
                                            buttons
                                            :disabled="isDisabled"
                                            :options="[{text:'Si',value:1},{text:'No',value:0}]"
                                            name="protected"
                                            v-model="selectedParamTable.protected"
                                            :button-variant="selectedParamTable.protected == 1 ? 'outline-primary' : 'outline-secondary'"
                                        />
                                    </div>
                                    <div class="form-group col-sm-6 col-md-2">
                                        <label for="line"
                                            v-bind:class="errors.has('form.protected') ? 'form-group-error': ''">
                                            Línea
                                        </label>
                                        <br>
                                        <b-form-radio-group
                                            id="line"
                                            buttons
                                            :disabled="isDisabled"
                                            :options="[{text:'Si',value:1},{text:'No',value:0}]"
                                            name="line"
                                            v-model="selectedParamTable.line"
                                            :button-variant="selectedParamTable.line == 1 ? 'outline-primary' : 'outline-secondary'"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-2">
                                        <label for="subline"
                                            v-bind:class="errors.has('form.protected') ? 'form-group-error': ''">
                                            Sub Línea
                                        </label>
                                        <br>
                                        <b-form-radio-group
                                            id="subline"
                                            buttons
                                            :disabled="isDisabled"
                                            :options="[{text:'Si',value:1},{text:'No',value:0}]"
                                            name="subline"
                                            v-model="selectedParamTable.subline"
                                            :button-variant="selectedParamTable.subline == 1 ? 'outline-primary' : 'outline-secondary'"
                                        />
                                    </div>
                                    <div class="form-group col-sm-6 col-md-2">
                                        <label for="city"
                                            v-bind:class="errors.has('form.protected') ? 'form-group-error': ''">
                                            Ciudad
                                        </label>
                                        <br>
                                        <b-form-radio-group
                                            id="city"
                                            buttons
                                            :disabled="isDisabled"
                                            :options="[{text:'Si',value:1},{text:'No',value:0}]"
                                            name="city"
                                            v-model="selectedParamTable.city"
                                            :button-variant="selectedParamTable.city == 1 ? 'outline-primary' : 'outline-secondary'"
                                        />
                                    </div>
                                    <div class="form-group col-sm-6 col-md-2">
                                        <label for="branchoffice_warehouses"
                                            v-bind:class="errors.has('form.protected') ? 'form-group-error': ''">
                                            bodega
                                        </label>
                                        <br>
                                        <b-form-radio-group
                                            id="branchoffice_warehouses"
                                            buttons
                                            :disabled="isDisabled"
                                            :options="[{text:'Si',value:1},{text:'No',value:0}]"
                                            name="branchoffice_warehouses"
                                            v-model="selectedParamTable.branchoffice_warehouses"
                                            :button-variant="selectedParamTable.branchoffice_warehouses == 1 ? 'outline-primary' : 'outline-secondary'"
                                        />
                                    </div>
                                </div>
                            </form>
                        </b-tab>
                    </b-tabs>
                    <hr>
                    <div class="form-actions">
                        <b-button v-if="tabIndex <= 1 && !isDisabled" type="submit" class="boton-guardar" @click="validateForm()">
                            <span class="btn-label">
                            <i class="ti-save-alt"></i>
                            </span>Guardar
                        </b-button>
                        <b-button type="button" variant="secondary" class="float-left" @click="$router.go(-1)">
                            <span class="btn-label">
                            <i class="ti-arrow-left"></i>
                            </span> Volver
                        </b-button>
                        <b-button v-if="tabIndex <= 1 && !isDisabled" type="reset" value="Limpiar" class="otro-boton float-left" @click="clearSelectedParamTable">
                            <span class="btn-label">
                            <i class="ti-eraser"></i>
                            </span> Limpiar
                        </b-button>
                    </div>
                </div>
            </card>
        </div>
    </div>
</div>
</template>

<script>

    import Vue from 'vue';
    import card from "../../components/pages/card/card.vue"
    import {mapState, mapActions, mapMutations} from 'vuex'
    import loader from "./../../components/layout/loader.vue";

    export default {
        name: "maintenance",
        components: {
            card, loader
        },
        data(){
            return{
                loader: true,
                tabIndex: 1,
                changeTab: false,
                parametersTable: [],
                columnCount: 0,
                imagen: null,
            }
        },
        created() {
            if (this.$route.params.id) {
               this.initUpdate('update', this.$route.params.id);
            } else if(this.$route.params.idv){
               this.initUpdate('view', this.$route.params.idv)
            } else {
                // this.resetSelectedParameter()
                this.setGetParamTableEdit(true)
                this.changeTab = true
                this.setAction("create");
                this.loader = false
            }
        },
        methods: {
            _cities(filter){
                this.fetchCities(filter)
            },
            deleteTags (tag) {
            this.fetchSublines()
            this.params.filter_groups = []
            this.fetchSubbrands()
            this.params.filter_categories = []

            let elimina = this.tags.findIndex(item => item.id == tag)

            this.tags.splice(elimina, 1);

            let tempo_tag = this.tags.filter(element => {
                let marc = this.params.filter_brands.findIndex(item => item == element.id)
                let cat = this.params.filter_categories.findIndex(item => item == element.id)
                let grup = this.params.filter_groups.findIndex(item => item == element.id)

                if (marc >= 0) {
                return element
                }
                if (cat >= 0) {
                return element
                }
                if (grup >= 0) {
                return element
                }
            });
            this.tags = tempo_tag
            },
            async initUpdate(action, id) {
                await this.fetchBranchOfficeWarehouse()
                await this.fetchCities()
                await this.fetchSublines()
                await this.fetchLines()
                this.changeTab = true
                this.setAction(action);
                await this.getParamTable(id);
                this.tabIndex = 0
                this.fetchParameters(id)
                this.parametersTable = [
                    {key: 'code_parameter', label: this.selectedParamTable.desc_code_parameter, thStyle: {width: '100px !important'}},
                    {key: 'name_parameter', label: this.selectedParamTable.desc_name_parameter, thStyle: {'min-width': '250px !important'}},
                ],
                this.columnas()
                this.loader = false
            },
            validateForm() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if (this.action == 'create') {
                            this.create()
                        } else if (this.action == 'update') {
                            this.update()
                        }
                    } else {
                        this.$alert("Algunos campos no se registraron correctamente", "Error", {
                            confirmButtonText: "Aceptar",
                            type: "error",
                            customClass:'notification-error'
                        }).then(verifica => {});
                    }
                })
            },

            async validateParameter() {
                await this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.$alert("Algunos campos no se registraron correctamente", "Error", {
                            confirmButtonText: "Aceptar",
                            type: "error",
                            customClass:'notification-error'
                        }).then(verifica => {});
                    }
                })

                if (!this.errorsParameters) {
                    if (this.actionParameter == 'create') {
                        await this.addParameter()
                        this.clearParameter()
                    } else {
                        await this.$confirm('¿Está seguro de actualizar?', 'Actualizar', {
                            confirmButtonText: 'Aceptar',
                            cancelButtonText: 'Cancelar',
                            type: 'warning',
                            customClass:'notification-warning'
                        }).then((result) => {
                            this.responseUpdate = result
                        })
                        if (this.responseUpdate) {
                            await this.updateParameter()
                            this.clearParameter()
                            this.responseUpdate = false
                        }
                    }
                }
            },
            clearParameter() {
                this.resetSelectedParameter()
                this.$validator.reset('form')
                this.setActionParameters('create')
                this.imagen = null
            },
            async setParameterComp(parameter) {
                await this.setParameter(parameter)
                this.setActionParameters('update')
                this.imagen = this.selectedParameter.image
            },
            questionDeleteParameter(selectedParameter) {
                this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    type: 'warning',
                    customClass:'notification-warning'
                }).then(
                    (result) => {
                        if (result) {
                            this.removeParameter(selectedParameter)
                            this.clearParameter()
                        }
                    }
                ).catch(function (result) {})
            },
            cargarImagen(e) {
                let fileReader = new FileReader();
                fileReader.readAsDataURL(e.target.files[0]);
                fileReader.onload = e => {
                    this.imagen = e.target.result;
                    this.imagenCarga(this.imagen);
                };
            },

            async create() {
                await this.addParamTable();
                if (!this.error) {
                    this.$router.push(`/tablas-parametros/${this.selectedParamTable.id}/editar`)
                    setTimeout(() => {
                        this.initUpdate('update', this.selectedParamTable.id)
                    }, 1000)
                }
            },
            async update() {
                await this.updateParamTable()
            },
            clearSelectedParamTable() {
                this.resetSelectedParamTable()
                this.$validator.reset()
                this.resetSelectedParameter()
            },
            ...mapActions('paramTables', [
                'fetchParamTables',
                'fetchParameters',
                'addParamTable',
                'updateParamTable',
                'getParamTable',
                'fetchLines',
                'fetchSublines',
                'fetchCities',
                'fetchBranchOfficeWarehouse'
            ]),

            ...mapMutations('paramTables',[
                'setAction',
                'resetSelectedParamTable',
                'setGetParamTableEdit',
                'resetSelectedParameter'
            ]),
             ...mapActions('parameters', [
                'fetchParameters',
                'addParameter',
                'updateParameter',
                'removeParameter',
                'getParameter',
                'imagenCarga'
            ]),
            ...mapMutations('parameters', [
                'setActionParameters',
                'setParameter',
                'resetSelectedParameter',
            ]),

            columnas(){
                if (this.selectedParamTable.line == 1) {
                    this.parametersTable.push({key: 'line', label: 'Línea', sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++;
                }
                if (this.selectedParamTable.subline == 1) {
                    this.parametersTable.push({key: 'subline', label: 'Sub Línea', sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++;
                }
                if (this.selectedParamTable.city == 1) {
                    this.parametersTable.push({key: 'city', label: 'Ciudad', sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++;
                }
                if (this.selectedParamTable.branchoffice_warehouses == 1) {
                    this.parametersTable.push({key: 'branchoffice_warehouses', label: 'Bodega', sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++;
                }
                 if((this.selectedParamTable.desc_alphanum_data_first != null && this.selectedParamTable.desc_alphanum_data_first != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'alphanum_data_first', label: this.selectedParamTable.desc_alphanum_data_first, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++;
                }
                if((this.selectedParamTable.desc_alphanum_data_second != null && this.selectedParamTable.desc_alphanum_data_second != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'alphanum_data_second', label: this.selectedParamTable.desc_alphanum_data_second, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }
                if((this.selectedParamTable.desc_alphanum_data_third != null && this.selectedParamTable.desc_alphanum_data_third != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'alphanum_data_third', label: this.selectedParamTable.desc_alphanum_data_third, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }
                if((this.selectedParamTable.desc_numeric_data_first != null && this.selectedParamTable.desc_numeric_data_first != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'numeric_data_first', label: this.selectedParamTable.desc_numeric_data_first, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }
                if((this.selectedParamTable.desc_numeric_data_second != null && this.selectedParamTable.desc_numeric_data_second != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'numeric_data_second', label: this.selectedParamTable.desc_numeric_data_second, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }
                if((this.selectedParamTable.desc_numeric_data_third != null && this.selectedParamTable.desc_numeric_data_third != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'numeric_data_third', label: this.selectedParamTable.desc_numeric_data_third, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }
                if((this.selectedParamTable.desc_date_data_first != null && this.selectedParamTable.desc_date_data_first != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'date_data_first', label: this.selectedParamTable.desc_date_data_first, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }
                if((this.selectedParamTable.desc_date_data_second != null && this.selectedParamTable.desc_date_data_second != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'date_data_second', label: this.selectedParamTable.desc_date_data_second, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }
                if((this.selectedParamTable.desc_date_data_third != null && this.selectedParamTable.desc_date_data_third != '') && this.columnCount <= 2){
                    this.parametersTable.push({key: 'date_data_third', label: this.selectedParamTable.desc_date_data_third, sortable: true, thStyle: {'min-width': '200px !important'}})
                    this.columnCount ++
                }

                if(this.selectedParamTable.data != '' || this.selectedParamTable.data != undefined){
                    this.parametersTable.push( {key: 'actions', label: 'Opciones', thStyle: {
                            width: this.disabledInputs ? '85px !important' : '170px !important',
                            'min-width': this.disabledInputs ? '85px !important' : '170px !important'
                        }})
                }
            }
        },
        computed: {
            ...mapState('paramTables', [
                'action',
                'paramTableEdit',
                'selectedParamTable',
                'error',
                'getParamTableEdit',
                'parameters',
                'lines',
                'sublines',
                'cities',
                'branchOffices'
            ]),
             ...mapState('parameters', [
                'parameters',
                'actionParameter',
                'selectedParameter',
            ]),
            errorsParamTable() {
                return this.errors.items.filter(i => i.scope == 'form').length > 0 ? 'nav-link-error' : ''
            },
            errorsParameters() {
                return this.errors.items.filter(i => i.scope == 'form-parameter').length > 0 ? 'nav-link-error' : ''
            },
            disabledTabs() {
                return this.action == 'create'
            },
            isDisabled(){
                return this.action == 'view'
            },
            labelPrinci() {
                switch (this.action) {
                    case 'create':
                        return 'Crear'
                        break
                    case 'update':
                        return 'Editar'
                        break
                    case 'view':
                        return 'Ver'
                        break
                }
            },
        },
        watch: {
            'tabIndex'(newValue) {
                switch (newValue) {
                    case 0:
                       //this.fetchParameters()
                    break
                }
            }
        }
    }
</script>

<style>
 .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: #007db3 !important;
    }

    .nav-link-error {
        border: 1px solid #ff6666 !important;
    }

    .nav-link.active {
        border-top: none !important;
    }

    .nav-link {
        margin-right: 5px;
        margin-top: 5px;
        border: 1px solid #007db3;
        color: #007db3;
    }

    .nav-link.disabled {
        border: 1px solid #c8cbd6;
        color: #c8cbd6;
    }

    @media(max-width: 400px){
       .nav-link{
           margin-right: 2px !important;
           padding: 4px 5px;
       }
    }

    .el-date-editor.el-input, .el-date-editor.el-input__inner{
        width: 100% !important;
    }
    .el-input__inner {
    height: 31.25px !important;
}

</style>
