<template>
  <div>
    <grid-u2
      ref="gridbalancecontact"
      :columns.sync="gridBalancesContact.columns"
      :items.sync="gridBalancesContact.items"
      :options="options"
      @changeRow="editRow"
    >
      <template
        slot="document.branchoffice_warehouse.warehouse_description"
        slot-scope="row"
      >
        <div>
          {{ row.item.document.branchoffice_warehouse.warehouse_code }} -
          {{ row.item.document.branchoffice_warehouse.warehouse_description }}
        </div>
      </template>
      <template slot="document.branchoffice" slot-scope="row">
        <div>
          {{ row.item.document.branchoffice.code }} -
          {{ row.item.document.branchoffice.name }}
        </div>
      </template>
      <template slot="num_com" slot-scope="row">
        <div>
          {{ row.item.document.prefix }} - {{ row.item.document.consecutive }}
        </div>
      </template>
      <template slot="num_doc" slot-scope="row">
        <div>
          {{ row.item.document.crossing_prefix }} -
          {{ row.item.document.crossing_number_document }}
        </div>
      </template>
      <template slot="selecc" slot-scope="row">
        <div class="text-center">
          <b-form-checkbox
            class="ml-5"
            :disabled="
              modalBalanceContact.crossPendingValue <= 0 && !row.item.checked
            "
            v-model="row.item.checked"
            @change="_calculateCrossingValueItem(row.item)"
          />
        </div>
      </template>
      <template slot="document.vouchertype" slot-scope="row">
        <div>
          {{ row.item.document.vouchertype.code_voucher_type }} -
          {{ row.item.document.vouchertype.name_voucher_type }}
        </div>
      </template>
      <!-- <template slot="cross_value" slot-scope="row">
            <div class="text-center">
                {{row.item.cross_value | currency}}
            </div>
          </template> -->

      <template slot="foot_cross_value" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          {{ totalBalanceCrossing | currency }}
        </div>
      </template>
      <template slot="foot_selecc" slot-scope="row">
        <div class="text-right background-blue-light text-nowrap">
          <b>Total:</b>
        </div>
      </template>
    </grid-u2>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../../components/u2/grid";

export default {
  name: "gridBalancesContact",
  components: {
    GridU2
  },
  data() {
    return {
      options: {
        selectable: false,
        multiselect: false,
        showFooter: true,
        type_currency: "COP"
      }
    };
  },
  methods: {
    ...mapMutations("balanceCrossing", [
      "setSelectedBalancesContact",
      "triggerShowModalBalanceContact",
      "calculateCrossingValueItem",
      "setCrossPendingValue"
    ]),
    async _calculateCrossingValueItem(item) {
      await this.calculateCrossingValueItem(item);
      await this.setCrossPendingValue(
        this.modalBalanceContact.crossValue - this.totalBalanceCrossing
      );
      this.$refs.gridbalancecontact.buildData();
    },
    editRow(item) {
      this.setCrossPendingValue(
        this.modalBalanceContact.crossValue - this.totalBalanceCrossing
      );
      item.checked = true;
    }
  },
  computed: {
    ...mapState("balanceCrossing", [
      "gridBalancesContact",
      "modalBalanceContact"
    ]),

    ...mapGetters("balanceCrossing", ["totalBalanceCrossing"])
  }
};
</script>
<style></style>
