<template>
  <div>
    <h5>Saldos a favor</h5>
    <grid-u2
      ref="grid"
      :columns.sync="gridBalancesFavor.columns"
      :items.sync="gridBalancesFavor.items"
      :options="options"
    >
      <template slot="final_balance" slot-scope="row">
        <div class="text-left">{{ row.item.final_balance | currency }}</div>
      </template>
      <template
        slot="document.branchoffice_warehouse.warehouse_description"
        slot-scope="row"
      >
        <div>
          {{ row.item.document.branchoffice_warehouse.warehouse_code }} -
          {{ row.item.document.branchoffice_warehouse.warehouse_description }}
        </div>
      </template>
      <template slot="document.branchoffice" slot-scope="row">
        <div>
          {{ row.item.document.branchoffice.code }} -
          {{ row.item.document.branchoffice.name }}
        </div>
      </template>
      <template slot="num_com" slot-scope="row">
        <div>
          {{ row.item.document.prefix }} - {{ row.item.document.consecutive }}
        </div>
      </template>
      <template slot="num_doc" slot-scope="row">
        <div>
          {{ row.item.document.crossing_prefix }} -
          {{ row.item.document.crossing_number_document }}
        </div>
      </template>
      <template slot="document.vouchertype" slot-scope="row">
        <div>
          {{ row.item.document.vouchertype.code_voucher_type }} -
          {{ row.item.document.vouchertype.name_voucher_type }}
        </div>
      </template>
      <template slot="document_date" slot-scope="row">
        <div>{{ row.item.document.document_date.split(" ")[0] }}</div>
      </template>
      <template slot="options" slot-scope="row">
        <div class="text-center">
          <b-button
            variant="primary"
            @click="() => handleSelectedRow(row.item)"
            size="sm"
          >
            Cruzar Saldo
          </b-button>
        </div>
      </template>
    </grid-u2>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../../components/u2/grid";

export default {
  name: "gridBalancesFavor",
  props: {
    handleSelectedBalancesFavor: { required: false }
  },
  components: {
    GridU2
  },
  data() {
    return {
      options: {
        selectable: false,
        multiselect: false,
        showFooter: false,
        type_currency: "COP"
      }
    };
  },
  methods: {
    ...mapMutations("balanceCrossing", [
      "setSelectedBalancesFavor",
      "triggerShowModalBalanceContact"
    ]),
    handleSelectedRow(data) {
      this.setSelectedBalancesFavor(data);
      this.triggerShowModalBalanceContact();
    }
  },
  computed: {
    ...mapState("balanceCrossing", ["gridBalancesFavor", "action"])
  }
};
</script>
<style></style>
