<template>
  <div>
    <h5>Cruces</h5>
    <grid-u2
      ref="grid"
      :columns.sync="gridCrossBalances.columns"
      :items.sync="documentCrossBalance.document_transactions"
      :options="options"
    >
      <template slot="account.code" slot-scope="row">
        <div class="text-left">
          {{ row.item.account.code }} - {{ row.item.account.name }}
        </div>
      </template>
      <template slot="document" slot-scope="row">
        <div class="text-left">
          {{ row.item.document.prefix }} - {{ row.item.document.consecutive }}
        </div>
      </template>
      <template slot="operation_value_d" slot-scope="row">
        <div class="text-left" v-if="row.item.transactions_type === 'D'">
          {{ row.item.operation_value | currency }}
        </div>
      </template>
      <template slot="operation_value_c" slot-scope="row">
        <div class="text-left" v-if="row.item.transactions_type === 'C'">
          {{ row.item.operation_value | currency }}
        </div>
      </template>
      <template slot="num_com" slot-scope="row">
        <div>
          {{ row.item.transaction_reference.document.prefix }} -
          {{ row.item.transaction_reference.document.consecutive }}
        </div>
      </template>
      <template slot="num_doc" slot-scope="row">
        <div>
          {{ row.item.transaction_reference.document.crossing_prefix }} -
          {{ row.item.transaction_reference.document.crossing_number_document }}
        </div>
      </template>
      <template slot="options" slot-scope="row">
        <div class="text-center">
          <b-button
            v-if="action !== 'view'"
            size="small"
            @click.prevent="
              _deleteDocumentTransactionsBySequence({
                optional_sequence: row.item.optional_sequence
              })
            "
            variant="danger"
            class="text-nowrap m-1"
          >
            <div class="d-block d-md-none">
              <i class="ti-trash"> </i> Eliminar
            </div>
            <div class="d-none d-md-block">
              <i class="ti-trash"></i>
            </div>
          </b-button>
        </div>
      </template>
    </grid-u2>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../../components/u2/grid";

export default {
  components: {
    GridU2
  },
  data() {
    return {
      options: {
        selectable: false,
        multiselect: false,
        showFooter: false,
        type_currency: "COP"
      }
    };
  },
  methods: {
    ...mapActions("balanceCrossing", [
      "deleteDocumentTransactionsBySequence",
      "createDocumentByCrossBalance",
      "fetchPendingBalanceContact",
      "fetchFavorBalanceContact"
    ]),
    async _deleteDocumentTransactionsBySequence(data) {
      let messageAlert =
        "Esta accion eliminara todas las transacciones relacionadas con este cruce.";
      let title = "¿Desea Eliminar La Transaccion?";

      await this.$confirm(messageAlert, title, {
        confirmButtonText: "SI",
        cancelButtonText: "NO",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(async result => {
          if (result) {
            await this.deleteDocumentTransactionsBySequence(data);
            await this.createDocumentByCrossBalance();
            await this.fetchPendingBalanceContact();
            await this.fetchFavorBalanceContact();
          }
        })
        .catch(() => {});
    }
  },
  computed: {
    ...mapState("balanceCrossing", [
      "gridCrossBalances",
      "documentCrossBalance",
      "action"
    ])
  }
};
</script>
<style></style>
