<template>
  <span>
    <b-modal
      v-model="showModalBalanceContact"
      class="modal-backdrop"
      no-close-on-esc
      size="xl"
      header-bg-variant="primary"
      hide-footer
      @hidden="setShowModalBalanceContact(false)"
    >
      <template #modal-title>
        <div class="w-100" style="color: #fff">
          Facturas Cliente
        </div>
      </template>

      <div class="row">
        <div class="col-12 ml-4">
          <table
            id="table-totals"
            class="table table-totals table-sm table-bordered font-weight-bold"
          >
            <tbody>
              <tr>
                <td class="text-right pr-2 td-no-border-right">
                  <p class="pin-table">Vr Cruce:</p>
                </td>
                <td
                  width="50%"
                  class="p-0 td-no-border-left td-background-blue-totals"
                >
                  <input
                    class="input-total-ret"
                    type="text"
                    :value="modalBalanceContact.crossValue | currency"
                    :disabled="true"
                  />
                </td>
              </tr>
              <tr>
                <td class="text-right pr-2 td-no-border-right">
                  <p class="pin-table">Vr Pend Cruce:</p>
                </td>
                <td
                  width="50%"
                  class="p-0 td-no-border-left td-background-blue-totals"
                >
                  <input
                    class="input-total-ret"
                    type="text"
                    :value="modalBalanceContact.crossPendingValue | currency"
                    :disabled="true"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-3 ml-4">
          <label for="account_id">Cuenta</label>
          <el-input
            id="account_id"
            name="account_id"
            size="small"
            placeholder=" "
            @focus="openModalAccount($event, modalBalanceContact)"
            :value="
              `${
                modalBalanceContact.account
                  ? modalBalanceContact.account.code + ' - '
                  : ''
              } ${
                modalBalanceContact.account
                  ? modalBalanceContact.account.name
                  : ''
              }`
            "
            v-validate="'required'"
            data-vv-as=" "
          >
            <i
              slot="suffix"
              class="el-input__icon el-icon-circle-close el-input__clear"
              v-if="modalBalanceContact.account"
            ></i>
          </el-input>
          <i class="text-danger icon-error"></i>
          <span class="text-danger span-error">{{
            errors.first("form-balance-filters.account_id")
          }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-3 ml-4 mt-2">
          <label for="account_id">Detalle</label>

          <b-form-textarea
            id="textarea"
            v-model="detailText"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-2 ml-4">
          <b-button
            class="mt-4"
            :disabled="loadingListBalance"
            variant="primary"
            @click="searchListBalance"
          >
            <span v-if="!loadingListBalance">Listar Saldos</span>
            <span v-else>
              <i class="fa fa-spinner fa-spin"></i> Buscando...
            </span>
          </b-button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <GridBalancesContact />
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <b-button variant="primary" @click="handleFinishCrossing">
            Hacer Cruce
          </b-button>
        </div>
      </div>
    </b-modal>
  </span>
</template>

<script>
import { mapState, mapMutations, mapGetters, mapActions } from "vuex";
import GridBalancesContact from "./GridBalancesContact";
import { Money } from "v-money";
import { Notification } from "element-ui";

export default {
  props: {
    showModal: { required: true },
    triggerShowModal: { required: false },
    openModalAccount: { required: false }
  },
  components: {
    GridBalancesContact,
    Money
  },
  data() {
    return {
      money: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 0,
        masked: false
      },
      loadingListBalance: false,
      detailText: ""
    };
  },
  methods: {
    ...mapMutations("balanceCrossing", [
      "triggerShowModalBalanceContact",
      "setShowModalBalanceContact",
      "setCrossPendingValue",
      "setCrossValue"
    ]),
    ...mapActions("balanceCrossing", [
      "fetchPendingBalanceContact",
      "fetchFavorBalanceContact",
      "createTransactionsByDocumentCrossBalance"
    ]),
    async searchListBalance() {
      this.loadingListBalance = true;
      await this.fetchPendingBalanceContact();
      this.loadingListBalance = false;
    },
    async handleFinishCrossing() {
      if (this.totalBalanceCrossing === 0) {
        return;
      }

      if (this.totalBalanceCrossing > this.modalBalanceContact.crossValue) {
        Notification.error({
          title: "¡Error!",
          message: "Esta cruzando un mayor valor al documento de cruce.",
          type: "error",
          duration: 1500,
          customClass: "notification-box"
        });
        return;
      }

      const balancesContact = this.gridBalancesContact.items.filter(
        i => i.checked
      );

      await this.createTransactionsByDocumentCrossBalance({
        balances_favor: this.selectedBalancesFavor,
        balances_contact: balancesContact,
        detail: this.detailText
      });
      await this.searchListBalance();
      await this.fetchFavorBalanceContact();
      this.setShowModalBalanceContact(false);
    }
  },
  computed: {
    ...mapState("balanceCrossing", [
      "selectedBalancesFavor",
      "selectedBalancesContact",
      "modalBalanceContact",
      "gridBalancesContact",
      "showModalBalanceContact"
    ]),
    ...mapGetters("balanceCrossing", ["totalBalanceCrossing"]),
    crossingValue() {
      if (this.selectedBalancesFavor && this.selectedBalancesContact) {
        const final_balance_favor =
          this.selectedBalancesFavor.final_balance * -1;
        const final_balance_contact = this.selectedBalancesContact
          .final_balance;

        return final_balance_favor > final_balance_contact
          ? final_balance_contact
          : final_balance_favor;
      }

      return 0;
    },
    handleopenModalAction() {
      this.setCrossPendingValue(this.selectedBalancesFavor.final_balance * -1);
      this.setCrossValue(this.selectedBalancesFavor.final_balance * -1);
      this.detailText = "";
      this.searchListBalance();
    }
  },
  watch: {
    showModalBalanceContact(newVal, oldVal) {
      // Open
      if (newVal) {
        this.handleopenModalAction();
      }
      // Close
      else {
      }
    }
  }
};
</script>

<style>
.input-total-ret {
  border: none !important;
  width: 100%;
  float: right;
  text-align: right;
  font-weight: bold;
  height: 100%;
  outline: none;
  background: none;
}

.input-total-ret.edit {
  background-color: #d5f3d3 !important;
}

.input-total-ret.edit:focus {
  background-color: #fff !important;
}
</style>
