<template>
  <card
    :title="`<i class='ti-file'></i> Contabilizacion Operaciones Inventario`"
  >
    <div class="row">
      <div class="col-12">
        <b-card no-body class="mb-1">
          <b-btn block href="#" v-b-toggle.doc-base id="acordeon"
            >Contabilizacion Operaciones Inventario</b-btn
          >
          <b-collapse visible id="doc-base" ole="tabpanel">
            <b-card-body>
              <div class="row">
                <!-- PV -->
                <div class="col-md-4">
                  <label for="branchoffices">Sede</label>
                  <el-select
                    :disabled="loadingAccounting"
                    id="branchoffices"
                    filterable
                    clearable
                    size="small"
                    no-data-text="Cargando datos..."
                    value
                    v-model="paramsAccounting.branchoffice_id"
                    no-match-text="No hay datos que coincidan"
                    @change="accountingInventoryOperationsCountDocuments()"
                  >
                    <el-option
                      v-for="item in branchOffices.data"
                      :key="item.id"
                      :label="`${item.code} - ${item.name}`"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </div>
                <!-- MODELOS -->
                <div class="col-md-4">
                  <label for="model">Modelo de Operaciones</label>
                  <el-select
                    :disabled="loadingAccounting"
                    id="model"
                    filterable
                    clearable
                    size="small"
                    no-data-text="Cargando datos..."
                    value
                    v-model="paramsAccounting.model_id"
                    no-match-text="No hay datos que coincidan"
                    @change="accountingInventoryOperationsCountDocuments()"
                  >
                    <el-option
                      v-for="item in models"
                      :key="item.id"
                      :label="`${item.code} - ${item.description}`"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-md-4">
                  <label for="filter_date">Fecha Desde</label>
                  <el-date-picker
                    id="filter_date"
                    type="daterange"
                    v-model="paramsAccounting.filterDate"
                    range-separator="-"
                    start-placeholder="Desde"
                    end-placeholder="Hasta"
                    value-format="yyyy-MM-dd"
                    size="small"
                    class="w-100"
                    :disabled="loadingAccounting"
                  ></el-date-picker>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-12">
                  <span v-if="accountingCountDocuemnts > 0"
                    >Se van a contabilizar
                    <b>{{ accountingCountDocuemnts }}</b> documentos.</span
                  >
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-12 text-center">
                  <b-button
                    :disabled="loadingAccounting"
                    variant="primary"
                    @click="accounting()"
                  >
                    <span v-if="!loadingAccounting">
                      Contabilizar
                    </span>
                    <b-spinner
                      v-else
                      small
                      variant="light"
                      class="mb-1"
                    ></b-spinner>
                  </b-button>
                </div>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import Card from "../../components/pages/card/card";

export default {
  components: {
    Card
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions("branchOffices", ["fetchBranchOffices"]),
    ...mapActions("models", ["fetchModels"]),
    ...mapActions("accountingInventoryMovements", [
      "accountingInventoryOperationsCountDocuments",
      "accountingInventoryOperations"
    ]),
    accounting() {
      if (this.paramsAccounting.filterDate.length === 0) {
        this.$alert("Debe seleccionar un rango de fechas.", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "order-box",
          dangerouslyUseHTMLString: true
        });
        return;
      }

      this.accountingInventoryOperations()
        .then(response => {
          this.$alert("Proceso finalizado correctamente.", "Exito", {
            confirmButtonText: "Aceptar",
            type: "success",
            customClass: "order-box",
            dangerouslyUseHTMLString: true
          });
        })
        .catch(error => {
          this.$alert("Algunos documentos no fueron contabilizados.", "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "order-box",
            dangerouslyUseHTMLString: true
          });
        });
    },
    async initComponent() {
      await this.fetchBranchOffices();
      await this.fetchModels({
        params: {
          paginate: false
        }
      });
    }
  },
  computed: {
    ...mapState("branchOffices", ["branchOffices"]),
    ...mapState("models", ["models"]),
    ...mapState("accountingInventoryMovements", [
      "paramsAccounting",
      "loadingAccounting",
      "detailAccounting",
      "accountingCountDocuemnts"
    ])
  },
  watch: {
    "paramsAccounting.filterDate": function() {
      this.accountingInventoryOperationsCountDocuments();
    }
  },
  created() {
    this.initComponent();
  }
};
</script>

<style>
.table-cash-register-square .b-table > thead {
  background-color: #6699cc;
  color: white;
}

.table-cash-register-square-scroll {
  height: 300px;
  /* height: 214px; */
  overflow: auto;
}
</style>
