<template>
<div style="margin-top:20px" v-if="loader">
    <loader></loader>
</div>
<div v-else >
    <form @submit.prevent="validateForm('form')" data-vv-scope="form">
        <div class="form-body">
            <div class="row">
                <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.license_code') ? 'form-group-error': ''">
                    <label for="license_code"><strong>
                        Codigo Licencia <span class="text-danger">*</span></strong>
                    </label>
                    <input
                        type="text"
                        id="license_code"
                        name="license_code"
                        class="form-control"
                        v-validate="'required|max:10'"
                        data-vv-as=" "
                        :readonly="action != 'create' || action == 'view' "
                        v-model="selectedLicense.license_code">
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                        {{ errors.first('form.license_code') }}
                    </span>
                </div>
                <div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.range_date') ? 'form-group-error': ''">
                    <label for="range_date" ><strong>
                        Vigencia Licencia <span class="text-danger">*</span></strong>
                    </label>
                     <el-date-picker
                        v-model="range_date"
                        type="daterange"
                        id="range_date"
                        name="range_date"
                        range-separator="Hasta"
                        start-placeholder=""
                        end-placeholder=""
                        v-validate="'required'"
                        data-vv-as=" "
                        :disabled=isDisabled
                        value-format="yyyy-MM-dd">
                    </el-date-picker>

                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                        {{ errors.first('form.range_date') }}
                    </span>
                </div>
                <div class="form-group col-sm-6 col-md-2" v-bind:class="errors.has('form.maximum_users') ? 'form-group-error': ''">
                    <label for="maximum_users"><strong>
                        # Maximo de Usuarios <span class="text-danger">*</span></strong>
                    </label>
                    <input
                        type="number"
                        id="maximum_users"
                        name="maximum_users"
                        class="form-control"
                        v-validate="'required|numeric|max:5'"
                        :disabled=isDisabled
                        data-vv-as=" "
                        v-model="selectedLicense.maximum_users">
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                        {{ errors.first('form.maximum_users') }}
                    </span>
                </div>
                <div class="form-group col-sm-6 col-md-2" v-bind:class="errors.has('form.trial_license') ? 'form-group-error': ''">
                    <label for="trial_license"><strong>
                        Licencia de Prueba <span class="text-danger">*</span></strong>
                    </label>
                    <br>
                    <b-form-radio-group
                        id="trial_license"
                        buttons
                        :disabled=isDisabled
                        :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                        name="trial_license"
                        v-model="selectedLicense.trial_license"
                        :button-variant="selectedLicense.trial_license == 1 ? 'outline-primary' : 'outline-secondary'"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                        {{ errors.first('form.trial_license') }}
                    </span>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <b-button v-if="action != 'view'" type="submit" class="boton-guardar">
                 <span class="btn-label">
                <i class="ti-save-alt"></i>
                </span>Guardar
            </b-button>
            <b-button to="/licencias" type="button" variant="secondary" class="float-left" @click="clearSelectedLicense">
                <span class="btn-label">
                <i class="ti-arrow-left"></i>
                </span> Volver
            </b-button>
            <b-button v-if="action != 'view'" type="reset" value="Limpiar" class="otro-boton float-left" @click="clearSelectedLicense">
                <span class="btn-label">
                <i class="ti-eraser"></i>
                </span> Limpiar
            </b-button>
        </div>
    </form>
</div>
</template>

<script>

    import { mapActions, mapState, mapMutations } from 'vuex';
    import loader from "./../../components/layout/loader.vue";

export default {
    name: "formLicense",
    components:{
        loader
    },
    data(){
        return {
            loader: true,
            range_date:[],
        }
    },
    created() {
        if (this.$route.params.id) {
            this.initUpdate('update', this.$route.params.id);
        } else if(this.$route.params.idv){
            this.initUpdate('view', this.$route.params.idv)
        } else {
            this.setGetLicense(true)
            this.setAction("create");
        }
        this.loader = false
    },
    methods: {
        async initUpdate(action, id) {
            await this.getLicense(id),
            this.setAction(action),
            this.range_date = [this.selectedLicense.start_date, this.selectedLicense.end_date]
            this.loader = false
        },
        clearSelectedLicense() {
            this.resetSelectedLicense()
            this.$validator.reset()
        },
        validateForm(scope) {
            this.$validator.validateAll(scope).then((result) => {
                if (result) {
                    if (this.action == 'create') {
                        this.create()
                    } else if (this.action == 'update') {
                        this.update()
                    }
                } else {
                    this.$alert("Algunos campos no se registraron correctamente", "Error", {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass:'notification-error'
                    }).then(verifica => {});
                }
            });
        },
        async create(){
            this.selectedLicense.start_date = this.range_date[0],
            this.selectedLicense.end_date = this.range_date[1],
            await this.addLicense()
            if(!this.error){
                this.range_date = [];
                this.clearSelectedLicense()
            }
        },
        update(){
            this.updateLicense()
        },
        ...mapActions('licenses', [
            'addLicense',
            'fetchLicenses',
            'updateLicense',
            'getLicense',
            'setAction'
        ]),
        ...mapMutations('licenses', [
            'setAction',
            'resetSelectedLicense',
            'setGetLicense'
        ])
    },
    computed: {
        isDisabled(){
            return this.action == 'view'
        },
        ...mapState('licenses', [
            'action',
            'selectedLicense',
            'error',
            'errorMessage'
        ]),
    },
}
</script>

<style>
.el-input__inner {
    height: 31.25px !important;
}

.el-date-editor .el-range-separator{
    line-height: 22px !important;
    width: 64px !important;
}
.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner{
    width: 100% !important;
}

.el-range-editor.is-disabled{
    background-color: #e9ecef !important;
    border-color: #ced4da !important;
}

.el-range-editor.is-disabled input{
    background-color: #e9ecef !important;
    color: #495057 !important;
}
.el-range-editor.is-disabled .el-range-separator{
     color: #495057 !important;
}
.el-date-editor .el-range__icon{
    color: #495057 !important;
}

@media (min-width: 522px) and (max-width: 665px) {
    .el-date-range-picker{
        width: 509px;

    }
    .el-picker-panel .el-date-range-picker .el-popper{
        left: 4px
    }
}
@media (min-width: 501px) and (max-width: 521px) {
    .el-picker-panel__content.is-left{
        width: 64% !important;
        padding: 10px 0px 10px 160px !important

    }
    .el-date-range-picker__content.is-right{
      padding:10px 0px 0px 0px !important;
      width: 36% !important;
    }

    .el-date-table td{
        padding: 0px !important;
    }
}
@media (min-width: 321px) and (max-width: 500px) {
    .el-picker-panel__content.is-left{
        width: 100% !important;
        padding: 10px 10px 10px 300px !important;

    }
    .el-date-range-picker__content.is-right{
      padding:10px 10px 10px 300px !important;
      width: 100% !important;
    }

    .el-date-table td{
        padding: 0px !important;
    }
}
@media (max-width: 320px) {
    .el-picker-panel__content.is-left{
        width: 100% !important;
        padding: 45px 9px 29px 341px !important;

    }
    .el-date-range-picker__content.is-right{
      padding: 0px 9px 29px 341px !important;
      width: 100% !important;
    }

    .el-date-table td{
        padding: 0px !important;
    }
}
.form-group-error input {
    border: 1px solid #fff !important;
}
</style>
