<template>
    <card title="<i class='fa fa-table'></i> Licencias">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-8 col-12">
                        <b-form-group label="Buscar" class="mb-0">
                            <b-input-group>
                                <b-form-input v-model="params.filter" placeholder="" @keyup.native.enter="setFilterPagination"  style="text-transform: uppercase;"/>
                                <b-input-group-append>
                                <b-btn @click.prevent="filtro(params.filter)" id="botones"><span class="ti-search"></span></b-btn>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </div>
                    <div class="col-md-8 col-sm-4 col-12">
                        <b-button to="/licencias/crear" id="boton-nuevo" class="button button-rounded button-primary-flat hvr-shrink float-right">
                            Nuevo
                        </b-button>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="table-responsive">
                    <b-table striped hover show-empty
                        :items="licenses.data"
                        :fields="columns"
                        :no-local-sorting="true"
                        :sort-by.sync="sortBy"
                        :sort-desc.sync="sort"
                    >
                        <template v-slot:cell(trial_license)="row">
                            <h5 class="text-center">
                                <b-badge href="#" variant="success" v-if="row.item.trial_license">
                                    Prueba
                                </b-badge>
                                <b-badge href="#" variant="info" v-else>
                                    Permanente
                                </b-badge>
                            </h5>
                        </template>
                        <template v-slot:cell(actions)="row" >
                            <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
                            <b-button size="sm" class="button-table mt-1" variant="secondary" :to="`/licencias/${row.item.id}/ver`">
                                Ver
                            </b-button>
                            <b-button size="sm" class="button-table mt-1" id="botones" :to="`/licencias/${row.item.id}/editar`">
                                Editar
                            </b-button>
                            <b-button size="sm" class="button-table mt-1" variant="danger" @click="questionDelete(row.item)">
                                Eliminar
                            </b-button>
                        </template>
                    </b-table>
                </div>
                <p>
                    Mostrando {{licenses.from}} a {{licenses.to}} de {{licenses.total}} resultados
                </p>
                <b-row>
                    <b-col md="6" class="my-1 form-inline">
                        <label>Registros por página: &nbsp;</label>
                        <b-form-select :options="[5, 10, 15]" v-model="params.perPage" @change.native="setPerPagePagination"/>
                    </b-col>
                    <b-col md="6" class="my-1">
                        <b-pagination
                            :total-rows="totalRows"
                            :per-page="params.perPage"
                            :current-page="params.page"
                            v-model="params.page"
                            class="my-0 float-right"
                            @change="setPagePagination"
                        />
                    </b-col>
                </b-row>
            </div>
        </div>
    </card>

</template>

<script>
    import {mapActions, mapState, mapMutations, mapGetters} from 'vuex'
    import Card from '../../components/pages/card/card';
    import { MessageBox } from 'element-ui';

    export default {
        components: {
            Card
        },
        data() {
            return {
                columns: [
                    {key: 'license_code', label: 'Numero Licencia', sortable: true, thStyle: {width: '150px !important'}},
                    {key: 'start_date', label: 'Fecha Inicio', sortable: true, thStyle: {'min-width': '120px !important'}},
                    {key: 'end_date', label: 'Fecha Final', sortable: true, thStyle: {'min-width': '120px !important'}},
                    {key: 'maximum_users', label: 'Numero de Usuarios', sortable: true, thStyle:{width: '200px !important'}},
                    {key: 'trial_license', label: 'Tipo de Licencia', sortable: true},
                    {key: 'actions', label: 'Opciones', thStyle: {'min-width': '280px !important', width:'280px !important'}}
                ],
                sortBy: 'license_code',
                sort: true
            }
        },
        created() {
            this.sortBy = this.params.sortBy
            this.sort = this.params.sort == 'ASC' ? true : false
            this.fetchLicenses()

            this.$store.watch(() => {
                return this.getParams.sort
            }, p => {
                this.fetchLicenses()
            })

            this.$store.watch(() => {
                return this.getParams.sortBy
            }, p => {
                this.fetchLicenses()
            })

            this.setGetLicense(true)
            this.resetSelectedLicense()
        },
        methods: {
            ...mapActions('licenses', [
                'fetchLicenses',
                'removeLicense',
                'setFilterPagination',
                'setPerPagePagination',
                'setPagePagination',
                'setSortByPagination',
                'setSortPagination'
            ]),
            ...mapMutations('licenses', [
                'setAction',
                'setLicense',
                'resetSelectedLicense',
                'setPerPage',
                'setFilter',
                'setGetLicense'
            ]),
            toCreate() {
                this.resetSelectedLicense()
                this.setAction('create')
                this.$router.push('/licencias/crear')
            },
            toEdit(license) {
                this.setLicense(license)
                this.setAction('update')
                this.$router.push(`/licencias/editar`)
            },
            toView(license) {
                this.setLicense(license)
                this.setAction('view')
                this.$router.push(`/licencias/ver`)
            },
            questionDelete(license) {
                this.$confirm('Esta seguro de eliminar?','Eliminar', {
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    type: 'warning',
                    customClass:'notification-warning'
                }).then((result) => {
                        if (result) {
                            this.deleteLicense(license)
                        }
                    }
                ).catch(function (result) {
                })
            },
            deleteLicense(license) {
                this.removeLicense(license)
            },
            filtro(filtro){
                this.setFilter(filtro)
                this.fetchLicenses()
            }
        },
        computed: {
            ...mapGetters('licenses', ['getParams']),
            ...mapState('licenses', ['licenses', 'selectedLicense', 'action', 'params']),
            totalRows() {
                return this.licenses.total
            }
        },
        watch: {
           'sortBy'(newValue, oldValue) {
                this.setSortByPagination(newValue)
            },
            'sort'(newValue, oldValue) {
                this.setSortPagination(newValue ? 'ASC' : 'DESC')
            }
        }
    }
</script>

<!-- boton crear  -->
<style lang="sass">
    @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
