<template>
     <div>
        <div class="row" >
            <div class="col-md-12">
                <card :title="'<i class=\'fa fa-fw ti-pencil\'></i> ' +  labelPrinci + ' Licencia' ">
                    <form-license></form-license>
                </card>
            </div>
        </div>
    </div>
</template>

<script>
    import formLicense from "./formLicense.vue";
    import card from "../../components/pages/card/card.vue"
    import { mapState } from 'vuex';


    export default {
        components:{
            formLicense,
            card
        },
        computed: {
            labelPrinci() {
                switch (this.action) {
                    case 'create':
                        return 'Crear'
                        break
                    case 'update':
                        return 'Editar'
                        break
                    case 'view':
                        return 'Ver'
                        break
                }
            },
            ...mapState('licenses', ['action'])
        }
    }

</script>
