<template>
  <card title="<i class='ti-bookmark-alt'></i> Crear caso">
    <cases-form />
  </card>
</template>

<script>
import card from "../../components/pages/card/card.vue";
import CasesForm from "./components/form/CasesForm.vue";

export default {
  components: { card, CasesForm }
};
</script>
