<template>
  <card title="<i class='ti-bookmark-alt'></i> Casos">
    <cases-table />
  </card>
</template>

<script>
import card from "../../components/pages/card/card.vue";
import CasesTable from "./components/tables/CasesTable.vue";
export default {
  components: { card, CasesTable }
};
</script>
