<template>
  <card title="<i class='ti-bookmark-alt'></i> Interactuar caso">
    <div class="card-case">
      <div class="header-case">
        <div class="container-space-between">
          <h2>
            <b>{{ caseData.title }}</b>
          </h2>
          <div class="company">
            <b>
              {{ `${caseData.company.name} - ${caseData.area.name}` }}
            </b>
          </div>
        </div>

        <div class="text-muted">
          {{ dateCreated(caseData.created_at) }}
        </div>
      </div>

      <div class="details-case">
        <table class="table-detail-case">
          <tr>
            <th>Solicita</th>
            <td>
              {{ `${caseData.user.name} ${caseData.user.surname || ""}` }}
            </td>
            <th>Estado</th>
            <td>
              <state-tag :state="caseData.state" />
            </td>
          </tr>

          <tr>
            <th>Responsables</th>
            <td class="d-flex">
              <div
                v-for="(item, index) in caseData.company.responsibles"
                :key="index"
              >
                <h5 class="mr-2">
                  <b-badge class="badge-responsible" variant="light">
                    {{ textCapitalize(item.name) }}
                    {{ textCapitalize(item.surname) || "" }}
                  </b-badge>
                </h5>
              </div>
            </td>

            <th>Prioridad</th>
            <td>
              <priority-tag :priority="caseData.priority" />
            </td>
          </tr>
        </table>
      </div>

      <div class="content-case">
        <p v-html="caseData.content"></p>
      </div>
    </div>

    <hr />

    <div
      class="section-actions d-flex justify-content-between align-items-center"
    >
      <div>
        <p class="text-muted m-0">
          <b>Respuestas 2</b>
        </p>
      </div>

      <div class="buttons">
        <b-button-group>
          <b-button variant="outline-danger text-danger">Cerrar</b-button>
          <b-button variant="outline-primary">Editar</b-button>
          <b-button variant="outline-primary" @click="modalCreateInteract"
            >Responder</b-button
          >
        </b-button-group>
      </div>
    </div>
    <!-- RESPUESTAS -->

    <hr />
    <div
      class="card-case-response mt-3"
      v-for="(item, index) in answersByUsers"
      :key="index"
    >
      <div
        class="header-case-response border-bottom-case d-flex"
        :class="
          user.id !== item.user.id
            ? 'justify-content-end'
            : 'justify-content-between'
        "
      >
        <div class="d-flex aling-items-center">
          <img :src="renderImg(item)" alt="nombre" class="avatar" />
          <div>
            <h5 class="m-0">
              <b>
                {{
                  textCapitalize(`${item.user.name} ${item.user.surname || ""}`)
                }}
                <i v-if="item.private" class="fa fa-lock"></i>
              </b>
            </h5>
            <div class="text-muted">
              {{ dateCreated(item.created_at) }}
            </div>
          </div>
        </div>
        <div v-if="user.id === item.user.id">
          <b-button-group class="d-flex aling-items-center">
            <b-button variant="link" class="btn-interact text-danger p-0 px-1">
              <i class="fa fa-trash"></i>
            </b-button>
            <b-button
              variant="link"
              class="btn-interact p-0 px-1 pt-1"
              @click="editInteract(item)"
            >
              <i class="fa fa-edit"></i>
            </b-button>
          </b-button-group>
        </div>
      </div>

      <div class="content-case">
        <p class="m-0" v-html="item.content"></p>
      </div>
    </div>

    <!-- modals -->
    <b-modal
      id="modal-case-form"
      centered
      title="Responder"
      size="lg"
      hide-footer
    >
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <cases-form
            :hideInputs="['title', 'priority', 'state']"
            @onSave="onSaveInteraction"
            :item="currentInteract"
          />
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";
import card from "../../components/pages/card/card.vue";
import moment from "../../plugins/moment";
import CasesForm from "./components/form/CasesForm.vue";
import PriorityTag from "./components/tags/PriorityTag.vue";
import StateTag from "./components/tags/StateTag.vue";

export default {
  components: { card, StateTag, PriorityTag, CasesForm },
  data() {
    return {
      currentInteract: null
    };
  },
  methods: {
    ...mapActions("cases", [
      "caseFindById",
      "createInteract",
      "updateInteract"
    ]),
    ...mapMutations("cases", ["setFormObj"]),
    textCapitalize(str, lower = true) {
      return (lower ? str.toLowerCase() : str).replace(
        /(?:^|\s|["'([{])+\S/g,
        match => match.toUpperCase()
      );
    },
    dateCreated(date) {
      if (moment(date).isValid()) {
        return moment(date).format("l LT");
      }

      return "";
    },
    openModalCaseForm() {
      this.$bvModal.show("modal-case-form");
    },
    closeModalCaseForm() {
      this.$bvModal.hide("modal-case-form");
    },
    async onSaveInteraction(data) {
      if (data.id) {
        await this.updateInteract({
          ...data
        });
      } else {
        await this.createInteract({
          ...data,
          case_id: this.caseData.id
        });
      }
      this.closeModalCaseForm();
      this.caseFindById(this.$route.params.id);
    },
    renderImg(item) {
      const firstInitialName = item.user.name.charAt(0);
      const firstInitialSurName = item.user.surname.charAt(0);

      return `https://tif-picture.herokuapp.com/svg?name=${firstInitialName} ${firstInitialSurName}&bg=${
        this.user.id !== item.user.id ? "69c" : "343a40"
      }`;
    },
    editInteract(item) {
      this.setFormObj({
        id: item.id,
        content: item.content,
        private: item.private
      });
      this.openModalCaseForm();
    },
    modalCreateInteract() {
      this.setFormObj({});
      this.openModalCaseForm();
    }
  },
  computed: {
    ...mapState("cases", ["caseData"]),
    ...mapGetters("login", ["user", "isUserU2"]),
    answersByUsers() {
      if (!this.isUserU2) {
        return this.caseData.answers.filter(a => !a.private);
      }

      return this.caseData.answers;
    }
  },
  created() {
    this.caseFindById(this.$route.params.id);
  }
};
</script>

<style>
.quill-editor:not(.bubble) .ql-container,
.quill-editor:not(.bubble) .ql-container .ql-editor {
  min-height: 15rem;
  padding-bottom: 1rem;
}
.ql-toolbar.ql-snow {
  height: 44px;
  line-height: initial;
}
</style>
