 <template>
  <card title="<i class='fa fa-fw fa-hospital-o'></i> Borrar Erp">

    <div class="row">
      <div class="col-12">
        <b-form
          data-vv-scope="form"
          @submit.prevent="validateForm()"
        >
        <div class="row">
            

            <div class="col-sm-12 col-lg-4">
                <label for="TypeOperation">Tipo de Operación </label>

                <el-select
                    multiple
                    id="TypeOperation"
                    name="TypeOperation"
                    placeholder=" "
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-model="params.type_operations"
                >
                    <el-option
                    v-for="type_operation in types_operations"
                    :key="type_operation.id"
                    :label="type_operation.code+ ' - ' +type_operation.description"
                    :value="type_operation.id"
                    >
                    </el-option>
                </el-select>
            </div>

            <div class="col-sm-12 col-lg-2">
              <label for="filter_date">Fecha desde: <span
                    class="text-danger"
                    v-text="'*'"
                /></label><br>
              <el-date-picker
                type="date"
                size="large"
                placeholder="Seleccione fecha"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                v-model="params.date[0]"
              ></el-date-picker>
            </div>

            <div class="col-sm-12 col-lg-2">
              <label for="filter_date">Fecha hasta: <span
                    class="text-danger"
                    v-text="'*'"
                /></label><br>
              <el-date-picker
                type="date"
                size="large"
                placeholder="Seleccione fecha"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                v-model="params.date[1]"
              ></el-date-picker>
            </div>

            <div class="col-sm-12 col-lg-4">
                <b-button
                    type="submit"
                    class="mt-4"
                    variant="primary"
                    :disabled="loading_"
                    >
                    <span class="btn-label">
                        <i class="ti-trash"></i>
                    </span> Borrar <i v-if="loading_" class="fa fa-spinner fa-spin"></i>
                </b-button>
            </div>
          </div>
        </b-form>
      </div>
    </div>

  </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card';
import { MessageBox } from 'element-ui';
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    Card,
    GridU2,
  },
  data () {
    return {
    contactsC: [],


    }
  },


  watch: {

  },

  created () {
    let date = new Date()
    this.year = date.toLocaleDateString('COT', {year:'numeric'}).replace(/\//g, '-')
    this.day = date.toLocaleDateString('COT', {day:'2-digit'}).replace(/\//g, '-')
    this.month = date.toLocaleDateString('COT', {month:'2-digit'}).replace(/\//g, '-')
    this._fetchTdateSubs()
    if (this.month == '01') {
    this.params.date = [
        `${this.year-1}-12-${this.day}`,
        `${this.year}-${this.month}-${this.day}`
    ]
    }
    else{
    this.params.date = [
        `${this.year}-${this.month-1}-${this.day}`,
        `${this.year}-${this.month}-${this.day}`
    ]
    if (this.day == 31) {
        this.params.date = [
        `${this.year}-${this.month-1}-30`,
        `${this.year}-${this.month}-${this.day}`
        ]
    }

    }
    this.fetchTypesOperations()

  },
  methods: {
    async _fetchTdateSubs(){
        await this.fetchTdateSubs()
        this.params.date[0] = `${this.date_subs.firmDate.substr(0, 4)}-${this.date_subs.firmDate.substr(5, 2)}-${this.date_subs.firmDate.substr(8, 2)}`
    },
    validateForm(){
        if (this.params.date[0] != null && this.params.date[1] != null){
            this.setloading_(true)
            this.clearErp()
        }else{
            this.$alert(
                `Debe llenar los campos fecha`,
                "Error", {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
            })
        }
    },
    ...mapActions('clear_erp', [
        'fetchTypesOperations',
        'fetchTdateSubs',
        'clearErp'
    ]),
    ...mapMutations('clear_erp', [
        'setloading_'
    ]),


    async initComponent () {


    }

  },

  computed: {
    ...mapState('clear_erp', [
        'types_operations',
        'params',
        'date_subs',
        'loading_'
    ]),
  },
}
</script>
