<template>
  <div class="table-container">
    <!-- TABLAS -->

    <div class="row px-5">
      <div class="col-3">
        <table class="table table-bordered">
          <tr>
            <th class="p-1">Fecha Inicio Causacion</th>
            <th class="p-1 pl-2">
              {{ fixAsset.year_month_start_caus.substring(0, 4) }}-{{
                fixAsset.year_month_start_caus.substring(4, 6)
              }}
            </th>
          </tr>
          <tr>
            <th class="p-1">Meses Causacion (Vida ultil)</th>
            <th class="p-1 pl-2">{{ fixAsset.months_to_caus }}</th>
          </tr>
          <tr>
            <th class="p-1">Vr-Compra</th>
            <th class="p-1 pl-2">{{ fixAsset.purchase_value | currency }}</th>
          </tr>
          <tr>
            <th class="p-1">Vr-IVA</th>
            <th class="p-1 pl-2">{{ fixAsset.iva_value | currency }}</th>
          </tr>
          <tr>
            <th class="p-1">Vr-Salvamento</th>
            <th class="p-1 pl-2">{{ fixAsset.salvage_value | currency }}</th>
          </tr>
        </table>
      </div>
    </div>

    <div class="row px-5">
      <div class="col-12">
        <button
          class="btn btn-primary"
          @click="validateCalculateDate"
          :disabled="loadingProcess"
        >
          Calcular Cuotas Depreciacion
          <b-spinner
            class="ml-2"
            small
            v-if="loadingProcess"
            variant="white"
            label="Spinning"
          ></b-spinner>
        </button>
      </div>
    </div>

    <div class="row px-5">
      <div class="col-12 mr-5" style="height: 80vh; overflow-y: scroll;">
        <grid-u2
          :columns="tableFixAssetMonthlyDepreciation.fields"
          :items="tableFixAssetMonthlyDepreciation.items"
          class="p-0"
        >
          <template slot="year_month" slot-scope="row">
            {{ row.item.year_month.substring(0, 4) }}-{{
              row.item.year_month.substring(4, 6)
            }}
          </template>
          <template slot="months_accumulated" slot-scope="row">
            <div class="text-center">{{ row.item.months_accumulated }}</div>
          </template>
        </grid-u2>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import GridU2 from "../../../../components/u2/grid.vue";

export default {
  components: {
    GridU2
  },
  data() {
    return {
      loadingProcess: false
    };
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchFixAssetMonthlyDepreciation",
      "createAndFetchFixAssetMonthlyDepreciation"
    ]),
    initComponent() {
      this.fetchFixAssetMonthlyDepreciation(this.fixAsset.id);
    },
    validateCalculateDate() {
      const countItems = this.tableFixAssetMonthlyDepreciation.items.length;

      if (countItems > 0) {
        this.$confirm(
          "¿Desea borrar y recalcular cuotas de depreciacion?",
          "Confirmar",
          {
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
            type: "warning",
            customClass: "notification-warning"
          }
        )
          .then(async result => {
            if (result) {
              this.tableFixAssetMonthlyDepreciation.items = [];
              this.loadingProcess = true;
              await this.createAndFetchFixAssetMonthlyDepreciation(
                this.fixAsset.id
              );
              this.loadingProcess = false;
            }
          })
          .catch(function(result) {});
      } else {
        this.createAndFetchFixAssetMonthlyDepreciation(this.fixAsset.id);
      }
    }
  },
  computed: {
    ...mapState("fixAssets", ["tableFixAssetMonthlyDepreciation", "fixAsset"])
  },
  created() {
    this.initComponent();
  }
};
</script>

<style>
.table-filters {
  height: 50px;
}
</style>
