<template>
  <div class="table-container">
    <!-- FILTROS -->
    <!-- <div class="row">
      <div class="col-md-4 ml-4">
        <b-form-group label="Buscar:" class="mb-1">
          <b-input-group class="mb-3">
            <b-form-input
              v-model="tableFixAssetAdditions.params.filterText"
              @keyup.enter="findData"
            ></b-form-input>
            <b-input-group-append>
              <b-button
                size="sm"
                text="Button"
                variant="primary"
                class="ti-search"
                @click="findData"
              ></b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>
    </div> -->

    <!-- TABLAS -->
    <div class="row">
      <div class="col-12 table-responsive">
        <grid-u2
          :columns="tableFixAssetAdditions.fields"
          :items="tableFixAssetAdditions.items"
        >
          <!-- ACCIONES -->
          <template slot="value" slot-scope="row">
            {{ row.item.value | currency }}
          </template>
          <template slot="actions" slot-scope="row">
            <div class="text-center">
              <b-button
                size="sm"
                id="botones"
                class="mt-1"
                @click="setFixAssetAddition(row.item)"
                >Seleccionar</b-button
              >
              <b-button
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="questionDelete(row.item, row)"
                >Eliminar</b-button
              >
            </div>
          </template>

          <!-- MENSAJE CUANDO NO HAY REGISTRO -->
        </grid-u2>
      </div>
    </div>

    <!-- PAGINACION E INFORMACION DE LA TABLA -->
    <!-- <div class="row" v-if="tableFixAssetAdditions.pagination">
      <div class="col-md-12 px-5">
        <div class="table-information">
          <div class="row">
            <div class="col-12">
              <p>
                Mostrando {{ tableFixAssetAdditions.pagination.from }} a
                {{ tableFixAssetAdditions.pagination.to }} de
                {{ tableFixAssetAdditions.pagination.total }} resultados
              </p>
            </div>

            <div class="col-6 my-1 form-inline">
              <label>Registros por página: &nbsp;</label>
              <b-form-select
                v-model="tableFixAssetAdditions.params.perPage"
                @change="findData()"
                :options="[5, 30, 100]"
              />
            </div>

            <div class="col-6">
              <b-pagination
                align="right"
                v-model="tableFixAssetAdditions.params.page"
                :total-rows="tableFixAssetAdditions.pagination.total"
                :per-page="tableFixAssetAdditions.pagination.per_page"
                aria-controls="my-table"
                @change="findData()"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import GridU2 from "../../../../components/u2/grid.vue";

export default {
  components: {
    GridU2
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchFixAssetAdditions",
      "deleteFixAssetAddition"
    ]),
    ...mapMutations("fixAssets", ["setFixAssetAddition"]),
    initComponent() {
      this.fetchFixAssetAdditions();
    },
    findData() {
      this.fetchFixAssetAdditions();
    },
    questionDelete(item) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(result => {
          if (result) {
            this.deleteFixAssetAddition(item.id);
          }
        })
        .catch(function(result) {});
    }
  },
  computed: {
    ...mapState("fixAssets", ["tableFixAssetAdditions"])
  },
  watch: {
    "tableFixAssetAdditions.params.perPage"() {
      this.fetchFixAssetAdditions();
    }
  },
  created() {
    this.initComponent();
  }
};
</script>

<style scoped>
.table-filters {
  height: 50px;
}
</style>
