<template>
  <div class="table-container">
    <!-- FILTROS -->
    <div class="row">
      <div class="col-md-4 ml-4">
        <b-form-group label="Buscar:" class="mb-1">
          <b-input-group class="mb-3">
            <b-form-input
              style="text-transform:uppercase;"
              v-model="tableFixAssets.params.filterText"
              @keyup.enter="findData"
            ></b-form-input>
            <b-input-group-append>
              <b-button
                size="sm"
                text="Button"
                variant="primary"
                @click="findData"
                :disabled="loadingData"
              >
                <b-spinner
                  v-if="loadingData"
                  small
                  variant="light"
                  class="mb-1"
                ></b-spinner>
                <i v-else class="ti-search"></i>
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-end ">
        <b-button
          class="mr-4"
          variant="primary"
          @click="openModalDocumentsDepreciation"
        >
          <i class="ti-file"></i> &nbsp; Comprobante Depreciacion</b-button
        >

        <b-button class="mr-4" variant="success" @click="downloadFixAssets">
          <i class="ti-download"></i> &nbsp; Descargar Excel</b-button
        >
      </div>
    </div>

    <!-- TABLAS -->
    <div class="row">
      <div class="col-12 table-responsive">
        <grid-u2
          ref="grid_"
          :columns="tableFixAssets.fields"
          :items="tableFixAssets.items"
        >
          <template
            slot="active_group"
            slot-scope="row"
            v-if="row.item.active_group"
          >
            {{ row.item.active_group.name_parameter }}
          </template>

          <template slot="caus_status" slot-scope="row">
            <h5 class="text-center">
              <b-badge
                href="#"
                :variant="row.item.caus_status ? 'success' : 'danger'"
                >{{
                  row.item.caus_status ? "Deprecia" : "No deprecia"
                }}</b-badge
              >
            </h5>
          </template>
          <!-- ACCIONES -->
          <template slot="actions" slot-scope="row">
            <div class="text-center d-flex justify-content-center text-nowrap">
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="secondary"
                :to="`/activos-fijos/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                size="sm"
                id="botones"
                class="mt-1 button-table mx-2"
                :to="`/activos-fijos/${row.item.id}/editar`"
                >Editar</b-button
              >
              <b-button
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="questionDelete(row.item, row)"
                >Eliminar</b-button
              >
            </div>
          </template>

          <!-- MENSAJE CUANDO NO HAY REGISTRO -->
        </grid-u2>
      </div>
    </div>

    <div class="row" v-if="tableFixAssets.pagination">
      <div class="col-md-12 px-5">
        <!-- PAGINACION E INFORMACION DE LA TABLA -->
        <div class="table-information">
          <div class="row">
            <div class="col-12">
              <p>
                Mostrando {{ tableFixAssets.pagination.from }} a
                {{ tableFixAssets.pagination.to }} de
                {{ tableFixAssets.pagination.total }} resultados
              </p>
            </div>

            <div class="col-6 my-1 form-inline">
              <label>Registros por página: &nbsp;</label>
              <b-form-select
                v-model="tableFixAssets.params.perPage"
                @change="findData()"
                :options="[5, 30, 100]"
              />
            </div>

            <div class="col-6">
              <b-pagination
                align="right"
                v-model="tableFixAssets.params.page"
                :total-rows="tableFixAssets.pagination.total"
                :per-page="tableFixAssets.pagination.per_page"
                aria-controls="my-table"
                @change="findData()"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modals -->
    <b-modal
      id="modal-fixassets-document-depreciation"
      centered
      title="Depreciacion Mensual"
      size="xl"
      header-class="header-modal-u2"
    >
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <fix-assets-document-depreciation-table />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions, mapMutations } from "vuex";
import GridU2 from "../../../../components/u2/grid.vue";
import FixAssetsDocumentDepreciationTable from "./FixAssetsDocumentDepreciationTable.vue";

export default {
  name: "TableProducts",
  components: {
    GridU2,
    FixAssetsDocumentDepreciationTable
  },
  data() {
    return {
      loadingData: false
    };
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchFixAssets",
      "deleteFixAsset",
      "downloadFixAssets"
    ]),
    initComponent() {
      this.fetchFixAssets();
    },
    async findData() {
      this.loadingData = true;
      await this.fetchFixAssets();
      await this.$refs.grid_.buildData();
      this.loadingData = false;
    },
    questionDelete(item) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(result => {
          if (result) {
            this.deleteFixAsset(item.id);
          }
        })
        .catch(function(result) {});
    },
    openModalDocumentsDepreciation() {
      this.$bvModal.show("modal-fixassets-document-depreciation");
    }
  },
  computed: {
    ...mapState("fixAssets", ["tableFixAssets"])
  },
  watch: {
    "tableFixAssets.params.perPage"() {
      this.fetchFixAssets();
    }
  },
  created() {
    this.initComponent();
  }
};
</script>

<style scoped>
.table-filters {
  height: 50px;
}
</style>
