<template>
  <div class="table-container">
    <preloader
      v-if="tableFixAssetDocumentDepreciationLoading"
      mensaje="Cargando..."
    ></preloader>
    <div class="row px-5">
      <div class="col-3">
        <label for="year_month"> Año-mes </label><br />
        <el-date-picker
          id="year_month"
          type="month"
          value-format="yyyyMM"
          autosize
          v-model="tableFixAssetDocumentDepreciation.params.year_month"
          size="small"
        />
        <b-button
          variant="success"
          size="sm"
          class="mb-1"
          @click="_createFixAssetDocumentDepreciation"
          >Generar Comprobante</b-button
        >
      </div>
    </div>

    <hr />

    <!-- TABLAS -->
    <div class="row px-5">
      <div class="col-12 mr-5" style="height: 80vh; overflow-y: scroll;">
        <grid-u2
          :columns="tableFixAssetDocumentDepreciation.fields"
          :items="tableFixAssetDocumentDepreciation.items"
          class="p-0"
        >
          <template slot="document_date" slot-scope="row">
            <div class="text-center">
              {{ formatDate(row.item.document_date) }}
            </div>
          </template>
          <template slot="consecutive" slot-scope="row">
            <div class="text-center">
              {{ row.item.consecutive }}
            </div>
          </template>
          <template slot="tot_act" slot-scope="row">
            <div class="text-center">
              {{ sumTotAct(row.item) }}
            </div>
          </template>
          <template slot="tot_vrs" slot-scope="row">
            <div class="text-center">
              {{ sumTotVr(row.item) | currency }}
            </div>
          </template>
          <template slot="actions" slot-scope="row">
            <div class="text-center">
              <b-button size="sm" id="botones" class="mt-1"
                >Ver comprobante</b-button
              >
              <b-button
                size="sm"
                variant="success"
                class="mt-1"
                @click="generateExcelFixAssetDocumentDepreciation(row.item.id)"
                >Excel activos deprec</b-button
              >
              <b-button
                size="sm"
                variant="danger"
                class="mt-1"
                @click="_regenerateFixAssetDocumentDepreciation(row.item.id)"
                >Regenerar
              </b-button>
            </div>
          </template>
        </grid-u2>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import Preloader from "../../../../components/layout/preloader.vue";
import GridU2 from "../../../../components/u2/grid.vue";

export default {
  components: {
    GridU2,
    Preloader
  },
  data() {
    return {
      loadingProcess: false
    };
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchFixAssetDocumentDepreciation",
      "createFixAssetDocumentDepreciation",
      "regenerateFixAssetDocumentDepreciation",
      "generateExcelFixAssetDocumentDepreciation"
    ]),
    initComponent() {
      this.fetchFixAssetDocumentDepreciation();
    },
    formatDate(date) {
      let d = new Date(date);
      let month = "" + (d.getMonth() + 1);
      let year = d.getFullYear();

      if (month.length < 2) month = "0" + month;

      return [year, month].join("-");
    },
    sumTotVr(item) {
      const total = item.accounting_transactions
        .filter(t => t.transactions_type === "D")
        .reduce((a, b) => a + parseFloat(b.operation_value), 0);
      return total;
    },
    sumTotAct(item) {
      return item.accounting_transactions.length / 2;
    },
    _createFixAssetDocumentDepreciation() {
      this.createFixAssetDocumentDepreciation(
        this.tableFixAssetDocumentDepreciation.params.year_month
      );
    },
    async _regenerateFixAssetDocumentDepreciation(id) {
      await this.$confirm(
        "¿Esra seguro de regenerar el coprobante?",
        "Regenerar Comprobante",
        {
          confirmButtonText: "Aceptar",
          cancelButtonText: "Cancelar",
          type: "warning",
          customClass: "notification-warning"
        }
      )
        .then(async result => {
          if (result) {
            await this.regenerateFixAssetDocumentDepreciation(id);
          }
        })
        .catch(function(result) {});
    }
  },
  computed: {
    ...mapState("fixAssets", [
      "tableFixAssetDocumentDepreciation",
      "tableFixAssetDocumentDepreciationLoading",
      "fixAsset"
    ])
  },
  created() {
    this.initComponent();
  }
};
</script>

<style>
.table-filters {
  height: 50px;
}
</style>
