<template>
    <div>
        <form @submit.prevent="validateActionSubcategory()" data-vv-scope="form">
            <br>
            <div class="row">
                <div class="form-group col-sm-6 col-md-3"
                    v-bind:class="errors.has('form.subcategorie_code') ? 'form-group-error': ''">
                    <label for="subcategorie_code">Código<span class="text-danger">*</span></label>
                    <input type="text"
                            id="subcategorie_code"
                            name="subcategorie_code"
                            class="form-control"
                            v-validate="'required|max:15'"
                            data-vv-as=" "
                            :disabled="disabledInputs"
                            v-model="selectedSubcategory.subcategorie_code"
                    >
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                        {{ errors.first('form.subcategorie_code') }}
                    </span>
                </div>

                <div class="form-group col-sm-6 col-md-5"
                    v-bind:class="errors.has('form.description') ? 'form-group-error': ''">
                    <label for="description">Descripción<span class="text-danger">*</span></label>
                    <input type="text"
                            id="description"
                            name="description"
                            class="form-control"
                            style="text-transform: uppercase"
                            v-validate="'required|max:255'"
                            data-vv-as=" "
                            :disabled="disabledInputs"
                            v-model="selectedSubcategory.description"
                    >
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                        {{ errors.first('form.description') }}
                    </span>
                </div>
            </div>
            <div class="row" v-if="!disabledInputs">
                <div class="form-group col-12">
                    <b-button type="submit" class="btn btn-labeled btn-primary float-right ml-1 otro-boton">
                        <span class="btn-label">
                            <i class="ti-save-alt"> </i>
                        </span> &nbsp; {{ this.actionSubcategory == 'create' ? 'Guardar' : 'Actualizar' }}
                    </b-button>
                    <b-button type="button" id="limpiar" class="btn btn-labeled btn-secondary float-right" @click="clearSubcategory()">
                        <span class="btn-label">
                            <i class="ti-close"> </i>
                        </span> &nbsp; {{ this.actionSubcategory == 'create' ? 'Limpiar' : 'Nuevo' }}
                    </b-button>
                </div>
            </div>

        </form>

        <!--ACORDEON FUNCIONARIOS REGISTRADOS-->
        <b-card no-body class="mb-1">
            <b-btn block href="#" v-b-toggle.subcategories-list id="acordeon">SUBCATEGORIAS REGISTRADAS</b-btn>
            <b-collapse id="subcategories-list" visible ole="tabpanel">
                <b-card-body>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <b-table striped hover show-empty
                                     :items="subcategories"
                                     :fields="fieldsSubcategoriesTable"
                                     empty-text="No existen subcategorias registradas"
                            >
                                <!--Template para cargar las acciones-->
                                <template slot="actions" slot-scope="row">
                                    <b-button size="sm" id="botones" class="button-table"
                                              @click="setSubcategoryComp(row.item)">
                                        {{ disabledInputs ? 'Ver' : 'Editar'}}
                                    </b-button>
                                    <b-button size="sm" variant="danger" v-if="!disabledInputs" class="button-table"
                                              @click="questionDeleteSubcategory(row.item)">
                                        Eliminar
                                    </b-button>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </b-card-body>
            </b-collapse>
        </b-card>

    </div>

</template>

<script>

    // Imports para inputs de fecha del formulario con FlatPicker
    import flatPickr from 'vue-flatpickr-component';
    import {Spanish} from "flatpickr/dist/l10n/es.js"
    import 'flatpickr/dist/flatpickr.css';
    import {MessageBox} from 'element-ui';

    flatpickr.localize(Spanish);

    //Vuex
    import {mapState, mapActions, mapMutations} from 'vuex';

    export default {
        name: "maintenance",
        props: ['disabledInputs'],
        components: {
            flatPickr
        },
        data() {
            return {
                responseUpdate: false,
                fieldsSubcategoriesTable: [
                    {key: 'subcategorie_code', label: 'Código', thStyle: {width: '120px !important'}},
                    {key: 'description', label: 'Descripción', thStyle: {'min-width': '150px !important'}},
                    {
                        key: 'actions', label: 'Opciones', thStyle: {
                            width: this.disabledInputs ? '85px !important' : '185px !important',
                            'min-width': this.disabledInputs ? '85px !important' : '185px !important'
                        }
                    }
                ],
            }
        },
        methods: {
            async validateActionSubcategory() {
                await this.$validator.validateAll('form').then((result) => {
                    if (!result) {
                        this.$alert("Algunos campos no se registraron correctamente", "Error", {
                            confirmButtonText: "Aceptar",
                            type: "error",
                            customClass:'notification-error'
                        }).then(verifica => {});
                    }
                })

                if (!this.errorsSubcategories) {
                    if (this.actionSubcategory == 'create') {
                        await this.addSubcategory()
                        this.clearSubcategory()
                    } else {
                        await this.$confirm('¿Está seguro de actualizar?', 'Actualizar', {
                            confirmButtonText: 'Aceptar',
                            cancelButtonText: 'Cancelar',
                            type: 'warning',
                            customClass:'notification-warning'
                        }).then((result) => {
                            this.responseUpdate = result
                        })

                        if (this.responseUpdate) {
                            await this.updateSubcategory()
                            this.clearSubcategory()
                            this.responseUpdate = false
                        }
                    }
                }
            },
            clearSubcategory() {
                this.resetSelectedSubcategory()
                this.$validator.reset('form')
                this.setActionSubcategories('create')
            },
            async setSubcategoryComp(subcategory) {
                await this.setSubcategory(subcategory)
                this.setActionSubcategories('update')
            },
            questionDeleteSubcategory(selectedSubcategory) {
                this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    type: 'warning',
                    customClass:'notification-warning'
                }).then(
                    (result) => {
                        if (result) {
                            this.removeSubcategory(selectedSubcategory)
                            this.clearSubcategory()
                        }
                    }
                ).catch(function (result) {
                })
            },
            ...mapActions('subcategories', [
                'fetchSubcategories',
                'addSubcategory',
                'updateSubcategory',
                'removeSubcategory',
                'getSubcategory',
            ]),
            ...mapMutations('subcategories', [
                'setActionSubcategories',
                'setSubcategory',
                'resetSelectedSubcategory'
            ])
        },
        computed: {
            errorsSubcategories() {
                return this.errors.items.filter(i => i.scope == 'form').length
            },
            ...mapState('subcategories', [
                'subcategories',
                'actionSubcategory',
                'selectedSubcategory',
            ]),
        }
    }
</script>
<style>
    .el-input__inner {
    height: 31.25px !important;
}
</style>
