<template>
  <div class="report-content" style="height: 90% !important">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <b-card no-body class="mb-1" style="width: 98%">
        <b-btn
          block
          href="#"
          v-b-toggle.general_data
          id="acordeon"
          class="new-accordion accordion-title"
          @click="changeIcon"
          >Filtros Informe
          <span class="aling-left">
            <i v-bind:class="iconAcordion"></i>
          </span>
        </b-btn>
        <b-collapse v-bind:visible="true" id="general_data" role="tabpanel">
          <b-card-body class="banner-new">
            <div class="row">
              <div class="col-3">
                <label for="year_month">Año Mes</label
                ><span class="text-danger">*</span> &nbsp;
                <el-date-picker
                  v-model="params.year_month"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-3">
                <label for="account_from">Cuenta Desde</label>
                <el-button
                  id="accountFrom"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountFrom"
                ></el-button>
                <br />
                <b-badge
                  v-if="params.description_account_from != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_from)"
                ></b-badge>
                <el-button
                  v-if="params.view_delete_from"
                  id="accountFrom"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountFrom"
                ></el-button>

                <ModalAccount
                  @selectedAccount="_selectedAccountFrom"
                  :scrollable="true"
                  :modal_id="accountFrom"
                />
              </div>
              <div class="col-3">
                <label for="account_up">Cuenta Hasta</label>
                <el-button
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountUp"
                >
                </el-button>
                <br />
                <b-badge
                  v-if="params.description_account_up != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_up)"
                ></b-badge>
                <el-button
                  v-if="params.view_delete_up"
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountUp"
                ></el-button>
                <ModalAccount
                  @selectedAccount="_selectedAccountUp"
                  :scrollable="true"
                  :modal_id="accountUp"
                />
              </div>
              <div class="col-3 inline">
                <span for="filter_text">Palabra</span>&nbsp;
                <el-input
                  v-model="params.filter_text"
                  placeholder="Busqueda Palabra"
                  @keyup.native="validateForm"
                  style="text-transform: uppercase"
                  class="min-input"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12 mb-2" style="text-align: center">
                <b-button
                  v-b-toggle.general_data
                  type="submit"
                  class="mt-4"
                  variant="primary"
                >
                  <span class="btn-label">
                    <i class="ti-search min-height"></i>
                  </span>
                  Listar
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>

    <ag-grid-vue
      :style="style_trial_balance"
      :class="ag_grid.selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="trial_balance"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :pinnedTopRowData="pinnedTopRowData"
      :frameworkComponents="frameworkComponents"
      :pinnedBottomRowData="pinnedBottomRowData"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
      :rowSelection="rowSelection"
      :groupSelectsChildren="true"
      :suppressRowClickSelection="true"
      :suppressAggFuncInHeader="true"
      @filterChanged="filterChanged"
    ></ag-grid-vue>
  </div>
</template>
<style>
body {
  font-size: 15px !important;
}
</style>
<script>
import { AgGridVue } from "@ag-grid-community/vue";
// import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";
// import totalRowComponent from "../../components/totalRowComponent.vue";
import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
import Input from "../../views/promotions/input.vue";

export default {
  props: {
    style_trial_balance: {
      required: false,
      default: "width: 100%; height: 98%",
    },
  },
  data() {
    return {
      iconAcordion: "ti-angle-down",
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
      columnDefs: [],
      gridOptions: null,
      gridApi: null,
      statusBar: null,
      defaultColDef: null,
      columnApi: null,
      groupDefaultExpanded: null,
      autoGroupColumnDef: null,
      selectedTheme: "ag-theme-balham",
      filter_text: "",
      frameworkComponents: null,
      pinnedBottomRowData: null,
      pinnedTopRowData: null,
      getRowStyle: null,
      rowSelection: null,
      rowData: null,
      themes: [
        { theme: "ag-theme-alpine", label: "Alpine" },
        { theme: "ag-theme-dark", label: "Dark" },
        { theme: "ag-theme-balham", label: "Balham" },
        { theme: "ag-theme-balham-dark", label: "Balham dark" },
        { theme: "ag-theme-material", label: "Material" },
      ],
      sideBar: {
        toolPanels: [
          {
            id: "columns",
            labelDefault: "Columnas",
            labelKey: "columns",
            iconKey: "columns",
            toolPanel: "agColumnsToolPanel",
          },
          {
            id: "filters",
            labelDefault: "Filtros",
            labelKey: "filters",
            iconKey: "filter",
            toolPanel: "agFiltersToolPanel",
          },
        ],
        //defaultToolPanel: "filters",
        hiddenByDefault: false,
      },
      gridColumnApi: null,
      columnTypes: null,
      modules: AllModules,
    };
  },
  created() {
    //this.init();
  },
  components: {
    AgGridVue,
    Input,
    Card,
    Preloader,
    ModalAccount,
  },
  async beforeMount() {
    this.gridOptions = {};

    this.autoGroupColumnDef = { minWidth: 450 };

    this.columnDefs = [
      {
        field: "code",
        headerName: "Codigo",
        cellClass: (params) => {
          return this.validateTypeLevel(params) == "AUXILIAR"
            ? "not-bold"
            : "yes-bold";
        },
        cellRenderer: "agGroupCellRenderer",
        cellRendererParams: { checkbox: true },
      },
      {
        field: "name",
        headerName: "Cuenta",
        width: 330,
        getQuickFilterText: function (params) {
          return params.value.name;
        },
        cellClass: (params) => {
          return this.validateTypeLevel(params) == "AUXILIAR"
            ? "not-bold"
            : "yes-bold";
        },
      },
      {
        field: "level",
        headerName: "Nivel",
        cellClass: (params) => {
          return this.validateTypeLevel(params) == "AUXILIAR"
            ? "not-bold"
            : "yes-bold";
        },
      },
      {
        field: "fn_previous_balance",
        valueFormatter: this.currencyFormatter,
        headerName: "Saldo Anterior",
        filter: "agNumberColumnFilter",
        cellClass: (params) => {
          return this.validateTypeLevel(params) == "AUXILIAR"
            ? "not-bold aling-left-text"
            : "yes-bold aling-left-text";
        },
      },
      {
        field: "debits_month",
        valueFormatter: this.currencyFormatter,
        headerName: "Debitos",
        filter: "agNumberColumnFilter",
        cellClass: (params) => {
          return this.validateTypeLevel(params) == "AUXILIAR"
            ? "not-bold aling-left-text"
            : "yes-bold aling-left-text";
        },
      },
      {
        field: "credits_month",
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        headerName: "Creditos",
        cellClass: (params) => {
          return this.validateTypeLevel(params) == "AUXILIAR"
            ? "not-bold aling-left-text"
            : "yes-bold aling-left-text";
        },
      },
      {
        field: "final_balance",
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        headerName: "Saldo Final",
        cellClass: (params) => {
          return this.validateFinalBalance(params) == 0
            ? "not-bold aling-left-text"
            : this.validateFinalBalance(params) == 1
            ? "yes-bold aling-left-text"
            : this.validateFinalBalance(params) == 2
            ? "not-bold aling-left-text bad-score"
            : this.validateFinalBalance(params) == 3
            ? "yes-bold aling-left-text bad-score"
            : this.validateFinalBalance(params) == 4
            ? "not-bold aling-left-text good-score"
            : this.validateFinalBalance(params) == 5
            ? "yes-bold aling-left-text good-score"
            : this.validateFinalBalance(params) == 6
            ? "not-bold aling-left-text good-score"
            : this.validateFinalBalance(params) == 7
            ? "yes-bold aling-left-text good-score"
            : this.validateFinalBalance(params) == 8
            ? "not-bold aling-left-text bad-score"
            : this.validateFinalBalance(params) == 9
            ? "yes-bold aling-left-text bad-score"
            : "";
        },
      },
    ];

    this.getRowStyle = (params) => {
      if (params.node.rowPinned) {
        return {
          color: "#3d3d3d",
          "font-size": "15px",
          "font-weight": "bold",
          background: "#c1c1c1",
          "border-top": "1px solid #fff",
        };
      }
    };

    this.defaultColDef = {
      minWidth: 220,
      enableValue: true,
      enableRowGroup: true,
      sortable: true,
      filter: true,
      floatingFilter: true,
      resizable: true,
    };

    this.rowSelection = "multiple";

    this.statusBar = {
      statusPanels: [
        {
          statusPanel: "agTotalAndFilteredRowCountComponent",
          align: "left",
        },
        {
          statusPanel: "agTotalRowCountComponent",
          align: "center",
        },
        { statusPanel: "agFilteredRowCountComponent" },
        { statusPanel: "agSelectedRowCountComponent" },
        { statusPanel: "agAggregationComponent" },
      ],
    };

    this.groupDefaultExpanded = 0;

    //this.gridApi.openToolPanel("columns");
    this.pinnedBottomRowData = this.createData();

    this.frameworkComponents = {
      customPinnedRowRenderer: totalRowComponent,
    };
  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridColumnApi = this.gridOptions.columnApi;
  },
  computed: {
    ...mapState("trialbalance", [
      "trial_balance",
      "ag_grid",
      "loading",
      "params",
      "params_create",
      "accounts_from",
      "accounts_up",
      "levels",
    ]),
  },
  methods: {
    ...mapActions("trialbalance", [
      "fetchAccountsFrom",
      "fetchAccountsUp",
      "fetchTrialBalance",
      "fetchLevels",
    ]),
    ...mapMutations(["trialbalance", "setLevels"]),
     filterChanged(params) {
      let result = {
        fn_previous_balance: 0,
        debits_month: 0,
        credits_month: 0,
        final_balance: 0,
      };

      params.api.forEachNodeAfterFilter(i => {
        result.fn_previous_balance += Number(i.data.fn_previous_balance);
        result.debits_month += Number(i.data.debits_month);
        result.credits_month += Number(i.data.credits_month);
        result.final_balance += Number(i.data.final_balance);
      });

      this.pinnedBottomRowData = [result];
    },
    async maxReport() {
      await localStorage.setItem(
        "params_trial_balance",
        JSON.stringify(this.params)
      );
      window.open("/#/reportes/trial-balance", "_blank");
    },
    validateFinalBalance(params) {
      let res = "";
      if (params.data.final_balance == 0 && params.data.level == "AUXILIAR") {
        res = 0; //not-bold aling-left-text
      } else if (
        params.data.final_balance == 0 &&
        params.data.level != "AUXILIAR"
      ) {
        res = 1; //yes-bold aling-left-text
      } else if (
        params.data.final_balance < 0 &&
        params.data.level == "AUXILIAR" &&
        params.data.debit_credit == 1
      ) {
        res = 2; //not-bold aling-left-text bad-score
      } else if (
        params.data.final_balance < 0 &&
        params.data.level != "AUXILIAR" &&
        params.data.debit_credit == 1
      ) {
        res = 3; //yes-bold aling-left-text bad-score
      } else if (
        params.data.final_balance > 0 &&
        params.data.level == "AUXILIAR" &&
        params.data.debit_credit == 1
      ) {
        res = 4; //not-bold aling-left-text good-score
      } else if (
        params.data.final_balance > 0 &&
        params.data.level != "AUXILIAR" &&
        params.data.debit_credit == 1
      ) {
        res = 5; //yes-bold aling-left-text good-score
      } else if (
        params.data.final_balance < 0 &&
        params.data.level == "AUXILIAR" &&
        params.data.debit_credit == 2
      ) {
        res = 6; //not-bold aling-left-text good-score
      } else if (
        params.data.final_balance < 0 &&
        params.data.level != "AUXILIAR" &&
        params.data.debit_credit == 2
      ) {
        res = 7; //yes-bold aling-left-text good-score
      } else if (
        params.data.final_balance > 0 &&
        params.data.level == "AUXILIAR" &&
        params.data.debit_credit == 2
      ) {
        res = 8; //not-bold aling-left-text bad-score
      } else if (
        params.data.final_balance > 0 &&
        params.data.level != "AUXILIAR" &&
        params.data.debit_credit == 2
      ) {
        res = 9; //yes-bold aling-left-text bad-score
      }
      return res;
    },
    validateDebitCredit(params) {
      return params.data.debit_credit;
    },
    clearAccountFrom() {
      this.params.account_from = "";
      this.params.description_account_from = "";
      this.params.view_delete_from = null;
    },
    clearAccountUp() {
      this.params.account_up = "";
      this.params.description_account_up = "";
      this.params.view_delete_up = null;
    },
    validateTypeLevel(params) {
      return params.data.level;
    },
    onBtExport() {
      const fecha = new Date();
      var dateString = moment(fecha).format("YYYY-MM-DD hh:mm:ss");
      var params = {
        fileName: "Balance-Prueba-" + dateString + ".xlsx",
      };
      this.gridApi.exportDataAsExcel(params);
    },
    autoSizeColumns() {},
    async init() {
      //await this.fetchAccountsFrom();
      //await this.fetchAccountsUp();
      //await this.setDefaultYearMonth();
      //this.loading.module = false;
    },
    onBtCsv() {
      const fecha = new Date();
      var dateString = fecha.format("YYYY-MM-DD hh:mm:ss");
      var params = {
        fileName: "Balance-Prueba-" + dateString + ".csv",
      };
      this.gridApi.exportDataAsCsv(params);
    },
    createData() {
      //console.log("Aqui");
      let result = [
        {
          fn_previous_balance: 0,
          debits_month: 0,
          credits_month: 0,
          final_balance: 0,
        },
      ];

       for (let element in result[0]) {
          result[0][element] = +this.trial_balance.reduce(
            (total, currentValue) => +total + (+currentValue[element] || 0), 0
          );
        }

      return result;
    },
    getContactName(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.contact) {
        return `${params.data.contact.name} ${
          params.data.contact.surname || ""
        } `;
      } else {
        return "";
      }
    },
    getDebitValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "D") {
        return `${params.data.operation_value}`;
      }
    },
    getCreditValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "C") {
        return `${params.data.operation_value}`;
      }
    },
    currencyFormatter(params) {
      if (params.value !== "undefined" && params.value !== undefined) {
        return this.formatNumber(params.value);
      }

      return "";
    },
    formatNumber(number) {
      return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
    },
    onFilterTextBoxChanged() {
      this.gridApi.setQuickFilter(filter_text.value);
    },
    onPrintQuickFilterTexts() {
      this.gridApi.forEachNode(function (rowNode, index) {
        console.log(
          "Row " +
            index +
            " quick filter text is " +
            rowNode.quickFilterAggregateText
        );
      });
    },
    onQuickFilterTypeChanged() {
      var rbCache = document.querySelector("#cbCache");
      var cacheActive = rbCache.checked;
      console.log("using cache = " + cacheActive);
      this.gridOptions.cacheQuickFilter = cacheActive;

      // set row data again, so to clear out any cache that might of existed
      this.gridApi.setRowData(createRowData());
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month = await this.formatDate(this.restarMes(d));
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
    async validateForm() {
      if (this.params.year_month == null) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      }

      if (this.params.account_up < this.params.account_from) {
        this.$notify({
          title: "Atención",
          message: "la cuenta Hasta no puede ser menor a la cuenta Desde",
          type: "warning",
        });
        return false;
      }

      // this.fetchAuxiliaryBook();
      await this.fetchTrialBalance();
      await localStorage.setItem(
        "params_trial_balance",
        JSON.stringify(this.params)
      );
      this.pinnedBottomRowData = this.createData();
      this.$emit('setTitle')
    },
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;
      (this.params.view_delete_from = 1),
        this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      (this.params.view_delete_up = 1),
        this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },

    fetchAccountsFrom_(text) {
      this.params_accounts_from.filter = text;
      this.fetchAccountsFrom();
    },
    fetchAccountsUp_(text) {
      this.params_accounts_up.filter = text;
      this.fetchAccountsUp();
    },
    changeIcon() {
      if (this.iconAcordion == "ti-angle-up") {
        this.iconAcordion = "ti-angle-down";
      } else {
        this.iconAcordion = "ti-angle-up";
      }
    },
  },
};
</script>
