<template>
  <div class="report-content">
    <div class="row m-0 py-2 report-header-gray banner-new">
      <div class="col-md-3"><img src="../../../assets/img/Logo-erp.svg" alt="" class="report-logo"></div>
      <div class="col-md-7 align-self-center color-sc"><h5>Balance de Prueba {{title}}</h5></div>
      <div class="col-md-2">
        <el-select size="small" v-model="ag_grid.selectedTheme">
          <el-option
            v-for="(item, index) in optionsThemes"
            :key="index"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>
    <preloader v-if="loading" mensaje="Cargando información Balance de Prueba"></preloader>
    <index @setTitle="setTitle" v-else/>
  </div>
</template>

<script>
  import {AgGridVue} from '@ag-grid-community/vue';
  import 'ag-grid-enterprise';
  import moment from 'moment'
  import {AllModules} from '@ag-grid-enterprise/all-modules';
  import {mapActions, mapState, mapMutations} from "vuex";
  import Preloader from "../../../components/layout/preloader";
  import totalRowComponent from '../../components/totalRowComponent.vue';
  import index from '../../../components/Trial-balance/index';

  export default {
    name: 'App',
    // data() {
    //   return {
    //     columnDefs: [],
    //     gridOptions: null,
    //     gridApi: null,
    //     statusBar: null,
    //     defaultColDef: null,
    //     rowGroupPanelShow: null,
    //     groupDefaultExpanded: null,
    //     autoGroupColumnDef: null,
    //     selectedTheme: 'ag-theme-balham-dark',
    //     pinnedTopRowData: null,
    //     pinnedBottomRowData: null,
    //     frameworkComponents: null,
    //     getRowStyle: null,
    //     themes: [
    //       {theme: 'ag-theme-alpine', label: 'Alpine'},
    //       {theme: 'ag-theme-dark', label: 'Dark'},
    //       {theme: 'ag-theme-balham', label: 'Balham'},
    //       {theme: 'ag-theme-balham-dark', label: 'Balham dark'},
    //       {theme: 'ag-theme-material', label: 'Material'}
    //     ],
    //     sideBar: {
    //       toolPanels: [
    //         {
    //           id: 'columns',
    //           labelDefault: 'Columnas',
    //           labelKey: 'columns',
    //           iconKey: 'columns',
    //           toolPanel: 'agColumnsToolPanel',
    //         },
    //         {
    //           id: 'filters',
    //           labelDefault: 'Filtros',
    //           labelKey: 'filters',
    //           iconKey: 'filter',
    //           toolPanel: 'agFiltersToolPanel',
    //         },
    //       ],
    //       defaultToolPanel: 'filters',
    //       hiddenByDefault: false,
    //     },
    //     fields_sales: [
    //       'total_value_brut_first_month',
    //       'total_value_brut_second_month',
    //       'total_value_brut_third_month',
    //       'total_value_brut_fourth_month',
    //       'total_value_brut_fifth_month',
    //       'total_value_brut_sixth_month'
    //     ],
    //     fields_cost: [
    //       'total_cost_value_first_month',
    //       'total_cost_value_second_month',
    //       'total_cost_value_third_month',
    //       'total_cost_value_fourth_month',
    //       'total_cost_value_fifth_month',
    //       'total_cost_value_sixth_month'
    //     ],
    //     fields_utility: [
    //       'total_utility_first_month',
    //       'total_utility_second_month',
    //       'total_utility_third_month',
    //       'total_utility_fourth_month',
    //       'total_utility_fifth_month',
    //       'total_utility_sixth_month'
    //     ],
    //     gridColumnApi: null,
    //     columnTypes: null,
    //     modules: AllModules
    //   }
    // },
    components: {
      AgGridVue,
      Preloader,
      index
    },
    data(){
        return {
            optionsThemes : [
              { value: "ag-theme-alpine", label: "Alpine" },
              { value: "ag-theme-dark", label: "Dark" },
              { value: "ag-theme-balham", label: "Balham" },
              { value: "ag-theme-balham-dark", label: "Balham dark" },
              // { value: "ag-theme-material", label: "Material" },
            ],
            months:[
              {
                id:'01',
                description:'Enero'
              },
              {
                id:'02',
                description:'Febrero'
              },
              {
                id:'03',
                description:'Marzo'
              },
              {
                id:'04',
                description:'Abril'
              },
              {
                id:'05',
                description:'Mayo'
              },
              {
                id:'06',
                description:'Junio'
              },
              {
                id:'07',
                description:'Julio'
              },
              {
                id:'08',
                description:'Agosto'
              },
              {
                id:'09',
                description:'Septiembre'
              },
              {
                id:'10',
                description:'Octubre'
              },
              {
                id:'11',
                description:'Noviembre'
              },
              {
                id:'12',
                description:'Diciembre'
              }
            ],
            title : null,
            params_a : null,
            loading : true
        }
    },
    computed: {
      ...mapState('trialbalance', ['params', 'ag_grid'])

    },
    created(){
        this.init()
    },
    methods: {
        ...mapMutations('trialbalance', ['setParams']),
        ...mapActions('trialbalance', ['fetchTrialBalance']),
        async init(){
            // this.params_a = await JSON.parse(localStorage.getItem("params_trial_balance"))
            // await this.setParams(this.params_a)
            // await this.fetchTrialBalance()
            // this.title = this.setTitle()
            this.loading = false
        },
        setTitle(){
          return this.months.find(el=> el.id == this.params.year_month.substr(4,2)).description + ' ' + this.params.year_month.substr(0,4)
        },
       /*  onFilterTextBoxChanged() {
            gridOptions.api.setQuickFilter(document.getElementById('filter-text-box').value);
        },
        onPrintQuickFilterTexts() {
            gridOptions.api.forEachNode(function(rowNode, index) {
                console.log('Row ' + index + ' quick filter text is ' + rowNode.quickFilterAggregateText);
            });
        },
        onQuickFilterTypeChanged() {
            var rbCache = document.querySelector('#cbCache');
            var cacheActive = rbCache.checked;
            console.log('using cache = ' + cacheActive);
            gridOptions.cacheQuickFilter = cacheActive;

            // set row data again, so to clear out any cache that might of existed
            gridOptions.api.setRowData(createRowData());
        } */
    }
  }

</script>
