<template>
  <card title="<i class='ti-control-shuffle'></i> Atributos Producto">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-12 col-sm-4 col-12">
            <b-button
              to="/ficha-de-datos/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >Nuevo</b-button>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <TableDataSheets />
      </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";

// Componentes
import Card from "../../components/pages/card/card";
import TableDataSheets from "../../components/pages/data_sheet/TableDataSheets";


export default {
  components: {
    Card,
    TableDataSheets
  },
};
</script>

<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>

<style src="hover.css/css/hover-min.css">
</style>
