<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <card :title="'<i class=\'fa fa-fw ti-pencil\'> </i> ' + actionSpanish  + ' Atributos de Producto'">
          <div
            style="margin-top:20px"
            v-if="loader"
          >
            <loader></loader>
          </div>

          <div v-else>
            <!--FORMULARIO INFORMACIÓN GENERAL-->
            <form
              @submit.prevent="submitForm()"
              data-vv-scope="form-linea"
            >
              <!-- ACORDEON DE INFORMACIÓN GENERAL-->
              <b-card
                no-body
                class="mb-1"
              >
                <b-btn
                  block
                  href="#"
                  v-b-toggle.linea_data
                  id="acordeon"
                >INFORMACION ATRIBUTOS DE PRODUCTO</b-btn>

                <b-collapse
                  id="data_sheet_data"
                  visible
                  role="tabpanel"
                >
                  <b-card-body>
                    <div class="row">
                      <div class="form-group col-sm-6 col-md-3">
                        <label for="visible_name">
                          Nombre
                          <span class="text-danger">*</span>
                        </label>

                        <input
                          type="text"
                          id="visible_name"
                          name="visible_name"
                          class="form-control"
                          @blur="checkExistDataSheet"
                          required
                          v-model="dataSheetLayout.visible_name"
                          :disabled="disabledInput"
                        />
                      </div>

                      <div
                        class="form-group col-sm-6 col-md-4"
                        v-bind:class="errors.has('form-linea.line_description') ? 'form-group-error': ''"
                      >
                        <label for="type_value">
                          Tipo Valor
                          <span class="text-danger">*</span>
                          <b-link to="/tablas-parametros/75/editar">Ver tabla.</b-link>
                        </label>

                        <el-select
                          id="type_value"
                          name="type_value"
                          filterable
                          clearable
                          required
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos."
                          class=""
                          v-model="dataSheetLayout.type_value"
                          :disabled="disabledInput"
                        >
                          <el-option
                            v-for="item in typeValueDataSheet"
                            :key="item.id"
                            :label="item.name_parameter"
                            :value="item.id"
                          ></el-option>
                        </el-select>
                      </div>

                      <div
                        class="form-group col-sm-6 col-md-4"
                        v-bind:class="errors.has('form-linea.line_description') ? 'form-group-error': ''"
                      >
                        <label for="paramtable_id">
                          Tabla de Parametro
                        </label>

                        <el-select
                          id="paramtable_id"
                          name="paramtable_id"
                          filterable
                          clearable
                          required
                          no-data-text="Cargando datos..."
                          no-match-text="No hay datos."
                          class=""
                          v-model="dataSheetLayout.paramtable_id"
                          :disabled="disabledInput"
                        >
                          <el-option
                            key="0"
                            label="Seleccione..."
                            selected
                            disabled
                            value=""
                          ></el-option>
                          <el-option
                            v-for="item in paramTablesList"
                            :key="item.id"
                            :value="item.id"
                            :label="item.name_table"
                          ></el-option>
                        </el-select>

                      </div>

                      <div class="col-md-4 col-sm-2 form-group">
                        <label for="tipe">Descripción</label>
                        <b-form-textarea
                          v-model="dataSheetLayout.tooltip"
                          placeholder="Escriba una descripcion..."
                          rows="3"
                          max-rows="6"
                          :disabled="disabledInput"
                        ></b-form-textarea>
                      </div>
                    </div>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <!--BOTONES DEL FORMULARIO-->
              <div class="form-actions">
                <b-button
                  type="submit"
                  class="boton-guardar"
                >
                  <span class="btn-label">
                    <i class="ti-save-alt"></i>
                  </span> Guardar
                </b-button>

                <b-button
                  to="/ficha-de-datos"
                  type="button"
                  variant="secondary"
                  class="float-left"
                >
                  <span class="btn-label">
                    <i class="ti-arrow-left"></i>
                  </span> Volver
                </b-button>

                <b-button
                  type="reset"
                  value="Limpiar"
                  class="otro-boton float-left"
                >
                  <span class="btn-label">
                    <i class="ti-eraser"></i>
                    Limpiar
                  </span>
                </b-button>
              </div>
            </form>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
// Import componentes adicionales
import Vue from "vue";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
import card from "../../components/pages/card/card.vue";
import draggable from "vuedraggable";
import loader from "./../../components/layout/loader.vue";
//Vuex
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import { async } from "q";

export default {
  components: {
    card,
    draggable,
    loader,
    GridU2
  },
  data () {
    return {
      loader: true,
      data: "",
      disabledInput: false
    };
  },
  methods: {
    ...mapActions("dataSheet", ["create", "findById", "update", "getTypeVal", 'checkExistDataSheet']),
    ...mapMutations("dataSheet", ["setAction", "emptyDataSheet"]),
    //tabla de parametros
    ...mapActions('paramTables', ['fetchParamTablesList']),
    submitForm () {

      if (!this.validateForm()) {
        return false;
      }

      if (this.action == "create") {
        this.create().then(result => {
          if (!this.error) {
            this.tableDataSheets.options.search = this.dataSheetLayout.visible_name
            this.$router.push(`/ficha-de-datos/`);
          }
        });
      }

      if (this.action == "edit") {
        this.update().then(result => {
          if (!this.error) {

          }
        });
      }

      //this.emptyDataSheet();
    },
    validateForm () {

      document.querySelector("#type_value").classList.remove('input-error');
      document.querySelector("#visible_name").classList.remove('input-error');

      if (this.dataSheetLayout.type_value == null ||
        this.dataSheetLayout.type_value == '') {
        var el = document.querySelector("#type_value");
        el.classList.add('input-error');
        return false;
      }

      if (this.dataSheetLayout.visible_name == null ||
        this.dataSheetLayout.visible_name == '') {
        var el = document.querySelector("#visible_name");
        el.classList.add('input-error');
        return false;
      }

      return true;

    },
    findEditById () {
      this.findById(this.$route.params.id);
    },

  },
  computed: {
    ...mapGetters("dataSheet", ["getParams"]),
    ...mapState("dataSheet", [
      'tableDataSheets',
      "dataSheetLayout",
      "error",
      "errorMessage",
      "action",
      "repeatedDataSheet",
      "typeValueDataSheet"
    ]),
    ...mapState('paramTables', ['paramTablesList']),
    //-----------------
    actionSpanish () {
      switch (this.action) {
        case "create":
          return "Crear";
          break;
        case "edit":
          return "Editar";
          break;
        case "view":
          return "Ver";
          break;
      }
    },
    tagLine () { }
  },
  watch: {
    repeatedDataSheet (newVal, oldVal) {

      if (newVal.id !== undefined) {

        if ((newVal.id != '' || newVal.id != null) && this.action == 'create') {
          this.$confirm('Esta ficha de dato ya existe, desea actualizarlo', 'Actualizar', {
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            type: 'warning',
            customClass: 'notification-warning'
          }).then(
            (result) => {
              if (result) {
                this.dataSheetLayout.visible_name = ''
                this.findById(this.repeatedDataSheet.id)
                this.setAction('edit')
                this.$router.push(`/ficha-de-datos/${this.repeatedDataSheet.id}/editar`)
              }
            }
          ).catch(function (result) { })

        }
      }
    }
  },
  created () {
    //Habilitamos los campos
    this.disabledInput = false;

    //scroll top
    window.scrollTo(0, 0);

    //Limpiamos los inputs de cualquier valor anterior
    this.emptyDataSheet();

    //Quitamos el modo de carga una vez iniciado la vista
    this.loader = false;

    //Validamos el tipo de modulo
    this.setAction(this.$route.meta.action);

    //Traemos los datos de la tabla de datos
    this.getTypeVal();
    this.fetchParamTablesList()

    //Verificamos la accion para el modulo
    if (this.action == "edit") {
      this.findEditById();
    }

    if (this.action == "view") {
      this.findEditById();
      this.disabledInput = true;
    }

  },
};
</script>

<style>
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #007db3 !important;
}

.nav-link-error {
  border: 1px solid #ff6666 !important;
}

.nav-link.active {
  border-top: none !important;
}

.nav-link {
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #007db3;
  color: #007db3;
}

.nav-link.disabled {
  border: 1px solid #c8cbd6;
  color: #c8cbd6;
}

@media (max-width: 400px) {
  .nav-link {
    margin-right: 2px !important;
    padding: 4px 5px;
  }
}

.el-input__inner {
  height: 31.25px !important;
}

.linea {
  border-color: #007db3;
  border-width: 4px;
  margin-top: 0px !important;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.colDos {
  display: inline-block;
  min-width: 30px;
  padding: 5px;
  margin: 2px;
  border: 2px #aaa solid;
  cursor: move;
  background: #f8fcff;
  transition: all 1s;
  text-align: center;
  border-radius: 5px;
}

.ordenable {
  border: 1px solid #ced4da;
  height: auto;
  border-radius: 0.25rem;
}

.orden {
  height: auto;
  background: #f8fcff;
  margin-top: 5px;
}

@media (max-width: 450px) {
  .tag-contact {
    font-size: 12px !important;
    font-family: sans-serif !important;
    max-width: 100%;
    text-align: center;
    overflow-x: hidden;
  }
}

.input-error {
  border: 1px solid rgb(231, 94, 94);
}
</style>
