<template>
  <card title="<i class='ti-agenda'></i> Star Job">
		<preloader v-if="loading.starJob" mensaje="Cargando Star Job"></preloader>
    <div v-else class="row">
      <div class="col-6">
        <formjob></formjob>
      </div>
      <div class="col-6">
        <recordjob></recordjob>
      </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";

import formjob from "../../components/star-jobs/form_job";
import recordjob from "../../components/star-jobs/record_job";

export default {
  components: {
    Card,
    Preloader,
    formjob,
    recordjob,
  },
  data() {
    return {};
  },

  watch: {},

  created() {
    this.init()
  },
  methods: {
    ...mapActions("starjobs", [
      'fetchUsers',
      'fetchUsersName',
      'fetchJob'
    ]),
    ...mapMutations("starjobs", []),
    async init(){
      this.job.user_creation_id = JSON.parse(localStorage.getItem("user")).id
      await this.fetchUsers()
      this.fetchUsersName()
      if (this.$route.params.id) {
			 	await this.fetchJob(this.$route.params.id)
			}
      this.loading.starJob = false
    },
  },

  async beforeMount() {},

  computed: {
    ...mapState("starjobs", [
      'job',
      'loading'
    ]),
  },
};
</script>
<style scoped>
</style>
