<template>
  <b-modal
    centered
    size="xl"
    hide-footer
    ref="modalView"
    :hide-header-close="true"
    no-close-on-esc
    no-close-on-backdrop
    v-model="modalAttachment.show"
  >
    <template v-slot:modal-header>
      <div style="width:100%">
        <div class="row">
        <div class="col-12">
      <span style="font-size: 24px">{{ name }}</span>
      <b-button
        variant="primary"
        size="sm"
        class="float-right ml-2"
        @click.prevent="setModalAttachment(false)"
      >
        Cerrar
      </b-button>
       <b-button
        variant="success"
        size="sm"
        class="float-right"
        @click.prevent="download()"
      >
        Descargar
      </b-button>
      </div>
      </div>
      </div>
    </template>
    
    <div v-if="type" style="width:100%; height: 100%;">
      <VueDocPreview
        :value="url"
        type="office"
        v-if="type === 'office'"
        style="width:100%; height: 100%;"
      />
      <iframe
        v-if="type === 'pdf'"
        style="width:100%; height: 100%;"
        :src="url"
      ></iframe>
      <div
        v-if="type === 'image'"
        class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12"
        style="width:100%; height: 100%;"
      >
        <img :src="url" style="width:100%; height: 100%;"/>
      </div>
    </div>
  </b-modal>
</template>

<script>

  import VueDocPreview from "vue-doc-preview";
  import {mapActions, mapMutations, mapState} from "vuex";

  export default {
    name: "modal-attachments",
    components: {
      VueDocPreview
    },
    props: {
      type: {
        required: true,
        type: String,
        default: null
      },
      name: {
        required: true,
        type: String
      },
      url: {
        required: true,
        type: String
      },
      jobs_interactions_docs_id: {
        required: false,
        type: Number
      },
      jobs_docs_id: {
        required: false,
        type: Number
      },
      jobs_interactions_docs_name: {
        required: false,
        type: String
      },
      jobs_docs_name: {
        required: false,
        type: String
      },
    },
    computed: {
      ...mapState('starjobs', ['modalAttachment'])
    },
    methods: {
      ...mapActions('starjobs', [
      'downloadDoc',
      'downloadInteractionDoc'
      ]),
      ...mapMutations('starjobs', ['setModalAttachment']),
      download(){
        if (this.jobs_docs_id != null && this.jobs_docs_id != '') {
          this.downloadDoc({id : this.jobs_docs_id, name :this.jobs_docs_name})
        }
        if (this.jobs_interactions_docs_id != null && this.jobs_interactions_docs_id != '') {
          this.downloadInteractionDoc({id : this.jobs_interactions_docs_id, name:this.jobs_interactions_docs_name})
        }
      }
    }
  }
</script>

<style>

</style>
