<template>
  <card title="<i class='ti-map-pin'></i> Visitas de vendedor">
    <div>
      <b-row>
        <div class="col-sm-12 col-md-6 mt-1">
          <el-date-picker
            v-model="params.filter_date"
            type="daterange"
            id="range_date"
            name="range_date"
            clearable
            range-separator="-"
            start-placeholder
            end-placeholder
            data-vv-as=" "
            value-format="yyyy-MM-dd"
            format="yyyy-MM-dd"
          ></el-date-picker>
        </div>
        <div class="col-sm-12 col-md-6 mt-1">
          <b-btn class="pull-right" @click="filterPagination(params)">
            <span class="ti-search"></span> Buscar
          </b-btn>
        </div>
      </b-row>
      <br />
      <div class="row">
        <div class="col-12">
          <b-button variant="success" @click="reportGenerate()">
            <span class="ti-download"></span> Descargar Visitas
          </b-button>
        </div>
        <div class="col-12">
          <p>Seleccione un vendedor de la lista para ver los clientes que ha visitado</p>
          <b-table :fields="fields" :items="sellers.data" striped hover show-empty responsive>
            <template v-slot:cell(visits)="row">
              <i
                v-if="row.item.visits.length"
                v-b-tooltip.bottom
                title
                class="fa fa-fw fa-chevron-down"
                @click="row.toggleDetails"
              ></i>
              <i v-else class="fa fa-fw fa-chevron-down" style="color: #e3e3e3"></i>
            </template>
            <template v-slot:cell(name)="row">{{ row.item.name }} {{ row.item.surname }}</template>

            <template v-slot:head(num_visits)="row">
              Num.
              <br />Visitas
            </template>

            <template v-slot:head(num_orders)="row">
              Num.
              <br />Pedidos
            </template>

            <template v-slot:cell(effectiveness)="row">{{ row.item.effectiveness }}%</template>

            <template v-slot:cell(orders_value)="row">{{ row.item.orders_value | currency}}</template>

            <template v-slot:cell(sells_value)="row">{{ row.item.sells_value | currency}}</template>

            <template slot="row-details" slot-scope="row">
              <div>
                <div style="text-align: center; font-weight:600 ">Visitas</div>
                <div class="table-responsive">
                  <table class="table table-bordered table-sellers">
                    <thead>
                      <tr style="background-color:#e5f5ff">
                        <th class="resp" style="text-align: center; min-width: 300px;">Cliente</th>
                        <th style="text-align: center; min-width: 200px;">Dirección</th>
                        <th style="text-align: center;">Cliente prospecto</th>
                        <th style="text-align: center; min-width: 100px;">Fecha</th>
                        <th style="text-align: center; min-width: 150px;">Motivo</th>
                        <th style="text-align: center; min-width: 150px;">Duración</th>
                        <th style="text-align: center; min-width: 150px;">Distancia</th>
                        <th style="text-align: center; min-width: 150px;">Observación</th>
                        <th style="text-align: center; min-width: 150px;">Ubicación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in row.item.visits" :key="item.id">
                        <td
                          class="resp"
                        >{{ item.contact.identification }} - {{ item.contact.name }} {{ item.contact.surname }}</td>
                        <td style="text-align: center;">{{ item.contact.address }}</td>
                        <td style="text-align: center;">
                          <!--	<span v-if="item.parameter.name_parameter == 'CLIENTE'">Si</span>
                          <span v-else>No</span>-->
                          <span
                            v-if="item.contact.customer.category_id && item.contact.customer.category_id === 24473"
                          >Si</span>
                          <span v-else>No</span>
                        </td>
                        <td style="text-align: center;">{{ item.checkin_date }}</td>
                        <td>
                          <span v-if="item.sales_management">Gestión de ventas</span>
                          <span v-if="item.sales_management && item.collection">-</span>
                          <span v-if="item.collection">Cobranza</span>
                          <span
                            v-if="item.collection && item.training || item.sales_management && !item.collection && item.training"
                          >-</span>
                          <span v-if="item.training">Capacitación</span>
                        </td>
                        <td style="text-align: center;">{{ item.duration }}</td>
                        <td style="text-align: center;" v-if="item.contacts_warehouse">
                          <span
                            v-if="item.contacts_warehouse.latitude && item.contacts_warehouse.length"
                          >{{ calculateDistance(item.latitude_checkin, item.longitude_checkin, item.contacts_warehouse) }}</span>
                          <span v-else>Ninguna</span>
                        </td>
                        <td style="text-align: center;" v-else>No definida</td>
                        <td style="text-align: center;">{{ item.observation }}</td>
                        <td style="text-align: center;">
                          <button class="btn btn-primary btn-xs">
                            <a
                              :href="mapLocation(item.latitude_checkin, item.longitude_checkin)"
                              target="_blank"
                              class="text-white"
                            >Ver mapa</a>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </template>
          </b-table>
        </div>
      </div>
    </div>
  </card>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";

export default {
  data() {
    return {
      fields: [
        { key: "visits", label: "" },
        { key: "name", label: "Vendedor", sortable: true },
        {
          key: "num_visits",
          label: "Num. Visitas",
          sortable: true,
          tdClass: "text-center",
          thClass: "text-center",
        },
        {
          key: "num_orders",
          label: "Num. Pedidos",
          sortable: true,
          tdClass: "text-center",
          thClass: "text-center",
        },
        {
          key: "effectiveness",
          label: "% Eficacia",
          sortable: true,
          tdClass: "text-center",
          thClass: "text-center",
        },
        {
          key: "orders_value",
          label: "Vr. Pedidos",
          sortable: true,
          thClass: "text-right",
          tdClass: "text-right text-nowrap",
        },
        {
          key: "sells_value",
          label: "Vr. Ventas",
          sortable: true,
          thClass: "text-right",
          tdClass: "text-right text-nowrap",
        },
      ],
      visits: [
        { key: "name", label: "Cliente", sortable: true },
        { key: "address", label: "Dirección", sortable: true },
        { key: "name_parameter", label: "Cliente prospecto", sortable: true },
        { key: "checkin_date", label: "Fecha", sortable: true },
        { key: "", label: "Motivo", sortable: true },
        { key: "duration", label: "Duración", sortable: true },
        { key: "distance", label: "Distancia", sortable: true },
        { key: "observation", label: "Observación", sortable: true },
        { key: "", label: "Ubicación", sortable: true },
      ],
      loader: true,
      /*sortKey: 'checkin_date',
        reverse: false,
        columns: [
          'name',
          'duration',
          'distance',
          'checkin_date'
        ]*/
    };
  },
  components: {
    Card,
  },
  computed: {
    ...mapState("visits", ["params", "sellers", "selectedVisit"]),
    ...mapGetters("visits", ["getParams"]),
    totalRows() {
      return this.sellers.total;
    },
    isDisabled() {
      return this.action == "view";
    },
  },
  created() {
    this.fecha();
    /*this.$store.watch(() => {
        return this.getParams.filter_date
      }, p => {
        if (p == null) {
        }
      })*/
    this.fetchSellers();
  },
  methods: {
    ...mapActions("visits", ["fetchSellers", 'reportGenerate']),
    /*async initUpdate(action, id) {
        this.range_date = [this.selectedVisit.checkin_date, this.selectedVisit.checkout_date]
      },*/
    filterPagination(filter) {
      this.fetchSellers();
    },
    calculateDistance(latitude, longitude, warehouse) {
      let distance = 0;

      if (warehouse.latitude == "-" || warehouse.length == "-") {
        distance = "N/D";
      } else {
        distance =
          this.getDistanceFromLatLonInKm(
            latitude,
            longitude,
            warehouse.latitude,
            warehouse.length
          ) + " km";
      }

      return distance;
    },
    getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
      var rad = function (x) {
        return (x * Math.PI) / 180;
      };
      var R = 6378.137; //Radio de la tierra en km
      var dLat = rad(lat2 - lat1);
      var dLong = rad(lon2 - lon1);
      var a =
        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(rad(lat1)) *
          Math.cos(rad(lat2)) *
          Math.sin(dLong / 2) *
          Math.sin(dLong / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      return d.toFixed(2); //Retorna dos decimales
    },
    mapLocation(latitude, longitude) {
      return (
        "https://maps.google.com/?q=" + latitude + "," + longitude + "&z=14"
      );
    },
    fecha() {
      /*const end = new Date()
        const start = new Date()
        start.setTime(start.getTime() - 3600 * 1000 * 24 * (end.getDate()-1))
        //start.setTime(start.getTime() - 3600 * 1000 * 24 * 31)
        this.params.filter_date = [start, end]*/
    },
    /*sortBy(sortKey) {
        this.reverse = (this.sortKey == sortKey) ? ! this.reverse : false
        this.sortKey = sortKey
      }*/
    downloadVisits() {
      const sellers = this.sellers.data;
      let data = [];

      // Recorremos los vendedores
      sellers.map((seller) => {
        // Recorremos las visitas de los vendedores
        seller.visits.map((visit) => {
          let dataVisit = {
            sellerName: `${seller.name} ${
              seller.surname ? seller.surname : ""
            }`,
            contactIdentification: visit.contact.identification,
            contactName: `${visit.contact.name} ${
              visit.contact.surname ? visit.contact.surname : ""
            }`,
            address: visit.contact.address,
            customerProspec:
              visit.contact.customer.category_id &&
              visit.contact.customer.category_id === 24473
                ? "SI"
                : "NO",
            date: visit.checkin_date,
            motive: this.getMotiveVisit(visit),
            duration: visit.duration,
            distance: this.getDistance(visit),
            observation: visit.observation,
          };

          data.push(dataVisit);
        });
      });

      // Definimos el header del CSV
      let headerCsv = [
        "Vendedor",
        "Identificacion Cliente",
        "Cliente",
        "Direccion",
        "Cliente Prospecto",
        "Fecha",
        "Motivo",
        "Duracion",
        "Distancia",
        "Observacion",
      ];

      let str2 =
        `${Object.values(headerCsv)
          .map((value) => `"${value}"`)
          .join(";")}` + "\r\n";

      let dataCsv = data.reduce((str2, next) => {
        str2 +=
          `${Object.values(next)
            .map((value) => `"${value}"`)
            .join(";")}` + "\r\n";
        return str2;
      }, str2);

      var hiddenElement = document.createElement("a");
      hiddenElement.href = "data:text/csv;charset=utf-8," + encodeURI(dataCsv);
      hiddenElement.target = "_blank";
      hiddenElement.download = "Visitas.csv";
      hiddenElement.click();
    },
    getMotiveVisit(visit) {
      let motive = "";
      if (visit.sales_management) {
        motive += "Gestión de ventas";
      }

      if (visit.sales_management && visit.collection) {
        motive += "-";
      }

      if (visit.collection) {
        motive += "Cobranza";
      }

      if (
        (visit.collection && visit.training) ||
        (visit.sales_management && !visit.collection && visit.training)
      ) {
        motive += "-";
      }

      if (visit.training) {
        motive += "Capacitación";
      }

      return motive;
    },
    getDistance(visit) {
      let distance = "";

      if (visit.contacts_warehouse) {
        if (
          visit.contacts_warehouse.latitude &&
          visit.contacts_warehouse.length
        ) {
          distance += calculateDistance(
            visit.latitude_checkin,
            visit.longitude_checkin,
            visit.contacts_warehouse
          );
        } else {
          distance += "Ninguna";
        }
      }

      return distance;
    },
  },
};
</script>

<style>
.table-sellers th,
.table-sellers td {
  padding: 0.75rem !important;
  vertical-align: middle !important;
}

.el-input__inner {
  height: 31.25px !important;
}

.el-date-editor .el-range-separator {
  line-height: 22px !important;
  width: 64px !important;
}

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
  width: 100% !important;
}

.el-range-editor.is-disabled {
  background-color: #e9ecef !important;
  border-color: #ced4da !important;
}

.el-range-editor.is-disabled input {
  background-color: #e9ecef !important;
  color: #495057 !important;
}

.el-range-editor.is-disabled .el-range-separator {
  color: #495057 !important;
}

.el-date-editor .el-range__icon {
  color: #495057 !important;
}

@media (min-width: 522px) and (max-width: 665px) {
  .el-date-range-picker {
    width: 509px;
  }

  .el-picker-panel .el-date-range-picker .el-popper {
    left: 4px;
  }
}

@media (min-width: 501px) and (max-width: 521px) {
  .el-picker-panel__content.is-left {
    width: 64% !important;
    padding: 10px 0px 10px 160px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 10px 0px 0px 0px !important;
    width: 36% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

@media (min-width: 321px) and (max-width: 500px) {
  .el-picker-panel__content.is-left {
    width: 100% !important;
    padding: 10px 10px 10px 300px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 10px 10px 10px 300px !important;
    width: 100% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

@media (max-width: 320px) {
  .el-picker-panel__content.is-left {
    width: 100% !important;
    padding: 45px 9px 29px 341px !important;
  }

  .el-date-range-picker__content.is-right {
    padding: 0px 9px 29px 341px !important;
    width: 100% !important;
  }

  .el-date-table td {
    padding: 0px !important;
  }
}

.form-group-error input {
  border: 1px solid #fff !important;
}
</style>
