<template>
  <div>
    <form
      @submit.prevent="validateActionDocument()"
      data-vv-scope="form-document"
    >
      <!-- ACORDEON FORMULARIO DE DOCUMENTOS-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.form-documents id="acordeon"
          >DOCUMENTOS</b-btn
        >
        <b-collapse id="form-documents" visible role="tabpanel">
          <b-card-body>
            <div class="row">
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-document.document_type')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="document_type"
                  >Tipo de documento <span class="text-danger">*</span></label
                >
                <el-select
                  id="document_type"
                  name="document_type"
                  clearable
                  filterable
                  placeholder=" "
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-validate="'required'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedDocument.document_type_id"
                  @click.native="fetchDocumentsTypes()"
                >
                  <el-option
                    v-for="item in documentsTypes"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-document.document_type") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-document.name_document')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="name_document"
                  >Descripción <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="name_document"
                  name="name_document"
                  class="form-control"
                  v-validate="'required|max:80'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedDocument.name"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-document.name_document") }}
                </span>
              </div>
              <div
                class="form-group col-md-6"
                v-bind:class="
                  errors.has('form-document.file') ? 'form-group-error' : ''
                "
                v-if="!disabledInputs && actionDocument == 'create'"
              >
                <label for="name_document"
                  >Archivo <span class="text-danger">*</span></label
                >
                <span
                  v-if="file"
                  @click="file = null"
                  class="float-right text-danger font-weight-bold mr-1 delete-document"
                >
                  <i class="fa fa-trash"></i>
                  Eliminar
                </span>
                <b-form-file
                  id="file"
                  name="file"
                  v-model="file"
                  placeholder="Selecciona un archivo o suéltalo aquí..."
                  drop-placeholder="Suelta el archivo aquí..."
                  browse-text="Buscar"
                  :accept="acceptedFiles"
                >
                </b-form-file>
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-document.file") }}
                </span>
              </div>
              <div
                class="form-group col-12 "
                v-bind:class="
                  errors.has('form-document.observation_document')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="observation_document">Observaciones</label>
                <b-form-textarea
                  id="observation_document"
                  name="observation_document"
                  class="form-control"
                  v-validate="'max:255'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedDocument.observation"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-document.observation_document") }}
                </span>
              </div>
            </div>
            <div class="row" v-if="!disabledInputs">
              <div class="form-group col-12">
                <el-button
                  type="primary"
                  :loading="loading"
                  native-type="submit"
                  class="btn btn-labeled btn-primary float-right ml-1 otro-boton"
                >
                  <span class="btn-label" v-if="!loading">
                    <i class="ti-save-alt"> </i>
                  </span>
                  &nbsp;
                  {{
                    this.actionDocument == "create"
                      ? this.loading
                        ? "Guardando"
                        : "Guardar"
                      : this.loading
                      ? "Actualizando"
                      : "Actualizar"
                  }}
                </el-button>
                <b-button
                  type="button"
                  id="limpiar"
                  class="btn btn-labeled btn-secondary float-right"
                  @click="clearDocument()"
                >
                  <span class="btn-label">
                    <i class="ti-close"> </i>
                  </span>
                  &nbsp;
                  {{ this.actionDocument == "create" ? "Limpiar" : "Nuevo" }}
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>

    <!--ACORDEON DOCUMENTOS REGISTRADOS-->
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.documents-list id="acordeon"
        >DOCUMENTOS CARGADOS</b-btn
      >
      <b-collapse id="documents-list" visible ole="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="col-12 table-responsive">
              <b-table
                striped
                hover
                show-empty
                :items="documents"
                :fields="fieldsDocumentsTable"
                empty-text="No existen documentos cargados"
                small
                class="contacts-documents-table"
              >
                <template v-slot:cell(nameDocument)="row">
                  <span
                    @click.prevent="showModal(row.item)"
                    style="cursor: pointer;"
                  >
                    <img :src="iconFile(row.item)" alt=" " width="16px" />
                    {{ row.item.name }}.{{ extensionFile(row.item) }}
                  </span>
                </template>
                <!--Template para cargar las acciones-->
                <template v-slot:cell(actions)="row">
                  <b-button
                    size="sm"
                    variant="danger"
                    class="ml-1 d-none d-md-block float-right"
                    v-if="!disabledInputs"
                    @click="questionDeleteDocument(row.item)"
                    >Eliminar</b-button
                  >
                  <b-button
                    size="sm"
                    id="botones"
                    class="ml-1 d-none d-md-block float-right"
                    @click.prevent="setDocumentComp(row.item)"
                    >Editar</b-button
                  >
                  <b-button
                    size="sm"
                    variant="secondary"
                    class="ml-1 d-none d-md-block float-right"
                    @click.prevent="download(row.item)"
                    >Descargar</b-button
                  >
                  <b-button
                    size="sm"
                    variant="danger"
                    class="ml-1 d-block d-md-none float-right"
                    v-if="!disabledInputs"
                    @click="questionDeleteDocument(row.item)"
                    ><i class="fa fa-trash"></i
                  ></b-button>
                  <b-button
                    size="sm"
                    id="botones"
                    class="ml-1 d-none d-block d-md-none float-right"
                    @click.prevent="setDocumentComp(row.item)"
                    ><i class="fa fa-pencil"></i
                  ></b-button>
                  <b-button
                    size="sm"
                    variant="secondary"
                    class="ml-1 d-block d-md-none float-right"
                    @click.prevent="download(row.item)"
                    ><i class="fa fa-download"></i
                  ></b-button>
                </template>
              </b-table>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
    <b-modal
      id="modal-contact-document"
      centered
      size="xl"
      hide-footer
      ref="modalView"
      :hide-header-close="true"
      no-close-on-esc
      no-close-on-backdrop
    >
      <template v-slot:modal-header>
        <h4>{{ selectedDocument.name }}</h4>
        <b-button
          variant="primary"
          size="sm"
          class="float-right"
          @click.prevent="hideModal()"
        >
          Cerrar
        </b-button>
      </template>
      <div v-if="typeDoc" style="width: 100%; height: 100%;">
        <VueDocPreview
          :value="this.selectedDocument.url"
          type="office"
          v-if="typeDoc == 'office'"
          style="width: 100%; height: 100%;"
        />
        <iframe
          v-if="typeDoc == 'pdf'"
          :src="this.selectedDocument.url"
          style="width: 100%; height: 100%;"
        ></iframe>
        <div
          v-if="typeDoc == 'image'"
          class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12"
          style="width: 100%; height: 100%;"
        >
          <img :src="this.selectedDocument.url" style="width: 100%; height: 100%;" />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
// Imports para inputs de fecha del formulario con FlatPicker
import { MessageBox } from "element-ui";
import VueDocPreview from "vue-doc-preview";
//Vuex
import { mapState, mapActions, mapMutations } from "vuex";
import {getApiDomain} from "../../util/domains";

export default {
  name: "maintenance",
  components: {
    VueDocPreview
  },
  props: ["disabledInputs"],
  typeView: "doc",
  data() {
    return {
      domain: getApiDomain(),
      responseUpdate: false,
      file: null,
      loading: false,
      fieldsDocumentsTable: [
        {
          key: "created_at",
          label: "Fecha",
          thStyle: { width: "120px !important" },
          tdClass: "text-nowrap"
        },
        {
          key: "parameter.name_parameter",
          label: "Tipo",
          thStyle: { width: "120px !important" },
          tdClass: "text-nowrap"
        },
        {
          key: "nameDocument",
          label: "Documento",
          thStyle: { "min-width": "200px !important" }
        },
        {
          key: "observation",
          label: "Observación",
          thStyle: { "min-width": "250px !important" }
        }
      ],
      acceptedFiles:
        "application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.ms-powerpoint, image/jpeg, image/png",
      type_files: [
        { extension: "pdf", icon: "pdf", type: "doc" },
        { extension: "doc", icon: "word", type: "doc" },
        { extension: "docx", icon: "word", type: "doc" },
        { extension: "xls", icon: "excel", type: "doc" },
        { extension: "xlsx", icon: "excel", type: "doc" },
        { extension: "ppt", icon: "power-point", type: "doc" },
        { extension: "pptx", icon: "power-point", type: "doc" },
        { extension: "png", icon: "image", type: "img" },
        { extension: "jpg", icon: "image", type: "img" },
        { extension: "jpeg", icon: "image", type: "img" },
        { extension: "gif", icon: "image", type: "img" }
      ]
    };
  },
  created() {
    if (!this.disabledInputs) {
      this.fieldsDocumentsTable.push({
        key: "actions",
        label: "Opciones",
        thStyle: { "min-width": "260px !important", width: "260px !important" }
      });
    }
  },
  methods: {
    async validateActionDocument() {
      this.validateFile(this.file);
      await this.$validator.validateAll("form-document").then(async result => {
        if (result) {
          if (this.actionDocument == "create") {
            this.loading = true;
            await this.addDocument().then(() => {
              this.clearDocument();
            });
            this.loading = false;
          } else if (this.actionDocument == "update") {
            await this.$confirm(
              "Esta acción actualizará la información relacionada al documento. ¿Desea continuar?",
              "Actualizar",
              {
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                type: "warning",
                customClass: "notification-warning"
              }
            ).then(result => {
              this.responseUpdate = result;
            });

            if (this.responseUpdate) {
              this.loading = true;
              await this.updateDocument();
              this.loading = false;
              this.clearDocument();
              this.responseUpdate = false;
            }
          }
        }
      });
    },
    validateFile(file) {
      let error = "";

      if (file != null && file.name) {
        let extension = file.name.split(".").pop();
        if (extension) {
          if (!this.type_files.some(f => f.extension == extension)) {
            error = "Tipo de archivo no valido";
          }
        } else {
          error = "Archivo no válido";
        }
      } else {
        error = "El archivo es obligatorio";
      }

      this.errors.removeById("file");
      if (error != "") {
        this.errors.add({
          id: "file",
          scope: "form-document",
          field: "file",
          msg: error
        });
        this.setSelectedDocumentFile(null);
      } else {
        this.setSelectedDocumentFile(file);
      }
    },
    clearDocument() {
      this.resetSelectedDocument();
      this.file = null;
      this.$validator.reset("form-document");
      this.setActionDocuments("create");
    },
    setDocumentComp(document) {
      this.setDocument(document);
      this.setActionDocuments("update");
    },
    download(documentObject) {
      documentObject.extension = this.extensionFile(documentObject);
      this.downloadDocument(documentObject);
    },
    questionDeleteDocument(selectedDocument) {
      this.$confirm(
        "Esto eliminará de forma permanente la bodega. ¿Desea continuar?",
        "Eliminar",
        {
          confirmButtonText: "Aceptar",
          cancelButtonText: "Cancelar",
          type: "warning",
          customClass: "notification-warning"
        }
      )
        .then(result => {
          if (result) {
            this.removeDocument(selectedDocument);
            this.clearDocument();
          }
        })
        .catch(function(result) {});
    },
    async showModal(documentObject) {
      await this.getUrlDocument(documentObject);
      await this.setActionDocuments("update");
      this.$refs.modalView.show();
    },
    hideModal() {
      this.clearDocument();
      this.$refs.modalView.hide();
    },
    iconFile(file) {
      let ext = file.path.split(".").pop();
      let f = this.type_files.find(tf => tf.extension == ext);
      return `/static/images/icons-files/${f.icon}.svg`;
    },
    extensionFile(file) {
      return file.path.split(".").pop();
    },
    ...mapActions("contactDocuments", [
      "fetchDocuments",
      "addDocument",
      "downloadDocument",
      "updateDocument",
      "removeDocument",
      "fetchDocumentsTypes",
      "getUrlDocument"
    ]),
    ...mapMutations("contactDocuments", [
      "setActionDocuments",
      "setDocument",
      "resetSelectedDocument",
      "setSelectedDocumentFile"
    ])
  },
  computed: {
    errorsDocuments() {
      return this.errors.items.filter(i => i.scope == "form-document").length;
    },
    extensionDocument() {
      return this.path.name != "" ? this.path.name.split(".").pop() : "";
    },
    ...mapState("contactDocuments", [
      "documents",
      "actionDocument",
      "selectedDocument",
      "documentsTypes"
    ]),
    typeDoc() {
      if (this.selectedDocument.path == "") {
        return null;
      } else if (this.selectedDocument.path) {
        let extension = this.selectedDocument.path.split(".").pop();
        const extensionsImages = ["png", "jpg", "jpeg", "gif"];
        const extensionsDocuments = [
          "doc",
          "docx",
          "xls",
          "xlsx",
          "ppt",
          "pptx"
        ];
        if (extension == "pdf") {
          return "pdf";
        } else if (extensionsImages.includes(extension, 0)) {
          return "image";
        } else if (extensionsDocuments.includes(extension, 0)) {
          return "office";
        }
      }
    }
  },
  watch: {
    file(newValue) {
      this.validateFile(newValue);
    }
  }
};
</script>

<style>
.contacts-documents-table td {
  vertical-align: middle;
}

.delete-document {
  cursor: pointer;
}

.subtitle {
  color: #314b5f;
}

.custom-file-label {
  font-size: 12px !important;
}
</style>
