<template>
  <card title="<i class='ti-money'></i> Mantenimiento Listas de Precios">
    <div class="row">
      <div class="col-3">
        <label for="branchOffice">Sede</label>
        <el-select
          id="branchOffice"
          name="branchOffice"
          placeholder=" "
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="params.branchOffice_id"
          size="small"
          clearable
        >
          <el-option
            v-for="branchOffice in branchOffices.data"
            :key="branchOffice.id"
            :label="branchOffice.name"
            :value="branchOffice.id"
          ></el-option>
        </el-select>
      </div>
      <div class="col-3">
        <label for="brand">Marca</label>
        <el-select
          v-model="params.brand"
          filterable
          id="brand"
          placeholder="Seleccione una marca"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          @focus="fetchBrand()"
          size="small"
          clearable
        >
          <el-option
            v-for="brand in brands"
            :key="brand.id"
            :value="brand.id"
            :label="brand.brand_code + ' - ' + brand.description"
          ></el-option>
        </el-select>
      </div>
      <div class="col-3">
        <label for="line_id">Linea</label>
        <el-select
          v-model="params.line_id"
          filterable
          id="line_id"
          placeholder="Seleccione una marca"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          @focus="fetchLines()"
          size="small"
          clearable
        >
          <el-option
            v-for="line in lines"
            :key="line.id"
            :value="line.id"
            :label="line.line_code + ' - ' + line.line_description"
          ></el-option>
        </el-select>
      </div>
      <div class="col-3">
        <label for="list">
          Lista
          <span class="text-danger" v-text="'*'" />
        </label>
        <el-select
          v-model="params.list"
          id="list"
          placeholder="Seleccione una lista"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          size="small"
          clearable
        >
          <el-option
            v-for="li in list"
            :key="li.id"
            :value="li.id"
            :label="li.code_parameter + ' - ' + li.name_parameter"
          ></el-option>
        </el-select>
      </div>
      <div class="col-3">
        <label for="product">Producto</label>
        <b-form-input
          type="text"
          id="product"
          name="product"
          class="form-control"
          data-vv-as=" "
          v-model="params.product"
        ></b-form-input>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-end my-4">
        <b-button
          @click="search"
          id="boton-nuevo"
          class="button button-rounded button-primary-flat hvr-shrink mx-2"
          :disabled="loading"
        >
          <span v-if="loading"> <i class="fa fa-spinner fa-spin"></i></span>

          <span v-else>Listar</span>
        </b-button>

        <b-button
          @click="updatePrices"
          class="button button-rounded button-primary-flat hvr-shrink mx-2 btn-save-top"
          :disabled="loadingSave || prices.length === 0"
        >
          <span v-if="loadingSave">
            <i class="fa fa-spinner fa-spin"></i> Guardando...
          </span>
          <span v-else>
            <span class="btn-label">
              <i class="ti-save"> </i>
              <span>Guardar</span>
            </span>
          </span>
        </b-button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 ml-3">
        <b-button
          @click="downloadTable"
          size="sm"
          variant="success"
          :disabled="loading"
        >
          <i class="fa fa-file"></i>
          <span>Descargar Resultados</span>
        </b-button>

        <b-button
          @click="openModalUploadPriceTable"
          size="sm"
          variant="success"
          :disabled="loading"
        >
          <i class="fa fa-file"></i>
          <span>Actualizacion Masiva de precios (desde excel)</span>
        </b-button>
      </div>
    </div>

    <!-- TABLA -->
    <div class="row">
      <div class="col-12">
        <grid-u2
          ref="gridPrices"
          :options="options"
          :columns.sync="columnsPU"
          :items.sync="prices"
          @changeRow="changeRow"
        >
          <template slot="sub" slot-scope="row">
            <div v-if="row.item.subline">
              {{ row.item.subline.subline_description }}
            </div>
          </template>

          <template slot="subM" slot-scope="row">
            <div v-if="row.item.subbrand">
              {{ row.item.subbrand.description }}
            </div>
          </template>

          <!-- <template slot="prec" slot-scope="row" class="edit-th">
            <b-form-input
              v-model="row.item.price.price"
              @blur="changeBack(0, row, row.item)"
            ></b-form-input>
          </template> -->
          <template slot="price.floor_price" slot-scope="row">
            <div class="text-right">
              {{ floorPrice(row.item) | currency }}
            </div>
          </template>
        </grid-u2>
      </div>
    </div>

    <!-- Botones -->
    <div class="row">
      <div class="col-12">
        <div class="form-actions">
          <b-button
            :disabled="loadingSave || prices.length === 0"
            type="submit"
            class="boton-guardar"
            v-on:click="updatePrices"
          >
            <span v-if="loadingSave">
              <i class="fa fa-spinner fa-spin"></i> Guardando...
            </span>
            <span v-else>
              <span class="btn-label">
                <i class="ti-save"></i>
              </span>
              <span>Guardar</span>
            </span>
          </b-button>
        </div>
      </div>
    </div>

    <!-- modals  -->
    <b-modal
      id="modal-upload-file"
      centered
      title="Subir archivo"
      @ok="parseUploadPriceTable"
    >
      <div class="row">
        <div class="col-md-12 col-sm-12 form-group">
          <label for="data_sheet">Archivo</label>
          <b-form-file
            accept=".csv, .txt"
            v-model="fileImportPrice"
            placeholder="Seleccione el archivo..."
            drop-placeholder="Deje el archivo aqui..."
          ></b-form-file>
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { Notification, MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
// import Loader from "./../../components/layout/loader.vue";

export default {
  data() {
    return {
      uploadPriceData: false,
      columnsPU: [],
      renderInput: false,
      isActive: true,
      paramsUP: [],
      a: null,
      loading: false,
      loadingSave: false,
      options: {
        selectable: false,
        multiselect: false
      },
      fileImportPrice: ""
    };
  },
  components: {
    Card,
    GridU2
  },
  methods: {
    ...mapActions("prices", [
      "getPrices",
      "getBranchs",
      "getListPrices",
      "updatedPrice",
      "updatedPriceExcel",
      "fetchBranchOffices",
      "fetchBrand",
      "fetchList",
      "fetchLines",
      "uploadFilePrice"
    ]),
    ...mapMutations("prices", [
      "setPrices",
      "setBranchs",
      "setListPrices",
      "setPrice",
      "setFilterPrice",
      "setFilterPriceList",
      "setMsgErrorLoadExcel",
      "setparamsUpdatePrices"
    ]),
    async uploadPriceTable(data) {
      let errorRow = data.find(d => d["Nuevo Precio"].includes("."));

      if (errorRow) {
        await this.$alert(
          "La columna de precio no debe tener separador de miles.",
          "Error",
          {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "notification-error"
          }
        );
        this.loading = false;
      } else {
        const obj = await Promise.all(
          data
            .filter(d => d["Codigo"])
            .map(d => ({
              code: d["Codigo"],
              description: d["Descripcion"],
              exist: d["Exist CIA"],
              cto_prom: d["Cto pro CIA"],
              price: {
                price: d["Precio Actual"]
                  ? d["Precio Actual"].replaceAll(",", ".")
                  : 0,
                floor_price: d["Precio Minimo Venta"],
                previous_price: d["Precio Anter"]
              },
              brand: { description: d["Marca"] },
              line: { line_description: d["Linea"] },
              subline: { subline_description: d["SubLinea"] },
              subbrand: { description: d["SubMarca"] },
              cod_list: d["Cod Lista"],
              new_price: d["Nuevo Precio"]
                ? d["Nuevo Precio"].replaceAll(",", ".")
                : 0
            }))
        );

        this.setPrices(obj);
        this.uploadPriceData = true;
        this.loading = false;
      }
    },
    async parseUploadPriceTable() {
      this.loading = true;
      this.setMsgErrorLoadExcel("");

      // Seteamos la informacion
      let formData = new FormData();
      formData.append("archivo_importar", this.fileImportPrice);

      // Ejecutamos el metodo
      await this.uploadFilePrice(formData);

      if (this.msgErrorLoadExcel) {
        await this.$alert(this.msgErrorLoadExcel, "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        });
      } else {
        this.uploadPriceData = true;
      }

      this.loading = false;
    },
    openModalUploadPriceTable() {
      this.$bvModal.show("modal-upload-file");
    },
    async downloadTable() {
      const prices = this.prices;
      let data = [];

      // Definimos el header del CSV
      const headerCsv = [
        "Codigo",
        "Descripcion",
        "Linea",
        "SubLinea",
        "Marca",
        "SubMarca",
        "Exist CIA",
        "Cto pro CIA",
        "Cto Ult Com",
        "Precio Anter",
        "Precio Actual",
        "Nuevo Precio",
        "Precio Minimo Venta",
        "Cod Lista"
      ];

      await Promise.all(
        prices.map(p => {
          let tempData = {
            code: p.code,
            description: p.description,
            line: p.line.line_description,
            subline: p.subline ? p.subline.subline_description : "",
            brand: p.brand.description,
            subbrand: p.subbrand ? p.subbrand.description : "",
            exist: p.exist,
            cto_prom: Math.ceil(p.cto_prom),
            salida: p.salida ? p.salida : "",
            previous_price: p.price.previous_price
              ? p.price.previous_price
              : "",
            price: p.price.price
              ? p.price.price.toString().replaceAll(".", ",")
              : "",
            new_price: p.new_price
              ? p.new_price.toString().replaceAll(".", ",")
              : ""
          };

          tempData.floor_price = this.floorPrice(p);
          tempData.cod_list = this.list.find(
            l => l.id === this.params.list
          ).code_parameter;

          data.push(tempData);
        })
      );

      let str2 =
        `${Object.values(headerCsv)
          .map(value => `"${value}"`)
          .join(";")}` + "\r\n";

      let dataCsv = data.reduce((str2, next) => {
        str2 +=
          `${Object.values(next)
            .map(value => `"${value}"`)
            .join(";")}` + "\r\n";
        return str2;
      }, str2);

      let universalBOM = "\uFEFF";

      let hiddenElement = document.createElement("a");
      hiddenElement.href =
        "data:text/csv;charset=utf-8," +
        encodeURIComponent(universalBOM + dataCsv);
      hiddenElement.target = "_blank";
      hiddenElement.download = "ListaPrecios.csv";
      hiddenElement.click();
    },
    floorPrice(item) {
      let price = 0;
      if (item.prices) {
        let floorPrice = item.prices.find(
          p => p.parameter.code_parameter === "002"
        );
        if (floorPrice !== undefined) {
          price = floorPrice.price;
        }
      }

      return price;
    },
    async search() {
      this.uploadPriceData = false;
      this.loading = true;
      if (this.params.list) {
        if (this.params.brand || this.params.line_id || this.params.product) {
          await this.setparamsUpdatePrices();
          await this.getPrices();
          this.loading = false;
        } else {
          await this.$alert(
            "Debe seleccionar una Marca, Producto o Linea",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          )
            .then(verifica => {
              this.loading = false;
            })
            .catch(err => {
              this.loading = false;
            });
        }
      } else {
        await this.$alert("Debe seleccionar una lista", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        })
          .then(verifica => {
            this.loading = false;
          })
          .catch(err => {
            this.loading = false;
          });
      }
    },
    _fetchBranchOffices() {
      this.fetchBranchOffices();
    },
    changeRow(row) {
      if (row.price.price_list_id !== undefined) {
        this.paramsUP = {
          product_id: row.id,
          price_list_id: row.price.price_list_id,
          branchoffice_id: row.price.branchoffice_id,
          price: row.new_price
        };
      } else {
        this.paramsUP = {
          product_id: row.id,
          price_list_id: this.params.list,
          branchoffice_id: this.params.branchOffice_id,
          price: row.new_price
        };
      }

      let resultPrice = this.paramsUpdatePrices.find(
        pu => pu.product_id === this.paramsUP.product_id
      );

      if (resultPrice) {
        resultPrice.price = this.paramsUP.price;
        resultPrice.branchoffice_id = this.paramsUP.branchoffice_id;
        resultPrice.price_list_id = this.paramsUP.price_list_id;
      } else {
        this.paramsUpdatePrices.push(this.paramsUP);
      }

    },
    changeBack(event, row, item) {
      this.paramsUP = {
        product_id: item.id,
        price_list_id: item.price.price_list_id,
        branchoffice_id: item.price.branchoffice_id,
        price: item.price.price
      };

      this.paramsUpdatePrices.push(this.paramsUP);
    },
    async updatePrices() {
      this.loadingSave = true;
      if (this.uploadPriceData) {
        await this.uploadFilePriceData();
      } else {
        await this.updatedPrice();
        await this.getPrices();
      }
      this.loadingSave = false;
      this.$refs.gridPrices.buildData();
    },
    async uploadFilePriceData() {
      let pricesProblemsBrand = [];
      let pricesProblemsLine = [];
      let pricesProblemsCodList = [];

      const listPrice = this.list.find(l => l.id === this.params.list);
      pricesProblemsCodList = this.prices.filter(
        p =>
          p.cod_list.trim().replaceAll("0", "") !==
          (listPrice ? listPrice.code_parameter.replaceAll("0", "") : "")
      );

      // Validar marca
      if (this.params.brand) {
        const brand = this.brands.find(b => b.id === this.params.brand);
        pricesProblemsBrand = this.prices.filter(
          p => p.brand.description !== brand.description
        );
      }

      // Validar marca
      if (this.params.line_id) {
        const line = this.lines.find(l => l.id === this.params.line_id);
        pricesProblemsLine = this.prices.filter(
          p => p.line.line_description !== line.line_description
        );
      }

      if (
        pricesProblemsBrand.length > 0 ||
        pricesProblemsLine.length > 0 ||
        pricesProblemsCodList.length > 0
      ) {
        this.$alert(
          "Existen productos en el Excel no corresponden a los filtros aplicados.",
          "Error",
          {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "order-box",
            dangerouslyUseHTMLString: true
          }
        );
      } else {
        await this.updatedPriceExcel(
          this.prices.map(p => ({
            ...p,
            price: p.new_price
          }))
        );

        await this.search();
      }
    }
  },
  computed: {
    ...mapState("prices", [
      "prices",
      "branchs",
      "lines",
      "listPrices",
      "idChangedPrice",
      "params",
      "branchOffices",
      "brands",
      "list",
      "paramsUpdatePrices",
      "msgErrorLoadExcel"
    ])
  },
  created() {
    this._fetchBranchOffices();
    this.fetchList();
  },
  async mounted() {
    this.columnsPU = [
      {
        name: "Codigo",
        field: "code",
        format: "text",
        width: 150
      },
      {
        name: "Descripción",
        field: "description",
        format: "text",
        width: 50
      },
      {
        name: "Línea",
        field: "line.line_description",
        format: "text",
        width: 140
      },
      // {
      //   name: "SubLinea",
      //   field: "sub",
      //   format: "text",
      //   width: 140
      // },
      {
        name: "Marca",
        field: "brand.description",
        format: "text",
        width: 140
      },
      {
        name: "subMarca",
        field: "subM",
        format: "text",
        width: 140
      },
      {
        name: "Exist CIA",
        format: "text",
        field: "exist",
        width: 140
      },
      {
        name: "Cto pro CIA",
        field: "cto_prom",
        width: 140,
        format: "currency"
      },
      {
        name: "Cto Ult Com",
        field: "salida",
        width: 140,
        format: "number"
      },
      {
        name: "Precio Anter",
        field: "price.previous_price",
        width: 140,
        format: "currency"
      },
      {
        name: "Precio Actual",
        field: "price.price",
        width: 140,
        format: "currency"
        // editable: true
      },
      {
        name: "Nuevo Precio",
        field: "new_price",
        width: 140,
        format: "currency",
        editable: true
      },
      {
        name: "Precio Minimo Venta",
        field: "price.floor_price",
        width: 140,
        format: "currency"
      }
    ];
  }
};
</script>
<style scoped>
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}

#boton-nuevo {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

.btn-save-top {
  margin-top: 10px !important;
  background-color: #007db3 !important;
  border-color: #007db3 !important;
  color: #fff !important;
}
</style>
