<template>
    <div>

    </div>
</template>
<script>
import Vue from 'vue'
import {mapActions, mapState, mapMutations, mapGetters} from 'vuex'
export default {
    data(){
        return{

        }
    },
    created(){

    },
    mounted(){

    },
    beforeDestroy(){

    },
    methods: {

    },
    computed:{

    },
}
</script>
