<template>
    <card title="<i class='ti-angle-down'></i>Consulta disponibilidad">
        <listProducts/>
    </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'

import listProducts from "../../components/availability-inquiry/list-products";
import Card from '../../components/pages/card/card';
import GridU2 from "../../components/u2/grid";


export default {
  components: {
    Card,
    GridU2,
    listProducts
  },
  data(){
    return{
      columnsPU: [],
    }
  },

  methods: {
    //...mapActions('discount', ['fetchDiscounts', 'deleteDiscount']),
    changeRow(){

    },

  },

  created() {

  },
  async mounted () {
    this.$bvModal.show("list-products");
  },
  computed: {
    //...mapState('availabilityInquiry', ['discounts'])
  },
}
</script>