<template>
  <card title="<i class='ti-layout-list-thumb'></i> Activos Fijos">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end my-2">
          <modal-video-tutorial-module />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-12 col-sm-4 col-12">
            <b-button
              variant="primary"
              to="/activos-fijos/crear"
              class="pull-right mx-1"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>

      <!-- TABLA -->
      <div class="col-12 pt-3">
        <Table />
      </div>
    </div>
  </card>
</template>

<script>
import Card from "../../components/pages/card/card";
import ModalVideoTutorialModule from "../../components/u2/ModalVideoTutorialModule.vue";
import Table from "./components/tables/FixAssetsTable.vue";

export default {
  components: { Card, Table, ModalVideoTutorialModule }
};
</script>
