<template>
  <card title="<i class='ti-layout-list-thumb'></i> Activo Fijo">
    <preloader v-if="loading" mensaje="Cargando Informacion..." />

    <form data-vv-scope="form-fix-assets" autocomplete="off">
      <!-- PRINCIPAL-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.mainInformation
          >INFORMACIÓN PRINCIPAL</b-btn
        >
        <b-collapse id="mainInformation" visible role="tabpanel">
          <b-card-body>
            <div class="row">
              <div class="form-group col-sm-6 col-md-3">
                <label for="consecut">
                  Consecut
                </label>
                <el-input
                  id="consecut"
                  name="consecut"
                  type="number"
                  autosize
                  placeholder="Consecutivo..."
                  v-model="fixAsset.consecut"
                  :disabled="disabledInputs"
                  v-validate="'required'"
                  data-vv-as=" "
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-fix-assets.consecut")
                }}</span>
              </div>

              <div class="form-group col-sm-6 col-md-3">
                <label for="plate_number">
                  Num Placa
                </label>
                <el-input
                  id="plate_number"
                  name="plate_number"
                  autosize
                  placeholder="Numero de la placa..."
                  v-model="fixAsset.plate_number"
                  :disabled="disabledInputs"
                  v-validate="'required'"
                  data-vv-as=" "
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-fix-assets.plate_number")
                }}</span>
              </div>

              <div class="form-group col-sm-6 col-md-3">
                <label for="previous_code">
                  Cod Anterior
                </label>
                <el-input
                  id="previous_code"
                  name="previous_code"
                  autosize
                  placeholder="Codigo en sistema anterior..."
                  v-model="fixAsset.previous_code"
                  :disabled="disabledInputs"
                  v-validate="'required'"
                  data-vv-as=" "
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-fix-assets.previous_code")
                }}</span>
              </div>

              <div class="form-group col-sm-6 col-md-3">
                <label for="active_group_id">
                  Grupo Activos
                </label>
                <el-select
                  id="active_group_id"
                  name="active_group_id"
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder
                  v-model="fixAsset.active_group_id"
                  :disabled="disabledInputs"
                  v-validate="''"
                  data-vv-as=" "
                  @focus="fetchActiveGroups"
                >
                  <el-option
                    v-for="item in activeGroups"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-fix-assets.active_group_id")
                }}</span>
              </div>

              <div class="form-group col-sm-6 col-md-3">
                <label for="description">
                  Descripcion
                </label>
                <el-input
                  id="description"
                  name="description"
                  type="textarea"
                  autosize
                  v-model="fixAsset.description"
                  :disabled="disabledInputs"
                  v-validate="'required'"
                  data-vv-as=" "
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-fix-assets.description")
                }}</span>
              </div>
              <div class="form-group col-sm-6 col-md-3" v-if="fixAsset.id">
                <label for="active_group_id"> &nbsp;</label>

                <br />

                <button
                  class="btn btn-primary"
                  @click="openModalMonthlyDepreciation"
                >
                  Depreciacion Mensual
                </button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>

      <!-- PESTAÑAS -->
      <b-tabs pills class="my-5 tabs-fix-assets">
        <b-tab title="IDENTIFICACION" class="mt-3" style="b-tab-fixassets">
          <IdentificationForm
            :disabledInputs="disabledInputs"
            :openModalAccount="openModalAccount"
            :deleteAccount="deleteAccount"
          />
        </b-tab>
        <b-tab title="DATOS GENERALES" class="mt-3">
          <GeneralDataForm :disabledInputs="disabledInputs" />
        </b-tab>
        <b-tab title="VARIOS" class="mt-3">
          <VariousForm :disabledInputs="disabledInputs" />
        </b-tab>
      </b-tabs>

      <div class="form-actions mt-5">
        <b-button
          v-if="!disabledInputs"
          type="button"
          class="boton-guardar"
          @click="validateTotalForm()"
        >
          <span class="btn-label">
            <i class="ti-save-alt"></i>
          </span>
          Guardar
        </b-button>
        <b-button
          to="/activos-fijos"
          type="button"
          variant="secondary"
          class="float-left"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span>
          Volver
        </b-button>
        <b-button
          v-if="!disabledInputs"
          type="reset"
          value="Limpiar"
          class="otro-boton float-left"
          @click="clearSelectedProduct()"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
            Limpiar
          </span>
        </b-button>
      </div>
    </form>

    <!-- modals -->
    <ModalAccount @selectedAccount="selectedAccount" />

    <!-- modals -->
    <b-modal
      id="modal-fixassets-monthly-depreciation"
      centered
      title="Depreciacion Mensual"
      size="xl"
      header-class="header-modal-u2"
    >
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <fix-assets-monthly-depreciation-table />
        </div>
      </div>
    </b-modal>
  </card>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import Card from "../../components/pages/card/card";
import IdentificationForm from "./components/forms/Identification.vue";
import GeneralDataForm from "./components/forms/GeneralData.vue";
import VariousForm from "./components/forms/Various.vue";
import ModalAccount from "../../components/accounts/modal-account";
import Preloader from "../../components/layout/preloader.vue";
import FixAssetsMonthlyDepreciationTable from "./components/tables/FixAssetsMonthlyDepreciationTable.vue";

export default {
  components: {
    Card,
    IdentificationForm,
    GeneralDataForm,
    VariousForm,
    ModalAccount,
    Preloader,
    FixAssetsMonthlyDepreciationTable
  },
  data() {
    return {
      loading: false,
      disabledInputs: false,
      modalAccountOptions: {
        keyAttributeId: "",
        keyAttributeObj: ""
      }
    };
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchActiveGroups",
      "setAttributeFixAsset",
      "getLastConsecutiveSuggested",
      "createFixAsset",
      "updateFixAsset",
      "fetchFixAssetById"
    ]),
    ...mapMutations("fixAssets", [
      "setAttributeFixAsset",
      "setAction",
      "resetFixAsset"
    ]),
    openModalMonthlyDepreciation() {
      this.$bvModal.show("modal-fixassets-monthly-depreciation");
    },
    async initComponent() {
      const idv = this.$route.params.idv;
      const id = this.$route.params.id;

      this.loading = true;

      if (id) {
        this.setAction("update");
        await this.fetchFixAssetById(id);
      }

      if (idv) {
        this.setAction("view");
        await this.fetchFixAssetById(idv);
        this.disabledInputs = true;
      }

      if (!id && !idv) {
        this.setAction("create");
        await this.resetFixAsset();
        await this.getLastConsecutiveSuggested();
      }

      this.loading = false;
    },
    async validateTotalForm() {
      await this.$validator
        .validateAll("form-fix-assets")
        .then(async result => {
          if (result) {
            if (this.action === "create") {
              this.create();
            } else if (this.action === "update") {
              this.update();
            }
          } else {
            this.$alert(
              "El formulario no ha pasado la validacion. Verifique la informacion y vuelva a intentarlo.",
              "¡Error!",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                dangerouslyUseHTMLString: true
              }
            );
          }
        });
    },
    async create() {
      this.loading = true;
      await this.createFixAsset();
      this.loading = false;

      if (!this.errorForm) {
        this.$router.push(`/activos-fijos/${this.fixAsset.id}/editar`);
        setTimeout(() => {
          this.initComponent();
        }, 1000);
      }
    },
    async update() {
      this.loading = true;
      await this.updateFixAsset();
      this.loading = false;

      if (!this.errorForm) {
        setTimeout(() => {
          this.initComponent();
        }, 1000);
      }
    },
    clearSelectedProduct() {},

    // modal account
    openModalAccount(event, keyAttributeId, keyAttributeObj) {
      this.modalAccountOptions = {
        keyAttributeId,
        keyAttributeObj
      };

      event.target.blur();
      this.$bvModal.show("modal-account");
    },
    closeModalAccount() {
      this.$bvModal.hide("modal-account");
    },
    selectedAccount(account) {
      if (account) {
        const { keyAttributeId, keyAttributeObj } = this.modalAccountOptions;

        this.setAttributeFixAsset({
          [keyAttributeId]: account.id,
          [keyAttributeObj]: account
        });
      }
      this.closeModalAccount();
    },
    deleteAccount(keyAttributeId, keyAttributeObj) {
      this.setAttributeFixAsset({
        [keyAttributeId]: "",
        [keyAttributeObj]: ""
      });
    }
  },
  computed: {
    ...mapState("fixAssets", [
      "fixAsset",
      "activeGroups",
      "action",
      "errorForm"
    ])
  },
  created() {
    this.initComponent();
  }
};
</script>

<style>
.tabs-fix-assets div ul[role="tablist"] {
  justify-content: center;
  white-space: nowrap;
}

.tabs-fix-assets div ul[role="tablist"] li a {
  min-width: 170px;
}
</style>
