<template>
  <div class="container-fluid">
    <b-modal
      id="list-availability"
      ref="list-availability"
      size="lg"
      v-model="show"
      centered
      header-class="header-modal-u2-v "
    >

      <!-- HEADER -->
      <template v-slot:modal-header>
        <h5>{{availability_totals.product}}</h5>
        <button
          @click="show=false"
          class="btn btn-sm btn-link"
        >
          x
        </button>
      </template>

      <template v-slot:modal-footer>
        <div class="w-100">

          <b-button
            variant="secondary"
            size="sm"
            class="float-right m-1"
            @click="show=false"
          >
            Cerrar
          </b-button>
          
        </div>
      </template>
        <!-- <div class="modal-header-a">
            <h5>{{availability_totals.product}}</h5>
        </div> -->
      <div class="row">
        <grid-u2
          ref="grid"
          @selectedSingleRow="getSelectedRow"
          :columns="columnsp"
          :items="availability"
          :options="options"
        >

        <template
        slot="branchoffice_available"
        slot-scope="row">
            <div class="c">
                <!-- v-b-modal.list-availability
                @click="_availability(row.item.id)" -->
              <b-button class="boton-exist-dispon"
               @click="justifyAvailability({branchoffice_id:row.item.branchoffice_id, product_id:row.item.product_id, branchoffice:row.item.branchoffice})"
              >
              {{ row.item.branchoffice_available }}
              </b-button>
            </div>
        </template>

        <template
        slot="branchoffice_stock"
        slot-scope="row">
              {{ row.item.branchoffice_stock }}
        </template>

        </grid-u2>
      </div>
      <div class="row">
          <div class="col-6 total">
            Total
          </div>
          <div class="col-3 t_s_a">
            {{availability_totals.total_stock}}
          </div>
          <div class="col-2 t_s_a">
            {{availability_totals.total_available}}
          </div>
        </div>


      <div class="row" v-if="justify_availability.length > 0">
        <div class="modal-header-a mt-5">
          <h5>{{availability_totals.product}}</h5>
        </div>

        <grid-u2
          ref="justify"
          @selectedSingleRow="getSelectedRow"
          :columns="columnsJustify"
          :items="justify_availability"
        >

          <template
          slot="numord"
          slot-scope="row">
          >
          {{row.item.prefix +'-'+ row.item.consecutive}}
          </template>

          <template
          slot="cantidad"
          slot-scope="row"
          >
          {{row.item.documents_products[0].quantity}}
          </template>

          <template
          slot="cliente"
          slot-scope="row"
          >
          {{row.item.contact.identification+' '+row.item.contact.name}}
          </template>

        </grid-u2>

        <!-- {{justify_availability}} -->
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../components/u2/grid";

export default {
  components:{
    GridU2
  },
  data () {
    return {
      show:false,
      columnsp: [],
      columnsJustify:[],
      options: {
        selectable: true,
        multiselect: true
      }
    }
  },
  watch:{
      "params.page"(newval){
          this.searchProducts();
      },
      "params.perPage"(newval){
          this.searchProducts();
      },
  },

  created(){
    this.initComponent()
  },
  methods: {
    async initComponent () {

    //   await this.setbranchoffice_warehouse(Number(localStorage.selected_branchoffice_warehouse))

    //   this.searchProducts();
      
    },
    getSelectedRow (product) {
      this.$emit('selectedProduct', product)
    },
    
    ...mapActions("availabilityInquiry", ["searchProducts", 'justifyAvailability']),
    ...mapMutations("availabilityInquiry", ['setbranchoffice_warehouse']),
    //
  },
  computed: {
    ...mapState("availabilityInquiry", [
      "availability",
      "availability_totals",
      "justify_availability"
    ]),

    pagination () {
      return this.tableServiceRequests.pagination;
    }
  },
  async mounted () {
    this.columnsJustify  = [
      {
        name: 'Num-Ord',
        field : 'numord'
      },
      {
        name: 'Feacha',
        field : 'document_date'
      },
      {
        name: 'cliente',
        field : 'cliente'
      },
      {
        name: 'Cant',
        field : 'cantidad'
      }
    ]
    this.columnsp = [
      {
        name: "Sede",
        field: "branchoffice"
      },
      {
        name: "Exist",
        field: "branchoffice_stock"
      },
      {
        name: "Dispon",
        field: "branchoffice_available"
      }
    ]
  }
};
</script>   

<style scoped>
.boton-exist-dispon{
    background: #49c286;
    width: 70%;
}
.c{
    text-align: center;
}
.modal-header-a{
  color: white;
  text-align: center;
  background: #49c286;
  padding-top: 6px;
  height: 30px;
  margin: 0;
  width: 100%;
}
.total{
  padding-left: 20px !important;
  font-weight: bold;
}
.t_s_a{
  padding-left: 25px !important;
}
</style>

<style>
.header-modal-u2-v  {
  /* background: #007db3 !important; */
  background: #49c286 !important;
  color: #fff;
}
</style>