<template>
  <div class="container-fluid">
    <b-modal
      v-model="show"
      id="list-products"
      size="xl"
      header-class="header-modal-u2 "
      centered
      ref="list-products"
    >
      <!-- HEADER -->
      <template v-slot:modal-header>
        <h5 v-if="titleModal">{{ titleModal }}</h5>
        <h5 v-else>Consulta Disponibilidad {{ titleBranchoffice }}</h5>
        <button @click="show = false" class="btn btn-sm btn-link">x</button>
      </template>

      <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="secondary"
            size="sm"
            class="float-right m-1"
            @click="show = false"
            >Cerrar</b-button
          >
        </div>
      </template>
      <!-- <template slot="modal-title">
        <p><i class="ti-search"></i>Consulta de Productos</p>
      </template>-->
      <b-row class="mt-4 mb-4">
        <b-col>
          <b-form-input
            ref="filter"
            v-model="params.filter"
            id="filter-text-box"
            name="filter"
            type="text"
            autofocus
            placeholder="Buscar..."
            @keyup.enter="_searchProducts"
            @change="_searchProducts"
          ></b-form-input>
        </b-col>
        <b-col></b-col>
      </b-row>
      <div class="row">
        <!-- <pre>{{products}}</pre> -->
        <grid-u2
          ref="grid"
          @selectedSingleRow="getSelectedRow"
          :columns="columnsp"
          :items="products"
          :options="options"
        >
          <template slot="inventory" slot-scope="row">
            <div class="c" v-if="row.item.inventory.length > 0">
              <b-button
                class="boton-exist-dispon"
                variant="success"
                v-b-modal.list-availability
                @click="_availability(row.item.id)"
              >
                <div v-if="row.item.inventory[0].available == null">
                  {{ row.item.inventory[0].stock + " | 0" }}
                </div>
                <div v-else>
                  {{
                    row.item.inventory[0].stock +
                    " | " +
                    row.item.availability_branchOffice_warehouse_available
                  }}
                </div>
              </b-button>
            </div>
            <div class="c" v-else>
              <b-button
                class="boton-exist-dispon"
                variant="success"
                v-b-modal.list-availability
                @click="_availability(row.item.id)"
                >0 | 0</b-button
              >
            </div>
          </template>

          <template slot="ubicacion" slot-scope="row">
            <div v-if="validateRoles()">
              <div v-if="row.item.inventory.length > 0">
                <div class="edit-th">
                  <b-form-input
                    class="edit-th"
                    style="text-transform: uppercase"
                    v-model="row.item.inventory[0].location"
                    @blur="updateUbication(0, row, row.item)"
                    placeholder="Ubicación"
                  ></b-form-input>
                </div>
                <!-- {{ row.item.inventory[0].location | editable:true}} -->
              </div>
              <div v-else>
                <div class="edit-th">
                  <b-form-input
                    class="edit-th"
                    style="text-transform: uppercase"
                    v-model="row.item.location"
                    @blur="updateUbication(0, row, row.item)"
                    placeholder="U bicación"
                  ></b-form-input>
                </div>
              </div>
            </div>
            <div v-else>
              <div v-if="row.item.inventory.length > 0">
                {{ row.item.inventory[0].location }}
              </div>
              <div v-else>0</div>
            </div>
          </template>

          <template slot:head="inventory" slot-scope="row">
            <p class="t-c">Exist | Dispon</p>
          </template>
        </grid-u2>
      </div>
      <p class="pad">
        Mostrando {{ productspagination.from }} a {{ productspagination.to }} de
        {{ productspagination.total }} resultados
      </p>
      <b-row class="pad">
        <b-col md="6" class="my-1 form-inline">
          <label>Registros por página: &nbsp;</label>
          <b-form-select
            :options="[15, 30, 50, 100]"
            v-model="params.perPage"
          />
        </b-col>

        <b-col md="6" class="my-1">
          <b-pagination
            :total-rows="productspagination.total"
            :per-page="params.perPage"
            :current-page="params.page"
            v-model="params.page"
            class="my-0 float-right"
          />
        </b-col>
      </b-row>
    </b-modal>
    <listavailability />
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../components/u2/grid";
import listavailability from "../../components/availability-inquiry/availability";

export default {
  props: {
    contact_id: { type: Number, required: false, default: null },
    model_id: { required: false, default: null },
    branchoffice_warehouse_id: { required: false, default: null },
    warehouse_id: { required: false, default: null },
    titleModal: { required: false, default: null },
  },
  components: {
    GridU2,
    listavailability,
  },
  data() {
    return {
      show: false,
      columnsp: [],
      options: {
        selectable: true,
        multiselect: true,
      },
    };
  },
  watch: {
    "params.page"(newval) {
      this._searchProducts();
    },
    "params.perPage"(newval) {
      this._searchProducts();
    },
    async branchoffice_warehouse_id(newVal) {
      const branchoffice_warehouse = this.branchoffice_warehouse_id
        ? this.branchoffice_warehouse_id
        : Number(localStorage.selected_branchoffice_warehouse);

      await this.setbranchoffice_warehouse(branchoffice_warehouse);
      this._searchProducts();
    },
    async warehouse_id(newVal) {
      await this.setWarehouseId(this.warehouse_id);
      this._searchProducts();
    },
  },

  created() {
    this.initComponent();
  },
  methods: {
    validateRoles() {
      //console.log(localStorage.user);
      let user = JSON.parse(localStorage.getItem("user"));
      if (
        user.get_roles[0].id == 2 ||
        user.get_roles[0].id == 5 ||
        user.get_roles[0].id == 3
      ) {
        return true;
      } else {
        return false;
      }
    },
    updateUbication(event, row, item) {
      // console.log(item);

      if (item.inventory.length > 0) {
        this.params_location.branchoffice_warehouse =
          item.inventory[0].branchoffice_warehouse_id;
        this.params_location.location = item.inventory[0].location;
        this.params_location.product = item.id;
      } else {
        this.params_location.location = item.location;
        this.params_location.branchoffice_warehouse =
          localStorage.selected_branchoffice_warehouse;
        this.params_location.product = item.id;
      }

      // console.log(this.params_location);

      this.updatelocation();
    },

    _searchProducts() {
      this.searchProducts(this.model_id);
    },
    async initComponent() {
      const branchoffice_warehouse = this.branchoffice_warehouse_id
        ? this.branchoffice_warehouse_id
        : Number(localStorage.selected_branchoffice_warehouse);

      await this.setbranchoffice_warehouse(branchoffice_warehouse);
      await this.setWarehouseId(this.warehouse_id);

      this._searchProducts();
    },
    getSelectedRow(product) {
      this.$emit("selectedProduct", product);
    },
    async filterProducts() {
      if (this.params.filter.length >= 3 || this.params.filter.length == 0) {
        await this.setParams(this.params_prop);
        await this._searchProducts();
        this.$refs.grid.buildData();
      }
    },

    ...mapActions("availabilityInquiry", [
      "searchProducts",
      "availability",
      "updatelocation",
    ]),
    ...mapMutations("availabilityInquiry", [
      "setbranchoffice_warehouse",
      "setWarehouseId",
    ]),
    //
    async setActivitiesProcess(item, view) {
      this.ActivitiesProcessView = view;
      await this.setSelectedServiceRequest(item);
      await this.setHistoryStateServiceRequest();
      this.$bvModal.show("modal-activities-process");
    },
    _availability(product_id) {
      this.availability(product_id);
    },
  },
  computed: {
    ...mapState("availabilityInquiry", [
      "productspagination",
      "params",
      "products",
      "params_location",
      "titleBranchoffice",
    ]),

    pagination() {
      return this.tableServiceRequests.pagination;
    },
  },
  async mounted() {
    this.columnsp = [
      {
        name: "Codigo",
        field: "code",
      },
      {
        name: "Descripcion",
        field: "description",
      },
      {
        name: "Linea",
        field: "line.line_description",
      },
      {
        name: "Marca",
        field: "brand.description",
      },
      {
        name: "Exist | Dispon",
        field: "inventory",
        style: {
          width: "10px",
        },
      },

      {
        name: "Ubicaión",
        field: "ubicacion",
      },
      {
        name: "Prec Venta",
        field: "price.price",
        format: "currency",
      },
    ];
  },
};
</script>

<style scoped>
.boton-exist-dispon {
  width: 100%;
}
.c {
  text-align: center;
}
.t-c {
  text-align: center;
}
.pad {
  padding: 20px !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
</style>

<style>
.header-modal-u2 {
  background: #007db3 !important;
  color: #fff;
}
</style>
