<template>
  <card :title="tittlee">
    <b-form data-vv-scope="form" @submit.prevent="validateForm()">
      <div class="row">

         <div class="col-sm-12 col-lg-4">
          <b-form-group label="Sede" class="mb-0">
            <el-select
              id="branchoffice_id"
              name="branchoffice_id"
              placeholder=" "
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-validate="'required'"
              data-vv-as=" "
              v-model="params.branchoffice_id"
            >
              <el-option
                v-for="branch in branchoffices"
                :key="branch.id"
                :label="branch.name"
                :value="branch.id"
              ></el-option>
            </el-select>
            <span class="text-danger span-error">
              {{
              errors.first("form.branchoffice_id")
              }}
            </span>
          </b-form-group>
        </div>
        <div class="col-sm-12 col-lg-4">
          <b-form-group label="Linea" class="mb-0">
            <el-select
              id="line"
              name="line"
              placeholder=" "
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-validate="'required'"
              data-vv-as=" "
              v-model="params.line"
            >
              <el-option
                v-for="line in lines"
                :key="line.id"
                :label="line.line_code + '-' + line.line_description"
                :value="line.id"
              ></el-option>
            </el-select>
            <span class="text-danger span-error">
              {{
              errors.first("form.line")
              }}
            </span>
          </b-form-group>
        </div>

        <div class="col-sm-12 col-lg-4">
          <b-form-group label="Sub Linea" class="mb-0">
            <el-select
              id="sub_line"
              name="sub_line"
              placeholder=" "
              clearable
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              
              v-model="params.sub_line"
            >
              <el-option
                v-for="sub_line in sub_lines"
                :key="sub_line.id"
                :label="
                  sub_line.subline_code + '-' + sub_line.subline_description
                "
                :value="sub_line.id"
              ></el-option>
            </el-select>
          </b-form-group>
        </div>
      </div>

      <div class="row">

<div class="col-sm-12 col-lg-4">
          <b-form-group label="Marca" class="mb-0">
            <el-select
              id="brand_id"
              name="brand_id"
              clearable
              placeholder=" "
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="params.brand_id"
            >
              <el-option
                v-for="brand in brands"
                :key="brand.id"
                :label=" brand.brand_code + '-' +brand.description"
                :value="brand.id"
              ></el-option>
            </el-select>
          </b-form-group>
        </div>
        




        <div class="col-sm-12 col-lg-4">
          <b-form-group label="Días Hasta" class="mb-0">
            <b-form-input
              type="number"
              id="days_up"
              name="days_up"
              class="form-control"
              v-validate="'required|numeric|max:3'"
              data-vv-as=" "
              v-model="params.days_up"
            ></b-form-input>
          </b-form-group>
          <span class="text-danger span-error">
            {{
            errors.first("form.days_up")
            }}
          </span>
        </div>

        <div class="col-sm-12 col-lg-4">
          <b-form-group label="Porcentaje de Descuento" class="mb-0">
            <b-form-input
              type="number"
              id="percentage"
              name="percentage"
              class="form-control"
              v-validate="'required|numeric|max:3'"
              data-vv-as=" "
              v-model="params.percentage"
            ></b-form-input>
            <span class="text-danger span-error">
              {{
              errors.first("form.percentage")
              }}
            </span>
          </b-form-group>
        </div>

        
      </div>

      <!-- Botones -->
      <div class="row">
        <div class="col-12">
          <div class="form-actions">
            <b-button
              to="/Descuentos-Pronto-Pago"
              type="button"
              variant="secondary"
              class="float-left"
            >
              <span class="btn-label">
                <i class="ti-arrow-left"></i>
              </span>
              Volver
            </b-button>

            <b-button type="submit" class="boton-guardar">
              <span class="btn-label">
                <i class="ti-save"></i>
              </span>
              Guardar
            </b-button>

            <b-button type="reset" value="Limpiar" class="otro-boton float-left">
              <span class="btn-label">
                <i class="ti-eraser"></i>
                Limpiar
              </span>
            </b-button>
          </div>
        </div>
      </div>
    </b-form>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    Card,
  },
  data() {
    return {
      tittlee: "<i class='ti-angle-down'></i> Crear Descuento",
    };
  },
  async created() {
    await this.getBranchs();
    await this.getBrands();
    if (this.params.line) {
      this.params.line = null;
      this.params.sub_line = null;
      this.params.days_up = null;
      this.params.percentage = null;
      
    }

    if (this.$route.params.id) {
      this.tittlee = "<i class='ti-angle-down'></i> Actualizar Descuento";
      this.initComponent(this.$route.params.id);
    }
    this.fetchLines();
    //this.fetchSubLines();
  },
  watch: {
    "params.line"(newval) {
      if (newval != null) {
        this.fetchSubLines(newval);
      }
    },
  },
  methods: {
    ...mapActions("discount_soon_payment", [
      "fetchLines",
      "getBranchs",
      "createDiscount",
      "fetchSubLines",
      "fetchDiscount",
      "updateDiscount",
      'getBrands'
    ]),
    //...mapMutations('discount_soon_payment', ['setParamsContacts']),

    async initComponent(id) {
      await this.fetchDiscount(id);

      this.params.line = this.discount_soon_payment.line_id;
      this.params.branchoffice_id = this.discount_soon_payment.branchoffice_id;
      this.params.sub_line = this.discount_soon_payment.subline_id;
      this.params.days_up = this.discount_soon_payment.days_up;
      this.params.percentage = this.discount_soon_payment.percentage + "";
      this.params.brand_id = this.discount_soon_payment.brand?this.discount_soon_payment.brand.id:null;
    },
    searchContacts(filter) {
      if (filter.length >= 3) {
        this.setParamsContacts(filter);
        this.fetchContacts();
      }
    },
    async validateForm() {
      this.$validator.validateAll("form").then(async result => {
        if (result) {
            if (this.params.percentage.length < 4 && this.params.percentage < 101) {
            if (this.$route.params.id) {
                this.params.id = this.discount_soon_payment.id;
                await this.updateDiscount(this.params);
            } else {
                await this.createDiscount(this.params);
                this.params.line = null;
                this.params.sub_line = null;
                this.params.days_up = null;
                this.params.percentage = null;
                this.params.branchoffice_id = null
            }
            } else {
            this.$alert("el porcentage debe tener dos digitos", "Error", {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error",
            }).then((verifica) => {});
            }
      } else {
        this.$alert("Algunos campos no se registraron correctamente", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error",
        }).then((verifica) => {});
      }
     })
   },
  },

  computed: {
    ...mapState("discount_soon_payment", [
      "lines",
      "params",
      "sub_lines",
      "discount_soon_payment",
      "branchoffices",
      'brands'
    ]),
  },
};
</script>
