<template>
    <card title="<i class='ti-angle-down'></i> Descuentos Pronto Pago">
        <div class="row">
            <div class="col-8">

            </div>
            <div class="col-4">
            <b-button to="/Descuentos-Pronto-Pago/crear" id="boton-nuevo"
                class="button button-rounded button-primary-flat hvr-shrink float-right">Nuevo</b-button>
            </div>
        </div>
        <!-- TABLA -->  
          <div class="row">
            <div class="col-12">
               <grid-u2
                :columns="columnsPU"
                @changeRow="changeRow"
                :items="discounts_soon_payment"
              >
                <template
                  slot="options"
                  slot-scope="row"
                >
                  <b-button
                    variant="info"
                    :to="`/Descuentos-Pronto-Pago/${row.item.id}/editar`"
                  >Editar</b-button>
                  <b-button
                    variant="danger"
                    @click="questionDelete(row.item, row)"
                  >Eliminar</b-button>
                </template>

                <template
                  slot="linea"
                  slot-scope="row"
                >
                  <div>
                    {{ row.item.code }} - {{ row.item.line_description }}
                  </div>
                </template>

                <template
                  slot="Sublinea"
                  slot-scope="row"
                >
                  <div v-if="row.item.subline != null">
                    {{ row.item.subline.subline_code }} - {{ row.item.subline.subline_description }}
                  </div>
                </template>


                <template slot="brand" slot-scope="row">
                 <div v-if="row.item.brand">
                    {{row.item.brand.brand_code +' - '+ row.item.brand.description}}
                 </div>
                 <div v-else></div>
                </template>

                <template
                  slot="porcentaje"
                  slot-scope="row"
                >
                  <div>
                    {{ row.item.percentage }}%
                  </div>
                </template>

              </grid-u2>
            </div>
          </div>
    </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card';
import { MessageBox } from 'element-ui';
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    Card,
    GridU2
  },
  data(){
    return{
      columnsPU: [],
    }
  },

  methods: {
    ...mapActions('discount_soon_payment', ['fetchDiscounts', 'deleteDiscount']),
    changeRow(){

    },


    questionDelete (item, row) {
      this.$confirm('Esto eliminara de forma permanente el registro. ¿Desea continuar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        (result) => {
          if (result) {
            this.deleteDiscount(item.id)
            this.fetchDiscounts()
          }
        }
      ).catch(function (result) {
      })
    },

  },

  created() {
    this.fetchDiscounts()
  },
  async mounted () {


    this.columnsPU = [
       {
      name: "Sede",
      field: "name",
      width: 140,
    },
     
    {
      name: "Linea",
      field: "line_description",
      width: 150
    },
    {
      name: "Sub Linea",
      field: "Sublinea",
      width: 400
    },
    {
      name: "Marca",
      field: "brand",
      width: 140,
    },
    {
      name: "Días Hasta", 
      field: "days_up",
      width: 140,
    },
    {
      name: "Dscto %",
      field: "porcentaje",
      width: 140,
    },
    
    
    {
      name: "Acciones",
      field: "options",
      width: 140,
      format: "number",
    },
    ];
  },
  computed: {
    ...mapState('discount_soon_payment', ['discounts_soon_payment'])
  },
}
</script>