<template>
  <card :title=" iconMessage + messageCard">
    <b-form data-vv-scope="form" @submit.prevent="validateForm()">
      <div class="row">

        <!--Nombre del rol-->
        <b-form-group class="col-12 col-md-4 col-lg-4"
                      :class="errors.has('form.name') ? 'form-group-error text-danger ': ''"
        >
          <label>Rol <span class="text-danger">*</span></label>
          <el-input :disabled="isDisabled"
                    size="small"
                    name="name" data-vv-as=" "
                    v-validate="'required'"
                    v-model="role.name"
                    placeholder="Nombre Rol"
          />
          <span class="text-danger span-error">{{ errors.first('form.name') }}</span>
        </b-form-group>

        <b-form-group class="col-12 col-md-6 col-sm-6 col-lg-6">
          <label>Filtro Permisos</label>
          <el-input :disabled="isDisabled"
                    size="small"
                    clearable
                    v-model="filter"
                    placeholder="Busqueda"/>
        </b-form-group>
      </div>
      <hr>
      <div class="row py-3">
        <div class="col-12 text-center">
          <el-radio-group v-model="category.selected" size="medium">
            <el-radio v-for="c in categories" :key="c.id" :label="c.id">{{c.name_parameter}}</el-radio>
          </el-radio-group>
        </div>
      </div>

<!--      <el-checkbox v-if="actionForm!='view'" v-model="checkAll" @change="handleCheckAllChange">-->
<!--        Todos los Permisos-->
<!--      </el-checkbox>-->

    <!--  <b-row>
        <div class="col-12">
          <label><strong>Permisos Generales:</strong></label>
        </div>
        <br>
        <div v-for="item in permissions[0]" :key="item.id" :class="filterPermission(item) ? 'col-sm-4' : ''">
          <el-checkbox-group v-if="filterPermission(item)" v-model="role.permissions">
            <el-checkbox :disabled="isDisabled" :checked="comprobacion(item.id)" :label="item.id">
              {{item.permission}}
            </el-checkbox>
          </el-checkbox-group>
        </div>

      </b-row>-->

      <b-row class="pt-3">
        <div v-for="item in permissions" :key="item.id" v-if="item.category_role_id === category.selected" :class="filterPermission(item) ? 'col-lg-4 col-md-6 col-12 ' : ''">
          <el-checkbox-group v-if="filterPermission(item)" v-model="role.permissions">
            <el-checkbox :disabled="isDisabled" :checked="validateCheck(item.id)" :label="item.id">
              {{item.permission}}
            </el-checkbox>
          </el-checkbox-group>
        </div>
      </b-row>



      <!--BOTONES DEL FORMULARIO-->
      <div class="form-actions">
        <b-button v-if="!isDisabled" type="submit" class="boton-guardar">
            <span class="btn-label">
              <i class="ti-save-alt"></i>
            </span> Guardar
        </b-button>
        <b-button to="/roles-permisos" type="button" variant="secondary" class="float-left">
            <span class="btn-label">
              <i class="ti-arrow-left"></i>
            </span> Volver
        </b-button>
        <b-button v-if="!isDisabled" @click="setRoleDefault()" value="Limpiar" class="otro-boton float-left">
            <span class="btn-label">
              <i class="ti-eraser"></i>
              Limpiar
            </span>
        </b-button>
      </div>

    </b-form>
  </card>
</template>

<script>
  import {
    mapState,
    mapMutations,
    mapActions
  } from 'vuex'
  import card from "../../components/pages/card/card";

  export default {
    components: {
      card
    },
    data() {
      return {
        module: 'AStarcommerce',
        isDisabled: false,
        checkAll: false,
        filter: '',
        isIndeterminate: true,
        messageCard: "Nuevo Rol",
        iconMessage: "<i class='fa fa-plus'></i> ",

      }
    },
    mounted() {
      this.initComponent()
    },
    methods: {
      filterPermission(value) {
        return value.permission.toLowerCase().includes(this.filter.toLowerCase())
      },
      handleCheckAllChange(value) {

        if (value) {
          this.filter = '';
          this.role.permissions = [];
          this.permissions[0].forEach(element => {
            this.role.permissions.push(element.id);
          });
          this.permissions[1].forEach(element => {
            this.role.permissions.push(element.id);
          });
          this.permissions[2].forEach(element => {
            this.role.permissions.push(element.id);
          });
          this.permissions[3].forEach(element => {
            this.role.permissions.push(element.id);
          });

        } else {
          this.role.permissions = this.copyPermissions;
        }
      },
      initComponent() {
        this.setRoleDefault();
        this.setActionForm('create');
        this.getPermissions();
        let id = this.$route.params.id;
        let idv = this.$route.params.idv;
        if (id) {
          this.messageCard = 'Mantenimiento Rol'
          this.setActionForm('update');
          this.getRoleById(id);
          this.countPermissionSelected()

        } else if (idv) {
          this.messageCard = 'Ver Rol'
          this.isDisabled = true;
          this.setActionForm('view');
          this.getRoleById(idv);
          this.countPermissionSelected()
        }
      },
      validateCheck(id) {
        return !!this.role.permissions.find(p => p.id === id)
      },
      validateForm() {
        this.setPromotionLoader(true);
        this.$validator.validateAll('form').then((result) => {
          if (result) {
            if (this.role.permissions.length <= 0) {
              this.$alert(
                "El rol debe de contar con permisos asociados",
                "Error", {
                  confirmButtonText: "Aceptar",
                  type: "error",
                  customClass: "notification-error"
                }
              )
            } else {
              if (this.actionForm == 'create') {
                this.createRol(this.role)
                this.checkAll = false;

              }
              if (this.actionForm == 'update') {
                this.updateRol(this.role.id);
              }

            }
          } else {
            this.$alert(
              "Algunos campos no se registraron correctamente",
              "Error", {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
              }
            ).then(verifica => {
            });
          }
        })
      },
      countPermissionSelected() {
        setTimeout(() => {
          let cantPermissionsTotal = this.permissions[0].length + this.permissions[1].length
          let cp = JSON.parse(JSON.stringify(this.role))
          this.checkAll = cp.permissions.length == cantPermissionsTotal
        }, 2000)
      },
      ...mapActions('roles', ['getPermissions', 'createRol', 'getRoleById', 'updateRol']),
      ...mapMutations('roles', ['setRoleDefault', 'setActionForm', 'setPromotionLoader', 'setPermissionsRole']),
    },
    computed: {
      ...mapState('roles', ['role', 'permissions', 'categories', 'category', 'copyPermissions', 'actionForm']),
    },
  }
</script>


<style>
  .permission {
    border: 1px solid red;
  }
</style>
