<template>
  <card title="<i class='fa fa-users'></i> Permisos de usuario">
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.form_menu id="form-roles">ROLES</b-btn>
      <b-collapse id="form_menu" role="tabpanel" visible>
        <b-card-body>
          <div class="d-flex justify-content-end mr-4">
            <b-button variant="primary" :to="`/rol/crear`">Nuevo</b-button>
          </div>
          <grid-u2 :columns="columns"
                   :items="roles"
                   class="mb-5"
          >
            <template slot="Acciones"
                      slot-scope="row"
            >
              <b-button variant="secondary" :to="`/rol/${row.item.id}/ver`">Ver</b-button>
              <b-button variant="primary" :to="`/rol/${row.item.id}/editar`">Editar</b-button>
              <b-button variant="danger" @click="open(row.item.id)">Eliminar</b-button>
            </template>
          </grid-u2>
        </b-card-body>
      </b-collapse>
    </b-card>

    <!-- usuarios y sus roles -->
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.form_menu id="form-users">USUARIOS</b-btn>
      <b-collapse id="form_menu" role="tabpanel" visible>
        <b-card-body>
          <el-input class="col-6 mt-5  text-dark" v-model="params.name">
            <el-button slot="append" class="bg-primary text-white " icon="fa fa-search"
                       @click="getUsers"></el-button>
          </el-input>


          <grid-u2
            :columns="columnsUsers"
            :items="users.data"
            :gridOptions="gridOptions"
          >

            <template slot="name" slot-scope="row">
              {{row.item.name +' '+ row.item.surname}}
            </template>

            <template slot="rol_id" slot-scope="row">
              <select filterable placeholder="Select" class="w-100"
                      v-model="row.item.rol_id"
              >
                <option
                  v-for="item in roles"
                  :key="item.id"
                  :label="item.role"
                  class="form-control"
                  :value="item.id">
                </option>
              </select>
            </template>

            <template
              slot="actions"
              slot-scope="row"
            >
              <b-button variant="primary"
                        @click="_updateRoll(row.item)">Editar
              </b-button>
            </template>
          </grid-u2>


          <b-row>
            <b-col
              md="6"
              class="my-1 form-inline"
            >
              <label>Registros por página: &nbsp;</label>
              <b-form-select
                :options="[15, 30, 50,100]"
                v-model="params.perPage"
                @change.native="setPerPagePagination"
              />
            </b-col>
            <b-col
              md="6"
              class="my-1"
            >
              <b-pagination
                :total-rows="totalRows"
                :per-page="params.perPage"
                :current-page="params.page"
                v-model="params.page"
                class="my-0 float-right"
                @change="setPagePagination"
              />
            </b-col>
          </b-row>
        </b-card-body>
      </b-collapse>
    </b-card>
  </card>

</template>

<script>
  import {mapState, mapActions, mapMutations} from "vuex";
  import GridU2 from "../../components/u2/grid";
  import card from "../../components/pages/card/card";

  export default {
    components: {
      GridU2, card
    },

    data() {
      return {
        columns: [
          {name: 'Nombre', field: 'role'},
          {name: 'Acciones', field: 'Acciones', style: {width: '210px'}},
        ],
        columnsUsers: [
          {name: 'Nombre', field: 'name'},
          {name: 'Correo', field: 'email'},
          {name: 'Rol', field: 'rol_id'},
          {name: 'Acciones', field: 'actions', style: {width: '50px'}},
        ],
        gridOptions: null,

      };
    },
    async beforeMount() {
      this.gridOptions = {}
      await this.getRoles();
      await this.getUsers();
    },
    methods: {
      ...mapActions('roles', ['getRoles', 'deleteRole', 'getUsers', 'setPerPagePagination', 'setPagePagination', 'updateRoll']),
      open(id) {
        this.$confirm('¿Desea Eliminar el Roll?', 'Confirmación', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancelar',
          type: 'warning'
        }).then(async () => {

          await this.deleteRole(id)
          await this.getRoles()
        }).catch(() => {

        });
      },

      async _updateRoll(element) {
        this.$confirm('¿Desea Actualizar  el Roll al Usuario?', 'Confirmación', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancelar',
          type: 'warning'
        }).then(async (response) => {
          await this.updateRoll(element);
        }).catch((error) => {
        });


      }


    },
    computed: {
      ...mapState('roles', ['roles', 'permissions', 'users', 'params']),
      totalRows() {
        return this.users.total
      },

    }
  };
</script>
