<template>
    <div>
        <h4>You can use different sets of icon fonts:</h4>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <card title="Themify Icons">
                    <div class="icon_group">
                        <div class="icon_set text-center">
                            <div class="row">
                                <div class="col-2"><i class="ti-wand icons"></i></div>
                                <div class="col-2"><i class="ti-save icons"></i></div>
                                <div class="col-2"><i class="ti-direction icons"></i></div>
                                <div class="col-2"><i class="ti-link icons"></i></div>
                                <div class="col-2"><i class="ti-unlink icons"></i></div>
                                <div class="col-2"><i class="ti-target icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="ti-spray icons"></i></div>
                                <div class="col-2"><i class="ti-signal icons"></i></div>
                                <div class="col-2"><i class="ti-shopping-cart-full icons"></i></div>
                                <div class="col-2"><i class="ti-settings icons"></i></div>
                                <div class="col-2"><i class="ti-back-left icons"></i></div>
                                <div class="col-2"><i class="ti-facebook icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="ti-map-alt icons"></i></div>
                                <div class="col-2"><i class="ti-bar-chart-alt icons"></i></div>
                                <div class="col-2"><i class="ti-vector icons"></i></div>
                                <div class="col-2"><i class="ti-control-record icons"></i></div>
                                <div class="col-2"><i class="ti-ink-pen icons"></i></div>
                                <div class="col-2"><i class="ti-help-alt icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="ti-face-sad icons"></i></div>
                                <div class="col-2"><i class="ti-new-window icons"></i></div>
                                <div class="col-2"><i class="ti-rss-alt icons"></i></div>
                                <div class="col-2"><i class="ti-control-stop icons"></i></div>
                                <div class="col-2"><i class="ti-control-shuffle icons"></i></div>
                                <div class="col-2"><i class="ti-paragraph icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="ti-paragraph icons"></i></div>
                                <div class="col-2"><i class="ti-underline icons"></i></div>
                                <div class="col-2"><i class="ti-quote-right icons"></i></div>
                                <div class="col-2"><i class="ti-layout-column2 icons"></i></div>
                                <div class="col-2"><i class="ti-instagram icons"></i></div>
                                <div class="col-2"><i class="ti-twitter icons"></i></div>
                            </div>
                        </div>
                        <div class="icon_cover text-center">
                            <router-link class="btn btn-primary" to="/themify_icons">View All
                            </router-link>
                        </div>
                    </div>
                </card>
            </div>
            <div class="col-md-6 col-sm-6">
                <card title="Font Awesome Icons">
                    <div class="icon_group">
                        <div class="icon_set fontawesome_icons text-center">
                            <div class="row">
                                <div class="col-2"><i class="fa fa-fw fa-bolt"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-bullhorn"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-clock-o"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-cloud-upload"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-cog"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-compass"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-fw fa-edit"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-female"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-frown-o"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-legal"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-mail-reply-all"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-mail-forward"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-fw fa-phone-square"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-plus-circle"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-rss-square"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-signal"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-smile-o"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-spinner"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-fw fa-thumbs-o-up"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-ticket"></i></div>
                                <div class="col-2"><i class="fa fa-fw ti-close removecard clickable"></i>
                                </div>
                                <div class="col-2"><i class="fa fa-fw fa-toggle-down"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-trash-o"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-users"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-fw fa-copy"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-list-ul"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-list-alt"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-arrow-circle-down"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-caret-square-o-down"></i></div>
                                <div class="col-2"><i class="fa fa-fw fa-chevron-right"></i></div>
                            </div>
                        </div>
                        <div class="icon_cover text-center">
                            <router-link class="btn btn-primary" to="/fontawesome_icons">View All
                            </router-link>
                        </div>
                    </div>
                </card>
            </div>
            <div class="col-md-6 col-sm-6 m-t-10">
                <card title="Simple Line Icons">
                    <div class="icon_group">
                        <div class="icon_set text-center">
                            <div class="row">
                                <div class="col-2"><i class="icon-compass icons"></i></div>
                                <div class="col-2"><i class="icon-directions icons"></i></div>
                                <div class="col-2"><i class="icon-earphones-alt icons"></i></div>
                                <div class="col-2"><i class="icon-equalizer icons"></i></div>
                                <div class="col-2"><i class="icon-dislike icons"></i></div>
                                <div class="col-2"><i class="icon-mustache icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="icon-cursor-move icons"></i></div>
                                <div class="col-2"><i class="icon-folder icons"></i></div>
                                <div class="col-2"><i class="icon-ghost icons"></i></div>
                                <div class="col-2"><i class="icon-present icons"></i></div>
                                <div class="col-2"><i class="icon-grid icons"></i></div>
                                <div class="col-2"><i class="icon-social-linkedin icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="icon-symbol-female icons"></i></div>
                                <div class="col-2"><i class="icon-social-behance icons"></i></div>
                                <div class="col-2"><i class="icon-settings icons"></i></div>
                                <div class="col-2"><i class="icon-paper-plane icons"></i></div>
                                <div class="col-2"><i class="icon-lock icons"></i></div>
                                <div class="col-2"><i class="icon-camrecorder icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="icon-magnifier-remove icons"></i></div>
                                <div class="col-2"><i class="icon-calendar icons"></i></div>
                                <div class="col-2"><i class="icon-control-play icons"></i></div>
                                <div class="col-2"><i class="icon-social-twitter icons"></i></div>
                                <div class="col-2"><i class="icon-social-facebook icons"></i></div>
                                <div class="col-2"><i class="icon-social-dropbox icons"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="icon-social-vkontakte icons"></i></div>
                                <div class="col-2"><i class="icon-social-google icons"></i></div>
                                <div class="col-2"><i class="icon-cloud-upload icons"></i></div>
                                <div class="col-2"><i class="icon-control-rewind icons"></i></div>
                                <div class="col-2"><i class="icon-size-fullscreen icons"></i></div>
                                <div class="col-2"><i class="icon-diamond icons"></i></div>
                            </div>
                        </div>
                        <div class="icon_cover text-center">
                            <router-link class="btn btn-primary" to="/simple_line_icons">View All
                            </router-link>
                        </div>
                    </div>
                </card>
            </div>
        </div>
    </div>
</template>
<script>
    import card from "./card/card.vue"
export default {
    name: "font_icons", // Name is optional, When name isn’t specified use the filename as the component name.
    components:{
        card
    },
    mounted: function() {

    },
    destroyed: function() {

    }
}
</script>
<style src="simple-line-icons/css/simple-line-icons.css"></style>
<style src="../../assets/css/custom_css/fonts.css"></style>
