<template>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <card title="<i class='ti-image'></i> Image Hover">
                    <div class="row">

                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-fade">
                                <img src="../../../assets/assets/img/gallery/thumbs/7.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Fade
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-push-up">
                                <img src="../../../assets/assets/img/gallery/thumbs/8.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Push-up
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-push-down">
                                <img src="../../../assets/assets/img/gallery/thumbs/11.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Push-down
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-slide-right">
                                <img src="../../../assets/assets/img/gallery/thumbs/14.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Slide-right
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-slide-left">
                                <img src="../../../assets/assets/img/gallery/thumbs/17.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Slide-left
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-reveal-up">
                                <img src="../../../assets/assets/img/gallery/thumbs/19.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Reveal-up
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-reveal-left">
                                <img src="../../../assets/assets/img/gallery/thumbs/20.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Reveal-left
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-reveal-down">
                                <img src="../../../assets/assets/img/gallery/thumbs/24.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Reaveal-down
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-hinge-up">
                                <img src="../../../assets/assets/img/gallery/thumbs/28.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Hinge-up
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-hinge-right">
                                <img src="../../../assets/assets/img/gallery/thumbs/29.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Hinge-right
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-flip-horiz">
                                <img src="../../../assets/assets/img/gallery/thumbs/32.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Flip-horizontal
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-flip-vert">
                                <img src="../../../assets/assets/img/gallery/thumbs/33.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Flip-vertical
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-flip-diag-1">
                                <img src="../../../assets/assets/img/gallery/thumbs/30.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Flip-diagonal
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-shutter-out-vert">
                                <img src="../../../assets/assets/img/gallery/thumbs/14.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Shutter-out-vertical
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-fold-right">
                                <img src="../../../assets/assets/img/gallery/thumbs/19.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Fold-right
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 text-center">
                            <figure class="imghvr-zoom-out-down">
                                <img src="../../../assets/assets/img/gallery/thumbs/17.jpg" class="img-responsive" width="295"
                                     height="185">
                                <figcaption>
                                    Zoom out down
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </card>
            </div>
        </div>
    </div>
</template>
<script>

    import card from "./card/card.vue"

    export default {
        name: "image_hover",
        components:{
            card
        },
        mounted: function() {

        },
        destroyed: function() {

        }
    }
</script>

<!--
<style src="imagehover.css/css/imagehover.css" type="text/css"></style>
<style src="../../assets/css/custom_css/img_hover.css" type="text/css"></style>
-->
