<template>
  <card title="<i class='ti-home'></i> Inicio">
    <b-card title="Starhelp" class="shadow-none" border-variant="light">
      <b-card-text>
        En contruccion
      </b-card-text>
    </b-card>
  </card>
</template>
<script>
import Card from "./card/card.vue";
export default {
  name: "index",
  components: {
    Card
  }
};
</script>
<style src="../../assets/css/custom_css/dashboard1.css"></style>
