<template>
  <div class="container-fluid login">
    <div class="container">
      <div class="row">
        <div id="fondo" :style="'background:url(' + loginImage + ')'"></div>
        <div class="col-lg-4 col-10 col-sm-8 mx-auto login-form">
          <h2 class="text-center logo_h2">
            <img :src="logo" alt="Logo" class="logo" />
          </h2>
          <!--<div v-if="status !== ''" style="color: red">{{ status }}</div>-->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <form @submit.prevent="validateForm()" data-vv-scope="form">
                  <div class="row">
                    <div class="col-sm-12 mt-3 ">
                      <div
                        class="form-group"
                        v-bind:class="
                          errors.has('form.email') ? 'form-group-error' : ''
                        "
                      >
                        <input
                          required
                          autofocus
                          placeholder="Correo electŕonico"
                          v-model="auth.email"
                          name="email"
                          type="email"
                          class="form-control"
                          v-validate="'required|email'"
                          data-vv-as=" "
                        />
                        <i class="text-danger icon-error" />
                        <span
                          class="text-danger span-error"
                          v-text="errors.first('form.email')"
                        />
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div
                        class="form-group"
                        v-bind:class="
                          errors.has('form.password') ? 'form-group-error' : ''
                        "
                      >
                        <input
                          required
                          placeholder="Contraseña"
                          v-model="auth.password"
                          name="password"
                          type="password"
                          class="form-control"
                          v-validate="'required|max:15|min:3'"
                          data-vv-as=" "
                          autocomplete="off"
                        />
                        <i class="text-danger icon-error"></i>
                        <span
                          class="text-danger span-error"
                          v-text="errors.first('form.password')"
                        />
                      </div>
                    </div>
                    <input
                      type="submit"
                      value="Ingresar"
                      class="btn btn-primary btn-block mb-3 button-p"
                    />
                    <div class="col-sm-12">
                      <router-link
                        to="/olvide/contrasena"
                        class="float-left"
                        exact
                      >
                        ¿Olvido su contraseña?
                      </router-link>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import { getLogoSubscriber } from "../../util/domains";

export default {
  name: "login",
  data() {
    return {
      loginImg: [
        "/images/pages/login/1.jpg",
        "/images/pages/login/2.jpg",
        "/images/pages/login/3.jpg",
        "/images/pages/login/4.jpg",
        "/images/pages/login/5.jpg",
        "/images/pages/login/6.jpg",
        "/images/pages/login/7.jpg"
      ],
      loginImage: null,
      logo: getLogoSubscriber()
    };
  },
  created() {
    let random = Math.floor(Math.random() * this.loginImg.length);
    this.loginImage = this.loginImg[random];
  },
  methods: {
    validateForm() {
      this.$validator.validateAll("form").then(async result => {
        if (result) {
          await this.authentication().then(async () => {
            this.$router.push("/inicio");
          });
        }
      });
    },
    ...mapActions("login", ["authentication", "fetchUserB2b"])
  },
  computed: {
    ...mapState("login", ["auth", "user", "status", "logued_type"])
  }
};
</script>
<style src="../../assets/css/login.css" scoped></style>
<style type="text/css" scoped>
.login {
  padding-top: 6.5%;
  padding-bottom: 2%;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: auto;
}

#fondo {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  background-size: cover !important;
  height: 100% !important;
}

.text-danger {
  font-size: 12px !important;
}

.logo {
  margin: 20px 0px 0 0px;
  width: 200px;
}

.button-p {
  background-color: rgb(28, 33, 117) !important;
  border: 1px solid rgb(28, 33, 117) !important;
}

.button-p:hover {
  background-color: rgb(20, 46, 129) !important;
}
</style>
