<template>
  <card
    class="card-invoice"
    :title="
      document[0].contact.identification +
        ' - ' +
        document[0].contact.name +
        ' ' +
        document[0].contact.surname
    "
  >
    <div class="border border-primary bg-white">
      <div class="d-flex justify-content-center p-3 mt-2 mb-5">
        <img class="" src="../../assets/img/informacion.png" alt="" />
        <h2 class="title-invoice font-weight-bold mt-2">
          &nbsp;&nbsp;Factura {{ document[0].prefix }} -
          {{ document[0].consecutive }}
        </h2>
      </div>
    </div>
    <br />
    <!-- datos factura -->
    <div class="text-center   my-5">
      <h2 class="font-weight-bold">Datos Generales</h2>
      <br />
      <div class="border border-primary position">
        <grid-u2
          :items="document"
          :columns="headerDocument"
          class="text-center"
        >
          <template slot="document_date" slot-scope="row">
            <p class=" ">
              {{ row.item.document_date.substr(0, 10) }}
            </p>
          </template>

          <template slot="total_value_final" slot-scope="row">
            <p class="text-primary font-weight-bold">
              {{ row.item.total_value | currency }}
            </p>
          </template>
        </grid-u2>

        <button
          class="btn btn-green mx-3"
          @click="_getPdf"
          v-if="document[0].software_siigo != true"
        >
          Descargar PDF
        </button>
      </div>
    </div>

    <!-- productos -->

    <div class="text-center    my-100">
      <h2 class="font-weight-bold">Productos</h2>
      <br />
      <div class="border border-primary position">
        <div class="table-responsive p-3">
          <table class="table table-bordered table-hover">
            <thead style="text-align: center;" class="bg-primary text-white">
              <tr>
                <td><strong>Código</strong></td>
                <td><strong>Descripción</strong></td>
                <td><strong>Cantidad</strong></td>
                <td><strong>Valor Unit</strong></td>
                <td><strong>Descuento</strong></td>
                <td><strong>Valor Bruto</strong></td>
                <td><strong>Valor IVA</strong></td>
                <td><strong>Vr Dcto-PP</strong></td>
              </tr>
            </thead>

            <tbody v-if="document[0].documents_products.length > 0">
              <tr v-for="item in document[0].documents_products" :key="item.id">
                <td class="text-left">{{ item.product.code }}</td>
                <td class="text-left">{{ item.product.description }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_value_before_taxes | currency }}</td>
                <td>{{ item.discount_value | currency }}</td>
                <td>{{ item.total_value_brut | currency }}</td>
                <td v-if="item.documents_products_taxes.length > 0">
                  {{ item.documents_products_taxes[0].value | currency }}
                </td>
                <td v-else>
                  {{ 0 | currency }}
                </td>
                <td>
                  {{ item.valuedpp | currency }}
                </td>
              </tr>
            </tbody>
            <tr v-if="document[0].documents_products.length > 0" id="th">
              <td colspan="7" class="text-right text-weight-bold table-hover">
                <strong>Total Vr Dcto-PP</strong>
              </td>
              <td>{{ document[0].dctpp | currency }}</td>
            </tr>
            <tr v-else id="th">
              <td colspan="8" class="text-center">
                La Factura no tiene Productos
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- saldo factura -->
    <div class="text-center my-100">
      <h2 class="font-weight-bold ">Saldo Factura</h2>
      <br />
      <div class="border border-primary  px-3 py-3">
        <div class="table-responsive">
          <table class="table table-bordered  table-hover">
            <thead style="text-align: center;" class="bg-primary text-white">
              <tr>
                <th><strong>Fecha</strong></th>
                <th><strong>Comprobante</strong></th>
                <th><strong>Debito</strong></th>
                <th><strong>Credito</strong></th>
                <th><strong>Saldo</strong></th>
              </tr>
            </thead>
            <tbody v-if="document[0].transactions.length > 0">
              <tr v-for="inv in document[0].transactions" :key="inv.id">
                <td>{{ inv.document_date }}</td>
                <td style="text-align: center;">
                  <div
                    v-if="
                      inv.transaction_type == 'D' &&
                        inv.document.vouchertype.code_voucher_type == '205'
                    "
                  >
                    {{
                      inv.document.vouchertype.name_voucher_type +
                        " - " +
                        inv.document_number
                    }}
                  </div>
                  <div
                    v-else-if="
                      inv.transaction_type == 'D' &&
                        inv.document.vouchertype.code_voucher_type == '444'
                    "
                  >
                    {{ inv.voucher_type }}
                  </div>
                  <div v-else>
                    {{ inv.voucher_type + " - " + inv.document_number }}
                  </div>
                </td>
                <!-- debito -->
                <td style="text-align: center;">
                  <div v-if="inv.transaction_type == 'D'">
                    {{ inv.transaction_value | currency }}
                  </div>
                </td>
                <!-- credito -->
                <td style="text-align: center;">
                  <div v-if="inv.transaction_type == 'C'">
                    {{ inv.transaction_value | currency }}
                  </div>
                </td>

                <td>
                  <div
                    id="color"
                    style="text-align: center;"
                    v-if="
                      inv.transaction_type == 'C' &&
                        inv.payment_applied_erp == 0
                    "
                  >
                    <p>En Proceso</p>
                  </div>
                  <div v-else>{{ inv.balance | currency }}</div>
                </td>
              </tr>
            </tbody>
            <td colspan="5" v-else>
              La Factura no tiene Registros
            </td>
          </table>
        </div>
      </div>
    </div>

    <!-- rec caja en proceso -->
    <div class="text-center  my-100">
      <h2 class="font-weight-bold ">Rec-Caja en Proceso</h2>
      <br />
      <div class="border border-primary">
        <grid-u2
          :items="document[0].arrayContributions"
          :columns="headerCashReceipt"
        >
        </grid-u2>
      </div>
    </div>

    <preloader v-show="preloader" mensaje="Cargando..."></preloader>
  </card>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import Card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";
import preloader from "./../../components/layout/preloader";

export default {
  components: { Card, GridU2, preloader },

  data() {
    return {
      headerDocument: [
        { name: "Fecha", field: "document_date" },
        { name: "Vr-Bruto", field: "total_value_brut", format: "currency" },
        { name: "Vr-IVA", field: "iva", format: "currency" },
        { name: "Vr-Total", field: "total_value", format: "currency" },
        { name: "Rte-FTE", field: "ret_fue_total", format: "currency" },
        { name: "Rte-IVA", field: "ret_iva_total", format: "currency" },
        { name: "Rte-ICA", field: "ret_ica_total", format: "currency" },
        { name: "Neto a Pagar", field: "total_value_final", format: "currency" }
      ],
      headerCashReceipt: [
        { name: "Fecha", field: "date" },
        { name: "Hora", field: "hour" },
        { name: "Valor", field: "total_paid", format: "currency" },
        { name: "Fec-Consign", field: "consignementDate" }
      ]
    };
  },
  async beforeMount() {
    await this.getDocument(this.$route.params.id);
  },
  methods: {
    ...mapActions("invoiceDetail", ["getDocument", "getPdf"]),
    ...mapMutations("invoiceDetail", ["setPreloader"]),
    async _getPdf() {
      this.setPreloader(true);
      await this.getPdf();
      this.setPreloader(false);
    }
  },
  computed: {
    ...mapState("invoiceDetail", ["document", "preloader"])
  }
};
</script>

<style>
.card-invoice .card-body {
  padding: 0px !important;
}
@media (max-width: 360px) {
  .title-invoice {
    font-size: 20px;
  }
}
</style>

<style scoped>
.margen {
  margin-top: 30px;
}
.icon-exclamation {
  color: #92d04e;
}
.btn-green {
  background: #92d04e;
  color: white;
  font-weight: bold;
}
.btn-green:hover {
  background: rgb(124, 204, 59);
  color: white;
  font-weight: bold;
}

#color {
  background: #fe6806;
  color: #fff;
  width: 100%;
}

#color p {
  margin: auto;
}

img {
  height: 50px;
  width: 50px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  box-align: center;
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgb(229, 245, 255) !important;
}

.table td,
.table th {
  padding: 13px 7px !important;
}

#th:hover {
  color: #212529;
  background-color: rgb(229, 245, 255) !important;
}
</style>
