<template>
  <div class="container-fluid">
    <div class="row">
      <!-- TABS -->
      <div class="col-12">
        <div class="tabs mt-2">
          <span v-for="(promotion, index) in promotionsActives" :key="index">
            <input
              type="radio"
              name="tabs"
              :checked="promotion.id == selectedPromotion.id"
            />
            <label @click="setSelectedPromotion(promotion)">{{
              promotion.description
            }}</label>
          </span>

          <div class="content"></div>
        </div>
      </div>
    </div>

    <!-- CONTENIDO DE LA PROMOCION -->
    <div class="row promotion-body" v-if="selectedPromotion.id != null">
      <div class="col-12" v-if="selectedPromotion.title != null">
        <p class="text-center" v-html="selectedPromotion.title"></p>
      </div>
      <!-- BUSCADOR DE PRODUCTOS -->
      <div class="col-md-12">
        <div
          v-if="
            selectedPromotion.promotion_type_id &&
              selectedPromotion.promotion_type_id == 2
          "
        >
          <div>{{ showSelectLabel() }}</div>

          <el-select
            remote
            v-model="params.clasification"
            filterable
            placeholder="Buscar un producto"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            style="text-transform: uppercase"
            :remote-method="getProductsByClasification"
            @change="addProductToGrid"
            class="search-select-product"
          >
            <el-option
              v-for="product in productsFiltered"
              :key="product.id"
              :value="product.id"
              :label="labelProductsClasificaction(product)"
            ></el-option>
          </el-select>
        </div>
      </div>

      <!-- TABLA DE PRODUCTOS -->
      <div class="col-md-12">
        <grid-u2
          :columns.sync="columnsGrid"
          :items.sync="selectedPromotion.products_promotions"
          @changeRow="changeRowProductPromotion"
          class="table-grid-promotion"
          :options="options"
        >
          <template slot="total_promotion" slot-scope="row">
            <div style="text-align: right">
              {{ totalValueProductNotTaxes(row.item) | currency }}
            </div>
          </template>

          <template slot="actions" slot-scope="row">
            <div class="text-center">
              <b-button @click="_deleteProductGrid(row.item)" variant="danger">
                <i class="ti-trash"></i>
              </b-button>
            </div>
          </template>
        </grid-u2>
      </div>

      <!-- BENEFICIO -->
      <div v-if="selectedPromotion.comply" class="col-12">
        <div class="row">
          <div class="col-12 text-center">
            <div class="reward-title">Beneficio Obtenido</div>
          </div>
          <div class="col-12">
            <table
              v-if="
                selectedPromotion.specific_product != null &&
                  selectedPromotion.specific_product.length > 0
              "
              class="table table-striped table-hover table-bordered table-grid-benefit table-sm"
            >
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Precio Unit</th>
                  <th>Cantidad</th>
                  <th>Vr Bruto</th>
                  <th>Vr Iva</th>
                  <th>Vr Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(benefit, index) in selectedPromotion.specific_product"
                  :key="index"
                  style="cursor: pointer"
                  :class="
                    _benefitSelected == benefit.id ? 'tr-bg-selected' : ''
                  "
                >
                  <td>{{ benefit.code }}</td>
                  <td>{{ benefit.description }}</td>
                  <td style="text-align: right">
                    {{ benefit.price.price | currency }}
                  </td>
                  <td style="text-align: center">
                    {{ benefit.quantity || 0 }}
                  </td>
                  <td style="text-align: center">{{ 0 | currency }}</td>
                  <td style="text-align: center">
                    {{ benefit.val_iva | currency }}
                  </td>
                  <td style="text-align: right">
                    {{ benefit.val_iva | currency }}
                  </td>
                  <td class="text-center">
                    <!-- <label class="radio-button">
                      <input
                        type="radio"
                        name="benefit-selected"
                        v-model="_benefitSelected"
                        :value="benefit.id"
                      >
                      <span class="label-visible">
                        <span class="fake-radiobutton"></span>
                      </span>
                    </label>-->
                    <button
                      v-if="
                        _benefitSelected == benefit.id &&
                          selectedPromotion.specific_product.length > 1
                      "
                      class="btn btn-sm btn-promotion"
                      @click.stop="changeBenefit"
                    >
                      Cambiar
                      <i class="ti-reload"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- MOSTRAR LA CANTIDAD TOTAL DE LA PROMOCIÓN -->
      <div class="col-12 text-right mr-5">
        <table class="float-right">
          <tr>
            <th>Total Bruto:</th>
            <td>{{ totalBrutPromotion | currency }}</td>
          </tr>
          <tr v-for="(tax, key) in totalTaxesPromotion" :key="key">
            <th>Total {{ tax.description }}:</th>
            <td>{{ tax.total | currency }}</td>
          </tr>
          <tr>
            <th>Total:</th>
            <td>{{ totalPromotion | currency }}</td>
          </tr>
        </table>
      </div>

      <!-- DESCRIPCION 2 de la promocion -->
      <div class="col-12" v-if="selectedPromotion.description2 != null">
        <p class="text-center" v-html="selectedPromotion.description2"></p>
      </div>

      <!-- BOTON FINALIZAR PROMOCION -->
      <div
        v-if="selectedPromotion.comply && promotionModified"
        class="col-12 text-center mt-5"
      >
        <b-button
          size="lg"
          variant="primary"
          class="btn-promotion"
          @click="finalizePromotion()"
          >{{ labelButton }}</b-button
        >
        <b-spinner
          class="ml-2"
          small
          v-if="loadAddCart"
          variant="primary"
          label="Spinning"
        ></b-spinner>
      </div>

      <!-- IMAGEN DE LA PROMOCION -->
      <div class="col-12 text-center mt-5">
        <b-img-lazy
          v-if="selectedPromotion.image != null"
          v-bind="mainProps"
          :src="getImagePromotion(selectedPromotion.id)"
          alt="Image 1"
        ></b-img-lazy>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import GridU2 from "../u2/grid";
import {getApiDomain} from "../../util/domains";

export default {
  props: {
    product_seleted: Object,
    action: String,
    loadAddCart: {
      type: Boolean,
      required: false,
      default: false
    },
    labelButton: {
      type: String,
      required: false,
      default: "Aplicar Promoción"
    }
  },
  components: {
    GridU2
  },
  data() {
    return {
      options: {
        selectable: false,
        multiselect: false,
        type_currency: "COP"
      },
      bkSelectedPromotion: null,
      mainProps: {
        center: true,
        fluidGrow: true,
        blank: true,
        blankColor: "#bbb",
        class: "my-5 img-promotion"
      }
    };
  },
  methods: {
    ...mapActions("promotions", [
      "getPromotionsActives",
      "fetchProductsByClasification",
      "validateBenefitPromotion",
      "getPromotionsActivesByProductId"
    ]),
    ...mapMutations("promotions", [
      "setSelectedPromotion",
      "setStatusPromotion",
      "setPromotionByProduct",
      "setBenefitSelected",
      "emptyProductsFiltered"
    ]),

    //
    showSelectLabel() {
      let promotion = this.selectedPromotion;
      let label = "";

      if (promotion.line_id) {
        label += promotion.line.line_description;
      }

      if (promotion.subline_id) {
        label += " / " + promotion.subline.subline_description;
      }

      if (promotion.brand_id) {
        label += " / " + promotion.brand.description;
      }

      if (promotion.subbrand_id) {
        label += " / " + promotion.subbrand.description;
      }

      return label;
    },
    async getProductsByClasification(product) {
      this.params.clasification = product;
      this.fetchProductsByClasification();
    },
    labelProductsClasificaction(product) {
      let available = 0;
      let val = (product.price.price / 1).toFixed(0).replace(".", ",");
      val = val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");

      if (product.inventory.length != 0) {
        available = product.inventory[0].available;
      }

      return `${product.code} - ${product.description} | Precio: $${val} - Disponibilidad: ${available}`;
    },
    async changeRowProductPromotion() {
      await this.validatePromotionRules();
      await this.validateBenefitPromotion();
    },
    changeBenefit() {
      let benefit_id = this._benefitSelected;
      let keyArray = this.selectedPromotion.specific_product.findIndex(
        sp => sp.id == benefit_id
      );

      if (keyArray !== undefined) {
        let nextKey = this.selectedPromotion.specific_product[keyArray + 1];

        if (nextKey !== undefined) {
          this.setBenefitSelected(nextKey.id);
        } else {
          this.setBenefitSelected(
            this.selectedPromotion.specific_product[0].id
          );
        }
      }
    },
    totalValueProductWithDiscount(item) {
      let promotion = this.selectedPromotion;

      let quantity = item.quantity;
      let val_product = 0;
      let total_taxe = 0;
      let total_brut = 0;

      if (quantity == 0) {
        return 0;
      }

      if (
        promotion.promotion_type_id == 3 ||
        promotion.promotionHandlesDiscount
      ) {
        val_product = Math.round(item.discount_value);
      } else {
        val_product = Math.round(item.product.price.price);
      }

      total_brut = val_product * quantity;

      // Impuestos
      item.product.line.taxes.map(tax => {
        total_taxe += (total_brut * tax.percentage_sale) / 100;
      });

      return total_brut + total_taxe;
    },
    totalValueProductNotTaxes(item) {
      let promotion = this.selectedPromotion;

      let quantity = item.quantity;
      let val_product = 0;
      let total_brut = 0;

      if (quantity == 0) {
        return 0;
      }

      if (
        promotion.promotion_type_id == 3 ||
        promotion.promotionHandlesDiscount
      ) {
        val_product = Math.round(item.discount_value);
      } else {
        val_product = Math.round(item.product.price.price);
      }

      // if (promotion.discount) {
      //   let total_discount = Math.round(
      //     (val_product * promotion.discount) / 100
      //   );
      //   val_product -= total_discount;
      // }

      total_brut = val_product * quantity;

      return total_brut;
    },
    addProductToGrid(product_id) {
      let item = this.productsFiltered.find(p => p.id == product_id);

      let product_promotion = {
        product_id: item.id,
        product: item,
        promotion_id: this.selectedPromotion.id,
        quantity: 0
      };

      // Validar que no se agregue 2 veces el mismo producto
      let added = this.selectedPromotion.products_promotions.find(
        p => p.product_id == item.id
      );

      if (!added) {
        this.selectedPromotion.products_promotions.push(product_promotion);
      }

      this.params.clasification = null;
    },
    validatePromotionRules() {
      var total_quantity = 0; //#Cantidad total de los productos
      var total_val_brut = this.totalBrutPromotion; //#Total valor bruto

      this.setStatusPromotion(false);

      // Calculamos la cantidad y el valor bruto
      this.selectedPromotion.products_promotions.map((pp, index_pp) => {
        total_quantity += parseInt(pp.quantity ? pp.quantity : 0);
        //total_val_brut += pp.quantity ? pp.product.price.price * pp.quantity : 0
      });

      // Validar por la cantidad minima requerida
      if (this.selectedPromotion.minimum_amount) {
        if (total_quantity >= this.selectedPromotion.minimum_amount) {
          this.setStatusPromotion(true);
        } else {
          this.setStatusPromotion(false);
        }
      }

      // Validar por el valor minimo requerido
      if (this.selectedPromotion.minimum_gross_value) {
        if (total_val_brut >= this.selectedPromotion.minimum_gross_value) {
          this.setStatusPromotion(true);
        } else {
          this.setStatusPromotion(false);
        }
      }
    },
    getImagePromotion(id) {
      return getApiDomain() + '/api/promocion/imagen/' + id;
    },

    _deleteProductGrid(item) {
      let keyProduct = this.selectedPromotion.products_promotions.findIndex(
        pp => pp.product.id == item.product.id
      );

      if (keyProduct != -1) {
        this.selectedPromotion.products_promotions.splice(keyProduct, 1);
      }

      this.changeRowProductPromotion();
    },

    // Finalizar la promocion
    finalizePromotion() {
      //if (this._benefitSelected == null) { return }

      let data = [];
      let promotion = this.selectedPromotion;

      // Recorremos los productos de la promocion
      promotion.products_promotions.map((pp, indexpp) => {
        // Validamos la cantidad
        if (pp.quantity <= 0) {
          return;
        }

        let product = null;

        // Contruimos el objeto para retornarlo
        if (
          promotion.promotion_type_id == 3 ||
          promotion.promotionHandlesDiscount
        ) {
          product = {
            product_id: pp.product.id,
            promotion_id: this.selectedPromotion.id,
            applies_inventory: false,
            quantity: pp.quantity,
            unit_value_before_taxes: parseInt(pp.discount_value),
            discount_value: 0,
            original_quantity: pp.quantity,
            is_benefit: false
          };
        } else {
          product = {
            product_id: pp.product.id,
            promotion_id: this.selectedPromotion.id,
            applies_inventory: false,
            quantity: pp.quantity,
            unit_value_before_taxes: pp.product.price.price,
            discount_value: Math.round(
              (pp.product.price.price * pp.quantity * pp.discount) / 100
            ),
            original_quantity: pp.quantity,
            is_benefit: false
          };
        }

        // Agregamos al array
        if (product != null) {
          data.push(product);
        }
      });

      // Validamos el beneficio
      if (
        promotion.specific_product != null &&
        promotion.specific_product.length > 0
      ) {
        promotion.specific_product.map(sp => {
          if (sp.id != this._benefitSelected) {
            return;
          }

          data.push({
            product_id: sp.id,
            promotion_id: promotion.id,
            applies_inventory: false,
            quantity: sp.quantity,
            unit_value_before_taxes: sp.price.price,
            discount_value: 0,
            original_quantity: sp.quantity,
            is_benefit: sp.is_benefit
          });
        });
      }

      this.$emit("finalizePromotion", data);
    },
    //-----
    async initComponent() {
      if (this.product_seleted) {
        // traer promociones del producto
        await this.setPromotionByProduct(this.product_seleted);

        // Realizamos el bk de la promocion
        this.bkSelectedPromotion = JSON.parse(
          JSON.stringify(this.promotionsActives[0])
        );
      } else {
        // Traer todas las promociones
        await this.getPromotionsActives();
      }

      await this.setSelectedPromotion(this.promotionsActives[0]);
      await this.changeRowProductPromotion();

      await this.validatePromotionRules();
      await this.validateBenefitPromotion();
    }
  },
  computed: {
    ...mapState("promotions", [
      "promotionsActives",
      "selectedPromotion",
      "params",
      "productsFiltered",
      "columnsGrid",
      "benefitSelected"
    ]),
    _benefitSelected: {
      get() {
        return this.benefitSelected;
      },
      set(newVal, oldVal) {
        this.setBenefitSelected(newVal);
      }
    },
    totalBrutPromotion() {
      let promotion = this.selectedPromotion;
      let total_brut = 0;

      if (!promotion.products_promotions) return;

      promotion.products_promotions.map(p => {
        let quantity = p.quantity;
        let val_product = 0;

        if (
          promotion.promotion_type_id == 3 ||
          promotion.promotionHandlesDiscount
        ) {
          val_product = Math.round(p.discount_value);
        } else {
          val_product = Math.round(p.product.price.price);
        }

        total_brut += val_product * quantity;
      });

      return total_brut;
    },
    totalTaxesPromotion() {
      let promotion = this.selectedPromotion;
      let taxesArray = [];

      // Productos
      promotion.products_promotions.map(p => {
        if (p.quantity == 0) {
          return;
        }

        // Impuestos
        if (p.product.line.taxes) {
          p.product.line.taxes.map(tax => {
            // Calcula el valor bruto
            let value_brut = Math.round(this.totalValueProductNotTaxes(p)); // Math.round(p.product.price.price) * p.quantity

            // Calcula el IVA
            let value_iva = Math.round(
              (value_brut * tax.percentage_sale) / 100
            );

            // Verificar si existe en el arreglo
            let taxKeyExists = taxesArray.findIndex(ta => ta.code == tax.code);
            if (taxKeyExists != -1) {
              taxesArray[taxKeyExists].total += value_iva;
              return;
            }

            // Se agrega el valor al objeto
            tax.total = value_iva;

            // Se crea un nuevo indicer en el arreglo
            taxesArray.push(tax);
          });
        }
      });

      if (this.selectedPromotion.comply) {
        // Beneficio
        if (this.selectedPromotion.specific_product != null) {
          let benefit = this.selectedPromotion.specific_product.find(
            sp => sp.id == this.benefitSelected
          );

          if (benefit) {
            benefit.line.taxes.map(tax => {
              // Calcula el valor bruto
              let value_brut = Math.round(benefit.val_brut);

              // Calcula el IVA
              let value_tax = Math.round(
                (value_brut * tax.percentage_sale) / 100
              );

              // Verificar si existe en el arreglo
              let taxKeyExists = taxesArray.findIndex(
                ta => ta.code == tax.code
              );
              if (taxKeyExists != -1) {
                taxesArray[taxKeyExists].total += value_tax;
                return;
              }

              // Se agrega el valor al objeto
              tax.total = value_tax;

              // Se crea un nuevo indicer en el arreglo
              taxesArray.push(tax);
            });
          }
        }
      }

      return taxesArray;
    },
    totalPromotion() {
      let total = 0;

      // Impuestos
      this.totalTaxesPromotion.map(tax => {
        total += tax.total;
      });

      // Valor bruto
      total += this.totalBrutPromotion;

      return total;
    },
    buttonNamePromotion() {
      let labelButton = "Aplicar Promoción";
      let promotion = this.selectedPromotion;

      //let in_cart = this.cart.documents_products.find((dp) => dp.promotion_id == promotion.id)

      /*if (in_cart) {
        labelButton = 'Actualizar Cantidades'
      }*/

      return labelButton;
    },
    promotionModified() {
      let count = 0;

      if (this.bkSelectedPromotion) {
        const bkPromotion = this.bkSelectedPromotion.products_promotions;
        const promotion = this.selectedPromotion.products_promotions;

        bkPromotion.map((bp, inxedbp) => {
          //
          promotion.map((p, indexp) => {
            if (bp.quantity != p.quantity) {
              count++;
            }
          });
        });
      }
      return count === 0 ? false : true;
    }
  },

  // Ciclo de Vida
  created() {
    this.initComponent();
  },
  mounted() {}
};
</script>

<style scoped>
/*Tabs*/
.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 -2px;
  width: 20%; /* =100/tabs number */
  border: 1px solid #d6d6d6;
  text-align: center;
  /* border-radius: 0px 5px 5px 0px; */
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

@media (min-width: 700px) and (max-width: 820px) {
  .tabs label {
    width: 50% !important;
    margin-bottom: 10px;
  }
}

@media (min-width: 320px) and (max-width: 426px) {
  .tabs label {
    width: 100% !important;
  }
}

.tabs label:hover {
  cursor: pointer;
}

.tabs input:checked + label {
  border: 1px solid #b8b8b8;
  border-width: 1px 1px 0 1px;
  border-top: 5px solid #000ea8;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3,
.tabs #tab4:checked ~ .content #content4 {
  display: block;
}
.tabs .content > div {
  display: none;
  padding-top: 20px;
  text-align: left;
  /*height: 192px;*/
  overflow: auto;
}

.promotion-body {
  margin-top: 2em;
  border-top: 1px solid #d3d3d3;
  padding-top: 1em;
}

.reward-title {
  font-size: 15pt;
  border-bottom: 2px solid #e5e5e5;
}

.img-promotion {
  width: 850px !important;
  height: 980px !important;
}

/* Tabla de beneficio obtenido */
.table-reward {
  margin-top: 30px;
}

.table-reward thead {
  background: #6699cc;
  color: #fff;
  box-sizing: border-box;
  vertical-align: middle;
}

.table-reward thead > tr {
  height: 37px;
}

.table-reward thead > tr th {
  vertical-align: middle;
}

.table-grid-benefit {
  margin-top: 50px;
}

.table-grid-benefit thead th {
  background: #000ea8 !important;
  color: #fff;
}

.btn-promotion {
  background: #000ea8 !important;
  color: #fff;
}

.btn-promotion:hover {
  opacity: 0.8;
}

/****RADIO****/
.radio-button,
.checkbox {
  position: relative;
  margin-top: 5px;
}
.checkbox {
  display: block;
}

.radio-button input,
.checkbox input {
  position: absolute;
  margin: 5px;
  padding: 0;
  /* for mobile accessibility (iOS Label Bug) */
  visibility: hidden;
}
.radio-button .label-visible,
.checkbox .label-visible {
  margin-left: 2em;
  margin-bottom: 0;
}

.fake-radiobutton,
.fake-checkbox {
  position: absolute;
  display: block;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid slategray;
  background-color: white;
}
.fake-radiobutton:after,
.fake-checkbox:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: navy;
  transform: translateX(-50%) translateY(-50%);
}

.fake-radiobutton {
  border-radius: 50%;
}
.fake-radiobutton:after {
  border-radius: 50%;
}

input[type="radio"]:checked + span .fake-radiobutton:after,
input[type="checkbox"]:checked + span .fake-checkbox:after {
  display: block;
}

.tr-bg-selected {
  background: #d5e9ff !important;
}

.search-select-product {
  border-radius: 5px;
  border: 2px solid #000ea8 !important;
}
.table-grid-promotion {
  margin: 0px !important;
  padding: 0px !important;
}
</style>

<style>
.table-grid-promotion .table-responsive .table > thead {
  background: #000ea8 !important;
  color: #fff;
}
.el-select-dropdown__item {
  height: auto !important;
  line-height: 20px;
  padding: 5px 10px;
  border-bottom: 1px solid #f1f1f1;
}
.el-select-dropdown__item > span {
  white-space: normal !important;
}
@media (max-width: 426px) {
  .el-select-dropdown {
    left: 0px !important;
    margin: 0 25px;
  }
}
</style>
