/* Estilo botones */
#limpiar {
  margin: 0px;
}

@media (max-width: 350px) {
  .form-actions {
    text-align: center;
  }
  .boton-guardar {
    background-color: #007db3 !important;
    color: #fff !important;
    margin-left: 5px !important;
  }
  .otro-boton {
    background-color: #007db3 !important;
    color: #fff !important;
    margin-left: 0px !important;
    line-height: 1.5 !important;
    padding: 0.375rem 0.75rem !important;
    margin-top: 5px !important;
  }
  #limpiar {
    margin: 5px !important;
  }
}

/* Estilo botones */
@media (min-width: 351px) and (max-width: 600px) {
  .form-actions {
    text-align: center;
  }
  .boton-guardar {
    background-color: #007db3 !important;
    color: #fff !important;
    margin-left: 5px !important;
  }
  .otro-boton {
    background-color: #007db3 !important;
    color: #fff !important;
    margin-left: 5px !important;
    line-height: 1.5 !important;
    padding: 0.375rem 0.75rem !important;
  }
}

@media (min-width: 601px) {
  .form-actions {
    text-align: center;
    margin-top: 10px;
  }
  .boton-guardar {
    background-color: #007db3 !important;
    color: #fff !important;
    margin-left: -166px !important;
  }
  .otro-boton {
    background-color: #007db3 !important;
    color: #fff !important;
    margin-left: 5px !important;
    line-height: 1.5 !important;
    padding: 0.375rem 0.75rem !important;
  }
}

/* Estilo Switches */
@media (max-width: 320px) {
  #datepickers-container .datepicker.active {
    left: 60px !important;
  }
}

@media (max-width: 450px) {
  .content {
    padding: 0px !important;
  }
  .el-message-box {
    width: 292px !important;
  }
  .notification-box {
    width: 299px !important;
  }
}
@media (max-width: 1024px) {
  .boxed .pad_left {
    padding-left: 0;
  }
  .boxed .pad_left .text-left .col-md-2,
  .boxed .pad_left .text-left .col-sm-4 {
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 10px;
  }
  .labled_buttons .col-md-6 {
    margin-right: 10px;
  }
}

/* Estilos de switches */
.btn-labeled {
  margin-bottom: 10px;
}
.btn-outline-primary {
  color: #007db3 !important;
  border-color: #007db3;
}
.btn-outline-primary.active {
  color: #ffff !important;
  background: #007db3 !important;
}
.btn-outline-secondary.active {
  color: #ffff !important;
  border-color: #868e96 !important;
  background: #868e96 !important;
}

.btn-outline-secondary {
  color: #007db3 !important;
  border-color: #868e96 !important;
}
.btn-outline-secondary:hover {
  color: #ffff !important;
  border-color: #868e96 !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):hover {
  color: #ffff !important;
  background: #007db3 !important;
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  border-color: #5aabce !important;
}

/* Estilos v-select */
.dropdown-toggle::after {
  display: none !important;
}

#boton-nuevo {
  margin-top: 10px !important;
  background-color: #007db3 !important;
  border-color: #007db3 !important;
  color: #fff !important;
}

#botones {
  background-color: #007db3 !important;
  border-color: #007db3 !important;
  color: #fff !important;
}

.notification-box {
  margin-top: 50px !important;
  box-shadow: 3px 3px 3px #616e7b !important;
}

.notification-error {
  border-top: #fd6c6f 5px solid !important;
}

.notification-warning {
  border-top: #eaa14b 5px solid !important;
}

.button-table {
  width: 73px !important;
}

#volver-wizard {
  background-color: #6c757d !important;
  border-color: #666e76 !important;
  color: #fff !important;
}

.el-select {
  width: 100% !important;
}

.el-select .el-input .el-select__caret {
  color: #a0a0a0 !important;
}

.el-input.is-disabled .el-input__inner {
  background-color: #e9ecef !important;
  border-color: #ced4da !important;
  color: #495057 !important;
}

.el-input__icon {
  line-height: 0px !important;
}

/*.el-select__tags{*/
/*flex-wrap: nowrap !important;*/
/*overflow-x: hidden !important;*/
/*}*/

.form-group .icon-error,
span-error {
  display: none;
}

.form-group-error > label {
  color: #ff6666 !important;
}

.form-group-error input {
  border: 1px solid #ff6666 !important;
}
.form-group-error .el-date-editor {
  border: 1px solid #ff6666 !important;
}
.form-group-error .form-control {
  border: 1px solid #ff6666 !important;
}

.form-group-error .icon-error,
span-error {
  display: inline;
}

.tag-contact {
  font-size: 18px !important;
  font-weight: bold;
}

textarea {
  min-height: 60px;
  max-height: 160px;
  width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8fcff;
}

.table-striped tbody tr:hover {
  background-color: #e5f5ff;
}

#acordeon {
  background-color: #b6babf;
  border-radius: 0 !important;
  border-color: #b6babf !important;
  color: #262f32;
  font-weight: 600;
}

.el-select .el-input.is-focus .el-input__inner {
  --box-shadow-color: #409eff;
  border-color: #409eff;
  box-shadow: 1px 1px 10px var(--box-shadow-color) !important;
}

.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  --box-shadow-color: #409eff;
  border-color: #409eff;
  box-shadow: 1px 1px 10px var(--box-shadow-color) !important;
}

.page-link {
  color: #007db3 !important;
}

.page-item.active .page-link {
  background-color: #007db3 !important;
  border-color: #007db3 !important;
  color: #ffff !important;
}

/* Sort styling */
/* table.b-table > thead > tr > th.sorting::before,
table.b-table > tfoot > tr > th.sorting::before {
    right: 0.75em !important;
    content: '\2191' !important;
}
table.b-table > thead > tr > th.sorting::after,
table.b-table > tfoot > tr > th.sorting::after {
    right: 0.25em !important;
    content: '\2193' !important;
} */

@media (min-width: 576px) {
  .modal-xl {
    max-width: 100% !important;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
  }

  .modal-xl .modal-content {
    height: 100%;
  }

  .container-u2 {
    height: 100%;
    display: flex;
    flex-flow: column;
  }
}

.medium-score {
  background-color: rgba(255, 200, 128, 0.4);
}

/*HOM STYLES*/

.bad-score {
  background-color: rgba(255, 128, 171, 0.4);
}
.good-score {
  background-color: rgba(185, 246, 202, 0.4);
}
.yes-bold {
  font-weight: 900;
}
.yes-bold-soft {
  font-weight: 750;
}
.not-bold {
  font-weight: 500;
}
.min-size > input {
  height: 20px !important;
}
.min-size > div > input {
  height: 20px !important;
  width: 220px !important;
}
.min-input > input {
  height: 20px !important;
  width: 220px !important;
}
.min-height {
  height: 20px !important;
}
.min-height-inp > input {
  height: 20px !important;
}
.new-accordion {
  background-color: #b8b8bb9e !important;
  color: #1f2121 !important;
  font-size: 15px;
  height: 25px;
  padding-top: 0px;
}

.banner-new {
  background-color: #dce7f5 !important;
}

.inline {
  display: flex;
}

.color-sc {
  color: #3b5998;
  padding-left: 15%;
}

.aling-left {
  position: absolute;
  left: 90%;
}
.aling-left-sobre {
  position: absolute;
  left: 85%;
}

.accordion-title {
  font-weight: 600 !important;
  font-size: 1.15rem !important;
  font-family: ErasBoldITC !important;
}

.aling-left-text {
  text-align: right;
}

.min-width {
  width: 220px !important;
  display: block;
  height: auto;
  line-height: 20px;
  word-wrap: break-word;
}

.card-case {
  border: 2px solid #f2f2f2;
}

.card-case-response {
  border: 2px solid #f2f2f2;
  -webkit-box-shadow: 5px 7px 5px -5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 5px 7px 5px -5px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 7px 5px -5px rgba(0, 0, 0, 0.29);
}

.details-case {
  padding: 15px;
  border-bottom: 2px solid #f2f2f2;
  font-size: 15px;
}

.header-case {
  padding-bottom: 15px;
  background-color: #f2f2f2;
  padding: 15px;
  /* border-bottom: 2px solid #f2f2f2; */
  /* font-size: 15px; */
}

.header-case-response {
  padding: 15px;
  padding-bottom: 5px;
  background-color: #f2f2f2;
  /* border-bottom: 2px solid #f2f2f2; */
  /* font-size: 15px; */
}

.header-case-response .avatar {
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.content-case {
  padding: 15px;
  padding-top: 25px;
}

.container-space-between {
  display: flex;
  justify-content: space-between;
}

.badge-responsible {
  color: #000;
  background: rgb(185, 212, 240);
}

.table-detail-case th,
td {
  padding: 1px 15px 1px 0px;
  /* border: 1px solid #f2f2f2; */
}

.border-bottom-case {
  border-bottom: 2px solid #f2f2f2;
}

.btn-interact {
  color: #69c;
  font-size: 18px;
}
.btn-interact:hover {
  color: #000;
}
