<template>
  <header class="header">
    <nav :class="'navbar navbar-expand-lg navbar-light' + this.classTest">
      <div class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        <img src="../../assets/img/Logo-erp.svg" id="logoErp" />
      </div>
      <div>
        <!-- Sidebar toggle button -->
        <div>
          <a
            href="javascript:void(0)"
            class="navbar-btn sidebar-toggle"
            @click="toggle_left"
            role="button"
          >
            <i class="fa fa-fw fa-bars"></i>
          </a>
        </div>
      </div>
      <div id="example1">
        <!--div style="background-color: #3b5998; width: 28px; height: 55px; float: left;"-->
        <div :class="'curv' + this.classTest">
          <div class="int1"></div>
        </div>

        <div
          style="background-color: #fff; width: 98%; height: 50px; float: left;"
          id="barra-azul"
        >
          <div :class="'int2' + this.classTest">
            <div class="int3">
              <!-- <img
                src="https://media.istockphoto.com/vectors/file-black-icon-flat-design-style-vector-id1313653356?b=1&k=20&m=1313653356&s=170667a&w=0&h=XlX2aMDkBY9HRSO-CPNe0H5mJCgOIBuIpIw6fnxF31k="
                id="logo-cliente"
                alt="Logo Cliente"
                @load="verify_size"
                :class="classSize"
                width="34"
              /> -->
            </div>
          </div>
        </div>
      </div>

      <ul class="navbar-nav mr-auto info-profile" id="barra-nav">
        <notifications></notifications>

        <div class="badget-section-info" @click="toggle_right">
          <h5>
            <b-badge class="u2-badget"> {{ selectedCompany.name }} </b-badge>
            <br />
            <b-badge title="Desplegar menu cambio de sede" class="u2-badget"
              >{{ selectedArea.name }}
            </b-badge>
          </h5>
        </div>

        <!-- Messages Dropdown -->
        <!-- User menu -->
        <b-dd class="user-dropdown">
          <template slot="button-content">
            <div class="d-none d-md-block">
              <a href="#">
                <img
                  src="https://icon-library.com/images/default-user-icon/default-user-icon-4.jpg"
                  width="35"
                  class="rounded-circle img-responsive float-left"
                  height="35"
                  alt="User Image"
                />
                <span class="user_name_max">
                  {{ user_logued.name }} {{ user_logued.surname }}
                </span>
                <br />
                <p class="rol_user text-black">
                  {{ user_logued.get_roles[0].role }}
                </p>
                <span class="date_time_zone">{{ dateTimeZone }}</span>
              </a>
            </div>
          </template>
          <div class="dropdown-profile">
            <b-dropdown-item class="dropdown-footer">
              <div class="float-left"></div>
              <div class="float-right">
                <a href="#" @click.prevent="logAuth">
                  <i class="fa fa-fw ti-shift-right"></i> Logout
                </a>
              </div>
            </b-dropdown-item>
          </div>
        </b-dd>
        <!--User menu -->
      </ul>
    </nav>
  </header>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import Notifications from "../u2/notifications";
import { getApiDomain } from "../../util/domains";

export default {
  name: "clear_header",
  components: {
    Notifications
  },
  data() {
    return {
      dateTimeZone: null,
      domain: window.location.hostname,
      test: false,
      classTest: "",
      classSize: "width-small"
    };
  },
  mounted() {
    let domainsTest = ["127.0.0.1", "localhost", "pruebas"];

    let test = domainsTest.find(dt => this.domain.indexOf(dt) >= 0);
    if (test) {
      this.classTest = "-test";
    }
  },
  methods: {
    //Enable sidebar toggle
    toggle_left() {
      this.$store.commit("left_menu", "toggle");
    },
    verify_size() {
      let foto = new Image();
      foto.src = getApiDomain() + this.subscriber.logo;
      let size = foto.width;

      if (size > 200) {
        this.classSize = "width-extend";
      } else {
        this.classSize = "width-small";
      }
    },
    toggle_right() {
      if (
        this.permissions.some(p => p.permission == "Cambio de Sede") ||
        this.permissions.some(p => p.permission == "Cambio de Bodega")
      ) {
        this.$store.commit("rightside_bar", "toggle");
      }
    },
    async logAuth() {
      await this.logout();
      this.$router.go("/login");
    },
    ...mapActions("login", ["logout"]),
    userImage(image) {
      return getApiDomain() + image;
    },
    updateDateZone() {
      let date = new Date();

      let options = {
        weekday: "long",
        month: "long",
        day: "numeric",
        hour: "2-digit",
        minute: "2-digit",
        hour12: false
      };

      this.dateTimeZone = date.toLocaleDateString("COT", options);
    }
  },
  computed: {
    ...mapState("login", ["user_logued", "permissions", "subscriber"]),
    ...mapGetters("login", ["selectedCompany", "selectedArea"]),
    titleSelectedBranchofficeWarehouse() {
      let branchoffices = JSON.parse(localStorage.branchoffices);
      let branchoffices_warehouses_all = JSON.parse(
        localStorage.branchoffices_warehouses_all
      );

      let selected_branchoffices = localStorage.selected_branchoffice;
      let selected_branchoffice_warehouse =
        localStorage.selected_branchoffice_warehouse;

      var branchoffice = branchoffices.filter(
        b => b.id == selected_branchoffices
      );
      var warehouse = branchoffices_warehouses_all.filter(
        bw => bw.id == selected_branchoffice_warehouse
      );

      return `${branchoffice[0].name} / ${warehouse[0].warehouse_description}`;
    },
    logoSubscriber() {
      return getApiDomain() + this.subscriber.logo;
    }
  },
  created() {
    this.updateDateZone();

    setInterval(() => {
      this.updateDateZone();
    }, 1000);
  }
};
</script>

<style>
.date_time_zone {
  color: #787f86 !important;
}

.rol_user {
  line-height: 1;
  height: 10px;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  color: #787f86;
}

@media (max-width: 992px) {
  #example1 {
    display: none;
  }

  .int1 {
    display: none;
  }

  .int2 {
    display: none;
  }
}

@media (min-width: 950px) and (max-width: 999px) {
  #barra-azul {
    width: 94% !important;
  }
}

@media (min-width: 1000px) and (max-width: 1669px) {
  #barra-azul {
    width: 95% !important;
  }
}

@media (min-width: 1670px) and (max-width: 1878px) {
  #barra-azul {
    width: 97% !important;
  }
}

#example1 {
  height: 50px;
  width: 100%;
}

.int1 {
  border-radius: 0 0 20px 0;
  background-color: #fff;
  height: 53px;
  width: 100%;
  z-index: 55;
}

.int2 {
  border-radius: 35px 0 0 0;
  /* background-color: #3b5998;*/
  background-color: #007db3;
  height: 55px;
  z-index: 55;
}

.int2-test {
  border-radius: 35px 0 0 0;
  background-color: #94ea7e;
  height: 55px;
  z-index: 55;
}

.int3 {
  position: absolute;
  border-radius: 25px 0px 0px 25px;
  background-color: #fff;
  width: 700px;
  height: 48px;
  float: right;
  right: 0;
  margin-top: 4px;
}

#barra-nav {
  position: absolute;
  float: right !important;
  right: 0;
}

#logo-cliente {
  height: 140%;
}

.width-extend {
  width: 20%;
  margin-top: -7px !important;
  margin-left: 10px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

.width-small {
  margin: 1px 35px;
  width: 12%;
}

#logoErp {
  margin-left: 8px;
  margin-right: 20px !important;
}

.badget-section-info {
  padding-top: 10px;
}

.badget-section-info .u2-badget {
  background: #007db3 !important;
  width: 240px;
  cursor: pointer;
  transition: all ease 300ms;
}

.badget-section-info .u2-badget:hover {
  opacity: 0.9;
}

.date_time_zone {
  position: absolute;
  left: 0;
  margin-left: 33%;
  font-size: 12px;
}

.navbar-light-test {
  background-color: #ffff;
  border-bottom: 3px solid #94ea7e;
  height: 59px;
}

.curv {
  background-color: #007db3;
  width: 32px;
  height: 55px;
  float: left;
}

.curv-test {
  background-color: #94ea7e;
  width: 32px;
  height: 55px;
  float: left;
}

.info-profile {
  margin-right: 30px !important;
}

@media screen and (max-width: 560px) {
  .info-profile {
    margin-right: 0px !important;
  }

  #barra-nav {
    position: relative;
    float: right !important;
    right: 0;
  }

  body > #app .header .navbar-nav .user-dropdown .dropdown-toggle img {
    margin-right: 0px;
  }
}
</style>
