<template>
    <div style="position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100001;
        backface-visibility: hidden;
        background: #FFFFFF;
        opacity:0.8;"
         class="preloader"
    >
        <div class="text-center"  style="margin-top: 36vh">
            <img src="../../assets/img/preloader-starcommerce.gif" alt="loading..." height="120" >
        </div>
        <div class="text-center" style="width: 100%; height: 64px; left: 0">
            <h4 class="font-weight-bold pt-1" style="color: #215494">{{ mensaje }}</h4>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'preloader',
        props: [
            "mensaje"
        ]
    }
</script>
<style>
    .load_img {
        width: 170px;
        height: 70px;
        position: relative;
        top: 50%;
        left: 50%;
        background-position: center;
        /* margin: auto; */
    }

    @media (max-width: 1024px) and (min-width: 426px) {
        .load_img {
            left: 40%;
        }
    }

    @media (max-width: 425px) {
        .load_img {
            left: 0;
            margin: auto 130px;
        }
    }

</style>
