<template>
  <div id="right" :class="{ open: this.$store.state.right_open }">
    <div id="right-slim">
      <div class="rightsidebar-right">
        <div class="col-12">
          <form @submit.prevent="saveChanges" data-vv-scope="form">
            <div
              class="form-group mt-5"
              v-bind:class="
                errors.has('form.selectedBranchOffice')
                  ? 'form-group-error'
                  : ''
              "
            >
              <label for="selectedBranchOffice">Sede actual</label>
              <el-select
                id="selectedBranchOffice"
                name="selectedBranchOffice"
                v-validate="'required'"
                data-vv-as=" "
                filterable
                placeholder=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="current_branchoffice.selected_branchoffice"
                @change="changeSelectedBranchofficeWarehouse"
                :disabled="
                  !permissions.some(p => p.permission == 'Cambio de Sede')
                "
              >
                <el-option
                  v-for="item in listBranchoffice"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <span class="text-danger span-error">
                {{ errors.first("form.selectedBranchOffice") }}
              </span>
            </div>
            <div
              class="form-group"
              v-bind:class="
                errors.has('form.selectedBranchOfficeWarehouse')
                  ? 'form-group-error'
                  : ''
              "
            >
              <label for="selectedBranchOfficeWarehouse">Bodega actual</label>
              <el-select
                id="selectedBranchOfficeWarehouse"
                name="selectedBranchOfficeWarehouse"
                v-validate="'required'"
                data-vv-as=" "
                filterable
                placeholder=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="current_branchoffice.selected_branchoffice_warehouse"
                :disabled="
                  !permissions.some(p => p.permission == 'Cambio de Bodega')
                "
              >
                <el-option
                  v-for="item in listBranchofficeWarehouse"
                  :key="item.id"
                  :label="item.warehouse_description"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <span class="text-danger span-error">
                {{ errors.first("form.selectedBranchOfficeWarehouse") }}
              </span>
            </div>
            <div class="form-group">
              <b-button
                variant="primary"
                class="pull-right ml-1"
                @click="saveChanges"
              >
                <i class="ti-save-alt"> </i> Guardar
              </b-button>
              <b-button
                variant="secondary"
                class="pull-right"
                @click="resetChanges"
              >
                <i class="fa fa-close"> </i> Cancelar
              </b-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "right_side_bar",
  data() {
    return {
      listBranchoffice: [],
      listBranchofficeWarehouse: []
    };
  },
  created() {
    this.initComponent();
  },
  methods: {
    setListBranchoffice() {
      this.listBranchoffice = JSON.parse(localStorage.branchoffices);
    },
    setListBranchofficeWarehouse(selected_branchoffice) {
      let branchoffices_warehouses_all = JSON.parse(
        localStorage.branchoffices_warehouses_all
      );

      this.listBranchofficeWarehouse = branchoffices_warehouses_all.filter(
        bwa => bwa.branchoffice_id == selected_branchoffice
      );
    },
    async changeSelectedBranchofficeWarehouse() {
      await this.setListBranchofficeWarehouse(
        this.current_branchoffice.selected_branchoffice
      );

      let avaiableBranchofficeWarehouse = this.listBranchofficeWarehouse.find(
        bw => bw.warehouse_code == "01"
      );

      if (avaiableBranchofficeWarehouse) {
        this.current_branchoffice.selected_branchoffice_warehouse =
          avaiableBranchofficeWarehouse.id;
      } else {
        this.current_branchoffice.selected_branchoffice_warehouse = "";
      }
    },
    ...mapMutations("login", [
      "setBranchOffices",
      "setBranchOfficesWarehouses",
      "setSelectedBranchOffice",
      "setSelectedBranchOfficeWarehouse",
      //
      "setCurrentBranchoffice"
    ]),
    async initComponent() {
      await this.setCurrentBranchoffice();
      await this.setListBranchoffice();
      await this.setListBranchofficeWarehouse(
        this.current_branchoffice.selected_branchoffice
      );

      // this.setBranchOfficesComponent();

      // this.setSelectedBranchOfficeComponent();

      // this.setBranchOfficesWarehousesComponent();

      // this.setSelectedBranchOfficeWarehouseComponent();
    },
    setBranchOfficesComponent() {
      let branchoffices_temp = JSON.parse(
        localStorage.getItem("branchoffices")
      );
      this.setBranchOffices(branchoffices_temp);
    },
    setBranchOfficesWarehousesComponent() {
      let branchoffices_warehouses_temp = JSON.parse(
        localStorage.getItem("branchoffices_warehouses")
      );
      this.setBranchOfficesWarehouses(branchoffices_warehouses_temp);
    },
    setSelectedBranchOfficeComponent() {
      let selected_branchoffice_temp = Number(
        localStorage.getItem("selected_branchoffice")
      );
      this.setSelectedBranchOffice(selected_branchoffice_temp);
    },
    setSelectedBranchOfficeWarehouseComponent() {
      let selected_branchoffice_warehouse_temp = Number(
        localStorage.getItem("selected_branchoffice_warehouse")
      );
      this.setSelectedBranchOfficeWarehouse(
        selected_branchoffice_warehouse_temp
      );
    },
    async changeSelectedBranchOffice(selected_branchoffice) {
      await this.setSelectedBranchOffice(selected_branchoffice);
      await this.setBranchOfficesWarehouses();
      await this.setBranchOfficesWarehousesComponent();
      await this.setSelectedBranchOfficeWarehouse("");
    },
    saveChanges() {
      if (!this.current_branchoffice.selected_branchoffice) {
        this.$alert("Debe seleccionar una sede.", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        }).then(verifica => {});

        return;
      }

      if (!this.current_branchoffice.selected_branchoffice_warehouse) {
        this.$alert("Debe seleccionar una bodega.", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        }).then(verifica => {});

        return;
      }

      localStorage.setItem(
        "selected_branchoffice",
        this.current_branchoffice.selected_branchoffice
      );
      localStorage.setItem(
        "selected_branchoffice_warehouse",
        this.current_branchoffice.selected_branchoffice_warehouse
      );
      this.$store.commit("rightside_bar", "toggle");

      location.reload();
    },
    toggle_right() {
      this.$store.commit("rightside_bar", "toggle");
    },
    resetChanges() {
      this.toggle_right();

      this.setSelectedBranchOfficeComponent();

      this.setBranchOfficesWarehousesComponent();

      this.setSelectedBranchOfficeWarehouseComponent();
    }
  },
  computed: {
    ...mapState("login", [
      "branchoffices",
      "branchoffices_warehouses",
      "selected_branchoffice",
      "selected_branchoffice_warehouse",
      "permissions",
      "current_branchoffice"
    ])
  }
};
</script>
