<template>
    <footer class="pie">

           <img src="../../assets/img/logoU2.png" alt="" id="u2">
           <img src="../../assets/img/aws.png" id="aws"/>


    </footer>

</template>
<script>
export default {
    name: "star_footer",

}
</script>
<style>
    .pie{
        width: 400px;
        float:right;
        position: relative;
        height: 0px;
        border-left: 67px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 60px solid #ececec;
        right: 0px;
        bottom: 0px;
    }
    #aws{
        float: right;
        width: 85px;
        padding-top: 16px;
        margin-right: 62px;
    }
    #u2{
        width: 124px;
        padding-top: 14px;
        margin-left:38px
    }

    @media (max-width: 827px) {
        .pie{
            width: 286px;
            border-left: 67px solid transparent;
            border-bottom: 60px solid #ececec;
        }
        #u2{
            width: 115px;
            padding-top: 15px;
            margin-left:-20px
        }
        #aws{

            padding-top: 20px;
            margin-right: 13px
        }

    }
</style>

