<template>
  <card :title="'<i class=\'fa fa-fw ti-pencil\'></i> Configuración de menú'">
    <loader v-if="loader"></loader>
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.form_menu id="form-menu">MENÚ</b-btn>
      <b-collapse id="form_menu" role="tabpanel" visible>
        <b-card-body>
          <form
            @submit.prevent="validateForm()"
            data-vv-scope="form-menu-item"
            autocomplete="nope"
          >
            <div class="row">
              <div class="form-group col-md-4 col-sm-6 col-12">
                <label
                  for="module_id"
                  v-bind:class="
                    errors.has('form-menu-item.module_id')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  Modulo <span class="text-danger"> *</span>
                </label>
                <el-select
                  id="module_id"
                  name="module_id"
                  filterable
                  placeholder=" "
                  v-validate="'required'"
                  data-vv-as=" "
                  :disabled="!menu.length"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-model="selected_menu.module_id"
                  @change="fetchParentsMenusComp"
                >
                  <el-option
                    v-for="item in modules"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
                <i class="text-danger icon-error"> </i>
                <span
                  class="text-danger span-error"
                  v-html="errors.first('form-menu-item.module_id')"
                />
              </div>
              <div class="form-group col-md-4 col-sm-6 col-12">
                <label for="menu_id">Menú padre</label>
                <el-select
                  id="menu_id"
                  name="menu_id"
                  filterable
                  clearable
                  placeholder=" "
                  :disabled="!selected_menu.module_id || !parents_menu.length"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-model="selected_menu.menu_id"
                >
                  <div slot="prefix" class="container-icon">
                    <div class="vertical-center-icon">
                      <i :class="getIconParentMenu()"></i>
                    </div>
                  </div>
                  <el-option
                    v-for="item in parents_menu"
                    :key="item.id"
                    :label="item.description"
                    :value="item.id"
                  >
                    <span :class="'fa ' + item.icon"> </span>
                    {{ item.description }}
                  </el-option>
                </el-select>
              </div>
              <div class="form-group col-md-4 col-sm-6 col-12">
                <label
                  for="menu_id"
                  v-bind:class="
                    errors.has('form-menu-item.menu_id')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  Icono <span class="text-danger"> *</span>
                </label>
                <el-select
                  placeholder="Seleccione un icono"
                  v-model="selected_menu.icon"
                  clearable
                  filterable
                >
                  <div slot="prefix" class="container-icon">
                    <div class="vertical-center-icon">
                      <i :class="selected_menu.icon"></i>
                    </div>
                  </div>
                  <el-option
                    v-for="icon in icons"
                    :key="'fa ' + icon"
                    :label="'fa ' + icon"
                    :value="'fa ' + icon"
                  >
                    <span :class="'fa ' + icon"> </span> fa {{ icon }}
                  </el-option>
                </el-select>
                <i class="text-danger icon-error"> </i>
                <span
                  class="text-danger span-error"
                  v-html="errors.first('form-menu-item.menu_id')"
                />
              </div>
              <div class="form-group col-md-4 col-sm-6 col-12">
                <label
                  for="description"
                  v-bind:class="
                    errors.has('form-menu-item.description')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  Descripción
                </label>
                <input
                  type="text"
                  id="description"
                  v-validate="'max:60'"
                  data-vv-as=" "
                  :disabled="!menu.length"
                  name="description"
                  class="form-control"
                  v-model="selected_menu.description"
                />
                <i class="text-danger icon-error"> </i>
                <span
                  class="text-danger span-error"
                  v-html="errors.first('form-menu-item.description')"
                />
              </div>
              <div class="form-group col-md-4 col-sm-6 col-12">
                <label
                  for="url"
                  v-bind:class="
                    errors.has('form-menu-item.url') ? 'form-group-error' : ''
                  "
                >
                  Url
                </label>
                <input
                  type="text"
                  id="url"
                  v-validate="'max:100'"
                  data-vv-as=" "
                  name="url"
                  class="form-control"
                  v-model="selected_menu.url"
                />
                <i class="text-danger icon-error"> </i>
                <span
                  class="text-danger span-error"
                  v-html="errors.first('form-menu-item.url')"
                />
              </div>
              <div class="form-group col-md-4 col-sm-6 col-12">
                <label for="permission_id">Permiso</label>
                <el-select
                  id="permission_id"
                  name="permission_id"
                  filterable
                  clearable
                  placeholder=" "
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-model="selected_menu.permission_id"
                >
                  <el-option-group
                    v-for="group in permissions"
                    :key="group.label"
                    :label="group.label"
                  >
                    <el-option
                      v-for="item in group"
                      :key="item.id"
                      :label="item.permission"
                      :value="item.id"
                    />
                  </el-option-group>
                </el-select>
              </div>

              <div
                v-show="selected_menu.id"
                class="form-group col-md-4 col-sm-6 col-12"
              >
                <b-button @click="openModalVideoTutorial" variant="primary"
                  >Videos tutoriales</b-button
                >
                <modal-video-tutorial :selected_menu="selected_menu" />
              </div>

              <div class="col-12">
                <b-button
                  type="reset"
                  class="btn btn-secondary float-right ml-1"
                  @click.prevent="resetSelectedMenuComp"
                >
                  <span class="btn-label"> </span> Cancelar
                </b-button>
                <b-button
                  type="submit"
                  class="btn otro-boton float-right"
                  :disabled="!menu.length"
                >
                  <span class="btn-label"> </span>
                  {{ action == "create" ? "Crear" : "Actualizar" }}
                </b-button>
              </div>
            </div>
          </form>
        </b-card-body>
      </b-collapse>
    </b-card>
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.menu id="menu">MÓDULOS</b-btn>
      <b-collapse id="menu" role="tabpanel" visible>
        <b-card-body>
          <div class="row mb-4">
            <div class="col-4">
              <label>Buscar item:</label>
              <input type="text" class="form-control" v-model="search_item" />
            </div>
          </div>

          <div class="row" v-if="!!filteredListMenu.length">
            <div class="col-12 col-md-4 col-sm-6">
              <draggable
                class="list-group border rounded"
                :list="filteredListMenu"
                group="first_level"
              >
                <div v-for="item in filteredListMenu" :key="item.id">
                  <div class="item-menu" @click="changeVisible(item)">
                    <i :class="item.icon"> </i>
                    {{ item.description }}
                    <i
                      class="fa fa-trash text-danger float-right ml-2"
                      v-b-tooltip="'Eliminar'"
                      @click="deleteMenuItem(item)"
                    ></i>
                    <i
                      class="fa fa-edit float-right ml-2"
                      v-b-tooltip="'Editar'"
                      @click="setSelectedMenuComp(item)"
                    ></i>
                  </div>
                </div>
              </draggable>
            </div>
          </div>

          <div class="row" v-else>
            <div
              class="col-12 col-md-4 col-sm-6"
              v-for="module in menu"
              :key="module.id"
            >
              <h5 class="mb-3 mt-3">{{ module.name }}</h5>
              <draggable
                class="list-group border rounded"
                :list="module.first_level"
                group="first_level"
                @change="refactorMenu"
              >
                <div
                  v-for="first_level in module.first_level"
                  :key="first_level.id"
                >
                  <div class="item-menu" @click="changeVisible(first_level)">
                    <i :class="first_level.icon"> </i>
                    {{ first_level.description }}
                    <i
                      class="fa fa-trash text-danger float-right ml-2"
                      v-b-tooltip="'Eliminar'"
                      @click="deleteMenuItem(first_level)"
                    ></i>
                    <i
                      class="fa fa-copy text-primary float-right ml-2"
                      v-b-tooltip="'Duplicar'"
                      @click="copyMenuItem(first_level)"
                    ></i>
                    <i
                      class="fa fa-edit float-right ml-2"
                      v-b-tooltip="'Editar'"
                      @click="setSelectedMenuComp(first_level)"
                    ></i>
                  </div>
                  <draggable
                    class="list-group"
                    :list="first_level.second_level"
                    group="second_level"
                    @change="refactorMenu"
                  >
                    <div
                      v-for="second in first_level.second_level"
                      :key="second.id"
                    >
                      <div
                        class="item-menu second-level"
                        v-if="first_level.visible"
                      >
                        <i :class="second.icon"> </i> {{ second.description }}
                        <i
                          class="fa fa-trash text-danger float-right ml-2"
                          v-b-tooltip="'Eliminar'"
                          @click="deleteMenuItem(second)"
                        ></i>
                        <i
                          class="fa fa-copy text-primary float-right ml-2"
                          v-b-tooltip="'Duplicar'"
                          @click="copyMenuItem(second)"
                        ></i>
                        <i
                          class="fa fa-edit float-right ml-2"
                          v-b-tooltip="'Editar'"
                          @click="setSelectedMenuComp(second)"
                        ></i>
                      </div>
                    </div>
                  </draggable>
                </div>
              </draggable>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
    <div class="form-actions">
      <b-button type="button" class="boton-guardar" @click="store">
        <span class="btn-label">
          <i class="ti-save-alt"></i>
        </span>
        Guardar
      </b-button>
    </div>
  </card>
</template>

<script>
import Card from "../../components/pages/card/card";
import draggable from "vuedraggable";
import icons from "./icons";
import loader from "./../../components/layout/loader.vue";

import { mapState, mapActions, mapMutations } from "vuex";
import ModalVideoTutorial from "./components/ModalVideoTutorial.vue";

export default {
  name: "maintenance",
  components: {
    Card,
    loader,
    draggable,
    ModalVideoTutorial
  },
  data() {
    return {
      icons,
      loader: false,
      search_item: ""
    };
  },
  created() {
    this.$store.watch(
      () => {
        return this.selected_menu.module_id;
      },
      p => {
        this.fetchParentsMenus();
      }
    );
    this.$store.watch(
      () => {
        return this.selected_menu.menu_id;
      },
      p => {
        this.filterMenus();
      }
    );
  },
  mounted() {
    this.getMenu();
    this.getPermissions();
  },
  methods: {
    searchItemMenu() {},
    getMenuComp() {
      this.getMenu();
      this.resetSelectedMenuComp();
    },
    resetSelectedMenuComp() {
      this.resetSelectedMenu();
      this.setAction("create");
    },
    setSelectedMenuComp(menu_item) {
      this.setSelectedMenu(menu_item);
      this.setAction("update");
    },
    fetchParentsMenusComp() {
      this.fetchParentsMenus();
      this.cleanMenuId();
    },
    filterMenusComp() {
      this.filterMenus();
      this.cleanMenuId();
    },
    getIconParentMenu() {
      let menu = this.parents_menu.find(
        m => m.id === this.selected_menu.menu_id
      );

      if (menu) {
        return menu.icon;
      }

      return "";
    },
    async validateForm() {
      await this.$validator.validateAll("form-menu-item").then(result => {
        if (result) {
          if (this.action == "create") {
            this.addMenuItem();
          } else if (this.action == "update") {
            this.updateMenuItem();
          }
        }
      });
      this.setAction("create");
      this.refactorMenu();
      this.fetchParentsMenus();
    },
    openModalVideoTutorial() {
      this.$bvModal.show("modal-video-tutorial-menu");
    },
    ...mapActions("menu", [
      "getMenu",
      "fetchSubscribers",
      "fetchMenus",
      "fetchModules",
      "fetchParentsMenus",
      "store",
      "copyMenuItem",
      "deleteMenuItem",
      "addMenuItem",
      "filterMenus",
      "updateMenuItem",
      "changeVisible",
      "getPermissions"
    ]),
    ...mapMutations("menu", [
      "refactorMenu",
      "setSelectedMenu",
      "cleanMenuId",
      "cleanMenuId",
      "resetSelectedMenu",
      "setAction"
    ])
  },
  computed: {
    ...mapState("menu", [
      "action",
      "menu",
      "selected_menu",
      "menu",
      "modules",
      "parents_menu",
      "menu_filtered",
      "permissions"
    ]),
    filteredListMenu() {
      if (this.search_item.trim() === "" || this.search_item.trim() == null) {
        return [];
      }
      let items = [];
      this.menu.map(m => {
        m.first_level.map(fl => {
          fl.second_level.map(sl => {
            if (
              sl.description
                .normalize("NFD")
                .replace(/[\u0300-\u036f]/g, "")
                .toUpperCase()
                .includes(
                  this.search_item
                    .normalize("NFD")
                    .replace(/[\u0300-\u036f]/g, "")
                    .toUpperCase()
                )
            ) {
              sl.selected = items.length === this.selected;
              items.push(sl);
            }
          });
        });
      });

      return items;
    }
  }
};
</script>

<style>
.flip-list-move {
  transition: transform 0.5s;
}

.el-input__inner {
  height: 31.25px;
}

.rounded {
  padding: 0px;
  background-color: #222c2f;
  color: #fff;
  cursor: pointer;
  border-radius: 7px !important;
}

.item-menu {
  padding: 12px;
}

.second-level {
  background: #324148;
  padding: 12px 12px 12px 30px !important;
}

.third-level {
  background: #3c4d54;
  padding: 12px 12px 12px 40px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #007db3 !important;
}

.nav-link-error {
  border: 1px solid #ff6666 !important;
}

.nav-link.active {
  border-top: none !important;
}

.nav-link {
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #007db3;
  color: #007db3;
}

.nav-link.disabled {
  border: 1px solid #c8cbd6;
  color: #c8cbd6;
}

@media (max-width: 400px) {
  .nav-link {
    margin-right: 2px !important;
    padding: 4px 5px;
  }
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100% !important;
}

.el-input__inner {
  height: 31.25px !important;
}

.container-icon {
  height: 100%;
  position: relative;
}

.vertical-center-icon {
  margin: 0px 5px;
  color: #181818;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>
