<template>
    <card title="<i class='ti-angle-down'></i> Informe Operaciones Rango Fecha">
        <b-form
            data-vv-scope="form"
            @submit.prevent="validateForm()"
        >
            <div class="row">
                <div class="col-3">
                    <label class="" for="contact_id">Fecha <span
                    class="text-danger"
                    v-text="'*'"
                    /></label>
                    <el-date-picker
                        class=" picker"
                        v-model="params.date"
                        type="daterange"
                        range-separator="-"
                        start-placeholder="Desde"
                        end-placeholder="Hasta"
                        format="yyyy/MM/dd "
                        value-format="yyyy-MM-dd">
                    </el-date-picker>
                </div>

                <div class="col-3">
                    <label for="TypeOperation">Tipo de Operación <span
                    class="text-danger"
                    v-text="'*'"
                    /></label>

                    <el-select
                        multiple
                        id="TypeOperation"
                        name="TypeOperation"
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.type_operations"
                    >
                        <el-option
                        v-for="type_operation in types_operations"
                        :key="type_operation.id"
                        :label="type_operation.code+ ' - ' +type_operation.description"
                        :value="type_operation.id"
                        >
                        </el-option>
                    </el-select>
                </div>

                <!-- <div class="col-3">
                    <label for="voucherType">Tipo de Comprobante <span
                    class="text-danger"
                    v-text="'*'"
                    /></label>

                    <el-select
                        id="voucherType"
                        name="voucherType"
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.voucherType"
                    >
                        <el-option
                        v-for="voucherType in voucherTypes"
                        :key="voucherType.id"
                        :label="voucherType.code_voucher_type+ ' - ' +voucherType.name_voucher_type"
                        :value="voucherType.id"
                        >
                        </el-option>
                    </el-select>
                </div> -->

                <div class="col-3">
                    <label for="branchOffice">Sede</label>
                    <el-select
                        id="branchOffice"
                        name="branchOffice"
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.branchOffice"
                    >
                        <el-option
                        v-for="branchOffice in branchOffices.data"
                        :key="branchOffice.id"
                        :label="branchOffice.name"
                        :value="branchOffice.id"
                        >
                        </el-option>
                    </el-select>
                </div>

                <div class="col-3">
                    <label for="branchOfficeWarehouse">Bodega</label>
                    <el-select
                        id="branchOfficeWarehouse"
                        name="branchOfficeWarehouse"
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.branchoffice_warehouse"
                    >
                        <el-option
                        v-for="(item, index) in branchofficeWarehouses"
                        :key="index"
                        :value="item.id"
                        :label="item.warehouse_code +' - '+item.warehouse_description"
                        >
                        </el-option>
                    </el-select>
                </div>

            </div>

            <div class="row">
                <div class="col-4">
                    <label for="template">Modelo</label>
                    <el-select
                        id="template"
                        name="template"
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.template"

                        filterable
                        remote
                        :remote-method="searchTemplates"
                    >
                        <el-option
                        v-for="template in templates"
                        :key="template.id"
                        :label="template.code+ ' - ' +template.description"
                        :value="template.id"
                        >
                        </el-option>
                    </el-select>
                </div>

                <div class="col-4" v-if="params.detailed_by_product == 1">
                    <label for="template">Líneas</label>
                    <el-select
                    v-model="params.filter_lines"
                    multiple
                    filterable
                    @remove-tag="deleteTags"
                    placeholder="Seleccione una Linea"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    @focus="fetchLines()"
                    >
                    <el-option
                        v-for="line in lines"
                        :key="line.id"
                        :value="line.id"
                        :label="line.line_code+' - '+line.line_description"
                    >
                    </el-option>
                    </el-select>
                </div>

                <div class="col-4" v-if="params.detailed_by_product == 1">
                    <label for="branchOffice">Sub Línea</label>
                    <el-select
                    v-model="params.filter_sublines"
                    multiple
                    filterable
                    @remove-tag="deleteTags"
                    placeholder="Seleccione sub linea"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    @focus="fetchSublines()"
                    >
                        <el-option
                            v-for="subline in sublines"
                            :key="subline.id"
                            :value="subline.id"
                            :label="subline.subline_code+' - '+subline.subline_description"
                        >
                        </el-option>
                    </el-select>
                </div>

            </div>

            <div class="row">
                <div class="col-4" v-if="params.detailed_by_product == 1">
                    <label for="brand">Marca</label>
                    <el-select
                        v-model="params.filter_brands"
                        multiple
                        filterable
                        id="brand"
                        @remove-tag="deleteTags"
                        placeholder="Seleccione una marca"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        @focus="fetchBrand()"
                    >
                        <el-option
                            v-for="brand in brands"
                            :key="brand.id"
                            :value="brand.id"
                            :label="brand.brand_code+' - '+brand.description"
                        >
                        </el-option>
                    </el-select>
                </div>

                <div class="col-4" v-if="params.detailed_by_product == 1">
                    <label for="subbrand">Sub Marca</label>
                    <el-select
                    v-model="params.filter_subbrands"
                    multiple
                    filterable
                    id="subbrand"
                    placeholder="Seleccione un grupo"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    @focus="fetchSubbrands()"
                    >
                    <el-option
                        v-for="subbrand in subbrands"
                        :key="subbrand.id"
                        :value="subbrand.id"
                        :label="subbrand.subbrand_code+' - '+subbrand.description"
                    >
                    </el-option>
                    </el-select>
                </div>

                <div class="col-4" v-if="params.detailed_by_product == 1">
                    <label for="product">Producto</label>
                    <el-select
                        v-model="params.product"
                        multiple
                        filterable
                        id="product"
                        placeholder="Seleccione producto"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        remote
                        :remote-method="searchProducts"
                    >
                        <el-option
                            v-for="product in products"
                            :key="product.id"
                            :value="product.id"
                            :label="product.code+' - '+product.description"
                        ></el-option>
                    </el-select>
                </div>

            </div>

            <div class="row">
                <div class="col-4">
                    <label for="contact_id">Tercero</label>

                    <el-select
                        id="contact_id"
                        multiple
                        filterable
                        placeholder="Seleccione Tercero"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.contact"
                        remote
                        :remote-method="filterText"
                    >
                        <el-option
                        v-for="contact in contacts"
                        :key="contact.id"
                        :label="contact.identification+ ' - ' +contact.name + ' ' + contact.surname"
                        :value="contact.id"
                        >
                        </el-option>
                    </el-select>
                </div>

                <!-- <div class="col-3">
                    <label for="Department">Departamento</label>

                    <el-select
                        id="Department"
                        multiple
                        filterable
                        placeholder="Seleccione Departamento"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.departament"
                        remote
                        :remote-method="filterText"
                    >
                        <el-option
                        v-for="departament in departaments"
                        :key="departament.id"
                        :label="departament.department"
                        :value="departament.id"
                        >
                        </el-option>
                    </el-select>
                </div> -->

                <div class="col-4">
                    <label for="contact_city">Ciudad Tercero</label>

                    <el-select
                        id="contact_city"
                        multiple
                        filterable
                        placeholder="Seleccione Ciudad"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.city"
                        remote
                        :remote-method="_cities"
                    >
                        <el-option
                        v-for="city in cities"
                        :key="city.id"
                        :label="city.city_code+ ' - ' +city.city"
                        :value="city.id"
                        >
                        </el-option>
                    </el-select>
                </div>

                <div class="col-4">
                    <label for="seller">vendedor</label>

                    <el-select
                        id="seller"
                        multiple
                        filterable
                        placeholder="Seleccione vendedor"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.seller"
                        remote
                        :remote-method="_seller"
                    >
                        <el-option
                        v-for="seller in sellers"
                        :key="seller.id"
                        :label="seller.identification+ ' - ' +seller.name+' ' +seller.surname"
                        :value="seller.id"
                        >
                        </el-option>
                    </el-select>
                </div>

            </div>

            <div class="row">
            
                <div class="col-4" v-if="params.detailed_by_product == 1">
                    <label for="branchOffice">Excluir Línea</label>
                    <el-select
                    v-model="params.f_exclude_lines"
                    multiple
                    filterable
                    @remove-tag="deleteTags"
                    placeholder="Seleccione una Linea"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    @focus="fetchLines()"
                    >
                    <el-option
                        v-for="line in lines"
                        :key="line.id"
                        :value="line.id"
                        :label="line.line_code+' - '+line.line_description"
                    >
                    </el-option>
                    </el-select>
                </div>

                <div class="col-4">
                    <label for="f_exclude_template">Excluir Modelo</label>
                    <el-select
                        id="f_exclude_template"
                        name="f_exclude_template"
                        placeholder=" "
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        v-model="params.f_exclude_template"
                        multiple
                        filterable
                        remote
                        :remote-method="searchTemplatesexclude"
                    >
                        <el-option
                        v-for="template in templates_exlude"
                        :key="template.id"
                        :label="template.code+ ' - ' +template.description"
                        :value="template.id"
                        >
                        </el-option>
                    </el-select>
                </div>

                <div
                    class="form-group col-sm-6 col-md-3"
                >
                    <label for="detailed_by_product">
                    Detallado Por Producto
                    </label>
                    <br>
                    <b-form-radio-group
                    id="detailed_by_product"
                    name="detailed_by_product"
                    buttons
                    :options="[{text: 'SI', value: 1},{text: 'NO', value: 2}]"
                    v-model="params.detailed_by_product"
                    :button-variant="params.detailed_by_product == 0 ? 'outline-secondary' : 'outline-primary'"
                    />
                </div>
            </div>

            <!-- Botones -->
            <div class="row">
                <div class="col-12">
                    <div class="form-actions">

                        <b-button
                            type="submit"
                            class="boton-guardar"
                        >
                            <span class="btn-label">
                                <i class="ti-download"></i>
                            </span> Descargar

                            <i v-if="loading" class="fa fa-spinner fa-spin"></i>

                        </b-button>

                        <b-button
                            type="reset"
                            value="Limpiar"
                            class="otro-boton float-left"
                        >
                            <span class="btn-label">
                                <i class="ti-eraser"></i>
                                Limpiar
                            </span>
                        </b-button>
                    </div>
                </div>
            </div>

        </b-form>

    </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import { MessageBox } from 'element-ui';
import Card from '../../components/pages/card/card';

export default {
  components: {
    Card,
  },
  watch:{
    "params.branchOffice"(newval){
        this.fetchBranchOfficesWarehouse(newval)
    },
    "params.detailed_by_product"(newval){
        this.params.f_exclude_lines = []
        this.params.filter_lines = []
        this.params.filter_sublines = []
        this.params.filter_brands = []
        this.params.filter_subbrands = []
        this.params.product = []
    }
  },
  created() {
      this.fetchTypesOperations()
      this.init();
      this.fetchBranchOffices()
      this.fetchTemplates()
      this.fetchDepartaments()
      this.fetchsellers()
      this.fetchTemplatesExclude()
  },
  methods: {
    ...mapActions('operations_report', [,
        'fetchBranchOfficesWarehouse',
        'fetchTypesOperations',
        'fetchVouchertype',
        'fetchBranchOffices',
        'fetchTemplates',
        'fetchLines',
        'fetchSublines',
        'fetchBrand',
        'fetchSubbrands',
        'searchProducts',
        'fetchContacts',
        'fetchDepartaments',
        'fetchCities',
        'fetchsellers',
        'generateReport',
        'fetchTemplatesExclude'
        ]),

    ...mapMutations('operations_report', ['setBranchOffice', 'setLoading']),

    searchTemplates(text){
        this.paramstemplates.filter = text
        this.fetchTemplates()
    },
    searchTemplatesexclude(text){
        this.paramstemplates_exclude.filter = text
        this.fetchTemplatesExclude()
    },

    async init(){
      await this.setBranchOffice(Number(localStorage.selected_branchoffice))
      await this.fetchVouchertype()
    },

    deleteTags (tag) {
      this.fetchSublines()
      this.params.filter_groups = []
      this.fetchSubbrands()
      this.params.filter_categories = []

      let elimina = this.tags.findIndex(item => item.id == tag)

      this.tags.splice(elimina, 1);

      let tempo_tag = this.tags.filter(element => {
        let marc = this.params.filter_brands.findIndex(item => item == element.id)
        let cat = this.params.filter_categories.findIndex(item => item == element.id)
        let grup = this.params.filter_groups.findIndex(item => item == element.id)

        if (marc >= 0) {
          return element
        }
        if (cat >= 0) {
          return element
        }
        if (grup >= 0) {
          return element
        }
      });
      this.tags = tempo_tag
    },
    async filterText(filter) {
        this.paramsquery.query = filter
        await this.fetchContacts()
    },
    _cities(filter){
        this.fetchCities(filter)
    },
    _seller(filter){
        this.fetchsellers(filter)
    },
    validateForm(){

        this.setLoading(true)
        // if (this.params.voucherType != null || this.params.type_operations.length > 0) {

            if (this.params.date != null && this.params.type_operations.length > 0) {

                if (this.params.voucherType != null) {
                    let voucher_type = this.voucherTypes.filter(voucherType => voucherType.id == this.params.voucherType)
                    this.params.name_file = voucher_type[0].name_voucher_type+'_'+this.params.date[0]+'_'+this.params.date[1]
                }else{
                    let typeOperation = this.types_operations.filter(type_operation => type_operation.id == this.params.type_operations[0])
                    this.params.name_file = typeOperation[0].description+'_'+this.params.date[0]+'_'+this.params.date[1]
                }

                this.generateReport()
            }else{
                this.setLoading(false)
                this.$alert(
                    "Debe llenar los campos obligatorios",
                    "Error", {
                    confirmButtonText: "Aceptar",
                    type: "error",
                    customClass: "notification-error"
                }
                ).then(verifica => { });
            }
        // }
    }
  },
  computed: {
    ...mapState('operations_report', [
        'loading',
        'types_operations',
        'params',
        'paramsquery',
        'voucherTypes',
        'branchOffices',
        'templates',
        'lines',
        'sublines',
        'brands',
        'subbrands',
        'products',
        'contacts',
        'departaments',
        'cities',
        'sellers',
        'branchofficeWarehouses',
        'paramstemplates',
        'paramstemplates_exclude',
        'templates_exlude'
    ])
  },
}
</script>
