<template>
  <card title="<i class='ti-control-shuffle'></i> Lineas">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-12">
            <b-form-group
              label="Buscar:"
              class="mb-0"
            >
              <b-input-group>
                <b-form-input
                  v-model="params.filter"
                  placeholder=""
                  @keyup.native.enter="setFilterPagination"
                  style="text-transform: uppercase;"
                />
                <b-input-group-append>
                  <b-btn
                    @click.prevent="filterPagination(params.filter)"
                    id="botones"
                  ><span class="ti-search"></span></b-btn>

                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-md-8 col-sm-4 col-12">
            <b-button
              to="/lineas/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <grid-u2
            :columns="fields"
            :items="lines.data"
          >

            <template
              slot="actions"
              slot-scope="row"
            >
              <div class="text-center">

                <b-button
                  size="sm"
                  variant="secondary"
                  class="mt-1 button-table"
                  :to="`/lineas/${row.item.id}/ver`"
                >
                  Ver
                </b-button>
                <b-button
                  size="sm"
                  id="botones"
                  class="mt-1 button-table"
                  :to="`/lineas/${row.item.id}/editar`"
                >
                  Editar
                </b-button>
                <b-button
                  size="sm"
                  variant="danger"
                  class="mt-1 button-table"
                  @click="questionDelete(row.item)"
                >
                  Eliminar
                </b-button>
              </div>
            </template>
          </grid-u2>
        </div>
        <p>
          Mostrando {{lines.from}} a {{lines.to}} de {{lines.total}} resultados
        </p>
        <b-row>
          <b-col
            md="6"
            class="my-1 form-inline"
          >
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[15, 30, 50,100]"
              v-model="params.perPage"
              @change.native="setPerPagePagination"
            />
          </b-col>
          <b-col
            md="6"
            class="my-1"
          >
            <b-pagination
              :total-rows="totalRows"
              :per-page="params.perPage"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="setPagePagination"
            />
          </b-col>
        </b-row>
      </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card'
import { MessageBox } from 'element-ui'
import GridU2 from "../../components/u2/grid"


export default {
  components: {
    Card,
    GridU2
  },
  data () {
    return {
      fields: [{
        field: 'line_code',
        name: 'Código',
      },
      {
        field: 'line_description',
        name: 'Descripción',
      },
      {
        field: 'short_description',
        name: 'Abreviación',
      },
      {
        field: 'actions',
        name: 'Opciones',
      }
      ],
      sortBy: 'name',
      sort: true
    }
  },
  created () {

    this.sortBy = this.params.sortBy
    this.sort = this.params.sort == 'ASC' ? true : false
    this.fetchLines()

    this.$store.watch(() => {
      return this.getParams.sort
    }, p => {
      this.fetchLines()
    })

    this.$store.watch(() => {
      return this.getParams.sortBy
    }, p => {
      this.fetchLines()
    })

    this.setGetLineEdit(true)
    this.resetSelectedLine()
  },
  methods: {
    ...mapActions('lines', [
      'fetchLines',
      'removeLine',
      'setFilterPagination',
      'setPerPagePagination',
      'setPagePagination',
      'setSortByPagination',
      'setSortPagination',
      'getLineEdit'
    ]),
    ...mapMutations('lines', [
      'setAction',
      'setLine',
      'resetSelectedLine',
      'setPerPage',
      'setFilter',
      'setGetLineEdit'
    ]),
    questionDelete (line) {
      this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        (result) => {
          if (result) {
            this.deleteLine(line)
          }
        }
      ).catch(function (result) { })
    },
    deleteLine (line) {
      this.removeLine(line)
    },
    filterPagination (filter) {
      this.setFilter(filter)
      this.fetchLines()
    }
  },
  computed: {
    ...mapGetters('lines', ['getParams']),
    ...mapState('lines', ['lines', 'selectedLine', 'action', 'params', 'getLine']),
    totalRows () {
      return this.lines.total
    }
  },
  watch: {
    'sortBy' (newValue, oldValue) {
      this.setSortByPagination(newValue)
    },
    'sort' (newValue, oldValue) {
      this.setSortPagination(newValue ? 'ASC' : 'DESC')
    }
  }
}
</script>


<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>

<style src="hover.css/css/hover-min.css">
</style>
