<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <card
          :title="
            '<i class=\'fa fa-fw ti-pencil\'> </i> ' + actionSpanish + ' Linea'
          "
          :search="true"
          @change="listenCard"
        >
          <div style="margin-top:20px" v-if="loader">
            <loader></loader>
          </div>
          <div v-else>
            <div class="row" v-if="tagLine != ''">
              <div class="col-12">
                <h3
                  class="text-center"
                  style="font-family: sans-serif; font-weight: bold"
                >
                  <el-tag type="info" class="tag-contact">{{ tagLine }}</el-tag>
                </h3>
              </div>
            </div>
            <b-tabs pills v-model="tabIndex">
              <!--PESTAÑA INFORMACIÓN GENERAL-->
              <b-tab
                active
                title="Linea"
                class="mt-3"
                :title-link-class="errorsLinea"
              >
                <div v-if="tabIndex === 0">
                  <form
                    @submit.prevent="validateTotalForm()"
                    data-vv-scope="form-linea"
                  >
                    <!-- ACORDEON DE INFORMACIÓN GENERAL-->
                    <b-card no-body class="mb-1">
                      <b-btn block href="#" v-b-toggle.linea_data id="acordeon"
                      >INFORMACIÓN GENERAL</b-btn
                      >
                      <b-collapse id="linea_data" visible role="tabpanel">
                        <b-card-body>
                          <div class="row">
                            <div
                              class="form-group col-sm-6 col-md-2"
                              v-if="filterFields('codigo')"
                              v-bind:class="
                                errors.has('form-linea.line_code')
                                  ? 'form-group-error'
                                  : ''
                              "
                            >
                              <label for="line_code">
                                Código
                                <span class="text-danger">*</span>
                              </label>
                              <input
                                type="text"
                                id="line_code"
                                name="line_code"
                                class="form-control"
                                v-validate="'required|max:15'"
                                data-vv-as=" "
                                :disabled="disabledInputs"
                                v-model="selectedLine.line_code"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{
                                errors.first("form-linea.line_code")
                              }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-4"
                              v-if="filterFields('descripcion')"
                              v-bind:class="
                                errors.has('form-linea.line_description')
                                  ? 'form-group-error'
                                  : ''
                              "
                            >
                              <label for="line_description">
                                Descripción
                                <span class="text-danger">*</span>
                              </label>
                              <input
                                type="text"
                                id="line_description"
                                name="line_description"
                                style="text-transform: uppercase;"
                                class="form-control"
                                v-validate="'required|max:255'"
                                data-vv-as=" "
                                :disabled="disabledInputs"
                                v-model="selectedLine.line_description"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{
                                errors.first("form-linea.line_description")
                              }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-2"
                              v-if="filterFields('descripcion corta')"
                              v-bind:class="
                                errors.has('form-linea.short_description')
                                  ? 'form-group-error'
                                  : ''
                              "
                            >
                              <label for="short_description"
                              >Descripción Corta</label
                              >
                              <input
                                type="text"
                                id="short_description"
                                name="short_description"
                                style="text-transform: uppercase;"
                                class="form-control"
                                v-validate="'max:100'"
                                data-vv-as=" "
                                :disabled="disabledInputs"
                                v-model="selectedLine.short_description"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{
                                errors.first("form-linea.short_description")
                              }}</span>
                            </div>
                            <div
                              class="col-md-4 col-sm-6 form-group"
                              v-if="filterFields('tipo')"
                            >
                              <label for="tipe">
                                Tipo
                                <span class="text-danger">*</span>
                              </label>
                              <el-select
                                id="tipe"
                                name="tipe"
                                filterable
                                clearable
                                :disabled="disabledInputs"
                                no-data-text="Cargando datos..."
                                no-match-text="No hay datos que coincidan"
                                placeholder
                                v-model="selectedLine.tipe"
                              >

                                <el-option
                                  v-for="item in tipe"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value"
                                ></el-option>
                              </el-select>
                            </div>
                          </div>
                          <div class="row">
                            <div
                              class="form-group col-sm-6 col-md-2"
                              v-if="filterFields('line_code_wms')"
     
                            >
                              <label for="line_code">
                                Código WMS
                              </label>
                              <input
                                type="text"
                                id="line_code_wms"
                                name="line_code_wms"
                                class="form-control"
                                data-vv-as=" "
                                :disabled="disabledInputs"
                                v-model="selectedLine.line_code_wms"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{ errors.first('form-linea.line_code_wms') }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('bloqueo compra')"
                              v-bind:class="errors.has('form-linea.lock_buy') ? 'form-group-error': ''"
                            >
                              <label for="lock_buy">Bloqueo Compra</label>
                              <br />
                              <b-form-radio-group
                                id="lock_buy"
                                buttons
                                :disabled="disabledInputs"
                                :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                                name="lock_buy"
                                v-model="selectedLine.lock_buy"
                                :button-variant="selectedLine.lock_buy == 1 ? 'outline-primary' : 'outline-secondary'"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{ errors.first('form-linea.lock_buy') }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('bloqueo venta')"
                              v-bind:class="errors.has('form-linea.block_sale') ? 'form-group-error': ''"
                            >
                              <label for="block_sale">Bloqueo Venta</label>
                              <br />
                              <b-form-radio-group
                                id="block_sale"
                                buttons
                                :disabled="disabledInputs"
                                :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                                name="block_sale"
                                v-model="selectedLine.block_sale"
                                :button-variant="selectedLine.block_sale == 1 ? 'outline-primary' : 'outline-secondary'"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{ errors.first('form-linea.block_sale') }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('Porcent de Utilidad')"
                              v-bind:class="errors.has('form-linea.lineRepository') ? 'form-group-error': ''"
                            >
                              <label for="percentage_utility">Porcent de Utilidad</label>
                              <input
                                type="text"
                                id="percentage_utility"
                                name="percentage_utility"
                                class="form-control"
                                v-validate="'max:100'"
                                data-vv-as=" "
                                :disabled="disabledInputs"
                                v-model="selectedLine.percentage_utility"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{ errors.first('form-linea.margin_cost') }}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('bloqueo compra')"
                              v-bind:class="
                                errors.has('form-linea.lock_buy')
                                  ? 'form-group-error'
                                  : ''
                              "
                            >
                              <label for="lock_buy">Bloqueo Compra</label>
                              <br />
                              <b-form-radio-group
                                id="lock_buy"
                                buttons
                                :disabled="disabledInputs"
                                :options="[
                                  { text: 'SI', value: 1 },
                                  { text: 'NO', value: 0 }
                                ]"
                                name="lock_buy"
                                v-model="selectedLine.lock_buy"
                                :button-variant="
                                  selectedLine.lock_buy == 1
                                    ? 'outline-primary'
                                    : 'outline-secondary'
                                "
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{
                                errors.first("form-linea.lock_buy")
                              }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('bloqueo venta')"
                              v-bind:class="
                                errors.has('form-linea.block_sale')
                                  ? 'form-group-error'
                                  : ''
                              "
                            >
                              <label for="block_sale">Bloqueo Venta</label>
                              <br />
                              <b-form-radio-group
                                id="block_sale"
                                buttons
                                :disabled="disabledInputs"
                                :options="[
                                  { text: 'SI', value: 1 },
                                  { text: 'NO', value: 0 }
                                ]"
                                name="block_sale"
                                v-model="selectedLine.block_sale"
                                :button-variant="
                                  selectedLine.block_sale == 1
                                    ? 'outline-primary'
                                    : 'outline-secondary'
                                "
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{
                                errors.first("form-linea.block_sale")
                              }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('Porcent de Utilidad')"
                              v-bind:class="
                                errors.has('form-linea.lineRepository')
                                  ? 'form-group-error'
                                  : ''
                              "
                            >
                              <label for="percentage_utility"
                              >Porcent de Utilidad</label
                              >
                              <input
                                type="text"
                                id="percentage_utility"
                                name="percentage_utility"
                                class="form-control"
                                v-validate="'max:100'"
                                data-vv-as=" "
                                :disabled="disabledInputs"
                                v-model="selectedLine.percentage_utility"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{
                                errors.first("form-linea.margin_cost")
                              }}</span>
                            </div>
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('calcular precio venta')"
                              v-bind:class="
                                errors.has('form-linea.calculates_sale_price')
                                  ? 'form-group-error'
                                  : ''
                              "
                            >
                              <label for="calculates_sale_price"
                              >Calcular Precio Venta</label
                              >
                              <br />
                              <b-form-radio-group
                                id="calculates_sale_price"
                                buttons
                                :disabled="disabledInputs"
                                :options="[
                                  { text: 'SI', value: 1 },
                                  { text: 'NO', value: 0 }
                                ]"
                                name="calculates_sale_price"
                                v-model="selectedLine.calculates_sale_price"
                                :button-variant="
                                  selectedLine.calculates_sale_price == 1
                                    ? 'outline-primary'
                                    : 'outline-secondary'
                                "
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{
                                errors.first("form-linea.calculates_sale_price")
                              }}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div
                              class="form-group col-sm-6 col-md-3"
                              v-if="filterFields('Porcentaje Arancel')"
                              v-bind:class="errors.has('form-linea.arancel_percentage') ? 'form-group-error': ''"
                            >
                              <label for="arancel_percentage">Porcentaje Arancel</label>
                              <input
                                type="text"
                                id="arancel_percentage"
                                name="arancel_percentage"
                                class="form-control"
                                v-validate="'max:100'"
                                data-vv-as=" "
                                :disabled="disabledInputs"
                                v-model="selectedLine.arancel_percentage"
                              />
                              <i class="text-danger icon-error"></i>
                              <span class="text-danger span-error">{{ errors.first('form-linea.arancel_percentage') }}</span>
                            </div>
                          </div>
                        </b-card-body>
                      </b-collapse>
                    </b-card>

                    <!-- ACORDEON DE INFORMACIÓN DE CONTABILIDAD-->
                    <b-card no-body class="mb-1">
                      <b-btn block href="#" v-b-toggle.cont-info id="acordeon"
                      >INFORMACIÓN DE CONTABILIDAD</b-btn
                      >
                      <b-collapse visible id="cont-info" ole="tabpanel">
                        <b-card-body>
                          <div class="row">
                            <div
                              class="col-md-4 col-sm-6 form-group"
                              v-if="filterFields('cuenta Inventario')"
                            >
                              <label for="inventories_account"
                              >Cuenta Inventario</label
                              >
                              <el-input
                                id="inventories_account"
                                size="small"
                                placeholder=" "
                                @focus="
                                  openModalAccount(
                                    $event,
                                    'inventories_account'
                                  )
                                "
                                :value="
                                  `${
                                    selectedLine.inventorie_account
                                      ? selectedLine.inventorie_account.code
                                      : ''
                                  } - ${
                                    selectedLine.inventorie_account
                                      ? selectedLine.inventorie_account.name
                                      : ''
                                  }`
                                "
                              >
                                <i
                                  slot="suffix"
                                  @click="deleteAccount('inventories_account')"
                                  class="el-input_icon el-icon-circle-close el-input_clear"
                                  v-if="selectedLine.inventorie_account"
                                ></i>
                              </el-input>
                            </div>
                            <div
                              class="col-md-4 col-sm-6 form-group"
                              v-if="filterFields('cuenta costo')"
                            >
                              <label for="account_cost">Cuenta Costo</label>
                              <el-input
                                id="account_cost"
                                size="small"
                                placeholder=" "
                                @focus="
                                  openModalAccount($event, 'account_cost')
                                "
                                :value="
                                  `${
                                    selectedLine.cost_account
                                      ? selectedLine.cost_account.code
                                      : ''
                                  } - ${
                                    selectedLine.cost_account
                                      ? selectedLine.cost_account.name
                                      : ''
                                  }`
                                "
                              >
                                <i
                                  slot="suffix"
                                  @click="deleteAccount('account_cost')"
                                  class="el-input_icon el-icon-circle-close el-input_clear"
                                  v-if="selectedLine.cost_account"
                                ></i>
                              </el-input>
                            </div>
                            <div
                              class="col-md-4 col-sm-6 form-group"
                              v-if="filterFields('cuenta venta')"
                            >
                              <label for="sales_account">Cuenta Ventas</label>
                              <el-input
                                id="sales_account"
                                size="small"
                                placeholder=" "
                                @focus="
                                  openModalAccount($event, 'sales_account')
                                "
                                :value="
                                  `${
                                    selectedLine.sale_account
                                      ? selectedLine.sale_account.code
                                      : ''
                                  } - ${
                                    selectedLine.sale_account
                                      ? selectedLine.sale_account.name
                                      : ''
                                  }`
                                "
                              >
                                <i
                                  slot="suffix"
                                  @click="deleteAccount('sales_account')"
                                  class="el-input_icon el-icon-circle-close el-input_clear"
                                  v-if="selectedLine.sale_account"
                                ></i>
                              </el-input>
                            </div>
                          </div>

                          <div class="row">
                            <div
                              class="col-md-4 col-sm-6 form-group"
                              v-if="filterFields('Cuenta Devol Ventas')"
                            >
                              <label for="devol_sales_account"
                              >Cuenta Devol Ventas</label
                              >
                              <el-input
                                id="devol_sales_account"
                                size="small"
                                placeholder=" "
                                @focus="
                                  openModalAccount(
                                    $event,
                                    'devol_sales_account'
                                  )
                                "
                                :value="
                                  `${
                                    selectedLine.devol_sale_account
                                      ? selectedLine.devol_sale_account.code
                                      : ''
                                  } - ${
                                    selectedLine.devol_sale_account
                                      ? selectedLine.devol_sale_account.name
                                      : ''
                                  }`
                                "
                              >
                                <i
                                  slot="suffix"
                                  @click="deleteAccount('devol_sales_account')"
                                  class="el-input_icon el-icon-circle-close el-input_clear"
                                  v-if="selectedLine.devol_sale_account"
                                ></i>
                              </el-input>
                            </div>
                          </div>
                        </b-card-body>
                      </b-collapse>
                    </b-card>

                    <!-- ACORDEON MANEJO DE DATOS (PRODUCTOS)-->
                    <b-card no-body class="mb-1">
                      <b-btn
                        block
                        href="#"
                        v-b-toggle.datos-manejo
                        id="acordeon"
                      >Definicion Atributos Producto</b-btn
                      >
                      <b-collapse id="datos-manejo" ole="tabpanel" visible>
                        <b-card-body>
                          <!-- SECCION DE LA FICHA DE DATO -->
                          <TableDataSheetsLine />
                          <!-- FIN SECCION DE LA FICHA DE DATO -->
                        </b-card-body>
                      </b-collapse>
                    </b-card>
                  </form>

                  <!-- SECTION MODALS -->
                  <ModalAccount @selectedAccount="selectedAccount" />
                </div>
              </b-tab>
              <!--PESTAÑA SUBLINEAS-->
              <b-tab title="Sublineas" :disabled="disabledTabs">
                <sublines
                  v-if="tabIndex === 1"
                  :disabled-inputs="disabledInputs"
                ></sublines>
              </b-tab>

              <form
                @submit.prevent="validateFormTaxes()"
                data-vv-scope="form-taxes"
              >
                <b-tab title="Impuestos" :disabled="disabledTabs">
                  <b-card>
                    <b-btn block href="#" v-b-toggle.tax_info id="acordeon"
                    >INFORMACIÓN GENERAL</b-btn
                    >
                    <b-collapse id="tax_info" visible role="tabpanel">
                      <b-card-body>
                        <div class="row">
                          <div
                            class="form-group col-sm-6 col-md-6"
                            v-bind:class="
                              errors.has('form-taxes.selectedTax.id')
                                ? 'form-group-error'
                                : ''
                            "
                          >
                            <label>
                              Impuesto
                              <span class="text-danger">*</span>
                            </label>
                            <el-select
                              name="selectedTax.id"
                              clearable
                              filterable
                              placeholder="Seleccione un impuestos "
                              no-data-text="Cargando datos..."
                              no-match-text="No hay datos que coincidan"
                              v-validate="'required'"
                              data-vv-as=" "
                              :disabled="disabledInputs"
                              v-model="selectedTax.id"
                              @change="assingInfo"
                            >
                              <!-- @click="cargarImpuesto" -->
                              <el-option
                                v-for="(tax, index) in taxes.data"
                                :key="index"
                                :label="tax.description"
                                :value="tax.id"
                              ></el-option>
                            </el-select>
                            <span class="text-danger span-error">{{
                              errors.first("form-taxes.selectedTax.id")
                            }}</span>
                          </div>

                          <div
                            class="form-group col-sm-4 col-md-2"
                            v-bind:class="
                              errors.has('form-taxes.percentage_sale')
                                ? 'form-group-error'
                                : ''
                            "
                          >
                            <label for="percentage_sale"
                            >Porcentaje Venta</label
                            >
                            <input
                              type="text"
                              id="percentage_sale"
                              name="percentage_sale"
                              class="form-control"
                              data-vv-as=" "
                              disabled="true"
                              v-model="selectedTax.percentage_sale"
                            />
                            <span class="text-danger span-error">{{
                              errors.first("form-taxes.percentage_sale")
                            }}</span>
                          </div>
                          <div
                            class="form-group col-sm-4 col-md-2"
                            v-bind:class="
                              errors.has('form-taxes.percentage_purchase')
                                ? 'form-group-error'
                                : ''
                            "
                          >
                            <label for="percentage_purchase"
                            >Porcentaje Compra</label
                            >
                            <input
                              type="text"
                              id="percentage_purchase"
                              name="percentage_purchase"
                              class="form-control"
                              data-vv-as=" "
                              disabled="true"
                              v-model="selectedTax.percentage_purchase"
                            />
                            <span class="text-danger span-error">{{
                              errors.first("form-taxes.percentage_purchase")
                            }}</span>
                          </div>

                          <div
                            class="form-group col-sm-4 col-md-2"
                            v-bind:class="
                              errors.has('form-taxes.base')
                                ? 'form-group-error'
                                : ''
                            "
                          >
                            <label for="base">Base</label>
                            <input
                              type="text"
                              id="base"
                              name="base"
                              class="form-control"
                              data-vv-as=" "
                              disabled="true"
                              v-model="selectedTax.base"
                            />
                            <span class="text-danger span-error">{{
                              errors.first("form-taxes.base")
                            }}</span>
                          </div>

                          <div
                            class="form-group col-sm-4 col-md-2"
                            v-bind:class="
                              errors.has('form-taxes.minimum_base')
                                ? 'form-group-error'
                                : ''
                            "
                          >
                            <label for="minimum_base">Base Mínima</label>
                            <input
                              type="text"
                              id="minimum_base"
                              name="minimum_base"
                              class="form-control"
                              data-vv-as=" "
                              disabled="true"
                              v-model="selectedTax.minimum_base"
                            />
                            <span class="text-danger span-error">{{
                              errors.first("form-taxes.minimum_base")
                            }}</span>
                          </div>
                        </div>

                        <div class="row mt-3" style="text-align: center;">
                          <div class="form-group mx-auto">
                            <b-button
                              type="submit"
                              class="btn btn-labeled btn-primary float-right ml-1 otro-boton"
                            >
                              <span class="btn-label">
                                <i class="ti-save-alt"></i>
                              </span>
                              &nbsp; Guardar
                            </b-button>
                            <b-button
                              type="button"
                              id="limpiar"
                              class="btn btn-labeled btn-secondary float-right"
                              @click="_resetTaxesForm()"
                            >
                              <span class="btn-label">
                                <i class="ti-close"></i>
                              </span>
                              &nbsp; Limpiar
                            </b-button>
                          </div>
                        </div>
                      </b-card-body>
                    </b-collapse>

                    <b-btn block href="#" v-b-toggle.tax_table id="acordeon"
                    >IMPUESTOS REGISTRADOS</b-btn
                    >
                    <b-collapse id="tax_table" visible role="tabpanel">
                      <b-card-body>
                        <div class="row">
                          <div class="form-group col-12">
                            <grid-u2 :columns="fieldsTaxes" :items="lineTaxes">
                              <template
                                slot="tax.percentage_sale"
                                slot-scope="row"
                              >
                                <div class="text-center">
                                  {{ row.item.tax.percentage_sale }}%
                                </div>
                              </template>
                              <template
                                slot="tax.percentage_purchase"
                                slot-scope="row"
                              >
                                <div class="text-center">
                                  {{ row.item.tax.percentage_purchase }}%
                                </div>
                              </template>
                              <template slot="tax.base" slot-scope="row">
                                <div class="text-center">
                                  {{
                                  row.item.tax.base == 1
                                  ? "BRUTO"
                                  : row.item.tax.base == 2
                                  ? "IVA"
                                  : ""
                                  }}
                                </div>
                              </template>
                              <template slot="Opciones" slot-scope="row">
                                <b-button
                                  variant="danger"
                                  @click="removeTax(row.item.id)"
                                >Eliminar</b-button
                                >
                              </template>
                            </grid-u2>
                          </div>
                        </div>
                      </b-card-body>
                    </b-collapse>
                  </b-card>
                </b-tab>
              </form>

              <!--PESTAÑA CONFIGURACIÓN DESCRIPCION DE PRODUCTO-->
              <b-tab
                title="Configuración Descripción de Producto"
                :disabled="disabledTabs"
              >
                <form>
                  <b-card no-body class="mb-1">
                    <b-btn
                      block
                      href="#"
                      v-b-toggle.config_product
                      id="acordeon"
                    >CONFIGURACIÓN DESCRIPCION DE PRODUCTO</b-btn
                    >
                    <b-collapse id="config_product" visible role="tabpanel">
                      <b-card-body>
                        <draggable
                          class="ordenable"
                          :list="config"
                          group="people"
                          @change="log"
                        >
                          <div
                            class="colDos"
                            v-for="element in config"
                            :key="element.id"
                          >
                            {{ element.value }}
                          </div>
                        </draggable>
                        <br />
                        <br />
                        <button
                          class="btn btn-secondary button"
                          @click.prevent="add"
                        >
                          Agregar Texto
                        </button>
                        <br />
                        <draggable class="orden" :list="colDos" group="people">
                          <div
                            class="colDos"
                            v-for="element in colDos"
                            :key="element.id"
                          >
                            {{ element.value }}
                            <input
                              v-if="element.text"
                              type="text"
                              class="form-control"
                              v-model="element.value"
                            />
                          </div>
                        </draggable>
                        <br />
                        <br />

                        <b-button
                          v-if="!disabledInputs"
                          type="button"
                          class="otro-boton float-right"
                          @click.prevent="guardarConfiguracion"
                        >
                          <span class="btn-label">
                            <i class="ti-save-alt"></i>
                          </span>
                          Guardar Configuración
                        </b-button>

                        <br />
                        <br />
                      </b-card-body>
                    </b-collapse>
                  </b-card>
                </form>
              </b-tab>
            </b-tabs>
            <hr />
            <!--BOTONES DEL FORMULARIO-->
            <div class="form-actions">
              <b-button
                v-if="tabIndex <= 0 && !disabledInputs"
                type="button"
                class="boton-guardar"
                @click="validateTotalForm()"
              >
                <span class="btn-label">
                  <i class="ti-save-alt"></i>
                </span>
                Guardar
              </b-button>
              <b-button
                to="/lineas"
                type="button"
                variant="secondary"
                class="float-left"
                @click="clearSelectedLine"
              >
                <span class="btn-label">
                  <i class="ti-arrow-left"></i>
                </span>
                Volver
              </b-button>
              <b-button
                v-if="tabIndex <= 0 && !disabledInputs"
                type="reset"
                value="Limpiar"
                class="otro-boton float-left"
                @click="clearSelectedLine"
              >
                <span class="btn-label">
                  <i class="ti-eraser"></i>
                  Limpiar
                </span>
              </b-button>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
  // Import componentes adicionales
  import Vue from "vue";
  import { MessageBox } from "element-ui";
  import GridU2 from "../../components/u2/grid";
  import card from "../../components/pages/card/card.vue";
  import draggable from "vuedraggable";
  import loader from "./../../components/layout/loader.vue";
  //Vuex
  import { mapState, mapActions, mapMutations } from "vuex";

  import sublines from "../sublines/maintenance";

  // components
  import TableDataSheetsLine from "./../../components/pages/lines/TableDataSheetsLine";
  import ModalAccount from "../../components/accounts/modal-account";

  export default {
    name: "maintenance",
    components: {
      card,
      sublines,
      draggable,
      loader,
      GridU2,
      TableDataSheetsLine,
      ModalAccount
    },
    data() {
      return {
        typeAccount: "",
        dataSheetIdSelect: "",
        loader: true,
        data: "",
        nextLine: 0,
        filter_fields: "",
        tabIndex: 0,
        path: "",
        gridApi: null,
        gridOptions: {},
        changeTab: false,
        options: [
          { value: 1, label: "Option1" },
          { value: 2, label: "Option2" },
          { value: 3, label: "Option3" },
          { value: 4, label: "Option4" },
          { value: 5, label: "Option5" },
          { value: 6, label: "Option6" }
        ],
        tipe: [
          { value: 0, label: "Producto" },
          { value: 1, label: "Consumo" },
          { value: 2, label: "Servicio" }
        ],
        opciones: [
          { text: "SI", value: 1 },
          { text: "NO", value: 2 },
          { text: "OB", value: 9 }
        ],
        config: [],
        colDos: [],
        fieldsTaxes: [
          { field: "tax.description", name: "Impuesto" },
          { field: "tax.percentage_sale", name: "Porcentaje Venta" },
          { field: "tax.percentage_purchase", name: "Porcentaje Compra" },
          { field: "tax.base", name: "Base" },
          { field: "tax.minimum_base", name: "Base Mínima", format: "currency" },
          { field: "Opciones", name: "Opciones", width: 140 }
        ],
        mostrar: [
          { db: "barcode", label: "Código de Barra" },
          { db: "brand", label: "Marca" },
          { db: "sub_brand", label: "Sub Marca" },
          { db: "line", label: "Linea" },
          { db: "subline", label: "Sub Linea" },
          { db: "category", label: "Categoria" },
          { db: "subcategory", label: "Sub Categoria" },
          { db: "lot", label: "Lote" },
          { db: "serial", label: "Serial" },
          { db: "type", label: "Tipo" },
          { db: "Photos", label: "Fotos" },
          { db: "owner", label: "Propietario" },
          { db: "maker", label: "Fabricante" },
          { db: "registration_invima", label: "Registro Invima" },
          { db: "exp_date_invima", label: "Fecha Venc, Invima" },
          { db: "generic", label: "Generico" },
          { db: "year", label: "Año" },
          { db: "conformity_certificate", label: "Cert Conformidad" },
          { db: "exp_date_certified", label: "Fecha Venc. Certificado" },
          { db: "weight", label: "Peso" },
          { db: "volume", label: "Volumen" },
          { db: "height", label: "Talla" },
          { db: "color", label: "Color" },
          { db: "old_product_code", label: "Código Producto Antiguo" },
          { db: "new_product_code", label: "Código Producto Nuevo" },
          { db: "commission_portion", label: "Porción Comision" },
          { db: "mg_of_utility", label: "Mg de Utilidad" },
          { db: "contact_income", label: "Ingreso para Terceros" },
          { db: "reduction_management", label: "Manejo Reducción" },
          { db: "high_price", label: "Alto Costo" },
          { db: "high_risk", label: "Alto Riesgo" },
          { db: "refrigerated", label: "Refrigerado" },
          { db: "type_rotation", label: "Tipo Rotación" },
          { db: "handling_formula", label: "Manejo Formula" },
          { db: "width", label: "Ancho" },
          { db: "outline", label: "Perfil" },
          { db: "rin", label: "Rin" },
          { db: "utqg", label: "UTQG" },
          { db: "load_index", label: "Indice Carga" },
          { db: "speed_index", label: "Indice Velocidad" },
          { db: "cum_code", label: "Código Cum" },
          { db: "sgsss_code", label: "Código SGSSS" },
          { db: "application_unit", label: "Unidad de Aplicación" },
          { db: "number_applications", label: "Número Aplicaciones" },
          { db: "pharmacy_code", label: "Código Farmacia" },
          { db: "concentration", label: "Concentración" },
          { db: "controlled_sale", label: "Venta Controlada" },
          { db: "belongs_to_pos", label: "Pertene a POS" },
          { db: "purchase_present_packaging", label: "Compra Present Empaque" },
          { db: "purchase_quantity_present", label: "Compra Cant Present" },
          { db: "local_purchase", label: "Compra Local" },
          { db: "observation_buy", label: "Observación Compra" },
          { db: "present_sale_packaging", label: "Venta Present Empaque" },
          { db: "sale_quantity_packaging", label: "Venta Cant Present" },
          { db: "observation_of_sale", label: "Observación de Venta" },
          { db: "channel_point_sale", label: "Canal Punto de Venta" },
          { db: "channel_amazon", label: "Canal Amazon" },
          { db: "channel_b2c", label: "Canal B2C" },
          { db: "channel_b2b", label: "Canal B2B" },
          { db: "tipe", label: "Tipo" },
          { db: "data_sheet", label: "Ficha Tecnica" },
          { db: "data_sheet_link", label: "Link Ficha Tecnica" },
          { db: "video_link", label: "Link Video" }
        ]
      };
    },
    created() {
      this.initComponent();
    },
    mounted() {
      this.fetchTaxes();
    },

    methods: {
      initComponent() {
        // lista de cuentas
        this.fetchAccountsInventory();
        this.fetchAccountsCost();
        this.fetchAccountsSales();
        this.gridApi = this.gridOptions.api;
        if (this.$route.params.id) {
          this.fetchTaxesByLine(this.$route.params.id);
        } else if (this.$route.params.idv) {
          this.fetchTaxesByLine(this.$route.params.idv);
        }

        if (this.$route.params.id) {
          this.initUpdate("update", this.$route.params.id);
        } else if (this.$route.params.idv) {
          this.initUpdate("view", this.$route.params.idv);
        } else {
          this.setGetLineEdit(true);
          this.changeTab = true;
          this.setAction("create");
          this.loader = false;
        }
      },
      deleteAccount(typeAccount) {
        switch (typeAccount) {
          case "inventories_account":
            this.selectedLine.inventorie_account = "";
            this.selectedLine.inventories_account = "";
            break;
          case "account_cost":
            this.selectedLine.cost_account = "";
            this.selectedLine.account_cost = "";
            break;
          case "sales_account":
            this.selectedLine.sale_account = "";
            this.selectedLine.sales_account = "";
            break;
          case "devol_sales_account":
            this.selectedLine.devol_sale_account = "";
            this.selectedLine.devol_sales_account = "";
            break;
        }
      },
      selectedAccount(account) {
        if (account) {
          switch (this.typeAccount) {
            case "inventories_account":
              this.selectedLine.inventorie_account = account;
              this.selectedLine.inventories_account = account.id;
              break;
            case "account_cost":
              this.selectedLine.cost_account = account;
              this.selectedLine.account_cost = account.id;
              break;
            case "sales_account":
              this.selectedLine.sale_account = account;
              this.selectedLine.sales_account = account.id;
              break;
            case "devol_sales_account":
              this.selectedLine.devol_sale_account = account;
              this.selectedLine.devol_sales_account = account.id;
              break;
          }
        }
        this.closeModalAccount();
      },
      openModalAccount(event, type) {
        this.typeAccount = type;
        event.target.blur();
        this.$bvModal.show("modal-account");
      },
      closeModalAccount() {
        this.$bvModal.hide("modal-account");
      },
      _filterAccountInventory(text) {
        this.paramsAccountInventory.filter = text;
        this.fetchAccountsInventory();
      },
      _filterAccountCost(text) {
        this.paramsAccountCost.filter = text;
        this.fetchAccountsCost();
      },
      _filterAccountSales(text) {
        this.paramsAccountSales.filter = text;
        this.fetchAccountsSales();
      },
      cargarImpuesto() {
        this.$store.watch(
          () => {
            return this.selectedTax.id;
          },
          id => {}
        );
      },
      assingInfo(tax_id) {
        let tax = this.taxes.data.find(t => t.id === tax_id);
        this.setSelectedTax(JSON.parse(JSON.stringify(tax)));
      },
      removeTax(tax_id) {
        let params = {
          id: tax_id,
          line_id: this.$route.params.id
        };
        this.deleteTax(params);
      },
      validateFormTaxes() {
        this.$validator.validateAll("form-taxes").then(result => {
          if (result) {
            let params = {
              line_id: this.$route.params.id,
              tax: this.selectedTax
            };
            this.saveTax(params);
            this.resetTaxesForm();
          } else {
            this.$alert(
              "Algunos campos no se registraron correctamente",
              "Error",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
              }
            ).then(verifica => {});
          }
        });
      },
      //-------drag and drop------------------//
      clone: function(el) {
        return {
          name: el.name + " cloned"
        };
      },
      log: function() {
        this.data = JSON.parse(JSON.stringify(this.config));
        this.data = Array.from(this.data);
      },
      add() {
        this.nextLine++;
        this.colDos.push({
          id: this.nextLine++,
          value: "",
          line: "",
          text: true
        });
      },
      // ----------- GENERAL ---------------//
      async initUpdate(action, id) {
        this.setAction(action);
        await this.getLine(id);
        this.changeTab = true;
        this.arrayLine();
        this.loader = false;
        // si el campo de configuracion de descripcion de producto ya ha sido creado
        if (
          this.selectedLine.prod_desc_config != null &&
          this.selectedLine.prod_desc_config != ""
        ) {
          this.config = JSON.parse(this.selectedLine.prod_desc_config);
          for (var colDo in this.colDos) {
            for (var etiqueta in this.config) {
              if (this.colDos[colDo].value == this.config[etiqueta].value) {
                this.colDos.splice(this.colDos[colDo], 1);
              }
            }
          }
        }
      },
      guardarConfiguracion() {
        this.selectedLine.act_prod_conf = 1;
        this.data = this.data.map(item => {
          return {
            value: item.value,
            line: item.line == "" ? item.value : item.line,
            text: item.text
          };
        });
        this.selectedLine.prod_desc_config = JSON.stringify(this.data);
        this.update();
      },
      arrayLine() {
        for (var line in this.selectedLine) {
          if (this.selectedLine[line] != 2 && this.selectedLine[line] != "") {
            for (var x in this.mostrar) {
              if (this.mostrar[x].db == line) {
                this.colDos.push({
                  id: this.nextLine++,
                  value: this.mostrar[x].label,
                  line: line,
                  text: false
                });
                break;
              }
            }
          }
        }
      },

      clearSelectedLine() {
        this.resetSelectedLine();
        this.$validator.reset("form-linea");
      },
      validateTotalForm() {
        this.$validator.validateAll("form-linea").then(result => {
          if (result) {
            if (this.action == "create") {
              this.create();
            } else if (this.action == "update") {
              this.update();
            }
          } else {
            this.$alert(
              "Algunos campos no se registraron correctamente",
              "Error",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
              }
            ).then(verifica => {});
          }
        });
      },
      async create() {
        await this.addLine();
        await this.initUpdate("update", this.selectedLine.id);
        await this.getDataSheetLine(this.selectedLine.id);
        this.chageTableCreateData(false);

        this.$router.push({
          path: "/lineas/" + this.selectedLine.id + "/editar"
        });
      },
      async update() {
        await this.setGetLineEdit(true);
        await this.updateLine();
        await this.initComponent();
        this.chageTableCreateData(false);
        // await this.getDataSheetLine(this.$route.params.id);
      },
      listenCard(filter_fields) {
        this.filter_fields = filter_fields;
      },
      filterFields(text) {
        return text.toLowerCase().indexOf(this.filter_fields.toLowerCase()) >= 0;
      },
      _resetTaxesForm() {
        this.resetTaxesForm();
      },
      ...mapActions("lines", [
        "fetchLines",
        "getDataSheetLine",
        "getDataSheetList",
        "addLine",
        "updateLine",
        "getLine",
        "fetchTaxes",
        "fetchTaxesByLine",
        "saveTax",
        "deleteTax",
        "addDataSheetToLine",
        "removeDataSheetToLine",
        "updateDataSheetToLine",
        "fetchAccountsInventory",
        "fetchAccountsCost",
        "fetchAccountsSales"
      ]),
      ...mapActions("sublines", ["fetchSublines"]),
      ...mapMutations("lines", [
        "resetSelectedLine",
        "setAction",
        "setGetLineEdit",
        "setSelectedTax",
        "resetTaxesForm",
        "chageTableCreateData"
      ]),
      //Ficha de Dato
      ...mapActions("dataSheet", ["fetch"]),

      //Agregar una nueva ficha de dato a la linea
      addDataSheet() {
        this.addDataSheetToLine({
          line_id: this.selectedLine.id,
          data_sheet_id: this.dataSheetIdSelect
        });

        //Vaciamos la variable del select
        this.dataSheetIdSelect = "";

        this.getDataSheetLine(this.$route.params.id);
      },

      changeStatusDataSheet(row) {
        var id = row.item.pivot.id;
        var changeFor = row.item.pivot.required ? 0 : 1;
        this.updateDataSheetToLine({
          id: id,
          required: changeFor
        });
        row.item.pivot.required = changeFor;
      }
    },
    computed: {
      ...mapState("lines", [
        "action",
        "selectedLine",
        "dataSheetsList",
        "lineEdit",
        "error",
        "getLineEdit",
        "taxes",
        "selectedTax",
        "lineTaxes",
        "tableCreateData",
        "accountsInventory",
        "paramsAccountInventory",
        "accountsSales",
        "paramsAccountSales",
        "accountsCost",
        "paramsAccountCost"
      ]),
      ...mapState("dataSheet", ["dataSheets"]),
      errorsLinea() {
        return this.errors.items.filter(i => i.scope == "form-linea").length > 0
          ? "nav-link-error"
          : "";
      },
      actionSpanish() {
        switch (this.action) {
          case "create":
            return "Crear";
            break;
          case "update":
            return "Editar";
            break;
          case "view":
            return "Ver";
            break;
        }
      },
      disabledTabs() {
        return this.action == "create";
      },
      disabledInputs() {
        return this.action == "view";
      },
      tagLine() {
        let textTag =
          this.selectedLine.line_code +
          "  -  " +
          this.selectedLine.line_description;

        return textTag.length < 7 ? "" : textTag.toUpperCase();
      }
    },
    watch: {
      tabIndex(newValue) {
        switch (newValue) {
          case 1:
            this.fetchSublines();
            break;
        }
      }
    }
  };
</script>

<style scoped>
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: #007db3 !important;
  }

  .nav-link-error {
    border: 1px solid #ff6666 !important;
  }

  .nav-link.active {
    border-top: none !important;
  }

  .nav-link {
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #007db3;
    color: #007db3;
  }

  .nav-link.disabled {
    border: 1px solid #c8cbd6;
    color: #c8cbd6;
  }

  @media (max-width: 400px) {
    .nav-link {
      margin-right: 2px !important;
      padding: 4px 5px;
    }
  }

  .el-input__inner {
    height: 31.25px !important;
  }

  .linea {
    border-color: #007db3;
    border-width: 4px;
    margin-top: 0px !important;
  }

  .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
  }

  .colDos {
    display: inline-block;
    min-width: 30px;
    padding: 5px;
    margin: 2px;
    border: 2px #aaa solid;
    cursor: move;
    background: #f8fcff;
    transition: all 1s;
    text-align: center;
    border-radius: 5px;
  }

  .ordenable {
    border: 1px solid #ced4da;
    height: auto;
    border-radius: 0.25rem;
  }

  .orden {
    height: auto;
    background: #f8fcff;
    margin-top: 5px;
  }

  .modal-backdrop {
    opacity: 0.9 !important;
  }

  @media (max-width: 450px) {
    .tag-contact {
      font-size: 12px !important;
      font-family: sans-serif !important;
      max-width: 100%;
      text-align: center;
      overflow-x: hidden;
    }
  }
</style>
