<template>
  <div class="container-fluid">
    <preloader v-if="loading" mensaje="Cargando Lista de cuentas"></preloader>
    <div v-else class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-md-4 col-sm-8 col-12">
                <b-form-input
                  id="filter-text-box"
                  name="filter"
                  type="text"
                  v-model="params.filter"
                  placeholder="Buscar..."
                  @keyup.enter="onFilterTextBoxChanged"
                ></b-form-input>
              </div>
              <div class="col-md-8 col-sm-4 col-12">
                <b-button
                  class="button button-rounded button-primary-flat hvr-shrink float-right"
                  id="boton-nuevo"
                  to="/Cuentas/crear"
                >
                  Nuevo
                </b-button>
              </div>
            </div>
          </div>
        </div>
        <b-row>
          <div :class="scrollable ? 'container-scroll-y' : 'w-100'">
            <grid-u2
              :options="options"
              ref="grid"
              @selectedSingleRow="getSelectedRow"
              :items="accounts.data"
              :columns="columns"
            >
              <template
                class=" d-flex justify-content-center"
                slot="options"
                slot-scope="row"
              >
                <b-button
                 
                  id="botones"
                  :to="`/cuentas/${row.item.id}/editar`"
                >
                <i class="ti-pencil"></i>
                </b-button>
                <b-button
                  v-if="row.item.parameter_level.code_parameter == 0"
                  variant="success"
                  :to="`/Cuentas/${row.item.id}/clonar`"
                >
                  <i class="ti-files"></i> Clonar
                </b-button>
                <b-button
                  v-if="row.item.parameter_level.code_parameter == 0"
                  variant="danger"
                  @click="
                    _deleteAccount(
                      row.item.id,
                      row.item.code + '-' + row.item.name
                    )
                  "
                  ><i class="ti-trash"></i></b-button
                >
              </template>

              <template
                class=" d-flex justify-content-center"
                slot="level"
                slot-scope="row"
              >
                <b-badge
                  href="#"
                  :variant="
                    row.item.parameter_level.code_parameter == 0
                      ? 'success'
                      : 'primary'
                  "
                  >{{ row.item.parameter_level.name_parameter }}</b-badge
                >
              </template>

              <template slot="code" slot-scope="row">
                <p v-if="row.item.parameter_level.code_parameter != 0">
                  <strong>{{ row.item.code }}</strong>
                </p>
                <p v-else>{{ row.item.code }}</p>
              </template>

              <template slot="manage" slot-scope="row" :class="min-col">
                <b-badge
                  v-if="row.item.manage_contact_balances"
                  href="#"
                  :variant="'primary'"
                  >
                  TER
                </b-badge>
                <b-badge
                v-if="row.item.manage_document_balances"
                  href="#"
                  :variant="'primary'"
                  >
                  DOC
                </b-badge>
              </template>

              <template
                slot="account_totalize"
                slot-scope="row"
                >
                  <div v-if="row.item.account_totalize != null">  

                    <p v-if="row.item.parameter_level.code_parameter != 0"><strong>{{row.item.account_totalize.code}}</strong></p>
                    <p v-else>{{row.item.account_totalize.code}}</p>
                  </div>
                </template>

              <template slot="group" slot-scope="row">
                <p v-if="row.item.parameter_level.code_parameter != 0">
                  <strong>{{ row.item.parameter_group.name_parameter }}</strong>
                </p>
                <p v-else>{{ row.item.parameter_group.name_parameter }}</p>
              </template>

              <template
                class=" d-flex justify-content-center"
                slot="name"
                slot-scope="row"
              >
                <p
                  v-if="row.item.parameter_level.code_parameter != 0"
                  class="upper"
                >
                  <strong>{{ row.item.name }}</strong>
                </p>
                <p v-else class="upper">{{ row.item.name }}</p>
              </template>
            </grid-u2>
          </div>
        </b-row>
        <b-row>
          <b-col class="my-1 form-inline" md="6">
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[15, 30, 50, 100]"
              v-model="params.perPage"
            >
            </b-form-select>
          </b-col>
          <b-col class="my-1" md="6">
            <b-pagination
              class="my-0 float-right"
              :total-rows="totalRows"
              :per-page="params.perPage"
              :current-page="params.page"
              v-model="params.page"
            >
            </b-pagination>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../components/u2/grid";
import Preloader from "../../components/layout/preloader";

export default {
  //   props: {
  //     contact_id: { type: Number, required: false, default: null },
  //     model_id: { required: false, default: null },
  //     branchoffice_warehouse_id: { required: false, default: null },
  //     warehouse_id: { required: false, default: null },
  //     titleModal: { required: false, default: null },
  //   },
  props: {
    notAux: { required: false, default: false },
    onlyAux: { required: false, default: false },
    scrollable: { required: false, default: false }
  },
  components: {
    GridU2,
    Preloader
  },
  data() {
    return {
      // loading: true,
      columns: null,
      options: {
        selectable: true,
        multiselect: true
      }
    };
  },
  watch: {
    "params.page"(newval) {
      this.fetchAccounts();
    },
    "params.perPage"(newval) {
      this.fetchAccounts();
    }
  },

  created() {},
  methods: {
    getSelectedRow(product) {
      this.$emit("selectedAccount", product);
    },
    ...mapActions("account", ["fetchAccounts", "deleteAccount"]),
    ...mapMutations("account", ['setloading']),

    async _deleteAccount(id, account) {
      await this.$confirm(
        "¿Desea Eliminar La Cuenta " + account + "?",
        "Eliminar Cuenta",
        {
          confirmButtonText: "Aceptar",
          cancelButtonText: "Cancelar",
          type: "warning",
          customClass: "notification-warning"
        }
      )
        .then(async result => {
          if (result) {
            await this.deleteAccount(id);
          }
        })
        .catch(function(result) {});
      await this.fetchAccounts();
    },

    onFilterTextBoxChanged() {
      this.fetchAccounts();
    },

    async validateForm() {}
  },
  computed: {
    totalRows() {
      return this.accounts.total;
    },
    ...mapState("account", [
      'loading',
      "params",
      "accounts"
      // 'loading'
    ])
  },

  async beforeMount() {
    this.params.notAux = this.notAux;
    this.params.onlyAux = this.onlyAux;
    await this.fetchAccounts(),
      (this.columns = [
        {
          name: "Código",
          field: "code",
          width: "180px"
        },
        {
          name: "Descripción",
          field: "name",
          width: "180px"
        },
        {
          name: "Nivel",
          field: "level",
          width: "180px"
        },
        {
          name: "Cta Total",
          field: "account_totalize",
          width: "180px"
        },
        {
          name: "Grupo",
          field: "group",
          width: "180px",
          
        },
        {
          name: "Manejos",
          field: "manage",
          width: "10px"
        },
        {
          name: "Opciones",
          field: "options",
          width: "200px",
          format: "number"
        }
      ]);
    this.setloading(false);
  }
};
</script>

<style scoped>
.boton-exist-dispon {
  width: 100%;
}
.c {
  text-align: center;
}
.t-c {
  text-align: center;
}
.pad {
  padding: 20px !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
</style>

<style>
.container-scroll-y {
  overflow-y: scroll;
  width: 100%;
  height: 600px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.header-modal-u2 {
  background: #007db3 !important;
  color: #fff;
}
</style>
