<template>
  <div class="container-fluid">
    <b-modal
      v-model="show"
      :id="modal_id"
      size="xl"
      header-class="header-modal-u2 "
      centered
      ref="modal-account"
    >
      <!-- HEADER -->
      <template v-slot:modal-header>
        <h5>Plan de Cuentas</h5>
        <button @click="show = false" class="btn btn-sm btn-link">x</button>
      </template>

      <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="secondary"
            size="sm"
            class="float-right m-1"
            @click="show = false"
            >Cerrar</b-button
          >
        </div>
      </template>

      <list
        @selectedAccount="_selectedAccount_"
        :notAux="notAux"
        :onlyAux="onlyAux"
        :scrollable="scrollable"
      />
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../components/u2/grid";
import list from "../../components/accounts/list";

export default {
  props: {
    contact_id: { type: Number, required: false, default: null },
    model_id: { required: false, default: null },
    branchoffice_warehouse_id: { required: false, default: null },
    warehouse_id: { required: false, default: null },
    titleModal: { required: false, default: null },
    notAux: { required: false, default: false },
    onlyAux: { required: false, default: false },
    modal_id: { required: false, default: 'modal-account' },
    scrollable: { required: false, default: false }
  },
  components: {
    GridU2,
    list
  },
  data() {
    return {
      show: false
    };
  },

  created() {},
  methods: {
    _selectedAccount_(product) {
      this.$emit("selectedAccount", product);
    }
  },
  computed: {},
  async mounted() {}
};
</script>

<style scoped>
.boton-exist-dispon {
  width: 100%;
}
.c {
  text-align: center;
}
.t-c {
  text-align: center;
}
.pad {
  padding: 20px !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
</style>

<style>
.header-modal-u2 {
  background: #007db3 !important;
  color: #fff;
}
</style>
