<template>
  
  <div>
    <div class="row">
        <div class="col-md-6 col-sm-8 col-12">
            <fieldset class="form-group mb-0" id="__BVID__65"><legend tabindex="-1" class="col-form-label pt-0" id="__BVID__65__BV_label_">Mayor a (días en mora)</legend>
                <div tabindex="-1" role="group">
                    <div role="group" class="input-group"><!---->
                        <input type="text" placeholder="80" class="form-control" id="__BVID__66" v-model="days" v-on:keyup.13="consultarDias()"/> 
                            <div class="input-group-append">
                                <button id="botones" type="button" class="btn btn-secondary" @click="consultarDias()">
                                      <span class="ti-search"></span> Consultar
                                </button>
                            </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    
    <hr class="divisor"/>

    <div class="row" v-show="!load">
      <b-container class="visor_mora" fluid>
        <!-- User Interface controls -->
        <b-row>
          <h3>Clientes en mora</h3>
        </b-row>   

        <b-row>
          <small> <strong> Busca cliente dentro de la lista </strong></small>
        </b-row>
        
        <b-row> &nbsp; </b-row>

        <b-row>
          <b-col md="6" class="my-1">
            <b-form-group label-cols-sm="0" class="mb-0">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="Filtra por Identificacion ó Razon Social"></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>

          <b-col md="6" class="my-1">
            <b-form-group label-cols-sm="3" label="Per page" class="mb-0">
              <b-form-select v-model="perPage" :options="pageOptions"></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <!-- Main table element -->
        <b-table
          show-empty
          stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          :empty-text="emptyText"
          @filtered="onFiltered"
        >

          <!-- <template slot="name" slot-scope="row">
            apuntamos al field-slot de los  campos para poder manipularlos directamente
            por si necesitamos aplicarle algun filter de vue
            {{ row.value }} 
          </template> -->

          <template slot="actions" slot-scope="row">
            <b-button size="sm" @click="info(row.item)" class="mr-1">
              Ver Cartera
            </b-button>
          </template>

          <template slot="row-details" slot-scope="row">
            <b-card>
              <ul>
                <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
              </ul>
            </b-card>
          </template>
        </b-table>

        <b-row>
          <b-col md="6" class="my-1">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              class="my-0"
            ></b-pagination>
          </b-col>
        </b-row>

        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
          <pre>{{ infoModal.content }}</pre>
        </b-modal>
      </b-container>
    </div>
    
    <div class="row">
      <loader v-show="showLoader"></loader>
    </div>

  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import Loader from "./../../components/layout/loader.vue";

  export default {
    data() {
      return {
        load:true,
        showLoader:false,
        days:200,
        items:[],
        fields: [
          { key: 'ident', label: 'Identificación', sortable: true, sortDirection: 'desc',class: 'text-center' },
          { key: 'rsocial', label: 'Razón Social', sortable: true, sortDirection: 'desc',class: 'text-center' },
          { key: 'telephone', label: 'Telefono Fijo', sortable: true, class: 'text-center' },
          { key: 'cellphone', label: 'Celular', sortable: true, class: 'text-center' },
          { key: 'dmora', label: 'Días Mora', sortable: true, class: 'text-center' },
          { key: 'vmora', label: 'Valor Mora', sortable: true, class: 'text-center' },
          { key: 'tcartera', label: 'Total Cartera', sortable: true, class: 'text-center' },
          { key: 'actions', label: 'Actions' }
        ],
        totalRows: 1,
        currentPage: 1,
        perPage: 8,
        pageOptions: [8, 16, 30],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        infoModal: {
          id: 'info-modal',
          title: '',
          content: ''
        },
        emptyText:'No hay datos para mostrar',
      }
    },
    computed: {
      ...mapState('payment_managment', [
        'customDay'
      ]),
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key }
          })
      }
    },
    mounted() {
      // Set the initial number of items
      this.totalRows = this.items.length
    },
    methods: {
      info(item, index, button) {
        this.infoModal.title = `Row index: ${index}`
        this.infoModal.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', this.infoModal.id, button)
      },
      resetInfoModal() {
        this.infoModal.title = ''
        this.infoModal.content = ''
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      consultarDias(){
        this.items = []
        this.load = true
        this.showLoader = true
        this.$store.dispatch('payment_managment/getDaysDebt',{days:this.days})
      }
    },
    watch:{
      customDay(){
        this.items = this.customDay
        this.load  = false
        this.showLoader = false
      }
    },
    components:{
      Loader,
    }
  }
</script>

<style>
    .el-input__inner {
        height: 31.25px;
    }

    .addpic{
        padding: 2px 2px;
    }

    .divisor{
        background-color: lightgray;
        width: 100%;
    }

    .visor_mora{
        border-top:2.3px solid #00d7ea;
        padding-top: 2%;
    }

    .modal-backdrop{
        background-color: lightgray !important;
        opacity: .5 !important;
    }

</style>
<!-- boton crear  -->
<style lang="sass">
    @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>