<template>
  <card title="<i class='ti-agenda'></i> Cruce de Saldos">
    <preloader v-if="loading" mensaje="Cargando Lista de cuentas" />

    <form data-vv-scope="form-balance-filters" autocomplete="off">
      <div class="row">
        <div class="col-12">
          <span class="col-lg-2 col-md-4 col-12">
            <b-button
              variant="success"
              v-b-modal.modal-search-document
              class="mt-md-0 mt-3 pull-right d-md-block d-none"
              ><i class="fa fa-search"></i> Buscar Documento</b-button
            >
            <b-button
              variant="success"
              v-b-modal.modal-search-document
              block
              class="mt-md-0 mt-3 d-md-none d-block"
              ><i class="fa fa-search"></i> Buscar Documento</b-button
            >
          </span>
        </div>
        <div class="col-md-3">
          <label>Sede</label>
          <el-select
            filterable
            clearable
            size="small"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="filtersCrossBalances.branchoffice_id"
            @change="_fetchVoucherTypesByBranchofficeId"
            :disabled="disabledInputs"
          >
            <el-option
              v-for="branchoffice in ListBranchOffices"
              :key="branchoffice.id"
              :label="branchoffice.name"
              :value="branchoffice.id"
            >
            </el-option>
          </el-select>
        </div>

        <div class="col-md-4">
          <label for="voucherType_id"
            >Tipo Comprobante - Consecutivo {{ getNextConsecutive }}</label
          >
          <el-select
            id="voucherType_id"
            filterable
            clearable
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            placeholder
            v-model="filtersCrossBalances.voucherType_id"
            size="small"
            :disabled="disabledInputs"
          >
            <el-option
              v-for="item in voucherTypes"
              :key="item.value"
              :label="`${item.code} - ${item.label}`"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-3">
          <label for="model_id">Modelo</label>
          <el-select
            id="model_id"
            size="small"
            filterable
            clearable
            no-data-text="No existen datos"
            no-match-text="No hay datos que coincidan"
            placeholder
            v-model="filtersCrossBalances.model_id"
            @focus="_fetchModels"
            :disabled="disabledInputs"
          >
            <el-option
              v-for="item in models"
              :key="item.id"
              :label="`${item.code} - ${item.description}`"
              :value="item.id"
            ></el-option>
          </el-select>
        </div>

        <div class="col-md-3">
          <label>Fecha Saldos</label>
          <br />
          <el-date-picker
            size="small"
            v-model="filtersCrossBalances.monthDate"
            type="month"
            value-format="yyyyMM"
            :disabled="disabledInputs"
          >
          </el-date-picker>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <label for="contact_id">Tercero</label>
          <el-select
            id="contact_id"
            name="contact_id"
            filterable
            placeholder="Seleccione un tercero..."
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            remote
            :remote-method="searchContacts"
            clearable
            v-model="filtersCrossBalances.contact_id"
            size="small"
            v-validate="'required'"
            data-vv-as=" "
            @change="changeContacts"
            :disabled="disabledInputs"
          >
            <el-option
              v-for="contact in contacts"
              :key="contact.id"
              :label="
                contact.identification +
                  ' - ' +
                  contact.name +
                  ' ' +
                  (contact.surname != null ? contact.surname : '')
              "
              :value="contact.id"
            ></el-option>
          </el-select>
          <i class="text-danger icon-error"></i>
          <span class="text-danger span-error">{{
            errors.first("form-balance-filters.contact_id")
          }}</span>
        </div>

        <div class="col-sm-12 col-md-4">
          <label for="contact_warehouse_id">Sucursal</label>
          <el-select
            id="contact_warehouse_id"
            name="contact_warehouse_id"
            filterable
            placeholder="Seleccione un tercero..."
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            remote
            :remote-method="searchContactsWarehouse"
            clearable
            v-model="filtersCrossBalances.contact_warehouse_id"
            size="small"
            v-validate="''"
            data-vv-as=" "
            @change="changeContactWarehouse"
            :disabled="disabledInputs"
          >
            <el-option
              v-for="warehouse in warehouses"
              :key="warehouse.id"
              :label="`${warehouse.code} - ${warehouse.description}`"
              :value="warehouse.id"
            ></el-option>
          </el-select>
          <i class="text-danger icon-error"></i>
          <span class="text-danger span-error">{{
            errors.first("form-balance-filters.contact_warehouse_id")
          }}</span>
        </div>

        <div class="col-sm-12 col-md-4">
          <label for="account_id">Cuenta</label>
          <el-input
            id="account_id"
            name="account_id"
            size="small"
            placeholder=" "
            @focus="openModalAccount($event, filtersCrossBalances, 'primary')"
            :value="
              `${
                filtersCrossBalances.account
                  ? filtersCrossBalances.account.code + '-'
                  : ''
              } ${
                filtersCrossBalances.account
                  ? filtersCrossBalances.account.name
                  : ''
              }`
            "
            v-validate="'required'"
            data-vv-as=" "
            :disabled="disabledInputs"
          >
            <i
              slot="suffix"
              class="el-input__icon el-icon-circle-close el-input__clear"
              v-if="filtersCrossBalances.account"
              @click="deleteAccount(filtersCrossBalances)"
            ></i>
          </el-input>
          <i class="text-danger icon-error"></i>
          <span class="text-danger span-error">{{
            errors.first("form-balance-filters.account_id")
          }}</span>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <table
            v-if="selectedContact"
            id="table-totals"
            class="table table-totals table-sm table-bordered font-weight-bold"
          >
            <tbody>
              <tr>
                <td class="text-right pr-2 td-no-border-right">
                  <p class="pin-table">Telefono:</p>
                </td>
                <td
                  width="50%"
                  class="p-0 td-no-border-left td-background-blue-totals"
                >
                  <input
                    class="input-total-ret"
                    type="text"
                    :value="selectedContact.main_telephone"
                    :disabled="true"
                  />
                </td>
              </tr>
              <tr>
                <td class="text-right pr-2 td-no-border-right">
                  <p class="pin-table">Dirección:</p>
                </td>
                <td
                  width="50%"
                  class="p-0 td-no-border-left td-background-blue-totals"
                >
                  <input
                    class="input-total-ret"
                    type="text"
                    :value="selectedContact.address"
                    :disabled="true"
                  />
                </td>
              </tr>
              <tr>
                <td class="text-right pr-2 td-no-border-right">
                  <p class="pin-table">Ciudad:</p>
                </td>
                <td
                  width="50%"
                  class="p-0 td-no-border-left td-background-blue-totals"
                >
                  <input
                    class="input-total-ret"
                    type="text"
                    :value="`${''}`"
                    :disabled="true"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-2">
          <b-button
            v-if="action !== 'view'"
            :disabled="loadingListBalance"
            variant="primary"
            @click="searchListBalance"
          >
            <span v-if="!loadingListBalance">Listar Saldos</span>
            <span v-else>
              <i class="fa fa-spinner fa-spin"></i> Buscando...
            </span>
          </b-button>
        </div>
      </div>
    </form>

    <hr />
    <div v-if="action !== 'view'" class="row">
      <div class="col-12">
        <GridBalancesFavor />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <GridCrossBalances />
      </div>
    </div>

    <div class="row" v-if="action !== 'view'">
      <div class="col-12 text-center">
        <b-button variant="primary" @click="handleFinalizeDocumentCrossBalance">
          Finalizar Cruces
        </b-button>
      </div>
    </div>
    <b-button
      class="float-right mr-3"
      v-if="action === 'view'"
      variant="danger"
      @click="() => console.log('ok')"
    >
      <span class="btn-label">
        <i class="fa fa-file-pdf-o"></i>
      </span>
      Reimprimir
    </b-button>

    <!-- modals -->
    <ModalAccount @selectedAccount="selectedAccount" :scrollable="true" />

    <ModalBalanceContact :openModalAccount="openModalAccount" />

    <b-modal
      id="modal-search-document"
      title="Buscar Documento"
      class="modal-backdrop"
      size="xl"
    >
      <list-document-global
        :pmodel_id="filtersCrossBalances.model_id"
        :pvouchers_types_id="filtersCrossBalances.voucherType_id"
      />

      <!-- BOTONES MODAL-->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" @click="cancel()">cerrar</b-button>
      </template>
    </b-modal>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

import GridBalancesFavor from "./components/GridBalancesFavor";
import GridCrossBalances from "./components/GridCrossBalances";
import ModalBalanceContact from "./components/ModalBalanceContact";

import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal.vue";

export default {
  components: {
    Card,
    GridU2,
    Preloader,
    ModalAccount,
    GridBalancesFavor,
    GridCrossBalances,
    ModalBalanceContact,
    ListDocumentGlobal
    // loader,
  },
  data() {
    return {
      options: {
        selectable: false,
        multiselect: false,
        showFooter: false,
        type_currency: "COP"
      },
      itemAccount: "",
      itemAccountModule: "",
      loading: false,
      loadingListBalance: false,
      disabledInputs: false
    };
  },
  methods: {
    ...mapActions("balanceCrossing", [
      "accountsDefaultCrossBalances",
      "fetchFavorBalanceContact",
      "fetchPendingBalanceContact",
      "fetchWarehouses",
      "createDocumentByCrossBalance",
      "checkDocumentInitiatedByAnotherUser",
      "finalizeDocumentCrossBalance",
      "getDocumentCross"
    ]),
    ...mapMutations("balanceCrossing", [
      "setSelectedBalancesFavor",
      "resetFiltersCrossBalances",
      "resetDocumentCrossBalance",
      "resetGridBalancesFavor",
      "resetGridBalancesContact",
      "setAction"
    ]),
    ...mapActions("inventoryMovements", ["fetchContacts"]),
    ...mapMutations("inventoryMovements", ["setParamsContacts", "setContacts"]),
    ...mapActions("models", [
      "fetchModels",
      "fetchVoucherTypesByBranchofficeId"
    ]),
    ...mapActions("branchOffices", ["fetchBranchOffices"]),
    async initComponent() {
      const params_id = this.$route.params.id;
      this.loading = true;

      await this.fetchBranchOffices({ paginate: false });
      await this.accountsDefaultCrossBalances();

      this.itemAccount = this.filtersCrossBalances;
      await this.selectedAccount(this.accountDefault, false);

      // Sede por defecto
      await this.selectedBranchofficeDefault();

      // Fecha por defecto
      await this.dateBalanceForDefault();

      if (params_id) {
        this.setAction("view");
        this.disabledInputs = true;
        this.getDocumentCross(params_id);
      }

      this.loading = false;
    },
    dateBalanceForDefault() {
      var todayDate = new Date().toISOString().slice(0, 7);
      this.filtersCrossBalances.monthDate = todayDate;
    },
    async _fetchVoucherTypesByBranchofficeId(branchoffice_id) {
      await this.fetchVoucherTypesByBranchofficeId(branchoffice_id);

      // Seleccionar por defecto el modelo 442
      const voucherTypesDefault = this.voucherTypes.find(v => v.code === "442");

      if (voucherTypesDefault) {
        this.filtersCrossBalances.voucherType_id = voucherTypesDefault.value;
      }
    },
    selectedBranchofficeDefault() {
      const selected_branchoffice = parseInt(
        localStorage.selected_branchoffice
      );

      this.filtersCrossBalances.branchoffice_id = selected_branchoffice;
      this._fetchVoucherTypesByBranchofficeId(
        this.filtersCrossBalances.branchoffice_id
      );
    },
    searchContacts(filter) {
      if (filter.length >= 3) {
        this.setParamsContacts(filter);
        this.fetchContacts();
      }
    },
    searchContactsWarehouse(filter) {
      if (filter.length >= 3) {
        this.fetchWarehouses({
          filterText: filter
        });
      }
    },
    openModalAccount(event, item, template = "") {
      this.itemAccount = item;
      this.itemAccountModule = template;

      event.target.blur();
      this.$bvModal.show("modal-account");
    },
    closeModalAccount() {
      this.$bvModal.hide("modal-account");
    },
    selectedAccount(account, refetch = true) {
      this.itemAccount.account = account;
      this.itemAccount.account_id = account.id;

      if (this.itemAccountModule === "primary") {
        this.modalBalanceContact.account = account;
        this.modalBalanceContact.account_id = account.id;
      }

      this.closeModalAccount();

      if (refetch) {
        this.searchListBalance();
      }
    },
    deleteAccount(item) {
      item.account = "";
      item.account_id = "";
    },
    _fetchModels() {
      if (this.models.length === 0) {
        this.fetchModels({ paginate: false });
      }
    },
    async searchListBalance() {
      this.loadingListBalance = true;

      let validate = await this.validateFormFilters();

      if (validate) {
        await this.checkDocumentInitiatedByAnotherUser();

        if (this.documentInitiatedByAnotherUser.user) {
          const {
            name,
            surname
          } = this.documentInitiatedByAnotherUser.user.contact;

          await this.$alert(
            `El usuario ${name} ${
              surname ? surname : ""
            } esta laborando un comprobante de cruce para el mismo tercero.`,
            "Alerta",
            {
              confirmButtonText: "Aceptar",
              type: "warning",
              customClass: "order-box",
              dangerouslyUseHTMLString: true
            }
          );

          this.loadingListBalance = false;
          this.resetFiltersCrossBalances();
          return;
        }

        await this.createDocumentByCrossBalance();
        await this.fetchFavorBalanceContact();
        await this.fetchPendingBalanceContact();
      }

      this.loadingListBalance = false;
    },
    async validateFormFilters() {
      let validate = true;

      await this.$validator
        .validateAll("form-balance-filters")
        .then(async result => {
          if (result) {
          } else {
            this.loadingListBalance = false;
            validate = false;
          }
        });

      return validate;
    },
    async changeContactWarehouse(id) {
      const warehouse = this.warehouses.find(w => w.id === id);
      await this.setContacts([warehouse.contact]);
      this.filtersCrossBalances.contact_id = warehouse.contact.id;
    },
    async changeContacts(id) {
      if (id) {
        await this.fetchWarehouses({
          contact_id: id
        });

        if (this.warehouses.length > 0) {
          this.filtersCrossBalances.contact_warehouse_id = this.warehouses[0].id;
        }
      }
    },
    async handleFinalizeDocumentCrossBalance() {
      this.loading = true;
      await this.finalizeDocumentCrossBalance();

      if (this.finalizeDocument) {
        this.loading = false;
        this.resetFiltersCrossBalances();
        this.resetDocumentCrossBalance();
        this.resetGridBalancesFavor();
        this.resetGridBalancesContact();

        await this.$alert("Documento finalizado correctamente.", "Exito!", {
          confirmButtonText: "Aceptar",
          type: "success",
          customClass: "order-box",
          dangerouslyUseHTMLString: true
        });
        return;
      }

      this.loading = false;
    }
  },
  computed: {
    ...mapState("balanceCrossing", [
      "gridBalancesFavor",
      "gridCrossBalances",
      "filtersCrossBalances",
      "accountDefault",
      "showModalBalanceContact",
      "modalBalanceContact",
      "warehouses",
      "documentCrossBalance",
      "documentInitiatedByAnotherUser",
      "finalizeDocument",
      "action"
    ]),
    ...mapState("inventoryMovements", ["contacts"]),
    ...mapState("models", ["models", "voucherTypes"]),
    ...mapState("branchOffices", ["ListBranchOffices"]),
    getNextConsecutive() {
      let voucherType = this.voucherTypes.find(
        v => v.value === this.filtersCrossBalances.voucherType_id
      );

      if (voucherType) {
        return voucherType.consecutive_number + 1;
      }

      return null;
    },
    selectedContact() {
      return this.contacts.find(
        c => c.id === this.filtersCrossBalances.contact_id
      );
    }
  },
  created() {
    this.initComponent();
  },
  // beforeRouteUpdate(to, from, next) {
  //   let toPath = to.fullPath.split("/");
  //   let fromPath = from.fullPath.split("/");

  //   next();

  //   // Se la ruta es la misma a la enterior actualizamos el compoenente
  //   console.log(toPath[1], fromPath[1]);
  //   if (toPath[1] === fromPath[1]) {
  //     this.$bvModal.hide("modal-search-document");
  //     this.initComponent();
  //   }
  // },
  watch: {
    "$route.path": function(val, oldVal) {
      this.$bvModal.hide("modal-search-document");
      this.initComponent();
    }
  }
};
</script>
<style>
.table-totals {
  width: auto;
}
.td-no-border-right {
  border-right: none !important;
}
.td-no-border-left {
  border-left: none !important;
}
.input-total-ret {
  border: none !important;
  width: 100%;
  float: right;
  text-align: right;
  font-weight: bold;
  height: 100%;
  outline: none;
  background: none;
}
.td-background-blue-totals {
  background: rgb(238, 246, 255) !important;
}
.pin-table {
  line-height: 0px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
</style>
<style lang="scss" scoped>
$color: #f4c805;

label {
  font-weight: 600;
}

.input {
  height: 40px;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
</style>
