<template>
  <div>
    <form
      @submit.prevent="validateActionSubline()"
      data-vv-scope="form-sublinea"
    >
      <!-- ACORDEON DE INFORMACIÓN GENERAL FUNCIONARIOS-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.general_data id="acordeon"
          >INFORMACIÓN GENERAL</b-btn
        >
        <b-collapse id="general_data" visible role="tabpanel">
          <b-card-body>
            <div class="row">
              <div
                class="form-group col-sm-6 col-md-3"
                v-if="filterFields('codigo')"
                v-bind:class="
                  errors.has('form-sublinea.subline_code')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="subline_code"
                  >Código<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="subline_code"
                  name="subline_code"
                  class="form-control"
                  v-validate="'required|max:15'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedSubline.subline_code"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-sublinea.subline_code") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-5"
                v-if="filterFields('descripcion')"
                v-bind:class="
                  errors.has('form-sublinea.subline_description')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="subline_description"
                  >Descripción<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="subline_description"
                  name="subline_description"
                  class="form-control"
                  style="text-transform: uppercase"
                  v-validate="'required|max:255'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedSubline.subline_description"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-sublinea.subline_description") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-4"
                v-if="filterFields('descripcion corta')"
                v-bind:class="
                  errors.has('form-sublinea.short_description')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="short_description">Descripción Corta</label>
                <input
                  type="text"
                  id="short_description"
                  name="short_description"
                  style="text-transform: uppercase"
                  class="form-control"
                  v-validate="'max:100'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedSubline.short_description"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-sublinea.short_description") }}
                </span>
              </div>
            </div>
            <div class="row">
              <div
                class="form-group col-sm-6 col-md-3"
                v-if="filterFields('bloqueo compra')"
                v-bind:class="
                  errors.has('form-sublinea.lock_buy') ? 'form-group-error' : ''
                "
              >
                <label for="lock_buy">
                  Bloqueo Compra
                </label>
                <br />
                <b-form-radio-group
                  id="lock_buy"
                  buttons
                  :disabled="disabledInputs"
                  :options="[
                    { text: 'SI', value: 1 },
                    { text: 'NO', value: 0 }
                  ]"
                  name="lock_buy"
                  v-model="selectedSubline.lock_buy"
                  :button-variant="
                    selectedSubline.lock_buy == 1
                      ? 'outline-primary'
                      : 'outline-secondary'
                  "
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-sublinea.lock_buy") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-if="filterFields('bloqueo venta')"
                v-bind:class="
                  errors.has('form-sublinea.block_sale')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="block_sale">
                  Bloqueo Venta
                </label>
                <br />
                <b-form-radio-group
                  id="block_sale"
                  buttons
                  :disabled="disabledInputs"
                  :options="[
                    { text: 'SI', value: 1 },
                    { text: 'NO', value: 0 }
                  ]"
                  name="block_sale"
                  v-model="selectedSubline.block_sale"
                  :button-variant="
                    selectedSubline.block_sale == 1
                      ? 'outline-primary'
                      : 'outline-secondary'
                  "
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-sublinea.block_sale") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-if="filterFields('margen costo')"
                v-bind:class="
                  errors.has('form-sublinea.margin_cost')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="margin_cost">Margen Costo</label>
                <input
                  type="text"
                  id="margin_cost"
                  name="margin_cost"
                  class="form-control"
                  v-validate="'max:100'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedSubline.margin_cost"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-sublinea.margin_cost") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-if="filterFields('calcular precio venta')"
                v-bind:class="
                  errors.has('form-sublinea.calculates_sale_price')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="calculates_sale_price">
                  Calcular Precio Venta
                </label>
                <br />
                <b-form-radio-group
                  id="calculates_sale_price"
                  buttons
                  :disabled="disabledInputs"
                  :options="[
                    { text: 'SI', value: 1 },
                    { text: 'NO', value: 0 }
                  ]"
                  name="calculates_sale_price"
                  v-model="selectedSubline.calculates_sale_price"
                  :button-variant="
                    selectedSubline.calculates_sale_price == 1
                      ? 'outline-primary'
                      : 'outline-secondary'
                  "
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-sublinea.calculates_sale_price") }}
                </span>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
      <!-- ACORDEON DE INFORMACIÓN DE CONTABILIDAD-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.contability_data id="acordeon"
          >INFORMACIÓN DE CONTABILIDAD</b-btn
        >
        <b-collapse visible id="contability_data" ole="tabpanel">
          <b-card-body>
            <div class="row">
              <div
                class="col-md-4 col-sm-6 form-group"
                v-if="filterFields('cuenta Inventario')"
              >
                <label for="inventories_account">Cuenta Inventario</label>
                <el-input
                  :disabled="disabledInputs"
                  id="inventories_account"
                  size="small"
                  placeholder=" "
                  @focus="openModalAccount($event, 'inventories_account')"
                  :value="
                    `${
                      selectedSubline.inventorie_account
                        ? selectedSubline.inventorie_account.code
                        : ''
                    } - ${
                      selectedSubline.inventorie_account
                        ? selectedSubline.inventorie_account.name
                        : ''
                    }`
                  "
                >
                  <i
                    slot="suffix"
                    @click="deleteAccount('inventories_account')"
                    class="el-input__icon el-icon-circle-close el-input__clear"
                    v-if="selectedSubline.inventorie_account"
                  ></i>
                </el-input>
              </div>
              <div
                class="col-md-4 col-sm-6 form-group"
                v-if="filterFields('cuenta costo')"
              >
                <label for="account_cost">Cuenta Costo</label>
                <el-input
                  :disabled="disabledInputs"
                  id="account_cost"
                  size="small"
                  placeholder=" "
                  @focus="openModalAccount($event, 'account_cost')"
                  :value="
                    `${
                      selectedSubline.cost_account
                        ? selectedSubline.cost_account.code
                        : ''
                    } - ${
                      selectedSubline.cost_account
                        ? selectedSubline.cost_account.name
                        : ''
                    }`
                  "
                >
                  <i
                    slot="suffix"
                    @click="deleteAccount('account_cost')"
                    class="el-input__icon el-icon-circle-close el-input__clear"
                    v-if="selectedSubline.cost_account"
                  ></i>
                </el-input>
              </div>
              <div
                class="col-md-4 col-sm-6 form-group"
                v-if="filterFields('cuenta venta')"
              >
                <label for="sales_account">Cuenta Ventas</label>
                <el-input
                  :disabled="disabledInputs"
                  id="sales_account"
                  size="small"
                  placeholder=" "
                  @focus="openModalAccount($event, 'sales_account')"
                  :value="
                    `${
                      selectedSubline.sale_account
                        ? selectedSubline.sale_account.code
                        : ''
                    } - ${
                      selectedSubline.sale_account
                        ? selectedSubline.sale_account.name
                        : ''
                    }`
                  "
                >
                  <i
                    slot="suffix"
                    @click="deleteAccount('sales_account')"
                    class="el-input__icon el-icon-circle-close el-input__clear"
                    v-if="selectedSubline.sale_account"
                  ></i>
                </el-input>
              </div>
            </div>

            <div class="row">
              <div
                class="col-md-4 col-sm-6 form-group"
                v-if="filterFields('Cuenta Devol Ventas')"
              >
                <label for="devol_sales_account">Cuenta Devol Ventas</label>
                <el-input
                  id="devol_sales_account"
                  size="small"
                  placeholder=" "
                  @focus="openModalAccount($event, 'devol_sales_account')"
                  :value="
                    `${
                      selectedSubline.devol_sale_account
                        ? selectedSubline.devol_sale_account.code
                        : ''
                    } - ${
                      selectedSubline.devol_sale_account
                        ? selectedSubline.devol_sale_account.name
                        : ''
                    }`
                  "
                >
                  <i
                    slot="suffix"
                    @click="deleteAccount('devol_sales_account')"
                    class="el-input__icon el-icon-circle-close el-input__clear"
                    v-if="selectedSubline.devol_sale_account"
                  ></i>
                </el-input>
              </div>
            </div>

            <div class="row" v-if="!disabledInputs">
              <div class="form-group col-12">
                <b-button
                  type="submit"
                  class="btn btn-labeled btn-primary float-right ml-1 otro-boton"
                >
                  <span class="btn-label">
                    <i class="ti-save-alt"> </i>
                  </span>
                  &nbsp;
                  {{
                    this.actionSubline == "create" ? "Guardar" : "Actualizar"
                  }}
                </b-button>
                <b-button
                  type="button"
                  id="limpiar"
                  class="btn btn-labeled btn-secondary float-right"
                  @click="clearSubline()"
                >
                  <span class="btn-label">
                    <i class="ti-close"> </i>
                  </span>
                  &nbsp;
                  {{ this.actionSubline == "create" ? "Limpiar" : "Nuevo" }}
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>

    <!--ACORDEON FUNCIONARIOS REGISTRADOS-->
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.sublines-list id="acordeon"
        >SUBLINEAS REGISTRADAS</b-btn
      >
      <b-collapse id="sublines-list" visible ole="tabpanel">
        <b-card-body>
          <div class="row">
            <grid-u2 :columns="fieldsSublinesTable" :items="sublines.data">
              <!--Template para cargar las acciones-->
              <template slot="actions" slot-scope="row">
                <b-button variant="primary" @click="setSublineComp(row.item)">
                  {{ disabledInputs ? "Ver" : "Editar" }}
                </b-button>
                <b-button
                  v-if="!disabledInputs"
                  variant="danger"
                  @click="questionDeleteSubline(row.item)"
                >
                  Eliminar
                </b-button>
              </template>
            </grid-u2>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
    <!-- MODALS -->
    <ModalAccount
      ref="modal-account-subline"
      @selectedAccount="selectedAccount"
    />
  </div>
</template>

<script>
// Imports para inputs de fecha del formulario con FlatPicker
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es.js";
import "flatpickr/dist/flatpickr.css";
import { MessageBox } from "element-ui";

import GridU2 from "../../components/u2/grid";
import ModalAccount from "../../components/accounts/modal-account";

flatpickr.localize(Spanish);

//Vuex
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "maintenance",
  props: ["disabledInputs"],
  components: {
    GridU2,
    flatPickr,
    ModalAccount
  },
  data() {
    return {
      typeAccount: "",
      responseUpdate: false,
      fieldsSublinesTable: [
        { field: "subline_code", name: "Código" },
        { field: "subline_description", name: "Descripción" },
        { field: "actions", name: "Opciones" }
      ],
      options: [
        { value: 1, label: "Option1" },
        { value: 2, label: "Option2" },
        { value: 3, label: "Option3" },
        { value: 4, label: "Option4" },
        { value: 5, label: "Option5" },
        { value: 6, label: "Option6" }
      ],
      filter_fields: ""
    };
  },
  created() {
    console.log(this.$refs);
    // lista de cuentas
    this.fetchAccountsInventory();
    this.fetchAccountsCost();
    this.fetchAccountsSales();
  },
  methods: {
    _filterAccountInventory(text) {
      this.paramsAccountInventory.filter = text;
      this.fetchAccountsInventory();
    },
    _filterAccountCost(text) {
      this.paramsAccountCost.filter = text;
      this.fetchAccountsCost();
    },
    _filterAccountSales(text) {
      this.paramsAccountSales.filter = text;
      this.fetchAccountsSales();
    },
    async validateActionSubline() {
      this.$validator.validateAll("form-sublinea").then(result => {
        if (!result) {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
        }
      });

      if (!this.errorsSublines) {
        if (this.actionSubline == "create") {
          await this.addSubline(this.$route.params.id);
          this.clearSubline();
        } else {
          await this.$confirm("¿Está seguro de actualizar?", "Actualizar", {
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
            type: "warning",
            customClass: "notification-warning"
          }).then(result => {
            this.responseUpdate = result;
          });

          if (this.responseUpdate) {
            await this.updateSubline();
            this.clearSubline();
            this.responseUpdate = false;
          }
        }
      }
    },
    clearSubline() {
      this.resetSelectedSubline();
      this.$validator.reset("form-sublinea");
      this.setActionSublines("create");
    },
    async setSublineComp(subline) {
      await this.setSubline(subline);
      this.setActionSublines("update");
    },
    questionDeleteSubline(selectedSubline) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(result => {
          if (result) {
            this.removeSubline(selectedSubline);
            this.clearSubline();
          }
        })
        .catch(function(result) {});
    },
    listenCard(filter_fields) {
      this.filter_fields = filter_fields;
    },
    filterFields(text) {
      return text.toLowerCase().indexOf(this.filter_fields.toLowerCase()) >= 0;
    },
    deleteAccount(typeAccount) {
      switch (typeAccount) {
        case "inventories_account":
          this.selectedSubline.inventorie_account = "";
          this.selectedSubline.inventories_account = "";
          break;
        case "account_cost":
          this.selectedSubline.cost_account = "";
          this.selectedSubline.account_cost = "";
          break;
        case "sales_account":
          this.selectedSubline.sale_account = "";
          this.selectedSubline.sales_account = "";
          break;
        case "devol_sales_account":
          this.selectedSubline.devol_sale_account = "";
          this.selectedSubline.devol_sales_account = "";
          break;
      }
    },
    selectedAccount(account) {
      if (account) {
        switch (this.typeAccount) {
          case "inventories_account":
            this.selectedSubline.inventorie_account = account;
            this.selectedSubline.inventories_account = account.id;
            break;
          case "account_cost":
            this.selectedSubline.cost_account = account;
            this.selectedSubline.account_cost = account.id;
            break;
          case "sales_account":
            this.selectedSubline.sale_account = account;
            this.selectedSubline.sales_account = account.id;
            break;
          case "devol_sales_account":
            this.selectedSubline.devol_sale_account = account;
            this.selectedSubline.devol_sales_account = account.id;
            break;
        }
      }
      this.closeModalAccount();
    },
    openModalAccount(event, type) {
      this.typeAccount = type;
      event.target.blur();
      this.$bvModal.show("modal-account");
    },
    closeModalAccount() {
      this.$bvModal.hide("modal-account");
    },
    ...mapActions("sublines", [
      "fetchSublines",
      "addSubline",
      "updateSubline",
      "removeSubline",
      "getSubline",
      "updateDataSheetToLine",
      "fetchAccountsInventory",
      "fetchAccountsCost",
      "fetchAccountsSales"
    ]),
    ...mapMutations("sublines", [
      "setActionSublines",
      "setSubline",
      "resetSelectedSubline"
    ])
  },
  computed: {
    errorsSublines() {
      return this.errors.items.filter(i => i.scope == "form-sublinea").length;
    },
    ...mapState("sublines", [
      "sublines",
      "actionSubline",
      "selectedSubline",
      "accountsInventory",
      "paramsAccountInventory",
      "accountsSales",
      "paramsAccountSales",
      "accountsCost",
      "paramsAccountCost"
    ])
  },
  mounted() {
    this.fetchSublines();
  }
};
</script>
<style>
.el-input__inner {
  height: 31.25px !important;
}
</style>
