<template>
  <card :title="`<i class='ti-file'></i> Autorizar Documentos`">
    <preloader
      v-show="loadingAuthorizedDocuments"
      mensaje="Generando reporte"
    ></preloader>
    <template v-slot:header-right>
      <span class="float-right">
        <b-button variant="success" v-b-modal.modal-search-document
          >Buscar Documento</b-button
        >
      </span>
    </template>
    <loader v-if="loadingBaseDocuments" />

    <div v-else class="row main">
      <div class="col-12">
        <button class="btn btn-success float-right" @click="modalReport = true">
          Reporte
        </button>
      </div>
      <div class="col-12">
        <!-- TABLA -->
        <div class="row">
          <div v-if="loadingBaseDocuments" class="w-100 my-3 text-center">
            <b-spinner label="Spinning"></b-spinner>
          </div>

          <grid-u2
            v-else
            :columns.sync="columns"
            :items.sync="documentsByAuthorize"
          >
            <template slot="warehouse.description" slot-scope="row">
              <div>
                {{ row.item.contact.name }}
                {{ row.item.contact.surname ? row.item.contact.surname : "" }}
              </div>
            </template>
            <template slot="branchoffice.name" slot-scope="row">
              <div>
                {{ row.item.branchoffice.name }} -
                {{ row.item.branchoffice_warehouse.warehouse_description }}
              </div>
            </template>
            <template slot="user_solicit_authorization.name" slot-scope="row">
              <div>
                {{
                  row.item.user_solicit_authorization
                    ? row.item.user_solicit_authorization.name
                    : ""
                }}
                {{
                  row.item.user_solicit_authorization &&
                  row.item.user_solicit_authorization.surname
                    ? row.item.user_solicit_authorization.surname
                    : ""
                }}
              </div>
            </template>
            <template slot="document_status" slot-scope="row">
              <div>
                <span>Pendiente</span>
              </div>
            </template>
            <template slot="total_value" slot-scope="row">
              <div>{{ row.item.total_value | currency }}</div>
            </template>

            <template slot="actions" slot-scope="row">
              <b-button
                v-if="validationToSelected(row.item)"
                size="sm"
                variant="primary"
                :to="routeToSelect(row.item)"
                >Seleccionar
              </b-button>
              <b-button
                size="sm"
                variant="danger"
                @click="_closeDocument(row.item.id, true)"
                >Rechazar
              </b-button>
            </template>
          </grid-u2>
        </div>

        <b-modal
          id="modal-search-document"
          title="Buscar Documento"
          class="modal-backdrop"
          size="xl"
          modal-class="u2-modal-size"
        >
          <ListDocumentGlobal />

          <!-- BOTONES MODAL-->
          <template v-slot:modal-footer="{ ok, cancel, hide }">
            <b-button size="sm" @click="cancel()">cerrar</b-button>
          </template>
        </b-modal>

        <!--MODAL REPORTE-->
        <b-modal
          title="Reporte de documentos autorizados"
          class="modal-backdrop"
          size="md"
          v-model="modalReport"
          centered
        >
          <div class="col-12 range_date">
            <label for="range_date">Fechas</label>
            <br />
            <el-date-picker
              v-model="params.dates"
              type="daterange"
              id="range_date"
              name="range_date"
              :clearable="false"
              range-separator="a"
              start-placeholder=""
              end-placeholder=""
              data-vv-as=" "
              value-format="yyyy-MM-dd"
              style="height: 31.25px !important;"
            >
            </el-date-picker>
          </div>
          <template v-slot:modal-footer="{ ok, cancel, hide }">
            <b-button size="sm" @click="_generateReportAuthorizedDocuments()"
              >Generar reporte</b-button
            >
          </template>
        </b-modal>

        <!-- DOWNLOAD DOCUMENT -->
        <b-modal
          id="modal-download-document"
          title="Dercargar Documento"
          class="modal-backdrop"
          size="lg"
        >
          <DownloadDocument />

          <!-- BOTONES MODAL-->
          <template v-slot:modal-footer="{ ok, cancel, hide }">
            <b-button size="sm" @click="cancel()">cerrar</b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </card>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";
import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";
import DownloadDocument from "../../components/pages/inventory-movements/DownloadDocument";
import loader from "./../../components/layout/loader";
import Preloader from "../../components/layout/preloader";

export default {
  name: "index",
  components: {
    Card,
    GridU2,
    ListDocumentGlobal,
    DownloadDocument,
    loader,
    Preloader
  },
  data() {
    return {
      filter_date: [],
      columns: [],
      loading: false,
      baseDocuments: [],
      selected_branchoffice: null,
      selected_branchoffice_warehouse: null,
      modalReport: false,
      params: {
        dates: []
      }
    };
  },
  methods: {
    ...mapActions("baseDocuments", [
      "getDocumentByAuthorize",
      "closeDocument",
      "generateReportAuthorizedDocuments"
    ]),
    ...mapMutations("baseDocuments", [
      "setDateRangeParam",
      "setLoadingBaseDocuments",
      "setLoadingAuthorizedDocuments"
    ]),
    async _generateReportAuthorizedDocuments() {
      console.log(this.params.dates);
      this.generateReportAuthorizedDocuments(this.params.dates);
      this.modalReport = false;
    },
    async _closeDocument(id, state) {
      const data = {
        id: id,
        state: state
      };

      const message = state ? "Cerrar" : "Reabrir";

      await this.$confirm(
        `Esta seguro que desea ${message} el documento?`,
        "Cambiar estado",
        {
          confirmButtonText: "SI",
          cancelButtonText: "NO",
          type: "warning",
          customClass: "notification-warning"
        }
      ).then(result => {
        if (result) {
          this.closeDocument(data);
        }
      });

      this.getDocumentByAuthorize();
    },
    fecha() {
      const end = new Date();
      const start = new Date();
      start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);

      let startDate =
        start.getFullYear() +
        "-" +
        this.addZeroToDayOrMonth(start.getMonth()) +
        "-" +
        this.addZeroToDayOrMonth(start.getDate());
      let endDate =
        end.getFullYear() +
        "-" +
        this.addZeroToDayOrMonth(end.getMonth()) +
        "-" +
        this.addZeroToDayOrMonth(end.getDate());

      this.params.dates = [startDate, endDate];
    },
    addZeroToDayOrMonth(dayOrMonth) {
      return dayOrMonth < 10 ? "0" + dayOrMonth : dayOrMonth;
    },
    validationToSelected(item) {
      let validation = true;

      if (item.closed) {
        validation = false;
      }

      if (item.branchoffice_id != this.selected_branchoffice) {
        validation = false;
      }

      if (
        item.branchoffice_warehouse_id != this.selected_branchoffice_warehouse
      ) {
        validation = false;
      }

      return validation;
    },
    async initComponent() {
      this.selected_branchoffice = localStorage.selected_branchoffice;
      this.selected_branchoffice_warehouse =
        localStorage.selected_branchoffice_warehouse;

      this.setLoadingBaseDocuments(true);
      await this.getDocumentByAuthorize();
      this.setLoadingBaseDocuments(false);
    },
    routeToSee(item) {
      return "/movimientos/" + item.model_id + "/" + item.id + "/ver";
    },
    routeToSelect(item) {
      if (item.operationType_id == 4) {
        if (item.vouchertype.code_voucher_type == 243) {
          return "/traslado-rot/" + item.id + "/ver";
        } else {
          return "/traslado/" + item.id + "/ver";
        }
      } else if (item.operationType_id == 3) {
        if (item.vouchertype.code_voucher_type == 143) {
          return "/traslado-rot/" + item.thread + "/ver";
        } else {
          return "/traslado/" + item.thread + "/ver";
        }
      } else {
        return "/movimientos/" + item.model_id + "/" + item.id + "/actualizar";
      }
    }
  },
  computed: {
    ...mapState("baseDocuments", [
      "documentsByAuthorize",
      "loadingBaseDocuments",
      "loadingAuthorizedDocuments"
    ]),
    ...mapGetters("baseDocuments", ["getParams"])
  },
  async created() {
    this.fecha();
    await this.initComponent();
  },
  beforeMount() {
    // Agrega los datos a la tabla

    let currentRoute = this.$router.currentRoute
    console.log(currentRoute.path)

    this.columns = [
      {
        name: "Fecha",
        field: "document_date"
      },
      {
        name: "Sede - Bodega",
        field: "branchoffice.name"
      },
      {
        name: "Tipo Documento",
        field: "vouchertype.name_voucher_type"
      },
      {
        name: "Cliente",
        field: "warehouse.description"
      },
      {
        name: "Solicitado por",
        field: "user_solicit_authorization.name"
      },
      {
        name: "Valor total",
        field: "total_value"
      },
      {
        name: "Estado",
        field: "document_status"
      }
    ];

    if (currentRoute.path === '/documentos-por-autorizar'){
      this.columns.push({
        name: "Acciones",
        field: "actions"
      })
    }
  }
};
</script>

<style>
.range_date > .el-range-editor.el-input__inner {
  width: 100%;
}

.u2-modal-size .modal-dialog,
.u2-modal-size .modal-xl {
  /* width: 1300px !important;
  max-width: 1300px !important; */
  width: 100% !important;
}
</style>
<style lang="scss" scoped>
$color: #f4c805;

label {
  font-weight: 600;
}

.input {
  height: 40px;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
</style>
