<template>
  <card title="<i class='ti-money'></i> Formas de Pago">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <b-row>
        <b-form-group
          class="col-12 col-md-4"
          :class="errors.has('form.code') ? 'form-group-error' : ''"
        >
          <label for="code">
            <strong>Código</strong>
          </label>
          <span class="text-danger">*</span>
          <b-form-input
            id="code"
            name="code"
            placeholder="Código"
            v-validate="'required'"
            :disabled="disabledInputs"
            data-vv-as=" "
            v-model="selectedPaymentMethods.code"
          />
          <i class="text-danger icon-error"></i>
          <span class="text-danger span-error">{{ errors.first("form.code") }}</span>
        </b-form-group>

        <b-form-group
          class="col-12 col-md-4"
          :class="errors.has('form.description') ? 'form-group-error' : ''"
        >
          <label for="description">
            <strong>Descripción</strong>
          </label>
          <span class="text-danger">*</span>
          <b-form-input
            id="description"
            name="description"
            placeholder="Descripción"
            :disabled="disabledInputs"
            v-validate="'required'"
            data-vv-as=" "
            v-model="selectedPaymentMethods.description"
          />
          <i class="text-danger icon-error"></i>
          <span class="text-danger span-error">{{ errors.first("form.description") }}</span>
        </b-form-group>

        <b-form-group class="col-12 col-md-4">
          <label for="accountingAccount">
            <strong>Cuenta Contable</strong>
          </label>
          <b-form-input
            v-model="selectedPaymentMethods.accounting_account"
            id="accountingAccount"
            name="accountingAccount"
            :disabled="disabledInputs"
            placeholder="Cuenta Contable"
          />
        </b-form-group>
      </b-row>

      <b-row>
        <b-form-group class="col-12 col-md-4">
          <label for="commission">
            <strong>% Comisión</strong>
          </label>
          <b-form-input
            v-model="selectedPaymentMethods.commission_percentage"
            id="commission"
            type="number"
            name="commission"
            placeholder=" % Comisión"
            :disabled="disabledInputs"
          />
        </b-form-group>

        <!-- <b-form-group class="col-12 col-md-4">
      <label for="description"><strong>Requiere Autorización</strong></label>
       <el-select  multiple clearable  :disabled="disabledInputs">
     <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
       
        </b-form-group>-->
      </b-row>

      <!--BOTONES DEL FORMULARIO-->
      <div class="form-actions">
        <b-button id="sub" v-if="actionForm != 'view'" type="submit" class="boton-guardar">
          <span class="btn-label">
            <i class="ti-save-alt"></i>
          </span>
          Guardar
        </b-button>
        <b-button
          to="/formas-pago"
          type="button"
          variant="secondary"
          class="float-left"
          @click="clearSelectedModel"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span>
          Volver
        </b-button>
        <b-button
          v-if="actionForm != 'view'"
          type="reset"
          value="Limpiar"
          class="otro-boton float-left"
          @click="clearSelectedModel"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
            Limpiar
          </span>
        </b-button>
      </div>
    </form>
  </card>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import Card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";

export default {
  components: { Card },
  data() {
    return {};
  },

  async beforeMount() {
    await this.setdisabledInputs(false);
    await this.setActionForm("create");
    let id = this.$route.params.id;
    let idv = this.$route.params.idv;

    if (id) {
      this.setActionForm("update");
      await this.getPaymentMethodById(id);
    }

    if (idv) {
      this.setActionForm("view");
      this.setdisabledInputs(true);
      await this.getPaymentMethodById(idv);
    }
  },

  methods: {
    ...mapActions("paymentMethods", [
      "getPaymentMethods",
      "createPaymentMethod",
      "getPaymentMethodById",
      "updatePaymentmethod"
    ]),
    ...mapMutations("paymentMethods", [
      "clearSelectedModel",
      "setActionForm",
      "setdisabledInputs"
    ]),
    async validateForm() {
      await this.$validator.validateAll("form").then(async result => {
        if (result) {
          if (this.actionForm == "create") {
            await this.createPaymentMethod();
            this.clearSelectedModel();
          } else if (this.actionForm == "update") {
            await this.updatePaymentmethod();
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
        }
      });
    }
  },
  computed: {
    ...mapState("paymentMethods", [
      "selectedPaymentMethods",
      "params",
      "disabledInputs",
      "actionForm"
    ])
  }
};
</script>

<style scoped></style>
