<template>
  <card title="<i class='ti-money'></i> Formas de Pagos">
  

  
      
       <div class="d-flex justify-content-end col-12">
           <b-button class=" mr-4" to="/formas-pago/crear"
           variant="primary">Nuevo</b-button>
           </div>
       <GridU2   
       :items="paymentMethods.data"
       :columns="columns">

       <template  slot="options" slot-scope="row">
           <b-button variant="warning" :to="`/formas-pago/${row.item.id}/ver`">ver</b-button>
           <b-button variant="primary" :to="`/formas-pago/${row.item.id}/editar`">Editar</b-button>
           <b-button variant="danger"  @click="open(row.item.id)">Eliminar</b-button>
           </template>
        </GridU2>

     <b-row>
        <b-col
          md="6"
          class="my-1 form-inline"
        >
          <label>Registros por página: &nbsp;</label>
          <b-form-select
            :options="[15, 30, 50,100]"
            v-model="params.perPage"
            @change.native="setPerPagePagination"
          />
        </b-col>
        <b-col
          md="6"
          class="my-1"
        >
          <b-pagination
            :total-rows="totalRows"
            :per-page="params.perPage"
            :current-page="params.page"
            v-model="params.page"
            class="my-0 float-right"
            @change="setPagePagination"
          />
        </b-col>
      </b-row> 
  </card>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import Card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";

export default {
  components: { Card, GridU2 },
  data() {
    return {
      columns: [
        { name: "Código", field: "code" },
        { name: "Descripción", field: "description" },
        { name: "Opcines", field: "options" }
      ],

     
    };
  },

  async beforeMount() {
    await  this.getPaymentMethods();
  },

  methods: {
    ...mapActions("paymentMethods", [
      "setPerPagePagination",
      "setPagePagination",
      'getPaymentMethods',
      'deletePaymentMethodById'
      
    ]),

    ...mapMutations("paymentMethods", ["setPerPage", "setPage"]),
     open(id) {
        this.$confirm('Desea Eliminar la Forma de Pago?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(async () => {
        await this.deletePaymentMethodById(id);
           this.getPaymentMethods();
        }).catch(() => {
                 
        })
    },

    generarPdf() {
      this.getPdf();
    },









   


  },




  computed: {
    ...mapState('paymentMethods',['paymentMethods','params']),
      totalRows() {
        return this.paymentMethods.total
      },
  }
};
</script>

