<template>
  <div class="table-container">
    <div class="row">
      <div
        v-if="action != 'view'"
        class="col-12 text-right mb-12"
      >
        <b-button
          @click.prevent="addDataSheet"
          variant="secondary"
        >
          + Agregar
        </b-button>
      </div>
    </div>

    <!-- SECCION DE LA FICHA DE DATO -->
    <div class="row">
      <div class="col-12 mt-3">
        <div class="table-responsive">

          <grid-u2
            ref="grid_"
            :columns="fieldsDataSheets"
            :items="dataSheetsLine"
          >

            <template slot="order" slot-scope="row">
              <el-input v-model="row.item.order" type="number" size="mini" @blur="changeOrder(row.item)"></el-input>
            </template>

            <template
              slot="visible_name"
              slot-scope="row"
            >

              <span v-if="tableCreateData && row.item.visible_name == null">

                <div class="col-10">
                  <el-select
                    filterable
                    clearable
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos"
                    v-model="row.item.id"
                    @change="validaIfParamTable($event, row.item)"
                  >
                    <el-option
                      v-for="(item) in listDataSheetSelect"
                      :key="item.id"
                      :label="item.visible_name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>

                  <b-link
                    v-if="row.item.paramtable_id"
                    class="ml-2"
                    :to="`/tablas-parametros/${row.item.paramtable_id}/editar`"
                  >Ver tabla.</b-link>

                </div>

              </span>
              <span v-else>{{row.item.visible_name}}</span>
            </template>

            <!-- ACCIONES -->
            <template
              slot="actions"
              slot-scope="row"
            >
              <div
                class="text-center"
                v-if="action != 'view'"
              >
                <div class="form-group">
                  <b-button
                    size="sm"
                    variant="danger"
                    class="mt-1 button-table"
                    @click="removeDataSheet(row)"
                  >Eliminar</b-button>
                </div>
              </div>
            </template>
            <template
              slot="required"
              slot-scope="row"
            >
              <div class="text-center">
                <b-form-checkbox
                  v-model="row.item.required"
                  switch
                  size="lg"
                  value="1"
                  class="big-checkbox"
                ></b-form-checkbox>
              </div>
            </template>

            <!-- MENSAJE CUANDO NO HAY REGISTRO -->
          </grid-u2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";

import GridU2 from "../../u2/grid";

export default {
  components: {
    GridU2
  },
  data () {
    return {
      fieldsDataSheets: [
        {
          field: 'order',
          name: 'Orden',
        },
        {
          field: 'visible_name',
          name: 'Atributo',
        },
        {
          field: 'type_value',
          name: 'Tipo de Valor',
        },
        /*{
          field: 'tooltip',
          name: 'Descripcion',
        },*/
        {
          field: 'required',
          name: 'Obligatorio'
        },
        {
          field: 'actions',
          name: 'Opciones'
        }

      ],
    }
  },
  methods: {
    async changeOrder(row){
        if (row.order == undefined || row.order == '') {
          row.order = 0
        }
        let new_dataSheetsLine = [], last_order = parseInt(row.order)


        await this.dataSheetsLine.map((el, key)=>{
          if (el.order == undefined ) {
            el.order=last_order+1
          }
        })


        await this.dataSheetsLine.map((el, key)=>{
            if (parseInt(el.order) < row.order){
                new_dataSheetsLine.push(el)
            }
        })

        await this.dataSheetsLine.map((el, key)=>{
            if (row.order == el.order && row.id == el.id){
                new_dataSheetsLine.push(el)
            }
        })

        await this.dataSheetsLine.map((el, key)=>{
            if (parseInt(el.order) >= row.order && row.id != el.id){
                new_dataSheetsLine.push(el)
                el.order = parseInt(last_order) + 1
                last_order = el.order
            }
        })


        await this.setDataSheetsLine(new_dataSheetsLine);

        await this.$refs.grid_.buildData();
    },
    ...mapActions("lines", [
      "getDataSheetList",
      "getDataSheetLine",
      'removeDataSheetToLine'
    ]),
    ...mapMutations("lines", [
      "clearDataSheetsList",
      "clearDataSheetsLine",
      "setDataSheetsLine",
      "chageTableCreateData"
    ]),
    ...mapActions("dataSheet", [
      "fetchDataSheets"
    ]),

    removeDataSheet (row) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(result => {
          if (result) {
            this.removeDataSheetToLine(row.item.pivot.id)
            this.chageTableCreateData(false)

            this.fetchDataSheets();
            if (this.$route.params.id) {
              //Traemos la ficha de datos.
              this.getDataSheetList(this.$route.params.id);
              //Traemos las fichas de datos relacionadas con la linea
              this.getDataSheetLine(this.$route.params.id);
            }
          }
        })
        .catch(function (result) { });
    },
    rowsTable () {
      return this.dataSheetsLine.length
    },
    addDataSheet () {
      this.dataSheetsLine.unshift({
        "id": null,
        "internal_name": null,
        "visible_name": null,
        "type_value": null,
        "tooltip": null,
        "required": '0'
      })
      this.chageTableCreateData(true)
    },
    validaIfParamTable (dataSheet_id, item) {
      var data = this.listDataSheetSelect.find(lds => lds.id == dataSheet_id)

      if (data.paramtable_id != null) {
        item.paramtable_id = data.paramtable_id
      } else {
        delete item.paramtable_id
      }

    }
  },
  computed: {
    ...mapState("lines", ["dataSheetsLine", 'dataSheetsList', "action", "tableCreateData"]),
    ...mapState("dataSheet", ["dataSheets"]),
    listDataSheetSelect () {

      var dataList = this.dataSheets;

      dataList.map((val, key) => {
        this.dataSheetsLine.map((valK, keyK) => {
          if (val.internal_name == valK.internal_name) {
            dataList.splice(key, 1);
          }
        })
      })

      return dataList;
    }
  },
  created () {

    this.fetchDataSheets();
    if (this.$route.params.id) {
      //Traemos la ficha de datos.
      this.getDataSheetList(this.$route.params.id);
      //Traemos las fichas de datos relacionadas con la linea
      this.getDataSheetLine(this.$route.params.id);
    }
  },
  destroyed () {
    this.clearDataSheetsList();
    this.clearDataSheetsLine();
  }
}
</script>

<style scoped>
</style>
