<template>
  
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import index from "../../components/Auxiliary-book-contact/grid-abc";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  components: {
    Card,
    Preloader,
    index,
    ModalAccount,
  },
  data() {
    return {
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
    };
  },

  watch: {
  },

  async created() {
    //this.init();
    //await localStorage.setItem("params_account_balance", JSON.stringify(this.params));
    window.open('/#/reportes/saldos-contables','_blank');
    this.$router.go(-1)
  },
  methods: {
    ...mapActions("accountbalance", [
      "fetchContacts"
    ]),
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;

      // si la cuenta hasta es vacia se sugiere la cuenta desde
      this.params.account_up = this.params.account_up == null || this.params.account_up == '' ? account.code : this.params.account_up 
      this.params.description_account_up = this.params.description_account_up == null || this.params.description_account_up == '' ? account.code + " - " + account.name : this.params.description_account_up
      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },
    async fetchContact(filter) {
      this.params_cotact.query = filter;
      await this.fetchContacts();
    },
    async validateForm() {
      // if (
      //   (this.params.contact_warehouse_id == null &&
      //     this.params.contact_id == null) ||
      //   this.params.contact_warehouse_id == "" ||
      //   this.params.contact_id == ""
      // ) {
      //   this.$notify({
      //     title: "Atención",
      //     message: "Debe Selecconar Tercero o Sucursal",
      //     type: "warning",
      //   });
      //   return false;
      // }

      if (
        this.params.year_month == null ||
        this.params.account_from == null
      ) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      }

      // this.fetchAuxiliaryBook();
      await localStorage.setItem("params_account_balance", JSON.stringify(this.params));
      window.open('/#/reportes/saldos-contables','_blank');
      this.$router.go(-1)
    },
    async init() {
      await this.fetchContacts();
      await this.setDefaultYearMonth();
      this.loading.module = false;
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month = await this.formatDate(this.restarMes(d));
      console.log(this.params);
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
  },

  computed: {
    ...mapState("accountbalance", [
      "loading",
      "params",
      "params_account_balance",
      "contacts",
      "account_balance",
    ]),
  },
};
</script>
<style>
</style>