<template>
  <div>
    <clear-header></clear-header>
    <div class="wrapper">
      <left-side v-bind:class="this.$store.state.left_open ? '' : 'menu-hidden'"></left-side>
      <right-side>
        <router-view>
        </router-view>
        <star-footer></star-footer>
      </right-side>
    </div>
    <div class="background-overlay" @click="right_close"></div>
  </div>
</template>
<script>
    import clearHeader from "../components/layout/clear_header";
    import leftSide from "../components/layout/left-side/default/left-side";
    import rightSide from "../components/layout/right-side";
    import starFooter from '../components/layout/star_footer.vue';

    export default {
        name: 'default_layout',
        components: {
            clearHeader,
            leftSide,
            rightSide,
            starFooter
        },
        created: function () {
        },
        methods: {
            right_close() {
                this.$store.commit('rightside_bar', "close");
            }
        },
        mounted() {

            window.onscroll = function (event) {
                var top = (document.getElementById('menu') && document.getElementById('menu').scrollTop || document.body && document.body.scrollTop || 0);
                if (top <= 56) {
                    document.getElementById("right").style.marginTop = -top + "px"
                } else {
                    document.getElementById("right").style.marginTop = -56 + "px"
                }

            }

          document.addEventListener('keydown',(e) => {
            const key = e.key;
            const ctrl = e.ctrlKey ? e.ctrlKey : (key === 17);
            if (key === 'm' && ctrl) {
              this.$store.commit('left_menu', "toggle");
            }
          },false);


        }
    }

</script>
<style src="../assets/css/custom_css/metisMenu.css"></style>
<style lang="scss" src="../assets/sass/dark/custom.scss"></style>
<style src="themify-icons/css/themify-icons.css"></style>

<style>
  body.fixed-header #app .navbar {
    position: relative;
  }

  body.fixed-header #app .header {
    margin-bottom: 0;
  }

  @media (max-width: 320px) {
    .message_dropdown .dropdown-menu.show {
      left: 20px !important;
    }
  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }

  .slide-fade-leave-active {
    transition: all .1s cubic-bezier(.17, .67, .83, .67);
  }

  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(900px);
    opacity: 0;
  }

  .left-aside {
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 0px;
    left: 0px;
  }

  .menu-hidden {
    left: -320px;
    animation: menu 1s;
    animation-fill-mode: forwards;
  }


  @keyframes menu {
    100% {
      top: 0px;
      position: absolute;
    }
  }
</style>
