<template>
  <div>
    <div class="row">
      <div class="form-group col-sm-6 col-md-3" v-if="!hideInput('title')">
        <label for="title">
          Titulo
        </label>
        <el-input id="title" size="small" v-model="formObj.title" />
      </div>

      <div class="form-group col-sm-6 col-md-3" v-if="!hideInput('priority')">
        <label for="priority_id">
          Prioridad
        </label>
        <el-select
          id="priority_id"
          size="small"
          filterable
          clearable
          placeholder
          v-model="formObj.priority_id"
        >
          <el-option
            v-for="item in casePriorities"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>

      <div class="form-group col-sm-6 col-md-3" v-if="!hideInput('state')">
        <label for="state_id">
          Estados
        </label>
        <el-select
          id="state_id"
          size="small"
          filterable
          clearable
          placeholder
          v-model="formObj.state_id"
        >
          <el-option
            v-for="item in caseStates"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>

      <div
        v-if="isUserU2 && !hideInput('private')"
        class="form-group col-sm-6 col-md-3"
      >
        <el-checkbox id="private" v-model="formObj.private"
          >Privado</el-checkbox
        >
      </div>
    </div>

    <quill-editor
      v-model="formObj.content"
      :options="editorOption"
    ></quill-editor>

    <div class="mt-3 d-flex justify-content-end">
      <b-button variant="primary" @click="onFinish">
        <span v-if="formObj.id">Actualizar</span>
        <span v-else>Guardar</span>
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from "vuex";

export default {
  props: ["hideInputs", "item"],
  data() {
    return {
      content: "",
      editorOption: {
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"], // toggled buttons
            ["blockquote", "code-block"],

            [{ header: 1 }, { header: 2 }], // custom button values
            [{ list: "ordered" }, { list: "bullet" }],
            [{ indent: "-1" }, { indent: "+1" }], // outdent/indent

            [{ size: ["small", false, "large", "huge"] }], // custom dropdown

            [{ color: [] }, { background: [] }], // dropdown with defaults from theme
            [{ align: [] }],

            ["clean"], // remove formatting button
            ["link", "image"]
          ],
          imageDrop: true,
          imageResize: {
            displayStyles: {
              backgroundColor: "black",
              border: "none",
              color: "white"
            },
            modules: ["Resize", "DisplaySize", "Toolbar"]
          }
        }
      }
    };
  },
  methods: {
    ...mapActions("cases", [
      "fetchCasePriorities",
      "fetchCaseStates",
      "createCase"
    ]),
    init() {
      this.fetchCasePriorities();
      this.fetchCaseStates();
    },
    async _create() {
      await this.createCase();
      this.$router.push("/casos");
    },
    hideInput(key) {
      return !!this.hideInputs.find(inp => inp === key);
    },
    onFinish() {
      this.$emit("onSave", { ...this.formObj });
    }
  },
  computed: {
    ...mapState("cases", ["formObj", "casePriorities", "caseStates"]),
    ...mapGetters("login", ["user", "isUserU2"])
  },
  created() {
    this.init();
  }
};
</script>

<style>
.quill-editor:not(.bubble) .ql-container,
.quill-editor:not(.bubble) .ql-container .ql-editor {
  min-height: 15rem;
  padding-bottom: 1rem;
}
.ql-toolbar.ql-snow {
  height: 44px;
  line-height: initial;
}
</style>
