<template>
  <div class="report-content">
   <div class="row m-0 py-2 report-header-gray banner-new">
      <div class="col-md-3"><img src="../../../assets/img/Logo-erp.svg" alt="" class="report-logo"></div>
      <div class="col-md-7 align-self-center color-sc"><h5 class="color-sc">REPORTE CARTERA</h5></div>
      <div class="col-md-2">
        <el-select size="small" v-model="ag_grid.selectedTheme">
          <el-option
            v-for="(item, index) in optionsThemes"
            :key="index"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>

      <table-receivable :seller_id="seller_id"
                        :contact_id_="contact_id"
      ></table-receivable>
  </div>
</template>

<script>
  import {AgGridVue} from '@ag-grid-community/vue';
  import 'ag-grid-enterprise';
  import moment from 'moment'
  import {AllModules} from '@ag-grid-enterprise/all-modules';
  import {mapActions, mapState} from "vuex";
  import Preloader from "../../../components/layout/preloader";
  import totalRowComponent from "../../components/totalRowComponent";
  import TableReceivable from "../../../components/receivable/TableReceivable.vue"

  export default {
    name: 'App',
    data() {
      return {
        seller_id: null,
        contact_id: null,
        optionsThemes : [
          { value: "ag-theme-alpine", label: "Alpine" },
          { value: "ag-theme-dark", label: "Dark" },
          { value: "ag-theme-balham", label: "Balham" },
          { value: "ag-theme-balham-dark", label: "Balham dark" },
          // { value: "ag-theme-material", label: "Material" },
        ],
      }
    },
    components: {
      AgGridVue,
      TableReceivable,
      Preloader
    },
    async beforeMount() {
      this.seller_id = this.$route.query.seller_id
      this.contact_id = this.$route.query.contact_id
    },
    mounted() {
    },
    computed: {
      ...mapState('ReceivableReport', ['ag_grid']),
    },
    created(){
      // this.getWallet();
    },
    methods: {
      ...mapActions('ReceivableReport', ['getWallet']),
      closeTab() {
        window.close()
      },
    }
  }
</script>


