<template>
  <div
    class="card"
    :class={dNone:isActive}
  >
    <div class="card-header col-12 pb-0 pb-md-2" v-if="show_header">
      <div class="row">
        <div class="card-title col-xl-7 col-lg-6 col-12" v-html="title"/>
        <div class="filter-fields col-lg-1 col-12" v-if="search">
          <!--<input type='text'
                 class='form-control '
                 placeholder='Filtrar campos'
                 v-model="filter"
                 @keyup="$emit('change', filter)"
          >-->
        </div>
        <div :class="!search ? 'col-xl-5 col-lg-6 col-12' : 'col-xl-4 col-lg-5 col-12'">
          <slot name="header-right"></slot>
        </div>
      </div>
    </div>
    <div
      class="card-body"
      v-show="show"
    >
      <slot></slot>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'card',
    data() {
      return {
        show: true,
        isActive: false,
        filter: ''
      }
    },
    methods: {
      hide() {
        this.isActive = true
      }
    },
    mounted: function () {
    },
    props: {
      show_header: {
        required: false,
        default: true,
      },
      title: {
        required: false
      },
      search: {
        required: false,
        default: false,
      }
    },
    destroy: function () {

    }
  }
</script>
<style scoped>
  .dNone {
    display: none;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .card-header {
    background: #007db3 !important;
    /*  background: #3b5998 !important; */
    color: #fff !important;
  }

  @media (max-width: 450px) {
    .filter-fields {
      margin-top: 35px !important;
      float: none !important;
    }

    .filter-fields > .form-control {
      width: 100%;
    }
  }
</style>
