<template>
  <card title="<i class='fa fa-fw fa-shield'></i> Proyectos">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-12">
            <b-form-group label="Buscar:" class="mb-0">
              <b-input-group>
                <b-form-input
                  v-model="projectsTable.params.filter"
                  placeholder=""
                  @keyup.native.enter="searchProjects"
                  style="text-transform: uppercase;"
                />
                <b-input-group-append>
                  <b-btn @click.prevent="searchProjects" id="botones"
                    ><span class="ti-search"></span
                  ></b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-md-8 col-sm-4 col-12">
            <b-button
              to="/proyecto/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <grid-u2
            ref="grid"
            :items.sync="projectsTable.items"
            :columns.sync="projectsTable.columns"
            :options="options"
          >
            <template slot="type" slot-scope="row">
              <div>
                {{
                  `${row.item.type.code_parameter} - ${row.item.type.name_parameter}`
                }}
              </div>
            </template>
            <template slot="status" slot-scope="row">
              <div>
                {{ statusProjects[row.item.status].name }}
              </div>
            </template>
            <template slot="options" slot-scope="row">
              <b-button
                size="sm"
                variant="secondary"
                class="mt-1 button-table"
                :to="`/proyecto/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                size="sm"
                id="botones"
                class="mt-1 button-table"
                :to="`/proyecto/${row.item.id}/editar`"
              >
                Editar
              </b-button>
              <b-button
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="questionDelete(row.item)"
              >
                Eliminar
              </b-button>
            </template>
          </grid-u2>
        </div>
        <p>
          Mostrando {{ projectsTable.pagination.from }} a
          {{ projectsTable.pagination.to }} de
          {{ projectsTable.pagination.total }} resultados
        </p>
        <b-row>
          <b-col md="6" class="my-1 form-inline">
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[15, 30, 50, 100]"
              v-model="projectsTable.params.perPage"
              @change.native="searchProjects"
            />
          </b-col>
          <b-col md="6" class="my-1">
            <b-pagination
              :total-rows="projectsTable.pagination.total"
              :per-page="projectsTable.params.perPage"
              :current-page="projectsTable.params.page"
              v-model="projectsTable.params.page"
              class="my-0 float-right"
              @change="searchProjects"
            />
          </b-col>
        </b-row>
      </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapState } from "vuex";
import card from "../../components/pages/card/card.vue";
import GridU2 from "../../components/u2/grid";

export default {
  components: { card, GridU2 },
  data() {
    return {
      options: {
        selectable: false,
        multiselect: false,
        showFooter: false,
        type_currency: "COP"
      }
    };
  },
  methods: {
    ...mapActions("projects", ["fetchProjects", "deleteProjects"]),
    async initComponent() {
      await this.fetchProjects();
    },
    searchProjects() {
      this.fetchProjects();
    },
    questionDelete(item) {
      this.$confirm("¿Esta seguro de eliminar?", "Eliminar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning"
      })
        .then(result => {
          if (result) {
            this.deleteProjects(item.id);
          }
        })
        .catch(function(result) {});
    }
  },
  computed: {
    ...mapState("projects", ["projectsTable", "statusProjects"])
  },
  created() {
    this.initComponent();
  }
};
</script>

<style scoped></style>
