<template>
  <card title="<i class='fa fa-fw fa-shield'></i> Proyectos">
    <preloader v-if="loading" mensaje="Cargando Proyecto"></preloader>
    <div class="row">
      <div class="col-12">
        <form @submit.prevent="validateTotalForm()" data-vv-scope="form">
          <!-- ACORDEON DE INFORMACIÓN GENERAL-->
          <div class="row">
            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="errors.has('form.code') ? 'form-group-error' : ''"
            >
              <label for="code"
                >Código<span class="text-danger"> *</span></label
              >
              <input
                type="text"
                id="code"
                name="code"
                class="form-control"
                v-validate="'required|max:15'"
                data-vv-as=" "
                :disabled="disabledInputs"
                v-model="selectedProjects.code"
              />
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.code") }}
              </span>
            </div>
            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="
                errors.has('form.contact_id') ? 'form-group-error' : ''
              "
            >
              <label for="contact_id">Tercero</label>
              <el-select
                size="small"
                id="contact_id"
                name="contact_id"
                filterable
                placeholder=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                data-vv-as=" "
                v-model="selectedProjects.contact_id"
                remote
                :disabled="disabledInputs"
                :remote-method="searchContacts"
              >
                <el-option
                  v-for="contact in contacts"
                  :key="contact.id"
                  :label="
                    contact.identification +
                      ' - ' +
                      contact.name +
                      ' ' +
                      (contact.surname != null ? contact.surname : '')
                  "
                  :value="contact.id"
                ></el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.contact_id") }}
              </span>
            </div>
            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="
                errors.has('form.type_id') ? 'form-group-error' : ''
              "
            >
              <label for="type_id"
                >Tipo Negocio<span class="text-danger">*</span></label
              >
              <el-select
                size="small"
                id="type_id"
                name="type_id"
                filterable
                placeholder=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-validate="'required'"
                data-vv-as=" "
                v-model="selectedProjects.type_id"
                :disabled="disabledInputs"
              >
                <el-option
                  v-for="type in projectsTypes"
                  :key="type.value"
                  :label="`${type.code} ${type.label}`"
                  :value="type.value"
                ></el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.type_id") }}
              </span>
            </div>
            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="errors.has('form.status') ? 'form-group-error' : ''"
            >
              <label for="status"
                >Estado<span class="text-danger">*</span></label
              >
              <el-select
                size="small"
                id="status"
                name="status"
                filterable
                placeholder=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-validate="'required'"
                data-vv-as=" "
                v-model="selectedProjects.status"
                :disabled="disabledInputs"
              >
                <el-option
                  v-for="status in projectsStatus"
                  :key="status.value"
                  :label="status.label"
                  :value="status.value"
                ></el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.status") }}
              </span>
            </div>
          </div>

          <div class="row">
            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="
                errors.has('form.description') ? 'form-group-error' : ''
              "
            >
              <label for="description"
                >Descripción<span class="text-danger">*</span></label
              >
              <el-input
                id="description"
                name="description"
                v-validate="'required'"
                data-vv-as=" "
                :disabled="disabledInputs"
                v-model="selectedProjects.description"
                type="textarea"
                :rows="2"
              >
              </el-input>
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.description") }}
              </span>
            </div>
            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="
                errors.has('form.observation') ? 'form-group-error' : ''
              "
            >
              <label for="observation">Observaciones</label>
              <el-input
                id="observation"
                name="observation"
                data-vv-as=" "
                :disabled="disabledInputs"
                v-model="selectedProjects.observation"
                type="textarea"
                :rows="2"
              >
              </el-input>
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.observation") }}
              </span>
            </div>
          </div>
        </form>
        <hr />
        <!--BOTONES DEL FORMULARIO-->
        <div class="form-actions">
          <b-button
            v-if="tabIndex <= 0 && !disabledInputs"
            type="button"
            class="boton-guardar"
            @click="validateTotalForm()"
          >
            <span class="btn-label">
              <i class="ti-save-alt"></i>
            </span>
            Guardar
          </b-button>
          <b-button
            to="/proyecto"
            type="button"
            variant="secondary"
            class="float-left"
            @click.native="clearSelectedProjects"
          >
            <span class="btn-label">
              <i class="ti-arrow-left"></i>
            </span>
            Volver
          </b-button>
          <b-button
            v-if="tabIndex <= 0 && !disabledInputs"
            type="reset"
            value="Limpiar"
            class="otro-boton float-left"
            @click.prevent="resetSelectedProjects"
          >
            <span class="btn-label">
              <i class="ti-eraser"></i>
              Limpiar
            </span>
          </b-button>
        </div>
      </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import Preloader from "../../components/layout/preloader.vue";
import card from "../../components/pages/card/card.vue";
export default {
  components: { card, Preloader },
  data() {
    return {
      tabIndex: 0,
      loading: false
    };
  },
  methods: {
    ...mapActions("projects", [
      // "fetchProjectsTypes",
      "createProjects",
      "updateProjects",
      "findProjectsById"
    ]),
    ...mapMutations("projects", ["setAction", "resetSelectedProjects"]),
    ...mapMutations("inventoryMovements", ["setParamsContacts"]),
    ...mapActions("inventoryMovements", ["fetchContacts"]),
    validateTotalForm() {
      this.$validator.validateAll("form").then(result => {
        if (result) {
          if (this.action === "create") {
            this.validateCreateProjects();
          } else if (this.action === "update") {
            this.validateUpdateProjects();
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
        }
      });
    },
    async validateCreateProjects() {
      this.loading = true;
      await this.createProjects();

      if (this.errorForm) {
        this.$alert(this.errorForm, "¡Error!", {
          confirmButtonText: "Aceptar",
          type: "error",
          dangerouslyUseHTMLString: true
        });
        this.loading = false;
      } else {
        this.loading = false;
        this.$router.push(`/proyecto/${this.selectedProjects.id}/editar`);
        this.resetSelectedProjects();
      }
    },
    async validateUpdateProjects() {
      this.loading = true;
      await this.updateProjects();

      if (this.errorForm) {
        this.$alert(this.errorForm, "¡Error!", {
          confirmButtonText: "Aceptar",
          type: "error",
          dangerouslyUseHTMLString: true
        });
      }
      this.loading = false;
    },
    clearSelectedProjects() {},
    async initUpdate(action, id) {
      this.setAction(action);
      await this.findProjectsById(id);
    },
    searchContacts(filter) {
      if (filter.length >= 3) {
        this.setParamsContacts(filter);
        this.fetchContacts();
      }
    }
  },
  computed: {
    ...mapState("projects", [
      "action",
      "selectedProjects",
      "projectsTypes",
      "projectsStatus",
      "errorForm"
    ]),
    ...mapState("inventoryMovements", ["contacts"]),
    disabledInputs() {
      return this.action === "view";
    }
  },
  async created() {
    this.loading = true;
    if (this.$route.params.id) {
      this.initUpdate("update", this.$route.params.id);
    } else if (this.$route.params.idv) {
      this.initUpdate("view", this.$route.params.idv);
    } else {
      this.resetSelectedProjects()
      this.setAction("create");
    }

    // await this.fetchProjectsTypes();
    this.loading = false;
  }
};
</script>
