<template>
  <div class="container-fluid">
    <b-modal
      v-model="show"
      :id="modal_id"
      size="xl"
      header-class="header-modal-u2 "
      centered
      ref="modal-account"
      hide-footer
    >
      <!-- HEADER -->
      <template v-slot:modal-header>
        <h5>IMPORTACIONES {{ selected_document.prefix != null ? selected_document.prefix + '-' + selected_document.consecutive : '-'+ selected_document.consecutive }}</h5>
        <button @click="show = false" class="btn btn-sm btn-link">x</button>
      </template>

      <table-import @applyExpenses="applyExpenses"/>

    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../components/u2/grid";
import tableImport from './table-import.vue'

export default {
  props: {
    modal_id: { required: false, default: 'modal-import' }
  },
  components: {
    GridU2,
    tableImport
  },
  data() {
    return {
      show:false
    };
  },

  methods: {
    ...mapActions('inventoryMovements', ['updateOrCreateDocumentProduct']),
    applyExpenses(){
      this.show = false;
      this.documents_products_import.map(el_import=>{
        let document_product = this.selected_document.documents_products.find(el => el_import.id == el.id);
        document_product.total_value = el_import.total_value
        document_product.total_value_brut = el_import.total_value
        document_product.unit_value_before_taxes = el_import.total_value / el_import.quantity
      })
      this.loadGrid()
    },
    loadGrid(){
      this.$emit("loadGrid");
    },
  },
  computed: {
    ...mapState('inventoryMovements', ["selected_document",  'documents_products_import', 'expenses']),
  }
};
</script>

<style scoped>
.container-scroll-y {
  overflow-y: scroll;
  width: 100%;
  height: 700px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.sub-title{
  font-weight: 600;
}
.sub-title > span{
  font-weight: 400;
  padding-left: 5px;
}
.boton-exist-dispon {
  width: 100%;
}
.c {
  text-align: center;
}
.t-c {
  text-align: center;
}
.pad {
  padding: 20px !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
</style>

<style>
.header-modal-u2 {
  background: #007db3 !important;
  color: #fff;
}
</style>
<style>
.modal-body-p0{
    padding: 0rem !important;
}
</style>