<template>
  <div class="container-scroll-y">
    <grid-u2
      ref="grid_import"
      :columns.sync="columnsTable"
      :items.sync="documents_products_import"
      :options="options"
    >
      <!-- FOOTER -->
      <template slot="foot_quantity" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          {{ footerTotalQuantity }}
        </div>
      </template>

      <template slot="foot_total_value_brut_us" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          {{ footertotal_value_brut_us }}
        </div>
      </template>

      <template slot="foot_total_value_brut" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          {{ footervr_cop  }}
        </div>
      </template>

      <template slot="foot_vr_expenses" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          {{ footervr_expenses  }}
        </div>
      </template>

      <template slot="foot_total_value" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          {{ footertotal_value  }}
        </div>
      </template>

       <template slot="quantity" slot-scope="row">
        <p class="align-rigth m-0 p-0">{{ row.item.quantity }}</p>
      </template>

      <template slot="product.line.arancel_percentage" slot-scope="row">
        <p class="align-rigth m-0 p-0">{{ row.item.product.line.arancel_percentage }}</p>
      </template>

       <template slot="participation_percentage" slot-scope="row">
        <p class="align-rigth m-0 p-0">{{ row.item.participation_percentage }}</p>
      </template>

      <template slot="participation_percentage_line" slot-scope="row">
        <p class="align-rigth m-0 p-0">{{ row.item.participation_percentage_line }}</p>
      </template>

      <template slot="base_document_product.document.trm_value" slot-scope="row">
        <p class="align-rigth m-0 p-0">{{ row.item.base_document_product.document.trm_value }}</p>
      </template>

      <template slot="document" slot-scope="row">
        {{
          row.item.base_document_product.document.prefix != null
            ? row.item.base_document_product.document.prefix + " - " + row.item.base_document_product.document.consecutive
            : row.item.base_document_product.document.consecutive
        }}
      </template>
    </grid-u2>

    <div class="row">
      <div class="col-12">
        <b-button class="float-right" size="lg" variant="success" @click="applyExpenses">
          Aplicar Gastos
        </b-button>
      </div>
    </div>

    <div class="row pl-3">
      <div class="col-7">
        <p class="sub-title">Gastos Asociados {{ project }}</p>
      </div>
    </div>

    <grid-u2
      ref="grid2"
      :columns.sync="columnsTableexpenses"
      :items.sync="expenses"
      :options="options"
    >
      <template slot="foot_observations" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          Total ...
        </div>
      </template>

      <template slot="foot_operation_value" slot-scope="row">
        <div class="text-center background-blue-light text-nowrap">
          {{ calculateoperation_value  }}
        </div>
      </template>

      <template slot="user" slot-scope="row">
        {{ row.item.document.user.name + " " + row.item.document.user.surname }}
      </template>

      <template slot="document.document_date" slot-scope="row">
        {{ getDate(row.item.document.document_date) }}
      </template>

      <template slot="account.name" slot-scope="row">
        <p class="m-0 p-0">
          {{ row.item.account.code }}
        </p>
        <p class="m-0 p-0">
          {{ row.item.account.name }}
        </p>
      </template>
      <template slot="line" slot-scope="row">
        <p class="m-0 p-0" v-if="row.item.account.line == null">
          TODAS
        </p>
        <p class="m-0 p-0" v-else>
          {{ row.item.account.line.line_description }}
        </p>
      </template>
      
      <template slot="voucherType" slot-scope="row">
        <p class="m-0 p-0" v-if="row.item.document.prefix == null">
          {{  row.item.document.vouchertype.code_voucher_type + " - " + row.item.document.vouchertype.name_voucher_type + " " +  row.item.document.consecutive}}
        </p>
        <p class="m-0 p-0" v-else>
          {{  row.item.document.vouchertype.code_voucher_type + " - " + row.item.document.vouchertype.name_voucher_type + " " + row.item.document.prefix + " - " + row.item.document.consecutive}}
        </p>
      </template>
    </grid-u2>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../components/u2/grid";
import tableImport from './table-import.vue'

export default {
  props: {
    modal_id: { required: false, default: 'modal-import' }
  },
  components: {
    GridU2,
    tableImport
  },
  data() {
    return {
      project: null,
      options: {
        selectable: false,
        multiselect: false,
        showFooter: true,
        type_currency: "COP",
      }, 
      columnsTable:[],
      columnsTableexpenses:[],
      show: false
    };
  },

  created() {
    this.project = this.selected_document.projects.code +' '+ this.selected_document.projects.description
    if (this.selected_document.id) {
      this.getDocumentsProductsImport({document_id: this.selected_document.id, projects_id: this.selected_document.projects_id})
    }
    // this.getAssociatedExpenses()
  },
  methods: {
    ...mapActions('inventoryMovements', ["getDocumentsProductsImport"]),
    getDate(date){
      return date.substr(0, 10)
    },
    selectedDocument_(document) {
      this.$emit("selectedDocument", document);
    },
    formatNumber(number) {
      let val = this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: true
                                              })



      return val
    },
    async applyExpenses(){
      // let error = 0
      // await this.documents_products_import.map(async dp =>{
      //   if (dp.product.line.arancel_percentage && (dp.vr_arancel == 0 || dp.vr_arancel == undefined) && dp.total_value_brut_us > 0) {
      //     error++
      //   }
      // });
      // if (error == 0) {
      // }else{
      //   await this.$notify({
			// 			title: 'Atención',
			// 			message: 'Se debe calcular valor arancel.',
			// 			type: 'warning'
      //   });
      // }
      this.$emit("applyExpenses");

    },
    calculateVrArancel(){
      this.documents_products_import.map(dp =>{
        dp.vr_arancel = ( Number(this.import_params.base_arancel)) * (dp.product.line.arancel_percentage / 100)
        dp.total_value += dp.vr_arancel
      });
      this.$refs.grid_import .buildData();
    }
  },
  computed: {
    ...mapState('inventoryMovements', ["selected_document",  'documents_products_import', 'expenses', 'import_params']),
    footerTotalQuantity() {
      let documents_products = this.documents_products_import;
      let quantity = 0;

      if (documents_products) {
        documents_products.map(dp => (quantity += parseInt(dp.quantity)));
      }

      return quantity;
    },
    footertotal_value_brut_us(){
      let documents_products = this.documents_products_import;
      let total_value_brut_us = 0;

      if (documents_products) {
        documents_products.map(dp => (total_value_brut_us += Number(dp.total_value_brut_us)));
      }

      return this.formatNumber(total_value_brut_us);  
    },
    footervr_expenses(){
      let documents_products = this.documents_products_import;
      let vr_expenses = 0;

      if (documents_products) {
        documents_products.map(dp => (vr_expenses += parseInt(dp.vr_expenses)));
      }
      return this.formatNumber(vr_expenses);  
    },
    footervr_cop(){
      let documents_products = this.documents_products_import;
      let vr_cop = 0;

      if (documents_products) {
        documents_products.map(dp => (vr_cop += parseInt(dp.total_value_brut)));
      }

      return this.formatNumber(vr_cop);  
    },
    footertotal_value(){
      let documents_products = this.documents_products_import;
      let total_value = 0;

      if (documents_products) {
        documents_products.map(dp => (total_value += parseInt(dp.total_value)));
      }

      return this.formatNumber(total_value);  
    },
    calculateoperation_value(){
      let expenses = this.expenses;
      let total_value = 0;

      if (expenses) {
        expenses.map(dp => (total_value += parseInt(dp.operation_value)));
      }
      return this.formatNumber(total_value);  
    }
  },
  async mounted() {
    this.columnsTable = [
      {
        name: "Factura",
        field: "document",
      },
      {
        name: "TRM",
        field: "base_document_product.document.trm_value",
      },
      {
        name: "Codigo",
        field: "product.code",
      },
      {
        name: "Descripcion",
        field: "description",
      },
      {
        name: "Cantidad",
        field: "quantity",
      },
      {
        name: "Us Factura",
        field: "total_value_brut_us",
        format: 'currency'
      },
      {
        name: "Cop Factura",
        field: "total_value_brut",
        format: 'currency'
      },
      {
        name: "% Aran",
        field: "product.line.arancel_percentage",
      },
      {
        name: "% Part Gral",
        field: "participation_percentage",
      },
      {
        name: "% Part Linea",
        field: "participation_percentage_line",
      },
      {
        name: "Vr Gastos",
        field: "vr_expenses",
        format: 'currency'
      },
      {
        name: "Vr Total",
        field: "total_value",
        format: 'currency'
      },
    ]

    this.columnsTableexpenses = [
      {
        name: "Fecha",
        field: "document.document_date",
      },
      {
        name: "Documento",
        field: "voucherType",
      },
      {
        name: "Cuenta",
        field: "account.name",
      },
      {
        name: "Linea",
        field: "line",
      },
      {
        name: "Detalle",
        field: "observations",
      },
      {
        name: "Valor",
        field: "operation_value",
        format: 'currency'
      },
      {
        name: "Usuario",
        field: "user",
      },
    ]
  }
};
</script>

<style scoped>
.sub-title{
  font-weight: 600;
}
.sub-title > span{
  font-weight: 400;
  padding-left: 5px;
}
.boton-exist-dispon {
  width: 100%;
}
.c {
  text-align: center;
}
.t-c {
  text-align: center;
}
.pad {
  padding: 20px !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
.pl-15{
  padding-left: 15px;
}
.align-rigth{
  text-align: right;
}
</style>

<style>
.header-modal-u2 {
  background: #007db3 !important;
  color: #fff;
}
</style>
<style>