<template>
  <span>
    <hr />
    <div class="row">
      <div class="col-7">
        <b-form-file
          v-if="action != 'view'"
          :disabled="!selected_document.id"
          accept=".csv, .txt, .pdf, .docx, .xlsx"
          lang="es"
          v-model="file"
          placeholder="Seleccione el archivo que va a adjuntar al documento..."
          class="input-file"
        ></b-form-file>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="section-files-document">
          <div
            v-for="(file, index) in this.selected_document.files"
            :key="index"
            class="file-div"
          >
            <i
              :class="iconFileByExtension(file.extension)"
              class="icon-file"
              aria-hidden="true"
            ></i>
            <p v-if="!file.path" class="m-0" :title="file.name">
              {{ `${file.name.slice(0, 10)}...` }}
            </p>
            <p v-else class="m-0">
              <a :href="routeDowloadFile(file.id)" target="_blanck">
                {{ `${file.name.slice(0, 10)}...` }}
              </a>
            </p>
            <a
              href="#"
              @click.prevent="deleteDocumentFile(file)"
              class="m-0 btn-delete-file"
              v-if="action !== 'view'"
              >eliminar</a
            >
          </div>
        </div>
      </div>
    </div>
    <hr />
  </span>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import { Notification, MessageBox } from "element-ui";
import {getApiDomain} from "../../util/domains";

export default {
  name: "UploadDocumentFiles",
  props: {},
  data() {
    return {
      file: null
    };
  },
  methods: {
    ...mapMutations("inventoryMovements", [
      "setDocumentFile",
      "deleteDocumentFile"
    ]),
    routeDowloadFile(id) {
      return `${getApiDomain()}/api/documento-descargar-archivo/${id}`;
    },
    async uploadFileProducts() {
      if (!this.validationSaveFile()) {
        this.file = "";
        return;
      }

      await this.setDocumentFile(this.file);
      this.file = "";
    },
    validationSaveFile() {
      let validation = true;
      let messageError = "";

      if (this.file === null) {
        validation = false;
      }

      if (!this.selected_document.id) {
        validation = false;
        messageError = "Falta el id del documento.";
      }

      this.selected_document.files.map(f => {
        if (f.name === this.file.name && f.size === this.file.size) {
          validation = false;
          messageError = "Este documento ya fue cargado.";
        }
      });

      if (messageError) {
        Notification.error({
          title: "Error!",
          message: messageError,
          type: "error",
          duration: 1500,
          customClass: "notification-box"
        });
      }

      return validation;
    },
    iconFileByExtension(extension) {
      let nameIcon = "";

      switch (extension) {
        case "pdf":
          nameIcon = "fa fa-file-pdf-o";
          break;
        case "xlsx":
        case "xls":
          nameIcon = "fa fa-file-excel-o";
          break;

        default:
          nameIcon = "fa fa-file-o";
          break;
      }

      return nameIcon;
    }
  },
  watch: {
    async file(newValue) {
      if (newValue) {
        await this.uploadFileProducts();
      }
    }
  },
  computed: {
    ...mapState("inventoryMovements", [
      "action",
      "selected_document",
      "document_files_new",
      "document_files_delete"
    ])
  }
};
</script>

<style>
.input-file .custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Subir Archivo";
  color: #fff;
  background-color: #6699cc;
  border-color: #6699cc;
}

.section-files-document {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  /* border: 1px solid rgb(194, 194, 194); */
}

.icon-file {
  font-size: 35px;
}

.file-div {
  display: inline-block;
  margin-left: 25px;
  text-align: center;
}

.btn-delete-file {
  color: red;
}
</style>
