<template>
  <card title="<i class='fa fa-table'></i> Reporte de ventas">
    <div class="row mb-4">
      <div class="col-sm-4">
        <label>Tema</label>
        <el-select v-model="selectedTheme" placeholder="placeholder" @change="reDrawItems()">
          <el-option
            v-for="theme in themes"
            :key="theme.theme"
            :label="theme.label"
            :value="theme.theme">
          </el-option>
        </el-select>
      </div>
    </div>

    <ag-grid-vue
      style="width: 100%; height: 700px;"
      :class="selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="sales"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :rowGroupPanelShow="rowGroupPanelShow"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"></ag-grid-vue>
  </card>
</template>

<script>
  import card from "../../components/pages/card/card";
  import {AgGridVue} from "ag-grid-vue";
  import 'ag-grid-enterprise';
  import moment from 'moment'
  import {AllModules} from '@ag-grid-enterprise/all-modules';
  import {mapActions, mapState} from "vuex";

  export default {
    name: 'App',
    data() {
      return {
        columnDefs: [],
        gridOptions: null,
        gridApi: null,
        defaultColDef: null,
        rowGroupPanelShow: null,
        groupDefaultExpanded: null,
        autoGroupColumnDef: null,
        selectedTheme: 'ag-theme-alpine',
        themes: [
          {theme: 'ag-theme-alpine', label: 'Alpine'},
          {theme: 'ag-theme-dark', label: 'Dark'},
          {theme: 'ag-theme-balham', label: 'Balham'},
          {theme: 'ag-theme-balham-dark', label: 'Balham dark'},
          {theme: 'ag-theme-material', label: 'Material'}
        ],
        sideBar: {
          toolPanels: [
            {
              id: 'columns',
              labelDefault: 'Columns',
              labelKey: 'columns',
              iconKey: 'columns',
              toolPanel: 'agColumnsToolPanel',
            },
            {
              id: 'filters',
              labelDefault: 'Filters',
              labelKey: 'filters',
              iconKey: 'filter',
              toolPanel: 'agFiltersToolPanel',
            },
          ],
          defaultToolPanel: 'filters',
          hiddenByDefault: false,
        },
        gridColumnApi: null,
        columnTypes: null,
        modules: AllModules
      }
    },
    components: {
      AgGridVue,
      card
    },
    async beforeMount() {
      this.gridOptions = {};
      this.columnDefs = [
        {
          headerName: '',
          children: [
            {headerName: 'SEDE', field: 'branchoffice', width: 200, resizable: true, sortable: true, filter: true},
            {headerName: 'CLIENTE', field: 'customer', width: 500, resizable: true, sortable: true, filter: true},
            {headerName: 'MARCA', field: 'brand', width: 200, resizable: true, sortable: true, filter: true},
            {headerName: 'VENDEDOR', field: 'seller', width: 400, resizable: true, sortable: true, filter: true}
          ]
        },
        {
          headerName: 'VENTAS',
          enableRowGroup: false,
          children: [
            {
              headerName: this.getMonthText(-6),
              field: 'total_value_brut_first_month',
              valueFormatter: currencyFormatter,
              filter: 'agNumberColumnFilter',
              enableRowGroup: false,
              type: 'rightAligned',
              sortable: true,
            },
            {
              headerName: this.getMonthText(-5),
              field: 'total_value_brut_second_month',
              valueFormatter: currencyFormatter,
              filter: 'agNumberColumnFilter',
              enableRowGroup: false,
              type: 'rightAligned',
              sortable: true,
              cellStyle: (params) => {
                return this.getStyle(params, 'total_value_brut_first_month');
              }
            },
            {
              headerName: this.getMonthText(-4),
              field: 'total_value_brut_third_month',
              valueFormatter: currencyFormatter,
              filter: 'agNumberColumnFilter',
              enableRowGroup: false,
              type: 'rightAligned',
              sortable: true,
              cellStyle: (params) => {
                return this.getStyle(params, 'total_value_brut_second_month');
              }
            },
            {
              headerName: this.getMonthText(-3),
              field: 'total_value_brut_fourth_month',
              valueFormatter: currencyFormatter,
              filter: 'agNumberColumnFilter',
              enableRowGroup: false,
              type: 'rightAligned',
              sortable: true,
              cellStyle: (params) => {
                return this.getStyle(params, 'total_value_brut_third_month');
              }
            },
            {
              headerName: this.getMonthText(-2),
              field: 'total_value_brut_fifth_month',
              valueFormatter: currencyFormatter,
              filter: 'agNumberColumnFilter',
              enableRowGroup: false,
              type: 'rightAligned',
              sortable: true,
              cellStyle: (params) => {
                return this.getStyle(params, 'total_value_brut_fourth_month');
              }
            },
            {
              headerName: this.getMonthText(-1),
              field: 'total_value_brut_sixth_month',
              valueFormatter: currencyFormatter,
              filter: 'agNumberColumnFilter',
              enableRowGroup: false,
              type: 'rightAligned',
              sortable: true,
              cellStyle: (params) => {
                return this.getStyle(params, 'total_value_brut_fifth_month');
              }
            },
            {
              headerName: 'DIFERENCIA',
              field: 'difference',
              valueFormatter: currencyFormatter,
              filter: 'agNumberColumnFilter',
              enableRowGroup: false,
              type: 'rightAligned',
              sortable: true,
              cellStyle: (params) => {
                if (params.value < 0) {
                  if (this.selectedTheme.includes('dark')) {
                    return {'color': '#e81079'};
                  } else {
                    return {'background-color': 'rgba(255,128,171,.4)'};
                  }
                } else if (params.value > 0) {
                  if (this.selectedTheme.includes('dark')) {
                    return {'color': '#90ee90'};
                  } else {
                    return {'background-color': 'rgba(185,246,202,.4)'};
                  }
                }
                return null;
              }
            }
          ]
        }
      ];
      this.defaultColDef = {
        minWidth: 80,
        enableValue: true,
        enableRowGroup: true,
        enablePivot: true,
        sortable: true,
        filter: true,
        floatingFilter: true
      };
      this.columnTypes = {
        numberValue: {
          enableValue: true,
          aggFunc: 'sum',
          editable: true,
          valueParser: numberParser,
        },
        dimension: {
          enableRowGroup: true,
          enablePivot: true,
        },
      };
      this.groupDefaultExpanded = 0;
      this.rowGroupPanelShow = 'always';

      await this.getSales()
      this.gridApi.sizeColumnsToFit();
      this.gridApi.openToolPanel('columns');
    },
    mounted() {
      this.gridApi = this.gridOptions.api;
      this.gridColumnApi = this.gridOptions.columnApi;
    },
    computed: {
      ...mapState('report', ['sales'])
    },
    methods: {
      ...mapActions('report', ['getSales']),
      getMonthText(subtract) {
        moment.locale('es-es')
        return moment().add(subtract, 'M').format('MMMM').toUpperCase()
      },
      reDrawItems(){
        this.gridApi.redrawRows();
      },
      getStyle(params, fieldToValidate) {
        if (params.data && params.value < params.data[fieldToValidate]) {
          if (this.selectedTheme.includes('dark')) {
            return {'color': '#e81079'};
          } else {
            return {'background-color': 'rgba(255,128,171,.4)'};
          }
        } else if (params.data && params.value > params.data[fieldToValidate]) {
          if (this.selectedTheme.includes('dark')) {
            return {'color': '#90ee90'};
          } else {
            return {'background-color': 'rgba(185,246,202,.4)'};
          }
        }
        return null;
      }
    }
  }

  window.numberParser = function numberParser(params) {
    return parseInt(params.newValue);
  };

  window.currencyFormatter = function currencyFormatter(params) {

    if (params.value) {
      return '$' + formatNumber(params.value)
    }

    return ''
  };

  window.formatNumber = function formatNumber(number) {
    return Math.floor(number)
      .toString()
      .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
  };
</script>

<style scoped>

</style>
