<template>
  <div>
    <form @submit.prevent="validateActionClerk()" data-vv-scope="form-clerk">
      <!-- ACORDEON DE INFORMACIÓN GENERAL FUNCIONARIOS-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.general_data id="acordeon"
          >INFORMACIÓN GENERAL</b-btn
        >
        <b-collapse id="general_data" visible role="tabpanel">
          <b-card-body>
            <div class="row">
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.document_type_id')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="document_type_id">Tipo de identificación</label>
                <el-select
                  id="document_type_id"
                  name="document_type_id"
                  clearable
                  filterable
                  placeholder=" "
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-validate="''"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.identification_type"
                  @click.native="fetchDocumentTypes()"
                >
                  <el-option
                    v-for="item in identificationTypes"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.document_type_id") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.identification_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="identification_clerk">Identificación</label>
                <input
                  type="text"
                  id="identification_clerk"
                  name="identification_clerk"
                  class="form-control"
                  v-validate="'max:15'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.identification"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.identification_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.name_clerk') ? 'form-group-error' : ''
                "
              >
                <label for="name_clerk"
                  >Nombres <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  id="name_clerk"
                  name="name_clerk"
                  class="form-control"
                  v-validate="'required|max:40'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.name"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.name_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.surname_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="surname_clerk"
                  >Apellidos <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="surname_clerk"
                  name="surname_clerk"
                  class="form-control"
                  v-validate="'required|max:40'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.surname"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.surname_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.gender_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="gender_clerk"
                  >Género <span class="text-danger">*</span></label
                >
                <el-select
                  id="gender_clerk"
                  name="gender_clerk"
                  clearable
                  v-validate="'required'"
                  placeholder=" "
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  no-data-text="Cargando datos..."
                  v-model="selectedClerk.gender"
                >
                  <el-option label="Masculino" value="1" />
                  <el-option label="Femenino" value="2" />
                </el-select>
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.gender_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.birthdate_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="birthdate_clerk">Fecha de nacimiento</label>
                <flat-pickr
                  v-model="selectedClerk.birthdate"
                  class="form-control"
                  id="birthdate_clerk"
                  name="birthdate_clerk"
                  v-validate="'date_format:yyyy-MM-dd'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.birthdate") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.position_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="position_clerk">Cargo </label>
                <input
                  type="text"
                  id="position_clerk"
                  name="position_clerk"
                  class="form-control"
                  v-validate="'max:80'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.position"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.position_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-9"
                v-bind:class="
                  errors.has('form-clerk.observation_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="observation_clerk">Observaciones</label>
                <b-form-textarea
                  id="observation_clerk"
                  name="observation_clerk"
                  class="form-control"
                  v-validate="'max:155'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.observation"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.observation_clerk") }}
                </span>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>

      <!-- ACORDEON DE INFORMACIÓN DE CONTACTO DE FUNCIONARIOS-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.clerk_data id="acordeon"
          >INFORMACIÓN DE CONTACTO</b-btn
        >
        <b-collapse visible id="clerk_data" ole="tabpanel">
          <b-card-body>
            <div class="row">
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.city_id_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="department_clerk">Departamento</label>
                <el-select
                  id="department_id_clerk"
                  name="department_id_clerk"
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.city.department_id"
                  @click.native="fetchDepartments"
                >
                  <el-option
                    v-for="d in departments"
                    :key="d.value"
                    :value="d.value"
                    :label="d.label"
                  ></el-option>
                </el-select>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.city_id_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="city_id_clerk">Ciudad</label>
                <el-select
                  id="city_id_clerk"
                  name="city_id_clerk"
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-validate="''"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.city_id"
                  @click.native="fetchCitiesClerks()"
                >
                  <el-option
                    v-for="c in citiesClerks"
                    :key="c.value"
                    :value="c.value"
                    :label="c.label"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.city_id_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.address_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="address_clerk">Dirección</label>
                <input
                  type="text"
                  id="address_clerk"
                  name="address_clerk"
                  class="form-control"
                  v-validate="'max:100'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.address"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.address_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.stratum_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="stratum">Estrato</label>
                <input
                  type="text"
                  id="stratum_clerk"
                  name="stratum_clerk"
                  class="form-control"
                  v-validate="'max_value:7|min_value:1|numeric'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.stratum"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.stratum_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.main_telephone_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="main_telephone_clerk">Teléfono 1</label>
                <input
                  type="text"
                  id="main_telephone_clerk"
                  name="main_telephone_clerk"
                  class="form-control"
                  v-validate="'max:20'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.main_telephone"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.main_telephone_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.secondary_telephone_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="secondary_telephone_clerk">Teléfono 2</label>
                <input
                  type="text"
                  id="secondary_telephone_clerk"
                  name="secondary_telephone_clerk"
                  class="form-control"
                  v-validate="'max:20'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.secondary_telephone"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.secondary_telephone_clerk") }}
                </span>
              </div>

              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.cell_phone_clerk')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="cell_phone_clerk">Celular</label>
                <input
                  type="text"
                  id="cell_phone_clerk"
                  name="cell_phone_clerk"
                  class="form-control"
                  v-validate="'max:20'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.cell_phone"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.cell_phone_clerk") }}
                </span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-clerk.email_clerk') ? 'form-group-error' : ''
                "
              >
                <label for="email_clerk">Email</label>
                <input
                  type="text"
                  id="email_clerk"
                  name="email_clerk"
                  class="form-control"
                  v-validate="'email|max:60'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedClerk.email"
                />
                <i class="text-danger icon-error"> </i>
                <span class="text-danger span-error">
                  {{ errors.first("form-clerk.email_clerk") }}
                </span>
              </div>
            </div>
            <div class="row" v-if="!disabledInputs">
              <div class="form-group col-12">
                <b-button
                  type="submit"
                  class="btn btn-labeled btn-primary float-right ml-1 otro-boton"
                >
                  <span class="btn-label">
                    <i class="ti-save-alt"> </i>
                  </span>
                  &nbsp;
                  {{ this.actionClerk == "create" ? "Guardar" : "Actualizar" }}
                </b-button>
                <b-button
                  type="button"
                  id="limpiar"
                  class="btn btn-labeled btn-secondary float-right"
                  @click="clearClerk()"
                >
                  <span class="btn-label">
                    <i class="ti-close"> </i>
                  </span>
                  &nbsp;
                  {{ this.actionClerk == "create" ? "Limpiar" : "Nuevo" }}
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>

    <!--ACORDEON FUNCIONARIOS REGISTRADOS-->
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.clerks-list id="acordeon"
        >FUNCIONARIOS REGISTRADOS</b-btn
      >
      <b-collapse id="clerks-list" visible ole="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="col-12 table-responsive">
              <b-table
                striped
                hover
                show-empty
                :items="clerks"
                :fields="fieldsClerksTable"
                empty-text="No existen funcionarios registrados"
              >
                <!--Template para cargar el nombre completo-->
                <template v-slot:cell(fullname)="row">
                  {{ row.item.name }} {{ row.item.surname }}
                </template>

                <!--Template para cargar las acciones-->
                <template v-slot:cell(actions)="row">
                  <b-button
                    size="sm"
                    variant="secondary"
                    class="button-table"
                    @click="setClerkComp(row.item)"
                  >
                    {{ disabledInputs ? "Ver" : "Editar" }}
                  </b-button>
                  <b-button
                    size="sm"
                    variant="danger"
                    v-if="!disabledInputs"
                    class="button-table"
                    @click="questionDeleteClerk(row.item)"
                  >
                    Eliminar
                  </b-button>
                </template>
              </b-table>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
// Imports para inputs de fecha del formulario con FlatPicker
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es.js";
import "flatpickr/dist/flatpickr.css";
import { MessageBox } from "element-ui";

flatpickr.localize(Spanish);

//Vuex
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "maintenance",
  props: ["disabledInputs"],
  components: {
    flatPickr
  },
  data() {
    return {
      responseUpdate: false,
      fieldsClerksTable: [
        {
          key: "identification",
          label: "Identificación",
          thStyle: { width: "120px !important" }
        },
        {
          key: "fullname",
          label: "Nombre",
          thStyle: { "min-width": "150px !important" }
        },
        {
          key: "main_telephone",
          label: "Teléfono 1",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "cell_phone",
          label: "Celular",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "actions",
          label: "Opciones",
          thStyle: {
            width: this.disabledInputs ? "85px !important" : "170px !important",
            "min-width": this.disabledInputs
              ? "85px !important"
              : "170px !important"
          }
        }
      ]
    };
  },
  methods: {
    async validateActionClerk() {
      await this.$validator.validateAll("form-clerk").then(result => {});

      if (!this.errorsClerks) {
        if (this.actionClerk == "create") {
          await this.addClerk();
          this.clearClerk();
        } else {
          await this.$confirm(
            "Esta acción actualizará la información del funcionario. ¿Desea continuar?",
            "Actualizar",
            {
              confirmButtonText: "Aceptar",
              cancelButtonText: "Cancelar",
              type: "warning",
              customClass: "notification-warning"
            }
          ).then(result => {
            this.responseUpdate = result;
          });

          if (this.responseUpdate) {
            await this.updateClerk();
            this.clearClerk();
            this.responseUpdate = false;
          }
        }
      }
    },
    clearClerk() {
      this.resetSelectedClerk();
      this.$validator.reset("form-clerk");
      this.setActionClerks("create");
    },
    async setClerkComp(clerk) {
      await this.setClerk(clerk);
      await this.fetchDepartments();
      if (this.selectedClerk.city.department_id) {
        await this.fetchCitiesClerks();
      }
      this.setActionClerks("update");
    },
    questionDeleteClerk(selectedClerk) {
      this.$confirm(
        "Esto eliminará de forma permanente el funcionario. ¿Desea continuar?",
        "Eliminar",
        {
          confirmButtonText: "Aceptar",
          cancelButtonText: "Cancelar",
          type: "warning",
          customClass: "notification-warning"
        }
      )
        .then(result => {
          if (result) {
            this.removeClerk(selectedClerk);
            this.clearClerk();
          }
        })
        .catch(function(result) {});
    },
    ...mapActions("contactClerks", [
      "fetchClerks",
      "addClerk",
      "updateClerk",
      "removeClerk",
      "getClerk",
      "fetchCitiesClerks"
    ]),
    ...mapActions("contacts", ["fetchDocumentTypes", "fetchDepartments"]),
    ...mapMutations("contactClerks", [
      "setActionClerks",
      "setClerk",
      "resetSelectedClerk"
    ])
  },
  computed: {
    errorsClerks() {
      return this.errors.items.filter(i => i.scope == "form-clerk").length;
    },
    ...mapState("contactClerks", [
      "clerks",
      "actionClerk",
      "selectedClerk",
      "citiesClerks"
    ]),
    ...mapState("contacts", ["identificationTypes", "departments"])
  }
};
</script>
