<template>
    <card title="<i class='ti-hummer'></i> Reconstructor Global">
        <b-form
            data-vv-scope="form"
            @submit.prevent="validateForm()"
        >
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <label for="filter_date">Fecha:</label>
                    <el-date-picker
                        type="datetime"
                        size="small"
                        placeholder="Seleccione fecha"
                        v-model="params.date"
                        format="yyyy-MM-dd HH:mm:ss"
                        value-format="yyyy-MM-dd HH:mm:ss"
                    >
                    </el-date-picker>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <label for="product">Producto</label>
                    <el-select
                        v-model="params.product"
                        filterable
                        id="product"
                        placeholder="Seleccione producto"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        remote
                        :remote-method="searchProducts"
                    >
                        <el-option
                        v-for="product in products"
                        :key="product.id"
                        :value="product.id"
                        :label="product.code+' - '+product.description"
                        ></el-option>
                    </el-select>
                </div>
            </div>

            <!-- Botones -->
            <div class="row">
                <div class="col-12">
                    <div class="form-actions">
                        <b-button
                            type="submit"
                            class="boton-guardar"
                        >
                            <span class="btn-label">
                                <i class="ti-save"></i>
                            </span> Guardar
                        </b-button>

                        <b-button
                            type="reset"
                            value="Limpiar"
                            class="otro-boton float-left"
                        >
                            <span class="btn-label">
                                <i class="ti-eraser"></i>
                                Limpiar
                            </span>
                        </b-button>
                    </div>
                </div>
            </div>


        </b-form>
    </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card';
import { MessageBox } from 'element-ui';
import GridU2 from "../../components/u2/grid";

export default {
  components: {
    Card,
    GridU2
  },
  data(){
    return{
    }
  },

  methods: {
    ...mapActions('rebuild', ['searchProducts', 'rebuild']),
    validateForm(){
        this.rebuild()
    }
  },
  computed: {
    ...mapState('rebuild', ['params', 'products'])
  },
}
</script>
