<template>
  <div class="container-add-products">

    <!-- BUSCADOR -->
    <div class="row">
      <div class="col-12 px-5">
        <el-select
          v-model="selectedProduct"
          filterable
          placeholder="Seleccione producto"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan."
          remote
          :remote-method="_searchProducts"
          @change="addProduct"
        >
          <el-option
            v-for="product in products"
            :key="product.id"
            :value="product"
            :label="product.code+' - '+product.description"
          ></el-option>
        </el-select>
      </div>
    </div>

    <!-- TABLA -->
    <div class="row">
      <div class="col-12">
        <grid-u2
          :columns.sync="columnsTable"
          :items.sync="selectedServiceRequest.products"
        >
        </grid-u2>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../../components/u2/grid";

export default {
  props: [
    'code_line_filter'
  ],
  components: {
    GridU2
  },
  data () {
    return {
      selectedProduct: null,
      columnsTable: [
        {
          name: "Codigo",
          field: "code",
          width: 100,
          format: "text",
          editable: false,
          visible: true
        },
        {
          name: "Descripcion",
          field: "description",
          width: 100,
          format: "text",
          editable: false,
          visible: true
        },
        {
          name: "Cant",
          field: "quantity",
          width: 50,
          format: "number",
          editable: true,
          visible: true
        },
        {
          name: "Vr Unitario",
          field: "unit_value",
          width: 100,
          format: "currency",
          editable: true,
          visible: true
        }
      ]
    };
  },
  methods: {
    ...mapActions('requestService', [
      'searchProducts'
    ]),
    _searchProducts (filter) {
      if (this.code_line_filter) {
        this.paramsProduct.code_line_filter = this.code_line_filter
      }

      this.searchProducts(filter)
    },
    addProduct (product) {

      let addProduct = {
        id: product.id,
        code: product.code,
        description: product.description
      };

      let findKey = this.selectedServiceRequest.products.findIndex(p => p.id == addProduct.id)

      if (findKey < 0) {
        addProduct.quantity = 0;
        addProduct.unit_value = isNaN(product.price.price) ? 0 : product.price.price;

        this.selectedServiceRequest.products.push(addProduct)
      }

      this.selectedProduct = null

    }
  },
  computed: {
    ...mapState("requestService", ["selectedServiceRequest", "products", 'paramsProduct'])
  }
};
</script>

<style></style>
