<template>
  <div class="row">
    <Preloader v-if="loadingInit" mensaje="Cargando Documentos" />

    <div class="col-12">
      <div class="table-container">
        <div class="row">
          <div class="col-12">
            <!-- FILTROS -->
            <div class="row">
              <!-- POR TEXTO -->
              <div class="col-md-12 col-lg-4">
                <b-form-group label="Buscar:" class="mb-1">
                  <b-input-group class="mb-3">
                    <b-form-input
                      v-model="search"
                      @keyup.enter="fetchListOrderReject"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button
                        size="sm"
                        text="Button"
                        variant="primary"
                        class="ti-search"
                        @click="fetchListOrderReject"
                      ></b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </div>

              <!-- POR FECHA -->
              <div class="col-md-12 col-lg-4">
                <b-form-group label="Fecha:" class="mb-1">
                  <el-date-picker
                    type="daterange"
                    ref="filter_date"
                    range-separator="-"
                    start-placeholder="Desde"
                    end-placeholder="Hasta"
                    v-validate="'required'"
                    data-vv-as=" "
                    value-format="yyyy-MM-dd"
                    class="form-control input"
                    v-model="fromDate"
                  ></el-date-picker>
                </b-form-group>
              </div>

              <!-- MAS FILTROS -->
              <div class="col-md-12 mb-4">
                <b-link
                  href="#"
                  class
                  :class="visible ? null : 'collapsed'"
                  :aria-expanded="visible ? 'true' : 'false'"
                  aria-controls="collapse-4"
                  @click="visible = !visible"
                >
                  <i
                    title="Ver mas filtros"
                    class="btn-icon-detail"
                    :class="
                      !visible
                        ? 'fa fa-fw fa-chevron-down'
                        : 'fa fa-fw fa-chevron-up'
                    "
                  ></i>
                  Más filtros
                </b-link>

                <b-collapse id="collapse-1" v-model="visible">
                  <div class="row mt-2">
                    <!-- MOTIVO -->
                    <div class="col-md-3">
                      <label for="filter_date">Motivo</label>
                      <el-select
                        filterable
                        clearable
                        size="small"
                        no-data-text="Cargando datos..."
                        value
                        v-model="typeMotive"
                        no-match-text="No hay datos que coincidan"
                      >
                        <el-option
                          v-for="item in optionFilterMotive"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        ></el-option>
                      </el-select>
                    </div>

                    <!-- TIPO -->
                    <div class="col-md-3">
                      <label for="filter_date">Estado</label>
                      <el-select
                        filterable
                        clearable
                        size="small"
                        no-data-text="Cargando datos..."
                        value
                        v-model="statusOrder"
                        no-match-text="No hay datos que coincidan"
                      >
                        <el-option
                          v-for="item in optionFilterStatus"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        ></el-option>
                      </el-select>
                    </div>

                    <!-- sede -->
                    <div class="col-md-3">
                      <label for="filter_date">Sede</label>
                      <el-select
                        filterable
                        clearable
                        size="small"
                        no-data-text="Cargando datos..."
                        value
                        v-model="sede"
                        no-match-text="No hay datos que coincidan"
                      >
                        <el-option
                          v-for="item in branchOffices.data"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id"
                        ></el-option>
                      </el-select>
                    </div>
                    <div class="col-md-3">
                      <b-button
                        @click="fetchListOrderReject()"
                        class="mt-4"
                        variant="primary"
                      >
                        <span class="btn-label">
                          <i class="ti-search"></i>
                        </span> Listar
                      </b-button>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-2">
                      <div class="ml-4">
                        <b-form-group label="" class="mb-1">
                          <input
                            id="myActivity-checkbox"
                            type="checkbox"
                            class="form-check-input"
                            v-model="tableOrderReject.options.myActivity"
                          />
                          <label
                            class="form-check-label m-0"
                            for="myActivity-checkbox"
                            >Mi Actividad</label
                          >
                        </b-form-group>
                      </div>
                    </div>
                    <div
                      class="col-4"
                      v-if="tableOrderReject.options.myActivity"
                    >
                      <b-form-group label="Actividad Fecha Desde:" class="mb-1">
                        <el-date-picker
                          v-model="tableOrderReject.options.dateFromMyActivity"
                          type="date"
                          placeholder="Desde"
                          size="small"
                          value-format="yyyy-MM-dd"
                        >
                        </el-date-picker>
                      </b-form-group>
                    </div>
                  </div>
                </b-collapse>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 my-3 px-3">
                <button
                  class="btn btn-success"
                  v-b-modal.modal-download-document
                >
                  <i class="fa fa-download"></i>
                  Descargar Pedidos
                </button>

                <!--
                @click="dowloadTableGrid"
                <button
                class="btn btn-primary"
                :disabled="orderSelected.length == 0 || loadingAuthorizeMassOrder"
                @click="authorizeMassOrder"
              >
                <i class="fa fa-check"></i>
                Autorizar Pedidos ({{ orderSelected.length }})
                <i
                  v-if="loadingAuthorizeMassOrder"
                  class="ml-2 fa fa-spinner fa-spin"
                ></i>
              </button> -->
              </div>
              <div class="col-md-10">
                <div class="section-table-totals">
                  <table
                    id="table-totals"
                    class="table table-totals table-sm table-bordered font-weight-bold"
                  >
                    <tbody>
                      <tr>
                        <td class="text-right pr-2 td-no-border-right">
                          <p class="pin-table">CANTIDAD PEDIDOS:</p>
                        </td>
                        <td
                          width="50%"
                          class="p-0 td-no-border-left td-background-blue-totals"
                        >
                          <input
                            class="input-total-ret"
                            type="text"
                            :value="dataTable.length"
                            :disabled="true"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td class="text-right pr-2 td-no-border-right">
                          <p class="pin-table">VALOR TOTAL:</p>
                        </td>
                        <td
                          width="50%"
                          class="p-0 td-no-border-left td-background-blue-totals"
                        >
                          <input
                            class="input-total-ret"
                            type="text"
                            :value="totalValueDocument | currency"
                            :disabled="true"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- TABLA -->
            <div class="row">
              <div class="col-md-12">
                <b-table
                  responsive
                  :items="dataTable"
                  :fields="
                    !tableOrderReject.options.myActivity
                      ? tableOrderReject.fields
                      : tableOrderReject.fieldsMyActivity
                  "
                  @row-selected="onRowSelected"
                  data-vv-name="table"
                  class="table-order tamanio-letra"
                  striped
                  small
                  :busy="tableOrderReject.loading"
                  show-empty
                >
                  <!--
                  selectable
                select-mode="multi"
                  <template v-slot:cell(selected)="{ rowSelected }">
                  <template v-if="rowSelected">
                    <span aria-hidden="true">&check;</span>
                    <span class="sr-only">Selected</span>
                  </template>
                  <template v-else>
                    <span aria-hidden="true">&nbsp;</span>
                    <span class="sr-only">Not selected</span>
                  </template>
                </template> -->
                  <template v-slot:cell(motive_retained)="row">
                    <div class="text-left">
                      {{ row.item.motive_retained || "Retencion Manual" }}
                    </div>
                  </template>
                  <template v-slot:cell(status_authorized)="row">
                    <div class="text-left">
                      <span v-if="row.item.status_authorized">
                        <b-badge
                          href="#"
                          :variant="
                            row.item.status_authorized.id == 912
                              ? 'success'
                              : 'danger'
                          "
                          >{{
                            row.item.status_authorized.name_parameter
                          }}</b-badge
                        >
                      </span>
                      <span v-else-if="row.item.detained">
                        <b-badge href="#" variant="danger">RETENIDO</b-badge>
                      </span>
                      <span v-else>
                        <b-badge href="#" variant="success"
                          >AUTORIZADO SISTEMA</b-badge
                        >
                      </span>
                    </div>
                    <div class="text-left">
                      <b-badge href="#" variant="secondary">{{
                        row.item.state_backorder.name_parameter
                      }}</b-badge>
                    </div>
                  </template>

                  <template v-slot:cell(total_value)="row">
                    <div>{{ row.item.total_value | currency }}</div>
                  </template>
                  <template v-slot:cell(backorder_value)="row">
                    <div>{{ row.item.backorder_value | currency }}</div>
                  </template>
                  <template v-slot:cell(user_authorizes_wallet.name)="row">
                    <div v-if="row.item.user_authorizes_wallet">
                      {{ row.item.user_authorizes_wallet.name }}
                      {{ row.item.user_authorizes_wallet.surname || "" }}
                    </div>
                  </template>

                  <!----  vendedor  -->
                  <template v-slot:cell(seller.name)="row">
                    <div v-if="row.item.seller">
                      {{
                        row.item.seller.name +
                          " " +
                          (row.item.seller.surname
                            ? row.item.seller.surname
                            : "")
                      }}
                    </div>
                  </template>
                  <template v-slot:cell(available_quota)="row">
                    <div
                      :class="row.item.available_quota < 0 ? 'text-danger' : ''"
                    >
                      {{ row.item.available_quota | currency }}
                    </div>
                  </template>

                  <template v-slot:cell(detail)="row">
                    <i
                      title="Ver Pagos"
                      class="btn-icon-detail"
                      :class="
                        !row.detailsShowing
                          ? 'fa fa-fw fa-chevron-down'
                          : 'fa fa-fw fa-chevron-up'
                      "
                      @click="row.toggleDetails"
                    ></i>
                  </template>

                  <!-- Detalle de los productos -->
                  <template v-slot:row-details="row">
                    <div class="content-detail" style="width:85%; margin: auto">
                      <div style="text-align: center; font-weight:600 ">
                        Productos
                      </div>

                      <table
                        class="table-products table table-hover bg-white table-striped table-bordered table-sm"
                      >
                        <thead class="bg-u2">
                          <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="item in row.item.documents_products"
                            :key="item.id"
                          >
                            <td>{{ item.product.code }}</td>
                            <td>{{ item.product.description }}</td>
                            <td class="text-center">
                              {{ item.original_quantity }}
                            </td>
                            <td>
                              {{ item.unit_value_before_taxes | currency }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </template>

                  <!-- ACCIONES -->
                  <template v-slot:cell(actions)="row">
                    <div v-if="!tableOrderReject.options.myActivity">
                      <div class="mb-1">
                        <b-button
                          size="sm"
                          variant="success"
                          @click="approveOrder(row.item, row)"
                          v-if="
                            row.item.state_authorization_wallet_param
                              .code_parameter === '09' ||
                              row.item.state_authorization_wallet_param
                                .code_parameter === '07' ||
                              loadingAuthorizeMassOrder
                          "
                          >Autorizar</b-button
                        >
                        <b-button
                          size="sm"
                          variant="secondary"
                          @click="retainOrder(row.item, row)"
                          v-if="
                            row.item.state_authorization_wallet_param
                              .code_parameter === '09' ||
                              row.item.state_authorization_wallet_param
                                .code_parameter === '05' ||
                              loadingAuthorizeMassOrder
                          "
                          >Retener</b-button
                        >

                        <b-button
                          size="sm"
                          variant="danger"
                          @click="refuseOrder(row.item, row, 'reject')"
                          v-if="
                            row.item.state_authorization_wallet_param
                              .code_parameter === '07' ||
                              loadingAuthorizeMassOrder
                          "
                          >Rechazar</b-button
                        >
                      </div>
                      <b-button
                        id="cartera"
                        size="sm"
                        variant="primary"
                        v-if="subscriber == '900338016'"
                        @click="openModalReceivable(row.item, row)"
                      >
                        Cartera
                        {{ row.item.total_receivable | currency }}
                      </b-button>

                      <b-button
                        id="cartera"
                        size="sm"
                        variant="primary"
                        v-else
                        @click="openreceivableModal(row.item)"
                      >
                        Cartera
                        {{ row.item.total_receivable | currency }}
                      </b-button>
                    </div>
                    <div v-else>
                      <div
                        class="mb-1"
                        v-if="
                          row.item.state_backorder.name_parameter !=
                            'FINALIZADO'
                        "
                      >
                        <b-button
                          size="sm"
                          variant="success"
                          @click="approveOrder(row.item, row)"
                          v-if="
                            !row.item.state_authorization_wallet_param ||
                              row.item.state_authorization_wallet_param
                                .code_parameter === '09' ||
                              row.item.state_authorization_wallet_param
                                .code_parameter === '07' ||
                              loadingAuthorizeMassOrder
                          "
                          >Autorizar</b-button
                        >
                        <b-button
                          size="sm"
                          variant="secondary"
                          @click="retainOrder(row.item, row)"
                          v-if="
                            row.item.state_authorization_wallet_param
                              .code_parameter === '09' ||
                              row.item.state_authorization_wallet_param
                                .code_parameter === '05'
                          "
                          >Retener</b-button
                        >
                        <b-button
                          size="sm"
                          variant="danger"
                          @click="refuseOrder(row.item, row, 'reject')"
                          v-if="
                            !row.item.state_authorization_wallet_param ||
                              row.item.state_authorization_wallet_param
                                .code_parameter === '07' ||
                              row.item.state_authorization_wallet_param
                                .code_parameter === '05' ||
                              loadingAuthorizeMassOrder
                          "
                          >Rechazar</b-button
                        >
                      </div>
                      <div v-else class="mt-2"></div>
                      <b-button
                        id="cartera"
                        size="sm"
                        variant="primary"
                        @click="openModalReceivable(row.item, row)"
                      >
                        Cartera
                        {{ row.item.total_receivable | currency }}
                      </b-button>
                    </div>
                  </template>

                  <!-- LOADING -->
                  <template v-slot:table-busy>
                    <div class="text-center my-2">
                      <b-spinner class="align-middle"></b-spinner>
                      <strong>Cargando...</strong>
                    </div>
                  </template>

                  <!-- EMPTY -->
                  <template v-slot:empty="scope">
                    <h6 class="text-center">No hay información...</h6>
                  </template>
                </b-table>
              </div>
            </div>

            <!-- PAGINACION E INFORMACION DE LA TABLA -->
            <!--<div class="row table-information">
            <div class="col-12">
              <p>
                Mostrando {{ pagination.from }} a {{ pagination.to }} de
                {{ pagination.total }} resultados
              </p>
            </div>

            <div class="col-6 my-1 form-inline">
              <label>Registros por página: &nbsp;</label>
              <b-form-select
                v-model="perPage"
                @change="fetchListOrderReject"
                :options="[5, 10, 15, 30, 100]"
              />
            </div>

            <div class="col-6">
              <b-pagination
                align="right"
                v-model="currentPage"
                :total-rows="pagination.total"
                :per-page="pagination.per_page"
                aria-controls="my-table"
              ></b-pagination>
            </div>
          </div>-->

            <div class="row">
              <!-- <TableReceivable
              :contactId="contact_id"
              idModal="ReceivableModal"
            />-->

              <ContactInformationModal
                :contactId="contact_id"
                id="ContactInformationModal"
              />
            </div>
          </div>
        </div>

        <!-- MODAL APPROVED -->
        <b-modal
          id="modal-approved"
          size="lg"
          centered
          class="modal-backdrop"
          :header-class="classHeaderModalChangeStatus"
        >
          <template #modal-title>{{ titleHeaderModalChangeStatus }}</template>

          <div class="p-2" v-if="selectedOrder">
            <div>
              Pedido {{ selectedOrder.consecutive }} Vr-Total
              {{ selectedOrder.total_value | currency }}
            </div>
            <div class="my-2">
              Cliente: {{ selectedOrder.contact.name }}
              {{ selectedOrder.contact.surname || "" }} -
              {{ selectedOrder.contact.identification }}
            </div>
            <div>
              Vendedor: {{ selectedOrder.seller.name }}
              {{ selectedOrder.seller.surname || "" }} -
              {{ selectedOrder.seller.identification }}
            </div>
          </div>
          <hr class="p-2" />
          <b-form class="row p-2">
            <!-- <div class="col-12 mb-3">
            <label class="label-input" for="value_max_authorized"
              >Valor maximo autorizado</label
            >
            <b-form-input
              id="value_max_authorized"
              v-model="dataApproved.max_value_authorized"
              type="number"
              placeholder="Ingrese un valor..."
            ></b-form-input>
          </div> -->

            <div class="col-12">
              <label class="label-input" for="observation"
                >{{ labelMotiveModalChangeStatus }}
              </label>
              <span class="text-danger">*</span>

              <b-form-textarea
                id="observation"
                v-model="dataApproved.observation_authorized"
                placeholder="Ingrese un motivo..."
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </div>
          </b-form>

          <!-- BOTONES -->
          <template v-slot:modal-footer="{ ok, cancel, hide }">
            <b-button size="sm" variant="secondary" @click="cancel()"
              >Cancel</b-button
            >

            <b-button
              size="sm"
              :variant="variantBtnModalChangeStatus"
              @click="confirmChangeStatusOrder()"
            >
              {{ titleBtnModalChangeStatus }}
            </b-button>
          </template>
        </b-modal>

        <!-- modal Cartera    -->

        <b-modal
          id="modal-receivable"
          size="xl"
          centered
          :title="clientSelected.name"
          class="modal-footer"
        >
          <div class="row p-3">
            <div class="col-12">
              <div class="d-flex justify-content-end">
                <div
                  class="btn btn-primary mb-3"
                  @click="getReceivableCSV(contact_id)"
                  v-if="!receivables.length <= 0"
                >
                  Descargar excel
                </div>
              </div>
            </div>
            <div class="col-12">
              <b-table
                responsive
                :items="receivables"
                :fields="fields"
                :tbody-tr-class="rowClass"
                @row-clicked="
                  item => $set(item, '_showDetails', !item._showDetails)
                "
              >
                <template v-slot:cell(detail)="row">
                  <i
                    v-if="row.item.pay_receivables != ''"
                    v-b-tooltip.bottom
                    title="Ver Pagos"
                    class="fa fa-fw fa-chevron-down"
                    @click="row.toggleDetails"
                  ></i>
                </template>

                <template v-slot:cell(total_value)="row">{{
                  row.item.total_value | currency
                }}</template>

                <template v-slot:cell(dctpp)="row">
                  {{ row.item.dctpp | currency }}
                </template>

                <template v-slot:cell(total_balance)="row">{{
                  row.item.receivable[0].invoice_balance | currency
                }}</template>

                <!-- DETALLE -->
                <template slot="row-details" slot-scope="row">
                  <div style="width:85%; margin: auto">
                    <div
                      style="text-align: center; font-weight:600 "
                      v-if="row.item.transactions.length > 0"
                    >
                      Movimientos
                    </div>
                    <table
                      class="table table-bordered children"
                      v-if="row.item.transactions.length > 0"
                    >
                      <thead style="text-align: center;">
                        <tr>
                          <th>Fecha</th>
                          <th>Comprobante</th>
                          <th>Debito</th>
                          <th>Credito</th>
                          <th>Saldo</th>
                        </tr>
                      </thead>
                      <tbody class>
                        <tr v-for="inv in row.item.transactions" :key="inv.id">
                          <td>{{ inv.document_date }}</td>
                          <td style="text-align: center;">
                            <div
                              v-if="
                                inv.transaction_type == 'D' &&
                                  inv.document.vouchertype.code_voucher_type ==
                                    '205'
                              "
                            >
                              {{
                                inv.document.vouchertype.name_voucher_type +
                                  " - " +
                                  inv.document_number
                              }}
                            </div>
                            <div
                              v-else-if="
                                inv.transaction_type == 'D' &&
                                  inv.document.vouchertype.code_voucher_type ==
                                    '444'
                              "
                            >
                              {{ inv.voucher_type }}
                            </div>
                            <div v-else>
                              {{
                                inv.voucher_type + " - " + inv.document_number
                              }}
                            </div>
                          </td>
                          <!-- debito -->
                          <td style="text-align: center;">
                            <div v-if="inv.transaction_type == 'D'">
                              {{ inv.transaction_value | currency }}
                            </div>
                          </td>
                          <!-- credito -->
                          <td style="text-align: center;">
                            <div v-if="inv.transaction_type == 'C'">
                              {{ inv.transaction_value | currency }}
                            </div>
                          </td>

                          <td>
                            <div
                              id="color"
                              style="text-align: center;"
                              v-if="
                                inv.transaction_type == 'C' &&
                                  inv.payment_applied_erp == 0
                              "
                            >
                              <p>En Proceso</p>
                            </div>
                            <div v-else>{{ inv.balance | currency }}</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </template>
              </b-table>
              <div class="d-flex justify-content-end">
                <table class="table table-sm table-detail-wallet">
                  <tr>
                    <th>
                      <span>Total Cartera</span>
                    </th>
                    <th>
                      <span>{{ clientSelected.totalWallet | currency }}</span>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <span>Cupo Crédito</span>
                    </th>
                    <th>
                      <span>{{ clientSelected.creditQuota | currency }}</span>
                    </th>
                  </tr>

                  <tr>
                    <th>
                      <span
                        :class="
                          clientSelected.availableQuotaDanger
                            ? 'text-danger'
                            : ''
                        "
                        >Cupo Disponible</span
                      >
                    </th>
                    <th>
                      <span
                        :class="
                          clientSelected.availableQuotaDanger
                            ? 'text-danger'
                            : ''
                        "
                        >{{ clientSelected.availableQuota | currency }}</span
                      >
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <span class="text-danger">Saldo en Mora</span>
                    </th>
                    <th>
                      <span class="text-danger">{{
                        clientSelected.totalExpirationDays | currency
                      }}</span>
                    </th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </b-modal>

        <modal-receivable
            :contact_id="contact_id_wallet"
            :contact_title="contact_title_wallet"
            :modal_id="modal_id"
        />

        <!-- DOWNLOAD DOCUMENT -->
        <b-modal
          id="modal-download-document"
          title="Dercargar Documento"
          class="modal-backdrop"
          size="lg"
        >
          <DownloadDocument />

          <!-- BOTONES MODAL-->
          <template v-slot:modal-footer="{ ok, cancel, hide }">
            <b-button size="sm" @click="cancel()">cerrar</b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import TableReceivable from "../../u2/TableReceivable";
import ContactInformationModal from "../../u2/ContactInformationModal";
import loader from "../../layout/loader";
import DownloadDocument from "../inventory-movements/DownloadDocument";
import { Notification, MessageBox } from "element-ui";
import Preloader from "../../layout/preloader";
import modalReceivable from "../../receivable/modal-receivable.vue"

export default {
  name: "TableOrdersRetained",
  components: {
    TableReceivable,
    ContactInformationModal,
    loader,
    DownloadDocument,
    modalReceivable,
    Preloader
  },
  data() {
    return {
      contact_id_wallet: null,
      contact_title_wallet:null,
      modal_id: 'new-receivable-modal',
      subscriber : null,
      loadingInit: true,
      user: "",
      statusModalApproved: "",
      loadingAuthorizeMassOrder: false,
      orderSelected: [],
      loading: true,
      contact_id: "",
      clientSelected: {
        name: "",
        creditQuota: 0,
        availableQuota: 0,
        availableQuotaDanger: false,
        totalWallet: 0,
        totalExpirationDays: 0
      },
      showContactModal: false,
      visible: true,
      fields: [
        { key: "detail", label: "" },
        {
          key: "issue_date",
          label: "Fecha Factura",
          thStyle: { "min-width": "100px !important" }
        },
        {
          key: "due_date",
          label: "Fecha Vencimiento",
          sortable: true,
          class: "text-center "
        },
        {
          key: "consecutive",
          label: "Numero Factura",
          sortable: true,
          class: "text-center"
        },
        {
          key: "expiration_days",
          label: "Dias de Vencimiento",
          sortable: true,
          class: "text-center"
        },
        {
          key: "total_value",
          label: "Valor Facturado",
          sortable: true,
          class: "text-center"
        },
        {
          key: "document_days",
          label: "Dias de Factura",
          sortable: true,
          class: "text-center"
        },
        {
          key: "dctpp",
          label: "Dcto PP",
          sortable: true,
          class: "text-center"
        },
        {
          key: "total_balance",
          label: "Saldo Factura",
          sortable: true,
          class: "text-center"
        }
      ],
      optionFilterMotive: [
        {
          label: "TODO",
          value: ""
        },
        {
          label: "CARTERA VENCIDA",
          value: "Cartera Vencida"
        },
        {
          label: "CUPO INSUFICIENTE",
          value: "Cupo insuficiente"
        },
        {
          label: "CARTERA_VENCIDA / CUPO_INSUFICIENTE",
          value: "Cartera Vencida / Cupo insuficiente"
        }
      ],
      optionFilterStatus: [
        {
          label: "RETENIDOS",
          value: "07"
        },
        {
          label: "AUTORIZADOS",
          value: "05"
        },
        {
          label: "RECHAZADOS",
          value: "09"
        }
      ],
      selectedOrder: ""
    };
  },
  beforeMount(){
    this.subscriber = JSON.parse(localStorage.getItem("subscriber"))
    this.subscriber = this.subscriber ? this.subscriber.identification : null
  },
  methods: {
    openreceivableModal(document_transaction){
        this.contact_id_wallet = document_transaction.contact_id
        this.contact_title_wallet = ''
        this.$root.$emit('bv::show::modal', this.modal_id, '#btnShow')
    },
    async authorizeMassOrder() {
      this.loadingAuthorizeMassOrder = true;

      Promise.all(
        this.orderSelected.map(async os => {
          this.dataApproved.document_id = os.id;
          this.dataApproved.status_id_authorized = 912;
          this.dataApproved.max_value_authorized = "";
          this.dataApproved.observation_authorized = "";
          await this.changeStatusOrder();
        })
      ).then(res => {
        this.loadingAuthorizeMassOrder = false;
      });
    },
    onRowSelected(items) {
      // this.orderSelected = items;
    },
    rowClass(item, type) {
      if (!item) return;
      if (item.expiration_days > 0) return "table-danger";
    },
    ...mapActions("receivable", [
      "fetchReceivablesByContactId",
      "getReceivableCSV"
    ]),
    ...mapActions("branchOffices", ["fetchBranchOffices"]),
    ...mapActions("ordersRetained", [
      "fetchListOrderReject",
      "changeStatusOrder",
      "retainOrderById"
    ]),
    ...mapMutations("ordersRetained", ["resetDataApproved"]),
    async approveOrder(item, row) {
      await this.resetDataApproved();
      this.statusModalApproved = "approved";
      this.selectedOrder = item;
      this.dataApproved.document_id = item.id;
      this.dataApproved.status_id_authorized = 912;
      this.$bvModal.show("modal-approved");
    },
    async refuseOrder(item, row, status) {
      await this.resetDataApproved();
      this.statusModalApproved = "refuse";
      this.selectedOrder = item;
      this.dataApproved.document_id = item.id;
      this.dataApproved.status_id_authorized = 913;
      this.$bvModal.show("modal-approved");
      // let title = "";
      // let titleBtn = "";
      // if (status === "reject") {
      //   title = "¿Esta seguro de rechazar el documento?";
      //   titleBtn = "Rechazar";
      // } else {
      //   title = "¿Esta seguro de actualizar el estado?";
      //   titleBtn = "Actaulizar";
      // }

      // this.$confirm(title, titleBtn, {
      //   confirmButtonText: status === "reject" ? "Rechazar" : "Aceptar",
      //   cancelButtonText: "Cancelar",
      //   type: status === "reject" ? "error" : "warning",
      //   customClass:
      //     status === "reject" ? "notification-error" : "notification-warning"
      // })
      //   .then(result => {
      //     if (result) {
      //       this.dataApproved.document_id = item.id;
      //       this.dataApproved.status_id_authorized = 913;
      //       this.dataApproved.max_value_authorized = "";
      //       this.dataApproved.observation_authorized = "";
      //       this.changeStatusOrder();
      //     }
      //   })
      //   .catch(function(result) {});
    },
    async retainOrder(item, row) {
      await this.resetDataApproved();
      this.statusModalApproved = "retain";
      this.selectedOrder = item;
      this.dataApproved.document_id = item.id;
      this.dataApproved.status_id_authorized = 914;
      this.$bvModal.show("modal-approved");
      // this.$confirm("¿Esta seguro de actualizar el estado?", "Actaulizar", {
      //   confirmButtonText: "Aceptar",
      //   cancelButtonText: "Cancelar",
      //   type: "warning",
      //   customClass: "notification-warning"
      // })
      //   .then(result => {
      //     if (result) {
      //       this.retainOrderById(item.id);
      //     }
      //   })
      //   .catch(function(result) {});
    },
    async openModalReceivable(item, row) {
      await this.fetchReceivablesByContactId(item.contact_id);

      this.contact_id = item.contact_id;
      this.clientSelected.name = `Consulta Cartera: ${item.contact.identification} - ${item.contact.name}`;
      this.clientSelected.creditQuota = item.warehouse.credit_quota;
      this.clientSelected.totalWallet = this.invoiceBalance;
      this.clientSelected.totalExpirationDays = this.totalExpirationDays;

      // Cupo disponible
      let availableQuota =
        this.clientSelected.creditQuota - this.clientSelected.totalWallet;

      if (availableQuota < 0) {
        this.clientSelected.availableQuotaDanger = true;
        availableQuota = -availableQuota;
      }

      this.clientSelected.availableQuota = availableQuota;

      this.$bvModal.show("modal-receivable");
    },
    async confirmChangeStatusOrder() {
      if (!this.dataApproved.observation_authorized) {
        Notification.error({
          title: "Error!",
          message: `El motivo de ${
            this.statusModalApproved == "approved" ? "autorización" : "rechazo"
          } es obligatorio.`,
          type: "error",
          duration: 3000,
          customClass: "notification-box"
        });
        return;
      }

      if (this.statusModalApproved == "retain") {
        await this.retainOrderById(this.dataApproved.document_id);
      } else {
        await this.changeStatusOrder();
      }

      await this.resetDataApproved();
      await this.fetchListOrderReject();
      this.$bvModal.hide("modal-approved");
    },
    openContactModalInfo(contact_id) {
      this.contact_id = contact_id;
      this.$bvModal.show("ContactInformationModal");
    },
    async initComponent() {
      this.user = JSON.parse(localStorage.user);
      await this.setDateRangeParam();
      await this.setBranchOfficesDefaultUser();
      await this.fetchBranchOffices();
      await this.fetchListOrderReject();
      this.loading = false;
      this.loadingInit = false;
    },
    setBranchOfficesDefaultUser() {
      const branchoffice_id = this.user.branchoffice_id;

      if (branchoffice_id) {
        this.tableOrderReject.options.sede = branchoffice_id;
      }
    },
    setDateRangeParam() {
      // Seteamos la fecha
      var dt = new Date();

      // Fecha Actual
      this.tableOrderReject.options.fromDate[1] = dt
        .toISOString()
        .substring(0, 10);

      this.tableOrderReject.options.dateFromMyActivity = dt
        .toISOString()
        .substring(0, 10);

      //Hace 30 Dias
      dt.setDate(dt.getDate() - 30);
      this.tableOrderReject.options.fromDate[0] = dt
        .toISOString()
        .substring(0, 10);
    },
    dowloadTableGrid() {
      const fields = !this.tableOrderReject.options.myActivity
        ? this.tableOrderReject.fields
        : this.tableOrderReject.fieldsMyActivity;

      const columns = [];

      fields.map(f => {
        if (f.key !== "detail" && f.key !== "selected" && f.key !== "actions") {
          columns.push(f.label.toUpperCase());
        }
      });
      console.log(columns);

      return;

      let column = [
        "TIPO SOLICITUD",
        "FECHA SOLICITUD",
        "IDENT CLIENTE",
        "NOMBRE CLIENTE",
        "TELÉFONO",
        "DIRECCIÓN",
        "VENDEDOR",
        "COD PRODUCTO",
        "DESCRIPCIÓN PROD",
        "UNIDADES",
        "LOTE",
        "FEC VENC",
        "ESTADO",
        "FECHA HORA ESTADO"
      ];

      let dataTable = [];
      let dataCsv = "";
      const dataGrid = this.tableServiceRequests.data;

      dataGrid.map((d, indexd) => {
        if (d.actual_state.state.name != "Cerrada") {
          let warehouse = d.contact.warehouses[0]
            ? d.contact.warehouses[0]
            : null;

          let info = [
            d.type.name,
            d.date,
            d.contact.identification,
            d.contact.name + " " + d.contact.surname,
            warehouse ? warehouse.telephone : null,
            warehouse ? warehouse.address : null,
            d.seller ? d.seller.name + " " + d.seller.surname : null,
            d.product ? d.product.code : null,
            d.product ? d.product.description : null,
            d.number_batteries ? d.number_batteries : 1,
            d.lot,
            d.due_date,
            d.actual_state.state.name,
            d.actual_state.date
          ];

          dataTable.push(info);
        }
      });

      dataTable.unshift(column);

      dataTable.map(dg => {
        dataCsv += dg.join(";");
        dataCsv += "\n";
      });

      var universalBOM = "\uFEFF";
      var hiddenElement = document.createElement("a");
      hiddenElement.href =
        "data:text/csv; charset=utf-8," +
        encodeURIComponent(universalBOM + dataCsv); //encodeURI(dataCsv);
      hiddenElement.target = "_blank";
      hiddenElement.download = "solicitudes-servicio.csv";
      hiddenElement.click();
    }
  },
  computed: {
    classHeaderModalChangeStatus() {
      let classHeader = "";

      switch (this.statusModalApproved) {
        case "approved":
          classHeader = "modal-approved";
          break;
        case "refuse":
          classHeader = "modal-refuse";
          break;
        case "retain":
          classHeader = "modal-retain";
          break;

        default:
          classHeader = "modal-approved";

          break;
      }

      return classHeader;
    },
    titleHeaderModalChangeStatus() {
      let titleHeader = "";

      switch (this.statusModalApproved) {
        case "approved":
          titleHeader = "¿Esta Seguro de Autorizar el Pedido?";
          break;
        case "refuse":
          titleHeader = "¿Esta Seguro de Rechazar el Pedido?";
          break;
        case "retain":
          titleHeader = "¿Esta Seguro de Retener el Pedido?";
          break;

        default:
          titleHeader = "¿Esta Seguro de Autorizar el Pedido?";
          break;
      }

      return titleHeader;
    },
    labelMotiveModalChangeStatus() {
      let titleLabel = "";

      switch (this.statusModalApproved) {
        case "approved":
          titleLabel = "Motivo Autorización";
          break;
        case "refuse":
          titleLabel = "Motivo Rechazo";
          break;
        case "retain":
          titleLabel = "Motivo Retencion";
          break;

        default:
          titleLabel = "Motivo Autorización";
          break;
      }

      return titleLabel;
    },
    variantBtnModalChangeStatus() {
      let variant = "";

      switch (this.statusModalApproved) {
        case "approved":
          variant = "success";
          break;
        case "refuse":
          variant = "danger";
          break;
        case "retain":
          variant = "dark";
          break;

        default:
          variant = "success";
          break;
      }

      return variant;
    },
    titleBtnModalChangeStatus() {
      let titleBtn = "";

      switch (this.statusModalApproved) {
        case "approved":
          titleBtn = "Autorizar";
          break;
        case "refuse":
          titleBtn = "Rechazar";
          break;
        case "retain":
          titleBtn = "Retener";
          break;

        default:
          titleBtn = "Autorizar";
          break;
      }

      return titleBtn;
    },
    totalValueDocument() {
      let total_value = 0;
      this.dataTable.map(d => {
        total_value += d.total_value;
      });
      return total_value;
    },
    disabledBranchOffices() {
      if (this.user_logued.get_roles.some(r => r.role === "superadmin")) {
        return false;
      }
      if (this.user.branchoffice_id) {
        return true;
      }

      return false;
    },
    invoiceBalance: function() {
      let total = 0;
      if (this.receivables) {
        this.receivables.map(element => {
          total += element.receivable[0].invoice_balance;
        });
      }
      return total;
    },
    totalExpirationDays: function() {
      let total = 0;
      if (this.receivables) {
        this.receivables.map(element => {
          if (element.expiration_days > 0) {
            total += element.receivable[0].invoice_balance;
          }
        });
      }
      return total;
    },

    ...mapState("receivable", ["receivables", "params"]),
    ...mapState("branchOffices", ["branchOffices"]),
    ...mapState("ordersRetained", ["tableOrderReject", "dataApproved"]),
    ...mapState("login", ["user_logued"]),
    dataTable() {
      return this.tableOrderReject.data;
    },
    pagination() {
      return this.tableOrderReject.pagination;
    },
    currentPage: {
      get() {
        return this.tableOrderReject.options.currentPage;
      },
      set(valNew, valOld) {
        this.tableOrderReject.options.currentPage = valNew;
      }
    },
    perPage: {
      get() {
        return this.tableOrderReject.options.perPage;
      },
      set(valNew, valOld) {
        this.tableOrderReject.options.perPage = valNew;
      }
    },

    search: {
      get: function() {
        return this.tableOrderReject.options.search;
      },
      set: function(newValue) {
        this.tableOrderReject.options.search = newValue;
        this.tableOrderReject.options.fromDate = ["", ""];
      }
    },
    fromDate: {
      get: function() {
        return this.tableOrderReject.options.fromDate;
      },
      set: function(newValue) {
        if (newValue == null) {
          this.tableOrderReject.options.fromDate = ["", ""];
        } else {
          this.tableOrderReject.options.search = "";
          this.tableOrderReject.options.fromDate = newValue;
        }
      }
    },

    sede: {
      get: function() {
        return this.tableOrderReject.options.sede;
      },
      set: function(params) {
        this.tableOrderReject.options.sede = params;
      }
    },

    typeMotive: {
      get: function() {
        return this.tableOrderReject.options.typeMotive;
      },
      set: function(newValue) {
        this.tableOrderReject.options.typeMotive = newValue;
      }
    },
    statusOrder: {
      get: function() {
        return this.tableOrderReject.options.state_auth;
      },
      set: function(newValue) {
        this.tableOrderReject.options.typeMotive = "";
        this.tableOrderReject.options.state_auth = newValue;
      }
    }
  },
  watch: {
    currentPage() {
      this.fetchListOrderReject();
    }
  },
  //CICLO DE VIDA
  created() {
    this.initComponent();
  }
};
</script>

<style>
.modal-header.modal-approved {
  background: #007db3 !important;
  color: #fff;
}

.modal-header.modal-refuse {
  background: #f66 !important;
  color: #fff;
}
.modal-header.modal-retain {
  background: #868e96 !important;
  color: #fff;
}

.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}

/* .modal-header {
  background: #007db3 !important;
  color: #fff;
} */

.table-order .b-table > thead {
  background-color: #6699cc;
  color: white;
}

.content-detail table.table-products > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table.table-products > tbody td {
  background-color: #fff;
}

.btn-icon-detail {
  cursor: pointer;
}

.btn-icon-detail:hover {
  opacity: 0.6;
}

.btn-link-client {
  /*color: rgb(148, 148, 148);*/
  color: #146f95ea !important;
}

.btn-link-client:hover {
  /*color: #000;*/
  color: #3b5998 !important;
}

.fontPink {
  background: #f8d7da;
}

/* .modal-footer {
  display: none !important;
} */

#cartera {
  width: 180px;
}

.children,
.children td {
  background: white;
}

#color {
  background: #fe6806;
  color: #fff;
  width: 100%;
}

#color p {
  margin: auto;
}

/* ----------- */
.section-table-totals {
  display: flex;
  justify-content: flex-end;
}

.table-totals {
  width: auto;
}

.td-no-border-right {
  border-right: none !important;
}
.td-no-border-left {
  border-left: none !important;
}
.pin-table {
  line-height: 0px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.td-background-blue-totals {
  background: rgb(238, 246, 255) !important;
}
.input-total-ret {
  border: none !important;
  width: 100%;
  float: right;
  text-align: right;
  font-weight: bold;
  height: 100%;
  outline: none;
  background: none;
}

.table-detail-wallet {
  width: 240px;
}

.tamanio-letra{
  font-size: 14px;
}
</style>
