<template>
  <div class="report-content">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <b-card no-body class="mb-1" style="width: 98%">
        <b-btn
          block
          href="#"
          v-b-toggle.general_data
          id="acordeon"
          class="new-accordion accordion-title"
          @click="changeIcon"
          >Filtros Informe
          <span class="aling-left">
            <i v-bind:class="iconAcordion"></i>
          </span>
        </b-btn>
        <b-collapse v-bind:visible="true" id="general_data" role="tabpanel">
          <b-card-body class="banner-new">
            <div class="row">
              <div class="col-3">
                <label for="year_month_from">Año Mes desde</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-date-picker
                  v-model="params.year_month_from"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-3">
                <label for="year_month_up">Año Mes Hasta</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-date-picker
                  v-model="params.year_month_up"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-3">
                <label for="type_query">Tipo Consulta</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-select
                  v-model="params.type_query"
                  filterable
                  placeholder="Seleccione un Tipo de Consulta"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  @change = "changeColumns"
                >
                  <el-option
                    key="type_query_0"
                    label="Detallado Producto"
                    value="0"
                  ></el-option>
                  <el-option
                    key="type_query_1"
                    label="Resumen Por Factura"
                    value="1"                    
                  ></el-option>
                </el-select>
              </div>
            </div>
<!--             <div class="row">
              <div class="col-3 inline">
                <span for="filter_text">Palabra</span>&nbsp;
                <el-input
                  v-model="params.filter_text"
                  placeholder="Busqueda Palabra"
                  @keyup.native="validateForm"
                  style="text-transform: uppercase"
                  class="min-input"
                />
              </div>
            </div> -->
            <div class="row">
              <div class="col-12 mb-2" style="text-align: center">
                <b-button
                  v-b-toggle.general_data
                  type="submit"
                  class="mt-4"
                  variant="primary"
                >
                  <span class="btn-label">
                    <i class="ti-search min-height"></i>
                  </span>
                  Listar
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>
    <Preloader v-if="loading.module" />
    <ag-grid-vue
      style="width: 100%; height: 90%"
      :class="ag_grid.selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="reporte_comisiones.data"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :ExcelExportParams="ExcelExportParams_"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :pinnedTopRowData="pinnedTopRowData"
      :frameworkComponents="frameworkComponents"
      :pinnedBottomRowData="pinnedBottomRowData"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
      @filterChanged="filterChanged"
    ></ag-grid-vue>
  </div>
</template>

<script>
import { AgGridVue } from "@ag-grid-community/vue";
// import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
// import totalRowComponent from "../../components/totalRowComponent.vue";
import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  data() {
    return {
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
      iconAcordion: "ti-angle-down",
      columnDefs: [],
      gridOptions: null,
      gridApi: null,
      statusBar: null,
      defaultColDef: null,
      rowGroupPanelShow: null,
      groupDefaultExpanded: null,
      autoGroupColumnDef: null,
      selectedTheme: "ag-theme-balham",
      ExcelExportParams_: [{ fileName: "test.xlsx" }],
      frameworkComponents: null,
      pinnedBottomRowData: null,
      pinnedTopRowData: null,
      getRowStyle: null,
      optionsThemes: [
        { value: "ag-theme-alpine", label: "Alpine" },
        { value: "ag-theme-dark", label: "Dark" },
        { value: "ag-theme-balham", label: "Balham" },
        { value: "ag-theme-balham-dark", label: "Balham dark" },
        // { value: "ag-theme-material", label: "Material" },
      ],
      themes: [
        { theme: "ag-theme-alpine", label: "Alpine" },
        { theme: "ag-theme-dark", label: "Dark" },
        { theme: "ag-theme-balham", label: "Balham" },
        { theme: "ag-theme-balham-dark", label: "Balham dark" },
        { theme: "ag-theme-material", label: "Material" },
      ],
      sideBar: {
        toolPanels: [
          {
            id: "columns",
            labelDefault: "Columnas",
            labelKey: "columns",
            iconKey: "columns",
            toolPanel: "agColumnsToolPanel",
          },
          {
            id: "filters",
            labelDefault: "Filtros",
            labelKey: "filters",
            iconKey: "filter",
            toolPanel: "agFiltersToolPanel",
          },
        ],
       // defaultToolPanel: "filters",
        hiddenByDefault: false,
      },
      gridColumnApi: null,
      columnTypes: null,
      modules: AllModules,
    };
  },
  components: {
    AgGridVue,
    Card,
    Preloader,
    ModalAccount,
  },
  created(){
        this.init();
  },
  async beforeMount() {
    this.gridOptions = {};

    this.autoGroupColumnDef = { minWidth: 450 };

      this.columnDefs = [

        {
          headerName: 'Datos Recibo Caja',
          children: [
              { field: 'seller',headerName: 'Vendedor', width: 200 },
              { field: 'document_date_cash_receipt',headerName: 'Fecha RC',width: 50 },
              { field: 'cash_receipt',headerName: 'Numero RC',width: 80 },
              { field: 'contact',headerName: 'Cliente',width: 250},
              { field: 'invoice',headerName: 'Num-Fact',width: 80},
              { field: 'discount', headerName: 'Dcto-Pago',valueFormatter: this.currencyFormatter,cellClass: "not-bold aling-left-text",width: 80},
              { field: 'pay', headerName: 'Pago-Neto-Fact',valueFormatter: this.currencyFormatter,cellClass: "not-bold aling-left-text",width: 80 },
          ]
        },
        {
          headerName: 'Datos Liquidacion Comision Prod',
          children: [
              { field: 'value_commission',headerName: 'Vr-Comis',cellClass: "yes-bold aling-left-text good-score",valueFormatter: this.currencyFormatterNotDecimal,width: 100},
          ]
        },
      ];

      this.columnDefsExtend = [
      {
          headerName: 'Datos Recibo Caja',
          children: [
              { field: 'seller',headerName: 'Vendedor', width: 200 },
              { field: 'document_date_cash_receipt',headerName: 'Fecha RC',width: 50 },
              { field: 'cash_receipt',headerName: 'Numero RC',width: 80 },
              { field: 'contact',headerName: 'Cliente',width: 250},
              { field: 'invoice',headerName: 'Num-Fact',width: 80},
              { field: 'discount', headerName: 'Dcto-Pago',valueFormatter: this.currencyFormatter,cellClass: "not-bold aling-left-text",width: 80},
              { field: 'pay', headerName: 'Pago-Neto-Fact',valueFormatter: this.currencyFormatter,cellClass: "not-bold aling-left-text",width: 80 },
          ]
        },
        {
          headerName: 'Datos Prod Factura',
          children: [
              { field: 'code',headerName: 'Cod Producto',width: 150 },
              { field: 'description',headerName: 'Descripcion',width: 250 },
              { field: 'unit_value_before_taxes',headerName: 'Vr-Producto',valueFormatter: this.currencyFormatter ,cellClass: "not-bold aling-left-text",width: 80},
              { field: 'participation_percentage',headerName: '% Particip Fact',width: 50 },
              { field: 'discount_invoice',headerName: '% Dcto-Fact',cellClass: "not-bold aling-left-text",width: 80 },
              { field: 'document_date_invoice',headerName: 'Fecha Fact',width: 50 },
          ]
        },
        {
          headerName: 'Datos Liquidacion Comision Prod',
          children: [
              { field: 'pay_product',headerName: 'Vr-Pago-Prod',valueFormatter: this.currencyFormatter,cellClass: "not-bold aling-left-text",width: 50},
              { field: 'days_pay',headerName: 'Dias Pago',cellClass: "not-bold aling-left-text",width: 50 },
              { field: 'commission_percentage',headerName: '% Comis',cellClass: "not-bold aling-left-text",width: 50 },
              { field: 'value_commission',headerName: 'Vr-Comis',cellClass: "yes-bold aling-left-text good-score",valueFormatter: this.currencyFormatterNotDecimal,width: 100},
          ]
        },
      ];
    

    this.getRowStyle = (params) => {
      if (params.node.rowPinned) {
        return {
          color: "#3d3d3d",
          "font-size": "15px",
          "font-weight": "bold",
          background: "#c1c1c1",
          "border-top": "1px solid #fff",
        };
      }
    };

    this.defaultColDef = {
      minWidth: 120,
      enableValue: true,
      enableRowGroup: true,
      sortable: true,
      filter: true,
      floatingFilter: true,
      resizable: true,
    };

    this.statusBar = {
      statusPanels: [
        {
          statusPanel: "agTotalAndFilteredRowCountComponent",
          align: "left",
        },
        {
          statusPanel: "agTotalRowCountComponent",
          align: "center",
        },
        { statusPanel: "agFilteredRowCountComponent" },
        { statusPanel: "agSelectedRowCountComponent" },
        { statusPanel: "agAggregationComponent" },
      ],
    };

    this.groupDefaultExpanded = 0;
    this.rowGroupPanelShow = "always";

    // this.gridApi.openToolPanel("columns");

    this.pinnedBottomRowData = this.createData();

    this.frameworkComponents = {
      customPinnedRowRenderer: totalRowComponent,
    };
  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridColumnApi = this.gridOptions.columnApi;
  },
  computed: {
    ...mapState("reportcommisions", [
      "reporte_comisiones",
      "ag_grid",
      "loading",
      "params",
      "params_cotact",
      "contacts",
    ]),
  },
  methods: {
    ...mapMutations('reportcommisions', ['setParams']),
    ...mapActions('reportcommisions', ['fetchReportCommisions','changeColumns']),
    async changeColumns(){
      await this.validateForm();
      if(this.params.type_query == 1){
        this.gridApi.setColumnDefs(this.columnDefs);
      }else{
        this.gridApi.setColumnDefs(this.columnDefsExtend);
      }
    },
    onBtExcludeMedalColumns() {
          this.gridApi.setColumnDefs(columnDefs);
    },
    onBtIncludeMedalColumns() {
        this.gridApi.setColumnDefs(columnDefsExtend);
    },
    filterChanged(params) {
      let result = {
        discount: 0,
        unit_value_before_taxes: 0,
        pay: 0,
        pay_product: 0,
        value_commission: 0,
      };

      params.api.forEachNodeAfterFilter(i => {
        result.discount += Number(i.data.discount);
        result.unit_value_before_taxes += Number(i.data.unit_value_before_taxes);
        result.pay_product += Number(i.data.pay_product);
        result.pay += Number(i.data.pay);
        result.value_commission += Number(i.data.value_commission);
      });

      this.pinnedBottomRowData = [result];
    },
    validateFinalBalance(params){
      let res = "";
      if(params.data.account){
        if(params.data.balance == 0){
          res = 0; //yes-bold-soft aling-left-text
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 1){
          res = 1;//yes-bold-soft aling-left-text bad-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 1){
          res = 2;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 2){
          res = 3;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 2){
          res = 4;//yes-bold-soft aling-left-text bad-score
        }

      }else{
        res = 0;
      }

      return res;
    },
    onBtExport() {
      var params = {
        fileName: "Reporte-Comisiones.xlsx",
      };
      this.gridApi.exportDataAsExcel(params);
    },
    onBtCsv() {
      var params = {
        fileName: "Reporte-Comisiones.csv",
      };
      this.gridApi.exportDataAsCsv(params);
    },

    createData() {
      let result = [
        {
          discount: 0,
          pay: 0,
          unit_value_before_taxes: 0,
          pay_product: 0,
          value_commission: 0,
        },
      ];

       for (let element in result[0]) {
          result[0][element] = +this.reporte_comisiones.data.reduce(
            (total, currentValue) => +total + (+currentValue[element] || 0), 0
          );
        }

      return result;
    },
    getContactName(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.contact) {
        return `${params.data.contact.name} ${
          params.data.contact.surname || ""
        } `;
      } else {
        return "";
      }
    },
    getDebitValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "D") {
        return `${params.data.operation_value}`;
      }
    },
    getCreditValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "C") {
        return `${params.data.operation_value}`;
      }
    },
    currencyFormatter(params) {
      if (params.value !== "undefined" && params.value !== undefined && params.value !== null) {
        return this.formatNumber(params.value);
      }

      return "";
    },
    currencyFormatterNotDecimal(params) {
      if (params.value !== "undefined" && params.value !== undefined && params.value !== null) {
        return this.formatNumberNotDecimal(params.value);
      }

      return "";
    },
    formatNumberNotDecimal(number) {



      number = Math.floor(number).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
      return number;

    },
    formatNumber(number) {

      return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
    },
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;

      // si la cuenta hasta es vacia se sugiere la cuenta desde
      this.params.account_up =
        this.params.account_up == null || this.params.account_up == ""
          ? account.code
          : this.params.account_up;
      this.params.description_account_up =
        this.params.description_account_up == null ||
        this.params.description_account_up == ""
          ? account.code + " - " + account.name
          : this.params.description_account_up;
      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },
    async fetchContact(filter) {
      this.params_cotact.query = filter;
      await this.fetchContacts();
    },
    async validateForm() {
      // if (
      //   (this.params.contact_warehouse_id == null &&
      //     this.params.contact_id == null) ||
      //   this.params.contact_warehouse_id == "" ||
      //   this.params.contact_id == ""
      // ) {
      //   this.$notify({
      //     title: "Atención",
      //     message: "Debe Selecconar Tercero o Sucursal",
      //     type: "warning",
      //   });
      //   return false;
      // }

      this.loading.module = true;
      await this.fetchReportCommisions();
      await localStorage.setItem(
        "params_report_commisions_contact",
        JSON.stringify(this.params)
      );
      this.pinnedBottomRowData = this.createData();
      //window.open('/#/reportes/libro-auxiliar-tercero','_blank');
    },
    async init() {
      await this.setDefaultYearMonth();
      this.loading.module = false;

    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month_from = await this.formatDate(this.restarMes(d));
      this.params.year_month_up = this.params.year_month_from;
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - fecha.getDate());
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
    changeIcon() {
      if (this.iconAcordion == "ti-angle-up") {
        this.iconAcordion = "ti-angle-down";
      } else {
        this.iconAcordion = "ti-angle-up";
      }
    },
  },
};
</script>
