<template>
  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-sm-6 col-md-4">
        <label for="plate_number">
          Num Placa
        </label>
        <el-input
          id="plate_number"
          name="plate_number"
          autosize
          placeholder="Numero de la placa..."
          v-model="fixAssetAddition.plate_number"
          :disabled="disabledInputs"
          v-validate="'required'"
          data-vv-as=" "
        />
        <i class="text-danger icon-error"></i>
        <span class="text-danger span-error">{{
          errors.first("form-fix-assets-addition.plate_number")
        }}</span>
      </div>

      <div class="form-group col-sm-6 col-md-4">
        <label for="value">
          Valor
        </label>

        <Money
          id="value"
          name="value"
          v-model="fixAssetAddition.value"
          v-bind="moneyDecimals"
          class="el-input__inner"
          :disabled="disabledInputs"
          v-validate="'required'"
          data-vv-as=" "
        />
        <i class="text-danger icon-error"></i>
        <span class="text-danger span-error">{{
          errors.first("form-fix-assets-addition.value")
        }}</span>
      </div>

      <div class="form-group col-sm-6 col-md-4">
        <label for="date_addition">
          Fecha Adicion
        </label>
        <el-date-picker
          id="date_addition"
          type="date"
          class="w-100"
          clearable
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          autosize
          v-model="fixAssetAddition.date_addition"
          :disabled="disabledInputs"
        />
      </div>

      <div class="form-group col-sm-6 col-md-4">
        <label for="description">
          Descripcion
        </label>
        <el-input
          id="description"
          name="description"
          type="textarea"
          autosize
          v-model="fixAssetAddition.description"
          :disabled="disabledInputs"
          v-validate="'required'"
          data-vv-as=" "
        />
        <i class="text-danger icon-error"></i>
        <span class="text-danger span-error">{{
          errors.first("form-fix-assets-addition.description")
        }}</span>
      </div>
    </div>

    <div class="row" v-if="!disabledInputs">
      <div class="form-group col-12">
        <b-button
          @click="validateForm"
          class="btn btn-labeled btn-primary float-right ml-1 otro-boton"
        >
          <span class="btn-label">
            <i class="ti-save-alt"> </i>
          </span>
          &nbsp;
          {{ fixAssetAddition.id ? "Actualizar" : "Crear" }}
        </b-button>
        <b-button
          type="button"
          id="limpiar"
          class="btn btn-labeled btn-secondary float-right"
          @click="resetFixAssetAddition"
        >
          <span class="btn-label">
            <i class="ti-close"> </i>
          </span>
          &nbsp; {{ fixAssetAddition.id ? "Nuevo" : "Limpiar" }}
        </b-button>
      </div>
    </div>

    <hr />

    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.location>ADICIONES</b-btn>
      <b-collapse id="location" visible role="tabpanel">
        <b-card-body>
          <fix-assets-addition-table />
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import { Money } from "v-money";
import FixAssetsAdditionTable from "../tables/FixAssetsAdditionTable.vue";

export default {
  components: { Money, FixAssetsAdditionTable },
  props: ["disabledInputs"],
  data() {
    return {
      moneyDecimals: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 0,
        masked: false
      }
    };
  },
  computed: {
    ...mapState("fixAssets", ["fixAssetAddition"])
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchFixAssetAdditionById",
      "createFixAssetAddition",
      "fetchFixAssetById",
      "updateFixAssetAddition"
    ]),
    ...mapMutations("fixAssets", ["resetFixAssetAddition"]),
    async validateForm() {
      await this.$validator
        .validateAll("form-fix-assets-addition")
        .then(async result => {
          if (result) {
            // actualizar
            if (this.fixAssetAddition.id) {
              await this.updateFixAssetAddition();
            }
            // crear
            else {
              await this.createFixAssetAddition();
            }

            const id = this.$route.params.id;
            await this.fetchFixAssetById(id);

            this.resetFixAssetAddition();
          } else {
            this.$alert(
              "El formulario no ha pasado la validacion. Verifique la informacion y vuelva a intentarlo.",
              "¡Error!",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                dangerouslyUseHTMLString: true
              }
            );
          }
        });
    }
  }
};
</script>
