<template>
  <div>
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.generalInformation
        >INFORMACION GENERAL</b-btn
      >
      <b-collapse id="generalInformation" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="brand">
                Marca
              </label>
              <el-input
                id="brand"
                autosize
                v-model="fixAsset.brand"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="model">
                Modelo
              </label>
              <el-input
                id="model"
                autosize
                v-model="fixAsset.model"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="serial_number">
                No Serie
              </label>
              <el-input
                id="serial_number"
                autosize
                v-model="fixAsset.serial_number"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="engine_number">
                No Motor
              </label>
              <el-input
                id="engine_number"
                autosize
                v-model="fixAsset.engine_number"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="deeds">
                Escrituras
              </label>
              <el-input
                id="deeds"
                autosize
                v-model="fixAsset.deeds"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="quantity">
                Cantidad
              </label>
              <el-input
                id="quantity"
                autosize
                v-model="fixAsset.quantity"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="class_id">
                Clase
              </label>
              <el-select
                id="class_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.class_id"
                :disabled="disabledInputs"
                @focus="fetchClasses"
              >
                <el-option
                  v-for="item in classes"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.location>UBICACION</b-btn>
      <b-collapse id="location" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="city_id">
                Ciudad
              </label>
              <el-select
                id="city_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.city_id"
                :disabled="disabledInputs"
                @focus="fetchCities"
              >
                <el-option
                  v-for="item in cities"
                  :key="item.id"
                  :label="item.city"
                  :value="item.id"
                ></el-option>

                <el-option
                  v-if="cities.length === 0 && fixAsset.city"
                  :key="fixAsset.city.id"
                  :label="fixAsset.city.city"
                  :value="fixAsset.city.id"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="branchoffices_id">
                Sede
              </label>
              <el-select
                id="branchoffices_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.branchoffices_id"
                :disabled="disabledInputs"
                @focus="fetchBranchOffices"
              >
                <el-option
                  v-for="branchoffice in branchoffices"
                  :key="branchoffice.value"
                  :label="branchoffice.label"
                  :value="branchoffice.value"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="address">
                Direccion
              </label>
              <el-input
                id="address"
                autosize
                v-model="fixAsset.address"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="location">
                Lugar
              </label>
              <el-input
                id="location"
                autosize
                v-model="fixAsset.location"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="cost_center_id">
                Centro Costos
              </label>
              <el-select
                id="cost_center_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.cost_center_id"
                :disabled="disabledInputs"
                @focus="fetchCostCenters"
              >
                <el-option
                  v-for="item in costCenters"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="contact_responsible_id">
                Contacto Responsable
              </label>
              <el-select
                id="contact_responsible_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.contact_responsible_id"
                :disabled="disabledInputs"
                remote
                :remote-method="fetchContactResponsibles"
              >
                <el-option
                  v-for="item in contactResponsibles"
                  :key="item.id"
                  :label="
                    `${item.identification} - ${item.name} ${item.surname ||
                      ''}`
                  "
                  :value="item.id"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="delivery_date">
                Fecha Entrega
              </label>
              <el-date-picker
                id="delivery_date"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                v-model="fixAsset.delivery_date"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="delivery_doc">
                Doc Entrega
              </label>
              <el-input
                id="delivery_doc"
                autosize
                v-model="fixAsset.delivery_doc"
                :disabled="disabledInputs"
              />
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.dataDerecognized
        >DATOS DADO DE BAJA</b-btn
      >
      <b-collapse id="dataDerecognized" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="derecognized_date">
                Fecha Baja
              </label>
              <el-date-picker
                id="derecognized_date"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                v-model="fixAsset.derecognized_date"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="contact_sale_id">
                Contacto Venta
              </label>
              <el-select
                id="contact_sale_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.contact_sale_id"
                remote
                :remote-method="fetchContactsSale"
                :disabled="disabledInputs"
              >
                <el-option
                  v-for="item in contactsSale"
                  :key="item.id"
                  :label="
                    `${item.identification} - ${item.name} ${item.surname ||
                      ''}`
                  "
                  :value="item.id"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="value_derecognized">
                Valor Baja
              </label>

              <Money
                id="value_derecognized"
                v-model="fixAsset.value_derecognized"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="derecognized_type_id">
                Tipo Baja
              </label>
              <el-select
                id="derecognized_type_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.derecognized_type_id"
                :disabled="disabledInputs"
                @focus="fetchDerecognizedTypes"
              >
                <el-option
                  v-for="item in derecognizedTypes"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="derecognized_observation">
                Observacion Baja
              </label>
              <el-input
                id="derecognized_observation"
                type="textarea"
                autosize
                v-model="fixAsset.derecognized_observation"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="derecognized_document_id">
                Doc Baja
              </label>
              <el-select
                id="derecognized_document_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.derecognized_document_id"
                :disabled="disabledInputs"
              >
                <!-- <el-option
                  v-for="item in []"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option> -->
              </el-select>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { Money } from "v-money";

export default {
  components: { Money },
  props: ["disabledInputs"],
  data() {
    return {
      moneyDecimals: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false
      }
    };
  },
  computed: {
    ...mapState("fixAssets", [
      "fixAsset",
      "classes",
      "cities",
      "costCenters",
      "contactResponsibles",
      "contactsSale",
      "derecognizedTypes"
    ]),
    ...mapState("inventoryMovements", ["branchoffices"])
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchClasses",
      "fetchCities",
      "fetchCostCenters",
      "fetchContactResponsibles",
      "fetchContactsSale",
      "fetchDerecognizedTypes"
    ]),
    ...mapActions("inventoryMovements", ["fetchBranchOffices"])
  }
};
</script>
