<template>
  <div>
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.acquisitionData>DATOS ADQUICISION</b-btn>
      <b-collapse id="acquisitionData" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="long_description">
                Descripcion Larga
              </label>
              <el-input
                id="long_description"
                type="textarea"
                autosize
                v-model="fixAsset.long_description"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="purchase_date">
                Fecha De Compra
              </label>
              <el-date-picker
                id="purchase_date"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                v-model="fixAsset.purchase_date"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="date_regist">
                Fecha De Registo
              </label>
              <el-date-picker
                id="date_regist"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                :disabled="disabledInputs"
                v-model="fixAsset.date_regist"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="year_month_start_caus">
                Año Mes Ini Causacion
              </label>
              <el-date-picker
                id="year_month_start_caus"
                type="month"
                class="w-100"
                value-format="yyyyMM"
                autosize
                :disabled="disabledInputs"
                v-model="fixAsset.year_month_start_caus"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="year_month_end_caus">
                Año Mes Fin Causacion
              </label>

              <el-date-picker
                id="year_month_end_caus"
                type="month"
                class="w-100"
                value-format="yyyyMM"
                autosize
                :disabled="disabledInputs"
                v-model="fixAsset.year_month_end_caus"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="year_month_last_caus">
                Año Mes Ult Causacion
              </label>

              <el-date-picker
                id="year_month_last_caus"
                type="month"
                class="w-100"
                value-format="yyyyMM"
                autosize
                :disabled="disabledInputs"
                v-model="fixAsset.year_month_last_caus"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="months_to_caus">
                Meses A Causar
              </label>
              <el-input
                id="months_to_caus"
                type="number"
                autosize
                v-model="fixAsset.months_to_caus"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="provider_id">
                Proveedor
              </label>
              <el-select
                id="provider_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.provider_id"
                :disabled="disabledInputs"
                remote
                :remote-method="fetchProviders"
              >
                <el-option
                  v-for="item in providers"
                  :key="item.id"
                  :label="
                    `${item.identification} - ${item.name} ${item.surname ||
                      ''}`
                  "
                  :value="item.id"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="invoice_prefix">
                Prefijo Factura
              </label>
              <el-input
                id="invoice_prefix"
                type="number"
                autosize
                v-model="fixAsset.invoice_prefix"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="invoice_number">
                Numero Factura
              </label>
              <el-input
                id="invoice_number"
                type="number"
                autosize
                v-model="fixAsset.invoice_number"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="invoice_document_id">
                Document Fact
              </label>
              <el-input
                id="invoice_document_id"
                type="number"
                autosize
                v-model="fixAsset.invoice_document_id"
                :disabled="true"
              />
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.valueshistory>VALORES HISTORICOS</b-btn>
      <b-collapse id="valueshistory" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="purchase_value">
                Valor De Compra
              </label>

              <Money
                id="purchase_value"
                v-model="fixAsset.purchase_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="iva_value">
                Valor IVA
              </label>

              <Money
                id="iva_value"
                v-model="fixAsset.iva_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="addition_value">
                Valor Adiciones
              </label>

              <b-input-group>
                <b-form-input
                  id="addition_value"
                  :value="
                    fixAsset.additions &&
                      fixAsset.additions.length > 0 &&
                      fixAsset.additions
                        .map(a => parseInt(a.value))
                        .reduce((prev, next) => prev + next) | currency
                  "
                  class="el-input__inner"
                  :disabled="true"
                  size="lg"
                />

                <b-input-group-append>
                  <b-button
                    :disabled="!fixAsset.id && action === 'view'"
                    variant="primary"
                    v-b-popover.hover="'Agregar Adiciones.'"
                    @click="openModalAddition"
                  >
                    <i class="fa fa-fw fa-plus"></i>
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="historical_cost_value">
                Valor Costo Historico
              </label>

              <Money
                id="historical_cost_value"
                v-model="fixAsset.historical_cost_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="salvage_value">
                Valor Salvamento
              </label>

              <Money
                id="salvage_value"
                v-model="fixAsset.salvage_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="previous_caus_value">
                Valor Causado Anterior
              </label>

              <Money
                id="previous_caus_value"
                v-model="fixAsset.previous_caus_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="value_for_causing">
                Valor Por Causar
              </label>

              <Money
                id="value_for_causing"
                v-model="fixAsset.value_for_causing"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="monthly_deprec_value">
                Valor Depreciacion Mes
              </label>

              <Money
                id="monthly_deprec_value"
                v-model="fixAsset.monthly_deprec_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="caus_status">
                Estado Depreciación
              </label>
              <b-form-radio-group
                id="caus_status"
                class="btn-block mt-2"
                buttons
                :disabled="disabledInputs"
                v-model="fixAsset.caus_status"
                :options="[
                  { text: 'Deprecia', value: true },
                  { text: 'No deprecia', value: false }
                ]"
                :button-variant="
                  fixAsset.caus_status ? 'outline-primary' : 'outline-secondary'
                "
              />
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.accountInformation
        >INFORMACION CUENTAS</b-btn
      >
      <b-collapse id="accountInformation" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-4">
              <label for="record_account_id">
                Cuenta Registro
              </label>
              <el-input
                id="record_account_id"
                placeholder=" "
                :disabled="disabledInputs"
                @focus="
                  openModalAccount(
                    $event,
                    'record_account_id',
                    'record_account'
                  )
                "
                :value="
                  fixAsset.record_account
                    ? `${fixAsset.record_account.code} - ${fixAsset.record_account.name}`
                    : ''
                "
              >
                <i
                  v-if="fixAsset.record_account"
                  slot="suffix"
                  @click="deleteAccount('record_account_id', 'record_account')"
                  class="el-input__icon el-icon-circle-close el-input__clear"
                ></i>
              </el-input>
            </div>

            <div class="form-group col-sm-6 col-md-4">
              <label for="account_accumulated_depreciation_id">
                Cuenta Depreciacion Acumulada
              </label>
              <el-input
                id="account_accumulated_depreciation_id"
                placeholder=" "
                :disabled="disabledInputs"
                @focus="
                  openModalAccount(
                    $event,
                    'account_accumulated_depreciation_id',
                    'account_accumulated_depreciation'
                  )
                "
                :value="
                  fixAsset.account_accumulated_depreciation
                    ? `${fixAsset.account_accumulated_depreciation.code} - ${fixAsset.account_accumulated_depreciation.name}`
                    : ''
                "
              >
                <i
                  v-if="fixAsset.account_accumulated_depreciation"
                  slot="suffix"
                  @click="
                    deleteAccount(
                      'account_accumulated_depreciation_id',
                      'account_accumulated_depreciation'
                    )
                  "
                  class="el-input__icon el-icon-circle-close el-input__clear"
                ></i>
              </el-input>
            </div>

            <div class="form-group col-sm-6 col-md-4">
              <label for="account_depreciation_expense_id">
                Cuenta Gasto por Depreciacion
              </label>
              <el-input
                id="account_depreciation_expense_id"
                placeholder=" "
                :disabled="disabledInputs"
                @focus="
                  openModalAccount(
                    $event,
                    'account_depreciation_expense_id',
                    'account_depreciation_expense'
                  )
                "
                :value="
                  fixAsset.account_depreciation_expense
                    ? `${fixAsset.account_depreciation_expense.code} - ${fixAsset.account_depreciation_expense.name}`
                    : ''
                "
              >
                <i
                  v-if="fixAsset.account_depreciation_expense"
                  slot="suffix"
                  @click="
                    deleteAccount(
                      'account_depreciation_expense_id',
                      'account_depreciation_expense'
                    )
                  "
                  class="el-input__icon el-icon-circle-close el-input__clear"
                ></i>
              </el-input>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <!-- modals -->
    <b-modal
      id="modal-fixassets-addition"
      centered
      title="Adiciones"
      size="xl"
      header-class="header-modal-u2 "
    >
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <fix-assets-addition-form :disabledInputs="disabledInputs" />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { Money } from "v-money";
import FixAssetsAdditionForm from "./FixAssetsAdditionForm.vue";

export default {
  props: ["disabledInputs", "openModalAccount", "deleteAccount"],
  components: {
    Money,
    FixAssetsAdditionForm
  },
  data() {
    return {
      moneyDecimals: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false
      }
    };
  },
  computed: {
    ...mapState("fixAssets", ["fixAsset", "providers", "action"])
  },
  methods: {
    ...mapActions("fixAssets", ["fetchProviders"]),
    openModalAddition() {
      this.$bvModal.show("modal-fixassets-addition");
    },
    additionValueSum() {
      if (this.fixAsset.additions) {
        return this.fixAsset.additions
          .map(a => parseInt(a.value))
          .reduce((prev, next) => prev + next);
      }

      return 0;
    }
  }
};
</script>
