<template>
  <div>
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.generalInformation>MANTENIMIENTO</b-btn>
      <b-collapse id="generalInformation" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="maintenance_provider_id">
                Proveedor Mant
              </label>

              <el-select
                id="maintenance_provider_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.maintenance_provider_id"
                :disabled="disabledInputs"
                remote
                :remote-method="fetchMaintenanceProviders"
              >
                <el-option
                  v-for="item in maintenanceProviders"
                  :key="item.id"
                  :label="
                    `${item.identification} - ${item.name} ${item.surname ||
                      ''}`
                  "
                  :value="item.id"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="contract_description">
                Descripcion Contrato
              </label>
              <el-input
                id="contract_description"
                type="textarea"
                autosize
                v-model="fixAsset.contract_description"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="contract_expiration_date">
                Fecha Venc Contrato
              </label>
              <el-date-picker
                id="contract_expiration_date"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                v-model="fixAsset.contract_expiration_date"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="last_maintenance_date">
                Fecha Ult Mant
              </label>
              <el-date-picker
                id="last_maintenance_date"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                v-model="fixAsset.last_maintenance_date"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="spare_parts">
                Insumos Repuestos
              </label>
              <el-input
                id="spare_parts"
                type="textarea"
                autosize
                v-model="fixAsset.spare_parts"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="maintenance_notes">
                Notas Mantenimiento
              </label>
              <el-input
                id="maintenance_notes"
                type="textarea"
                autosize
                v-model="fixAsset.maintenance_notes"
                :disabled="disabledInputs"
              />
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.location>SEGURO</b-btn>
      <b-collapse id="location" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="policy_number">
                No Poliza
              </label>
              <el-input
                id="policy_number"
                autosize
                v-model="fixAsset.policy_number"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="policy_provider_id">
                Proveedor Poliza
              </label>
              <el-select
                id="policy_provider_id"
                filterable
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                placeholder
                v-model="fixAsset.policy_provider_id"
                :disabled="disabledInputs"
                remote
                :remote-method="fetchPolicyProviders"
              >
                <el-option
                  v-for="item in policyProviders"
                  :key="item.id"
                  :label="
                    `${item.identification} - ${item.name} ${item.surname ||
                      ''}`
                  "
                  :value="item.id"
                ></el-option>
              </el-select>
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="policy_expiration_date">
                Fecha Venc Poliza
              </label>
              <el-date-picker
                id="policy_expiration_date"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                v-model="fixAsset.policy_expiration_date"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="coverages">
                Amparos
              </label>
              <el-input
                id="coverages"
                type="textarea"
                autosize
                v-model="fixAsset.coverages"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="premium_value">
                Valor Prima
              </label>

              <Money
                id="premium_value"
                v-model="fixAsset.premium_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="insured_value">
                Valor Asegurado
              </label>
              <Money
                id="insured_value"
                v-model="fixAsset.insured_value"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="policy_observation">
                Observacion Poliza
              </label>
              <el-input
                id="policy_observation"
                type="textarea"
                autosize
                v-model="fixAsset.policy_observation"
                :disabled="disabledInputs"
              />
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.dataDerecognized>AVALUOS</b-btn>
      <b-collapse id="dataDerecognized" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="form-group col-sm-6 col-md-3">
              <label for="date_last_commercial_appraisal">
                Fecha Ult Avaluo Comer
              </label>
              <el-date-picker
                id="date_last_commercial_appraisal"
                type="date"
                class="w-100"
                clearable
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                autosize
                v-model="fixAsset.date_last_commercial_appraisal"
                :disabled="disabledInputs"
              />
            </div>

            <div class="form-group col-sm-6 col-md-3">
              <label for="value_last_commercial_appraisal">
                Valor Ult Avaluo Comer
              </label>

              <Money
                id="value_last_commercial_appraisal"
                v-model="fixAsset.value_last_commercial_appraisal"
                v-bind="moneyDecimals"
                class="el-input__inner"
                :disabled="disabledInputs"
              />
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { Money } from "v-money";

export default {
  components: {
    Money
  },
  props: ["disabledInputs"],
  data() {
    return {
      moneyDecimals: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false
      }
    };
  },
  computed: {
    ...mapState("fixAssets", [
      "fixAsset",
      "maintenanceProviders",
      "policyProviders"
    ])
  },
  methods: {
    ...mapActions("fixAssets", [
      "fetchMaintenanceProviders",
      "fetchPolicyProviders"
    ])
  }
};
</script>
