<template>
  <div>
    <form
      @submit.prevent="validateActionWareHouse()"
      data-vv-scope="form-warehouse"
    >
      <!-- ACORDEON BODEGAS-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.warehouses id="acordeon"
          >INFORMACIÓN GENERAL
        </b-btn>
        <b-collapse id="warehouses" visible ole="tabpanel">
          <b-card-body>
            <div class="row">
              <div
                class="form-group col-sm-3 col-md-2"
                v-bind:class="
                  errors.has('form-warehouse.code') ? 'form-group-error' : ''
                "
              >
                <label for="code">
                  Código
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="code"
                  name="code"
                  class="form-control"
                  v-validate="'required|max:5'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.code"
                  @keyup="compareWareHouse()"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.code")
                }}</span>
              </div>
              <div
                class="form-group col-sm-6 col-md-4"
                v-bind:class="
                  errors.has('form-warehouse.description')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="description">
                  Descripción
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="description"
                  name="description"
                  class="form-control"
                  v-validate="'required|max:100'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.description"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.description")
                }}</span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.creation_date')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="code">Fecha creación</label>
                <br />
                <el-date-picker
                  type="date"
                  id="creation_date"
                  name="creation_date"
                  class="date_created"
                  :disabled="disabledInputs"
                  :clearable="false"
                  v-model="selectedWarehouse.creation_date"
                ></el-date-picker>
              </div>

              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.payment_type_id')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="code">Forma de Pago</label>
                <el-select
                  type="number"
                  id="payment_type_id"
                  name="payment_type_id"
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.payment_type_id"
                >
                  <el-option
                    v-for="item in paymentMethods"
                    :key="item.id"
                    :label="item.name_parameter"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </div>
              <div
                class="col-sm-6 col-md-3"
                :class="
                  errors.has('form-warehouse.discount_percentage')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="discount_percentage">Porcentaje de Descuento</label>
                <b-input-group append="%">
                  <b-form-input
                    type="number"
                    id="discount_percentage"
                    :disabled="disabledInputs"
                    v-model="selectedWarehouse.discount_percentage"
                  ></b-form-input>
                </b-input-group>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.discount_percentage")
                }}</span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.address') ? 'form-group-error' : ''
                "
              >
                <label for="address">Dirección</label>
                <input
                  type="text"
                  id="address"
                  name="address"
                  class="form-control"
                  v-validate="'max:80'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.address"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.address")
                }}</span>
              </div>
              <div class="form-group col-sm-6 col-md-3">
                <label for="branchoffice_id">Sede</label>
                <el-select
                  id="branchoffice_id"
                  name="branchoffice_id"
                  :disabled="disabledInputs"
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-model="selectedWarehouse.branchoffice_id"
                  @focus="fetchBranchOffices({ paginate: false })"
                >
                  <el-option
                    v-for="(b, index) in branchOffices"
                    :key="index"
                    :value="b.id"
                    :label="b.name"
                  ></el-option>
                </el-select>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.telephone_warehouse')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="telephone_warehouse">Teléfono</label>
                <input
                  type="text"
                  id="telephone_warehouse"
                  name="telephone_warehouse"
                  class="form-control"
                  v-validate="'max:30'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.telephone"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.telephone_warehouse")
                }}</span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.other_telephones')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="code">Otro Telefono</label>
                <input
                  type="number"
                  id="other_telephones"
                  name="other_telephones"
                  class="form-control"
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.other_telephones"
                />
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.email_warehouse')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="email_warehouse">Email</label>
                <input
                  type="text"
                  id="email_warehouse"
                  name="email_warehouse"
                  class="form-control"
                  v-validate="'max:60|email'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.email"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.email_warehouse")
                }}</span>
              </div>

              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.seller') ? 'form-group-error' : ''
                "
              >
                <label for="seller">Vendedor</label>
                <el-select
                  id="seller"
                  name="seller"
                  v-validate="'required'"
                  data-vv-as=" "
                  filterable
                  :disabled="disabledInputs"
                  remote
                  v-model="selectedWarehouse.seller_id"
                >
                  <el-option
                    v-for="item in sellers"
                    :key="item.id"
                    :label="
                      item.identification +
                        ' - ' +
                        item.name +
                        ' - ' +
                        item.surname
                    "
                    :value="item.id"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.seller")
                }}</span>
              </div>
              <div class="form-group col-sm-6 col-md-3">
                <label for="city_id">
                  Ciudad
                  <span class="text-danger">*</span>
                </label>
                <el-select
                  id="city_id"
                  name="city_id"
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-validate="'required'"
                  data-vv-as=" "
                  autocomplete="off"
                  auto-complete="off"
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.city_id"
                  @click.native="fetchCities()"
                >
                  <el-option
                    v-for="c in cities"
                    :key="c.id"
                    :value="c.id"
                    :label="c.city"
                  ></el-option>
                </el-select>
              </div>

              <!-- zona -->
              <div class="form-group col-sm-6 col-md-3">
                <label for="zone_id">
                  Zona de cliente
                  <span class="text-danger"></span>
                </label>
                <el-select
                  id="zone_id"
                  name="zone_id"
                  :disabled="disabledInputs"
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-model="selectedWarehouse.zone_id"
                  @click.native="fetchZones()"
                >
                  <el-option
                    v-for="c in zones"
                    :key="c.value"
                    :value="c.value"
                    :label="c.label"
                  ></el-option>
                </el-select>
              </div>
              <div class="form-group col-sm-6 col-md-3">
                <label for="zone_despatch_id">
                  Zona de despacho
                  <span class="text-danger"></span>
                </label>
                <el-select
                  id="zone_despatch_id"
                  name="zone_despatch_id"
                  :disabled="disabledInputs"
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-model="selectedWarehouse.zone_despatch_id"
                  @click.native="fetchZonesDespatch()"
                >
                  <el-option
                    v-for="c in zones_despatch"
                    :key="c.value"
                    :value="c.value"
                    :label="c.label"
                  ></el-option>
                </el-select>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.latitude_warehouse')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="latitude_warehouse">Latitud</label>
                <input
                  type="text"
                  id="latitude_warehouse"
                  name="latitude_warehouse"
                  class="form-control"
                  v-validate="'max:30'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.latitude"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.latitude_warehouse")
                }}</span>
              </div>
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.length_warehouse')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="length_warehouse">Longitud</label>
                <input
                  type="text"
                  id="length_warehouse"
                  name="length_warehouse"
                  class="form-control"
                  v-validate="'max:30'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.length"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.length_warehouse")
                }}</span>
              </div>
              <div
                class="form-group col-sm-6 col-md-6"
                v-bind:class="
                  errors.has('form-warehouse.observation_warehouse')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="observation_warehouse">Observaciones</label>
                <b-form-textarea
                  id="observation_warehouse"
                  name="observation_warehouse"
                  class="form-control"
                  v-validate="'max:150'"
                  data-vv-as=" "
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.observation"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-warehouse.observation_warehouse")
                }}</span>
              </div>

              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.types_negotiation_portfolio')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="types_negotiation_portfolio">Tipo de Negociación en cartera</label>
                <el-select
                  type="number"
                  id="types_negotiation_portfolio"
                  name="types_negotiation_portfolio"
                  :disabled="disabledInputs"
                  v-model="selectedWarehouse.types_negotiation_portfolio"
                >
                  <el-option
                    v-for="item in types_negotiation_portfolio"
                    :key="item.id"
                    :label="item.name_parameter"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </div>

              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-warehouse.state_warehouse')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="state_warehouse">Estado</label>
                <br />
                <b-form-radio-group
                  id="state_warehouse"
                  buttons
                  :options="[
                    { text: 'Activo', value: 1, disabled: disabledInputs },
                    { text: 'Inactivo', value: 0, disabled: disabledInputs }
                  ]"
                  name="state_warehouse"
                  v-model="selectedWarehouse.state"
                  button-variant="outline-primary"
                />
              </div>
            </div>

            <!-- botones -->
            <div class="row my-3">
              <div class="col-sm-3">
                <b-button
                  v-b-modal.modal-retention
                  block
                  variant="primary"
                  :disabled="selectedWarehouse.contact === undefined"
                  >Retenciones
                </b-button>
              </div>
            </div>

            <div class="row" v-if="!disabledInputs">
              <div class="form-group col-12">
                <b-button
                  type="button"
                  @click="validateActionWareHouse()"
                  class="btn btn-labeled btn-primary float-right ml-1 otro-boton"
                >
                  <span class="btn-label">
                    <i class="ti-save-alt"></i>
                  </span>
                  &nbsp;
                  {{
                    this.actionWarehouse == "create" ? "Guardar" : "Actualizar"
                  }}
                </b-button>
                <b-button
                  type="button"
                  id="limpiar"
                  class="btn btn-labeled btn-secondary float-right"
                  @click="clearWarehouse()"
                >
                  <span class="btn-label">
                    <i class="ti-close"></i>
                  </span>
                  &nbsp;
                  {{ this.actionWarehouse == "create" ? "Limpiar" : "Nuevo" }}
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>

    <!--ACORDEON ESTABLECIMIENTOS REGISTRADOS-->
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.warehouses-list id="acordeon"
        >ESTABLECIMIENTOS REGISTRADOS
      </b-btn>
      <b-collapse id="warehouses-list" visible ole="tabpanel">
        <b-card-body>
          <div class="row">
            <div class="col-12 table-responsive">
              <b-table
                striped
                hover
                show-empty
                :items="warehouses"
                :fields="fieldsWarehousesTable"
                empty-text="No existen establecimientos registrados"
              >
                <!-- template -->
                <!--Template para cargar badge del estado de del establecimiento-->
                <template v-slot:cell(state)="row">
                  <h5 class="text-center">
                    <b-badge href="#" variant="success" v-if="row.item.state">
                      <i class="fa fa-check"></i>
                      Activo
                    </b-badge>
                    <b-badge href="#" variant="danger" v-else>
                      <i class="fa fa-minus"></i>
                      Inactivo
                    </b-badge>
                  </h5>
                </template>

                <!--Template para cargar las acciones-->
                <template v-slot:cell(actions)="row">
                  <b-button
                    size="sm"
                    variant="secondary"
                    @click="setWareHouseComp(row.item)"
                    >{{ disabledInputs ? "Ver" : "Editar" }}
                  </b-button>
                  <b-button
                    size="sm"
                    variant="danger"
                    v-if="!disabledInputs"
                    class="button-table"
                    @click="questionDeleteWareHouse(row.item)"
                    >Eliminar
                  </b-button>
                </template>

                <!-- Template para el nombre -->
                <template v-slot:cell(sellername)="row">
                  <span v-if="row.item.seller"
                    >{{ row.item.seller.name }}
                    {{ row.item.seller.surname || "" }}</span
                  >
                </template>
              </b-table>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <!-- RETENCIONES -->
    <b-modal
      id="modal-retention"
      size="lg"
      centered
      v-if="selectedWarehouse.contact"
      :title="
        `Retenciones: ${selectedWarehouse.contact.identification} - ${selectedWarehouse.description}`
      "
      class="modal-backdrop"
    >
      <RetentionDocument
        :edit="true"
        :showValuesTotals="false"
        :warehouse_id="selectedWarehouse.id"
        :warehouse="selectedWarehouse"
        :contact="selectedContact"
        :is_provider="selectedContact.is_provider"
        :is_customer="selectedContact.is_customer"
        @saveRetention="fetchWarehouses"
      />

      <!-- BOTONES -->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" variant="secondary" @click="cancel()"
          >Cerrar
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
// Imports para inputs de fecha del formulario con FlatPicker
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es.js";
import "flatpickr/dist/flatpickr.css";
import { MessageBox } from "element-ui";
import RetentionDocument from "../../components/pages/inventory-movements/RetentionDocument";

flatpickr.localize(Spanish);

//Vuex
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  name: "maintenance",
  props: ["disabledInputs"],
  components: {
    flatPickr,
    RetentionDocument
  },
  data() {
    return {
      fieldsWarehousesTable: [
        {
          key: "code",
          label: "Código",
          thStyle: { width: "100px !important" }
        },
        {
          key: "description",
          label: "Descripción",
          thStyle: { "min-width": "450px !important" }
        },
        {
          key: "sellername",
          label: "Vendedor",
          thStyle: { "min-width": "350px !important" }
        },
        {
          key: "state",
          label: "Estado",
          thStyle: { "min-width": "250px !important" }
        },
        {
          key: "actions",
          label: "Opciones",
          thStyle: {
            width: this.disabledInputs ? "85px !important" : "165px !important",
            "min-width": this.disabledInputs
              ? "85px !important"
              : "165px !important"
          }
        }
      ]
    };
  },
  created() {
    this.fetchCities();
  },
  methods: {
    ...mapActions("branchOffices", ["fetchBranchOffices"]),
    _seller(filter) {
      this.fetchsellers(filter);
    },
    async validateActionWareHouse() {
      await this.$validator.validateAll("form-warehouse").then(result => {});

      // if (!this.errorsWarehouses) {
      if (true) {
        if (this.actionWarehouse == "create") {
          await this.addWarehouse();
          this.clearWarehouse();
        } else {
          await this.$confirm(
            "Esta acción actualizará la información del establecimiento. ¿Desea continuar?",
            "Actualizar",
            {
              confirmButtonText: "Aceptar",
              cancelButtonText: "Cancelar",
              type: "warning",
              customClass: "notification-warning"
            }
          ).then(result => {
            this.responseUpdate = result;
          });

          if (this.responseUpdate) {
            await this.updateWarehouse();
            this.clearWarehouse();
            this.responseUpdate = false;
          }
        }
      }
    },
    clearWarehouse() {
      this.resetSelectedWarehouse();
      this.$validator.reset("form-warehouse");
      this.setActionWarehouses("create");
    },
    async setWareHouseComp(warehouse) {
      await this.fetchBranchOffices({ paginate: false });
      this.setWarehouse(warehouse);
      this.setActionWarehouses("update");
    },
    compareWareHouse() {
      let code = this.selectedWarehouse.code;

      let wareHouseFiltered = this.warehouses.find(
        wh => wh.code == this.selectedWarehouse.code
      );

      if (wareHouseFiltered) {
        this.setWarehouse(wareHouseFiltered);
        this.setActionWarehouses("update");
      } else {
        this.clearWarehouse();
        this.selectedWarehouse.code = code;
      }
    },
    questionDeleteWareHouse(selectedWarehouse) {
      this.$confirm(
        "Esto eliminará de forma permanente la bodega. ¿Desea continuar?",
        "Eliminar",
        {
          confirmButtonText: "Aceptar",
          cancelButtonText: "Cancelar",
          type: "warning",
          customClass: "notification-warning"
        }
      )
        .then(result => {
          if (result) {
            this.removeWarehouse(selectedWarehouse);
            this.clearWarehouse();
          }
        })
        .catch(function(result) {});
    },
    ...mapActions("contactWarehouses", [
      "fetchWarehouses",
      "addWarehouse",
      "updateWarehouse",
      "removeWarehouse",
      "getWarehouse",
      "fetchsellers",
      "fetchCities",
      "fetchCitiesWarehouses",
      "getTypePayment",
      "getTypeNegotiationPortfolio",
      "fetchZones",
      "fetchZonesDespatch"
    ]),
    ...mapMutations("contactWarehouses", [
      "setActionWarehouses",
      "setWarehouse",
      "setSellers",
      "resetSelectedWarehouse"
    ])
  },
  computed: {
    ...mapState("branchOffices", ["branchOffices"]),
    errorsWarehouses() {
      return this.errors.items.filter(i => i.scope == "form-warehouse").length;
    },
    ...mapState("contactWarehouses", [
      "warehouses",
      "sellers",
      "actionWarehouse",
      "selectedWarehouse",
      "citiesWarehouses",
      "cities",
      "paymentMethods",
      'types_negotiation_portfolio',
      "zones",
      "zones_despatch"
    ]),
    ...mapState("contacts", ["selectedContact"])
  },
  beforeMount() {
    this.fetchZones();
    this.fetchZonesDespatch();
    this._seller();
    this.getTypePayment();
    this.getTypeNegotiationPortfolio();
  }
};
</script>

<style>
.date_created {
  width: 100% !important;
}
</style>
