<template>
  <div class="row">
    <div class="col-12">
      <iframe width="100%" height="1000px"
              src="https://app.powerbi.com/reportEmbed?reportId=fd99dde0-27de-483a-b8f4-630f1f51701f&appId=9d836849-0328-424a-99fd-b97f299b2a07&autoAuth=true&ctid=5aeae28d-4ccf-4fca-8c95-0a391b58db91&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9"
              frameborder="0" allowFullScreen="true"></iframe>
    </div>
  </div>
</template>

<script>
  export default {
    name: "index"
  }
</script>

<style scoped>

</style>
