<template>
  <card title="<i class='ti-book'></i> Balance de Prueba" style="height: 750px">
    <Preloader v-if="loading.module" />

    <index style_trial_balance="width: 98%; height: 80%" />
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import index from "../../components/Trial-balance/index";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  components: {
    Card,
    Preloader,
    index,
    ModalAccount,
  },
  data() {
    return {
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
    };
  },
  created() {
    this.init();
    window.open("/#/reportes/trial-balance", "_blank");
    this.$router.go(-1)
  },
  mounted(){
    this.removeLastVisitedViews()
  },
  methods: {
    ...mapActions("trialbalance", [
      "fetchAccountsFrom",
      "fetchAccountsUp",
      "fetchTrialBalance",
      "fetchLevels"
    ]),
    ...mapMutations(["trialbalance",
      'setLevels'
    ]),
    maxReport(){
      window.open("/#/reportes/trial-balance", "_blank");
    },
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;
      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },

    fetchAccountsFrom_(text) {
      this.params_accounts_from.filter = text;
      this.fetchAccountsFrom();
    },
    fetchAccountsUp_(text) {
      this.params_accounts_up.filter = text;
      this.fetchAccountsUp();
    },

    async validateForm() {
      if (this.params.year_month == null) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      }
      console.log(this.params.account_up,this.params.account_from);

      if (this.params.account_up < this.params.account_from ) {
        this.$notify({
          title: "Atención",
          message: "la cuenta Hasta no puede ser menor a la cuenta Desde",
          type: "warning",
        });
        return false;
      }

      // this.fetchAuxiliaryBook();
      await localStorage.setItem(
        "params_trial_balance",
        JSON.stringify(this.params)
      );
      window.open("/#/reportes/trial-balance", "_blank");
    },
    async init() {
      await this.fetchAccountsFrom();
      await this.fetchAccountsUp();
      await this.setDefaultYearMonth();
      await this.fetchLevels();
      this.loading.module = false;
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month = await this.formatDate(this.restarMes(d));
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
  },

  computed: {
    ...mapState("trialbalance", [
      "loading",
      "params",
      'params_create',
      "accounts_from",
      "accounts_up",
      'levels'
    ]),
  },
};
</script>
<style>
</style>
