<template>
  <div style="margin-top: 20px" v-if="loader">
    <loader></loader>
  </div>
  <div v-else>
    <form @submit.prevent="validateForm('form')" data-vv-scope="form">
      <!--Información obligatoria-->
      <div class="row">
        <div
          class="form-group col-sm-6 col-md-3"
          v-bind:class="
            errors.has('form.branchoffice_id') ? 'form-group-error' : ''
          "
        >
          <label for="branchoffice_id">
            Sede <span class="text-danger">*</span>
          </label>
          <el-select
            v-model="selectedVouchersType.branchoffice_id"
            id="branchoffice_id"
            name="branchoffice_id"
            filterable
            clearable
            :disabled="isDisabled"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            placeholder
            @click.native="fetchBranchOffices"
          >
            <el-option
              v-for="b in branchOffices"
              :value="b.value"
              :key="b.value"
              :label="b.label"
            >
            </el-option>
          </el-select>
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.branchoffice_id") }}
          </span>
        </div>
        <div
          class="form-group col-sm-6 col-md-3"
          v-bind:class="
            errors.has('form.code_voucher_type') ? 'form-group-error' : ''
          "
        >
          <label for="code_voucher_type">
            Código <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            id="code_voucher_type"
            name="code_voucher_type"
            class="form-control"
            :disabled="isDisabled"
            v-validate="'required|max:10'"
            data-vv-as=" "
            v-model="selectedVouchersType.code_voucher_type"
          />
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.code_voucher_type") }}
          </span>
        </div>
        <div
          class="form-group col-sm-6 col-md-3"
          v-bind:class="
            errors.has('form.name_voucher_type') ? 'form-group-error' : ''
          "
        >
          <label for="name_voucher_type">
            Nombre <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            id="name_voucher_type"
            name="name_voucher_type"
            class="form-control"
            :disabled="isDisabled"
            v-validate="'required|max:150'"
            data-vv-as=" "
            v-model="selectedVouchersType.name_voucher_type"
          />
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.name_voucher_type") }}
          </span>
        </div>
        <div
          class="form-group col-sm-6 col-md-3"
          v-bind:class="errors.has('form.short_name') ? 'text-danger' : ''"
        >
          <label for="short_name">
            Nombre corto <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            id="short_name"
            name="short_name"
            class="form-control"
            :disabled="isDisabled"
            v-validate="'required|max:45'"
            data-vv-as=" "
            v-model="selectedVouchersType.short_name"
            v-bind:class="errors.has('form.short_name') ? 'border-danger' : ''"
          />
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.short_name") }}
          </span>
        </div>
      </div>
      <div class="row">
        <div
          class="form-group col-sm-6 col-md-4"
          v-bind:class="errors.has('form.prefix') ? 'form-group-error' : ''"
        >
          <label for="prefix">Prefijo </label>
          <input
            type="text"
            id="prefix"
            name="prefix"
            :disabled="isDisabled"
            class="form-control"
            v-validate="'max:10'"
            data-vv-as=" "
            v-model="selectedVouchersType.prefix"
          />
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.prefix") }}
          </span>
        </div>
        <div
          class="form-group col-sm-6 col-md-4"
          v-bind:class="
            errors.has('form.consecutive_number') ? 'form-group-error' : ''
          "
        >
          <label for="consecutive_number">
            Consecutivo <span class="text-danger">*</span>
          </label>
          <b-input-group>
            <b-form-input
              type="number"
              id="consecutive_number"
              name="consecutive_number"
              class="form-control"
              :disabled="isDisabled"
              v-validate="'required|numeric|max:6'"
              data-vv-as=" "
              v-model="selectedVouchersType.consecutive_number"
            ></b-form-input>
            <b-btn
              id="boton"
              v-if="action == 'update'"
              @click="changeConsecutive"
            >
              <i class="fa fa-fw fa-retweet"></i>
            </b-btn>
          </b-input-group>
          <!--  <input type="number"
                       id="consecutive_number"
                       name="consecutive_number"
                       class="form-control"
                       :disabled=isDisabled
                       v-validate="'required|numeric|max:6'"
                       data-vv-as=" "
                       v-model="selectedVouchersType.consecutive_number"> -->

          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.consecutive_number") }}
          </span>
        </div>
        <div
          class="form-group col-sm-6 col-md-4"
          v-bind:class="
            errors.has('form.affectation') ? 'form-group-error' : ''
          "
        >
          <label for="affectation">
            Afectación <span class="text-danger">*</span>
          </label>
          <el-select
            id="affectation"
            name="affectation"
            filterable
            clearable
            v-validate="'required'"
            :disabled="isDisabled"
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            placeholder
            v-model="selectedVouchersType.affectation"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.affectation") }}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-3">
          <label for="range_from"> Rango Desde </label>
          <input
            type="number"
            id="range_from"
            name="range_from"
            class="form-control"
            :disabled="isDisabled"
            v-model="selectedVouchersType.range_from"
          />
        </div>
        <div class="form-group col-sm-6 col-md-3">
          <label for="range_up"> Rango Hasta </label>
          <input
            type="number"
            id="range_up"
            name="range_up"
            class="form-control"
            :disabled="isDisabled"
            v-model="selectedVouchersType.range_up"
          />
        </div>
        <div
          class="form-group col-sm-6 col-md-3"
          v-bind:class="
            errors.has('form.electronic_bill') ? 'form-group-error' : ''
          "
        >
          <label for="electronic_bill">Factura electrónica</label>
          <br />
          <b-form-radio-group
            id="electronic_bill"
            buttons
            :disabled="isDisabled"
            :options="[
              { text: 'Si', value: 1 },
              { text: 'No', value: 0 },
            ]"
            name="electronic_bill"
            v-model="selectedVouchersType.electronic_bill"
            :button-variant="
              selectedVouchersType.electronic_bill == 1
                ? 'outline-primary'
                : 'outline-secondary'
            "
          />
        </div>
        <div
          class="form-group col-sm-6 col-md-3"
          v-bind:class="
            errors.has('form.origin_document') ? 'form-group-error' : ''
          "
        >
          <label for="origin_document">Documento de origen</label>
          <br />
          <b-form-radio-group
            id="origin_document"
            buttons
            :disabled="isDisabled"
            :options="[
              { text: 'Si', value: 1 },
              { text: 'No', value: 0 },
            ]"
            name="origin_document"
            v-model="selectedVouchersType.origin_document"
            :button-variant="
              selectedVouchersType.origin_document == 1
                ? 'outline-primary'
                : 'outline-secondary'
            "
          />
        </div>
        <div class="form-group col-sm-6 col-md-3">
          <label
            for="state"
            v-bind:class="errors.has('form.state') ? 'form-group-error' : ''"
          >
            Estado
          </label>
          <br />
          <b-form-radio-group
            id="state"
            buttons
            :disabled="isDisabled"
            :options="[
              { text: 'Activo', value: 1 },
              { text: 'Inactivo', value: 0 },
            ]"
            name="state"
            v-model="selectedVouchersType.state"
            :button-variant="
              selectedVouchersType.state == 1
                ? 'outline-primary'
                : 'outline-secondary'
            "
          />
        </div>
      </div>

      <div class="row">
        <div
          class="form-group col-sm-6 col-md-6"
          v-bind:class="errors.has('form.resolution') ? 'form-group-error' : ''"
        >
          <label for="resolution">Resolución</label>
          <textarea
            rows="2"
            class="form-control resize_vertical"
            id="resolution"
            name="resolution"
            :disabled="isDisabled"
            v-validate="'min:5|max:255'"
            data-vv-as=" "
            v-model="selectedVouchersType.resolution"
          >
          </textarea>
          <i class="text-danger icon-error"> </i>
          <span class="text-danger span-error">
            {{ errors.first("form.resolution") }}
          </span>
        </div>
      </div>
      <div class="form-actions">
        <b-button v-if="action != 'view'" type="submit" class="boton-guardar">
          <span class="btn-label">
            <i class="ti-save-alt"></i> </span
          >Guardar
        </b-button>
        <b-button
          to="/tipos-de-comprobantes"
          type="button"
          variant="secondary"
          class="float-left"
          @click="clearSelectedVouchersType"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span>
          Volver
        </b-button>
        <b-button
          v-if="action != 'view'"
          type="reset"
          value="Limpiar"
          class="otro-boton float-left"
          @click="clearSelectedVouchersType"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
          </span>
          Limpiar
        </b-button>
      </div>
    </form>
  </div>
</template>


<script>
import Vue from "vue";
import { mapState, mapActions, mapMutations } from "vuex";
import loader from "./../../components/layout/loader.vue";

export default {
  name: "fieldsForm",
  components: {
    loader,
  },
  data() {
    return {
      loader: true,
      options: [
        { value: "1", label: "Inventarios" },
        { value: "2", label: "Contabilidad" },
        { value: "3", label: "Inventarios y Contabilidad" },
      ],
    };
  },
  created() {
    if (this.$route.params.id) {
      this.initUpdate("update", this.$route.params.id);
    } else if (this.$route.params.idv) {
      this.initUpdate("view", this.$route.params.idv);
    } else {
      this.setGetVouchersTypeEdit(true);
      this.setAction("create");
      this.loader = false;
    }
  },
  methods: {
    async initUpdate(action, id) {
      await this.getVouchersType(id);
      this.setAction(action);
      this.fetchBranchOffices();
      this.loader = false;
    },
    changeConsecutive() {
      this.selectedVouchersType.only_consecutive = 1;
      this.update();
    },
    clearSelectedVouchersType() {
      this.resetSelectedVouchersType();
      this.$validator.reset();
    },
    validateForm(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          if (this.action == "create") {
            this.create();
          } else if (this.action == "update") {
            this.update();
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error",
            }
          ).then((verifica) => {});
        }
      });
    },
    async create() {
      await this.addVouchersType();
      this.clearSelectedVouchersType();
    },
    async update() {
      await this.updateVouchersType();
    },
    ...mapActions("vouchersTypes", [
      "fetchVouchersTypes",
      "addVouchersType",
      "updateVouchersType",
      "getVouchersType",
      "setAction",
      "fetchBranchOffices",
    ]),
    ...mapMutations("vouchersTypes", [
      "setAction",
      "resetSelectedVouchersType",
      "setGetVouchersTypeEdit",
    ]),
  },
  computed: {
    ...mapState("vouchersTypes", [
      "action",
      "selectedVouchersType",
      "error",
      "errorMessage",
      "branchOffices",
    ]),
    isDisabled() {
      return this.action == "view";
    },
  },
};
</script>
<style src="sweetalert2/dist/sweetalert2.css"></style>
<style src="../../assets/css/custom_css/sweet_alert2.css"></style>

<style>
.el-select {
  width: 100%;
}

.el-input__inner {
  height: 31.25px;
}

.el-select .el-input .el-select__caret {
  color: #a0a0a0;
}

.el-input__icon {
  line-height: 0px;
}
#boton {
  background-color: #007db3 !important;
  color: #fff;
}
</style>

