<template>
  <card title="<i class='fa fa-table'></i> Tipos de comprobante">

    <!-- BOTONES -->
    <div class="row">
      <div class="col-md-12">
        <b-button
          to="/tipos-de-comprobantes/crear"
          id="boton-nuevo"
          class="button button-rounded button-primary-flat hvr-shrink float-right"
        >
          Nuevo
        </b-button>
      </div>
    </div>

    <!-- FILTRO -->
    <div class="row mb-2">
      <div class="col-md-4 col-sm-8 col-12">
        <b-form-group
          label="Buscar:"
          class="mb-0"
        >
          <b-input-group>
            <b-form-input
              v-model="params.filter"
              placeholder=""
              @keyup.native.enter="setFilterPagination"
              style="text-transform: uppercase;"
            />
            <b-input-group-append>
              <b-btn
                @click.prevent="fetchVouchersTypes()"
                id="botones"
              ><span class="ti-search"></span></b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>
      <div class="col-md-4 col-sm-8 col-12">
        <b-form-group
          label="Sede:"
          class="mb-0"
        >
          <el-select
            filterable
            clearable
            size="small"
            no-data-text="Cargando datos..."
            value=""
            no-match-text="No hay datos que coincidan"
            v-model="params.branchoffice"
            @change="fetchVouchersTypes()"
          >
            <el-option
              v-for="branchoffice in ListBranchOffices"
              :key="branchoffice.id"
              :label="branchoffice.name"
              :value="branchoffice.id"
            >
            </el-option>
          </el-select>
        </b-form-group>
      </div>
    </div>

    <!-- TABLA -->
    <div class="row">
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <b-table
            striped
            hover
            show-empty
            :items="vouchersTypes.data"
            :fields="fields"
            :no-local-sorting="true"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sort"
          >
            <!--Template para cargar badge del estado de tipo de comprobante-->
            <template v-slot:cell(state)="row">
              <h5 class="text-center">
                <b-badge
                  href="#"
                  variant="success"
                  v-if="row.item.state"
                ><i class="fa fa-check"> </i>
                  Activo
                </b-badge>
                <b-badge
                  href="#"
                  variant="danger"
                  v-else
                ><i class="fa fa-minus"> </i> Inactivo</b-badge>
              </h5>
            </template>

            <template v-slot:cell(affectation)="row">
              <h5>
              <div style="display: inline-block;" v-if="row.item.affectation != 3">
                    <b-badge
                    variant="warning"
                    v-if="row.item.affectation == 1"
                    >
                      Inventarios
                    </b-badge>

                  <b-badge
                  variant="secondary"
                  v-if="row.item.affectation == 2">Contabilidad</b-badge>

                  <b-badge
                  href="#"
                  variant="danger"
                  v-if="row.item.origin_document == 1"> Doc. Origen</b-badge>

                  <!-- <tr>
                    <td>
                      <b-badge
                      variant="warning"
                      v-if="row.item.affectation == 1"
                      >
                        Inventarios
                      </b-badge>
                    </td>
                    <td v-if="row.item.affectation == 2">
                      <b-badge
                      variant="warning"
                      
                      >
                        Inventarios
                      </b-badge>
                    </td>
                    <td>
                      <b-badge
                        variant="secondary"
                        v-if="row.item.affectation == 2">Contabilidad</b-badge>
                    </td>
                    <td v-if="row.item.affectation == 1">
                      <b-badge
                      variant="ligth"
                      
                      >
                        Contabilidad
                      </b-badge>
                    </td>
                    <td v-if="row.item.affectation == 1 && row.item.origin_document == 0">
                      <b-badge
                      variant="ligth"
                      
                      >
                        Contabilidad
                      </b-badge>
                    </td>
                    <td>
                      <b-badge
                        href="#"
                        variant="danger"
                        v-if="row.item.origin_document == 1"> Doc. Origen</b-badge>
                    </td>
                  </tr> -->

              </div>

              <div style="display: inline-block;" v-if="row.item.affectation == 3">
                    <b-badge
                    variant="warning"
                    >
                      Inventarios
                    </b-badge>

                  <b-badge
                  variant="secondary">Contabilidad</b-badge>

                  <b-badge
                  href="#"
                  variant="danger"
                  v-if="row.item.origin_document == 1"> Doc. Origen</b-badge>

                  <!-- <tr>
                    <td>
                      <b-badge
                      variant="warning"
                     
                      >
                        Inventarios
                      </b-badge>
                    </td>
                    <td>
                      <b-badge
                        variant="secondary"
                        >Contabilidad</b-badge>
                    </td>
                    <td>
                      <b-badge
                        href="#"
                        variant="danger"
                        v-if="row.item.origin_document == 1"> Doc. Origen</b-badge>
                    </td>
                  </tr> -->

              </div>
              </h5>
            </template>

            <!--Template para cargar las acciones -->
            <template v-slot:cell(actions)="row">
              
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="secondary"
                :to="`/tipos-de-comprobantes/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                size="sm"
                class="button-table mt-1"
                id="botones"
                :to="`/tipos-de-comprobantes/${row.item.id}/editar`"
              >
                Editar
              </b-button>
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="danger"
                @click="questionDelete(row.item)"
              >
                Eliminar
              </b-button>
            </template>
          </b-table>
        </div>
        <p>
          Mostrando {{vouchersTypes.from}} a {{vouchersTypes.to}} de {{vouchersTypes.total}} resultados
        </p>
        <b-row>
          <b-col
            md="6"
            class="my-1 form-inline"
          >
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[5, 10, 15]"
              v-model="params.perPage"
              @change.native="setPerPagePagination"
            />
          </b-col>
          <b-col
            md="6"
            class="my-1"
          >
            <b-pagination
              :total-rows="totalRows"
              :per-page="params.perPage"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="setPagePagination"
            />
          </b-col>
        </b-row>
      </div>
    </div>

  </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card'
import { MessageBox } from 'element-ui';

export default {
  components: {
    Card
  },
  data () {
    return {
      fields: [
        { key: 'code_voucher_type', label: 'Código', sortable: true, thStyle: { width: '100px !important' } },
        { key: 'name_voucher_type', label: 'Nombre', sortable: true, thStyle: { width: '520px !important' } },
        { key: 'affectation', label: 'Afectacion', sortable: true, thStyle: { width: '220px !important' } },
        { key: 'consecutive_number', label: 'Consecutivo', sortable: true, thStyle: { width: '120px !important' } },
        { key: 'state', label: 'Estado', sortable: true, thStyle: { width: '120px !important' } },
        { key: 'actions', label: 'Opciones', thStyle: { 'min-width': '280px !important', width: '280px !important' } }
      ],
      sortBy: 'code_voucher_type',
      sort: true
    }
  },
  created () {
    this.initComponent()
  },
  methods: {
    ...mapActions('vouchersTypes', [
      'fetchVouchersTypes',
      'removeVouchersType',
      'getVouchersTypes',
      'setFilterPagination',
      'setPerPagePagination',
      'setPagePagination',
      'setSortByPagination',
      'setSortPagination'
    ]),
    ...mapMutations('vouchersTypes', [
      'setAction',
      'setVouchersType',
      'resetSelectedVouchersType',
      'setPerPage',
      'setFilter',
      'setGetVouchersTypeEdit'
    ]),
    ...mapActions('branchOffices', [
      'fetchBranchOffices',
    ]),
    filtro (filtro) {
      this.setFilter(filtro)
      this.fetchBranchOffices()
    },
    questionDelete (vouchersType) {
      this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        (result) => {
          if (result) {
            this.deleteVouchersType(vouchersType)
          }
        }).catch(function (result) {
        })
    },
    deleteVouchersType (vouchersType) {
      this.removeVouchersType(vouchersType)
    },
    async initComponent () {
      this.sortBy = this.params.sortBy
      this.sort = this.params.sort == 'ASC' ? true : false
      this.fetchVouchersTypes()

      this.$store.watch(() => {
        return this.getParams.sort
      }, p => {
        this.fetchVouchersTypes()
      })

      this.$store.watch(() => {
        return this.getParams.sortBy
      }, p => {
        this.fetchVouchersTypes()
      })

      //traemos las sedes
      await this.fetchBranchOffices({
        paginate: false
      })

      this.setGetVouchersTypeEdit(true)
      this.resetSelectedVouchersType()
    }
  },
  computed: {
    ...mapGetters('vouchersTypes', ['getParams']),
    ...mapState('vouchersTypes', ['vouchersTypes', 'selectedVouchersType', 'action', 'params']),
    ...mapState('branchOffices', [
      'ListBranchOffices',
    ]),
    totalRows () {
      return this.vouchersTypes.total
    },
  },
  watch: {
    'sortBy' (newValue, oldValue) {
      this.setSortByPagination(newValue)
    },
    'sort' (newValue, oldValue) {
      this.setSortPagination(newValue ? 'ASC' : 'DESC')
    }
  }
}
</script>

<!-- boton crear  -->
<style lang="sass">
    @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>

