<template>
    <div>
        <div class="row" >
            <div class="col-md-12">
                <card :title="'<i class=\'fa fa-fw ti-pencil\'></i> ' +  labelPrinci + ' Tipo de comprobante' ">
                    <fields-form></fields-form>
                </card>
            </div>
        </div>
    </div>
</template>

<script>
    import fieldsForm from './fieldsForm'
    import Card from '../../components/pages/card/card'
    import { mapState } from "vuex";

    export default {
        name: "maintenance",
        components: {
            fieldsForm, Card
        },
        computed: {
            labelPrinci() {
               switch (this.action) {
                    case 'create':
                        return 'Crear'
                        break
                    case 'update':
                        return 'Editar'
                        break
                    case 'view':
                        return 'Ver'
                        break
                }
            },
            ...mapState('vouchersTypes', ['action'])
        },

    }
</script>

<style scoped>

</style>
