<template>
   <div class="justify-content-center">
      <b-button size="sm" variant="secondary" class="mt-1 button-table" @click="view">
          Ver
      </b-button>
      <b-button size="sm" id="botones" class="mt-1 button-table" @click="edit">
          Editar
      </b-button>
      <b-button size="sm" variant="danger" class="mt-1 button-table" @click="remove">
          Eliminar
      </b-button>
   </div>
</template>

<script>
import Vue from 'vue'
 export default Vue.extend({
      methods:{
        remove(){
          this.params.context.componentParent.remove(this.params.data.id)
          
        },
        view(){
          this.params.context.componentParent.view(this.params.data.id)
        },
        edit(){
          this.params.context.componentParent.edit(this.params.data.id)
        }
      },
  });
</script>


<style>
  
</style>