<template>
  <card :title="tittlee">
    <ListDocumentGlobal />
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import ListDocumentGlobal from "../../components/pages/inventory-movements/ListDocumentGlobal";

export default {
  components: {
    Card,
    ListDocumentGlobal
  },
  data () {
    return {
      tittlee: "<i class='ti-angle-down'></i> Buscar Descuento",
    };
  },
};
</script>
