<template>
  <span>
    <b-modal
      v-model="modalDocumentThreadHistory.showModal"
      class="modal-backdrop"
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      size="lg"
      modal-class="modal-document-thread-history"
      header-bg-variant="primary"
    >
      <template #modal-title>
        <div class="w-100" style="color: #fff">
          Historial Negocio
        </div>
      </template>

      <div class="row">
        <div class="col-12">
          <div class="card-body">
            <div>
              <ul
                class="timeline timeline-update p-3"
                style="height: 508px; overflow: hidden; overflow-y: scroll;"
              >
                <li
                  v-for="document in modalDocumentThreadHistory.documents"
                  :key="document.id"
                  style="margin-top: 0px;"
                >
                  <!-- IMAGEN -->
                  <!-- <div class="timeline-badge primary wow lightSpeedIn center">
                    <img
                      :src="arrayAvatarsRandom()"
                      height="64"
                      width="64"
                      alt="avatar-image"
                      class="rounded-circle float-right"
                    />
                  </div> -->

                  <!-- CARD -->
                  <div
                    :class="bgByVoucherType(document)"
                    class="timeline-card wow slideInLeft"
                    style="display: inline-block;"
                  >
                    <div class="timeline-heading">
                      <div class="float-right">
                        <!-- <b-button
                          v-if="document.model_id"
                          :to="routeToSee(document)"
                          class="text-primary btn-history-documents"
                          >Ver</b-button
                        >
                        <br /> -->
                        <b-button
                          v-if="document.model_id"
                          @click="downloadDocument(document)"
                          class="text-primary btn-history-documents mt-2"
                          >Ver</b-button
                        >
                      </div>
                      <div>
                        <h5 class="timeline-title">
                          <b>
                            {{
                              textCapitalize(
                                document.voucherType.name_voucher_type
                              )
                            }}
                            {{ document.prefix }}-{{ document.consecutive }}
                          </b>
                        </h5>
                      </div>
                    </div>
                    <div class="timeline-body">
                      <div v-if="document.user">
                        Usuario:
                        {{ getNameUser(document.user) }}
                        {{ getDate(document.date) }}
                        {{ "Hora: " + getHour(document.date) }}
                      </div>
                      <div v-if="document.template">
                        Modelo: {{ document.template.code }}
                      </div>
                      <div>
                        <b>
                          Valor Total: {{ document.total_value | currency }}
                        </b>
                      </div>
                      <div>Observación: {{ document.observation }}</div>
                      <div v-if="document.handling_other_parameters_value">
                        <b>
                          Motivo:
                          {{
                            textCapitalize(
                              document.handling_other_parameters_value
                                .name_parameter
                            )
                          }}
                        </b>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </b-modal>

    <ModalPdf
    :show="showPdf"
    :mail_="false"
    :type="'pdf'"
    :name="'historial'"
    @setShowFalse="setShowFalse_()"
    :url="pathPdf"/>
  </span>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import GridU2 from "@/components/u2/grid";
import { Notification, MessageBox } from "element-ui";
import ModalPdf from "../../components/u2/ModalPdf";
import {getApiDomain} from "../../util/domains";

export default {
  props: {
    document_id: { default: null }
  },
  components: {
    GridU2,
    ModalPdf
  },
  data() {
    return {
      showPdf: false,
      fileName: "",
      imgUser:
        "https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png",
      arrayAvatars: [
        "https://www.assyst.de/cms/upload/sub/digitalisierung/15-M.jpg",
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcJ09qqoI5APeSsXNPJhTivcDWO2nILEBiGSXmST-P9V1MHdrJjB-8uXHPHEypUtfn7Ok&usqp=CAU",
        "https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png",
        "https://storage.needpix.com/rsynced_images/profile-1719207_1280.jpg",
        "https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-3.png"
      ]
    };
  },
  methods: {
    setShowFalse_(param){
      this.showPdf = false;
    },
    async initComponent() {
      this.modalDocumentThreadHistory.documents = [];
      if (this.document_id) {
        this.documentsThreadHistoryByDocumentId(this.document_id);
      }
    },
    ...mapActions("inventoryMovements", ["documentsThreadHistoryByDocumentId"]),
    ...mapMutations("inventoryMovements", [
      "setDocumentsThreadHistoryShowModal",
      "resetDocumentsThreadHistorys"
    ]),
    ...mapActions("inventoryMovements", ["createPDf"]),
    textCapitalize(str, lower = true) {
      return (lower ? str.toLowerCase() : str).replace(
        /(?:^|\s|["'([{])+\S/g,
        match => match.toUpperCase()
      );
    },
    routeToSee(item) {
      return "/movimientos/" + item.model_id + "/" + item.id + "/ver";
    },
    async downloadDocument(document) {
      if (document.file_name) {
        this.fileName = document.file_name;
      } else {
        await this.createPDf(document.id);
        this.fileName = this.name_pdf;
      }

      this.showPdf = true;
    },
    bgByVoucherType(document) {
      const code_voucher_type = document.voucherType.code_voucher_type;
      let bg = "";

      switch (code_voucher_type) {
        case "010":
          bg = "bg-sale-order";
          break;
        case "205":
          bg = "bg-invoice";

          break;
        case "155":
          bg = "bg-sale-return";

          break;
      }
      return `${bg} timeline-card-${bg}`;
    },
    getDate(dateDocument) {
      let date = new Date(dateDocument);

      return date.toISOString().split("T")[0];
    },
    getHour(dateDocument) {
      const date = new Date(dateDocument);
      let hours = date.getHours();
      let minutes = date.getMinutes();
      let ampm = hours >= 12 ? "pm" : "am";
      hours = hours % 12;
      hours = hours ? hours : 12;
      minutes = minutes < 10 ? "0" + minutes : minutes;
      let strTime = hours + ":" + minutes + " " + ampm;
      return strTime;
    },
    getNameUser(user) {
      if (user.contact) {
        let names = user.contact.name.split(" ");
        let surnames = user.contact.surname.split(" ");
        return `${this.textCapitalize(names[0])} ${this.textCapitalize(
          surnames[0]
        )} `;
      }

      return this.textCapitalize(user.name);
    },
    arrayAvatarsRandom() {
      var item = this.arrayAvatars[
        Math.floor(Math.random() * this.arrayAvatars.length)
      ];
      return item;
    }
  },
  computed: {
    ...mapState("inventoryMovements", ["modalDocumentThreadHistory"]),
    ...mapState("inventoryMovements", ["name_pdf"]),
    pathPdf() {
      return getApiDomain() + this.fileName;
    },
  },
  created() {
    this.initComponent();
  },
  watch: {
    document_id(newVal, oldVal) {
      this.documentsThreadHistoryByDocumentId(newVal);
    }
  }
};
</script>

<style>
.btn-history-documents {
  background: #a8d18d !important;
  color: #000 !important;
  font-weight: bold !important;
  width: 100px;
  padding: 0px;
}

.bg-sale-order {
  background: #dae3f4 !important;
}

.bg-invoice {
  background: #e2f0d9 !important;
}
.bg-sale-return {
  background: #ffe5e6 !important;
}
/**/
.timeline-card-bg-sale-order:after {
  border-left: 14px solid #dae3f4 !important;
  border-right: 0 solid #dae3f4 !important;
}

.timeline-card-bg-invoice:after {
  border-left: 14px solid #e2f0d9 !important;
  border-right: 0 solid #e2f0d9 !important;
}
.timeline-card-bg-sale-return:after {
  border-left: 14px solid #ffe5e6 !important;
  border-right: 0 solid #ffe5e6 !important;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.timeline {
  list-style: none;
  padding: 20px 10px;
  position: relative;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 36px;
  top: -15px;
  height: 36px;
  line-height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  right: -9px;
  margin-left: -25px;
  z-index: 100;
}

.timeline > li > .timeline-card {
  width: 90%;
  float: left;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  border-top-right-radius: 0;
  padding: 10px 15px;
  position: relative;
  box-shadow: 0 1px 6px rgb(0 0 0 / 18%);
}

.timeline > li > .timeline-card:before {
  position: absolute;
  top: -1px;
  right: -15px;
  display: inline-block;
  border-top: 2px solid #ccc;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 20px solid transparent;
  content: " ";
}

.timeline > li > .timeline-card:after {
  position: absolute;
  top: 0;
  right: -14px;
  display: inline-block;
  border-bottom: 18px solid transparent;
  content: " ";
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 17px;
  margin-left: -1.5px;
}

.float-right {
  float: right !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #dfdfdf;
  right: 20px;
  margin-left: -1.5px;
} */

.timeline > li:after {
  clear: both;
}

@media (min-width: 576px) {
  .modal-document-thread-history .modal-dialog {
    max-width: 96%;
    margin: 1.75rem auto;
  }
}

@media (min-width: 992px) {
  .modal-document-thread-history .modal-lg,
  .modal-document-thread-history .modal-xl {
    max-width: 900px !important;
    margin: 1.75rem auto !important;
  }
}
</style>
