<template>
  <b-modal
    v-model="modalNewContact.show"
    size="xl"
    hide-header-close
    no-close-on-backdrop
    scrollable
    no-close-on-esc
  >
    <template #modal-title>
      <div class="w-100" v-if="modalNewContact.step === 1">
        <i class="fa fa-user"> </i> DATOS DEL
        {{
          selected_model.contact_type === 1
            ? "CLIENTE"
            : selected_model.contact_type === 2
            ? "PROVEEDOR"
            : "EMPLEADO"
        }}
      </div>
      <div class="w-100" v-if="modalNewContact.step === 2">
        <i class="fa fa-car"> </i> DATOS DEL VEHÍCULO
      </div>
    </template>

    <el-steps :active="modalNewContact.step" align-center>
      <el-step
        title="PASO 1"
        :description="
          'DATOS DEL ' +
            (selected_model.contact_type === 1
              ? 'CLIENTE'
              : selected_model.contact_type === 2
              ? 'PROVEEDOR'
              : 'EMPLEADO')
        "
      ></el-step>
      <el-step
        v-if="
          selected_model.capture_vehicle_data &&
            selected_model.capture_vehicle_data != 2
        "
        title="PASO 2"
        description="DATOS DEL VEHÍCULO"
      ></el-step>
    </el-steps>

    <form
      @submit.prevent="validateForm()"
      data-vv-scope="form-contact"
      autocomplete="off"
      v-show="modalNewContact.step === 1"
    >
      <!-- ACORDEON DE INFORMACIÓN GENERAL-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.general_data>DATOS GENERALES</b-btn>
        <b-collapse visible id="general_data" role="tabpanel">
          <b-card-body>
            <div class="row">
              <!-- GENERAL / TIPOS DE IDENTIFICACION -->
              <div
                class="form-group col-sm-5 col-md-3"
                v-bind:class="
                  errors.has('form-contact.identification_type')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="identification_type">
                  Tipo de identificación
                  <span class="text-danger">*</span> &nbsp;
                </label>
                <el-select
                  id="identification_type"
                  name="identification_type"
                  clearable
                  filterable
                  placeholder=" "
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-validate="'required'"
                  data-vv-as=" "
                  data-vv-scope="form-contact"
                  v-model="newContact.identification_type"
                  @click.native="fetchDocumentTypes()"
                >
                  <el-option
                    v-for="item in identificationTypes"
                    :key="item.id"
                    :label="item.name_parameter"
                    :value="item.id"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.identification_type")
                }}</span>
              </div>

              <!-- GENERAL / IDENTIFICACION -->
              <div
                class="form-group col-sm-5 col-md-2"
                v-bind:class="
                  errors.has('form-contact.identification')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="identification">
                  Identificación
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="identification"
                  name="identification"
                  class="form-control"
                  v-validate="'required|max:15'"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  v-model="newContact.identification"
                  @change="consultContact()"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.identification")
                }}</span>
              </div>

              <!-- GENERAL / DIGITO DE VERIFICACION -->
              <div
                class="form-group col-sm-2 col-md-1"
                v-bind:class="
                  errors.has('form-contact.check_digit')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="check_digit">
                  DV
                  <span
                    class="text-danger"
                    v-if="newContact.identification_type === 1"
                    >*</span
                  >
                </label>
                <input
                  type="number"
                  id="check_digit"
                  name="check_digit"
                  class="form-control"
                  autocomplete="nope"
                  v-validate="{
                    rules: {
                      required: newContact.identification_type === 1,
                      max_value: 9,
                      min_value: 0
                    }
                  }"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  @blur="validateCheckDigit()"
                  v-model="newContact.check_digit"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.check_digit")
                }}</span>
              </div>

              <!-- GENERAL / NOMBRES RAZON SOCIAL -->
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-contact.name') ? 'form-group-error' : ''
                "
              >
                <label
                  for="name"
                  v-if="
                    newContact.identification_type !== 1 &&
                      newContact.identification_type !== 3
                  "
                >
                  Nombres
                  <span class="text-danger">*</span>
                </label>
                <label for="name" v-else>
                  Razón Social
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  autocomplete="nope"
                  style="text-transform: uppercase"
                  class="form-control"
                  v-validate="'required|max:150'"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  v-model="newContact.name"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.name")
                }}</span>
              </div>

              <!-- GENERAL / APELLIDOS -->
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-contact.surname') ? 'form-group-error' : ''
                "
                v-if="
                  newContact.identification_type !== 1 &&
                    newContact.identification_type !== 3
                "
              >
                <label for="surname">Apellidos</label>
                <span
                  class="text-danger"
                  v-if="
                    newContact.identification_type !== 1 &&
                      newContact.identification_type !== 3
                  "
                  >*</span
                >
                <input
                  type="text"
                  id="surname"
                  name="surname"
                  autocomplete="nope"
                  style="text-transform: uppercase"
                  class="form-control"
                  v-validate="{
                    rules: {
                      required:
                        newContact.identification_type !== 1 &&
                        newContact.identification_type !== 3
                    }
                  }"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  v-model="newContact.surname"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.surname")
                }}</span>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>

      <!-- ACORDEON DE INFORMACIÓN DE CONTACTO-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.contact_data>
          INFORMACIÓN DE CONTACTO
        </b-btn>
        <b-collapse visible id="contact_data" ole="tabpanel">
          <b-card-body>
            <div class="row">
              <!-- GENERAL / DEPARTAMENTO -->
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-contact.city_id') ? 'form-group-error' : ''
                "
              >
                <label for="department">
                  Departamento
                  <span class="text-danger">*</span>
                </label>
                <el-select
                  id="department_id"
                  name="department_id"
                  filterable
                  size="sm"
                  autocomplete="nope"
                  auto-complete="nope"
                  data-vv-as=" "
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-model="newContact.department_id"
                  v-validate="'required'"
                  data-vv-scope="form-contact"
                  @click.native="fetchDepartments"
                >
                  <el-option
                    v-for="d in departments"
                    :key="d.id"
                    :value="d.id"
                    :label="d.department"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.department_id")
                }}</span>
              </div>

              <!-- GENERAL / CIUDAD -->
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-contact.city_id') ? 'form-group-error' : ''
                "
              >
                <label for="city_id">
                  Ciudad
                  <span class="text-danger">*</span>
                </label>
                <el-select
                  id="city_id"
                  name="city_id"
                  filterable
                  autocomplete="nope"
                  auto-complete="nope"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  data-vv-as=" "
                  size="sm"
                  v-validate="'required'"
                  data-vv-scope="form-contact"
                  :disabled="!newContact.department_id"
                  v-model="newContact.city_id"
                  @click.native="fetchCities()"
                >
                  <el-option
                    v-for="c in cities"
                    :key="c.id"
                    :value="c.id"
                    :label="c.city"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.city_id")
                }}</span>
              </div>

              <!-- GENRAL / DIRECCION -->
              <div
                class="form-group col-sm-6 col-lg-3"
                v-bind:class="
                  errors.has('form-contact.address_object')
                    ? 'form-group-error'
                    : ''
                "
              >
                <address-input
                  ref="address_object"
                  label="Dirección"
                  name="address_object"
                  id="address_object"
                  v-model="newContact.address_object"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  @change="changeAddress"
                ></address-input>
                <!--<input
                  type="text"
                  id="address"
                  name="address"
                  autocomplete="off"
                  class="form-control"
                  style="text-transform: uppercase"
                  v-validate="'max:100'"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  v-model="newContact.address"
                />-->
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.address_object")
                }}</span>
              </div>

              <!-- GENERAL / TELEFONO 1 -->
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-contact.main_telephone')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="main_telephone">Teléfono 1</label>
                <input
                  type="text"
                  id="main_telephone"
                  name="main_telephone"
                  autocomplete="nope"
                  class="form-control"
                  v-validate="'min:7|max:20'"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  v-model="newContact.main_telephone"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.main_telephone")
                }}</span>
              </div>

              <!-- GENERAL / CELULAR -->
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-contact.cell_phone')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="cell_phone">Celular</label>
                <input
                  type="text"
                  id="cell_phone"
                  name="cell_phone"
                  autocomplete="nope"
                  class="form-control"
                  v-validate="'min:10|max:20'"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  v-model="newContact.cell_phone"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.cell_phone")
                }}</span>
              </div>

              <!-- GENERAL / EMAIL -->
              <div
                class="form-group col-sm-6 col-md-3"
                v-bind:class="
                  errors.has('form-contact.email') ? 'form-group-error' : ''
                "
              >
                <label for="email">Email</label>
                <span class="text-danger">*</span>
                <input
                  type="text"
                  id="email"
                  name="email"
                  autocomplete="nope"
                  class="form-control"
                  style="text-transform: lowercase"
                  v-validate="'required|email|max:60'"
                  data-vv-scope="form-contact"
                  data-vv-as=" "
                  v-model="newContact.email"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.email")
                }}</span>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>

      <!-- ACORDEON CLASIFICACIÓN TRIBUTARIA-->
      <b-card no-body class="mb-1">
        <b-btn href="#" v-b-toggle.tax_classification>
          <i class="fa fa-"></i> CLASIFICACIÓN TRIBUTARIA
        </b-btn>
        <b-collapse visible id="tax_classification" ole="tabpanel">
          <b-card-body>
            <div class="row">
              <!-- GENERAL / REGIMEN TRIBUTARIO -->
              <div
                class="form-group col-sm-6 col-md-4"
                v-bind:class="
                  errors.has('form-contact.tax_regime')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="tax_regime">
                  Régimen tributario
                  <span class="text-danger" v-if="required()">*</span> &nbsp;
                </label>
                <el-select
                  id="tax_regime"
                  name="tax_regime"
                  data-vv-as=" "
                  filterable
                  clearable
                  v-validate="{ rules: { required: required() } }"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-model="newContact.tax_regime"
                  @click.native="fetchTaxRegimes()"
                >
                  <el-option
                    v-for="t in taxRegimes"
                    :key="t.id"
                    :value="t.id"
                    :label="t.name_parameter"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.tax_regime")
                }}</span>
              </div>

              <!-- GENERAL / RESPONSABILIDAD FISCAL -->
              <div
                class="form-group col-sm-6 col-md-4"
                v-bind:class="
                  errors.has('form-contact.fiscal_responsibility_id')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="fiscal_responsibility_id">
                  Responsabilidad Fiscal
                  <span class="text-danger" v-if="required()">*</span> &nbsp;
                </label>
                <el-select
                  id="fiscal_responsibility_id"
                  name="fiscal_responsibility_id"
                  data-vv-as=" "
                  filterable
                  clearable
                  v-validate="{ rules: { required: required() } }"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-model="newContact.fiscal_responsibility_id"
                  @click.native="fetchFiscalResponsibilitys()"
                >
                  <el-option
                    v-for="t in fiscalResponsibilitys"
                    :key="t.id"
                    :value="t.id"
                    :label="t.name_parameter"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.fiscal_responsibility_id")
                }}</span>
              </div>

              <!-- GENERAL / TIPO CONTRIBUYENTE -->
              <div
                class="form-group col-sm-6 col-md-4"
                v-bind:class="
                  errors.has('form-contact.taxpayer_type')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="taxpayer_type">
                  Tipo de contribuyente
                  <span class="text-danger" v-if="required()">*</span> &nbsp;
                </label>
                <el-select
                  id="taxpayer_type"
                  name="taxpayer_type"
                  data-vv-as=" "
                  filterable
                  clearable
                  v-validate="{ rules: { required: required() } }"
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  placeholder=" "
                  v-model="newContact.taxpayer_type"
                  @click.native="fetchTaxpayerTypes()"
                >
                  <el-option
                    v-for="t in taxpayerTypes"
                    :key="t.id"
                    :value="t.id"
                    :label="t.name_parameter"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-contact.taxpayer_type")
                }}</span>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>
    <form
      @submit.prevent="validateForm()"
      data-vv-scope="form-vehicle"
      autocomplete="nope"
      v-show="modalNewContact.step === 2"
    >
      <!-- ACORDEON DE INFORMACIÓN GENERAL-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.general_data>DATOS GENERALES</b-btn>
        <b-collapse visible id="general_data" role="tabpanel">
          <b-card-body>
            <div class="row">
              <!-- PLACA -->
              <div
                v-if="!newContact.id"
                class="form-group col-md-3"
                v-bind:class="
                  errors.has('form-vehicle.license_plate')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="license_plate">
                  Placa
                  <span class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  id="license_plate"
                  name="license_plate"
                  style="text-transform: uppercase"
                  class="form-control"
                  v-validate="'required|max:15'"
                  data-vv-as=" "
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.license_plate"
                  @change="validateLicensePlate"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.license_plate")
                }}</span>
              </div>

              <!-- VEHICULO -->
              <div
                v-else
                class="form-group col-sm-12 col-md-3"
                v-bind:class="
                  errors.has('form.contact_warehouse_id')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="contact_vehicle_id">
                  Vehículo
                  <span class="text-danger" v-text="'*'" />
                </label>
                <el-select
                  id="contact_vehicle_id"
                  name="contact_vehicle_id"
                  filterable
                  allow-create
                  placeholder=" "
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos que coincidan"
                  v-validate="'required'"
                  data-vv-as=" "
                  v-model="newContact.vehicle.id"
                  @change="changeVehicle"
                >
                  <el-option
                    v-for="vehicle in vehiclesContact"
                    :key="vehicle.id"
                    :label="'PLACA: ' + vehicle.license_plate"
                    :value="vehicle.id"
                  ></el-option>
                </el-select>
                <i class="text-danger icon-error" />
                <span
                  class="text-danger span-error"
                  v-text="errors.first('form.contact_warehouse_id')"
                />
              </div>

              <!-- TIPO -->
              <div
                class="form-group col-md-6"
                v-bind:class="
                  errors.has('form-vehicle.vehicle_type_id')
                    ? 'form-group-error'
                    : ''
                "
              >
                <div class="row">
                  <div class="col-10">
                    <label for="vehicle_type_id">
                      Tipo de vehículo
                      <span class="text-danger">*</span> &nbsp;
                    </label>
                    <el-select
                      id="vehicle_type_id"
                      name="vehicle_type_id"
                      remote
                      :remote-method="fetchVehicles"
                      filterable
                      placeholder=" "
                      no-data-text="Sin resultados de la búsqueda"
                      no-match-text="Cargando datos ..."
                      v-validate="'required'"
                      data-vv-as=" "
                      data-vv-scope="form-vehicle"
                      v-model="newContact.vehicle.vehicle_type_id"
                      @change="setDataVehicle"
                    >
                      <el-option
                        v-for="vehicle in vehicles"
                        :key="vehicle.id"
                        :label="
                          vehicle.brand_vehicle.name_parameter +
                            ' ' +
                            vehicle.vehicle_type
                        "
                        :value="vehicle.id"
                      ></el-option>
                    </el-select>
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">{{
                      errors.first("form-vehicle.vehicle_type_id")
                    }}</span>
                  </div>
                  <div
                    class="col-2 pl-0 popover-vehicle"
                    v-if="newContact.vehicle.vehicle_type_id"
                  >
                    <label class="w-100"> &nbsp;</label>
                    <el-popover placement="bottom" width="400" trigger="click">
                      <table
                        class="table table-sm table-striped table-hover table-dark"
                      >
                        <tbody>
                          <tr
                            v-for="(datum, index) in dataVehicle"
                            :key="index"
                          >
                            <td class="font-weight-bold">{{ datum.title }}</td>
                            <td>{{ datum.value }}</td>
                          </tr>
                        </tbody>
                      </table>
                      <el-button size="small" slot="reference"
                        ><i class="fa fa-info"></i>
                      </el-button>
                    </el-popover>
                  </div>
                </div>
              </div>

              <!-- MODELO -->
              <div
                class="form-group col-md-3"
                v-bind:class="
                  errors.has('form-vehicle.year') ? 'form-group-error' : ''
                "
              >
                <label for="year">
                  Modelo
                  <span class="text-danger">*</span> &nbsp;
                </label>
                <input
                  type="number"
                  id="year"
                  name="year"
                  style="text-transform: uppercase"
                  class="form-control"
                  v-validate="'required|numeric|min_value:1970|max_value:2030'"
                  data-vv-as=" "
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.year"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.year")
                }}</span>
              </div>

              <!-- NÚMERO DE SERIE -->
              <div
                class="form-group col-md-6"
                v-bind:class="
                  errors.has('form-vehicle.serial_number')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="name">
                  Número de motor
                </label>
                <input
                  type="text"
                  id="serial_number"
                  name="serial_number"
                  style="text-transform: uppercase"
                  class="form-control"
                  v-validate="'max:20'"
                  data-vv-as=" "
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.serial_number"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.serial_number")
                }}</span>
              </div>

              <!-- PROMEDIO DE KILOMETROS DIARIOS -->
              <div
                class="form-group col-md-6"
                v-bind:class="
                  errors.has('form-vehicle.average_daily_kilometers')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="average_daily_kilometers"
                  >Promedio de kms diarios</label
                >
                <input
                  type="number"
                  id="average_daily_kilometers"
                  name="average_daily_kilometers"
                  style="text-transform: uppercase"
                  class="form-control"
                  v-validate="'numeric|min_value:0|max_value:1000'"
                  data-vv-as=" "
                  disabled
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.average_daily_kilometers"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.average_daily_kilometers")
                }}</span>
              </div>

              <!--OBSERVACION -->
              <div
                class="form-group col-12"
                v-bind:class="
                  errors.has('form-vehicle.observations')
                    ? 'form-group-error'
                    : ''
                "
              >
                <label for="observations">Observación</label>
                <input
                  type="text"
                  id="observations"
                  name="observations"
                  :autosize="{ minRows: 2, maxRows: 4 }"
                  class="form-control"
                  v-validate="'max:300'"
                  data-vv-as=" "
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.observations"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.observations")
                }}</span>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>

      <!-- ACORDEON DE INFORMACIÓN DE CONTACTO-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.contact_data>
          LLANTAS
        </b-btn>
        <b-collapse visible id="contact_data" ole="tabpanel">
          <b-card-body>
            <div class="row">
              <!-- ANCHO -->
              <div
                class="form-group col-md-4"
                v-bind:class="
                  errors.has('form-vehicle.width') ? 'form-group-error' : ''
                "
              >
                <label for="width">Ancho</label>
                <input
                  type="number"
                  id="width"
                  name="width"
                  class="form-control"
                  v-validate="'max_value:100'"
                  data-vv-as=" "
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.width"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.width")
                }}</span>
              </div>

              <!-- RIN -->
              <div
                class="form-group col-md-4"
                v-bind:class="
                  errors.has('form-vehicle.rin') ? 'form-group-error' : ''
                "
              >
                <label for="rin">Rin</label>
                <input
                  type="number"
                  id="rin"
                  name="rin"
                  class="form-control"
                  v-validate="'max_value:100'"
                  data-vv-as=" "
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.rin"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.rin")
                }}</span>
              </div>

              <!-- PERFIL -->
              <div
                class="form-group col-md-4"
                v-bind:class="
                  errors.has('form-vehicle.profile') ? 'form-group-error' : ''
                "
              >
                <label for="profile">Perfil</label>
                <input
                  type="number"
                  id="profile"
                  name="profile"
                  class="form-control"
                  v-validate="'max_value:100'"
                  data-vv-as=" "
                  data-vv-scope="form-vehicle"
                  v-model="newContact.vehicle.profile"
                />
                <i class="text-danger icon-error"></i>
                <span class="text-danger span-error">{{
                  errors.first("form-vehicle.profile")
                }}</span>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>
    <template #modal-footer>
      <div class="w-100">
        <b-button
          v-if="modalNewContact.step === 2"
          variant="info"
          class="float-left m-1"
          @click="setModalNewContactStep(1)"
        >
          Anterior
        </b-button>
        <b-button
          variant="secondary"
          class="float-right m-1"
          @click="closeModal()"
        >
          Cancelar
        </b-button>
        <b-button
          variant="warning"
          class="float-right m-1"
          @click="resetNewContact()"
        >
          Limpiar
        </b-button>
        <b-button
          variant="primary"
          class="float-right m-1"
          @click="validateForm()"
        >
          {{
            modalNewContact.step === 1
              ? selected_model.capture_vehicle_data &&
                selected_model.capture_vehicle_data != 2
                ? "Siguiente"
                : "Finalizar"
              : "Finalizar"
          }}
        </b-button>
      </div>
    </template>
  </b-modal>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import addressInput from "../../components/u2/addressInput";

export default {
  name: "modalNewContact",
  components: {
    addressInput
  },
  computed: {
    ...mapState("inventoryMovements", [
      "newContact",
      "selected_model",
      "modalNewContact",
      "cities",
      "departments",
      "identificationTypes",
      "vehicles",
      "brandsVehicles",
      "dataVehicle",
      "personClasses",
      "taxpayerTypes",
      "taxRegimes",
      "fiscalResponsibilitys",
      "vehiclesContact"
    ])
  },
  created() {
    this.$store.watch(
      () => {
        return this.newContact.city ? this.newContact.city.department_id : null;
      },
      p => {
        if (this.updateDepartments) {
          this.newContact.city_id = "";
        }
      }
    );
  },
  methods: {
    ...mapActions("inventoryMovements", [
      "fetchCities",
      "fetchDepartments",
      "fetchDocumentTypes",
      "storeContact",
      "calculateCheckDigit",
      "fetchVehicles",
      "getContactForIdentification",
      "validateLicensePlate",
      "fetchPersonClasses",
      "fetchTaxpayerTypes",
      "fetchTaxRegimes",
      "fetchFiscalResponsibilitys"
    ]),
    ...mapMutations("inventoryMovements", [
      "setModalNewContactStep",
      "resetNewContact",
      "setDataVehicle",
      "setModalNewContact",
      "resetNewContactVehicle",
      "setAddressNewContact"
    ]),
    validateCheckDigit() {
      if (
        this.newContact.identification_type === 1 ||
        (this.newContact.check_digit !== null &&
          this.newContact.check_digit !== "")
      ) {
        this.calculateCheckDigit().then(checkDigit => {
          if (+checkDigit !== +this.newContact.check_digit) {
            this.showError("Error en el Nit o dígito de verificación");
          }
        });
      }
      return true;
    },
    async validateForm() {
      this.errors.clear();

      let address = this.$refs["address_object"].address;
      console.log(address);

      let hasErrors = this.changeAddress(address);

      if (this.modalNewContact.step === 1) {
        await this.$validator.validateAll("form-contact").then(async result => {
          if (result && !hasErrors) {
            if (
              this.newContact.identification_type === 1 ||
              (this.newContact.check_digit !== null &&
                this.newContact.check_digit !== "")
            ) {
              await this.calculateCheckDigit().then(async checkDigit => {
                console.log(checkDigit);
                if (+checkDigit !== +this.newContact.check_digit) {
                  this.showError("Error en el Nit o dígito de verificación");
                } else {
                  if (
                    this.selected_model.capture_vehicle_data &&
                    this.selected_model.capture_vehicle_data != 2
                  ) {
                    this.setModalNewContactStep(2);
                  } else {
                    await this.storeContact().then(result => {
                      this.$emit("new", result);
                    });
                  }
                }
              });
            } else {
              if (
                this.selected_model.capture_vehicle_data &&
                this.selected_model.capture_vehicle_data != 2
              ) {
                this.setModalNewContactStep(2);
              } else {
                await this.storeContact().then(result => {
                  this.$emit("new", result);
                });
              }
            }
          }
        });
      } else {
        await this.$validator.validateAll("form-vehicle").then(async result => {
          if (result && !hasErrors) {
            await this.storeContact().then(result => {
              this.$emit("new", result);
            });
          }
        });
      }
    },
    showError(message) {
      this.$alert(message, "Error", {
        confirmButtonText: "Aceptar",
        type: "error",
        customClass: "notification-error"
      });
    },
    async consultContact() {
      await this.getContactForIdentification(this.newContact.identification);
    },
    closeModal() {
      this.setModalNewContact(false);
      this.resetNewContact();
    },
    changeVehicle(vehicle_id) {
      if (vehicle_id && typeof vehicle_id != "string") {
        let vehicle = this.vehiclesContact.find(v => v.id === vehicle_id);

        if (vehicle) {
          this.validateLicensePlate(vehicle.license_plate);
        }
      } else {
        this.resetNewContactVehicle(true);
      }
    },
    changeAddress(address) {
      let hasErrors = this.$refs["address_object"].hasErrors();

      if (hasErrors) {
        this.errors.add({
          scope: "form-contact",
          field: "address_object",
          msg: "Dirección no valida"
        });
      } else {
        this.setAddressNewContact(address);
        this.errors.remove("address_object", "form-contact");
      }

      return hasErrors;
    },
    required() {
      return this.selected_model && this.selected_model.operation_type && this.selected_model.operation_type.code === "205";
    }
  }
};
</script>

<style>
.el-popover {
  background: #47494c;
}
</style>
