<template>
  <b-modal
    title="AGREGAR FORMAS DE PAGO"
    v-model="modalPaymentMethods.showModal"
    size="xl"
    class="modal-backdrop"
    no-close-on-backdrop
    no-close-on-esc
    hide-header-close
  >
    <template #modal-title>
      <div class="w-100"><i class="fa fa-user"> </i> FORMAS DE PAGO</div>
    </template>

    <form autocomplete="nope">
      <!-- ACORDEON DE INFORMACIÓN GENERAL-->
      <b-card no-body class="mb-1">
        <b-btn block href="#" v-b-toggle.general_data
          >AGREGAR FORMAS DE PAGO</b-btn
        >
        <b-collapse visible id="general_data" role="tabpanel">
          <b-card-body>
            <div class="row">
              <div class="col-12">
                <b-button
                  type="button"
                  class="mr-4 mt-4 float-right btn-class-block-sm"
                  variant="primary"
                  @click="addNewRow"
                  v-if="!view"
                >
                  Agregar Nuevo Metodo de Pago
                </b-button>
              </div>
              <div class="col-md-12">
                <grid-u2
                  ref="gridPaymentMethod"
                  :options="gridOptions"
                  :columns.sync="columns"
                  :items.sync="modalPaymentMethods.data"
                >
                  <template slot="payment_method_id" slot-scope="row">
                    <el-select
                      size="small"
                      filterable
                      placeholder=" "
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan."
                      v-model="row.item.payment_method_id"
                      clearable
                      :disabled="view"
                      @change="setvisibleColumns()"
                    >
                      <el-option
                        v-for="paymentMethod in modalPaymentMethods.paymentMethods"
                        :key="paymentMethod.id"
                        :label="
                          `${
                            paymentMethod.code_parameter
                          } - ${paymentMethod.name_parameter || ''}`
                        "
                        :value="paymentMethod.id"
                      ></el-option>
                    </el-select>
                  </template>

                  <template slot="authorization_number" slot-scope="row">
                    <el-input
                      size="small"
                      placeholder=" "
                      v-model="row.item.authorization_number"
                      :disabled="
                        disabledInputByPaymentMethods(
                          'alphanum_data_first',
                          row.item
                        )
                      "
                    ></el-input>
                  </template>

                  <template slot="check_number" slot-scope="row">
                    <el-input
                      size="small"
                      placeholder=" "
                      v-model="row.item.check_number"
                      :disabled="
                        disabledInputByPaymentMethods(
                          'alphanum_data_second',
                          row.item
                        )
                      "
                    ></el-input>
                  </template>

                  <template slot="entity" slot-scope="row">
                    <el-input
                      size="small"
                      placeholder=" "
                      v-model="row.item.entity"
                      :disabled="
                        disabledInputByPaymentMethods(
                          'alphanum_data_third',
                          row.item
                        )
                      "
                    ></el-input>
                  </template>

                  <template slot="value" slot-scope="row">
                    <div class="el-input el-input--small">
                      <InputMoney
                        v-bind="money"
                        v-model="row.item.value"
                        :disabled="view"
                        class="el-input__inner"
                        @blur.native="onChangeValuePaymentMethod(row.item.id)"
                      />
                    </div>
                  </template>

                  <template slot="actions" slot-scope="row">
                    <div class="vcenter text-center">
                      <b-button
                        size="sm"
                        type="button"
                        variant="danger"
                        @click="deleteRowModalPaymentMethodsData(row.item.id)"
                        v-if="!view"
                        tabindex="-1"
                      >
                        Eliminar
                      </b-button>
                    </div>
                  </template>

                  <!-- footers -->
                  <template slot="foot_authorization_number" slot-scope="row">
                    <!-- <div class="el-input el-input--small">
                      <div
                        style="border: none !important"
                        class="el-input__inner "
                      >
                        <span style="color: white">...</span>
                      </div>
                    </div>
                    <br />
                    <div class="el-input el-input--small mt-3">
                      <div
                        class="el-input__inner text-right background-blue-light text-nowrap"
                      >
                        TOTAL A PAGAR:
                      </div>
                    </div> -->
                  </template>

                  <template slot="foot_check_number" slot-scope="row">
                    <!-- <div class="el-input el-input--small">
                      <input
                        type="text"
                        value=""
                        :disabled="true"
                        class="el-input__inner"
                        style="border: none !important"
                      />
                    </div>
                    <br />
                    <div class="el-input el-input--small mt-3">
                      <InputMoney
                        v-bind="money"
                        :value="totalToPay"
                        :disabled="true"
                        class="el-input__inner bold"
                      />
                    </div> -->
                  </template>

                  <template slot="foot_entity" slot-scope="row">
                    <!-- <div class="el-input el-input--small">
                      <div
                        class="el-input__inner text-right background-blue-light text-nowrap"
                      >
                        CAMBIO:
                      </div>
                    </div>
                    <br />
                    <div class="el-input el-input--small mt-3">
                      <div
                        class="el-input__inner text-right background-blue-light text-nowrap"
                      >
                        TOTAL PAGADO:
                      </div>
                    </div> -->
                  </template>

                  <template slot="foot_value" slot-scope="row">
                    <div class="row">
                      <div class="col-2"><p class="mt-2">CAMBIO:</p></div>
                      <div class="col-10">
                        <div class="el-input el-input--small">
                          <InputMoney
                            v-bind="money"
                            :value="valueChange"
                            :disabled="true"
                            class="el-input__inner"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4">
                        <div class="el-input el-input--small mt-3">
                          <div
                            class="el-input__inner text-right background-blue-light text-nowrap"
                          >
                            TOTAL A PAGAR:
                          </div>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="el-input el-input--small mt-3">
                          <InputMoney
                            v-bind="money"
                            :value="totalToPay"
                            :disabled="true"
                            class="el-input__inner bold"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-4">
                        <div class="el-input el-input--small mt-3">
                          <div
                            class="el-input__inner text-right background-blue-light text-nowrap"
                          >
                            TOTAL PAGADO:
                          </div>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="el-input el-input--small mt-3">
                          <InputMoney
                            v-if="valueTotalToPay == totalToPay"
                            v-bind="money"
                            :value="valueTotalToPay"
                            :disabled="true"
                            class="el-input__inner bold green"
                          />
                          <InputMoney
                            v-if="valueTotalToPay != totalToPay"
                            v-bind="money"
                            :value="valueTotalToPay"
                            :disabled="true"
                            class="el-input__inner bold"
                          />
                        </div>
                      </div>
                    </div>
                  </template>
                </grid-u2>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>

    <template #modal-footer>
      <div class="w-100">
        <b-button
          @click="saveChanges()"
          variant="primary"
          class="float-right m-1"
          v-if="!view"
        >
          Finalizar
        </b-button>
        <b-button
          @click="cancelModalPaymentMethods()"
          variant="secondary"
          class="float-right m-1"
        >
          Cancelar
        </b-button>
      </div>
    </template>
  </b-modal>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import GridU2 from "@/components/u2/grid";
import { Notification, MessageBox } from "element-ui";
import { Money } from "v-money";

export default {
  props: {
    view: { default: false },
    totalToPay: { default: 0 }
  },
  components: {
    GridU2,
    InputMoney: Money
  },
  data() {
    return {
      rowInitial: 3,
      money: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 0,
        masked: false
      },
      columns: [],
      visible_column_authorization_number: false,
      visible_column_check_number: false,
      visible_column_entity: false,
      gridOptions: {
        selectable: false,
        multiselect: false,
        showFooter: true,
        type_currency: "COP"
      },
      valueTotalToPay: 0
    };
  },
  methods: {
    async initComponent() {
      await this.getPaymentMethods();
      await this.resetModalPaymentMethodsData();

      if (this.selected_document.payment_methods) {
        if (this.selected_document.payment_methods.length <= 0) {
          this.addInitialRows();
        } else {
          this.modalPaymentMethods.data = JSON.parse(
            JSON.stringify(this.selected_document.payment_methods)
          );
        }

        this.tableBuildData();
        this.calculateValueTotalToPay();
        this.setvisibleColumns();
      }
    },
    onChangeValuePaymentMethod(id) {
      let row_selected = this.modalPaymentMethods.data.find(d => d.id === id);
      let index = this.modalPaymentMethods.data.findIndex(d => d.id === id);
      let document_total_value = this.totalToPay;
      let total_value = this.totalValue;
      let row_next = this.modalPaymentMethods.data[index + 1];

      if (row_next && row_selected.value > 0) {
        if (document_total_value > total_value) {
          row_next.value = document_total_value - total_value;
        }
      }

      //
      this.calculateValueTotalToPay();
    },
    tableBuildData() {
      if (this.$refs.gridPaymentMethod) {
        this.$refs.gridPaymentMethod.buildData();
      }
    },
    addNewRow() {
      let row_create = JSON.parse(
        JSON.stringify(this.modalPaymentMethods.row_create)
      );

      row_create.id = Math.floor(Math.random() * 10000); //shortid.generate();

      this.modalPaymentMethods.data.push(row_create);
      // this.$refs.grid.buildData();
    },
    async cancelModalPaymentMethods() {
      if (!this.view) {
        await this.resetModalPaymentMethodsData();
      }
      await this.modalPaymentMethodsToggle();
    },
    async saveChanges() {
      await this.validationsModalPaymentMethods();

      // Validamos campos obligatorios.
      if (!(await this.validateRequiredColumns())) {
        return false;
      }

      // Validamos si hay un metodo de pago en efectivo
      await this.paymentMethodCashChange();

      // VAlidamos las forma de pago
      if (this.selected_model.handle_payment_methods === 9) {
        if (this.modalPaymentMethods.data.length <= 0) {
          this.$alert(
            "Debe agregar como minimo una forma de pago al documento.",
            "¡Error Formas De Pago!",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              dangerouslyUseHTMLString: true
            }
          );
          this.addInitialRows();
          return false;
        }
      }

      // Validamos que los metodo de pago hayan sido completados
      if (this.selected_model.handle_payment_methods !== 2) {
        let totalValuePayment = 0;
        this.modalPaymentMethodsValid.map(pm => {
          totalValuePayment += pm.total_value;
        });

        // Validamos si aun falta por pagar
        if (this.totalToPay > totalValuePayment) {
          this.$alert(
            "Complete las formas de pago.",
            "¡Error Formas De Pago!",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              dangerouslyUseHTMLString: true
            }
          );
          return false;
        }

        // Validamos si se excedio en el pago
        if (totalValuePayment > this.totalToPay) {
          this.$alert(
            "El total pagado no debe ser mayor al total a pagar.",
            "¡Error Formas De Pago!",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              dangerouslyUseHTMLString: true
            }
          );
          return false;
        }
      }

      Notification.success({
        title: "Exito!",
        message: "Metodos de pago guardados",
        type: "success",
        duration: 1500,
        customClass: "notification-box"
      });

      this.selected_document.payment_methods = this.modalPaymentMethodsValid;

      this.modalPaymentMethodsToggle();
    },
    paymentMethodCashChange() {
      let paymentMethodNotCash = this.modalPaymentMethods.paymentMethods.find(
        p => p.code_parameter !== "01"
      );

      let paymentMethodCash = this.modalPaymentMethods.paymentMethods.find(
        p => p.code_parameter === "01"
      );

      let existPaymentMethodCash = this.modalPaymentMethods.data.find(
        d => d.payment_method_id === paymentMethodCash.id
      );

      let otherPaymentMethods = this.modalPaymentMethods.data.filter(
        d => d.payment_method_id !== paymentMethodCash.id
      );

      if (existPaymentMethodCash) {
        existPaymentMethodCash.value_change = this.valueChange;
        existPaymentMethodCash.total_value =
          existPaymentMethodCash.value - existPaymentMethodCash.value_change;
      }

      if (paymentMethodNotCash) {
        paymentMethodNotCash.total_value = paymentMethodNotCash.value;
      }

      if (otherPaymentMethods) {
        otherPaymentMethods.map(opm => {
          opm.total_value = opm.value;
        });
      }

      return true;
    },
    disabledInputByPaymentMethods(type, item) {
      let paymentMethod = this.modalPaymentMethods.paymentMethods.find(
        pm => pm.id === item.payment_method_id
      );

      if (!paymentMethod) {
        return true;
      }

      if (this.view) {
        return true;
      }

      // alphanum_data_first: REQ NUM-AUTORIZ (SI/NO)
      if (type === "alphanum_data_first") {
        if (paymentMethod.alphanum_data_first === "SI") {
          return false;
        }
      }

      // alphanum_data_second: REQ NUM-CHEQUE (SI/NO)
      if (type === "alphanum_data_second") {
        if (paymentMethod.alphanum_data_second === "SI") {
          return false;
        }
      }

      // alphanum_data_third: REQ ENTIDAD (SI/NO)
      if (type === "alphanum_data_third") {
        if (paymentMethod.alphanum_data_third === "SI") {
          return false;
        }
      }

      return true;
    },
    async validateRequiredColumns() {
      let validate = true;
      let message = [];

      this.modalPaymentMethodsValid.map(dpm => {
        let paymentMethod = this.modalPaymentMethods.paymentMethods.find(
          pm => pm.id === dpm.payment_method_id
        );

        // alphanum_data_first: REQ NUM-AUTORIZ (SI/NO)
        // authorization_number
        if (paymentMethod.alphanum_data_first === "SI") {
          if (!dpm.authorization_number) {
            message.push("Se requiere numero de autorizacion.");
            validate = false;
          }
        }

        // alphanum_data_second: REQ NUM-CHEQUE (SI/NO)
        // check_number
        if (paymentMethod.alphanum_data_second === "SI") {
          if (!dpm.check_number) {
            message.push("Se requiere numero del cheque.");
            validate = false;
          }
        }

        // alphanum_data_third: REQ ENTIDAD (SI/NO)
        // entity
        if (paymentMethod.alphanum_data_third === "SI") {
          if (!dpm.entity) {
            message.push("Se requiere la entidad.");
            validate = false;
          }
        }
      });

      if (!validate) {
        let uniqueArray = message.filter(function(item, pos) {
          return message.indexOf(item) == pos;
        });
        this.$alert(uniqueArray.join("<br>"), "¡Error Formas De Pago!", {
          confirmButtonText: "Aceptar",
          type: "error",
          dangerouslyUseHTMLString: true
        });
      }

      return validate;
    },
    async setvisibleColumns() {
      this.visible_column_authorization_number = false;
      this.visible_column_check_number = false;
      this.visible_column_entity = false;
      await this.modalPaymentMethods.data.map((item, index) => {
        let paymentMethod = this.modalPaymentMethods.paymentMethods.find(
          pm => pm.id === item.payment_method_id
        );

        if (paymentMethod != undefined) {
          if (paymentMethod.alphanum_data_first === "SI") {
            this.visible_column_authorization_number = true;
          }

          if (paymentMethod.alphanum_data_second === "SI") {
            this.visible_column_check_number = true;
          }

          if (paymentMethod.alphanum_data_third === "SI") {
            this.visible_column_entity = true;
          }
        }
      });
      this.buildColumns();
    },
    buildColumns() {
      this.columns = [
        {
          name: "Metodo de pago",
          field: "payment_method_id",
          style: { "min-width": "200px !important", backgroundColor: "#d5f3d3" }
        },
        {
          name: "Numero de autorización",
          field: "authorization_number",
          style: {
            "min-width": "200px !important",
            backgroundColor: "#d5f3d3"
          },
          visible: this.visible_column_authorization_number
        },
        {
          name: "Numero de cheque",
          field: "check_number",
          style: {
            "min-width": "200px !important",
            backgroundColor: "#d5f3d3"
          },
          visible: this.visible_column_check_number
        },
        {
          name: "Entidad",
          field: "entity",
          style: {
            "min-width": "200px !important",
            backgroundColor: "#d5f3d3"
          },
          visible: this.visible_column_entity
        },
        {
          name: "Valor",
          field: "value",
          style: { "min-width": "200px !important", backgroundColor: "#d5f3d3" }
        },
        {
          name: "Acciones",
          field: "actions"
        }
      ];
    },
    async addInitialRows() {
      for (let i = 0; i <= this.rowInitial - 1; i++) {
        await this.addNewRow();
      }
    },
    async calculateValueTotalToPay() {
      let total = 0;

      await this.paymentMethodCashChange();

      let paymentMethods = this.modalPaymentMethods.data.filter(
        p => p.payment_method_id
      );

      await Promise.all(
        paymentMethods.map(pm => {
          total += pm.total_value;
        })
      );

      this.valueTotalToPay = total;
    },
    ...mapMutations("inventoryMovements", [
      "modalPaymentMethodsToggle",
      "resetModalPaymentMethodsData",
      "deleteRowModalPaymentMethodsData",
      "validationsModalPaymentMethods"
    ]),
    ...mapActions("inventoryMovements", ["getPaymentMethods"])
  },
  computed: {
    ...mapState("inventoryMovements", [
      "modalPaymentMethods",
      "selected_document",
      "selected_model"
    ]),
    modalPaymentMethodsValid() {
      let modalPaymentMethods = this.modalPaymentMethods.data;

      return modalPaymentMethods.filter(
        m => m.payment_method_id && m.value > 0
      );
    },
    valueChange() {
      let paymentMethodCash = this.modalPaymentMethods.paymentMethods.find(
        p => p.code_parameter === "01"
      );

      let existPaymentMethodCash = this.modalPaymentMethods.data.find(
        d => d.payment_method_id === paymentMethodCash.id
      );

      if (existPaymentMethodCash) {
        if (this.totalValue > this.totalToPay) {
          let changeCash = this.totalValue - this.totalToPay;
          if (existPaymentMethodCash.value > changeCash) {
            return changeCash;
          }
        }
      }

      return 0;
    },
    totalValue() {
      let total = 0;
      this.modalPaymentMethods.data.map(d => {
        total += d.value;
      });
      return total;
    }
  },
  created() {
    this.initComponent();
    this.buildColumns();
  },
  watch: {
    "modalPaymentMethods.showModal": function(newVal, oldVal) {
      if (newVal) {
        if (this.modalPaymentMethods.data.length === 0) {
          this.addInitialRows();
        }
      }
    }
  }
};
</script>

<style>
.modal-backdrop {
  opacity: 0.9 !important;
}
/* .el-input.is-disabled .el-input__inner {
  background-color: #e9ecef !important;
  border-color: #ced4da !important;
  color: #495057 !important;
}

.el-input--small {
  font-size: 13px !important;
}

.el-input {
  position: relative !important;
  font-size: 14px !important;
  display: inline-block !important;
  width: 100% !important;
} */

@media all and (max-width: 480px) {
  .btn-class-block-sm {
    width: 100%;
    display: block;
    margin-right: 0px !important;
    float: none;
    margin-top: 10px;
  }
}
.bold {
  font-weight: bold !important;
}
.green {
  background: #d5f3d3 !important;
}
</style>
