/*global changes css*/

body > .header .logo {
    width: 241px;
}

.panel {
    background: #fff;
    border-radius: 3px;
    margin: 15px 0;
}

.panel-heading {
    border-bottom: 1px solid #efefef;
}


/*sales chart */

#sales-chart svg {
    height: 350px;
    margin-left: -21px;
    margin-bottom: -9px;
}

.chart-header {
    color: #555;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 23px;
}

#main-chart {
    width: 100%;
}

#main-chart .ti-fullscreen {
    font-size: 18px;
}
#main-chart .dropdown-toggle{
    background-color: #fff;
}
.dropdown-toggle::after{
    display: none !important;
}

.statchart-data {
    width: 65%;
    float: left;
    color: #999;
    margin-bottom: -26px;
    margin-top: 15px;
}

.statchart-data .data {
    width: 30%;
    float: left;
    padding-left: 9%;
}

.statchart-data .percent {
    font-size: 24px;
    color: #777;
}

.chart-header .option-more {
    font-size: 19px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
}

.chart-header .chartoption-menu {
    min-width: 100px;
}

#sales-chart svg .nv-legendWrap {
    pointer-events: none;
}

#sales-chart .nvd3 .nv-axis line {
    stroke: #f5f5f5;
}

#sales-chart .nvd3 .nv-groups .nv-group {
    fill-opacity: 1 !important;
}


/*sales chart ends here*/


/*users, visits, hits tiles*/

.main-cards h5 {
    padding-left: 22px;
    padding-top: 4px;
    color: #555;
}

.main-cards p {
    padding: 9px 22px 5px 22px;
    color: #555;
    font-size: 24px;
}

.main-cards p small {
    font-size: 57%;
    font-weight: bold;
}

.main-cards .progress-label {
    margin-right: 15px;
    color: #29AC6A;
    font-size: 14px;
}

.hits-progress {
    margin-bottom: 0;
    background-color: #DAF6E8;
}

#user-chart canvas,
#subscriber-chart canvas {
    margin-bottom: -3px;
    margin-right: -4px;
}


/*users, visits, hits tiles ends*/


@media (max-width:1024px){
    .profile-page .designation{
        padding-left: 20px !important;
    }
}
@media(max-width: 768px){
    .profile-page .about{
        margin-top: 5px;
    }
    .follow-link{

        right:45% !important;
    }
}


/*server load*/

.server-load h4 {
    font-weight: bold;
    color: #777;
}


/*social networks*/

.social .twitter {
    background-color: #1da1f2;
    height: 77px;
    padding-top: 13px;
}

.social .twitter i,
.social .facebook i {
    color: #fff;
    font-size: 50px;
    vertical-align: middle;
}

.social .twitter i:hover,
.social .facebook i:hover {
    display: inline-block;
    font-size: 60px;
    -moz-transform: translate3d(0px, -7px, 0px);
    -ms-transform: translate3d(0px, -7px, 0px);
    -o-transform: translate3d(0px, -7px, 0px);
    transform: translate3d(0px, -7px, 0px);
    transition: transform .2s ease-in-out;
}

.social .facebook {
    background-color: #3b5998;
    height: 77px;
    padding-top: 13px;
    width: 100%;
}

.social .info-1,
.social .info-2 {
    font-weight: bold;
    color: #777;
}

.social .info-1 p,
.social .info-2 p {
    color: #999;
}

.social .info-1 {
    padding-left: 15px;
}

.social .info-2 {
    padding-right: 17px;
}

.social .info-1 h3,
.social .info-2 h3 {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 20px;
}


/*media queries*/

@media screen and (max-width: 560px) {
    .rightsidebar-right .rightsidebar-right-content {
        padding-top: 103px;
    }
    .profile-page .profile-pic {
        width: 95px;
        height: 95px;
        margin-top: -58px;
    }
    .profile-page .cover-image .profile-name {
        left: 148px;
    }
    .profile-page .about .brief {
        height: 150px;
    }
    body > .header .logo,
    body > .header .navbar {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .statchart-data {
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .profile-page .about .brief {
        border-left: 0;
        padding: 5px 35px;
    }
    .profile-page .cover-image .profile-name {
        top: 88px;
    }
    .profile-page .cover-image .follow-link {
        top: 127px;
    }
    .profile-page .about .brief:before {
        visibility: hidden;
    }
}
@media (max-width: 320px){
    .profile-page .cover-image .follow-link {
        top: 120px;
    }
}

@media(max-width:1024px){
    .boxed .about .designation{
        padding-left: 13px !important;
        padding-right: 5px !important;
    }
    .boxed .cover-image .follow-link{
        right: 5px !important;
    }
    .boxed .about .brief h4{
        margin-left: 15px;
    }
}
/*dashboard 2*/
.boxed .weather-footer .popup{
    padding-left: 0px;
    padding-right: 0px;
}
.boxed .main-cards .card p{
    padding-left: 19px;
    padding-right: 0;
}
