<template>
  <div class="report-content">
    <div class="row m-0 py-2 report-header-gray banner-new">
      <div class="col-md-3">
        <img
          src="../../../assets/img/Logo-erp.svg"
          alt=""
          class="report-logo"
        />
      </div>
      <div class="col-md-7 align-self-center color-sc">
        <h5>Saldos Contables</h5>
      </div>
      <div class="col-md-2">
        <el-select size="small" v-model="ag_grid.selectedTheme">
          <el-option
            v-for="(item, index) in optionsThemes"
            :key="index"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </div>
    </div>
    <preloader v-if="loading" mensaje="Cargando información"></preloader>
    <index v-else />
  </div>
</template>

<script>
import { AgGridVue } from "@ag-grid-community/vue";
import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations } from "vuex";
import Preloader from "../../../components/layout/preloader";
import totalRowComponent from "../../components/totalRowComponent.vue";
import index from "../../../components/Account-balances/index";

export default {
  name: "App",
  // data() {
  //   return {
  //     columnDefs: [],
  //     gridOptions: null,
  //     gridApi: null,
  //     statusBar: null,
  //     defaultColDef: null,
  //     rowGroupPanelShow: null,
  //     groupDefaultExpanded: null,
  //     autoGroupColumnDef: null,
  //     selectedTheme: 'ag-theme-balham-dark',
  //     pinnedTopRowData: null,
  //     pinnedBottomRowData: null,
  //     frameworkComponents: null,
  //     getRowStyle: null,
  //     themes: [
  //       {theme: 'ag-theme-alpine', label: 'Alpine'},
  //       {theme: 'ag-theme-dark', label: 'Dark'},
  //       {theme: 'ag-theme-balham', label: 'Balham'},
  //       {theme: 'ag-theme-balham-dark', label: 'Balham dark'},
  //       {theme: 'ag-theme-material', label: 'Material'}
  //     ],
  //     sideBar: {
  //       toolPanels: [
  //         {
  //           id: 'columns',
  //           labelDefault: 'Columnas',
  //           labelKey: 'columns',
  //           iconKey: 'columns',
  //           toolPanel: 'agColumnsToolPanel',
  //         },
  //         {
  //           id: 'filters',
  //           labelDefault: 'Filtros',
  //           labelKey: 'filters',
  //           iconKey: 'filter',
  //           toolPanel: 'agFiltersToolPanel',
  //         },
  //       ],
  //       defaultToolPanel: 'filters',
  //       hiddenByDefault: false,
  //     },
  //     fields_sales: [
  //       'total_value_brut_first_month',
  //       'total_value_brut_second_month',
  //       'total_value_brut_third_month',
  //       'total_value_brut_fourth_month',
  //       'total_value_brut_fifth_month',
  //       'total_value_brut_sixth_month'
  //     ],
  //     fields_cost: [
  //       'total_cost_value_first_month',
  //       'total_cost_value_second_month',
  //       'total_cost_value_third_month',
  //       'total_cost_value_fourth_month',
  //       'total_cost_value_fifth_month',
  //       'total_cost_value_sixth_month'
  //     ],
  //     fields_utility: [
  //       'total_utility_first_month',
  //       'total_utility_second_month',
  //       'total_utility_third_month',
  //       'total_utility_fourth_month',
  //       'total_utility_fifth_month',
  //       'total_utility_sixth_month'
  //     ],
  //     gridColumnApi: null,
  //     columnTypes: null,
  //     modules: AllModules
  //   }
  // },
  components: {
    AgGridVue,
    Preloader,
    index,
  },
  data() {
    return {
      optionsThemes: [
        { value: "ag-theme-alpine", label: "Alpine" },
        { value: "ag-theme-dark", label: "Dark" },
        { value: "ag-theme-balham", label: "Balham" },
        { value: "ag-theme-balham-dark", label: "Balham dark" },
        // { value: "ag-theme-material", label: "Material" },
      ],
      params_a: null,
      loading: true,
    };
  },
  computed: {
    ...mapState("accountbalance", ["params", "ag_grid"]),
  },
  created() {
    this.init();
  },
  methods: {
    ...mapMutations("accountbalance", ["setParams"]),
    ...mapActions("accountbalance", ["fetchAccountBalance"]),
    async init(){
            this.params_a = await JSON.parse(localStorage.getItem("params_account_balance"))
            await this.setParams(this.params_a)
            await this.setDefaultYearMonth();
            await this.fetchAccountBalance()
            this.loading = false
        },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month = await this.formatDate(this.restarMes(d));
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
  },
};
</script>