<template>
  <card title="<i class='ti-agenda'></i> Plan de Cuentas">
    <!-- <loader v-if="loading" /> -->
      <!-- <b-button
        class="mt-2"
        v-b-modal.list-products
        variant="primary"
      >
        <div class="fa fa-plus" />Agregar producto
      </b-button> -->
      <list />
      <!-- <ModalAccount @selectedAccount ="_selectedAccount"/> -->

  </card>

</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
import Preloader from "../../components/layout/preloader";
import list from "../../components/accounts/list";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  components: {
    Card,
    GridU2,
    Preloader,
    list,
    ModalAccount,
    // loader,
  },
  data() {
    return {
      // loading: true,
      // columns: null,
    };
  },

  watch: {
    // "params.page"(newval) {
    //   this.fetchAccounts();
    // },
    // "params.perPage"(newval) {
    //   this.fetchAccounts();
    // },
  },

  created() {
    
  },
  methods: {
    // _selectedAccount(account){
    //   console.log(account);
    // }
    // ...mapActions("account", [
    //     'fetchAccounts',
    //     "deleteAccount"
    // ]),
    // ...mapMutations("account", [
    // ]),

    // async _deleteAccount(id, account){
    //   await this.$confirm('¿Desea Eliminar La Cuenta '+ account + '?', 'Eliminar Cuenta', {
    //     confirmButtonText: 'Aceptar',
    //     cancelButtonText: 'Cancelar',
    //     type: 'warning',
    //     customClass: 'notification-warning'
    //   }).then(
    //     async (result) => {
    //       if (result) {
    //         await this.deleteAccount(id)
    //       }
    //     }
    //   ).catch(function (result) {
    //   })
    //   await this.fetchAccounts()
    // },
    

    // onFilterTextBoxChanged(){
    //     this.fetchAccounts()
    // },

    // async validateForm() {
      
    // },

    
    
  },

  async beforeMount () {
    // await this.fetchAccounts(),
    // this.columns = [{
    //     name: 'Código',
    //     field: 'code',
    //     width: '',
    //   },
    //   {
    //     name: 'Descripción',
    //     field: 'name',
    //     width: '',
    //   },
    //   {
    //     name: 'Nivel',
    //     field: 'level',
    //     width: '',
    //   },
    //   {
    //     name: 'Cta Total',
    //     field: 'account_totalize',
    //     width: '',
    //   },
    //   {
    //     name: 'Grupo',
    //     field: 'group',
    //     width: '',
    //   },
    //   {
    //     name: 'Opciones',
    //     field: 'options',
    //     width: '',
    //     format: 'number'
    //   },
    // ]

    // this.loading = false

  },  

  computed: {
    // totalRows () {
    //   return this.accounts.total
    // },
    // ...mapState("account", [
    //     'loading',
    // //     'accounts',
    // ]),
  },
};
</script>
<style>
.upper{
    text-transform: uppercase;
    margin: 0;
}
</style>