<template>
	<card :title="'<i class=\'fa fa-fw ti-pencil\'></i> Mantenimiento Plan de Cuentas' ">
		<preloader v-if="loading" mensaje="Cargando formulario de cuentas"></preloader>
		<b-form v-else
			data-vv-scope="form"
			@submit.prevent="validateForm()"
		>

			<div class="row" v-if="params_create.code != null && params_create.code != ''">
				<div class="col-12">
					<h3 class="text-center" style="font-family: sans-serif; font-weight: bold">
						<el-tag v-if="params_create.name != null  && params_create.name != ''" type="info" class="tag-contact">{{ params_create.code + ' - ' +params_create.name}}</el-tag>
						<el-tag v-else type="info" class="tag-contact">{{ params_create.code}}</el-tag>
					</h3>
				</div>
			</div>
			<b-card no-body class="mb-1">
				<b-btn block href="#" v-b-toggle.general_data id="acordeon">DATOS GENERALES</b-btn>
				<b-collapse
					v-bind:visible="true"
					id="general_data"
					role="tabpanel"
				>
					<b-card-body>
						<div class="row">
              <div class="col-3">
								<label for="Level">Nivel<span class="text-danger" v-text="'*'"/></label>
								<el-select
									id="level"
									name="level"
									placeholder=" "
									no-data-text="Cargando datos..."
									no-match-text="No hay datos que coincidan"
									v-model="params_create.level"
								>
									<el-option
									v-for="level in levels"
									:key="level.id"
									:label="level.code_parameter+ ' - ' +level.name_parameter"
									:value="level.id"
									>
									</el-option>
								</el-select>
							</div>

							<div class="col-3" >
                <div v-if="validate_level">

                  <label for="code">Código<span class="text-danger" v-text="'*'" /></label>
                  <div class="row pl-3 pr-0">
                    <div class="col-2  p-1"
                      v-if=" code_level == '0' || code_level == '3' || code_level == '5' || code_level == '7' || code_level == '9'"
                    >
                      <b-tooltip target="group_" title="Grupo"></b-tooltip>
                      <b-form-input
												:disabled="block_code"
                        type="text"
                        id="group_"
                        name="group_"
                        class="form-control"
                        v-model="group"
                        @keyup="validateGroupCode()"
                      ></b-form-input>
                    </div>
                    <div class="col-2 p-1"
                      v-if=" code_level == '0' || code_level == '3' || code_level == '5' || code_level == '7'"
                    >
                      <b-tooltip target="mayor" title="Mayor"></b-tooltip>
                      <b-form-input
												:disabled="block_code"
                        type="text"
                        id="mayor"
                        name="mayor"
                        class="form-control"
                        @keyup="validateMayorCode()"
                        v-model="mayor"
                      ></b-form-input>
                    </div>
                    <div class="col-2  p-1"
                      v-if=" code_level == '0' || code_level == '3' || code_level == '5'"
                    >
                      <b-tooltip target="account" title="Cuenta"></b-tooltip>
                      <b-form-input
												:disabled="block_code"
                        type="text"
                        id="account"
                        name="account"
                        class="form-control"
                        v-model="account"
                        @change="validateAccountCode()"
                      ></b-form-input>
                    </div>
                    <div class="col-2 p-1"
                      v-if=" code_level == '0' || code_level == '3'"
                    >
                      <b-tooltip target="subaccount" title="Subcuenta"></b-tooltip>
                      <b-form-input
												:disabled="block_code"
                        type="text"
                        id="subaccount"
                        name="subaccount"
                        class="form-control"
                        v-model="subaccount"
                        @change="validatesubaccountCode()"
                      ></b-form-input>
                    </div>
                    <div class="col-2 p-1"
                      v-if=" code_level == '0' "
                    >
                        <!-- v-if="code_level == '9' || code_level == '7' || code_level == '5' || code_level == '3' || code_level == '0' " -->
                      <b-tooltip target="ac_aux" title="Auxiliar"></b-tooltip>
                      <b-form-input
                        type="text"
                        id="ac_aux"
                        name="ac_aux"
                        class="form-control"
                        v-model="ac_aux"
                        @change="validateac_auxCode()"
                      ></b-form-input>
                    </div>
                  </div>
                </div>
							</div>

							<div class="col-3">
								<label for="name">Nombre<span class="text-danger" v-text="'*'" /></label>
								<b-form-input
									type="text"
									id="name"
									name="name"
									class="form-control"
									v-model="params_create.name"
								></b-form-input>
							</div>

							<div class="col-3">
								<label for="short_name">Nombre Corto</label>
								<b-form-input
									type="text"
									id="short_name"
									name="short_name"
									class="form-control"
									v-model="params_create.short_name"
									></b-form-input>
							</div>

						</div>

						<div class="row">
							<div class="col-3">
								<label for="debit_credit">Débito Crédito<span class="text-danger" v-text="'*'"/></label>
								<el-select
									id="debit_credit"
									name="debit_credit"
									no-data-text="Cargando datos..."
									no-match-text="No hay datos que coincidan"
									v-model="params_create.debit_credit"
									v-validate="'required'"
								>
									<el-option
									v-for="dc in debit__credict_select"
									:key="dc.id"
									:label="dc.label_"
									:value="dc.id"
									>
									</el-option>
								</el-select>
							</div>

							<div class="col-3">
								<label for="group">Grupo<span	class="text-danger" v-text="'*'"/></label>
								<el-select
									id="group"
									name="group"
									placeholder=" "
									no-data-text="Cargando datos..."
									no-match-text="No hay datos que coincidan"
									v-model="params_create.group"
									:disabled="block_group"
								>
									<el-option
									v-for="groups in groups"
									:key="groups.id"
									:label="groups.code_parameter+ ' - ' +groups.name_parameter"
									:value="groups.id"
									>
									</el-option>
								</el-select>
							</div>

              <div class="col-3">
								<label for="description">Descripción De La Cuenta</label>
								<el-input
									type="textarea"
									autosize
									placeholder="Ingrese la descripcion..."
									v-model="params_create.description">
								</el-input>
							</div>

							<div class="col-3">
								<label for="account_totalize">Cuenta Totaliza<span class="text-danger" v-text="'*'"/></label>
								<el-select
									:disabled="block_account"
									id="account_totalize"
									name="account_totalize"
									placeholder=" "
									no-data-text="Cargando datos..."
									no-match-text="No hay datos que coincidan"
									v-model="params_create.account_id_totalize"
									filterable
									remote
									:remote-method="_accounts"
								>
									<el-option
									v-for="account in accountss"
									:key="account.id"
									:label="account.code+ ' - ' +account.name"
									:value="account.id"
									>
									</el-option>
								</el-select>
							</div>

						</div>

						<div class="row">
							<div class="col-3">
								<label for="category">Categoría</label>
								<el-select
									id="category"
									name="category"
									placeholder=" "
									no-data-text="Cargando datos..."
									no-match-text="No hay datos que coincidan"
									v-model="params_create.category"
									clearable
								>
									<el-option
									v-for="category in categories"
									:key="category.id"
									:label="category.code_parameter+ ' - ' +category.name_parameter"
									:value="category.id"
									>
									</el-option>
								</el-select>
							</div>

							<div class="col-3">
								<label for="results_account">Cuenta de Resultados</label>
								<br>
								<b-form-radio-group
									id="results_account"
									name="results_account"
									buttons
									:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
									v-model="params_create.results_account"
									:button-variant="params_create.results_account == 0 ? 'outline-secondary' : 'outline-primary'"
								/>
							</div>

						</div>
						
					</b-card-body>
				</b-collapse>
			</b-card>


			<b-card no-body class="mb-1" v-if="aux">
				<b-btn block href="#" v-b-toggle.aux id="acordeon">Datos Cuentas Auxiliares</b-btn>
				<b-collapse
					v-bind:visible="true"
					id="aux"
					role="tabpanel"
				>
					<b-card-body>
						<div v-if="aux">

							<div class="row mt-2">
								<div class="col-3">
									<label for="branchoffice_id">Sede</label>
									<el-select 
										id="branchoffice_id"
										name="branchoffice_id"
										filterable
										placeholder=" "
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="params_create.branchoffice_id"
										clearable
									>
										<el-option
											v-for="branchOffice in branchOffices"
											:key="branchOffice.id"
											:label="branchOffice.code+ ' - ' +branchOffice.name"
											:value="branchOffice.id"
										>
										</el-option>
									</el-select>
								</div>

								<div class="col-3">
									<label for="contact_id">Tercero</label>
									<el-select
										id="contact_id"
										placeholder="Seleccione Tercero"
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="params_create.contact_id"
										filterable
										remote
										:remote-method="filterText"
										clearable
									>
										<el-option
											v-for="contact in contacts"
											:key="contact.id"
											:label="contact.identification+ ' - ' +contact.name + ' ' + contact.surname"
											:value="contact.id"
										>
										</el-option>
									</el-select>
								</div>

								<div class="col-3">
									<label for="manage_document_balances">Maneja Documentos</label>
									<br>
									<b-form-radio-group
										id="manage_document_balances"
										name="manage_document_balances"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_document_balances"
										:button-variant="params_create.manage_document_balances == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

								<div class="col-3">
									<label for="manage_quota_balances">Maneja Saldos Por Cuotas</label>
									<br>
									<b-form-radio-group
										id="manage_quota_balances"
										name="manage_quota_balances"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_quota_balances"
										:button-variant="params_create.manage_quota_balances == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>
							</div>

							<div class="row mt-2">

								<div class="col-3">
									<label for="manage_contact_balances">Maneja Saldos por Tercero</label>
									<br>
									<b-form-radio-group
										id="manage_contact_balances"
										name="manage_contact_balances"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_contact_balances"
										:button-variant="params_create.manage_contact_balances == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>


								<div class="col-3">
									<label for="manage_base_value">Maneja Valor Base</label>
									<br>
									<b-form-radio-group
										id="manage_base_value"
										name="manage_base_value"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_base_value"
										:button-variant="params_create.manage_base_value == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>


								<div class="col-3">
									<label for="manage_projects">Maneja Proyectos</label>
									<br>
									<b-form-radio-group
										id="manage_projects"
										name="manage_projects"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_projects"
										:button-variant="params_create.manage_projects == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

								<div class="col-3">
									<label for="commissionable_concept">Concepto Comisionable</label>
									<br>
									<b-form-radio-group
										id="commissionable_concept"
										name="commissionable_concept"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.commissionable_concept"
										:button-variant="params_create.commissionable_concept == 0 ? 'outline-secondary' : 'outline-primary'"
									/>	
								</div>
								
								
							</div>

							<div class="row mt-2">

								<div class="col-3">
									<label for="cost_center_1">Maneja Centro de Costo -1</label>
									<br>
									<b-form-radio-group
										id="cost_center_1"
										name="cost_center_1"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.cost_center_1"
										:button-variant="params_create.cost_center_1 == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

								<div class="col-3">
									<label for="cost_center_2">Maneja Centro de Costo -2</label>
									<br>
									<b-form-radio-group
										id="cost_center_2"
										name="cost_center_2"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.cost_center_2"
										:button-variant="params_create.cost_center_2 == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>
								

								<div class="col-3">
									<label for="cost_center_3">Maneja Centro de Costo -3</label>
									<br>
									<b-form-radio-group
										id="cost_center_3"
										name="cost_center_3"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.cost_center_3"
										:button-variant="params_create.cost_center_3 == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

								<div class="col-3">
									<label for="manage_way_to_pay">Maneja Formas de Pago</label>
									<br>
									<b-form-radio-group
										id="manage_way_to_pay"
										name="manage_way_to_pay"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_way_to_pay"
										:button-variant="params_create.manage_way_to_pay == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

							</div>

							<div class="row mt-2">

								<div class="col-3">
									<label for="manage_bank_document">Maneja Conciliacion Bancaria</label>
									<br>
									<b-form-radio-group
										id="manage_bank_document"
										name="manage_bank_document"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_bank_document"
										:button-variant="params_create.manage_bank_document == 0 ? 'outline-secondary' : 'outline-primary'"
									/>	
								</div>

								<div class="col-3">
									<label for="manage_projects_stage">Maneja Etapas de Proyecto</label>
									<br>
									<b-form-radio-group
										id="manage_projects_stage"
										name="manage_projects_stage"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.manage_projects_stage"
										:button-variant="params_create.manage_projects_stage == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

								<div class="col-3">
									<label for="resume_beginning_year">Resume Terceros Inicio Año</label>
									<br>
									<b-form-radio-group
										id="resume_beginning_year"
										name="resume_beginning_year"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.resume_beginning_year"
										:button-variant="params_create.resume_beginning_year == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

								<div class="col-3">
									<label for="Active_account">Cuenta Activa</label>
									<br>
									<b-form-radio-group
										id="Active_account"
										name="Active_account"
										buttons
										:options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
										v-model="params_create.Active_account"
										:button-variant="params_create.Active_account == 0 ? 'outline-secondary' : 'outline-primary'"
									/>
								</div>

							</div>

							<div class="row mt-2">


								<div class="col-3">
									<div class="switch-contact">
										<label for="is_customer">Cliente</label>
											<br/>
											<b-form-radio-group
												id="is_customer"
												:button-variant="params_create.is_customer == 1 ? 'outline-primary' : 'outline-secondary'"
												buttons
												:options="[{text:'Si',value:1},{text:'No',value:0}]"
												name="is_customer"
												v-model="params_create.is_customer"
											/>
									</div>
									<div class="switch-contact">
										<label for="is_provider">Proveedor</label>
										<br/>
										<b-form-radio-group
											id="is_provider"
											buttons
											:options="[{text:'Si',value:1},{text:'No',value:0}]"
											name="is_provider"
											v-model="params_create.is_provider"
											:button-variant="params_create.is_provider == 1 ? 'outline-primary' : 'outline-secondary'"
										/>
									</div>
									<div class="switch-contact">
										<label for="is_employee">Empleado</label>
										<br/>
										<b-form-radio-group
											id="is_employee"
											buttons
											:options="[{text:'Si',value:1},{text:'No',value:0}]"
											name="is_employee"
											v-model="params_create.is_employee"
											:button-variant="params_create.is_employee == 1 ? 'outline-primary' : 'outline-secondary'"
										/>
									</div>
									<div class="switch-contact">
										<label for="is_others">Otros</label>
										<br/>
										<b-form-radio-group
											id="is_others"
											buttons
											:options="[{text:'Si',value:1},{text:'No',value:0}]"
											name="is_others"
											v-model="params_create.is_others"
											:button-variant="params_create.is_others == 1 ? 'outline-primary' : 'outline-secondary'"
										/>
									</div>
								</div>
								<div class="col-3">
									<label for="line_id">Linea Asociada</label>
									<el-select
										id="line_id"
										name="line_id"
										placeholder="Seleccione Linea Asociada"
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="params_create.line_id"
										filterable
										remote
										:remote-method="filterText"
										clearable
									>
										<el-option
											v-for="line in lines"
											:key="line.id"
											:label="line.line_code+ ' - ' +line.line_description"
											:value="line.id"
										>
										</el-option>
									</el-select>
								</div>

								
							</div>

							<div class="row mt-2">

								<div class="col-3">
									<label for="tax_account">Cuenta Impuestos</label>
									<el-select
										id="tax_account"
										name="tax_account"
										placeholder=" "
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="params_create.tax_account"
										clearable
									>
										<el-option
										v-for="tax in taxes"
										:key="tax.id"
										:label="tax.code+ ' - ' +tax.description"
										:value="tax.id"
										>
										</el-option>
									</el-select>
								</div>


								<div class="col-3">
									<label for="pevious_account">Cuenta Anterior</label>
									<b-form-input
										type="text"
										id="pevious_account"
										name="pevious_account"
										class="form-control"
										v-model="params_create.pevious_account"
									></b-form-input>
								</div>

								<div class="col-3">
									<label for="wallet_type">Tipo Cartera</label>
									<el-select
										id="wallet_type"
										name="wallet_type"
										placeholder=" "
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="params_create.wallet_type"
										clearable
									>
										<el-option
										v-for="wallet_type in wallet_types"
										:key="wallet_type.id"
										:label="wallet_type.code_parameter+ ' - ' +wallet_type.name_parameter"
										:value="wallet_type.id"
										>
										</el-option>
									</el-select>
								</div>

								<div class="col-3">
									<label for="document_description">Descripcion En Partida</label>
									<b-form-input
										type="text"
										id="document_description"
										name="document_description"
										class="form-control"
										v-model="params_create.document_description"
									></b-form-input>
								</div>

							</div>
						</div>
						
					</b-card-body>
				</b-collapse>
			</b-card>

			<div class="row pt-4" v-if="user_last_modification != null">
				<div class="col-12">
					<b-list-group>
						<b-list-group-item class="d-flex align-items-center">
							<span class="mr-auto"><b>Ultima Modificación: </b> <br> {{user_last_modification}} </span>
						</b-list-group-item>
					</b-list-group>
				</div>
			</div>
			
			<!-- Botones -->
			<div class="row">
				<div class="col-12">
					<div class="form-actions">
						<b-button
              type="submit"
              class="boton-guardar"
            >
              <span class="btn-label">
                <i class="ti-save-alt"></i>
              </span> Guardar
								<i v-if="loading_form" class="fa fa-spinner fa-spin"></i>
            </b-button>

            <b-button
              to="/cuentas"
              type="button"
              variant="secondary"
              class="float-left"
            >
              <span class="btn-label">
                <i class="ti-arrow-left"></i>
              </span> Volver
            </b-button>
						<b-button
							type="reset"
							value="Limpiar"
							class="otro-boton float-left"
						>
							<span class="btn-label">
								<i class="ti-eraser"></i>
								Limpiar
							</span>
						</b-button>
					</div>
				</div>
			</div>
		</b-form>
	</card>
</template>

<script>
  import card from "../../components/pages/card/card.vue"
  import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
	import Preloader from "../../components/layout/preloader";


export default {
  components:{
    card,
		Preloader
  },
  data(){
    return {
		block_code:false,
		block_group:false,
		block_account:false,
		debit__credict_select:[
			{id:1, label_:'Débito'},
			{id:2, label_:'Crédito'}
		],
		loading: true,
		aux : false,
		group : '',
		mayor : '',
		account : '',
		subaccount : '',
    ac_aux : '',
    validate_level: false,
    code_level: null
    }
	},
	watch : {
		"params_create.level"(newval){
			if (!this.$route.params.id_clone && !this.$route.params.id_edit) {
				this.validateaux(newval)
				this.validatelevelForShowCode()
				this.group = ''
				this.params_create.code = null
			}
    },
		group(newval, oldval){
			if (!this.$route.params.id_clone && !this.$route.params.id_edit) {
				if (newval != oldval){
						this.mayor = ''
						this.account = ''
						this.subaccount = ''
						this.ac_aux = ''
				}
			}
		},
		mayor(newval, oldval){
			if (!this.$route.params.id_clone && !this.$route.params.id_edit) {
				if (newval != oldval){
						this.account = ''
						this.subaccount = ''
						this.ac_aux = ''
				}
			}
		},
		account(newval, oldval){
			if (!this.$route.params.id_clone && !this.$route.params.id_edit) {
				if (newval != oldval){
						this.subaccount = ''
						this.ac_aux = ''
				}
			}
		},
		subaccount(newval, oldval){
			if (!this.$route.params.id_clone && !this.$route.params.id_edit) {
				if (newval != oldval){
						this.ac_aux = ''
				}
			}
		},
	},
  methods: {
		async initcomponent(){
			
			this.fetchBranchOfficeWarehouse()
			this.fetchLines()
			this.fetchGroups()
			this.fetchcommissionable_concepts()
			this.fetchLevels()
			this.fetchAccountss()
			this.fetchCategories()
			this.fetchContacts()
			this.fetchWalletType()
			this.fetchcost_center_1()
			this.fetchcost_center_2()
			this.fetchcost_center_3()
			this.fetchTaxes()
			this.setLoading(false)
			if (this.$route.params.id_clone) {
			 	await this.fetchInfoForClone(this.$route.params.id_clone)
			}
			if (this.$route.params.id_edit) {
				await this.fetchInfoForEdit(this.$route.params.id_edit)
			}
			await this.setLocalLoading()
		},
		setLocalLoading(){
			this.loading = false
		},
		
    async validatelevelForShowCode(){
      // validamos que el parametro del state level no sea null
      if (this.params_create.level != null) {
        // buscamos el parametro ya que en la lista de niveles no trae el dato alphanum_data_first
        await this.searchLevel(this.params_create.level)
        // validamos si el nivel tiene numero de dígitos
        if (this.level_to_validate.alphanum_data_first != null && this.level_to_validate.alphanum_data_first > 0) {
          this.validate_level = true
          this.code_level = this.level_to_validate.code_parameter
        } else {
          this.validate_level = false
        }
      }else{
        this.validate_level = false
      }
    },
		_accounts(text){
			this.params.filter = text
			this.fetchAccountss()
		},
		async filterText(filter) {
        this.paramsquery.query = filter
        await this.fetchContacts()
		},
		validateaux(level_id){
			var validate_level = this.levels.find(level => level.id == level_id)
			if (validate_level.code_parameter === "0") {
				this.aux = true
			}else{
				this.aux = false
				this.setparamsCreateAux()
			}
		},


		validateGroupCode(){
			this.group = this.group.substr(0,1);

			if (!isNaN(this.group)) {
				this.params_create.code = this.group
			}else{
				this.group = ''
			}
		},
		validateMayorCode(){
			if(this.group.length > 0){
				this.mayor = this.mayor.substr(0,1);
				if (!isNaN(this.mayor)) {
					this.params_create.code = this.group + this.mayor
				}else{
					this.mayor = ''
				}
			}else{
				this.mayor = null;
			}
		},
		validateAccountCode(){

			if(this.mayor.length > 0){
        this.account = this.account.substr(0,2);
        if (this.account.trim().length == 2) {
					if (!isNaN(this.account)) {
						this.params_create.code = this.group + this.mayor + this.account
					}else{
						this.account= ''
					}
        }else{
          this.account = '';
          this.$notify({
            title: 'Atención',
            message: 'La Cuenta Debe Tener Dos Dígitos',
            type: 'warning'
          });
        }
			}else{
				this.account = null;
			}
		},
		validatesubaccountCode(){
			if(this.account.length > 0){
        this.subaccount = this.subaccount.substr(0,2);
        if (this.subaccount.trim().length == 2) {
					if (!isNaN(this.subaccount)) {
						this.params_create.code = this.group + this.mayor + this.account + this.subaccount
					}else{
						this.subaccount = ''
					}
        }else{
          this.subaccount = '';
          this.$notify({
            title: 'Atención',
            message: 'La Subcuenta Debe Tener Dos Dígitos',
            type: 'warning'
          });
        }
			}else{
				this.subaccount = null;
			}
		},
		validateac_auxCode(){
			if(this.subaccount.length > 0){
        this.ac_aux = this.ac_aux.substr(0,3);
        if (this.ac_aux.trim().length == 3) {
					if (!isNaN(this.ac_aux)) {
						this.params_create.code = this.group + this.mayor + this.account + this.subaccount + this.ac_aux
					}else{
						this.ac_aux = ''
					} 
        }else{
          this.ac_aux = '';
          this.$notify({
            title: 'Atención',
            message: 'Auxiliar Debe Tener Tres Dígitos',
            type: 'warning'
          });
        }
			}else{
				this.ac_aux = null;
			}
		},
		
		async validateLengthCodeLevel(){
			// se quita la validacion longitud -> nivel de cuenta 2021-03-04
			return true
			await this.searchLevel(this.params_create.level)
			switch (this.level_to_validate.code_parameter) {
				case "9"://grupo
						return this.params_create.code.length == 1 ? true : false
					break;
			
				case "7"://mayor
						return this.params_create.code.length == 2 ? true : false
					break;

				case "5"://cuenta
						return this.params_create.code.length == 4 ? true : false
					break;

				case "3"://subcuenta
						return this.params_create.code.length == 6 ? true : false
					break;

				case "0"://auxiliar
						return this.params_create.code.length == 8 ? true : false
					break;
			}
		},

		async validateForm(){
			this.setLoading(true)
			if (this.params_create.debit_credit != null && this.params_create.group != null && this.params_create.level != null && this.params_create.account_id_totalize != null && this.params_create.code != '' && this.params_create.code != null &&  this.params_create.name != null) {
				if (await this.validateLengthCodeLevel()) {
					if (!this.$route.params.id_edit) {
						await this.createAccount()
					}else{
						this.params_create.user_id = JSON.parse(localStorage.getItem("user")).id
						await this.updateAccount()
					}
					await this.setparamsCreateAux()
					await this.setparamsCreateGeneral()
					if (this.$route.params.id_clone) {
						this.$router.push('/cuentas/crear') 
					}
				}else{
					this.$notify({
            title: 'Atención',
            message: 'La longitud del código no pertece al nivel',
            type: 'warning'
          });
				}
			}else{
				this.$alert(
					`Debe llenar todos los campos requeridos`,
					"Error",
					{
						confirmButtonText: "Aceptar",
						type: "error",
						customClass: "notification-error",
					}
				);
			}
			this.setLoading(false)
    },
    setparamsCreateGeneral(){
			this.group = '',
			this.mayor = '',
			this.account = '',
			this.subaccount = '',
			this.ac_aux = '',
      this.params_create.code = null
      this.params_create.name = null
      this.params_create.short_name = null
      this.params_create.description = null
      this.params_create.debit_credit = null
      this.params_create.group = null
      this.params_create.level = null
      this.params_create.account_totalize = null
      this.params_create.category = null
    },
		setparamsCreateAux(){
			this.params_create.branchoffice_id = null
			this.params_create.contact_id = null
			this.params_create.manage_contact_balances = null
			this.params_create.is_customer = null
			this.params_create.is_provider = null
			this.params_create.is_employee = null
			this.params_create.is_others = null
			this.params_create.resume_beginning_year = null
			this.params_create.wallet_type = null
			this.params_create.document_description = null
			this.params_create.quota_balances = null
			this.params_create.cost_center_2 = null
			this.params_create.cost_center_3 = null
			this.params_create.cost_center_1 = null
			this.params_create.manage_businesses = null
			this.params_create.manage_businesses_stage = null
			this.params_create.manage_bank_document = null
			this.params_create.manage_way_to_pay = null
			this.params_create.tax_account = null
			this.params_create.Active_account = 1
			this.params_create.pevious_account = null
			this.params_create.line_id = null
		},
		async fetchInfoForClone(id_for_clone){
			this.aux = true
			await this.fetchAccountForClone(id_for_clone)
			await this.validatelevelForShowCode()
			this.block_code = true
			this.block_group = true
			this.block_account = true
			this.group = this.code_to_clone.substr(0, 1)
			this.mayor = this.code_to_clone.substr(1, 1)
			this.account = this.code_to_clone.substr(2, 2)
			this.subaccount = this.code_to_clone.substr(4, 2)
		},
		async fetchInfoForEdit(id_for_edit){
			await this.fetchAccountForEdit(id_for_edit)
			await this.validatelevelForShowCode()
			var validate_level = this.levels.find(level => level.id == this.params_create.level)
			if (validate_level.code_parameter === "0") {
				this.block_code = true
				this.block_group = true
				this.block_account = true
			}
			this.setCode()
		},
		async setCode(){
			await this.searchLevel(this.params_create.level)
			switch (this.level_to_validate.code_parameter) {
				case "9"://grupo
						this.group = this.code_to_edit.substr(0, 1)
					break;
			
				case "7"://mayor
						this.group = this.code_to_edit.substr(0, 1)
						this.mayor = this.code_to_edit.substr(1, 1)
					break;

				case "5"://cuenta
						this.group = this.code_to_edit.substr(0, 1)
						this.mayor = this.code_to_edit.substr(1, 1)
						this.account = this.code_to_edit.substr(2, 2)
					break;

				case "3"://subcuenta
						this.group = this.code_to_edit.substr(0, 1)
						this.mayor = this.code_to_edit.substr(1, 1)
						this.account = this.code_to_edit.substr(2, 2)
						this.subaccount = this.code_to_edit.substr(4, 2)
					break;

				case "0"://auxiliar
						this.aux = true
						this.group = this.code_to_edit.substr(0, 1)
						this.mayor = this.code_to_edit.substr(1, 1)
						this.account = this.code_to_edit.substr(2, 2)
						this.subaccount = this.code_to_edit.substr(4, 2)
						this.ac_aux = this.code_to_edit.substr(6, 2)
					break;
			}
		},
		...mapActions('account', [
			'fetchcommissionable_concepts',
			'updateAccount',
			'fetchAccountForClone',
			'fetchAccountForEdit',
			'fetchGroups',
			'fetchLevels',
			'fetchAccountss',
			'fetchCategories',
			'fetchBranchOfficeWarehouse',
			'fetchLines',
			'fetchContacts',
			'fetchWalletType',
			'fetchcost_center_1',
			'fetchcost_center_2',
			'fetchcost_center_3',
			'fetchTaxes',
      'searchLevel',
      'createAccount'
		]),
		...mapMutations('account', [
			'setLoading'
		])
	},

	created(){
		this.initcomponent()
	},
  async beforeMount () {
    // this.loading = false
	},
	destroyed(){
		this.setparamsCreateAux()
		this.setparamsCreateGeneral()
		this.block_code = false;
		this.block_group = false;
		this.block_account = false;
	},
	computed: {
    ...mapState('account', [
	  'commissionable_concepts',
      'params',
      'params_create',
      'loading_form',
      'groups',
      'levels',
      'accountss',
      'categories',
      'branchOffices',
      'contacts',
      'paramsquery',
      'wallet_types',
      'cost_center_1',
      'cost_center_2',
      'cost_center_3',
      'taxes',
	  'level_to_validate',
	  'code_to_clone',
	  'code_to_edit',
	  'user_last_modification',
	  'lines',
    ])
  },
}

</script>
<style scoped>
.switch-contact {
  display: inline-block;
}

</style>