<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <card :title="'<i class=\'fa fa-fw fa-shield\'> </i> ' + actionSpanish  + ' Marca'">
          <div
            style="margin-top:20px"
            v-if="loader"
          >
            <loader></loader>
          </div>
          <div v-else>
            <div
              class="row"
              v-if="tagBrand != ''"
            >
              <div class="col-12">
                <h3
                  class="text-center"
                  style="font-family: sans-serif; font-weight: bold"
                >
                  <el-tag
                    type="info"
                    class="tag-contact"
                  >
                    {{ tagBrand }}
                  </el-tag>
                </h3>
              </div>
            </div>
            <b-tabs
              pills
              v-model="tabIndex"
            >
              <!--PESTAÑA INFORMACIÓN GENERAL-->
              <b-tab
                active
                title="Marca"
                class="mt-3"
                :title-link-class="errorsMarca"
              >
                <form
                  @submit.prevent="validateTotalForm()"
                  data-vv-scope="form"
                >
                  <!-- ACORDEON DE INFORMACIÓN GENERAL-->
                  <div class="row">
                    <div
                      class="form-group col-sm-6 col-md-2"
                      v-bind:class="errors.has('form.brand_code') ? 'form-group-error': ''"
                    >
                      <label for="brand_code">Código<span class="text-danger">*</span></label>
                      <input
                        type="text"
                        id="brand_code"
                        name="brand_code"
                        class="form-control"
                        v-validate="'required|max:15'"
                        data-vv-as=" "
                        :disabled="disabledInputs"
                        v-model="selectedBrand.brand_code"
                      >
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.brand_code') }}
                      </span>
                    </div>
                    <div
                      class="form-group col-sm-6 col-md-4"
                      v-bind:class="errors.has('form.description') ? 'form-group-error': ''"
                    >
                      <label for="description">Descripción<span class="text-danger">*</span></label>
                      <input
                        type="text"
                        id="description"
                        name="description"
                        style="text-transform: uppercase;"
                        class="form-control"
                        v-validate="'required|max:255'"
                        data-vv-as=" "
                        :disabled="disabledInputs"
                        v-model="selectedBrand.description"
                      >
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.description') }}
                      </span>
                    </div>
                    <div class="col-md-3 col-sm-6 form-group">
                      <label for="provider_id">Proveedor</label>
                      <el-select
                        id="provider_id"
                        name="provider_id"
                        filterable
                        clearable
                        :disabled="disabledInputs"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        placeholder
                        v-model="selectedBrand.provider_id"
                      >
                        <el-option
                          v-for="item in providers"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        ></el-option>
                      </el-select>
                    </div>
                    <div class="col-md-3 col-sm-6 form-group">
                      <label for="maker_id">Fabricante</label>
                      <el-select
                        id="maker_id"
                        name="maker_id"
                        filterable
                        clearable
                        :disabled="disabledInputs"
                        no-data-text="Cargando datos..."
                        no-match-text="No hay datos que coincidan"
                        placeholder
                        v-model="selectedBrand.maker_id"
                      >
                        <el-option
                          v-for="item in providers"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        ></el-option>
                      </el-select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 col-sm-6 form-group">
                      <label for="percentage_utility">Porcent de Utilidad</label>
                      <input
                        type="text"
                        id="percentage_utility"
                        name="percentage_utility"
                        class="form-control"
                        v-validate="'max:100'"
                        data-vv-as=" "
                        :disabled="disabledInputs"
                        v-model="selectedBrand.percentage_utility"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-sm-6 col-md-2"
                      v-bind:class="errors.has('form.lock_buy') ? 'form-group-error': ''"
                    >
                      <label for="lock_buy">
                        Bloqueo Compra
                      </label>
                      <br>
                      <b-form-radio-group
                        id="lock_buy"
                        buttons
                        :disabled="disabledInputs"
                        :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                        name="lock_buy"
                        v-model="selectedBrand.lock_buy"
                        :button-variant="selectedBrand.lock_buy == 1 ? 'outline-primary' : 'outline-secondary'"
                      />
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.lock_buy') }}
                      </span>
                    </div>
                    <div
                      class="form-group col-sm-6 col-md-2"
                      v-bind:class="errors.has('form.block_sale') ? 'form-group-error': ''"
                    >
                      <label for="block_sale">
                        Bloqueo Venta
                      </label>
                      <br>
                      <b-form-radio-group
                        id="block_sale"
                        buttons
                        :disabled="disabledInputs"
                        :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                        name="block_sale"
                        v-model="selectedBrand.block_sale"
                        :button-variant="selectedBrand.block_sale == 1 ? 'outline-primary' : 'outline-secondary'"
                      />
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.block_sale') }}
                      </span>
                    </div>
                    <div
                      class="form-group col-sm-6 col-md-2"
                      v-bind:class="errors.has('form.deploy_b2b') ? 'form-group-error': ''"
                    >
                      <label for="deploy_b2b">
                        Despliega B2B
                      </label>
                      <br>
                      <b-form-radio-group
                        id="deploy_b2b"
                        buttons
                        :disabled="disabledInputs"
                        :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                        name="deploy_b2b"
                        v-model="selectedBrand.deploy_b2b"
                        :button-variant="selectedBrand.deploy_b2b == 1 ? 'outline-primary' : 'outline-secondary'"
                      />
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.deploy_b2b') }}
                      </span>
                    </div>
                    <div
                      class="form-group col-sm-6 col-md-2"
                      v-bind:class="errors.has('form.deploy_b2c') ? 'form-group-error': ''"
                    >
                      <label for="deploy_b2c">
                        Despliega B2C
                      </label>
                      <br>
                      <b-form-radio-group
                        id="deploy_b2c"
                        buttons
                        :disabled="disabledInputs"
                        :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                        name="deploy_b2c"
                        v-model="selectedBrand.deploy_b2c"
                        :button-variant="selectedBrand.deploy_b2c == 1 ? 'outline-primary' : 'outline-secondary'"
                      />
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.deploy_b2c') }}
                      </span>
                    </div>
                    <div
                      class="form-group col-sm-6 col-md-3"
                      v-bind:class="errors.has('form.deploy_sales_force_app') ? 'form-group-error': ''"
                    >
                      <label for="deploy_sales_force_app">
                        Despliega App Fuerza de ventas
                      </label>
                      <br>
                      <b-form-radio-group
                        id="deploy_sales_force_app"
                        buttons
                        :disabled="disabledInputs"
                        :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                        name="deploy_sales_force_app"
                        v-model="selectedBrand.deploy_sales_force_app"
                        :button-variant="selectedBrand.deploy_sales_force_app == 1 ? 'outline-primary' : 'outline-secondary'"
                      />
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.deploy_sales_force_app') }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="form-group col-sm-6 col-md-2"
                      v-bind:class="errors.has('form.active') ? 'form-group-error': ''"
                    >
                      <label for="active">
                        Marca Activa
                      </label>
                      <br>
                      <b-form-radio-group
                        id="active"
                        buttons
                        :disabled="disabledInputs"
                        :options="[{text: 'SI', value: true},{text: 'NO', value: false}]"
                        name="active"
                        v-model="selectedBrand.active"
                        :button-variant="selectedBrand.active == 1 ? 'outline-primary' : 'outline-secondary'"
                      />
                      <i class="text-danger icon-error"> </i>
                      <span class="text-danger span-error">
                        {{ errors.first('form.active') }}
                      </span>
                    </div>
                    <div class="col-md-6 form-group">
                      <label
                        for="image"
                        class="control-label"
                      >
                        Logo de Marca
                      </label>
                      <div v-if="brand_logo != '' && brand_logo != null">
                        <img
                          :src="imageRoute(brand_logo)"
                          :alt="selectedBrand.description"
                          width="200px"
                        >
                        <b-button
                          :disabled="disabledInputs"
                          type="submit"
                          class="btn btn-labeled btn-danger btn-sm"
                          @click.prevent="brand_logo = null"
                        >
                          <span class="btn-label"><i class="fa fa-trash"></i></span> Eliminar
                        </b-button>
                      </div>
                      <div v-else>
                        <b-form-file
                          :disabled="disabledInputs"
                          placeholder
                          class="form-control"
                          accept="image/jpeg, image/png, image/gif"
                          @change="loadLogo"
                        ></b-form-file>
                      </div>
                    </div>
                  </div>
                </form>
              </b-tab>
              <!--PESTAÑA SUBLINEAS-->
              <b-tab
                title="Submarcas"
                :disabled="disabledTabs"
              >
                <subbrands :disabled-inputs="disabledInputs"></subbrands>
              </b-tab>
            </b-tabs>
            <hr>
            <!--BOTONES DEL FORMULARIO-->
            <div class="form-actions">
              <b-button
                v-if="tabIndex <= 0 && !disabledInputs"
                type="button"
                class="boton-guardar"
                @click="validateTotalForm()"
              >
                <span class="btn-label">
                  <i class="ti-save-alt"></i>
                </span> Guardar
              </b-button>
              <b-button
                to="/marcas"
                type="button"
                variant="secondary"
                class="float-left"
                @click.native="clearSelectedBrand"
              >
                <span class="btn-label">
                  <i class="ti-arrow-left"></i>
                </span> Volver
              </b-button>
              <b-button
                v-if="tabIndex <= 0 && !disabledInputs"
                type="reset"
                value="Limpiar"
                class="otro-boton float-left"
                @click.prevent="clearSelectedBrand"
              >
                <span class="btn-label">
                  <i class="ti-eraser"></i>
                  Limpiar
                </span>
              </b-button>
            </div>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
import { MessageBox } from 'element-ui';
import { mapState, mapActions, mapMutations } from 'vuex';
import loader from "./../../components/layout/loader.vue";

import card from "../../components/pages/card/card.vue"
import subbrands from "../subbrands/maintenance"
import {getApiDomain} from "../../util/domains";

export default {
  name: "maintenance",
  components: {
    card, subbrands, loader
  },
  data () {
    return {
      loader: true,
      brand_logo: null,
      tabIndex: 0,
      path: '',
      changeTab: false,
    }
  },
  created () {
    if (this.$route.params.id) {
      this.initUpdate('update', this.$route.params.id)
    } else if (this.$route.params.idv) {
      this.initUpdate('view', this.$route.params.idv)
    } else {
      this.setGetBrandEdit(true)
      this.changeTab = true
      this.setAction('create')
      this.fetchProviders()
      this.loader = false
    }
  },
  methods: {
    // Carga de Imagenes
    imageRoute (image) {
      return getApiDomain() + image
    },
    loadLogo (e) {
      let fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        this.brand_logo = e.target.result;
        this.logoBrand(this.brand_logo);
      };
    },
    // ----------- GENERAL ---------------//

    async initUpdate (action, id) {
      this.setAction(action)
      await this.getBrand(id)
      this.changeTab = true
      this.brand_logo = this.selectedBrand.image;
      this.fetchProviders()
      this.loader = false
    },

    clearSelectedBrand () {
      this.resetSelectedBrand()
      this.$validator.reset('form')
      this.resetSelectedSubbrand()
    },
    validateTotalForm () {
      this.$validator.validateAll('form').then((result) => {
        if (result) {
          if (this.action == 'create') {
            this.create()
          } else if (this.action == 'update') {
            this.update()
          }
        } else {
          this.$alert("Algunos campos no se registraron correctamente", "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: 'notification-error'
          }).then(verifica => { });
        }
      });
    },
    async create () {
      await this.addBrand();
      if (!this.error) {
        this.$router.push(`/marcas/${this.selectedBrand.id}/editar`)
        setTimeout(() => {
          this.initUpdate('update', this.selectedBrand.id)
          this.tabIndex = 1
        }, 1000)
      }
    },
    async update () {
      await this.updateBrand()
    },

    ...mapActions('brands', [
      'fetchBrands',
      'addBrand',
      'updateBrand',
      'getBrand',
      'logoBrand',
      'fetchProviders'
    ]),
    ...mapActions('subbrands', [
      'fetchSubbrands'
    ]),
    ...mapMutations('brands', [
      'resetSelectedBrand',
      'setAction',
      'setGetBrandEdit'
    ]),
    ...mapMutations('subbrands', [
      'resetSelectedSubbrand'
    ]),
  },
  computed: {
    ...mapState('brands', [
      'action',
      'selectedBrand',
      'brandEdit',
      'error',
      'getBrandEdit',
      'providers'
    ]),
    errorsMarca () {
      return this.errors.items.filter(i => i.scope == 'form').length > 0 ? 'nav-link-error' : ''
    },
    actionSpanish () {
      switch (this.action) {
        case 'create':
          return 'Crear'
          break
        case 'update':
          return 'Editar'
          break
        case 'view':
          return 'Ver'
          break
      }
    },
    disabledTabs () {
      return this.action == 'create'
    },
    disabledInputs () {
      return this.action == 'view'
    },
    tagBrand () {

      let textTag = this.selectedBrand.brand_code + '  -  ' + this.selectedBrand.description
      return textTag.length < 7 ? '' : textTag.toUpperCase()
    }
  },
  watch: {
    'tabIndex' (newValue) {
      switch (newValue) {
        case 1:
          this.fetchSubbrands()
          break

      }
    }
  }
};
</script>

<style>
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #007db3 !important;
}

.nav-link-error {
  border: 1px solid #ff6666 !important;
}

.nav-link.active {
  border-top: none !important;
}

.nav-link {
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #007db3;
  color: #007db3;
}

.nav-link.disabled {
  border: 1px solid #c8cbd6;
  color: #c8cbd6;
}

@media (max-width: 400px) {
  .nav-link {
    margin-right: 2px !important;
    padding: 4px 5px;
  }
}
.el-input__inner {
  height: 31.25px !important;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .tag-contact {
    font-size: 12px !important;
    font-family: sans-serif !important;
    max-width: 100%;
    text-align: center;
    overflow-x: hidden;
  }
}
</style>
