<template>
    <card title=" <i class='fa fa-fw fa-gift'></i>  Envio de Cartera Automatico">
        <b-button variant="primary" @click="newElement">+ Nuevo</b-button>
        <div class="row">
            <grid-u2 :columns="columns" :items="portfolio">
                <!-- <template slot="expiration_days_from" slot-scope="row">
                  <input type="number" name class="form-control" v-model="row.item.expiration_days_from" />
</template>

<template slot="expiration_days_until" slot-scope="row">
    <input type="number" name class="form-control" v-model="row.item.expiration_days_until" />
</template>

<template slot="frecuency" slot-scope="row">
    <select class="form-control" v-model="row.item.frecuency">
                    <option value="1">Diario</option>
                    <option value="2">Semanal</option>
                    <option value="3">Mensual</option>
                  </select>
</template>-->

<template slot="time" slot-scope="row">
  <el-time-select id="time"  class="w-100"   v-model="row.item.time"
  :picker-options="date"
  placeholder="Select time">
  </el-time-select>
</template>

<template slot="pre_legal_charge" slot-scope="row">
    <div class="d-flex justify-content-center">
        <input type="checkbox" class="mt-2" v-model="row.item.pre_legal_charge" />
    </div>
</template>

<template slot="opciones" slot-scope="row" >
    <button @click="invokeParentMethod(row.item)" class="btn btn-warning" title="Editar">
                    <i class="fa fa-pencil"></i>
                  </button>
    <button @click="deleteElement(row.item.id)" class="btn btn-danger" title="Eliminar">
                    <i class="fa fa-trash"></i>
                  </button>

    <button v-if="row.item.id==null" class="btn btn-primary"  @click="createElement(row.item)"  title="Guardar">
                     <i class="fa fa-save"></i>
                  </button>
</template>
      </grid-u2>
<!--

        <b-col

          md="3"
          class="my-1 "
        >
        <div class="form-inline">
          <label>Registros por página: &nbsp;</label>
          <b-form-select
            :options="[1,15, 30, 50,100]"
            v-model="params.perPage"
          />
          </div>
        </b-col>
        <b-col
          md="9"
          class="my-1"
        >
          <b-pagination
            :total-rows="totalRows"
            :per-page="params.perPage"
            :current-page="params.page"
            v-model="params.page"
            class=" float-right"
          />
        </b-col> -->

    </div>
  </card>
</template>

<script>
import card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";
import { mapState, mapActions, mapMutations } from "vuex";
export default {
    components: {
        card,
        GridU2
    },

    data() {
        return {
            gridApi: null,
            gridOptions: null,
            date: {
                start: "0:30",
                step: "00:15",
                end: "24:00"
            },
            columns: [{
                    name: "Dias Vencimiento Desde",
                    field: "expiration_days_from",
                    format: 'number',
                    editable: true
                },
                {
                    name: "Dias Vencimiento Hasta",
                    field: "expiration_days_until",
                    format: 'number',
                    editable: true
                },
                {
                    name: "Frecuencia",
                    field: "frecuency",
                    editable: true,
                    format: 'select',

                    select: {
                        data: [
                            { value: 1, label: 'Diario' },
                            { value: 2, label: 'Semanal' },
                            { value: 3, label: 'Mensual' }
                        ],
                        key: 'value',
                        value: 'label'
                    }

                },
                {
                    name: "Hora Envio",
                    field: "time",
                    editable: true,
                },
                {
                    name: "Cobro Pre juridico",
                    field: "pre_legal_charge",
                    width: 40,
                    editable: true
                },
                {
                    name: "opciones",
                    field: "opciones"
                }
            ]
        };
    },

    methods: {

        ...mapActions("automatic_portfolio_delivery", [
            "getPortfolioShipments",
            "deletePortfolioShipments",
            "updatePortfolioShipments",
            'create'
        ]),
        async deleteElement(val) {
            await this.deletePortfolioShipments(val);
            this.getPortfolioShipments();
        },

        async invokeParentMethod(row) {
            let isEdited = false;
            let $element = this.copyPortfolio.find(element => {
                return element.id == row.id;
            });

            if (
                row.expiration_days_from != $element.expiration_days_from ||
                row.expiration_days_until != $element.expiration_days_until ||
                row.frecuency != $element.frecuency ||
                row.time != $element.time ||
                row.pre_legal_charge != $element.pre_legal_charge
            ) {
                isEdited = true;
            }
            if (isEdited) {
                await this.updatePortfolioShipments(row);
            }
        },


        newElement() {
            this.portfolio.push({
                expiration_days_from: null,
                expiration_days_until: null,
                frecuency: null,
                time: null,
                pre_legal_charge: null
            });
        },

      async   createElement(element) {
            if (
                element.expiration_days_from == null ||
                element.expiration_days_until == null ||
                element.frecuency == null ||
                element.time == null
            ) {
                this.$alert(
                    "Todos los Campos Son Requeridos",
                    "Error", {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass: "notification-error"
                    }
                ).then(verifica => {});
            } else {
                await this.create(element);
                this.getPortfolioShipments();

            }
        },


    },
    computed: {
        ...mapState("automatic_portfolio_delivery", ["portfolio", "copyPortfolio",'params']),
         totalRows() {
        return this.portfolio.total
      }


    },

    mounted() {

        this.getPortfolioShipments();

         this.$store.watch(() => {
          return this.params.page
        }, p => {
                this.getPortfolioShipments();
        }),

        this.$store.watch(() => {
          return this.params.perPage
        }, p => {
                this.getPortfolioShipments();
        })

    }}
</script>


<style>
#container {
    display: flex;
    justify-content: center;
}

</style>
