<template>
  <card title=" <i class='fa fa-fw fa-gift'></i> Nueva configuración Envio Automatico de Cartera ">


<b-form  data-vv-scope="form"
        @submit.prevent="validateForm()" >


  <div class="row">

  <div class="col-12 col-sm-6 col-md-6  col-lg-6"  :class="errors.has('form.expiration_days_from') ? 'form-group-error text-danger': ''">
    <div class="form-group">
      <label for="expiration_days_from">Vencimiento Dia Desde <span class="text-danger">*</span></label>
      <input id="expiration_days_from" type="number" class="form-control"  v-model="automaticPortfolioDelivery.expiration_days_from"
      data-vv-as=" " name="expiration_days_from" v-validate="'required'">
      <span class="text-danger span-error">{{ errors.first('form.expiration_days_from') }}</span>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6  col-lg-6"   :class="errors.has('form.expiration_days_until') ? 'form-group-error text-danger': ''">
    <div class="form-group">
      <label for="expiration_days_until">Vencimiento Dia Hasta <span class="text-danger">*</span></label>
      <input id="expiration_days_until" type="number" class="form-control" v-model="automaticPortfolioDelivery.expiration_days_until"
       data-vv-as=" " name="expiration_days_until" v-validate="'required'">
      <span class="text-danger span-error">{{ errors.first('form.expiration_days_until') }}</span>
    </div>
  </div>

</div>

  <div class="row">

  <div class="col-12 col-sm-4 col-md-4  col-lg-4"   :class="errors.has('form.frequency') ? 'form-group-error text-danger': ''">
    <div class="form-group">
      <label for="frequency">Frecuencia <span class="text-danger">*</span></label>
       <el-select   v-model="automaticPortfolioDelivery.frecuency"
        data-vv-as=" " name="frequency" v-validate="'required'">
    <el-option label="Diario" value="1"> </el-option>
     <el-option label="Semanal" value="2"> </el-option>
      <el-option label="Mensual" value="3"> </el-option>
      </el-select>
      <span class="text-danger span-error">{{ errors.first('form.frequency') }}</span>
    </div>
  </div>


  <div class="col-12 col-sm-4 col-md-4  col-lg-4 d-flex justify-content-center"  :class="errors.has('form.time') ? 'form-group-error text-danger': ''">
    <div class="form-group">
      <label for="time">Hora Envio<span class="text-danger">*</span></label><br>

      <el-time-select id="time"   v-model="automaticPortfolioDelivery.time"
       data-vv-as=" " name="time" v-validate="'required'"
  :picker-options="date"
  placeholder="Select time">
  </el-time-select> <br>
  <span class="text-danger span-error">{{ errors.first('form.time') }}</span>
    </div>
  </div>



  <div class="col-12 col-sm-4 col-md-4  col-lg-4  d-flex justify-content-center"  :class="errors.has('form.pre_legal_charge') ? 'form-group-error text-danger': ''">
    <div class="form-group">
      <label for="pre_legal_charge">Cobro Pre Juridico <span class="text-danger">*</span></label>
      <br>
       <b-form-radio-group id="pre_legal_charge" buttons    v-model="automaticPortfolioDelivery.pre_legal_charge"
       :button-variant="automaticPortfolioDelivery.pre_legal_charge == 0 ? 'outline-secondary' : 'outline-primary'"
         :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
          data-vv-as=" " name="pre_legal_charge" v-validate="'required'"/> <br>
         <span class="text-danger span-error">{{ errors.first('form.pre_legal_charge') }}</span>
    </div>
  </div>


</div>



   <!--BOTONES DEL FORMULARIO-->
      <div class="form-actions">
        <b-button

          type="submit"
          class="boton-guardar"
        >
          <span class="btn-label">
            <i class="ti-save-alt"></i>
          </span> Guardar
        </b-button>
        <b-button
          to="/envio-cartera"
          type="button"
          variant="secondary"
          class="float-left"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span> Volver
        </b-button>
        <b-button

          type="reset"
          value="Limpiar"
          class="otro-boton float-left"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
            Limpiar
          </span>
        </b-button>
      </div>



</b-form>


</card>
</template>



<script>

import card from "../../components/pages/card/card";

import { mapState, mapActions, mapMutations } from 'vuex'
export default {
components:{
card
},

data(){
return {
date:{
    start: '0:30',
    step: '00:15',
    end: '24:00'
  },
}
},

  methods: {
 ...mapActions('automatic_portfolio_delivery',['create']),
 ...mapMutations('automatic_portfolio_delivery',['setAutomaticPortfolioDelivery']),


   validateForm(){

      this.$validator.validateAll("form").then(async (result) => {
       if (result) {
        await  this.create();
        this.setAutomaticPortfolioDelivery();

       }
      })

    }

  },
  computed:{
      ...mapState('automatic_portfolio_delivery',['automaticPortfolioDelivery']),
  }

}
</script>


<style>

</style>
