<template>
  <Money
    :id="idInput"
    v-model="vModelInput"
    v-bind="moneyDecimals"
    class="el-input__inner"
    :disabled="disabled"
  />
</template>

<script>
import { Money } from "v-money";

export default {
  props: ["idInput", "vModelInput", "disabled"],
  components: {
    Money
  },
  data() {
    return {
      moneyDecimals: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false
      }
    };
  }
};
</script>
