<template>
  <div class="container-fluid">
    <b-modal
      :body-class="['modal-body-p0']"
      v-model="show"
      :id="modal_id"
      size="xl"
      header-class="header-modal-u2 "
      centered
      ref="modal-account"
      hide-footer
    >
      <!-- HEADER -->
      <template v-slot:modal-header>
        <h5>REPORTE DE CARTERA {{contact_title}}</h5>
        <button @click="show = false" class="btn btn-sm btn-link">x</button>
      </template>
      <table-receivable
      @selectedDocument="selectedDocument_"
      :lite="true"
      :contact_id_="contact_id"
      :seller_id="seller_id"
      stylec="width: 100%; height: 100%"/>
    </b-modal>
      <!-- :wallet_type="wallet_type" -->
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import GridU2 from "../../components/u2/grid";
import TableReceivable from "../../components/receivable/TableReceivable.vue";

export default {
  props: {
    modal_id: { required: false, default: 'modal-receivable' },
    contact_id: { required: false, default: null },
    seller_id: { required: false, default: null },
    contact_title: { required: false, default: null },
    // wallet_type : {required: false, default: null},
  },
  components: {
    GridU2,
    TableReceivable
  },
  data() {
    return {
      show: false
    };
  },

  created() {},
  methods: {
    selectedDocument_(document) {
      this.$emit("selectedDocument", document);
    }
  },
  computed: {},
  async mounted() {}
};
</script>

<style scoped>
.modal-body-p0{
    padding: 0rem !important;
}
.boton-exist-dispon {
  width: 100%;
}
.c {
  text-align: center;
}
.t-c {
  text-align: center;
}
.pad {
  padding: 20px !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
</style>

<style>
.header-modal-u2 {
  background: #007db3 !important;
  color: #fff;
}
</style>
<style>
.modal-body-p0{
    padding: 0rem !important;
}
</style>