<template>
  <div style="height: 100%;">
     <preloader v-if="loading.wallet" mensaje="Cargando Lista de cuentas"></preloader>
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.form-wallet id="acordeon" class="new-accordion">Filtros Informe</b-btn>
      <b-collapse
        v-bind:visible="false"
        id="form-wallet"
        role="tabpanel"
      >
        <b-card-body class="banner-new">
        <div class="row" style="text-align:center">
          <div class="col-6">
            <label for="year_month">Año Mes</label>
            <el-date-picker
              v-model="params.year_month"
              type="month"
              size="mini"
              placeholder="Seleccione un Mes"
              value-format="yyyyMM"
              format="yyyyMM"
              class="min-size"
            >
            </el-date-picker>
          </div>
          <div class="col-6">
            <label for="wallet_type">Tipo Cartera</label>
            <el-select
              id="wallet_type"
              name="wallet_type"
              size="mini"
              placeholder=" "
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="params.wallet_type"
              clearable
            >
              <el-option
              v-for="wallet_type in wallet_types"
              :key="wallet_type.id"
              :label="wallet_type.code_parameter+ ' - ' +wallet_type.name_parameter"
              :value="wallet_type.id"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="row" style="text-align:center">
          <div class="col-12">
            <b-button @click="ValidateForm" class="mt-4" variant="primary">
              <span class="btn-label">
                <i class="ti-search min-height"></i>
              </span>
              Listar
            </b-button>
          </div>
        </div>
      </b-card-body>
      </b-collapse>
    </b-card>
    <ag-grid-vue
      :style="stylec"
      :class="ag_grid.selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="wallet"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :rowGroupPanelShow="rowGroupPanelShow"
      :pinnedTopRowData="pinnedTopRowData"
      :pinnedBottomRowData="pinnedBottomRowData"
      :frameworkComponents="frameworkComponents"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :aggFuncs="aggFuncs"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
      @selection-changed="onSelectionChanged"
      :masterDetail="true"
      :detailCellRendererParams="detailCellRendererParams"
      :rowStyle="rowStyle"
      @filterChanged="filterChanged"
    ></ag-grid-vue>
  </div>
</template>

<script>
  import {AgGridVue} from '@ag-grid-community/vue';
  import 'ag-grid-enterprise';
  import moment from 'moment'
  import {AllModules} from '@ag-grid-enterprise/all-modules';
  import {mapActions, mapState} from "vuex";
  import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
  import Preloader from "../../components/layout/preloader";

export default {
  watch:{
    "ag_grid.selectedTheme"(newval){
      this.gridApi.refreshCells()
    }
  },
  props:{
    stylec: { required: false, default: "width: 100%; height: 92%" },
    lite: { required: false, default: false },
    contact_id_: { required: false, default: null },
    seller_id: { required: false, default: null },
    // wallet_type: { required: false, default: 24604 },
  },
  data() {
    return {
        rowStyle : { 'font-weight': '600' },
        rowClassRules: null,
        columnDefs: [],
        gridOptions: null,
        gridApi: null,
        statusBar: null,
        defaultColDef: null,
        rowGroupPanelShow: null,
        groupDefaultExpanded: null,
        detailCellRendererParams: null,
        autoGroupColumnDef: null,
        selectedTheme: 'ag-theme-balham',
        pinnedTopRowData: null,
        pinnedBottomRowData: null,
        frameworkComponents: null,
        getRowStyle: null,
        aggFuncs: null,
        user_seller: false,
        themes: [
          {theme: 'ag-theme-alpine', label: 'Alpine'},
          {theme: 'ag-theme-dark', label: 'Dark'},
          {theme: 'ag-theme-balham', label: 'Balham'},
          {theme: 'ag-theme-balham-dark', label: 'Balham dark'},
          {theme: 'ag-theme-material', label: 'Material'}
        ],
        sideBar: {
          toolPanels: [
            {
              id: 'columns',
              labelDefault: 'Columnas',
              labelKey: 'columns',
              iconKey: 'columns',
              toolPanel: 'agColumnsToolPanel',
            },
            {
              id: 'filters',
              labelDefault: 'Filtros',
              labelKey: 'filters',
              iconKey: 'filter',
              toolPanel: 'agFiltersToolPanel',
            },
          ],
          // defaultToolPanel: 'filters',
          hiddenByDefault: false,
        },
        gridColumnApi: null,
        columnTypes: null,
        rowSelection: null,
        modules: AllModules
      }
  },
  components: {
    AgGridVue,
    Preloader
  },
  async beforeMount() {
    
      let user = JSON.parse(localStorage.getItem('user'))
      this.user_seller = user.get_roles[0].role == 'Vendedor'

      this.gridOptions = {};

      this.autoGroupColumnDef = {minWidth: 450};

      this.columnDefs = [
        {headerName: 'CUENTA', field: 'account', width: 200, resizable: true, sortable: true, checkboxSelection: true,  cellRenderer: 'agGroupCellRenderer', filter: true},
        {headerName: 'CODIGO TERCERO', field: 'identification_contact', width: 200, resizable: true, sortable: true, filter: true},
        {headerName: 'TERCERO', field: 'contact', width: 200, resizable: true, sortable: true, filter: true},
        {headerName: 'VENDEDOR', field: 'seller', width: 200, resizable: true, sortable: true, hide :this.lite, filter: true},
        {headerName: 'SEDE CLIENTE', field: 'branchoffice', width: 200, resizable: true, sortable: true, hide :true, filter: true},
        {headerName: 'ZONA', field: 'zone', width: 200, resizable: true, sortable: true, hide :true ,filter: true},
        {headerName: 'FORMA DE PAGO', field: 'way_to_pay', width: 200, resizable: true, sortable: true, hide :true ,filter: true},
        {headerName: 'CIUDAD', field: 'city', width: 200, resizable: true, sortable: true, hide :this.lite ,filter: true},
        {headerName: 'DIRECCIÓN', field: 'address', width: 200, resizable: true, sortable: true, hide :this.lite ,filter: true},
        {headerName: 'TELÉFONO', field: 'telephone', width: 200, resizable: true, sortable: true, hide :true ,filter: true},
        {headerName: 'CELULAR', field: 'cell_phone', width: 200, resizable: true, sortable: true, hide :true ,filter: true},
        {headerName: 'TIPO DE COMPROBANTE', field: 'code_voucher_type', width: 200, resizable: true, sortable: true, filter: true},
        {headerName: 'NO. FACTURA', field: 'consecutive', width: 200, resizable: true, sortable: true, filter: true},
        {headerName: 'FECHA', field: 'document_date', width: 200, resizable: true, sortable: true, filter: true},
        {headerName: 'SALDO ORIGINAL', field: 'original_balance', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"},
        {headerName: 'VENCE', field: 'due_date', width: 200, resizable: true, sortable: true, filter: true, cellClass: params => this.validateDueDate(params)},
        {headerName: 'SALDO FACTURA', field: 'final_balance', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", valueFormatter: this.currencyFormatter, cellStyle: params => this.validateNegative(params),cellClass: "aling-left-text"},
        {headerName: 'PLAZO', field: 'term', width: 200, resizable: true, sortable: true, hide :true ,filter: true},
        {headerName: 'DIAS VENCIDOS', field: 'expired_days', width: 200, resizable: true, sortable: true, hide :this.lite ,filter: true},
        {headerName: 'CORRIENTE', field: 'current', width: 200, resizable: true, sortable: true, hide :this.lite || this.user_seller  ,filter: "agNumberColumnFilter",cellClass: "aling-left-text"},
        {headerName: '1-30', field: 'v_1_30', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", hide :this.lite || this.user_seller ,valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"},
        {headerName: '31-60', field: 'v_31_60', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", hide :this.lite || this.user_seller ,valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"},
        {headerName: '61-90', field: 'v_61_90', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", hide :this.lite || this.user_seller ,valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"},
        {headerName: '91-120', field: 'v_91_120', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", hide :this.lite || this.user_seller ,valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"},
        {headerName: '121-180', field: 'v_121_180', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", hide :this.lite || this.user_seller ,valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"},
        {headerName: '181-360', field: 'v_181_360', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", hide :this.lite || this.user_seller ,valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"},
        {headerName: '361-mas', field: 'v_361_mas', width: 200, resizable: true, sortable: true, filter: "agNumberColumnFilter", hide :this.lite || this.user_seller ,valueFormatter: this.currencyFormatter,cellClass: "aling-left-text"}
      ];
      this.detailCellRendererParams = {
        detailGridOptions: {
          columnDefs: [
            { headerName: 'FECHA',field: 'document_date' },
            { headerName: 'TIPO DE COMPROBANTE', valueGetter: this.getVouchertype},
            { headerName: 'COMPROBANTE', field: 'voucher'},
            { headerName: 'DEBITO',field: 'debits', valueFormatter: this.currencyFormatter,cellClass: "aling-left-text" },
            { headerName: 'CREDITO',field: 'credits', valueFormatter: this.currencyFormatter,cellClass: "aling-left-text" },
            { headerName: 'SALDO',field: 'balance', valueFormatter: this.currencyFormatter,cellClass: "aling-left-text" },
          ],
          defaultColDef: { flex: 1 },
        },
        getDetailRowData: async (params) => {
          await this.getTransactions(params.data.affects_document_id)

          params.successCallback(this.transactions_wallet);
          // this.getTransactions(params.data.callRecords);
        },
      };

      this.rowSelection = 'single';

      this.getRowStyle = (params) => {
        if (params.node.rowPinned) {
          return {
            'color': '#3d3d3d',
            'font-size': '15px',
            'font-weight': 'bold',
            'background': '#c1c1c1',
            'border-top': '1px solid #fff'
          };
        }
      }

      this.aggFuncs = {
        'mySum': params => {
          let sum = 0;
          params.values.forEach(value => sum += value);
          return sum;
        }
      };

      this.defaultColDef = {
        minWidth: 120,
        enableValue: true,
        enableRowGroup: true,
        sortable: true,
        filter: true,
        floatingFilter: true,
        resizable: true
      }

      this.statusBar = {
        statusPanels: [
          {
            statusPanel: 'agTotalAndFilteredRowCountComponent',
            align: 'left',
          },
          {
            statusPanel: 'agTotalRowCountComponent',
            align: 'center',
          },
          {statusPanel: 'agFilteredRowCountComponent'},
          {statusPanel: 'agSelectedRowCountComponent'},
          {statusPanel: 'agAggregationComponent'},
        ],
      };

      this.groupDefaultExpanded = 0;
      this.rowGroupPanelShow = 'always';

      // let contact_id = this.$route.query.contact_id

      // if (contact_id) {
      //   await this.getSales(contact_id)
      // } else {
      //   console.error('No existe contact id')
      // }


      await this.setDefaultYearMonth()
      this.params.wallet_type = this.params.wallet_type == null ? 24604 : this.params.wallet_type
      await this.getWallet({contact_id : this.contact_id_, seller_id: this.seller_id, wallet_type: this.params.wallet_type})
      this.fetchWalletType()

      this.pinnedBottomRowData = this.createData();

      this.frameworkComponents = {
        customPinnedRowRenderer: totalRowComponent,
      };

      // this.gridApi.openToolPanel('columns');
    },
    mounted() {
      this.gridApi = this.gridOptions.api;
      this.gridColumnApi = this.gridOptions.columnApi;
    },
    computed: {
      ...mapState('reportSalesProducts', ['sales', 'contact']),
      ...mapState('ReceivableReport', ['wallet', 'transactions_wallet', 'params', 'ag_grid', 'loading', 'wallet_types'])

    },
    methods: {
      filterChanged(params) {
        let result = {
          original_balance : 0,
          final_balance:0,
          current:0,
          v_1_30:0,
          v_31_60:0,
          v_61_90:0,
          v_91_120:0,
          v_121_180:0,
          v_181_360:0,
          v_361_mas:0
        };

        params.api.forEachNodeAfterFilter(i => {
          result.original_balance += Number(i.data.original_balance);
            result.final_balance += Number(i.data.final_balance);
            result.current += Number(i.data.current);
            result.v_1_30 += Number(i.data.v_1_30);
            result.v_31_60 += Number(i.data.v_31_60);
            result.v_61_90 += Number(i.data.v_61_90);
            result.v_91_120 += Number(i.data.v_91_120);
            result.v_121_180 += Number(i.data.v_121_180);
            result.v_181_360 += Number(i.data.v_181_360);
            result.v_361_mas += Number(i.data.v_361_mas);
        });

        this.pinnedBottomRowData = [result];
      },
      async maxReport(){
        window.open("/#/reportes/reporte-de-cartera", "_blank");
      },
      validateDueDate(params){
        if (params.data.v_1_30 != 0) {
          return ['medium-score']
          // return { background: 'rgba(255,165,10,0.4)' }
        }

        if (params.data.v_31_60 != 0 ||
            params.data.v_61_90 != 0 ||
            params.data.v_91_120 != 0 ||
            params.data.v_121_180 != 0 ||
            params.data.v_181_360 != 0 ||
            params.data.v_361_mas != 0) {
          return ['bad-score']
        }

        if(params.data.expired_days == 0) return ['good-score']
      },
      validateNegative(params){
        if (params.data.final_balance < 0) {
          return {color:'red'}
        }
      },
      async setDefaultYearMonth() {
        var d = new Date();
        this.params.year_month = await this.formatDate(this.restarMes(d));
      },
      restarMes(fecha) {
        fecha.setDate(fecha.getDate());
        return fecha;
      },
      formatDate(date) {
        var d = new Date(date),
          month = "" + (d.getMonth() + 1),
          day = "" + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2) month = "0" + month;
        if (day.length < 2) day = "0" + day;

        return [year, month].join("");
      },
      async ValidateForm(){
        await this.getWallet({contact_id : this.contact_id_,seller_id: this.seller_id, wallet_type: this.params.wallet_type})
        this.pinnedBottomRowData = await this.createData();
          this.frameworkComponents = {
          customPinnedRowRenderer: totalRowComponent,
        };

        this.$root.$emit('bv::toggle::collapse', 'form-wallet')
      },
      getVouchertype(params){
        if (params.data == undefined) {
          return ''
        }
        if (params.data.document) {
          let response = params.data.document.vouchertype ? params.data.document.vouchertype.code_voucher_type +'-'+ params.data.document.vouchertype.name_voucher_type : ''
          return response;
        }else{
          return ''
        }
      },
      getDocument(params) {
        if (params.data == undefined) {
          return ''
        }
        if (params.data.document) {
          console.log(params.data.document.prefix != "                    ");
          let response = params.data.document.prefix != '' || params.data.document.prefix != null || params.data.document.prefix != "                    " ? params.data.affects_document.prefix + ' - ' + params.data.affects_document.consecutive : params.data.affects_document.consecutive
          return response;
        }else{
          return ''
        }
      },
      // getTransactions(row){
      //   console.log('siiiiiiiii');
      // },
      onFirstDataRendered(params) {
        setTimeout(function () {
          params.api.getDisplayedRowAtIndex(1).setExpanded(true);
        }, 0);
      },
      onSelectionChanged(){
        var selectedRows = this.gridApi.getSelectedRows();
        this.$emit("selectedDocument", selectedRows[0]
        );

        // document.querySelector('#selectedRows').innerHTML =
        // selecqtedRows.length === 1 ? selectedRows[0].athlete : '';
      },
      ...mapActions('ReceivableReport', ['getWallet', 'getTransactions', 'fetchWalletType']),
      // ...mapActions('reportSalesProducts', ['getSales']),
      createData() {
        let result = [
          {
            original_balance: 0,
            final_balance:0,
            current:0,
            v_1_30:0,
            v_31_60:0,
            v_61_90:0,
            v_91_120:0,
            v_121_180:0,
            v_181_360:0,
            v_361_mas:0
          }
        ];
      
        for (let element in result[0]) {
          result[0][element] = +this.wallet.reduce(
            (total, currentValue) => +total + (+currentValue[element] || 0), 0
          );
        }
        return result
      },
      currencyFormatter(params) {
        if (params.value !== "undefined" && params.value !== undefined) {
          return this.formatNumber(params.value);
        }

        return "";
      },
      numberFormatter(number) {
        return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
      },
      percentageFormatter(params) {
        if (params.value !== 'undefined' && params.value !== undefined) {
          return this.formatNumber(params.value) + '%'
        }

        return ''
      },
      formatNumber(number) {
        return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: true
                                              })
      }
    }
  };
</script>
<style scoped>
  .sick-days-breach {
    background-color: lightcoral !important;
  }
</style>
