<template>
    <div>
        <form @submit.prevent="validateActionSubbrand()" data-vv-scope="form-submarca">
            <br>
            <!-- ACORDEON FORMULARIO DE DOCUMENTOS-->
           <!--  <b-card no-body class="mb-1">
                <b-btn block href="#" v-b-toggle.form-submarcas id="acordeon">DOCUMENTOS</b-btn>
                <b-collapse id="form-submarcas" visible role="tabpanel">
                    <b-card-body> -->
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3"
                                v-bind:class="errors.has('form-submarca.subbrand_code') ? 'form-group-error': ''">
                                <label for="subbrand_code">Código<span class="text-danger">*</span></label>
                                <input type="text"
                                        id="subbrand_code"
                                        name="subbrand_code"
                                        class="form-control"
                                        v-validate="'required|max:15'"
                                        data-vv-as=" "
                                        :disabled="disabledInputs"
                                        v-model="selectedSubbrand.subbrand_code"
                                >
                                <i class="text-danger icon-error"> </i>
                                <span class="text-danger span-error">
                                    {{ errors.first('form-submarca.subbrand_code') }}
                                </span>
                            </div>
                            <div class="form-group col-sm-6 col-md-5"
                                    v-bind:class="errors.has('form-submarca.description') ? 'form-group-error': ''"
                            >
                                <label for="description">Descripción<span class="text-danger">*</span></label>
                                <input type="text"
                                        id="description"
                                        name="description"
                                        class="form-control"
                                        style="text-transform: uppercase"
                                        v-validate="'required|max:255'"
                                        data-vv-as=" "
                                        :disabled="disabledInputs"
                                        v-model="selectedSubbrand.description"
                                >
                                <i class="text-danger icon-error"> </i>
                                <span class="text-danger span-error">
                                    {{ errors.first('form-submarca.description') }}
                                </span>
                            </div>
                            <div class="form-group col-sm-6 col-md-4"
                                    v-bind:class="errors.has('form-submarca.margin_cost_percentage') ? 'form-group-error': ''"
                            >
                                <label for="margin_cost_percentage">% Margen Costo</label>
                                <input type="text"
                                        id="margin_cost_percentage"
                                        name="margin_cost_percentage"
                                        class="form-control"
                                        v-validate="'max:100'"
                                        data-vv-as=" "
                                        :disabled="disabledInputs"
                                        v-model="selectedSubbrand.margin_cost_percentage"
                                >
                                <i class="text-danger icon-error"> </i>
                                <span class="text-danger span-error">
                                    {{ errors.first('form-submarca.margin_cost_percentage') }}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6 col-md-3"
                                v-bind:class="errors.has('form-submarca.lock_buy') ? 'form-group-error': ''">
                                <label for="lock_buy">
                                    Bloqueo Compra
                                </label>
                                <br>
                                <b-form-radio-group
                                    id="lock_buy"
                                    buttons
                                    :disabled="disabledInputs"
                                    :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                                    name="lock_buy"
                                    v-model="selectedSubbrand.lock_buy"
                                    :button-variant="selectedSubbrand.lock_buy == 1 ? 'outline-primary' : 'outline-secondary'"
                                />
                                <i class="text-danger icon-error"> </i>
                                <span class="text-danger span-error">
                                    {{ errors.first('form-submarca.lock_buy') }}
                                </span>
                            </div>
                            <div class="form-group col-sm-6 col-md-3"
                            v-bind:class="errors.has('form-submarca.block_sale') ? 'form-group-error': ''">
                                <label for="block_sale">
                                    Bloqueo Venta
                                </label>
                                <br>
                                <b-form-radio-group
                                    id="block_sale"
                                    buttons
                                    :disabled="disabledInputs"
                                    :options="[{text: 'SI', value: 1},{text: 'NO', value: 0}]"
                                    name="block_sale"
                                    v-model="selectedSubbrand.block_sale"
                                    :button-variant="selectedSubbrand.block_sale == 1 ? 'outline-primary' : 'outline-secondary'"
                                />
                                <i class="text-danger icon-error"> </i>
                                <span class="text-danger span-error">
                                    {{ errors.first('form-submarca.block_sale') }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="image" class="control-label">
                                    Logo de Submarca
                                </label>
                                <div v-if="subbrand_logo != '' && subbrand_logo != null">
                                    <img :src="subbrand_logo" :alt="selectedSubbrand.description" width="200px">
                                    <b-button
                                        :disabled="disabledInputs"
                                        type="submit"
                                        class="btn btn-labeled btn-danger btn-sm"
                                        @click.prevent="subbrand_logo = null">
                                    <span class="btn-label"><i class="fa fa-trash"></i></span> Eliminar
                                    </b-button>
                                </div>
                                <div v-else>
                                    <b-form-file
                                        :disabled="disabledInputs"
                                        placeholder
                                        class="form-control"
                                        accept="image/jpeg, image/png, image/gif"
                                        @change="loadLogo"
                                    ></b-form-file>
                                </div>
                            </div>
                            <div class="form-group col-6" v-bind:class="errors.has('form-submarca.data_sheet') ? 'form-group-error': ''" v-if="!disabledInputs">
                                <label for="data_sheet" class="control-label">
                                    Ficha Tecnica
                                </label>
                                <!--<input type="text" ref="filepath" id="documentPath" v-model="selectedSubbrand.path">-->
                                <vue-dropzone
                                    ref="myVueDropzone"
                                    id="dropzone"
                                    :options="dropzoneOptions"
                                    :useCustomSlot=true
                                >
                                    <div class="dropzone-custom-content">
                                        <i class="fa fa-upload fa-4x"></i>
                                        <br>
                                        <h3 class="dropzone-custom-title">Arrastre y suelte un archivo!</h3>
                                        <div class="subtitle">...... o haga clic para seleccionar un archivo de su computador</div>
                                    </div>
                                </vue-dropzone>
                            </div>
                        </div>
                        <div class="row" v-if="!disabledInputs">
                            <div class="form-group col-12">
                                <el-button
                                    type="primary"
                                    :loading="loading"
                                    native-type="submit"
                                    class="btn btn-labeled btn-primary float-right ml-1 otro-boton"
                                >
                                    <span class="btn-label" v-if="!loading">
                                        <i class="ti-save-alt"> </i>
                                    </span>
                                    &nbsp; {{ this.actionSubbrand == 'create' ? this.loading ? 'Guardando' : 'Guardar' : this.loading ? 'Actualizando' : 'Actualizar' }}
                                </el-button>
                                <b-button type="button" id="limpiar" class="btn btn-labeled btn-secondary float-right" @click="clearSubbrand()">
                                    <span class="btn-label">
                                        <i class="ti-close"> </i>
                                    </span> &nbsp; {{ this.actionSubbrand == 'create' ? 'Limpiar' : 'Nuevo' }}
                                </b-button>
                            </div>
                        </div>
                   <!--  </b-card-body>
                </b-collapse>
            </b-card> -->
        </form>

        <!--ACORDEON DOCUMENTOS REGISTRADOS-->
        <b-card no-body class="mb-1">
            <b-btn block href="#" v-b-toggle.subbrands-list id="acordeon">SUBMARCAS</b-btn>
            <b-collapse id="subbrands-list" visible ole="tabpanel">
                <b-card-body>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <b-table striped hover show-empty
                                     :items="subbrands"
                                     :fields="fieldsSubscriberTable"
                                     empty-text="No existen documentos cargados"
                            >
                                <!--Template para cargar las acciones-->
                                <template slot="actions" slot-scope="row" class="text-center ">
                                   <b-button size="sm" variant="danger" class="mt-1 ml-1 button-table float-right" v-if="!disabledInputs"
                                              @click="questionDeleteSubbrand(row.item)">
                                        Eliminar
                                    </b-button>
                                    <b-button size="sm" id="botones" class="mt-1 ml-1  button-table float-right" @click.prevent="setSubbrandComp(row.item)">
                                        {{ disabledInputs ? 'Ver' : 'Editar'}}
                                    </b-button>
                                     <b-button v-if="row.item.data_sheet != ''" size="sm" variant="secondary" class="mt-1 ml-1 float-right" @click.prevent="showModal(row.item)">
                                        Ficha Tecnica
                                    </b-button>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </b-card-body>
            </b-collapse>
        </b-card>
        <b-modal id="modallg" centered size="lg" :title="selectedSubbrand.description" ref="modalView">
            <div v-if="selectedSubbrand.data_sheet != '' && typeDoc != null" style="max-height: 500px; width: 100%;">
                <iframe style="min-height: 500px; width: 100%;" v-if="!typeDoc"
                        :src="`https://docs.google.com/gview?url=${domain}${selectedSubbrand.data_sheet}&embedded=true`">
                </iframe>
                <div style="width: 100%;" v-if="typeDoc" class="text-center">
                    <img :src="selectedSubbrand.data_sheet" :alt="selectedSubbrand.description" style="max-width: 100%;">
                </div>
            </div>
            <template slot="modal-footer">
                <b-button size="sm" variant="secondary" class="ml-1" @click.prevent="download(selectedSubbrand.data_sheet)">
                    Descargar
                </b-button>
                <b-button type="button" class="btn btn-labeled btn-primary float-right ml-1 cerrar" @click.prevent="hideModal()">
                    Cerrar
                </b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>

    // Imports para inputs de fecha del formulario con FlatPicker
    import {MessageBox} from 'element-ui';
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    //Vuex
    import {mapState, mapActions, mapMutations} from 'vuex';
    import {getApiDomain} from "../../util/domains";

    export default {
        name: "maintenance",
        components: {
            vueDropzone: vue2Dropzone
        },
        props: ['disabledInputs'],
        typeView: 'doc',
        data() {
            return {
                subbrand_logo: null,
                domain: getApiDomain(),
                responseUpdate: false,
                path: '',
                loading: false,
                allowedExtensions: ['pdf', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'png', 'jpeg', 'jpg', 'gif'],
                fieldsSubscriberTable: [
                    {key: 'subbrand_code', label: 'Código', thStyle: {width: '120px !important'}},
                    {key: 'description', label: 'Descripción', thStyle: {'min-width': '150px !important'}},
                    {
                        key: 'actions', label: 'Opciones', thStyle: {
                            width: this.disabledInputs ? '280px !important' : '280px !important',
                            'min-width': this.disabledInputs ? '280px !important' : '280px !important'
                        }
                    }
                ],
                type_files: [
                    {extension: 'pdf', icon: 'pdf', type: 'doc'},
                    {extension: 'doc', icon: 'word', type: 'doc'},
                    {extension: 'docx', icon: 'word', type: 'doc'},
                    {extension: 'xls', icon: 'excel', type: 'doc'},
                    {extension: 'xlsx', icon: 'excel', type: 'doc'},
                    {extension: 'ppt', icon: 'power-point', type: 'doc'},
                    {extension: 'pptx', icon: 'power-point', type: 'doc'},
                    {extension: 'png', icon: 'image', type: 'img'},
                    {extension: 'jpg', icon: 'image', type: 'img'},
                    {extension: 'jpeg', icon: 'image', type: 'img'},
                    {extension: 'gif', icon: 'image', type: 'img'}
                ],
                dropzoneOptions: {
                    url: getApiDomain(),
                    autoProcessQueue: false,
                    acceptedFiles:
                        'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.ms-powerpoint, image/jpeg, image/png',
                    thumbnailWidth: 150,
                    addRemoveLinks: true,
                    maxFilesize: 10,
                    dictInvalidFileType: 'Archivo no valido',
                    dictRemoveFile: 'Eliminar',
                    dictMaxFilesExceeded: 'No puede cargar mas de un documento',
                    maxFiles: 1,
                    accept: (file, done) => {
                        let reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = (file) => {
                            this.documentChangePath(file.target.result)
                        }
                        done();
                    }
                }
            }
        },
        methods: {
            loadLogo(e) {
                let fileReader = new FileReader();
                fileReader.readAsDataURL(e.target.files[0]);
                fileReader.onload = e => {
                    this.subbrand_logo = e.target.result;
                    this.cargaSubmarca(this.subbrand_logo);
                };
            },
            async validateActionSubbrand() {
                await this.$validator.validateAll('form-submarca').then((result) => {})
                let submit = false
                if (!this.errorsSubbrand) {
                    if (this.path.data_sheet && this.path.data_sheet != '') {
                        if (this.allowedExtensions.indexOf(this.extensionDocument) < 0) {
                            this.errors.add({
                                scope: 'form-submarca',
                                field: 'path',
                                msg: 'Extensión de archivo no valida'
                            })
                        } else {
                            submit = true
                        }
                    } else {
                        submit = true
                    }
                }

                if (submit) {
                    if (this.actionSubbrand == 'create') {
                        this.loading = true
                        await this.addSubbrand()
                        this.loading = false
                        this.clearSubbrand()
                    } else if (this.actionSubbrand == 'update') {
                        await this.$confirm('¿Esta seguro de actualizar?', 'Actualizar', {
                            confirmButtonText: 'Aceptar',
                            cancelButtonText: 'Cancelar',
                            type: 'warning',
                            customClass: 'notification-warning'
                        }).then((result) => {
                            this.responseUpdate = result
                        })

                        if (this.responseUpdate) {
                            this.loading = true
                            await this.updateSubbrand()
                            this.loading = false
                            this.clearSubbrand()
                            this.responseUpdate = false
                        }
                    }

                }
            },
            clearSubbrand() {
                this.resetSelectedSubbrand()
                this.$refs.myVueDropzone.removeAllFiles()
                this.subbrand_logo = "";
                this.$validator.reset()
                this.setActionSubbrands('create')
            },
            setSubbrandComp(document) {
                this.setSubbrand(document)
                this.subbrand_logo = this.selectedSubbrand.image;
                this.setActionSubbrands('update')
            },
            download(documentObject) {
                this.downloadDocument(documentObject)
            },
            questionDeleteSubbrand(selectedSubbrand) {
                this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    type: 'warning',
                    customClass: 'notification-warning'
                }).then(
                    (result) => {
                        if (result) {
                            this.removeSubbrand(selectedSubbrand)
                            this.clearSubbrand()
                        }
                    }
                ).catch(function (result) {})
            },
            changeDocumentComp(e) {
                let fileReader = new FileReader()
                fileReader.readAsDataURL(e)
                fileReader.onload = (e) => {
                    this.documentChangePath(e)
                }
            },
            showModal(documentObject) {
                this.setSubbrandComp(documentObject)
                setTimeout(() => {
                    this.$refs.modalView.show()
                }, 1000)
            },
            hideModal() {
                this.documentChangePath('')
                this.$refs.modalView.hide()
            },
           /*  iconFile(file) {
                let ext = file.data_sheet.split('.').pop()
                let f = this.type_files.find((tf) => tf.extension == ext)
                return `/images/icons-files/${f.icon}.svg`
            }, */
           /*  extensionFile(file) {
                return file.data_sheet.split('.').pop()
            }, */
            ...mapActions('subbrands', [
                'fetchSubbrands',
                'addSubbrand',
                'downloadDocument',
                'updateSubbrand',
                'removeSubbrand',
                'documentChangePath',
                'getSubbrand',
                'cargaSubmarca'
            ]),
            ...mapMutations('subbrands', [
                'setActionSubbrands',
                'setSubbrand',
                'resetSelectedSubbrand'
            ])
        },
        computed: {
            errorsSubbrand() {
                return this.errors.items.filter(i => i.scope == 'form-submarca').length
            },
            extensionDocument() {
                return this.path.description != '' ? this.path.description.split('.').pop() : ''
            },
            ...mapState('subbrands', [
                'subbrands',
                'actionSubbrand',
                'selectedSubbrand',
                'citiesDocuments',
                'documentsTypes'
            ]),
            typeDoc() {
                let path = this.selectedSubbrand.data_sheet
                if (path == '') {
                    return null
                } else {
                    let extension = this.selectedSubbrand.data_sheet.split('.').pop()
                    const extensionsImages = ['png', 'jpg', 'jpeg', 'gif']
                    const extensionsDocuments = ['pdf', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx']
                    if (extensionsImages.indexOf(extension) >= 0) {
                        return true
                    } else if (extensionsDocuments.indexOf(extension) >= 0) {
                        return false
                    } else {
                        return null
                    }
                }

            }
        }
    }
</script>

<style>
    .dropzone-custom-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .dropzone-custom-title {
        margin-top: 0;
        color: #00b782;
    }

    .subtitle {
        color: #314b5f;
    }

    @media (min-width: 601px){
        .cerrar {
            background-color: #007db3 !important;
            color: #fff !important;
            margin-left: 5px !important;
            line-height: 1.5 !important;
            padding: 0.375rem 0.75rem !important;
            margin-top: 10px;
        }
    }
</style>
