<template>
  <div class="row">
    <preloader v-if="loadingPage" mensaje="Cargando..." />

    <div class="form-group col-sm-6 col-md-4">
      <label for="firm_date_general">
        Fecha Firme General
      </label>
      <el-date-picker
        id="firm_date_general"
        type="date"
        class="w-100"
        clearable
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        autosize
        v-model="dateFirm.firm_date_general"
        @change="changeFirmDateGeneral"
      />
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="account_id">
        Cuenta
      </label>
      <el-input
        id="account_id"
        placeholder=" "
        @focus="openModalAccount($event, 'account_id', 'account')"
        :value="
          dateFirm.account
            ? `${dateFirm.account.code} - ${dateFirm.account.name}`
            : ''
        "
      >
        <i
          v-if="dateFirm.account"
          slot="suffix"
          @click="deleteAccount('account_id', 'account')"
          class="el-input__icon el-icon-circle-close el-input__clear"
        ></i>
      </el-input>
    </div>

    <div class="form-group col-sm-6 col-md-4">
      <label for="firm_date_account">
        Fecha Firme Cuenta
      </label>
      <el-date-picker
        id="firm_date_account"
        type="date"
        class="w-100"
        clearable
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        autosize
        v-model="dateFirm.firm_date_account"
      />
    </div>

    <div class="form-group col-sm-6 col-md-3">
      <label for="observations">
        Descripcion
      </label>
      <el-input type="textarea" autosize v-model="dateFirm.observations" />
    </div>

    <div class="col-12 d-flex justify-content-end">
      <b-button
        type="submit"
        class="boton-guardar mr-2"
        @click="validateForm()"
      >
        <span class="btn-label ">
          <i class="ti-save-alt mr-2"></i>
          <span v-if="dateFirm.id">Actualizar</span>
          <span v-else>Crear</span>
        </span>
      </b-button>
      <b-button
        variant="secondary"
        type="reset"
        value="Limpiar"
        @click="resetDateFirm"
      >
        <span class="btn-label">
          <i class="ti-eraser mr-1"></i>
        </span>
        Limpiar
      </b-button>
    </div>

    <!-- modals -->
    <modal-account @selectedAccount="selectedAccount" />
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import modalAccount from "../../../../components/accounts/modal-account.vue";
import Preloader from "../../../../components/layout/preloader.vue";
export default {
  components: { modalAccount, Preloader },
  data() {
    return {
      modalAccountOptions: {
        keyAttributeId: "",
        keyAttributeObj: ""
      },
      loadingPage: false
    };
  },
  methods: {
    ...mapActions("dateFirm", ["createDateFirm", "updateDateFirm"]),
    ...mapMutations("dateFirm", [
      "setAttributeDateFirm",
      "resetDateFirm",
      "setDateFirm"
    ]),
    async validateForm() {
      if (!this.dateFirm.firm_date_general) {
        return;
      }

      this.loadingPage = true;

      if (this.dateFirm.id) {
        await this.updateDateFirm();
      } else {
        await this.createDateFirm();
      }

      this.resetDateFirm();
      this.loadingPage = false;
    },
    changeFirmDateGeneral(value) {
      let firmDateExist = this.tableDateFirms.items.find(
        i => i.firm_date_general === value
      );
      if (firmDateExist) {
        this.setDateFirm(firmDateExist);
      }
    },

    // modal account
    openModalAccount(event, keyAttributeId, keyAttributeObj) {
      this.modalAccountOptions = {
        keyAttributeId,
        keyAttributeObj
      };

      event.target.blur();
      this.$bvModal.show("modal-account");
    },
    closeModalAccount() {
      this.$bvModal.hide("modal-account");
    },
    selectedAccount(account) {
      if (account) {
        const { keyAttributeId, keyAttributeObj } = this.modalAccountOptions;

        this.setAttributeDateFirm({
          [keyAttributeId]: account.id,
          [keyAttributeObj]: account
        });
      }
      this.closeModalAccount();
    },
    deleteAccount(keyAttributeId, keyAttributeObj) {
      this.setAttributeDateFirm({
        [keyAttributeId]: "",
        [keyAttributeObj]: ""
      });
    }
  },
  computed: {
    ...mapState("dateFirm", ["dateFirm", "tableDateFirms"])
  }
};
</script>
