<template>
  <div class="row">
    <!-- INFORMACION / CRUD -->
    <div v-if="!view" class="col-7">
      <div class="row">
        <div class="col-12 ml-3 text-center bg-u2">
          <h3>{{ selectedServiceRequest.data.type.name }}</h3>
        </div>
      </div>

      <div class="row border-b">
        <div class="col-12">
          <table class="table-info-u2 my-2">
            <tr>
              <th>CLIENTE</th>
              <td>
                {{ selectedServiceRequest.data.contact.identification }}-{{
                  selectedServiceRequest.data.contacts_warehouse.code
                }}
                {{ selectedServiceRequest.data.contact.name }}
              </td>
            </tr>
            <tr>
              <th>TELEFONO</th>
              <td>
                {{ selectedServiceRequest.data.contacts_warehouse.telephone }}
              </td>
            </tr>
            <tr>
              <th>DIRECCIÓN</th>
              <td>
                {{ selectedServiceRequest.data.contacts_warehouse.address }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row mt-2 border-b" v-if="selectedServiceRequest.data.product">
        <div class="col-12">
          <table class="table-info-u2 my-2">
            <tr>
              <th>PRODUCTO</th>
              <td>{{ selectedServiceRequest.data.product.description }}</td>
            </tr>
            <tr>
              <th>LOTE</th>
              <td></td>
            </tr>
            <tr>
              <th>CODIGO</th>
              <td>{{ selectedServiceRequest.data.product.code }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row mt-2 border-b">
        <div class="col-12">
          <table class="table-info-u2 my-2">
            <tr>
              <th>VENDEDOR</th>
              <td>
                {{
                  selectedServiceRequest.data.seller.name +
                    " " +
                    (selectedServiceRequest.data.seller.surname
                      ? selectedServiceRequest.data.seller.surname
                      : "")
                }}
              </td>
            </tr>
            <tr>
              <th>TELEFONO</th>
              <td>{{ selectedServiceRequest.data.seller.cell_phone }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div
        class="row mt-2 border-b"
        v-if="selectedServiceRequest.data.service_requests_types_id == 4"
      >
        <div class="col-12">
          <table class="table-info-u2 my-2">
            <tr>
              <th>CANTIDAD</th>
              <td>{{ selectedServiceRequest.data.number_batteries }}</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- ESTADO ACTUAL -->
      <div v-if="!selectedServiceRequest.loader" class="row mt-2">
        <div class="pl-5 col-8">
          <p>
            <b>Estado Actual:</b>
            {{ selectedServiceRequest.data.actual_state.state.name }}
          </p>
        </div>
      </div>

      <!-- CAMBIAR PRODUCTO -->
      <div
        class="row mx-2 mb-2"
        v-if="!selectedServiceRequest.loader && validateChangeProduct()"
      >
        <div class="col-12">
          <!-- LABEL PRODUCTOS -->
          <div class="row">
            <div class="col-6">
              <label for="product">
                <b>Producto</b>
              </label>
            </div>
            <div class="col-6 text-right">
              <label for="product">
                <!-- <b>Disp</b> {{productSelectedAvailable}} -->
              </label>
            </div>
          </div>

          <!-- SELECT PRODUCTOS -->
          <div class="row">
            <div class="col-12">
              <el-select
                v-model="selectedServiceRequest.product_id"
                filterable
                id="product"
                placeholder="Seleccione producto"
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                remote
                :remote-method="searchProducts"
              >
                <el-option
                  v-for="product in products"
                  :key="product.id"
                  :value="product.id"
                  :label="
                    product.code +
                      ' - ' +
                      product.description +
                      ' - ' +
                      product.stock
                  "
                ></el-option>
              </el-select>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row mx-2 mb-2"
        v-if="
          selectedServiceRequest.stateSelectedUpdate &&
            selectedServiceRequest.stateSelectedUpdate.id == 10
        "
      >
        <div class="col-12">
          <label for="unit_value">
            <b>Vr Unitario</b>
          </label>

          <b-form-input
            type="number"
            id="unit_value"
            name="unit_value"
            class="form-control"
            data-vv-as=" "
            size="lg"
            v-model="selectedServiceRequest.data.unit_value"
          ></b-form-input>
        </div>
      </div>

      <!-- TABLA AGREGAR PRODUCTO -->
      <div
        v-if="
          !selectedServiceRequest.loader &&
            selectedServiceRequest.data.next_state.length > 0 &&
            selectedServiceRequest.data.next_state[0].id == 38
        "
        class="row mt-4"
      >
        <div class="col-12">
          <TableAddProduct code_line_filter="050" />
        </div>
      </div>

      <!-- BOTONES PARA SELECCIONAR EL SIGUIENTE ESTADO -->
      <div
        v-if="
          !selectedServiceRequest.loader &&
            selectedServiceRequest.data.next_state.length != 0
        "
        class="row mx-2 mt-4"
      >
        <div class="col-12">
          <div
            class="mb-2"
            v-if="selectedServiceRequest.data.next_state[0].join_name"
          >
            <b>{{ selectedServiceRequest.data.next_state[0].join_name }}</b>
          </div>
        </div>
        <div
          v-for="(state, index) in selectedServiceRequest.data.next_state"
          :key="index"
        >
          <el-radio
            class="mx-2"
            :label="state"
            border
            v-model="selectedServiceRequest.stateSelectedUpdate"
            >{{ state.name }}</el-radio
          >
        </div>
        <div v-if="selectedServiceRequest.data.state_close">
          <el-radio
            v-if="validateStateDefaultClose()"
            class="mx-2"
            :label="selectedServiceRequest.data.state_close"
            border
            v-model="selectedServiceRequest.stateSelectedUpdate"
            >{{ selectedServiceRequest.data.state_close.name }}</el-radio
          >
        </div>
      </div>

      <!-- OBSERVACION -->
      <div v-if="!selectedServiceRequest.loader" class="row mt-5 ml-1">
        <div class="col-12">
          <label for="observation">Observaciones</label>
          <b-form-textarea
            id="observation"
            placeholder="Observaciones..."
            rows="3"
            max-rows="6"
            v-model="selectedServiceRequest.observation"
          ></b-form-textarea>
        </div>
      </div>

      <!-- BOTON ACTUALIZAR ESTADO -->
      <div
        v-if="!selectedServiceRequest.loader"
        class="row mx-2 mt-4 ml-1 text-center"
      >
        <b-button
          variant="success"
          block
          @click="confirmUpdateStateServiceRequest"
          :disabled="
            selectedServiceRequest.stateSelectedUpdate == null ||
              selectedServiceRequest.data.next_state.length == 0
          "
          >Actualizar estado</b-button
        >
      </div>
      <div class="row" v-if="!selectedServiceRequest.loader">
        <div class="col-12  mt-2 mx-2">
          <button
            class="btn btn-sm btn-secondary float-left my-2"
            @click="closeModalParent()"
          >
            Cerrar
          </button>
        </div>
      </div>

      <!-- LOADER -->
      <div v-if="selectedServiceRequest.loader" class="row mt-5">
        <div class="col-12 text-center">
          <b-spinner label="Spinning"></b-spinner>
        </div>
      </div>
    </div>

    <!-- LINEA DEL TIEMPO -->
    <div class="border-left bg-wsp" :class="view ? 'col-12' : 'col-5'">
      <div class="row">
        <div class="col-12 text-center bg-u2">
          <h3>Actividades del Proceso</h3>
        </div>
      </div>
      <!-- <h3 class="title-proces text-center">Actividades del Proceso</h3> -->
      <ul class="schedule-cont row-history">
        <li
          v-for="(historyState, index) in selectedServiceRequest.historyStates"
          :key="index"
          class="item"
          :class="historyState.completed ? 'success' : ''"
        >
          <div
            class="data"
            :class="historyState.completed ? 'back-green' : 'back-gray'"
          >
            <p :class="historyState.completed ? '' : 'py-2'">
              <span>
                <b>{{ historyState.name }}</b>
                <button
                  v-if="historyState.document"
                  class="btn btn-sm btn-primary ml-2"
                  @click="viewPdf(historyState.document.invoice_link)"
                >
                  <i class="ti-printer"></i>
                </button>
                <br />
              </span>

              <span v-if="historyState.completed">
                <b>{{ historyState.date }}</b>
                <br />
              </span>

              <span v-if="historyState.completed">
                <b>Usuario: </b>{{ historyState.user.name }}
                {{ historyState.user.surname ? historyState.user.surname : "" }}
                <br />
              </span>

              <span v-if="historyState.completed">
                <b>Observaciones: </b> {{ historyState.observation }}
              </span>
            </p>
          </div>
        </li>
      </ul>

      <div v-if="view" class="row">
        <div class="col-12">
          <button
            class="btn btn-sm btn-secondary float-right my-2"
            @click="closeModalParent()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>

    <!-- MODAL PDF -->
    <b-modal
      v-model="isVisible"
      size="xl"
      hide-footer
      header-class="header-modal-pdf"
      no-close-on-backdrop
      no-close-on-esc
    >
      <!-- HEADER -->
      <template v-slot:modal-header="{ close }">
        <h5>PDF</h5>
        <button @click="closeModal()" class="btn btn-sm btn-secondary">
          Cerrar
        </button>
      </template>

      <!-- MAIN -->
      <div class="container-modal-pdf">
        <!-- PDF -->
        <div class="row">
          <div class="col-12" v-if="filename">
            <iframe
              style="min-height: 700px; width: 100%;"
              :src="pathPdf"
            ></iframe>
          </div>
          <div v-else class="w-100 text-center text-muted">
            Falta nombre del archivo
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import ModalPdf from "../u2/ModalPdf";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import TableAddProduct from "./components/TableAddProduct";
import {getApiDomain} from "../../util/domains";

export default {
  props: {
    view: {
      default: false,
      type: Boolean
    }
  },
  components: {
    ModalPdf,
    TableAddProduct
  },
  data() {
    return {
      isVisible: false,
      filename: ""
    };
  },
  watch: {
    fileName(newval) {
      this.isVisible = true;
      this.filename = newval;
    }
  },
  computed: {
    ...mapState("requestService", [
      "selectedServiceRequest",
      "fileName",
      "products"
    ]),
    pathPdf() {
      let path = getApiDomain() + this.fileName + "#zoom=130";
      return path;
    },
    productSelectedAvailable() {
      let product = this.products.find(
        p => p.id === this.selectedServiceRequest.product_id
      );

      if (product) {
        if (product.inventory.length > 0) {
          return product.inventory[0].available;
        }
      }
      return 0;
    }
  },
  methods: {
    validateChangeProduct() {
      if (this.selectedServiceRequest.data.next_state.length > 0) {
        if (this.selectedServiceRequest.data.next_state[0].id == 5) {
          return true;
        }

        if (this.selectedServiceRequest.data.next_state[0].id == 28) {
          return true;
        }

        if (this.selectedServiceRequest.data.next_state[0].id == 17) {
          return true;
        }

        if (this.selectedServiceRequest.stateSelectedUpdate) {
          if (this.selectedServiceRequest.stateSelectedUpdate.id == 10) {
            return true;
          }
        }
      }

      return false;
    },
    validateStateDefaultClose() {
      let res = this.selectedServiceRequest.data.next_state.find(
        ns => ns.name == "Cerrada"
      );

      if (res) {
        return false;
      }
      return true;
    },
    ...mapActions("requestService", [
      "updateStateServiceRequest",
      "searchProducts"
    ]),
    ...mapMutations("requestService", ["setShowModalPdf", "setPDf"]),
    closeModal() {
      this.isVisible = false;
      this.filename = "";
      this.$emit("closeModal", true);
    },
    closeModalParent() {
      this.$emit("closeModalActivitiesProcess", true);
    },
    confirmUpdateStateServiceRequest() {
      // Validar
      if (
        this.selectedServiceRequest.data.next_state.length > 0 &&
        this.selectedServiceRequest.data.next_state[0].id == 38
      ) {
        let number_batteries = parseInt(
          this.selectedServiceRequest.data.number_batteries
        );
        let quantity = 0;
        this.selectedServiceRequest.products.map(
          p => (quantity += parseInt(p.quantity))
        );

        if (quantity > number_batteries) {
          this.$alert(
            "La cantidad de productos no debe ser mayor a la cantidad definida en la solicitud de servicio.",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "order-box",
              dangerouslyUseHTMLString: true
            }
          );
          return;
        }
      }
      let message = `Esta seguro de ${this.selectedServiceRequest.stateSelectedUpdate.name}`;
      let product = "";

      if (this.selectedServiceRequest.data.product) {
        product = `${this.selectedServiceRequest.data.product.code} - ${this.selectedServiceRequest.data.product.description}`;
      }

      this.$confirm(product, message, {
        confirmButtonText: "SI",
        cancelButtonText: "NO",
        type: "warning",
        customClass: "notification-warning"
      }).then(result => {
        if (result) {
          this.updateStateServiceRequest();
        }
      });
    },
    closeRequestService(state) {
      this.selectedServiceRequest.stateSelectedUpdate = state;
      this.confirmUpdateStateServiceRequest();
    },
    viewPdf(fileName) {
      this.isVisible = true;
      this.filename = fileName;
    }
  },
  created() {
    if (this.selectedServiceRequest.data.product) {
      //this.products = []
      this.selectedServiceRequest.product_id = this.selectedServiceRequest.data.product.id;
      this.searchProducts(this.selectedServiceRequest.data.product.code);
      //this.products.push(this.selectedServiceRequest.data.product)
    }
  }
};
</script>

<style scoped>
.bg-wsp {
  background: #ece5dd;
}
.border-b {
  margin-left: 10px;
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
}
.border-left {
  width: 110%;
  border-left: solid;
  border-width: 1px;
}
.back-green {
  border-radius: 5px;
  background: #dcf8c6;
  /* background: rgb(220, 248, 198); */
  /* background: #8ae6b7; */
  margin-left: 5px;
}
.back-gray {
  border-radius: 5px;
  /* background: #bec0bd; */
  background: #fff;
  margin-left: 5px;
}

.table-info-u2 {
  width: 100%;
}

.bg-u2 {
  background: #007db3 !important;
  color: #fff;
}

.table-info-u2 th {
  width: 110px !important;
}

.row-history {
  max-height: 500px;
  overflow-y: scroll;
}

.row-history .item {
  width: 100% !important;
  min-width: 100% !important;
  text-align: left !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.float-right {
  float: right !important;
}
</style>

<style>
.header-modal-pdf {
  background: #007db3 !important;
  color: #fff;
}

.container-modal-pdf {
  width: 100%;
  margin: 5px;
}
</style>
