<template>
  <div class="container-fluid">
    <!-- FILTROS -->
    <div class="row mb-3">
      <div class="col-12 col-md-4">
        <label for="">Rango de fechas</label>
        <br />
        <el-date-picker
          v-model="tableServiceRequests.params.dateRange"
          type="daterange"
          range-separator="|"
          start-placeholder="Desde"
          end-placeholder="Hasta"
          format="yyyy-MM-dd"
          value-format="yyyy-MM-dd"
          class="mr-2 w-100"
          @change="getServiceRequests()"
        >
        </el-date-picker>
      </div>

      <div class="col-12 col-md-4">
        <label for="">Tipo Solicitud</label>
        <el-select
          id="type_service"
          placeholder="Seleccione Tipo de solicitud"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="tableServiceRequests.params.service_requests_types_id"
          @change="_getStateByServiceRequestType"
        >
          <el-option
            v-for="type in types"
            :key="type.id"
            :label="type.name"
            :value="type.id"
          >
          </el-option>
        </el-select>
      </div>

      <div class="col-12 col-md-4">
        <label for="">Estado</label>
        <el-select
          placeholder="Seleccione estado de solicitud"
          no-data-text="Primero Seleccione Tipo De Solicitud"
          no-match-text="No hay datos que coincidan"
          v-model="tableServiceRequests.params.service_requests_state_id"
          @change="getServiceRequests"
        >
          <el-option
            v-for="state in serviceRequestsStates"
            :key="state.id"
            :label="state.name"
            :value="state.id"
          >
          </el-option>
        </el-select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <button class="btn btn-success" @click="dowloadRequestServiceData()">
          Descargar Solicitudes en Proceso
        </button>
      </div>
    </div>

    <!-- TABLA -->
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table
            class="table table-sm table-bordered table-hover table-u2 table-request-service"
          >
            <thead>
              <tr>
                <th>
                  Fec Solicitud
                  <br />
                  Fec Ult Movto
                </th>
                <th>
                  Identificacion
                  <br />
                  Cod Producto
                </th>
                <th>
                  Cliente / Producto
                </th>
                <th>
                  Vendedor
                </th>
                <th>
                  Tipo Solicitud
                </th>
                <th>
                  Estado Solicitud
                </th>
                <th>
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody v-if="!tableServiceRequests.loader">
              <tr
                v-for="(item, index) in tableServiceRequests.data"
                :key="index"
              >
                <td>
                  {{ item.date }}
                  <br />
                  {{ item.actual_state.date }}
                </td>
                <td>
                  {{ item.contacts_warehouse.code }}
                  <br />
                  <span v-if="item.product">{{ item.product.code }}</span>
                </td>
                <td>
                  {{ item.contact.name }}
                  <br />
                  <span v-if="item.product">{{
                    item.product.description
                  }}</span>
                </td>
                <td>
                  {{ item.seller.name }}
                </td>
                <td>
                  {{ item.type.name }}
                </td>
                <td class="text-center">
                  {{ item.actual_state.state.name.toUpperCase() }}
                </td>

                <td>
                  <div class="text-center">
                    <b-form inline>
                      <b-button
                        @click="setActivitiesProcess(item, false)"
                        variant="success"
                        class="mr-2"
                        >Actualizar estado</b-button
                      >
                      <b-button
                        @click="setActivitiesProcess(item, true)"
                        variant="info"
                        >Ver detalle</b-button
                      >
                    </b-form>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody v-if="tableServiceRequests.loader">
              <!-- LOADER TABLA -->
              <tr>
                <td colspan="25" class="text-center">
                  <b-spinner label="Spinning"></b-spinner>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- PAGINACION E INFORMACION DE LA TABLA -->
    <div class="row">
      <div class="col-md-12">
        <div class="table-information">
          <div class="row">
            <div class="col-12 col-md-12">
              <p>
                Mostrando {{ pagination.from }} a {{ pagination.to }} de
                {{ pagination.total }} resultados
              </p>
            </div>

            <div class="col-12 col-md-6 my-1 form-inline">
              <label>Registros por página: &nbsp;</label>
              <b-form-select
                v-model="tableServiceRequests.params.perPage"
                @change="getServiceRequests()"
                :options="[5, 30, 100]"
              />
            </div>

            <div class="col-12 col-md-6">
              <b-pagination
                align="right"
                v-model="tableServiceRequests.params.page"
                :total-rows="pagination.total"
                :per-page="pagination.per_page"
                aria-controls="my-table"
                @change="getServiceRequests()"
              ></b-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL CAMBIAR ESTADO -->
    <b-modal
      id="modal-activities-process"
      hide-header
      hide-footer
      size="xl"
      class="p-0"
      @hidden="getServiceRequests"
    >
      <ActivitiesProcess
        :view="ActivitiesProcessView"
        @closeModalActivitiesProcess="closeModalActivitiesProcess"
      />
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import ActivitiesProcess from "./ActivitiesProcess";

export default {
  data() {
    return {
      ActivitiesProcessView: false
    };
  },
  components: {
    ActivitiesProcess
  },
  methods: {
    closeModalActivitiesProcess() {
      this.$bvModal.hide("modal-activities-process");
    },
    async _getStateByServiceRequestType(text) {
      await this.getStateByServiceRequestType(text);
      await this.getServiceRequests();
    },
    ...mapActions("requestService", [
      "getServiceRequests",
      "fetchTypes",
      "getStateByServiceRequestType"
    ]),
    ...mapMutations("requestService", [
      "setSelectedServiceRequest",
      "setHistoryStateServiceRequest"
    ]),

    //
    async setActivitiesProcess(item, view) {
      this.ActivitiesProcessView = view;
      await this.setSelectedServiceRequest(item);
      await this.setHistoryStateServiceRequest();
      this.$bvModal.show("modal-activities-process");
    },

    dowloadRequestServiceData() {
      let column = [
        "TIPO SOLICITUD",
        "FECHA SOLICITUD",
        "IDENT CLIENTE",
        "NOMBRE CLIENTE",
        "TELÉFONO",
        "DIRECCIÓN",
        "VENDEDOR",
        "COD PRODUCTO",
        "DESCRIPCIÓN PROD",
        "UNIDADES",
        "LOTE",
        "FEC VENC",
        "ESTADO",
        "FECHA HORA ESTADO"
      ];

      let dataTable = [];
      let dataCsv = "";
      const dataGrid = this.tableServiceRequests.data;

      dataGrid.map((d, indexd) => {
        if (d.actual_state.state.name != "Cerrada") {
          let warehouse = d.contact.warehouses[0]
            ? d.contact.warehouses[0]
            : null;

          let info = [
            d.type.name,
            d.date,
            d.contact.identification,
            d.contact.name + " " + d.contact.surname,
            warehouse ? warehouse.telephone : null,
            warehouse ? warehouse.address : null,
            d.seller ? d.seller.name + " " + d.seller.surname : null,
            d.product ? d.product.code : null,
            d.product ? d.product.description : null,
            d.number_batteries ? d.number_batteries : 1,
            d.lot,
            d.due_date,
            d.actual_state.state.name,
            d.actual_state.date
          ];

          dataTable.push(info);
        }
      });

      dataTable.unshift(column);

      dataTable.map(dg => {
        dataCsv += dg.join(";");
        dataCsv += "\n";
      });

      var universalBOM = "\uFEFF";
      var hiddenElement = document.createElement("a");
      hiddenElement.href =
        "data:text/csv; charset=utf-8," +
        encodeURIComponent(universalBOM + dataCsv); //encodeURI(dataCsv);
      hiddenElement.target = "_blank";
      hiddenElement.download = "solicitudes-servicio.csv";
      hiddenElement.click();
    }
  },
  computed: {
    ...mapState("requestService", [
      "columns",
      "item",
      "tableServiceRequests",
      "selectedServiceRequest",
      "types",
      "serviceRequestsStates"
    ]),

    pagination() {
      return this.tableServiceRequests.pagination;
    }
  },
  //
  created() {
    this.fetchTypes();
    this.getServiceRequests();
  }
};
</script>

<style scoped>
.table-u2 > thead th {
  background-color: #007db3 !important;
  color: white;
  text-align: center;
  border: none;
}

.table-request-service {
  width: 100%;
  min-width: 1200px !important;
}
</style>
