<template>
  <card title="<i class='fa fa-users'></i> Terceros">
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <el-checkbox label="Cliente" @change="setIsCustomer"></el-checkbox>
        <el-select
          id="customerCategories"
          name="customerCategories[]"
          :disabled="!is_customer"
          multiple
          clearable
          filterable
          placeholder=""
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="customerCategoriesComp"
          @focus="fetchCategoriesCustomers()"
          @change="setCustomerCategories"
        >
          <el-option
            v-for="item in categoriesCustomers"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <el-checkbox label="Proveedor" @change="setIsProvider"></el-checkbox>
        <el-select
          id="providerCategories"
          name="providerCategories[]"
          :disabled="!is_provider"
          multiple
          clearable
          filterable
          placeholder=" "
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="providerCategoriesComp"
          @focus="fetchCategoriesProviders()"
          @change="setCustomerCategories"
        >
          <el-option
            v-for="item in categoriesProviders"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </div>
      <div class="form-group col-sm-4 col-md-3">
        <el-checkbox
          label="Empleado"
          :value.sync="is_employee"
          @change="setIsEmployee"
        ></el-checkbox>
        <el-select
          id="employeeCategories"
          name="employeeCategories[]"
          :disabled="!is_employee"
          multiple
          clearable
          filterable
          placeholder=" "
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="employeeCategoriesComp"
          @focus="fetchCategoriesEmployees()"
          @change="setEmployeeCategories"
        >
          <el-option
            v-for="item in categoriesEmployees"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-12">
        <b-form-group label="" class="mb-0">
          <b-input-group>
            <b-form-input
              v-model="params.query"
              placeholder=""
              id="filter-contacts"
              style="text-transform: uppercase"
            />
            <b-input-group-append>
              <b-btn @click.prevent="filterText" id="botones"
              ><span class="ti-search"> </span>&nbsp; Buscar
              </b-btn
              >
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>
      <div class="col-md-3 col-sm-12">
        <b-button
          to="/terceros/crear"
          id="boton-nuevo"
          class="button button-rounded button-primary-flat hvr-shrink float-right"
        >
          Nuevo
        </b-button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <b-button
          @click="downloadExcelDataCredit"
          size="sm"
          variant="success"
          :disabled="downloadExcelDataCreditLoading"
        >
          <i class="fa fa-file"></i>
          <span>Descargar archivo data credito</span>
          <i
            v-if="downloadExcelDataCreditLoading"
            class="ml-2 fa fa-spinner fa-spin"
          ></i>
        </b-button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <b-table
            striped
            hover
            show-empty
            :items="contactsC"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sort"
            class="font-weight-bold"
            empty-text="No existen terceros registrados"
          >
            <!--Template para cargar badge del tipo de tercero-->
            <template v-slot:cell(contact_type)="row">
              <h5 class="text-center">
                <b-badge href="#" variant="primary" v-if="row.item.is_customer">
                  Cliente
                </b-badge>
                <b-badge href="#" variant="info" v-if="row.item.is_provider">
                  Proveedor
                </b-badge>
                <b-badge
                  href="#"
                  variant="secondary"
                  v-if="row.item.is_employee"
                >
                  Empleado
                </b-badge>
                <b-badge href="#" variant="warning" v-if="row.item.is_other">
                  Otro
                </b-badge>
              </h5>
            </template>

            <!--Template para cargar el nombre del tercero-->
            <template v-slot:cell(fullname)="row">
              {{ row.item.name }} {{ row.item.surname }}
            </template>

            <!--Template para cargar las acciones-->
            <template v-slot:cell(actions)="row" class="text-center">
              <b-button
                size="sm"
                variant="secondary"
                class="mt-1 button-table"
                :to="`/terceros/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                v-if="permissions.some(p => p.permission == 'Editar terceros')"
                size="sm"
                id="botones"
                class="mt-1 button-table"
                :to="`/terceros/${row.item.id}/editar`"
              >
                Editar
              </b-button>
              <b-button
                v-if="permissions.some(p => p.permission == 'Editar terceros')"
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="questionDelete(row.item)"
              >
                Eliminar
              </b-button>
            </template>
          </b-table>
        </div>
        <div class="text-center" v-if="loading">
          <i class="fa fa-fw fa-spinner fa-spin"></i> Cargando ...
        </div>
        <div v-else>
          <p>{{ contactsC.length }} resultados</p>
        </div>
      </div>
    </div>
  </card>
</template>

<script>
  import Vue from "vue";

  import {mapActions, mapState, mapMutations, mapGetters} from "vuex";
  import Card from "../../components/pages/card/card";
  import {MessageBox} from "element-ui";

  export default {
    components: {
      Card
    },
    data() {
      return {
        fields: [
          {
            key: "identification",
            label: "Identificación",
            sortable: true,
            thStyle: {width: "90px !important"}
          },
          {
            key: "fullname",
            label: "Nombres / Razón social",
            sortable: true,
            thStyle: {"min-width": "290px !important"}
          },
          {
            key: "address",
            label: "Dirección",
            sortable: true,
            thStyle: {"min-width": "200px !important"}
          },
          {
            key: "main_telephone",
            label: "Teléfono",
            sortable: true,
            thStyle: {width: "90px !important"}
          },
          {
            key: "cell_phone",
            label: "Celular",
            sortable: true,
            thStyle: {width: "90px !important"}
          },
          {
            key: "contact_type",
            label: "Tipo",
            thStyle: {
              width: "240px !important",
              "min-width": "240px !important"
            }
          },
          {
            key: "actions",
            label: "Opciones",
            thStyle: {
              "min-width": "248px !important",
              width: "248px !important"
            }
          }
        ],
        sortBy: "name",
        sort: true,
        page: 1,
        last_page: 1,
        contactsC: [],
        scrollDisabled: true,
        loading: false,
        customerCategoriesComp: [],
        providerCategoriesComp: [],
        employeeCategoriesComp: []
      };
    },
    created() {

      // this.customerCategoriesComp = this.customerCategories
      // this.providerCategoriesComp = this.providerCategories
      // this.employeeCategoriesComp = this.employeeCategories

      this.setGetContactEdit(true)
      this.resetSelectedContact()
      this.filterText("")

      this.fetchDocumentTypes();
      this.fetchDepartments();
      this.fetchPersonClasses();
      this.fetchTaxpayerTypes();
      this.fetchTaxRegimes();
      this.fetchFiscalResponsibilitys();

      this.setGetContactEdit(true);
      this.resetSelectedContact();
      this.filterText("");
    },
    mounted() {
      window.addEventListener("scroll", this.scroll);

      let filter = document.getElementById("filter-contacts");
      let interval;

      filter.addEventListener(
        "keyup",
        () => {
          clearInterval(interval);
          interval = setInterval(() => {
            this.filterText();
            clearInterval(interval);
          }, 500);
        },
        false
      );
    },
    beforeDestroy() {
      window.removeEventListener("scroll", this.scroll);
    },
    methods: {
      ...mapActions('contacts', [
        'fetchContacts',
        'removeContact',
        'setFilterPagination',
        'setPerPagePagination',
        'setPagePagination',
        'setSortByPagination',
        'setSortPagination',
        'getContactEdit',
        'fetchCategoriesEmployees',
        'fetchCategoriesProviders',
        'fetchCategoriesCustomers',
        'fetchDocumentTypes',
        'fetchDepartments',
        'fetchPersonClasses',
        'fetchTaxpayerTypes',
        'fetchTaxRegimes',
        'fetchFiscalResponsibilitys'
      ]),
      ...mapMutations("contacts", [
        "setAction",
        "setContact",
        "resetContacts",
        "resetSelectedContact",
        "setPerPage",
        "setFilter",
        "setGetContactEdit",
        "setIsCustomer",
        "setIsProvider",
        "setIsEmployee",
        "setCustomerCategories",
        "setProviderCategories",
        "setEmployeeCategories"
      ]),
      questionDelete(contact) {
        this.$confirm(
          "Esto eliminara de forma permanente el tercero. ¿Desea continuar?",
          "Eliminar",
          {
            confirmButtonText: "Aceptar",
            cancelButtonText: "Cancelar",
            type: "warning",
            customClass: "notification-warning"
          }
        ).then(result => {
          if (result) {
            this.deleteContact(contact);
          }
        });
      },
      deleteContact(contact) {
        this.removeContact(contact);
      },
      async filterText() {
        this.contactsC = [];
        this.page = 1;
        this.params.page = 1;
        this.scrollDisabled = false;
        if (!this.loading) {
          this.loading = true;
          await this.fetchContacts();
          this.page++;

          this.loading = false;

          if (this.contacts.data.length) {
            this.last_page = this.contacts.last_page;
            this.contactsC = this.contacts.data;
            this.resetContacts();
          }
        }
        this.scrollDisabled = true;
      },
      async scroll() {
        if (this.scrollDisabled) {
          let bottomOfWindow = Math.round(
            document.documentElement.offsetHeight -
            document.documentElement.scrollTop
          );
          if (bottomOfWindow <= 1350) {
            if (this.page >= 0 && this.page <= this.last_page) {
              if (!this.loading) {
                this.params.page = this.page;
                this.loading = true;
                await this.fetchContacts();

                this.page++;
                setTimeout(() => {
                  this.loading = false;
                }, 1000);

                if (this.contacts.data.length) {
                  this.last_page = this.contacts.last_page;
                  this.contactsC = this.contactsC.concat(this.contacts.data);
                  this.resetContacts();
                }
              }
            }
          }
        }
      },
      filtersContacts() {
        let filters = "id>0";

        if (this.is_customer) {
          filters += " AND is_customer=1";
          if (this.customerCategories.length) {
            filters += " AND (";
            for (let i = 0; i < this.customerCategories.length; i++) {
              if (i > 0) {
                filters += " OR";
              }
              filters += " customer.category_id=" + this.customerCategories[i];
            }
            filters += " )";
          }
        }

        if (this.is_provider) {
          if (this.is_customer) {
            filters += " OR is_provider=1";
          } else {
            filters += " AND is_provider=1";
          }

          if (this.providerCategories.length) {
            filters += " AND (";
            for (let i = 0; i < this.providerCategories.length; i++) {
              if (i > 0) {
                filters += " OR";
              }
              filters += " provider.category_id=" + this.providerCategories[i];
            }
            filters += " )";
          }
        }

        if (this.is_employee) {
          if (this.is_customer || this.is_provider) {
            filters += " OR is_employee=1";
          } else {
            filters += " AND is_employee=1";
          }

          if (this.employeeCategories.length) {
            filters += " AND (";

            for (let i = 0; i < this.employeeCategories.length; i++) {
              if (i > 0) {
                filters += " OR";
              }
              filters += " employee.category_id=" + this.employeeCategories[i];
            }
            filters += " )";
          }
        }

        return filters;
      }
    },
    computed: {
      ...mapGetters("contacts", [
        "getParams",
        "getCustomerCategories",
        "getProviderCategories",
        "getEmployeeCategories"
      ]),
      ...mapState("contacts", [
        "contacts",
        "selectedContact",
        "action",
        "params",
        "getContact",
        "categoriesEmployees",
        "categoriesProviders",
        "categoriesCustomers",
        "is_customer",
        "is_provider",
        "is_employee",
        "customerCategories",
        "providerCategories",
        "employeeCategories",
        "downloadExcelDataCreditLoading"
      ]),
      ...mapState("login", ["user_logued", "permissions"]),
      totalRows() {
        return this.contacts.total;
      }
    }
  };
</script>

<style>
  .el-input__inner {
    height: 31.25px;
  }
</style>
<!-- boton crear  -->
<style lang="sass">
  @import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
