<template>
  <div class="p-4">

    <!-- FILTROS -->
    <div class="row">
      <div class="form-group col-md-6">
        <label for="filter_date">Sede</label>
        <el-select
          :disabled="load"
          filterable
          clearable
          size="small"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="params.branchoffice_id"
        >
          <el-option
            v-for="branchoffice in ListBranchOffices"
            :key="branchoffice.id"
            :label="branchoffice.name"
            :value="branchoffice.id"
          >
          </el-option>
        </el-select>
      </div>
      <div class="form-group col-md-6">
        <label for="filter_date">Fecha</label>
        <br>
        <el-date-picker
          :disabled="load"
          type="daterange"
          id="filter_date"
          name="filter_date"
          v-model="params.filterDate"
          ref="filter_date"
          range-separator="-"
          start-placeholder="Desde"
          end-placeholder="Hasta"
          v-validate="'required'"
          data-vv-as=" "
          value-format="yyyy-MM-dd"
          class="form-control input"
        >
        </el-date-picker>
      </div>
    </div>

    <!-- BTN DESCARGAR -->
    <div class="row">
      <div class="col-md-12 mt-4">
        <b-button
          :disabled="load"
          block
          variant="primary"
          @click="_downloadDocument()"
        >
          <i
            v-if="load"
            class="fa fa-spinner fa-spin"
          ></i>
          <span v-if="!load">Descargar Pedidos</span>
          <span v-else>Descargando Pedidos...</span>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'

export default {
  data () {
    return {
      load: false,
      params: {
        filterDate: [],
        branchoffice_id: null,
        model_id: 1
      }
    }
  },
  methods: {
    ...mapActions('branchOffices', [
      'fetchBranchOffices',
    ]),
    ...mapActions('inventoryMovements', [
      'downloadDocument',
    ]),
    async _downloadDocument () {
      if (this.params.filterDate.lengt == 0) {
        return
      }
      this.load = true

      await this.downloadDocument(this.params)

      this.load = false
    },

  },
  computed: {
    ...mapState('branchOffices', [
      'ListBranchOffices',
    ]),
  },
  async created () {
    // Seteamos la fecha
    var dt = new Date();

    // Fecha Actual
    this.params.filterDate[1] = dt.toISOString().substring(0, 10);

    //Hace 30 Dias
    dt.setDate(dt.getDate() - 30);
    this.params.filterDate[0] = dt.toISOString().substring(0, 10);

    await this.fetchBranchOffices({ paginate: false });
    this.params.branchoffice_id = parseInt(localStorage.selected_branchoffice);
  }
}
</script>