<template>
  <div class="container-fluid">
    <!-- FILTROS -->
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <label for="filter_date">Sede</label>
            <el-select
              filterable
              clearable
              size="small"
              no-data-text="Cargando datos..."
              value
              no-match-text="No hay datos que coincidan"
              v-model="TableSearchGlobal.params.branchoffice_id"
            >
              <el-option
                v-for="branchoffice in ListBranchOffices"
                :key="branchoffice.id"
                :label="branchoffice.name"
                :value="branchoffice.id"
              ></el-option>
            </el-select>
          </div>
          <div class="col-3">
            <label for="filter_date">Bodega</label>
            <el-select
              filterable
              clearable
              size="small"
              no-data-text="Cargando datos..."
              value
              no-match-text="No hay datos que coincidan"
              v-model="TableSearchGlobal.params.warehouse_id"
            >
              <el-option
                v-for="branchoffice_warehouse in branchoffice_warehouses"
                :key="branchoffice_warehouse.id"
                :label="branchoffice_warehouse.warehouse_description"
                :value="branchoffice_warehouse.id"
              ></el-option>
            </el-select>
          </div>
          <!-- FECHA -->
          <div class="col-3" style="border-left: 1px solid #ccc">
            <label for="filter_date">Fecha desde:</label>
            <el-date-picker
              type="date"
              size="small"
              placeholder="Seleccione fecha"
              format="yyyy-MM-dd"
              value-format="yyyy-MM-dd"
              v-model="TableSearchGlobal.params.dateFrom"
            ></el-date-picker>
          </div>

          <div class="col-3">
            <label for="filter_date">Fecha hasta:</label>
            <el-date-picker
              type="date"
              size="small"
              placeholder="Seleccione fecha"
              format="yyyy-MM-dd"
              value-format="yyyy-MM-dd"
              v-model="TableSearchGlobal.params.dateTo"
            ></el-date-picker>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <label for="filter_date">Tipo comprobante</label>
            <el-select
              filterable
              clearable
              size="small"
              no-data-text="Cargando datos..."
              value
              no-match-text="No hay datos que coincidan"
              v-model="TableSearchGlobal.params.vouchertype_id"
            >
              <el-option
                v-for="vouchersType in vouchersTypes"
                :key="vouchersType.id"
                :label="`(${vouchersType.code_voucher_type}) ${vouchersType.name_voucher_type}`"
                :value="vouchersType.id"
              ></el-option>
            </el-select>
          </div>
          <div class="col-3">
            <label for="filter_date">Modelo</label>
            <el-select
              filterable
              clearable
              size="small"
              no-data-text="Cargando datos..."
              value
              no-match-text="No hay datos que coincidan"
              v-model="TableSearchGlobal.params.model_id"
            >
              <el-option
                v-for="model in modelsByVouchersType"
                :key="model.id"
                :label="`(${model.code}) ${model.description}`"
                :value="model.id"
              ></el-option>
            </el-select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3">
            <label for="filter_date">Tercero:</label>
            <b-form-input
              @keyup.enter="searchList"
              v-model="TableSearchGlobal.params.contact_id"
            ></b-form-input>
          </div>

          <div class="col-3">
            <label for="filter_date">Consecutivo:</label>
            <b-form-input
              placeholder="Busqueda por Consecutivo"
              @keyup.enter="searchList"
              v-model="TableSearchGlobal.params.filterText"
            ></b-form-input>
          </div>

          <div class="col-3 pt-4">
            <b-button
              size="lg"
              class="mt-1"
              variant="secondary"
              @click="searchList"
              >Listar</b-button
            >
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA -->
    <div class="row">
      <div class="col-md-12">
        <b-table
          select-mode="single"
          :selectable="sselectable"
          @row-selected="onRowSelected"
          responsive
          :items="dataTable"
          :fields="columnsTable"
          data-vv-name="table"
          class="table-order mt-5"
          striped
          small
          :busy="TableSearchGlobal.loading"
          show-empty
          thead-tr-class="text-nowrap text-center"
          bordered
          table-class="tiny-text-table"
        >
          <!-- CLIENTE -->
          <template v-slot:cell(warehouse)="row">
            <div class="text-nowrap" v-if="row.item.warehouse">
              {{ row.item.contact.identification }} -
              {{ row.item.contact.name }}
            </div>
          </template>

          <!-- VENDEDOR -->
          <template v-slot:cell(seller.name)="row">
            <div class="text-nowrap">
              <span v-if="row.item.seller"
                >{{ row.item.seller.name }}
                {{
                  row.item.seller.surname ? row.item.seller.surname : ""
                }}</span
              >
            </div>
          </template>

          <!-- TOTAL VALUE -->
          <template v-slot:cell(total_value)="row">
            <div
              class="text-nowrap"
              v-if="row.item.vouchertype.affectation == '2'"
            >
              {{ row.item.accounting_debit_value | currency }}
            </div>
            <div class="text-nowrap" v-else>
              {{ row.item.total_value | currency }}
            </div>
          </template>

          <!-- ERP -->
          <template v-slot:cell(erp)="row">
            <div v-if="row.item.erp_id != null">
              <i class="el-icon-check color-primary check"></i>
            </div>
          </template>

          <!-- ERROR WMS -->
          <template v-slot:cell(error_wms)="row">
            <h5 class="text-center">

              <b-alert v-if="row.item.error_wms && row.item.error_wms.indexOf('OK') == 0" style="max-width: 40rem;" class="alert bg-success text-light" show>Enviado a WMS correctamente</b-alert>

              <b-alert v-if="row.item.error_wms && row.item.error_wms.indexOf('OK') !== 0" style="max-width: 40rem;" class="alert bg-danger text-light" show>{{ row.item.error_wms }}</b-alert>

              <b-alert v-if="row.item.error_wms == null && (row.item.template.select_send_wms == 1 || row.item.template.select_send_wms == 2) " style="max-width: 40rem;" class="alert bg-danger text-light" show>Documento No Enviado a WMS</b-alert>


            </h5>
          </template>

          <!-- ACCIONES -->
          <template v-slot:cell(actions)="row">
            <div class="text-nowrap" v-if="!from_accounting_module">
              <b-button
                v-if="row.item.module && row.item.module === 'crucesaldos'"
                class="btn btn-sm btn-info"
                :to="`/cruce-de-saldos/${row.item.id}`"
                >Ver</b-button
              >

              <b-button
                v-if="row.item.model_id != null"
                class="btn btn-sm btn-info"
                :to="
                  '/movimientos/' +
                  row.item.model_id +
                  '/' +
                  row.item.id +
                  '/ver'
                "
                >Ver</b-button
              >

              <b-button
                v-if="validateUpdateDocument(row.item)"
                class="btn btn-sm btn-warning"
                :to="
                  '/movimientos/' +
                  row.item.model_id +
                  '/' +
                  row.item.id +
                  '/actualizar/documento'
                "
                >Modificar</b-button
              >

              <b-button variant="success btn-sm" @click="downloadPdf(row.item)">
                Descargar
                <i class="fa fa-download"></i>
              </b-button>
            </div>
            <div class="text-nowrap" v-else>
              <b-button
                v-if="validateUpdateDocument(row.item)"
                class="btn btn-sm btn-warning"
                @click="onRowSelected([row.item])"
                >Modificar</b-button
              >

              <b-button
                variant="info btn-sm"
                @click="onRowSelected([row.item], true)"
              >
                ver
              </b-button>

              <b-button
                variant="success btn-sm"
                @click="downloadAccountingPdf(row.item)"
              >
                Descargar
                <i class="fa fa-download"></i>
              </b-button>
            </div>
          </template>

          <!-- LOADING -->
          <template v-slot:table-busy>
            <div class="text-center my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Cargando...</strong>
            </div>
          </template>

          <!-- EMPTY -->
          <template v-slot:empty="scope">
            <h6 class="text-center">No hay información...</h6>
          </template>
        </b-table>
      </div>
    </div>

    <!-- PAGINACION E INFORMACION DE LA TABLA -->
    <div class="row table-information">
      <div class="col-12">
        <p>
          Mostrando {{ pagination.from }} a {{ pagination.to }} de
          {{ pagination.total }} resultados
        </p>
      </div>

      <div class="col-6 my-1 form-inline">
        <label>Registros por página: &nbsp;</label>
        <b-form-select
          v-model="perPage"
          @change="searchList"
          :options="[5, 10, 15, 30, 100]"
        />
      </div>

      <div class="col-6">
        <b-pagination
          align="right"
          v-model="TableSearchGlobal.params.page"
          :total-rows="pagination.total"
          :per-page="pagination.per_page"
          aria-controls="my-table"
          @change="searchList()"
        ></b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";

export default {
  props: {
    sselectable: false,
    pmodel_id: null,
    pvouchers_types_id: null,
    from_accounting_module: { required: false, default: false },
    select_contacts: null,
    pcontact_id: null,
    pmodel_code: null,
  },
  components: {},
  data() {
    return {};
  },
  methods: {
    onRowSelected(items, watch_document = false) {
      items[0].watch_document = watch_document
      this.$emit("selectedDocument", items[0]);
    },
    ...mapActions("branchOffices", ["fetchBranchOffices"]),
    ...mapActions("branchOfficeWarehouses", [
      "fetchWarehousesByBranchOfficeId",
    ]),
    ...mapActions("vouchersTypes", ["fetchVouchersTypes"]),
    ...mapMutations("inventoryMovements", ['setTableSearchGlobalcolumns']),
    ...mapActions("inventoryMovements", [
      "fetchModels",
      "searchDocumentGlobal",
      "downloadDocument",
    ]),
    ...mapActions("various_vouchers", ["downloadAccountingDocument"]),
    ...mapActions("kardex", ["downloadDocument"]),
    downloadPdf(row) {
      this.downloadDocument(row);
    },
    downloadAccountingPdf(row) {
      this.downloadAccountingDocument(row);
    },
    validateManagerWms() {
      let subscrisber = JSON.parse(localStorage.user.subscribers);
      return subscrisber;
    },
    validateUpdateDocument(item) {
      // return false;
      let user = JSON.parse(localStorage.user);

      const permissions = JSON.parse(localStorage.permissions);
      let validation = true;

      if (!item.model_id) {
        validation = false;
      }

      // Ventas
      if (validation && item.template.operation_type != null) {
        const operationTypeCode = item.template.operation_type.code;
        let resultPermissions = null;
        switch (operationTypeCode) {
          case "010":
          case "205":
            resultPermissions = permissions.find(
              (p) => p.permission === "Modifica Doc Ventas"
            );

            if (!resultPermissions) {
              validation = false;
            }

            break;
          case "015":
          case "020":
          case "105":
            resultPermissions = permissions.find(
              (p) => p.permission === "Modifica Doc Compras"
            );

            if (!resultPermissions) {
              validation = false;
            }
            break;

          case "140":
          case "240":
            validation = false;
            break;
          default:
            break;
        }
      }

      // Validamos la fecha

      if (
        Date.parse(item.document_date) <
        Date.parse(user.subscribers[0].firmDate)
      ) {
        validation = false;
      }

      if (!item.modify_document_firm_date) {
        validation = false;
      }

      return validation;
    },
    //
    async initComponent() {
      // Ejecutamos las funciones de consulta
      console.log(localStorage);
      await this.fetchModels();
      
      let subscriber = JSON.parse(localStorage.getItem("subscriber"))
      let erp = subscriber ? subscriber.identification == '900338016' : false
      await this.setTableSearchGlobalcolumns(erp)

      await this.fetchVouchersTypes({
        params: {
          paginate: false,
          branchoffice: localStorage.selected_branchoffice,
        },
      });
      await this.fetchBranchOffices({ params: { paginate: false } });
      await this.vouchertypeIdByCode();

      // Asignamos valores
      this.TableSearchGlobal.params.branchoffice_id = parseInt(
        localStorage.selected_branchoffice,
        10
      );
      this.TableSearchGlobal.params.warehouse_id = parseInt(
        localStorage.selected_branchoffice_warehouse,
        10
      );

      // Validamos los parametros
      if (this.pvouchers_types_id != null) {
        this.TableSearchGlobal.params.vouchertype_id = this.pvouchers_types_id;
      }

      if (this.pcontact_id != null) {
        let contac_find = this.select_contacts.find(
          (el) => el.id == this.pcontact_id
        );
        this.TableSearchGlobal.params.contact_id =
          contac_find != undefined
            ? contac_find.name
            : this.TableSearchGlobal.params.contact_id;
      }

      // if (this.pmodel_id != null) {
      //   this.TableSearchGlobal.params.model_id = this.pmodel_id
      // }

      // Seteamos la fecha
      var dt = new Date();
      // Fecha Actual
      this.TableSearchGlobal.params.dateTo = dt.toISOString().substring(0, 10);
      this.TableSearchGlobal.params.dateFrom = this.formatDate(
        this.sumarDias(dt, -30)
      );
      //Hace 30 Dias
      // dt.setDate(dt.getDate() - 30);
      // this.TableSearchGlobal.params.dateFrom = dt
      //   .toISOString()
      //   .substring(0, 10);

      this.searchList();
    },
    sumarDias(fecha, dias) {
      fecha.setDate(fecha.getDate() + dias);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("-");
    },
    searchList() {
      this.searchDocumentGlobal();
    },
    vouchertypeIdByCode() {
      if (this.pmodel_code) {
        let vouchersType = this.vouchersTypes.find(
          (vt) => vt.code_voucher_type == this.pmodel_code
        );

        if (vouchersType) {
          this.TableSearchGlobal.params.vouchertype_id = vouchersType.id;
        }
      }
    },
  },
  computed: {
    ...mapState("vouchersTypes", ["vouchersTypes"]),
    ...mapState("branchOffices", ["ListBranchOffices"]),
    ...mapState("branchOfficeWarehouses", ["branchoffice_warehouses"]),
    ...mapState("inventoryMovements", ["TableSearchGlobal", "models"]),

    modelsByVouchersType() {
      const vouchertype_id = this.TableSearchGlobal.params.vouchertype_id;
      if (vouchertype_id) {
        let models = this.models.filter(
          (m) => m.voucherType_id == vouchertype_id
        );
        this.TableSearchGlobal.params.model_id =
          models.length == 1
            ? models[0].id
            : this.TableSearchGlobal.params.model_id;
        return models;
      }
      return this.models;
    },

    dataTable() {
      return this.TableSearchGlobal.data;
    },
    columnsTable() {
      return this.TableSearchGlobal.columns;
    },
    pagination() {
      return this.TableSearchGlobal.pagination;
    },
    //
    currentPage: {
      get: function () {
        return this.TableSearchGlobal.params.currentPage;
      },
      set: function (newValue) {
        this.TableSearchGlobal.params.currentPage = newValue;
      },
    },
    perPage: {
      get: function () {
        return this.TableSearchGlobal.params.perPage;
      },
      set: function (newValue) {
        this.TableSearchGlobal.params.perPage = newValue;
      },
    },
  },
  watch: {
    "TableSearchGlobal.params.branchoffice_id": async function (newVal) {
      this.fetchWarehousesByBranchOfficeId(newVal);
      this.TableSearchGlobal.params.warehouse_id = null;

      if (newVal) {
        await this.fetchVouchersTypes({
          params: { paginate: false, branchoffice: newVal },
        });
        this.TableSearchGlobal.params.vouchertype_id = null;
        await this.vouchertypeIdByCode();
      }
    },
  },
  // CIclo de vida
  created() {
    this.initComponent();
  },
  mounted() {},
};
</script>

<style>
.tiny-text-table tbody tr td {
  font-size: 12px !important;
}

.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
  width: 100%;
}
.modal-header {
  background: #007db3 !important;
  color: #fff;
}
.table-order .b-table > thead {
  background-color: #6699cc;
  color: white;
}

.content-detail table.table-products > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table.table-products > tbody td {
  background-color: #fff;
}
</style>

<style scoped>
.btn-icon-detail {
  cursor: pointer;
}
.btn-icon-detail:hover {
  opacity: 0.6;
}

.btn-link-client {
  /*color: rgb(148, 148, 148);*/
  color: #146f95ea !important;
}
.btn-link-client:hover {
  /*color: #000;*/
  color: #3b5998 !important;
}
.check {
  font-size: 20px;
  color: #6699cc;
}
</style>
