<template>
  <div class="module-content">
    <b-tabs pills>
      <b-tab active title="Cliente" class="mt-3" v-if="is_customer">
        <div
          class="row mt-4"
          v-for="(retention, index) in retentions"
          :key="index"
        >
          <div class="col-12">
            <span class="title-retention">Rete {{ retention.type }}</span>
            <div class="input-container mb-2" v-if="showValuesTotals">
              <div>
                <label>Valor Base Prod</label>
                <br />
                <Money
                  @blur.native="updateBaseRetentionDocument"
                  v-model="retention.base_value"
                  v-bind="money"
                />
              </div>

              <div class="ml-2">
                <label>Valor Base Serv</label>
                <br />
                <Money
                  @blur.native="updateBaseRetentionDocument"
                  v-model="retention.serv_base_value"
                  v-bind="money"
                />
              </div>
            </div>
          </div>

          <div class="col-12">
            <table class="table table-sm table-bordered" id="table-retention">
              <thead>
                <tr>
                  <th></th>
                  <th>Vr-limite</th>
                  <th>%</th>
                  <th>Cuenta</th>
                  <th v-if="showValuesTotals">Total</th>
                </tr>
              </thead>

              <tbody>
                <!-- PRODUCTO -->
                <tr>
                  <!-- TITULO -->
                  <th>Productos</th>

                  <!-- VALOR LIMITE -->
                  <td :class="edit ? 'row-edit' : null">
                    <Money
                      class="input-row"
                      v-model="retention.prod_vr_limit"
                      v-bind="money"
                    />
                  </td>

                  <!-- VALOR PORCENTAJE -->
                  <td :class="edit ? 'row-edit' : null">
                    <input
                      class="input-row"
                      type="number"
                      v-model="retention.prod_percentage"
                    />
                  </td>

                  <!-- CUENTA -->
                  <td class="row-edit">
                    <el-input
                      size="small"
                      @focus="openModalAccount($event, 'product', retention)"
                      :value="
                        `${retention.account ? retention.account.code : ''} - ${
                          retention.account ? retention.account.name : ''
                        }`
                      "
                    >
                      <i
                        slot="suffix"
                        class="el-input__icon el-icon-circle-close el-input__clear"
                        @click="
                          deleteAccountTemplateTransaction(retention, 'product')
                        "
                        v-if="retention.account"
                      ></i>
                    </el-input>
                  </td>

                  <!-- VALOR TOTAL -->
                  <td v-if="showValuesTotals" class="row-simple">
                    <span>{{ retention.prod_total | currency }}</span>
                  </td>
                </tr>
                <!-- SERVICIO -->
                <tr>
                  <!-- TITULO -->
                  <th>Servicios</th>

                  <!-- VALOR LIMITE -->
                  <td :class="edit ? 'row-edit' : null">
                    <Money
                      class="input-row"
                      v-model="retention.serv_vr_limit"
                      v-bind="money"
                    />
                  </td>

                  <!-- VALOR PORCENTAJE -->
                  <td :class="edit ? 'row-edit' : null">
                    <input
                      class="input-row"
                      type="number"
                      v-model="retention.serv_percentage"
                    />
                  </td>

                  <!-- CUENTA -->
                  <td class="row-edit" v-if="retention.type !== 'IVA'">
                    <el-input
                      size="small"
                      @focus="openModalAccount($event, 'service', retention)"
                      :value="
                        `${
                          retention.serv_account
                            ? retention.serv_account.code
                            : ''
                        } - ${
                          retention.serv_account
                            ? retention.serv_account.name
                            : ''
                        }`
                      "
                    >
                      <i
                        slot="suffix"
                        class="el-input__icon el-icon-circle-close el-input__clear"
                        @click="
                          deleteAccountTemplateTransaction(retention, 'service')
                        "
                        v-if="retention.serv_account"
                      ></i>
                    </el-input>
                  </td>

                  <!-- VALOR TOTAL -->
                  <td v-if="showValuesTotals" class="row-simple">
                    <span>{{ retention.serv_total | currency }}</span>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- VALOR TOTAL -->
            <table
              v-if="showValuesTotals"
              id="table-totals"
              class="table table-sm table-bordered font-weight-bold"
            >
              <tbody>
                <tr>
                  <td width="33.3%" colspan="2">
                    <p class="pin-table">TOTAL {{ retention.type }}</p>
                  </td>
                  <td width="33.3%">
                    <p class="pull-right pin-table">
                      {{ retention.total | currency }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </b-tab>

      <b-tab title="Proveedor" class="mt-3" v-if="is_provider">
        <div
          class="row mt-4"
          v-for="(retention, index) in retentionsProvider"
          :key="index"
        >
          <div class="col-12">
            <span class="title-retention">Rete {{ retention.type }}</span>
            <div class="input-container mb-2" v-if="showValuesTotals">
              <div>
                <label>Valor Base Prod</label>
                <br />
                <Money
                  @blur.native="updateBaseRetentionDocument"
                  v-model="retention.base_value"
                  v-bind="money"
                />
              </div>

              <div class="ml-2">
                <label>Valor Base Serv</label>
                <br />
                <Money
                  @blur.native="updateBaseRetentionDocument"
                  v-model="retention.serv_base_value"
                  v-bind="money"
                />
              </div>
            </div>
          </div>

          <div class="col-12">
            <table class="table table-sm table-bordered" id="table-retention">
              <thead>
                <tr>
                  <th></th>
                  <th>Vr-limite</th>
                  <th>%</th>
                  <th>Cuenta</th>
                  <th v-if="showValuesTotals">Total</th>
                </tr>
              </thead>

              <tbody>
                <!-- PRODUCTO -->
                <tr>
                  <!-- TITULO -->
                  <th>Productos</th>

                  <!-- VALOR LIMITE -->
                  <td :class="edit ? 'row-edit' : null">
                    <Money
                      class="input-row"
                      v-model="retention.prod_vr_limit"
                      v-bind="money"
                    />
                  </td>

                  <!-- VALOR PORCENTAJE -->
                  <td :class="edit ? 'row-edit' : null">
                    <input
                      class="input-row"
                      type="number"
                      v-model="retention.prod_percentage"
                    />
                  </td>

                  <!-- CUENTA -->
                  <td class="row-edit">
                    <el-input
                      size="small"
                      @focus="openModalAccount($event, 'product', retention)"
                      :value="
                        `${retention.account ? retention.account.code : ''} - ${
                          retention.account ? retention.account.name : ''
                        }`
                      "
                    >
                      <i
                        slot="suffix"
                        class="el-input__icon el-icon-circle-close el-input__clear"
                        @click="
                          deleteAccountTemplateTransaction(retention, 'product')
                        "
                        v-if="retention.account"
                      ></i>
                    </el-input>
                  </td>

                  <!-- VALOR TOTAL -->
                  <td v-if="showValuesTotals" class="row-simple">
                    <span>{{ retention.prod_total | currency }}</span>
                  </td>
                </tr>
                <!-- SERVICIO -->
                <tr>
                  <!-- TITULO -->
                  <th>Servicios</th>

                  <!-- VALOR LIMITE -->
                  <td :class="edit ? 'row-edit' : null">
                    <Money
                      class="input-row"
                      v-model="retention.serv_vr_limit"
                      v-bind="money"
                    />
                  </td>

                  <!-- VALOR PORCENTAJE -->
                  <td :class="edit ? 'row-edit' : null">
                    <input
                      class="input-row"
                      type="number"
                      v-model="retention.serv_percentage"
                    />
                  </td>

                  <!-- CUENTA -->
                  <td class="row-edit" v-if="retention.type !== 'IVA'">
                    <el-input
                      size="small"
                      @focus="openModalAccount($event, 'service', retention)"
                      :value="
                        `${
                          retention.serv_account
                            ? retention.serv_account.code
                            : ''
                        } - ${
                          retention.serv_account
                            ? retention.serv_account.name
                            : ''
                        }`
                      "
                    >
                      <i
                        slot="suffix"
                        class="el-input__icon el-icon-circle-close el-input__clear"
                        @click="
                          deleteAccountTemplateTransaction(retention, 'service')
                        "
                        v-if="retention.serv_account"
                      ></i>
                    </el-input>
                  </td>

                  <!-- VALOR TOTAL -->
                  <td v-if="showValuesTotals" class="row-simple">
                    <span>{{ retention.serv_total | currency }}</span>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- VALOR TOTAL -->
            <table
              v-if="showValuesTotals"
              id="table-totals"
              class="table table-sm table-bordered font-weight-bold"
            >
              <tbody>
                <tr>
                  <td width="33.3%" colspan="2">
                    <p class="pin-table">TOTAL {{ retention.type }}</p>
                  </td>
                  <td width="33.3%">
                    <p class="pull-right pin-table">
                      {{ retention.total | currency }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </b-tab>
    </b-tabs>

    <div class="row">
      <div class="col-12 text-center">
        <button
          type="button"
          @click="saveRetention"
          class="button-save btn btn-primary"
          v-if="edit"
        >
          <i class="ti-save-alt"></i>
          Guardar
        </button>
      </div>
    </div>

    <!-- SECTION MODALS -->
    <ModalAccount @selectedAccount="selectedAccount" />
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import { Money } from "v-money";
import ModalAccount from "../../accounts/modal-account";

export default {
  components: {
    Money,
    ModalAccount
  },
  props: [
    "warehouse_id",
    "warehouse",
    "edit",
    "showValuesTotals",
    "document",
    "contact",
    "is_provider",
    "is_customer"
  ],
  data() {
    return {
      money: {
        decimal: ",",
        thousands: ".",
        prefix: "$ ",
        suffix: "",
        precision: 0,
        masked: false
      },
      retentions: [
        {
          type: "FTE",
          // Prod
          prod_vr_limit: 0,
          prod_percentage: 0,
          prod_total: 0,
          // Serv
          serv_vr_limit: 0,
          serv_percentage: 0,
          serv_total: 0,
          // Total
          total: 0,
          // Base
          base_value: 0,
          serv_base_value: 0,
          account_id: "",
          account: "",
          serv_account_id: "",
          serv_account: ""
        },

        {
          type: "IVA",
          // Prod
          prod_vr_limit: 0,
          prod_percentage: 0,
          prod_total: 0,
          // Serv
          serv_vr_limit: 0,
          serv_percentage: 0,
          serv_total: 0,
          // Total
          total: 0,
          // Base
          base_value: 0,
          serv_base_value: 0,
          account_id: "",
          account: "",
          serv_account_id: "",
          serv_account: ""
        },
        {
          type: "ICA",
          // Prod
          prod_vr_limit: 0,
          prod_percentage: 0,
          prod_total: 0,
          // Serv
          serv_vr_limit: 0,
          serv_percentage: 0,
          serv_total: 0,
          // Total
          total: 0,
          // Base
          base_value: 0,
          serv_base_value: 0,
          account_id: "",
          account: "",
          serv_account_id: "",
          serv_account: ""
        }
      ],
      retentionsProvider: [
        {
          type: "FTE",
          // Prod
          prod_vr_limit: 0,
          prod_percentage: 0,
          prod_total: 0,
          // Serv
          serv_vr_limit: 0,
          serv_percentage: 0,
          serv_total: 0,
          // Total
          total: 0,
          // Base
          base_value: 0,
          serv_base_value: 0,
          account_id: "",
          account: "",
          serv_account_id: "",
          serv_account: ""
        },

        {
          type: "IVA",
          // Prod
          prod_vr_limit: 0,
          prod_percentage: 0,
          prod_total: 0,
          // Serv
          serv_vr_limit: 0,
          serv_percentage: 0,
          serv_total: 0,
          // Total
          total: 0,
          // Base
          base_value: 0,
          serv_base_value: 0,
          account_id: "",
          account: "",
          serv_account_id: "",
          serv_account: ""
        },
        {
          type: "ICA",
          // Prod
          prod_vr_limit: 0,
          prod_percentage: 0,
          prod_total: 0,
          // Serv
          serv_vr_limit: 0,
          serv_percentage: 0,
          serv_total: 0,
          // Total
          total: 0,
          // Base
          base_value: 0,
          serv_base_value: 0,
          account_id: "",
          account: "",
          serv_account_id: "",
          serv_account: ""
        }
      ],
      accountTypeSelected: "",
      accountSelected: ""
    };
  },
  methods: {
    async editBaseValue(retention) {
      retention.edit_base_value = false;
      await this.validateRetentionData();
    },
    async editBaseSerValue(retention) {
      retention.edit_base_serv_value = false;
      await this.validateRetentionData();
    },
    async initComponent() {
      if (this.warehouse) {
        await this.setContactsWarehouseById(this.warehouse);
      } else {
        let warehouse_id = null;
        // RETENCION NORMAL
        if (this.selected_model.retention_management == 1) {
          warehouse_id = this.document.warehouse_id;
        }

        // RETENCION CON DOCUMENTO BASE
        if (this.selected_model.retention_management == 3) {
          warehouse_id = this.document.document.warehouse_id;
        }

        await this.getContactsWarehousesById(warehouse_id);
      }

      await this.setParamsWarehouseRetention(this.selected_contact_warehouse);
      await this.setParamsWarehouseRetentionProvider(
        this.selected_contact_warehouse
      );
    },
    setParamsWarehouseRetention(warehouse) {
      // Rete FTE
      let ret_fte = this.retentions.find(r => r.type === "FTE");

      if (ret_fte) {
        // Prod
        ret_fte.prod_vr_limit = warehouse.ret_fue_prod_vr_limit || 0;
        ret_fte.prod_percentage = warehouse.ret_fue_prod_percentage || 0;
        ret_fte.prod_total = warehouse.ret_fue_prod_total || 0;
        // Serv
        ret_fte.serv_vr_limit = warehouse.ret_fue_serv_vr_limit || 0;
        ret_fte.serv_percentage = warehouse.ret_fue_serv_percentage || 0;
        ret_fte.serv_total = warehouse.ret_fue_serv_total || 0;

        // Cuenta
        ret_fte.account_id = warehouse.ret_fue_account_id;
        ret_fte.account = warehouse.ret_fue_account;

        ret_fte.serv_account_id = warehouse.ret_fue_serv_account_id;
        ret_fte.serv_account = warehouse.ret_fue_serv_account;
      }

      // Rete ICA //
      let ret_ica = this.retentions.find(r => r.type === "ICA");

      if (ret_ica) {
        // Prod
        ret_ica.prod_vr_limit = warehouse.ret_ica_prod_vr_limit || 0;
        ret_ica.prod_percentage = warehouse.ret_ica_prod_percentage || 0;
        ret_ica.prod_total = warehouse.ret_ica_prod_total || 0;
        // Serv
        ret_ica.serv_vr_limit = warehouse.ret_ica_serv_vr_limit || 0;
        ret_ica.serv_percentage = warehouse.ret_ica_serv_percentage || 0;
        ret_ica.serv_total = warehouse.ret_ica_serv_total || 0;

        // Cuenta
        ret_ica.account_id = warehouse.ret_ica_account_id;
        ret_ica.account = warehouse.ret_ica_account;

        ret_ica.serv_account_id = warehouse.ret_ica_serv_account_id;
        ret_ica.serv_account = warehouse.ret_ica_serv_account;
      }

      // Rete IVA //
      let ret_iva = this.retentions.find(r => r.type === "IVA");

      if (ret_iva) {
        // Prod
        ret_iva.prod_vr_limit = warehouse.ret_iva_prod_vr_limit || 0;
        ret_iva.prod_percentage = warehouse.ret_iva_prod_percentage || 0;
        ret_iva.prod_total = warehouse.ret_iva_prod_total || 0;
        // Serv
        ret_iva.serv_vr_limit = warehouse.ret_iva_serv_vr_limit || 0;
        ret_iva.serv_percentage = warehouse.ret_iva_serv_percentage || 0;
        ret_iva.serv_total = warehouse.ret_iva_serv_total || 0;

        // Cuenta
        ret_iva.account_id = warehouse.ret_iva_account_id;
        ret_iva.account = warehouse.ret_iva_account;

        ret_iva.serv_account_id = warehouse.ret_iva_serv_account_id;
        ret_iva.serv_account = warehouse.ret_iva_serv_account;
      }

      // Valores de retenciones
      this.setValuesRetenctionDocument();
    },
    setParamsWarehouseRetentionProvider(warehouse) {
      // Rete FTE
      let ret_fte = this.retentionsProvider.find(r => r.type === "FTE");

      if (ret_fte) {
        // Prod
        ret_fte.prod_vr_limit = warehouse.ret_fue_prod_vr_limit_provider || 0;
        ret_fte.prod_percentage =
          warehouse.ret_fue_prod_percentage_provider || 0;
        ret_fte.prod_total = warehouse.ret_fue_prod_total || 0;
        // Serv
        ret_fte.serv_vr_limit = warehouse.ret_fue_serv_vr_limit_provider || 0;
        ret_fte.serv_percentage =
          warehouse.ret_fue_serv_percentage_provider || 0;
        ret_fte.serv_total = warehouse.ret_fue_serv_total || 0;

        // Cuenta
        ret_fte.account_id = warehouse.ret_fue_provider_account_id;
        ret_fte.account = warehouse.ret_fue_provider_account;

        ret_fte.serv_account_id = warehouse.ret_fue_serv_provider_account_id;
        ret_fte.serv_account = warehouse.ret_fue_serv_provider_account;
      }

      // Rete ICA //
      let ret_ica = this.retentionsProvider.find(r => r.type === "ICA");

      if (ret_ica) {
        // Prod
        ret_ica.prod_vr_limit = warehouse.ret_ica_prod_vr_limit_provider || 0;
        ret_ica.prod_percentage =
          warehouse.ret_ica_prod_percentage_provider || 0;
        ret_ica.prod_total = warehouse.ret_ica_prod_total || 0;
        // Serv
        ret_ica.serv_vr_limit = warehouse.ret_ica_serv_vr_limit_provider || 0;
        ret_ica.serv_percentage =
          warehouse.ret_ica_serv_percentage_provider || 0;
        ret_ica.serv_total = warehouse.ret_ica_serv_total || 0;

        // Cuenta
        ret_ica.account_id = warehouse.ret_ica_provider_account_id;
        ret_ica.account = warehouse.ret_ica_provider_account;

        ret_ica.serv_account_id = warehouse.ret_ica_serv_provider_account_id;
        ret_ica.serv_account = warehouse.ret_ica_serv_provider_account;
      }

      // Rete IVA //
      let ret_iva = this.retentionsProvider.find(r => r.type === "IVA");

      if (ret_iva) {
        // Prod
        ret_iva.prod_vr_limit = warehouse.ret_iva_prod_vr_limit_provider || 0;
        ret_iva.prod_percentage =
          warehouse.ret_iva_prod_percentage_provider || 0;
        ret_iva.prod_total = warehouse.ret_iva_prod_total || 0;
        // Serv
        ret_iva.serv_vr_limit = warehouse.ret_iva_serv_vr_limit_provider || 0;
        ret_iva.serv_percentage =
          warehouse.ret_iva_serv_percentage_provider || 0;
        ret_iva.serv_total = warehouse.ret_iva_serv_total || 0;

        // Cuenta
        ret_iva.account_id = warehouse.ret_iva_provider_account_id;
        ret_iva.account = warehouse.ret_iva_provider_account;

        ret_iva.serv_account_id = warehouse.ret_iva_serv_provider_account_id;
        ret_iva.serv_account = warehouse.ret_iva_serv_provider_account;
      }

      // Valores de retenciones
      this.setValuesRetenctionDocument();
    },
    setValuesRetenctionDocument() {
      if (this.document) {
        let ret_fte = this.retentions.find(r => r.type === "FTE");
        let ret_ica = this.retentions.find(r => r.type === "ICA");
        let ret_iva = this.retentions.find(r => r.type === "IVA");

        // FTE
        ret_fte.total = this.document.ret_fue_total || 0;
        ret_fte.base_value = this.document.ret_fue_base_value || 0;
        ret_fte.serv_base_value = this.document.ret_fue_serv_base_value || 0;
        ret_fte.prod_total = this.document.ret_fue_prod_total || 0;
        ret_fte.serv_total = this.document.ret_fue_serv_total || 0;

        // ICA
        ret_ica.total = this.document.ret_ica_total || 0;
        ret_ica.base_value = this.document.ret_ica_base_value || 0;
        ret_ica.serv_base_value = this.document.ret_ica_serv_base_value || 0;
        ret_ica.prod_total = this.document.ret_ica_prod_total || 0;
        ret_ica.serv_total = this.document.ret_ica_serv_total || 0;

        // IVA
        ret_iva.total = this.document.ret_iva_total || 0;
        ret_iva.base_value = this.document.ret_iva_base_value || 0;
        ret_iva.serv_base_value = this.document.ret_iva_serv_base_value || 0;
        ret_iva.prod_total = this.document.ret_iva_prod_total || 0;
        ret_iva.serv_total = this.document.ret_iva_serv_total || 0;
      }
    },

    changeColumnEdit(data, inputRef, type) {
      if (!this.edit) return;

      if (type == "limit") {
        data.edit_vr_limit = true;
      } else if (type == "percentage") {
        data.edit_percentage = true;
      }

      this.$nextTick(() => {
        this.$refs[inputRef][0].focus();
      });
    },
    changeColumnView(data) {
      data.edit_vr_limit = false;
      data.edit_percentage = false;
    },
    async saveRetention() {
      let saveRetentions = {
        warehouse_id: this.selected_contact_warehouse.id
      };
      saveRetentions = await this.setSaveRetentionInfo(saveRetentions);
      saveRetentions = await this.setSaveRetentionProviderInfo(saveRetentions);

      await this.setConfigurationRetention(saveRetentions);
      if (this.document && this.document.id) {
        await this.updateBaseRetentionDocument();
        await this.setValuesRetenctionDocument();
      }

      // Emitimos el guardado
      this.$emit("saveRetention", true);
    },
    async setSaveRetentionInfo(saveRetentions) {
      // FTE
      saveRetentions.ret_fue_prod_vr_limit = 0;
      saveRetentions.ret_fue_prod_percentage = 0;
      saveRetentions.ret_fue_serv_vr_limit = 0;
      saveRetentions.ret_fue_serv_percentage = 0;
      saveRetentions.ret_fue_account_id = null;
      saveRetentions.ret_fue_serv_account_id = null;
      // IVA
      saveRetentions.ret_iva_prod_vr_limit = 0;
      saveRetentions.ret_iva_prod_percentage = 0;
      saveRetentions.ret_iva_serv_vr_limit = 0;
      saveRetentions.ret_iva_serv_percentage = 0;
      saveRetentions.ret_iva_account_id = null;
      saveRetentions.ret_iva_serv_account_id = null;

      // ICA
      saveRetentions.ret_ica_prod_vr_limit = 0;
      saveRetentions.ret_ica_prod_percentage = 0;
      saveRetentions.ret_ica_serv_vr_limit = 0;
      saveRetentions.ret_ica_serv_percentage = 0;
      saveRetentions.ret_ica_account_id = null;
      saveRetentions.ret_ica_serv_account_id = null;

      await Promise.all(
        this.retentions.map(r => {
          if (r.type === "FTE") {
            saveRetentions.ret_fue_prod_vr_limit = r.prod_vr_limit;
            saveRetentions.ret_fue_prod_percentage = r.prod_percentage;
            saveRetentions.ret_fue_serv_vr_limit = r.serv_vr_limit;
            saveRetentions.ret_fue_serv_percentage = r.serv_percentage;
            saveRetentions.ret_fue_account_id = r.account_id;
            saveRetentions.ret_fue_serv_account_id = r.serv_account_id;
          }

          if (r.type === "IVA") {
            saveRetentions.ret_iva_prod_vr_limit = r.prod_vr_limit;
            saveRetentions.ret_iva_prod_percentage = r.prod_percentage;
            saveRetentions.ret_iva_serv_vr_limit = r.serv_vr_limit;
            saveRetentions.ret_iva_serv_percentage = r.serv_percentage;
            saveRetentions.ret_iva_account_id = r.account_id;
            saveRetentions.ret_iva_serv_account_id = r.serv_account_id;
          }
          if (r.type === "ICA") {
            saveRetentions.ret_ica_prod_vr_limit = r.prod_vr_limit;
            saveRetentions.ret_ica_prod_percentage = r.prod_percentage;
            saveRetentions.ret_ica_serv_vr_limit = r.serv_vr_limit;
            saveRetentions.ret_ica_serv_percentage = r.serv_percentage;
            saveRetentions.ret_ica_account_id = r.account_id;
            saveRetentions.ret_ica_serv_account_id = r.serv_account_id;
          }
        })
      );

      return saveRetentions;
    },
    async setSaveRetentionProviderInfo(saveRetentions) {
      // FTE
      saveRetentions.ret_fue_prod_vr_limit_provider = 0;
      saveRetentions.ret_fue_prod_percentage_provider = 0;
      saveRetentions.ret_fue_serv_vr_limit_provider = 0;
      saveRetentions.ret_fue_serv_percentage_provider = 0;
      saveRetentions.ret_fue_provider_account_id = null;
      saveRetentions.ret_fue_serv_provider_account_id = null;
      // IVA
      saveRetentions.ret_iva_prod_vr_limit_provider = 0;
      saveRetentions.ret_iva_prod_percentage_provider = 0;
      saveRetentions.ret_iva_serv_vr_limit_provider = 0;
      saveRetentions.ret_iva_serv_percentage_provider = 0;
      saveRetentions.ret_iva_provider_account_id = null;
      saveRetentions.ret_iva_serv_provider_account_id = null;

      // ICA
      saveRetentions.ret_ica_prod_vr_limit_provider = 0;
      saveRetentions.ret_ica_prod_percentage_provider = 0;
      saveRetentions.ret_ica_serv_vr_limit_provider = 0;
      saveRetentions.ret_ica_serv_percentage_provider = 0;
      saveRetentions.ret_ica_provider_account_id = null;
      saveRetentions.ret_ica_serv_provider_account_id = null;

      await Promise.all(
        this.retentionsProvider.map(r => {
          if (r.type === "FTE") {
            saveRetentions.ret_fue_prod_vr_limit_provider = r.prod_vr_limit;
            saveRetentions.ret_fue_prod_percentage_provider = r.prod_percentage;
            saveRetentions.ret_fue_serv_vr_limit_provider = r.serv_vr_limit;
            saveRetentions.ret_fue_serv_percentage_provider = r.serv_percentage;
            saveRetentions.ret_fue_provider_account_id = r.account_id;
            saveRetentions.ret_fue_serv_provider_account_id = r.serv_account_id;
          }

          if (r.type === "IVA") {
            saveRetentions.ret_iva_prod_vr_limit_provider = r.prod_vr_limit;
            saveRetentions.ret_iva_prod_percentage_provider = r.prod_percentage;
            saveRetentions.ret_iva_serv_vr_limit_provider = r.serv_vr_limit;
            saveRetentions.ret_iva_serv_percentage_provider = r.serv_percentage;
            saveRetentions.ret_iva_provider_account_id = r.account_id;
            saveRetentions.ret_iva_serv_provider_account_id = r.serv_account_id;
          }
          if (r.type === "ICA") {
            saveRetentions.ret_ica_prod_vr_limit_provider = r.prod_vr_limit;
            saveRetentions.ret_ica_prod_percentage_provider = r.prod_percentage;
            saveRetentions.ret_ica_serv_vr_limit_provider = r.serv_vr_limit;
            saveRetentions.ret_ica_serv_percentage_provider = r.serv_percentage;
            saveRetentions.ret_ica_provider_account_id = r.account_id;
            saveRetentions.ret_ica_serv_provider_account_id = r.serv_account_id;
          }
        })
      );

      return saveRetentions;
    },
    async updateBaseRetentionDocument() {
      await this.setEditBaseRetention(true);
      await this.setEditRetention(false);

      this.retentions.map(r => {
        if (r.type === "FTE") {
          this.selected_document.ret_fue_base_value = r.base_value;
          this.selected_document.ret_fue_serv_base_value = r.serv_base_value;
        }

        if (r.type === "IVA") {
          this.selected_document.ret_iva_base_value = r.base_value;
          this.selected_document.ret_iva_serv_base_value = r.serv_base_value;
        }
        if (r.type === "ICA") {
          this.selected_document.ret_ica_base_value = r.base_value;
          this.selected_document.ret_ica_serv_base_value = r.serv_base_value;
        }
      });

      await this.editRetentioDocument();
      if (this.document.id) {
        await this.setValuesRetenctionDocument();
      }
    },
    async openModalAccount(event, type, item) {
      this.accountTypeSelected = type;
      this.accountSelected = item;

      event.target.blur();
      this.$bvModal.show("list-products");
    },
    selectedAccount(account) {
      switch (this.accountTypeSelected) {
        case "product":
          this.accountSelected.account_id = account.id;
          this.accountSelected.account = account;
          break;
        case "service":
          this.accountSelected.serv_account_id = account.id;
          this.accountSelected.serv_account = account;
          break;
      }

      this.$bvModal.hide("list-products");
    },
    deleteAccountTemplateTransaction(item, type) {
      switch (type) {
        case "product":
          item.account_id = "";
          item.account = "";
          break;
        case "service":
          item.serv_account_id = "";
          item.serv_account = "";
          break;
      }
    },
    ...mapActions("inventoryMovements", [
      "getContactsWarehousesById",
      "validateRetentionData",
      "setConfigurationRetention",
      "updateDocumentValues",
      "editRetentioDocument"
    ]),
    ...mapMutations("inventoryMovements", [
      "setEditBaseRetention",
      "setEditRetention",
      "setContactsWarehouseById"
    ])
  },
  computed: {
    ...mapState("inventoryMovements", [
      "tableRetention",
      "selected_document",
      "selected_model",
      "selected_contact_warehouse"
    ]),
    ...mapGetters("inventoryMovements", [
      "getSubTotal",
      "getTotalIva",
      "getTotalTaxes",
      "getTotal",

      "getValBrutInProducts",
      "getValBrutInServices",
      "getTotalIvaProducts",
      "getTotalIvaServices"
    ])
  },
  mounted() {
    this.initComponent();
  },
  watch: {
    async warehouse_id(newVal, oldVal) {
      await this.validateRetentionData();
    },
    document() {
      this.setValuesRetenctionDocument();
    }
  }
};
</script>

<style scoped>
.input-container div {
  display: inline-block;
}
.form-input {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
}
.div-row {
  cursor: pointer;
}
#table-totals {
  width: 35%;
  float: right;
}

#table-retention td {
  min-width: 50px;
  max-width: 50px;
}
#table-retention th {
  text-align: center;
  background-color: #6699cc;
  color: white;
}

#table-retention tbody td,
th {
  padding: 0px !important;
}
.input-row {
  text-align: center;
  margin: 0px;
  width: 100%;
  border: none;
  width: 100%;
  background: none;
}

.input-row-el input {
  text-align: center;
  margin: 0px;
  width: 100%;
  border: none;
  width: 100%;
  background: none;
}

.row-edit {
  background: #d5f3d3;
  border: 1px solid #fff;
}

.row-simple {
  text-align: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.row-edit input:focus {
  border: none;
  background: #fff;
}

.title-retention {
  display: block;
  font-size: 18px;
  text-align: center;
}
</style>
