<template>
  <card title="<i class='fa fa-gift'></i> Promociones">
    <loader v-if="loading"/>
    <div v-else>
      <b-row>
        <div class="col-md-3">
          <label for="">&nbsp;Estado</label>
          <el-select
            clearable
            filterable
            placeholder="Seleccione una opcion "
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.filter"
            @change="getPromotions()"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.text"
              :value="item.value"
            >
            </el-option>
          </el-select>

        </div>
        <div class="col-md-3">
          <label for="">&nbsp;Sede</label>
          <el-select
            clearable
            filterable
            placeholder="Seleccione una opcion "
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.branchoffice"
            @change="getPromotions()"
          >
            <el-option
              v-for="item in branchoffices"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>

        </div>


         <div class="col-md-3">
          <label for="">&nbsp;Linea</label>
          <el-select
            clearable
            filterable
            placeholder="Seleccione una opcion "
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.line"
            @change="getPromotions()"
          >
            <el-option
              v-for="item in lines"
              :key="item.id"
              :label="item.line_description"
              :value="item.id"
            ></el-option>
          </el-select>

        </div>

        <div class="col-md-3">
          <label for="">&nbsp;Marca</label>
          <el-select
            clearable
            filterable
            placeholder="Seleccione una opcion "
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.brand"
            @change="getPromotions()"
          >
            <el-option
              v-for="item in brands"
              :key="item.id"
              :label="item.description"
              :value="item.id"
            ></el-option>
          </el-select>

        </div>


      </b-row>
      <b-row>
       <div class="col-md-4">
          <button class="btn btn-danger mt-4 " @click="_updatePromotions()"><i class="fa fa-refresh"></i>
            Actualizar promociones Portal clientes
          </button>
        </div>

        <div class="col-md-8 d-flex justify-content-end">
          <b-btn
            class="btn btn-primary mt-4 "
            to="/promociones/crear"
          >
            Nuevo
          </b-btn>

        </div>


        </b-row>
      <b-row>

        <grid-u2
          :columns="columns"
          :items="promotions.data"
          :gridOptions="gridOptions"
        >
          <template
            slot="promotion_type_id"
            slot-scope="row"
          >
            <div v-if="row.item.promotion_type_id == 1">Unitaria</div>
            <div v-if="row.item.promotion_type_id == 2">Clasificación</div>
            <div v-if="row.item.promotion_type_id == 3">Mix</div>
          </template>

          <template slot="total_utility"
                    slot-scope="row"
          >
            <div class="text-right">
            {{ getTotalUtility(row.item) | currency }}
            </div>
          </template>

          <template slot="total_sales"
                    slot-scope="row"
          >
            <div class="text-right">
            {{ (row.item.total_brut_documents_products[0] ? row.item.total_brut_documents_products[0].total_value_brut : 0) | currency }}
            </div>
          </template>

          <template slot="total_quantity"
                    slot-scope="row"
          >
            <div class="text-center">
            {{ (row.item.total_quantity_documents_products[0] ? row.item.total_quantity_documents_products[0].quantity : 0) }}
            </div>
          </template>

          <template slot="total_applications"
                    slot-scope="row"
          >
            <div class="text-center">
            {{ row.item.total_applications_invoices_documents_products.length - row.item.total_applications_devolutions_documents_products.length }}
            </div>
          </template>


          // slot define el contenido del campo indicado con el field con misma denominacion // slot-scope recoje el
          valor
          //de toda mi linea dentro de la Tabla
          <template
            slot="options"
            slot-scope="row"
          >
            <b-button
              variant="primary"
              :to="`/promociones/${row.item.id}/ver`"
            >ver
            </b-button>
            <b-button
              variant="success"
              :to="`/promociones/${row.item.id}/editar`"
            >Editar
            </b-button>
            <b-button
              variant="danger"
              @click="_deletePromotion(row.item.id)"
            >Eliminar
            </b-button>
          </template>

          <template
            slot="Rating"
            slot-scope="row"
          >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </template>
        </grid-u2>
      </b-row>
      <b-row>
        <b-col
          md="6"
          class="my-1 form-inline"
        >
          <label>Registros por página: &nbsp;</label>
          <b-form-select
            :options="[15, 30, 50,100]"
            v-model="params.perPage"
            @change.native="setPerPagePagination"
          />
        </b-col>
        <b-col
          md="6"
          class="my-1"
        >
          <b-pagination
            :total-rows="totalRows"
            :per-page="params.perPage"
            :current-page="params.page"
            v-model="params.page"
            class="my-0 float-right"
            @change="setPagePagination"
          />
        </b-col>
      </b-row>
    </div>
  </card>
</template>


<script>
  // componente base o inicial de cada vista
  import card from "../../components/pages/card/card";
  import GridU2 from "../../components/u2/grid";
  import {mapState, mapActions, mapMutations} from 'vuex'
  import loader from "./../../components/layout/loader";


  export default {
    components: {
      card,
      GridU2,
      loader
    },

    data() {
      return {
        loading: true,
        columns: [],
        gridApi: null,
        gridOptions: null,
        options: [
          {value: 'Proxima', text: 'Proxima'},
          {value: 'Vigente', text: 'Vigente'},
          {value: 'Vencida', text: 'Vencida'},
        ]
      };
    },

    beforeMount() {
      this.gridOptions = {}
      this.columns = [
         {
          name: "id",
          field: "id"
        },
        {
          name: "Sede",
          field: "name_branchoffice"
        },
        {
          name: "Vigente Desde",
          field: "start_date"
        },
        {
          name: "Vigente Hasta",
          field: "end_date"
        },

        {
          name: "Descripción",
          field: "description",
          format: 'text',
          style: {
            'max-width': '600px'
          }
        },
        {
          name: "Tipo Promoción",
          field: "promotion_type_id",
          format: "number"
        },
        {
          name: "Estado",
          field: "state",
          format: "number"
        },
        {
          name: "Opciones",
          field: "options",
          format: "number"
        },
        {
          name: "Rating",
          field: "Rating",
          format: "number",
          orderable: true
        },
        {
          name: "Total utilidad",
          format: "number",
          field: "total_utility"
        },
        {
          name: "Total Ventas",
          format: "number",
          field: "total_sales"
        },
        {
          name: "Total Und Ventas",
          format: "currency",
          field: "total_quantity"
        },
        {
          name: "Total Aplicaciones",
          format: "currency",
          field: "total_applications"
        }
      ]
    },
    mounted() {
      this.getLines();
      this.initComponent();
      this.getBrands();
    },
    computed: {
      ...mapState('promotions', ['promotions', 'params', 'is_customer', 'branchoffices','lines','brands']),
      totalRows() {
        return this.promotions.total
      },
    },
    methods: {
      ...mapActions('promotions', ['getPromotions', 'setPerPagePagination', 'setPagePagination', 'deletePromotion',
       'getBranchoffices', 'updatePromotions','getLines','getBrands']),
      ...mapMutations('promotions', ['setPerPage', 'setPage', 'setFilter', 'setIsCustomer', 'setDefaultSelectedPromotion']),
      async _updatePromotions() {
        await this.$confirm('Este proceso puede tardar un par de minutos. ¿Quiere continuar?', 'Actualizar promociones', {
          confirmButtonText: 'Si',
          cancelButtonText: 'No',
          type: 'warning',
          customClass: 'notification-warning'
        }).then(async (result) => {
            if (result) {
              await this.updatePromotions()
            }
          }
        )


      },
      getTotalUtility(promotion){

        let totalUtility = 0

        if(promotion.total_brut_documents_products[0] && promotion.total_inventory_cost_documents_products[0]){
          totalUtility = promotion.total_brut_documents_products[0].total_value_brut - promotion.total_inventory_cost_documents_products[0].inventory_cost_value
        }

        return totalUtility

      },
      async initComponent() {
        this.loading = true
        await this.getPromotions();
        await this.getBranchoffices();
        // esto igual es para la actualizacion
        this.gridApi = this.gridOptions.api;
        await this.setDefaultSelectedPromotion()
        this.loading = false
      },
      filtro(filter) {
        this.setFilter(filter);
        this.getPromotions();
      },

      async _deletePromotion(id) {

        await this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          type: 'warning',
          customClass: 'notification-warning'
        }).then(
          async (result) => {
            if (result) {
              await this.deletePromotion(id);
              this.getPromotions();
            }
          }
        )
      }
    },
    watch: {
      '_setPerPagePagination'(newValue, oldValue) {
        this.setPerPagePagination(newValue)
        this.gridApi.refreshCells()
      },
      '_setPerPage'(newValue, oldValue) {
        this.setPerPage(newValue)
        this.gridApi.redrawRows();
      }
    },

  };
</script>
<style>
  .el-input__inner {
    height: 31.25px; /*Ajusta el alto de los select de element*/
  }
</style>
