<template>
  <card :title="iconMessage + messageCard">
    <form
      data-vv-scope="form"
      @submit.prevent="validateForm()"
      enctype="multipart/form-data"
    >
      <b-row>
        <b-col
          cols="12"
          sm="3"
          md="3"
          lg="3"
          :class="
            errors.has('form.branchoffice_id')
              ? 'form-group-error text-danger'
              : ''
          "
        >
          <b-form-group>
            <label for="branchoffice_id">
              Sede
              <span id="span">*</span>
            </label>
            <el-select
              data-vv-as=" "
              name="branchoffice_id"
              id="branchoffice_id"
              :disabled="isDisabled"
              clearable
              filterable
              v-validate="'required'"
              placeholder="Seleccione una opción "
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="selected_promotion.branchoffice_id"
            >
              <el-option
                v-for="item in branchoffices"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
            <span class="text-danger span-error">{{
              errors.first("form.branchoffice_id")
            }}</span>
          </b-form-group>
        </b-col>
        <b-col cols="12" sm="3" md="3" lg="3">
          <b-form-group
            :class="
              errors.has('form.promotion_type_id')
                ? 'form-group-error text-danger'
                : ''
            "
          >
            <label for="promotion_type_id">
              Tipo de Promoción
              <span id="span">*</span>
            </label>
            <el-select
              data-vv-as=" "
              v-validate="'required'"
              name="promotion_type_id"
              id="promotion_type_id"
              :disabled="isDisabled || this.creation_form == 'edit'"
              clearable
              filterable
              placeholder="Seleccione una opción "
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="selected_promotion.promotion_type_id"
            >
              <el-option
                id="desc"
                v-for="item in promotions"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              >
              </el-option>
            </el-select>

            <span class="text-danger span-error">{{
              errors.first("form.promotion_type_id")
            }}</span>
          </b-form-group>
        </b-col>

        <b-col cols="12" sm="3" md="3" lg="3">
          <b-form-group
            :class="
              errors.has('form.date') ? 'form-group-error text-danger' : ''
            "
          >
            <label for="date">
              Vigencia
              <span id="span">*</span>
            </label>
            <el-date-picker
              class="w-100"
              data-vv-as=" "
              value-format="yyyy-MM-dd"
              bootstrap-styling="true"
              id="date"
              name="date"
              v-validate="'required'"
              :disabled="isDisabled"
              type="daterange"
              format="yyyy-MM-dd"
              v-model="selected_promotion.date"
              range-separator="|"
              start-placeholder="Fecha inicio"
              end-placeholder="Fecha fin"
            ></el-date-picker>

            <span class="text-danger span-error">{{
              errors.first("form.date")
            }}</span>
          </b-form-group>
        </b-col>
        <b-col cols="12" sm="3" md="3" lg="3">
          <b-form-group>
            <label for="only_available">Aplica Solo Disponibilidad</label>
            <el-select
              :disabled="isDisabled"
              clearable
              filterable
              placeholder="Seleccione una opción "
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="selected_promotion.only_available"
            >
              <el-option
                @change="setSelectedPromotion()"
                v-for="item in availabilitys"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              ></el-option>
            </el-select>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12" sm="12" md="12" lg="12">
          <b-form-group
            :class="
              errors.has('form.description')
                ? 'form-group-error text-danger'
                : ''
            "
          >
            <label for="description">
              Descripción
              <span id="span">*</span>
            </label>
            <b-form-textarea
              data-vv-as=" "
              id="description"
              v-validate="'required'"
              name="description"
              :disabled="isDisabled"
              v-model="selected_promotion.description"
              placeholder="Descripción"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
            <span class="text-danger span-error">{{
              errors.first("form.description")
            }}</span>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- elemento complementario de form destinado para clasificacion de productos -->
      <div v-if="selected_promotion.promotion_type_id == 2">
        <b-row>
          <b-col cols="12" sm="3" md="3" lg="3">
            <b-form-group label="Linea">
              <el-select
                :disabled="isDisabled"
                @change="_getSubLines()"
                clearable
                filterable
                placeholder="Seleccione una opción "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selected_promotion.line_id"
              >
                <el-option
                  v-for="item in lines"
                  :key="item.id"
                  :label="`${item.line_description}`"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </b-form-group>
          </b-col>
          <!-- sublinea -->
          <b-col cols="12" sm="3" md="3" lg="3">
            <b-form-group label="Sublinea">
              <el-select
                :disabled="isDisabled"
                clearable
                filterable
                placeholder="Seleccione una opción "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selected_promotion.subline_id"
              >
                <el-option
                  v-for="item in sublines"
                  :key="item.id"
                  :label="`${item.subline_description}`"
                  :value="item.id"
                ></el-option>
              </el-select>
            </b-form-group>
          </b-col>
          <!-- marca -->
          <b-col cols="12" sm="3" md="3" lg="3">
            <b-form-group label="Marca">
              <el-select
                :disabled="isDisabled"
                @change="_getSubBrands()"
                clearable
                filterable
                placeholder="Seleccione una opción "
                :no-data-text="
                  brands.length == 0
                    ? 'No existen registros'
                    : 'Cargando datos...'
                "
                no-match-text="No hay datos que coincidan"
                v-model="selected_promotion.brand_id"
              >
                <el-option
                  v-for="item in brands"
                  :key="item.id"
                  :label="`${item.description}`"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </b-form-group>
          </b-col>
          <!-- submarca-->
          <b-col cols="12" sm="3" md="3" lg="3">
            <b-form-group label="Submarca">
              <el-select
                :disabled="isDisabled"
                clearable
                filterable
                placeholder="Seleccione una opción "
                :no-data-text="
                  subbrands.length == 0
                    ? 'No existen registros'
                    : 'Cargando datos...'
                "
                no-match-text="No hay datos que coincidan"
                v-model="selected_promotion.subbrand_id"
              >
                <el-option
                  v-for="item in subbrands"
                  :key="item.id"
                  :label="`${item.description}`"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </b-form-group>
          </b-col>
        </b-row>
      </div>

      <div
        v-if="
          selected_promotion.promotion_type_id == 2 ||
            selected_promotion.promotion_type_id == 3
        "
      >
        <b-row>
          <b-col cols="12" sm="6" md="6" lg="6">
            <!-- cantidad -->
            <b-form-group
              :class="
                errors.has('form.minimum_amount')
                  ? 'form-group-error text-danger'
                  : ''
              "
            >
              <label for="minimum_amount">
                {{ message_cant }}
                <span id="span">*</span>
              </label>
              <b-form-input
                data-vv-as=" "
                v-validate="'required|min_value:1'"
                name="minimum_amount"
                id="minimum_amount"
                :disabled="isDisabled"
                type="number"
                v-model="selected_promotion.minimum_amount"
              ></b-form-input>
              <span class="text-danger span-error">{{
                errors.first("form.minimum_amount")
              }}</span>
            </b-form-group>
          </b-col>
          <!-- valor minimo bruto -->

          <b-col cols="12" sm="6" md="6" lg="6">
            <b-form-group :label="message_cant_gross">
              <b-form-input
                :disabled="isDisabled"
                type="number"
                v-model="selected_promotion.minimum_gross_value"
              >
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <!-- % descuento -->

          <b-col
            v-if="selected_promotion.promotion_type_id != 3"
            cols="12"
            :sm="selected_promotion.promotion_type_id == 3 ? 6 : 4"
            :md="selected_promotion.promotion_type_id == 3 ? 6 : 4"
            :lg="selected_promotion.promotion_type_id == 3 ? 6 : 4"
          >
            <b-form-group label="% Descuento">
              <b-form-input
                data-vv-as=" "
                name="discount"
                :disabled="isDisabled"
                :class="
                  this.benefit_required == false ? 'required-benefit' : ''
                "
                @blur="validateBenefitRequired"
                type="number"
                v-model="selected_promotion.discount"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <!-- %  pronto pago  -->

          <b-col
            cols="12"
            :sm="selected_promotion.promotion_type_id == 3 ? 6 : 4"
            :md="selected_promotion.promotion_type_id == 3 ? 6 : 4"
            :lg="selected_promotion.promotion_type_id == 3 ? 6 : 4"
          >
            <b-form-group label="% Descuento Pronto Pago">
              <b-form-input
                @blur="validateBenefitRequired"
                :disabled="isDisabled"
                type="number"
                v-model="selected_promotion.pay_soon"
                :class="
                  this.benefit_required == false ? 'required-benefit' : ''
                "
              >
              </b-form-input>
            </b-form-group>
          </b-col>
          <!-- % pago contado  -->

          <b-col
            cols="12"
            :sm="selected_promotion.promotion_type_id == 3 ? 6 : 4"
            :md="selected_promotion.promotion_type_id !== 3 ? 6 : 4"
            :lg="selected_promotion.promotion_type_id == 3 ? 6 : 4"
          >
            <b-form-group label="% Descuento Pago Contado">
              <b-form-input
                @blur="validateBenefitRequired"
                :disabled="isDisabled"
                type="number"
                v-model="selected_promotion.cash_payment"
                :class="
                  this.benefit_required == false ? 'required-benefit' : ''
                "
              >
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <!-- obsequio-->

          <b-col cols="12" sm="6" md="6" lg="6">
            <b-form-group label="Tipo De Obsequio">
              <el-select
                @change="validateBenefitRequired"
                name="gift_type"
                data-vv-as=" "
                :disabled="isDisabled"
                clearable
                :class="
                  this.benefit_required == false ? 'required-benefit' : ''
                "
                filterable
                placeholder="Seleccione una opción "
                v-model="selected_promotion.gift_type"
              >
                <el-option
                  v-for="item in gifts"
                  :key="item.id"
                  :label="item.nombre"
                  :value="item.id"
                ></el-option>
              </el-select>
            </b-form-group>
          </b-col>
          <b-col cols="12" sm="6" md="6" lg="6">
            <!-- producto especifico-->
            <div v-if="selected_promotion.gift_type == 1">
              <b-form-group
                label="Producto Especifico"
                :class="
                  errors.has('form.specific_product_id')
                    ? 'form-group-error text-danger'
                    : ''
                "
              >
                <el-select
                  name="specific_product_id"
                  data-vv-as=" "
                  :disabled="isDisabled"
                  :remote-method="remoteMethodGetProducts"
                  remote
                  clearable
                  filterable
                  v-validate="'required'"
                  placeholder="Introduzca un valor para la busqueda"
                  v-model="selected_promotion.specific_product_id"
                >
                  <el-option
                    v-for="item in products"
                    :key="item.id"
                    :label="item.code + ' - ' + item.description"
                    :value="item.id"
                  >
                    {{ item.code }} - {{ item.description }}
                  </el-option>
                </el-select>
                <span class="text-danger span-error">{{
                  errors.first("form.specific_product_id")
                }}</span>
              </b-form-group>
            </div>
          </b-col>
        </b-row>
      </div>

      <div v-if="selected_promotion.promotion_type_id == 1">
        <b-button
          v-if="this.creation_form != 'view'"
          v-b-modal.modal-xl
          variant="primary"
          @click="getProducts"
          >Agregar Producto
        </b-button>
        <grid-u2
          :columns="columnsPU"
          @changeRow="changeRow"
          :items="selected_promotion.products_promotions"
        >
          <template slot="product.description" slot-scope="row">
            {{ row.item.product.code + " - " + row.item.product.description }}
          </template>

          <template slot="options" slot-scope="row">
            <b-button
              variant="danger"
              @click="_deleteProductPromotion(row.item.product_id)"
              >Eliminar</b-button
            >
          </template>
        </grid-u2>
      </div>

      <div v-if="selected_promotion.promotion_type_id == 3">
        <b-button
          v-if="this.creation_form != 'view'"
          v-b-modal.modal-xl
          variant="primary"
          @click="getProducts"
        >
          Agregar producto
        </b-button>
        <grid-u2
          :emitWithoutChange="true"
          :columns="columnsPM"
          :items="selected_promotion.products_promotions"
          @changeRow="totalValues"
          ref="grid"
        >
          <template slot="product.description" slot-scope="row">
            {{ row.item.product.code + " - " + row.item.product.description }}
          </template>

          <template slot="product.discount" slot-scope="row">
            <div>
              <input
                class="w-100"
                v-model="row.item.discount"
                value="0"
                type="number"
                :disabled="isDisabled"
                v-validate="'required'"
                @change="setDiscountValue(row)"
              />
            </div>
          </template>

          <template slot="product.discount_value" slot-scope="row">
            <input
              class="w-100"
              v-model="row.item.discount_value"
              :disabled="isDisabled"
              type="number"
              v-validate="'required'"
              @blur="setDiscount(row)"
            />
          </template>

          <template slot="optionss" slot-scope="row">
            <b-button
              variant="danger"
              size="sm"
              @click="_deleteProductPromotion(row.item.product_id)"
            >
              Eliminar</b-button
            >
          </template>
        </grid-u2>
      </div>

      <!-- <b-row>
        <b-col cols="12" sm="6" md="6" lg="6">
          <label for="title">
            Título
          </label>
          <vue-editor id="title" v-model="selected_promotion.title"></vue-editor>
        </b-col>
        <b-col cols="12" sm="6" md="6" lg="6">
          <label for="description2">
            Descripción 2
          </label>
            <b-form-textarea  id="description2"  name="description2"
              v-model="selected_promotion.description2" placeholder="Descripción" rows="3"
              max-rows="6"></b-form-textarea>
        </b-col>
      </b-row> -->

      <b-row>
        <b-col cols="12" sm="6" md="6" lg="6">
          <b-form-group label="Imagen">
            <div
              v-if="
                selected_promotion.image != '' &&
                  selected_promotion.image != null
              "
            >
              <img
                :src="selected_promotion.image"
                width="700px"
                height="500px"
              />
              <br />
              <b-button
                :disabled="isDisabled"
                type="submit"
                class="btn btn-labeled btn-danger btn-sm"
                @click.prevent="clearImages()"
              >
                <span class="btn-label">
                  <i class="fa fa-trash"></i>
                </span>
                Eliminar
              </b-button>
            </div>
            <div v-else>
              <b-form-file
                v-model="selected_promotion.image"
                @change="setUrl"
                :disabled="isDisabled"
                placeholder
                size="lg"
                accept="image/jpeg, image/png, image/gif"
              ></b-form-file>
            </div>
          </b-form-group>
        </b-col>
      </b-row>

      <!--BOTONES DEL FORMULARIO-->
      <div class="form-actions">
        <b-button v-if="!isDisabled" type="submit" class="boton-guardar">
          <span class="btn-label">
            <i class="ti-save-alt"></i>
          </span>
          Guardar
        </b-button>
        <b-button
          to="/promociones"
          type="button"
          variant="secondary"
          class="float-left"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span>
          Volver
        </b-button>
        <b-button
          v-if="!isDisabled"
          type="reset"
          value="Limpiar"
          class="otro-boton float-left"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
            Limpiar
          </span>
        </b-button>
      </div>
    </form>
    <listproducts @selectedProduct="test"></listproducts>
  </card>
</template>

<script>
import card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";
import listproducts from "../products/list-products.vue";
import loader from "./../../components/layout/loader";
//import { VueMaskDirective } from "v-mask";
import { VueEditor } from "vue2-editor";
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
export default {
  components: {
    card,
    GridU2,
    listproducts,
    loader,
    VueEditor
  },
  data() {
    return {
      content: "<h1>Some initial content</h1>",
      isDisabled: false,
      url: null,
      benefit_required: true,
      message_cant: "Cantidad Minima",
      message_cant_gross: "Valor Minimo Bruto",
      creation_form: "create",
      columnsPU: [],
      columnsPM: [],
      productAdd: {
        product: {
          id: null,
          description: "",
          line: {
            line_description: ""
          },
          price: {
            price: ""
          }
        }
      },
      messageCard: "Nueva Promoción",
      iconMessage: "<i class='fa fa-plus'></i> ",
      promotions: [
        {
          id: 1,
          nombre: "Unitaria"
        },
        {
          id: 2,
          nombre: "Clasificación de Productos"
        },
        {
          id: 3,
          nombre: "Mix de Productos"
        }
      ],
      gifts: [
        {
          id: 1,
          nombre: "Producto Especifico"
        },
        {
          id: 2,
          nombre: "Producto de Menor valor en pedido"
        }
      ],
      availabilitys: [
        {
          id: true,
          nombre: "Si"
        },
        {
          id: false,
          nombre: "No"
        }
      ]
    };
  },
  beforeMount() {
    this.getBranchoffices();
    this.$store.watch(
      () => {
        return this.getSelectedPromotion.promotion_type_id;
      },
      promotion_type_id => {
        this.changeTypePromotion();
      }
    );
  },
  methods: {
    open() {
      this.$confirm("Elija la opcion que desea?", "Atención", {
        distinguishCancelAndClose: true,
        confirmButtonText: "Editar",
        cancelButtonText: "Crear  Copia con Nueva Serie  ",
        type: "warning"
      })
        .then(async () => {
         await this.updatePromotion(this.selected_promotion.id);
         this.setPromotion(this.selected_promotion);
        })
        .catch(async (response) => {
          if(response === 'cancel'){
          this.selected_promotion.id=null;
   this.setPromotion(this.selected_promotion);
         await this.createPromotion();
         this.$router.push('/promociones');
          }

        });
    },

    clearImages() {
      this.selected_promotion.image2 = null;
      this.selected_promotion.image = null;
    },
    setDiscountValue(row) {
      row.discount_value = parseInt(
        (row.product.price.price * (100 - parseInt(row.discount))) / 100
      );
    },
    setDiscount(row) {
      let variante = parseInt(
        parseInt(row.product.price.price) - parseInt(row.discount_value)
      );
      row.discount = parseInt(
        parseInt(variante * 100) / parseInt(row.product.price.price)
      );
    },

    totalValues(row, key) {
      if (key == "discount_value") {
        this.setDiscount(row);
      } else if (key == "discount") {
        if (row.discount > 100) {
          row.discount = 100;
        }
        this.setDiscountValue(row);
      }

      this.$refs.grid.buildData();
    },

    async initComponent() {
      this.creation_form = "create";
      let id = this.$route.params.id;
      let idv = this.$route.params.idv;
      if (id) {
        this.creation_form = "edit";
        this.messageCard = "Editar Promoción";
        this.iconMessage = "<i class='fa fa-pencil'></i> ";
        await this.getPromotionById(id);
        await this.getSubLines();
        await this.getSubBrands();
        if (this.selected_promotion.specific_product != null) {
          await this.getProductByParam(
            this.selected_promotion.specific_product.description
          );
        }
      } else if (idv) {
        this.creation_form = "view";
        this.messageCard = "Promoción ";
        this.iconMessage = "<i class='fa fa-fw fa-briefcase'></i> ";
        this.isDisabled = true;
        await this.getPromotionById(idv);
        await this.getSubLines();
        await this.getSubBrands();
        if (this.selected_promotion.specific_product != null) {
          await this.getProductByParam(
            this.selected_promotion.specific_product.description
          );
        }
      }

      this.columnsPU = [
        {
          name: "Linea",
          field: "product.line.line_description",
          width: 150
        },
        {
          name: "Producto",
          field: "product.description",
          width: 400
        },
        {
          name: "Cant minima",
          field: "minimum_amount",
          width: 140,
          editable: this.isDisabled == true ? false : true,
          format: "number"
        },
        {
          name: "% desc",
          field: "discount",
          width: 140,
          editable: this.isDisabled == true ? false : true,
          format: "number"
        },
        {
          name: "% pronto pago",
          field: "pay_soon",
          width: 140,
          editable: this.isDisabled == true ? false : true,
          format: "number"
        },
        {
          name: "% pago de contado",
          field: "cash_payment",
          width: 140,
          editable: this.isDisabled == true ? false : true,
          format: "number"
        },
        {
          name: "Opciones",
          field: "options",
          width: 140,
          format: "number",
          visible: this.creation_form != "view"
        }
      ];
      this.columnsPM = [
        {
          name: "Producto",
          field: "product.description",
          width: 400
        },
        {
          name: "Linea",
          field: "product.line.line_description",
          width: 150
        },
        {
          name: "Precio Lista",
          field: "product.price.price",
          format: "currency"
        },
        {
          name: "Porcentaje Descuento",
          field: "discount",
          format: "number",
          editable: this.creation_form != "view"
        },
        {
          name: "Valor Promocion",
          field: "discount_value",
          editable: this.creation_form != "view",
          format: "currency"
        },
        {
          name: "Opciones",
          field: "optionss",
          width: 140,
          visible: this.creation_form != "view"
        }
      ];

      // Desactivar el loader
      this.setPromotionLoader(false);
    },
    // consulta de productos de acuerdo a contact_warehouse
    _setbranchoffice_warehouse_id(warehouse_id) {
      this.setbranchoffice_warehouse_id(warehouse_id);
    },
    validateBenefitRequired() {
      if (
        (this.selected_promotion.discount != null &&
          this.selected_promotion.discount != "") ||
        (this.selected_promotion.pay_soon != null &&
          this.selected_promotion.pay_soon != "") ||
        (this.selected_promotion.cash_payment != null &&
          this.selected_promotion.cash_payment != "") ||
        (this.selected_promotion.gift_type != null &&
          this.selected_promotion.gift_type != "")
      ) {
        this.benefit_required = true;
      }
    },
    setUrl(e) {
      const file = e.target.files[0];
      this.selected_promotion.image2 = file;
      this.selected_promotion.image = URL.createObjectURL(file);
    },
    getProducts() {
      this.searchProducts();
    },
    ...mapMutations("promotions", [
      "setPromotion",
      "modifyIsDisabled",
      "setDefaultSelectedPromotion",
      "setImage",
      "setImage2",
      "setPromotionLoader"
    ]),
    ...mapMutations("products", [
      "setbranchoffice_warehouse_id",
      "setBranchoffice"
    ]),
    ...mapActions("products", ["searchProducts"]),
    ...mapActions("promotions", [
      "getLines",
      "getSubLines",
      "getProductById",
      "getBrands",
      "getSubBrands",
      "getPromotionById",
      "getProductByParam",
      "createPromotion",
      "updatePromotion",
      "getBranchoffices"
    ]),
    _deleteProductPromotion(row) {
      let i = 0;
      for (
        let index = 0;
        index < this.selected_promotion.products_promotions.length;
        index++
      ) {
        if (
          this.selected_promotion.products_promotions[index].product_id == row
        ) {
          i = index;
        }
      }
      this.selected_promotion.products_promotions.splice(i, 1);
    },
    changeRow(row) {
      let selected_promotion = this.selected_promotion;

      let index = this.selected_promotion.products_promotions.findIndex(
        pp => pp.id == row.id
      );

      if (index) {
        this.selected_promotion.products_promotions.splice(index, 1, row);
      }
    },
    validateForm(e) {
      // this.setPromotionLoader(true);

      let state = 0;
      this.$validator.validateAll("form").then(async result => {
        if (result) {
          if (this.creation_form == "create") {
            if (
              (this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 1) ||
              (this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 3)
            ) {
              if (this.selected_promotion.promotion_type_id == 1) {
                this.selected_promotion.products_promotions.forEach(element => {
                  if (element.minimum_amount <= 0 || element.discount <= 0) {
                    this.$alert(
                      "Los productos deben contar almenos con un valor para la cantidad minima y para el descuento",
                      "Error",
                      {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass: "notification-error"
                      }
                    ).then(verifica => {});
                    state++;
                  }
                });
              }

              if (this.selected_promotion.promotion_type_id == 3) {
                // if (
                //   (this.selected_promotion.discount == null ||
                //     this.selected_promotion.discount == "") &&
                //   (this.selected_promotion.pay_soon == null ||
                //     this.selected_promotion.pay_soon == "") &&
                //   (this.selected_promotion.cash_payment == null ||
                //     this.selected_promotion.cash_payment == "") &&
                //   (this.selected_promotion.gift_type == null ||
                //     this.selected_promotion.gift_type == "")
                // ) {
                //   this.$alert(
                //     "La promoción debe  contener algún tipo de beneficio. Favor seleccionar algún tipo de descuento u obsequio.",
                //     "Error", {
                //     confirmButtonText: "Aceptar",
                //     type: "error",
                //     customClass: "notification-error"
                //   }
                //   ).then(verifica => { });
                //   state++;
                //   this.benefit_required = false;
                // }

                let $status = this.selected_promotion.products_promotions.every(
                  element => {
                    return (
                      element.discount != null &&
                      element.discount != "" &&
                      element.discount_value != null &&
                      element.discount_value != ""
                    );
                  }
                );

                if (!$status) {
                  this.$alert(
                    "Debe de digitar el valor o el porcentaje del descuento para cada producto",
                    "Error",
                    {
                      confirmButtonText: "Aceptar",
                      type: "error",
                      customClass: "notification-error"
                    }
                  ).then(verifica => {});
                  state++;
                }
              }
            }
            if (
              (!this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 1) ||
              (!this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 3)
            ) {
              this.$alert(
                "La promocion debe de contener productos asociados",
                "Error",
                {
                  confirmButtonText: "Aceptar",
                  type: "error",
                  customClass: "notification-error"
                }
              ).then(verifica => {});
              state++;
            }

            if (this.selected_promotion.promotion_type_id == 2) {
              if (
                (this.selected_promotion.discount == null ||
                  this.selected_promotion.discount == "") &&
                (this.selected_promotion.pay_soon == null ||
                  this.selected_promotion.pay_soon == "") &&
                (this.selected_promotion.cash_payment == null ||
                  this.selected_promotion.cash_payment == "") &&
                (this.selected_promotion.gift_type == null ||
                  this.selected_promotion.gift_type == "")
              ) {
                this.$alert(
                  "La promoción debe  contener algún tipo de beneficio. Favor seleccionar algún tipo de descuento u obsequio.",
                  "Error",
                  {
                    confirmButtonText: "Aceptar",
                    type: "error",
                    customClass: "notification-error"
                  }
                ).then(verifica => {});
                state++;
                this.benefit_required = false;
              }
            }

            if (state <= 0) {
              this.createPromotion();
              this.setDefaultSelectedPromotion();
            }
          } else if (this.creation_form == "edit") {
            if (
              (this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 1) ||
              (this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 3)
            ) {
              if (this.selected_promotion.promotion_type_id == 1) {
                this.selected_promotion.products_promotions.forEach(element => {
                  if (element.minimum_amount <= 0 || element.discount <= 0) {
                    this.$alert(
                      "Los productos deben contar almenos con un valor para la cantidad minima y para el descuento",
                      "Error",
                      {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass: "notification-error"
                      }
                    ).then(verifica => {});
                    state++;
                  }
                });
              }

              if (this.selected_promotion.promotion_type_id == 3) {
                // if (
                //   (this.selected_promotion.discount == null ||
                //     this.selected_promotion.discount == "") &&
                //   (this.selected_promotion.pay_soon == null ||
                //     this.selected_promotion.pay_soon == "") &&
                //   (this.selected_promotion.cash_payment == null ||
                //     this.selected_promotion.cash_payment == "") &&
                //   (this.selected_promotion.gift_type == null ||
                //     this.selected_promotion.gift_type == "")
                // ) {
                //   this.$alert(
                //     "La promoción debe  contener algún tipo de beneficio. Favor seleccionar algún tipo de descuento u obsequio.",
                //     "Error", {
                //     confirmButtonText: "Aceptar",
                //     type: "error",
                //     customClass: "notification-error"
                //   }
                //   ).then(verifica => { });
                //   state++;
                //   this.benefit_required = false;
                // }

                let $status = this.selected_promotion.products_promotions.every(
                  element => {
                    return (
                      element.discount != null &&
                      element.discount != "" &&
                      element.discount_value != null &&
                      element.discount_value != ""
                    );
                  }
                );

                if (!$status) {
                  this.$alert(
                    "Debe de digitar el valor o el porcentaje del descuento para cada producto",
                    "Error",
                    {
                      confirmButtonText: "Aceptar",
                      type: "error",
                      customClass: "notification-error"
                    }
                  ).then(verifica => {});
                  state++;
                }
              }
            }
            if (
              (!this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 1) ||
              (!this.selected_promotion.products_promotions.length > 0 &&
                this.selected_promotion.promotion_type_id == 3)
            ) {
              this.$alert(
                "La promocion debe de contener productos asociados",
                "Error",
                {
                  confirmButtonText: "Aceptar",
                  type: "error",
                  customClass: "notification-error"
                }
              ).then(verifica => {});
              state++;
            }

            if (this.selected_promotion.promotion_type_id == 2) {
              if (
                (this.selected_promotion.discount == null ||
                  this.selected_promotion.discount == "") &&
                (this.selected_promotion.pay_soon == null ||
                  this.selected_promotion.pay_soon == "") &&
                (this.selected_promotion.cash_payment == null ||
                  this.selected_promotion.cash_payment == "") &&
                (this.selected_promotion.gift_type == null ||
                  this.selected_promotion.gift_type == "")
              ) {
                this.$alert(
                  "La promoción debe  contener algún tipo de beneficio. Favor seleccionar algún tipo de descuento u obsequio.",
                  "Error",
                  {
                    confirmButtonText: "Aceptar",
                    type: "error",
                    customClass: "notification-error"
                  }
                ).then(verifica => {});
                state++;
                this.benefit_required = false;
              }
            }
            if (state <= 0) {
              if (
                this.original_copy_selected_promotion.branchoffice_id ==
                this.selected_promotion.branchoffice_id
              ) {

                await this.updatePromotion(this.selected_promotion.id);
              } else {
                this.open();

              }
            }
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
        }
      });
      this.setPromotionLoader(false);
    },
    changeTypePromotion() {
      if (this.selected_promotion.promotion_type_id == 2) {
        this.getLines();
        this.getBrands();
        this.message_cant = "Cantidad Minima";
        this.message_cant_gross = "Valor Minimo Bruto";
      }
      if (this.selected_promotion.promotion_type_id == 3) {
        this.message_cant = "Cantidad Minima Mix";
        this.message_cant_gross = "Valor Minimo Mix Bruto ";
      }
    },
    _getSubLines() {
      this.getSubLines();
    },
    _getSubBrands() {
      this.getSubBrands();
    },
    test(produc) {

      let prod = false;
      let selected_promotion = this.selected_promotion;
      prod = selected_promotion.products_promotions.find(
        p => p.product.id == produc.id
      );
      if (!prod || prod == undefined) {
        let pp = JSON.parse(JSON.stringify(this.productAdd));
        pp.id = selected_promotion.products_promotions.length;
        pp.product_id = produc.id;
        pp.product.price.price = produc.price.price;
        pp.minimum_amount = null;
        pp.discount = 0;
        pp.discount_value = 0;
        pp.pay_soon = null;
        pp.cash_payment = null;
        pp.product.line.line_description = produc.line.line_description;
        pp.product.description = produc.description;
        pp.product.code = produc.code;

        selected_promotion.products_promotions.push(pp);
        this.setPromotion(selected_promotion);
      }
    },
    remoteMethodGetProducts(query) {
      if (query.length >= 3) {
        this.getProductByParam(query);
      }
    },
    setValueDiscount(row) {
      row.product.discount = 12;
    }
  },
  computed: {
    ...mapState("promotions", [
      "selected_promotion",
      'original_copy_selected_promotion',
      "lines",
      "sublines",
      "brands",
      "subbrands",
      "products",
      "branchoffices",
      "promotionLoader"
    ]),
    ...mapGetters("promotions", ["getSelectedPromotion"])
  },
  async mounted() {
    await this.initComponent();
  },
  // consulta de productos de acuerdo a contact_warehouse
  created() {
    this._setbranchoffice_warehouse_id(
      Number(localStorage.getItem("selected_branchoffice_warehouse"))
    );
    this.setBranchoffice(localStorage.getItem("selected_branchoffice"));
  }
};
</script>

<style>
#btnGuardar {
  padding-left: 12%;
}

#boton-guardar {
  background-color: #007db3 !important;
  color: #fff !important;
}

.b {
  font-size: 16px;
}

#picker {
  width: 100%;
}

.required-benefit {
  border: 1px solid red;
}

#span {
  color: red;
}
</style>
