<template>
  <div class="report-content">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <b-card no-body class="mb-1" style="width: 98%">
        <b-btn
          block
          href="#"
          v-b-toggle.general_data
          id="acordeon"
          class="new-accordion accordion-title"
          @click="changeIcon"
          >Filtros Informe
        </b-btn>
          <span class="aling-left">
            <i v-bind:class="iconAcordion"></i>
          </span>
        <b-collapse v-bind:visible="true" id="general_data" role="tabpanel">
          <b-card-body class="banner-new">
            <div class="row">
              <div class="col-3">
                <label for="year_month">Año Mes</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-date-picker
                  v-model="params.year_month"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-2">
                <label for="account_from">Cuenta Desde</label>
                <el-button
                  id="accountFrom"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountFrom"
                ></el-button>
                <br />
                <b-badge
                  v-if="params.description_account_from != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_from)"
                ></b-badge>
                <el-button
                  v-if="params.view_delete_from"
                  id="accountFrom"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountFrom"
                ></el-button>

                <ModalAccount
                  @selectedAccount="_selectedAccountFrom"
                  :scrollable="true"
                  :modal_id="accountFrom"
                />
              </div>
              <div class="col-2">
                <label for="account_up">Cuenta Hasta</label>
                <el-button
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountUp"
                >
                </el-button>
                <br />
                <b-badge
                  v-if="params.description_account_up != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_up)"
                ></b-badge>
                <el-button
                  v-if="params.view_delete_up"
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountUp"
                ></el-button>
                <ModalAccount
                  @selectedAccount="_selectedAccountUp"
                  :scrollable="true"
                  :modal_id="accountUp"
                />
              </div>

            </div>
            <div class="row">
              <div class="col-12 mb-2" style="text-align: center">
                <b-button
                  v-b-toggle.general_data
                  type="submit"
                  class="mt-4"
                  variant="primary"
                >
                  <span class="btn-label">
                    <i class="ti-search min-height"></i>
                  </span>
                  Listar
                </b-button>

              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>
    <Preloader v-if="loading.module" />
    <ag-grid-vue
      :style="style_account_balance"
      :class="ag_grid.selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="account_balance"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :pinnedTopRowData="pinnedTopRowData"
      :frameworkComponents="frameworkComponents"
      :pinnedBottomRowData="pinnedBottomRowData"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
      :rowSelection="rowSelection"
      :groupSelectsChildren="true"
      :suppressRowClickSelection="true"
      :suppressAggFuncInHeader="true"
      :masterDetail="true"
      :detailCellRendererParams="detailCellRendererParams"
      @filterChanged="filterChanged"
    ></ag-grid-vue>
  </div>
</template>
<style>
body {
  font-size: 15px !important;
}
</style>
<script>
import { AgGridVue } from "@ag-grid-community/vue";
// import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
// import totalRowComponent from "../../components/totalRowComponent.vue";
import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  props:{
    style_account_balance: {required:false , default :'width: 100%; height: 98%'}
  },
  data() {
    return {
      iconAcordion: "ti-angle-down",
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
      columnDefs: [],
      gridOptions: null,
      gridApi: null,
      statusBar: null,
      defaultColDef: null,
      rowGroupPanelShow: null,
      groupDefaultExpanded: null,
      autoGroupColumnDef: null,
      selectedTheme: "ag-theme-balham",
      frameworkComponents: null,
      pinnedBottomRowData: null,
      pinnedTopRowData: null,
      getRowStyle: null,
      rowSelection: null,
      themes: [
        { theme: "ag-theme-alpine", label: "Alpine" },
        { theme: "ag-theme-dark", label: "Dark" },
        { theme: "ag-theme-balham", label: "Balham" },
        { theme: "ag-theme-balham-dark", label: "Balham dark" },
        { theme: "ag-theme-material", label: "Material" },
      ],
      optionsThemes: [
        { value: "ag-theme-alpine", label: "Alpine" },
        { value: "ag-theme-dark", label: "Dark" },
        { value: "ag-theme-balham", label: "Balham" },
        { value: "ag-theme-balham-dark", label: "Balham dark" },
        // { value: "ag-theme-material", label: "Material" },
      ],
      sideBar: {
        toolPanels: [
          {
            id: "columns",
            labelDefault: "Columnas",
            labelKey: "columns",
            iconKey: "columns",
            toolPanel: "agColumnsToolPanel",
          },
          {
            id: "filters",
            labelDefault: "Filtros",
            labelKey: "filters",
            iconKey: "filter",
            toolPanel: "agFiltersToolPanel",
          },
        ],
        //defaultToolPanel: "filters",
        hiddenByDefault: false,
      },
      gridColumnApi: null,
      columnTypes: null,
      modules: AllModules,
    };
  },
  components: {
    AgGridVue,
    Card,
    Preloader,
    ModalAccount,
  },
  async beforeMount() {
    this.gridOptions = {};

    this.autoGroupColumnDef = { minWidth: 450 };

    this.columnDefs = [
      {
        field: "code",
        headerName: "Código Cuenta",
        cellClass: "yes-bold-soft",
        cellRenderer: "agGroupCellRenderer",
        cellRendererParams: { checkbox: true },
        cellRenderer: 'agGroupCellRenderer',
        minWidth: 250
      },
      {
        field: "name",
        headerName: "Descripción Cuenta",
        cellClass: "yes-bold-soft",
        minWidth: 250
      },
      {
        valueFormatter: this.currencyFormatter,
        field: "final_balance",
        headerName: "Saldo",
        filter: "agNumberColumnFilter",
        cellClass: (params) => {
          return this.validateFinalBalance(params) == 0
            ? "yes-bold-soft aling-left-text"
            : this.validateFinalBalance(params) == 1 
            ? "yes-bold-soft aling-left-text bad-score"
            :this.validateFinalBalance(params) == 2 
            ? "yes-bold-soft aling-left-text good-score"
            :this.validateFinalBalance(params) == 3 
            ? "yes-bold-soft aling-left-text good-score"
            :this.validateFinalBalance(params) == 4 
            ? "yes-bold-soft aling-left-text bad-score" 
            : "yes-bold-soft";
        },
        minWidth: 250
        
      },
    ];

    this.getRowStyle = (params) => {
      if (params.node.rowPinned) {
        return {
          color: "#3d3d3d",
          "font-size": "15px",
          "font-weight": "bold",
          background: "#c1c1c1",
          "border-top": "1px solid #fff",
        };
      }
    };

    this.defaultColDef = {
      minWidth: 120,
      enableValue: true,
      enableRowGroup: true,
      sortable: true,
      filter: true,
      floatingFilter: true,
      resizable: true,
    };

    this.rowSelection = "multiple";

    

    this.statusBar = {
      statusPanels: [
        {
          statusPanel: "agTotalAndFilteredRowCountComponent",
          align: "left",
        },
        {
          statusPanel: "agTotalRowCountComponent",
          align: "center",
        },
        { statusPanel: "agFilteredRowCountComponent" },
        { statusPanel: "agSelectedRowCountComponent" },
        { statusPanel: "agAggregationComponent" },
      ],
    };

    this.groupDefaultExpanded = 0;
    this.rowGroupPanelShow = "always";

    // this.gridApi.openToolPanel("columns");
    
  this.pinnedBottomRowData = this.createData();
    this.frameworkComponents = {
      customPinnedRowRenderer: totalRowComponent,
    };

    this.detailCellRendererParams = {
      detailGridOptions: {
        columnDefs: [
          { field: 'identification',headerName: 'Código Tercero',cellRenderer: 'agGroupCellRenderer',minWidth: 50},
          { field: 'name', headerName: 'Nombre Tercero',minWidth: 50},
          {
            field: 'final_balance',
            headerName: 'Saldo Tercero',
            minWidth: 50,
            cellClass: "aling-left-text",
            valueFormatter: this.currencyFormatter,
          },
          
        ],
        defaultColDef: { flex: 1 },
        masterDetail: true,
        detailRowHeight: 240,
        detailCellRendererParams: {
        // level 3 grid options
        detailGridOptions: {
          columnDefs: [
            { field: 'consecutive',headerName: 'Código Documento', cellRenderer: 'agGroupCellRenderer' },
            { field: 'due_date',headerName: 'Fecha Vencimiento' },
            { field: 'document_date',headerName: 'Fecha Documento' },
            { field: 'final_balance',headerName: 'Saldo Documento',cellClass: "aling-left-text",valueFormatter: this.currencyFormatter, },
          ],
          defaultColDef: {
            flex: 1,
          },
        },
        getDetailRowData: async (params) => {
          //console.log(params.data.account_id);
          await this.getBalanceDocument_(params.data.id,params.data.account_id)
          params.successCallback(this.document_balance);
          //console.log(this.document_balance);
        },
      },

      },
      getDetailRowData: async (params) => {

        await this.getBalanceContact(params.data.id)
        params.successCallback(this.contact_balance);

      },
    };
   
    
  
  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridColumnApi = this.gridOptions.columnApi;
  },
  computed: {
    ...mapState("accountbalance", [
      "ag_grid",
      "loading",
      "params",
      "branchOffices",
      "accounts_from",
      "accounts_up",
      "params_accounts_from",
      "params_accounts_up",
      "params_cotact",
      "contacts",
      "paramsVoucherType",
      "voucherTypes",
      "contact_warehouses",
      "params_account_balance",
      "account_balance",
      "contact_balance",
      "document_balance",
    ]),
  },
  created() {
    this.init();
  },
  methods: {
    ...mapActions("accountbalance", [
      "fetchBranchOffices",
      "fetchAccountsFrom",
      "fetchAccountsUp",
      "fetchContacts",
      "fetchVouchertype",
      "fetchContactWarehouses",
      "fetchAccountBalance",
      "getBalanceContact",
      "getBalanceDocument",
    ]),
    filterChanged(params) {
      let result = {
        final_balance: 0,
      };

      params.api.forEachNodeAfterFilter(i => {
        result.final_balance += Number(i.data.final_balance);
      });

      this.pinnedBottomRowData = [result];
    },
    async getBalanceDocument_(contact_id,account_id){
      await this.getBalanceDocument({contact_id,account_id});
    },
    async maxReport(){
          await localStorage.setItem(
            "params_trial_balance",
            JSON.stringify(this.params)
          );
          window.open("/#/reportes/saldos-contables", "_blank");
        },
    validateFinalBalance(params){
      let res = "";
      if(params.data.account){
        if(params.data.balance == 0){
          res = 0; //yes-bold-soft aling-left-text
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 1){
          res = 1;//yes-bold-soft aling-left-text bad-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 1){
          res = 2;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 2){
          res = 3;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 2){
          res = 4;//yes-bold-soft aling-left-text bad-score
        }

      }else{
        res = 0;
      }
      
      return res;
    },
    clearAccountFrom(){
      this.params.account_from = "";
      this.params.description_account_from = "";
      this.params.view_delete_from = null;
    },
    clearAccountUp(){
      this.params.account_up = "";
      this.params.description_account_up = "";
      this.params.view_delete_up = null;

    },
    onBtExport() {
      var params = {
        fileName: "Libro-auxiliar.xlsx",
      };
      this.gridApi.exportDataAsExcel(params);
    },
    onBtCsv() {
      var params = {
        fileName: "Libro-auxiliar.csv",
      };
      this.gridApi.exportDataAsCsv(params);
    },
    createData() {
      let result = [
        {
          final_balance: 0,
        },
      ];
/* 
      for (let element in result[0]) {
        result[0][element] = this.account_balance.reduce(
          (total, currentValue) => +total + (+currentValue[element] || 0),
          0
        );
      } */

      this.account_balance.map(i => {
        result[0].final_balance += i.final_balance?(Number(i.final_balance) || 0):0;
      })

      return result;
    },
    getContactName(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.contact) {
        return `${params.data.contact.name} ${
          params.data.contact.surname || ""
        } `;
      } else {
        return "";
      }
    },
    getDebitValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "D") {
        return `${params.data.operation_value}`;
      }
    },
    getCreditValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "C") {
        return `${params.data.operation_value}`;
      }
    },
    currencyFormatter(params) {
      if (params.value !== "undefined" && params.value !== undefined) {
        return this.formatNumber(params.value);
      }

      return "";
    },
    formatNumber(number) {
      return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
    },
    fetchContactWarehouses_(text) {
      this.params_contact_warehouse.filter = text;
      this.fetchContactWarehouses();
    },
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      console.log("AQUIIII",this.accountUp);
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;
      this.params.view_delete_from = 1,
      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.params.view_delete_up = 1,
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },

    fetchAccountsFrom_(text) {
      this.params_accounts_from.filter = text;
      this.fetchAccountsFrom();
    },
    fetchAccountsUp_(text) {
      this.params_accounts_up.filter = text;
      this.fetchAccountsUp();
    },
    async fetchContact(filter) {
      this.params_cotact.query = filter;
      await this.fetchContacts();
    },
    async validateForm() {
      // if (
      //   (this.params.contact_warehouse_id == null &&
      //     this.params.contact_id == null) ||
      //   this.params.contact_warehouse_id == "" ||
      //   this.params.contact_id == ""
      // ) {
      //   this.$notify({
      //     title: "Atención",
      //     message: "Debe Selecconar Tercero o Sucursal",
      //     type: "warning",
      //   });
      //   return false;
      // }

      /* if (
        this.params.year_month == null ||
        this.params.year_month_up == null ||
        this.params.account_from == null
      ) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      } */

      this.loading.module = true;
      await this.fetchAccountBalance();
      this.loading.module = false;
      await localStorage.setItem(
        "params_account_balance",
        JSON.stringify(this.params)
      );
      this.pinnedBottomRowData = this.createData();
      
      //window.open("/#/reportes/libro-auxiliar", "_blank");
    },
    async init() {
      await this.setDefaultYearMonth();
      await this.fetchBranchOffices();
      await this.fetchAccountsFrom();
      await this.fetchAccountsUp();
      await this.fetchContacts();
      await this.fetchContactWarehouses();
      await this.fetchVouchertype();
      
      this.loading.module = false;
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month = await this.formatDate(this.restarMes(d));
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    onFirstDataRendered(params) {
      //console.log(params);
      setTimeout(function () {
        params.api.getDisplayedRowAtIndex(0).setExpanded(true);
      }, 0);
    }, 
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
    changeIcon() {
      if (this.iconAcordion == "ti-angle-up") {
        this.iconAcordion = "ti-angle-down";
      } else {
        this.iconAcordion = "ti-angle-up";
      }
    },
  },
};
</script>
