<template>
    <card title="<i class='ti-map-alt'></i> Ruta Vendedor">
    <div id="add">
        <div class="row">
            <div class="col-3">
                <label for="seller">Vendedor</label>

                <el-select
                    id="seller"
                    filterable
                    placeholder="Seleccione vendedor"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-model="params.seller"
                    remote
                    :remote-method="_seller"
                    clearable
                >
                    <el-option
                        v-for="seller in sellers"
                        :key="seller.id"
                        :label="seller.identification+ ' - ' +seller.name+' ' +seller.surname"
                        :value="seller.id"
                    >
                    </el-option>
                </el-select>
            </div>
            <div class="col-2">
                <label for="filter_date">Fecha:</label><br>
                <el-date-picker
                    id="filter_date"
                    type="date"
                    size="large"
                    placeholder="Seleccione fecha"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                    v-model="params.date"
                ></el-date-picker>
            </div>

            <div class="col-2">
                <b-form-group label="Velocidad Recorrido" class="mb-0">
                <el-slider
                v-model="vel">
                </el-slider>
                </b-form-group> 
            </div>

            <div class="col-5">
                <div class="row">
                    <div class="col-4 border">
                        Tot Visitas
                    </div>
                    <div class="col-2 border">
                        {{total_visits}}
                    </div>
                    <div class="col-4 border">
                        Tot Num Pedidos
                    </div>
                    <div class="col-2 border">
                        {{total_num_collect}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 border">
                        Tot Clientes
                    </div>
                    <div class="col-2 border">
                        {{total_contacts}}
                    </div>
                    <div class="col-4 border">
                        Tot Vr Pedidos
                    </div>
                    <div class="col-2 border">
                        {{total_vr_docs}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3 col-md-2">
                <br>
                <el-checkbox class="input-only-promotions" v-model="map.keepAtCenter">
                Seguir el recorrido
                </el-checkbox>
            </div>

            <div class="form-group col-sm-3 col-md-2">
                <el-button id="restart" class="mt-2" type="danger" icon="el-icon-video-play" title="Reiniciar Recorrido" @click="restart()" circle plain></el-button>
                <label for="restart">Reiniciar Recorrido.</label>
            </div>
            <div class="col-3">
                <el-button id="current_location" class="mt-2" type="primary" icon="el-icon-location-information" title="Ubicacion Actual" @click="_currentLocation()" circle plain></el-button>
                <label for="current_location">Ubicacion Actual</label>
            </div>
            <!-- <div class="form-group col-sm-3 col-md-2" v-if="total_visits != null">
                <p class="mt-3">
                    Total Visitas: {{total_visits}}
                </p>
            </div>
            <div class="form-group col-sm-3 col-md-2" v-if="total_visits != null">
               <p class="mt-3">
                    Total Clientes: {{total_contacts}}
                </p>
            </div> -->

            <div class="col-5">
                <div class="row">
                    <div class="col-4 border" >
                        Tot Num Recaudos
                    </div>
                    <div class="col-2 border">
                        {{total_num_collect}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 border">
                        Tot Vr Recaudos
                    </div>
                    <div class="col-2 border">
                        {{total_vr_collect}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
            <div class="col-12">
                <div class="ml-2">

                    <smap
                        :duration="durationInteger"
                        :keep-at-center="map.keepAtCenter"
                        :latitude="calcLatitude"
                        :longitude="calcLongitude"
                        :cordinate="calCordinate"
                        :visits="visits"
                    />
                </div>
            </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import smap from "./Map";
import Card from '../../components/pages/card/card';

export default {
    name: "main-component",
    components: {
        smap,
        Card
    },
    watch:{
    "vel"(newval){
        var val = 100 - newval
        this.map.duration = val == 0 ? 20*1 : 20*val
    },
    "map.duration"(newval){
        if (newval == '') {
            map.duration = 1
        }
    },
    "params.seller"(newval){
        this._fetchDates()
    },
    "params.date"(newval){
        this._fetchCordinate()
    }
  },
    data: function() {
        return {
            defaultValues: {
                latitude: 4.645070,
                longitude: -74.082419,
                cordinate: [
                    {
                        next: 1,
                        latitude: 4.645070,
                        longitude: -74.082419
                    },
                    {
                        next: 2,
                        latitude: 4.645070,
                        longitude: -74.082419
                    },
                    {
                        next: 3,
                        latitude: 4.645070,
                        longitude: -74.082419
                    },
                    {
                        next: 4,
                        latitude: 4.645070,
                        longitude: -74.082419
                    },
                    {
                        next: 0,
                        latitude: 4.645070,
                        longitude: -74.082419
                    }
                ]
            },
            labels: {
                seller: "Vendedor",
                date: "Fechas"
            },
            placeholders: {
                seller: "Seleccione un vendedor",
                date: "Seleccione una fecha"
            },
            data: {
                sellers: [],
                dates: [],
                cordinate: [],
            },
            total_visits:null,
            total_contacts:null,
            total_num_docs:null,
            total_vr_docs:0,
            total_num_collect:null,
            total_vr_collect:0,
            contact_array:[],
            contacte:{},
            vel:50,
            state: {
                seller: "",
                date: ""
            },
            map: {
                areRequired: false,
                areAbled: false,
                duration: 2000,
                keepAtCenter: true
            }
        };
    },
    created() {
        this.fetchsellers()
    },
    computed: {
        ...mapState('seller_route', ['sellers', 'params', 'dates', 'coordinates', 'visits']),
        durationInteger() {
            return parseInt(this.map.duration);
        },
        calcLatitude() {
            return this.data.cordinate.length == 0
                ? this.defaultValues.latitude
                : this.data.cordinate[0].latitude;
        },
        calcLongitude() {
            return this.data.cordinate.length == 0
                ? this.defaultValues.longitude
                : this.data.cordinate[0].longitude;
        },
        calCordinate() {
            return this.data.cordinate.length == 0
                ? this.defaultValues.cordinate
                : this.data.cordinate.map((el, i) => ({
                      ...el,
                      next: (i + 1) % this.data.cordinate.length
                  }));
        }
    },
    methods: {
        ...mapMutations('seller_route', ['setVisits']),
        ...mapActions('seller_route', ['fetchsellers', 'fetchDates', 'fetchCordinate', 'fetchVisits', 'currentLocation']),
        async _currentLocation(){
            if (!this.params.seller) {
                this.$alert(
                    `Debe seleccionar un vendedor`,
                    "Error", {
                    confirmButtonText: "Aceptar",
                    type: "error",
                    customClass: "notification-error"
                    }
                )
            }else{
                this.setVisits([])
                await this.currentLocation()
                this.data.cordinate = this.coordinates.map(el => ({
                latitude: parseFloat(el.latitude),
                longitude: parseFloat(el.longitude)
            }));
            this.map.areAbled =
                this.coordinates.length > 0 ? true : false;
            this.map.areRequired = true;
            }
        },
        restart(){
            // carga de nuevo las coordenadas
            this._fetchCordinate()
            //se afecta la velocidad insignificantemente para qur el recorrido se reinicie
            this.map.duration = this.map.duration+1
        },
        _seller(filter){
            this.fetchsellers(filter)
        },
        _fetchDates() {
            this.fetchDates(this.params.seller)
        },
        async _fetchCordinate() {
            if (this.params.seller == null || this.params.date == null) {
               return 
            }
            await this.fetchVisits()
            //cantidad vendedores
            this.contact_array=[]
            this.contacte={}
            //total visitas
            this.total_visits = this.visits.length
            var _total_num_docs = 0
            var _total_vr_docs = 0
            var _total_num_collect = 0
            var _total_vr_collect = 0
            
            await this.visits.forEach(el => {
                if (!(el.contact_id in this.contacte)) {
                    this.contacte[el.contact_id] = true
                    this.contact_array.push(el.contact_id)
                }
                // total num pedidos
                _total_num_docs      += el.total_quantity_documents
                // total valor pedidos
                _total_vr_docs       += el.total_documents_wf
                // total num recaudos
                _total_num_collect   += el.total_collections_visit
                // total valor recaudos
                _total_vr_collect    += el.collections_visit_wf
            });

            this.total_contacts =this.contact_array.length
            this.total_num_docs = _total_num_docs
            this.total_vr_docs  = new Intl.NumberFormat("de-DE").format(_total_vr_docs)
            this.total_num_collect = _total_num_collect
            this.total_vr_collect = new Intl.NumberFormat("de-DE").format(_total_vr_collect)

            await this.fetchCordinate()
            
            this.data.cordinate = this.coordinates.map(el => ({
                latitude: parseFloat(el.latitude),
                longitude: parseFloat(el.longitude)
            }));
            this.map.areAbled =
                this.coordinates.length > 0 ? true : false;
            this.map.areRequired = true;

        },
        handleSeller(e) {
            this.state.seller = e.target.value;
        },
        handleDate(e) {
            this.state.date = e.target.value;
            this.fetchCordinate();
        }
    }
};
</script>

<style scoped>

</style>
