<template>
  <card title="<i class='fa fa-users'></i> Sucursales de Clientes">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <b-form-group class="mb-0">
          <b-input-group>
            <b-form-input
              v-model="params.filter"
              placeholder
              id="filter"
              style="text-transform: uppercase"
            />
            <b-input-group-append>
              <b-btn @click.prevent="filtro(params.filter)" id="botones">
                <span class="ti-search"></span>&nbsp; Buscar
              </b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <div>
          <b-table
            class="table-sm text-table"
            striped
            hover
            show-empty
            responsive
            :items="customers.data"
            :fields="fields"
            empty-text="No existen terceros registrados"
          >
            <template v-slot:cell(actions)="row" class="text-center">
              <!--<b-button size="sm" style="padding: 0.25rem 0.7rem;" variant="secondary" class="mt-1" :to="`/terceros/${row.item.contact_id}/ver`">
                <i class="fa fa-fw fa-eye"></i>
              </b-button>-->
              <b-button
                size="sm"
                style="padding: 0.25rem 0.7rem;"
                variant="success"
                :href="'tel:031' + row.item.contact.main_telephone"
                class="mt-1 button_phone"
              >
                <i class="fa fa-fw fa-phone"></i>
              </b-button>
              <b-button
                size="sm"
                style="padding-left:4px; padding-right:4px"
                id="botones"
                @click.prevent="ingresarPortal(row.item)"
                class="mt-1 buttons-table"
              >Portal Clientes</b-button>
            </template>

            <template v-slot:cell(identiclientevendedor)="row">
              <p class="list" v-if="row.item.contact != null ">{{ row.item.contact.identification }}</p>
              <p
                class="list blueseller"
                v-if="row.item.seller != null"
              >{{ row.item.seller.identification }}</p>
            </template>

            <template v-slot:head(sucursaltelefono)="row">
              <p class="list text-nowrap">
                Sucursal /
                <span class="blueseller">Teléfono</span>
              </p>
            </template>

            <template v-slot:head(clientevendedor)="row">
              <p class="list text-nowrap">
                Cliente /
                <span class="blueseller">Vendedor</span>
              </p>
            </template>

            <template v-slot:cell(clientevendedor)="row">
              <p
                class="list"
                v-if="row.item.contact"
              >{{ row.item.contact.name }} {{ row.item.contact.surname }} {{ row.item.contact.tradename }}</p>
              <p
                class="list blueseller text-nowrap"
                v-if="row.item.seller != null"
              >{{ row.item.seller.name }} {{ row.item.seller.surname }}</p>
            </template>

            <template v-slot:cell(sucursaltelefono)="row">
              <p class="list">{{ row.item.address }}</p>
              <p class="list">{{ row.item.telephone }}</p>
            </template>
          </b-table>
        </div>

        <b-row>
          <b-col md="6" class="my-1">
            <b-pagination
              :total-rows="totalRows"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="setPagePagination"
            />
          </b-col>
        </b-row>
      </div>
    </div>
  </card>
</template>

<script type="text/javascript">
import Vue from "vue";
import { mapActions, mapState, mapMutations } from "vuex";
import loader from "./../../components/layout/loader.vue";
import card from "../../components/pages/card/card.vue";

export default {
  components: {
    loader,
    card,
  },
  data() {
    return {
      loader: false,
      disabledGo: false,
      go: false,
      fields: [
        {
          key: "identiclientevendedor",
          label: "Identificación",
          sortable: true,
          thStyle: "height:40px; font-size:13px; ",
          thClass: "align-middle",
        },
        {
          key: "code",
          label: "Sucursal",
          sortable: true,
          thStyle: "height:40px; font-size:13px",
          tdClass: "text-center",
          thClass: "align-middle",
        },
        {
          key: "clientevendedor",
          label: "Cliente / Vendedor",
          sortable: true,
          thStyle: "height:40px; font-size:13px",
          thClass: "align-middle",
        },
        {
          key: "sucursaltelefono",
          label: "Sucursal / Telefono",
          sortable: true,
          thStyle: "height:40px; font-size:13px",
          thClass: "align-middle",
        },
        // { key: 'description', label: 'Nombres / Razón social', sortable: true },
        // { key: 'contact.address', label: 'Dirección', sortable: true },
        {
          key: "branchoffice.name",
          label: "Sede",
          sortable: true,
          thStyle: "height:40px; font-size:13px",
          thClass: "align-middle",
        },
        {
          key: "actions",
          label: "Opciones",
          thStyle: {
            "min-width": "100px !important",
            width: "165px !important",
            "font-size": "13px",
          },
          thClass: "align-middle",
        },
      ],
    };
  },
  created() {
    this.cargarClientes();
  },
  async mounted() {
    let filter = document.getElementById("filter");
    let interval;

    filter.addEventListener(
      "keyup",
      () => {
        clearInterval(interval);
        interval = setInterval(() => {
          this.setFilterPagination();
          clearInterval(interval);
        }, 500);
      },
      false
    );
  },
  methods: {
    async cargarClientes() {
      this.params.id = this.user_logued.contact ? this.user_logued.contact.id : null;
      this.params.employee_type = this.user_logued.contact ? this.user_logued.contact.employee.category_id : null;
      await this.fetchCustomers();
    },
    ...mapActions("ecommerce", [
      "fetchCustomers",
      "loginB2b",
      "setFilterPagination",
      "setPerPagePagination",
      "setPagePagination",
      "setSortByPagination",
      "setSortPagination",
    ]),
    ...mapMutations("ecommerce", [
      "setPerPage",
      "setFilter",
      "setSelectedCustomer",
    ]),
    async ingresarPortal(item) {
      await localStorage.removeItem('user_b2b')
      await this.setSelectedCustomer(item);
      await this.loginB2b();
      window.open("/#/b2b/inicio", "_blank");
      this.disabledGo = false;
    },
    filtro(filtro) {
      this.setFilter(filtro);
      this.fetchCustomers();
    },
  },
  computed: {
    ...mapState("ecommerce", ["selectedCustomer", "customers", "params"]),
    ...mapState("login", ["user_logued"]),
    totalRows() {
      return this.customers.total;
    },
  },
};
</script>

<style type="text/css">
.boton-guardar {
  text-align: center !important;
  display: block !important;
  margin: auto !important;
}

.el-select-dropdown__item {
  height: auto;
}

p.list {
  margin: 0px;
}

.blueseller {
  color: #6699cc;
}

@media (max-width: 768px) {
  .desplegable {
    left: 0px !important;
    min-width: auto !important;
    width: auto;
  }
}

@media (max-width: 768px) {
  .button_phone {
    width: 90px;
  }

  .buttons-table {
    font-size: 12px;
  }

  .text-table {
    font-size: 12px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}
</style>
