<template>
    <div class="row map">
    <l-map :zoom="60" :center="mapLocation" :options="{zoomControl: false}">
        <l-icon-default />
        <l-tile-layer :url="mapData.url" :attribution="mapData.attribution" />
        <l-polyline :lat-lngs="polyline" color="#ff00ff" :weight="polylinew"></l-polyline>
        <l-moving-marker
            v-if="vlocations.length > 0 || show_current_location" 
            v-for="l in locations"
            :key="l.id"
            :lat-lng="l.latlng"
            :duration="duration"
            :keep-at-center="keepAtCenter"
            :icon="icon"
        >
            <l-popup :content="l.text" />
        </l-moving-marker>

        <l-marker 
        v-for="(vl, index) in vlocations"
        :key="index+2"
        :lat-lng="vl.marker">
            <l-popup :options="options_popup">
                <p class="m-0 text-center">
                    Visita: {{ index+1 }}
                </p>
                <p class="m-0 text-center">
                    {{ vl.contact }}
                </p>
                <hr class="m-1">
                <p class="m-0">
                    Hora Checkin:{{ vl.checkin_date}} - Hora Checkout:{{ vl.checkout_date}}
                </p>
                <p class="m-0">
                    Motivo:{{ vl.reason}}
                </p>
                <div v-if="vl.total_quantity_documents > 0">
                    <p class="m-0 mt-1">Número Pedidos: {{vl.total_quantity_documents}}</p>
                    <p class="m-0 mt-1">Total pedidos: {{vl.total_documents}}</p>
                </div>
                <div v-if="vl.total_collections_visit > 0">
                    <p class="m-0 mt-1">Número Recaudos: {{vl.total_collections_visit}}</p>
                    <p class="m-0 mt-1">Total Recaudos: {{vl.collections_visit}}</p>
                </div>
                <p class="m-0">
                    {{ vl.observation}}
                </p>
                <p class="m-0 mt-1">
                    Duración Visita:{{ vl.duration}}
                </p>
                <p class="m-0">
                    Distancia (m):{{ vl.distance}}
                </p>
            </l-popup>
        </l-marker>
        <l-control-zoom position="bottomright"  ></l-control-zoom>
    </l-map>
    </div>   
</template>
<script>
import L from 'leaflet';
import { LMap, LTileLayer, LIconDefault, LMarker, LPopup, LPolyline , LControlZoom} from 'vue2-leaflet';
import LMovingMarker from 'vue2-leaflet-movingmarker'
import { mapState } from 'vuex';
function rand(n) {
    const max = n + 0.01;
    const min = n - 0.01;
    return Math.random() * (max - min) + min;
}

const icon = L.icon({
    iconUrl: "./static/personaje.png",
    iconSize: [41, 51],
    iconAnchor: [20, 51],
    popupAnchor: [4, -25]
});

export default {
    name: "smap",
    components: {
        LMap,
        LTileLayer,
        LIconDefault,
        LPopup,
        LMovingMarker,
        LMarker,
        LPolyline,
        LControlZoom
    },
    props: {
        duration: { type: Number, default: 2000 },
        keepAtCenter: { type: Boolean, default: false },
        latitude: { type: Number, default: 48.8929425 },
        longitude: { type: Number, default: 2.3821873 },
        cordinate: { type: Array, default: [] },
        visits :{ type: Array, default: [] }
    },
    data() {
        return {
            nextmov: 1,
            options_popup:{maxWidth:500},
            polylinew:2,
            polyline:[],
            vlocations:[],
            locations: [
                {
                    id: 1,
                    latlng: L.latLng(rand(this.latitude), rand(this.longitude)),
                    text: "Moving Marker #" + 1
                }
            ],
            icon,
            initialLocation: L.latLng(this.latitude, this.longitude),
            mapData: {
                attribution:
                    '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>',
                url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
            },
            interval: null
        };
    },
    computed: {
        ...mapState('seller_route', ['show_current_location']),
        durationInteger() {
            return parseInt(this.map.duration);
        },
        mapLocation() {
            return L.latLng(this.latitude, this.longitude);
        }
    },
    methods:{
        setVisits(){
            this.vlocations= this.visits.map(el => ({
                marker                      :   L.latLng(el.latitude_checkin, el.longitude_checkin),
                contact                     :   el.contact.identification+'-'+el.contact.name+' '+el.contact.surname,
                checkin_date                :   el.checkin_date.substr(10, 9),
                checkout_date               :   el.checkout_date.substr(10, 9),
                duration                    :   el.duration,
                observation                 :   el.observation,
                distance                    :   el.distance,
                reason                      :   (el.collection ? 'Cobranza. ': ' ' )+ (el.sales_management ? 'Gestión de ventas. ': ' ') + (el.training ? 'Capacitación':''),
                total_documents             :   el.total_documents,
                total_quantity_documents    :   el.total_quantity_documents,
                total_collections_visit     :   el.total_collections_visit,
                collections_visit           :   el.collections_visit
            }))
        },
        async setPolyline(){
            this.polyline = this.cordinate.map(el => ([
                el.latitude,
                el.longitude
            ]));
        }
    },
    watch: {
        "cordinate"(newval){
            this.setPolyline()
        },
        "visits"(newval){
            this.setVisits()
        },
        duration: {
            handler(value, oldValue) {
                if (value !== oldValue) {
                    clearInterval(this.interval);
                    const setRandomLatLng = i => {
                        
                        this.locations.forEach(location => {
                            if (this.cordinate.length == 0) {
                                return (location.latlng = L.latLng(
                                    rand(this.latitude),
                                    rand(this.longitude)
                                ));
                            } else {
                                const ind = this.cordinate[
                                    i % this.cordinate.length
                                ].next;

                                return (location.latlng = L.latLng(
                                    this.cordinate[ind].latitude,
                                    this.cordinate[ind].longitude
                                ));
                            }
                        });
                    };
                    this.interval = setInterval(() => {
                        setRandomLatLng(i);
                        i++;
                    }, value);
                    let i = 0;
                    setRandomLatLng(i);
                }
            },
            immediate: true
        }
    }
};
</script>

<style scoped>
.map{
    height: 80vh;
    width: 100%;
}
</style>