<template>
  <card title="<i class='ti-pencil-alt'></i> Cliente Prospecto">
    

        <div  class="row">
            <div class="form-group col-12 col-sm-4 ">
                <b-form-group label="Tipo de persona" class="mb-0">
                    <select class="form-control" v-model="person.type">
                      <option value="0" selected="selected" >Seleccione tipo de formulario</option>
                      <option value="1" >Persona Natural</option>
                      <option value="2">Persona Juridica</option>
                    </select>
                </b-form-group>
            </div>


        </div>
            <Naturalform v-show="this.person.type == 1" :typePerson="person.type"></Naturalform>
            <Legalform v-show="this.person.type == 2" :typePerson="person.type"></Legalform>
    </card>
</template>

<script>

import Vue from 'vue'
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Loader from "./../../components/layout/loader.vue";
import Card from '../../components/pages/card/card'
import { MessageBox } from 'element-ui';

import Legalform from './moduleForms/legalForm'
import Naturalform from './moduleForms/naturalForm'

export default {
    components: {
    Card,
    Loader,
    Legalform,
    Naturalform
  },
  data () {
    return {

    }
  },
  
  async created () {
    await this.runGetTypeIdentification();
    
  },
  methods:{
...mapActions('ecommerce',['runGetTypeIdentification']),
...mapGetters('prospective_client',['getTypePerson'])
  },
  computed: {
    ...mapState("prospective_client", ['person','loader']),
    ...mapState('ecommerce', [
      'typeIdentifications'
    ]),
      
     
  },
  
}
</script>

<style>
.el-input__inner {
  height: 31.25px;
}

.addpic {
  padding: 2px 2px;
}
</style>
<!-- boton crear  -->
<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
