<template>
  <card title="<i class='ti-book'></i> Libro Auxiliar" style="height: 750px !important">
    <Preloader v-if="loading.module" />

    <index style_auxiliary_book="width: 98%; height: 480px" />

  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import index from "../../components/Auxiliary-book/index";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  components: {
    Card,
    Preloader,
    index,
    ModalAccount,
  },
  data() {
    return {
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
    };
  },

  watch: {
    "params.contact_id"(newval) {
      this.params_contact_warehouse.contact_id = newval;
      this.fetchContactWarehouses();
    },
    "params.branchoffice_id"(newval) {
      if (newval != null) {
        this.paramsVoucherType.branchoffice = newval;
      }
    },
  },

  async created() {
    await localStorage.setItem("params_auxiliary_book_contact", JSON.stringify(this.params));
    window.open('/#/reportes/libro-auxiliar','_blank');
    this.$router.go(-1)
    // this.init();
  },
  mounted(){
    this.removeLastVisitedViews()
  },
  methods: {
    ...mapActions("auxiliarybook", [
      "fetchBranchOffices",
      "fetchAccountsFrom",
      "fetchAccountsUp",
      "fetchContacts",
      "fetchVouchertype",
      "fetchContactWarehouses",
      "fetchAuxiliaryBook",
    ]),
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;

      // si la cuenta hasta es vacia se sugiere la cuenta desde
      this.params.account_up = this.params.account_up == null || this.params.account_up == '' ? account.code : this.params.account_up 
      this.params.description_account_up = this.params.description_account_up == null || this.params.description_account_up == '' ? account.code + " - " + account.name : this.params.description_account_up

      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },
    fetchContactWarehouses_(text) {
      this.params_contact_warehouse.filter = text;
      this.fetchContactWarehouses();
    },
    fetchAccountsFrom_(text) {
      this.params_accounts_from.filter = text;
      this.fetchAccountsFrom();
    },
    fetchAccountsUp_(text) {
      this.params_accounts_up.filter = text;
      this.fetchAccountsUp();
    },
    async fetchContact(filter) {
      this.params_cotact.query = filter;
      await this.fetchContacts();
    },
    async validateForm() {
      // if (
      //   (this.params.contact_warehouse_id == null &&
      //     this.params.contact_id == null) ||
      //   this.params.contact_warehouse_id == "" ||
      //   this.params.contact_id == ""
      // ) {
      //   this.$notify({
      //     title: "Atención",
      //     message: "Debe Selecconar Tercero o Sucursal",
      //     type: "warning",
      //   });
      //   return false;
      // }

      if (
        this.params.year_month_from == null ||
        this.params.year_month_up == null ||
        this.params.account_from == null
      ) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      }

      // this.fetchAuxiliaryBook();
      await localStorage.setItem("params_auxiliary_book", JSON.stringify(this.params));
      window.open('/#/reportes/libro-auxiliar','_blank');
      this.$router.go(-1)
    },
    async init() {
      // await this.fetchBranchOffices();
      // await this.fetchAccountsFrom();
      // await this.fetchAccountsUp();
      // await this.fetchContacts();
      // await this.fetchContactWarehouses();
      // this.params.branchoffice_id =
      //   this.params.branchoffice_id != null
      //     ? this.params.branchoffice_id
      //     : Number(localStorage.selected_branchoffice);
      // this.paramsVoucherType.branchoffice = this.params.branchoffice_id;
      // await this.fetchVouchertype();
      // await this.setDefaultYearMonth();
      this.loading.module = false;
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month_from = await this.formatDate(this.restarMes(d));
      this.params.year_month_up = this.params.year_month_from;
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
  },

  computed: {
    ...mapState("auxiliarybook", [
      "loading",
      "params",
      "branchOffices",
      "accounts_from",
      "accounts_up",
      "params_accounts_from",
      "params_accounts_up",
      "params_cotact",
      "contacts",
      "paramsVoucherType",
      "voucherTypes",
      "contact_warehouses",
      "params_contact_warehouse",
      "params_cotact",
      "auxiliary_book",
    ]),
  },
};
</script>
<style>
</style>