<template>
  <div class="menu-item">
    <router-link :to="link">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"> <i :class="icon"></i></span><slot></slot>
        </li>
      </ul>
    </router-link>
  </div>
</template>
<script>
  export default {
    props: ["link", "icon"]
  }
</script>

<style>
  .fa-ul {
    margin-bottom: 0px !important;
    margin-left: 1.85em;
  }
  #menu .navigation .menu-item a.active {
    /*  background: #cde5ff !important; */
    background: #384951 !important;
  }
</style>
