<template>
  <card title="<i class='ti-control-shuffle'></i> Pedidos Retenidos">
    <TableOrdersRetained />
  </card>
</template>

<script>
// Componentes
import Card from "../../components/pages/card/card";
import TableOrdersRetained from '../../components/pages/orders_retained/TableOrdersRetained';
import ReceivableModal from '../../components/u2/ReceivableModal';



export default {
  components: {
    Card,
    TableOrdersRetained,
    ReceivableModal
  },
};
</script>

<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>

<style src="hover.css/css/hover-min.css">
</style>
