<template>
  <card title="<i class='fa fa-user'></i> Impuestos">
    <b-row>
      <div class="col-8">
        <b-form>
          <label for="">&nbsp;Buscar</label>
          <b-form-input
            class="w-75"
            clearable
            filterable
            placeholder="Seleccione una opcion "
            v-model="params.filter"
            @change="_getTaxesByParam()"
          >
            <!-- revice el tema del search q falta los actionb -->

          </b-form-input>
        </b-form>
      </div>
      <div class="col-4">
        <b-button
          to="/impuestos/crear"
          id="boton-nuevo"
          class="button button-rounded button-primary-flat hvr-shrink float-right"
        >Nuevo</b-button>
      </div>
    </b-row>
    <b-row>
      <grid-u2
        ref="grid"
        :columns="columnDefs"
        :items="taxes.data"
        :gridOptions="gridOptions"
      >

        <template
          slot="options"
          slot-scope="row"
        >
          <div class="justify-content-center">
            <b-button
              size="sm"
              variant="secondary"
              class="mt-1 button-table"
              @click="view(row.item.id)"
            >
              Ver
            </b-button>
            <b-button
              size="sm"
              id="botones"
              class="mt-1 button-table"
              @click="edit(row.item.id)"
            >
              Editar
            </b-button>
            <b-button
              size="sm"
              variant="danger"
              class="mt-1 button-table"
              @click="remove(row.item.id)"
            >
              Eliminar
            </b-button>
          </div>
        </template>

        <template
          slot="base"
          slot-scope="row"
        >
          <div v-if="row.item.base==1">
            Bruto
          </div>
          <div v-if="row.item.base==2">
            Iva
          </div>
        </template>

      </grid-u2>

    </b-row>
    <b-row>
      <b-col
        md="6"
        class="my-1 form-inline"
      >
        <label>Registros por página: &nbsp;</label>
        <b-form-select
          :options="[15, 30, 50,100]"
          v-model="params.perPage"
          @change.native="setPerPagePagination"
        />
      </b-col>
      <b-col
        md="6"
        class="my-1"
      >
        <b-pagination
          :total-rows="totalRows"
          :per-page="params.perPage"
          :current-page="params.page"
          v-model="params.page"
          class="my-0 float-right"
          @change="setPagePagination"
        />
      </b-col>
    </b-row>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";

import GridU2 from "../../components/u2/grid";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
export default {
  components: {
    Card,
    GridU2,
  },
  data () {
    return {
      search: '',
      columnDefs: null,
      context: null,
      getRowHeight: null,
      gridApi: null,
      gridOptions: null
    };
  },
  methods: {
    _getTaxesByParam () {
      this.getTaxes();
    },
    view (id) {
      console.info(id);
      this.$router.push("/impuestos/" + id + "/ver");
    },
    edit (id) {
      this.$router.push("/impuestos/" + id + "/editar");
    },
    async remove (id) {
      this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        (result) => {
          if (result) {
            this.deleteTax(id);
            this.$refs.grid.buildData();
            this.getTaxes();
            //este metodo es elemento q me arealiza la accion
            this.gridApi.refreshCells();
          }
        }
      ).catch(function (result) { })
    },



    ...mapActions("taxes", [
      "getTaxes",
      "deleteTax",
      "setPerPagePagination",
      "setPagePagination",
      'getTaxesByParam'
    ]),
    ...mapMutations("taxes", ["setTaxes", "setPerPage"])
  },

  mounted () {
    this.getTaxes();

    // esto igual es para la actualizacion
    this.gridApi = this.gridOptions.api;
  },
  beforeMount () {

    //establezco el alto de mi fila
    this.getRowHeight = () => {
      return 40;
    };
    //este elemento es necesario para la actualizacion
    this.gridOptions = {}


    this.columnDefs = [{
      name: "Codigo impuesto",
      field: "code",
      width: 200,
      format: 'number',

    },
    {
      name: "Descripcion",
      field: "description",
      width: 320,
    },
    {
      name: "Porcentaje Venta",
      field: "percentage_sale",
      format: 'number',
      width: 150,

    },
    {
      name: "Porcentaje Compra",
      field: "percentage_purchase",
      format: 'number',
      width: 150,

    },
    {
      name: "Base",
      field: "base",
      width: 150,

    },
    {
      name: "Base mínima",
      field: "minimum_base",
      width: 150,
      format: 'currency'
    },
    {
      name: "Opciones",
      field: "options",
      width: 555,


    }
    ];

  },
  computed: {
    ...mapState("taxes", ["taxes", "params"]),
    totalRows () {
      return this.taxes.total
    }
  },
  updated () {


  },
  watch: {
    '_setPerPagePagination' (newValue, oldValue) {
      this.setPerPagePagination(newValue)
      this.gridApi.refreshCells()
    },
    '_setPerPage' (newValue, oldValue) {
      this.setPerPage(newValue)
      this.gridApi.redrawRows();
    }
  }
};
</script>

<style>
</style>
