<template>
  <Card :title=" iconMessage + messageCard">
    <b-form
      @submit.prevent="validateForm()"
      data-vv-scope="form"
    >
      <b-row>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group :class="errors.has('form.code') ? 'form-group-error text-danger': ''">

            <label for="code">Código impuesto <span id="span">*</span></label>
            <b-form-input
              data-vv-as=" "
              :disabled="isDisabled"
              name="code"
              id="code"
              v-model="selectedTax.code"
              v-validate="'required'"
            >
            </b-form-input>
            <span class="text-danger span-error">{{ errors.first('form.code') }}</span>
          </b-form-group>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-8">
          <b-form-group :class="errors.has('form.description') ? 'form-group-error text-danger': ''">
            <label for="code">Descripción <span id="span">*</span></label>
            <b-form-textarea
              data-vv-as=" "
              name="description"
              :disabled="isDisabled"
              v-model="selectedTax.description"
              id="textarea"
              rows="3"
              max-rows="6"
              v-validate="'required'"
            ></b-form-textarea>

            <span class="text-danger span-error">{{ errors.first('form.description') }}</span>
          </b-form-group>
        </div>
      </b-row>

      <b-row>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group :class="errors.has('form.percentage') ? 'form-group-error text-danger': ''">
            <label for="code">Porcentaje Venta <span id="span">*</span></label>
            <b-form-input
              data-vv-as=" "
              step="any"
              :disabled="isDisabled"
              name="percentage_sale"
              v-model="selectedTax.percentage_sale"
              type="number"
              v-validate="'required|min_value:1'"
            ></b-form-input>
            <span>{{errors.first('form.percentage_sale')}}</span>
          </b-form-group>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group :class="errors.has('form.percentage') ? 'form-group-error text-danger': ''">
            <label for="code">Porcentaje Compra <span id="span">*</span></label>
            <b-form-input
              data-vv-as=" "
              step="any"
              :disabled="isDisabled"
              name="percentage_purchase"
              v-model="selectedTax.percentage_purchase"
              type="number"
              v-validate="'required|min_value:0'"
            ></b-form-input>
            <span>{{errors.first('form.percentage_purchase')}}</span>
          </b-form-group>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Base">
            <el-select
              :disabled="isDisabled"
              name="base"
              v-model="selectedTax.base"
              placeholder="Select"
            >

              <el-option
                v-for="item in bases"
                :key="item.id"
                :label="item.nombre"
                :value="item.id"
              ></el-option>
            </el-select>
          </b-form-group>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Base minima">
            <b-form-input
              :disabled="isDisabled"
              name="minimum_base"
              v-model="selectedTax.minimum_base"
              type="number"
              v-validate="'min:1|numeric'"
            ></b-form-input>
            <b-form-invalid-feedback>{{errors.first('minimum_base')}}</b-form-invalid-feedback>
          </b-form-group>
        </div>
      </b-row>

      <b-row>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Cuenta de ventas">
            <b-form-input
              :disabled="isDisabled"
              name="sales_account"
              v-model="selectedTax.sales_account"
            >
            </b-form-input>
          </b-form-group>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Cuenta devolución de ventas">
            <b-form-input
              name="sales_return_account"
              v-model="selectedTax.sales_return_account"
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Cuenta de compras">
            <b-form-input
              :disabled="isDisabled"
              name="purchase_account"
              v-model="selectedTax.purchase_account"
            >
            </b-form-input>
            <b-form-invalid-feedback>{{errors.first('purchase_account')}}</b-form-invalid-feedback>
          </b-form-group>
        </div>

      </b-row>
      <b-row>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Cuenta devolución de compras">
            <b-form-input
              :disabled="isDisabled"
              name="purchase_return_account"
              v-model="selectedTax.purchase_return_account"
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Estado">
            <b-form-radio-group
              name="status"
              v-model="selectedTax.status"
              buttons
              :disabled="isDisabled"
              :options="[{text: 'Activo', value: true},{text: 'Inactivo', value: false}]"
              :button-variant="selectedTax.status == true ? 'outline-primary' : 'outline-secondary'"
            />
          </b-form-group>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <b-form-group label="Liquidación por productos">
            <b-form-radio-group
              name="settlement_by_product"
              v-model="selectedTax.settlement_by_product"
              buttons
              :disabled="isDisabled"
              :options="[{text: 'Si', value: true},{text: 'No', value: false}]"
              :button-variant="selectedTax.settlement_by_product == true ? 'outline-primary' : 'outline-secondary'"
            />
          </b-form-group>
        </div>

      </b-row>

      <b-row>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <b-form-group label="Condición">
            <b-form-textarea
              name="condition"
              v-model="selectedTax.condition"
              id="textarea"
              :disabled="isDisabled"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
        </div>

      </b-row>

      <!--BOTONES DEL FORMULARIO-->
      <div class="form-actions">
        <b-button
          v-if="!isDisabled"
          type="submit"
          class="boton-guardar"
        >
          <span class="btn-label">
            <i class="ti-save-alt"></i>
          </span> Guardar
        </b-button>
        <b-button
          to="/impuestos"
          type="button"
          variant="secondary"
          class="float-left"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span> Volver
        </b-button>
        <b-button
          v-if="!isDisabled"
          type="button"
          @click.prevent="clearForm"
          value="Limpiar"
          class="otro-boton float-left"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
            Limpiar
          </span>
        </b-button>
      </div>
    </b-form>
  </Card>
</template>

<script>
import {
  MessageBox
} from "element-ui";
import Card from "../../components/pages/card/card";
import {
  mapState,
  mapActions,
  mapMutations
} from "vuex";

export default {
  components: {
    Card
  },
  data () {
    return {
      hola: null,
      formEdit: false,
      messageCard: "Nuevo impuesto",
      iconMessage: "<i class='fa fa-plus'></i> ",
      bases: [
        { id: 1, nombre: 'Bruto' },
        { id: 2, nombre: 'Iva' }
      ]
    };
  },
  async mounted () {
    try {
      let id = this.$route.params.id;
      let idv = this.$route.params.idv;
      if (id) {
        this.messageCard = "Editar impuesto";
        this.iconMessage = "<i class='fa fa-pencil'></i> ";
        await this.getTax(id);
        this.setAction("edit");
      } else if (idv) {
        this.messageCard = "Impuesto";
        this.iconMessage = "<i class='fa fa-fw fa-briefcase'></i> ";
        await this.getTax(idv);
        this.modifyIsDisabled(true);
        this.setAction("watch");
      } else {
        this.setAction("create");
      }
    } catch (error) {
    }
  },
  destroyed () {
    this.modifyIsDisabled(false);
    if (this.action != "create") {
      this.clearTax();
    }
  },
  computed: {
    ...mapState("taxes", ["selectedTax", "action", "isDisabled"])
  },
  methods: {
    ...mapActions("taxes", ["getTax", "newTax", "updateTax"]),
    ...mapMutations("taxes", [
      "setTaxState",
      "setAction",
      "getAction",
      "clearTax",
      "modifyIsDisabled"
    ]),
    validateForm () {
      this.$validator.validateAll("form").then(result => {
        if (result) {
          if (this.action === "create") {
            this.newTax();
            this.clearTax();

            this.$router.push("/impuestos");
          } else if (this.action === "edit") {
            this.updateTax();
            this.clearTax();
            this.$router.push("/impuestos");
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error", {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "notification-error"
          }
          ).then(verifica => { });
        }
      });
    },
    clearForm () {
      this.clearTax();
    }
  }


}
</script>



<style>
#btnGuardar {
  padding-left: 12%;
}

#boton-guardar {
  background-color: #007db3 !important;
  color: #fff !important;
}

.b {
  font-size: 16px;
}

#span {
  color: red;
}
</style>
