<template>
  <div class="table-container">
    <div class="row">
      <div class="col-md-12 col-lg-12 text-right">
        <b-button variant="success" @click="generarExcel" title="Boton para descargar excel">
          <i class="ti-download"></i>
          &nbsp; Excel
          <i v-if="loading_report_butons.excel_despatch" class="fa fa-spinner fa-spin"></i>
        </b-button>

        <b-button variant="success" @click="generarExcelPickin" title="Boton para descargar excel Pickin">
          <i class="ti-download"></i>
          &nbsp; Excel Pickin
          <i v-if="loading_report_butons.excel_pickin" class="fa fa-spinner fa-spin"></i>
        </b-button>

        <b-button variant="secondary" @click="generarPickin" title="Boton para descargar picker">
          <i class="ti-download"></i>
          &nbsp; Pdf Pickin
          <i v-if="loading_report_butons.pdf_pickin" class="fa fa-spinner fa-spin"></i>
        </b-button>

        <b-button variant="primary" @click="generarPdf" title="Boton para descargar facturas">
          <i class="ti-download"></i>
          &nbsp; Tranportador
          <i v-if="loading_report_butons.pdf_proactor" class="fa fa-spinner fa-spin"></i>
        </b-button>

        <b-button variant="primary" @click="printLabels" title="Boton para imprimir etiquetas">
          <i class="ti-printer"></i>
          &nbsp; Imprimir Stickers
          <i v-if="loading_report_butons.print_sticker" class="fa fa-spinner fa-spin"></i>
        </b-button>
      </div>
    </div>

    <div class="row">
      <!-- POR FECHA -->
      <div class="form-group col-md-12 col-lg-3">
        <label for="filter_date">Fecha</label>
        <br />
        <el-date-picker
          type="daterange"
          id="filter_date"
          name="filter_date"
          v-model="tableDespatch.options.date"
          ref="filter_date"
          range-separator="-"
          start-placeholder="Desde"
          end-placeholder="Hasta"
          v-validate="'required'"
          data-vv-as=" "
          value-format="yyyy-MM-dd"
          class="form-control input"
        ></el-date-picker>
      </div>

      <!-- TIPO -->
      <div class="form-group col-md-12 col-lg-3">
        <label for="filter_date">Estado</label>
        <el-select
          filterable
          clearable
          size="small"
          no-data-text="Cargando datos..."
          value
          v-model="statusDespath"
          no-match-text="No hay datos que coincidan"
        >
          <el-option
            v-for="item in optionFilterStatus"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>

      <!-- ZONE -->
      <!-- <div class="form-group col-md-12 col-lg-3">
        <label for="zone">Zona</label>
        <el-select
          filterable
          clearable
          value
          v-model="tableDespatch.options.zone_id"
          size="small"
          no-data-text="Cargando datos..."
          no-match-text="No hay datos"
        >
          <el-option
            v-for="(item, index) in contactZone"
            :key="index"
            :value="item.id"
            :label="item.name_parameter"
          ></el-option>
        </el-select>
      </div> -->

      <!--  -->
      <div class="form-group col-md-12 col-lg-3">
        <label for="zone">NIT Cliente</label>
        <el-select
          clearable
          id="contact_id"
          name="contact_id"
          filterable
          placeholder=" "
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          data-vv-as=" "
          v-model="tableDespatch.options.contact_id"
          remote
          :remote-method="filterText"
        >
          <el-option
          v-for="contact in contacts"
          :key="contact.id"
          :label="contact.identification+ ' - ' +contact.name + ' ' + contact.surname"
          :value="contact.id"
          >
          </el-option>
        </el-select>
      </div>

      <!-- Guia -->
      <div class="form-group col-md-12 col-lg-3">
        <label for="guide">Guía</label>
        <b-form-input
          type="text"
          id="guide"
          name="guide"
          class="form-control"
          data-vv-as=" "
          v-model="tableDespatch.options.guide"
        ></b-form-input>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12 col-lg-3">
        <label for="protractor">Transportador</label>
        <el-select
          filterable
          value
          size="small"
          clearable
          no-data-text="Cargando datos..."
          no-match-text="No hay datos"
          v-model="tableDespatch.options.protractor"
        >
          <el-option
            v-for="(item, index) in conyevors"
            :key="index"
            :value="item.contact.id"
            :label="item.contact.identification+'-'+item.contact.name"
          ></el-option>
        </el-select>
      </div>
      <div class="form-group col-md-12 col-lg-3">
        <label for="consecutive">No Doc</label>
        <b-form-input
          type="text"
          id="consecutive"
          name="consecutive"
          class="form-control"
          clearable
          data-vv-as=" "
          v-model="tableDespatch.options.consecutive"
        ></b-form-input>
      </div>
      <div class="form-group col-md-12 col-lg-3">
        <b-button
          @click="searchDespatch()"
          class="mt-4"
          variant="primary"
        >
          <span class="btn-label">
            <i class="ti-search"></i>
          </span> Listar
        </b-button>
      </div>
    </div>

    <!-- info -->
    <div class="row my-3">
      <div class="col-md-12 col-lg-2">
        <b-button @click="validateProductsLots" variant="secondary">
          <i class="ti-package"></i>
          <span v-if="statusDespath == null">&nbsp; Despachar</span>
          <span v-else-if="statusDespath == 1000">&nbsp; Deshacer Despacho</span>
          <span v-else-if="statusDespath == 24655">&nbsp; Deshacer OPER ADMIN</span>
        </b-button>
      </div>
      <div class="col-md-12 col-lg-2">
        <b-button v-if="statusDespath != 24655" @click="changeOPERADMIN" variant="secondary">
          <i class="ti-package"></i>
          <span>&nbsp; OPER. ADMIN</span>
        </b-button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <b-form inline>
          <b-form-checkbox @change="selectAllDespatch" size="lg" class="ml-4">Seleccionar todo</b-form-checkbox>
          <span class="mx-2">|</span>
          <span class>Cantidad seleccionada: {{ quantityRowSelected }}</span>
        </b-form>
      </div>
    </div>

    <!-- TABLA -->
    <div class="row table-responsive">
      <div class="col-12">
        <b-table
          responsive
          :items="tableData"
          :fields="tableDespatch.fields"
          data-vv-name="table"
          class="table-order"
          striped
          small
          :busy="tableDespatch.loading"
          @row-clicked="selectRowDespatch"
          :tbody-tr-class="rowClassSelected"
          show-empty
        >
          <!-- TOTAL VALUE -->
          <template v-slot:cell(total_value)="row">
            <pre>{{ row.item.total_value | currency }}</pre>
          </template>
          <template v-slot:cell(consecutive)="row">
            <b-badge variant="secondary">{{row.item.vouchertype.code_voucher_type}} <br> {{row.item.vouchertype.name_voucher_type}}</b-badge>
            <p>{{row.item.consecutive}}</p>
          </template>
          <template v-slot:cell(detail)="row">
            <i
              title="Ver Pagos"
              class="btn-icon-detail"
              :class="!row.detailsShowing ? 'fa fa-fw fa-chevron-down' : 'fa fa-fw fa-chevron-up'"
              @click.stop="row.toggleDetails"
            ></i>
          </template>

          <!-- Detalle de los productos -->
          <template v-slot:row-details="row">
            <div class="content-detail" style="width:85%; margin: auto">
              <div style="text-align: center; font-weight:600 ">Productos</div>

              <b-table
                responsive
                :items="row.item.documents_products"
                :fields="tableDespatch.fieldSubTable"
                data-vv-name="table"
                class="table-component"
                striped
                small
              >
                <template v-slot:cell(ubi)="row">
                  <div class="edit-th">
                    <b-form-input
                      class="edit-th"
                      style="text-transform: uppercase"
                      v-model="row.item.product.inventory[0].location"
                      @blur="updateUbication(0, row, row.item)"
                      placeholder="Ubicación"
                    ></b-form-input>
                  </div>
                </template>

                <template v-slot:cell(unit_value_before_taxes)="row">
                  <div>{{ row.item.unit_value_before_taxes | currency}}</div>
                </template>

                <template v-slot:cell(total_value_brut)="row">
                  <div>{{ row.item.total_value_brut | currency}}</div>
                </template>

                <template v-slot:cell(total_value_iva)="row">
                  <div>{{ row.item.total_value_iva | currency}}</div>
                </template>

                <template v-slot:cell(total_value)="row">
                  <div>{{ row.item.total_value | currency}}</div>
                </template>
              </b-table>
            </div>
          </template>

          <!-- ZONAS -->
          <template v-slot:cell(warehouse.zone_despatch_id)="row">
            <div v-if="statusDespath == null" class="edit-th">
              <el-select
                filterable
                clearable
                value
                v-model="row.item.warehouse.zone_despatch_id"
                size="small"
                no-data-text="Cargando datos..."
                no-match-text="No hay datos"
                @change="updateRowDespatch($event, row, row.item)"
              >
                <el-option
                  v-for="(item, index) in contactZone"
                  :key="index"
                  :value="item.id"
                  :label="item.name_parameter"
                ></el-option>
              </el-select>
            </div>
            <div v-else>
              <span
                v-if="row.item.warehouse.zone != null"
              >{{ row.item.warehouse.zone.name_parameter }}</span>
            </div>
          </template>

          <!-- contact_city -->
          <template v-slot:cell(contact_city)="row">
            <p v-if="row.item.contact.city != null ">{{row.item.contact.city.city}}</p>
          </template>

          <!-- TRANSPORTADOR -->
          <template v-slot:cell(documents_information.protractor)="row">
            <div v-if="statusDespath == null" class="edit-th">
              <el-select
                v-if="row.item.documents_information != null"
                filterable
                value
                size="small"
                clearable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos"
                v-model="row.item.documents_information.protractor"
                @change="updateRowDespatch($event, row, row.item)"
              >
                <el-option
                  v-for="(item, index) in conyevors"
                  :key="index"
                  :value="item.contact.id"
                  :label="item.contact.identification+'-'+item.contact.name"
                ></el-option>
              </el-select>
            </div>
            <div v-else></div>
          </template>

          <!-- NUMERO DE GUIA -->
          <template v-slot:cell(documents_information.guide_number)="row">
            <div v-if=" row.item.documents_information != null">
              <div v-if="statusDespath == null" class="edit-th">
                <b-form-input
                  v-model="row.item.documents_information.guide_number"
                  @blur="updateRowDespatch(0, row, row.item)"
                  placeholder="Numero de guia"
                ></b-form-input>
              </div>
              <div v-else>{{ row.item.documents_information.guide_number }}</div>
            </div>
          </template>

          <!-- NUMERO DE cajas -->
          <template v-slot:cell(number_stickers)="row">
              <input
                @blur="updateRowDespatch(0, row, row.item)"
                class="form-control"
                type="number"
                size="medium"
                :min="1"
                :controls="false"
                v-model="row.item.number_stickers"
              >
          </template>

          <!-- facturas  radicafdas-->
          <template v-slot:cell(documents_information.invoice_filed)="row">
            <div class="row">
              <div class="col-12">
                <b-form-checkbox
                  class="ml-5"
                  :id="'invoice_filed'+row.item.id"
                  v-model="row.item.documents_information.invoice_filed"
                  :name="'invoice_filed'+row.item.id"
                  size="lg"
                  @change.native="updateRowDespatch(0, row, row.item)"
                >
                </b-form-checkbox>
              </div>
            </div>
          </template>

          <!-- OBSERVACION -->
          <template v-slot:cell(documents_information.delivery_observation)="row">
            <div v-if="row.item.documents_information != null">
              <div v-if="statusDespath == null" class="edit-th">
                <b-form-textarea
                  id="textarea"
                  v-model="row.item.observation"
                  @blur="updateRowDespatch(0, row, row.item)"
                  placeholder="Observacion..."
                ></b-form-textarea>
              </div>
              <div v-else>{{ row.item.documents_information.delivery_observation }}</div>
            </div>
          </template>

          <!-- NUMERO DE contact -->
          <template v-slot:cell(contact.name)="row">
            <div v-if="row.item.operationType_id == 4 && row.item.documents_information != null">
              <div v-if="row.item.documents_information.additional_contact_id != null">
                {{ row.item.documents_information.additional_contact.identification }} <br>
                {{ row.item.documents_information.additional_contact.name+' '+row.item.documents_information.additional_contact.surname }}
              </div>
              <div v-else>
                {{row.item.contact.identification}}<br>{{row.item.contact.name+' '+row.item.contact.surname}}
              </div>
            </div>
            <div v-else>
              {{row.item.contact.identification}}<br>{{row.item.contact.name+' '+row.item.contact.surname}}
            </div>
          </template>

          <!-- OBSERVACION -->
          <template v-slot:cell(documents_information.delivery_observation)="row">
            <div  class="edit-th">
              <b-form-textarea
                rows="4"
                id="textarea"
                v-model="row.item.observation"
                @blur="updateRowDespatch(0, row, row.item)"
                placeholder="Observacion..."
              ></b-form-textarea>
            </div>
            <!-- <div v-else>{{ row.item.documents_information.delivery_observation }}</div> -->
          </template>

          <!-- ACCIONES -->
          <template v-slot:cell(actions)="row">
            <div>
              <b-button
                v-if="statusDespath == null"
                @click="changeStateDepatch(row.item, row, 'DESHACER')"
                variant="warning"
              >Deshacer</b-button>
            </div>
          </template>

          <!-- LOADING -->
          <template v-slot:table-busy>
            <div class="text-center my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>Cargando...</strong>
            </div>
          </template>

          <!-- VOID -->
          <template v-slot:empty="scope">
            <h5 class="text-center">No hay registros...</h5>
          </template>
        </b-table>
      </div>
    </div>

    <!-- PAGINACION -->
    <div class="row">
      <div class="col-12">
        <p>Mostrando {{ pagination.from }} a {{ pagination.to }} de {{ pagination.total }} resultados</p>
      </div>

      <div class="col-md-12 col-lg-6 my-1 form-inline">
        <label>Registros por página: &nbsp;</label>
        <b-form-select v-model="perPage" @change="searchDespatch()" :options="[5, 10, 30, 100]" />
      </div>

      <div class="col-md-12 col-lg-6 mt-2">
        <b-pagination
          align="right"
          v-model="currentPage"
          :total-rows="pagination.total"
          :per-page="pagination.per_page"
          aria-controls="my-table"
        ></b-pagination>
      </div>
    </div>

    <!-- MODAL -->
    <b-modal
      id="modal-despatch"
      size="lg"
      centered
      title="Asignacion de lotes"
      class="modal-backdrop"
    >
      <b-form class="row">
        <div class="col-12">
          <TableProductsLots />
        </div>
      </b-form>

      <!-- BOTONES MODAL-->
      <template v-slot:modal-footer="{ ok, cancel, hide }">
        <b-button size="sm" variant="danger" @click="cancel()">Cancel</b-button>

        <b-button size="sm" variant="primary" @click="validateupdateDespatchStatus()">Guardar</b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapGetters, mapState, mapActions, mapMutations } from "vuex";
import GridU2 from "../../u2/grid";
import TableProductsLots from "../../pages/despatch/TableProductsLots";
import {getApiDomain} from "../../../util/domains";

export default {
  components: {
    GridU2,
    TableProductsLots,
  },
  data() {
    return {
      valDate: "",
      optionFilterStatus: [
        {
          label: "POR DESPACHAR",
          value: null,
        },
        {
          label: "DESPACHADO",
          value: 1000,
        },
        {
          label: "OPER. ADMIN.",
          value: 24655,
        },
      ],
    };
  },
  methods: {
    async filterText(filter) {
      this.paramsquery.query = filter
      await this.fetchContacts()
    },
    async printLabels(){
      this.setloading_print_sticker(true)
      await this.printLabels_(getApiDomain());
      this.setloading_print_sticker(false)
    },
    async generarPdf() {
      this.loading_report_butons.pdf_proactor = true
      await this.generatePdf();
      this.loading_report_butons.pdf_proactor = false
    },
    async generarPickin() {
      this.loading_report_butons.pdf_pickin = true
      await this.generatePickin();
      this.loading_report_butons.pdf_pickin = false
    },
    async generarExcel() {
      this.loading_report_butons.excel_despatch = true
      await this.generateexcel();
      this.loading_report_butons.excel_despatch = false
    },
    async generarExcelPickin(){
      this.loading_report_butons.excel_pickin = true
      await this.generateexcelPickin();
      this.loading_report_butons.excel_pickin = false
    },
    ...mapActions("despatch", [
      "fetchDespatchInvoice",
      "fetchParametersZone",
      "updateDespatchInvoice",
      "updateDespatchStatus",
      "updateDespatchStatusOA",
      "fetchContacts",
      "updateDespatchStatusOne",
      "updatelocation",
      "generatePdf",
      "fetchConveyor",
      "generatePickin",
      "generateexcel",
      "printLabels_",
      "generateexcelPickin"
    ]),
    ...mapMutations("despatch", [
      "setDocumentsProductsLot",
      "setConsecutiveProductLot",
      "setDateRangeParam",
      "setloading_print_sticker"
    ]),
    searchDespatch() {
      this.fetchDespatchInvoice();
    },
    questionUpdateStatus(item, row) {
      this.$confirm("¿Esta seguro de actualizar el estado?", "Actaulizar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning",
      })
        .then((result) => {
          if (result) {
            this.updateDespatchStatus();
          }
        })
        .catch(function (result) {});
    },
    updateRowDespatch(event, row, item) {
      this.updateDespatchInvoice({
        id: item.id,
        zone_id: item.warehouse.zone_despatch_id,
        protractor: item.documents_information.protractor,
        guide_number: item.documents_information.guide_number,
        observation: item.observation,
        number_stickers : item.number_stickers,
        invoice_filed : item.documents_information.invoice_filed
      });
    },
    updateUbication(event, row, item) {
      this.params.location = item.product.inventory[0].location;
      this.params.product = item.product.id;
      this.updatelocation();
    },
    selectRowDespatch(item, index) {
      //if (this.statusDespath != null) return;
      this.tableData[index].pack_off = !this.tableData[index].pack_off;
      this.setDocumentsProductsLot();
    },
    rowClassSelected(item, type) {
      if (!item) return;
      if (item.pack_off) return "table-selected";
    },
    selectAllDespatch(valCheck) {
      this.tableData.map((val, index) => {
        val.pack_off = valCheck;
      });
      this.setDocumentsProductsLot();
    },
    changeStateDepatch(item, row, state) {
      this.$confirm("¿Esta seguro de actualizar el estado?", "Actaulizar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning",
      })
        .then((result) => {
          if (result) {
            this.updateDespatchStatusOne({
              id: item.id,
              state: state,
            });
          }
        })
        .catch(function (result) {});
    },
    validateProductsLots() {
      this.tableDocumentsProductsLot.brandsSelected = null;
      this.tableDocumentsProductsLot.dataFilter = [];

      if (this.countDocumentsProductsLot > 0) {
        this.$bvModal.show("modal-despatch");
      } else {
        this.$confirm("¿Esta seguro de actualizar el estado?", "Actaulizar", {
          confirmButtonText: "Aceptar",
          cancelButtonText: "Cancelar",
          type: "warning",
          customClass: "notification-warning",
        })
          .then((result) => {
            if (result) {
              this.updateDespatchStatus();
            }
          })
          .catch(function (result) {});
      }
    },
    changeOPERADMIN(){
      this.$confirm("¿Esta seguro de actualizar el estado?", "Actaulizar", {
          confirmButtonText: "Aceptar",
          cancelButtonText: "Cancelar",
          type: "warning",
          customClass: "notification-warning",
        })
          .then((result) => {
            if (result) {
              this.updateDespatchStatusOA();
            }
          })
          .catch(function (result) {});
    },
    validateupdateDespatchStatus() {
      this.$confirm("¿Esta seguro de actualizar el estado?", "Actaulizar", {
        confirmButtonText: "Aceptar",
        cancelButtonText: "Cancelar",
        type: "warning",
        customClass: "notification-warning",
      })
        .then((result) => {
          if (result) {
            this.updateDespatchStatus();
            this.$bvModal.hide("modal-despatch");
          }
        })
        .catch(function (result) {});
    },
  },
  computed: {
    ...mapState("despatch", [
      "tableDespatch",
      "despatchInvoiceList",
      "contactZone",
      "tableDocumentsProductsLot",
      "params",
      "loading_report_butons",
      "conyevors",
      "contacts",
      "paramsquery",
    ]),
    ...mapGetters("despatch", [
      "invoicesToDispatch",
      "countDocumentsProductsLot",
    ]),
    tableData() {
      return this.tableDespatch.data;
    },
    pagination() {
      return this.tableDespatch.pagination;
    },
    tableFields() {
      return this.tableDespatch.fields;
    },
    quantityRowSelected() {
      var data = this.tableDespatch.data.filter((value) => {
        return value.pack_off;
      });

      return data.length;
    },
    //
    currentPage: {
      get: function () {
        return this.tableDespatch.options.currentPage;
      },
      set: function (newValue) {
        this.tableDespatch.options.currentPage = newValue;
      },
    },
    search: {
      get: function () {
        return this.tableDespatch.options.search;
      },
      set: function (newValue) {
        this.tableDespatch.options.search = newValue;
      },
    },
    perPage: {
      get: function () {
        return this.tableDespatch.options.perPage;
      },
      set: function (newValue) {
        this.tableDespatch.options.perPage = newValue;
      },
    },
    statusDespath: {
      get: function () {
        return this.tableDespatch.options.state;
      },
      set: function (newValue) {
        this.tableDespatch.options.state = newValue;
      },
    },
  },
  watch: {
    currentPage: function (newVal, oldVal) {
      this.searchDespatch();
    },
  },
  //Ciclo de vida
  created() {
    // this.fetchDespatchInvoice();
    this.fetchParametersZone();
    this.fetchConveyor();
    this.setDateRangeParam();
    this.fetchContacts();
  },
  mounted(){
    this.fetchDespatchInvoice();
  }
};
</script>


<style>
.modal-backdrop {
  opacity: 0.3 !important;
}

.table-selected {
  background: #cbe7f8 !important;
}
.edit-th {
  background: #d5f3d3 !important;
  width: 100%;
}
.table-component .b-table > thead th {
  background-color: #6699cc;
  color: white;
}
.table-component .b-table > tbody td {
  color: #000;
}
.table-component .b-table > tbody tr:hover {
  background: #fff;
  color: #000;
}
.label-input {
  font-weight: normal !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
.modal-header {
  background: #007db3 !important;
  color: #fff;
}
.table-order .b-table > thead th {
  background-color: #6699cc !important;
  color: white !important;
}

.content-detail table.table-products > thead th {
  background-color: #6699cc;
  color: white;
}

.content-detail table.table-products > tbody td {
  background-color: #fff;
}
</style>

<style scoped>
.btn-icon-detail {
  cursor: pointer;
}
.btn-icon-detail:hover {
  opacity: 0.6;
}

.btn-link-client {
  /*color: rgb(148, 148, 148);*/
  color: #146f95ea !important;
}
.btn-link-client:hover {
  /*color: #000;*/
  color: #3b5998 !important;
}
</style>
