<template>
  <div class="container-fluid">

    <!-- FILTRO -->
    <div class="row">
      <!-- Marca -->
      <div class="col-md-12 col-lg-3">
        <label for="filter_date">Marca</label>
        <el-select
          filterable
          clearable
          size="small"
          no-data-text="Cargando datos..."
          value=""
          v-model="tableDocumentsProductsLot.brandsSelected"
          no-match-text="No hay datos que coincidan"
          @change="searchProductLot"
        >

          <el-option
            v-for="item in tableDocumentsProductsLot.brands"
            :key="item.id"
            :label="item.description"
            :value="item.id"
          >
          </el-option>
        </el-select>
      </div>
      <div class="col-md-12 col-lg-9 text-right">
        <b-button
          @click="setConsecutiveProductLot()"
          variant="primary"
          :disabled="tableDocumentsProductsLot.dataFilter.length == 0"
        >
          Generar Lote
        </b-button>
        <b-button
          @click="setExpirationDateProductLot()"
          variant="secondary"
          :disabled="tableDocumentsProductsLot.dataFilter.length == 0"
        >
          Asignar fecha vencimiento
        </b-button>
      </div>
    </div>

    <!-- TABLA -->
    <div class="row mt-4">
      <div class="col-md-12">
        <b-table
          responsive
          :items="tableDocumentsProductsLot.dataFilter"
          :fields="tableDocumentsProductsLot.fields"
          data-vv-name="table"
          class="table-order"
          striped
          small
        >
          <!-- NUMERO DEL LOTE -->
          <template v-slot:cell(products_lots.num_lot)="row">
            <div>
              <b-form-input
                type="number"
                v-model="row.item.products_lots.num_lot"
                placeholder="..."
              ></b-form-input>
            </div>
          </template>

          <!-- FECHA DE VENCIMINETO -->
          <template v-slot:cell(products_lots.expiration_date)="row">
            <div>
              <el-date-picker
                type="date"
                size="small"
                placeholder="Seleccione fecha vencimiento"
                v-model="row.item.products_lots.expiration_date"
                format="yyyy-MM-dd"
                value-format="yyyy-MM-dd"
                :picker-options="datePickerOptions"
              >
              </el-date-picker>
            </div>
          </template>

        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions, mapMutations } from 'vuex'

export default {
  data () {
    return {
      datePickerOptions: {
        disabledDate (date) {
          return date < new Date()
        }
      }
    }
  },
  methods: {
    ...mapMutations('despatch', [
      'setDocumentsProductsLot',
      'setConsecutiveProductLot',
      'setExpirationDateProductLot',
      'searchProductLotByBrand',
    ]),
    ...mapActions('despatch', [
      'updateDespatchStatus'
    ]),
    //
    searchProductLot (e) {
      this.searchProductLotByBrand(e)
    }
  },
  computed: {
    ...mapState('despatch', [
      'tableDespatch',
      'despatchInvoiceList',
      'contactZone',
      'tableDocumentsProductsLot'
    ]),
    ...mapGetters('despatch', [
      'invoicesToDispatch',
      'countDocumentsProductsLot'
    ]),
  },
}
</script>

<style>
</style>