<template>
  <div>
    <div class="row">
      <div class="col-12">
        <label for="pevious_account">Job</label>
        <b-form-input
          type="text"
          id="pevious_account"
          name="pevious_account"
          class="form-control"
          v-model="job.name"
        ></b-form-input>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <label for="pevious_account">Creado Por</label>
        <el-select
          id="level"
          name="level"
          placeholder=" "
          no-data-text="Cargando datos..."
          no-match-text="No hay datos que coincidan"
          v-model="job.user_creation_id"
          filterable
        >
          <el-option
            v-for="user in users"
            :key="user.id"
            :label="user.name + ' ' + user.surname || ''"
            :value="user.id"
          >
          </el-option>
        </el-select>
        <!-- v-model="params_create.pevious_account" -->
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <label for="filter_date">Fecha Limite:</label><br/>
        <el-date-picker
          type="date"
          size="small"
          placeholder="Seleccione fecha"
          format="yyyy/MM/dd"
          value-format="yyyy-MM-dd"
          v-model="job.limit_date"
        ></el-date-picker>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <label for="description">Descipción</label>
        <textarea
          class="upper el-textarea__inner"
          type="textarea"
          autosize
          placeholder="Ingrese la descripcion..."
          v-model="job.description"
        >
        </textarea>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <label for="description">Cargar Adjuntos</label>
        <b-form-file
          accept=".csv, .txt, .pdf, .docx, .xlsx"
          lang="es"
          placeholder="Seleccione el archivo que va a adjuntar al documento..."
          class="input-file"
          :multiple="true"
          v-model="job.files"
        ></b-form-file>
      </div>
    </div>

    <div class="row mt-4" v-if="files.length > 0">
      <div class="col-12">
        <label for="description">Adjuntos</label>
        <b-list-group>
          <b-list-group-item
            v-for="file in files"
            :key="file.id"
            @click="openModal(file)"
          >
            <img :src="iconFile(file.name)" alt=" " width="20px" class="attachment"/> <span class="attachment"> {{showNameFile(file.name)}}</span>
          </b-list-group-item>
        </b-list-group>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <label for="description">Equipo</label>
        <b-list-group>
          <b-list-group-item
            v-for="member in job.members"
            :key="member.id"
          >
            <img
              :src="member.src"
              height="36"
              width="36"
              alt="avatar-image"
              class="rounded-circle "
            />
            {{member.user.name}} {{member.user.surname}}
          </b-list-group-item>

        </b-list-group>
      </div>
    </div>

    <!-- Botones -->
    <div class="row mt-2">
      <div class="col-12">
        <div class="form-actions">
          <b-button variant="danger" title="Boton para descargar excel Pickin" @click="closeJob_($route.params.id)">
            Cerrar Job
          </b-button>

          <!-- <b-button variant="primary" title="Boton para descargar picker">
            Re-abrir
          </b-button> -->

          <b-button variant="primary" title="Boton para descargar picker" @click="validateForm()"
                    v-if="!validateParamid()" :disabled="loading.form">
            Crear Job
            <i v-if="loading.form" class="fa fa-spinner fa-spin"></i>
          </b-button>

          <b-button variant="primary" title="Boton para descargar picker" @click="updateJob_()" v-if="validateParamid()"
                    :disabled="loading.form">
            Guardar Job
            <i v-if="loading.form" class="fa fa-spinner fa-spin"></i>
          </b-button>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row mt-2">
      <div class="col-12">
        <label for="description">Mensaje</label>
        <at-ta :members="userName">
          <textarea class="editor el-textarea__inner" v-model="interaction.description"
                    @blur="validateMembers()"></textarea>
        </at-ta>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-9">
        <b-form-file
          accept=".csv, .txt, .pdf, .docx, .xlsx"
          lang="es"
          placeholder="Seleccione el archivo que va a adjuntar al documento..."
          class="input-file"
          v-model="interaction.files"
          :multiple="true"
        ></b-form-file>
      </div>
      <div class="col-3 text-right">
        <b-button variant="primary" :disabled="loading.addInteraction" title="Boton para descargar picker"
                  @click="createInteraction_()">
          Enviar
          <i v-if="loading.addInteraction" class="fa fa-spinner fa-spin"></i>
        </b-button>
      </div>
    </div>

    <modalAttachment
      @setShowFalse="setShowFalse_()"
      :show="show_modal_pdf"
      :type="modal.type"
      :name="modal.name"
      :url="modal.url"
      :jobs_docs_id="modal.jobs_docs_id"
      :jobs_docs_name="modal.jobs_docs_name"
      :jobs_interactions_docs_id="modal.jobs_interactions_docs_id"
      :jobs_interactions_docs_name="modal.jobs_interactions_docs_name"
    ></modalAttachment>
  </div>
</template>

<script>
  import {mapActions, mapState, mapMutations, mapGetters} from "vuex";
  import Card from "../../components/pages/card/card";
  import {MessageBox} from "element-ui";
  import AtTa from "vue-at/dist/vue-at-textarea";
  // import modalAttachment from "../../views/star-jobs/modal-attachments"
  import modalAttachment from "../../components/u2/ModalPdf"

  export default {
    components: {
      Card,
      AtTa,
      modalAttachment,
    },
    data() {
      return {
        show_modal_pdf: false,
        fileList: [],
        imgUser:
          "https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png",
        type_files: [
          {extension: "pdf", icon: "pdf", type: "doc"},
          {extension: "doc", icon: "word", type: "doc"},
          {extension: "docx", icon: "word", type: "doc"},
          {extension: "xls", icon: "excel", type: "doc"},
          {extension: "xlsx", icon: "excel", type: "doc"},
          {extension: "ppt", icon: "power-point", type: "doc"},
          {extension: "pptx", icon: "power-point", type: "doc"},
          {extension: "png", icon: "image", type: "img"},
          {extension: "jpg", icon: "image", type: "img"},
          {extension: "jpeg", icon: "image", type: "img"},
          {extension: "gif", icon: "image", type: "img"}
        ]
      };
    },

    watch: {},

    created() {
    },
    methods: {
      setShowFalse_(param) {
        this.show_modal_pdf = param
      },
      openModal(file) {
        let extension = file.name.split(".").pop();
        const extensionsImages = ["png", "jpg", "jpeg", "gif"];
        const extensionsDocuments = [
          "doc",
          "docx",
          "xls",
          "xlsx",
          "ppt",
          "pptx"
        ];

        if (extension == "pdf") {
          this.modal.type = "pdf";
        } else if (extensionsImages.includes(extension, 0)) {
          this.modal.type = "image";
        } else if (extensionsDocuments.includes(extension, 0)) {
          this.modal.type = "office";
        }

        this.modal.name = file.name
        this.modal.jobs_docs_id = file.id
        this.modal.jobs_docs_name = file.name
        this.modal.jobs_interactions_docs_id = 0
        this.modal.jobs_interactions_docs_name = ''

        this.fetDocument(file.id)


        this.show_modal_pdf = true
      },
      iconFile(file) {
        let ext = file.split(".").pop();
        let f = this.type_files.find(tf => tf.extension == ext);
        if (f != undefined) {
          return `/static/images/icons-files/${f.icon}.svg`;
        } else {
          return '';
        }
      },
      showNameFile(name) {
        return name
        if (name.length > 25) {
          return name.substr(0, 25) + '...'
        } else {
          return name
        }
      },
      arrayAvatarsRandom() {
        var item = this.arrayAvatars[
          Math.floor(Math.random() * this.arrayAvatars.length)
          ];
        return item;
      },
      handlePreview() {
      },
      handleRemove() {
      },
      ...mapActions("starjobs", ["createJob", "closeJob", "createInteraction", "updateJob", "fetchJob", "addFileJob", "addMembers", "fetDocument"]),
      ...mapMutations("starjobs", ["setModalAttachment"]),
      printAlert(ms) {
        this.$notify({
          title: 'Atención',
          message: ms,
          type: 'warning'
        });
        this.loading.form = false
      },
      async validateForm() {
        this.loading.form = true

        if (this.job.name == null || this.job.name == '') {
          this.printAlert('Debe Digitar El Nombre Del Job')
          return false
        }

        if (this.job.name.length < 5) {
          this.printAlert('El Nombre Del Job Debe Tener Minimo 5 caracteres')
          return false
        }

        if (this.job.description == null || this.job.description == '') {
          this.printAlert('Debe Digitar Descripcion Del Job')
          return false
        }

        if (this.job.description.length < 5) {
          this.printAlert('La Desripcion Debe Tener Minimo 5 caracteres')
          return false
        }

        let job = await this.createJob()

        this.newmembers.push({
          user_id: JSON.parse(localStorage.getItem("user")).id,
          user_inviting_id: JSON.parse(localStorage.getItem("user")).id
        })
        await this.addMembers(job.id)
        await this.fetchJob(job.id)

        if (job != null) {
          this.$router.push('/job/' + job.id)
        }
        this.loading.form = false
      },
      validateParamid() {
        if (this.$route.params.id) {
          return true
        } else {
          return false
        }
      },
      async closeJob_(id) {
        await this.closeJob(id)
        this.$router.push('/job')
      },
      async createInteraction_() {
        if (this.validateParamid()) {
          if (this.interaction.description != null && this.interaction.description != '') {
            this.loading.addInteraction = true

            await this.createInteraction(this.$route.params.id)
            await this.addMembers(this.$route.params.id)

            await this.fetchJob(this.$route.params.id)

            this.interaction.description = null
            this.interaction.files = []

            this.loading.addInteraction = false

          } else {
            this.$notify({
              title: 'Atención',
              message: 'El Mensaje No Puede Estar Vacio',
              type: 'warning'
            });
          }
        } else {
          this.$notify({
            title: 'Atención',
            message: 'Debe crear el Job',
            type: 'warning'
          });
        }
      },
      async updateJob_() {
        this.loading.form = true
        await this.updateJob(this.$route.params.id)
        if (this.job.files.length > 0) {
          await this.addFileJob(this.$route.params.id)
        }
        await this.fetchJob(this.$route.params.id)
        this.loading.form = false
      },
      validateMembers() {
        let words = this.interaction.description.split(' ')
        words.map(el => {
          if (el.charAt(0) == '@') {
            let member = this.userNamesId.find(un => un.username == el.substr(1, el.length))
            if (member != undefined) {
              let memberExist = this.newmembers.find(el => el.user_id == member.id)
              if (memberExist == undefined) {
                this.newmembers.push({
                  user_id: member.id,
                  user_inviting_id: JSON.parse(localStorage.getItem("user")).id
                })
              }
            }
          }
        })
      }
    },

    async beforeMount() {
    },

    computed: {
      ...mapState("starjobs", ["job", "users", "userName", "interaction", "userNamesId", "newmembers", "loading", "files", "arrayAvatars", "modal"]),
    },
  };
</script>
<style>
  .mention-item {
    padding: 4px 10px;
    border-radius: 4px;
  }

  .mention-selected {
    background: rgb(192, 250, 153);
  }

  .custom-file > label {
    white-space: nowrap;
    overflow: hidden;
  }

  .attachment {
    cursor: pointer;
  }
</style>
