<template>
  <div>
    <div class="">
      <ul
        class="timeline timeline-update p-3 h back"
        style="height: 508px; overflow: hidden; overflow-y: scroll"
      >
        <li style="margin-top: 0px"
            v-for="interaction in job.interactions"
            :key="interaction.id"
        >
          <!-- IMAGEN -->
          <div class="timeline-badge primary wow lightSpeedIn center">
            <img
              :src="interaction.src"
              height="36"
              width="36"
              alt="avatar-image"
              class="rounded-circle float-right"
            />
          </div>

          <!-- CARD -->
          <div
            class="timeline-card wow slideInLeft"
            style="display: inline-block"
            :class="
              interaction.user_id == localUserId
                ? 'green'
                : ''
            "
          >
            <div class="timeline-heading">
              <div class="user_name">
                <p class="mb-0">{{`${interaction.user.name} ${interaction.user.surname}`}}</p>
                <small class="text-muted">{{interaction.created_at}}</small>
              </div>
            </div>

            <div class="timeline-body">
              <p class="mb-1 pt-2">
                {{interaction.description}}
              </p>
            </div>
          </div>

          <div
            class="content-attachments"
            style="display: inline-block"
            v-if="interaction.files.length > 0"
            :class="
              interaction.user_id == localUserId
                ? 'green-attachments'
                : ''
            "
          >
            <div class="timeline-body">
              <div class="row">
                <div v-for="file in interaction.files" :key="file.id" class="col-12 pb-1"  @click="openModal(file)">
                  <img :src="iconFile(file.name)" alt=" " width="15px" class="attachment"/> <span class="attachment"> {{showNameFile(file.name)}}</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <modalAttachment
      :type="modal.type"
      :name="modal.name"
      :url="modal.url"
      :jobs_docs_id="modal.jobs_docs_id"
      :jobs_docs_name="modal.jobs_docs_name"
      :jobs_interactions_docs_id="modal.jobs_interactions_docs_id"
      :jobs_interactions_docs_name="modal.jobs_interactions_docs_name"
    ></modalAttachment>
  </div>
</template>

<script>
  import {mapActions, mapState, mapMutations, mapGetters} from "vuex";
  import Card from "../../components/pages/card/card";
  import {MessageBox} from "element-ui";
  import modalAttachment from "../../views/star-jobs/modal-attachments"

  export default {
    components: {
      Card,
      modalAttachment,
    },
    data() {
      return {
        localUserId: JSON.parse(localStorage.getItem("user")).id,
        imgUser:
          "https://www.clipartkey.com/mpngs/m/152-1520367_user-profile-default-image-png-clipart-png-download.png",
        type_files: [
          {extension: "pdf", icon: "pdf", type: "doc"},
          {extension: "doc", icon: "word", type: "doc"},
          {extension: "docx", icon: "word", type: "doc"},
          {extension: "xls", icon: "excel", type: "doc"},
          {extension: "csv", icon: "excel", type: "doc"},
          {extension: "xlsx", icon: "excel", type: "doc"},
          {extension: "ppt", icon: "power-point", type: "doc"},
          {extension: "pptx", icon: "power-point", type: "doc"},
          {extension: "png", icon: "image", type: "img"},
          {extension: "jpg", icon: "image", type: "img"},
          {extension: "jpeg", icon: "image", type: "img"},
          {extension: "gif", icon: "image", type: "img"}
        ]
      };
    },

    watch: {},

    created() {
    },
    methods: {
      openModal(file) {
        let extension = file.name.split(".").pop();
        const extensionsImages = ["png", "jpg", "jpeg", "gif"];
        const extensionsDocuments = [
          "doc",
          "docx",
          "xls",
          "xlsx",
          "ppt",
          "pptx"
        ];

        if (extension == "pdf") {
          this.modal.type = "pdf";
        } else if (extensionsImages.includes(extension, 0)) {
          this.modal.type = "image";
        } else if (extensionsDocuments.includes(extension, 0)) {
          this.modal.type = "office";
        }

        this.modal.name = file.name
        this.modal.jobs_docs_id = 0
        this.modal.jobs_docs_name = ''
        this.modal.jobs_interactions_docs_id = file.id
        this.modal.jobs_interactions_docs_name = file.name

        this.fetDocumentinteraction(file.id)


        this.setModalAttachment(true)
      },
      ...mapActions("starjobs", ["fetDocumentinteraction"]),
      ...mapMutations("starjobs", ["setModalAttachment"]),
      arrayAvatarsRandom() {
        var item = this.arrayAvatars[
          Math.floor(Math.random() * this.arrayAvatars.length)
          ];
        return item;
      },
      iconFile(file) {
        let ext = file.split(".").pop();
        let f = this.type_files.find(tf => tf.extension == ext);
        return `/static/images/icons-files/${f.icon}.svg`;
      },
      showNameFile(name) {
        if (name.length > 30) {
          return name.substr(0, 27) + '...'
        } else {
          return name
        }
      },
    },

    async beforeMount() {
    },

    computed: {
      ...mapState("starjobs", [
        'job',
        'arrayAvatars',
        'modal'
      ]),
    },
  };
</script>
<style scoped>
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .timeline {
    list-style: none;
    padding: 20px 10px;
    position: relative;
  }

  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }

  .timeline > li > .timeline-badge {
    color: #fff;
    width: 36px;
    top: -15px;
    height: 36px;
    line-height: 50px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    right: -9px;
    margin-left: -25px;
    z-index: 100;
  }

  .timeline > li > .timeline-card {
    width: 90%;
    float: left;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    border-top-right-radius: 0;
    padding: 10px 15px;
    position: relative;
    box-shadow: 0 1px 6px rgb(0 0 0 / 18%);
  }

  .timeline > li > .timeline-card:before {
    position: absolute;
    top: -1px;
    right: -15px;
    display: inline-block;
    border-top: 2px solid #ccc;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 20px solid transparent;
    content: " ";
  }

  .timeline > li > .timeline-card:after {
    position: absolute;
    top: 0;
    right: -14px;
    display: inline-block;
    border-left: 14px solid #dcf8c6;
    border-right: 0 solid #dcf8c6;
    border-bottom: 18px solid transparent;
    content: " ";
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    right: 17px;
    margin-left: -1.5px;
  }

  .float-right {
    float: right !important;
  }

  .rounded-circle {
    border-radius: 50% !important;
  }

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    right: 17px;
    margin-left: -1.5px;
  }

  .timeline > li:after {
    clear: both;
  }

  @media (min-width: 576px) {
    .modal-document-thread-history .modal-dialog {
      max-width: 96%;
      margin: 1.75rem auto;
    }
  }

  @media (min-width: 992px) {
    .modal-document-thread-history .modal-lg,
    .modal-document-thread-history .modal-xl {
      max-width: 900px !important;
      margin: 1.75rem auto !important;
    }
  }

  .user_name {
  }

  .user_name > p {
    color: #6bcbef;
    font-size: 20px;
  }

  .h {
    height: 770px !important;
  }

  .green {
    background-color: #dcf8c6 !important;
  }

  .green-attachments {
    background-color: #dcf8c642 !important;
  }

  .content-attachments {
    background-color: rgba(255, 255, 255, 0.6) !important;
    position: relative;
    width: 90%;
    margin: 1px 0;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #0000001a;
  }

  .attachment {
    cursor: pointer;
  }

  .back {
    background-image: url("https://vue-dark.vueadmintemplate.com/images/brick-wall.png?effad1520fc39d8897385d7004d2dbf4") !important;
  }
</style>
