<template>
  <card title="<i class='ti-notepad'></i> Gestión de pedidos">
    <div>
      <b-row>
        <div class="col-md-12 col-lg-3 mt-3">
          <el-date-picker
            v-model="params.filter_date"
            type="daterange"
            id="range_date"
            name="range_date"
            :clearable="false"
            range-separator="a"
            start-placeholder=""
            end-placeholder=""
            data-vv-as=" "
            value-format="yyyy-MM-dd"
            style="height: 31.25px !important;"
          >
          </el-date-picker>
        </div>
        <div class="col-md-12 col-lg-3 mt-3" v-if="user_logued.get_roles.some(r => r.role === 'superadmin')">
          <b-form-group class="mb-0">
            <el-select
              clearable
              filterable
              v-model="params.seller_id"
              placeholder="Seleccione un asesor"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
            >
              <el-option
                v-for="seller in sellers"
                :key="seller.id"
                :value="seller.id"
                :label="seller.name + ' ' + seller.surname"
              >
              </el-option>
            </el-select>
          </b-form-group>
        </div>
        <div class="col-md-12 col-lg-3 mt-3">
          <el-select
            id="order-sel"
            name="order-sel"
            clearable
            filterable
            no-data-text="Cargando datos..."
            no-match-text="No hay datos que coincidan"
            v-model="params.filter_status"
            @change="cargarPedidos"
            placeholder="Estado del pedido"
          >
            <el-option
              v-for="state in states"
              :key="state.name_parameter"
              :value="state.name_parameter"
              :label="state.name_parameter"
            >
            </el-option>
          </el-select>
        </div>
        <div class="col-md-12 col-lg-3 mt-3" style="margin-top: 2em;">
          <b-form-group class="mb-0">
            <b-input-group>
              <b-form-input v-model="params.filter" @keyup.native.enter="setFilterPagination"
                            style="text-transform: uppercase;"/>
              <b-btn @click="filterPagination(params)" id="botones"><span class="ti-search"></span></b-btn>
            </b-input-group>
          </b-form-group>
        </div>
      </b-row>
      <div>
        <div class="table-striped table-responsive mt-5">
          <b-table
            responsive
            show-empty
            :items="orders.data"
            :fields="fields"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sort"
            :no-local-sorting="true"
          >
            <template v-slot:head(total_value_brut)="row">
              <div style="text-align: center !important;">
                <strong class="text-right">Vr. total pedido</strong>
                <br>
                <span class="text-nowrap">{{ orders.total_value_orders | currency }}</span>
              </div>
            </template>

            <template v-slot:cell(products)="row">
              <i v-b-tooltip.bottom class="fa fa-fw fa-chevron-down" @click="row.toggleDetails"></i>
            </template>

            <template v-slot:cell(full_name)="row">
              {{row.item.contact.name}} {{row.item.contact.surname}}
            </template>

            <template v-slot:cell(fact)="row">
              <b-button size="sm" style="padding: 0.25rem 0.7rem;" variant="secondary" class="mt-1"
                        :to="`/terceros/${row.item.contact_id}/ver`">
                <i class="fa fa-fw fa-eye"></i>
              </b-button>
              <b-button v-if="row.item.document_thread.length" v-b-modal.modal-scrollable v-b-modal.modal-xl
                        v-b-modal.modal-center @click="info(row.item, row.index, $event.target)" class="mr-1"
                        style="min-width: 110px;">
                Ver Facturas
              </b-button>
            </template>

            <template v-slot:cell(total_value_brut)="row">
              <div style="text-align: right;">
                {{ row.item.total_value_brut | currency }}
              </div>
            </template>

            <template v-slot:cell(make_customer)="row">
              <div align="center">{{ row.item.make_customer ? 'SI' :'NO'}}</div>
            </template>

            <template v-slot:cell(state_backorder.name_parameter)="row">
              <div v-html="drawStateTags(row.item)" align="center"></div>
            </template>

            <template slot="row-details" slot-scope="row">
              <div style="text-align: center; font-weight:600">Productos</div>
              <table class="table table-bordered table-striped">
                <thead>
                <tr style="background-color:#e5f5ff">
                  <th>Referencia</th>
                  <th class="resp">Descripción</th>
                  <th style="text-align: center;">Cant</th>
                  <th style="text-align: center;">Vr-Unit</th>
                  <th style="text-align: center;">Vr-Bruto</th>
                  <th style="text-align: center;">Vr-Iva</th>
                  <th style="text-align: center;">Vr-Total</th>
                </tr>
                </thead>
                <tbody v-for="item in row.item.documents_products" :key="item.id">
                <tr>
                  <td colspan="6" class="responsive">{{ item.product.description }}</td>
                </tr>
                <tr>
                  <td>{{ item.product.code }}</td>
                  <td class="resp">{{ item.product.description }}</td>
                  <td style="text-align: center;">{{ item.quantity }}</td>
                  <td style="text-align: center;">{{ item.unit_value_before_taxes | currency }}</td>
                  <td style="text-align: center;">{{ item.total_value_brut | currency }}</td>
                  <td style="text-align: center;">{{ ivaDocumentProduct(item) | currency }}</td>
                  <td style="text-align: center;">{{ item.total_value_brut | currency }}</td>
                </tr>
                </tbody>
              </table>

              <div class="info-detallada">
                <div class="observacion">
                  <h5>Observación</h5>
                  {{ row.item.observation }}
                </div>
                <div class="info-adicional">
                  <span><b>Ciudad:</b> {{ row.item.contact.city.city }}</span>
                  <span><b>Dirección:</b> {{ row.item.contact.address }}</span>
                  <span><b>Teléfono:</b> {{ row.item.contact.main_telephone }}</span>
                  <span v-if="row.item.user"><b>Creado por:</b> {{ row.item.user.contact.name }} {{ row.item.user.contact.surname }}</span>
                </div>
              </div>

            </template>
          </b-table>
        </div>
        <p>
          Mostrando {{ orders.from }} a {{ orders.to }} de {{ orders.total }} resultados
        </p>
        <b-row>
          <b-col md="6" class="my-1">
            <b-pagination :total-rows="totalRows"
                          :per-page="50"
                          :current-page="params.page"
                          v-model="params.page"
                          class="my-0 float-right"
                          @change="setPagePagination"
            />
          </b-col>
        </b-row>
      </div>
      <b-modal no-close-on-backdrop scrollable centered size="xl" :id="infoModal.id" title="Resumen Facturas"
               hide-footer>
        <div>
          <b-table
            responsive
            :items="infoModal.content.document_thread"
            :fields="fact">
            <template v-slot:cell(prod)="row">
              <i v-b-tooltip.bottom title="" class="fa fa-fw fa-chevron-down" @click="row.toggleDetails"></i>
            </template>
            <template slot="logo" slot-scope="row">
              <img v-if="row.item.documents_information.contact_protractor != null"
                   :src="`${row.item.documents_information.contact_protractor.provider.logo}`"
                   style="max-width:100%; max-height:63%">
              <span v-else>N/A</span>
            </template>
            <template slot="guia" slot-scope="row">
              <a v-if="row.item.documents_information.contact_protractor != null"
                 :href="`${row.item.documents_information.contact_protractor.web_page + row.item.documents_information.guide_number}`"
                 target="_blank">
                {{ row.item.documents_information.guide_number }}
              </a>
              <span v-else>N/A</span>
            </template>
            <template v-slot:cell(total_value_brut)="row">
              {{ row.item.total_value_brut | currency }}
            </template>
            <template v-slot:cell(iva)="row">
              {{ totalIvaDocument(row.item) | currency }}
            </template>
            <template v-slot:cell(total_value_brut)="row">
              {{ row.item.total_value_brut | currency }}
            </template>
            <template v-slot:cell(download)="row">
              <b-button
                variant="success"
                @click="downloadPdf(row.item)"
              >
                Descargar
                <i class="fa fa-download"></i>
              </b-button>
            </template>
            <template v-slot:cell(tracing)="row">
              <b-button
                variant="secondary"
                @click="openTracing(row.item)"
              >
                Seguimiento
                <i class="fa fa-map-marker"></i>
              </b-button>
            </template>
            <template slot="row-details" slot-scope="row">
              <div>
                <div style="text-align: center; font-weight:600 ">Productos</div>
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr style="background-color:#e5f5ff">
                    <th>Referencia</th>
                    <th class="resp">Descripción</th>
                    <th style="text-align: center;">Cant</th>
                    <th style="text-align: center;">Vr-Bruto</th>
                    <th style="text-align: center;">Vr-Iva</th>
                    <th style="text-align: center;">Vr-Total</th>
                  </tr>
                  </thead>
                  <tbody v-for="item in row.item.documents_products" :key="item.id">
                  <tr>
                    <td colspan="6" class="responsive">{{ item.product.description }}</td>
                  </tr>
                  <tr>
                    <td>{{ item.product.code }}</td>
                    <td class="resp">{{ item.product.description }}</td>
                    <td style="text-align: center;">{{ item.quantity }}</td>
                    <td style="text-align: center;">{{ item.total_value_brut | currency }}</td>
                    <td style="text-align: center;">{{ ivaDocumentProduct(item) | currency }}</td>
                    <td style="text-align: center;">{{ item.total_value_brut | currency }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </template>
          </b-table>
        </div>
      </b-modal>
    </div>

    <preloader v-show="preloader" :mensaje="message_loader"></preloader>
  </card>
</template>

<script>
  import {mapState, mapActions, mapGetters, mapMutations} from 'vuex'
  import Card from '../../components/pages/card/card'
  import preloader from './../../components/layout/preloader'

  export default {
    data() {
      return {
        fields: [
          {key: 'products', label: ''},
          {key: 'consecutive', label: 'N° de pedido', sortable: true},
          {key: 'contact.identification', label: 'ID del cliente', sortable: true},
          {key: 'full_name', label: 'Cliente', sortable: true, thStyle: {'min-width': '300px'}},
          {key: 'document_date', label: 'Fecha', sortable: true, thStyle: {'min-width': '90px'}, tdClass:'text-center'},
          {key: 'total_value_brut', label: 'Vr. total pedido', sortable: true, thStyle: {'min-width': '130px'}},
          {
            key: 'state_backorder.name_parameter',
            label: 'Estado',
            sortable: true,
            thStyle: {'text-align': 'center', 'min-width': '170px'}
          },
          {
            key: 'make_customer',
            label: 'Realizado por cliente',
            sortable: false,
            thStyle: {'text-align': 'center', 'min-width': '80px'}
          },
          {key: 'fact', label: 'Facturación', sortable: false, thStyle: {'min-width': '180px'}}
        ],
        infoModal: {
          id: 'info-modal',
          content: []
        },
        fact: [
          {key: 'prod', label: '', sortable: true},
          {key: 'document_date', label: 'Fecha Factura', sortable: true, thStyle: {'min-width': '100px !important'}},
          {key: 'consecutive', label: 'Número Factura', sortable: true, thStyle: {'min-width': '100px !important'}},
          {key: 'total_value_brut', label: 'Vr-Bruto', sortable: true, thStyle: {'min-width': '100px !important'}},
          {key: 'iva', label: 'Vr-Iva', sortable: true, thStyle: {'min-width': '100px !important'}},
          {key: 'total_value_brut', label: 'Vr-Total', sortable: true, thStyle: {'min-width': '100px !important'}},
          {key: 'tracing', label: '', sortable: true, thStyle: {'width': '140px !important'}},
          {key: 'download', label: '', sortable: true, thStyle: {'width': '140px !important'}}
        ],
        sortBy: 'total_order_value',
        sort: true,
        message_loader: 'Cargando pedidos...'
      }
    },
    components: {
      Card,
      preloader
    },
    async created() {
      this.sortBy = this.params.sortBy
      this.sort = this.params.sort == 'ASC'
      this.fecha()

      await this.getSellers()
      await this.getStates()

      await this.$store.watch(() => {
        return this.getParams.filter_date
      }, async (p) => {
        if (p == null) {
          this.preloader = true
          await this.fetchOrders()
          this.preloader = false
        }
      })

      await this.$store.watch(() => {
        return this.getParams.sortBy
      }, async (p) => {
        this.preloader = true
        await this.fetchOrders()
        this.preloader = false
      })

      await this.$store.watch(() => {
        return this.getParams.sort
      }, async (p) => {
        this.preloader = true
        await this.fetchOrders()
        this.preloader = false
      })

      await this.$store.watch(() => {
        return this.getParams.seller_id
      }, async (p) => {
        this.preloader = true
        await this.fetchOrders()
        this.preloader = false
      })

      let seller_id = this.$route.query.seller_id

      if (seller_id){
        this.setSellerId(parseInt(seller_id))
      }
    },
    methods: {
      openTracing(document){
        window.open('http://solex.blulogistics.net/solex/Home/GuiaRastreo?Numero=TE0109170', '_blank')
        // window.open(document.documents_information.tracing, '_blank')
      },
      totalIvaDocument(document) {
        let total = 0
        document.documents_products.map(dp => {
          dp.documents_products_taxes.map(dpt => {
            if (dpt.tax_id === 1) {
              total += dpt.value
            }
          })
        })
        return total
      },
      ivaDocumentProduct(documentProduct) {
        let total = 0
        documentProduct.documents_products_taxes.map(dpt => {
          if (dpt.tax_id === 1) {
            total += dpt.value
          }
        })
        return total
      },
      info(item, index, button) {
        this.infoModal.title = `Row index: ${index}`
        this.infoModal.content = item
        this.$root.$emit('bv::show::modal', this.infoModal.id, button)
      },
      fecha() {
        const end = new Date();
        const start = new Date();
        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
        this.params.filter_date = [start, end]
      },
      async deleteTags(tag) {
        await this.fetchOrders()
      },
      async cargarPedidos() {

        if (this.user_logued.role == 'Vendedor') {
          this.params.seller_id = this.user_logued.id
        }

        await this.fetchOrders()
      },
      drawStateTags(order) {

        let style = 'pedido-inicial'

        if (order.closed){
          return "<span class='pedido-retenido'>CERRADO</span>"
        }

        switch (order.state_backorder.name_parameter) {
          case 'RETENIDO':
            style = 'pedido-retenido'
            break
          case 'PENDIENTE':
            style = 'pedido-aprobado'
            break
          case 'PARCIAL':
            style = 'pedido-comprometido'
            break
          case 'FINALIZADO':
            style = 'pedido-cumplido'
            break
        }

        return "<span class='" + style + "'>" + order.state_backorder.name_parameter + "</span>"
      },
      filterPagination(filter) {
        this.fetchOrders()
      },
      downloadPdf(row){
        this.downloadDocument(row)
      },
      ...mapActions('ordersManagement', [
        'fetchOrders',
        'setFilterPagination',
        'setPerPagePagination',
        'setPagePagination',
        'setSortByPagination',
        'setSortPagination',
        'getSellers',
        'getStates',
        'downloadDocument'
      ]),
      ...mapMutations('ordersManagement', [
        'setFilterDate',
        'setFilterStatus',
        'setSellerId'
      ])
    },
    computed: {
      ...mapState('login', [
        'user_logued'
      ]),
      ...mapState('ordersManagement', [
        'orders',
        'status',
        'params',
        'products',
        'sellers',
        'preloader',
        'states'
      ]),
      ...mapGetters('ordersManagement', [
        'getParams'
      ]),
      totalRows() {
        return this.orders.total
      }
    },
    watch: {
      'sortBy'(newValue, oldValue) {
        this.setSortByPagination(newValue)
      },
      'sort'(newValue, oldValue) {
        this.setSortPagination(newValue ? 'ASC' : 'DESC')
      }
    }
  };
</script>

<style>
  .el-date-editor .el-range-separator {
    line-height: 22px !important;
    width: 64px !important;
  }

  .order-status .el-select {
    width: 250px !important;
  }

  .filtro-fechas {
    margin: 50px auto;
    text-align: center;
  }

  .order {
    margin-left: 130px;
    margin-right: 130px;
  }

  .responsive {
    display: none
  }

  .el-input__inner {
    height: 31.25px;
  }

  /* responsive selector de fecha*/
  @media (min-width: 522px) and (max-width: 665px) {
    .el-date-range-picker {
      width: 509px;
    }

    .el-picker-panel .el-date-range-picker .el-popper {
      left: 4px
    }
  }

  @media (min-width: 501px) and (max-width: 521px) {
    .el-picker-panel__content.is-left {
      width: 64% !important;
      padding: 10px 0px 10px 160px !important;
    }

    .el-date-range-picker__content.is-right {
      padding: 10px 0px 0px 0px !important;
      width: 36% !important;
    }

    .el-date-table td {
      padding: 0px !important;
    }
  }

  @media (min-width: 361px) and (max-width: 500px) {
    .el-picker-panel__content.is-left {
      width: 100% !important;
      padding: 10px 10px 10px 300px !important;
    }

    .el-date-range-picker__content.is-right {
      padding: 10px 10px 10px 300px !important;
      width: 100% !important;
    }

    .el-date-table td {
      padding: 0px !important;
    }
  }

  @media (max-width: 360px) {
    .el-picker-panel__content.is-left {
      width: 100% !important;
      padding: 45px 9px 29px 341px !important;
    }

    .el-date-range-picker__content.is-right {
      padding: 0px 9px 29px 341px !important;
      width: 100% !important;
    }

    .el-date-table td {
      padding: 0px !important;
    }
  }

  @media (min-width: 426px) and (max-width: 1024px) {
    .order {
      margin-left: 30px;
      margin-right: 30px;
    }

    .order-status .el-select {
      margin-left: 0px;
      padding-left: 0px
    }
  }

  @media (max-width: 425px) {
    .order {
      margin-left: 10px;
      margin-right: 10px;
    }

    .responsive {
      display: table-cell
    }

    .resp {
      display: none;
    }

    .order-status .el-select {
      width: 349px !important;
      margin-left: 0px;
      padding-left: 0px
    }

  }

  @media (max-width: 360px) {
    .order {
      margin-left: 10px;
      margin-right: 10px;
    }

    .responsive {
      display: table-cell
    }

    .resp {
      display: none;
    }

    .order-status .el-select {
      width: 349px !important;
      margin-left: 0px;
      padding-left: 0px
    }
  }


  /* Etiquetas de estados de pedidos */
  .pedido-inicial {
    color: #4D4D4D;
    border: 1px solid #4D4D4D;
    padding: 0px 4px;
    border-radius: 3px;
  }

  .pedido-retenido {
    color: #E47127;
    border: 1px solid #E47127;
    padding: 0px 4px;
    border-radius: 3px;
  }

  .pedido-aprobado {
    color: #1CB0DB;
    border: 1px solid #1CB0DB;
    padding: 0px 4px;
    border-radius: 3px;
  }

  .pedido-comprometido {
    color: #232DC9;
    border: 1px solid #232DC9;
    padding: 0px 4px;
    border-radius: 3px;
  }

  .pedido-cumplido {
    color: #33A428;
    border: 1px solid #33A428;
    padding: 0px 4px;
    border-radius: 3px;
  }

  .pedido-anulado {
    color: #BB1712;
    border: 1px solid #BB1712;
    padding: 0px 4px;
    border-radius: 3px;
  }


  /* Sección de información detallada */
  .info-detallada {
    display: block;
    padding: 0 10px;
    font-size: 10px;
    margin: 8px 0 15px 0;
  }

  .observacion {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .observacion h5 {
    font-weight: bold;
    font-size: 13px;
  }

  .info-adicional {
    display: block;
  }

  .info-adicional span {
    display: block;
  }

  .cursor {
    cursor: pointer;
  }

  .el-date-editor--daterange.el-input,
  .el-date-editor--daterange.el-input__inner,
  .el-date-editor--timerange.el-input,
  .el-date-editor--timerange.el-input__inner {
    width: 100% !important;
  }

  .el-date-editor .el-range-separator {
    width: 14px !important;
  }

  .el-range-editor.el-input__inner {
    padding: 3px;
  }
</style>
