<template>
  <card title="<i class='fa fa-fw fa-building-o'></i> Suscriptores">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-12">
            <b-form-group label="Buscar" class="mb-0">
              <b-input-group>
                <b-form-input
                  v-model="params.filter"
                  placeholder=""
                  @keyup.native.enter="setFilterPagination"
                  style="text-transform: uppercase;"
                />
                <b-input-group-append>
                  <b-btn @click.prevent="filtro(params.filter)" id="botones"
                    ><span class="ti-search"></span
                  ></b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-md-8 col-sm-4 col-12">
            <b-button
              to="/suscriptores/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <grid-u2 :items="subscribers.data" :columns="listSubscribers">
            <template slot="state" slot-scope="row">
              <h5 class="text-center">
                <b-badge href="#" variant="success" v-if="row.item.state">
                  Activo
                </b-badge>
                <b-badge href="#" variant="danger" v-else>Inactivo</b-badge>
              </h5>
            </template>
            <template slot="actions" slot-scope="row">
              <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="secondary"
                :to="`/suscriptores/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                size="sm"
                class="button-table mt-1"
                id="botones"
                :to="`/suscriptores/${row.item.id}/editar`"
              >
                Editar
              </b-button>
               <b-button
                size="sm"
                class="btn btn-danger"
                @click="deleteSubscriber(row.item)"
              >
                ELiminar
              </b-button>
            </template>
          </grid-u2>
        </div>
        <p>
          Mostrando {{ subscribers.from }} a {{ subscribers.to }} de
          {{ subscribers.total }} resultados
        </p>
        <b-row>
          <b-col md="6" class="my-1 form-inline">
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[5, 10, 15]"
              v-model="params.perPage"
              @change.native="setPerPagePagination"
            />
          </b-col>
          <b-col md="6" class="my-1">
            <b-pagination
              :total-rows="totalRows"
              :per-page="params.perPage"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="setPagePagination"
            />
          </b-col>
        </b-row>
      </div>
    </div>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import GridU2 from "../../components/u2/grid";
import { MessageBox } from "element-ui";

export default {
  components: {
    Card,
    GridU2
  },
  data() {
    return {
      listSubscribers: [
        { field: "name", name: "Nombre" },
        { field: "identification", name: "Identificación" },
        { field: "state", name: "Estado" },
        { field: "actions", name: "Opciones" }
      ],
      sortBy: "id",
      sort: true
    };
  },
  created() {
    this.sortBy = this.params.sortBy;
    this.sort = this.params.sort == "ASC" ? true : false;
    this.fetchSubscribers();

    this.$store.watch(
      () => {
        return this.getParams.sort;
      },
      p => {
        this.fetchSubscribers();
      }
    );

    this.$store.watch(
      () => {
        return this.getParams.sortBy;
      },
      p => {
        this.fetchSubscribers();
      }
    );

    this.setGetSubscriberEdit(true);
    this.resetSelectedSubscriber();
  },
  methods: {
    ...mapActions("subscribers", [
      "fetchSubscribers",
      "removeSubscriber",
      "setFilterPagination",
      "setPerPagePagination",
      "setPagePagination",
      "setSortByPagination",
      "setSortPagination"
    ]),
    ...mapMutations("subscribers", [
      "setAction",
      "setSubscriber",
      "resetSelectedSubscriber",
      "setPerPage",
      "setFilter",
      "setGetSubscriberEdit"
    ]),

    deleteSubscriber(subscriber){
        this.$confirm('Desea Eliminar el Suscriptor?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(async () => {
         await this.removeSubscriber(subscriber);
        }).catch(() => {
                 
        });
    },
    filtro(filtro) {
      this.setFilter(filtro);
      this.fetchSubscribers();
    }
  },
  computed: {
    ...mapGetters("subscribers", ["getParams"]),
    ...mapState("subscribers", [
      "subscribers",
      "selectedSubscriber",
      "action",
      "params"
    ]),
    totalRows() {
      return this.subscribers.total;
    }
  },
  watch: {
    sortBy(newValue, oldValue) {
      this.setSortByPagination(newValue);
    },
    sort(newValue, oldValue) {
      this.setSortPagination(newValue ? "ASC" : "DESC");
    }
  }
};
</script>

<!-- boton crear  -->
<style lang="sass">
@import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
