<template>
  <div>
    <card
      :title="
        '<i class=\'fa fa-fw ti-pencil\'></i> ' + labelPrinci + ' Suscriptor'
      "
      :search="true"
      @change="listenCard"
    >
      <div style="margin-top:20px" v-if="loader">
        <loader></loader>
      </div>
      <div v-else>
        <form-wizard :start-index="0" color="#007db3" ref="wizard">
          <tab-content
            title="Suscriptor (1/3)"
            icon="ti-user"
            :before-change="valida"
          >
            <form data-vv-scope="form">
              <div class="form-body">
                <div class="row ">
                  <div
                    class="col-md-3 form-group"
                    v-if="filterFields('Licencia')"
                    v-bind:class="
                      errors.has('form.license_id') ? 'form-group-error' : ''
                    "
                  >
                    <label for="license_id">
                      Licencia <span class="text-danger">*</span>
                    </label>
                    <el-select
                      v-model="selectedSubscriber.license_id"
                      id="license_id"
                      name="license_id"
                      filterable
                      clearable
                      :disabled="isDisabled"
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      placeholder
                      @click.native="fetchLicenses"
                    >
                      <el-option
                        v-for="licencia in licenses"
                        :value="licencia.value"
                        :key="licencia.value"
                        :label="licencia.label"
                      >
                      </el-option>
                    </el-select>
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.license_id") }}
                    </span>
                  </div>
                  <div
                    class="col-md-2 form-group"
                    v-if="filterFields('Tipo de identificación')"
                    v-bind:class="
                      errors.has('form.identification_type')
                        ? 'form-group-error'
                        : ''
                    "
                  >
                    <label for="identification">
                      Tipo de Identificación
                      <span class="text-danger">*</span> &nbsp;
                      <sup>
                        <i
                          class="fa fa-question-circle text-muted"
                          v-b-tooltip="parameters[0].tooltip"
                        ></i>
                      </sup>
                    </label>
                    <el-select
                      id="identification_type"
                      name="identification_type"
                      v-model="selectedSubscriber.identification_type"
                      clearable
                      filterable
                      placeholder
                      :disabled="isDisabled"
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      v-validate="'required'"
                      data-vv-as="Tipo de Identificacion "
                      @click.native="fetchDocumentTypes()"
                    >
                      <el-option
                        v-for="item in identificationTypes"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      ></el-option>
                    </el-select>
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.identification_type") }}
                    </span>
                  </div>
                  <div
                    class="col-md-2 form-group"
                    v-if="filterFields('Tipo de Persona')"
                    v-bind:class="
                      errors.has('form.class_person') ? 'form-group-error' : ''
                    "
                  >
                    <label for="class_person">Tipo de Persona</label> &nbsp;
                    <sup>
                      <i
                        class="fa fa-question-circle text-muted"
                        v-b-tooltip="parameters[1].tooltip"
                      ></i>
                    </sup>
                    <el-select
                      v-model="selectedSubscriber.class_person"
                      id="class_person"
                      name="class_person"
                      clearable
                      filterable
                      placeholder
                      :disabled="isDisabled"
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      data-vv-as=" "
                      @click.native="fetchPersonClasses()"
                    >
                      <el-option
                        v-for="item in classPersons"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                      ></el-option>
                    </el-select>
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.class_person") }}
                    </span>
                  </div>
                  <div
                    class="col-md-4 form-group"
                    v-if="filterFields('Identificación')"
                    v-bind:class="
                      errors.has('form.identification')
                        ? 'form-group-error'
                        : ''
                    "
                  >
                    <label for="identification">
                      Identificación <span class="text-danger">*</span>
                    </label>
                    <input
                      type="text"
                      id="identification"
                      name="identification"
                      class="form-control"
                      :disabled="isDisabled"
                      @change="validarNit()"
                      v-validate="'required|max:20'"
                      data-vv-as="Identificación "
                      v-model="selectedSubscriber.identification"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.identification") }}
                    </span>
                  </div>
                  <div
                    class="col-md-1 form-group"
                    v-if="filterFields('Digito Verificación')"
                    v-bind:class="
                      errors.has('form.check_digit') ? 'form-group-error' : ''
                    "
                  >
                    <label for="check_digit">
                      DV
                      <span
                        class="text-danger"
                        v-if="selectedSubscriber.identification_type == 1"
                        >*</span
                      >
                      &nbsp;
                      <sup
                        ><i
                          class="fa fa-question-circle text-muted"
                          v-b-tooltip="'Digito de verificación'"
                        >
                        </i
                      ></sup>
                    </label>
                    <input
                      type="text"
                      id="check_digit"
                      name="check_digit"
                      class="form-control"
                      :disabled="isDisabled"
                      @change="validarDv()"
                      v-validate="{
                        rules: {
                          required:
                            selectedSubscriber.identification_type == 1
                              ? true
                              : false,
                          numeric: true,
                          max: 1
                        }
                      }"
                      data-vv-as="DV "
                      v-model="selectedSubscriber.check_digit"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.check_digit") }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-md-4 form-group"
                    v-if="filterFields('Tipo de contribuyente')"
                  >
                    <label for="taxpayer_type">Tipo de Contribuyente</label>
                    &nbsp;
                    <sup>
                      <i
                        class="fa fa-question-circle text-muted"
                        v-b-tooltip="parameters[2].tooltip"
                      ></i>
                    </sup>
                    <el-select
                      id="taxpayer_type"
                      name="taxpayer_type"
                      filterable
                      clearable
                      :disabled="isDisabled"
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      placeholder
                      v-validate="'max:20'"
                      data-vv-as=" "
                      v-model="selectedSubscriber.taxpayer_type"
                      @click.native="fetchTaxpayerTypes()"
                    >
                      <el-option
                        v-for="t in taxpayerTypes"
                        :key="t.value"
                        :value="t.value"
                        :label="t.label"
                      ></el-option>
                    </el-select>
                  </div>
                  <div
                    class="col-md-4 form-group"
                    v-if="filterFields('Regimen Tributario')"
                  >
                    <label for="tax_regimen">Regimen Tributario</label> &nbsp;
                    <sup>
                      <i
                        class="fa fa-question-circle text-muted"
                        v-b-tooltip="parameters[3].tooltip"
                      ></i>
                    </sup>
                    <el-select
                      id="tax_regimen"
                      name="tax_regimen"
                      filterable
                      clearable
                      :disabled="isDisabled"
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      placeholder
                      v-model="selectedSubscriber.tax_regimen"
                      @click.native="fetchTaxRegimens()"
                    >
                      <el-option
                        v-for="t in taxRegimens"
                        :key="t.value"
                        :value="t.value"
                        :label="t.label"
                      ></el-option>
                    </el-select>
                  </div>
                  <div
                    class="col-md-4 form-group"
                    v-if="filterFields('Tipo de empresa')"
                  >
                    <label for="company_type">Tipo de Empresa</label> &nbsp;
                    <sup>
                      <i
                        class="fa fa-question-circle text-muted"
                        v-b-tooltip="parameters[4].tooltip"
                      ></i>
                    </sup>
                    <el-select
                      v-model="selectedSubscriber.company_type"
                      id="company_type"
                      name="company_type"
                      filterable
                      clearable
                      :disabled="isDisabled"
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      placeholder
                      @click.native="fetchCompanyTypes()"
                    >
                      <el-option
                        v-for="tipo in companyTypes"
                        :key="tipo.value"
                        :value="tipo.value"
                        :label="tipo.label"
                      ></el-option>
                    </el-select>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-md-3 form-group"
                    v-if="filterFields('Nombre Suscriptor')"
                    v-bind:class="
                      errors.has('form.name') ? 'form-group-error' : ''
                    "
                  >
                    <label for="name">
                      Nombre Suscriptor <span class="text-danger">*</span>
                    </label>
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="form-control"
                      :disabled="isDisabled"
                      v-validate="'required|max:100'"
                      data-vv-as="Nombre Suscriptor"
                      v-model="selectedSubscriber.name"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.name") }}
                    </span>
                  </div>
                  <div
                    class="col-md-2 form-group"
                    v-if="filterFields('Nombre Corto')"
                    v-bind:class="
                      errors.has('form.short_name') ? 'form-group-error' : ''
                    "
                  >
                    <label for="short_name">Nombre Corto</label>
                    <input
                      type="text"
                      id="short_name"
                      name="short_name"
                      class="form-control"
                      v-validate="'max:20'"
                      :disabled="isDisabled"
                      data-vv-as="Nombre Corto"
                      v-model="selectedSubscriber.short_name"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.short_name") }}
                    </span>
                  </div>
                  <div
                    class="col-md-3 form-group"
                    v-if="filterFields('email')"
                    v-bind:class="
                      errors.has('form.email') ? 'form-group-error' : ''
                    "
                  >
                    <label for="email">Email</label>
                    <input
                      type="text"
                      id="email"
                      name="email"
                      class="form-control"
                      :disabled="isDisabled"
                      v-validate="'email'"
                      data-vv-as="Email"
                      v-model="selectedSubscriber.email"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.email") }}
                    </span>
                  </div>
                  <div
                    class="col-md-4 form-group"
                    v-if="filterFields('Pagina web')"
                    v-bind:class="
                      errors.has('form.web_page') ? 'form-group-error' : ''
                    "
                  >
                    <label for="web_page">Pagina Web</label>
                    <input
                      type="text"
                      id="web_page"
                      name="web_page"
                      class="form-control"
                      :disabled="isDisabled"
                      v-validate="'url'"
                      data-vv-as="Pagina Web"
                      v-model="selectedSubscriber.web_page"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.web_page") }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-md-6 form-group"
                    v-if="filterFields('Representante legal')"
                    v-bind:class="
                      errors.has('form.name_legal_representative')
                        ? 'form-group-error'
                        : ''
                    "
                  >
                    <label for="name_legal_representative">
                      Representate Legal
                    </label>
                    <input
                      type="text"
                      id="name_legal_representative"
                      name="name_legal_representative"
                      class="form-control"
                      :disabled="isDisabled"
                      v-validate="'max:100'"
                      data-vv-as="Representate Legal"
                      v-model="selectedSubscriber.name_legal_representative"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.name_legal_representative") }}
                    </span>
                  </div>
                  <div
                    class="col-md-6 form-group"
                    v-if="filterFields('Identificación representante legal')"
                    v-bind:class="
                      errors.has('form.id_legal_representative')
                        ? 'form-group-error'
                        : ''
                    "
                  >
                    <label for="id_legal_representative">
                      Identificación Representante Legal
                    </label>
                    <input
                      type="text"
                      id="id_legal_representative"
                      name="id_legal_representative"
                      class="form-control"
                      :disabled="isDisabled"
                      v-validate="'max:20'"
                      data-vv-as="Identificación Representante Legal"
                      v-model="selectedSubscriber.id_legal_representative"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.id_legal_representative") }}
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div
                    class="col-md-2 col-sm-6 form-group"
                    v-if="filterFields('tipo comprobantes')"
                  >
                    <label for="vouchertype_id">Tipo Comprobantes</label>
                    <el-select
                      id="vouchertype_id"
                      name="vouchertype_id"
                      filterable
                      clearable
                      :disabled="isDisabled"
                      no-data-text="No existen datos"
                      no-match-text=" No hay datos que coincidan"
                      placeholder
                      v-model="selectedSubscriber.vouchertype_id"
                    >
                      <el-option
                        v-for="item in voucherTypes"
                        :key="item.value"
                        :label="`${item.code} - ${item.label}`"
                        :value="item.value"
                      ></el-option>
                    </el-select>
                  </div>
                  <div
                    class="col-md-2 col-sm-6 form-group"
                    v-if="filterFields('manejo wms')"
                  >
                    <label for="manager_wms">Manejo WMS</label>
                    <el-select
                      id="manager_wms"
                      name="manager_wms"
                      filterable
                      clearable
                      :disabled="isDisabled"
                      no-data-text="No existen datos"
                      no-match-text=" No hay datos que coincidan"
                      placeholder
                      v-model="selectedSubscriber.manager_wms"
                    >
                      <el-option
                        key="1"
                        label="1. SysLab"
                        value="1"
                      ></el-option>
                    </el-select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 form-group" v-if="filterFields('logo')">
                    <label for="logo" class="control-label">
                      Logo <span class="text-danger">*</span>
                    </label>
                    <div
                      v-if="subscriber_logo != '' && subscriber_logo != null"
                    >
                      <img
                        :src="subscriber_logo"
                        :alt="selectedSubscriber.name"
                        width="200px"
                      />
                      <b-button
                        :disabled="isDisabled"
                        type="submit"
                        class="btn btn-labeled btn-danger btn-sm"
                        @click.prevent="subscriber_logo = null"
                      >
                        <span class="btn-label"
                          ><i class="fa fa-trash"></i
                        ></span>
                        Eliminar
                      </b-button>
                    </div>
                    <div v-else>
                      <b-form-file
                        :disabled="isDisabled"
                        placeholder
                        class="form-control"
                        accept="image/jpeg, image/png, image/gif"
                        @change="loadLogo"
                      ></b-form-file>
                    </div>
                  </div>
                  <div
                    class="col-md-3 form-group"
                    v-if="filterFields('Estado')"
                  >
                    <label for="state">Estado</label>
                    <br />
                    <b-form-radio-group
                      style="mt-3"
                      id="state"
                      :disabled="isDisabled"
                      buttons
                      :options="[
                        { text: 'Activo', value: 1 },
                        { text: 'Inactivo', value: 0 }
                      ]"
                      name="state"
                      v-model="selectedSubscriber.state"
                      :button-variant="
                        selectedSubscriber.state == 1
                          ? 'outline-primary'
                          : 'outline-secondary'
                      "
                    />
                  </div>

                  <div
                    class="col-md-3 form-group"
                    v-if="filterFields('fecha en firme')"
                  >
                    <label for="state">Fecha en Firme</label>
                    <br />
                    <el-date-picker
                      type="date"
                      style="mt-3"
                      :disabled="isDisabled"
                      placeholder="Fecha en Firme"
                      v-model="selectedSubscriber.firmDate"
                    >
                    </el-date-picker>
                  </div>
                </div>
              </div>
            </form>
          </tab-content>
          <tab-content title="Configuración (2/3)" icon="ti-settings">
            <div class="form-body">
              <!--linea 1-->
              <div class="row">
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Digitos del Producto')"
                  v-bind:class="
                    errors.has('form.product_digits') ? 'form-group-error' : ''
                  "
                >
                  <label for="product_digits"
                    >Digitos del Producto (long)</label
                  >
                  <input
                    type="text"
                    id="product_digits"
                    name="product_digits"
                    :disabled="isDisabled"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    class="form-control"
                    v-model="selectedSubscriber.configuration.product_digits"
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form-employee.product_digits") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Consecutivo cod producto')"
                  v-bind:class="
                    errors.has('form.consecutive_product_code')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="consecutive_product_code"
                    >Consecutivo Cod Producto</label
                  >
                  <input
                    type="text"
                    id="consecutive_product_code"
                    name="consecutive_product_code"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.consecutive_product_code
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form-employee.consecutive_product_code") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Descripcion de Linea')"
                  v-bind:class="
                    errors.has('form.line_description')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="line_description">Descripcion de Linea</label>
                  <input
                    type="text"
                    id="line_description"
                    :disabled="isDisabled"
                    name="line_description"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="selectedSubscriber.configuration.line_description"
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.line_description") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Descripcion de Sublinea')"
                  v-bind:class="
                    errors.has('form.subline_description')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="subline_description"
                    >Descripcion de Sublinea</label
                  >
                  <input
                    type="text"
                    id="subline_description"
                    name="subline_description"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.subline_description
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.subline_description") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Descripcion de Categoria')"
                  v-bind:class="
                    errors.has('form.category_description')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="category_description"
                    >Descripcion de Categoria</label
                  >
                  <input
                    type="text"
                    id="category_description"
                    name="category_description"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.category_description
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.category_description") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Descripcion de Subcategoria')"
                  v-bind:class="
                    errors.has('form.subcategory_description')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="subcategory_description"
                    >Descripcion de Subcategoria</label
                  >
                  <input
                    type="text"
                    id="subcategory_description"
                    name="subcategory_description"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.subcategory_description
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.subcategory_description") }}
                  </span>
                </div>
              </div>
              <!--linea 1-->
              <!--linea 2-->
              <div class="row">
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Descripcion de Tipo')"
                  v-bind:class="
                    errors.has('form.type_description')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="type_description">Descripcion de Tipo</label>
                  <input
                    type="text"
                    id="type_description"
                    name="type_description"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="selectedSubscriber.configuration.type_description"
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.type_description") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('porcentaje  % minimo de variacion')"
                  v-bind:class="
                    errors.has('form.percentage_minimum_variation')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="percentage_minimum_variation"
                    >% Minimo de Variación</label
                  >
                  <input
                    type="text"
                    id="percentage_minimum_variation"
                    name="percentage_minimum_variation"
                    class="form-control"
                    :disabled="isDisabled"
                    v-validate="'max:10'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration
                        .percentage_minimum_variation
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.percentage_minimum_variation") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Factor de redondeo')"
                  v-bind:class="
                    errors.has('form.rounding_factor') ? 'form-group-error' : ''
                  "
                >
                  <label for="rounding_factor">Factor de Redondeo</label>
                  <input
                    type="text"
                    id="rounding_factor"
                    name="rounding_factor"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="selectedSubscriber.configuration.rounding_factor"
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.rounding_factor") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('tipo comprobante inventario fisico')"
                >
                  <label for="type_voucher_inventory"
                    >Tipo Comp Inv Fisico</label
                  >
                  <el-select
                    id="type_voucher_inventory"
                    name="type_voucher_inventory"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="
                      selectedSubscriber.configuration.type_voucher_inventory
                    "
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Cuenta entrada por ajuste')"
                >
                  <label for="account_entry">Cuenta Entrada X Ajuste</label>
                  <el-select
                    id="account_entry"
                    name="account_entry"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="selectedSubscriber.configuration.account_entry"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Cuenta salida x ajuste')"
                >
                  <label for="account_exit">Cuenta Salida X Ajuste</label>
                  <el-select
                    id="account_exit"
                    name="account_exit"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="selectedSubscriber.configuration.account_exit"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
              </div>
              <!--linea 2-->
              <!--linea 3-->
              <div class="row">
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Consecutivi traslado')"
                  v-bind:class="
                    errors.has('form.consecutive_transfer')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="consecutive_transfer">Consecutivo Traslado</label>
                  <input
                    type="text"
                    id="consecutive_transfer"
                    name="consecutive_transfer"
                    class="form-control"
                    :disabled="isDisabled"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.consecutive_transfer
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.consecutive_transfer") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Cuenta salida x ajuste')"
                  v-bind:class="
                    errors.has('form.consecutive_sales_orders')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="consecutive_sales_orders"
                    >Consecutivo Orden de Venta</label
                  >
                  <input
                    type="text"
                    id="consecutive_sales_orders"
                    name="consecutive_sales_orders"
                    class="form-control"
                    :disabled="isDisabled"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.consecutive_sales_orders
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.consecutive_sales_orders") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Consecutivo orden de compra')"
                  v-bind:class="
                    errors.has('form.consecutive_purchase_orders')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="consecutive_purchase_orders"
                    >Consecutivo Orden de Compra</label
                  >
                  <input
                    type="text"
                    id="consecutive_purchase_orders"
                    name="consecutive_purchase_orders"
                    class="form-control"
                    :disabled="isDisabled"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration
                        .consecutive_purchase_orders
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.consecutive_purchase_orders") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('folios factura electronica')"
                  v-bind:class="
                    errors.has('form.folios_electronic_invoice')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="folios_electronic_invoice"
                    >Folios Factura Electronica</label
                  >
                  <input
                    type="text"
                    id="folios_electronic_invoice"
                    name="folios_electronic_invoice"
                    class="form-control"
                    :disabled="isDisabled"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.folios_electronic_invoice
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.folios_electronic_invoice") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('fecha ultimo cierre')"
                  v-bind:class="
                    errors.has('form.last_date_close') ? 'form-group-error' : ''
                  "
                >
                  <label for="last_date_close" class="control-label bg-white"
                    >Fec Ultimo Cierre</label
                  >
                  <flat-pickr
                    v-model="selectedSubscriber.configuration.last_date_close"
                    id="last_date_close"
                    name="last_date_close"
                    :disabled="isDisabled"
                    data-vv-as=" "
                    :config="calendario"
                    class="form-control"
                  >
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.last_date_close") }}
                    </span>
                  </flat-pickr>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('fecha en firme')"
                  v-bind:class="
                    errors.has('form.firm_date') ? 'form-group-error' : ''
                  "
                >
                  <label for="firm_date">Fec en Firme</label>
                  <flat-pickr
                    v-model="selectedSubscriber.configuration.firm_date"
                    id="firm_date"
                    name="firm_date"
                    :disabled="isDisabled"
                    data-vv-as=" "
                    :config="calendario"
                    class="form-control"
                  >
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("form.firm_date") }}
                    </span>
                  </flat-pickr>
                </div>
              </div>
              <!--linea 3-->
              <!--linea 4-->
              <div class="row">
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Base retención productos')"
                  v-bind:class="
                    errors.has('form.base_retention_source_products')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="base_retention_source_products"
                    >Base Retención Productos</label
                  >
                  <input
                    type="text"
                    id="base_retention_source_products"
                    name="base_retention_source_products"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration
                        .base_retention_source_products
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.base_retention_source_products") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('porcentaje retención productos')"
                  v-bind:class="
                    errors.has('form.percentage_retention_source_products')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="percentage_retention_source_products"
                    >% Retencion Productos</label
                  >
                  <input
                    type="text"
                    id="percentage_retention_source_products"
                    name="percentage_retention_source_products"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration
                        .percentage_retention_source_products
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{
                      errors.first("form.percentage_retention_source_products")
                    }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('base retención servicio')"
                  v-bind:class="
                    errors.has('form.base_retention_source_services')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="base_retention_source_services"
                    >Base Retención Servicio</label
                  >
                  <input
                    type="text"
                    id="base_retention_source_services"
                    name="base_retention_source_services"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration
                        .base_retention_source_services
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.base_retention_source_services") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('porcentaje retención servicio')"
                  v-bind:class="
                    errors.has('form.percentage_retention_source_services')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="percentage_retention_source_services"
                    >% Retención Servicio</label
                  >
                  <input
                    type="text"
                    id="percentage_retention_source_services"
                    name="percentage_retention_source_services"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration
                        .percentage_retention_source_services
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{
                      errors.first("form.percentage_retention_source_services")
                    }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Porcentaje reteiva')"
                  v-bind:class="
                    errors.has('form.percentage_reteiva')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="percentage_reteiva">% ReteIva</label>
                  <input
                    type="text"
                    id="percentage_reteiva"
                    name="percentage_reteiva"
                    class="form-control"
                    :disabled="isDisabled"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.percentage_reteiva
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.percentage_reteiva") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Codigo Actividad Ica')"
                  v-bind:class="
                    errors.has('form.code_activity_ica')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="code_activity_ica">Código Actividad ICA</label>
                  <input
                    type="text"
                    id="code_activity_ica"
                    name="code_activity_ica"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="selectedSubscriber.configuration.code_activity_ica"
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.code_activity_ica") }}
                  </span>
                </div>
              </div>
              <!--linea 4-->
              <!--linea 5-->
              <div class="row">
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Codigo CIIU')"
                  v-bind:class="
                    errors.has('form.code_ciiu') ? 'form-group-error' : ''
                  "
                >
                  <label for="code_ciiu">Código CIIU</label>
                  <input
                    type="text"
                    id="code_ciiu"
                    name="code_ciiu"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="selectedSubscriber.configuration.code_ciiu"
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.code_ciiu") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('porcentaje reteica')"
                  v-bind:class="
                    errors.has('form.percentage_reteica')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="percentage_reteica">% ReteIca</label>
                  <input
                    type="text"
                    id="percentage_reteica"
                    name="percentage_reteica"
                    :disabled="isDisabled"
                    class="form-control"
                    v-validate="'max:50'"
                    data-vv-as=" "
                    v-model="
                      selectedSubscriber.configuration.percentage_reteica
                    "
                  />
                  <i class="text-danger icon-error"> </i>
                  <span class="text-danger span-error">
                    {{ errors.first("form.percentage_reteica") }}
                  </span>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('cuenta por pagar')"
                >
                  <label for="bill_to_pay">Cuenta Por Pagar</label>
                  <el-select
                    id="bill_to_pay"
                    name="bill_to_pay"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="selectedSubscriber.configuration.bill_to_pay"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('cuenta por cobrar')"
                >
                  <label for="receivable">Cuenta Por Cobrar</label>
                  <el-select
                    id="receivable"
                    name="receivable"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="selectedSubscriber.configuration.receivable"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('cuenta utilidades')"
                >
                  <label for="account_heritage_utility"
                    >Cuenta Utilidades</label
                  >
                  <el-select
                    id="account_heritage_utility"
                    name="account_heritage_utility"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="
                      selectedSubscriber.configuration.account_heritage_utility
                    "
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('Ccuenta perdidas')"
                >
                  <label for="account_heritage_lost">Cuenta Perdidas</label>
                  <el-select
                    id="account_heritage_lost"
                    name="account_heritage_lost"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="
                      selectedSubscriber.configuration.account_heritage_lost
                    "
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
              </div>
              <!--linea 5-->
              <!--linea 6-->
              <div class="row">
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('cuenta resultado ejercicio pyg')"
                >
                  <label for="account_pyg_result_exercise"
                    >Cuenta Resultado Ejercicio PyG</label
                  >
                  <el-select
                    id="account_pyg_result_exercise"
                    name="account_pyg_result_exercise"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="
                      selectedSubscriber.configuration
                        .account_pyg_result_exercise
                    "
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
                <div
                  class="col-md-2 form-group"
                  v-if="filterFields('tipo comprobante resultado ejercicio')"
                >
                  <label for="type_voucher_result_exercise"
                    >Tipo Comprobante Resultado Ejercicio</label
                  >
                  <el-select
                    id="type_voucher_result_exercise"
                    name="type_voucher_result_exercise"
                    filterable
                    clearable
                    :disabled="isDisabled"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    placeholder
                    v-model="
                      selectedSubscriber.configuration
                        .type_voucher_result_exercise
                    "
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </div>
              </div>
              <!--linea 6-->
              <!--linea 7-->
              <div class="row">
                <div
                  class="col-md-3 form-group"
                  v-if="filterFields('recalcular precios de venta')"
                  v-bind:class="
                    errors.has('form-provider.recalculate_sales_price')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="recalculate_sales_price"
                    >Recalcular Precios de Venta</label
                  >
                  <br />
                  <b-form-radio-group
                    id="recalculate_sales_price"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="recalculate_sales_price"
                    v-model="
                      selectedSubscriber.configuration.recalculate_sales_price
                    "
                    :button-variant="
                      selectedSubscriber.configuration
                        .recalculate_sales_price == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div
                  class="col-md-3 form-group"
                  v-if="filterFields('manejo de vendedores')"
                  v-bind:class="
                    errors.has('form-provider.seller_management')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="seller_management">Manejo de Vendedores</label>
                  <br />
                  <b-form-radio-group
                    id="seller_management"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="seller_management"
                    v-model="selectedSubscriber.configuration.seller_management"
                    :button-variant="
                      selectedSubscriber.configuration.seller_management == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div
                  class="col-md-3 form-group"
                  v-if="filterFields('Codigo Actividad Ica')"
                  v-bind:class="
                    errors.has('form-provider.brand_management')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="brand_management">Manejo de Marcas</label>
                  <br />
                  <b-form-radio-group
                    id="brand_management"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="brand_management"
                    v-model="selectedSubscriber.configuration.brand_management"
                    :button-variant="
                      selectedSubscriber.configuration.brand_management == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div
                  class="col-md-3 form-group"
                  v-if="filterFields('Manejo de lineas')"
                  v-bind:class="
                    errors.has('form-provider.line_management')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="line_management">Manejo de Lineas</label>
                  <br />
                  <b-form-radio-group
                    id="line_management"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="line_management"
                    v-model="selectedSubscriber.configuration.line_management"
                    :button-variant="
                      selectedSubscriber.configuration.line_management == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
              </div>

              <!--linea 7-->
              <!--linea 8-->
              <div class="row">
                <div
                  class="col-md-3 form-group"
                  v-if="filterFields('Manejo de categorias')"
                  v-bind:class="
                    errors.has('form-provider.category_management')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="category_management">Manejo de Categorias</label>
                  <br />
                  <b-form-radio-group
                    id="category_management"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="category_management"
                    v-model="
                      selectedSubscriber.configuration.category_management
                    "
                    :button-variant="
                      selectedSubscriber.configuration.category_management == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div
                  class="col-md-3 form-group"
                  v-if="
                    filterFields('Transferencia de Utilidad o Perdida Mensual')
                  "
                  v-bind:class="
                    errors.has('form-provider.monthly_utility_transfer_or_lost')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="monthly_utility_transfer_or_lost"
                    >Transferencia de Utilidad o Perdida Mensual</label
                  >
                  <b-form-radio-group
                    id="monthly_utility_transfer_or_lost"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="monthly_utility_transfer_or_lost"
                    v-model="
                      selectedSubscriber.configuration
                        .monthly_utility_transfer_or_lost
                    "
                    :button-variant="
                      selectedSubscriber.configuration
                        .monthly_utility_transfer_or_lost == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
                <div
                  class="col-md-3 form-group"
                  v-if="
                    filterFields('Transferencia de Utilidad o Perdida Anual')
                  "
                  v-bind:class="
                    errors.has('form-provider.annual_utility_transfer_or_lost')
                      ? 'form-group-error'
                      : ''
                  "
                >
                  <label for="annual_utility_transfer_or_lost"
                    >Transferencia de Utilidad o Perdida Anual</label
                  >
                  <br />
                  <b-form-radio-group
                    id="annual_utility_transfer_or_lost"
                    buttons
                    :disabled="isDisabled"
                    :options="[
                      { text: 'Si', value: 1 },
                      { text: 'No', value: 0 }
                    ]"
                    name="annual_utility_transfer_or_lost"
                    v-model="
                      selectedSubscriber.configuration
                        .annual_utility_transfer_or_lost
                    "
                    :button-variant="
                      selectedSubscriber.configuration
                        .annual_utility_transfer_or_lost == 1
                        ? 'outline-primary'
                        : 'outline-secondary'
                    "
                  />
                </div>
              </div>
              <!--linea 8-->
              <!--linea 9-->
              <div class="row" v-if="filterFields('logo')">
                <div class="col-md-6 form-group">
                  <label for="first_logo">Logo Alternativo</label>
                  <br />
                  <div v-if="config_Logo != '' && config_Logo != null">
                    <img
                      :src="config_Logo"
                      :alt="selectedSubscriber.name"
                      width="200px"
                    />
                    <b-button
                      :disabled="isDisabled"
                      type="submit"
                      class="btn btn-labeled btn-danger btn-sm"
                      @click.prevent="config_Logo = null"
                    >
                      <span class="btn-label">
                        <i class="fa fa-trash"></i>
                      </span>
                      Eliminar
                    </b-button>
                  </div>
                  <div v-else>
                    <b-form-file
                      placeholder
                      :disabled="isDisabled"
                      class="form-control"
                      accept="image/jpeg, image/png, image/gif"
                      @change="logo1Upload"
                    ></b-form-file>
                  </div>
                </div>
              </div>
              <!--linea 9-->
            </div>
          </tab-content>
          <tab-content
            title="Sede Principal (3/3)"
            icon="fa fa-fw fa-hospital-o"
          >
            <form data-vv-scope="sede-form">
              <div class="form-body">
                <!--Linea 1-->
                <div class="row">
                  <div
                    class="form-group col-md-3"
                    v-bind:class="
                      errors.has('sede-form.name') ? 'form-group-error' : ''
                    "
                  >
                    <label for="name">
                      Descripcion <span class="text-danger">*</span>
                    </label>
                    <input
                      type="text"
                      id="name"
                      name="name"
                      class="form-control"
                      v-validate="'required|max:255'"
                      data-vv-as="Descripción "
                      :disabled="branchOffice"
                      v-model="selectedSubscriber.branch_office.name"
                    />
                    <i class="text-danger icon-error"> </i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.name") }}
                    </span>
                  </div>
                  <div
                    class="form-group col-md-4"
                    v-bind:class="
                      errors.has('sede-form.address') ? 'form-group-error' : ''
                    "
                  >
                    <label for="address">
                      Direccion <span class="text-danger">*</span>
                    </label>
                    <input
                      type="text"
                      id="address"
                      name="address"
                      class="form-control"
                      :disabled="branchOffice"
                      v-validate="'required|max:100'"
                      data-vv-as="Dirección"
                      v-model="selectedSubscriber.branch_office.address"
                    />
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.address") }}
                    </span>
                  </div>
                  <div
                    class="form-group col-md-2 col-sm-3"
                    v-bind:class="
                      errors.has('sede-form.city_id') ? 'form-group-error' : ''
                    "
                  >
                    <label for="department">
                      Departamento <span class="text-danger">*</span>
                    </label>
                    <el-select
                      id="department_id"
                      name="department_id"
                      placeholder=" "
                      :disabled="branchOffice"
                      filterable
                      clearable
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      v-model="
                        selectedSubscriber.branch_office.city.department_id
                      "
                      @click.native="fetchDepartments"
                    >
                      <el-option
                        v-for="d in departments"
                        :key="d.value"
                        :value="d.value"
                        :label="d.label"
                      ></el-option>
                    </el-select>
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.city_id") }}
                    </span>
                  </div>
                  <div
                    class="form-group col-md-3 col-sm-3"
                    v-bind:class="
                      errors.has('sede-form.city_id') ? 'form-group-error' : ''
                    "
                  >
                    <label for="city_id">
                      Ciudad <span class="text-danger">*</span>
                    </label>
                    <el-select
                      id="city_id"
                      name="city_id"
                      placeholder=" "
                      filterable
                      :disabled="branchOffice"
                      clearable
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos que coincidan"
                      v-validate="'required'"
                      data-vv-as=" "
                      v-model="selectedSubscriber.branch_office.city_id"
                      @click.native="fetchCities()"
                    >
                      <el-option
                        v-for="c in cities"
                        :key="c.value"
                        :value="c.value"
                        :label="c.label"
                      ></el-option>
                    </el-select>
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.city_id") }}
                    </span>
                  </div>
                </div>
                <!--Linea 1-->
                <!--Linea 2-->
                <div class="row">
                  <div
                    class="col-md-3 form-group"
                    v-bind:class="
                      errors.has('sede-form.telephone')
                        ? 'form-group-error'
                        : ''
                    "
                  >
                    <label for="telephone">Telefono</label>
                    <input
                      type="text"
                      id="telephone"
                      name="telephone"
                      class="form-control"
                      :disabled="branchOffice"
                      v-validate="'max:50'"
                      data-vv-as=" "
                      v-model="selectedSubscriber.branch_office.telephone"
                    />
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.telephone") }}
                    </span>
                  </div>
                  <div
                    class="col-md-3 form-group"
                    v-bind:class="
                      errors.has('sede-form.fax') ? 'form-group-error' : ''
                    "
                  >
                    <label for="fax">Fax</label>
                    <input
                      type="text"
                      id="fax"
                      name="fax"
                      class="form-control"
                      :disabled="branchOffice"
                      v-validate="'max:50'"
                      data-vv-as=" "
                      v-model="selectedSubscriber.branch_office.fax"
                    />
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.fax") }}
                    </span>
                  </div>
                  <div
                    class="col-md-3 form-group"
                    v-bind:class="
                      errors.has('sede-form.latitude') ? 'form-group-error' : ''
                    "
                  >
                    <label for="latitude">Latitud</label>
                    <input
                      type="text"
                      id="latitude"
                      name="latitude"
                      class="form-control"
                      :disabled="branchOffice"
                      v-validate="'max:100'"
                      data-vv-as=" "
                      v-model="selectedSubscriber.branch_office.latitude"
                    />
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.latitude") }}
                    </span>
                  </div>
                  <div
                    class="col-md-3 form-group"
                    v-bind:class="
                      errors.has('sede-form.length') ? 'form-group-error' : ''
                    "
                  >
                    <label for="length">Longitud</label>
                    <input
                      type="text"
                      id="length"
                      name="length"
                      class="form-control"
                      :disabled="branchOffice"
                      v-validate="'max:100'"
                      data-vv-as=" "
                      v-model="selectedSubscriber.branch_office.length"
                    />
                    <i class="text-danger icon-error"></i>
                    <span class="text-danger span-error">
                      {{ errors.first("sede-form.length") }}
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </tab-content>
          <div slot="footer" slot-scope="props">
            <div class="wizzard-footer-left">
              <wizard-button
                @click.native="toIndex()"
                id="volver-wizard"
                :style="props.fillButtonStyle"
              >
                <i class="ti-arrow-left"></i>Ver Listado
              </wizard-button>
            </div>
            <div class="wizard-footer-right">
              <wizard-button
                v-if="!props.isLastStep && camposOblig"
                @click.native="props.nextTab()"
                class="wizard-footer-right"
                id="botones"
                :style="props.fillButtonStyle"
              >
                Siguiente <i class="ti-arrow-right"></i>
              </wizard-button>
              <wizard-button
                v-else-if="props.isLastStep && action != 'view'"
                class="wizard-footer-right"
                id="botones"
                @click.native="validateForm()"
                :style="props.fillButtonStyle"
              >
                <i class="ti-save-alt"></i>Guardar
              </wizard-button>
            </div>
          </div>
        </form-wizard>
      </div>
    </card>
  </div>
</template>

<script>
import Vue from "vue";

import { mapActions, mapState, mapMutations } from "vuex";
import loader from "./../../components/layout/loader.vue";

import VueFormWizard from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
Vue.use(VueFormWizard);

// componente calendario
import flatPickr from "vue-flatpickr-component";
import { Spanish } from "flatpickr/dist/l10n/es.js";
import "flatpickr/dist/flatpickr.css";
flatpickr.localize(Spanish);

import card from "../../components/pages/card/card.vue";

export default {
  name: "wizardFormSubscriber",
  components: {
    card,
    flatPickr,
    loader
  },
  data() {
    return {
      loader: true,
      filter_fields: "",
      calendario: {
        dateFormat: "Y-m-d"
      },
      config_Logo: null,
      subscriber_logo: null,
      options: [
        { value: 1, label: "Option1" },
        { value: 2, label: "Option2" },
        { value: 3, label: "Option3" },
        { value: 4, label: "Option4" },
        { value: 5, label: "Option5" }
      ],
      tabIndex: 0,
      path: "",
      updateDepartments: false
    };
  },
  async created() {
    await this.fetchVoucherTypes();

    if (this.$route.params.id) {
      await this.initUpdate("update", this.$route.params.id);
    } else if (this.$route.params.idv) {
      await this.initUpdate("view", this.$route.params.idv);
    } else {
      this.setGetSubscriberEdit(true);
      this.setAction("create");
      this.loader = false;
    }
    this.$store.watch(
      () => {
        return this.selectedSubscriber.branch_office.city.department_id;
      },
      p => {
        if (this.updateDepartments) {
          this.selectedSubscriber.branch_office.city_id = "";
        }
      }
    );
    await this.getTooltips(1);
    await this.getTooltips(2);
    await this.getTooltips(4);
    await this.getTooltips(3);
    await this.getTooltips(11);
  },
  methods: {
    async valida() {
      if (
        this.selectedSubscriber.identification_type == 1 ||
        (this.selectedSubscriber.check_digit != "" &&
          this.selectedSubscriber.check_digit != null)
      ) {
        this.calcularDv(this.selectedSubscriber.identification);
        this.verificarDv(this.selectedSubscriber.check_digit);
        return new Promise((resolve, reject) => {
          if (!this.check) {
            this.$alert(
              "Error en el digito de verificación ingresado",
              "Error",
              {
                confirmButtonText: "Aceptar",
                type: "error",
                customClass: "notification-error"
              }
            ).then(reject);
          } else if (this.check) {
            resolve(true);
          }
        });
      } else {
        return true;
      }
    },
    toIndex() {
      this.$router.push("/suscriptores");
    },
    isLastStep() {
      if (this.$refs.wizard) {
        return this.$refs.wizard.isLastStep;
      }
      return false;
    },
    logo1Upload(e) {
      let fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        this.config_Logo = e.target.result;
        this.logoConfiguration(this.config_Logo);
      };
    },
    loadLogo(e) {
      let fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        this.subscriber_logo = e.target.result;
        this.logoSubscriber(this.subscriber_logo);
      };
    },
    async initUpdate(action, id) {
      await this.getSubscriber(id);
      this.setAction(action);
      this.subscriber_logo =
        "http://localhost:8085" + this.selectedSubscriber.logo;
      this.config_Logo = this.selectedSubscriber.configuration.first_logo;

      await this.fetchLicenses();
      await this.fetchDocumentTypes();
      await this.fetchPersonClasses();
      await this.fetchTaxpayerTypes();
      await this.fetchTaxRegimens();
      await this.fetchCompanyTypes();
      await this.fetchDepartments();
      await this.fetchCities();
      this.updateDepartments = true;
      this.loader = false;
    },
    validateForm() {
      this.$validator.validateScopes().then(result => {
        if (result) {
          if (this.action == "create") {
            this.create();
          } else if (this.action == "update") {
            this.update();
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
          return false;
        }
      });
    },
    async create() {
      await this.addSubscriber();
      if (!this.error) {
        this.subscriber_logo = "";
        this.config_Logo = "";
      }
      this.$validator.reset();
    },
    async update() {
      await this.updateSubscriber();
    },

    listenCard(filter_fields) {
      this.filter_fields = filter_fields;
    },
    filterFields(text) {
      return text.toLowerCase().indexOf(this.filter_fields.toLowerCase()) >= 0;
    },

    validarNit() {
      this.calcularDv(this.selectedSubscriber.identification);
    },
    validarDv() {
      this.verificarDv(this.selectedSubscriber.check_digit);
      if (this.check === false) {
        this.$alert("Error en el digito de verificación ingresado", "Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "notification-error"
        }).then(verifica => {
          this.selectedSubscriber.check_digit = "";
        });
      }
    },
    ...mapActions("models", ["fetchVoucherTypes"]),
    ...mapActions("subscribers", [
      "addSubscriber",
      "updateSubscriber",
      "getSubscriber",
      "fetchDocumentTypes",
      "fetchLicenses",
      "fetchPersonClasses",
      "fetchTaxpayerTypes",
      "fetchTaxRegimens",
      "fetchCompanyTypes",
      "logoSubscriber",
      "logoConfiguration",
      "calcularDv",
      "verificarDv",
      "setAction",
      "fetchDepartments",
      "fetchCities",
      "getTooltips"
    ]),
    ...mapMutations("subscribers", [
      "resetSelectedSubscriber",
      "setAction",
      "setGetSubscriberEdit"
    ])
  },
  computed: {
    ...mapState("models", ["voucherTypes"]),
    ...mapState("subscribers", [
      "action",
      "selectedSubscriber",
      "error",
      "errorMessage",
      "check",
      "identificationTypes",
      "classPersons",
      "taxpayerTypes",
      "taxRegimens",
      "companyTypes",
      "departments",
      "cities",
      "licenses",
      "branch_office",
      "parameters"
    ]),
    camposOblig() {
      if (
        this.selectedSubscriber.license_id == "" ||
        this.selectedSubscriber.identification_type == "" ||
        this.selectedSubscriber.identification == "" ||
        this.selectedSubscriber.name == "" ||
        this.selectedSubscriber.logo == ""
      ) {
        false;
      } else {
        return true;
      }
    },
    isDisabled() {
      return this.action == "view";
    },
    labelPrinci() {
      switch (this.action) {
        case "create":
          return "Crear";
          break;
        case "update":
          return "Editar";
          break;
        case "view":
          return "Ver";
          break;
      }
    },
    branchOffice() {
      if (this.action == "update" || this.action == "view") {
        return true;
      }
    }
  }
};
</script>
<style src="../../assets/css/custom_css/vuewizard.css"></style>
<style>
.el-select {
  width: 100%;
}

.el-input__inner {
  height: 31.25px;
}

.el-select .el-input .el-select__caret {
  color: #a0a0a0;
}

.el-input__icon {
  line-height: 0px;
}
#subs_state {
  margin-top: 3px;
}
#last_date_close {
  background-color: #fff;
}
#last_date_close:disabled {
  background-color: #e9ecef;
}
#firm_date {
  background-color: #fff;
}
#firm_date:disabled {
  background-color: #e9ecef;
}
</style>
