<template>
  <div class='tabs-view-container'>

    <router-link
      class="float-left pestana"
      v-for="tab in Array.from(tabs)"
      :to="tab.path"
      :key="tab.path"
      :exact="tab.path == '/'"
    >
      <div class="esquina">
        <span class="estilo"> {{tab.meta.title}} &nbsp;
          <i
            v-if="tabs.length > 1"
            class="fa fa-close"
            @click.prevent="closeViewTab(tab)"
          ></i></span></div>
    </router-link>
  </div>
</template>

<script>

import { mapActions, mapState, mapMutations } from 'vuex'

export default {
  name: "index",
  async created () {
    let to = this.$router.currentRoute
    await this.addTab(to)
  },
  methods: {
    closeViewTab (tab) {
      this.removeVisitedView(tab)
      if (tab.path == this.$router.currentRoute.path) {
        this.$router.push(this.tabs[this.tabs.length - 1].path)
      }
    },
    async addTab (to, from) {
      this.$store.commit('left_menu', "close")
      await this.validateTitle(to)
      await this.addVisitedView(to)
      await this.removeVisitedViewUndefined()
      await this.removeInventoryMovimentRepeat(to)
    },
    async validateTitle (to) {
      if (this.isFunction(to.meta.function_execute)) {
        let key_parameter = to.meta.parameter
        let parameter = this.$route.params[key_parameter]
        if (parameter) {
          to.meta.title = await to.meta.function_execute(parameter)
        }
      }
    },
    isFunction (functionToCheck) {
      return functionToCheck && {}.toString.call(functionToCheck) === '[object Function]';
    },
    ...mapActions('tabsViews', ['addVisitedView', 'removeVisitedView']),
    ...mapMutations('tabsViews', ['removeVisitedViewUndefined', 'removeInventoryMovimentRepeat']),
  },
  computed: {
    ...mapState('tabsViews', ['tabs'])
  },
  watch: {
    '$route' (to, from) {
      this.addTab(to, from)
      this.removeVisitedViewUndefined()
      return true
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.tabs-view-container {
  display: inline-block;
  vertical-align: top;
  // margin-left: 30px;
  position: relative;

  .pestana > div {
    margin-left: 10px;
    margin-bottom: 5px;
    border-color: transparent transparent #d4dbe4 !important;
    color: #384951 !important;
  }

  .pestana > div:hover {
    border-color: transparent transparent #384951 !important;
    color: #e9ecef !important;
  }

  .router-link-exact-active > div {
    border-color: transparent transparent #384951 !important;
    color: #e9ecef !important;
  }
}

.estilo {
  position: relative !important;
  top: 5px;
  font-weight: bold !important;
  padding-right: 12px;
  font-size: 14px;
}

.esquina {
  height: 0px;
  border-left: 40px solid;
  border-right: 0px solid;
  border-top: 0px solid;
  border-bottom: 32px solid;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.4s;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */
 {
  opacity: 0;
  transform: translateY(20px);
}
</style>
