<template>
  <div class="report-content">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <b-card no-body class="mb-1" style="width: 98%">
        <b-btn
          block
          href="#"
          v-b-toggle.general_data
          id="acordeon"
          class="new-accordion accordion-title"
          @click="changeIcon"
          >Filtros Informe
          <span class="aling-left">
            <i v-bind:class="iconAcordion"></i>
          </span>
        </b-btn>
        <b-collapse v-bind:visible="true" id="general_data" role="tabpanel">
          <b-card-body class="banner-new">
            <div class="row">
              <div class="col-3">
                <label for="year_month_from">Año Mes desde</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-date-picker
                  v-model="params.year_month_from"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-3">
                <label for="year_month_up">Año Mes Hasta</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-date-picker
                  v-model="params.year_month_up"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-3">
                <label for="account_from">Cuenta desde</label
                >
                <el-button
                  id="accountFrom"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountFrom"
                ></el-button>
                <br />
                <b-badge
                  v-if="params.description_account_from != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_from)"
                ></b-badge>
                <el-button
                  v-if="params.view_delete_from"
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountFrom"
                ></el-button>
                <ModalAccount
                  @selectedAccount="_selectedAccountFrom"
                  :scrollable="true"
                  :modal_id="accountFrom"
                />
              </div>
              <div class="col-3">
                <label for="account_up">Cuenta Hasta</label>
                <el-button
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountUp"
                ></el-button>
                <b-badge
                  v-if="params.description_account_up != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_up)"
                ></b-badge>
                <br />
                <el-button
                  v-if="params.view_delete_up"
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountUp"
                ></el-button>

                <ModalAccount
                  @selectedAccount="_selectedAccountUp"
                  :scrollable="true"
                  :modal_id="accountUp"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-3 inline">
                <span for="filter_text">Palabra</span>&nbsp;
                <el-input
                  v-model="params.filter_text"
                  placeholder="Busqueda Palabra"
                  @keyup.native="validateForm"
                  style="text-transform: uppercase"
                  class="min-input"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12 mb-2" style="text-align: center">
                <b-button
                  v-b-toggle.general_data
                  type="submit"
                  class="mt-4"
                  variant="primary"
                >
                  <span class="btn-label">
                    <i class="ti-search min-height"></i>
                  </span>
                  Listar
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>
    <Preloader v-if="loading.module" />
    <ag-grid-vue
      style="width: 100%; height: 90%"
      :class="ag_grid.selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="auxiliary_book"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :ExcelExportParams="ExcelExportParams_"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :pinnedTopRowData="pinnedTopRowData"
      :frameworkComponents="frameworkComponents"
      :pinnedBottomRowData="pinnedBottomRowData"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
      @filterChanged="filterChanged"
      :masterDetail="true"
      :detailCellRendererParams="detailCellRendererParams"
    ></ag-grid-vue>
  </div>
</template>

<script>
import { AgGridVue } from "@ag-grid-community/vue";
// import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
// import totalRowComponent from "../../components/totalRowComponent.vue";
import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  data() {
    return {
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
      iconAcordion: "ti-angle-down",
      columnDefs: [],
      gridOptions: null,
      gridApi: null,
      statusBar: null,
      defaultColDef: null,
      rowGroupPanelShow: null,
      groupDefaultExpanded: null,
      autoGroupColumnDef: null,
      selectedTheme: "ag-theme-balham",
      ExcelExportParams_: [{ fileName: "test.xlsx" }],
      frameworkComponents: null,
      pinnedBottomRowData: null,
      pinnedTopRowData: null,
      getRowStyle: null,
      optionsThemes: [
        { value: "ag-theme-alpine", label: "Alpine" },
        { value: "ag-theme-dark", label: "Dark" },
        { value: "ag-theme-balham", label: "Balham" },
        { value: "ag-theme-balham-dark", label: "Balham dark" },
        // { value: "ag-theme-material", label: "Material" },
      ],
      themes: [
        { theme: "ag-theme-alpine", label: "Alpine" },
        { theme: "ag-theme-dark", label: "Dark" },
        { theme: "ag-theme-balham", label: "Balham" },
        { theme: "ag-theme-balham-dark", label: "Balham dark" },
        { theme: "ag-theme-material", label: "Material" },
      ],
      sideBar: {
        toolPanels: [
          {
            id: "columns",
            labelDefault: "Columnas",
            labelKey: "columns",
            iconKey: "columns",
            toolPanel: "agColumnsToolPanel",
          },
          {
            id: "filters",
            labelDefault: "Filtros",
            labelKey: "filters",
            iconKey: "filter",
            toolPanel: "agFiltersToolPanel",
          },
        ],
        //defaultToolPanel: "filters",
        hiddenByDefault: false,
      },
      gridColumnApi: null,
      columnTypes: null,
      modules: AllModules,
    };
  },
  components: {
    AgGridVue,
    Card,
    Preloader,
    ModalAccount,
  },
  created(){
    this.init();
  },
  async beforeMount() {
    this.gridOptions = {};

    this.autoGroupColumnDef = { minWidth: 450 };

    this.columnDefs = [
      {
        field: "contact.identification",
        headerName: "Codigo Tercero",
        cellClass: "yes-bold-soft",
        cellRenderer: 'agGroupCellRenderer',
      },
      {
        field: "contact.name",
        valueGetter: this.getContactName,
        headerName: "Nombre Tercero",
        cellClass: "yes-bold-soft",
        minWidth: 320
      },
      {
        field: "account.code",
        headerName: "Codigo Cuenta",
        cellClass: "yes-bold-soft",
      },
      {
        field: "account.name",
        headerName: "Nombre Cuenta",
        cellClass: "yes-bold-soft",
      },
      {
        field: "initial_balance_month",
        headerName: "Saldo Inicial",
        cellClass: "yes-bold-soft",
        valueFormatter: this.currencyFormatter,
        cellClass: (params) => {
          return this.validatInitialBalance(params)
        },
        filter: "agNumberColumnFilter",
      },
      {
        field: "debits_month",
        valueFormatter: this.currencyFormatter,
        headerName: "Debitos",
        filter: "agNumberColumnFilter",
        cellClass: "yes-bold aling-left-text"
      },
      {
        field: "credits_month",
        valueFormatter: this.currencyFormatter,
        headerName: "Creditos",
        filter: "agNumberColumnFilter",
        cellClass: "yes-bold aling-left-text"
      },
      {
        valueFormatter: this.currencyFormatter,
        field: "final_balance",
        filter: "agNumberColumnFilter",
        headerName: "Saldo Final",
        cellClass: (params) => {
          return this.validateFinalBalance(params)
        },
      },
    ];

    this.getRowStyle = (params) => {
      if (params.node.rowPinned) {
        return {
          color: "#3d3d3d",
          "font-size": "15px",
          "font-weight": "bold",
          background: "#c1c1c1",
          "border-top": "1px solid #fff",
        };
      }
    };

    this.defaultColDef = {
      minWidth: 120,
      enableValue: true,
      enableRowGroup: true,
      sortable: true,
      filter: true,
      floatingFilter: true,
      resizable: true,
    };

    this.statusBar = {
      statusPanels: [
        {
          statusPanel: "agTotalAndFilteredRowCountComponent",
          align: "left",
        },
        {
          statusPanel: "agTotalRowCountComponent",
          align: "center",
        },
        { statusPanel: "agFilteredRowCountComponent" },
        { statusPanel: "agSelectedRowCountComponent" },
        { statusPanel: "agAggregationComponent" },
      ],
    };

    this.groupDefaultExpanded = 0;
    this.rowGroupPanelShow = "always";

    // this.gridApi.openToolPanel("columns");

    this.pinnedBottomRowData = this.createData();

    this.frameworkComponents = {
      customPinnedRowRenderer: totalRowComponent,
    };
    this.detailCellRendererParams = {
      detailGridOptions: {
        columnDefs: [
          { field: 'document_date',headerName: 'Fecha'},
          { field: 'name_voucher_type', headerName: 'Tipo Comprobante'},
          {
            field: 'number_doc',
            headerName: 'Numero Documento',
          },
          {
            field: 'account',
            headerName: 'Cuenta',
          },
          {
            field: 'observation',
            headerName: 'Observacion',
          },
          {
            field: 'contact',
            headerName: 'Tercero',
          },
          {
            field: 'debits_month',
            headerName: 'Vlr. Debito',
            width:100
          },
          {
            field: 'credits_month',
            headerName: 'Vlr. Credito',
            width:100
          },
          
        ],
        defaultColDef: { flex: 1},
        detailRowHeight: 240,
      },
      getDetailRowData: async (params) => {
          //console.log(params.data);
          await this.getBalanceDocumentContactAccount_(params.data.contact.id,params.data.account_id)
          params.successCallback(this.document_balance_account_contact);
          console.log(this.document_balance_account_contact);
        },
    };

  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridColumnApi = this.gridOptions.columnApi;
    this.sortBySportThenCountry();
  },
  computed: {
    ...mapState("movementsAccountContact", [
      "auxiliary_book",
      "ag_grid",
      "loading",
      "params",
      "params_cotact",
      "contacts",
      "document_balance_account_contact"
    ]),
  },
  methods: {
    ...mapActions("movementsAccountContact", [
      "fetchAuxiliaryBookContact",
      "fetchContacts",
      "fetchMovementsAccountContact",
      "getBalanceDocumentContactAccount",
    ]),
    ...mapMutations('movementsAccountContact', ['setParams']),
    async getBalanceDocumentContactAccount_(contact_id,account_id){
      await this.getBalanceDocumentContactAccount({contact_id,account_id});
    },
    filterChanged(params) {
      let result = {
        initial_balance_month: 0,
        credits_month: 0,
        debits_month: 0,
        final_balance:0,
      };

      params.api.forEachNodeAfterFilter(i => {
        result.initial_balance_month += Number(i.data.initial_balance_month);
        result.credits_month += Number(i.data.credits_month);
        result.debits_month += Number(i.data.debits_month);
        result.final_balance += Number(i.data.final_balance);
      });

      this.pinnedBottomRowData = [result];
    },
    validatInitialBalance(params){
      if(params.data.account){
        if(params.data.account.debit_credit == 1 && params.data.initial_balance_month < 0){
          return 'yes-bold-soft aling-left-text bad-score';
        }
        if(params.data.account.debit_credit == 1 && params.data.initial_balance_month > 0){
          return 'yes-bold-soft aling-left-text good-score';
        }


        if(params.data.account.debit_credit == 2 && params.data.initial_balance_month > 0){
          return 'yes-bold-soft aling-left-text bad-score';
        }
        if(params.data.account.debit_credit == 2 && params.data.initial_balance_month > 0){
          return 'yes-bold-soft aling-left-text good-score';
        }
      }
      
      return 'yes-bold-soft aling-left-text good-score';
    },
    validateFinalBalance(params){
      if(params.data.account){
        if(params.data.account.debit_credit == 1 && params.data.final_balance < 0){
          return 'yes-bold-soft aling-left-text bad-score';
        }
        if(params.data.account.debit_credit == 1 && params.data.final_balance > 0){
          return 'yes-bold-soft aling-left-text good-score';
        }


        if(params.data.account.debit_credit == 2 && params.data.final_balance > 0){
          return 'yes-bold-soft aling-left-text bad-score';
        }
        if(params.data.account.debit_credit == 2 && params.data.final_balance > 0){
          return 'yes-bold-soft aling-left-text good-score';
        }
      }
      
      return 'yes-bold-soft aling-left-text good-score';
    },
    onBtExport() {
      var params = {
        fileName: "Libro-auxiliar-por-tercero.xlsx",
      };
      this.gridApi.exportDataAsExcel(params);
    },
    onBtCsv() {
      var params = {
        fileName: "Libro-auxiliar-por-tercero.csv",
      };
      this.gridApi.exportDataAsCsv(params);
    },
    createData() {
      console.log("Aqui");
      let result = [
        {
          initial_balance_month: 0,
          credits_month: 0,
          debits_month: 0,
          final_balance:0,
        },
      ];

       for (let element in result[0]) {
          result[0][element] = +this.auxiliary_book.reduce(
            (total, currentValue) => +total + (+currentValue[element] || 0), 0
          );
        }

      return result;
    },
    getContactName(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.contact) {
        return `${params.data.contact.name} ${
          params.data.contact.surname || ""
        } `;
      } else {
        return "";
      }
    },
    getDebitValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "D") {
        return `${params.data.operation_value}`;
      }
    },
    getCreditValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "C") {
        return `${params.data.operation_value}`;
      }
    },
    currencyFormatter(params) {
      if (params.value !== "undefined" && params.value !== undefined) {
        return this.formatNumber(params.value);
      }

      return "";
    },
    formatNumber(number) {
      return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
    },
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;

      // si la cuenta hasta es vacia se sugiere la cuenta desde
      this.params.account_up =
        this.params.account_up == null || this.params.account_up == ""
          ? account.code
          : this.params.account_up;
      this.params.description_account_up =
        this.params.description_account_up == null ||
        this.params.description_account_up == ""
          ? account.code + " - " + account.name
          : this.params.description_account_up;
      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },
    async fetchContact(filter) {
      this.params_cotact.query = filter;
      await this.fetchContacts();
    },
    async validateForm() {
      // if (
      //   (this.params.contact_warehouse_id == null &&
      //     this.params.contact_id == null) ||
      //   this.params.contact_warehouse_id == "" ||
      //   this.params.contact_id == ""
      // ) {
      //   this.$notify({
      //     title: "Atención",
      //     message: "Debe Selecconar Tercero o Sucursal",
      //     type: "warning",
      //   });
      //   return false;
      // }

      if (
        this.params.year_month_from == null ||
        this.params.year_month_up == null
      ) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      }
      this.loading.module = true;
      await this.fetchMovementsAccountContact();
      await localStorage.setItem(
        "params_auxiliary_book_contact",
        JSON.stringify(this.params)
      );
      this.pinnedBottomRowData = this.createData();
      //window.open('/#/reportes/libro-auxiliar-tercero','_blank');
    },
    async init() {
      await this.setDefaultYearMonth();
      this.loading.module = false;
      
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month_from = await this.formatDate(this.restarMes(d));
      this.params.year_month_up = this.params.year_month_from;
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
    changeIcon() {
      if (this.iconAcordion == "ti-angle-up") {
        this.iconAcordion = "ti-angle-down";
      } else {
        this.iconAcordion = "ti-angle-up";
      }
    },
    sortBySportThenCountry() {
      this.gridColumnApi.applyColumnState({
        state: [
          {
            colId: 'contact.name',
            sort: 'asc',
            sortIndex: 1,
          },
          {
            colId: 'account.code',
            sort: 'asc',
            sortIndex: 0,
          },
        ],
        defaultState: { sort: null },
      });
    },
  },
};
</script>
