<template>
    <div class="container text-center">
        <b-modal id="modal-xl" size="xl" centered hide-footer ref="modal-xl"
        :header-bg-variant="headerBgVariant" :header-text-variant="textColor">
            <template slot="modal-title">
                <i class="ti-search"></i> {{titulo}}
                <!-- <img src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/red/search_red.png" alt="Image not found"/> -->
            </template>
        <div class="row mt-4 mb-4">
            <b-col>
                <el-select
                    id="sede_id"
                    name="sede_id"
                    placeholder="Escoja la SEDE"
                    filterable
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-validate="'required'"
                    data-vv-as=" "
                    v-model="params.branch"
                >
                    <el-option  v-for="b in branchs.data"
                        :key="b.id"
                        :value="b.id"
                        :label="b.name"
                    >
                    </el-option>
                </el-select>
            </b-col>
        </div>
        <div class="row mt-4 mb-4">
            <b-col>
            <el-select
                id="sede_id"
                name="sede_id"
                placeholder="Escoja el tipo de documento"
                filterable
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-validate="'required'"
                data-vv-as=" "
                v-model="params.voucherType"
            >
                <el-option  v-for="v in vouchersType.data"
                    :key="v.id"
                    :value="v.id"
                    :label="v.name_voucher_type"
                    >
                </el-option>
                </el-select>
            </b-col>
        </div>
        <div class="row mt-4 mb-4">
            <b-col>
                <el-date-picker
                    v-model="params.date"
                    type="daterange"
                    range-separator="To"
                    start-placeholder="Start date"
                    end-placeholder="End date">
                </el-date-picker>
            </b-col>
            <b-col>
                <el-input placeholder="Seleccione el tercero en el modal" v-model="contactModal" :disabled="true"></el-input>
            </b-col>
        </div>
        <div class="row mt-4 mb-4">
            <b-col>
                <b-form-input
                    id="filter-text-box"
                    name="filter"
                    type="text"
                    autofocus
                    placeholder="Buscar..."
                    @change="onFilterTextBoxChanged"
                    @keyup.enter="onFilterTextBoxChanged">
                </b-form-input>
            </b-col>
            <b-col>
            <b-button v-b-modal.modal-multi-2 @click="loadContacts">Lista de terceros</b-button>
            </b-col>
        </div>
        <ag-grid-vue
            id="grilla"
            tabindex="0"
            style="width: 100%; height: 600px;"
            class="ag-theme-balham"
            :columnDefs="columnDefs"
            :rowData="documents.data"
            rowSelection="single"
            :pagination="true"
            @grid-ready="onGridReady"
            :navigateToNextCell="myNavigation"
            :overlayLoadingTemplate="overlayLoadingTemplate"
            :overlayNoRowsTemplate="overlayNoRowsTemplate"
            :animateRows="true"
        >
        </ag-grid-vue>
        </b-modal>
        <b-button v-b-modal.modal-xl>Lista de documentos</b-button>
        <b-modal ref="contact" id="modal-multi-2" centered size="xl" title="Second Modal" ok-only hide-footer
        :header-bg-variant="headerBgVariant" :header-text-variant="textColor">
            <b-row class="mt-4 mb-4">
                <b-col>
                    <el-select v-model="category.id" placeholder="Seleccione el grupo">
                        <el-option
                            v-for="item in optionsGroup"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <el-select
                    id="category_id"
                    name="category_id"
                    placeholder="Escoja la categoria"
                    filterable
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-validate="'required'"
                    data-vv-as=" "
                    v-model="valor"
                >
                    <el-option  v-for="c in categories.data"
                        :key="c.id"
                        :value="c.id"
                        :label="c.name_parameter"
                    >
                    </el-option>
                </el-select>
                </b-col>
            </b-row>
            <b-row class="mt-4 mb-4">
                <b-col>
                    <b-form-input
                        id="filter-text-contact"
                        name="filter"
                        type="text"
                        autofocus
                        placeholder="Buscar..."
                        @change="onFilterTextBoxChangedContact"
                        @keyup.enter="onFilterTextBoxChangedContact">
                    </b-form-input>
                </b-col>
            </b-row>
            <ag-grid-vue
            id="grillacontact"
            tabindex="0"
            style="width: 100%; height: 600px;"
            class="ag-theme-balham"
            :columnDefs="columnDefs2"
            :rowData="contactsModal.data"
            rowSelection="single"
            :pagination="true"
            @grid-ready="onGridReadyContact"
            @rowDoubleClicked="onRowDoubleClicked()"
            :navigateToNextCell="myNavigation"
            :overlayLoadingTemplate="overlayLoadingTemplate"
            :overlayNoRowsTemplate="overlayNoRowsTemplate"
            :animateRows="true"
            >
            </ag-grid-vue>
        </b-modal>
    </div>

</template>
<script>
    import Vue from 'vue'
    import { mapState,mapActions,mapMutations, mapGetters} from 'vuex'
    import {AgGridVue} from "ag-grid-vue";
export default {
    data(){
        return{
            columnDefs:null,
            rowGroupPanelShow:null,
            pivotPanelShow:null,
            overlayLoadingTemplate:null,
            overlayNoRowsTemplate:null,
            getRowHeight:null,
            titulo:'Buqueda de documentos',
            headerBgVariant:'primary',
            textColor:'light',
            columnDefs2:null,
            contactModal:null,
            codigo:null,
            optionsGroup:[{
                value: '5',
                label: 'Clientes'
                }, {
                value: '7',
                label: 'Proveedores'
                }, {
                value: '8',
                label: 'Empleados'
                }],
            valueGroup:null,
            valor:null
        }
    },

    components:{
        AgGridVue
    },
    computed:{
        ...mapGetters("documents",[
            'getParams',
            'getCategories'
        ]),
        ...mapState("documents",[
            "documents",
            "vouchersType",
            "categories",
            "params",
            "category"
        ]),
        ...mapState("prices",[
            "branchs",
        ]),
        ...mapState("contacts",[
            "contactsModal"
        ]),
    },
    beforeMount(){
        this.columnDefs=[
            {headerName:'Fecha',field:'document_last_state',sortable:true,filter:true,width:160,cellStyle: {'font-size':'11px'}},
            {headerName:'Tipo Doc',field:'voucherstype.name_voucher_type',sortable:true,filter:true,width:160,cellStyle:{'font-size':'11px'}},
            {headerName:'Num Doc',field:'consecutive',sortable:true,filter:true,width:100,cellStyle:{'font-size':'11px'}},
            {headerName:'Doc Ref',sortable:true,filter:true,width:100,cellStyle:{'font-size':'11px'},
            cellRenderer: function(params){
                return `01520`
            }},
            {headerName:'Valor',sortable:true,filter:true,width:100,cellStyle:{'font-size':'11px'},
            cellRenderer: function(params){
                return params.data.documents_products[0].total_value;
            }},
            {headerName:'Cod Tercero',field:'contact.identification',sortable:true,filter:true,width:150,cellStyle:{'font-size':'11px'}},
            {headerName:'Nombre Tercero',field:'contact.name',sortable:true,filter:true,width:200,cellStyle:{'font-size':'11px'}},
            {headerName:'Acciones',width:250,cellStyle:{'font-size':'11px'},cellRenderer: function(params){
                return `<div class='btn btn-primary btn-sm'>Selecc</div> <div class='btn btn-secondary btn-sm'>Imprimir</div> <div class="btn btn-info btn-sm">Enviar</div>`;
            }}
        ];
        this.columnDefs2=[
            {headerName:"Identificacion",sortable:true,filter:true,width:150,cellStyle:{'font-size':'11px'},cellRenderer(params){
                return params.data.identification+"-"+params.data.code_ciiu;
            }},
            {headerName:"Nombre",field:'name',sortable:true,filter:true,width:150,cellStyle:{'font-size':'11px'}},
            {headerName:"Telefono",field:'main_telephone',sortable:true,filter:true,width:150,cellStyle:{'font-size':'11px'}},
            {headerName:"Direccion",field:'address',sortable:true,filter:true,width:150,cellStyle:{'font-size':'11px'}},
            {headerName:'Acciones',width:250,cellStyle:{'font-size':'11px'},cellRenderer: function(params){
                return `<div class='btn btn-primary btn-sm'>Selecc</div>
                <a href='#/terceros/${params.data.id}/ver' class='btn btn-secondary btn-sm'>Ver</a>
                <a href='#/terceros/${params.data.id}/editar' class="btn btn-info btn-sm">Editar</a>`;
            }}
        ];
        this.rowGroupPanelShow = "always";
        this.pivotPanelShow = "always";
        this.overlayLoadingTemplate = `<div class="lds-dual-ring"></div>`;
        this.overlayNoRowsTemplate = "<span style=\"padding: 10px;color:#007db3; font-weight:bold\">Seleccione criterios de busqueda validos</span>";
        this.getRowHeight = params => {
            return 35;
        };
    },
    mounted(){
        this.getBranchs();
        this.getVouchersType();
        this.getDocuments();
        this.getCategory();
        this.$store.watch(() => {
			return this.getParams.voucherType
		}, p => {
            this.setFilterVouchersType(p);
            this.getDocuments()
        })
        this.$store.watch(() => {
			return this.getParams.branch
		}, p => {
            this.setFilterBranch(p);
            this.getDocuments()
		})
        this.$store.watch(()=>{
            return this.getParams.date
        }, p=>{
            this.setFilterDate(p);
            this.getDocuments()
        })
        this.$store.watch(()=>{
            return this.getCategories.id
        },p=>{
            this.setFilterCategory(p);
            this.getCategory();
        })
        var oneWeekAgo = new Date();
        oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
        this.params.date=[oneWeekAgo,oneWeekAgo];
    },
    methods:{
        onGridReady(params) {
            this.gridApi = params.api;
            this.columnApi = params.columnApi;

        },
        onGridReadyContact(params){
            this.gridApiContact=params.api;
            this.columnApi=params.columnApi
        },
        onFilterTextBoxChanged() {
            this.gridApi.setQuickFilter(document.getElementById("filter-text-box").value);
            this.gridApi.forEachNode((node) => {
                if (node.rowIndex === 0) {
                        node.setSelected(true);
                }
            })
                //  document.getElementById('grilla').focus();

                // scrolls to the first row
            this.gridApi.ensureIndexVisible(0);

                // scrolls to the first column
            var firstCol = this.columnApi.getAllDisplayedColumns()[0];
            this.gridApi.ensureColumnVisible(firstCol);

                // sets focus into the first grid cell
            this.gridApi.setFocusedCell(0, firstCol);
        },
        onFilterTextBoxChangedContact() {
            this.gridApiContact.setQuickFilter(document.getElementById("filter-text-contact").value);
            this.gridApiContact.forEachNode((node) => {
                if (node.rowIndex === 0) {
                        node.setSelected(true);
                }
            })
                //  document.getElementById('grilla').focus();

                // scrolls to the first row
            this.gridApiContact.ensureIndexVisible(0);

                // scrolls to the first column
            var firstCol = this.columnApi.getAllDisplayedColumns()[0];
            this.gridApiContact.ensureColumnVisible(firstCol);

                // sets focus into the first grid cell
            this.gridApiContact.setFocusedCell(0, firstCol);
        },
        onRowDoubleClicked(){
                this.codigo=0;
                this.$refs["contact"].hide();
                this.codigo=this.gridApiContact.getSelectedRows();
                this.codigo.forEach(element => {
                    this.contactModal=element.name;
                });
        },
        myNavigation: function(params){
                var previousCell = params.previousCellPosition;
                var suggestedNextCell = params.nextCellPosition;

                var KEY_UP = 38;
                var KEY_DOWN = 40;
                var KEY_LEFT = 37;
                var KEY_RIGHT = 39;
                var KEY_ENTER = 13;
                switch (params.key) {
                    case KEY_DOWN:
                        previousCell = params.previousCellPosition;
                        // set selected cell on current cell + 1
                        this.gridApi.forEachNode( (node) => {
                            if (previousCell.rowIndex + 1 === node.rowIndex) {
                                node.setSelected(true);
                            }
                        });
                        return suggestedNextCell;
                    case KEY_UP:
                        previousCell = params.previousCellPosition;
                        // set selected cell on current cell - 1
                        this.gridApi.forEachNode( (node) => {
                            if (previousCell.rowIndex - 1 === node.rowIndex) {
                                node.setSelected(true);
                            }
                        });
                        return suggestedNextCell;
                    case KEY_LEFT:
                    case KEY_RIGHT:
                        return suggestedNextCell;
                    default:
                        throw "this will never happen, navigation is always one of the 4 keys above";
                }
        },
        loadContacts(){
            this.getContactsModal();
        },
        ...mapMutations('documents', [
            'setDocuments',
            'setVouchersType',
            'setCategory',
            'setFilterCategory',
            'setFilterVouchersType',
            'setFilterBranch',
            "setFilterDate"
        ]),
        ...mapActions('documents', [
            'getDocuments',
            'getVouchersType',
            'getCategory'
        ]),
        ...mapMutations('prices', [
            'getBranchs'
        ]),
        ...mapActions('prices', [
            'getBranchs'
        ]),
        ...mapMutations("contacts",[
            "setContactsModal"
        ]),
        ...mapActions("contacts",[
            "getContactsModal"
        ])
    },
}
</script>
<style>
.modal-backdrop{
    background-color:lightgrey !important;
    opacity: .5 !important;
}
.btn-primary {
    background-color: #007db3 !important;
    border-color: #007db3 !important;
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 65%;
    }
}
#filter-text-box{
    text-transform: uppercase;
}
.load_img{
    width: 170px;
    height: 70px;
    position: relative;
    top: 50%;
    left:50%;
    background-position: center;
    /* margin: auto; */
}
@media (max-width: 1024px) and (min-width: 426px) {
    .load_img{
        left: 40%;
    }
}
@media (max-width: 425px) {
    .load_img{
        left: 0;
        margin: auto 130px;
    }
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #007db3;
  border-color: #007db3 transparent #007db3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>
