<template>
  <card title="<i class='ti-control-shuffle'></i> Inventarios">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4 col-sm-8 col-12">
            <b-form-group
              label="Buscar:"
              class="mb-0"
            >
              <b-input-group>
                <b-form-input
                  v-model="params.filter"
                  placeholder=""
                  @keyup.native.enter="setFilterPagination"
                  style="text-transform: uppercase;"
                />
                <b-input-group-append>
                  <b-btn
                    @click.prevent="filterPagination(params.filter)"
                    id="botones"
                  ><span class="ti-search"></span></b-btn>

                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </div>
          <div class="col-md-8 col-sm-4 col-12">
            <b-button
              to="/lineas/crear"
              id="boton-nuevo"
              class="button button-rounded button-primary-flat hvr-shrink float-right"
            >
              Nuevo
            </b-button>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div class="table-responsive">
          <b-table
            striped
            hover
            show-empty
            :items="inventories.data"
            :fields="fields"
            :no-local-sorting="true"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sort"
          >
            <!--Template para cargar las acciones-->
            <template
              slot="actions"
              slot-scope="row"
              class="text-center"
            >
              <b-button
                size="sm"
                variant="secondary"
                class="mt-1 button-table"
                :to="`/lineas/${row.item.id}/ver`"
              >
                Ver
              </b-button>
              <b-button
                size="sm"
                id="botones"
                class="mt-1 button-table"
                :to="`/lineas/${row.item.id}/editar`"
              >
                Editar
              </b-button>
              <b-button
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="questionDelete(row.item)"
              >
                Eliminar
              </b-button>
            </template>
          </b-table>
        </div>
        <p>
          Mostrando {{inventories.from}} a {{inventories.to}} de {{inventories.total}} resultados
        </p>
        <b-row>
          <b-col
            md="6"
            class="my-1 form-inline"
          >
            <label>Registros por página: &nbsp;</label>
            <b-form-select
              :options="[15, 30, 50,100]"
              v-model="params.perPage"
              @change.native="setPerPagePagination"
            />
          </b-col>
          <b-col
            md="6"
            class="my-1"
          >
            <b-pagination
              :total-rows="totalRows"
              :per-page="params.perPage"
              :current-page="params.page"
              v-model="params.page"
              class="my-0 float-right"
              @change="setPagePagination"
            />
          </b-col>
        </b-row>
      </div>
    </div>
  </card>
</template>
<script>
import Vue from 'vue'
import { mapActions, mapState, mapMutations, mapGetters } from 'vuex'
import Card from '../../components/pages/card/card'
import { MessageBox } from 'element-ui';
export default {
  components: {
    Card
  },
  data () {
    return {
      fields: [
        { key: 'inventory_cost', label: 'Costo inventario', sortable: true, thStyle: { width: '100px !important' } },
        { key: 'iva_operation', label: 'Operacion con IVA', sortable: true, thStyle: { 'min-width': '300px !important' } },
        { key: 'control_existence_outputs', label: 'Control Existencia en Salidas', sortable: true, thStyle: { width: '250px !important', 'min-width': '250px !important' } },
        { key: 'sales_price_control', label: 'Control de Precios de Venta', sortable: true, thStyle: { width: '250px !important', 'min-width': '250px !important' } },
        { key: 'control_price_list', label: 'Lista Precios control', sortable: true, thStyle: { width: '250px !important', 'min-width': '250px !important' } },
        { key: 'actions', label: 'Opciones', thStyle: { 'min-width': '280px !important', width: '280px !important' } }
      ],
      sortBy: 'name',
      sort: true
    }
  },
  created () {
    this.sortBy = this.params.sortBy;
    this.sort = this.params.sort == 'ASC' ? true : false;
    this.fetchInventories();
    this.$store.watch(() => {
      return this.getParams.sort;
    }, p => {
      this.fetchInventories();
    })

    this.$store.watch(() => {
      return this.getParams.sortBy;
    }, p => {
      this.fetchInventories();
    })
  },
  mounted () {

  },
  methods: {
    ...mapActions("inventories", [
      "fetchInventories",
      "setFilterPagination",
      "setPerPagePagination",
      "setPagePagination",
      "setSortByPagination",
      "setSortPagination"
    ]),
    ...mapMutations("inventories", [
      "setInventories",
      "setFilter",
      "setPerPage",
      "setPage",
      "setSortBy",
      "setSort"
    ]),
    filterPagination (filter) {
      this.setFilter(filter);
      this.fetchInventories();
    }
  },
  computed: {
    ...mapGetters("inventories", [
      "getParams"
    ]),
    ...mapState("inventories", [
      "inventories",
      "params"
    ]),
    totalRows () {
      return this.inventories.total
    }
  },
  watch: {
    'sortBy' (newValue, oldValue) {
      this.setSortByPagination(newValue)
    },
    'sort' (newValue, oldValue) {
      this.setSortPagination(newValue ? 'ASC' : 'DESC')
    }
  }
}
</script>
