<template>
  <div class="container-fluid">

    <!-- TABLA -->
    <div class="row">
      <div class="col-12">
        <grid-u2
          :columns="tableColumns"
          :items="data_sheets"
        >

          <!-- ATRIBUTO  -->
          <template
            slot="data_sheet_detail.visible_name"
            slot-scope="row"
          >
            <span v-if="(row.item.data_sheet_detail.id == null || row.item.data_sheet_detail.id == '') && tableCreateData">
              <div class="col-10">
                <el-select
                  filterable
                  clearable
                  no-data-text="Cargando datos..."
                  no-match-text="No hay datos"
                  v-model="row.item.data_sheet_id"
                  @change="verifiDataSheetTableParameter"
                >
                  <el-option
                    v-for="(item) in dataSheetsList"
                    :key="item.id"
                    :label="item.visible_name"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </div>
            </span>

            <span v-else>{{row.item.data_sheet_detail.visible_name}}</span>
          </template>

          <!-- VALOR  -->
          <template
            slot="value"
            slot-scope="row"
          >

            <span v-if="tableEditData">

              <span v-if="row.item.data_sheet_detail.paramtable_id == null">
                <b-form-input v-model="row.item.value"></b-form-input>
              </span>

              <span v-else>
                <div class="row">
                  <div class="col-10">
                    <el-select
                      filterable
                      clearable
                      no-data-text="Cargando datos..."
                      no-match-text="No hay datos"
                      v-model="row.item.value"
                    >
                      <el-option
                        v-for="(item) in row.item.data_sheet_detail.parameters"
                        :key="item.id"
                        :label="item.name_parameter"
                        :value="item.name_parameter"
                      >
                      </el-option>
                    </el-select>
                  </div>
                  <div class="col-2 text-left">
                    <b-link :to="`/tablas-parametros/${row.item.data_sheet_detail.paramtable_id}/editar`">Ver tabla?</b-link>
                  </div>
                </div>
              </span>

            </span>

            <span v-else>{{row.item.value}}</span>
          </template>


        </grid-u2>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import GridU2 from "../../u2/grid";

export default {
  name: 'DataSheet',
  components: {
    GridU2
  },
  data () {
    return {
      tableEditData: false,
      tableCreateData: false,
      productId: '',
      tableAction: 'none',
      tableColumns: [
        {
          name: "Atributo",
          field: "data_sheet_detail.visible_name",
          width: 130
        },
        {
          name: "Descripción",
          field: "value",
          width: 130
        },
      ],
      dataSheetModel: {
        data_sheet_product_id: '',
        product_id: '',
        value: {
          value: '',
          data_sheet_id: ''
        }
      }
    }
  },
  methods: {

    ...mapActions('products', [
      'productsDataSheets',
    ]),

    //---METODOS---//
    addDataSheet () {
      this.data_sheets.push({
        "value": "",
        "data_sheet_id": "",
        "data_sheet_product_id": "",
        "data_sheet_detail": {
          "id": "",
          "internal_name": ""
        }
      });
      this.tableCreateData = true;
    }
  },
  computed: {
    ...mapState("lines", ["dataSheetsList"]),
    ...mapState("dataSheet", ["dataSheets"]),
    ...mapState("parameters", ["parametersByTable"]),
    ...mapState('products', [
      'selectedProduct',
      'action',
      'data_sheets',
    ]),

    //--
    lineIdSelected: function () {
      return this.selectedProduct.line_id;
    }

  },
  watch: {
    lineIdSelected (newVal, oldVal) {
      if (newVal != '' &&
        newVal != null) {
        this.getDataSheetList(newVal);
      }
    }
  },
  mounted () {
      this.productsDataSheets(this.$route.params.id);
  },
}
</script>

<style>
</style>
