<template>
  <div class="section-container">
    <b-card no-body class="mb-1">
      <b-btn block href="#" v-b-toggle.linea_data id="acordeon">
        INFORMACIÓN GENERAL
      </b-btn>
      <b-collapse id="linea_data" visible role="tabpanel">
        <b-card-body>
          <div class="row">
            <!-- CÓDIGO -->
            <div :class="'form-group col-sm-12 col-md-3' + getClassForFormGroup('form.code')">
              <label for="code">
                Código <span class="text-danger" v-text="'*'"/>
              </label>
              <input type="text"
                     id="code"
                     name="code"
                     class="form-control"
                     v-validate="'required|max:50'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.code"
                     @blur="definirDescripcion(selectedProduct.code)"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.code')"/>
            </div>

            <!-- DESCRIPCIÓN  -->
            <div :class="'form-group col-sm-12 col-md-5' + getClassForFormGroup('form.description')">
              <label for="description">
                Descripción <span class="text-danger" v-text="'*'"/>
              </label>
              <input type="text"
                     id="description"
                     name="description"
                     class="form-control"
                     v-validate="'required|max:200'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.description"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.description')"/>
            </div>

            <!-- LÍNEA -->
            <div :class="'form-group col-sm-12 col-md-2' + getClassForFormGroup('form.line_id')">
              <label for="line_id">
                Línea <span class="text-danger" v-text="'*'"/>
              </label>
              <el-select id="line_id"
                         name="line_id"
                         filterable
                         clearable
                         @blur="definirDescripcion(selectedProduct.line_id)"
                         @clear="limpiarLinea()"
                         no-data-text="Cargando datos..."
                         no-match-text="No hay datos que coincidan"
                         v-validate="'required'"
                         data-vv-as=" "
                         v-model="selectedProduct.line_id"
                         @change="getSublineByLine"
                         :disabled="disabledInputs"
              >
                <el-option v-for="item in linesList"
                           :key="item.id"
                           :label="item.line_description"
                           :value="item.id"
                />
              </el-select>
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.line_id')"/>
            </div>

            <!-- SUBLINEA -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="subline_id" v-text="'Sublinea'"/>
              <el-select id="subline_id"
                         name="subline_id"
                         filterable
                         clearable
                         no-data-text="Cargando datos..."
                         no-match-text="No hay datos que coincidan"
                         v-model="selectedProduct.subline_id"
                         @change="getCategoriesBySubline"
                         :disabled="disabledInputs"
              >
                <el-option v-for="item in sublinesList"
                           :key="item.id"
                           :label="item.subline_description"
                           :value="item.id"
                />
              </el-select>
            </div>
          </div>

          <div class="row">
            <!-- CATEGORÍA -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="category_id" v-text="'Categoría'"/>
              <el-select id="category_id"
                         name="category_id"
                         filterable
                         clearable
                         no-data-text="Cargando datos..."
                         no-match-text="No hay datos que coincidan"
                         v-model="selectedProduct.category_id"
                         @change="getSubCategoriesByCategory"
                         :disabled="disabledInputs"
              >
                <el-option v-for="item in categoriesList"
                           :key="item.id"
                           :label="item.description"
                           :value="item.id"
                />
              </el-select>
            </div>

            <!-- SUBCATEGORÍA -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="subcategory_id" v-text="'SubCategoría'"/>
              <el-select id="subcategory_id"
                         name="subcategory_id"
                         filterable
                         clearable
                         no-data-text="Cargando datos..."
                         no-match-text="No hay datos que coincidan"
                         v-model="selectedProduct.subcategory_id"
                         :disabled="disabledInputs"
              >
                <el-option v-for="item in subCategoriesList"
                           :key="item.id"
                           :label="item.description"
                           :value="item.id"
                />
              </el-select>
            </div>

            <!-- MARCA -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="brand_id" v-text="'Marca'"/>
              <el-select id="brand_id"
                         name="brand_id"
                         filterable
                         clearable
                         no-data-text="Cargando datos..."
                         no-match-text="No hay datos que coincidan"
                         v-model="selectedProduct.brand_id"
                         @change="getSubBrandByBrand"
                         :disabled="disabledInputs"
              >
                <el-option v-for="item in brandsList"
                           :key="item.id"
                           :label="item.description"
                           :value="item.id"
                />
              </el-select>
            </div>

            <!-- SUBMARCA -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="subbrand_id" v-text="'SubMarca'"/>
              <el-select id="subbrand_id"
                         name="subbrand_id"
                         filterable
                         clearable
                         no-data-text="Cargando datos..."
                         no-match-text="No hay datos que coincidan"
                         v-model="selectedProduct.subbrand_id"
                         :disabled="disabledInputs"
              >
                <el-option v-for="item in subBrandsList"
                           :key="item.id"
                           :label="item.description"
                           :value="item.id"
                />
              </el-select>
            </div>

            <!-- MANEJA INVENTARIO -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="manage_inventory" class="w-100" v-text="'Maneja Inventario'"/>
              <b-form-radio-group id="manage_inventory"
                                  name="manage_inventory"
                                  buttons
                                  v-model="selectedProduct.manage_inventory"
                                  :disabled="disabledInputs"
                                  :options="options"
                                  :button-variant="getVariant('manage_inventory')"
              />
            </div>

            <!-- PROVEEDOR -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="provider" v-text="'Proveedor'"/>
              <el-select id="provider"
                         name="provider"
                         filterable
                         clearable
                         no-data-text="Cargando datos..."
                         no-match-text="No hay datos que coincidan"
                         v-model="selectedProduct.provider"
                         :disabled="disabledInputs"
                         :remote-method="fetchProviders"
                         remote
              >
                <el-option v-for="item in providers"
                           :key="item.id"
                           :label="item.description"
                           :value="item.id"
                />
              </el-select>
            </div>
          </div>

          <div class="row">
            <!-- PESO -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="weight" v-text="'Peso'"/>
              <input type="number"
                     id="weight"
                     name="weight"
                     class="form-control"
                     :disabled="disabledInputs"
                     v-model="selectedProduct.weight"
              />
            </div>

            <!-- EXCLUIR INFORME DE VENTAS -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="exclude_sales_report" class="w-100" v-text="'Excluir Informe ventas'"/>
              <b-form-radio-group id="exclude_sales_report"
                                  name="exclude_sales_report"
                                  buttons
                                  v-model="selectedProduct.exclude_sales_report"
                                  :disabled="disabledInputs"
                                  :options="options"
                                  :button-variant="getVariant('exclude_sales_report')"
              />
            </div>

            <!-- MODIFICA DESCRIPCIÓN -->
            <div class="form-group col-sm-12 col-md-2">
              <label for="modify_description_sale" class="w-100" v-text="'Modifica Descripción'"/>
              <b-form-radio-group id="modify_description_sale"
                                  name="modify_description_sale"
                                  buttons
                                  v-model="selectedProduct.modify_description_sale"
                                  :disabled="disabledInputs"
                                  :options="options"
                                  :button-variant="getVariant('modify_description_sale')"
              />
            </div>

            <!-- ACTIVO -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="state" class="w-100" v-text="'Activo'"/>
              <b-form-radio-group id="state"
                                  name="state"
                                  buttons
                                  v-model="selectedProduct.state"
                                  :disabled="disabledInputs"
                                  :options="options"
                                  :button-variant="getVariant('state')"
              />

              <!-- VER DISPONIBILIDAD -->
              <b-button variant="primary"
                        class="ml-4"
                        @click="openModalAvailable(selectedProduct.id)"
              >
                Ver Disponibilidad
              </b-button>
            </div>
          </div>

          <div class="row">
            <!-- CÓDIGO ALTERNO -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="alternate_code" v-text="'Código Alterno'"/>
              <input type="text"
                     id="alternate_code"
                     name="alternate_code"
                     class="form-control"
                     v-validate="'max:50'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.alternate_code"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.alternate_code')"/>
            </div>

            <!-- CÓDIGO ANTERIOR -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="old_product_code" v-text="'Código Anterior'"/>
              <input type="text"
                     id="old_product_code"
                     name="old_product_code"
                     class="form-control"
                     v-validate="'max:50'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.old_product_code"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.old_product_code')"/>
            </div>

            <!-- CERTIFICADO DE CONFORMIDAD -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="certificate_of_conformity" v-text="'Certificado de conformidad'"/>
              <input type="text"
                     id="certificate_of_conformity"
                     name="certificate_of_conformity"
                     class="form-control"
                     v-validate="'max:50'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.certificate_of_conformity"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.certificate_of_conformity')"/>
            </div>

            <!-- CLASIFICACIÓN DE ROTACIÓN -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="rotation_classification" v-text="'Clasificación de rotación'"/>
              <input type="text"
                     id="rotation_classification"
                     name="rotation_classification"
                     class="form-control"
                     v-validate="'max:50'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.rotation_classification"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.rotation_classification')"/>
            </div>
          </div>

          <div class="row">
            <!-- CÓDIGO DE PROVEEDOR -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="supplyer_code" v-text="'Código de proveedor'"/>
              <input type="text"
                     id="supplyer_code"
                     name="supplyer_code"
                     class="form-control"
                     v-validate="'max:50'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.supplyer_code"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.supplyer_code')"/>
            </div>

            <!-- CÓDIGO ANTERIOR SISTEMA -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="previous_code_system" v-text="'Código anterior sistema'"/>
              <input type="text"
                     id="previous_code_system"
                     name="previous_code_system"
                     class="form-control"
                     v-validate="'max:50'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.previous_code_system"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.previous_code_system')"/>
            </div>

            <!-- DESCRIPCIÓN CORTA -->
            <div class="form-group col-sm-12 col-md-3">
              <label for="short_description" v-text="'Descripción corta'"/>
              <input type="text"
                     id="short_description"
                     name="short_description"
                     class="form-control"
                     v-validate="'max:200'"
                     data-vv-as=" "
                     :disabled="disabledInputs"
                     v-model="selectedProduct.short_description"
                     @change="consultProduct()"
              />
              <i class="text-danger icon-error"/>
              <span class="text-danger span-error" v-text="errors.first('form.short_description')"/>
            </div>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

    <!-- modals -->
    <ModalDetailAvailableProductInBranchoffice v-if="modalAvailable.state"
                                               @closeModal="closeModalAvailable()"
                                               :isVisible="modalAvailable.state"
                                               :product_id="modalAvailable.product_id"
    />
  </div>
</template>

<script>
  import {mapGetters, mapState, mapActions, mapMutations} from "vuex";
  import ModalDetailAvailableProductInBranchoffice from "../../../b2b/layout/ModalDetailAvailableProductInBranchoffice";


  export default {
    name: "SectionGeneralInformation",
    components: {
      ModalDetailAvailableProductInBranchoffice
    },
    data() {
      return {
        descripcion: [],
        modalAvailable: {
          state: false,
          product_id: null,
        },
        options: [
          {text: 'SI', value: true},
          {text: 'NO', value: false}
        ]
      };
    },
    methods: {
      ...mapActions("lines", ["getLinesList"]),
      ...mapActions("sublines", ["getSublineByLineId"]),
      ...mapActions("categories", ["getCategoriesBySublineId"]),
      ...mapActions("subcategories", ["getSubCategoriesByCategorieId"]),
      ...mapActions("brands", ["getBrandList"]),
      ...mapActions("subbrands", ["getSubBrandByBrandId"]),
      ...mapActions("products", ["getProductForCode", "fetchProviders"]),
      ...mapMutations("products", ["resetSelectedProduct"]),
      // Definir descripción
      getClassForFormGroup(field) {
        return this.errors.has(field) ? ' form-group-error' : ''
      },
      getVariant(attribute) {
        return !this.selectedProduct[attribute] ? 'outline-secondary' : 'outline-primary'
      },
      definirDescripcion(text, linea) {
        this.descripcion.push({
          label: text,
          linea: linea
        });
      },
      //
      getSublineByLine() {
        this.selectedProduct.subline_id = "";
        this.selectedProduct.category_id = "";
        this.selectedProduct.subcategory_id = "";

        this.getSublineByLineId(this.selectedProduct.line_id);
      },
      getCategoriesBySubline() {
        this.selectedProduct.category_id = "";
        this.selectedProduct.subcategory_id = "";

        this.getCategoriesBySublineId(this.selectedProduct.subline_id);
      },
      getSubCategoriesByCategory() {
        this.selectedProduct.subcategory_id = "";

        this.getSubCategoriesByCategorieId(this.selectedProduct.category_id);
      },
      getSubBrandByBrand() {
        this.getSubBrandByBrandId(this.selectedProduct.brand_id);
      },
      /** Consulta si el codigo ingresado existe */
      async consultProduct() {
        if (this.action == "create") {
          await this.getProductForCode(this.selectedProduct.code);
          if (this.productEdit != null) {
            this.$confirm(
              "Ya existe un producto identificado con el código ingresado. ¿Quiere editarlo?",
              "Editar",
              {
                confirmButtonText: "Si",
                cancelButtonText: "No",
                type: "warning",
                customClass: "notification-warning"
              }
            )
              .then(result => {
                if (result) {
                  this.$router.push(`/productos/${this.productEdit}/editar`);
                  setTimeout(() => {
                    this.initUpdate("update", this.productEdit);
                  }, 500);
                }
              })
              .catch(() => {
                this.$router.push();
              });
          }
        }
      },
      openModalAvailable(product_id) {
        this.modalAvailable.product_id = product_id;
        this.modalAvailable.state = true;
      },
      closeModalAvailable() {
        this.modalAvailable.product_id = null;
        this.modalAvailable.state = false;
      },
    },
    computed: {
      ...mapState("products", ["selectedProduct", "action", "providers"]),
      ...mapGetters("lines", ["linesList"]),
      ...mapGetters("sublines", ["sublinesList"]),
      ...mapGetters("categories", ["categoriesList"]),
      ...mapGetters("subcategories", ["subCategoriesList"]),
      ...mapGetters("brands", ["brandsList"]),
      ...mapGetters("subbrands", ["subBrandsList"]),
      disabledInputs() {
        return this.action === "view";
      }
    },
    watch: {
      "selectedProduct.brand_id": function (newVal) {
        if (newVal !== "" && newVal != null) {
          this.getSubBrandByBrand();
        }
      },
      "selectedProduct.line_id": function (newVal) {
        if (newVal !== "" && newVal != null) {
          this.getSublineByLineId(newVal);
        }
      },
      "selectedProduct.subline_id": function (newVal) {
        if (newVal !== "" && newVal != null) {
          console.log(newVal);
          this.getCategoriesBySublineId(this.selectedProduct.subline_id);
        }
      }
    },

    //Ciclo de vida
    async mounted() {
      await this.getLinesList();
      await this.getBrandList();

      if (this.$route.params.id) {
        await this.getSublineByLineId(this.selectedProduct.line_id);
        await this.getCategoriesBySubline();
        await this.getSubCategoriesByCategory();
        await this.getSubBrandByBrand();
      }
    }
  };
</script>
