<template>
  <div class="table-container">
    <!-- FILTROS -->
    <div class="row">
      <div class="col-md-4">
        <b-form-group>
          <label for="search" v-text="'Buscar'"/>
          <b-input-group class="mb-3">
            <b-form-input id="search"
                          v-model="search"
                          @keyup.enter="findProduct"
            />
            <b-input-group-append>
              <b-button size="sm"
                        text="Button"
                        variant="primary"
                        class="ti-search"
                        @click="findProduct"
              />
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>

      <!-- LINEA -->
      <div class="form-group col-md-4">
        <label for="line_id" v-text="'Línea'"/>
        <el-select id="line_id"
                   v-model="ListProductsTable.options.filter_lines"
                   multiple
                   filterable
                   placeholder="Seleccione una Linea"
                   no-data-text="Cargando datos..."
                   no-match-text="No hay datos que coincidan"
                   @focus="fetchLines()"
                   @change="searchProduct"
        >
          <el-option v-for="line in lines"
                     :key="line.id"
                     :value="line.id"
                     :label="`${line.line_code} - ${line.line_description}`"
          />
        </el-select>
      </div>

      <!-- SUBLINEA -->
      <div class="form-group col-md-4">
        <label for="subline_id" v-text="'Sublínea'"/>
        <el-select id="subline_id"
                   v-model="ListProductsTable.options.filter_sublines"
                   multiple
                   filterable
                   placeholder="Seleccione una linea"
                   no-data-text="Cargando datos..."
                   no-match-text="No hay datos que coincidan"
                   @focus="fetchSublines()"
                   @change="searchProduct"
        >
          <el-option v-for="subline in sublines"
                     :key="subline.value"
                     :value="subline.value"
                     :label="subline.label"
          />
        </el-select>
      </div>

      <!-- MARCA -->
      <div class="form-group col-md-4">
        <label for="brand_id" v-text="'Marca'"/>
        <el-select id="brand_id"
                   v-model="ListProductsTable.options.filter_brands"
                   multiple
                   filterable
                   placeholder="Seleccione una marca"
                   no-data-text="Cargando datos..."
                   no-match-text="No hay datos que coincidan"
                   @focus="fetchBrands()"
                   @change="searchProduct"
        >
          <el-option v-for="brand in brands"
                     :key="brand.value"
                     :value="brand.value"
                     :label="brand.label"
          >
            <span style="float: left;">{{ brand.label }}</span>
            <span style="float: right;">
              <img :src="getApiDomain() + '/storage/brands/defaultcolsaisa.png'"
                   alt="Logo Marca"
                   style="width: 48px; height: 30px;"
              >
            </span>
          </el-option>
        </el-select>
      </div>

      <!-- SUBMARCA -->
      <div class="form-group col-md-4">
        <label for="subbrand_id" v-text="'Submarca'"/>
        <el-select id="subbrand_id"
                   v-model="ListProductsTable.options.filter_subbrands"
                   multiple
                   filterable
                   placeholder="Seleccione un grupo"
                   no-data-text="Cargando datos..."
                   no-match-text="No hay datos que coincidan"
                   @focus="fetchSubbrands()"
                   @change="searchProduct"
        >
          <el-option v-for="subbrand in subbrands"
                     :key="subbrand.value"
                     :value="subbrand.value"
                     :label="subbrand.label"
          />
        </el-select>
      </div>

      <div class="form-group col-sm-6 col-md-3">
        <!-- <label for="update_wsm">Pend Act WMS</label>
        <br/>
        <b-form-radio-group id="update_wsm"
                            buttons
                            :options="options"
                            name="update_wsm"
                            v-model="ListProductsTable.options.update_wsm"
                            :button-variant="getVariant('update_wsm')"
                            @change="findProduct"
        /> -->
        <br/>
        <el-checkbox name="update_wsm" v-model="ListProductsTable.options.update_wsm"  @change="findProduct">
              Pend Act WMS
         </el-checkbox>
      </div>
    </div>
    <!-- TABLAS -->
    <div class="row">
      <div class="col-12 table-responsive">
        <grid-u2 :columns="tableFields"
                 :items="tableData"
        >
          <!-- ACCIONES -->
          <template slot="actions"
                    slot-scope="row"
          >
            <div class="text-center">
              <b-button size="sm"
                        class="button-table mt-1"
                        variant="secondary"
                        :to="`/productos/${row.item.id}/ver`"
                        v-text="'Ver'"
              />
              <b-button size="sm"
                        id="botones"
                        class="mt-1 button-table"
                        :to="`/productos/${row.item.id}/editar`"
                        v-text="'Editar'"
              />
              <b-button size="sm"
                        variant="danger"
                        class="mt-1 button-table"
                        @click="questionDelete(row.item, row)"
                        v-text="'Eliminar'"
              />
            </div>
          </template>

          <template
            slot="update_wsm_tag"
            slot-scope="row"
          >

            <b-badge
                  v-if="row.item.update_wsm_tag == 'Pend Act WMS'"
                  variant="danger"
                  v-text="row.item.update_wsm_tag"
                ></b-badge>
                <b-badge
                  v-if="row.item.update_wsm_tag == 'Act WMS'"
                  variant="success"
                  v-text="row.item.update_wsm_tag"
                ></b-badge>
          </template>

          <!-- MENSAJE CUANDO NO HAY REGISTRO -->
        </grid-u2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- PAGINACION E INFORMACION DE LA TABLA -->
        <div class="table-information">
          <div class="row">
            <div class="col-12">
              <p>Mostrando {{ pagination.from }} a {{ pagination.to }} de {{ pagination.total }} resultados</p>
            </div>

            <div class="col-6 my-1 form-inline">
              <label>Registros por página: &nbsp;</label>
              <b-form-select v-model="perPage"
                             @change="searchProduct()"
                             :options="[5, 30, 100]"
              />
            </div>

            <div class="col-6">
              <b-pagination align="right"
                            v-model="page"
                            :total-rows="pagination.total"
                            :per-page="pagination.per_page"
                            aria-controls="my-table"
                            @change="searchProduct()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapState, mapActions, mapMutations} from 'vuex'
  import {getApiDomain} from '../../../util/domains';
  import GridU2 from "../../u2/grid";

  export default {
    name: 'TableProducts',
    components: {
      GridU2
    },
    data() {
      return {
        options: [
          {text: 'Si', value: 1},
          {text: 'No', value: 0},
        ]
      }
    },
    methods: {
      ...mapActions('products', [
        'getProductsTable',
        'deleteProduct',
        'fetchLines',
        'fetchSubbrands',
        'fetchBrands',
        'fetchSublines'
      ]),
      getVariant(attribute) {
        return !!this.ListProductsTable.options[attribute] ? 'outline-primary' : 'outline-secondary'
      },
      searchProduct() {
        this.getProductsTable();
      },
      findProduct() {
        this.searchProduct()
      },
      questionDelete(item, row) {
        this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          type: 'warning',
          customClass: 'notification-warning'
        }).then(
          (result) => {
            if (result) {
              this.deleteProduct(item.id)
                .then((result) => {
                  this.searchProduct()
                }).catch((err) => {

              });
            }
          }
        ).catch(function (result) {
        })
      }
    },
    computed: {
      ...mapGetters('products', ['ListProductsTable', 'lines']),
      ...mapState('products', [
        'lines',
        'sublines',
        'brands',
        'subbrands',
      ]),
      tableData() {
        return this.ListProductsTable.data
      },
      pagination() {
        return this.ListProductsTable.pagination
      },
      tableFields() {
        return this.ListProductsTable.fields
      },
      //
      currentPage: {
        get: function () {
          return this.ListProductsTable.options.currentPage
        },
        set: function (newValue) {
          this.ListProductsTable.options.currentPage = newValue
        }
      },
      search: {
        get: function () {
          return this.ListProductsTable.options.search
        },
        set: function (newValue) {
          this.ListProductsTable.options.search = newValue
        }
      },
      perPage: {
        get: function () {
          return this.ListProductsTable.options.perPage
        },
        set: function (newValue) {
          this.ListProductsTable.options.perPage = newValue
        }
      },
      page: {
        get: function () {
          return this.ListProductsTable.options.page
        },
        set: function (newValue) {
          this.ListProductsTable.options.page = newValue
        }
      },
    },
    watch: {
      currentPage() {
        this.searchProduct();
      }
    },
    //Ciclo de vida
    created() {
      this.searchProduct()
    }

  }
</script>

<style scoped>
  .table-filters {
    height: 50px;
  }
</style>
