<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-left"
           v-if="action !== 'view'"
      >
        <span v-if="!selectedProduct.line_id" class="text-muted">
          <i class="ti-eye"/> {{ showAll ? 'Ver todos los atributos' : 'Ver atributos con valores' }}
        </span>
        <a href="#"
           v-else
           class="mt-5"
           @click.prevent="showAll = !showAll"
        >
          <i class="ti-eye"/> {{ showAll ? 'Ver todos los atributos' : 'Ver atributos con valores' }}
        </a>
      </div>
    </div>

    <!-- table 2 -->
    <div class="row">
      <div class="col-12 mt-2">
        <b-table small
                 striped
                 hover
                 responsive
                 :items="data_sheets"
                 :fields="tableColumns"
                 thead-class="table-header"
                 :sort-by.sync="sortBy"
                 :tbody-tr-class="rowClass"
                 :empty-text="!selectedProduct.line_id ? 'Debe seleccionar una línea.' : 'La línea no tiene atributos asignados.'"
                 show-empty
        >
          <!-- Nombre del atributo -->
          <template v-slot:cell(data_sheet_detail.visible_name)="row">
            <div v-if="[null, ''].includes(row.item.data_sheet_detail.id) && tableCreateData"
                 class="row"
            >
              <div class="col-11 pr-1">
                <el-select filterable
                           clearable
                           no-data-text="Cargando datos..."
                           no-match-text="No hay datos"
                           v-model="row.item.data_sheet_id"
                           :disabled="action === 'create'"
                           @change="verifiDataSheetTableParameter($event, row.item)"
                >
                  <el-option v-for="(item) in listDataSheetSelect"
                             :key="item.id"
                             :label="item.visible_name"
                             :value="item.id"
                  />
                </el-select>
              </div>
              <div v-if="!!row.item.data_sheet_detail.required"
                   class="col-1 font-weight-bold text-danger text-left pl-0"
                   v-text="'*'"
              />
            </div>
            <div v-else v-text="row.item.data_sheet_detail.visible_name"/>
          </template>

          <!-- valor del atributo -->
          <template v-slot:cell(value)="row">
            <!-- EDITAR/CREAR -->
            <span v-if="tableEditData">

              <!--
                En caso de que el atributo no
                tenga asociado una tabla de parametro
                se muestra un inpu tipo "TEXT"
              -->
              <div v-if="row.item.data_sheet_detail.paramtable_id == null">
                <b-form-input v-if="row.item.data_sheet_detail.type_value !== '911'"
                              v-model="row.item.value"
                />
                <textarea v-else
                          v-model="row.item.value"
                />
              </div>

              <!--
                En caso de que el atributo tenga
                asociado una tabla de parametro
                se muestra una lista despegable
              -->
              <div v-else>
                <div class="row">

                  <!-- Lista despegable -->
                  <div class="col-10">
                    <el-select filterable
                               clearable
                               no-data-text="Cargando datos..."
                               no-match-text="No hay datos"
                               v-model="row.item.value"
                    >
                      <el-option v-for="(item) in row.item.data_sheet_detail.parameters"
                                 :key="item.id"
                                 :label="item.name_parameter"
                                 :value="item.name_parameter"
                      />
                    </el-select>
                  </div>

                  <!-- Link asociado a la tabla de parametros -->
                  <div class="col-2 text-left">
                    <b-link :to="`/tablas-parametros/${row.item.data_sheet_detail.paramtable_id}/editar`">
                      Ver tabla.
                    </b-link>
                  </div>
                </div>

              </div>

            </span>

            <!-- VER -->
            <span v-else>{{row.item.value}}</span>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState, mapActions, mapMutations, mapGetters} from 'vuex'
  import GridU2 from "../../u2/grid";
  import {async} from 'q';

  export default {
    name: 'TableDataSheet',
    props: ['product_id', 'action', 'line_id'],
    components: {
      GridU2
    },
    data() {
      return {
        showAll: false,
        sortBy: 'order',
        tableEditData: false,
        tableCreateData: false,
        productId: '',
        tableAction: 'none',
        tableColumns: [
          {
            label: "Atributo",
            key: "data_sheet_detail.visible_name",
            thStyle: {width: '200px'},
            sortable: true
          },
          {
            label: "Descripcion",
            key: "value",
            variant: 'success'
          }
        ],
        dataSheetModel: {
          data_sheet_product_id: '',
          product_id: '',
          value: {
            value: '',
            data_sheet_id: ''
          }
        }
      }
    },
    methods: {
      ...mapMutations("lines", ["clearDataSheetsList", "setDataSheetsList"]),
      ...mapMutations('parameters', ['clearParametersByTable']),
      ...mapMutations('products', ['clearDataSheets', 'setProductsDataSheets']),
      ...mapActions("lines", ["getDataSheetList", "getDataSheetLine"]),
      ...mapActions("dataSheet", ["fetch", "fetchDataSheets"]),
      ...mapActions('products', [
        'productsDataSheets',
        'getParameterByTable',
        "createProductsDataSheets",
        "deleteProductsDataSheets",
        "updateProductsDataSheets",
      ]),

      //---METODOS---//
      addDataSheet() {
        this.data_sheets.push({
          "value": "",
          "data_sheet_id": "",
          "data_sheet_product_id": "",
          "data_sheet_detail": {
            "id": "",
            "internal_name": "",
            "paramtable_id": null,
            "parameters": []
          }
        });
        this.tableEditData = true;
        this.tableCreateData = true;
      },
      async createdDataSheetProduct() {

        this.clearDataSheets();

        this.dataSheetsLine.map((ds, index) => {

          // Ajustamos la informacion
          var row = {
            value: '',
            data_sheet_id: ds.id,
            data_sheet_product_id: '',
            data_sheet_detail: {
              id: '',
              internal_name: ds.internal_name,
              paramtable_id: ds.paramtable_id,
              parameters: [],
              required: ds.required
            }
          };

          // Insertamos la fila al arreglo
          this.data_sheets.push(row)

          // Validamos la tabla de parametros
          this.verifiDataSheetTableParameter(ds.id, row)
        })
        this.tableEditData = true;
        this.tableCreateData = true;
      },
      questionDelete(row) {
        this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
          confirmButtonText: 'Aceptar',
          cancelButtonText: 'Cancelar',
          type: 'warning',
          customClass: 'notification-warning'
        }).then(
          (result) => {
            if (result) {
              // Eliminamos el registro
              this.deleteProductsDataSheets({
                product_id: this.selectedProduct.id,
                data_sheet_id: row.item.data_sheet_id
              })

              // Eliminamos el registro de la tabla
              this.data_sheets.map((ds, index) => {
                if (row.item.data_sheet_id == ds.data_sheet_id) {
                  this.data_sheets.splice(index, 1);
                }
              })
            }
          }
        ).catch(function (result) {
        })


      },
      verifiDataSheetTableParameter(id, item) {
        var data = this.dataSheetsList.find(x => x.id == id);
        this.clearParametersByTable();

        if (data.paramtable_id != '' &&
          data.paramtable_id != null) {
          this.getParameterByTable({
            paramtable_id: data.paramtable_id,
            row: item
          })
        }

      },
      fillMissingDataSheets() {
        var data = this.dataSheetsLine;
        data.map((d, index) => {
          var found = this.data_sheets.find(ds => ds.data_sheet_id == d.id);
          if (found === undefined) {
            var row = {
              value: '',
              data_sheet_id: d.id,
              data_sheet_product_id: '',
              order : d.order,
              data_sheet_detail: {
                id: '',
                internal_name: d.internal_name,
                visible_name: d.visible_name,
                paramtable_id: d.paramtable_id,
                parameters: []
              }
            }

            this.data_sheets.push(row);
            this.verifiDataSheetTableParameter(d.id, row)
          }
        })
      },
      orderValues(key, order = 'asc') {
        return function innerSort(a, b) {
          if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
            return 0;
          }

          const varA = (typeof a[key] === 'string')
            ? a[key].toUpperCase() : a[key];
          const varB = (typeof b[key] === 'string')
            ? b[key].toUpperCase() : b[key];

          let comparison = 0;
          if (varA > varB) {
            comparison = 1;
          } else if (varA < varB) {
            comparison = -1;
          }
          return (
            (order === 'desc') ? (comparison * -1) : comparison
          );
        };
      },
      rowClass(item, type) {
        if (this.showAll === false) return
        if (!item || type !== 'row') return
        if (item.value === '') return 'table-row-hide'
      },
      async initComponent() {

        if ((this.action == 'update' || this.action == 'view') && this.product_id !== undefined) {
          await this.productsDataSheets(this.product_id);
        }

        if ((this.action != 'view' && this.action != 'create') &&
          this.lineIdSelected != null &&
          this.lineIdSelected != '') {
          await this.getDataSheetList(this.lineIdSelected);
          await this.getDataSheetLine(this.lineIdSelected);
        }

        if (this.action == 'update') {
          this.tableEditData = true;
        }

        if (this.lineIdSelected != '' &&
          this.lineIdSelected != null) {
          await this.getDataSheetList(this.lineIdSelected);
        }

      },
      validateBeforeSave() {
        return !this.data_sheets.some(ds => !!ds.data_sheet_detail.required && [null, ''].includes(ds.value))
      },
    },
    computed: {
      ...mapState("lines", ["dataSheetsList", "dataSheetsLine"]),
      ...mapState("dataSheet", ["dataSheets"]),
      ...mapState("parameters", ["parametersByTable"]),
      ...mapState('products', [
        'selectedProduct',
        'data_sheets',
      ]),

      lineIdSelected: function () {
        return this.selectedProduct.line_id;
      },
      listDataSheetSelect() {
        if (this.action !== 'create') {
          var dataList = this.dataSheetsLine;
          dataList.map((val, key) => {
            this.data_sheets.map((valK, keyK) => {
              if (val.internal_name == valK.data_sheet_detail.internal_name) {
                dataList.splice(key, 1);
              }
            })
          })


        } else {
          var dataList = this.dataSheetsLine;
        }
        return dataList;
      }

    },
    watch: {
      async lineIdSelected(newVal, oldVal) {
        if (newVal) {
          await this.getDataSheetList(newVal);
          await this.getDataSheetLine(newVal)

          if (this.action === 'create') {
            this.createdDataSheetProduct();
          }

          if (this.action === 'update') {
            this.fillMissingDataSheets()
          }
        } else {
          this.clearDataSheets()
        }
      },
      product_id(newVal, oldVal) {
        this.initComponent()
      }
    },
    // Ciclo de vida
    created() {
      this.fetchDataSheets()
    },
    mounted() {
      this.initComponent()
    },
  }
</script>

<style>
  .table-header tr th {
    background: #007db3 !important;
    text-align: center;
    color: #fff;
  }

  .table-row-hide {
    display: none;
  }

  .table-data-sheets .table-grid td {
    background-color: #d5f3d3;
  }
</style>
