<template>
  <card :title="`<i class='ti-timer'></i> Aurora`">
    <div class="row">
      <img :src="route" alt="" class="m15" width="300px" />
      <!-- <div class="video">
        <video class="float-right" height="200px" autoplay muted loop>
          <source :src="route" type="video/mp4" />
          Your browser does not support video.
        </video>
      </div> -->
      <!-- <div class="pl-1 f">
        <div class="title_aurora">Aurora</div>
      </div> -->
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <grid-u2
          :columns="columns"
          @changeRow="changeRow"
          :items="items"
          class="text"
          :options="options"
        >
          <template slot="type" slot-scope="row">
            <el-select
              id="Tipo"
              name="Tipo"
              placeholder="Tipo"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="row.item.type"
              clearable
              @change="changeType(row.item)"
              size="small"
            >
              <el-option
                v-for="type in types"
                :key="type.id"
                :label="type.value"
                :value="type.id"
              >
              </el-option>
            </el-select>
          </template>

          <template slot="option" slot-scope="row">
            <el-select
              id="option"
              name="option"
              placeholder="Opción"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="row.item.option"
              clearable
              @change="changeRow(row.item)"
              size="small"
            >
              <el-option
                v-for="option in row.item.options_select"
                :key="option.id"
                :label="option.code_parameter + ' - ' + option.name_parameter"
                :value="option.id"
              >
              </el-option>
            </el-select>
          </template>

          <template slot="frequency" slot-scope="row">
            <el-select
              id="frequency"
              name="frequency"
              placeholder="Frecuencia"
              no-data-text="Cargando datos..."
              no-match-text="No hay datos que coincidan"
              v-model="row.item.frequency"
              clearable
              @change="changeRowfrequency(row.item)"
              size="small"
            >
              <el-option
                v-for="option in frequency"
                :key="option.id"
                :label="option.value"
                :value="option.id"
              >
              </el-option>
            </el-select>
          </template>

          <template slot="active" slot-scope="row">
            <b-form-radio-group
              @change="changeRow(row.item)"
              id="active"
              name="active"
              buttons
              :options="[
                { text: 'SI', value: 1 },
                { text: 'NO', value: 0 }
              ]"
              v-model="row.item.active"
              :button-variant="
                row.item.active == 0 ? 'outline-secondary' : 'outline-primary'
              "
            />
          </template>
          <!-- frecuencia mensual u columna dia del mes -->
          <template slot="hour" slot-scope="row">
            <div class="p-2" v-if="row.item.manage_hour">
              <el-time-picker
                v-model="row.item.hour"
                :picker-options="{
                  selectableRange: '00:00:00 - 23:59:59'
                }"
                placeholder=""
                size="small"
                class="w-100"
                value-format="HH:mm:ss"
                @change="changeRow(row.item)"
              >
              </el-time-picker>
            </div>
          </template>

          <template slot="email" slot-scope="row">
            <el-select
              v-model="row.item.email"
              multiple
              filterable
              allow-create
              @change="changeRow(row.item)"
              placeholder="Correo"
              size="small"
            >
              <el-option
                v-for="item in []"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
              </el-option>
            </el-select>
          </template>

          <template slot="delete" slot-scope="row">
            <el-button
              size="mini"
              type="danger"
              icon="el-icon-delete"
              @click="deleteProcess_(row.item.id)"
            ></el-button>
          </template>

          <template slot="days" slot-scope="row">
            <div v-if="row.item.manage_days">
              <el-select
                v-model="row.item.days"
                filterable
                @change="changeRow(row.item)"
                placeholder="Días"
                size="small"
              >
                <el-option
                  v-for="item in 30"
                  :key="item"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
          </template>
        </grid-u2>
      </div>
    </div>

    <div class="m15">
      <b-button class="mt-2 ml-0" variant="primary" @click="addProcess">
        <div class="fa fa-plus" />
        Agregar Proceso
      </b-button>
    </div>
    <!-- <vue-timepicker v-model="hour"></vue-timepicker> -->
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import GridU2 from "../../components/u2/grid";
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";
import {getApiDomain} from "../../util/domains";

export default {
  components: {
    Card,
    VueTimepicker,
    GridU2
  },
  data() {
    return {
      tittlee: "<i class='ti-angle-down'></i> Aurora",
      columns: [],
      options: {
        selectable: false,
        multiselect: true
      },
      show_days_column: false
    };
  },
  created() {
    this.init();
  },
  methods: {
    async init() {
      await this.getProcess();
      await this.validateColumns();
      await this.buildColumns();
    },
    ...mapActions("aurora", [
      "fetchOptions",
      "createProcess",
      "getProcess",
      "deleteProcess"
    ]),
    ...mapMutations("aurora", ["addProcess"]),
    async deleteProcess_(id) {
      await this.deleteProcess(id);
      this.getProcess();
    },
    async changeRow(row) {
      if (
        row.type &&
        row.option &&
        row.frequency &&
        row.hour &&
        row.email.length > 0
      ) {
        // row.Hour_input =
        //   row.Hour_input < 10
        //     ? "0" + row.Hour_input.toString()
        //     : row.Hour_input.toString();
        // row.minutes =
        //   row.minutes < 10
        //     ? "0" + row.minutes.toString()
        //     : row.minutes.toString();
        // row.hour = row.Hour_input.toString() + " : " + row.minutes.toString();
        let process = await this.createProcess(row);
        row.id = process.id;
      }
    },
    async changeRowfrequency(row) {
      if (row.frequency == 1 || row.frequency == 2) {
        row.Hour_input = "0";
        row.minutes = "0";
        row.manage_hour = false;
      } else {
        row.manage_hour = true;
      }

      if (row.frequency == 11) {
        row.manage_days = true;
        this.show_days_column = true;
      } else {
        row.manage_days = false;
        row.days = null;
      }
      await this.changeRow(row);
      await this.validateColumns();
      this.buildColumns();
    },
    async changeType(row) {
      row.option = null;
      row.options_select = await this.fetchOptions(row.type);
      this.changeRow(row);
    },
    validateColumns() {
      (this.show_days_column = false),
        this.items.map((el, index) => {
          console.log(el.manage_days);
          if (el.manage_days) {
            this.show_days_column = true;
          }
        });
    },
    buildColumns() {
      this.columns = [
        {
          name: "Tipo",
          field: "type",
          format: "text",
          style: { width: 300 }
        },
        {
          name: "Opción",
          field: "option",
          format: "text",
          style: { width: 300 }
        },
        {
          name: "Frecuencia",
          field: "frequency",
          format: "text",
          style: { width: 300 }
        },
        {
          name: "Dia",
          field: "days",
          format: "text",
          style: { width: 300 },
          visible: this.show_days_column
        },
        {
          name: "Hora",
          field: "hour",
          format: "text",
          style: { width: 300 }
        },
        {
          name: "Activo",
          field: "active",
          format: "text"
        },
        {
          name: "Correo",
          field: "email",
          format: "text",
          style: { width: 300 }
        },
        {
          name: "Eliminar",
          field: "delete"
        }
      ];
    }
  },

  computed: {
    ...mapState("aurora", ["items", "types", "frequency"]),
    route() {
      return getApiDomain() + "/storage/AURORA.jpg";
    }
  }
};
</script>

<style scoped>
.black {
  background-color: #001516 !important;
}
.color-white {
  color: blanchedalmond;
}
.title_aurora {
  color: #fffeff;
  font-size: 100px;
  padding-left: 30px;
}
.f {
  display: flex;
  align-items: center;
}
.video {
  padding-left: 30px;
}
.w {
  color: blanchedalmond;
}
.m15 {
  padding-left: 15px;
}
.color-black {
  color: black;
  text-align: center;
}
</style>
