<template>
  <card :title="'<i class=\'fa fa-reload\'> </i> Sugerido de Reposición'">
    <preloader v-show="preloader" mensaje="Generando reporte"></preloader>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-success" @click="reportGenerate()"><i class="fa fa-file-excel-o"> </i>  Generar reporte</button>
      </div>
    </div>
  </card>
</template>

<script>

  import {mapActions, mapState} from "vuex"
  import Card from '../../components/pages/card/card'
  import Preloader from '../../components/layout/preloader'

    export default {
        name: "index",
        components:{
          Card,
          Preloader
        },
        methods:{
          ...mapActions('replacementAssistantAdmin', ['reportGenerate'])
        },
        computed:{
          ...mapState('replacementAssistantAdmin', ['preloader'])
        }
    }
</script>

<style scoped>

</style>
