<template>
  <div class="table-container">

    <!-- FILTROS -->
    <div class="table-filters px-3">
      <div class="row">
        <div class="col-md-4">
          <b-form-group
            label="Buscar:"
            class="mb-1"
          >
            <b-input-group class="mb-3">
              <b-form-input
                v-model="search"
                @keyup.enter="searchParamTable"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  size="sm"
                  text="Button"
                  variant="primary"
                  class="ti-search"
                  @click="searchParamTable"
                ></b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </div>

      </div>
    </div>

    <!-- TABLAS -->
    <div class="table-responsive">
      <grid-u2
        :columns="tableFields"
        :items="tableData"
      >

        <!-- ACCIONES -->
        <template
          slot="actions"
          slot-scope="row"
        >
          <div class="text-center">
            <b-button
              size="sm"
              class="button-table mt-1"
              variant="secondary"
              :to="`/tablas-parametros/${row.item.id}/ver`"
            >
              Ver
            </b-button>
            <b-button
              size="sm"
              id="botones"
              class="mt-1 button-table"
              :to="`/tablas-parametros/${row.item.id}/editar`"
            >Editar</b-button>
            <b-button
              size="sm"
              variant="danger"
              class="mt-1 button-table"
              @click="questionDelete(row.item, row)"
            >Eliminar</b-button>
          </div>
        </template>

        <!-- MENSAJE CUANDO NO HAY REGISTRO -->
      </grid-u2>
    </div>

    <!-- PAGINACION E INFORMACION DE LA TABLA -->
    <div class="table-information">
      <div class="row">
        <div class="col-12">
          <p>Mostrando {{ pagination.from }} a {{ pagination.to }} de {{ pagination.total }} resultados</p>
        </div>

        <div class="col-6 my-1 form-inline">
          <label>Registros por página: &nbsp;</label>
          <b-form-select
            v-model="perPage"
            @change="searchParamTable()"
            :options="[5, 10, 30, 100]"
          />
        </div>

        <div class="col-6">
          <b-pagination
            align="right"
            v-model="currentPage"
            :total-rows="pagination.total"
            :per-page="pagination.per_page"
            aria-controls="my-table"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions, mapMutations } from 'vuex'
import GridU2 from "../../u2/grid";

export default {
  components: {
    GridU2
  },
  data () {
    return {

    }
  },
  methods: {
    ...mapActions('paramTables', ['fetchParamTables', 'removeParamTable']),
    searchParamTable () {
      this.fetchParamTables()
    },
    questionDelete (item, row) {
      this.$confirm('Esto eliminara de forma permanente la tabla y todos sus parametros. ¿Desea continuar?', 'Eliminar', {
        confirmButtonText: 'Aceptar',
        cancelButtonText: 'Cancelar',
        type: 'warning',
        customClass: 'notification-warning'
      }).then(
        (result) => {
          if (result) {
            this.removeParamTable(item)
          }
        }
      ).catch(function (result) {
      })
    },
  },
  computed: {
    ...mapState('paramTables', ['tableParamTable']),
    tableData () {
      return this.tableParamTable.data
    },
    pagination () {
      return this.tableParamTable.pagination
    },
    tableFields () {
      return this.tableParamTable.fields
    },
    //
    currentPage: {
      get: function () {
        return this.tableParamTable.options.currentPage
      },
      set: function (newValue) {
        this.tableParamTable.options.currentPage = newValue
      }
    },
    search: {
      get: function () {
        return this.tableParamTable.options.search
      },
      set: function (newValue) {
        this.tableParamTable.options.search = newValue
      }
    },
    perPage: {
      get: function () {
        return this.tableParamTable.options.perPage
      },
      set: function (newValue) {
        this.tableParamTable.options.perPage = newValue
      }
    },
  },
  watch: {
    currentPage () {
      this.searchParamTable();
    }
  },
  //Ciclo de vida
  created () {
    this.searchParamTable()
  }

}
</script>

<style scoped>
.table-filters {
  height: 50px;
}
</style>
