<template>
  <card :title="`<i class='ti-file'></i> Cuadre de Caja`">
    <div class="row p-3 mx-3">
      <div class="col-md-6">
        <!-- SEDE -->
        <div class="row mb-4">
          <div class="col-md-10">
            <label for="branchoffices">Sede</label>
            <el-select
              id="branchoffices"
              filterable
              clearable
              size="small"
              no-data-text="Cargando datos..."
              value
              v-model="paramsGeneratePdf.branchoffice_id"
              no-match-text="No hay datos que coincidan"
            >
              <el-option
                v-for="item in branchOffices.data"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </div>
        </div>

        <!-- FECHA DESDE -->
        <div class="row">
          <div class="form-group col-md-5">
            <label for="filter_date">Fecha Desde</label>
            <el-date-picker
              v-model="paramsGeneratePdf.dateFrom"
              type="date"
              placeholder=""
              value-format="yyyy-MM-dd"
              size="small"
              class="w-100"
            >
            </el-date-picker>
          </div>
          <div class="form-group col-md-5">
            <label for="filter_date">Hora Desde</label>
            <el-time-picker
              v-model="paramsGeneratePdf.timeFrom"
              :picker-options="{
                selectableRange: '00:00:00 - 23:59:59'
              }"
              placeholder=""
              size="small"
              class="w-100"
              value-format="HH:mm:ss"
            >
            </el-time-picker>
          </div>
        </div>

        <!-- FECHA HASTA -->
        <div class="row">
          <div class="form-group col-md-5">
            <label for="filter_date">Fecha Hasta</label>
            <el-date-picker
              v-model="paramsGeneratePdf.dateTo"
              type="date"
              placeholder=""
              value-format="yyyy-MM-dd"
              size="small"
              class="w-100"
            >
            </el-date-picker>
          </div>
          <div class="form-group col-md-5">
            <label for="filter_date">Hora Hasta</label>
            <el-time-picker
              v-model="paramsGeneratePdf.timeTo"
              :picker-options="{
                selectableRange: '00:00:00 - 23:59:59'
              }"
              placeholder=""
              size="small"
              class="w-100"
              value-format="HH:mm:ss"
            >
            </el-time-picker>
          </div>
        </div>
        <div class="row mt-3">
          <div class="form-group col-md-10">
            <b-form-textarea
              v-model="paramsGeneratePdf.note"
              debounce="500"
              rows="3"
              max-rows="5"
              class="w-100"
              placeholder="Nota PV"
            ></b-form-textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <b-button
              @click="generateSquareCashRegisterPdf()"
              block
              variant="primary"
              :disabled="loadingPdf"
            >
              <span v-if="!loadingPdf">
                Generar
              </span>
              <b-spinner v-else small variant="light" class="mb-1"></b-spinner>
            </b-button>
          </div>
          <div class="col-5">
            <b-button
              @click="_saveSquareCashRegister()"
              v-if="fileNamePdfCashRegisterSquare"
              block
              variant="success"
              :disabled="loadingPdf"
            >
              {{ itemHistoryTableSelected.id ? "Actualizar" : "Guardar" }}
            </b-button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-5">
            <label for="filter_date">Fecha Desde</label>
            <el-date-picker
              v-model="paramsHistoryTable.dateFrom"
              type="date"
              placeholder=""
              value-format="yyyy-MM-dd"
              size="small"
              class="w-100"
            >
            </el-date-picker>
          </div>
        </div>

        <!-- TABLA -->
        <div class="row mt-4">
          <div class="col-md-10">
            <div class="table-cash-register-square-scroll">
              <b-table
                responsive
                striped
                hover
                bordered
                :items="itemsHistoryTable"
                :fields="fieldsHistoryTable"
                class="table-cash-register-square"
                small
              >
                <template #cell(actions)="row">
                  <b-button
                    variant="success"
                    size="sm"
                    @click.prevent="_setViewSquareCashRegister(row.item)"
                    :disabled="loadingPdf"
                    >Ver</b-button
                  >
                  <b-button
                    variant="danger"
                    size="sm"
                    @click.prevent="
                      deleteHistorySquareCashRegister(row.item.id)
                    "
                    >Eliminar</b-button
                  >
                </template>
              </b-table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- modals-->
    <!-- <b-modal
      class="modal-backdrop"
      hide-footer
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      id="pdf"
      centered
      size="xl"
      ref="pdf"
      v-model="showPdfCashRegisterSquare"
    >
      <template v-slot:modal-header="{ close }">
        <h4 class="mt-1 mb-0 font-weight-bold align-middle">
          Cuadre de caja
        </h4>
        <b-button
          size="sm"
          variant="secondary"
          @click="setShowPdfCashRegisterSquare(false)"
          class="float-right"
        >
          Cerrar
          <i class="fa fa-close"></i>
        </b-button>
      </template>
      <div class="container-u2"> -->
        <!-- EMAIL -->
        <!-- <el-collapse v-model="activeCollapse">
          <el-collapse-item name="mail">
            <template slot="title">
              <div class="pl-3">
                <h5 class="font-weight-bold mb-0">
                  <i class="fa fa-envelope"></i> &nbsp; ENVIAR POR CORREO
                </h5>
              </div>
            </template> -->
            <!-- ENVIO DE CORREO -->
            <!-- <b-form
              data-vv-scope="form-mail"
              @submit.prevent="validateFormEmail()"
            >
              <div class="row"> -->
                <!-- DESTINO -->
                <!-- <div class="col-md-6 col-12">
                  <label for="to" class="mb-0">Destino</label>
                  <el-select
                    id="to"
                    name="to"
                    size="small"
                    filterable
                    multiple
                    data-vv-as=" "
                    placeholder="Seleccione destino"
                    no-data-text="Cargando datos..."
                    no-match-text="No hay datos que coincidan"
                    v-validate="'required'"
                    v-model="to"
                    allow-create
                    remote
                    :remote-method="_to"
                    :disabled="sendingMail"
                    @change="validateEmails"
                  >
                    <el-option
                      v-for="mail in mails"
                      :key="mail.email"
                      :label="mail.email"
                      :value="mail.email"
                    ></el-option>
                  </el-select>
                  <span class="text-danger span-error">{{
                    errors.first("form-mail.to")
                  }}</span>
                </div> -->
                <!-- ASUNTO -->
                <!-- <div class="col-md-6 col-12">
                  <label for="asunto" class="mb-0">Asunto</label>
                  <b-form-input
                    type="text"
                    id="subject"
                    name="subject"
                    class="form-control"
                    v-validate="'required'"
                    data-vv-as=" "
                    v-model="subject"
                    :disabled="sendingMail"
                  ></b-form-input>
                  <span class="text-danger span-error">{{
                    errors.first("form-mail.subject")
                  }}</span>
                </div>

                <div class="col-12">
                  <label class="mb-0">Mensaje</label>
                  <textarea
                    rows="2"
                    v-model="body"
                    class="form-control"
                    :disabled="sendingMail"
                  ></textarea>
                </div>
              </div>
              <div class="row"> -->
                <!-- BOTONES -->
                <!-- <div class="col-12 mt-2">
                  <b-button
                    v-if="!sendingMail"
                    type="submit"
                    size="sm"
                    variant="primary"
                    class="pull-right ml-2"
                  >
                    <i class="fa fa-paper-plane"></i> &nbsp; ENVIAR CORREO
                  </b-button>
                  <b-button
                    v-else
                    type="submit"
                    size="sm"
                    variant="primary"
                    class="pull-right ml-2"
                    disabled
                  >
                    <i class="fa fa fa-spinner fa-spin"></i>
                    ENVIANDO CORREO
                  </b-button>
                  <el-checkbox
                    class="pull-right check-update-email"
                    v-model="updateEmailContact"
                    :disabled="to.length > 1 || sendingMail"
                    >Actualizar correo Cliente / Proveedor</el-checkbox
                  >
                </div>
              </div>
            </b-form>
          </el-collapse-item>
        </el-collapse> -->

        <!-- PDF -->
        <!-- <div class="row" style="flex-grow : 1;">
          <div class="col-12">
            <iframe
              v-if="showPdfCashRegisterSquare"
              style="min-height: 100%; width: 100%"
              :src="fileNamePdfCashRegisterSquare + '#zoom=130'"
            ></iframe>
          </div>
        </div>
      </div>
    </b-modal> -->
    <ModalPdf 
    @setShowFalse="setShowFalse_()"
    :show="showPdfCashRegisterSquare"
    :mail_="true"
    :type="'pdf'"
    :name="'titulo'"
    :url="fileNamePdfCashRegisterSquare"/>

  </card>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import Card from "../../components/pages/card/card";
import ModalPdf from "../../components/u2/ModalPdf"

export default {
  components: {
    Card,
    ModalPdf
  },
  data() {
    return {
      activeCollapse: "other",
      sendingMail: false,
      to: [],
      subject: null,
      body: null,
      updateEmailContact: false
    };
  },
  methods: {
    setShowFalse_(param){
      this.setShowPdfCashRegisterSquare(param)
    },
    ...mapActions("branchOffices", ["fetchBranchOffices"]),
    ...mapActions("cashRegisterSquare", [
      "generateSquareCashRegisterPdf",
      "saveSquareCashRegister",
      "getHistorySquareCashRegister",
      "deleteHistorySquareCashRegister",
      "updateSquareCashRegister"
    ]),
    ...mapMutations("cashRegisterSquare", [
      "setShowPdfCashRegisterSquare",
      "setViewSquareCashRegister",
      "setInitialValuesDates",
      "setItemHistoryTableSelected",
      "resetParamsGeneratePdf"
    ]),
    ...mapActions("inventoryMovements", ["searchmails", "sendmail"]),
    async initComponent() {
      await this.fetchBranchOffices();
      await this.setInitialValuesDates();
      await this.getHistorySquareCashRegister();
    },

    async _setViewSquareCashRegister(item) {
      await this.setItemHistoryTableSelected(JSON.parse(JSON.stringify(item)));
      await this.setViewSquareCashRegister(JSON.parse(JSON.stringify(item)));
      await this.generateSquareCashRegisterPdf();
    },
    async _saveSquareCashRegister() {
      if (this.itemHistoryTableSelected.id) {
        await this.updateSquareCashRegister(this.itemHistoryTableSelected.id);
        await this.setItemHistoryTableSelected({});
        await this.resetParamsGeneratePdf();
      } else {
        await this.setItemHistoryTableSelected({});
        await this.saveSquareCashRegister();
        await this.resetParamsGeneratePdf();
      }
    },
    async validateFormEmail() {
      await this.$validator.validateAll("form-mail").then(async result => {
        this.sendingMail = true;
        if (result) {
          this.param = {
            to: this.to,
            subject: this.subject,
            filename: this.fileNamePdfCashRegisterSquareEmail,
            body: this.body
          };
          if (this.updateEmailContact && this.to.length == 1) {
            await this._updatemail();
          }
          await this.sendmail(this.param).then(response => {
            this.to = [];
            this.subject = "";
            this.body = "";
            this.activeCollapse = "other";
            this.updateEmailContact = false;
          });
        }
        this.sendingMail = false;
      });
    },
    _to(filter) {
      if (filter.length >= 3) {
        this.searchmails(filter);
      }
    },
    validateEmails(emails) {
      this.to = this.to.filter(e => {
        return this.validateEmail(e);
      });
    },
    validateEmail(email) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
      }
      return false;
    }
  },
  computed: {
    ...mapState("branchOffices", ["branchOffices"]),
    ...mapState("cashRegisterSquare", [
      "itemsHistoryTable",
      "fieldsHistoryTable",
      "paramsGeneratePdf",
      "paramsHistoryTable",
      "showPdfCashRegisterSquare",
      "fileNamePdfCashRegisterSquare",
      "fileNamePdfCashRegisterSquareEmail",
      "itemHistoryTableSelected",
      "loadingPdf"
    ]),
    ...mapState("inventoryMovements", ["mails"])
  },
  created() {
    this.initComponent();
  }
};
</script>

<style>
.table-cash-register-square .b-table > thead {
  background-color: #6699cc;
  color: white;
}

.table-cash-register-square-scroll {
  height: 300px;
  /* height: 214px; */
  overflow: auto;
}
</style>
