<template>
  <header class="header">
    <div class="linea-sup">
      <div class="links_list">
        <p class="links_list-label">
          <img src="../../assets/img/b2b/ico1.png" alt />&nbsp;Dirección
          <a
            class="links_list-value"
            href="https://goo.gl/maps/jDXKK3rnu372"
            target="_blank"
            rel="nofollow"
          >Cra 124 N 17 - 80, Bogotá D.C</a>
          <img src="../../assets/img/b2b/ico2.png" alt />&nbsp;&nbsp; Correo
          <a
            class="links_list-value"
            href="mailto:info@email.com"
          >servicioalcliente1@colsaisa.com</a>
          <img src="../../assets/img/b2b/ico3.png" alt />&nbsp;&nbsp; Teléfono
          <a class="links_list-value" href="tel:031742 2588">+57(1) 742 2588</a>
          <!-- <img src="../../assets/img/b2b/ico3.png" alt="">&nbsp;&nbsp; Celular
          <a class="links_list-value" href="https://api.whatsapp.com/send?phone=+57318 347 6121">318 347 6121</a>-->
        </p>
      </div>
      <div class="float-right">
        <router-link
          v-if="user_logued.type == 'c'"
          to="/login"
          @click.native.prevent="logAuth"
          class="links_list-value"
        >
          <i class="icon-logout icons"></i> Cerrar Sesión
        </router-link>
      </div>
    </div>
    <!-- NAV -->
    <div class="row row-without-margin">
      <div class="col-xl-2 col-lg-2 col-sm-9 col-9">
        <a class="u2-navbar-brand" href="/b2b/inicio">
          <img class="u2-b2b-imagen" :src="logoSubscriber" />
        </a>
      </div>
      <div class="col-3 d-lg-none d-flex justify-content-center">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          @click.stop="changeStatusNavBar(!navBarShow)"
        >
          <span class="fa fa-bars fa-2x"></span>
        </button>
      </div>
      <div class="col-xl-7 col-lg-7 col-sm-12 col-12">
        <nav
          class="u2-navbar u2-navbar-expand-lg u2-navbar-light"
          :class=" { 'navbarOpen': navBarShow }"
        >
          <div class="u2-collapse u2-navbar-collapse mt-4" :class="{ 'show': navBarShow }">
            <ul class="u2-navbar-nav w-100 justify-content-center">
              <li class="u2-nav-item" @click="changeStatusNavBar(false)">
                <router-link class="u2-nav-link" to="/b2b/inicio">Inicio</router-link>
              </li>
              <li class="u2-nav-item" @click="changeStatusNavBar(false)">
                <router-link class="u2-nav-link" to="/b2b/catalogo">Catálogo</router-link>
              </li>
              <li class="u2-nav-item" @click="changeStatusNavBar(false)">
                <router-link class="u2-nav-link" to="/b2b/cartera">Cartera</router-link>
              </li>
              <li class="u2-nav-item" @click="changeStatusNavBar(false)">
                <router-link class="u2-nav-link" to="/b2b/tracking-pedidos">Tracking Pedidos</router-link>
              </li>
              <li class="u2-nav-item">
                <a href="#" class="u2-nav-link" @click="promos()">Solicitudes servicio</a>
              </li>
              <li class="u2-nav-item" v-if="user_logued.type == 'c' && (screenWidth <= 768)">
                <router-link class="u2-nav-link" to="/login" @click.prevent="logAuth" exact>
                  <i class="icon-logout icons"></i> Cerrar Sesión
                </router-link>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="col-xl-3 col-lg-3 col-sm-12 col-12">
        <div class="table-nav-info">
          <table class="b2b-table table flecha table-sm table-borderless table-condensed">
            <tbody>
              <tr>
                <td colspan="2">{{ user_b2b.contact.identification }} - {{user_b2b.description}}</td>
              </tr>
              <tr>
                <td>Cupo Crédito</td>
                <td>{{user_b2b.contact.customer.credit_quota | currency}}</td>
              </tr>
              <tr></tr>
              <tr>
                <td>Total Cartera</td>
                <td>{{totalReceivables|currency}}</td>
              </tr>
              <tr>
                <td>Disponible</td>
                <td
                  :class="user_b2b.contact.customer.credit_quota - totalReceivables < 0 ? 'bg-danger text-white': ''"
                >{{user_b2b.contact.customer.credit_quota - totalReceivables | currency}}</td>
              </tr>
              <tr>
                <td>Este Pedido</td>
                <td>{{total |currency}}</td>
              </tr>
              <tr v-if="vencida" class="cartera">
                <td style="border-radius:5px; text-align: center">
                  <router-link style="color:#ffffff" to="/b2b/cartera">Tiene Cartera Vencida</router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--<div class="col-xl-3 col-lg-3 col-sm-12 col-12">
        <div class="table-nav-info">
          <table class="b2b-table">
            <tbody>
            <tr>
              <td class="flecha">
                Cupo Crédito &nbsp;&nbsp;&nbsp; {{user_b2b.contact.customer.credit_quota | currency}} <br>
                Total Cartera &nbsp;{{totalReceivables|currency}} <br>
              </td>
              <td style="width:170px">
                Este Pedido &nbsp;{{total |currency}}
              </td>
            </tr>
            <tr>
              <td>
                {{user_b2b.description}}
              </td>
              <td
                v-if="cartera > user_b2b.contact.customer.credit_quota"
                style="background-color:#c00000"
              >
                Disponible {{user_b2b.contact.customer.credit_quota - cartera | currency}}
              </td>
              <td v-else>
                Disponible {{user_b2b.contact.customer.credit_quota - cartera | currency}}
              </td>
            </tr>
            <tr style="border-left:none; border-bottom:none; height:10px">
              <td></td>
            </tr>
            <tr
              v-if="vencida"
              class="cartera"
            >
              <router-link
                style="color:#ffffff"
                to="/b2b/cartera"
              >
                <td style="border-radius:5px; text-align: center">
                  Tiene Cartera Vencida
                </td>
              </router-link>
            </tr>
            </tbody>
          </table>
        </div>
      </div>-->
    </div>
  </header>
</template>
<script>
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import moment from "moment";
import {getApiDomain} from "../../util/domains";
export default {
  name: "b2b_header",
  data() {
    return {
      navBarShow: false,
      screenWidth: document.documentElement.offsetWidth,
    };
  },
  created() {
    this.initComment();
  },
  methods: {
    initComment() {
      //receivables
    },
    changeStatusNavBar(data) {
      this.navBarShow = data;
    },
    async promos() {
      this.changeStatusNavBar(false);
      this.$router.push(`/solicitud-encabezado?client=${this.user_b2b.id}`);
    },
    async logAuth() {
      await this.logout();

      this.$router.go("/login");
    },
    ...mapActions("login", ["logout"]),
    ...mapActions("receivable", [
      "fetchReceivables",
      "setFilterPagination",
      "setPerPagePagination",
      "setPagePagination",
      "setSortByPagination",
      "setSortPagination",
      "setFilterReference",
    ]),
    ...mapMutations("receivable", ["setReceivables", "setPerPage"]),

    ...mapMutations("requestheaders", ["setContactB2B"]),
  },
  computed: {
    ...mapState("login", ["user_b2b", "user_logued", 'subscriber']),
    ...mapState("cart", ["total"]),
    ...mapState("receivable", ["receivables", "params", "totalReceivables"]),
    ...mapGetters("receivable", ["getParams"]),
    cartera() {
      let sum = 0;
      if (this.receivables) {
        this.receivables.map((p) => {
          sum += p.invoice_balance;
        });
      }
      return sum;
    },
    logoSubscriber(){
        return getApiDomain() + this.subscriber.logo
    },
    vencida() {
      let cartera_vencida = false;
      if (this.receivables) {
        this.receivables.forEach((p) => {
          var fecha1 = moment(p.document_date);
          var fecha2 = moment();
          let fecha_venci = fecha2.diff(fecha1, "days");
          if (fecha_venci > 60) {
            cartera_vencida = true;
          }
        });
      }
      return cartera_vencida;
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.menu-top {
  font-weight: bold;
}

.active {
  border-bottom: 2px solid #000ea8;
}

.navbar-nav {
  margin-right: 20px;
  .router-link-exact-active {
    content: "";
    display: block;
    color: #000ea8 !important;
  }
}

.di {
  width: 880px;
}
.cartera {
  background: #c00000;
  color: #ffffff;
  border: none !important;
}

.navbar-nav .nav-link {
  font-size: 1.3em;
  color: #283346;
  font-weight: 600;
  font-family: "Open Sans";
}
.navbar-dark .nav-link:hover {
  text-decoration: none;
  color: #ff3100;
}
.salir {
  color: #000ea8;
  font-weight: bold;
  margin-left: 20px;
}
.navbar-dark .navbar-toggler {
  color: #000ea8;
  font-weight: bold;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
  border: 1px solid gray;
}

.tabla {
  float: right;
  color: #313131;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  position: relative !important;
}
.flecha {
  background: url(../../assets/img/b2b/arrow.png);
  background-size: 100% 100%;
}

.flecha td,
.table th {
  border: none;
}

.flecha.table.table-condensed {
  border: 1px solid #cacaca;
}

.tabla tr {
  border: 1px solid #000ea8;
}
.tabla td {
  padding: 1px 20px;
}
.tabla tr:nth-child(1) td {
  color: #ffffff;
  background: #000ea8;
  text-align: center;
}
@media (min-width: 1441px) and (max-width: 1580px) {
  .di {
    width: 370px;
  }
}
@media (min-width: 1366px) and (max-width: 1440px) {
  .tabla td {
    padding: 1px 10px;
  }
  .navbar-dark .navbar-toggler {
    padding-left: 0px;
  }
  .di {
    width: 260px;
  }
}
@media (max-width: 1024px) {
  .di {
    display: none;
  }
}
</style>

<style scoped>
.u2-navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .u2-navbar {
    padding: 0;
  }
}

.u2-collapse:not(.show) {
  display: none;
}

.u2-navbar > .container,
.u2-navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.u2-navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #000;
}

.u2-navbar-brand:hover,
.u2-navbar-brand:focus {
  text-decoration: none;
}

.u2-navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.u2-navbar-nav .u2-nav-link {
  padding-right: 0;
  padding-left: 0;
  font-size: 1.3em;
  color: #283346;
  font-weight: 600;
  font-family: "Open Sans";
}

.u2-navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.u2-navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.u2-navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.u2-navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.u2-navbar-toggler:hover,
.u2-navbar-toggler:focus {
  text-decoration: none;
}

.u2-navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 575.98px) {
  .u2-navbar-expand-sm > .container,
  .u2-navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .table-nav-info {
    margin-right: 0px !important;
    margin-top: 0px !important;
  }

  .p-sm-0 {
    padding: 0px !important;
  }
}

@media (min-width: 576px) {
  .u2-navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .u2-navbar-expand-sm .u2-navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .u2-navbar-expand-sm .u2-navbar-nav .dropdown-menu {
    position: absolute;
  }
  .u2-navbar-expand-sm .u2-navbar-nav .u2-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .u2-navbar-expand-sm > .container,
  .u2-navbar-expand-sm > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .u2-navbar-expand-sm .u2-navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .u2-navbar-expand-sm .u2-navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .u2-navbar-expand-md > .container,
  .u2-navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .u2-navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .u2-navbar-expand-md .u2-navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .u2-navbar-expand-md .u2-navbar-nav .dropdown-menu {
    position: absolute;
  }
  .u2-navbar-expand-md .u2-navbar-nav .u2-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .u2-navbar-expand-md > .container,
  .u2-navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .u2-navbar-expand-md .u2-navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .u2-navbar-expand-md .u2-navbar-toggler {
    display: none;
  }
}

@media (max-width: 791.98px) {
  .u2-navbar-expand-lg > .container,
  .u2-navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 792px) {
  .u2-navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .u2-navbar-expand-lg .u2-navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .u2-navbar-expand-lg .u2-navbar-nav .dropdown-menu {
    position: absolute;
  }
  .u2-navbar-expand-lg .u2-navbar-nav .u2-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 13px !important;
  }
  .u2-navbar-expand-lg > .container,
  .u2-navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .u2-navbar-expand-lg .u2-navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .u2-navbar-expand-lg .u2-navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .table-nav-info {
  }

  .table-nav-info {
  }
}

@media (max-width: 1199.98px) {
  .u2-navbar-expand-xl > .container,
  .u2-navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .u2-navbar-expand-xl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .u2-navbar-expand-xl .u2-navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .u2-navbar-expand-xl .u2-navbar-nav .dropdown-menu {
    position: absolute;
  }
  .u2-navbar-expand-xl .u2-navbar-nav .u2-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .u2-navbar-expand-xl > .container,
  .u2-navbar-expand-xl > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .u2-navbar-expand-xl .u2-navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .u2-navbar-expand-xl .u2-navbar-toggler {
    display: none;
  }
}

.u2-navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.u2-navbar-expand > .container,
.u2-navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.u2-navbar-expand .u2-navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}

.u2-navbar-expand .u2-navbar-nav .dropdown-menu {
  position: absolute;
}

.u2-navbar-expand .u2-navbar-nav .u2-nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.u2-navbar-expand > .container,
.u2-navbar-expand > .container-fluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.u2-navbar-expand .u2-navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.u2-navbar-expand .u2-navbar-toggler {
  display: none;
}

.u2-navbar-light .u2-navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.u2-navbar-light .u2-navbar-brand:hover,
.u2-navbar-light .u2-navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.u2-navbar-light .u2-navbar-nav .u2-nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px !important;
}

.u2-navbar-light .u2-navbar-nav .u2-nav-link:hover,
.u2-navbar-light .u2-navbar-nav .u2-nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.u2-navbar-light .u2-navbar-nav .u2-nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.u2-navbar-light .u2-navbar-nav .show > .u2-nav-link,
.u2-navbar-light .u2-navbar-nav .active > .u2-nav-link,
.u2-navbar-light .u2-navbar-nav .u2-nav-link.show,
.u2-navbar-light .u2-navbar-nav .u2-nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.u2-navbar-light .u2-navbar-toggler {
  color: rgb(0, 0, 0);
  border-color: #000ea8;
  cursor: pointer;
}

.u2-navbar-light .u2-navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.u2-navbar-light .u2-navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.u2-navbar-light .u2-navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.u2-navbar-light .u2-navbar-text a:hover,
.u2-navbar-light .u2-navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.u2-navbar-dark .u2-navbar-brand {
  color: #fff;
}

.u2-navbar-dark .u2-navbar-brand:hover,
.u2-navbar-dark .u2-navbar-brand:focus {
  color: #fff;
}

.u2-navbar-dark .u2-navbar-nav .u2-nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.u2-navbar-dark .u2-navbar-nav .u2-nav-link:hover,
.u2-navbar-dark .u2-navbar-nav .u2-nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.u2-navbar-dark .u2-navbar-nav .u2-nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.u2-navbar-dark .u2-navbar-nav .show > .u2-nav-link,
.u2-navbar-dark .u2-navbar-nav .active > .u2-nav-link,
.u2-navbar-dark .u2-navbar-nav .u2-nav-link.show,
.u2-navbar-dark .u2-navbar-nav .u2-nav-link.active {
  color: #fff;
}

.u2-navbar-dark .u2-navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.u2-navbar-dark .u2-navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.u2-navbar-dark .u2-navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.u2-navbar-dark .u2-navbar-text a {
  color: #fff;
}

.u2-navbar-dark .u2-navbar-text a:hover,
.u2-navbar-dark .navbar-text a:focus {
  color: #fff;
}

.u2-nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.u2-nav-link:hover,
.u2-nav-link:focus {
  text-decoration: none;
}

.u2-nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.u2-b2b-imagen {
  vertical-align: middle;
  max-width: 170px;
  width: 170px;
  height: 100%;
  margin: none;
  max-height: 100%;
}

.u2-navbar.center .u2-navbar-inner {
  text-align: center;
}

.u2-navbar.center .u2-navbar-inner .nav {
  display: inline-block;
  float: none;
}

.u2-navbar-nav .u2-nav-item {
  margin: 0 1%;
  text-align: center;
}

.table-nav-info {
  margin: 5px 0px;
}

.b2b-table {
  color: #313131;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: auto;
}
.b2b-table .flecha {
  background: url(../../assets/img/b2b/arrow-info.png);
  background-size: auto 100%;
  width: 55%;
}
.b2b-table tr {
  //border: 1px solid #000ea8;
}
.b2b-table td {
  padding: 3px 8px;
  line-height: 16px;
}
.b2b-table tr:nth-child(1) td {
  color: #ffffff;
  background: #000ea8;
  text-align: center;
}

/*******FONTS***********/
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2)
      format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2)
      format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2)
      format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2)
      format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.row-without-margin {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.header {
  z-index: 890 !important;
}
</style>
