@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
.sidebar-right-opened .background-overlay {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 998;
  transition: background-color 0.3s;
}
/* linea superior azul*/
.linea-sup {
  background-color: #000ea8;
  height: 45px;
  padding-top: 7px;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 5px solid #f50005;
}
.links_list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
}

.links_list-label {
  display: inline-block;
  color: #868ca7;
  vertical-align: middle;
  margin: 0 0 10px;
  line-height: 1.4;
}

.links_list-value {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
  border: none;
  margin-right: 45px;
  margin-left: 5px;
}

.links_list-value:hover {
  color: inherit;
  text-decoration: none;
  color: #ff3100;
}

/* estilos navbar */

#b2b-navbar {
  padding: 8px 0 6px 0 !important;
}

.test {
  font-weight: bold;
  margin-top: 13px;
  display: inline-flex;
}
.menu {
  margin-left: 560px;
  width: 100%;
  position: absolute;
  font-family: "Open Sans" !important;
  font-size: 15px;
  font-weight: 400;
  display: block;
  height: 100%;
}
.b2b-imagen {
  vertical-align: middle;
  max-width: 170px;
  width: 170px;
  height: 100%;
  margin: 0 0 0 40px;
  max-height: 100%;
}

/* estilos footer*/
.foot {
  background-color: #000ea8;
  padding-top: 35px;
}

.imagenes {
  width: 100%;
  position: relative;
  border-bottom: 10px solid #ececec;
  background-color: #ececec !important;
}
#awsB2b {
  float: right;
  width: 85px;
  padding-top: 16px;
  margin-right: 43%;
  height: auto;
}
#u2B2b {
  width: 124px;
  padding-top: 12px;
  margin-left: 41%;
  height: auto;
}
#logoFoot {
  margin-left: 20%;
  width: 150px;
}

.widgettitle {
  color: #abafc2;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

/* estilos home */
.page-styling {
  -webkit-text-size-adjust: 100%;
  font-family: Open Sans, "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background: #f4f5fb;
  letter-spacing: 0px;
  text-transform: none;
  text-align: left;
  font-weight: 400;
  font-style: initial;
  font-size: 15px;
  line-height: 1.8;
}
#buscador {
  border-radius: 7px;
  margin-top: 2%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2%;
}

#bot {
  background: #ffffff;
  color: #409eff !important;
  /*border-color:#000ea8;
    --box-shadow-color: #409EFF;
    box-shadow: 1px 1px 10px var(--box-shadow-color) !important;*/
  border-color: #409eff;
}
.inicio {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
}
.cliente {
  margin-left: 15%;
}

.lista-marcas {
  margin-left: 17px;
  padding-left: 0px;
}

.item {
  text-align: center;
  width: auto;
  line-height: 140%;
  vertical-align: top;
  margin: 0 40px;
  color: #a0a6c5;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.2s;
  text-transform: uppercase;
}
.imagen {
  height: 60px;
  line-height: 60px;
  margin: 0 0 15px;
  display: block;
  transition: all 0.2s;
  max-width: 200px;
}
.marcas {
  margin-left: 345px;
  margin-top: 15px;
}
.productos {
  padding-bottom: 70px;
  margin-left: 350px;
  margin-right: 0;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.producto-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: initial;
  font-size: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #283346;
  line-height: 1.1;
}
.line1 {
  position: relative;
  display: block;
  top: 17px;
  left: -55px;
  height: 1px;
  background: #e0e4f6;
  z-index: 1;
  width: 40px;
}

.line1:after {
  position: relative;
  display: block;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 350px;
  background: #e0e4f6;
  z-index: 1;
}
.line1:before {
  position: relative;
  display: block;
  top: 350px;
  left: 0;
  content: "";
  height: 1px;
  width: 50px;
  background: #e0e4f6;
  z-index: 1;
}

.line2 {
  position: relative;
  display: block;
  top: 17px;
  left: 590px;
  height: 1px;
  background: #e0e4f6;
  z-index: 1;
  width: 425px;
}

.line2:after {
  position: relative;
  display: block;
  top: 0;
  right: 0;
  left: 425px;
  content: "";
  width: 1px;
  height: 90px;
  background: #e0e4f6;
  z-index: 1;
}
.subtitle {
  color: #ff3100;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px 0 16px;
  position: relative;
  z-index: 2;
}

.prod-i-img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 200px;
  padding: 40px;
  overflow: hidden;
  margin: 0 0 30px;
  border: none;
}

.estrella {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  text-transform: uppercase;
  text-align: center;
}
.descuento {
  display: block;
  position: absolute;
  top: 38px;
  left: 13px;
  text-transform: uppercase;
  text-align: center;
}
.producto {
  position: relative;
  z-index: 2;
  margin: 0 2.66666% 26px 0;
}
.producto:after {
  clear: both;
  content: "";
  display: block;
}
.prod-title {
  font-size: 20px;
  font-weight: 700;
  color: #283346;
  text-align: left;
  padding: 0;
  height: 22px;
  position: relative;
  line-height: 110%;
  transition: all 0.2s;
  display: block;
  left: 0;
  width: 100%;
  top: 0;
}

.prod-i-link .prod-title {
  overflow: hidden;
  margin: 0 0 7px;
  border: none;
}

.prod-i-link:hover .prod-title {
  color: #ff3100;
  top: -44px;
  overflow: initial;
}

.brand {
  text-align: center;
  width: auto;
  line-height: 140%;
  color: #a0a6c5;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.2s;
  text-transform: uppercase;
}

/* carrito */
.icon-seller {
  width: 67px;
  margin-top: 5px;
  margin-left: 51px;
}
.ico-seller {
  width: 88%;
  margin-top: 5px;
}

/*pagina catalogo*/
.disponibilidad {
  display: none;
}

.disponibilidad-sm {
  display: none;
  cursor: pointer !important;
}

.btn-disponibilidad {
  display: block;
}
.icon-sell {
  width: 19%;
  margin-top: 5px;
}

.tienda-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: initial;
  font-size: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #283346;
  line-height: 1.1;
  margin-left: 40px;
  margin-top: 10px;
}
.detalle-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: initial;
  font-size: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #283346;
  line-height: 1.1;
  margin-left: 60px;
  margin-top: 40px;
}
.vendedor-item {
  width: auto;
  line-height: 140%;
  vertical-align: top;
  margin: 0;
  color: #a0a6c5;
  font-size: 13px;
  font-weight: 600;
  list-style: none;
  padding: 0;
}
.tarjeta-title {
  width: auto;
  vertical-align: top;
  color: #a0a6c5;
  font-size: 13px;
  font-weight: 400;
}
.fila {
  display: inline;
}
.icon-line {
  width: 100%;
}
.product-item {
  width: auto;
  line-height: 140%;
  vertical-align: top;
  color: #a0a6c5;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.product-brand {
  width: auto;
  line-height: 140%;
  vertical-align: top;
  color: #a0a6c5;
  font-size: 13px;
  font-weight: 600;
}
.cant-cat {
  border: #000ea8 solid 2px;
  height: 30px;
  border-radius: 0;
  text-align: center;
  padding: 0 !important;
}
.btn-cant {
  color: #ebeef5;
  width: 0.1px;
  background: #000ea8;
  height: 30px;
  line-height: 0.5;
  border-radius: 0;
  text-align: center;
  font-size: 20px;
  padding: 0 15px 0 6px;
}
.btn-cant:hover {
  background: #000ea8;
  opacity: 0.6;
}
.btn-cant:focus {
  background: #000ea8;
}
#ref {
  width: 470px;
  margin-left: 190px;
}

.promo {
  margin-left: 25px;
}
.promo-resp {
  display: none;
}

.input-group-prepend {
  /*margin-left: 26%;*/
  /*margin-top: 10px*/
}
.desc {
  margin-top: 0px;
  text-align: center;
}
.info {
  margin-left: 180px;
}

.boton-carrito {
  border: #000ea8 solid 2px;
  background: #000ea8;
  color: #ebeef5;
  padding: 0 15px;
  border-radius: 5px;
}

.boton-carrito:disabled {
  border: #5057a8 solid 2px;
  background: #5057a8;
  color: #ebeef5;
}

.boton-carrito:hover {
  opacity: 0.8;
}

#busca {
  border-radius: 7px;
  margin-top: 2%;
  width: 85%;
  margin-bottom: 2%;
}

.img-prod {
  vertical-align: middle !important;
  max-height: 120px;
  max-width: 100%;
}

.product_image {
  display: -ms-flexbox;
  display: -webkit-box;
  /* display: flex; */
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.vendedor {
  width: 100%;
}
.cantidad_dispo {
  border: #283346 2px solid;
  border-radius: 5px;
  background-color: #f4f5fb;
  padding: 0px;
  height: 100%;
  width: 120px;
  text-align: center;
  margin-right: 350px;
  margin-left: 15px;
}

.btn-cant-dis {
  border: #283346 2px solid;
  border-radius: 5px;
  background-color: #f4f5fb;
  padding: 0px;
  width: 120px;
  text-align: center;
}

/* Botón de promociones */
.promotions-button:disabled {
  background: #dc5652;
}

.promotions-button {
  background: #d50700;
  color: #fff;
  font-size: 10pt;
  padding: 2px 15px;
  border-radius: 5px;
  border: none;
}

.btn-delete-item-card {
  background: #d50700c0;
  color: #fff;
  font-weight: bold;
  font-size: 11pt;
  padding: 2px 15px;
  border-radius: 5px;
  border: none;
}

.btn-delete-item-card:hover {
  background: #d50700;
  color: #fff;
  font-weight: bold;
  font-size: 11pt;
  padding: 2px 15px;
  border-radius: 5px;
  border: none;
}

.cant_disp {
  margin-right: 300px;
  margin-left: 160px;
  padding: 0 20px;
  width: 135px;
}
.descri {
  margin-top: 30px;
  margin-left: 180px;
  margin-bottom: 10px;
}

.total {
  margin-left: 10px;
}
#reference {
  width: 45%;
  margin-left: 40%;
}
.filtro {
  display: none;
}
.el-collapse-item__arrow {
  /*margin: 0 -820px 0 !important*/
  /*display: inline;
	position: absolute;
	left: 300px;*/
}
.asistente {
  background-color: #000ea8;
  color: #ebeef5;
  font-size: 16px;
  margin-left: 10px;
}
/* Responsive*/

@media (max-width: 1023px) {
  .linea-sup {
    display: none;
  }
  .cliente {
    display: none;
  }
}

@media (min-width: 1441px) and (max-width: 1741px) {
  /*@media (min-width: 1441px) and (max-width: 1580px) {*/
  .productos {
    padding-bottom: 70px;
    margin-left: 190px;
    margin-right: 0;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
  }
  .cant_disp {
    margin-right: 140px;
    margin-left: 80px;
  }
  .descri {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .marcas {
    margin-left: 150px;
  }

  #ref {
    margin-left: 39px;
  }
  .asistente {
    width: 205px;
  }
  #busca {
    width: 75%;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -500px 0 !important*/
  }
}

@media (min-width: 1366px) and (max-width: 1440px) {
  .productos {
    padding-bottom: 70px;
    margin-left: 110px;
    margin-right: 0;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
  }
  #ref {
    margin-left: 117px;
    width: 413px;
  }
  .cant_disp {
    margin-right: 55px;
    margin-left: 80px;
  }
  .descri {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .marcas {
    margin-left: 150px;
  }

  .b2b-imagen {
    vertical-align: middle;
    margin-right: 55px !important;
    height: 100%;
    margin: 0 0 0 40px;
    max-height: 100%;
  }
  .total {
    margin-left: 12px;
  }
  .asistente {
    margin-left: 10px;
    max-width: 220px;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -410px 0 !important*/
  }
}

@media (min-width: 1366px) and (max-width: 1415px) {
  .asistente {
    margin-left: 15px;
    width: 205px;
    margin-top: 5px;
  }
  #ref {
    margin-left: 108px;
  }
}

@media (min-width: 1251px) and (max-width: 1365px) {
  .input-group-prepend {
    margin-left: 0px;
  }
  .cant-cat {
    margin-left: 0px;
  }
  .productos {
    padding-bottom: 70px;
    margin-left: 433px;
    margin-right: 226px;
    margin-top: 50px;
    font-family: "Montserrat", sans-serif;
  }
  .line2 {
    display: none;
  }
  .line2:after {
    display: none;
  }
  #ref {
    width: 45%;
    margin-left: 233px;
  }
  .marcas {
    margin-left: 204px;
  }
  .b2b-imagen {
    vertical-align: middle;
    /*  max-width: 100%;
        width: 100%; */
    height: 100%;
    margin: 0 0 0 10px;
    max-height: 100%;
  }
  .cant_disp {
    margin-left: 60px;
    margin-right: 70px;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -425px 0 !important*/
  }
  .total {
    margin-left: 5px;
  }
  .asistente {
    margin-left: 15px;
    width: 205px;
  }
}

@media (min-width: 801px) and (max-width: 1250px) {
  .asistente {
    margin-left: 15px;
    width: 205px;
  }
  .tab-cart {
    width: 48%;
  }
  .descri {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .cliente {
    display: none;
  }
  .b2b-imagen {
    vertical-align: middle;
    /*  max-width: 80%;
        width: 80%; */
    height: 100%;
    margin: 0 0 0 10px;
    max-height: 100%;
    padding-bottom: 20px;
    margin: 0;
  }
  #buscador {
    margin-left: -51px;
    width: 369px;
  }
  .lista-marcas {
    margin-left: 0;
    padding-left: 0px;
  }
  .item {
    margin: 0 10px 0 0;
    padding-bottom: 10px;
  }
  .imagen {
    margin: 0 0 5px;
  }
  .marcas {
    margin-left: 10%;
    margin-top: 0;
  }
  .productos {
    margin-left: 5%;
    margin-right: 0;
  }
  #awsB2b {
    margin-right: 20%;
  }
  #u2B2b {
    margin-left: 14%;
  }
  .line2 {
    display: none;
  }
  .line2:after {
    display: none;
  }
  /*catalogo*/

  .promo {
    margin-left: 35px;
  }

  .info {
    margin-left: 5%;
  }
  .cantidad_dispo {
    display: none;
  }
  .cant_disp {
    display: none;
  }
  .disponibilidad {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    float: right;
    margin-top: 24px;
    display: block;
    position: absolute;
    top: -10px;
    right: 5px;
  }

  .disponibilidad-sm {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .btn-disponibilidad {
    display: none;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -250px 0 !important*/
  }

  #reference {
    width: 318px;
    margin-left: 0%;
  }
  #ref {
    width: 270px;
    margin-left: 18px;
  }
  .bot-car {
    margin-right: 20px;
    margin-left: 91px;
  }
  .div-car {
    margin-right: 110px;
    width: 35px;
  }
  .filtro {
    display: none;
  }
  .prod-list {
    margin-left: 0px;
  }
  .input-group-prepend {
    /*margin-right: -10px*/
  }
  .btn-cant {
    display: none;
  }
  .cant-cat {
  }
}

@media (max-width: 800px) {
  .btn-cant {
    display: none;
  }
  .cant-cat {
  }
  .input-group-prepend {
    /*margin-left: -5px;
        margin-top: 10px;
        margin-right: -15px*/
  }
  #logoFoot {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .widgettitle {
    font-size: 14px;
  }
}

@media (min-width: 546px) and (max-width: 800px) {
  .tab-cart {
    width: 48%;
  }
  .descri {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .cliente {
    display: none;
  }
  .b2b-imagen {
    vertical-align: middle;
    /*  max-width: 80%;
        width: 80%; */
    height: 100%;
    margin: 0 0 0 10px;
    max-height: 100%;
    padding-bottom: 20px;
    margin: 0;
  }
  #buscador {
    margin-left: -51px;
    width: 485px;
  }
  .lista-marcas {
    margin-left: 0;
    padding-left: 0px;
  }
  .item {
    margin: 0 10px 0 0;
    padding-bottom: 10px;
  }
  .imagen {
    margin: 0 0 5px;
  }
  .marcas {
    margin-left: 10%;
    margin-top: 0;
  }
  .productos {
    margin-left: 5%;
    margin-right: 0;
  }
  #awsB2b {
    margin-right: 20%;
  }
  #u2B2b {
    margin-left: 14%;
  }
  .line2 {
    display: none;
  }
  .line2:after {
    display: none;
  }
  /*catalogo*/

  .promo {
    margin-left: 35px;
  }

  .info {
    margin-left: 5%;
  }
  .cantidad_dispo {
    display: none;
  }
  .cant_disp {
    display: none;
  }
  .disponibilidad {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    float: right;
    margin-top: 24px;
    display: block;
    position: absolute;
    top: -10px;
    right: 5px;
  }
  .disponibilidad-sm {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .btn-disponibilidad {
    display: none;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -250px 0 !important*/
  }

  #reference {
    width: 435px;
    margin-left: 0%;
  }
  #ref {
    width: 340px;
    margin-left: 15px;
  }
  #busca {
    width: 590px;
    margin-left: 15px;
  }
  .bot-car {
    margin-right: 20px;
    margin-left: 91px;
  }
  .div-car {
    margin-right: 110px;
    width: 35px;
  }
  #seller {
    display: none;
  }
  .filtro {
    display: block;
    background-color: #ffffff;
  }
  .prod-list {
    margin-left: 20px;
  }

  .asistente {
    margin-left: 15px;
    width: 205px;
  }
}
/* Responsive celular moto G5 Propartes*/
@media (min-width: 426px) and (max-width: 545px) {
  .descri {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -190px 0 !important*/
  }

  .cliente {
    display: none;
  }
  .b2b-imagen {
    padding-bottom: 20px;
    margin: 0;
    width: 260px;
  }
  #buscador {
    margin-left: -51px;
    width: 330px;
  }
  .lista-marcas {
    margin-left: 0;
    padding-left: 0px;
    margin-top: 40px;
  }
  .item {
    margin: 0 10px 0 0;
    padding-bottom: 10px;
  }
  .imagen {
    margin: 0 0 5px;
  }
  .marcas {
    margin-left: 10%;
    margin-top: 0;
  }
  .productos {
    margin-left: 5%;
    margin-right: 0;
  }
  #awsB2b {
    margin-right: 20%;
  }
  #u2B2b {
    margin-left: 14%;
  }
  .line2 {
    display: none;
  }
  .line2:after {
    display: none;
  }

  .promo {
    display: none;
  }
  .promo-resp {
    margin-left: 45px;
    display: flex;
    margin-top: 10px;
  }

  .info {
    margin-left: 5%;
  }
  .cantidad_dispo {
    display: none;
  }
  .cant_disp {
    display: none;
  }
  .disponibilidad {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    float: right;
    margin-top: 24px;
    display: block;
    position: absolute;
    top: -10px;
    right: 5px;
  }
  .disponibilidad-sm {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .btn-disponibilidad {
    display: none;
  }
  #reference {
    width: 279px;
    margin-left: 0%;
  }
  #ref {
    width: 390px;
    margin-left: 15px;
  }
  #busca {
    width: 390px;
    margin-left: 1px;
  }
  .bot-car {
    margin-right: 10px;
    margin-left: 33px;
  }
  .div-car {
    margin-right: 42px;
    width: 35px;
  }
  #seller {
    display: none;
  }
  .filtro {
    display: block;
    background-color: #ffffff;
  }

  .prod-list {
    margin-left: 20px;
  }
  .filter-card .el-select {
    width: 320px !important;
    margin-left: 30px;
    padding-left: 35px;
  }
  .el-carousel__container {
    height: 230px !important;
  }
  button .btn-cant {
    display: none;
  }
  .asistente {
    margin-left: 15px;
    margin-top: 10px;
    width: 205px;
  }
}
@media (min-width: 361px) and (max-width: 425px) {
  .promotions-button {
    padding: 1px 10px;
  }
  .boton-carrito {
    padding: 0px 10px;
  }
  .descri {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -190px 0 !important*/
  }

  .cliente {
    display: none;
  }
  .b2b-imagen {
    padding-bottom: 20px;
    margin: 0;
    width: 260px;
  }
  #buscador {
    margin-left: -51px;
    width: 330px;
  }
  .lista-marcas {
    margin-left: 0;
    padding-left: 0px;
    margin-top: 40px;
  }
  .item {
    margin: 0 10px 0 0;
    padding-bottom: 10px;
  }
  .imagen {
    margin: 0 0 5px;
  }
  .marcas {
    margin-left: 10%;
    margin-top: 0;
  }
  .productos {
    margin-left: 5%;
    margin-right: 0;
  }
  #awsB2b {
    margin-right: 20%;
  }
  #u2B2b {
    margin-left: 14%;
  }
  .line2 {
    display: none;
  }
  .line2:after {
    display: none;
  }

  .promo {
    display: none;
  }
  .promo-resp {
    margin-left: 64px;
    display: flex;
    margin-top: 10px;
  }
  .info {
    margin-left: 5%;
  }
  .cantidad_dispo {
    display: none;
  }
  .cant_disp {
    display: none;
  }
  .disponibilidad {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    float: right;
    margin-top: 24px;
    display: block;
    position: absolute;
    top: -10px;
    right: 5px;
  }
  .disponibilidad-sm {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .btn-disponibilidad {
    display: none;
  }
  #reference {
    width: 279px;
    margin-left: 0%;
  }
  #ref {
    width: 293px;
    margin-left: 15px;
  }
  #busca {
    width: 293px;
    margin-left: 0px;
  }
  .bot-car {
    margin-right: 10px;
    margin-left: 33px;
  }
  .div-car {
    margin-right: 42px;
    width: 35px;
  }
  #seller {
    display: none;
  }
  .filtro {
    display: block;
    background-color: #ffffff;
  }
  .prod-list {
    margin-left: 20px;
  }
  .filter-card .el-select {
    width: 320px !important;
    margin-left: 30px;
    padding-left: 35px;
  }
  .el-carousel__container {
    height: 230px !important;
  }
  .asistente {
    margin-left: 25px;
    width: 205px;
  }
}

/** Responsive para celular samsung j3 propartes*/
@media (max-width: 360px) {
  .promotions-button {
    padding: 1px 10px;
  }
  .boton-carrito {
    padding: 0px 10px;
  }
  .product-item {
    margin-left: -20px;
  }
  .desc {
    margin-left: -20px;
  }
  .detalle-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: initial;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #283346;
    line-height: 1.1;
    margin-left: 0px;
    margin-top: 0px;
  }
  .tab-cart {
    margin: 0 5px;
  }

  .descri {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .el-collapse-item__arrow {
    /*margin: 0 -180px 0 !important*/
  }

  .cliente {
    display: none;
  }
  .b2b-imagen {
    padding-bottom: 20px;
    margin: 0;
    width: 260px;
  }
  #buscador {
    margin-left: -51px;
    width: 330px;
  }
  .lista-marcas {
    margin-left: 0;
    padding-left: 0px;
  }
  .item {
    margin: 0 10px 0 0;
    padding-bottom: 10px;
  }
  .imagen {
    margin: 0 0 5px;
  }
  .marcas {
    margin-left: 10%;
    margin-top: 0;
  }
  .productos {
    margin-left: 5%;
    margin-right: 0;
  }
  #awsB2b {
    margin-right: 20%;
  }
  #u2B2b {
    margin-left: 14%;
  }
  .line2 {
    display: none;
  }
  .line2:after {
    display: none;
  }

  .promo {
    display: none;
  }
  .promo-resp {
    margin-left: 45px;
    display: flex;
    margin-top: 10px;
  }


  .info {
    margin-left: -10px;
  }
  .cantidad_dispo {
    display: none;
  }
  .cant_disp {
    display: none;
  }
  .disponibilidad {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    float: right;
    margin-top: 24px;
    display: block;
    position: absolute;
    top: -10px;
    right: 5px;
  }

  .disponibilidad-sm {
    border: #283346 2px solid;
    border-radius: 5px;
    background-color: #f4f5fb;
    padding: 0px;
    width: 120px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .btn-disponibilidad {
    display: none;
  }
  #reference {
    width: 279px;
    margin-left: 0%;
  }
  #ref {
    width: 255px;
    margin-left: 15px;
  }
  #busca {
    width: 255px;
    margin-left: 0px;
  }
  .bot-car {
    margin-right: 10px;
    margin-left: 20px;
  }
  .div-car {
    margin-right: 30px;
    width: 35px;
  }
  #seller {
    display: none;
  }
  .filtro {
    display: block;
    background-color: #ffffff;
  }
  .prod-list {
    margin-left: 20px;
  }
  .filter-card .el-select {
    width: 320px !important;
    margin-left: 0px;
    padding-left: 35px;
  }
  .el-carousel__container {
    height: 265px !important;
  }

  .cant-cat {
    width: 100%;
    margin-left: 0px;
  }
  .asistente {
    margin-left: 25px;
    width: 205px;
  }
}

/*KEVIN*/
.input-cant::-webkit-inner-spin-button,
.input-cant::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

.float-right {
  float: right !important;
}

.btn-close {
  background: none;
  margin: 0px;
  border: none;
}

.right-aside{
  padding: 0px !important;
}

/**BOTON DE PROMOCION**/
