<template>
  <footer class="page-footer font-small blue pt-4 foot">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3">
          <img
            src="../../assets/img/b2b/COLSAISA.png"
            alt="Motor"
            id="logoFoot"
          >
        </div>
        <div class="col-md-4 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li>
              <!-- <span class="widgettitle">Carrera 34 No 6 – 70, Bogotá D.C</span> -->
              <span class="widgettitle">Cra 124 N 17 - 80, Bogotá D.C</span>
            </li>
            <li>
              <span class="widgettitle">Teléfono: +57(1) 742 2588</span>
            </li>
            <li>
              <span class="widgettitle">E-MAIL: servicioalcliente1@colsaisa.com</span>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li>
              <span class="widgettitle">Copyright 2016 Colsaisa </span>
            </li>
            <li>
              <span class="widgettitle">Claúsula de Privacidad </span>
            </li>
            <li>
              <span class="widgettitle">Términos de Uso</span>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center imagenes">
      <img
        src="../../assets/img/logoU2.png"
        alt=""
        id="u2B2b"
      >
      <img
        src="../../assets/img/aws.png"
        id="awsB2b"
      />
    </div>
  </footer>
</template>
<script>
export default {
  name: "b2b_footer"

}
</script>
<style>
/* .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
 */
</style>
