<template>
  <div>
    <div class="contacto d-none d-lg-block">
      <button class="boton-tel">
        <a v-if="user_logued.type == 'e'" :href="'tel:' + user_b2b.telephone">
          <img
            class="phone"
            src="../../assets/img/telefono.png"
            alt="Teléfono"
          />
        </a>
        <a
          v-else-if="user_logued.type == 'c'"
          :href="'tel:031' + user_b2b.seller.main_telephone"
        >
          <img
            class="phone"
            src="../../assets/img/telefono.png"
            alt="Teléfono"
          />
        </a>
      </button>
      <a
        v-if="user_logued.type == 'e'"
        :href="
          'https://api.whatsapp.com/send?phone=+57' +
            (user_b2b.seller ? user_b2b.seller.cell_phone : null)
        "
        target="_blank"
      >
        <img
          class="whatsapp"
          src="../../assets/img/b2b/contacto/whatsapp.png"
          alt="WhatsApp"
        />
      </a>
      <a
        v-else-if="user_logued.type == 'c'"
        :href="
          'https://api.whatsapp.com/send?phone=+57' +
            (user_b2b.seller ? user_b2b.seller.cell_phone : null)
        "
        target="_blank"
      >
        <img
          class="whatsapp"
          src="../../assets/img/b2b/contacto/whatsapp.png"
          alt="WhatsApp"
        />
      </a>
    </div>

    <!-- BOTON ABRIR/CERRAR CARRITO -->

    <div id="right-cart" style="z-index: 950">
      <button
        id="boton-cerrar"
        ref="boton-close"
        type="button"
        :class="{ 'carrito-b': close, 'carrito-a': open }"
        @click="toggle_right"
        title="carrito"
      >
        <div class="number-cart">
          {{ cart.documents_products ? cart.documents_products.length : 0 }}
        </div>
      </button>
      <!-- CARD PRODUCT -->
      <div id="right-slim">
        <div class="rightsidebar-right">
          <div class="titulo">
            Resumen del Pedido
            <button @click="toggle_right" class="btn-close float-right">
              <i class="fa fa-fw fa-times"></i>
            </button>
          </div>

          <!-- TABLA RESUMEN PEDIDO (DESKTOP) -->
          <div class="table-responsive cart-table table-cart-desktop">
            <b-table
              bordered
              show-empty
              :fields="fields"
              :items="cart.documents_products"
              tbody-tr-class="p-0"
            >
              <template v-slot:cell(product.code)="row" class="text-center">
                <div v-if="!row.item.promotion_id">
                  {{ row.item.product.code }}
                </div>
              </template>

              <template
                v-slot:cell(product.description)="row"
                class="text-center"
              >
                <div v-if="!row.item.promotion_id">
                  {{ row.item.product.description }}
                </div>
                <div v-else>
                  <a @click="_getModalPromotions(row.item)" class="link">{{
                    row.item.promotion.description
                  }}</a>
                </div>
              </template>

              <template v-slot:cell(quantity)="row" class="text-center">
                {{ row.item.quantity }}
              </template>

              <template
                v-slot:cell(unit_value_before_taxes)="row"
                class="text-center"
              >
                <div v-if="!row.item.promotion_id">
                  {{ row.item.unit_value_before_taxes | currency }}
                </div>
              </template>

              <template v-slot:cell(total_discount)="row" class="text-center">
                <div>
                  {{ row.item.total_discount | currency }}
                </div>
              </template>

              <template v-slot:cell(total_value_iva)="row" class="text-center">
                {{ row.item.total_value_iva | currency }}
              </template>

              <!-- DESCUENTOS -->
              <template
                v-slot:cell(discount_value_unit)="row"
                class="text-center"
              >
                <div v-if="!row.item.promotion_id">
                  <input
                    type="text"
                    class="form-control text-center inputDiscountValue"
                    v-model="row.item.discount_value_unit"
                    v-if="row.item.edit_discount_value"
                    @blur="chengeProductCart(row.item)"
                  />
                  <input
                    type="text"
                    class="form-control text-center inputDiscountValue"
                    :value="row.item.discount_value_unit | currency"
                    v-if="!row.item.edit_discount_value"
                    @focus="row.item.edit_discount_value = true"
                  />
                </div>
              </template>

              <template v-slot:cell(discount_value)="row" class="text-center">
                {{ row.item.discount_value | currency }}
              </template>
              <template v-slot:cell(total_value_brut)="row" class="text-center">
                {{ row.item.total_value_brut | currency }}
              </template>

              <template v-slot:cell(total_value)="row" class="text-center">
                {{ row.item.total_value | currency }}
              </template>

              <template v-slot:cell(actions)="row" class="text-center">
                <div v-if="!row.item.promotion_id">
                  <b-button
                    size="sm"
                    class="mt-1 button-table eliminar"
                    @click="removeCartItems(row.item)"
                  >
                    <span class="fa fa-trash"></span>
                  </b-button>
                </div>
                <div v-else>
                  <b-button
                    size="sm"
                    class="mt-1 button-table eliminar"
                    @click="removeCartItemsPromotion(row.item)"
                  >
                    <span class="fa fa-trash"></span>
                  </b-button>
                </div>
              </template>
            </b-table>
          </div>

          <!-- TABLA RESUMEN PEDIDO (MOVIL) -->
          <div class="table-responsive cart-table table-cart-movil">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th class="text-nowrap">
                    Producto <br />
                    % Dcto
                  </th>
                  <th class="text-nowrap">Cant</th>
                  <th class="text-nowrap">Vr Unit</th>
                  <th class="text-nowrap">Vr Dcto Unit</th>
                  <th class="text-nowrap">Vr Dcto</th>
                  <th class="text-nowrap">Vr Bruto</th>
                  <th class="text-nowrap">Vr IVA</th>
                  <th class="text-nowrap">Vr TOTAL</th>
                  <th class="text-nowrap"></th>
                </tr>
              </thead>
              <tbody
                v-for="(product, index) in cart.documents_products"
                :key="index"
              >
                <tr>
                  <td colspan="100">
                    <div v-if="!product.promotion_id">
                      {{ product.product.code }} -
                      {{ product.product.description }}
                    </div>
                    <div v-else>
                      <a @click="_getModalPromotions(product)" class="link">{{
                        product.promotion.description
                      }}</a>
                    </div>
                  </td>
                </tr>
                <tr class="text-center">
                  <td class="text-nowrap">
                    {{
                      product.promotion_id == null
                        ? product.product.price.percentage
                        : 0
                    }}
                  </td>
                  <td class="text-nowrap">
                    {{ product.quantity }}
                  </td>
                  <td class="text-nowrap">
                    {{ product.unit_value_before_taxes | currency }}
                  </td>
                  <!-- DESCUENTO UNITARIO -->
                  <td class="text-nowrap">
                    <div v-if="!product.promotion_id">
                      <input
                        type="text"
                        class="form-control text-center inputDiscountValue"
                        v-model="product.discount_value_unit"
                        v-if="product.edit_discount_value"
                        @blur="chengeProductCart(product)"
                      />
                      <input
                        type="text"
                        class="form-control text-center inputDiscountValue"
                        :value="product.discount_value_unit | currency"
                        v-else
                        @focus="product.edit_discount_value = true"
                      />
                    </div>
                  </td>

                  <td class="text-nowrap">
                    {{ product.discount_value | currency }}
                  </td>
                  <td class="text-nowrap">
                    {{ product.total_value_brut | currency }}
                  </td>
                  <td class="text-nowrap">
                    {{ product.total_value_iva | currency }}
                  </td>
                  <td class="text-nowrap">
                    {{ product.total_value_brut | currency }}
                  </td>
                  <td class="text-nowrap">
                    <div v-if="!product.promotion_id">
                      <b-button
                        size="sm"
                        class="mt-1 button-table eliminar"
                        @click="removeCartItems(product)"
                      >
                        <span class="fa fa-trash"></span>
                      </b-button>
                    </div>
                    <div v-else>
                      <b-button
                        size="sm"
                        class="mt-1 button-table eliminar"
                        @click="removeCartItemsPromotion(product)"
                      >
                        <span class="fa fa-trash"></span>
                      </b-button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row orden">
            <div class="form-group col-md-3"></div>

            <div class="col-md-9">
              <!-- <span
                v-if="descuento > 0"
                class="valores-finales"
              >
                <b class="titulo-valor">Total Descuento</b>
                <b>{{ descuento | currency }}</b>
              </span> -->
              <span class="valores-finales">
                <b class="titulo-valor">Total Bruto</b>
                <b>{{ cart.total_value_brut | currency }}</b>
              </span>
              <!-- TAXES -->
              <span v-if="selected_model.pay_taxes">
                <span
                  v-for="(tax, index) in cart.taxes"
                  :key="index"
                  class="valores-finales"
                >
                  <b class="titulo-valor">Total {{ tax.description }}</b>
                  <b>{{ tax.value | currency }}</b>
                </span>
              </span>
              <!-- FIN TAXES -->
              <span class="valores-finales">
                <b class="titulo-valor">Total Pedido</b>
                <b>{{ cart.total_value | currency }}</b>
              </span>
            </div>
          </div>
          <br />

          <div class="row mb-3">
            <div class="col-12">
              <label><b>Orden de Compra</b></label>
            </div>

            <!-- PREFIJO -->
            <div class="col-12 col-lg-2">
              <input
                placeholder="Prefijo"
                type="text"
                class="form-control"
                v-model="cart.affects_prefix_document"
              />
            </div>

            <!-- NUMERO -->
            <div class="col-12 col-lg-4">
              <input
                placeholder="Numero Doc Cruce"
                type="text"
                class="form-control"
                v-model="cart.affects_number_document"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="observation"><b>Observaciones</b></label>
            <textarea
              class="form-control"
              v-model="cart.observation"
              id="observation"
            ></textarea>
          </div>
          <div class="form-group">
            <p>
              <span
                ><b>Monto mínimo de pedido:</b>
                {{ minimum_ammount | currency }}</span
              >
              <br />
              <span
                ><b>Monto faltante:</b>
                <span v-if="diff >= 0"> {{ diff | currency }}</span>
                <span v-else> {{ 0 | currency }}</span>
              </span>
            </p>
          </div>
        </div>
        <b-col md="12" sm="12" cols="12" class="pb-2">
          <b-btn
            v-if="boton"
            v-b-modal.modal-scrollable
            v-b-modal.modal-xl
            v-b-modal.modal-center
            @click="finishCart()"
            class="mt-3 mb-3 finalizar"
            :disabled="loading"
          >
            <i v-if="loading" class="fa fa-spinner fa-spin"></i>
            Finalizar Pedido
          </b-btn>
          <!--<b-btn
						:disabled="diff > 0"
						v-if="boton"
						@click="hacerCotizacion(cart.documents_products)"
						class="mt-3 mb-3 finalizar">
						Realizar Cotización
					</b-btn>-->
        </b-col>
        <preloader v-show="loader" :mensaje="message_loader"></preloader>
      </div>
    </div>

    <b-modal
      no-close-on-backdrop
      no-close-on-esc
      scrollable
      centered
      size="xl"
      id="relacionados"
      ref="relacionados"
      hide-header-close
      hide-footer
    >
      <relative-products @showedPdf="show_pdf = true"></relative-products>
    </b-modal>
  </div>
</template>

<script>
import relativeProducts from "../views/relative-products-form";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
import preloader from "./../../components/layout/preloader";
import { Notification, MessageBox } from "element-ui";

export default {
  name: "cart",
  components: {
    relativeProducts,
    preloader
  },
  data() {
    return {
      loading: false,
      spanDiscountValue: true,
      screenWidth: document.documentElement.offsetWidth,
      close: true,
      open: false,
      loader: false,
      id_cart: 0,
      show_pdf: false,
      fields: [
        {
          label: "Referencia",
          key: "product.code",
          sortable: true,
          thClass: "text-nowrap",
          tdClass: "text-nowrap"
        },
        {
          label: "Descripción",
          key: "product.description",
          sortable: true,
          thClass: "text-nowrap",
          tdClass: "text-nowrap"
        },
        {
          label: "Cant",
          key: "quantity",
          thClass: "text-nowrap",
          tdClass: "text-nowrap text-right"
        },
        {
          label: "Vr-Unit",
          key: "unit_value_before_taxes",
          thClass: "text-nowrap",
          tdClass: "text-nowrap text-right"
        },
        {
          label: "Vr Dcto Unit",
          key: "discount_value_unit",
          thClass: "text-nowrap",
          tdClass: "text-nowrap text-right",
          edit: false
        },
        {
          label: "Vr Dcto",
          key: "discount_value",
          thClass: "text-nowrap",
          tdClass: "text-nowrap text-right",
          edit: false
        },
        {
          label: "Vr-Bruto",
          key: "total_value_brut",
          thClass: "text-nowrap",
          tdClass: "text-nowrap text-right"
        },
        {
          label: "Vr-IVA",
          key: "total_value_iva",
          thClass: "text-nowrap",
          tdClass: "text-nowrap text-right"
        },
        {
          label: "Vr-Total",
          key: "total_value",
          thClass: "text-nowrap",
          tdClass: "text-nowrap text-right"
        },
        {
          label: "",
          key: "actions",
          tdClass: "text-center"
        }
      ],
      sin_existencia: false,
      minimum_ammount: 0,
      accomplished_amount: false,
      message_loader: "Validando monto mínimo - 18%",
      messages_loader: [
        { message: "Validando monto mínimo - 18%" },
        { message: "Validando existencias - 36%" },
        { message: "Enviando pedido - 54%" },
        { message: "Validando estado de cartera - 72%" },
        { message: "Comprometiendo pedido - 90%" },
        { message: "Finalizando - 99%" }
      ]
    };
  },
  async mounted() {
    this.minimum_ammount = this.user_b2b.minimum_order_value;
    let parameters = {
      contact_id: this.user_b2b.contact_id,
      branchoffice_id: this.user_b2b.id,
      user_id: this.user_logued.id
    };
    await this.fetchCart(parameters);
    await this.checkCart();
    let model_id = await this.getModelBycode('010');
    await this.fetchModel(model_id);
  },
  methods: {
    async chengeProductCart(document_product) {
      this.loading = true;

      document_product.edit_discount_value = false;
      document_product.product.quantity = document_product.quantity;
      document_product.product.is_benefit = document_product.is_benefit;
      document_product.product.promotion_id = document_product.promotion_id;
      document_product.product.document_id = document_product.document_id;
      document_product.product.product_id = document_product.product_id;
      document_product.product.document_product_id = document_product.id;

      // Descuento
      document_product = await this.validateDiscountUnit(document_product);

      await this.addCartItems(
        JSON.parse(JSON.stringify(document_product.product))
      );

      this.loading = false;
    },
    validateDiscountUnit(document_product) {
      // Capturamos la cantidad.
      let quantity = document_product.quantity;

      // Capturamos el valor unitario.
      let unit_value = document_product.unit_value_before_taxes;

      // Asignamos el valor del descuento unitario
      let discount_value_unit = document_product.discount_value_unit;

      // Descuento total
      let discount_value = 0;

      // Validamos los descuentos por porcentaje.
      if (discount_value_unit && discount_value_unit < 1) {
        // Multiplicamos el porcentaje por el valor unitario, para sacar el valor descuento por unidad.
        let discount_value_unit_percentage = Math.round(
          unit_value * discount_value_unit
        );

        // Multiplicamos el valor descuento por unitdad por la cantidad para el valor descuento tortal.
        discount_value = Math.round(discount_value_unit_percentage * quantity);
      }

      // Validamos los descuentos por valor.
      else {
        // Multiplicamos el valor descuento por unitdad por la cantidad para el valor descuento tortal.
        discount_value = Math.round(discount_value_unit * quantity);
      }

      // ## VALIDACIONES ## //
      let total_value_brut =
        document_product.unit_value_before_taxes * document_product.quantity;

      // Validamos si el valor del descuento es mayor que el valor bruto
      if (parseInt(discount_value) > parseInt(total_value_brut)) {
        discount_value = 0;

        Notification.error({
          title: "¡Error!",
          message: "El descuento no debe ser mayor al valor bruto",
          type: "error",
          duration: 3000,
          customClass: "notification-box"
        });
      }

      // Asignamos valores.
      document_product.product.discount_value = discount_value;

      return document_product;
    },
    open_modal() {
      this.$refs.relacionados.show();
    },
    columna() {
      if (product.promotion_price != null && product.promotion_price != "") {
        this.fields.push({
          key: "product.promotion_price.price",
          label: "Vr-Desc",
          thStyle: { "min-width": "100px !important" },
          tdClass: "valores"
        });
      }
    },
    ...mapActions("cart", [
      "getCustomerCategoty",
      'getModelBycode',
      "removeCartItems",
      "addToCart",
      "finalizeOrderAction",
      "getPdf",
      "downloadDocument",
      "finaliceQuotation",
      "fetchCart",
      "checkCart",
      "fetchModel",
      "addCartItems"
    ]),
    toggle_right() {
      this.$store.commit("rightside_cart", "toggle");
      this.close = !this.close;
      this.open = !this.open;
    },
    ...mapActions("relativeProductsForm", ["getrelated"]),
    ...mapMutations("relativeProductsForm", [
      "setProductsForm",
      "setCounting",
      "setTime"
    ]),
    ...mapMutations("cart", ["setTotal", "setPdf"]),
    ...mapMutations("login", ["setUserLoguedB2b"]),
    ...mapMutations("catalog", [
      "setSelectedProduct",
      "setlabelButtonPromotion",
      "setPromotions",
      "setShowPromotionsModal",
      "validatePromotion",
      "setPromotionUpdate"
    ]),
    ...mapActions("catalog", [
      "fetchProducts",
      "getModalPromotions",
      "validateAllPromotionRules",
      "changePromotionProduct",
      "validatePromotionRules",
      "setBenefitProduct"
    ]),
    async finishCart() {
      let validation = await this.validateAllDocumentProducts();
      validation = await this.validateProspectClient(validation);

      if (!validation) {
        return;
      }

      this.loading = true;

      if (!this.cart.seller_id) {
        this.$alert(
          "Este cliente no tiene un vendedor asignado.",
          "Mensaje del Error",
          {
            confirmButtonText: "Aceptar",
            type: "error",
            customClass: "order-box",
            dangerouslyUseHTMLString: true
          }
        );

        this.loading = false;
        return;
      }

      await this.finalizeOrderAction(this.cart);

      if (this.errorMessage == "") {
        this.$alert(
          "Estimado Cliente. <br> En minutos recibirá un correo con la confirmación de su pedido. <br> ¡Gracias por su compra!",
          "Exito",
          {
            confirmButtonText: "Aceptar",
            type: "success",
            customClass: "order-box",
            dangerouslyUseHTMLString: true
          }
        );
      } else {
        this.$alert(this.errorMessage, "Mensaje del Error", {
          confirmButtonText: "Aceptar",
          type: "error",
          customClass: "order-box",
          dangerouslyUseHTMLString: true
        });
      }

      this.loading = false;
      this.fetchProducts();
      this.toggle_right();
    },
    async validateDocumentProduct(document_product) {
      let validation = true;
      let message = "";

      // Validar Lista de precio
      if (validation && this.selected_model.minimal_price) {
        if (document_product.quantity > 0 && !document_product.is_benefit) {
          if (document_product.minimalPrice) {
            let priceMin = document_product.minimalPrice.price;

            if (priceMin > 0) {
              let vr_brut = this.getTotalValueBrutDocumentProduct(document_product);
              let vr_vrut_prod = parseInt(vr_brut / parseInt(document_product.quantity));

              if (parseInt(vr_vrut_prod) < parseInt(priceMin)) {
                validation = false;
                message = "El Valor Bruto Unitario del producto (" +
                  document_product.product.code +
                  ") no puede ser menor al precio Minimo. (" +
                  this.currencyFormatter(priceMin) + ")";
              }
            }
          }
        }
      }

      if (!validation) {
        Notification.error({
          title: "¡Error!",
          message: message,
          type: "error",
          duration: 3000,
          customClass: "notification-box"
        });
      }

      return validation;
    },
    currencyFormatter(value) {
      if (value !== 'undefined' && value !== undefined) {
        return '$' + Math.floor(value)
          .toString()
          .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      }

      return ''
    },
    validateAllDocumentProducts() {
      let validation = true;

      return Promise.all(
        this.cart.documents_products.map(async dp => {
          var vdp = await this.validateDocumentProduct(dp);
          if (!vdp) {
            validation = false;
          }
        })
      ).then(() => {
        return validation;
      });
    },
    async validateProspectClient(validation) {
      let contactCustomer = await this.getCustomerCategoty(this.user_b2b.contact.customer.id)
      if (contactCustomer != null) {
        if (contactCustomer.category_id == 24473) {
          validation = false
          Notification.error({
            title: "¡Error!",
            message: "No es posible generar pedido a cliente prospecto",
            type: "error",
            duration: 5000,
            customClass: "notification-box"
          });
        }
      }
      return validation
    },
    getTotalValueBrutDocumentProduct(document_product) {
      if (document_product) {
        let vr_unit = parseInt(document_product.unit_value_before_taxes);
        let quantity = parseInt(document_product.quantity);
        let discount_value = document_product.discount_value_unit * quantity;

        // Valor bruto
        let vr_brut = parseInt(vr_unit * quantity);

        return parseInt(vr_brut - discount_value);
      }
    },
    removeCartItemsPromotion(promotion) {
      promotion.samePromotion.map(product => {
        this.removeCartItems(product);
      });

      // Recargar los elementos del carrito
      let user_b2b = JSON.parse(localStorage.user_b2b);
      this.setUserLoguedB2b(user_b2b);

      let parameters = {
        contact_id: this.user_b2b.contact_id,
        branchoffice_id: this.user_b2b.id,
        user_id: this.user_logued.id
      };

      this.fetchCart(parameters);
    },
    async _getModalPromotions(prod) {
      this.toggle_right();
      await this.setlabelButtonPromotion("Actualizar Promocion");
      await this.setPromotionUpdate(prod);
      await this.setShowPromotionsModal(true);
    },
    console(argument) {
      console.log(argument);
    }
  },
  computed: {
    ...mapState("cart", [
      "cart",
      "total",
      "pdf",
      "error",
      "errorMessage",
      "last_cart",
      "selected_model"
    ]),
    ...mapState("catalog", ["showPromotionsModal", "selectedProduct"]),
    boton: function() {
      let bot = false;
      if (this.cart.documents_products) {
        this.cart.documents_products.map(p => {
          bot = p.quantity >= 1;
        });
      }
      return bot;
    },
    diff: function() {
      let difference = this.minimum_ammount - this.subtotal;
      if (difference <= 0) {
        this.accomplished_amount = false;
      }
      return difference;
    },
    descuento: function() {
      let suma = 0;

      if (this.cart.documents_products) {
        this.cart.documents_products.map(p => {
          if (!p.promotion_id) {
            suma += p.discount_value * p.quantity;
          } else {
            suma += p.discount_value;
          }
        });
      }

      return suma;
    },
    subtotal: function() {
      let sum = 0;

      if (this.cart.documents_products) {
        this.cart.documents_products.map(p => {
          let real_subtotal = p.unit_value_before_taxes - p.discount_value;

          if (!p.promotion_id) {
            sum += p.quantity * real_subtotal;
          } else {
            sum += p.gross_value;
          }
        });
      }

      return sum;
    },
    iva: function() {
      let sum = 0;

      if (this.cart.documents_products) {
        this.cart.documents_products.map(p => {
          let value = p.unit_value_before_taxes - p.discount_value;

          if (!p.promotion_id) {
            sum += (p.quantity * value * 19) / 100;
          } else {
            sum += (p.gross_value * 19) / 100;
          }
        });
      }

      return sum;
    },
    total: function() {
      let sum = this.subtotal + this.iva;

      this.setTotal(sum);
      return sum;
    },
    ...mapState("login", ["user_b2b", "user_logued"]),
    ...mapState("relativeProductsForm", [
      "brands",
      "categories",
      "groups",
      "related",
      "imagen",
      "productsForm",
      "params"
    ])
  }
};
</script>

<style>
.spanDiscountValue {
  position: relative !important;
  width: 100%;
  height: 100%;
  background-color: #d5f3d3;
}

.inputDiscountValue {
  background-color: #d5f3d3;
  border-radius: 0px;
  width: 130px;
  height: 100%;
}

.contacto {
  position: fixed;
  bottom: 10%;
  list-style: none;
  right: 0;
  z-index: 900;
  width: 63px;
}

.whatsapp {
  width: 67px;
  margin-top: 5px;
}

.phone {
  width: 88%;
  margin-top: 5px;
}

.order-box {
  color: #000ea8;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.order-box .el-button--primary {
  background: #000ea8 !important;
  border-color: #000ea8 !important;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.table-ca {
  display: none;
}

.titulo {
  text-align: center;
  color: #000ea8;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.orden {
  margin-left: 0px;
  margin-right: 0px;
}

.cart-table thead {
  background: #000ea8 !important;
  color: #ffffff;
  text-align: center;
}

#right-slim {
  position: relative;
  height: 100%;
  padding: 15px 20px;
}

.carrito-a {
  background: url(../../assets/img/b2b/cart-shopping.png) #000ea8 no-repeat
    center center;
  background-size: 40px auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /*text-indent: -666em;*/
  width: 60px;
  height: 100px;
  margin: -50px 0 -60px -60px;
  top: 50%;
  right: 768px;
  position: fixed;
  text-align: center;
  z-index: 900;
  transition: all 0.3s ease-in-out;
}

.carrito-b {
  background: url(../../assets/img/b2b/cart-shopping.png) #000ea8 no-repeat
    center center;
  background-size: 40px auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /*text-indent: -666em;*/
  width: 60px;
  height: 100px;
  margin: -50px 0 -60px 0px;
  top: 50%;
  right: 0px;
  position: fixed;
  text-align: center;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

button:focus {
  outline: none;
}

.cart-table {
  border-radius: 10px;
  font-size: 12px;
}

#equis {
  display: block;
  /*top: -230px;*/
  top: 0px;
  right: -980px;
  margin: -50px 0 -60px -60px;
  position: absolute;
}

.finalizar {
  background: #000ea8;
  border: 1px solid #000ea8;
  display: block;
  margin-left: 40%;
}

.finalizar:hover {
  background: #000ea8;
  border: 1px solid #000ea8;
  display: block;
  color: #c00000;
}

.valores-finales {
  display: block;
  text-align: right;
  margin-right: 60px;
}

.valores-finales .titulo-valor {
  margin-right: 60px;
}

.boton-tel {
  background: #000ea8;
  border: 1px solid #000ea8;
  border-radius: 5px;
  padding-bottom: 5px;
  width: 60px;
  margin-left: 3px;
}

.finalizar {
  background: #000ea8;
  border: 1px solid #000ea8;
  display: block;
  margin-left: 35%;
}

.finalizar:hover {
  background: #000ea8;
  border: 1px solid #000ea8;
  display: block;
  margin-right: 60px;
  color: #c00000;
}

.eliminar {
  width: 35px !important;
  background-color: #c00000;
  border-color: #c00000;
  color: #ffffff;
}

.eliminar:hover {
  background-color: #c00000;
  border-color: #c00000;
  color: #ffffff;
}

.table th,
.table td {
  padding: 0px 7px !important;
  vertical-align: middle;
}

.cantidad {
  text-align: center;
}

.valores {
  text-align: right;
}

.ped {
  width: 60px;
  text-align: center;
}

.close {
  padding: 6px 10px;
  margin-top: -8px;
}

@media (max-width: 545px) {
  .contacto {
    right: -13px;
  }

  .valores-finales .titulo-valor {
    margin-right: 20px;
  }

  .carrito-a {
    background: none;
    background-size: 40px auto;
    border: none;
    width: 60px;
    height: 100px;
    margin: -50px 0 -60px -60px;
    top: 19px;
    right: 18px;
    position: absolute;
    text-align: center;
    z-index: 900;
    transition: all 0.3s ease-in-out;
  }

  .cart-table {
    /*display: none;*/
  }

  .table-ca {
    display: block;
  }

  #equis {
    display: block;
  }
}

@media (min-width: 361px) and (max-width: 500px) {
  .contacto {
    right: 8px;
  }

  .inputDiscountValue {
    background-color: #d5f3d3;
    border-radius: 0px;
    width: 100px !important;
  }
}

@media (max-width: 360px) {
  .contacto {
    right: 16px;
  }

  .inputDiscountValue {
    background-color: #d5f3d3;
    border-radius: 0px;
    width: 100px !important;
  }
}

.link {
  color: #2377d3 !important;
}

.link:hover {
  color: #165dab !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

/**RESPONSIVE TABLE CART MOVIL**/
.table-cart-movil {
  display: none;
}

@media (min-width: 320px) and (max-width: 800px) {
  .table-cart-movil {
    display: block;
  }

  .table-cart-desktop {
    display: none;
  }
}

.number-cart {
  color: #fff !important;
  margin-top: -40px !important;
}

@media (max-width: 768px) {
  .carrito-a {
    background: none;
    background-size: 40px auto;
    border: none;
    width: 60px;
    height: 100px;
    margin: -50px 0 -60px -60px;
    top: 20px;
    right: 18px;
    position: fixed;
    text-align: center;
    z-index: 900;
    transition: all 0.3s ease-in-out;
  }

  #equis {
    display: block;
  }

  .carrito-b {
    background-size: 30px auto;
    width: 90px;
    height: 40px;
    top: 100%;
    transition: all 0.3s ease-in-out;
  }

  .number-cart {
    color: #fff !important;
    margin-top: -0px !important;
    margin-left: 45px;
    font-size: 12px;
  }

  @media screen and (max-width: 768px), screen and (max-height: 425px) {
    .carrito-a {
      background: none;
      background-size: 40px auto;
      border: none;
      width: 60px;
      height: 100px;
      margin: -50px 0 -60px -60px;
      top: 20px;
      right: 18px;
      position: fixed;
      text-align: center;
      z-index: 900;
      transition: all 0.3s ease-in-out;
    }

    #equis {
      display: block;
    }

    .carrito-b {
      background-size: 30px auto;
      width: 90px;
      height: 40px;
      top: 100%;
      transition: all 0.3s ease-in-out;
    }

    .number-cart {
      color: #fff !important;
      margin-top: -0px !important;
      margin-left: 45px;
      font-size: 12px;
    }

    #right-slim {
      position: relative;
      height: 100%;
      padding: 3px 12px;
    }
  }
}
</style>
