<template>
  <b-modal
    v-model="isVisible"
    size="lg"
    hide-footer
    header-class="header-modal-u2"
    no-close-on-esc
    @hidden="closeModal()"
  >
    <!-- HEADER -->
    <template v-slot:modal-header="{ close }">
      <h5 v-if="branchOfficesWarehousesAvailableProduct.product">
        {{branchOfficesWarehousesAvailableProduct.product.code}} - {{branchOfficesWarehousesAvailableProduct.product.description}}
      </h5>
      <h5 v-else>...</h5>
      <button
        @click="closeModal()"
        class="btn btn-sm btn-link"
      >
        x
      </button>
    </template>

    <div
      class="mx-5 my-5"
      v-if="branchOfficesWarehousesAvailableProduct.branchOfficesAvailable"
    >
      <b-table
        bordered
        hover
        responsive
        thead-class="table-header"
        :items="branchOfficesWarehousesAvailableProduct.branchOfficesAvailable"
        :fields="fields"
        foot-clone
      >
        <template v-slot:foot(branchoffice.name)="data">
          <span>Total Disponibilidad:</span>
        </template>
        <template v-slot:foot(available)="data">
          <span>{{totalAvailableCant}}</span>
        </template>
      </b-table>
    </div>

    <div
      v-if="loader"
      class="mx-5 text-center"
    >
      <b-spinner
        small
        label="Spinning"
      ></b-spinner>
      <span class="text-muted">Cargando...</span>
    </div>
  </b-modal>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
  props: {
    isVisible: {
      default: false,
      required: true,
      type: Boolean
    },
    product_id: {
      default: null,
      required: true,
    }
  },
  data () {
    return {
      loader: false,
      fields: [
        { key: 'branchoffice.name', label: 'Sede', sortable: true, },
        { key: 'available', label: 'Disponible', sortable: true, class: 'text-center' },
      ]
    }
  },
  methods: {
    ...mapActions("catalog", ["getBranchOfficesWarehousesAvailableByProduct"]),
    ...mapMutations("catalog", ["resetBranchOfficesWarehousesAvailableProduct"]),
    closeModal () {
      this.$emit("closeModal", true);
      // this.isVisible = false;
      // this.product_id = null;
      return true
    },
    async initComponent () {
      this.loader = true;

      if (this.branchOfficesWarehousesAvailableProduct.previous_product_id !== null) {

        if (this.product_id != this.branchOfficesWarehousesAvailableProduct.previous_product_id) {
          await this.resetBranchOfficesWarehousesAvailableProduct()
          if (this.product_id) {
            await this.getBranchOfficesWarehousesAvailableByProduct(this.product_id);
          }
          this.branchOfficesWarehousesAvailableProduct.previous_product_id = this.product_id
        }

      } else {
        await this.resetBranchOfficesWarehousesAvailableProduct()
        if (this.product_id) {
          await this.getBranchOfficesWarehousesAvailableByProduct(this.product_id);
        }
        this.branchOfficesWarehousesAvailableProduct.previous_product_id = this.product_id
      }


      this.loader = false;
    }
  },
  computed: {
    ...mapState("catalog", ["branchOfficesWarehousesAvailableProduct"]),
    totalAvailableCant () {
      let data = this.branchOfficesWarehousesAvailableProduct.branchOfficesAvailable;
      let count = 0

      if (data) {
        data.map((d, index) => {
          count += d.available;
        })
      }

      return count
    }
  },
  async mounted () {
    this.initComponent()
  },
};
</script>

<style>
.header-modal-u2 {
  background: #007db3 !important;
  color: #fff;
}

.table-header tr th {
  background: #007db3 !important;
  text-align: center;
  color: #fff;
}
</style>
