@media screen and (max-width: 1612px) {
	.navbar-nav {
		margin-left: -8rem;
	}
}

@media screen and (max-width: 1580px) {
	.navbar-nav {
		margin-left: -1rem;
	}
}

@media screen and (max-width: 1440px) {
	.navbar-nav {
		margin-left: -6rem;
	}
}

@media screen and (max-width: 1375px) {
	.navbar-nav {
		margin-left: -10rem;
	}
}

@media screen and (max-width: 1262px) {
	.navbar-nav {
		margin-left: -15rem;
		font-size: 10pt;
	}
}

@media screen and (max-width: 1245px) {
	.navbar-nav {
		margin-left: -28rem;
		font-size: 9pt;
	}
}

@media screen and (max-width: 1025px) {
  .navbar-expand-lg .navbar-toggler {
		display: block;
		margin-left: 6em;
	}
}

@media screen and (max-width: 630px) {
	.card {
		width: 100%;
	}

	.prod-item {
		width: 80% !important;
	}
}

@media screen and (max-width: 530px) {
	.card {
		width: 100vw !important;
	}
}
