<template>
    <aside class="right-aside">
        <!-- Content Header (Page header) -->
        <!-- <section class="content-header">
            <tabs class="mt-4"></tabs>
            <b-breadcrumb  :items="this.$route.meta.breadcrumb"/>
        </section> -->
        <!-- Main content -->
        <section class="content">
            <slot></slot>
            <!--rightside bar -->
            <cart></cart>
        </section>
        <!-- /.content -->
    </aside>
</template>
<script>
import cart from './cart'
import tabs from "../../views/tabs/index"
export default {
    name: "right-side-cart",
    components:{
        cart,
        tabs
    },
    mounted:function(){
        "use strict";
       /*  $(document).ready(function(){
            $( ".content-header .breadcrumb li" ).first().prepend( '<span class="ti-home"></span>' );
        }) */
    }
}
</script>
<style>
    .content-header{
        padding-left: 18px;
        height: auto !important;
        margin: -2px -10px 5px !important;
    }
</style>
