<template>
    <card title="Solicitud de servicios">
        <form @submit.prevent="validateForm('form')" data-vv-scope="form">
            <div class="form-body">
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6" :class="errors.has('form.contacts_warehouse_id') ? 'form-group-error text-danger': ''">
                        <label for="code">
                              <strong>
                                Cliente
                                <span class="text-danger">*</span>
                              </strong>
                            </label>
                        <el-select :disabled="this.formEditable  ||  this.resetForm" filterable clearable remote :remote-method="_getContactsWarehouses" data-vv-as=" " name="contacts_warehouse_id" v-validate="'required'" v-model="selectedRequestProduct.contacts_warehouse_id"
                            placeholder="Sucursales">
                            <el-option v-for="item in contactsWarehouse" :key="item.id" :label="item.description" :value="item.id"></el-option>
                        </el-select>
                        <span class="text-danger span-error">{{ errors.first('form.contacts_warehouse_id') }}</span>
                    </div>



                    <div class="form-group col-sm-6 col-md-6" :class="errors.has('form.contacts_warehouse_id') ? 'form-group-error text-danger': ''">
                        <label for="code">
                              <strong>
                                Tipo Solicitud
                                <span class="text-danger">*</span>
                              </strong>
                            </label>
                        <el-select :disabled="this.formEditable" @change="rebuildData" v-model="selectedRequestProduct.request_type" data-vv-as=" " clearable name="request_type" v-validate="'required'" placeholder="Escoja tipo de solicitud">
                            <el-option v-for="item in requestTypes" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                        <span class="text-danger span-error">{{ errors.first('form.request_type') }}</span>
                    </div>
                </div>
                <div class="row" v-if="selectedRequestProduct.request_type!='4'">
                    <div class="form-group col-sm-6 col-md-4">
                        <b-button :disabled="this.formEditable" v-b-modal.modal-xl @click="getProducts">Lista de productos</b-button>
                    </div>
                </div>
                <div class="row" v-if="selectedRequestProduct.request_type!='4'">
                    <div class="form-group col-sm-12 col-md-12">
                        <grid-u2 ref="grid" :columns="columns" :items="selectedRequestProduct.request_products">
                            <template slot="acciones" slot-scope="row">
                                <b-button variant="danger" @click="_deleteProductList(row.item.id)">Eliminar</b-button>
</template>

<template slot="certificate_expiration_date" slot-scope="row">
    <b-form-input v-model="row.item.certificate_expiration_date" :disabled="setDisabled()" :value="row.item.certificate_expiration_date" type="date">
    </b-form-input>
</template>
            </grid-u2>
          </div>
        </div>
        <div class="row" v-if="selectedRequestProduct.request_type=='4'">
          <div
            class="form-group col-sm-6 col-md-6"
            :class="errors.has('form.units') ? 'form-group-error text-danger': ''"
          >
            <label for="code">
              <strong>
                Unidades
                <span class="text-danger">*</span>
              </strong>
            </label>
            <input
              :disabled="this.formEditable"
              data-vv-as=" "
              v-validate="'required|integer|min_value:1'"
              type="number"
              id="units"
              name="units"
              class="form-control"
              v-model="selectedRequestProduct.units"
              placeholder="Unidades"
            />
            <span class="text-danger span-error">{{ errors.first('form.units') }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-6">
            <label for="code">
              <strong>Observacion Dirección</strong>
            </label>
            <input
              :disabled="this.formEditable"
              type="text"
              id="description"
              name="description"
              class="form-control"
              v-model="selectedRequestProduct.direc_observation"
            />
          </div>
          <div class="form-group col-sm-6 col-md-6">
            <label for="code">
              <strong>Observación Cliente</strong>
            </label>
            <input
              :disabled="this.formEditable"
              type="text"
              id="description"
              name="description"
              class="form-control"
              v-model="selectedRequestProduct.customer_observation"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6 col-md-6"></div>
        </div>
      </div>
      <div class="form-actions">
        <b-button
          :disabled="this.formEditable"
          type="submit"
          class="boton-guardar"
          :class="this.formEditable?'d-none':''"
        >
          <span class="btn-label">
            <i class="ti-save-alt"></i>
          </span> Guardar
        </b-button>


  <b-button
          :to="(this.resetForm && this.typeUser!='c') || (!this.resetForm && this.formEditable && this.renderB2B &&  this.typeUser!='c')?`/solicitud-encabezado?client=${this.selectedRequestProduct.contacts_warehouse_id}`:'/solicitud-encabezado'"
          type="button"
          variant="secondary"
          @click="_resetdefaultSelectedRequesProduct"
          class="float-left"
        >
          <span class="btn-label">
            <i class="ti-arrow-left"></i>
          </span> Volver
        </b-button>


        <b-button
          v-if=" !this.resetForm"
          :class="this.formEditable?'d-none':''"
          @click="_resetdefaultSelectedRequesProduct"
          value="Limpiar"
          class="otro-boton float-left"
        >
          <span class="btn-label">
            <i class="ti-eraser"></i>
            Limpiar
          </span>
        </b-button>
      </div>

    </form>

    <listproducts @selectedProduct="test"></listproducts>
  </card>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import loader from "./../../components/layout/loader.vue";
import card from "../../components/pages/card/card.vue";
import listproducts from "../products/list-products.vue";
import GridU2 from "../../components/u2/grid";
export default {
    components: {
        card,
        listproducts,
        GridU2
    },
    data() {
        return {
            productAdd: {
                id: null,
                units: null,
                quantity: null,
                description: "",
                serial: "",
                certificate_expiration_date: "",
                fault_description: ""
            },

            requestTypes: [{
                    value: 1,
                    label: "Mantenimiento Baterias"
                },
                {
                    value: 2,
                    label: "Garantia Baterias"
                },
                {
                    value: 3,
                    label: "Garantia Autopartes"
                },
                {
                    value: 4,
                    label: "Recoleccion Chatarra"
                }
            ]
        };
    },
    async beforeMount() {

        this.setFormEditable(false);

        this.initComponent();

        this.buildColumnsGrid();
    },
    methods: {
        async initComponent() {
            let id = this.$route.params.idv;
            let query = this.$route.query;

            if (id) {
                this.setFormEditable(true);
                await this.getRequestHeraderBiId(id);
                this.contactWarehousesBiId(
                    this.selectedRequestProduct.contacts_warehouse.id
                );
            } else if (query.client) {

                this.setContactsWarehouseId(parseInt(query.client));
                this.contactWarehousesBiId(
                    this.selectedRequestProduct.contacts_warehouse_id
                );
                this.setResetForm(true);
            } else {
                let user = localStorage.getItem("user");
                let l = JSON.parse(user);
                this.setTypeUser(l.type);
                this.setParamRole(l.get_roles[0].role);
                this.setParamTypeUser(l.type);
                this.setParamContactId(l.contact_id);
                if ((l.get_roles[0].role == 'Vendedor' && l.type == 'e') || l.type == 'c') {
                    await this.contactWarehousesBiContact();
                    this.getByIdArray();
                }
            }






        },

        // consulta de productos de acuerdo a contact_warehouse
        _setbranchoffice_warehouse_id(warehouse_id) {
            this.setbranchoffice_warehouse_id(warehouse_id);
        },
        setDisabled() {
            return !this.formEditable ? false : true;
        },
        setType() {
            return !this.formEditable ? "date" : "text";
        },
        maintenanceTypevRequestValidation() {
            //  validacion solicitud de servicio n1
            if (this.selectedRequestProduct.request_type == "1") {
                let $serial = this.selectedRequestProduct.request_products.every(
                    element => element.serial != ""
                );
                if (!$serial) {
                    this.$alert("debes de indicar el serial  a los productos", "Error", {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass: "notification-error"
                    });
                } else {
                    let $certificate_expiration_date = this.selectedRequestProduct.request_products.every(
                        element => element.certificate_expiration_date != ""
                    );

                    if (!$certificate_expiration_date) {
                        this.$alert(
                            "debes de indicar la fecha de expiracion de los productos",
                            "Error", {
                                confirmButtonText: "Aceptar",
                                type: "error",
                                customClass: "notification-error"
                            }
                        );
                    } else {
                        this.create();
                        this.initComponent();
                    }
                }
            }
        },

        validationRequestTypeWarrantyBatteries() {
            //  validacion solicitud de servicio n2
            if (this.selectedRequestProduct.request_type == "2") {
                let $serial = this.selectedRequestProduct.request_products.every(
                    element => element.serial != ""
                );
                if (!$serial) {
                    this.$alert("debes de indicar el serial del producto", "Error", {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass: "notification-error"
                    });
                } else {
                    let $certificate_expiration_date = this.selectedRequestProduct.request_products.every(
                        element => element.certificate_expiration_date != ""
                    );

                    if (!$certificate_expiration_date) {
                        this.$alert(
                            "debes de indicar una fecha de expiración a los productos",
                            "Error", {
                                confirmButtonText: "Aceptar",
                                type: "error",
                                customClass: "notification-error"
                            }
                        );
                    } else {
                        let $fault_description = this.selectedRequestProduct.request_products.every(
                            element => element.fault_description != ""
                        );
                        if (!$fault_description) {
                            this.$alert(
                                "debes de indicar una descripción de la falla a los productos",
                                "Error", {
                                    confirmButtonText: "Aceptar",
                                    type: "error",
                                    customClass: "notification-error"
                                }
                            );
                        } else {
                            this.create();
                            this.initComponent();
                        }
                    }
                }
            }
        },

        validationRequestTypeWarrantyAutoParts() {
            //  validacion solicitud de servicio n3
            if (this.selectedRequestProduct.request_type == "3") {
                let $quantity = this.selectedRequestProduct.request_products.every(
                    element => element.quantity > 0
                );
                if (!$quantity) {
                    this.$alert("debes de indicar cantidades a los productos", "Error", {
                        confirmButtonText: "Aceptar",
                        type: "error",
                        customClass: "notification-error"
                    });
                } else {
                    let $fault_description = this.selectedRequestProduct.request_products.every(
                        element => element.fault_description != ""
                    );
                    if (!$fault_description) {
                        this.$alert(
                            "debes de indicar una descripción de la falla a los productos",
                            "Error", {
                                confirmButtonText: "Aceptar",
                                type: "error",
                                customClass: "notification-error"
                            }
                        );
                    } else {
                        this.create();
                        this.initComponent();
                    }
                }
            }
        },
        rebuildData(data) {
            // recarg L grid  dinamicamente
            this.$refs.grid.buildData();
            this.buildColumnsGrid();
        },
        _resetdefaultSelectedRequesProduct() {
            this.resetdefaultSelectedRequesProduct();
        },
        _getContactsWarehouses(data) {
            if (data.length >= 3) {
                this.getContactsWarehouses(data);
            }
        },
        _deleteProductList(row) {
            let i = 0;
            for (
                let index = 0; index < this.selectedRequestProduct.request_products.length; index++
            ) {
                if (this.selectedRequestProduct.request_products[index].id == row) {
                    i = index;
                }
            }
            this.selectedRequestProduct.request_products.splice(i, 1);
        },
        changeRow(row) {
            let selectedRequestProduct = this.selectedRequestProduct;
            let index = this.selectedRequestProduct.request_products.findIndex(
                pp => pp.id == row.item.id
            );
            if (index) {
                this.selectedRequestProduct.request_products.splice(index, 1, row);
            }
        },
        test(produc) {
            let prod = false;
            let selectedRequestProduct = this.selectedRequestProduct;
            prod = selectedRequestProduct.request_products.find(
                p => p.id == produc.id
            );

            if (!prod || prod == undefined) {
                let pp = JSON.parse(JSON.stringify(this.productAdd));
                pp.id = produc.id;
                pp.description = produc.description;
                selectedRequestProduct.request_products.push(pp);
                this.setProducts(selectedRequestProduct.request_products);
            }
        },
        getProducts() {
            this.params.typeRequest = this.selectedRequestProduct.request_type;
            this.searchProducts();
        },

        buildColumnsGrid() {
            //Columnas para la tabla
            this.columns = [{
                    name: "Codigo",
                    field: "id",
                    width: 150
                },
                {
                    name: "Descripcion",
                    field: "description",
                    width: 400
                },
                {
                    name: "Cantidad",
                    field: "quantity",
                    format: "number",
                    editable: !this.formEditable,
                    visible: this.selectedRequestProduct.request_type == "3",
                    width: 140
                },
                {
                    name: "Serial",
                    field: "serial",
                    editable: !this.formEditable,
                    format: "text",
                    visible: this.selectedRequestProduct.request_type == "1" ||
                        this.selectedRequestProduct.request_type == "2",
                    width: 140
                },
                {
                    name: "Fec-Venc-Certif",
                    field: "certificate_expiration_date",
                    width: 140,
                    visible: this.selectedRequestProduct.request_type == "1" ||
                        this.selectedRequestProduct.request_type == "2",
                    format: "text",
                    editable: !this.formEditable
                },
                {
                    name: "Descripcion fallo",
                    field: "fault_description",
                    editable: !this.formEditable,
                    visible: this.selectedRequestProduct.request_type == "3" ||
                        this.selectedRequestProduct.request_type == "2",
                    format: "text"
                },
                {
                    name: "Acciones",
                    field: "acciones",
                    visible: !this.formEditable
                }
            ];
        },
        //Validacion del formulario
        async validateForm(scope) {
            await this.$validator.validateAll(scope).then(async result => {
                if (result) {
                    if (
                        this.selectedRequestProduct.request_products.length <= 0 &&
                        this.selectedRequestProduct.request_type != "4"
                    ) {
                        this.$alert(
                            "debes de seleccionar por lo menos un producto",
                            "Error", {
                                confirmButtonText: "Aceptar",
                                type: "error",
                                customClass: "notification-error"
                            }
                        );
                    } else {
                        this.maintenanceTypevRequestValidation();
                        this.validationRequestTypeWarrantyBatteries();
                        this.validationRequestTypeWarrantyAutoParts();
                        if (this.selectedRequestProduct.request_type == "4") {
                            this.create();
                            this.initComponent();
                        }
                    }
                } else {
                    this.$alert(
                        "Algunos campos no se registraron correctamente",
                        "Error", {
                            confirmButtonText: "Aceptar",
                            type: "error",
                            customClass: "notification-error"
                        }
                    ).then(verifica => {});
                }
            });
        },

        async create() {
            //capturo los datos de la persona q inicia la sesion
            let user = localStorage.getItem("user");
            let l = JSON.parse(user);
            this.selectedRequestProduct.contact_id = l.contact.id;
            await this.addRequestProduct();
            this.resetdefaultSelectedRequesProduct();
        },
        ...mapActions("requestproducts", [
            "addRequestProduct",
            "contactWarehousesBiId",
            "getContactsWarehouses",
            "getRequestHeraderBiId",
            'contactWarehousesBiContact',
            'getByIdArray'

        ]),
        ...mapMutations("products", ["setbranchoffice_warehouse_id"]),
        ...mapMutations("requestproducts", [
            "setAction",
            "setProducts",
            "setResetForm",
            "setFormEditable",
            "resetdefaultSelectedRequesProduct",
            "setContactsWarehouseId",
            'setTypeUser',
            'setContactId',
            'setParamContactId',
            'setParamRole',
            'setParamTypeUser'
        ]),

        ...mapMutations("prices", ["setBranchs", "setListPrices"]),
        ...mapActions("prices", ["getBranchs", "getListPrices"]),
        ...mapActions("products", ["searchProducts"])
    },
    computed: {
        ...mapState("requestproducts", [
            "action",
            "formEditable",
            "contactsWarehouse",
            "selectedRequestProduct",
            "error",
            'paramsRP',
            "resetForm",
            "errorMessage",
            'typeUser',
            'renderB2B'
        ]),

        ...mapState("prices", ["branchs"]),
        ...mapState("products", ["params", "codes"])
    },

    // consulta de productos de acuerdo a contact_warehouse
    created() {
        this._setbranchoffice_warehouse_id(
            Number(localStorage.getItem("selected_branchoffice_warehouse"))
        );
    },
    destroyed() {
        this.setContactsWarehouseId(null);
        this.setResetForm(false);
    }
};
</script>

<style>
#btnGuardar {
    padding-left: 12%;
}

#boton-guardar {
    background-color: #007db3 !important;
    color: #fff !important;
}

.b {
    font-size: 16px;
}

#picker {
    width: 100%;
}

.container {
    min-height: 0px !important;
}

#span {
    color: red;
}
</style>
