<template>
  <div class="report-content">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <b-card no-body class="mb-1" style="width: 98%">
        <b-btn
          block
          href="#"
          v-b-toggle.general_data
          id="acordeon"
          class="new-accordion accordion-title"
          @click="changeIcon"
          >Filtros Informe {{params.year? "Año "+params.year :""}}  
          
        </b-btn>
        <span class="aling-left">
          <i v-bind:class="iconAcordion"></i>
        </span>
        <span class="aling-left-sobre">

                <el-input
                  v-model="params.filter_text"
                  placeholder="Busqueda Palabra"
                  @keyup.native="validateForm"
                  style="text-transform: uppercase"
                  class="min-height-inp"
                />

          </span>
        <b-collapse v-bind:visible="true" id="general_data" role="tabpanel">
          <b-card-body class="banner-new">
            <div class="row">
              <div class="col-3">
                <label for="year">Año</label
                ><span class="text-danger">*</span> &nbsp;
                <el-date-picker
                  v-model="params.year"
                  type="year"
                  placeholder="Seleccione un Mes"
                  value-format="yyyy"
                  format="yyyy"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              
            </div>
            <div class="row">
              <div class="col-12 mb-2" style="text-align: center">
                <b-button
                  v-b-toggle.general_data
                  type="submit"
                  class="mt-4"
                  variant="primary"
                >
                  <span class="btn-label">
                    <i class="ti-search min-height"></i>
                  </span>
                  Listar
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>
    <Preloader v-if="loading.module" />
    <ag-grid-vue
      style="width: 100%; height: 90%"
      :class="ag_grid.selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="state_finaze"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :ExcelExportParams="ExcelExportParams_"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :pinnedTopRowData="pinnedTopRowData"
      :frameworkComponents="frameworkComponents"
      :pinnedBottomRowData="pinnedBottomRowData"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
    ></ag-grid-vue>
  </div>
</template>

<script>
import { AgGridVue } from "@ag-grid-community/vue";
// import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
// import totalRowComponent from "../../components/totalRowComponent.vue";
import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  data() {
    return {
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
      iconAcordion: "ti-angle-down",
      columnDefs: [],
      gridOptions: null,
      gridApi: null,
      statusBar: null,
      defaultColDef: null,
      rowGroupPanelShow: null,
      groupDefaultExpanded: null,
      autoGroupColumnDef: null,
      selectedTheme: "ag-theme-balham",
      ExcelExportParams_: [{ fileName: "test.xlsx" }],
      frameworkComponents: null,
      pinnedBottomRowData: null,
      pinnedTopRowData: null,
      getRowStyle: null,
      optionsThemes: [
        { value: "ag-theme-alpine", label: "Alpine" },
        { value: "ag-theme-dark", label: "Dark" },
        { value: "ag-theme-balham", label: "Balham" },
        { value: "ag-theme-balham-dark", label: "Balham dark" },
        // { value: "ag-theme-material", label: "Material" },
      ],
      themes: [
        { theme: "ag-theme-alpine", label: "Alpine" },
        { theme: "ag-theme-dark", label: "Dark" },
        { theme: "ag-theme-balham", label: "Balham" },
        { theme: "ag-theme-balham-dark", label: "Balham dark" },
        { theme: "ag-theme-material", label: "Material" },
      ],
      sideBar: {
        toolPanels: [
          {
            id: "columns",
            labelDefault: "Columnas",
            labelKey: "columns",
            iconKey: "columns",
            toolPanel: "agColumnsToolPanel",
          },
          {
            id: "filters",
            labelDefault: "Filtros",
            labelKey: "filters",
            iconKey: "filter",
            toolPanel: "agFiltersToolPanel",
          },
        ],
        //defaultToolPanel: "filters",
        hiddenByDefault: false,
      },
      gridColumnApi: null,
      columnTypes: null,
      modules: AllModules,
    };
  },
  components: {
    AgGridVue,
    Card,
    Preloader,
    ModalAccount,
  },
  created(){
        this.init();
  },
  async beforeMount() {
    this.gridOptions = {};

    this.autoGroupColumnDef = { minWidth: 450 };

    this.columnDefs = [
      {
        field: "code",
        headerName: "Codigo",
        cellClass: "yes-bold-soft",
      },
      {
        field: "name",
        headerName: "Cuenta",
        cellClass: "yes-bold-soft",
      },
      {
        field: "enero",
        headerName: "Enero",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '01');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
      },
      {
        field: "febrero",
        valueGetter: this.getContactName,
        headerName: "Febrero",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '02');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "marzo",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '03');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        headerName: "Marzo",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '03');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "abril",
        field: "document.branchoffice.name",
        headerName: "Abril",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '04');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "mayo",
        headerName: "Mayo",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '05');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "junio",
        headerName: "Junio",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '06');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "julio",
        headerName: "Julio",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '07');
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "agosto",
        headerName: "Agosto",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '08');
            
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "septiembre",
        headerName: "Septiembre",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '09');
            
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "octubre",
        valueFormatter: this.currencyFormatter,
        headerName: "Octubre",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '10');
            
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "noviembre",
        valueFormatter: this.currencyFormatter,
        headerName: "Noviembre",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '11');
            
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
      {
        field: "diciembre",
        valueFormatter: this.currencyFormatter,
        headerName: "Diciembre",
        valueGetter: params => {
          let info = Object.values(params.data);
          if(info[3] !== undefined){
            let subinfo = Object.values(info[3]);
            let valuefinal = subinfo.filter(word => word.mes == '12');
            
            if(valuefinal.length > 0){
              return valuefinal[0]['final_balance'];
            }else{
              return "0";
            }
          }else{
            return "0";
          }

        },
        filter: "agNumberColumnFilter",
        valueFormatter: this.currencyFormatter,
        cellClass: "yes-bold-soft aling-left-text",
      },
    ];

    this.getRowStyle = (params) => {
      if (params.node.rowPinned) {
        return {
          color: "#3d3d3d",
          "font-size": "15px",
          "font-weight": "bold",
          background: "#c1c1c1",
          "border-top": "1px solid #fff",
        };
      }
    };

    this.defaultColDef = {
      minWidth: 120,
      enableValue: true,
      enableRowGroup: true,
      sortable: true,
      filter: true,
      floatingFilter: true,
      resizable: true,
    };

    this.statusBar = {
      statusPanels: [
        {
          statusPanel: "agTotalAndFilteredRowCountComponent",
          align: "left",
        },
        {
          statusPanel: "agTotalRowCountComponent",
          align: "center",
        },
        { statusPanel: "agFilteredRowCountComponent" },
        { statusPanel: "agSelectedRowCountComponent" },
        { statusPanel: "agAggregationComponent" },
      ],
    };

    this.groupDefaultExpanded = 0;
    this.rowGroupPanelShow = "always";

    // this.gridApi.openToolPanel("columns");

    this.pinnedBottomRowData = this.createData();

    this.frameworkComponents = {
      customPinnedRowRenderer: totalRowComponent,
    };
  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridColumnApi = this.gridOptions.columnApi;
  },
  computed: {
    ...mapState("statefinaze", [
      "state_finaze",
      "ag_grid",
      "loading",
      "params",
      "params_cotact",
      "contacts",
    ]),
  },
  methods: {
    ...mapMutations('statefinaze', ['setParams']),
    ...mapActions('statefinaze', ['fetchstatefinaze']),
    validateFinalBalance(params){
      let res = "";
      if(params.data.account){
        if(params.data.balance == 0){
          res = 0; //yes-bold-soft aling-left-text
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 1){
          res = 1;//yes-bold-soft aling-left-text bad-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 1){
          res = 2;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 2){
          res = 3;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 2){
          res = 4;//yes-bold-soft aling-left-text bad-score
        }

      }else{
        res = 0;
      }
      
      return res;
    },
    onBtExport() {
      var params = {
        fileName: "Libro-auxiliar-por-tercero.xlsx",
      };
      this.gridApi.exportDataAsExcel(params);
    },
    onBtCsv() {
      var params = {
        fileName: "Libro-auxiliar-por-tercero.csv",
      };
      this.gridApi.exportDataAsCsv(params);
    },
    filterChanged(params) {
      let result = {
        enero: 0,
        febrero: 0,
        marzo: 0,
        abril: 0,
        mayo: 0,
        junio: 0,
        julio: 0,
        agosto: 0,
        septiembre: 0,
        octubre: 0,
        noviembre: 0,
        diciembre: 0,
      };

      params.api.forEachNodeAfterFilter(i => {
        result.enero += Number(i.data.enero);
        result.febrero += Number(i.data.febrero);
        result.marzo += Number(i.data.marzo);
        result.abril += Number(i.data.abril);
        result.mayo += Number(i.data.mayo);
        result.junio += Number(i.data.junio);
        result.julio += Number(i.data.julio);
        result.agosto += Number(i.data.agosto);
        result.septiembre += Number(i.data.septiembre);
        result.octubre += Number(i.data.octubre);
        result.noviembre += Number(i.data.noviembre);
        result.diciembre += Number(i.data.diciembre);
      });

      this.pinnedBottomRowData = [result];
    },
    createData() {
      let result = [
        {
          enero: 0,
          febrero: 0,
          marzo: 0,
          abril: 0,
          mayo: 0,
          junio: 0,
          julio: 0,
          agosto: 0,
          septiembre: 0,
          octubre: 0,
          noviembre: 0,
          diciembre: 0,
        },
      ];

      for (let element in result[0]) {
        result[0][element] = this.state_finaze.reduce(
          (total, currentValue) => total + (currentValue[element] || 0),
          0
        );
      }

      return result;
    },
    getContactName(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.contact) {
        return `${params.data.contact.name} ${
          params.data.contact.surname || ""
        } `;
      } else {
        return "";
      }
    },
    getDebitValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "D") {
        return `${params.data.operation_value}`;
      }
    },
    getCreditValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "C") {
        return `${params.data.operation_value}`;
      }
    },
    currencyFormatter(params) {
      if (params.value !== "undefined" && params.value !== undefined) {
        return this.formatNumber(params.value);
      }

      return "";
    },
    formatNumber(number) {
      return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
    },
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;

      // si la cuenta hasta es vacia se sugiere la cuenta desde
      this.params.account_up =
        this.params.account_up == null || this.params.account_up == ""
          ? account.code
          : this.params.account_up;
      this.params.description_account_up =
        this.params.description_account_up == null ||
        this.params.description_account_up == ""
          ? account.code + " - " + account.name
          : this.params.description_account_up;
      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },
    async fetchContact(filter) {
      this.params_cotact.query = filter;
      await this.fetchContacts();
    },
    async validateForm() {
      // if (
      //   (this.params.contact_warehouse_id == null &&
      //     this.params.contact_id == null) ||
      //   this.params.contact_warehouse_id == "" ||
      //   this.params.contact_id == ""
      // ) {
      //   this.$notify({
      //     title: "Atención",
      //     message: "Debe Selecconar Tercero o Sucursal",
      //     type: "warning",
      //   });
      //   return false;
      // }

      if (
        this.params.year == null
      ) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      }
      this.loading.module = true;
      this.fetchstatefinaze();
      await localStorage.setItem(
        "params_state_finanze",
        JSON.stringify(this.params)
      );
      //window.open('/#/reportes/libro-auxiliar-tercero','_blank');
    },
    async init() {
      await this.setDefaultYearMonth();
      this.loading.module = false;
      
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year = await this.formatDate(this.restarMes(d));
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate());
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),

        year = d.getFullYear();

      return [year].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
    changeIcon() {
      if (this.iconAcordion == "ti-angle-up") {
        this.iconAcordion = "ti-angle-down";
      } else {
        this.iconAcordion = "ti-angle-up";
      }
    },
  },
};
</script>
