<template>
  <div class="report-content">
    <div class="row m-0 py-2 report-header-gray banner-new">
      <div class="col-md-3"><img src="../../../assets/img/Logo-erp.svg" alt="" class="report-logo"></div>
      <div class="col-md-7 align-self-center color-sc"><h5>Libro Auxiliar Por Tercero</h5></div>
      <div class="col-md-2">
        <el-select size="small" v-model="ag_grid.selectedTheme">
          <el-option
            v-for="(item, index) in optionsThemes"
            :key="index"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>
    <preloader v-if="loading" mensaje="Cargando información"></preloader>
    <GriAuxiliaryBookContact v-else/>
  </div>
</template>

<script>
  import {AgGridVue} from '@ag-grid-community/vue';
  import 'ag-grid-enterprise';
  import moment from 'moment'
  import {AllModules} from '@ag-grid-enterprise/all-modules';
  import {mapActions, mapState, mapMutations} from "vuex";
  import Preloader from "../../../components/layout/preloader";
  import totalRowComponent from '../../components/totalRowComponent.vue';
  import GriAuxiliaryBookContact from '../../../components/Auxiliary-book-contact/grid-abc';

  export default {
    name: 'App',
    components: {
      AgGridVue,
      Preloader,
      GriAuxiliaryBookContact
    },
    data(){
        return {
            optionsThemes : [
              { value: "ag-theme-alpine", label: "Alpine" },
              { value: "ag-theme-dark", label: "Dark" },
              { value: "ag-theme-balham", label: "Balham" },
              { value: "ag-theme-balham-dark", label: "Balham dark" },
              // { value: "ag-theme-material", label: "Material" },
            ],
            params_a : null,
            loading : true
        }
    },
    computed: {
      ...mapState('auxiliarybookcontact', ['params', 'ag_grid'])
      
    },
    created(){
        this.init()
    },
    methods: {
        ...mapMutations('auxiliarybookcontact', ['setParams']),
        ...mapActions('auxiliarybookcontact', ['fetchAuxiliaryBookContact']),
        async init(){
            this.params_a = await JSON.parse(localStorage.getItem("params_auxiliary_book_contact"))
            await this.setParams(this.params_a)
            await this.fetchAuxiliaryBookContact()
            this.loading = false
        }
    },
  }
</script>
