<template>
	<card title="<i class='ti-image'></i> Banners">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-md-4 col-sm-8 col-12">
						<b-form-group label="Buscar" class="mb-0">
							<b-input-group>
								<b-form-input v-model="params.filter" placeholder="" @keyup.native.enter="setFilterPagination" style="text-transform: uppercase;" />
								<b-input-group-append>
								<b-btn @click.prevent="filtro(params.filter)" id="botones"><span class="ti-search"></span></b-btn>
								</b-input-group-append>
							</b-input-group>
						</b-form-group>
					</div>
					<div class="col-md-8 col-sm-4 col-12">
						<b-button to="/banners/crear" id="boton-nuevo" class="button button-rounded button-primary-flat hvr-shrink float-right">
							Nuevo
						</b-button>
					</div>
				</div>
			</div>
			<div class="col-12 mt-3">
				<div class="table-responsive">
					<b-table striped hover show-empty :items="banners.data" :fields="fields" :no-local-sorting="true" :sort-by.sync="sortBy" :sort-desc.sync="sort">
						<template v-slot:cell(status)="row">
							<h5 class="text-center">
								<b-badge href="#" variant="success" v-if="validateDate(row.item) == 1">
									Activo
								</b-badge>
								<b-badge href="#" variant="info" v-else-if="validateDate(row.item) == 0">
									Próximo
								</b-badge>
								<b-badge href="#" variant="danger" v-else>
									Finalizado
								</b-badge>
							</h5>
						</template>
						<template v-slot:cell(actions)="row"> <!-- Definir actions en el estado -->
							<b-button size="sm" class="button-table mt-1" id="botones" :to="`/banners/${row.item.id}/editar`">Editar</b-button>
							<b-button size="sm" class="button-table mt-1" variant="danger" @click="questionDelete(row.item)">Eliminar</b-button>
						</template>
					</b-table>
				</div>
				<p>Mostrando {{ banners.from }} a {{ banners.to }} de {{ banners.total }} resultados</p>
				<b-row>
					<b-col md="6" class="my-1 form-inline">
						<label>Registros por página: &nbsp;</label>
						<b-form-select :options="[15, 30, 50,100]" v-model="params.perPage" @change.native="setPerPagePagination"/>
					</b-col>
					<b-col md="6" class="my-1">
						<b-pagination :total-rows="totalRows" :per-page="params.perPage" :current-page="params.page" v-model="params.page" class="my-0 float-right" @change="setPagePagination"></b-pagination>
					</b-col>
				</b-row>
			</div>
		</div>
	</card>
</template>

<script type="text/javascript">
	import { mapActions, mapMutations, mapState } from 'vuex'
	import Card from '../../components/pages/card/card'

	export default {
		components: {
			Card
		},
		data () {
			return {
				fields: [
					{key: 'name', label: 'Nombre', sortable: true, thStyle: {'min-width': '300px !important'}},
					{key: 'since', label: 'Desde', thStyle: {'min-width': '300px !important'}},
					{key: 'until', label: 'Hasta', thStyle: {'min-width': '280px !important', width: '280px !important'}},
					{key: 'status', label: 'Estado', thStyle: {'min-width': '280px !important', width: '280px !important'}},
					{key: 'actions', label: 'Opciones', thStyle: {'min-width': '280px !important', width: '280px !important'}}
				],
				sortBy: 'id',
				sort: true,
				curDate: null
			}
		},
		created () {
			this.sortBy = this.params.sortBy
			this.sort = this.params.sort == 'DESC' ? true : false
			this.fetchBanners()

			let d = new Date()

			let stringDate = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();

			this.curDate = new Date(stringDate)

			// this.$store.watch(() => {
			// 	return this.getParams.sort
			// }, p => {
			// 	this.fetchBanners()
			// })

			// this.$store.watch(() => {
			// 	return this.getParams.sortBy
			// }, p => {
			// 	this.fetchBanners()
			// })

			this.resetSelectedBanner()

			this.cart.items = this.cart.document_products
		},
		methods: {
			validateDate(item) {
				let since = new Date(item.since)
				let sinceString = since.getFullYear()+'-'+(since.getMonth()+1)+'-'+since.getDate();
				since = new Date(sinceString)
				since = since.setDate(since.getDate() + 1)

				let until = new Date(item.until)
				let untilString = until.getFullYear()+'-'+(until.getMonth()+1)+'-'+until.getDate();
				until = new Date(untilString)
				until = until.setDate(until.getDate() + 1)

				let curDate = this.curDate.getTime()

				if (curDate >= since && curDate <= until) {
					status = 1
				} else if (curDate > until) {
					status = 2
				} else {
					status = 0
				}

				return status

			},
			...mapActions('bannerB2b', [
				'fetchBanners',
				'removeBanner',
				'setFilterPagination',
				'setPerPagePagination',
				'setPagePagination',
				'setSortByPagination',
				'setSortPagination'
			]),
			...mapMutations('bannerB2b', [
				// 'setAction',
				'setBanner',
				'resetSelectedBanner',
				'setPerPage',
				'setFilter',
				'setGetBannerEdit'
			]),
			questionDelete(banner) {
				this.$confirm('¿Esta seguro de eliminar?', 'Eliminar', {
					confirmButtonText: 'Aceptar',
					cancelButtonText: 'Cancelar',
					type: 'warning',
					customClass:'notification-warning'
				}).then(
					(result) => {
						if (result) {
							this.deleteBanner(banner)
						}
					}
				).catch(function (result) {
				})
			},
			deleteBanner(banner) {
				this.removeBanner(banner)
			},
			filterPagination(filter) {
				this.setFilter(filter)
				this.fetchBanners()
			}
		},
		computed: {
			...mapState('bannerB2b', ['params', 'banners']),
			totalRows () {
				return this.banners.total
			}
		},
		watch: {
			sortBy (newValue, oldValue) {
				this.setSortByPagination(newValue)
			},
			'sort'(newValue, oldValue) {
				this.setSortPagination(newValue ? 'DESC' : 'ASC')
			}
		}
	}
</script>

<style lang="sass">
	@import "../../assets/sass/buttons/buttons.scss"
</style>
<style src="hover.css/css/hover-min.css"></style>
