<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<card :title="'<i class=\'fa fa-fw fa-shield\'> </i> ' + actionSpanish  + ' Banner'">
					<div style="margin-top:20px" v-if="loader">
						<loader></loader>
					</div>
					<div v-else>
						<form @submit.prevent="validateTotalForm()" data-vv-scope="form" enctype="multipart/form-data" id="form-create-update" ref="form">
							<!-- ACORDEON DE INFORMACIÓN GENERAL-->
							<div class="row">
								<div class="form-group col-sm-6 col-md-4" v-bind:class="errors.has('form.name') ? 'form-group-error': ''">
									<label for="name">Titulo<span class="text-danger">*</span></label>
									<input type="text" id="name" name="name" style="text-transform: uppercase;" class="form-control" v-validate="'required|max:255'" data-vv-as=" " :disabled="disabledInputs" v-model="selectedBanner.name" ref="name">
									<i class="text-danger icon-error"></i>
									<span class="text-danger span-error">
										{{ errors.first('form.name') }}
									</span>
								</div>
								<div class="col-md-4 col-sm-6 form-group" v-bind:class="errors.has('form.line_id') ? 'form-group-error': ''">
									<label for="line_id">Línea<span class="text-danger">*</span></label>
									<el-select
										id="line_id"
										name="line_id"
										placeholder=" "
										:disabled=isDisabled
										filterable
										clearable
										v-validate="'required'"
										data-vv-as=" "
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="selectedBanner.line_id"
										@click.native="fetchLines"
										ref="line_id"
									>
										<el-option v-for="line in lines"
											:key="line.value"
											:value="line.value"
											:label="line.label"
										></el-option>
									</el-select>
									<i class="text-danger icon-error"></i>
									<span class="text-danger span-error">
										{{ errors.first('form.line_id') }}
									</span>
								</div>
								<div class="col-md-4 col-sm-6 form-group" v-bind:class="errors.has('form.parameter_id') ? 'form-group-error': ''">
									<label for="parameter_id">Categoría de cliente<span class="text-danger">*</span></label>
									<el-select
										id="parameter_id"
										name="parameter_id"
										placeholder=" "
										:disabled=isDisabled
										filterable
										clearable
										v-validate="'required'"
										data-vv-as=" "
										no-data-text="Cargando datos..."
										no-match-text="No hay datos que coincidan"
										v-model="selectedBanner.parameter_id"
										@click.native="fetchParameters"
										ref="parameter_id"
									>
										<el-option v-for="param in parameters"
											:key="param.value"
											:value="param.value"
											:label="param.label"
										></el-option>
									</el-select>
									<i class="text-danger icon-error"></i>
									<span class="text-danger span-error">
										{{ errors.first('form.parameter_id') }}
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 form-group" v-bind:class="errors.has('form.big_banner') ? 'form-group-error': ''">
									<label for="big_banner" class="control-label">
										Banner para escritorio<span class="text-danger">*</span>
									</label>
									<div v-if="big_banner != '' && big_banner != null">
										<img :src="big_banner" :alt="selectedBanner.name" width="100%" height="400px" ref="big_banner">
										<br/><br/>
										<b-button
											:disabled=isDisabled
											type="submit"
											class="btn btn-labeled btn-danger btn-sm"
											@click.prevent="big_banner = null">
											<span class="btn-label"><i class="fa fa-trash"></i></span> Eliminar
										</b-button>
									</div>
									<div v-else>
										<b-form-file
											:disabled=isDisabled
											placeholder
											class="form-control"
											accept="image/jpeg, image/png, image/gif"
											@change="loadBigBanner"
										></b-form-file>
									</div>
									<i class="text-danger icon-error"></i>
									<span class="text-danger span-error">
										{{ errors.first('form.big_banner') }}
									</span>
								</div>
								<div class="col-md-6 form-group" v-bind:class="errors.has('form.small_banner') ? 'form-group-error': ''">
									<label for="small_banner" class="control-label">
										Banner para móvil<span class="text-danger">*</span>
									</label>
									<div v-if="small_banner != '' && small_banner != null">
										<img :src="small_banner" :alt="selectedBanner.name" width="100%" height="200px" ref="small_banner">
										<br/><br/>
										<b-button
											:disabled="disabledInputs"
											type="submit"
											class="btn btn-labeled btn-danger btn-sm"
											@click.prevent="small_banner = null">
											<span class="btn-label"><i class="fa fa-trash"></i></span> Eliminar
										</b-button>
									</div>
									<div v-else>
										<b-form-file
											:disabled="disabledInputs"
											placeholder
											class="form-control"
											accept="image/jpeg, image/png, image/gif"
											@change="loadSmallBanner"
										></b-form-file>
									</div>
									<i class="text-danger icon-error"></i>
									<span class="text-danger span-error">
										{{ errors.first('form.small_banner') }}
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 form-group" v-bind:class="errors.has('form.range_date') ? 'form-group-error': ''">
									<label for="range_date" class="control-label">Fechas de publicación<span class="text-danger">*</span></label>
									<!-- <input type="date" id="since" name="since" class="form-control" v-validate="'required'" data-vv-as=" " :disabled="disabledInputs" v-model="selectedBanner.since"> -->
									<el-date-picker
										v-model="range_date"
										type="daterange"
										id="range_date"
										name="range_date"
										range-separator="-"
										start-placeholder="Desde"
										end-placeholder="Hasta"
										v-validate="'required'"
										data-vv-as=" "
										:disabled=isDisabled
										value-format="yyyy-MM-dd"
										ref="range_date"
									>
									</el-date-picker>
									<i class="text-danger icon-error"></i>
									<span class="text-danger span-error">
										{{ errors.first('form.range_date') }}
									</span>
								</div>
								<!-- <div class="col-md-6 form-group" v-bind:class="errors.has('form.until') ? 'form-group-error': ''">
									<label for="until" class="control-label">Hasta<span class="text-danger">*</span></label>
									<input type="date" id="until" name="until" class="form-control" v-validate="'required'" data-vv-as=" " :disabled="disabledInputs" v-model="selectedBanner.until">
									<i class="text-danger icon-error"></i>
									<span class="text-danger span-error">
										{{ errors.first('form.until') }}
									</span>
								</div> -->
							</div>
						</form>
						<hr>
						<!--BOTONES DEL FORMULARIO-->
						<div class="form-actions">
							<b-button v-if="tabIndex <= 0 && !disabledInputs" type="button" class="boton-guardar" @click="validateTotalForm()">
								<span class="btn-label">
									<i class="ti-save-alt"></i>
								</span> Guardar
							</b-button>
							<b-button to="/banners" type="button" variant="secondary" class="float-left" @click.native="clearSelectedBanner">
								<span class="btn-label">
									<i class="ti-arrow-left"></i>
								</span> Volver
							</b-button>
							<b-button v-if="tabIndex <= 0 && !disabledInputs" type="reset" value="Limpiar" class="otro-boton float-left" @click.prevent="clearSelectedBanner">
								<span class="btn-label">
									<i class="ti-eraser"></i>
								</span> Limpiar
							</b-button>
						</div>
					</div>
				</card>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import { MessageBox } from 'element-ui';
	import { mapState, mapActions, mapMutations } from 'vuex'
	import loader from './../../components/layout/loader.vue'
	import card from '../../components/pages/card/card.vue'

	export default {
		name: 'maintenance',
		components: {
			card, loader
		},
		data () {
			return {
				loader: true,
				tabIndex: 0,
				path: '',
				changeTab: false,
				updateLines: false,
				updateParameters: false,
				big_banner: '',
				small_banner: '',
				range_date: []
			}
		},
		created () {
			if (this.$route.params.id) {
				this.initUpdate('update', this.$route.params.id)
			} else if (this.$route.params.idv) {
				this.initUpdate('view', this.$route.params.id)
			} else {
				this.setGetBannerEdit(true)
				this.updateLines = true
				this.updateParameters = true
				this.changeTab = true
				this.setAction('create')
				this.loader = false
			}

			// this.$store.watch(() => {
			// return this.selectedBanner.line_id
			// }, p => {

			// 	if (this.updateLines) {
			// 		this.selectedBanner.line_id = ""
			// 	}
			// })
		},
		methods: {
			async initUpdate(action, id) {
				this.setAction(action)
				this.setGetBannerEdit(true)
				await this.getBanner(id)
				await this.fetchLines()
				await this.fetchParameters()
				this.range_date = [this.selectedBanner.since, this.selectedBanner.until]
				this.big_banner = this.selectedBanner.big_banner
				this.small_banner = this.selectedBanner.small_banner
				this.changeTab = true
				this.updateLines = true
				this.updateParameters = true
				this.loader = false
			},
			clearSelectedBanner () {
				this.resetSelectedBanner()
				this.$validator.reset('form')
			},
			validateTotalForm() {
				if (this.selectedBanner.big_banner == null || this.selectedBanner.big_banner == "") {
					this.errors.add({
						scope: 'form',
						field: 'big_banner',
						msg: 'El campo es obligatorio.'
					})
				}
				if (this.selectedBanner.small_banner == null || this.selectedBanner.small_banner == "") {
					this.errors.add({
						scope: 'form',
						field: 'small_banner',
						msg: 'El campo es obligatorio.'
					})
				}

				this.$validator.validateAll('form').then((result) => {
					if (result) {
						if (this.action == 'create') {
							this.create()
						} else if (this.action == 'update') {
							this.update()
						}
					} else {
						this.$alert("Algunos campos no se registraron correctamente", "Error", {
							confirmButtonText: "Aceptar",
							type: "error",
							customClass:'notification-error'
						}).then(verifica => {});
					}
				});
			},
			loadBigBanner(e) {
				let typeImages = ['jpg', 'png', 'gif']
				let extension = e.target.value.split('.').pop()
				if (typeImages.indexOf(extension, 0) >= 0) {
					let fileReader = new FileReader();
					fileReader.readAsDataURL(e.target.files[0]);
					fileReader.onload = e => {
						this.big_banner = e.target.result;
						this.bigBannerImage(this.big_banner);
					};
				} else {
					this.errors.add({
						scope: 'form',
						field: 'big_banner',
						msg: 'Tipo de archivo no válido.'
					})
				}




					// Obtener dimensiones de la imagen
					// var foto=new Image();
					// foto.src= this.big_banner;
					// document.images[0].src=foto.src;
					// var ancho=foto.width;
					// var alto=foto.height;
			},
			loadSmallBanner(e) {
				let typeImages = ['jpg', 'png', 'gif']
				let extension = e.target.value.split('.').pop()
				if (typeImages.indexOf(extension, 0) >= 0) {
					let fileReader = new FileReader();
					fileReader.readAsDataURL(e.target.files[0]);
					fileReader.onload = e => {
						this.small_banner = e.target.result;
						this.smallBannerImage(this.small_banner);
					};
				} else {
					this.errors.add({
						scope: 'form',
						field: 'small_banner',
						msg: 'Tipo de archivo no válido.'
					})
				}
			},
			async create() {
				this.selectedBanner.since = this.range_date[0]
				this.selectedBanner.until = this.range_date[1]
				await this.addBanner()
				if (!this.error) {
					this.resetSelectedBanner()
					this.big_banner = null
					this.small_banner = null
					this.range_date = null
				}
			},
			async update() {
				this.selectedBanner.since = this.range_date[0]
				this.selectedBanner.until = this.range_date[1]
				await this.updateBanner()
				if (!this.error) {
					this.$router.push(`/banners/${this.selectedBanner.id}/editar`)
					setTimeout(() => {
						this.initUpdate('update', this.selectedBanner.id)
					}, 1000)
				}
			},
			...mapActions('bannerB2b', [
				'addBanner',
				'updateBanner',
				'getBanner',
				'fetchLines',
				'fetchParameters',
				'bigBannerImage',
				'smallBannerImage'
			]),
			...mapMutations('bannerB2b', [
				'resetSelectedBanner',
				'setAction',
				'setGetBannerEdit'
			]),
		},
		computed: {
			...mapState('bannerB2b', [
				'action',
				'selectedBanner',
				'error',
				'getBannerEdit',
				'lines',
				'parameters'
			]),
			isDisabled() {
				return this.action == 'view'
			},
			errorsBanner () {
				return this.errors.items.filter(i => i.scope == 'form').length > 0 ? 'nav-link-error' : ''
			},
			actionSpanish() {
				switch (this.action) {
					case 'create':
						return 'Crear'
					break
					case 'update':
						return 'Editar'
					break
					case 'view':
						return 'Ver'
					break
				}
			},
			disabledTabs() {
				return this.action == 'create'
			},
			disabledInputs() {
				return this.action == 'view'
			}
		}
	}
</script>

<style>
	.el-input__inner {
		height: 31.25px !important;
	}

	.el-date-editor .el-range-separator{
		line-height: 22px !important;
		width: 64px !important;
	}
	.el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner{
		width: 100% !important;
	}

	.el-range-editor.is-disabled{
		background-color: #e9ecef !important;
		border-color: #ced4da !important;
	}

	.el-range-editor.is-disabled input{
		background-color: #e9ecef !important;
		color: #495057 !important;
	}
	.el-range-editor.is-disabled .el-range-separator{
		 color: #495057 !important;
	}
	.el-date-editor .el-range__icon{
		color: #495057 !important;
	}

	@media (min-width: 522px) and (max-width: 665px) {
		.el-date-range-picker{
			width: 509px;

		}
		.el-picker-panel .el-date-range-picker .el-popper{
			left: 4px
		}
	}
	@media (min-width: 501px) and (max-width: 521px) {
		.el-picker-panel__content.is-left{
			width: 64% !important;
			padding: 10px 0px 10px 160px !important

		}
		.el-date-range-picker__content.is-right{
		  padding:10px 0px 0px 0px !important;
		  width: 36% !important;
		}

		.el-date-table td{
			padding: 0px !important;
		}
	}
	@media (min-width: 321px) and (max-width: 500px) {
		.el-picker-panel__content.is-left{
			width: 100% !important;
			padding: 10px 10px 10px 300px !important;

		}
		.el-date-range-picker__content.is-right{
		  padding:10px 10px 10px 300px !important;
		  width: 100% !important;
		}

		.el-date-table td{
			padding: 0px !important;
		}
	}
	@media (max-width: 320px) {
		.el-picker-panel__content.is-left{
			width: 100% !important;
			padding: 45px 9px 29px 341px !important;

		}
		.el-date-range-picker__content.is-right{
		  padding: 0px 9px 29px 341px !important;
		  width: 100% !important;
		}

		.el-date-table td{
			padding: 0px !important;
		}
	}
	.form-group-error input {
		border: 1px solid #fff !important;
	}
</style>
