<template>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-aside sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar -->
    <section class="sidebar">
      <div id="menu" role="navigation">
        <div class="nav_profile">
          <profile></profile>
        </div>
        <div class="mb-2">
          <!-- MENU -->
          <!-- <el-select v-model="left_menu.selected_menu"
                     size="small"
                     class="select-module-input"
                     placeholder="Modulo"
                     :disabled="user_logued.modules.length <= 1"
          >
            <el-option
              v-for="item in menu"
              v-if="!!user_logued.modules.find(module => module.id === item.id)"
              :key="item.id"
              :label="item.name"
              :value="item.id"/>
          </el-select> -->
          <input
            id="filter-menu"
            type="text"
            class="search-module-input"
            style="text-transform: uppercase"
            v-model="search_item"
            placeholder="Buscar modulo..."
            @keyup.enter="enterToSelectedCoincidence()"
            autocomplete="off"
          />
        </div>
        <vmenu
          v-for="module in menu"
          :key="module.id"
          v-if="module.id === left_menu.selected_menu"
        >
          <div v-if="search_item === ''">
            <div v-for="(item_menu, index) in module.first_level" :key="index">
              <vmenu-item
                v-if="!item_menu.second_level.length"
                :link="item_menu.url"
                :icon="item_menu.icon"
                >&nbsp;
                {{ item_menu.description }}
              </vmenu-item>
              <vsub-menu
                v-else
                :title="item_menu.description"
                :icon="item_menu.icon"
              >
                <vmenu-item
                  v-for="(item_menu_second_level,
                  index) in item_menu.second_level"
                  v-if="permissionApplication(item_menu_second_level)"
                  :key="index"
                  :link="item_menu_second_level.url"
                  :icon="item_menu_second_level.icon"
                >
                  {{ item_menu_second_level.description }}
                </vmenu-item>
              </vsub-menu>
            </div>
          </div>
          <span v-else>
            <vmenu-item
              v-for="(itemMenu, index) in filteredListMenu"
              v-if="permissionApplication(itemMenu)"
              :key="index"
              :link="itemMenu.url"
              :icon="itemMenu.icon"
              :class="itemMenu.selected ? 'selected-item' : ''"
              >&nbsp;
              {{ itemMenu.description }}
            </vmenu-item>
          </span>
        </vmenu>
        <!-- / .navigation -->
      </div>
      <!-- menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import vmenu from "./menu/vueMenu";
import vmenuItem from "./menu/MenuItem";
import vsubMenu from "./menu/subMenu";
import profile from "../left-profile/user_profile.vue";

export default {
  name: "left-side",
  components: {
    vmenu,
    vsubMenu,
    vmenuItem,
    profile
  },
  data() {
    return {
      search_item: "",
      selected: 0
    };
  },
  async mounted() {
    await this.getMenu();

    let user = JSON.parse(localStorage.getItem("user"));

    if (user) {
      this.setSelectedMenuUser(user.module_id);
    }

    let filter_menu = document.getElementById("filter-menu");
    filter_menu.addEventListener(
      "keydown",
      e => {
        let key = e.key;

        if (this.search_item !== "" && this.search_item != null) {
          if (key === "ArrowUp") {
            this.decrementSelected();
          } else if (key === "ArrowDown") {
            this.incrementSelected();
          } else if (key !== "Enter") {
            this.selected = 0;
          }
        }
        return false;
      },
      false
    );
  },
  computed: {
    ...mapState("login", ["user_logued", "permissions"]),
    ...mapState("menu", ["menu", "left_menu"]),
    filteredListMenu() {
      if (this.search_item === "" || this.search_item == null) {
        return [];
      }
      let items = [];
      this.menu.map(m => {
        if (!!this.user_logued.modules.find(module => module.id === m.id)) {
          m.first_level.map(fl => {
            fl.second_level.map(sl => {
              if (
                sl.description
                  .normalize("NFD")
                  .replace(/[\u0300-\u036f]/g, "")
                  .toUpperCase()
                  .includes(
                    this.search_item
                      .normalize("NFD")
                      .replace(/[\u0300-\u036f]/g, "")
                      .toUpperCase()
                  )
              ) {
                sl.selected = items.length === this.selected;
                items.push(sl);
              }
            });
          });
        }
      });

      return items;
    }
  },
  methods: {
    ...mapActions("menu", ["getMenu"]),
    ...mapMutations("menu", ["setSelectedMenuUser"]),
    permissionApplication(item_menu) {
      return !!this.permissions.find(
        element =>
          !item_menu.permission_id ||
          (item_menu.permission_id && element.id === item_menu.permission_id)
      );
    },
    enterToSelectedCoincidence() {
      if (this.search_item !== "" && this.search_item != null) {
        let selected = this.filteredListMenu.find(flm => flm.selected);
        let currentRoute = this.$router.currentRoute.fullPath;
        if (selected) {
          if (currentRoute !== selected.url) {
            this.$router.push(selected.url);
          } else {
            this.$store.commit("left_menu", "close");
          }
        }
      }
    },
    incrementSelected() {
      if (this.selected <= this.filteredListMenu.length) {
        this.selected++;
      }
    },
    decrementSelected() {
      if (this.selected > 0) {
        this.selected--;
      }
    }
  }
};
</script>

<style>
.search-module-input {
  width: 90%;
  margin-left: 10px;
  padding: 5px 15px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.select-module-input {
  width: 90% !important;
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#barra-izq {
  animation-name: barraIzquierda;
  animation-duration: 4s;
  animation-delay: 8s;
}

@keyframes barraIzquierda {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.selected-item {
  border: 1px solid #fff;
}
</style>
