<template>
  <div>
    <preloader v-show="loader" mensaje="Cargando..."></preloader>
    <b2b-header></b2b-header>
    <div class="wrapper page-styling">
      <!-- <div class="page-styling"> -->
      <right_side_cart id="cart">
        <router-view></router-view>
      </right_side_cart>
      <!-- </div> -->
    </div>
    <b2b-footer></b2b-footer>
  </div>
</template>
<script>
import b2bHeader from "./layout/b2b-header.vue";
import b2bFooter from "./layout/b2b-footer.vue";
import right_side_cart from "./layout/right-side-cart.vue";
import preloader from "./../components/layout/preloader";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  name: "default-b2b",
  components: {
    b2bHeader,
    b2bFooter,
    preloader,
    right_side_cart,
  },
  data() {
    return {
      loader: true,
    };
  },
  created: function () {
    setTimeout(() => {
      this.loader = false;
    }, 2500);

    let user_b2b = JSON.parse(localStorage.getItem("user_b2b"));
    this.setUserLoguedB2b(user_b2b);

    // Consultar el carrito utilizando el contact_id de user_b2b
  },
  methods: {
    right_close() {
      this.$store.commit("rightside_cart", "close");
    },

    ...mapMutations("login", ["setUserLoguedB2b", "setUserLogued"]),
  },
  computed: {
    ...mapState("login", ["user_b2b", "user_logued"]),
  },
  mounted() {
    window.onscroll = function (event) {
      var top =
        (document.getElementById("menu") &&
          document.getElementById("menu").scrollTop) ||
        (document.body && document.body.scrollTop) ||
        0;
      if (top <= 56) {
        document.getElementById("right-cart").style.marginTop = -top + "px";
      } else {
        document.getElementById("right-cart").style.marginTop = -56 + "px";
      }
    };
  },
};
</script>

<style src="./layout/b2b-style.css"></style>
<style src="themify-icons/css/themify-icons.css"></style>
<style src="simple-line-icons/css/simple-line-icons.css"></style>
<!--style lang="scss" src="../assets/sass/dark/custom.scss"></style-->
<style lang="scss" src="../assets/sass/dark/right_side_car.scss"></style>
<!--<style lang="scss" src="../assets/sass/dark/custom_b2b.scss"></style>-->

<style src="./layout/responsive.css"></style>