<template>
  <div>
    <div style="margin-top:20px" v-if="content_loading">
      <loader></loader>
    </div>
    <div v-else>
      <form
        @submit.prevent="validateForm('form')"
        data-vv-scope="form"
        autocomplete="off"
      >
        <div class="form-body">
          <div class="row">
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="subscribers"
                v-bind:class="
                  errors.has('form.subscribers') ? 'form-group-error' : ''
                "
              >
                Suscriptores
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="subscribers"
                name="subscribers"
                multiple
                clearable
                filterable
                placeholder=" "
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.subscribers"
                @focus="fetchSubscribers()"
              >
                <el-option
                  v-for="item in subscribers"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.subscribers')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="subscriber_id"
                v-bind:class="
                  errors.has('form.subscriber_id') ? 'form-group-error' : ''
                "
              >
                Suscriptor por defecto
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="subscriber_id"
                name="subscriber_id"
                :disabled="!selectedUser.subscribers.length"
                clearable
                filterable
                placeholder=" "
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.subscriber_id"
                @focus="fetchSubscribersFiltered()"
              >
                <el-option
                  v-for="item in subscribers_filtered"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.subscriber_id')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="branchoffice_id"
                v-bind:class="
                  errors.has('form.branchoffice_id') ? 'form-group-error' : ''
                "
              >
                Sede por defecto
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="branchoffice_id"
                name="branchoffice_id"
                :disabled="
                  selectedUser.subscriber_id == null ||
                    selectedUser.subscriber_id == ''
                "
                clearable
                filterable
                placeholder=" "
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.branchoffice_id"
                @focus="fetchBranchOffices()"
              >
                <el-option
                  v-for="item in branchoffices"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.branchoffice_id')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="branchoffice_warehouse_id"
                v-bind:class="
                  errors.has('form.branchoffice_warehouse_id')
                    ? 'form-group-error'
                    : ''
                "
              >
                Bodega por defecto
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="branchoffice_warehouse_id"
                name="branchoffice_warehouse_id"
                :disabled="
                  selectedUser.branchoffice_id == null ||
                    selectedUser.branchoffice_id == ''
                "
                clearable
                filterable
                placeholder=" "
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.branchoffice_warehouse_id"
                @focus="fetchBranchOfficeWarehouses()"
              >
                <el-option
                  v-for="item in branchoffice_warehouses"
                  :key="item.id"
                  :label="item.warehouse_description"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.branchoffice_warehouse_id')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="modules"
                v-bind:class="
                  errors.has('form.modules') ? 'form-group-error' : ''
                "
              >
                Módulos
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="modules"
                name="modules"
                multiple
                clearable
                filterable
                placeholder=" "
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.modules"
                @focus="fetchModules()"
              >
                <el-option
                  v-for="item in modules"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.modules')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="module_id"
                v-bind:class="
                  errors.has('form.module_id') ? 'form-group-error' : ''
                "
              >
                Módulo por defecto
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="module_id"
                name="module_id"
                :disabled="!selectedUser.modules.length"
                clearable
                filterable
                placeholder=" "
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.module_id"
                @focus="fetchModulesFiltered()"
              >
                <el-option
                  v-for="item in modules_filtered"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.module_id')"
              />
            </div>
          </div>
          <div class="row">
            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="
                errors.has('form.deleted_at') ? 'form-group-error' : ''
              "
            >
              <label for="deleted_at">
                Tipo de usuario
              </label>
              <br />
              <b-form-radio-group
                id="type"
                buttons
                :options="[
                  { text: 'Empleado', value: 'e' },
                  { text: 'Cliente', value: 'c' },
                  { text: 'Proveedor', value: 'p' }
                ]"
                name="deleted_at"
                v-model="selectedUser.type"
                button-variant="outline-primary"
              />
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.type')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="roles"
                v-bind:class="
                  errors.has('form.roles') ? 'form-group-error' : ''
                "
              >
                Rol
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="roles"
                name="roles"
                clearable
                filterable
                placeholder=" "
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.role"
                @focus="fetchRoles()"
              >
                <el-option
                  v-for="item in roles"
                  :key="item.role"
                  :label="item.role"
                  :value="item.role"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.roles')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="contact_id"
                v-bind:class="
                  errors.has('form.contact_id') ? 'form-group-error' : ''
                "
              >
                Tercero
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="contact_id"
                name="contact_id"
                filterable
                remote
                placeholder=" "
                :disabled="!selectedUser.subscribers.length"
                v-validate="'required'"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.contact_id"
                :remote-method="searchContacts"
                :loading="loading"
              >
                <el-option
                  v-for="contact in contacts"
                  :key="contact.id"
                  :label="
                    contact.name +
                      ' ' +
                      (contact.surname == null ? '' : contact.surname)
                  "
                  :value="contact.id"
                >
                  {{ contact.name }}
                  {{ contact.surname == null ? "" : contact.surname }}
                  <small>( {{ contact.subscriber.name }} )</small>
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.contact_id')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="contact_warehouse_id"
                v-bind:class="
                  errors.has('form.contact_warehouse_id')
                    ? 'form-group-error'
                    : ''
                "
              >
                Sucursal
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="contact_warehouse_id"
                name="contact_warehouse_id"
                clearable
                filterable
                placeholder=" "
                v-validate="{ rules: { required: selectedUser.type != 'e' } }"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.contact_warehouse_id"
              >
                <el-option
                  v-for="item in contacts_warehouses"
                  :key="item.id"
                  :label="item.description"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.contact_warehouse_id')"
              />
            </div>
            <div class="form-group col-md-3 col-sm-4 col-12">
              <label
                for="clerk_id"
                v-bind:class="
                  errors.has('form.clerk_id') ? 'form-group-error' : ''
                "
              >
                Funcionario
                <span class="text-danger">*</span>
              </label>
              <el-select
                id="clerk_id"
                name="clerk_id"
                clearable
                filterable
                :disabled="disabledClerk"
                placeholder=" "
                v-validate="{ rules: { required: selectedUser.type != 'e' } }"
                data-vv-as=" "
                no-data-text="Cargando datos..."
                no-match-text="No hay datos que coincidan"
                v-model="selectedUser.clerk_id"
              >
                <el-option
                  v-for="item in clerks"
                  :key="item.id"
                  :label="item.name + ' ' + item.surname"
                  :value="item.id"
                >
                </el-option>
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.clerk_id')"
              />
            </div>

            <div
              class="form-group col-sm-4 col-md-3 col-12"
              v-bind:class="errors.has('form.name') ? 'form-group-error' : ''"
            >
              <label for="name">
                Nombres
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                id="name"
                name="name"
                disabled
                class="form-control"
                v-validate="'required'"
                data-vv-as=" "
                :readonly="action != 'create' || action == 'view'"
                v-model="selectedUser.name"
              />
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.name") }}
              </span>
            </div>
            <div
              class="form-group col-sm-4 col-md-3 col-12"
              v-bind:class="
                errors.has('form.surname') ? 'form-group-error' : ''
              "
            >
              <label for="surname">
                Apellidos
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                id="surname"
                name="surname"
                disabled
                class="form-control"
                v-validate="'required'"
                data-vv-as=" "
                :readonly="action != 'create' || action == 'view'"
                v-model="selectedUser.surname"
              />
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.name") }}
              </span>
            </div>
            <div
              class="form-group col-sm-4 col-md-3 col-12"
              v-bind:class="errors.has('form.text') ? 'form-group-error' : ''"
            >
              <label for="email">
                Email
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                id="email"
                name="email"
                disabled
                class="form-control"
                v-validate="'required'"
                data-vv-as=" "
                v-model="selectedUser.email"
              />
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.email") }}
              </span>
            </div>

            <!-- correo para envio de rc  -->
            <div
              class="form-group col-sm-4 col-md-3 col-12"
              v-bind:class="
                errors.has('form.email_cash_receipts_app')
                  ? 'form-group-error'
                  : ''
              "
            >
              <label for="email">
                Copia Email Recibo de Caja
                <span class="text-danger">*</span>
              </label>
              <el-select
                v-model="selectedUser.email_cash_receipts_app"
                multiple
                filterable
                allow-create
                 @change="validateEmails"
              >
              </el-select>
              <i class="text-danger icon-error"> </i>
              <span class="text-danger span-error">
                {{ errors.first("form.email_cash_receipts_app") }}
              </span>
            </div>

            <div
              class="form-group col-sm-6 col-md-3"
              v-bind:class="
                errors.has('form.deleted_at') ? 'form-group-error' : ''
              "
            >
              <label for="deleted_at">
                Estado
              </label>
              <br />
              <b-form-radio-group
                id="deleted_at"
                buttons
                :options="[
                  { text: 'Activo', value: 0 },
                  { text: 'Inactivo', value: 1 }
                ]"
                name="deleted_at"
                v-model="selectedUser.deleted_at"
                :button-variant="
                  selectedUser.deleted_at == 0
                    ? 'outline-primary'
                    : 'outline-secondary'
                "
              />
              <i class="text-danger icon-error"> </i>
              <span
                class="text-danger span-error"
                v-html="errors.first('form.deleted_at')"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="photo" class="control-label">Foto</label>
              <br />
              <div v-if="photo != '' && photo != null">
                <img :src="photo" :alt="selectedUser.photo" class="photo" />
                <br />
                <div class="upload-btn-wrapper">
                  <button
                    class="btn btn-secondary btn-sm btn-file"
                    v-if="action == 'update'"
                  >
                    Seleccionar imagen
                  </button>
                  <input
                    type="file"
                    ref="photo"
                    placeholder=" "
                    accept="image/jpeg, image/png, image/gif"
                    @change="changePhoto"
                    v-if="action == 'update'"
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    @click.prevent="deletePhoto"
                    v-if="action == 'update'"
                  >
                    <span class="btn-label"><i class="fa fa-trash"></i></span>
                    Eliminar
                  </button>
                </div>
              </div>
              <div v-else>
                <img
                  :src="api + '/storage/contacts/employees/default.jpg'"
                  alt="image-default-employee"
                  class="photo"
                />
                <br />
                <div class="upload-btn-wrapper">
                  <button
                    class="btn btn-secondary btn-sm btn-file"
                    v-if="action == 'update'"
                  >
                    Seleccionar imagen
                  </button>
                  <input
                    type="file"
                    ref="photo"
                    placeholder=" "
                    class="form-control"
                    accept="image/jpeg, image/png, image/gif"
                    @change="changePhoto"
                  />
                </div>
              </div>
            </div>

            <div class="form-group col-sm-6">
              <label for="photo" class="control-label">Firma</label>
              <br />
              <div v-if="signature != '' && signature != null">
                <img
                  :src="signature"
                  :alt="selectedUser.signature"
                  class="photo"
                />
                <br />
                <div class="upload-btn-wrapper">
                  <button class="btn btn-secondary btn-sm btn-file">
                    Seleccionar imagen
                  </button>
                  <input
                    type="file"
                    ref="signature"
                    placeholder=" "
                    accept="image/jpeg, image/png, image/gif"
                    @change="changeSignature"
                    v-if="action == 'update'"
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    @click.prevent="deleteSignature"
                  >
                    <span class="btn-label"><i class="fa fa-trash"></i></span>
                    Eliminar
                  </button>
                </div>
              </div>
              <div v-else>
                <br />
                <div class="upload-btn-wrapper">
                  <button class="btn btn-secondary btn-sm btn-file">
                    Seleccionar imagen
                  </button>
                  <input
                    type="file"
                    ref="signature"
                    placeholder=" "
                    class="form-control"
                    accept="image/jpeg, image/png, image/gif"
                    @change="changeSignature"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <b-button v-if="action != 'view'" type="submit" class="boton-guardar">
            <span class="btn-label">
              <i class="ti-save-alt"></i>
            </span>
            Guardar
          </b-button>
          <b-button
            to="/usuarios"
            type="button"
            variant="secondary"
            class="float-left"
            @click="clearSelectedUser"
          >
            <span class="btn-label">
              <i class="ti-arrow-left"></i>
            </span>
            Volver
          </b-button>
          <b-button
            v-if="action != 'view'"
            type="reset"
            value="Limpiar"
            class="otro-boton float-left"
            @click="clearSelectedUser"
          >
            <span class="btn-label">
              <i class="ti-eraser"></i>
            </span>
            Limpiar
          </b-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from "vuex";
import loader from "./../../components/layout/loader.vue";
import {getApiDomain} from "../../util/domains";

export default {
  name: "formUser",
  components: {
    loader
  },
  data() {
    return {
      photo: "",
      signature: "",
      content_loading: true,
      loading: false,
      api: getApiDomain()
    };
  },
  async created() {
    if (this.$route.params.id) {
      await this.initUpdate("update", this.$route.params.id);
    } else if (this.$route.params.idv) {
      await this.initUpdate("view", this.$route.params.idv);
    } else {
      this.setGetUser(true);
      this.setAction("create");
    }

    this.$store.watch(
      () => {
        return this.selectedUser.contact_id;
      },
      p => {
        if (p != undefined && p != "") {
          this.dataUserContact();
        }
      }
    );

    this.$store.watch(
      () => {
        return this.selectedUser.type;
      },
      p => {
        this.clearContactId();
        this.setContacts([]);
      }
    );

    this.$store.watch(
      () => {
        return this.selectedUser.clerk_id;
      },
      p => {
        if (p !== undefined && p !== "") {
          this.dataUserClerk(p);
        }
      }
    );

    this.$store.watch(
      () => {
        return this.selectedUser.photo;
      },
      p => {
        if (p !== undefined && p !== "") {
          this.photo = p;
        }
      }
    );

    this.content_loading = false;
  },
  methods: {
    async initUpdate(action, id) {
      this.setAction(action);
      this.setFindForId(true);
      this.setClearDataUser(false);
      await this.getUser(id);
      await this.fetchSubscribers();
      await this.fetchSubscribersFiltered();
      await this.fetchBranchOffices();
      await this.fetchBranchOfficeWarehouses();
      await this.fetchModules();
      await this.fetchModulesFiltered();
      await this.fetchGroupedContacts("");
      await this.dataUserContact();
      await this.searchContacts(this.selectedUser.contact.identification);
      await this.setClerks();
      await this.setContactsWarehouses();
      this.photo = this.selectedUser.photo;
      this.signature = this.selectedUser.signature;
      this.setFindForId(false);
      this.setClearDataUser(true);
    },
    async validateForm(scope) {
      await this.$validator.validateAll(scope).then(async result => {
        if (result) {
          if (this.action == "create") {
            await this.addUser();
            this.deleteSignature();
          } else if (this.action == "update") {
            await this.updateUser();
          }
        } else {
          this.$alert(
            "Algunos campos no se registraron correctamente",
            "Error",
            {
              confirmButtonText: "Aceptar",
              type: "error",
              customClass: "notification-error"
            }
          ).then(verifica => {});
        }
      });
    },
    async searchContacts(query) {
      if (query.length >= 3) {
        this.loading = true;
        await this.fetchGroupedContacts(query);
        this.loading = false;
      }
    },
    clearSelectedUser() {
      this.resetSelectedUser();
      this.$validator.reset();
      this.deletePhoto();
    },
    changePhoto(e) {
      let fileReader = new FileReader();
      fileReader.readAsDataURL(e.target.files[0]);
      fileReader.onload = e => {
        this.photo = e.target.result;
        this.photoChange(this.photo);
      };
    },
    deletePhoto() {
      this.photo = null;
    },

    changeSignature(e) {
      this.signature = URL.createObjectURL(e.target.files[0]);
      this.signatureChange(e.target.files[0]);
    },
    deleteSignature() {
      this.signature = null;
      this.selectedUser.signature = null;
    },
    ...mapActions("users", [
      "addUser",
      "fetchUsers",
      "getUser",
      "setAction",
      "fetchSubscribers",
      "fetchSubscribersFiltered",
      "fetchBranchOffices",
      "fetchBranchOfficeWarehouses",
      "fetchModules",
      "fetchModulesFiltered",
      "fetchGroupedContacts",
      "fetchClerks",
      "dataUserContact",
      "dataUserClerk",
      "setClerks",
      "updateUser",
      "fetchRoles",
      "setContactsWarehouses"
    ]),
    ...mapMutations("users", [
      "setAction",
      "resetSelectedUser",
      "setGetUser",
      "photoChange",
      "setContactId",
      "setClerkId",
      "clearContactId",
      "setContacts",
      "setFindForId",
      "setClearDataUser",
      "signatureChange"
    ]),


     validateEmails(emails) {
      this.selectedUser.email_cash_receipts_app = this.selectedUser.email_cash_receipts_app.filter(e => {
        return this.validateEmail(e);
      });
    },

     validateEmail(email) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
      }
      return false;
    },
  },
  computed: {
    isDisabled() {
      return this.action == "view";
    },
    ...mapState("users", [
      "action",
      "selectedUser",
      "error",
      "errorMessage",
      "subscribers_filtered",
      "subscribers",
      "branchoffices",
      "branchoffice_warehouses",
      "modules",
      "modules_filtered",
      "clerks",
      "grouped_contacts",
      "contacts",
      "disabledClerk",
      "contacts_warehouses",
      "roles"
    ])
  }
};
</script>

<style>
.el-input__inner {
  height: 31.25px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
}

.photo {
  max-width: 250px;
  max-height: 250px;
  border: 1px solid #cfcfcf;
  padding: 3px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.upload-btn-wrapper input[type="file"] {
  max-width: 141px;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
</style>
