<template>
    <card title="<i class='fa fa-user'></i> Usuarios">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-8 col-12">
                        <b-form-group label="Buscar:" class="mb-0">
                            <b-input-group>
                                <b-form-input v-model="params.filter" placeholder=""
                                              @keyup.native.enter="setFilterPagination"/>
                                <b-input-group-append>
                                    <b-btn @click.prevent="filtro(params.filter)" id="botones"><span
                                        class="ti-search"></span></b-btn>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </div>
                    <div class="col-md-8 col-sm-4 col-12">
                        <b-button to="/usuarios/crear" id="boton-nuevo"
                                  class="button button-rounded button-primary-flat hvr-shrink float-right">
                            Nuevo
                        </b-button>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="table-responsive">
                    <b-table striped hover show-empty
                             :items="users.data"
                             :fields="fields"
                             :no-local-sorting="true"
                             :sort-by.sync="sortBy"
                             :sort-desc.sync="sort"
                    >
                      <template v-slot:cell(fullname)="row">
                            {{row.item.name}} {{row.item.surname}}
                        </template>

                      <template v-slot:cell(state)="row">
                            <b-badge href="#" variant="success" v-if="row.item.deleted_at==null">
                                Activo
                            </b-badge>
                            <b-badge href="#" variant="danger" v-else>
                                Inactivo
                            </b-badge>
                        </template>

                      <template v-slot:cell(actions)="row">
                            <b-button size="sm" class="button-table mt-1" variant="secondary"
                                      :to="`/usuarios/${row.item.id}/ver`">
                                Ver
                            </b-button>
                            <b-button size="sm" class="button-table mt-1" variant="primary"
                                      :to="`/usuarios/${row.item.id}/editar`">
                                Editar
                            </b-button>

                        </template>
                    </b-table>
                </div>
                <p>
                    Mostrando {{users.from}} a {{users.to}} de {{users.total}} resultados
                </p>
                <b-row>
                    <b-col md="6" class="my-1 form-inline">
                        <label>Registros por página: &nbsp;</label>
                        <b-form-select :options="[5, 10, 15]" v-model="params.perPage"
                                       @change.native="setPerPagePagination"/>
                    </b-col>
                    <b-col md="6" class="my-1">
                        <b-pagination :total-rows="totalRows"
                                      :per-page="params.perPage"
                                      :current-page="params.page"
                                      v-model="params.page"
                                      class="my-0 float-right"
                                      @change="setPagePagination"
                        />
                    </b-col>
                </b-row>
            </div>
        </div>
    </card>
</template>

<script>
    import {mapActions, mapState, mapMutations, mapGetters} from 'vuex'
    import Card from '../../components/pages/card/card'

    export default {
        components: {
            Card
        },

        created() {
            this.sortBy = this.params.sortBy
            this.sort = this.params.sort == 'ASC' ? true : false
            this.fetchUsers()

            this.$store.watch(() => {
                return this.getParams.sort
            }, p => {
                this.fetchUsers()
            })

            this.$store.watch(() => {
                return this.getParams.sortBy
            }, p => {
                this.fetchUsers()
            })

            this.setGetUser(true)
            this.resetSelectedUser()
        },

        data() {
            return {
                fields: [
                    {
                        key: 'fullname',
                        label: 'Nombre Usuario',
                        sortable: true,
                        thStyle: {'min-width': '300px !important'}
                    },
                    {key: 'email', label: 'Email', sortable: true, thStyle: {'min-width': '300px !important'}},
                    {
                        key: 'state',
                        label: 'Estado',
                        thStyle: {'min-width': '80px !important'}
                    },
                    {
                        key: 'actions',
                        label: 'Opciones',
                        thStyle: {'min-width': '170px !important', width: '170px !important'}
                    }
                ],
                sortBy: 'username',
                sort: true
            }
        },

        methods: {
            ...mapActions('users', [
                'fetchUsers',
                'setFilterPagination',
                'setPerPagePagination',
                'setPagePagination',
                'setSortByPagination',
                'setSortPagination'
            ]),
            ...mapMutations('users', [
                'setAction',
                'setUser',
                'resetSelectedUser',
                'setPerPage',
                'setFilter',
                'setGetUser'
            ]),

            filtro(filtro) {
                this.setFilter(filtro)
                this.fetchUsers()
            },

            toCreate() {
                this.resetSelectedUser()
                this.setAction('create')
                this.$router.push('/usuarios/crear')
            },

            toView(user) {
                this.setUser(user)
                this.setAction('view')
                this.$router.push(`/usuarios/ver`)
            },
        },

        computed: {

            ...mapGetters('users', ['getParams']),
            ...mapState('users', ['users', 'selectedUser', 'action', 'params']),

            totalRows() {
                return this.users.total
            }
        },

        watch: {
            'sortBy'(newValue, oldValue) {
                this.setSortByPagination(newValue)
            },
            'sort'(newValue, oldValue) {
                this.setSortPagination(newValue ? 'ASC' : 'DESC')
            }
        }
    }
</script>

<!-- boton crear  -->
<style lang="sass">
    @import "../../assets/sass/buttons/buttons.scss"
</style>
