<template>
    <div>
        <div class="row" >
            <div class="col-md-12">
                <card :title="'<i class=\'fa fa-fw ti-pencil\'></i> ' +  labelPrinci + ' Usuario' ">
                    <form-user></form-user>
                </card>
            </div>
        </div>
    </div>
</template>

<script>

    import card from "../../components/pages/card/card.vue"
    import formUser from "./formUser.vue";
    import { mapState } from 'vuex'

    export default {
        components:{
            card,
            formUser,
        },
        computed: {
            labelPrinci() {
                if(this.action == "create") {
                    return "Crear"
                } else if(this.action == "update"){
                    return  "Editar"
                }else if(this.action == "view"){
                    return  "Detalle"
                }
            },
            ...mapState('users', ['action'])
        },
    }
</script>