<template>
  <div class="report-content">
    <form data-vv-scope="form" @submit.prevent="validateForm()">
      <b-card no-body class="mb-1" style="width: 98%">
        <b-btn
          block
          href="#"
          v-b-toggle.general_data
          id="acordeon"
          class="new-accordion accordion-title"
          @click="changeIcon"
          >Filtros Informe
          <span class="aling-left">
            <i v-bind:class="iconAcordion"></i>
          </span>
        </b-btn>
        <b-collapse v-bind:visible="true" id="general_data" role="tabpanel">
          <b-card-body class="banner-new">
            <div class="row">
              <div class="col-3">
                <label for="year_month_from">Año Mes desde</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-date-picker
                  v-model="params.year_month_from"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-3">
                <label for="year_month_up">Año Mes Hasta</label
                ><span class="text-danger">*</span> &nbsp;<br />
                <el-date-picker
                  v-model="params.year_month_up"
                  type="month"
                  placeholder="Seleccione un Mes"
                  value-format="yyyyMM"
                  format="yyyyMM"
                  class="min-size"
                >
                </el-date-picker>
              </div>
              <div class="col-2">
                <label for="account_from">Cuenta Desde</label>
                <el-button
                  id="accountFrom"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountFrom"
                ></el-button>
                <br />
                <b-badge
                  v-if="params.description_account_from != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_from)"
                ></b-badge>
                <el-button
                  v-if="params.view_delete_from"
                  id="accountFrom"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountFrom"
                ></el-button>

                <ModalAccount
                  @selectedAccount="_selectedAccountFrom"
                  :scrollable="true"
                  :modal_id="accountFrom"
                />
              </div>
              <div class="col-2">
                <label for="account_up">Cuenta Hasta</label>
                <el-button
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-plus"
                  circle
                  @click="openModalAccountUp"
                >
                </el-button>
                <br />
                <b-badge
                  v-if="params.description_account_up != null"
                  variant="primary"
                  v-text="printInBadgeAccount(params.description_account_up)"
                ></b-badge>
                <el-button
                  v-if="params.view_delete_up"
                  id="accountUp"
                  size="mini"
                  class="mt-2"
                  icon="fa fa-times"
                  circle
                  @click="clearAccountUp"
                ></el-button>
                <ModalAccount
                  @selectedAccount="_selectedAccountUp"
                  :scrollable="true"
                  :modal_id="accountUp"
                />
              </div>
              <div class="col-2 inline">
                <span for="filter_text">Palabra</span>&nbsp;
                <el-input
                  v-model="params.filter_text"
                  placeholder="Busqueda Palabra"
                  @keyup.native="validateForm"
                  style="text-transform: uppercase"
                  class="min-input"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12 mb-2" style="text-align: center">
                <b-button
                  v-b-toggle.general_data
                  type="submit"
                  class="mt-4"
                  variant="primary"
                >
                  <span class="btn-label">
                    <i class="ti-search min-height"></i>
                  </span>
                  Listar
                </b-button>
              </div>
            </div>
          </b-card-body>
        </b-collapse>
      </b-card>
    </form>
    <Preloader v-if="loading.module" />
    <ag-grid-vue
      :style="style_auxiliary_book"
      :class="ag_grid.selectedTheme"
      id="myGrid"
      :gridOptions="gridOptions"
      :rowData="auxiliary_book"
      :columnDefs="columnDefs"
      :defaultColDef="defaultColDef"
      :autoGroupColumnDef="autoGroupColumnDef"
      :columnTypes="columnTypes"
      :groupDefaultExpanded="groupDefaultExpanded"
      :pinnedTopRowData="pinnedTopRowData"
      :frameworkComponents="frameworkComponents"
      :pinnedBottomRowData="pinnedBottomRowData"
      :enableCharts="true"
      :getRowStyle="getRowStyle"
      :enableRangeSelection="true"
      :statusBar="statusBar"
      :animateRows="true"
      :sideBar="sideBar"
      :modules="modules"
      :rowSelection="rowSelection"
      :groupSelectsChildren="true"
      :suppressRowClickSelection="true"
      :suppressAggFuncInHeader="true"
      @filterChanged="filterChanged"
    ></ag-grid-vue>
  </div>
</template>
<style>
body {
  font-size: 15px !important;
}
</style>
<script>
import { AgGridVue } from "@ag-grid-community/vue";
// import "ag-grid-enterprise";
import moment from "moment";
import { AllModules } from "@ag-grid-enterprise/all-modules";
import { mapActions, mapState, mapMutations, mapGetters } from "vuex";
// import totalRowComponent from "../../components/totalRowComponent.vue";
import totalRowComponent from "../../../src/reports-aggrid/components/totalRowComponent.vue";
import Card from "../../components/pages/card/card";
import { MessageBox } from "element-ui";
import Preloader from "../../components/layout/preloader";
import ModalAccount from "../../components/accounts/modal-account";

export default {
  props:{
    style_auxiliary_book: {required:false , default :'width: 100%; height: 98%'}
  },
  data() {
    return {
      iconAcordion: "ti-angle-down",
      accountFrom: "modal-account-from",
      accountUp: "modal-account-up",
      columnDefs: [],
      gridOptions: null,
      gridApi: null,
      statusBar: null,
      defaultColDef: null,
      rowGroupPanelShow: null,
      groupDefaultExpanded: null,
      autoGroupColumnDef: null,
      selectedTheme: "ag-theme-balham",
      frameworkComponents: null,
      pinnedBottomRowData: null,
      pinnedTopRowData: null,
      getRowStyle: null,
      rowSelection: null,
      themes: [
        { theme: "ag-theme-alpine", label: "Alpine" },
        { theme: "ag-theme-dark", label: "Dark" },
        { theme: "ag-theme-balham", label: "Balham" },
        { theme: "ag-theme-balham-dark", label: "Balham dark" },
        { theme: "ag-theme-material", label: "Material" },
      ],
      optionsThemes: [
        { value: "ag-theme-alpine", label: "Alpine" },
        { value: "ag-theme-dark", label: "Dark" },
        { value: "ag-theme-balham", label: "Balham" },
        { value: "ag-theme-balham-dark", label: "Balham dark" },
        // { value: "ag-theme-material", label: "Material" },
      ],
      sideBar: {
        toolPanels: [
          {
            id: "columns",
            labelDefault: "Columnas",
            labelKey: "columns",
            iconKey: "columns",
            toolPanel: "agColumnsToolPanel",
          },
          {
            id: "filters",
            labelDefault: "Filtros",
            labelKey: "filters",
            iconKey: "filter",
            toolPanel: "agFiltersToolPanel",
          },
        ],
        //defaultToolPanel: "filters",
        hiddenByDefault: false,
      },
      gridColumnApi: null,
      columnTypes: null,
      modules: AllModules,
    };
  },
  watch: {
    "params.contact_id"(newval) {
      this.params_contact_warehouse.contact_id = newval;
      this.fetchContactWarehouses();
    },
    "params.branchoffice_id"(newval) {
      if (newval != null) {
        this.paramsVoucherType.branchoffice = newval;
      }
    },
  },
  components: {
    AgGridVue,
    Card,
    Preloader,
    ModalAccount,
  },
  async beforeMount() {
    this.gridOptions = {};

    this.autoGroupColumnDef = { minWidth: 450 };

    this.columnDefs = [
      {
        field: "account.code",
        headerName: "Codigo Cuenta",
        cellClass: "yes-bold-soft",
        cellRenderer: "agGroupCellRenderer",
        cellRendererParams: { checkbox: true },
      },
      {
        field: "account.name",
        headerName: "Descripcion Cuenta",
        cellClass: "yes-bold-soft",
        valueGetter: params => {
                    return params.data.account?params.data.account.code+"-"+params.data.account.name:"";               
            },
      },
      {
        field: "contact.identification",
        headerName: "Nit/Cedula",
        cellClass: "yes-bold-soft",
      },
      {
        valueGetter: this.getContactName,
        headerName: "Nombre Tercero",
        cellClass: "yes-bold-soft",
      },
      {
        field: "document_date",
        headerName: "Fecha",
        cellClass: "yes-bold-soft",
      },
      {
        field: "document.branchoffice.name",
        headerName: "Sede",
        cellClass: "yes-bold-soft",
      },
      {
        field: "vouchertype.name_voucher_type",
        headerName: "Tipo Comprobante",
        cellClass: "yes-bold-soft",
      },
      {
        field: "document.consecutive",
        headerName: "Comprobante",
        cellClass: "yes-bold-soft",
      },
      {
        field: "crossing_consecutive",
        headerName: "Documento",
        cellClass: "yes-bold-soft",
      },
      {
        field: "bank_document_number",
        headerName: "Documento Bancario",
        cellClass: "yes-bold-soft",
        hide: true,
      },
      {
        field: "detail",
        headerName: "Detalle",
        cellClass: "yes-bold-soft",
      },
      {
        // valueGetter: this.getDebitValue,
        field: "debits",
        valueFormatter: this.currencyFormatter,
        headerName: "Debitos",
        filter: "agNumberColumnFilter",
        cellClass: "yes-bold-soft aling-left-text"
      },
      {
        // valueGetter: this.getCreditValue,
        field: "credits",
        valueFormatter: this.currencyFormatter,
        headerName: "Creditos",
        filter: "agNumberColumnFilter",
        cellClass: "yes-bold-soft aling-left-text"
      },
      {
        field: "base_value",
        headerName: "Base",
        filter: "agNumberColumnFilter",
        cellClass: "yes-bold-soft aling-left-text",
        hide: true
      },
      {
        valueFormatter: this.currencyFormatter,
        field: "balance",
        headerName: "Saldo",
        filter: "agNumberColumnFilter",
        cellClass: (params) => {
          return this.validateFinalBalance(params) == 0
            ? "yes-bold-soft aling-left-text"
            : this.validateFinalBalance(params) == 1 
            ? "yes-bold-soft aling-left-text bad-score"
            :this.validateFinalBalance(params) == 2 
            ? "yes-bold-soft aling-left-text good-score"
            :this.validateFinalBalance(params) == 3 
            ? "yes-bold-soft aling-left-text good-score"
            :this.validateFinalBalance(params) == 4 
            ? "yes-bold-soft aling-left-text bad-score" 
            : "yes-bold-soft";
        },
        
      },
    ];

    this.getRowStyle = (params) => {
      if (params.node.rowPinned) {
        return {
          color: "#3d3d3d",
          "font-size": "15px",
          "font-weight": "bold",
          background: "#c1c1c1",
          "border-top": "1px solid #fff",
        };
      }
    };

    this.defaultColDef = {
      minWidth: 120,
      enableValue: true,
      enableRowGroup: true,
      sortable: true,
      filter: true,
      floatingFilter: true,
      resizable: true,
    };

    this.rowSelection = "multiple";

    this.statusBar = {
      statusPanels: [
        {
          statusPanel: "agTotalAndFilteredRowCountComponent",
          align: "left",
        },
        {
          statusPanel: "agTotalRowCountComponent",
          align: "center",
        },
        { statusPanel: "agFilteredRowCountComponent" },
        { statusPanel: "agSelectedRowCountComponent" },
        { statusPanel: "agAggregationComponent" },
      ],
    };

    this.groupDefaultExpanded = 0;
    this.rowGroupPanelShow = "always";

    // this.gridApi.openToolPanel("columns");
    this.pinnedBottomRowData = this.createData();

    this.frameworkComponents = {
      customPinnedRowRenderer: totalRowComponent,
    };
  },
  mounted() {
    this.gridApi = this.gridOptions.api;
    this.gridColumnApi = this.gridOptions.columnApi;
  },
  computed: {
    ...mapState("auxiliarybook", [
      "auxiliary_book",
      "ag_grid",
      "loading",
      "params",
      "branchOffices",
      "accounts_from",
      "accounts_up",
      "params_accounts_from",
      "params_accounts_up",
      "params_cotact",
      "contacts",
      "paramsVoucherType",
      "voucherTypes",
      "contact_warehouses",
      "params_contact_warehouse",
    ]),
  },
  created() {
    this.init();
  },
  methods: {
    ...mapActions("auxiliarybook", [
      "fetchBranchOffices",
      "fetchAccountsFrom",
      "fetchAccountsUp",
      "fetchContacts",
      "fetchVouchertype",
      "fetchContactWarehouses",
      "fetchAuxiliaryBook",
    ]),
    filterChanged(params) {
      let result = {
        balance: 0,
        debits: 0,
        credits: 0,
      };

      params.api.forEachNodeAfterFilter(i => {
        result.balance += (Number(i.data.balance) || 0);
        result.debits += (Number(i.data.debits) || 0);
        result.credits +=(Number(i.data.credits) || 0);
      })

      this.pinnedBottomRowData = [result];
    },
    async maxReport(){
          await localStorage.setItem(
            "params_trial_balance",
            JSON.stringify(this.params)
          );
          window.open("/#/reportes/libro-auxiliar", "_blank");
          this.$router.go(-1)
        },
    validateFinalBalance(params){
      let res = "";
      if(params.data.account){
        if(params.data.balance == 0){
          res = 0; //yes-bold-soft aling-left-text
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 1){
          res = 1;//yes-bold-soft aling-left-text bad-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 1){
          res = 2;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance < 0 && params.data.account.debit_credit == 2){
          res = 3;//yes-bold-soft aling-left-text good-score
        }else if(params.data.balance > 0 && params.data.account.debit_credit == 2){
          res = 4;//yes-bold-soft aling-left-text bad-score
        }

      }else{
        res = 0;
      }
      
      return res;
    },
    clearAccountFrom(){
      this.params.account_from = "";
      this.params.description_account_from = "";
      this.params.view_delete_from = null;
    },
    clearAccountUp(){
      this.params.account_up = "";
      this.params.description_account_up = "";
      this.params.view_delete_up = null;

    },
    onBtExport() {
      var params = {
        fileName: "Libro-auxiliar.xlsx",
      };
      this.gridApi.exportDataAsExcel(params);
    },
    onBtCsv() {
      var params = {
        fileName: "Libro-auxiliar.csv",
      };
      this.gridApi.exportDataAsCsv(params);
    },
    createData() {
      let result = [
        {
          balance: 0,
          debits: 0,
          credits: 0,
        },
      ];

      this.auxiliary_book.map(i => {
        result[0].balance += i.balance?(Number(i.balance) || 0):0;
        result[0].debits += i.debits?(Number(i.debits) || 0):0;
        result[0].credits +=i.credits?(Number(i.credits) || 0):0;
      })

      return result;
    },
    getContactName(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.contact) {
        return `${params.data.contact.name} ${
          params.data.contact.surname || ""
        } `;
      } else {
        return "";
      }
    },
    getDebitValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "D") {
        return `${params.data.operation_value}`;
      }
    },
    getCreditValue(params) {
      if (params.data == undefined) {
        return "";
      }
      if (params.data.transactions_type == "C") {
        return `${params.data.operation_value}`;
      }
    },
    currencyFormatter(params) {
      if (params.value !== "undefined" && params.value !== undefined) {
        return this.formatNumber(params.value);
      }

      return "";
    },
    formatNumber(number) {
      return this.$options.filters.currency(number, {
                                                symbol: "",
                                                thousandsSeparator: ",",
                                                fractionCount: 2,
                                                fractionSeparator: ".",
                                                symbolPosition: "front",
                                                symbolSpacing: false
                                              })
    },
    fetchContactWarehouses_(text) {
      this.params_contact_warehouse.filter = text;
      this.fetchContactWarehouses();
    },
    openModalAccountFrom() {
      this.$root.$emit("bv::show::modal", this.accountFrom, "#btnShow");
    },
    openModalAccountUp() {
      this.$root.$emit("bv::show::modal", this.accountUp, "#btnShow");
    },
    _selectedAccountFrom(account) {
      this.params.account_from = account.code;
      this.params.description_account_from =
        account.code + " - " + account.name;
      this.params.view_delete_from = 1,
      this.$root.$emit("bv::hide::modal", this.accountFrom, "#btnShow");
    },
    _selectedAccountUp(account) {
      this.params.account_up = account.code;
      this.params.description_account_up = account.code + " - " + account.name;
      this.params.view_delete_up = 1,
      this.$root.$emit("bv::hide::modal", this.accountUp, "#btnShow");
    },

    fetchAccountsFrom_(text) {
      this.params_accounts_from.filter = text;
      this.fetchAccountsFrom();
    },
    fetchAccountsUp_(text) {
      this.params_accounts_up.filter = text;
      this.fetchAccountsUp();
    },
    async fetchContact(filter) {
      this.params_cotact.query = filter;
      await this.fetchContacts();
    },
    async validateForm() {
      if (
        this.params.year_month_from == null ||
        this.params.year_month_up == null
      ) {
        this.$notify({
          title: "Atención",
          message: "Debe Llenar los Campos Obligatorios",
          type: "warning",
        });
        return false;
      }

      this.loading.module = true;
      await this.fetchAuxiliaryBook();
      await localStorage.setItem(
        "params_auxiliary_book",
        JSON.stringify(this.params)
      );
      this.pinnedBottomRowData = this.createData();
      
      //window.open("/#/reportes/libro-auxiliar", "_blank");
    },
    async init() {
      await this.fetchBranchOffices();
      await this.fetchAccountsFrom();
      await this.fetchAccountsUp();
      await this.fetchContacts();
      await this.fetchContactWarehouses();
      this.params.branchoffice_id =
        this.params.branchoffice_id != null
          ? this.params.branchoffice_id
          : Number(localStorage.selected_branchoffice);
      this.paramsVoucherType.branchoffice = this.params.branchoffice_id;
      await this.fetchVouchertype();
      await this.setDefaultYearMonth();
      this.loading.module = false;
    },
    async setDefaultYearMonth() {
      var d = new Date();
      this.params.year_month_from = await this.formatDate(this.restarMes(d));
      this.params.year_month_up = this.params.year_month_from;
    },
    restarMes(fecha) {
      fecha.setDate(fecha.getDate() - 30);
      return fecha;
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month].join("");
    },
    printInBadgeAccount(text) {
      if (text.length > 40) {
        return text.substr(0, 40) + "...";
      }
      return text;
    },
    changeIcon() {
      if (this.iconAcordion == "ti-angle-up") {
        this.iconAcordion = "ti-angle-down";
      } else {
        this.iconAcordion = "ti-angle-up";
      }
    },
  },
};
</script>
