<template>
  <div>
    <!-- FILTROS -->
    <div class="row">
      <div class="col-md-3">
        <b-form-group>
          <label for="search" v-text="'Buscar'" />
          <b-input-group class="mb-3">
            <b-form-input
              id="search"
              v-model="caseTable.params.filter"
              @keyup.enter="searchData"
            />
            <b-input-group-append>
              <b-button
                size="sm"
                text="Button"
                variant="primary"
                class="ti-search"
                @click="searchData"
              />
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>

      <div class="col-md-9">
        <b-button
          to="/casos/crear"
          id="boton-nuevo"
          class="btn button button-rounded button-primary-flat hvr-shrink float-right"
        >
          Nuevo
        </b-button>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6 col-md-3" v-if="isUserU2">
        <label for="company_id">
          Cliente
        </label>
        <el-select
          id="company_id"
          size="small"
          filterable
          clearable
          placeholder
          v-model="caseTable.params.company_id"
        >
          <el-option
            v-for="item in companies"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          ></el-option>
        </el-select>
      </div>

      <div class="form-group col-sm-6 col-md-3" v-if="isUserU2">
        <label for="responsibles">
          Responsable
        </label>
        <el-select
          id="responsibles"
          size="small"
          filterable
          clearable
          placeholder
          v-model="caseTable.params.responsiblesIds"
          multiple
        >
          <el-option
            v-for="item in filterResponsibles"
            :key="item.id"
            :label="`${item.name} ${item.surname}`"
            :value="item.id"
          ></el-option>
        </el-select>
      </div>

      <div class="form-group col-sm-6 col-md-3">
        <label for="state_id">
          Estados
        </label>
        <el-select
          id="state_id"
          size="small"
          filterable
          clearable
          placeholder
          v-model="caseTable.params.state_id"
        >
          <el-option
            v-for="item in caseStates"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
    </div>

    <div class="row">
      <div class="col-12 table-responsive m-0 p-0">
        <grid-u2 :columns="caseTableColumns" :items="caseTable.data">
          <!-- ACCIONES -->
          <template slot="actions" slot-scope="row">
            <div class="text-center">
              <b-button
                size="sm"
                class="button-table mt-1"
                variant="secondary"
                :to="`/casos/${row.item.id}/ver`"
                v-text="'Ver'"
              />
              <b-button
                variant="primary"
                size="sm"
                class="mt-1"
                :to="`/casos/${row.item.id}`"
                v-text="'Interactuar'"
              />
              <!-- <b-button
                size="sm"
                variant="danger"
                class="mt-1 button-table"
                @click="questionDelete(row.item, row)"
                v-text="'Eliminar'"
              /> -->
            </div>
          </template>

          <template slot="user" slot-scope="row">
            <div class="text-center">
              {{ row.item.user.name }} {{ row.item.user.surname || "" }}
            </div>
          </template>

          <template slot="priority" slot-scope="row">
            <div class="text-center">
              <priority-tag :priority="row.item.priority" />
            </div>
          </template>

          <template slot="created_at" slot-scope="row">
            <div class="text-center">
              {{ dateCreated(row.item.created_at) }}
            </div>
          </template>

          <template slot="state" slot-scope="row">
            <div class="text-center">
              <state-tag :state="row.item.state" />
            </div>
          </template>

          <template slot="user" slot-scope="row">
            {{ row.item.user.name }} {{ row.item.user.surname || "" }}
          </template>

          <template slot="company" slot-scope="row">
            {{ row.item.company.name }} / {{ row.item.area.name }}
          </template>

          <template slot="responsibles" slot-scope="row">
            <div
              v-for="(item, index) in row.item.company.responsibles"
              :key="index"
            >
              <h5>
                <b-badge class="badge-responsible" variant="light">
                  {{ textCapitalize(item.name) }}
                  {{ textCapitalize(item.surname) || "" }}
                </b-badge>
              </h5>
            </div>
          </template>

          <!-- MENSAJE CUANDO NO HAY REGISTRO -->
        </grid-u2>
      </div>
    </div>

    <div class="row" v-if="caseTable.pagination">
      <div class="col-md-12">
        <div class="table-information">
          <div class="row">
            <div class="col-12">
              <p>
                Mostrando {{ caseTable.pagination.from }} a
                {{ caseTable.pagination.to }} de
                {{ caseTable.pagination.total }} resultados
              </p>
            </div>

            <div class="col-6 my-1 form-inline">
              <label>Registros por página: &nbsp;</label>
              <b-form-select
                v-model="caseTable.params.perPage"
                @change="searchData()"
                :options="[5, 30, 100]"
              />
            </div>

            <div class="col-6">
              <b-pagination
                align="right"
                v-model="caseTable.params.page"
                :total-rows="caseTable.pagination.total"
                :per-page="caseTable.pagination.per_page"
                aria-controls="my-table"
                @change="searchData()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import GridU2 from "../../../../components/u2/grid.vue";
import PriorityTag from "../tags/PriorityTag.vue";
import StateTag from "../tags/StateTag.vue";
import moment from "moment";

export default {
  components: {
    GridU2,
    PriorityTag,
    StateTag
  },
  methods: {
    ...mapActions("cases", ["fetchCases", "fetchCompanies", "fetchCaseStates"]),
    searchData() {
      this.fetchCases();
    },
    dateCreated(date) {
      if (moment(date).isValid()) {
        return moment(date).format("l LT");
      }

      return "";
    },
    textCapitalize(str, lower = true) {
      return (lower ? str.toLowerCase() : str).replace(
        /(?:^|\s|["'([{])+\S/g,
        match => match.toUpperCase()
      );
    }
  },
  computed: {
    ...mapState("cases", ["caseTable", "companies", "caseStates"]),
    ...mapGetters("login", ["user", "isUserU2"]),
    caseTableColumns() {
      if (this.isUserU2) {
        return this.caseTable.columns;
      }

      return this.caseTable.columns.filter(c => !c.private);
    },
    filterResponsibles() {
      const company = this.companies.find(
        c => c.id === this.caseTable.params.company_id
      );

      if (company) {
        return company.responsibles;
      }

      let arrUser = [];

      this.companies
        .filter(c => !!c.responsibles.length)
        .forEach(c => {
          arrUser.push(...c.responsibles);
        });

      return arrUser;
    }
  },
  created() {
    this.fetchCases();
    this.fetchCaseStates();
    this.fetchCompanies();
  }
};
</script>
